{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-27",
    "asyncClient" : "AWSResourceGroupsAsyncClient",
    "asyncClientBuilderClassName" : "AWSResourceGroupsAsyncClientBuilder",
    "asyncInterface" : "AWSResourceGroupsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSResourceGroupsModuleInjector",
    "defaultEndpoint" : "resource-groups.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "resource-groups.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Resource Groups</fullname> <p>AWS Resource Groups lets you organize AWS resources such as Amazon EC2 instances, Amazon Relational Database Service databases, and Amazon S3 buckets into groups using criteria that you define as tags. A resource group is a collection of resources that match the resource types specified in a query, and share one or more tags or portions of tags. You can create a group of resources based on their roles in your cloud infrastructure, lifecycle stages, regions, application layers, or virtually any criteria. Resource groups enable you to automate management tasks, such as those in AWS Systems Manager Automation documents, on tag-related resources in AWS Systems Manager. Groups of tagged resources also let you quickly view a custom console in AWS Systems Manager that shows AWS Config compliance and other monitoring data about member resources.</p> <p>To create a resource group, build a resource query, and specify tags that identify the criteria that members of the group have in common. Tags are key-value pairs.</p> <p>For more information about Resource Groups, see the <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/welcome.html\">AWS Resource Groups User Guide</a>.</p> <p>AWS Resource Groups uses a REST-compliant API that you can use to perform the following types of operations.</p> <ul> <li> <p>Create, Read, Update, and Delete (CRUD) operations on resource groups and resource query entities</p> </li> <li> <p>Applying, editing, and removing tags from resource groups</p> </li> <li> <p>Resolving resource group member ARNs so they can be returned as search results</p> </li> <li> <p>Getting data about resources that are members of a group</p> </li> <li> <p>Searching AWS resources based on a resource query</p> </li> </ul>",
    "endpointPrefix" : "resource-groups",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.resourcegroups",
    "packagePath" : "com/amazonaws/services/resourcegroups",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Resource Groups",
    "serviceFullName" : "AWS Resource Groups",
    "serviceName" : "Resource Groups",
    "signingName" : "resource-groups",
    "smokeTestsPackageName" : "com.amazonaws.services.resourcegroups.smoketests",
    "syncClient" : "AWSResourceGroupsClient",
    "syncClientBuilderClassName" : "AWSResourceGroupsClientBuilder",
    "syncInterface" : "AWSResourceGroups",
    "uid" : "resource-groups-2017-11-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupRequest, CreateGroupResult>",
      "asyncReturnType" : "CreateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a group with a specified name, description, and resource query.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateGroupRequest",
        "variableName" : "createGroupRequest",
        "variableType" : "CreateGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateGroupRequest",
        "variableSetterType" : "CreateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroup",
      "operationName" : "CreateGroup",
      "returnType" : {
        "returnType" : "CreateGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGroupResult"
    },
    "DeleteGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGroupRequest, DeleteGroupResult>",
      "asyncReturnType" : "DeleteGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specified resource group. Deleting a resource group does not delete resources that are members of the group; it only deletes the group structure.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more resources specified in the request do not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteGroupRequest",
        "variableName" : "deleteGroupRequest",
        "variableType" : "DeleteGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteGroupRequest",
        "variableSetterType" : "DeleteGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGroup",
      "operationName" : "DeleteGroup",
      "returnType" : {
        "returnType" : "DeleteGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGroupResult"
    },
    "GetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupRequest, GetGroupResult>",
      "asyncReturnType" : "GetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specified resource group.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more resources specified in the request do not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetGroupRequest",
        "variableName" : "getGroupRequest",
        "variableType" : "GetGroupRequest",
        "documentation" : "",
        "simpleType" : "GetGroupRequest",
        "variableSetterType" : "GetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroup",
      "operationName" : "GetGroup",
      "returnType" : {
        "returnType" : "GetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGroupResult"
    },
    "GetGroupQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupQueryRequest, GetGroupQueryResult>",
      "asyncReturnType" : "GetGroupQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the resource query associated with the specified resource group.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more resources specified in the request do not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetGroupQueryRequest",
        "variableName" : "getGroupQueryRequest",
        "variableType" : "GetGroupQueryRequest",
        "documentation" : "",
        "simpleType" : "GetGroupQueryRequest",
        "variableSetterType" : "GetGroupQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroupQuery",
      "operationName" : "GetGroupQuery",
      "returnType" : {
        "returnType" : "GetGroupQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGroupQueryResult"
    },
    "GetTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTagsRequest, GetTagsResult>",
      "asyncReturnType" : "GetTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags that are associated with a resource, specified by an ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more resources specified in the request do not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetTagsRequest",
        "variableName" : "getTagsRequest",
        "variableType" : "GetTagsRequest",
        "documentation" : "",
        "simpleType" : "GetTagsRequest",
        "variableSetterType" : "GetTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTags",
      "operationName" : "GetTags",
      "returnType" : {
        "returnType" : "GetTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTagsResult"
    },
    "ListGroupResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupResourcesRequest, ListGroupResourcesResult>",
      "asyncReturnType" : "ListGroupResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of ARNs of resources that are members of a specified resource group.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The request has not been applied because it lacks valid authentication credentials for the target resource.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more resources specified in the request do not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListGroupResourcesRequest",
        "variableName" : "listGroupResourcesRequest",
        "variableType" : "ListGroupResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListGroupResourcesRequest",
        "variableSetterType" : "ListGroupResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroupResources",
      "operationName" : "ListGroupResources",
      "returnType" : {
        "returnType" : "ListGroupResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupResourcesResult"
    },
    "ListGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupsRequest, ListGroupsResult>",
      "asyncReturnType" : "ListGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of existing resource groups in your account.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListGroupsRequest",
        "variableName" : "listGroupsRequest",
        "variableType" : "ListGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListGroupsRequest",
        "variableSetterType" : "ListGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroups",
      "operationName" : "ListGroups",
      "returnType" : {
        "returnType" : "ListGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupsResult"
    },
    "SearchResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchResourcesRequest, SearchResourcesResult>",
      "asyncReturnType" : "SearchResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of AWS resource identifiers that matches a specified query. The query uses the same format as a resource query in a CreateGroup or UpdateGroupQuery operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The request has not been applied because it lacks valid authentication credentials for the target resource.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchResourcesRequest",
        "variableName" : "searchResourcesRequest",
        "variableType" : "SearchResourcesRequest",
        "documentation" : "",
        "simpleType" : "SearchResourcesRequest",
        "variableSetterType" : "SearchResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchResources",
      "operationName" : "SearchResources",
      "returnType" : {
        "returnType" : "SearchResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchResourcesResult"
    },
    "Tag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagRequest, TagResult>",
      "asyncReturnType" : "TagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds specified tags to a resource with the specified ARN. Existing tags on a resource are not changed if they are not specified in the request parameters.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more resources specified in the request do not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TagRequest",
        "variableName" : "tagRequest",
        "variableType" : "TagRequest",
        "documentation" : "",
        "simpleType" : "TagRequest",
        "variableSetterType" : "TagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tag",
      "operationName" : "Tag",
      "returnType" : {
        "returnType" : "TagResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResult"
    },
    "Untag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagRequest, UntagResult>",
      "asyncReturnType" : "UntagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes specified tags from a specified resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more resources specified in the request do not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UntagRequest",
        "variableName" : "untagRequest",
        "variableType" : "UntagRequest",
        "documentation" : "",
        "simpleType" : "UntagRequest",
        "variableSetterType" : "UntagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untag",
      "operationName" : "Untag",
      "returnType" : {
        "returnType" : "UntagResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResult"
    },
    "UpdateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGroupRequest, UpdateGroupResult>",
      "asyncReturnType" : "UpdateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing group with a new or changed description. You cannot update the name of a resource group.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more resources specified in the request do not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateGroupRequest",
        "variableName" : "updateGroupRequest",
        "variableType" : "UpdateGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateGroupRequest",
        "variableSetterType" : "UpdateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGroup",
      "operationName" : "UpdateGroup",
      "returnType" : {
        "returnType" : "UpdateGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGroupResult"
    },
    "UpdateGroupQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGroupQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGroupQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGroupQueryRequest, UpdateGroupQueryResult>",
      "asyncReturnType" : "UpdateGroupQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the resource query of a group.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The caller is not authorized to make the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more resources specified in the request do not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MethodNotAllowedException",
        "documentation" : "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The caller has exceeded throttling limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateGroupQueryRequest",
        "variableName" : "updateGroupQueryRequest",
        "variableType" : "UpdateGroupQueryRequest",
        "documentation" : "",
        "simpleType" : "UpdateGroupQueryRequest",
        "variableSetterType" : "UpdateGroupQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGroupQuery",
      "operationName" : "UpdateGroupQuery",
      "returnType" : {
        "returnType" : "UpdateGroupQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGroupQueryResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "CreateGroupRequest" : {
      "c2jName" : "CreateGroupInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateGroup",
        "locationName" : null,
        "requestUri" : "/groups",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "GroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>\n@param name The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>\n@return The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>\n@param name The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>\n@param name The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "GroupDescription",
        "deprecated" : false,
        "documentation" : "<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>\n@param description The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>\n@return The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "setterDocumentation" : "/**<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>\n@param description The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>\n@param description The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceQuery",
        "c2jShape" : "ResourceQuery",
        "deprecated" : false,
        "documentation" : "<p>The resource query that determines which AWS resources are members of this group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group.</p>\n@param resourceQuery The resource query that determines which AWS resources are members of this group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceQuery",
        "getterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group.</p>\n@return The resource query that determines which AWS resources are members of this group.*/",
        "getterMethodName" : "getResourceQuery",
        "getterModel" : {
          "returnType" : "ResourceQuery",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceQuery",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceQuery",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ResourceQuery",
        "setterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group.</p>\n@param resourceQuery The resource query that determines which AWS resources are members of this group.*/",
        "setterMethodName" : "setResourceQuery",
        "setterModel" : {
          "variableDeclarationType" : "ResourceQuery",
          "variableName" : "resourceQuery",
          "variableType" : "ResourceQuery",
          "documentation" : "",
          "simpleType" : "ResourceQuery",
          "variableSetterType" : "ResourceQuery"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group.</p>\n@param resourceQuery The resource query that determines which AWS resources are members of this group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "ResourceQuery",
          "variableName" : "resourceQuery",
          "variableType" : "ResourceQuery",
          "documentation" : "<p>The resource query that determines which AWS resources are members of this group.</p>",
          "simpleType" : "ResourceQuery",
          "variableSetterType" : "ResourceQuery"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "Tags",
        "deprecated" : false,
        "documentation" : "<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>\n@param tags The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>\n@return The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "setterDocumentation" : "/**<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>\n@param tags The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>\n@param tags The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "GroupDescription",
          "deprecated" : false,
          "documentation" : "<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>\n@param description The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>\n@return The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "setterDocumentation" : "/**<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>\n@param description The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>\n@param description The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "GroupName",
          "deprecated" : false,
          "documentation" : "<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>\n@param name The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>\n@return The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>\n@param name The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>\n@param name The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 127 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceQuery" : {
          "c2jName" : "ResourceQuery",
          "c2jShape" : "ResourceQuery",
          "deprecated" : false,
          "documentation" : "<p>The resource query that determines which AWS resources are members of this group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group.</p>\n@param resourceQuery The resource query that determines which AWS resources are members of this group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceQuery",
          "getterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group.</p>\n@return The resource query that determines which AWS resources are members of this group.*/",
          "getterMethodName" : "getResourceQuery",
          "getterModel" : {
            "returnType" : "ResourceQuery",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceQuery",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceQuery",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ResourceQuery",
          "setterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group.</p>\n@param resourceQuery The resource query that determines which AWS resources are members of this group.*/",
          "setterMethodName" : "setResourceQuery",
          "setterModel" : {
            "variableDeclarationType" : "ResourceQuery",
            "variableName" : "resourceQuery",
            "variableType" : "ResourceQuery",
            "documentation" : "",
            "simpleType" : "ResourceQuery",
            "variableSetterType" : "ResourceQuery"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The resource query that determines which AWS resources are members of this group.</p>\n@param resourceQuery The resource query that determines which AWS resources are members of this group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "ResourceQuery",
            "variableName" : "resourceQuery",
            "variableType" : "ResourceQuery",
            "documentation" : "<p>The resource query that determines which AWS resources are members of this group.</p>",
            "simpleType" : "ResourceQuery",
            "variableSetterType" : "ResourceQuery"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "Tags",
          "deprecated" : false,
          "documentation" : "<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>\n@param tags The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>\n@return The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "TagValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Tags",
          "setterDocumentation" : "/**<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>\n@param tags The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.*/",
          "setterMethodName" : "setTags",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>\n@param tags The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 127 characters, and tag values can have a maximum length of 255 characters.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name", "ResourceQuery" ],
      "shapeName" : "CreateGroupRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateGroupRequest",
        "variableName" : "createGroupRequest",
        "variableType" : "CreateGroupRequest",
        "documentation" : null,
        "simpleType" : "CreateGroupRequest",
        "variableSetterType" : "CreateGroupRequest"
      },
      "wrapper" : false
    },
    "CreateGroupResult" : {
      "c2jName" : "CreateGroupOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Group",
        "c2jShape" : "Group",
        "deprecated" : false,
        "documentation" : "<p>A full description of the resource group after it is created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A full description of the resource group after it is created.</p>\n@param group A full description of the resource group after it is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGroup",
        "getterDocumentation" : "/**<p>A full description of the resource group after it is created.</p>\n@return A full description of the resource group after it is created.*/",
        "getterMethodName" : "getGroup",
        "getterModel" : {
          "returnType" : "Group",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Group",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Group",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Group",
        "setterDocumentation" : "/**<p>A full description of the resource group after it is created.</p>\n@param group A full description of the resource group after it is created.*/",
        "setterMethodName" : "setGroup",
        "setterModel" : {
          "variableDeclarationType" : "Group",
          "variableName" : "group",
          "variableType" : "Group",
          "documentation" : "",
          "simpleType" : "Group",
          "variableSetterType" : "Group"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A full description of the resource group after it is created.</p>\n@param group A full description of the resource group after it is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Group",
          "variableName" : "group",
          "variableType" : "Group",
          "documentation" : "<p>A full description of the resource group after it is created.</p>",
          "simpleType" : "Group",
          "variableSetterType" : "Group"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceQuery",
        "c2jShape" : "ResourceQuery",
        "deprecated" : false,
        "documentation" : "<p>The resource query associated with the group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The resource query associated with the group.</p>\n@param resourceQuery The resource query associated with the group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceQuery",
        "getterDocumentation" : "/**<p>The resource query associated with the group.</p>\n@return The resource query associated with the group.*/",
        "getterMethodName" : "getResourceQuery",
        "getterModel" : {
          "returnType" : "ResourceQuery",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceQuery",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceQuery",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ResourceQuery",
        "setterDocumentation" : "/**<p>The resource query associated with the group.</p>\n@param resourceQuery The resource query associated with the group.*/",
        "setterMethodName" : "setResourceQuery",
        "setterModel" : {
          "variableDeclarationType" : "ResourceQuery",
          "variableName" : "resourceQuery",
          "variableType" : "ResourceQuery",
          "documentation" : "",
          "simpleType" : "ResourceQuery",
          "variableSetterType" : "ResourceQuery"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The resource query associated with the group.</p>\n@param resourceQuery The resource query associated with the group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "ResourceQuery",
          "variableName" : "resourceQuery",
          "variableType" : "ResourceQuery",
          "documentation" : "<p>The resource query associated with the group.</p>",
          "simpleType" : "ResourceQuery",
          "variableSetterType" : "ResourceQuery"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "Tags",
        "deprecated" : false,
        "documentation" : "<p>The tags associated with the group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags associated with the group.</p>\n@param tags The tags associated with the group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags associated with the group.</p>\n@return The tags associated with the group.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "setterDocumentation" : "/**<p>The tags associated with the group.</p>\n@param tags The tags associated with the group.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags associated with the group.</p>\n@param tags The tags associated with the group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The tags associated with the group.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Group" : {
          "c2jName" : "Group",
          "c2jShape" : "Group",
          "deprecated" : false,
          "documentation" : "<p>A full description of the resource group after it is created.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A full description of the resource group after it is created.</p>\n@param group A full description of the resource group after it is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGroup",
          "getterDocumentation" : "/**<p>A full description of the resource group after it is created.</p>\n@return A full description of the resource group after it is created.*/",
          "getterMethodName" : "getGroup",
          "getterModel" : {
            "returnType" : "Group",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Group",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Group",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Group",
          "setterDocumentation" : "/**<p>A full description of the resource group after it is created.</p>\n@param group A full description of the resource group after it is created.*/",
          "setterMethodName" : "setGroup",
          "setterModel" : {
            "variableDeclarationType" : "Group",
            "variableName" : "group",
            "variableType" : "Group",
            "documentation" : "",
            "simpleType" : "Group",
            "variableSetterType" : "Group"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A full description of the resource group after it is created.</p>\n@param group A full description of the resource group after it is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Group",
            "variableName" : "group",
            "variableType" : "Group",
            "documentation" : "<p>A full description of the resource group after it is created.</p>",
            "simpleType" : "Group",
            "variableSetterType" : "Group"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceQuery" : {
          "c2jName" : "ResourceQuery",
          "c2jShape" : "ResourceQuery",
          "deprecated" : false,
          "documentation" : "<p>The resource query associated with the group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The resource query associated with the group.</p>\n@param resourceQuery The resource query associated with the group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceQuery",
          "getterDocumentation" : "/**<p>The resource query associated with the group.</p>\n@return The resource query associated with the group.*/",
          "getterMethodName" : "getResourceQuery",
          "getterModel" : {
            "returnType" : "ResourceQuery",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceQuery",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceQuery",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ResourceQuery",
          "setterDocumentation" : "/**<p>The resource query associated with the group.</p>\n@param resourceQuery The resource query associated with the group.*/",
          "setterMethodName" : "setResourceQuery",
          "setterModel" : {
            "variableDeclarationType" : "ResourceQuery",
            "variableName" : "resourceQuery",
            "variableType" : "ResourceQuery",
            "documentation" : "",
            "simpleType" : "ResourceQuery",
            "variableSetterType" : "ResourceQuery"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The resource query associated with the group.</p>\n@param resourceQuery The resource query associated with the group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "ResourceQuery",
            "variableName" : "resourceQuery",
            "variableType" : "ResourceQuery",
            "documentation" : "<p>The resource query associated with the group.</p>",
            "simpleType" : "ResourceQuery",
            "variableSetterType" : "ResourceQuery"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "Tags",
          "deprecated" : false,
          "documentation" : "<p>The tags associated with the group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tags associated with the group.</p>\n@param tags The tags associated with the group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>The tags associated with the group.</p>\n@return The tags associated with the group.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "TagValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
[...]
