{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-07-28",
    "asyncClient" : "AWSResourceExplorer2AsyncClient",
    "asyncClientBuilderClassName" : "AWSResourceExplorer2AsyncClientBuilder",
    "asyncInterface" : "AWSResourceExplorer2Async",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSResourceExplorer2ModuleInjector",
    "defaultEndpoint" : "resource-explorer-2.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "resource-explorer-2.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Web Services Resource Explorer is a resource search and discovery service. By using Resource Explorer, you can explore your resources using an internet search engine-like experience. Examples of resources include Amazon Relational Database Service (Amazon RDS) instances, Amazon Simple Storage Service (Amazon S3) buckets, or Amazon DynamoDB tables. You can search for your resources using resource metadata like names, tags, and IDs. Resource Explorer can search across all of the Amazon Web Services Regions in your account in which you turn the service on, to simplify your cross-Region workloads.</p> <p>Resource Explorer scans the resources in each of the Amazon Web Services Regions in your Amazon Web Services account in which you turn on Resource Explorer. Resource Explorer <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/getting-started-terms-and-concepts.html#term-index\">creates and maintains an index</a> in each Region, with the details of that Region's resources.</p> <p>You can <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-aggregator-region.html\">search across all of the indexed Regions in your account</a> by designating one of your Amazon Web Services Regions to contain the aggregator index for the account. When you <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-aggregator-region-turn-on.html\">promote a local index in a Region to become the aggregator index for the account</a>, Resource Explorer automatically replicates the index information from all local indexes in the other Regions to the aggregator index. Therefore, the Region with the aggregator index has a copy of all resource information for all Regions in the account where you turned on Resource Explorer. As a result, views in the aggregator index Region include resources from all of the indexed Regions in your account.</p> <p>For more information about Amazon Web Services Resource Explorer, including how to enable and configure the service, see the <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/\">Amazon Web Services Resource Explorer User Guide</a>.</p>",
    "endpointPrefix" : "resource-explorer-2",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.resourceexplorer2",
    "packagePath" : "com/amazonaws/services/resourceexplorer2",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Resource Explorer",
    "serviceId" : "Resource Explorer 2",
    "serviceName" : "AWS Resource Explorer",
    "signingName" : "resource-explorer-2",
    "smokeTestsPackageName" : "com.amazonaws.services.resourceexplorer2.smoketests",
    "syncClient" : "AWSResourceExplorer2Client",
    "syncClientBuilderClassName" : "AWSResourceExplorer2ClientBuilder",
    "syncInterface" : "AWSResourceExplorer2",
    "uid" : "resource-explorer-2-2022-07-28",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateDefaultView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDefaultViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDefaultViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDefaultViewRequest, AssociateDefaultViewResult>",
      "asyncReturnType" : "AssociateDefaultViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the specified view as the default for the Amazon Web Services Region in which you call this operation. When a user performs a <a>Search</a> that doesn't explicitly specify which view to use, then Amazon Web Services Resource Explorer automatically chooses this default view for searches performed in this Amazon Web Services Region.</p> <p>If an Amazon Web Services Region doesn't have a default view configured, then users must explicitly specify a view with every <code>Search</code> operation performed in that Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You specified a resource that doesn't exist. Check the ID or ARN that you used to identity the resource, and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDefaultViewRequest",
        "variableName" : "associateDefaultViewRequest",
        "variableType" : "AssociateDefaultViewRequest",
        "documentation" : "",
        "simpleType" : "AssociateDefaultViewRequest",
        "variableSetterType" : "AssociateDefaultViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDefaultView",
      "operationName" : "AssociateDefaultView",
      "returnType" : {
        "returnType" : "AssociateDefaultViewResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDefaultViewResult"
    },
    "BatchGetView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetViewRequest, BatchGetViewResult>",
      "asyncReturnType" : "BatchGetViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details about a list of views.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The principal making the request isn't permitted to perform the operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetViewRequest",
        "variableName" : "batchGetViewRequest",
        "variableType" : "BatchGetViewRequest",
        "documentation" : "",
        "simpleType" : "BatchGetViewRequest",
        "variableSetterType" : "BatchGetViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetView",
      "operationName" : "BatchGetView",
      "returnType" : {
        "returnType" : "BatchGetViewResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetViewResult"
    },
    "CreateIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIndexRequest, CreateIndexResult>",
      "asyncReturnType" : "CreateIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Turns on Amazon Web Services Resource Explorer in the Amazon Web Services Region in which you called this operation by creating an index. Resource Explorer begins discovering the resources in this Region and stores the details about the resources in the index so that they can be queried by using the <a>Search</a> operation. You can create only one index in a Region.</p> <note> <p>This operation creates only a <i>local</i> index. To promote the local index in one Amazon Web Services Region into the aggregator index for the Amazon Web Services account, use the <a>UpdateIndexType</a> operation. For more information, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-aggregator-region.html\">Turning on cross-Region search by creating an aggregator index</a> in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p> </note> <p>For more details about what happens when you turn on Resource Explorer in an Amazon Web Services Region, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-service-activate.html\">Turn on Resource Explorer to index your resources in an Amazon Web Services Region</a> in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p> <p>If this is the first Amazon Web Services Region in which you've created an index for Resource Explorer, then this operation also <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/security_iam_service-linked-roles.html\">creates a service-linked role</a> in your Amazon Web Services account that allows Resource Explorer to enumerate your resources to populate the index.</p> <ul> <li> <p> <b>Action</b>: <code>resource-explorer-2:CreateIndex</code> </p> <p> <b>Resource</b>: The ARN of the index (as it will exist after the operation completes) in the Amazon Web Services Region and account in which you're trying to create the index. Use the wildcard character (<code>*</code>) at the end of the string to match the eventual UUID. For example, the following <code>Resource</code> element restricts the role or user to creating an index in only the <code>us-east-2</code> Region of the specified account.</p> <p> <code>\"Resource\": \"arn:aws:resource-explorer-2:us-west-2:<i>&lt;account-id&gt;</i>:index/*\"</code> </p> <p>Alternatively, you can use <code>\"Resource\": \"*\"</code> to allow the role or user to create an index in any Region.</p> </li> <li> <p> <b>Action</b>: <code>iam:CreateServiceLinkedRole</code> </p> <p> <b>Resource</b>: No specific resource (*). </p> <p>This permission is required only the first time you create an index to turn on Resource Explorer in the account. Resource Explorer uses this to create the <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/security_iam_service-linked-roles.html\">service-linked role needed to index the resources in your account</a>. Resource Explorer uses the same service-linked role for all additional indexes you create afterwards.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You tried to create a new view or index when one already exists, and you either didn't specify or specified a different idempotency token as the original request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIndexRequest",
        "variableName" : "createIndexRequest",
        "variableType" : "CreateIndexRequest",
        "documentation" : "",
        "simpleType" : "CreateIndexRequest",
        "variableSetterType" : "CreateIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIndex",
      "operationName" : "CreateIndex",
      "returnType" : {
        "returnType" : "CreateIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIndexResult"
    },
    "CreateView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateViewRequest, CreateViewResult>",
      "asyncReturnType" : "CreateViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a view that users can query by using the <a>Search</a> operation. Results from queries that you make using this view include only resources that match the view's <code>Filters</code>. For more information about Amazon Web Services Resource Explorer views, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-views.html\">Managing views</a> in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p> <p>Only the principals with an IAM identity-based policy that grants <code>Allow</code> to the <code>Search</code> action on a <code>Resource</code> with the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of this view can <a>Search</a> using views you create with this operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You tried to create a new view or index when one already exists, and you either didn't specify or specified a different idempotency token as the original request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because it exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The principal making the request isn't permitted to perform the operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateViewRequest",
        "variableName" : "createViewRequest",
        "variableType" : "CreateViewRequest",
        "documentation" : "",
        "simpleType" : "CreateViewRequest",
        "variableSetterType" : "CreateViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createView",
      "operationName" : "CreateView",
      "returnType" : {
        "returnType" : "CreateViewResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateViewResult"
    },
    "DeleteIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIndexRequest, DeleteIndexResult>",
      "asyncReturnType" : "DeleteIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified index and turns off Amazon Web Services Resource Explorer in the specified Amazon Web Services Region. When you delete an index, Resource Explorer stops discovering and indexing resources in that Region. Resource Explorer also deletes all views in that Region. These actions occur as asynchronous background tasks. You can check to see when the actions are complete by using the <a>GetIndex</a> operation and checking the <code>Status</code> response value.</p> <note> <p>If the index you delete is the aggregator index for the Amazon Web Services account, you must wait 24 hours before you can promote another local index to be the aggregator index for the account. Users can't perform account-wide searches using Resource Explorer until another aggregator index is configured.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You specified a resource that doesn't exist. Check the ID or ARN that you used to identity the resource, and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIndexRequest",
        "variableName" : "deleteIndexRequest",
        "variableType" : "DeleteIndexRequest",
        "documentation" : "",
        "simpleType" : "DeleteIndexRequest",
        "variableSetterType" : "DeleteIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIndex",
      "operationName" : "DeleteIndex",
      "returnType" : {
        "returnType" : "DeleteIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIndexResult"
    },
    "DeleteView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteViewRequest, DeleteViewResult>",
      "asyncReturnType" : "DeleteViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified view.</p> <p>If the specified view is the default view for its Amazon Web Services Region, then all <a>Search</a> operations in that Region must explicitly specify the view to use until you configure a new default by calling the <a>AssociateDefaultView</a> operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You specified a resource that doesn't exist. Check the ID or ARN that you used to identity the resource, and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The principal making the request isn't permitted to perform the operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteViewRequest",
        "variableName" : "deleteViewRequest",
        "variableType" : "DeleteViewRequest",
        "documentation" : "",
        "simpleType" : "DeleteViewRequest",
        "variableSetterType" : "DeleteViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteView",
      "operationName" : "DeleteView",
      "returnType" : {
        "returnType" : "DeleteViewResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteViewResult"
    },
    "DisassociateDefaultView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDefaultViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDefaultViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDefaultViewRequest, DisassociateDefaultViewResult>",
      "asyncReturnType" : "DisassociateDefaultViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>After you call this operation, the affected Amazon Web Services Region no longer has a default view. All <a>Search</a> operations in that Region must explicitly specify a view or the operation fails. You can configure a new default by calling the <a>AssociateDefaultView</a> operation.</p> <p>If an Amazon Web Services Region doesn't have a default view configured, then users must explicitly specify a view with every <code>Search</code> operation performed in that Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateDefaultViewRequest",
        "variableName" : "disassociateDefaultViewRequest",
        "variableType" : "DisassociateDefaultViewRequest",
        "documentation" : null,
        "simpleType" : "DisassociateDefaultViewRequest",
        "variableSetterType" : "DisassociateDefaultViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDefaultView",
      "operationName" : "DisassociateDefaultView",
      "returnType" : {
        "returnType" : "DisassociateDefaultViewResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDefaultViewResult"
    },
    "GetDefaultView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDefaultViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDefaultViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDefaultViewRequest, GetDefaultViewResult>",
      "asyncReturnType" : "GetDefaultViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the Amazon Resource Name (ARN) of the view that is the default for the Amazon Web Services Region in which you call this operation. You can then call <a>GetView</a> to retrieve the details of that view.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You specified a resource that doesn't exist. Check the ID or ARN that you used to identity the resource, and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDefaultViewRequest",
        "variableName" : "getDefaultViewRequest",
        "variableType" : "GetDefaultViewRequest",
        "documentation" : null,
        "simpleType" : "GetDefaultViewRequest",
        "variableSetterType" : "GetDefaultViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDefaultView",
      "operationName" : "GetDefaultView",
      "returnType" : {
        "returnType" : "GetDefaultViewResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDefaultViewResult"
    },
    "GetIndex" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIndexResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIndexResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIndexRequest, GetIndexResult>",
      "asyncReturnType" : "GetIndexResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details about the Amazon Web Services Resource Explorer index in the Amazon Web Services Region in which you invoked the operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You specified a resource that doesn't exist. Check the ID or ARN that you used to identity the resource, and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIndexRequest",
        "variableName" : "getIndexRequest",
        "variableType" : "GetIndexRequest",
        "documentation" : null,
        "simpleType" : "GetIndexRequest",
        "variableSetterType" : "GetIndexRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIndex",
      "operationName" : "GetIndex",
      "returnType" : {
        "returnType" : "GetIndexResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIndexResult"
    },
    "GetView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetViewRequest, GetViewResult>",
      "asyncReturnType" : "GetViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details of the specified view.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You specified a resource that doesn't exist. Check the ID or ARN that you used to identity the resource, and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The principal making the request isn't permitted to perform the operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetViewRequest",
        "variableName" : "getViewRequest",
        "variableType" : "GetViewRequest",
        "documentation" : "",
        "simpleType" : "GetViewRequest",
        "variableSetterType" : "GetViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getView",
      "operationName" : "GetView",
      "returnType" : {
        "returnType" : "GetViewResult",
        "documentation" : null
      },
      "syncReturnType" : "GetViewResult"
    },
    "ListIndexes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIndexesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIndexesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIndexesRequest, ListIndexesResult>",
      "asyncReturnType" : "ListIndexesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of all of the indexes in Amazon Web Services Regions that are currently collecting resource information for Amazon Web Services Resource Explorer.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIndexesRequest",
        "variableName" : "listIndexesRequest",
        "variableType" : "ListIndexesRequest",
        "documentation" : "",
        "simpleType" : "ListIndexesRequest",
        "variableSetterType" : "ListIndexesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIndexes",
      "operationName" : "ListIndexes",
      "returnType" : {
        "returnType" : "ListIndexesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIndexesResult"
    },
    "ListSupportedResourceTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSupportedResourceTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSupportedResourceTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSupportedResourceTypesRequest, ListSupportedResourceTypesResult>",
      "asyncReturnType" : "ListSupportedResourceTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of all resource types currently supported by Amazon Web Services Resource Explorer.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSupportedResourceTypesRequest",
        "variableName" : "listSupportedResourceTypesRequest",
        "variableType" : "ListSupportedResourceTypesRequest",
        "documentation" : "",
        "simpleType" : "ListSupportedResourceTypesRequest",
        "variableSetterType" : "ListSupportedResourceTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSupportedResourceTypes",
      "operationName" : "ListSupportedResourceTypes",
      "returnType" : {
        "returnType" : "ListSupportedResourceTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSupportedResourceTypesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags that are attached to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You specified a resource that doesn't exist. Check the ID or ARN that you used to identity the resource, and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The principal making the request isn't permitted to perform the operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListViews" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListViewsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListViewsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListViewsRequest, ListViewsResult>",
      "asyncReturnType" : "ListViewsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource names (ARNs)</a> of the views available in the Amazon Web Services Region in which you call this operation.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a paginated operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListViewsRequest",
        "variableName" : "listViewsRequest",
        "variableType" : "ListViewsRequest",
        "documentation" : "",
        "simpleType" : "ListViewsRequest",
        "variableSetterType" : "ListViewsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listViews",
      "operationName" : "ListViews",
      "returnType" : {
        "returnType" : "ListViewsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListViewsResult"
    },
    "Search" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchRequest, SearchResult>",
      "asyncReturnType" : "SearchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for resources and displays details about all resources that match the specified criteria. You must specify a query string.</p> <p>All search queries must use a view. If you don't explicitly specify a view, then Amazon Web Services Resource Explorer uses the default view for the Amazon Web Services Region in which you call this operation. The results are the logical intersection of the results that match both the <code>QueryString</code> parameter supplied to this operation and the <code>SearchFilter</code> parameter attached to the view.</p> <p>For the complete syntax supported by the <code>QueryString</code> parameter, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/APIReference/about-query-syntax.html\">Search query syntax reference for Resource Explorer</a>.</p> <p>If your search results are empty, or are missing results that you think should be there, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/troubleshooting_search.html\">Troubleshooting Resource Explorer search</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You specified a resource that doesn't exist. Check the ID or ARN that you used to identity the resource, and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The principal making the request isn't permitted to perform the operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchRequest",
        "variableName" : "searchRequest",
        "variableType" : "SearchRequest",
        "documentation" : "",
        "simpleType" : "SearchRequest",
        "variableSetterType" : "SearchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "search",
      "operationName" : "Search",
      "returnType" : {
        "returnType" : "SearchResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tag key and value pairs to an Amazon Web Services Resource Explorer view or index.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You tried to create a new view or index when one already exists, and you either didn't specify or specified a different idempotency token as the original request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The principal making the request isn't permitted to perform the operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tag key and value pairs from an Amazon Web Services Resource Explorer view or index.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You specified a resource that doesn't exist. Check the ID or ARN that you used to identity the resource, and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The principal making the request isn't permitted to perform the operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateIndexType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIndexTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIndexTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIndexTypeRequest, UpdateIndexTypeResult>",
      "asyncReturnType" : "UpdateIndexTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes the type of the index from one of the following types to the other. For more information about indexes and the role they perform in Amazon Web Services Resource Explorer, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-aggregator-region.html\">Turning on cross-Region search by creating an aggregator index</a> in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p> <ul> <li> <p> <b> <code>AGGREGATOR</code> index type</b> </p> <p>The index contains information about resources from all Amazon Web Services Regions in the Amazon Web Services account in which you've created a Resource Explorer index. Resource information from all other Regions is replicated to this Region's index.</p> <p>When you change the index type to <code>AGGREGATOR</code>, Resource Explorer turns on replication of all discovered resource information from the other Amazon Web Services Regions in your account to this index. You can then, from this Region only, perform resource search queries that span all Amazon Web Services Regions in the Amazon Web Services account. Turning on replication from all other Regions is performed by asynchronous background tasks. You can check the status of the asynchronous tasks by using the <a>GetIndex</a> operation. When the asynchronous tasks complete, the <code>Status</code> response of that operation changes from <code>UPDATING</code> to <code>ACTIVE</code>. After that, you can start to see results from other Amazon Web Services Regions in query results. However, it can take several hours for replication from all other Regions to complete.</p> <important> <p>You can have only one aggregator index per Amazon Web Services account. Before you can promote a different index to be the aggregator index for the account, you must first demote the existing aggregator index to type <code>LOCAL</code>.</p> </important> </li> <li> <p> <b> <code>LOCAL</code> index type</b> </p> <p>The index contains information about resources in only the Amazon Web Services Region in which the index exists. If an aggregator index in another Region exists, then information in this local index is replicated to the aggregator index.</p> <p>When you change the index type to <code>LOCAL</code>, Resource Explorer turns off the replication of resource information from all other Amazon Web Services Regions in the Amazon Web Services account to this Region. The aggregator index remains in the <code>UPDATING</code> state until all replication with other Regions successfully stops. You can check the status of the asynchronous task by using the <a>GetIndex</a> operation. When Resource Explorer successfully stops all replication with other Regions, the <code>Status</code> response of that operation changes from <code>UPDATING</code> to <code>ACTIVE</code>. Separately, the resource information from other Regions that was previously stored in the index is deleted within 30 days by another background task. Until that asynchronous task completes, some results from other Regions can continue to appear in search results.</p> <important> <p>After you demote an aggregator index to a local index, you must wait 24 hours before you can promote another index to be the new aggregator index for the account.</p> </important> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>You specified a resource that doesn't exist. Check the ID or ARN that you used to identity the resource, and try again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>You tried to create a new view or index when one already exists, and you either didn't specify or specified a different idempotency token as the original request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because it exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIndexTypeRequest",
        "variableName" : "updateIndexTypeRequest",
        "variableType" : "UpdateIndexTypeRequest",
        "documentation" : "",
        "simpleType" : "UpdateIndexTypeRequest",
        "variableSetterType" : "UpdateIndexTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIndexType",
      "operationName" : "UpdateIndexType",
      "returnType" : {
        "returnType" : "UpdateIndexTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateIndexTypeResult"
    },
    "UpdateView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateViewRequest, UpdateViewResult>",
      "asyncReturnType" : "UpdateViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies some of the details of a view. You can change the filter string and the list of included properties. You can't change the name of the view.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed because of internal service error. Try your request again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You provided an invalid value for one of the operation's parameters. Check the syntax for the operation, and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request failed because it exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The principal making the request isn't permitted to perform the operation.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request failed because you exceeded a rate limit for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/arexug/mainline/quotas.html\">Quotas for Resource Explorer</a>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateViewRequest",
        "variableName" : "updateViewRequest",
        "variableType" : "UpdateViewRequest",
        "documentation" : "",
        "simpleType" : "UpdateViewRequest",
        "variableSetterType" : "UpdateViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateView",
      "operationName" : "UpdateView",
      "returnType" : {
        "returnType" : "UpdateViewResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateViewResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.resourceexplorer2.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.resourceexplorer2.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssociateDefaultViewRequest" : {
      "c2jName" : "AssociateDefaultViewInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.resourceexplorer2.request.AssociateDefaultViewRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateDefaultView",
        "locationName" : null,
        "requestUri" : "/AssociateDefaultView",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ViewArn",
        "c2jShape" : "AssociateDefaultViewInputViewArnString",
        "deprecated" : false,
        "documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withViewArn",
        "getterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>\n@return The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.*/",
        "getterMethodName" : "getViewArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ViewArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ViewArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ViewArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.*/",
        "setterMethodName" : "setViewArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "viewArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "viewArn",
          "variableType" : "String",
          "documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ViewArn" : {
          "c2jName" : "ViewArn",
          "c2jShape" : "AssociateDefaultViewInputViewArnString",
          "deprecated" : false,
          "documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withViewArn",
          "getterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>\n@return The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.*/",
          "getterMethodName" : "getViewArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ViewArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ViewArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ViewArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.*/",
          "setterMethodName" : "setViewArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "viewArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "viewArn",
            "variableType" : "String",
            "documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.resourceexplorer2.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ViewArn" ],
      "shapeName" : "AssociateDefaultViewRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDefaultViewRequest",
        "variableName" : "associateDefaultViewRequest",
        "variableType" : "AssociateDefaultViewRequest",
        "documentation" : null,
        "simpleType" : "AssociateDefaultViewRequest",
        "variableSetterType" : "AssociateDefaultViewRequest"
      },
      "wrapper" : false
    },
    "AssociateDefaultViewResult" : {
      "c2jName" : "AssociateDefaultViewOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.resourceexplorer2.response.AssociateDefaultViewResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ViewArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withViewArn",
        "getterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>\n@return The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.*/",
        "getterMethodName" : "getViewArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ViewArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ViewArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ViewArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.*/",
        "setterMethodName" : "setViewArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "viewArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "viewArn",
          "variableType" : "String",
          "documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ViewArn" : {
          "c2jName" : "ViewArn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withViewArn",
          "getterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>\n@return The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.*/",
          "getterMethodName" : "getViewArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ViewArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ViewArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ViewArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.*/",
          "setterMethodName" : "setViewArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "viewArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>\n@param viewArn The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "viewArn",
            "variableType" : "String",
            "documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.resourceexplorer2.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AssociateDefaultViewResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDefaultViewResult",
        "variableName" : "associateDefaultViewResult",
        "variableType" : "AssociateDefaultViewResult",
        "documentation" : null,
        "simpleType" : "AssociateDefaultViewResult",
        "variableSetterType" : "AssociateDefaultViewResult"
      },
      "wrapper" : false
    },
    "BatchGetViewError" : {
      "c2jName" : "BatchGetViewError",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A collection of error messages for any views that Amazon Web Services Resource Explorer couldn't retrieve details.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.resourceexplorer2.model.BatchGetViewError",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ErrorMessage",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The description of the error for the specified view.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the error for the specified view.</p>\n@param errorMessage The description of the error for the specified view.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorMessage",
        "getterDocumentation" : "/**<p>The description of the error for the specified view.</p>\n@return The description of the error for the specified view.*/",
        "getterMethodName" : "getErrorMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ErrorMessage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The description of the error for the specified view.</p>\n@param errorMessage The description of the error for the specified view.*/",
        "setterMethodName" : "setErrorMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description of the error for the specified view.</p>\n@param errorMessage The description of the error for the specified view.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorMessage",
          "variableType" : "String",
          "documentation" : "<p>The description of the error for the specified view.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ViewArn",
        "c2jShape" : "String",
        "deprecated" : false,
[...]
