{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-06-29",
    "asyncClient" : "AWSRoboMakerAsyncClient",
    "asyncClientBuilderClassName" : "AWSRoboMakerAsyncClientBuilder",
    "asyncInterface" : "AWSRoboMakerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSRoboMakerModuleInjector",
    "defaultEndpoint" : "robomaker.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "robomaker.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This section provides documentation for the AWS RoboMaker API operations.</p>",
    "endpointPrefix" : "robomaker",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.robomaker",
    "packagePath" : "com/amazonaws/services/robomaker",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "RoboMaker",
    "serviceFullName" : "AWS RoboMaker",
    "serviceId" : "RoboMaker",
    "serviceName" : "RoboMaker",
    "signingName" : "robomaker",
    "smokeTestsPackageName" : "com.amazonaws.services.robomaker.smoketests",
    "syncClient" : "AWSRoboMakerClient",
    "syncClientBuilderClassName" : "AWSRoboMakerClientBuilder",
    "syncInterface" : "AWSRoboMaker",
    "uid" : "robomaker-2018-06-29",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchDescribeSimulationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDescribeSimulationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDescribeSimulationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDescribeSimulationJobRequest, BatchDescribeSimulationJobResult>",
      "asyncReturnType" : "BatchDescribeSimulationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more simulation jobs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDescribeSimulationJobRequest",
        "variableName" : "batchDescribeSimulationJobRequest",
        "variableType" : "BatchDescribeSimulationJobRequest",
        "documentation" : "",
        "simpleType" : "BatchDescribeSimulationJobRequest",
        "variableSetterType" : "BatchDescribeSimulationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDescribeSimulationJob",
      "operationName" : "BatchDescribeSimulationJob",
      "returnType" : {
        "returnType" : "BatchDescribeSimulationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDescribeSimulationJobResult"
    },
    "CancelSimulationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelSimulationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelSimulationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelSimulationJobRequest, CancelSimulationJobResult>",
      "asyncReturnType" : "CancelSimulationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the specified simulation job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelSimulationJobRequest",
        "variableName" : "cancelSimulationJobRequest",
        "variableType" : "CancelSimulationJobRequest",
        "documentation" : "",
        "simpleType" : "CancelSimulationJobRequest",
        "variableSetterType" : "CancelSimulationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelSimulationJob",
      "operationName" : "CancelSimulationJob",
      "returnType" : {
        "returnType" : "CancelSimulationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelSimulationJobResult"
    },
    "CreateDeploymentJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentJobRequest, CreateDeploymentJobResult>",
      "asyncReturnType" : "CreateDeploymentJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deploys a specific version of a robot application to robots in a fleet.</p> <p>The robot application must have a numbered <code>applicationVersion</code> for consistency reasons. To create a new version, use <code>CreateRobotApplicationVersion</code> or see <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/create-robot-application-version.html\">Creating a Robot Application Version</a>. </p> <note> <p>After 90 days, deployment jobs expire and will be deleted. They will no longer be accessible. </p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentDeploymentException",
        "documentation" : "<p>The failure percentage threshold percentage was met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The request uses the same client token as a previous, but non-identical request. Do not reuse a client token with different requests, unless the requests are identical. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDeploymentJobRequest",
        "variableName" : "createDeploymentJobRequest",
        "variableType" : "CreateDeploymentJobRequest",
        "documentation" : "",
        "simpleType" : "CreateDeploymentJobRequest",
        "variableSetterType" : "CreateDeploymentJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeploymentJob",
      "operationName" : "CreateDeploymentJob",
      "returnType" : {
        "returnType" : "CreateDeploymentJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDeploymentJobResult"
    },
    "CreateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFleetRequest, CreateFleetResult>",
      "asyncReturnType" : "CreateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a fleet, a logical group of robots running the same robot application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFleetRequest",
        "variableName" : "createFleetRequest",
        "variableType" : "CreateFleetRequest",
        "documentation" : "",
        "simpleType" : "CreateFleetRequest",
        "variableSetterType" : "CreateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFleet",
      "operationName" : "CreateFleet",
      "returnType" : {
        "returnType" : "CreateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFleetResult"
    },
    "CreateRobot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRobotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRobotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRobotRequest, CreateRobotResult>",
      "asyncReturnType" : "CreateRobotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a robot.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRobotRequest",
        "variableName" : "createRobotRequest",
        "variableType" : "CreateRobotRequest",
        "documentation" : "",
        "simpleType" : "CreateRobotRequest",
        "variableSetterType" : "CreateRobotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRobot",
      "operationName" : "CreateRobot",
      "returnType" : {
        "returnType" : "CreateRobotResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRobotResult"
    },
    "CreateRobotApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRobotApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRobotApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRobotApplicationRequest, CreateRobotApplicationResult>",
      "asyncReturnType" : "CreateRobotApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a robot application. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The request uses the same client token as a previous, but non-identical request. Do not reuse a client token with different requests, unless the requests are identical. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRobotApplicationRequest",
        "variableName" : "createRobotApplicationRequest",
        "variableType" : "CreateRobotApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateRobotApplicationRequest",
        "variableSetterType" : "CreateRobotApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRobotApplication",
      "operationName" : "CreateRobotApplication",
      "returnType" : {
        "returnType" : "CreateRobotApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRobotApplicationResult"
    },
    "CreateRobotApplicationVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRobotApplicationVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRobotApplicationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRobotApplicationVersionRequest, CreateRobotApplicationVersionResult>",
      "asyncReturnType" : "CreateRobotApplicationVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a version of a robot application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The request uses the same client token as a previous, but non-identical request. Do not reuse a client token with different requests, unless the requests are identical. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRobotApplicationVersionRequest",
        "variableName" : "createRobotApplicationVersionRequest",
        "variableType" : "CreateRobotApplicationVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateRobotApplicationVersionRequest",
        "variableSetterType" : "CreateRobotApplicationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRobotApplicationVersion",
      "operationName" : "CreateRobotApplicationVersion",
      "returnType" : {
        "returnType" : "CreateRobotApplicationVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRobotApplicationVersionResult"
    },
    "CreateSimulationApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSimulationApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSimulationApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSimulationApplicationRequest, CreateSimulationApplicationResult>",
      "asyncReturnType" : "CreateSimulationApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a simulation application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The request uses the same client token as a previous, but non-identical request. Do not reuse a client token with different requests, unless the requests are identical. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSimulationApplicationRequest",
        "variableName" : "createSimulationApplicationRequest",
        "variableType" : "CreateSimulationApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateSimulationApplicationRequest",
        "variableSetterType" : "CreateSimulationApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSimulationApplication",
      "operationName" : "CreateSimulationApplication",
      "returnType" : {
        "returnType" : "CreateSimulationApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSimulationApplicationResult"
    },
    "CreateSimulationApplicationVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSimulationApplicationVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSimulationApplicationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSimulationApplicationVersionRequest, CreateSimulationApplicationVersionResult>",
      "asyncReturnType" : "CreateSimulationApplicationVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a simulation application with a specific revision id.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The request uses the same client token as a previous, but non-identical request. Do not reuse a client token with different requests, unless the requests are identical. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSimulationApplicationVersionRequest",
        "variableName" : "createSimulationApplicationVersionRequest",
        "variableType" : "CreateSimulationApplicationVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateSimulationApplicationVersionRequest",
        "variableSetterType" : "CreateSimulationApplicationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSimulationApplicationVersion",
      "operationName" : "CreateSimulationApplicationVersion",
      "returnType" : {
        "returnType" : "CreateSimulationApplicationVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSimulationApplicationVersionResult"
    },
    "CreateSimulationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSimulationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSimulationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSimulationJobRequest, CreateSimulationJobResult>",
      "asyncReturnType" : "CreateSimulationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a simulation job.</p> <note> <p>After 90 days, simulation jobs expire and will be deleted. They will no longer be accessible. </p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The request uses the same client token as a previous, but non-identical request. Do not reuse a client token with different requests, unless the requests are identical. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSimulationJobRequest",
        "variableName" : "createSimulationJobRequest",
        "variableType" : "CreateSimulationJobRequest",
        "documentation" : "",
        "simpleType" : "CreateSimulationJobRequest",
        "variableSetterType" : "CreateSimulationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSimulationJob",
      "operationName" : "CreateSimulationJob",
      "returnType" : {
        "returnType" : "CreateSimulationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSimulationJobResult"
    },
    "DeleteFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFleetRequest, DeleteFleetResult>",
      "asyncReturnType" : "DeleteFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFleetRequest",
        "variableName" : "deleteFleetRequest",
        "variableType" : "DeleteFleetRequest",
        "documentation" : "",
        "simpleType" : "DeleteFleetRequest",
        "variableSetterType" : "DeleteFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFleet",
      "operationName" : "DeleteFleet",
      "returnType" : {
        "returnType" : "DeleteFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFleetResult"
    },
    "DeleteRobot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRobotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRobotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRobotRequest, DeleteRobotResult>",
      "asyncReturnType" : "DeleteRobotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a robot.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRobotRequest",
        "variableName" : "deleteRobotRequest",
        "variableType" : "DeleteRobotRequest",
        "documentation" : "",
        "simpleType" : "DeleteRobotRequest",
        "variableSetterType" : "DeleteRobotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRobot",
      "operationName" : "DeleteRobot",
      "returnType" : {
        "returnType" : "DeleteRobotResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRobotResult"
    },
    "DeleteRobotApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRobotApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRobotApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRobotApplicationRequest, DeleteRobotApplicationResult>",
      "asyncReturnType" : "DeleteRobotApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a robot application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRobotApplicationRequest",
        "variableName" : "deleteRobotApplicationRequest",
        "variableType" : "DeleteRobotApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeleteRobotApplicationRequest",
        "variableSetterType" : "DeleteRobotApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRobotApplication",
      "operationName" : "DeleteRobotApplication",
      "returnType" : {
        "returnType" : "DeleteRobotApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRobotApplicationResult"
    },
    "DeleteSimulationApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSimulationApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSimulationApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSimulationApplicationRequest, DeleteSimulationApplicationResult>",
      "asyncReturnType" : "DeleteSimulationApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a simulation application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSimulationApplicationRequest",
        "variableName" : "deleteSimulationApplicationRequest",
        "variableType" : "DeleteSimulationApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSimulationApplicationRequest",
        "variableSetterType" : "DeleteSimulationApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSimulationApplication",
      "operationName" : "DeleteSimulationApplication",
      "returnType" : {
        "returnType" : "DeleteSimulationApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSimulationApplicationResult"
    },
    "DeregisterRobot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterRobotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterRobotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterRobotRequest, DeregisterRobotResult>",
      "asyncReturnType" : "DeregisterRobotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters a robot.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterRobotRequest",
        "variableName" : "deregisterRobotRequest",
        "variableType" : "DeregisterRobotRequest",
        "documentation" : "",
        "simpleType" : "DeregisterRobotRequest",
        "variableSetterType" : "DeregisterRobotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterRobot",
      "operationName" : "DeregisterRobot",
      "returnType" : {
        "returnType" : "DeregisterRobotResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterRobotResult"
    },
    "DescribeDeploymentJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeploymentJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeploymentJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeploymentJobRequest, DescribeDeploymentJobResult>",
      "asyncReturnType" : "DescribeDeploymentJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a deployment job. [Does it work regardless of deployment status, e.g. Failed?]</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeploymentJobRequest",
        "variableName" : "describeDeploymentJobRequest",
        "variableType" : "DescribeDeploymentJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeDeploymentJobRequest",
        "variableSetterType" : "DescribeDeploymentJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDeploymentJob",
      "operationName" : "DescribeDeploymentJob",
      "returnType" : {
        "returnType" : "DescribeDeploymentJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDeploymentJobResult"
    },
    "DescribeFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFleetRequest, DescribeFleetResult>",
      "asyncReturnType" : "DescribeFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFleetRequest",
        "variableName" : "describeFleetRequest",
        "variableType" : "DescribeFleetRequest",
        "documentation" : "",
        "simpleType" : "DescribeFleetRequest",
        "variableSetterType" : "DescribeFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFleet",
      "operationName" : "DescribeFleet",
      "returnType" : {
        "returnType" : "DescribeFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFleetResult"
    },
    "DescribeRobot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRobotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRobotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRobotRequest, DescribeRobotResult>",
      "asyncReturnType" : "DescribeRobotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a robot.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRobotRequest",
        "variableName" : "describeRobotRequest",
        "variableType" : "DescribeRobotRequest",
        "documentation" : "",
        "simpleType" : "DescribeRobotRequest",
        "variableSetterType" : "DescribeRobotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRobot",
      "operationName" : "DescribeRobot",
      "returnType" : {
        "returnType" : "DescribeRobotResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRobotResult"
    },
    "DescribeRobotApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRobotApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRobotApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRobotApplicationRequest, DescribeRobotApplicationResult>",
      "asyncReturnType" : "DescribeRobotApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a robot application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRobotApplicationRequest",
        "variableName" : "describeRobotApplicationRequest",
        "variableType" : "DescribeRobotApplicationRequest",
        "documentation" : "",
        "simpleType" : "DescribeRobotApplicationRequest",
        "variableSetterType" : "DescribeRobotApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRobotApplication",
      "operationName" : "DescribeRobotApplication",
      "returnType" : {
        "returnType" : "DescribeRobotApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRobotApplicationResult"
    },
    "DescribeSimulationApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSimulationApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSimulationApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSimulationApplicationRequest, DescribeSimulationApplicationResult>",
      "asyncReturnType" : "DescribeSimulationApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a simulation application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSimulationApplicationRequest",
        "variableName" : "describeSimulationApplicationRequest",
        "variableType" : "DescribeSimulationApplicationRequest",
        "documentation" : "",
        "simpleType" : "DescribeSimulationApplicationRequest",
        "variableSetterType" : "DescribeSimulationApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSimulationApplication",
      "operationName" : "DescribeSimulationApplication",
      "returnType" : {
        "returnType" : "DescribeSimulationApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSimulationApplicationResult"
    },
    "DescribeSimulationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSimulationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSimulationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSimulationJobRequest, DescribeSimulationJobResult>",
      "asyncReturnType" : "DescribeSimulationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a simulation job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSimulationJobRequest",
        "variableName" : "describeSimulationJobRequest",
        "variableType" : "DescribeSimulationJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeSimulationJobRequest",
        "variableSetterType" : "DescribeSimulationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSimulationJob",
      "operationName" : "DescribeSimulationJob",
      "returnType" : {
        "returnType" : "DescribeSimulationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSimulationJobResult"
    },
    "ListDeploymentJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentJobsRequest, ListDeploymentJobsResult>",
      "asyncReturnType" : "ListDeploymentJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of deployment jobs for a fleet. You can optionally provide filters to retrieve specific deployment jobs. </p> <note> <p> </p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDeploymentJobsRequest",
        "variableName" : "listDeploymentJobsRequest",
        "variableType" : "ListDeploymentJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDeploymentJobsRequest",
        "variableSetterType" : "ListDeploymentJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeploymentJobs",
      "operationName" : "ListDeploymentJobs",
      "returnType" : {
        "returnType" : "ListDeploymentJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeploymentJobsResult"
    },
    "ListFleets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFleetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFleetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFleetsRequest, ListFleetsResult>",
      "asyncReturnType" : "ListFleetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of fleets. You can optionally provide filters to retrieve specific fleets. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFleetsRequest",
        "variableName" : "listFleetsRequest",
        "variableType" : "ListFleetsRequest",
        "documentation" : "",
        "simpleType" : "ListFleetsRequest",
        "variableSetterType" : "ListFleetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFleets",
      "operationName" : "ListFleets",
      "returnType" : {
        "returnType" : "ListFleetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFleetsResult"
    },
    "ListRobotApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRobotApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRobotApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRobotApplicationsRequest, ListRobotApplicationsResult>",
      "asyncReturnType" : "ListRobotApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of robot application. You can optionally provide filters to retrieve specific robot applications.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRobotApplicationsRequest",
        "variableName" : "listRobotApplicationsRequest",
        "variableType" : "ListRobotApplicationsRequest",
        "documentation" : "",
        "simpleType" : "ListRobotApplicationsRequest",
        "variableSetterType" : "ListRobotApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRobotApplications",
      "operationName" : "ListRobotApplications",
      "returnType" : {
        "returnType" : "ListRobotApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRobotApplicationsResult"
    },
    "ListRobots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRobotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRobotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRobotsRequest, ListRobotsResult>",
      "asyncReturnType" : "ListRobotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of robots. You can optionally provide filters to retrieve specific robots.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRobotsRequest",
        "variableName" : "listRobotsRequest",
        "variableType" : "ListRobotsRequest",
        "documentation" : "",
        "simpleType" : "ListRobotsRequest",
        "variableSetterType" : "ListRobotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRobots",
      "operationName" : "ListRobots",
      "returnType" : {
        "returnType" : "ListRobotsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRobotsResult"
    },
    "ListSimulationApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSimulationApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSimulationApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSimulationApplicationsRequest, ListSimulationApplicationsResult>",
      "asyncReturnType" : "ListSimulationApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of simulation applications. You can optionally provide filters to retrieve specific simulation applications. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSimulationApplicationsRequest",
        "variableName" : "listSimulationApplicationsRequest",
        "variableType" : "ListSimulationApplicationsRequest",
        "documentation" : "",
        "simpleType" : "ListSimulationApplicationsRequest",
        "variableSetterType" : "ListSimulationApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSimulationApplications",
      "operationName" : "ListSimulationApplications",
      "returnType" : {
        "returnType" : "ListSimulationApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSimulationApplicationsResult"
    },
    "ListSimulationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSimulationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSimulationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSimulationJobsRequest, ListSimulationJobsResult>",
      "asyncReturnType" : "ListSimulationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of simulation jobs. You can optionally provide filters to retrieve specific simulation jobs. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSimulationJobsRequest",
        "variableName" : "listSimulationJobsRequest",
        "variableType" : "ListSimulationJobsRequest",
        "documentation" : "",
        "simpleType" : "ListSimulationJobsRequest",
        "variableSetterType" : "ListSimulationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSimulationJobs",
      "operationName" : "ListSimulationJobs",
      "returnType" : {
        "returnType" : "ListSimulationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSimulationJobsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags on a AWS RoboMaker resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RegisterRobot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterRobotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterRobotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterRobotRequest, RegisterRobotResult>",
      "asyncReturnType" : "RegisterRobotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers a robot with a fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterRobotRequest",
        "variableName" : "registerRobotRequest",
        "variableType" : "RegisterRobotRequest",
        "documentation" : "",
        "simpleType" : "RegisterRobotRequest",
        "variableSetterType" : "RegisterRobotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerRobot",
      "operationName" : "RegisterRobot",
      "returnType" : {
        "returnType" : "RegisterRobotResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterRobotResult"
    },
    "RestartSimulationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestartSimulationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestartSimulationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestartSimulationJobRequest, RestartSimulationJobResult>",
      "asyncReturnType" : "RestartSimulationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Restarts a running simulation job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RestartSimulationJobRequest",
        "variableName" : "restartSimulationJobRequest",
        "variableType" : "RestartSimulationJobRequest",
        "documentation" : "",
        "simpleType" : "RestartSimulationJobRequest",
        "variableSetterType" : "RestartSimulationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restartSimulationJob",
      "operationName" : "RestartSimulationJob",
      "returnType" : {
        "returnType" : "RestartSimulationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "RestartSimulationJobResult"
    },
    "SyncDeploymentJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SyncDeploymentJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SyncDeploymentJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SyncDeploymentJobRequest, SyncDeploymentJobResult>",
      "asyncReturnType" : "SyncDeploymentJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Syncrhonizes robots in a fleet to the latest deployment. This is helpful if robots were added after a deployment.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConcurrentDeploymentException",
        "documentation" : "<p>The failure percentage threshold percentage was met.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>The request uses the same client token as a previous, but non-identical request. Do not reuse a client token with different requests, unless the requests are identical. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SyncDeploymentJobRequest",
        "variableName" : "syncDeploymentJobRequest",
        "variableType" : "SyncDeploymentJobRequest",
        "documentation" : "",
        "simpleType" : "SyncDeploymentJobRequest",
        "variableSetterType" : "SyncDeploymentJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "syncDeploymentJob",
      "operationName" : "SyncDeploymentJob",
      "returnType" : {
        "returnType" : "SyncDeploymentJobResult",
        "documentation" : null
      },
      "syncReturnType" : "SyncDeploymentJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or edits tags for a AWS RoboMaker resource.</p> <p>Each tag consists of a tag key and a tag value. Tag keys and tag values are both required, but tag values can be empty strings. </p> <p>For information about the rules that apply to tag keys and tag values, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html\">User-Defined Tag Restrictions</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified AWS RoboMaker resource.</p> <p>To remove a tag, specify the tag key. To change the tag value of an existing tag key, use <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/API_TagResource.html\"> <code>TagResource</code> </a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateRobotApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRobotApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRobotApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRobotApplicationRequest, UpdateRobotApplicationResult>",
      "asyncReturnType" : "UpdateRobotApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a robot application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRobotApplicationRequest",
        "variableName" : "updateRobotApplicationRequest",
        "variableType" : "UpdateRobotApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateRobotApplicationRequest",
        "variableSetterType" : "UpdateRobotApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRobotApplication",
      "operationName" : "UpdateRobotApplication",
      "returnType" : {
        "returnType" : "UpdateRobotApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRobotApplicationResult"
    },
    "UpdateSimulationApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSimulationApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSimulationApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSimulationApplicationRequest, UpdateSimulationApplicationResult>",
      "asyncReturnType" : "UpdateSimulationApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a simulation application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>AWS RoboMaker is temporarily unable to process the request. Try your call again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSimulationApplicationRequest",
        "variableName" : "updateSimulationApplicationRequest",
        "variableType" : "UpdateSimulationApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateSimulationApplicationRequest",
        "variableSetterType" : "UpdateSimulationApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSimulationApplication",
      "operationName" : "UpdateSimulationApplication",
      "returnType" : {
        "returnType" : "UpdateSimulationApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSimulationApplicationResult"
    }
  },
  "shapes" : {
    "Architecture" : {
      "c2jName" : "Architecture",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "X86_64",
        "value" : "X86_64"
      }, {
        "name" : "ARM64",
        "value" : "ARM64"
      }, {
        "name" : "ARMHF",
        "value" : "ARMHF"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Architecture",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Architecture",
        "variableName" : "architecture",
        "variableType" : "Architecture",
        "documentation" : null,
        "simpleType" : "Architecture",
        "variableSetterType" : "Architecture"
      },
      "wrapper" : false
    },
    "BatchDescribeSimulationJobRequest" : {
      "c2jName" : "BatchDescribeSimulationJobRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchDescribeSimulationJob",
        "locationName" : null,
        "requestUri" : "/batchDescribeSimulationJob",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "jobs",
        "c2jShape" : "Arns",
        "deprecated" : false,
        "documentation" : "<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>\n@param jobs A list of Amazon Resource Names (ARNs) of simulation jobs to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobs",
        "getterDocumentation" : "/**<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>\n@return A list of Amazon Resource Names (ARNs) of simulation jobs to describe.*/",
        "getterMethodName" : "getJobs",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "jobs",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Arn",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Jobs",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>\n@param jobs A list of Amazon Resource Names (ARNs) of simulation jobs to describe.*/",
        "setterMethodName" : "setJobs",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "jobs",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setJobs(java.util.Collection)} or {@link #withJobs(java.util.Collection)} if you want to override the existing values.</p>\n@param jobs A list of Amazon Resource Names (ARNs) of simulation jobs to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "jobs",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Jobs" : {
          "c2jName" : "jobs",
          "c2jShape" : "Arns",
          "deprecated" : false,
          "documentation" : "<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>\n@param jobs A list of Amazon Resource Names (ARNs) of simulation jobs to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJobs",
          "getterDocumentation" : "/**<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>\n@return A list of Amazon Resource Names (ARNs) of simulation jobs to describe.*/",
          "getterMethodName" : "getJobs",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "jobs",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobs",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Arn",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
[...]
