{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSIAMRolesAnywhereAsyncClient",
    "asyncClientBuilderClassName" : "AWSIAMRolesAnywhereAsyncClientBuilder",
    "asyncInterface" : "AWSIAMRolesAnywhereAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSIAMRolesAnywhereModuleInjector",
    "defaultEndpoint" : "rolesanywhere.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "rolesanywhere.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Identity and Access Management Roles Anywhere provides a secure way for your workloads such as servers, containers, and applications running outside of AWS to obtain Temporary AWS credentials. Your workloads can use the same IAM policies and roles that you have configured with native AWS applications to access AWS resources. Using IAM Roles Anywhere will eliminate the need to manage long term credentials for workloads running outside of AWS.</p> <p>To use IAM Roles Anywhere customer workloads will need to use X.509 certificates issued by their Certificate Authority (CA) . The Certificate Authority (CA) needs to be registered with IAM Roles Anywhere as a trust anchor to establish trust between customer PKI and IAM Roles Anywhere. Customers who do not manage their own PKI system can use AWS Certificate Manager Private Certificate Authority (ACM PCA) to create a Certificate Authority and use that to establish trust with IAM Roles Anywhere</p> <p>This guide describes the IAM rolesanywhere operations that you can call programmatically. For general information about IAM Roles Anywhere see <a href=\"https://docs.aws.amazon.com/\">https://docs.aws.amazon.com/</a> </p>",
    "endpointPrefix" : "rolesanywhere",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iamrolesanywhere",
    "packagePath" : "com/amazonaws/services/iamrolesanywhere",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "IAM Roles Anywhere",
    "serviceId" : "RolesAnywhere",
    "serviceName" : "IAM Roles Anywhere",
    "signingName" : "rolesanywhere",
    "smokeTestsPackageName" : "com.amazonaws.services.iamrolesanywhere.smoketests",
    "syncClient" : "AWSIAMRolesAnywhereClient",
    "syncClientBuilderClassName" : "AWSIAMRolesAnywhereClientBuilder",
    "syncInterface" : "AWSIAMRolesAnywhere",
    "uid" : "rolesanywhere-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProfileRequest, CreateProfileResult>",
      "asyncReturnType" : "CreateProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a profile. A profile is configuration resource to list the roles that RolesAnywhere service is trusted to assume. In addition, by applying a profile you can intersect permissions with IAM managed policies.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:CreateProfile</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProfileRequest",
        "variableName" : "createProfileRequest",
        "variableType" : "CreateProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateProfileRequest",
        "variableSetterType" : "CreateProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProfile",
      "operationName" : "CreateProfile",
      "returnType" : {
        "returnType" : "CreateProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProfileResult"
    },
    "CreateTrustAnchor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrustAnchorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrustAnchorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrustAnchorRequest, CreateTrustAnchorResult>",
      "asyncReturnType" : "CreateTrustAnchorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a trust anchor. You establish trust between IAM Roles Anywhere and your certificate authority (CA) by configuring a trust anchor. A Trust Anchor is defined either as a reference to a AWS Certificate Manager Private Certificate Authority (ACM PCA), or by uploading a Certificate Authority (CA) certificate. Your AWS workloads can authenticate with the trust anchor using certificates issued by the trusted Certificate Authority (CA) in exchange for temporary AWS credentials.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:CreateTrustAnchor</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTrustAnchorRequest",
        "variableName" : "createTrustAnchorRequest",
        "variableType" : "CreateTrustAnchorRequest",
        "documentation" : "",
        "simpleType" : "CreateTrustAnchorRequest",
        "variableSetterType" : "CreateTrustAnchorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTrustAnchor",
      "operationName" : "CreateTrustAnchor",
      "returnType" : {
        "returnType" : "CreateTrustAnchorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTrustAnchorResult"
    },
    "DeleteCrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCrlRequest, DeleteCrlResult>",
      "asyncReturnType" : "DeleteCrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a certificate revocation list (CRL).</p> <p> <b>Required permissions: </b> <code>rolesanywhere:DeleteCrl</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCrlRequest",
        "variableName" : "deleteCrlRequest",
        "variableType" : "DeleteCrlRequest",
        "documentation" : "",
        "simpleType" : "DeleteCrlRequest",
        "variableSetterType" : "DeleteCrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCrl",
      "operationName" : "DeleteCrl",
      "returnType" : {
        "returnType" : "DeleteCrlResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCrlResult"
    },
    "DeleteProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfileRequest, DeleteProfileResult>",
      "asyncReturnType" : "DeleteProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a profile.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:DeleteProfile</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProfileRequest",
        "variableName" : "deleteProfileRequest",
        "variableType" : "DeleteProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteProfileRequest",
        "variableSetterType" : "DeleteProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfile",
      "operationName" : "DeleteProfile",
      "returnType" : {
        "returnType" : "DeleteProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProfileResult"
    },
    "DeleteTrustAnchor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrustAnchorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrustAnchorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrustAnchorRequest, DeleteTrustAnchorResult>",
      "asyncReturnType" : "DeleteTrustAnchorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a trust anchor.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:DeleteTrustAnchor</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTrustAnchorRequest",
        "variableName" : "deleteTrustAnchorRequest",
        "variableType" : "DeleteTrustAnchorRequest",
        "documentation" : "",
        "simpleType" : "DeleteTrustAnchorRequest",
        "variableSetterType" : "DeleteTrustAnchorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTrustAnchor",
      "operationName" : "DeleteTrustAnchor",
      "returnType" : {
        "returnType" : "DeleteTrustAnchorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTrustAnchorResult"
    },
    "DisableCrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableCrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableCrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableCrlRequest, DisableCrlResult>",
      "asyncReturnType" : "DisableCrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables a certificate revocation list (CRL).</p> <p> <b>Required permissions: </b> <code>rolesanywhere:DisableCrl</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableCrlRequest",
        "variableName" : "disableCrlRequest",
        "variableType" : "DisableCrlRequest",
        "documentation" : "",
        "simpleType" : "DisableCrlRequest",
        "variableSetterType" : "DisableCrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableCrl",
      "operationName" : "DisableCrl",
      "returnType" : {
        "returnType" : "DisableCrlResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableCrlResult"
    },
    "DisableProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableProfileRequest, DisableProfileResult>",
      "asyncReturnType" : "DisableProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables a profile. When disabled, <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile fail.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:DisableProfile</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableProfileRequest",
        "variableName" : "disableProfileRequest",
        "variableType" : "DisableProfileRequest",
        "documentation" : "",
        "simpleType" : "DisableProfileRequest",
        "variableSetterType" : "DisableProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableProfile",
      "operationName" : "DisableProfile",
      "returnType" : {
        "returnType" : "DisableProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableProfileResult"
    },
    "DisableTrustAnchor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableTrustAnchorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableTrustAnchorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableTrustAnchorRequest, DisableTrustAnchorResult>",
      "asyncReturnType" : "DisableTrustAnchorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables a trust anchor. When disabled, <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests specifying this trust anchor are unauthorized.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:DisableTrustAnchor</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableTrustAnchorRequest",
        "variableName" : "disableTrustAnchorRequest",
        "variableType" : "DisableTrustAnchorRequest",
        "documentation" : "",
        "simpleType" : "DisableTrustAnchorRequest",
        "variableSetterType" : "DisableTrustAnchorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableTrustAnchor",
      "operationName" : "DisableTrustAnchor",
      "returnType" : {
        "returnType" : "DisableTrustAnchorResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableTrustAnchorResult"
    },
    "EnableCrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableCrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableCrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableCrlRequest, EnableCrlResult>",
      "asyncReturnType" : "EnableCrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables a certificate revocation list (CRL). When enabled, certificates stored in the CRL are unauthorized to receive session credentials.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:EnableCrl</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableCrlRequest",
        "variableName" : "enableCrlRequest",
        "variableType" : "EnableCrlRequest",
        "documentation" : "",
        "simpleType" : "EnableCrlRequest",
        "variableSetterType" : "EnableCrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableCrl",
      "operationName" : "EnableCrl",
      "returnType" : {
        "returnType" : "EnableCrlResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableCrlResult"
    },
    "EnableProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableProfileRequest, EnableProfileResult>",
      "asyncReturnType" : "EnableProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the roles in a profile to receive session credentials in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a>. </p> <p> <b>Required permissions: </b> <code>rolesanywhere:EnableProfile</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableProfileRequest",
        "variableName" : "enableProfileRequest",
        "variableType" : "EnableProfileRequest",
        "documentation" : "",
        "simpleType" : "EnableProfileRequest",
        "variableSetterType" : "EnableProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableProfile",
      "operationName" : "EnableProfile",
      "returnType" : {
        "returnType" : "EnableProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableProfileResult"
    },
    "EnableTrustAnchor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableTrustAnchorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableTrustAnchorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableTrustAnchorRequest, EnableTrustAnchorResult>",
      "asyncReturnType" : "EnableTrustAnchorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables a trust anchor. When enabled, certificates in the trust anchor chain are authorized for trust validation. </p> <p> <b>Required permissions: </b> <code>rolesanywhere:EnableTrustAnchor</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableTrustAnchorRequest",
        "variableName" : "enableTrustAnchorRequest",
        "variableType" : "EnableTrustAnchorRequest",
        "documentation" : "",
        "simpleType" : "EnableTrustAnchorRequest",
        "variableSetterType" : "EnableTrustAnchorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableTrustAnchor",
      "operationName" : "EnableTrustAnchor",
      "returnType" : {
        "returnType" : "EnableTrustAnchorResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableTrustAnchorResult"
    },
    "GetCrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCrlRequest, GetCrlResult>",
      "asyncReturnType" : "GetCrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a certificate revocation list (CRL).</p> <p> <b>Required permissions: </b> <code>rolesanywhere:GetCrl</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCrlRequest",
        "variableName" : "getCrlRequest",
        "variableType" : "GetCrlRequest",
        "documentation" : "",
        "simpleType" : "GetCrlRequest",
        "variableSetterType" : "GetCrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCrl",
      "operationName" : "GetCrl",
      "returnType" : {
        "returnType" : "GetCrlResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCrlResult"
    },
    "GetProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProfileRequest, GetProfileResult>",
      "asyncReturnType" : "GetProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a profile.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:GetProfile</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProfileRequest",
        "variableName" : "getProfileRequest",
        "variableType" : "GetProfileRequest",
        "documentation" : "",
        "simpleType" : "GetProfileRequest",
        "variableSetterType" : "GetProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProfile",
      "operationName" : "GetProfile",
      "returnType" : {
        "returnType" : "GetProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProfileResult"
    },
    "GetSubject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSubjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSubjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSubjectRequest, GetSubjectResult>",
      "asyncReturnType" : "GetSubjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a Subject. A Subject associates a certificate identity with authentication attempts by CreateSession. The Subject resources stores audit information such as status of the last authentication attempt, the certificate data used in the attempt, and the last time the associated identity attempted authentication. </p> <p> <b>Required permissions: </b> <code>rolesanywhere:GetSubject</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSubjectRequest",
        "variableName" : "getSubjectRequest",
        "variableType" : "GetSubjectRequest",
        "documentation" : "",
        "simpleType" : "GetSubjectRequest",
        "variableSetterType" : "GetSubjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSubject",
      "operationName" : "GetSubject",
      "returnType" : {
        "returnType" : "GetSubjectResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSubjectResult"
    },
    "GetTrustAnchor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTrustAnchorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTrustAnchorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTrustAnchorRequest, GetTrustAnchorResult>",
      "asyncReturnType" : "GetTrustAnchorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a trust anchor.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:GetTrustAnchor</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTrustAnchorRequest",
        "variableName" : "getTrustAnchorRequest",
        "variableType" : "GetTrustAnchorRequest",
        "documentation" : "",
        "simpleType" : "GetTrustAnchorRequest",
        "variableSetterType" : "GetTrustAnchorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTrustAnchor",
      "operationName" : "GetTrustAnchor",
      "returnType" : {
        "returnType" : "GetTrustAnchorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTrustAnchorResult"
    },
    "ImportCrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportCrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportCrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportCrlRequest, ImportCrlResult>",
      "asyncReturnType" : "ImportCrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports the certificate revocation list (CRL). CRl is a list of certificates that have been revoked by the issuing certificate Authority (CA). IAM Roles Anywhere validates against the crl list before issuing credentials. </p> <p> <b>Required permissions: </b> <code>rolesanywhere:ImportCrl</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportCrlRequest",
        "variableName" : "importCrlRequest",
        "variableType" : "ImportCrlRequest",
        "documentation" : "",
        "simpleType" : "ImportCrlRequest",
        "variableSetterType" : "ImportCrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importCrl",
      "operationName" : "ImportCrl",
      "returnType" : {
        "returnType" : "ImportCrlResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportCrlResult"
    },
    "ListCrls" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCrlsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCrlsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCrlsRequest, ListCrlsResult>",
      "asyncReturnType" : "ListCrlsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Crls in the authenticated account and Amazon Web Services Region.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:ListCrls</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCrlsRequest",
        "variableName" : "listCrlsRequest",
        "variableType" : "ListCrlsRequest",
        "documentation" : "",
        "simpleType" : "ListCrlsRequest",
        "variableSetterType" : "ListCrlsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCrls",
      "operationName" : "ListCrls",
      "returnType" : {
        "returnType" : "ListCrlsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCrlsResult"
    },
    "ListProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfilesRequest, ListProfilesResult>",
      "asyncReturnType" : "ListProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all profiles in the authenticated account and Amazon Web Services Region.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:ListProfiles</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfilesRequest",
        "variableName" : "listProfilesRequest",
        "variableType" : "ListProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListProfilesRequest",
        "variableSetterType" : "ListProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfiles",
      "operationName" : "ListProfiles",
      "returnType" : {
        "returnType" : "ListProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProfilesResult"
    },
    "ListSubjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSubjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSubjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSubjectsRequest, ListSubjectsResult>",
      "asyncReturnType" : "ListSubjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the subjects in the authenticated account and Amazon Web Services Region.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:ListSubjects</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSubjectsRequest",
        "variableName" : "listSubjectsRequest",
        "variableType" : "ListSubjectsRequest",
        "documentation" : "",
        "simpleType" : "ListSubjectsRequest",
        "variableSetterType" : "ListSubjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSubjects",
      "operationName" : "ListSubjects",
      "returnType" : {
        "returnType" : "ListSubjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSubjectsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags attached to the resource.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:ListTagsForResource</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTrustAnchors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTrustAnchorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTrustAnchorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTrustAnchorsRequest, ListTrustAnchorsResult>",
      "asyncReturnType" : "ListTrustAnchorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the trust anchors in the authenticated account and Amazon Web Services Region.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:ListTrustAnchors</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTrustAnchorsRequest",
        "variableName" : "listTrustAnchorsRequest",
        "variableType" : "ListTrustAnchorsRequest",
        "documentation" : "",
        "simpleType" : "ListTrustAnchorsRequest",
        "variableSetterType" : "ListTrustAnchorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTrustAnchors",
      "operationName" : "ListTrustAnchors",
      "returnType" : {
        "returnType" : "ListTrustAnchorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTrustAnchorsResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches tags to a resource.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:TagResource</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>Too many tags.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from the resource.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:UntagResource</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateCrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCrlRequest, UpdateCrlResult>",
      "asyncReturnType" : "UpdateCrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the certificate revocation list (CRL). CRl is a list of certificates that have been revoked by the issuing certificate Authority (CA). IAM Roles Anywhere validates against the crl list before issuing credentials.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:UpdateCrl</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCrlRequest",
        "variableName" : "updateCrlRequest",
        "variableType" : "UpdateCrlRequest",
        "documentation" : "",
        "simpleType" : "UpdateCrlRequest",
        "variableSetterType" : "UpdateCrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCrl",
      "operationName" : "UpdateCrl",
      "returnType" : {
        "returnType" : "UpdateCrlResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCrlResult"
    },
    "UpdateProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProfileRequest, UpdateProfileResult>",
      "asyncReturnType" : "UpdateProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the profile. A profile is configuration resource to list the roles that RolesAnywhere service is trusted to assume. In addition, by applying a profile you can scope-down permissions with IAM managed policies.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:UpdateProfile</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProfileRequest",
        "variableName" : "updateProfileRequest",
        "variableType" : "UpdateProfileRequest",
        "documentation" : "",
        "simpleType" : "UpdateProfileRequest",
        "variableSetterType" : "UpdateProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProfile",
      "operationName" : "UpdateProfile",
      "returnType" : {
        "returnType" : "UpdateProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProfileResult"
    },
    "UpdateTrustAnchor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTrustAnchorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTrustAnchorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTrustAnchorRequest, UpdateTrustAnchorResult>",
      "asyncReturnType" : "UpdateTrustAnchorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the trust anchor.You establish trust between IAM Roles Anywhere and your certificate authority (CA) by configuring a trust anchor. A Trust Anchor is defined either as a reference to a AWS Certificate Manager Private Certificate Authority (ACM PCA), or by uploading a Certificate Authority (CA) certificate. Your AWS workloads can authenticate with the trust anchor using certificates issued by the trusted Certificate Authority (CA) in exchange for temporary AWS credentials.</p> <p> <b>Required permissions: </b> <code>rolesanywhere:UpdateTrustAnchor</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation exception error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTrustAnchorRequest",
        "variableName" : "updateTrustAnchorRequest",
        "variableType" : "UpdateTrustAnchorRequest",
        "documentation" : "",
        "simpleType" : "UpdateTrustAnchorRequest",
        "variableSetterType" : "UpdateTrustAnchorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTrustAnchor",
      "operationName" : "UpdateTrustAnchor",
      "returnType" : {
        "returnType" : "UpdateTrustAnchorResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTrustAnchorResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.iamrolesanywhere.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.iamrolesanywhere.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CreateProfileRequest" : {
      "c2jName" : "CreateProfileRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iamrolesanywhere.request.CreateProfileRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateProfile",
        "locationName" : null,
        "requestUri" : "/profiles",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "durationSeconds",
        "c2jShape" : "CreateProfileRequestDurationSecondsInteger",
        "deprecated" : false,
        "documentation" : "<p> The number of seconds the vended session credentials are valid for. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The number of seconds the vended session credentials are valid for. </p>\n@param durationSeconds The number of seconds the vended session credentials are valid for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDurationSeconds",
        "getterDocumentation" : "/**<p> The number of seconds the vended session credentials are valid for. </p>\n@return The number of seconds the vended session credentials are valid for.*/",
        "getterMethodName" : "getDurationSeconds",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "durationSeconds",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "durationSeconds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "DurationSeconds",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The number of seconds the vended session credentials are valid for. </p>\n@param durationSeconds The number of seconds the vended session credentials are valid for.*/",
        "setterMethodName" : "setDurationSeconds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "durationSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The number of seconds the vended session credentials are valid for. </p>\n@param durationSeconds The number of seconds the vended session credentials are valid for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "durationSeconds",
          "variableType" : "Integer",
          "documentation" : "<p> The number of seconds the vended session credentials are valid for. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "enabled",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>Specifies whether the profile is enabled.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies whether the profile is enabled.</p>\n@param enabled Specifies whether the profile is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnabled",
        "getterDocumentation" : "/**<p>Specifies whether the profile is enabled.</p>\n@return Specifies whether the profile is enabled.*/",
        "getterMethodName" : "getEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "enabled",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "enabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "Enabled",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies whether the profile is enabled.</p>\n@param enabled Specifies whether the profile is enabled.*/",
        "setterMethodName" : "setEnabled",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies whether the profile is enabled.</p>\n@param enabled Specifies whether the profile is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "<p>Specifies whether the profile is enabled.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "managedPolicyArns",
        "c2jShape" : "ManagedPolicyList",
        "deprecated" : false,
        "documentation" : "<p>A list of managed policy ARNs that apply to the vended session credentials. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of managed policy ARNs that apply to the vended session credentials. </p>\n@param managedPolicyArns A list of managed policy ARNs that apply to the vended session credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withManagedPolicyArns",
        "getterDocumentation" : "/**<p>A list of managed policy ARNs that apply to the vended session credentials. </p>\n@return A list of managed policy ARNs that apply to the vended session credentials.*/",
        "getterMethodName" : "getManagedPolicyArns",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "managedPolicyArns",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "managedPolicyArns",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ManagedPolicyListMemberString",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ManagedPolicyArns",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of managed policy ARNs that apply to the vended session credentials. </p>\n@param managedPolicyArns A list of managed policy ARNs that apply to the vended session credentials.*/",
        "setterMethodName" : "setManagedPolicyArns",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "managedPolicyArns",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of managed policy ARNs that apply to the vended session credentials. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setManagedPolicyArns(java.util.Collection)} or {@link #withManagedPolicyArns(java.util.Collection)} if you want to override the existing values.</p>\n@param managedPolicyArns A list of managed policy ARNs that apply to the vended session credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "managedPolicyArns",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of managed policy ARNs that apply to the vended session credentials. </p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "ResourceName",
        "deprecated" : false,
        "documentation" : "<p>The name of the profile.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the profile.</p>\n@param name The name of the profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the profile.</p>\n@return The name of the profile.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the profile.</p>\n@param name The name of the profile.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the profile.</p>\n@param name The name of the profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the profile.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "requireInstanceProperties",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>Specifies whether instance properties are required in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies whether instance properties are required in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile. </p>\n@param requireInstanceProperties Specifies whether instance properties are required in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequireInstanceProperties",
        "getterDocumentation" : "/**<p>Specifies whether instance properties are required in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile. </p>\n@return Specifies whether instance properties are required in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile.*/",
        "getterMethodName" : "getRequireInstanceProperties",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "requireInstanceProperties",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "requireInstanceProperties",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "RequireInstanceProperties",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies whether instance properties are required in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile. </p>\n@param requireInstanceProperties Specifies whether instance properties are required in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile.*/",
        "setterMethodName" : "setRequireInstanceProperties",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "requireInstanceProperties",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies whether instance properties are required in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile. </p>\n@param requireInstanceProperties Specifies whether instance properties are required in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "requireInstanceProperties",
          "variableType" : "Boolean",
          "documentation" : "<p>Specifies whether instance properties are required in <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> requests with this profile. </p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "roleArns",
        "c2jShape" : "RoleArnList",
        "deprecated" : false,
        "documentation" : "<p>A list of IAM roles that this profile can assume in a <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> operation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of IAM roles that this profile can assume in a <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> operation.</p>\n@param roleArns A list of IAM roles that this profile can assume in a <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArns",
        "getterDocumentation" : "/**<p>A list of IAM roles that this profile can assume in a <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> operation.</p>\n@return A list of IAM roles that this profile can assume in a <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> operation.*/",
        "getterMethodName" : "getRoleArns",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "roleArns",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "roleArns",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "RoleArn",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "RoleArns",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of IAM roles that this profile can assume in a <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> operation.</p>\n@param roleArns A list of IAM roles that this profile can assume in a <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> operation.*/",
        "setterMethodName" : "setRoleArns",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "roleArns",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of IAM roles that this profile can assume in a <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> operation.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRoleArns(java.util.Collection)} or {@link #withRoleArns(java.util.Collection)} if you want to override the existing values.</p>\n@param roleArns A list of IAM roles that this profile can assume in a <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "roleArns",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of IAM roles that this profile can assume in a <a href=\"https://docs.aws.amazon.com/rolesanywhere/latest/APIReference/API_CreateSession.html\">CreateSession</a> operation.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "sessionPolicy",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A session policy that applies to the trust boundary of the vended session credentials. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A session policy that applies to the trust boundary of the vended session credentials. </p>\n@param sessionPolicy A session policy that applies to the trust boundary of the vended session credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSessionPolicy",
        "getterDocumentation" : "/**<p>A session policy that applies to the trust boundary of the vended session credentials. </p>\n@return A session policy that applies to the trust boundary of the vended session credentials.*/",
        "getterMethodName" : "getSessionPolicy",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "sessionPolicy",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sessionPolicy",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SessionPolicy",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A session policy that applies to the trust boundary of the vended session credentials. </p>\n@param sessionPolicy A session policy that applies to the trust boundary of the vended session credentials.*/",
        "setterMethodName" : "setSessionPolicy",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sessionPolicy",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A session policy that applies to the trust boundary of the vended session credentials. </p>\n@param sessionPolicy A session policy that applies to the trust boundary of the vended session credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sessionPolicy",
          "variableType" : "String",
          "documentation" : "<p>A session policy that applies to the trust boundary of the vended session credentials. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The tags to attach to the profile.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags to attach to the profile.</p>\n@param tags The tags to attach to the profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags to attach to the profile.</p>\n@return The tags to attach to the profile.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The tags to attach to the profile.</p>\n@param tags The tags to attach to the profile.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags to attach to the profile.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags to attach to the profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The tags to attach to the profile.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DurationSeconds" : {
          "c2jName" : "durationSeconds",
          "c2jShape" : "CreateProfileRequestDurationSecondsInteger",
          "deprecated" : false,
          "documentation" : "<p> The number of seconds the vended session credentials are valid for. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The number of seconds the vended session credentials are valid for. </p>\n@param durationSeconds The number of seconds the vended session credentials are valid for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDurationSeconds",
          "getterDocumentation" : "/**<p> The number of seconds the vended session credentials are valid for. </p>\n@return The number of seconds the vended session credentials are valid for.*/",
          "getterMethodName" : "getDurationSeconds",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "durationSeconds",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "durationSeconds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "DurationSeconds",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The number of seconds the vended session credentials are valid for. </p>\n@param durationSeconds The number of seconds the vended session credentials are valid for.*/",
          "setterMethodName" : "setDurationSeconds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "durationSeconds",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The number of seconds the vended session credentials are valid for. </p>\n@param durationSeconds The number of seconds the vended session credentials are valid for.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "durationSeconds",
            "variableType" : "Integer",
            "documentation" : "<p> The number of seconds the vended session credentials are valid for. </p>",
            "simpleType" : "Integer",
[...]
