{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-04-01",
    "asyncClient" : "AmazonRoute53ResolverAsyncClient",
    "asyncClientBuilderClassName" : "AmazonRoute53ResolverAsyncClientBuilder",
    "asyncInterface" : "AmazonRoute53ResolverAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonRoute53ResolverModuleInjector",
    "defaultEndpoint" : "route53resolver.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "route53resolver.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Here's how you set up to query an Amazon Route 53 private hosted zone from your network:</p> <ol> <li> <p>Connect your network to a VPC using AWS Direct Connect or a VPN.</p> </li> <li> <p>Run the following AWS CLI command to create a Resolver endpoint:</p> <p> <code>create-resolver-endpoint --name [endpoint_name] --direction INBOUND --creator-request-id [unique_string] --security-group-ids [security_group_with_inbound_rules] --ip-addresses SubnetId=[subnet_id] SubnetId=[subnet_id_in_different_AZ]</code> </p> <p>Note the resolver endpoint ID that appears in the response. You'll use it in step 3.</p> </li> <li> <p>Get the IP addresses for the Resolver endpoints:</p> <p> <code>get-resolver-endpoint --resolver-endpoint-id [resolver_endpoint_id]</code> </p> </li> <li> <p>In your network configuration, define the IP addresses that you got in step 3 as DNS servers.</p> <p>You can now query instance names in your VPCs and the names of records in your private hosted zone.</p> </li> </ol> <p>You can also perform the following operations using the AWS CLI:</p> <ul> <li> <p> <code>list-resolver-endpoints</code>: List all endpoints. The syntax includes options for pagination and filtering.</p> </li> <li> <p> <code>update-resolver-endpoints</code>: Add IP addresses to an endpoint or remove IP addresses from an endpoint. </p> </li> </ul> <p>To delete an endpoint, use the following AWS CLI command:</p> <p> <code>delete-resolver-endpoint --resolver-endpoint-id [resolver_endpoint_id]</code> </p>",
    "endpointPrefix" : "route53resolver",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.route53resolver",
    "packagePath" : "com/amazonaws/services/route53resolver",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Route53Resolver",
    "serviceFullName" : "Amazon Route 53 Resolver",
    "serviceId" : "Route53Resolver",
    "serviceName" : "Route53Resolver",
    "signingName" : "route53resolver",
    "smokeTestsPackageName" : "com.amazonaws.services.route53resolver.smoketests",
    "syncClient" : "AmazonRoute53ResolverClient",
    "syncClientBuilderClassName" : "AmazonRoute53ResolverClientBuilder",
    "syncInterface" : "AmazonRoute53Resolver",
    "uid" : "route53resolver-2018-04-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateResolverEndpointIpAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResolverEndpointIpAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResolverEndpointIpAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResolverEndpointIpAddressRequest, AssociateResolverEndpointIpAddressResult>",
      "asyncReturnType" : "AssociateResolverEndpointIpAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds IP addresses to an inbound or an outbound resolver endpoint. If you want to adding more than one IP address, submit one <code>AssociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To remove an IP address from an endpoint, see <a>DisassociateResolverEndpointIpAddress</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResolverEndpointIpAddressRequest",
        "variableName" : "associateResolverEndpointIpAddressRequest",
        "variableType" : "AssociateResolverEndpointIpAddressRequest",
        "documentation" : "",
        "simpleType" : "AssociateResolverEndpointIpAddressRequest",
        "variableSetterType" : "AssociateResolverEndpointIpAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResolverEndpointIpAddress",
      "operationName" : "AssociateResolverEndpointIpAddress",
      "returnType" : {
        "returnType" : "AssociateResolverEndpointIpAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResolverEndpointIpAddressResult"
    },
    "AssociateResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResolverRuleRequest, AssociateResolverRuleResult>",
      "asyncReturnType" : "AssociateResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a resolver rule with a VPC. When you associate a rule with a VPC, Resolver forwards all DNS queries for the domain name that is specified in the rule and that originate in the VPC. The queries are forwarded to the IP addresses for the DNS resolvers that are specified in the rule. For more information about rules, see <a>CreateResolverRule</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResolverRuleRequest",
        "variableName" : "associateResolverRuleRequest",
        "variableType" : "AssociateResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "AssociateResolverRuleRequest",
        "variableSetterType" : "AssociateResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResolverRule",
      "operationName" : "AssociateResolverRule",
      "returnType" : {
        "returnType" : "AssociateResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResolverRuleResult"
    },
    "CreateResolverEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResolverEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResolverEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResolverEndpointRequest, CreateResolverEndpointResult>",
      "asyncReturnType" : "CreateResolverEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a resolver endpoint. There are two types of resolver endpoints, inbound and outbound:</p> <ul> <li> <p>An <i>inbound resolver endpoint</i> forwards DNS queries to the DNS service for a VPC from your network or another VPC.</p> </li> <li> <p>An <i>outbound resolver endpoint</i> forwards DNS queries from the DNS service for a VPC to your network or another VPC.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResolverEndpointRequest",
        "variableName" : "createResolverEndpointRequest",
        "variableType" : "CreateResolverEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateResolverEndpointRequest",
        "variableSetterType" : "CreateResolverEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResolverEndpoint",
      "operationName" : "CreateResolverEndpoint",
      "returnType" : {
        "returnType" : "CreateResolverEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResolverEndpointResult"
    },
    "CreateResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResolverRuleRequest, CreateResolverRuleResult>",
      "asyncReturnType" : "CreateResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For DNS queries that originate in your VPCs, specifies which resolver endpoint the queries pass through, one domain name that you want to forward to your network, and the IP addresses of the DNS resolvers in your network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResolverRuleRequest",
        "variableName" : "createResolverRuleRequest",
        "variableType" : "CreateResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "CreateResolverRuleRequest",
        "variableSetterType" : "CreateResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResolverRule",
      "operationName" : "CreateResolverRule",
      "returnType" : {
        "returnType" : "CreateResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResolverRuleResult"
    },
    "DeleteResolverEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResolverEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResolverEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResolverEndpointRequest, DeleteResolverEndpointResult>",
      "asyncReturnType" : "DeleteResolverEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a resolver endpoint. The effect of deleting a resolver endpoint depends on whether it's an inbound or an outbound resolver endpoint:</p> <ul> <li> <p> <b>Inbound</b>: DNS queries from your network or another VPC are no longer routed to the DNS service for the specified VPC.</p> </li> <li> <p> <b>Outbound</b>: DNS queries from a VPC are no longer routed to your network or to another VPC.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResolverEndpointRequest",
        "variableName" : "deleteResolverEndpointRequest",
        "variableType" : "DeleteResolverEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteResolverEndpointRequest",
        "variableSetterType" : "DeleteResolverEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResolverEndpoint",
      "operationName" : "DeleteResolverEndpoint",
      "returnType" : {
        "returnType" : "DeleteResolverEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResolverEndpointResult"
    },
    "DeleteResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResolverRuleRequest, DeleteResolverRuleResult>",
      "asyncReturnType" : "DeleteResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a resolver rule. Before you can delete a resolver rule, you must disassociate it from all the VPCs that you associated the resolver rule with. For more infomation, see <a>DisassociateResolverRule</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you tried to update or delete is currently in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResolverRuleRequest",
        "variableName" : "deleteResolverRuleRequest",
        "variableType" : "DeleteResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteResolverRuleRequest",
        "variableSetterType" : "DeleteResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResolverRule",
      "operationName" : "DeleteResolverRule",
      "returnType" : {
        "returnType" : "DeleteResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResolverRuleResult"
    },
    "DisassociateResolverEndpointIpAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResolverEndpointIpAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResolverEndpointIpAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResolverEndpointIpAddressRequest, DisassociateResolverEndpointIpAddressResult>",
      "asyncReturnType" : "DisassociateResolverEndpointIpAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes IP addresses from an inbound or an outbound resolver endpoint. If you want to remove more than one IP address, submit one <code>DisassociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To add an IP address to an endpoint, see <a>AssociateResolverEndpointIpAddress</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResolverEndpointIpAddressRequest",
        "variableName" : "disassociateResolverEndpointIpAddressRequest",
        "variableType" : "DisassociateResolverEndpointIpAddressRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResolverEndpointIpAddressRequest",
        "variableSetterType" : "DisassociateResolverEndpointIpAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResolverEndpointIpAddress",
      "operationName" : "DisassociateResolverEndpointIpAddress",
      "returnType" : {
        "returnType" : "DisassociateResolverEndpointIpAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResolverEndpointIpAddressResult"
    },
    "DisassociateResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResolverRuleRequest, DisassociateResolverRuleResult>",
      "asyncReturnType" : "DisassociateResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the association between a specified resolver rule and a specified VPC.</p> <important> <p>If you disassociate a resolver rule from a VPC, Resolver stops forwarding DNS queries for the domain name that you specified in the resolver rule. </p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResolverRuleRequest",
        "variableName" : "disassociateResolverRuleRequest",
        "variableType" : "DisassociateResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResolverRuleRequest",
        "variableSetterType" : "DisassociateResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResolverRule",
      "operationName" : "DisassociateResolverRule",
      "returnType" : {
        "returnType" : "DisassociateResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResolverRuleResult"
    },
    "GetResolverEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverEndpointRequest, GetResolverEndpointResult>",
      "asyncReturnType" : "GetResolverEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a specified resolver endpoint, such as whether it's an inbound or an outbound resolver endpoint, and the current status of the endpoint.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverEndpointRequest",
        "variableName" : "getResolverEndpointRequest",
        "variableType" : "GetResolverEndpointRequest",
        "documentation" : "",
        "simpleType" : "GetResolverEndpointRequest",
        "variableSetterType" : "GetResolverEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverEndpoint",
      "operationName" : "GetResolverEndpoint",
      "returnType" : {
        "returnType" : "GetResolverEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverEndpointResult"
    },
    "GetResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverRuleRequest, GetResolverRuleResult>",
      "asyncReturnType" : "GetResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a specified resolver rule, such as the domain name that the rule forwards DNS queries for and the ID of the outbound resolver endpoint that the rule is associated with.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverRuleRequest",
        "variableName" : "getResolverRuleRequest",
        "variableType" : "GetResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "GetResolverRuleRequest",
        "variableSetterType" : "GetResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverRule",
      "operationName" : "GetResolverRule",
      "returnType" : {
        "returnType" : "GetResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverRuleResult"
    },
    "GetResolverRuleAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverRuleAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverRuleAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverRuleAssociationRequest, GetResolverRuleAssociationResult>",
      "asyncReturnType" : "GetResolverRuleAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about an association between a specified resolver rule and a VPC. You associate a resolver rule and a VPC using <a>AssociateResolverRule</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverRuleAssociationRequest",
        "variableName" : "getResolverRuleAssociationRequest",
        "variableType" : "GetResolverRuleAssociationRequest",
        "documentation" : "",
        "simpleType" : "GetResolverRuleAssociationRequest",
        "variableSetterType" : "GetResolverRuleAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverRuleAssociation",
      "operationName" : "GetResolverRuleAssociation",
      "returnType" : {
        "returnType" : "GetResolverRuleAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverRuleAssociationResult"
    },
    "GetResolverRulePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverRulePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverRulePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverRulePolicyRequest, GetResolverRulePolicyResult>",
      "asyncReturnType" : "GetResolverRulePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a resolver rule policy. A resolver rule policy specifies the Resolver operations and resources that you want to allow another AWS account to be able to use. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverRulePolicyRequest",
        "variableName" : "getResolverRulePolicyRequest",
        "variableType" : "GetResolverRulePolicyRequest",
        "documentation" : "",
        "simpleType" : "GetResolverRulePolicyRequest",
        "variableSetterType" : "GetResolverRulePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverRulePolicy",
      "operationName" : "GetResolverRulePolicy",
      "returnType" : {
        "returnType" : "GetResolverRulePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverRulePolicyResult"
    },
    "ListResolverEndpointIpAddresses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolverEndpointIpAddressesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolverEndpointIpAddressesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolverEndpointIpAddressesRequest, ListResolverEndpointIpAddressesResult>",
      "asyncReturnType" : "ListResolverEndpointIpAddressesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the IP addresses for a specified resolver endpoint.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolverEndpointIpAddressesRequest",
        "variableName" : "listResolverEndpointIpAddressesRequest",
        "variableType" : "ListResolverEndpointIpAddressesRequest",
        "documentation" : "",
        "simpleType" : "ListResolverEndpointIpAddressesRequest",
        "variableSetterType" : "ListResolverEndpointIpAddressesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolverEndpointIpAddresses",
      "operationName" : "ListResolverEndpointIpAddresses",
      "returnType" : {
        "returnType" : "ListResolverEndpointIpAddressesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolverEndpointIpAddressesResult"
    },
    "ListResolverEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolverEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolverEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolverEndpointsRequest, ListResolverEndpointsResult>",
      "asyncReturnType" : "ListResolverEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the resolver endpoints that were created using the current AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolverEndpointsRequest",
        "variableName" : "listResolverEndpointsRequest",
        "variableType" : "ListResolverEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListResolverEndpointsRequest",
        "variableSetterType" : "ListResolverEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolverEndpoints",
      "operationName" : "ListResolverEndpoints",
      "returnType" : {
        "returnType" : "ListResolverEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolverEndpointsResult"
    },
    "ListResolverRuleAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolverRuleAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolverRuleAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolverRuleAssociationsRequest, ListResolverRuleAssociationsResult>",
      "asyncReturnType" : "ListResolverRuleAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the associations that were created between resolver rules and VPCs using the current AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolverRuleAssociationsRequest",
        "variableName" : "listResolverRuleAssociationsRequest",
        "variableType" : "ListResolverRuleAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListResolverRuleAssociationsRequest",
        "variableSetterType" : "ListResolverRuleAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolverRuleAssociations",
      "operationName" : "ListResolverRuleAssociations",
      "returnType" : {
        "returnType" : "ListResolverRuleAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolverRuleAssociationsResult"
    },
    "ListResolverRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolverRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolverRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolverRulesRequest, ListResolverRulesResult>",
      "asyncReturnType" : "ListResolverRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resolver rules that were created using the current AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolverRulesRequest",
        "variableName" : "listResolverRulesRequest",
        "variableType" : "ListResolverRulesRequest",
        "documentation" : "",
        "simpleType" : "ListResolverRulesRequest",
        "variableSetterType" : "ListResolverRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolverRules",
      "operationName" : "ListResolverRules",
      "returnType" : {
        "returnType" : "ListResolverRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolverRulesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags that you associated with the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutResolverRulePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResolverRulePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResolverRulePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResolverRulePolicyRequest, PutResolverRulePolicyResult>",
      "asyncReturnType" : "PutResolverRulePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies the Resolver operations and resources that you want to allow another AWS account to be able to use.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidPolicyDocumentException",
        "documentation" : "<p>The specified resolver rule policy is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutResolverRulePolicyRequest",
        "variableName" : "putResolverRulePolicyRequest",
        "variableType" : "PutResolverRulePolicyRequest",
        "documentation" : "",
        "simpleType" : "PutResolverRulePolicyRequest",
        "variableSetterType" : "PutResolverRulePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResolverRulePolicy",
      "operationName" : "PutResolverRulePolicy",
      "returnType" : {
        "returnType" : "PutResolverRulePolicyResult",
        "documentation" : "<p>The response to a <code>PutResolverRulePolicy</code> request.</p>"
      },
      "syncReturnType" : "PutResolverRulePolicyResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to a specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The specified tag is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from a specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateResolverEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResolverEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResolverEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResolverEndpointRequest, UpdateResolverEndpointResult>",
      "asyncReturnType" : "UpdateResolverEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the name of an inbound or an outbound resolver endpoint. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResolverEndpointRequest",
        "variableName" : "updateResolverEndpointRequest",
        "variableType" : "UpdateResolverEndpointRequest",
        "documentation" : "",
        "simpleType" : "UpdateResolverEndpointRequest",
        "variableSetterType" : "UpdateResolverEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResolverEndpoint",
      "operationName" : "UpdateResolverEndpoint",
      "returnType" : {
        "returnType" : "UpdateResolverEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResolverEndpointResult"
    },
    "UpdateResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResolverRuleRequest, UpdateResolverRuleResult>",
      "asyncReturnType" : "UpdateResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates settings for a specified resolver rule. <code>ResolverRuleId</code> is required, and all other parameters are optional. If you don't specify a parameter, it retains its current value.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResolverRuleRequest",
        "variableName" : "updateResolverRuleRequest",
        "variableType" : "UpdateResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "UpdateResolverRuleRequest",
        "variableSetterType" : "UpdateResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResolverRule",
      "operationName" : "UpdateResolverRule",
      "returnType" : {
        "returnType" : "UpdateResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResolverRuleResult"
    }
  },
  "shapes" : {
    "AssociateResolverEndpointIpAddressRequest" : {
      "c2jName" : "AssociateResolverEndpointIpAddressRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateResolverEndpointIpAddress",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Route53Resolver.AssociateResolverEndpointIpAddress",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ResolverEndpointId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>\n@param resolverEndpointId The ID of the resolver endpoint that you want to associate IP addresses with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResolverEndpointId",
        "getterDocumentation" : "/**<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>\n@return The ID of the resolver endpoint that you want to associate IP addresses with.*/",
        "getterMethodName" : "getResolverEndpointId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResolverEndpointId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResolverEndpointId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResolverEndpointId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>\n@param resolverEndpointId The ID of the resolver endpoint that you want to associate IP addresses with.*/",
        "setterMethodName" : "setResolverEndpointId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resolverEndpointId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>\n@param resolverEndpointId The ID of the resolver endpoint that you want to associate IP addresses with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resolverEndpointId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IpAddress",
        "c2jShape" : "IpAddressUpdate",
        "deprecated" : false,
        "documentation" : "<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>\n@param ipAddress Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIpAddress",
        "getterDocumentation" : "/**<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>\n@return Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.*/",
        "getterMethodName" : "getIpAddress",
        "getterModel" : {
          "returnType" : "IpAddressUpdate",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IpAddress",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IpAddress",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "IpAddress",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>\n@param ipAddress Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.*/",
        "setterMethodName" : "setIpAddress",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "IpAddressUpdate",
          "variableName" : "ipAddress",
          "variableType" : "IpAddressUpdate",
          "documentation" : "",
          "simpleType" : "IpAddressUpdate",
          "variableSetterType" : "IpAddressUpdate"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>\n@param ipAddress Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "IpAddressUpdate",
          "variableName" : "ipAddress",
          "variableType" : "IpAddressUpdate",
          "documentation" : "<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>",
          "simpleType" : "IpAddressUpdate",
          "variableSetterType" : "IpAddressUpdate"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IpAddress" : {
          "c2jName" : "IpAddress",
          "c2jShape" : "IpAddressUpdate",
          "deprecated" : false,
          "documentation" : "<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>\n@param ipAddress Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIpAddress",
          "getterDocumentation" : "/**<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>\n@return Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.*/",
          "getterMethodName" : "getIpAddress",
          "getterModel" : {
            "returnType" : "IpAddressUpdate",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IpAddress",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IpAddress",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "IpAddress",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>\n@param ipAddress Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.*/",
          "setterMethodName" : "setIpAddress",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "IpAddressUpdate",
            "variableName" : "ipAddress",
            "variableType" : "IpAddressUpdate",
            "documentation" : "",
            "simpleType" : "IpAddressUpdate",
            "variableSetterType" : "IpAddressUpdate"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>\n@param ipAddress Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "IpAddressUpdate",
            "variableName" : "ipAddress",
            "variableType" : "IpAddressUpdate",
            "documentation" : "<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>",
            "simpleType" : "IpAddressUpdate",
            "variableSetterType" : "IpAddressUpdate"
          },
          "xmlNameSpaceUri" : null
        },
        "ResolverEndpointId" : {
          "c2jName" : "ResolverEndpointId",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>\n@param resolverEndpointId The ID of the resolver endpoint that you want to associate IP addresses with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResolverEndpointId",
          "getterDocumentation" : "/**<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>\n@return The ID of the resolver endpoint that you want to associate IP addresses with.*/",
          "getterMethodName" : "getResolverEndpointId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResolverEndpointId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResolverEndpointId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResolverEndpointId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>\n@param resolverEndpointId The ID of the resolver endpoint that you want to associate IP addresses with.*/",
          "setterMethodName" : "setResolverEndpointId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resolverEndpointId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>\n@param resolverEndpointId The ID of the resolver endpoint that you want to associate IP addresses with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resolverEndpointId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ResolverEndpointId", "IpAddress" ],
      "shapeName" : "AssociateResolverEndpointIpAddressRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResolverEndpointIpAddressRequest",
        "variableName" : "associateResolverEndpointIpAddressRequest",
        "variableType" : "AssociateResolverEndpointIpAddressRequest",
        "documentation" : null,
        "simpleType" : "AssociateResolverEndpointIpAddressRequest",
        "variableSetterType" : "AssociateResolverEndpointIpAddressRequest"
      },
      "wrapper" : false
    },
    "AssociateResolverEndpointIpAddressResult" : {
      "c2jName" : "AssociateResolverEndpointIpAddressResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ResolverEndpoint",
        "c2jShape" : "ResolverEndpoint",
        "deprecated" : false,
        "documentation" : "<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>\n@param resolverEndpoint The response to an <code>AssociateResolverEndpointIpAddress</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResolverEndpoint",
        "getterDocumentation" : "/**<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>\n@return The response to an <code>AssociateResolverEndpointIpAddress</code> request.*/",
        "getterMethodName" : "getResolverEndpoint",
        "getterModel" : {
          "returnType" : "ResolverEndpoint",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResolverEndpoint",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResolverEndpoint",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ResolverEndpoint",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>\n@param resolverEndpoint The response to an <code>AssociateResolverEndpointIpAddress</code> request.*/",
        "setterMethodName" : "setResolverEndpoint",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ResolverEndpoint",
          "variableName" : "resolverEndpoint",
          "variableType" : "ResolverEndpoint",
          "documentation" : "",
          "simpleType" : "ResolverEndpoint",
          "variableSetterType" : "ResolverEndpoint"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>\n@param resolverEndpoint The response to an <code>AssociateResolverEndpointIpAddress</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ResolverEndpoint",
          "variableName" : "resolverEndpoint",
          "variableType" : "ResolverEndpoint",
          "documentation" : "<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>",
          "simpleType" : "ResolverEndpoint",
          "variableSetterType" : "ResolverEndpoint"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResolverEndpoint" : {
          "c2jName" : "ResolverEndpoint",
          "c2jShape" : "ResolverEndpoint",
          "deprecated" : false,
          "documentation" : "<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>\n@param resolverEndpoint The response to an <code>AssociateResolverEndpointIpAddress</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResolverEndpoint",
          "getterDocumentation" : "/**<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>\n@return The response to an <code>AssociateResolverEndpointIpAddress</code> request.*/",
          "getterMethodName" : "getResolverEndpoint",
          "getterModel" : {
            "returnType" : "ResolverEndpoint",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResolverEndpoint",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResolverEndpoint",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ResolverEndpoint",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>\n@param resolverEndpoint The response to an <code>AssociateResolverEndpointIpAddress</code> request.*/",
          "setterMethodName" : "setResolverEndpoint",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ResolverEndpoint",
            "variableName" : "resolverEndpoint",
            "variableType" : "ResolverEndpoint",
            "documentation" : "",
            "simpleType" : "ResolverEndpoint",
            "variableSetterType" : "ResolverEndpoint"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>\n@param resolverEndpoint The response to an <code>AssociateResolverEndpointIpAddress</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ResolverEndpoint",
            "variableName" : "resolverEndpoint",
            "variableType" : "ResolverEndpoint",
            "documentation" : "<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>",
            "simpleType" : "ResolverEndpoint",
            "variableSetterType" : "ResolverEndpoint"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateResolverEndpointIpAddressResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResolverEndpointIpAddressResult",
        "variableName" : "associateResolverEndpointIpAddressResult",
        "variableType" : "AssociateResolverEndpointIpAddressResult",
        "documentation" : null,
        "simpleType" : "AssociateResolverEndpointIpAddressResult",
        "variableSetterType" : "AssociateResolverEndpointIpAddressResult"
      },
      "wrapper" : false
    },
    "AssociateResolverRuleRequest" : {
      "c2jName" : "AssociateResolverRuleRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateResolverRule",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Route53Resolver.AssociateResolverRule",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ResolverRuleId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.</p>\n@param resolverRuleId The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResolverRuleId",
        "getterDocumentation" : "/**<p>The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.</p>\n@return The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.*/",
        "getterMethodName" : "getResolverRuleId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResolverRuleId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResolverRuleId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResolverRuleId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.</p>\n@param resolverRuleId The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.*/",
        "setterMethodName" : "setResolverRuleId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resolverRuleId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.</p>\n@param resolverRuleId The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resolverRuleId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p>A name for the association that you're creating between a resolver rule and a VPC.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A name for the association that you're creating between a resolver rule and a VPC.</p>\n@param name A name for the association that you're creating between a resolver rule and a VPC.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>A name for the association that you're creating between a resolver rule and a VPC.</p>\n@return A name for the association that you're creating between a resolver rule and a VPC.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A name for the association that you're creating between a resolver rule and a VPC.</p>\n@param name A name for the association that you're creating between a resolver rule and a VPC.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A name for the association that you're creating between a resolver rule and a VPC.</p>\n@param name A name for the association that you're creating between a resolver rule and a VPC.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>A name for the association that you're creating between a resolver rule and a VPC.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "VPCId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the VPC that you want to associate the resolver rule with.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the VPC that you want to associate the resolver rule with.</p>\n@param vPCId The ID of the VPC that you want to associate the resolver rule with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVPCId",
        "getterDocumentation" : "/**<p>The ID of the VPC that you want to associate the resolver rule with.</p>\n@return The ID of the VPC that you want to associate the resolver rule with.*/",
        "getterMethodName" : "getVPCId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "VPCId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "VPCId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VPCId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the VPC that you want to associate the resolver rule with.</p>\n@param vPCId The ID of the VPC that you want to associate the resolver rule with.*/",
        "setterMethodName" : "setVPCId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vPCId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the VPC that you want to associate the resolver rule with.</p>\n@param vPCId The ID of the VPC that you want to associate the resolver rule with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vPCId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the VPC that you want to associate the resolver rule with.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "Name",
          "deprecated" : false,
          "documentation" : "<p>A name for the association that you're creating between a resolver rule and a VPC.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A name for the association that you're creating between a resolver rule and a VPC.</p>\n@param name A name for the association that you're creating between a resolver rule and a VPC.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>A name for the association that you're creating between a resolver rule and a VPC.</p>\n@return A name for the association that you're creating between a resolver rule and a VPC.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
[...]
