{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-11-02",
    "asyncClient" : "AWSRoute53RecoveryControlConfigAsyncClient",
    "asyncClientBuilderClassName" : "AWSRoute53RecoveryControlConfigAsyncClientBuilder",
    "asyncInterface" : "AWSRoute53RecoveryControlConfigAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSRoute53RecoveryControlConfigModuleInjector",
    "defaultEndpoint" : "route53-recovery-control-config.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "route53-recovery-control-config.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Recovery Control Configuration API Reference for Amazon Route 53 Application Recovery Controller</p>",
    "endpointPrefix" : "route53-recovery-control-config",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.route53recoverycontrolconfig",
    "packagePath" : "com/amazonaws/services/route53recoverycontrolconfig",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Route53 Recovery Control Config",
    "serviceId" : "Route53 Recovery Control Config",
    "serviceName" : "AWS Route53 Recovery Control Config",
    "signingName" : "route53-recovery-control-config",
    "smokeTestsPackageName" : "com.amazonaws.services.route53recoverycontrolconfig.smoketests",
    "syncClient" : "AWSRoute53RecoveryControlConfigClient",
    "syncClientBuilderClassName" : "AWSRoute53RecoveryControlConfigClientBuilder",
    "syncInterface" : "AWSRoute53RecoveryControlConfig",
    "uid" : "route53-recovery-control-config-2020-11-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterRequest, CreateClusterResult>",
      "asyncReturnType" : "CreateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new cluster. A cluster is a set of redundant Regional endpoints against which you can run API calls to update or get the state of one or more routing controls. Each cluster has a name, status, Amazon Resource Name (ARN), and an array of the five cluster endpoints (one for each supported Amazon Web Services Region) that you can use with API calls to the cluster data plane.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>402 response</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateClusterRequest",
        "variableName" : "createClusterRequest",
        "variableType" : "CreateClusterRequest",
        "documentation" : "<p>Creates a cluster.</p>",
        "simpleType" : "CreateClusterRequest",
        "variableSetterType" : "CreateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCluster",
      "operationName" : "CreateCluster",
      "returnType" : {
        "returnType" : "CreateClusterResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "CreateClusterResult"
    },
    "CreateControlPanel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateControlPanelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateControlPanelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateControlPanelRequest, CreateControlPanelResult>",
      "asyncReturnType" : "CreateControlPanelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new control panel. A control panel represents a group of routing controls that can be changed together in a single transaction. You can use a control panel to centrally view the operational status of applications across your organization, and trigger multi-app failovers in a single transaction, for example, to fail over an Availability Zone or Amazon Web Services Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>402 response</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateControlPanelRequest",
        "variableName" : "createControlPanelRequest",
        "variableType" : "CreateControlPanelRequest",
        "documentation" : "<p>The details of the control panel that you're creating.</p>",
        "simpleType" : "CreateControlPanelRequest",
        "variableSetterType" : "CreateControlPanelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createControlPanel",
      "operationName" : "CreateControlPanel",
      "returnType" : {
        "returnType" : "CreateControlPanelResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "CreateControlPanelResult"
    },
    "CreateRoutingControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRoutingControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRoutingControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRoutingControlRequest, CreateRoutingControlResult>",
      "asyncReturnType" : "CreateRoutingControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new routing control.</p> <p>A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control traffic routing.</p> <p>To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>402 response</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRoutingControlRequest",
        "variableName" : "createRoutingControlRequest",
        "variableType" : "CreateRoutingControlRequest",
        "documentation" : "<p>The details of the routing control that you're creating.</p>",
        "simpleType" : "CreateRoutingControlRequest",
        "variableSetterType" : "CreateRoutingControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRoutingControl",
      "operationName" : "CreateRoutingControl",
      "returnType" : {
        "returnType" : "CreateRoutingControlResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "CreateRoutingControlResult"
    },
    "CreateSafetyRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSafetyRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSafetyRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSafetyRuleRequest, CreateSafetyRuleResult>",
      "asyncReturnType" : "CreateSafetyRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a safety rule in a control panel. Safety rules let you add safeguards around changing routing control states, and for enabling and disabling routing controls, to help prevent unexpected outcomes.</p> <p>There are two types of safety rules: assertion rules and gating rules.</p> <p>Assertion rule: An assertion rule enforces that, when you change a routing control state, that a certain criteria is met. For example, the criteria might be that at least one routing control state is On after the transation so that traffic continues to flow to at least one cell for the application. This ensures that you avoid a fail-open scenario.</p> <p>Gating rule: A gating rule lets you configure a gating routing control as an overall \"on/off\" switch for a group of routing controls. Or, you can configure more complex gating scenarios, for example by configuring multiple gating routing controls.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.safety-rules.html\">Safety rules</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSafetyRuleRequest",
        "variableName" : "createSafetyRuleRequest",
        "variableType" : "CreateSafetyRuleRequest",
        "documentation" : "<p>The request body that you include when you create a safety rule.</p>",
        "simpleType" : "CreateSafetyRuleRequest",
        "variableSetterType" : "CreateSafetyRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSafetyRule",
      "operationName" : "CreateSafetyRule",
      "returnType" : {
        "returnType" : "CreateSafetyRuleResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "CreateSafetyRuleResult"
    },
    "DeleteCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteClusterRequest, DeleteClusterResult>",
      "asyncReturnType" : "DeleteClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteClusterRequest",
        "variableName" : "deleteClusterRequest",
        "variableType" : "DeleteClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteClusterRequest",
        "variableSetterType" : "DeleteClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCluster",
      "operationName" : "DeleteCluster",
      "returnType" : {
        "returnType" : "DeleteClusterResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "DeleteClusterResult"
    },
    "DeleteControlPanel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteControlPanelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteControlPanelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteControlPanelRequest, DeleteControlPanelResult>",
      "asyncReturnType" : "DeleteControlPanelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a control panel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteControlPanelRequest",
        "variableName" : "deleteControlPanelRequest",
        "variableType" : "DeleteControlPanelRequest",
        "documentation" : "",
        "simpleType" : "DeleteControlPanelRequest",
        "variableSetterType" : "DeleteControlPanelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteControlPanel",
      "operationName" : "DeleteControlPanel",
      "returnType" : {
        "returnType" : "DeleteControlPanelResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "DeleteControlPanelResult"
    },
    "DeleteRoutingControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRoutingControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRoutingControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRoutingControlRequest, DeleteRoutingControlResult>",
      "asyncReturnType" : "DeleteRoutingControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a routing control.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRoutingControlRequest",
        "variableName" : "deleteRoutingControlRequest",
        "variableType" : "DeleteRoutingControlRequest",
        "documentation" : "",
        "simpleType" : "DeleteRoutingControlRequest",
        "variableSetterType" : "DeleteRoutingControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRoutingControl",
      "operationName" : "DeleteRoutingControl",
      "returnType" : {
        "returnType" : "DeleteRoutingControlResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "DeleteRoutingControlResult"
    },
    "DeleteSafetyRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSafetyRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSafetyRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSafetyRuleRequest, DeleteSafetyRuleResult>",
      "asyncReturnType" : "DeleteSafetyRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a safety rule.</p>/&gt;",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSafetyRuleRequest",
        "variableName" : "deleteSafetyRuleRequest",
        "variableType" : "DeleteSafetyRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteSafetyRuleRequest",
        "variableSetterType" : "DeleteSafetyRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSafetyRule",
      "operationName" : "DeleteSafetyRule",
      "returnType" : {
        "returnType" : "DeleteSafetyRuleResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "DeleteSafetyRuleResult"
    },
    "DescribeCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterRequest, DescribeClusterResult>",
      "asyncReturnType" : "DescribeClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Display the details about a cluster. The response includes the cluster name, endpoints, status, and Amazon Resource Name (ARN).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClusterRequest",
        "variableName" : "describeClusterRequest",
        "variableType" : "DescribeClusterRequest",
        "documentation" : "",
        "simpleType" : "DescribeClusterRequest",
        "variableSetterType" : "DescribeClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCluster",
      "operationName" : "DescribeCluster",
      "returnType" : {
        "returnType" : "DescribeClusterResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "DescribeClusterResult"
    },
    "DescribeControlPanel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeControlPanelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeControlPanelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeControlPanelRequest, DescribeControlPanelResult>",
      "asyncReturnType" : "DescribeControlPanelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays details about a control panel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeControlPanelRequest",
        "variableName" : "describeControlPanelRequest",
        "variableType" : "DescribeControlPanelRequest",
        "documentation" : "",
        "simpleType" : "DescribeControlPanelRequest",
        "variableSetterType" : "DescribeControlPanelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeControlPanel",
      "operationName" : "DescribeControlPanel",
      "returnType" : {
        "returnType" : "DescribeControlPanelResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "DescribeControlPanelResult"
    },
    "DescribeRoutingControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRoutingControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRoutingControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRoutingControlRequest, DescribeRoutingControlResult>",
      "asyncReturnType" : "DescribeRoutingControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays details about a routing control. A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control routing.</p> <p>To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRoutingControlRequest",
        "variableName" : "describeRoutingControlRequest",
        "variableType" : "DescribeRoutingControlRequest",
        "documentation" : "",
        "simpleType" : "DescribeRoutingControlRequest",
        "variableSetterType" : "DescribeRoutingControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRoutingControl",
      "operationName" : "DescribeRoutingControl",
      "returnType" : {
        "returnType" : "DescribeRoutingControlResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "DescribeRoutingControlResult"
    },
    "DescribeSafetyRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSafetyRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSafetyRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSafetyRuleRequest, DescribeSafetyRuleResult>",
      "asyncReturnType" : "DescribeSafetyRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a safety rule.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSafetyRuleRequest",
        "variableName" : "describeSafetyRuleRequest",
        "variableType" : "DescribeSafetyRuleRequest",
        "documentation" : "",
        "simpleType" : "DescribeSafetyRuleRequest",
        "variableSetterType" : "DescribeSafetyRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSafetyRule",
      "operationName" : "DescribeSafetyRule",
      "returnType" : {
        "returnType" : "DescribeSafetyRuleResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "DescribeSafetyRuleResult"
    },
    "ListAssociatedRoute53HealthChecks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociatedRoute53HealthChecksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociatedRoute53HealthChecksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociatedRoute53HealthChecksRequest, ListAssociatedRoute53HealthChecksResult>",
      "asyncReturnType" : "ListAssociatedRoute53HealthChecksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of all Amazon Route 53 health checks associated with a specific routing control.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssociatedRoute53HealthChecksRequest",
        "variableName" : "listAssociatedRoute53HealthChecksRequest",
        "variableType" : "ListAssociatedRoute53HealthChecksRequest",
        "documentation" : "",
        "simpleType" : "ListAssociatedRoute53HealthChecksRequest",
        "variableSetterType" : "ListAssociatedRoute53HealthChecksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociatedRoute53HealthChecks",
      "operationName" : "ListAssociatedRoute53HealthChecks",
      "returnType" : {
        "returnType" : "ListAssociatedRoute53HealthChecksResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListAssociatedRoute53HealthChecksResult"
    },
    "ListClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClustersRequest, ListClustersResult>",
      "asyncReturnType" : "ListClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of all the clusters in an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListClustersRequest",
        "variableName" : "listClustersRequest",
        "variableType" : "ListClustersRequest",
        "documentation" : "",
        "simpleType" : "ListClustersRequest",
        "variableSetterType" : "ListClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClusters",
      "operationName" : "ListClusters",
      "returnType" : {
        "returnType" : "ListClustersResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListClustersResult"
    },
    "ListControlPanels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListControlPanelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListControlPanelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListControlPanelsRequest, ListControlPanelsResult>",
      "asyncReturnType" : "ListControlPanelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of control panels in an account or in a cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListControlPanelsRequest",
        "variableName" : "listControlPanelsRequest",
        "variableType" : "ListControlPanelsRequest",
        "documentation" : "",
        "simpleType" : "ListControlPanelsRequest",
        "variableSetterType" : "ListControlPanelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listControlPanels",
      "operationName" : "ListControlPanels",
      "returnType" : {
        "returnType" : "ListControlPanelsResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListControlPanelsResult"
    },
    "ListRoutingControls" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRoutingControlsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRoutingControlsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRoutingControlsRequest, ListRoutingControlsResult>",
      "asyncReturnType" : "ListRoutingControlsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of routing controls for a control panel. A routing control is an Amazon Route 53 Application Recovery Controller construct that has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control routing.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRoutingControlsRequest",
        "variableName" : "listRoutingControlsRequest",
        "variableType" : "ListRoutingControlsRequest",
        "documentation" : "",
        "simpleType" : "ListRoutingControlsRequest",
        "variableSetterType" : "ListRoutingControlsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRoutingControls",
      "operationName" : "ListRoutingControls",
      "returnType" : {
        "returnType" : "ListRoutingControlsResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListRoutingControlsResult"
    },
    "ListSafetyRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSafetyRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSafetyRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSafetyRulesRequest, ListSafetyRulesResult>",
      "asyncReturnType" : "ListSafetyRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the safety rules (the assertion rules and gating rules) that you've defined for the routing controls in a control panel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSafetyRulesRequest",
        "variableName" : "listSafetyRulesRequest",
        "variableType" : "ListSafetyRulesRequest",
        "documentation" : "",
        "simpleType" : "ListSafetyRulesRequest",
        "variableSetterType" : "ListSafetyRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSafetyRules",
      "operationName" : "ListSafetyRules",
      "returnType" : {
        "returnType" : "ListSafetyRulesResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListSafetyRulesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a tag to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "<p>Request of adding tag to the resource</p>",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateControlPanel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateControlPanelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateControlPanelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateControlPanelRequest, UpdateControlPanelResult>",
      "asyncReturnType" : "UpdateControlPanelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a control panel. The only update you can make to a control panel is to change the name of the control panel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateControlPanelRequest",
        "variableName" : "updateControlPanelRequest",
        "variableType" : "UpdateControlPanelRequest",
        "documentation" : "<p>The details of the control panel that you're updating.</p>",
        "simpleType" : "UpdateControlPanelRequest",
        "variableSetterType" : "UpdateControlPanelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateControlPanel",
      "operationName" : "UpdateControlPanel",
      "returnType" : {
        "returnType" : "UpdateControlPanelResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "UpdateControlPanelResult"
    },
    "UpdateRoutingControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRoutingControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRoutingControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRoutingControlRequest, UpdateRoutingControlResult>",
      "asyncReturnType" : "UpdateRoutingControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a routing control. You can only update the name of the routing control. To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRoutingControlRequest",
        "variableName" : "updateRoutingControlRequest",
        "variableType" : "UpdateRoutingControlRequest",
        "documentation" : "<p>The details of the routing control that you're updating.</p>",
        "simpleType" : "UpdateRoutingControlRequest",
        "variableSetterType" : "UpdateRoutingControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRoutingControl",
      "operationName" : "UpdateRoutingControl",
      "returnType" : {
        "returnType" : "UpdateRoutingControlResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "UpdateRoutingControlResult"
    },
    "UpdateSafetyRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSafetyRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSafetyRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSafetyRuleRequest, UpdateSafetyRuleResult>",
      "asyncReturnType" : "UpdateSafetyRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a safety rule (an assertion rule or gating rule). You can only update the name and the waiting period for a safety rule. To make other updates, delete the safety rule and create a new one.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSafetyRuleRequest",
        "variableName" : "updateSafetyRuleRequest",
        "variableType" : "UpdateSafetyRuleRequest",
        "documentation" : "<p>A rule that you add to Application Recovery Controller to ensure that recovery actions don't accidentally impair your application's availability.</p>",
        "simpleType" : "UpdateSafetyRuleRequest",
        "variableSetterType" : "UpdateSafetyRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSafetyRule",
      "operationName" : "UpdateSafetyRule",
      "returnType" : {
        "returnType" : "UpdateSafetyRuleResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "UpdateSafetyRuleResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>403 response - You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.route53recoverycontrolconfig.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.route53recoverycontrolconfig.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssertionRule" : {
      "c2jName" : "AssertionRule",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An assertion rule enforces that, when you change a routing control state, that the criteria that you set in the rule configuration is met. Otherwise, the change to the routing control is not accepted. For example, the criteria might be that at least one routing control state is On after the transation so that traffic continues to flow to at least one cell for the application. This ensures that you avoid a fail-open scenario.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.route53recoverycontrolconfig.model.AssertionRule",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AssertedControls",
        "c2jShape" : "__listOf__stringMin1Max256PatternAZaZ09",
        "deprecated" : false,
        "documentation" : "<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>\n@param assertedControls The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAssertedControls",
        "getterDocumentation" : "/**<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>\n@return The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.*/",
        "getterMethodName" : "getAssertedControls",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AssertedControls",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AssertedControls",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__stringMin1Max256PatternAZaZ09",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "AssertedControls",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>\n@param assertedControls The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.*/",
        "setterMethodName" : "setAssertedControls",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "assertedControls",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAssertedControls(java.util.Collection)} or {@link #withAssertedControls(java.util.Collection)} if you want to override the existing values.</p>\n@param assertedControls The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "assertedControls",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ControlPanelArn",
        "c2jShape" : "__stringMin1Max256PatternAZaZ09",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the control panel.</p>\n@param controlPanelArn The Amazon Resource Name (ARN) of the control panel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withControlPanelArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the control panel.</p>\n@return The Amazon Resource Name (ARN) of the control panel.*/",
        "getterMethodName" : "getControlPanelArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ControlPanelArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ControlPanelArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ControlPanelArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the control panel.</p>\n@param controlPanelArn The Amazon Resource Name (ARN) of the control panel.*/",
        "setterMethodName" : "setControlPanelArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "controlPanelArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the control panel.</p>\n@param controlPanelArn The Amazon Resource Name (ARN) of the control panel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "controlPanelArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "__stringMin1Max64PatternS",
        "deprecated" : false,
        "documentation" : "<p>Name of the assertion rule. You can use any non-white space character in the name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the assertion rule. You can use any non-white space character in the name.</p>\n@param name Name of the assertion rule. You can use any non-white space character in the name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>Name of the assertion rule. You can use any non-white space character in the name.</p>\n@return Name of the assertion rule. You can use any non-white space character in the name.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Name of the assertion rule. You can use any non-white space character in the name.</p>\n@param name Name of the assertion rule. You can use any non-white space character in the name.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Name of the assertion rule. You can use any non-white space character in the name.</p>\n@param name Name of the assertion rule. You can use any non-white space character in the name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>Name of the assertion rule. You can use any non-white space character in the name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RuleConfig",
        "c2jShape" : "RuleConfig",
        "deprecated" : false,
        "documentation" : "<p>The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.</p>\n@param ruleConfig The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRuleConfig",
        "getterDocumentation" : "/**<p>The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.</p>\n@return The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.*/",
        "getterMethodName" : "getRuleConfig",
        "getterModel" : {
          "returnType" : "RuleConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RuleConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RuleConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "RuleConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.</p>\n@param ruleConfig The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.*/",
        "setterMethodName" : "setRuleConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RuleConfig",
          "variableName" : "ruleConfig",
          "variableType" : "RuleConfig",
          "documentation" : "",
          "simpleType" : "RuleConfig",
          "variableSetterType" : "RuleConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.</p>\n@param ruleConfig The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RuleConfig",
          "variableName" : "ruleConfig",
          "variableType" : "RuleConfig",
          "documentation" : "<p>The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.</p>",
          "simpleType" : "RuleConfig",
          "variableSetterType" : "RuleConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SafetyRuleArn",
        "c2jShape" : "__stringMin1Max256PatternAZaZ09",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the assertion rule.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the assertion rule.</p>\n@param safetyRuleArn The Amazon Resource Name (ARN) of the assertion rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSafetyRuleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the assertion rule.</p>\n@return The Amazon Resource Name (ARN) of the assertion rule.*/",
        "getterMethodName" : "getSafetyRuleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SafetyRuleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SafetyRuleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SafetyRuleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the assertion rule.</p>\n@param safetyRuleArn The Amazon Resource Name (ARN) of the assertion rule.*/",
        "setterMethodName" : "setSafetyRuleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "safetyRuleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the assertion rule.</p>\n@param safetyRuleArn The Amazon Resource Name (ARN) of the assertion rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "safetyRuleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the assertion rule.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "Status",
        "deprecated" : false,
        "documentation" : "<p>The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "Status",
        "fluentSetterDocumentation" : "/**<p>The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>\n@param status The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Status*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>\n@return The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.\n@see Status*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>\n@param status The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.\n@see Status*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>\n@param status The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Status*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "WaitPeriodMs",
        "c2jShape" : "__integer",
        "deprecated" : false,
        "documentation" : "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
[...]
