{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "ListDomains" : {
        "methodForms" : [ [ ] ]
      },
      "ListOperations" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2014-05-15",
    "asyncClient" : "AmazonRoute53DomainsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonRoute53DomainsAsyncClientBuilder",
    "asyncInterface" : "AmazonRoute53DomainsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonRoute53DomainsModuleInjector",
    "defaultEndpoint" : "https://route53domains.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "route53domains.us-east-1.amazonaws.com",
    "documentation" : null,
    "endpointPrefix" : "route53domains",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.route53domains",
    "packagePath" : "com/amazonaws/services/route53domains",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Route 53 Domains",
    "serviceName" : "Amazon Route 53 Domains",
    "signingName" : "route53domains",
    "smokeTestsPackageName" : "com.amazonaws.services.route53domains.smoketests",
    "syncClient" : "AmazonRoute53DomainsClient",
    "syncClientBuilderClassName" : "AmazonRoute53DomainsClientBuilder",
    "syncInterface" : "AmazonRoute53Domains",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CheckDomainAvailability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CheckDomainAvailabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CheckDomainAvailabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckDomainAvailabilityRequest, CheckDomainAvailabilityResult>",
      "asyncReturnType" : "CheckDomainAvailabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation checks the availability of one domain name. Note that if the availability status of a domain is pending, you must submit another request to determine the availability of the domain name.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CheckDomainAvailabilityRequest",
        "variableName" : "checkDomainAvailabilityRequest",
        "variableType" : "CheckDomainAvailabilityRequest",
        "documentation" : "<p>The CheckDomainAvailability request contains the following elements.</p>",
        "simpleType" : "CheckDomainAvailabilityRequest",
        "variableSetterType" : "CheckDomainAvailabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "checkDomainAvailability",
      "operationName" : "CheckDomainAvailability",
      "returnType" : {
        "returnType" : "CheckDomainAvailabilityResult",
        "documentation" : "<p>The CheckDomainAvailability response includes the following elements.</p>"
      },
      "syncReturnType" : "CheckDomainAvailabilityResult"
    },
    "DeleteTagsForDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsForDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsForDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsForDomainRequest, DeleteTagsForDomainResult>",
      "asyncReturnType" : "DeleteTagsForDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation deletes the specified tags for a domain.</p> <p>All tag operations are eventually consistent; subsequent operations may not immediately represent all issued operations.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTagsForDomainRequest",
        "variableName" : "deleteTagsForDomainRequest",
        "variableType" : "DeleteTagsForDomainRequest",
        "documentation" : "<p>The DeleteTagsForDomainRequest includes the following elements.</p>",
        "simpleType" : "DeleteTagsForDomainRequest",
        "variableSetterType" : "DeleteTagsForDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTagsForDomain",
      "operationName" : "DeleteTagsForDomain",
      "returnType" : {
        "returnType" : "DeleteTagsForDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsForDomainResult"
    },
    "DisableDomainAutoRenew" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableDomainAutoRenewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableDomainAutoRenewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableDomainAutoRenewRequest, DisableDomainAutoRenewResult>",
      "asyncReturnType" : "DisableDomainAutoRenewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation disables automatic renewal of domain registration for the specified domain.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableDomainAutoRenewRequest",
        "variableName" : "disableDomainAutoRenewRequest",
        "variableType" : "DisableDomainAutoRenewRequest",
        "documentation" : "",
        "simpleType" : "DisableDomainAutoRenewRequest",
        "variableSetterType" : "DisableDomainAutoRenewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableDomainAutoRenew",
      "operationName" : "DisableDomainAutoRenew",
      "returnType" : {
        "returnType" : "DisableDomainAutoRenewResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableDomainAutoRenewResult"
    },
    "DisableDomainTransferLock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableDomainTransferLockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableDomainTransferLockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableDomainTransferLockRequest, DisableDomainTransferLockResult>",
      "asyncReturnType" : "DisableDomainTransferLockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation removes the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to allow domain transfers. We recommend you refrain from performing this action unless you intend to transfer the domain to a different registrar. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableDomainTransferLockRequest",
        "variableName" : "disableDomainTransferLockRequest",
        "variableType" : "DisableDomainTransferLockRequest",
        "documentation" : "<p>The DisableDomainTransferLock request includes the following element.</p>",
        "simpleType" : "DisableDomainTransferLockRequest",
        "variableSetterType" : "DisableDomainTransferLockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableDomainTransferLock",
      "operationName" : "DisableDomainTransferLock",
      "returnType" : {
        "returnType" : "DisableDomainTransferLockResult",
        "documentation" : "<p>The DisableDomainTransferLock response includes the following element.</p>"
      },
      "syncReturnType" : "DisableDomainTransferLockResult"
    },
    "EnableDomainAutoRenew" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableDomainAutoRenewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableDomainAutoRenewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableDomainAutoRenewRequest, EnableDomainAutoRenewResult>",
      "asyncReturnType" : "EnableDomainAutoRenewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation configures Amazon Route 53 to automatically renew the specified domain before the domain registration expires. The cost of renewing your domain registration is billed to your AWS account.</p> <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs and their renewal policies, see <a href=\"http://wiki.gandi.net/en/domains/renew#renewal_restoration_and_deletion_times\">\"Renewal, restoration, and deletion times\"</a> on the website for our registrar partner, Gandi. Route 53 requires that you renew before the end of the renewal period that is listed on the Gandi website so we can complete processing before the deadline.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableDomainAutoRenewRequest",
        "variableName" : "enableDomainAutoRenewRequest",
        "variableType" : "EnableDomainAutoRenewRequest",
        "documentation" : "",
        "simpleType" : "EnableDomainAutoRenewRequest",
        "variableSetterType" : "EnableDomainAutoRenewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableDomainAutoRenew",
      "operationName" : "EnableDomainAutoRenew",
      "returnType" : {
        "returnType" : "EnableDomainAutoRenewResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableDomainAutoRenewResult"
    },
    "EnableDomainTransferLock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableDomainTransferLockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableDomainTransferLockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableDomainTransferLockRequest, EnableDomainTransferLockResult>",
      "asyncReturnType" : "EnableDomainTransferLockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation sets the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to prevent domain transfers. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableDomainTransferLockRequest",
        "variableName" : "enableDomainTransferLockRequest",
        "variableType" : "EnableDomainTransferLockRequest",
        "documentation" : "<p>The EnableDomainTransferLock request includes the following element.</p>",
        "simpleType" : "EnableDomainTransferLockRequest",
        "variableSetterType" : "EnableDomainTransferLockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableDomainTransferLock",
      "operationName" : "EnableDomainTransferLock",
      "returnType" : {
        "returnType" : "EnableDomainTransferLockResult",
        "documentation" : "<p>The EnableDomainTransferLock response includes the following elements.</p>"
      },
      "syncReturnType" : "EnableDomainTransferLockResult"
    },
    "GetContactReachabilityStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContactReachabilityStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContactReachabilityStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContactReachabilityStatusRequest, GetContactReachabilityStatusResult>",
      "asyncReturnType" : "GetContactReachabilityStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation returns information about whether the registrant contact has responded.</p> <p>If you want us to resend the email, use the <code>ResendContactReachabilityEmail</code> operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetContactReachabilityStatusRequest",
        "variableName" : "getContactReachabilityStatusRequest",
        "variableType" : "GetContactReachabilityStatusRequest",
        "documentation" : "",
        "simpleType" : "GetContactReachabilityStatusRequest",
        "variableSetterType" : "GetContactReachabilityStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContactReachabilityStatus",
      "operationName" : "GetContactReachabilityStatus",
      "returnType" : {
        "returnType" : "GetContactReachabilityStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContactReachabilityStatusResult"
    },
    "GetDomainDetail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainDetailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainDetailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainDetailRequest, GetDomainDetailResult>",
      "asyncReturnType" : "GetDomainDetailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns detailed information about the domain. The domain's contact information is also returned as part of the output.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDomainDetailRequest",
        "variableName" : "getDomainDetailRequest",
        "variableType" : "GetDomainDetailRequest",
        "documentation" : "<p>The GetDomainDetail request includes the following element.</p>",
        "simpleType" : "GetDomainDetailRequest",
        "variableSetterType" : "GetDomainDetailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomainDetail",
      "operationName" : "GetDomainDetail",
      "returnType" : {
        "returnType" : "GetDomainDetailResult",
        "documentation" : "<p>The GetDomainDetail response includes the following elements.</p>"
      },
      "syncReturnType" : "GetDomainDetailResult"
    },
    "GetDomainSuggestions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainSuggestionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainSuggestionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainSuggestionsRequest, GetDomainSuggestionsResult>",
      "asyncReturnType" : "GetDomainSuggestionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The GetDomainSuggestions operation returns a list of suggested domain names given a string, which can either be a domain name or simply a word or phrase (without spaces).</p> <p> Parameters: <ul><li>DomainName (string): The basis for your domain suggestion search, a string with (or without) top-level domain specified.</li> <li>SuggestionCount (int): The number of domain suggestions to be returned, maximum 50, minimum 1.</li> <li>OnlyAvailable (bool): If true, availability check will be performed on suggestion results, and only available domains will be returned. If false, suggestions will be returned without checking whether the domain is actually available, and caller will have to call checkDomainAvailability for each suggestion to determine availability for registration.</li> </ul> </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDomainSuggestionsRequest",
        "variableName" : "getDomainSuggestionsRequest",
        "variableType" : "GetDomainSuggestionsRequest",
        "documentation" : "",
        "simpleType" : "GetDomainSuggestionsRequest",
        "variableSetterType" : "GetDomainSuggestionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomainSuggestions",
      "operationName" : "GetDomainSuggestions",
      "returnType" : {
        "returnType" : "GetDomainSuggestionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDomainSuggestionsResult"
    },
    "GetOperationDetail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOperationDetailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOperationDetailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOperationDetailRequest, GetOperationDetailResult>",
      "asyncReturnType" : "GetOperationDetailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns the current status of an operation that is not completed.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetOperationDetailRequest",
        "variableName" : "getOperationDetailRequest",
        "variableType" : "GetOperationDetailRequest",
        "documentation" : "<p>The GetOperationDetail request includes the following element.</p>",
        "simpleType" : "GetOperationDetailRequest",
        "variableSetterType" : "GetOperationDetailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOperationDetail",
      "operationName" : "GetOperationDetail",
      "returnType" : {
        "returnType" : "GetOperationDetailResult",
        "documentation" : "<p>The GetOperationDetail response includes the following elements.</p>"
      },
      "syncReturnType" : "GetOperationDetailResult"
    },
    "ListDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainsRequest, ListDomainsResult>",
      "asyncReturnType" : "ListDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns all the domain names registered with Amazon Route 53 for the current AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDomainsRequest",
        "variableName" : "listDomainsRequest",
        "variableType" : "ListDomainsRequest",
        "documentation" : "<p>The ListDomains request includes the following elements.</p>",
        "simpleType" : "ListDomainsRequest",
        "variableSetterType" : "ListDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomains",
      "operationName" : "ListDomains",
      "returnType" : {
        "returnType" : "ListDomainsResult",
        "documentation" : "<p>The ListDomains response includes the following elements.</p>"
      },
      "syncReturnType" : "ListDomainsResult"
    },
    "ListOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOperationsRequest, ListOperationsResult>",
      "asyncReturnType" : "ListOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns the operation IDs of operations that are not yet complete.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListOperationsRequest",
        "variableName" : "listOperationsRequest",
        "variableType" : "ListOperationsRequest",
        "documentation" : "<p>The ListOperations request includes the following elements.</p>",
        "simpleType" : "ListOperationsRequest",
        "variableSetterType" : "ListOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOperations",
      "operationName" : "ListOperations",
      "returnType" : {
        "returnType" : "ListOperationsResult",
        "documentation" : "<p>The ListOperations response includes the following elements.</p>"
      },
      "syncReturnType" : "ListOperationsResult"
    },
    "ListTagsForDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForDomainRequest, ListTagsForDomainResult>",
      "asyncReturnType" : "ListTagsForDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns all of the tags that are associated with the specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations may not immediately represent all issued operations.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsForDomainRequest",
        "variableName" : "listTagsForDomainRequest",
        "variableType" : "ListTagsForDomainRequest",
        "documentation" : "<p>The ListTagsForDomainRequest includes the following elements.</p>",
        "simpleType" : "ListTagsForDomainRequest",
        "variableSetterType" : "ListTagsForDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForDomain",
      "operationName" : "ListTagsForDomain",
      "returnType" : {
        "returnType" : "ListTagsForDomainResult",
        "documentation" : "<p>The ListTagsForDomain response includes the following elements.</p>"
      },
      "syncReturnType" : "ListTagsForDomainResult"
    },
    "RegisterDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterDomainRequest, RegisterDomainResult>",
      "asyncReturnType" : "RegisterDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation registers a domain. Domains are registered by the AWS registrar partner, Gandi. For some top-level domains (TLDs), this operation requires extra parameters.</p> <p>When you register a domain, Amazon Route 53 does the following:</p> <ul> <li>Creates a Amazon Route 53 hosted zone that has the same name as the domain. Amazon Route 53 assigns four name servers to your hosted zone and automatically updates your domain registration with the names of these name servers.</li> <li>Enables autorenew, so your domain registration will renew automatically each year. We'll notify you in advance of the renewal date so you can choose whether to renew the registration.</li> <li>Optionally enables privacy protection, so WHOIS queries return contact information for our registrar partner, Gandi, instead of the information you entered for registrant, admin, and tech contacts.</li> <li>If registration is successful, returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant is notified by email.</li> <li>Charges your AWS account an amount based on the top-level domain. For more information, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "DomainLimitExceededException",
        "documentation" : "<p>The number of domains has exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RegisterDomainRequest",
        "variableName" : "registerDomainRequest",
        "variableType" : "RegisterDomainRequest",
        "documentation" : "<p>The RegisterDomain request includes the following elements.</p>",
        "simpleType" : "RegisterDomainRequest",
        "variableSetterType" : "RegisterDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerDomain",
      "operationName" : "RegisterDomain",
      "returnType" : {
        "returnType" : "RegisterDomainResult",
        "documentation" : "<p>The RegisterDomain response includes the following element.</p>"
      },
      "syncReturnType" : "RegisterDomainResult"
    },
    "RenewDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RenewDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RenewDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RenewDomainRequest, RenewDomainResult>",
      "asyncReturnType" : "RenewDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation renews a domain for the specified number of years. The cost of renewing your domain is billed to your AWS account.</p> <p>We recommend that you renew your domain several weeks before the expiration date. Some TLD registries delete domains before the expiration date if you haven't renewed far enough in advance. For more information about renewing domain registration, see <a href=\"http://docs.aws.amazon.com/console/route53/domain-renew\">Renewing Registration for a Domain</a> in the Amazon Route 53 documentation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RenewDomainRequest",
        "variableName" : "renewDomainRequest",
        "variableType" : "RenewDomainRequest",
        "documentation" : "<p>A <code>RenewDomain</code> request includes the number of years that you want to renew for and the current expiration year.</p>",
        "simpleType" : "RenewDomainRequest",
        "variableSetterType" : "RenewDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "renewDomain",
      "operationName" : "RenewDomain",
      "returnType" : {
        "returnType" : "RenewDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "RenewDomainResult"
    },
    "ResendContactReachabilityEmail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResendContactReachabilityEmailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResendContactReachabilityEmailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResendContactReachabilityEmailRequest, ResendContactReachabilityEmailResult>",
      "asyncReturnType" : "ResendContactReachabilityEmailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation resends the confirmation email to the current email address for the registrant contact. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ResendContactReachabilityEmailRequest",
        "variableName" : "resendContactReachabilityEmailRequest",
        "variableType" : "ResendContactReachabilityEmailRequest",
        "documentation" : "",
        "simpleType" : "ResendContactReachabilityEmailRequest",
        "variableSetterType" : "ResendContactReachabilityEmailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resendContactReachabilityEmail",
      "operationName" : "ResendContactReachabilityEmail",
      "returnType" : {
        "returnType" : "ResendContactReachabilityEmailResult",
        "documentation" : null
      },
      "syncReturnType" : "ResendContactReachabilityEmailResult"
    },
    "RetrieveDomainAuthCode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetrieveDomainAuthCodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetrieveDomainAuthCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetrieveDomainAuthCodeRequest, RetrieveDomainAuthCodeResult>",
      "asyncReturnType" : "RetrieveDomainAuthCodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns the AuthCode for the domain. To transfer a domain to another registrar, you provide this value to the new registrar.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RetrieveDomainAuthCodeRequest",
        "variableName" : "retrieveDomainAuthCodeRequest",
        "variableType" : "RetrieveDomainAuthCodeRequest",
        "documentation" : "<p>The RetrieveDomainAuthCode request includes the following element.</p>",
        "simpleType" : "RetrieveDomainAuthCodeRequest",
        "variableSetterType" : "RetrieveDomainAuthCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retrieveDomainAuthCode",
      "operationName" : "RetrieveDomainAuthCode",
      "returnType" : {
        "returnType" : "RetrieveDomainAuthCodeResult",
        "documentation" : "<p>The RetrieveDomainAuthCode response includes the following element.</p>"
      },
      "syncReturnType" : "RetrieveDomainAuthCodeResult"
    },
    "TransferDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TransferDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TransferDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TransferDomainRequest, TransferDomainResult>",
      "asyncReturnType" : "TransferDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation transfers a domain from another registrar to Amazon Route 53. When the transfer is complete, the domain is registered with the AWS registrar partner, Gandi.</p> <p>For transfer requirements, a detailed procedure, and information about viewing the status of a domain transfer, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-to-route-53.html\">Transferring Registration for a Domain to Amazon Route 53</a> in the Amazon Route 53 Developer Guide.</p> <p>If the registrar for your domain is also the DNS service provider for the domain, we highly recommend that you consider transferring your DNS service to Amazon Route 53 or to another DNS service provider before you transfer your registration. Some registrars provide free DNS service when you purchase a domain registration. When you transfer the registration, the previous registrar will not renew your domain registration and could end your DNS service at any time.</p> <note>Caution! If the registrar for your domain is also the DNS service provider for the domain and you don't transfer DNS service to another provider, your website, email, and the web applications associated with the domain might become unavailable.</note> <p>If the transfer is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the transfer doesn't complete successfully, the domain registrant will be notified by email.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "DomainLimitExceededException",
        "documentation" : "<p>The number of domains has exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TransferDomainRequest",
        "variableName" : "transferDomainRequest",
        "variableType" : "TransferDomainRequest",
        "documentation" : "<p>The TransferDomain request includes the following elements.</p>",
        "simpleType" : "TransferDomainRequest",
        "variableSetterType" : "TransferDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "transferDomain",
      "operationName" : "TransferDomain",
      "returnType" : {
        "returnType" : "TransferDomainResult",
        "documentation" : "<p>The TranserDomain response includes the following element.</p>"
      },
      "syncReturnType" : "TransferDomainResult"
    },
    "UpdateDomainContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainContactRequest, UpdateDomainContactResult>",
      "asyncReturnType" : "UpdateDomainContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates the contact information for a particular domain. Information for at least one contact (registrant, administrator, or technical) must be supplied for update.</p> <p>If the update is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDomainContactRequest",
        "variableName" : "updateDomainContactRequest",
        "variableType" : "UpdateDomainContactRequest",
        "documentation" : "<p>The UpdateDomainContact request includes the following elements.</p>",
        "simpleType" : "UpdateDomainContactRequest",
        "variableSetterType" : "UpdateDomainContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomainContact",
      "operationName" : "UpdateDomainContact",
      "returnType" : {
        "returnType" : "UpdateDomainContactResult",
        "documentation" : "<p>The UpdateDomainContact response includes the following element.</p>"
      },
      "syncReturnType" : "UpdateDomainContactResult"
    },
    "UpdateDomainContactPrivacy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainContactPrivacyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainContactPrivacyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainContactPrivacyRequest, UpdateDomainContactPrivacyResult>",
      "asyncReturnType" : "UpdateDomainContactPrivacyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates the specified domain contact's privacy setting. When the privacy option is enabled, personal information such as postal or email address is hidden from the results of a public WHOIS query. The privacy services are provided by the AWS registrar, Gandi. For more information, see the <a href=\"http://www.gandi.net/domain/whois/?currency=USD&amp;amp;lang=en\">Gandi privacy features</a>.</p> <p>This operation only affects the privacy of the specified contact type (registrant, administrator, or tech). Successful acceptance returns an operation ID that you can use with GetOperationDetail to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDomainContactPrivacyRequest",
        "variableName" : "updateDomainContactPrivacyRequest",
        "variableType" : "UpdateDomainContactPrivacyRequest",
        "documentation" : "<p>The UpdateDomainContactPrivacy request includes the following elements.</p>",
        "simpleType" : "UpdateDomainContactPrivacyRequest",
        "variableSetterType" : "UpdateDomainContactPrivacyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomainContactPrivacy",
      "operationName" : "UpdateDomainContactPrivacy",
      "returnType" : {
        "returnType" : "UpdateDomainContactPrivacyResult",
        "documentation" : "<p>The UpdateDomainContactPrivacy response includes the following element.</p>"
      },
      "syncReturnType" : "UpdateDomainContactPrivacyResult"
    },
    "UpdateDomainNameservers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainNameserversResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainNameserversResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainNameserversRequest, UpdateDomainNameserversResult>",
      "asyncReturnType" : "UpdateDomainNameserversResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain. </p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>"
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDomainNameserversRequest",
        "variableName" : "updateDomainNameserversRequest",
        "variableType" : "UpdateDomainNameserversRequest",
        "documentation" : "<p>The UpdateDomainNameserver request includes the following elements.</p>",
        "simpleType" : "UpdateDomainNameserversRequest",
        "variableSetterType" : "UpdateDomainNameserversRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomainNameservers",
      "operationName" : "UpdateDomainNameservers",
      "returnType" : {
        "returnType" : "UpdateDomainNameserversResult",
        "documentation" : "<p>The UpdateDomainNameservers response includes the following element.</p>"
      },
      "syncReturnType" : "UpdateDomainNameserversResult"
    },
    "UpdateTagsForDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTagsForDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTagsForDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTagsForDomainRequest, UpdateTagsForDomainResult>",
      "asyncReturnType" : "UpdateTagsForDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation adds or updates tags for a specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations may not immediately represent all issued operations.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateTagsForDomainRequest",
        "variableName" : "updateTagsForDomainRequest",
        "variableType" : "UpdateTagsForDomainRequest",
        "documentation" : "<p>The UpdateTagsForDomainRequest includes the following elements.</p>",
        "simpleType" : "UpdateTagsForDomainRequest",
        "variableSetterType" : "UpdateTagsForDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTagsForDomain",
      "operationName" : "UpdateTagsForDomain",
      "returnType" : {
        "returnType" : "UpdateTagsForDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTagsForDomainResult"
    },
    "ViewBilling" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ViewBillingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ViewBillingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ViewBillingRequest, ViewBillingResult>",
      "asyncReturnType" : "ViewBillingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns all the domain-related billing records for the current AWS account for a specified period</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ViewBillingRequest",
        "variableName" : "viewBillingRequest",
        "variableType" : "ViewBillingRequest",
        "documentation" : "<p>The ViewBilling request includes the following elements.</p>",
        "simpleType" : "ViewBillingRequest",
        "variableSetterType" : "ViewBillingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "viewBilling",
      "operationName" : "ViewBilling",
      "returnType" : {
        "returnType" : "ViewBillingResult",
        "documentation" : "<p>The ViewBilling response includes the following elements.</p>"
      },
      "syncReturnType" : "ViewBillingResult"
    }
  },
  "shapes" : {
    "BillingRecord" : {
      "c2jName" : "BillingRecord",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DomainName",
        "c2jShape" : "DomainName",
        "deprecated" : false,
        "documentation" : "<p>The name of a domain.</p> <p>Type: String</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p>\n@param domainName The name of a domain.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p>\n@return The name of a domain.</p> <p>Type: String*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DomainName",
        "setterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p>\n@param domainName The name of a domain.</p> <p>Type: String*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p>\n@param domainName The name of a domain.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "<p>The name of a domain.</p> <p>Type: String</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Operation",
        "c2jShape" : "OperationType",
        "deprecated" : false,
        "documentation" : "<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>",
        "enumType" : "OperationType",
        "fluentSetterDocumentation" : "/**<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>\n@param operation The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul>\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationType*/",
        "getterDocumentation" : "/**<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>\n@return The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul>\n@see OperationType*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Operation",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Operation",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Operation",
        "setterDocumentation" : "/**<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>\n@param operation The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul>\n@see OperationType*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "operation",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>\n@param operation The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul>\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "operation",
          "variableType" : "String",
          "documentation" : "<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InvoiceId",
        "c2jShape" : "InvoiceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>\n@return The ID of the invoice that is associated with the billing record.</p> <p>Type: String*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "InvoiceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InvoiceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "InvoiceId",
        "setterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.</p> <p>Type: String*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "invoiceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "invoiceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BillDate",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>\n@param billDate The date that the operation was billed, in Unix format.</p> <p>Type: Double\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>\n@return The date that the operation was billed, in Unix format.</p> <p>Type: Double*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "BillDate",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BillDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "BillDate",
        "setterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>\n@param billDate The date that the operation was billed, in Unix format.</p> <p>Type: Double*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "billDate",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>\n@param billDate The date that the operation was billed, in Unix format.</p> <p>Type: Double\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "billDate",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Price",
        "c2jShape" : "Price",
        "deprecated" : false,
        "documentation" : "<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>\n@param price The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>\n@return The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0*/",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Price",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Price",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Price",
        "setterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>\n@param price The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0*/",
        "setterModel" : {
          "variableDeclarationType" : "Double",
          "variableName" : "price",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>\n@param price The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Double",
          "variableName" : "price",
          "variableType" : "Double",
          "documentation" : "<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BillDate" : {
          "c2jName" : "BillDate",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>\n@param billDate The date that the operation was billed, in Unix format.</p> <p>Type: Double\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>\n@return The date that the operation was billed, in Unix format.</p> <p>Type: Double*/",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "BillDate",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BillDate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "BillDate",
          "setterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>\n@param billDate The date that the operation was billed, in Unix format.</p> <p>Type: Double*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "billDate",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>\n@param billDate The date that the operation was billed, in Unix format.</p> <p>Type: Double\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "billDate",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "DomainName" : {
          "c2jName" : "DomainName",
          "c2jShape" : "DomainName",
          "deprecated" : false,
          "documentation" : "<p>The name of a domain.</p> <p>Type: String</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p>\n@param domainName The name of a domain.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p>\n@return The name of a domain.</p> <p>Type: String*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "DomainName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DomainName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "DomainName",
          "setterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p>\n@param domainName The name of a domain.</p> <p>Type: String*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p>\n@param domainName The name of a domain.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "<p>The name of a domain.</p> <p>Type: String</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "InvoiceId" : {
          "c2jName" : "InvoiceId",
          "c2jShape" : "InvoiceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>\n@return The ID of the invoice that is associated with the billing record.</p> <p>Type: String*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "InvoiceId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InvoiceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "InvoiceId",
          "setterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.</p> <p>Type: String*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "invoiceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.</p> <p>Type: String\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "invoiceId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Operation" : {
          "c2jName" : "Operation",
          "c2jShape" : "OperationType",
          "deprecated" : false,
          "documentation" : "<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>",
          "enumType" : "OperationType",
          "fluentSetterDocumentation" : "/**<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>\n@param operation The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul>\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationType*/",
          "getterDocumentation" : "/**<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>\n@return The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul>\n@see OperationType*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Operation",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Operation",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Operation",
          "setterDocumentation" : "/**<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>\n@param operation The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul>\n@see OperationType*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "operation",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>\n@param operation The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul>\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationType*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "operation",
            "variableType" : "String",
            "documentation" : "<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Price" : {
          "c2jName" : "Price",
          "c2jShape" : "Price",
          "deprecated" : false,
          "documentation" : "<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>\n@param price The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>\n@return The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0*/",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Price",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Price",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Price",
          "setterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>\n@param price The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0*/",
          "setterModel" : {
            "variableDeclarationType" : "Double",
            "variableName" : "price",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>\n@param price The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Double",
            "variableName" : "price",
            "variableType" : "Double",
            "documentation" : "<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "BillingRecord",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BillingRecord",
        "variableName" : "billingRecord",
        "variableType" : "BillingRecord",
        "documentation" : null,
        "simpleType" : "BillingRecord",
        "variableSetterType" : "BillingRecord"
      },
      "wrapper" : false
    },
    "CheckDomainAvailabilityRequest" : {
      "c2jName" : "CheckDomainAvailabilityRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The CheckDomainAvailability request contains the following elements.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CheckDomainAvailability",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Route53Domains_v20140515.CheckDomainAvailability",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DomainName",
        "c2jShape" : "DomainName",
        "deprecated" : false,
        "documentation" : "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@param domainName The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@return The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DomainName",
        "setterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@param domainName The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@param domainName The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IdnLangCode",
        "c2jShape" : "LangCode",
        "deprecated" : false,
        "documentation" : "<p>Reserved for future use.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Reserved for future use.</p>\n@param idnLangCode Reserved for future use.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Reserved for future use.</p>\n@return Reserved for future use.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "IdnLangCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IdnLangCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "IdnLangCode",
        "setterDocumentation" : "/**<p>Reserved for future use.</p>\n@param idnLangCode Reserved for future use.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "idnLangCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Reserved for future use.</p>\n@param idnLangCode Reserved for future use.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "idnLangCode",
          "variableType" : "String",
          "documentation" : "<p>Reserved for future use.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DomainName" : {
          "c2jName" : "DomainName",
          "c2jShape" : "DomainName",
          "deprecated" : false,
          "documentation" : "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>\n@param domainName The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
