{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-04-01",
    "asyncClient" : "AmazonRoute53ResolverAsyncClient",
    "asyncClientBuilderClassName" : "AmazonRoute53ResolverAsyncClientBuilder",
    "asyncInterface" : "AmazonRoute53ResolverAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonRoute53ResolverModuleInjector",
    "defaultEndpoint" : "route53resolver.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "route53resolver.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>When you create a VPC using Amazon VPC, you automatically get DNS resolution within the VPC from Route 53 Resolver. By default, Resolver answers DNS queries for VPC domain names such as domain names for EC2 instances or ELB load balancers. Resolver performs recursive lookups against public name servers for all other domain names.</p> <p>You can also configure DNS resolution between your VPC and your network over a Direct Connect or VPN connection:</p> <p> <b>Forward DNS queries from resolvers on your network to Route 53 Resolver</b> </p> <p>DNS resolvers on your network can forward DNS queries to Resolver in a specified VPC. This allows your DNS resolvers to easily resolve domain names for AWS resources such as EC2 instances or records in a Route 53 private hosted zone. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/resolver.html#resolver-overview-forward-network-to-vpc\">How DNS Resolvers on Your Network Forward DNS Queries to Route 53 Resolver</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p> <b>Conditionally forward queries from a VPC to resolvers on your network</b> </p> <p>You can configure Resolver to forward queries that it receives from EC2 instances in your VPCs to DNS resolvers on your network. To forward selected queries, you create Resolver rules that specify the domain names for the DNS queries that you want to forward (such as example.com), and the IP addresses of the DNS resolvers on your network that you want to forward the queries to. If a query matches multiple rules (example.com, acme.example.com), Resolver chooses the rule with the most specific match (acme.example.com) and forwards the query to the IP addresses that you specified in that rule. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/resolver.html#resolver-overview-forward-vpc-to-network\">How Route 53 Resolver Forwards DNS Queries from Your VPCs to Your Network</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>Like Amazon VPC, Resolver is regional. In each region where you have VPCs, you can choose whether to forward queries from your VPCs to your network (outbound queries), from your network to your VPCs (inbound queries), or both.</p>",
    "endpointPrefix" : "route53resolver",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.route53resolver",
    "packagePath" : "com/amazonaws/services/route53resolver",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Route53Resolver",
    "serviceFullName" : "Amazon Route 53 Resolver",
    "serviceId" : "Route53Resolver",
    "serviceName" : "Route53Resolver",
    "signingName" : "route53resolver",
    "smokeTestsPackageName" : "com.amazonaws.services.route53resolver.smoketests",
    "syncClient" : "AmazonRoute53ResolverClient",
    "syncClientBuilderClassName" : "AmazonRoute53ResolverClientBuilder",
    "syncInterface" : "AmazonRoute53Resolver",
    "uid" : "route53resolver-2018-04-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateResolverEndpointIpAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResolverEndpointIpAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResolverEndpointIpAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResolverEndpointIpAddressRequest, AssociateResolverEndpointIpAddressResult>",
      "asyncReturnType" : "AssociateResolverEndpointIpAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds IP addresses to an inbound or an outbound Resolver endpoint. If you want to add more than one IP address, submit one <code>AssociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To remove an IP address from an endpoint, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverEndpointIpAddress.html\">DisassociateResolverEndpointIpAddress</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResolverEndpointIpAddressRequest",
        "variableName" : "associateResolverEndpointIpAddressRequest",
        "variableType" : "AssociateResolverEndpointIpAddressRequest",
        "documentation" : "",
        "simpleType" : "AssociateResolverEndpointIpAddressRequest",
        "variableSetterType" : "AssociateResolverEndpointIpAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResolverEndpointIpAddress",
      "operationName" : "AssociateResolverEndpointIpAddress",
      "returnType" : {
        "returnType" : "AssociateResolverEndpointIpAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResolverEndpointIpAddressResult"
    },
    "AssociateResolverQueryLogConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResolverQueryLogConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResolverQueryLogConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResolverQueryLogConfigRequest, AssociateResolverQueryLogConfigResult>",
      "asyncReturnType" : "AssociateResolverQueryLogConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates an Amazon VPC with a specified query logging configuration. Route 53 Resolver logs DNS queries that originate in all of the Amazon VPCs that are associated with a specified query logging configuration. To associate more than one VPC with a configuration, submit one <code>AssociateResolverQueryLogConfig</code> request for each VPC.</p> <note> <p>The VPCs that you associate with a query logging configuration must be in the same Region as the configuration.</p> </note> <p>To remove a VPC from a query logging configuration, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverQueryLogConfig.html\">DisassociateResolverQueryLogConfig</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResolverQueryLogConfigRequest",
        "variableName" : "associateResolverQueryLogConfigRequest",
        "variableType" : "AssociateResolverQueryLogConfigRequest",
        "documentation" : "",
        "simpleType" : "AssociateResolverQueryLogConfigRequest",
        "variableSetterType" : "AssociateResolverQueryLogConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResolverQueryLogConfig",
      "operationName" : "AssociateResolverQueryLogConfig",
      "returnType" : {
        "returnType" : "AssociateResolverQueryLogConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResolverQueryLogConfigResult"
    },
    "AssociateResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResolverRuleRequest, AssociateResolverRuleResult>",
      "asyncReturnType" : "AssociateResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a Resolver rule with a VPC. When you associate a rule with a VPC, Resolver forwards all DNS queries for the domain name that is specified in the rule and that originate in the VPC. The queries are forwarded to the IP addresses for the DNS resolvers that are specified in the rule. For more information about rules, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_CreateResolverRule.html\">CreateResolverRule</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResolverRuleRequest",
        "variableName" : "associateResolverRuleRequest",
        "variableType" : "AssociateResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "AssociateResolverRuleRequest",
        "variableSetterType" : "AssociateResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResolverRule",
      "operationName" : "AssociateResolverRule",
      "returnType" : {
        "returnType" : "AssociateResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResolverRuleResult"
    },
    "CreateResolverEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResolverEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResolverEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResolverEndpointRequest, CreateResolverEndpointResult>",
      "asyncReturnType" : "CreateResolverEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Resolver endpoint. There are two types of Resolver endpoints, inbound and outbound:</p> <ul> <li> <p>An <i>inbound Resolver endpoint</i> forwards DNS queries to the DNS service for a VPC from your network.</p> </li> <li> <p>An <i>outbound Resolver endpoint</i> forwards DNS queries from the DNS service for a VPC to your network.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResolverEndpointRequest",
        "variableName" : "createResolverEndpointRequest",
        "variableType" : "CreateResolverEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateResolverEndpointRequest",
        "variableSetterType" : "CreateResolverEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResolverEndpoint",
      "operationName" : "CreateResolverEndpoint",
      "returnType" : {
        "returnType" : "CreateResolverEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResolverEndpointResult"
    },
    "CreateResolverQueryLogConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResolverQueryLogConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResolverQueryLogConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResolverQueryLogConfigRequest, CreateResolverQueryLogConfigResult>",
      "asyncReturnType" : "CreateResolverQueryLogConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Resolver query logging configuration, which defines where you want Resolver to save DNS query logs that originate in your VPCs. Resolver can log queries only for VPCs that are in the same Region as the query logging configuration.</p> <p>To specify which VPCs you want to log queries for, you use <code>AssociateResolverQueryLogConfig</code>. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverQueryLogConfig.html\">AssociateResolverQueryLogConfig</a>. </p> <p>You can optionally use AWS Resource Access Manager (AWS RAM) to share a query logging configuration with other AWS accounts. The other accounts can then associate VPCs with the configuration. The query logs that Resolver creates for a configuration include all DNS queries that originate in all VPCs that are associated with the configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResolverQueryLogConfigRequest",
        "variableName" : "createResolverQueryLogConfigRequest",
        "variableType" : "CreateResolverQueryLogConfigRequest",
        "documentation" : "",
        "simpleType" : "CreateResolverQueryLogConfigRequest",
        "variableSetterType" : "CreateResolverQueryLogConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResolverQueryLogConfig",
      "operationName" : "CreateResolverQueryLogConfig",
      "returnType" : {
        "returnType" : "CreateResolverQueryLogConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResolverQueryLogConfigResult"
    },
    "CreateResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResolverRuleRequest, CreateResolverRuleResult>",
      "asyncReturnType" : "CreateResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For DNS queries that originate in your VPCs, specifies which Resolver endpoint the queries pass through, one domain name that you want to forward to your network, and the IP addresses of the DNS resolvers in your network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResolverRuleRequest",
        "variableName" : "createResolverRuleRequest",
        "variableType" : "CreateResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "CreateResolverRuleRequest",
        "variableSetterType" : "CreateResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResolverRule",
      "operationName" : "CreateResolverRule",
      "returnType" : {
        "returnType" : "CreateResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResolverRuleResult"
    },
    "DeleteResolverEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResolverEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResolverEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResolverEndpointRequest, DeleteResolverEndpointResult>",
      "asyncReturnType" : "DeleteResolverEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Resolver endpoint. The effect of deleting a Resolver endpoint depends on whether it's an inbound or an outbound Resolver endpoint:</p> <ul> <li> <p> <b>Inbound</b>: DNS queries from your network are no longer routed to the DNS service for the specified VPC.</p> </li> <li> <p> <b>Outbound</b>: DNS queries from a VPC are no longer routed to your network.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResolverEndpointRequest",
        "variableName" : "deleteResolverEndpointRequest",
        "variableType" : "DeleteResolverEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteResolverEndpointRequest",
        "variableSetterType" : "DeleteResolverEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResolverEndpoint",
      "operationName" : "DeleteResolverEndpoint",
      "returnType" : {
        "returnType" : "DeleteResolverEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResolverEndpointResult"
    },
    "DeleteResolverQueryLogConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResolverQueryLogConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResolverQueryLogConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResolverQueryLogConfigRequest, DeleteResolverQueryLogConfigResult>",
      "asyncReturnType" : "DeleteResolverQueryLogConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a query logging configuration. When you delete a configuration, Resolver stops logging DNS queries for all of the Amazon VPCs that are associated with the configuration. This also applies if the query logging configuration is shared with other AWS accounts, and the other accounts have associated VPCs with the shared configuration.</p> <p>Before you can delete a query logging configuration, you must first disassociate all VPCs from the configuration. See <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverQueryLogConfig.html\">DisassociateResolverQueryLogConfig</a>.</p> <p>If you used Resource Access Manager (RAM) to share a query logging configuration with other accounts, you must stop sharing the configuration before you can delete a configuration. The accounts that you shared the configuration with can first disassociate VPCs that they associated with the configuration, but that's not necessary. If you stop sharing the configuration, those VPCs are automatically disassociated from the configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResolverQueryLogConfigRequest",
        "variableName" : "deleteResolverQueryLogConfigRequest",
        "variableType" : "DeleteResolverQueryLogConfigRequest",
        "documentation" : "",
        "simpleType" : "DeleteResolverQueryLogConfigRequest",
        "variableSetterType" : "DeleteResolverQueryLogConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResolverQueryLogConfig",
      "operationName" : "DeleteResolverQueryLogConfig",
      "returnType" : {
        "returnType" : "DeleteResolverQueryLogConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResolverQueryLogConfigResult"
    },
    "DeleteResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResolverRuleRequest, DeleteResolverRuleResult>",
      "asyncReturnType" : "DeleteResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Resolver rule. Before you can delete a Resolver rule, you must disassociate it from all the VPCs that you associated the Resolver rule with. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverRule.html\">DisassociateResolverRule</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you tried to update or delete is currently in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResolverRuleRequest",
        "variableName" : "deleteResolverRuleRequest",
        "variableType" : "DeleteResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteResolverRuleRequest",
        "variableSetterType" : "DeleteResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResolverRule",
      "operationName" : "DeleteResolverRule",
      "returnType" : {
        "returnType" : "DeleteResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResolverRuleResult"
    },
    "DisassociateResolverEndpointIpAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResolverEndpointIpAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResolverEndpointIpAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResolverEndpointIpAddressRequest, DisassociateResolverEndpointIpAddressResult>",
      "asyncReturnType" : "DisassociateResolverEndpointIpAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes IP addresses from an inbound or an outbound Resolver endpoint. If you want to remove more than one IP address, submit one <code>DisassociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To add an IP address to an endpoint, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverEndpointIpAddress.html\">AssociateResolverEndpointIpAddress</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceExistsException",
        "documentation" : "<p>The resource that you tried to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResolverEndpointIpAddressRequest",
        "variableName" : "disassociateResolverEndpointIpAddressRequest",
        "variableType" : "DisassociateResolverEndpointIpAddressRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResolverEndpointIpAddressRequest",
        "variableSetterType" : "DisassociateResolverEndpointIpAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResolverEndpointIpAddress",
      "operationName" : "DisassociateResolverEndpointIpAddress",
      "returnType" : {
        "returnType" : "DisassociateResolverEndpointIpAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResolverEndpointIpAddressResult"
    },
    "DisassociateResolverQueryLogConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResolverQueryLogConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResolverQueryLogConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResolverQueryLogConfigRequest, DisassociateResolverQueryLogConfigResult>",
      "asyncReturnType" : "DisassociateResolverQueryLogConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a VPC from a query logging configuration.</p> <note> <p>Before you can delete a query logging configuration, you must first disassociate all VPCs from the configuration. If you used Resource Access Manager (RAM) to share a query logging configuration with other accounts, VPCs can be disassociated from the configuration in the following ways:</p> <ul> <li> <p>The accounts that you shared the configuration with can disassociate VPCs from the configuration.</p> </li> <li> <p>You can stop sharing the configuration.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResolverQueryLogConfigRequest",
        "variableName" : "disassociateResolverQueryLogConfigRequest",
        "variableType" : "DisassociateResolverQueryLogConfigRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResolverQueryLogConfigRequest",
        "variableSetterType" : "DisassociateResolverQueryLogConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResolverQueryLogConfig",
      "operationName" : "DisassociateResolverQueryLogConfig",
      "returnType" : {
        "returnType" : "DisassociateResolverQueryLogConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResolverQueryLogConfigResult"
    },
    "DisassociateResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResolverRuleRequest, DisassociateResolverRuleResult>",
      "asyncReturnType" : "DisassociateResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the association between a specified Resolver rule and a specified VPC.</p> <important> <p>If you disassociate a Resolver rule from a VPC, Resolver stops forwarding DNS queries for the domain name that you specified in the Resolver rule. </p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResolverRuleRequest",
        "variableName" : "disassociateResolverRuleRequest",
        "variableType" : "DisassociateResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResolverRuleRequest",
        "variableSetterType" : "DisassociateResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResolverRule",
      "operationName" : "DisassociateResolverRule",
      "returnType" : {
        "returnType" : "DisassociateResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResolverRuleResult"
    },
    "GetResolverEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverEndpointRequest, GetResolverEndpointResult>",
      "asyncReturnType" : "GetResolverEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a specified Resolver endpoint, such as whether it's an inbound or an outbound Resolver endpoint, and the current status of the endpoint.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverEndpointRequest",
        "variableName" : "getResolverEndpointRequest",
        "variableType" : "GetResolverEndpointRequest",
        "documentation" : "",
        "simpleType" : "GetResolverEndpointRequest",
        "variableSetterType" : "GetResolverEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverEndpoint",
      "operationName" : "GetResolverEndpoint",
      "returnType" : {
        "returnType" : "GetResolverEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverEndpointResult"
    },
    "GetResolverQueryLogConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverQueryLogConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverQueryLogConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverQueryLogConfigRequest, GetResolverQueryLogConfigResult>",
      "asyncReturnType" : "GetResolverQueryLogConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a specified Resolver query logging configuration, such as the number of VPCs that the configuration is logging queries for and the location that logs are sent to. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverQueryLogConfigRequest",
        "variableName" : "getResolverQueryLogConfigRequest",
        "variableType" : "GetResolverQueryLogConfigRequest",
        "documentation" : "",
        "simpleType" : "GetResolverQueryLogConfigRequest",
        "variableSetterType" : "GetResolverQueryLogConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverQueryLogConfig",
      "operationName" : "GetResolverQueryLogConfig",
      "returnType" : {
        "returnType" : "GetResolverQueryLogConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverQueryLogConfigResult"
    },
    "GetResolverQueryLogConfigAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverQueryLogConfigAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverQueryLogConfigAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverQueryLogConfigAssociationRequest, GetResolverQueryLogConfigAssociationResult>",
      "asyncReturnType" : "GetResolverQueryLogConfigAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a specified association between a Resolver query logging configuration and an Amazon VPC. When you associate a VPC with a query logging configuration, Resolver logs DNS queries that originate in that VPC.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverQueryLogConfigAssociationRequest",
        "variableName" : "getResolverQueryLogConfigAssociationRequest",
        "variableType" : "GetResolverQueryLogConfigAssociationRequest",
        "documentation" : "",
        "simpleType" : "GetResolverQueryLogConfigAssociationRequest",
        "variableSetterType" : "GetResolverQueryLogConfigAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverQueryLogConfigAssociation",
      "operationName" : "GetResolverQueryLogConfigAssociation",
      "returnType" : {
        "returnType" : "GetResolverQueryLogConfigAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverQueryLogConfigAssociationResult"
    },
    "GetResolverQueryLogConfigPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverQueryLogConfigPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverQueryLogConfigPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverQueryLogConfigPolicyRequest, GetResolverQueryLogConfigPolicyResult>",
      "asyncReturnType" : "GetResolverQueryLogConfigPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a query logging policy. A query logging policy specifies the Resolver query logging operations and resources that you want to allow another AWS account to be able to use.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverQueryLogConfigPolicyRequest",
        "variableName" : "getResolverQueryLogConfigPolicyRequest",
        "variableType" : "GetResolverQueryLogConfigPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetResolverQueryLogConfigPolicyRequest",
        "variableSetterType" : "GetResolverQueryLogConfigPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverQueryLogConfigPolicy",
      "operationName" : "GetResolverQueryLogConfigPolicy",
      "returnType" : {
        "returnType" : "GetResolverQueryLogConfigPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverQueryLogConfigPolicyResult"
    },
    "GetResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverRuleRequest, GetResolverRuleResult>",
      "asyncReturnType" : "GetResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a specified Resolver rule, such as the domain name that the rule forwards DNS queries for and the ID of the outbound Resolver endpoint that the rule is associated with.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverRuleRequest",
        "variableName" : "getResolverRuleRequest",
        "variableType" : "GetResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "GetResolverRuleRequest",
        "variableSetterType" : "GetResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverRule",
      "operationName" : "GetResolverRule",
      "returnType" : {
        "returnType" : "GetResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverRuleResult"
    },
    "GetResolverRuleAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverRuleAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverRuleAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverRuleAssociationRequest, GetResolverRuleAssociationResult>",
      "asyncReturnType" : "GetResolverRuleAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about an association between a specified Resolver rule and a VPC. You associate a Resolver rule and a VPC using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverRule.html\">AssociateResolverRule</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverRuleAssociationRequest",
        "variableName" : "getResolverRuleAssociationRequest",
        "variableType" : "GetResolverRuleAssociationRequest",
        "documentation" : "",
        "simpleType" : "GetResolverRuleAssociationRequest",
        "variableSetterType" : "GetResolverRuleAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverRuleAssociation",
      "operationName" : "GetResolverRuleAssociation",
      "returnType" : {
        "returnType" : "GetResolverRuleAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverRuleAssociationResult"
    },
    "GetResolverRulePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResolverRulePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResolverRulePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResolverRulePolicyRequest, GetResolverRulePolicyResult>",
      "asyncReturnType" : "GetResolverRulePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a Resolver rule policy. A Resolver rule policy specifies the Resolver operations and resources that you want to allow another AWS account to be able to use. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResolverRulePolicyRequest",
        "variableName" : "getResolverRulePolicyRequest",
        "variableType" : "GetResolverRulePolicyRequest",
        "documentation" : "",
        "simpleType" : "GetResolverRulePolicyRequest",
        "variableSetterType" : "GetResolverRulePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResolverRulePolicy",
      "operationName" : "GetResolverRulePolicy",
      "returnType" : {
        "returnType" : "GetResolverRulePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResolverRulePolicyResult"
    },
    "ListResolverEndpointIpAddresses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolverEndpointIpAddressesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolverEndpointIpAddressesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolverEndpointIpAddressesRequest, ListResolverEndpointIpAddressesResult>",
      "asyncReturnType" : "ListResolverEndpointIpAddressesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the IP addresses for a specified Resolver endpoint.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolverEndpointIpAddressesRequest",
        "variableName" : "listResolverEndpointIpAddressesRequest",
        "variableType" : "ListResolverEndpointIpAddressesRequest",
        "documentation" : "",
        "simpleType" : "ListResolverEndpointIpAddressesRequest",
        "variableSetterType" : "ListResolverEndpointIpAddressesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolverEndpointIpAddresses",
      "operationName" : "ListResolverEndpointIpAddresses",
      "returnType" : {
        "returnType" : "ListResolverEndpointIpAddressesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolverEndpointIpAddressesResult"
    },
    "ListResolverEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolverEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolverEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolverEndpointsRequest, ListResolverEndpointsResult>",
      "asyncReturnType" : "ListResolverEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the Resolver endpoints that were created using the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolverEndpointsRequest",
        "variableName" : "listResolverEndpointsRequest",
        "variableType" : "ListResolverEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListResolverEndpointsRequest",
        "variableSetterType" : "ListResolverEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolverEndpoints",
      "operationName" : "ListResolverEndpoints",
      "returnType" : {
        "returnType" : "ListResolverEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolverEndpointsResult"
    },
    "ListResolverQueryLogConfigAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolverQueryLogConfigAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolverQueryLogConfigAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolverQueryLogConfigAssociationsRequest, ListResolverQueryLogConfigAssociationsResult>",
      "asyncReturnType" : "ListResolverQueryLogConfigAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about associations between Amazon VPCs and query logging configurations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolverQueryLogConfigAssociationsRequest",
        "variableName" : "listResolverQueryLogConfigAssociationsRequest",
        "variableType" : "ListResolverQueryLogConfigAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListResolverQueryLogConfigAssociationsRequest",
        "variableSetterType" : "ListResolverQueryLogConfigAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolverQueryLogConfigAssociations",
      "operationName" : "ListResolverQueryLogConfigAssociations",
      "returnType" : {
        "returnType" : "ListResolverQueryLogConfigAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolverQueryLogConfigAssociationsResult"
    },
    "ListResolverQueryLogConfigs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolverQueryLogConfigsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolverQueryLogConfigsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolverQueryLogConfigsRequest, ListResolverQueryLogConfigsResult>",
      "asyncReturnType" : "ListResolverQueryLogConfigsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about the specified query logging configurations. Each configuration defines where you want Resolver to save DNS query logs and specifies the VPCs that you want to log queries for.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolverQueryLogConfigsRequest",
        "variableName" : "listResolverQueryLogConfigsRequest",
        "variableType" : "ListResolverQueryLogConfigsRequest",
        "documentation" : "",
        "simpleType" : "ListResolverQueryLogConfigsRequest",
        "variableSetterType" : "ListResolverQueryLogConfigsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolverQueryLogConfigs",
      "operationName" : "ListResolverQueryLogConfigs",
      "returnType" : {
        "returnType" : "ListResolverQueryLogConfigsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolverQueryLogConfigsResult"
    },
    "ListResolverRuleAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolverRuleAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolverRuleAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolverRuleAssociationsRequest, ListResolverRuleAssociationsResult>",
      "asyncReturnType" : "ListResolverRuleAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the associations that were created between Resolver rules and VPCs using the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolverRuleAssociationsRequest",
        "variableName" : "listResolverRuleAssociationsRequest",
        "variableType" : "ListResolverRuleAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListResolverRuleAssociationsRequest",
        "variableSetterType" : "ListResolverRuleAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolverRuleAssociations",
      "operationName" : "ListResolverRuleAssociations",
      "returnType" : {
        "returnType" : "ListResolverRuleAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolverRuleAssociationsResult"
    },
    "ListResolverRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResolverRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResolverRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResolverRulesRequest, ListResolverRulesResult>",
      "asyncReturnType" : "ListResolverRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Resolver rules that were created using the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResolverRulesRequest",
        "variableName" : "listResolverRulesRequest",
        "variableType" : "ListResolverRulesRequest",
        "documentation" : "",
        "simpleType" : "ListResolverRulesRequest",
        "variableSetterType" : "ListResolverRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResolverRules",
      "operationName" : "ListResolverRules",
      "returnType" : {
        "returnType" : "ListResolverRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResolverRulesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags that you associated with the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutResolverQueryLogConfigPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResolverQueryLogConfigPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResolverQueryLogConfigPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResolverQueryLogConfigPolicyRequest, PutResolverQueryLogConfigPolicyResult>",
      "asyncReturnType" : "PutResolverQueryLogConfigPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies an AWS account that you want to share a query logging configuration with, the query logging configuration that you want to share, and the operations that you want the account to be able to perform on the configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidPolicyDocumentException",
        "documentation" : "<p>The specified Resolver rule policy is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutResolverQueryLogConfigPolicyRequest",
        "variableName" : "putResolverQueryLogConfigPolicyRequest",
        "variableType" : "PutResolverQueryLogConfigPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutResolverQueryLogConfigPolicyRequest",
        "variableSetterType" : "PutResolverQueryLogConfigPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResolverQueryLogConfigPolicy",
      "operationName" : "PutResolverQueryLogConfigPolicy",
      "returnType" : {
        "returnType" : "PutResolverQueryLogConfigPolicyResult",
        "documentation" : "<p>The response to a <code>PutResolverQueryLogConfigPolicy</code> request.</p>"
      },
      "syncReturnType" : "PutResolverQueryLogConfigPolicyResult"
    },
    "PutResolverRulePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResolverRulePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResolverRulePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResolverRulePolicyRequest, PutResolverRulePolicyResult>",
      "asyncReturnType" : "PutResolverRulePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies an AWS account that you want to share rules with, the Resolver rules that you want to share, and the operations that you want the account to be able to perform on those rules.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidPolicyDocumentException",
        "documentation" : "<p>The specified Resolver rule policy is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnknownResourceException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutResolverRulePolicyRequest",
        "variableName" : "putResolverRulePolicyRequest",
        "variableType" : "PutResolverRulePolicyRequest",
        "documentation" : "",
        "simpleType" : "PutResolverRulePolicyRequest",
        "variableSetterType" : "PutResolverRulePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResolverRulePolicy",
      "operationName" : "PutResolverRulePolicy",
      "returnType" : {
        "returnType" : "PutResolverRulePolicyResult",
        "documentation" : "<p>The response to a <code>PutResolverRulePolicy</code> request.</p>"
      },
      "syncReturnType" : "PutResolverRulePolicyResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to a specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The specified tag is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from a specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateResolverEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResolverEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResolverEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResolverEndpointRequest, UpdateResolverEndpointResult>",
      "asyncReturnType" : "UpdateResolverEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the name of an inbound or an outbound Resolver endpoint. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResolverEndpointRequest",
        "variableName" : "updateResolverEndpointRequest",
        "variableType" : "UpdateResolverEndpointRequest",
        "documentation" : "",
        "simpleType" : "UpdateResolverEndpointRequest",
        "variableSetterType" : "UpdateResolverEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResolverEndpoint",
      "operationName" : "UpdateResolverEndpoint",
      "returnType" : {
        "returnType" : "UpdateResolverEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResolverEndpointResult"
    },
    "UpdateResolverRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResolverRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResolverRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResolverRuleRequest, UpdateResolverRuleResult>",
      "asyncReturnType" : "UpdateResolverRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates settings for a specified Resolver rule. <code>ResolverRuleId</code> is required, and all other parameters are optional. If you don't specify a parameter, it retains its current value.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters in this request are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request caused one or more limits to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled. Try again in a few minutes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResolverRuleRequest",
        "variableName" : "updateResolverRuleRequest",
        "variableType" : "UpdateResolverRuleRequest",
        "documentation" : "",
        "simpleType" : "UpdateResolverRuleRequest",
        "variableSetterType" : "UpdateResolverRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResolverRule",
      "operationName" : "UpdateResolverRule",
      "returnType" : {
        "returnType" : "UpdateResolverRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResolverRuleResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.route53resolver.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.route53resolver.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssociateResolverEndpointIpAddressRequest" : {
      "c2jName" : "AssociateResolverEndpointIpAddressRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.route53resolver.request.AssociateResolverEndpointIpAddressRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateResolverEndpointIpAddress",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Route53Resolver.AssociateResolverEndpointIpAddress",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ResolverEndpointId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the Resolver endpoint that you want to associate IP addresses with.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the Resolver endpoint that you want to associate IP addresses with.</p>\n@param resolverEndpointId The ID of the Resolver endpoint that you want to associate IP addresses with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResolverEndpointId",
        "getterDocumentation" : "/**<p>The ID of the Resolver endpoint that you want to associate IP addresses with.</p>\n@return The ID of the Resolver endpoint that you want to associate IP addresses with.*/",
        "getterMethodName" : "getResolverEndpointId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
[...]
