{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "BillingRecord" : [ "Operation" ],
      "CheckDomainAvailabilityResponse" : [ "Availability" ],
      "ContactDetail" : [ "ContactType", "CountryCode" ],
      "ExtraParam" : [ "Name" ],
      "GetContactReachabilityStatusResponse" : [ "status" ],
      "GetOperationDetailResponse" : [ "Status", "Type" ],
      "OperationSummary" : [ "Status", "Type" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "ListDomains" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListOperations" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2014-05-15",
    "asyncClient" : "AmazonRoute53DomainsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonRoute53DomainsAsyncClientBuilder",
    "asyncInterface" : "AmazonRoute53DomainsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonRoute53DomainsModuleInjector",
    "defaultEndpoint" : "https://route53domains.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "route53domains.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Route 53 API actions let you register domain names and perform related operations.</p>",
    "endpointPrefix" : "route53domains",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.route53domains",
    "packagePath" : "com/amazonaws/services/route53domains",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Route 53 Domains",
    "serviceId" : "Route 53 Domains",
    "serviceName" : "Amazon Route 53 Domains",
    "signingName" : "route53domains",
    "smokeTestsPackageName" : "com.amazonaws.services.route53domains.smoketests",
    "syncClient" : "AmazonRoute53DomainsClient",
    "syncClientBuilderClassName" : "AmazonRoute53DomainsClientBuilder",
    "syncInterface" : "AmazonRoute53Domains",
    "uid" : "route53domains-2014-05-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CheckDomainAvailability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CheckDomainAvailabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CheckDomainAvailabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckDomainAvailabilityRequest, CheckDomainAvailabilityResult>",
      "asyncReturnType" : "CheckDomainAvailabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation checks the availability of one domain name. Note that if the availability status of a domain is pending, you must submit another request to determine the availability of the domain name.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CheckDomainAvailabilityRequest",
        "variableName" : "checkDomainAvailabilityRequest",
        "variableType" : "CheckDomainAvailabilityRequest",
        "documentation" : "<p>The CheckDomainAvailability request contains the following elements.</p>",
        "simpleType" : "CheckDomainAvailabilityRequest",
        "variableSetterType" : "CheckDomainAvailabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "checkDomainAvailability",
      "operationName" : "CheckDomainAvailability",
      "returnType" : {
        "returnType" : "CheckDomainAvailabilityResult",
        "documentation" : "<p>The CheckDomainAvailability response includes the following elements.</p>"
      },
      "syncReturnType" : "CheckDomainAvailabilityResult"
    },
    "CheckDomainTransferability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CheckDomainTransferabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CheckDomainTransferabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckDomainTransferabilityRequest, CheckDomainTransferabilityResult>",
      "asyncReturnType" : "CheckDomainTransferabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks whether a domain name can be transferred to Amazon Route 53. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CheckDomainTransferabilityRequest",
        "variableName" : "checkDomainTransferabilityRequest",
        "variableType" : "CheckDomainTransferabilityRequest",
        "documentation" : "<p>The CheckDomainTransferability request contains the following elements.</p>",
        "simpleType" : "CheckDomainTransferabilityRequest",
        "variableSetterType" : "CheckDomainTransferabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "checkDomainTransferability",
      "operationName" : "CheckDomainTransferability",
      "returnType" : {
        "returnType" : "CheckDomainTransferabilityResult",
        "documentation" : "<p>The CheckDomainTransferability response includes the following elements.</p>"
      },
      "syncReturnType" : "CheckDomainTransferabilityResult"
    },
    "DeleteTagsForDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsForDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsForDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsForDomainRequest, DeleteTagsForDomainResult>",
      "asyncReturnType" : "DeleteTagsForDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation deletes the specified tags for a domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTagsForDomainRequest",
        "variableName" : "deleteTagsForDomainRequest",
        "variableType" : "DeleteTagsForDomainRequest",
        "documentation" : "<p>The DeleteTagsForDomainRequest includes the following elements.</p>",
        "simpleType" : "DeleteTagsForDomainRequest",
        "variableSetterType" : "DeleteTagsForDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTagsForDomain",
      "operationName" : "DeleteTagsForDomain",
      "returnType" : {
        "returnType" : "DeleteTagsForDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsForDomainResult"
    },
    "DisableDomainAutoRenew" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableDomainAutoRenewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableDomainAutoRenewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableDomainAutoRenewRequest, DisableDomainAutoRenewResult>",
      "asyncReturnType" : "DisableDomainAutoRenewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation disables automatic renewal of domain registration for the specified domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableDomainAutoRenewRequest",
        "variableName" : "disableDomainAutoRenewRequest",
        "variableType" : "DisableDomainAutoRenewRequest",
        "documentation" : "",
        "simpleType" : "DisableDomainAutoRenewRequest",
        "variableSetterType" : "DisableDomainAutoRenewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableDomainAutoRenew",
      "operationName" : "DisableDomainAutoRenew",
      "returnType" : {
        "returnType" : "DisableDomainAutoRenewResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableDomainAutoRenewResult"
    },
    "DisableDomainTransferLock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableDomainTransferLockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableDomainTransferLockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableDomainTransferLockRequest, DisableDomainTransferLockResult>",
      "asyncReturnType" : "DisableDomainTransferLockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation removes the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to allow domain transfers. We recommend you refrain from performing this action unless you intend to transfer the domain to a different registrar. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableDomainTransferLockRequest",
        "variableName" : "disableDomainTransferLockRequest",
        "variableType" : "DisableDomainTransferLockRequest",
        "documentation" : "<p>The DisableDomainTransferLock request includes the following element.</p>",
        "simpleType" : "DisableDomainTransferLockRequest",
        "variableSetterType" : "DisableDomainTransferLockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableDomainTransferLock",
      "operationName" : "DisableDomainTransferLock",
      "returnType" : {
        "returnType" : "DisableDomainTransferLockResult",
        "documentation" : "<p>The DisableDomainTransferLock response includes the following element.</p>"
      },
      "syncReturnType" : "DisableDomainTransferLockResult"
    },
    "EnableDomainAutoRenew" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableDomainAutoRenewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableDomainAutoRenewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableDomainAutoRenewRequest, EnableDomainAutoRenewResult>",
      "asyncReturnType" : "EnableDomainAutoRenewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation configures Amazon Route 53 to automatically renew the specified domain before the domain registration expires. The cost of renewing your domain registration is billed to your AWS account.</p> <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs and their renewal policies, see <a href=\"http://wiki.gandi.net/en/domains/renew#renewal_restoration_and_deletion_times\">\"Renewal, restoration, and deletion times\"</a> on the website for our registrar associate, Gandi. Amazon Route 53 requires that you renew before the end of the renewal period that is listed on the Gandi website so we can complete processing before the deadline.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableDomainAutoRenewRequest",
        "variableName" : "enableDomainAutoRenewRequest",
        "variableType" : "EnableDomainAutoRenewRequest",
        "documentation" : "",
        "simpleType" : "EnableDomainAutoRenewRequest",
        "variableSetterType" : "EnableDomainAutoRenewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableDomainAutoRenew",
      "operationName" : "EnableDomainAutoRenew",
      "returnType" : {
        "returnType" : "EnableDomainAutoRenewResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableDomainAutoRenewResult"
    },
    "EnableDomainTransferLock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableDomainTransferLockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableDomainTransferLockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableDomainTransferLockRequest, EnableDomainTransferLockResult>",
      "asyncReturnType" : "EnableDomainTransferLockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation sets the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to prevent domain transfers. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableDomainTransferLockRequest",
        "variableName" : "enableDomainTransferLockRequest",
        "variableType" : "EnableDomainTransferLockRequest",
        "documentation" : "<p>A request to set the transfer lock for the specified domain.</p>",
        "simpleType" : "EnableDomainTransferLockRequest",
        "variableSetterType" : "EnableDomainTransferLockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableDomainTransferLock",
      "operationName" : "EnableDomainTransferLock",
      "returnType" : {
        "returnType" : "EnableDomainTransferLockResult",
        "documentation" : "<p>The EnableDomainTransferLock response includes the following elements.</p>"
      },
      "syncReturnType" : "EnableDomainTransferLockResult"
    },
    "GetContactReachabilityStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContactReachabilityStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContactReachabilityStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContactReachabilityStatusRequest, GetContactReachabilityStatusResult>",
      "asyncReturnType" : "GetContactReachabilityStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation returns information about whether the registrant contact has responded.</p> <p>If you want us to resend the email, use the <code>ResendContactReachabilityEmail</code> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContactReachabilityStatusRequest",
        "variableName" : "getContactReachabilityStatusRequest",
        "variableType" : "GetContactReachabilityStatusRequest",
        "documentation" : "",
        "simpleType" : "GetContactReachabilityStatusRequest",
        "variableSetterType" : "GetContactReachabilityStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContactReachabilityStatus",
      "operationName" : "GetContactReachabilityStatus",
      "returnType" : {
        "returnType" : "GetContactReachabilityStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContactReachabilityStatusResult"
    },
    "GetDomainDetail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainDetailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainDetailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainDetailRequest, GetDomainDetailResult>",
      "asyncReturnType" : "GetDomainDetailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns detailed information about a specified domain that is associated with the current AWS account. Contact information for the domain is also returned as part of the output.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDomainDetailRequest",
        "variableName" : "getDomainDetailRequest",
        "variableType" : "GetDomainDetailRequest",
        "documentation" : "<p>The GetDomainDetail request includes the following element.</p>",
        "simpleType" : "GetDomainDetailRequest",
        "variableSetterType" : "GetDomainDetailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomainDetail",
      "operationName" : "GetDomainDetail",
      "returnType" : {
        "returnType" : "GetDomainDetailResult",
        "documentation" : "<p>The GetDomainDetail response includes the following elements.</p>"
      },
      "syncReturnType" : "GetDomainDetailResult"
    },
    "GetDomainSuggestions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainSuggestionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainSuggestionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainSuggestionsRequest, GetDomainSuggestionsResult>",
      "asyncReturnType" : "GetDomainSuggestionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The GetDomainSuggestions operation returns a list of suggested domain names given a string, which can either be a domain name or simply a word or phrase (without spaces).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDomainSuggestionsRequest",
        "variableName" : "getDomainSuggestionsRequest",
        "variableType" : "GetDomainSuggestionsRequest",
        "documentation" : "",
        "simpleType" : "GetDomainSuggestionsRequest",
        "variableSetterType" : "GetDomainSuggestionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomainSuggestions",
      "operationName" : "GetDomainSuggestions",
      "returnType" : {
        "returnType" : "GetDomainSuggestionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDomainSuggestionsResult"
    },
    "GetOperationDetail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOperationDetailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOperationDetailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOperationDetailRequest, GetOperationDetailResult>",
      "asyncReturnType" : "GetOperationDetailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns the current status of an operation that is not completed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOperationDetailRequest",
        "variableName" : "getOperationDetailRequest",
        "variableType" : "GetOperationDetailRequest",
        "documentation" : "<p>The <a>GetOperationDetail</a> request includes the following element.</p>",
        "simpleType" : "GetOperationDetailRequest",
        "variableSetterType" : "GetOperationDetailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOperationDetail",
      "operationName" : "GetOperationDetail",
      "returnType" : {
        "returnType" : "GetOperationDetailResult",
        "documentation" : "<p>The GetOperationDetail response includes the following elements.</p>"
      },
      "syncReturnType" : "GetOperationDetailResult"
    },
    "ListDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainsRequest, ListDomainsResult>",
      "asyncReturnType" : "ListDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns all the domain names registered with Amazon Route 53 for the current AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDomainsRequest",
        "variableName" : "listDomainsRequest",
        "variableType" : "ListDomainsRequest",
        "documentation" : "<p>The ListDomains request includes the following elements.</p>",
        "simpleType" : "ListDomainsRequest",
        "variableSetterType" : "ListDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomains",
      "operationName" : "ListDomains",
      "returnType" : {
        "returnType" : "ListDomainsResult",
        "documentation" : "<p>The ListDomains response includes the following elements.</p>"
      },
      "syncReturnType" : "ListDomainsResult"
    },
    "ListOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOperationsRequest, ListOperationsResult>",
      "asyncReturnType" : "ListOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns the operation IDs of operations that are not yet complete.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOperationsRequest",
        "variableName" : "listOperationsRequest",
        "variableType" : "ListOperationsRequest",
        "documentation" : "<p>The ListOperations request includes the following elements.</p>",
        "simpleType" : "ListOperationsRequest",
        "variableSetterType" : "ListOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOperations",
      "operationName" : "ListOperations",
      "returnType" : {
        "returnType" : "ListOperationsResult",
        "documentation" : "<p>The ListOperations response includes the following elements.</p>"
      },
      "syncReturnType" : "ListOperationsResult"
    },
    "ListTagsForDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForDomainRequest, ListTagsForDomainResult>",
      "asyncReturnType" : "ListTagsForDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns all of the tags that are associated with the specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForDomainRequest",
        "variableName" : "listTagsForDomainRequest",
        "variableType" : "ListTagsForDomainRequest",
        "documentation" : "<p>The ListTagsForDomainRequest includes the following elements.</p>",
        "simpleType" : "ListTagsForDomainRequest",
        "variableSetterType" : "ListTagsForDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForDomain",
      "operationName" : "ListTagsForDomain",
      "returnType" : {
        "returnType" : "ListTagsForDomainResult",
        "documentation" : "<p>The ListTagsForDomain response includes the following elements.</p>"
      },
      "syncReturnType" : "ListTagsForDomainResult"
    },
    "RegisterDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterDomainRequest, RegisterDomainResult>",
      "asyncReturnType" : "RegisterDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation registers a domain. Domains are registered either by Amazon Registrar (for .com, .net, and .org domains) or by our registrar associate, Gandi (for all other domains). For some top-level domains (TLDs), this operation requires extra parameters.</p> <p>When you register a domain, Amazon Route 53 does the following:</p> <ul> <li> <p>Creates a Amazon Route 53 hosted zone that has the same name as the domain. Amazon Route 53 assigns four name servers to your hosted zone and automatically updates your domain registration with the names of these name servers.</p> </li> <li> <p>Enables autorenew, so your domain registration will renew automatically each year. We'll notify you in advance of the renewal date so you can choose whether to renew the registration.</p> </li> <li> <p>Optionally enables privacy protection, so WHOIS queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you don't enable privacy protection, WHOIS queries return the information that you entered for the registrant, admin, and tech contacts.</p> </li> <li> <p>If registration is successful, returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant is notified by email.</p> </li> <li> <p>Charges your AWS account an amount based on the top-level domain. For more information, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DomainLimitExceededException",
        "documentation" : "<p>The number of domains has exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterDomainRequest",
        "variableName" : "registerDomainRequest",
        "variableType" : "RegisterDomainRequest",
        "documentation" : "<p>The RegisterDomain request includes the following elements.</p>",
        "simpleType" : "RegisterDomainRequest",
        "variableSetterType" : "RegisterDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerDomain",
      "operationName" : "RegisterDomain",
      "returnType" : {
        "returnType" : "RegisterDomainResult",
        "documentation" : "<p>The RegisterDomain response includes the following element.</p>"
      },
      "syncReturnType" : "RegisterDomainResult"
    },
    "RenewDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RenewDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RenewDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RenewDomainRequest, RenewDomainResult>",
      "asyncReturnType" : "RenewDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation renews a domain for the specified number of years. The cost of renewing your domain is billed to your AWS account.</p> <p>We recommend that you renew your domain several weeks before the expiration date. Some TLD registries delete domains before the expiration date if you haven't renewed far enough in advance. For more information about renewing domain registration, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-renew.html\">Renewing Registration for a Domain</a> in the Amazon Route 53 Developer Guide.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RenewDomainRequest",
        "variableName" : "renewDomainRequest",
        "variableType" : "RenewDomainRequest",
        "documentation" : "<p>A <code>RenewDomain</code> request includes the number of years that you want to renew for and the current expiration year.</p>",
        "simpleType" : "RenewDomainRequest",
        "variableSetterType" : "RenewDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "renewDomain",
      "operationName" : "RenewDomain",
      "returnType" : {
        "returnType" : "RenewDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "RenewDomainResult"
    },
    "ResendContactReachabilityEmail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResendContactReachabilityEmailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResendContactReachabilityEmailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResendContactReachabilityEmailRequest, ResendContactReachabilityEmailResult>",
      "asyncReturnType" : "ResendContactReachabilityEmailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation resends the confirmation email to the current email address for the registrant contact.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResendContactReachabilityEmailRequest",
        "variableName" : "resendContactReachabilityEmailRequest",
        "variableType" : "ResendContactReachabilityEmailRequest",
        "documentation" : "",
        "simpleType" : "ResendContactReachabilityEmailRequest",
        "variableSetterType" : "ResendContactReachabilityEmailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resendContactReachabilityEmail",
      "operationName" : "ResendContactReachabilityEmail",
      "returnType" : {
        "returnType" : "ResendContactReachabilityEmailResult",
        "documentation" : null
      },
      "syncReturnType" : "ResendContactReachabilityEmailResult"
    },
    "RetrieveDomainAuthCode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetrieveDomainAuthCodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetrieveDomainAuthCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetrieveDomainAuthCodeRequest, RetrieveDomainAuthCodeResult>",
      "asyncReturnType" : "RetrieveDomainAuthCodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns the AuthCode for the domain. To transfer a domain to another registrar, you provide this value to the new registrar.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RetrieveDomainAuthCodeRequest",
        "variableName" : "retrieveDomainAuthCodeRequest",
        "variableType" : "RetrieveDomainAuthCodeRequest",
        "documentation" : "<p>A request for the authorization code for the specified domain. To transfer a domain to another registrar, you provide this value to the new registrar.</p>",
        "simpleType" : "RetrieveDomainAuthCodeRequest",
        "variableSetterType" : "RetrieveDomainAuthCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retrieveDomainAuthCode",
      "operationName" : "RetrieveDomainAuthCode",
      "returnType" : {
        "returnType" : "RetrieveDomainAuthCodeResult",
        "documentation" : "<p>The RetrieveDomainAuthCode response includes the following element.</p>"
      },
      "syncReturnType" : "RetrieveDomainAuthCodeResult"
    },
    "TransferDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TransferDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TransferDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TransferDomainRequest, TransferDomainResult>",
      "asyncReturnType" : "TransferDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation transfers a domain from another registrar to Amazon Route 53. When the transfer is complete, the domain is registered either with Amazon Registrar (for .com, .net, and .org domains) or with our registrar associate, Gandi (for all other TLDs).</p> <p>For transfer requirements, a detailed procedure, and information about viewing the status of a domain transfer, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-to-route-53.html\">Transferring Registration for a Domain to Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>If the registrar for your domain is also the DNS service provider for the domain, we highly recommend that you consider transferring your DNS service to Amazon Route 53 or to another DNS service provider before you transfer your registration. Some registrars provide free DNS service when you purchase a domain registration. When you transfer the registration, the previous registrar will not renew your domain registration and could end your DNS service at any time.</p> <important> <p>If the registrar for your domain is also the DNS service provider for the domain and you don't transfer DNS service to another provider, your website, email, and the web applications associated with the domain might become unavailable.</p> </important> <p>If the transfer is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the transfer doesn't complete successfully, the domain registrant will be notified by email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DomainLimitExceededException",
        "documentation" : "<p>The number of domains has exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TransferDomainRequest",
        "variableName" : "transferDomainRequest",
        "variableType" : "TransferDomainRequest",
        "documentation" : "<p>The TransferDomain request includes the following elements.</p>",
        "simpleType" : "TransferDomainRequest",
        "variableSetterType" : "TransferDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "transferDomain",
      "operationName" : "TransferDomain",
      "returnType" : {
        "returnType" : "TransferDomainResult",
        "documentation" : "<p>The TranserDomain response includes the following element.</p>"
      },
      "syncReturnType" : "TransferDomainResult"
    },
    "UpdateDomainContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainContactRequest, UpdateDomainContactResult>",
      "asyncReturnType" : "UpdateDomainContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates the contact information for a particular domain. You must specify information for at least one contact: registrant, administrator, or technical.</p> <p>If the update is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDomainContactRequest",
        "variableName" : "updateDomainContactRequest",
        "variableType" : "UpdateDomainContactRequest",
        "documentation" : "<p>The UpdateDomainContact request includes the following elements.</p>",
        "simpleType" : "UpdateDomainContactRequest",
        "variableSetterType" : "UpdateDomainContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomainContact",
      "operationName" : "UpdateDomainContact",
      "returnType" : {
        "returnType" : "UpdateDomainContactResult",
        "documentation" : "<p>The UpdateDomainContact response includes the following element.</p>"
      },
      "syncReturnType" : "UpdateDomainContactResult"
    },
    "UpdateDomainContactPrivacy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainContactPrivacyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainContactPrivacyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainContactPrivacyRequest, UpdateDomainContactPrivacyResult>",
      "asyncReturnType" : "UpdateDomainContactPrivacyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates the specified domain contact's privacy setting. When privacy protection is enabled, contact information such as email address is replaced either with contact information for Amazon Registrar (for .com, .net, and .org domains) or with contact information for our registrar associate, Gandi.</p> <p>This operation affects only the contact information for the specified contact type (registrant, administrator, or tech). If the request succeeds, Amazon Route 53 returns an operation ID that you can use with <a>GetOperationDetail</a> to track the progress and completion of the action. If the request doesn't complete successfully, the domain registrant will be notified by email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDomainContactPrivacyRequest",
        "variableName" : "updateDomainContactPrivacyRequest",
        "variableType" : "UpdateDomainContactPrivacyRequest",
        "documentation" : "<p>The UpdateDomainContactPrivacy request includes the following elements.</p>",
        "simpleType" : "UpdateDomainContactPrivacyRequest",
        "variableSetterType" : "UpdateDomainContactPrivacyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomainContactPrivacy",
      "operationName" : "UpdateDomainContactPrivacy",
      "returnType" : {
        "returnType" : "UpdateDomainContactPrivacyResult",
        "documentation" : "<p>The UpdateDomainContactPrivacy response includes the following element.</p>"
      },
      "syncReturnType" : "UpdateDomainContactPrivacyResult"
    },
    "UpdateDomainNameservers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainNameserversResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainNameserversResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainNameserversRequest, UpdateDomainNameserversResult>",
      "asyncReturnType" : "UpdateDomainNameserversResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain.</p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>The request is already in progress for the domain.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TLDRulesViolationException",
        "documentation" : "<p>The top-level domain does not support this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDomainNameserversRequest",
        "variableName" : "updateDomainNameserversRequest",
        "variableType" : "UpdateDomainNameserversRequest",
        "documentation" : "<p>Replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain.</p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email. </p>",
        "simpleType" : "UpdateDomainNameserversRequest",
        "variableSetterType" : "UpdateDomainNameserversRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomainNameservers",
      "operationName" : "UpdateDomainNameservers",
      "returnType" : {
        "returnType" : "UpdateDomainNameserversResult",
        "documentation" : "<p>The UpdateDomainNameservers response includes the following element.</p>"
      },
      "syncReturnType" : "UpdateDomainNameserversResult"
    },
    "UpdateTagsForDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTagsForDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTagsForDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTagsForDomainRequest, UpdateTagsForDomainResult>",
      "asyncReturnType" : "UpdateTagsForDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation adds or updates tags for a specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationLimitExceededException",
        "documentation" : "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedTLDException",
        "documentation" : "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTagsForDomainRequest",
        "variableName" : "updateTagsForDomainRequest",
        "variableType" : "UpdateTagsForDomainRequest",
        "documentation" : "<p>The UpdateTagsForDomainRequest includes the following elements.</p>",
        "simpleType" : "UpdateTagsForDomainRequest",
        "variableSetterType" : "UpdateTagsForDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTagsForDomain",
      "operationName" : "UpdateTagsForDomain",
      "returnType" : {
        "returnType" : "UpdateTagsForDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTagsForDomainResult"
    },
    "ViewBilling" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ViewBillingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ViewBillingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ViewBillingRequest, ViewBillingResult>",
      "asyncReturnType" : "ViewBillingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all the domain-related billing records for the current AWS account for a specified period</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ViewBillingRequest",
        "variableName" : "viewBillingRequest",
        "variableType" : "ViewBillingRequest",
        "documentation" : "<p>The ViewBilling request includes the following elements.</p>",
        "simpleType" : "ViewBillingRequest",
        "variableSetterType" : "ViewBillingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "viewBilling",
      "operationName" : "ViewBilling",
      "returnType" : {
        "returnType" : "ViewBillingResult",
        "documentation" : "<p>The ViewBilling response includes the following elements.</p>"
      },
      "syncReturnType" : "ViewBillingResult"
    }
  },
  "shapes" : {
    "BillingRecord" : {
      "c2jName" : "BillingRecord",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information for one billing record.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DomainName",
        "c2jShape" : "DomainName",
        "deprecated" : false,
        "documentation" : "<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>\n@param domainName The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDomainName",
        "getterDocumentation" : "/**<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>\n@return The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.*/",
        "getterMethodName" : "getDomainName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DomainName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>\n@param domainName The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.*/",
        "setterMethodName" : "setDomainName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>\n@param domainName The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Operation",
        "c2jShape" : "OperationType",
        "deprecated" : false,
        "documentation" : "<p>The operation that you were charged for.</p>",
        "enumType" : "OperationType",
        "fluentSetterDocumentation" : "/**<p>The operation that you were charged for.</p>\n@param operation The operation that you were charged for.\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationType*/",
        "fluentSetterMethodName" : "withOperation",
        "getterDocumentation" : "/**<p>The operation that you were charged for.</p>\n@return The operation that you were charged for.\n@see OperationType*/",
        "getterMethodName" : "getOperation",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Operation",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Operation",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Operation",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The operation that you were charged for.</p>\n@param operation The operation that you were charged for.\n@see OperationType*/",
        "setterMethodName" : "setOperation",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "operation",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The operation that you were charged for.</p>\n@param operation The operation that you were charged for.\n@return Returns a reference to this object so that method calls can be chained together.\n@see OperationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "operation",
          "variableType" : "String",
          "documentation" : "<p>The operation that you were charged for.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InvoiceId",
        "c2jShape" : "InvoiceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the invoice that is associated with the billing record.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInvoiceId",
        "getterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p>\n@return The ID of the invoice that is associated with the billing record.*/",
        "getterMethodName" : "getInvoiceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InvoiceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InvoiceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InvoiceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.*/",
        "setterMethodName" : "setInvoiceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "invoiceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "invoiceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the invoice that is associated with the billing record.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BillDate",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date that the operation was billed, in Unix format.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p>\n@param billDate The date that the operation was billed, in Unix format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBillDate",
        "getterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p>\n@return The date that the operation was billed, in Unix format.*/",
        "getterMethodName" : "getBillDate",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BillDate",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BillDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "BillDate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p>\n@param billDate The date that the operation was billed, in Unix format.*/",
        "setterMethodName" : "setBillDate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "billDate",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p>\n@param billDate The date that the operation was billed, in Unix format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "billDate",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date that the operation was billed, in Unix format.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Price",
        "c2jShape" : "Price",
        "deprecated" : false,
        "documentation" : "<p>The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0</p>\n@param price The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPrice",
        "getterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0</p>\n@return The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0*/",
        "getterMethodName" : "getPrice",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Price",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Price",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "Price",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0</p>\n@param price The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0*/",
        "setterMethodName" : "setPrice",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "price",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0</p>\n@param price The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "price",
          "variableType" : "Double",
          "documentation" : "<p>The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BillDate" : {
          "c2jName" : "BillDate",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date that the operation was billed, in Unix format.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p>\n@param billDate The date that the operation was billed, in Unix format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBillDate",
          "getterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p>\n@return The date that the operation was billed, in Unix format.*/",
          "getterMethodName" : "getBillDate",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BillDate",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BillDate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "BillDate",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p>\n@param billDate The date that the operation was billed, in Unix format.*/",
          "setterMethodName" : "setBillDate",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "billDate",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date that the operation was billed, in Unix format.</p>\n@param billDate The date that the operation was billed, in Unix format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "billDate",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The date that the operation was billed, in Unix format.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "DomainName" : {
          "c2jName" : "DomainName",
          "c2jShape" : "DomainName",
          "deprecated" : false,
          "documentation" : "<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>\n@param domainName The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDomainName",
          "getterDocumentation" : "/**<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>\n@return The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.*/",
          "getterMethodName" : "getDomainName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DomainName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DomainName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DomainName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>\n@param domainName The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.*/",
          "setterMethodName" : "setDomainName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>\n@param domainName The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "InvoiceId" : {
          "c2jName" : "InvoiceId",
          "c2jShape" : "InvoiceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the invoice that is associated with the billing record.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInvoiceId",
          "getterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p>\n@return The ID of the invoice that is associated with the billing record.*/",
          "getterMethodName" : "getInvoiceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "InvoiceId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InvoiceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InvoiceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the invoice that is associated with the billing record.</p>\n@param invoiceId The ID of the invoice that is associated with the billing record.*/",
          "setterMethodName" : "setInvoiceId",
          "setterModel" : {
[...]
