{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-12-02",
    "asyncClient" : "AWSRoute53RecoveryReadinessAsyncClient",
    "asyncClientBuilderClassName" : "AWSRoute53RecoveryReadinessAsyncClientBuilder",
    "asyncInterface" : "AWSRoute53RecoveryReadinessAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSRoute53RecoveryReadinessModuleInjector",
    "defaultEndpoint" : "route53-recovery-readiness.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "route53-recovery-readiness.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Recovery readiness</p>",
    "endpointPrefix" : "route53-recovery-readiness",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.route53recoveryreadiness",
    "packagePath" : "com/amazonaws/services/route53recoveryreadiness",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Route53 Recovery Readiness",
    "serviceId" : "Route53 Recovery Readiness",
    "serviceName" : "AWS Route53 Recovery Readiness",
    "signingName" : "route53-recovery-readiness",
    "smokeTestsPackageName" : "com.amazonaws.services.route53recoveryreadiness.smoketests",
    "syncClient" : "AWSRoute53RecoveryReadinessClient",
    "syncClientBuilderClassName" : "AWSRoute53RecoveryReadinessClientBuilder",
    "syncInterface" : "AWSRoute53RecoveryReadiness",
    "uid" : "route53-recovery-readiness-2019-12-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCell" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCellResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCellResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCellRequest, CreateCellResult>",
      "asyncReturnType" : "CreateCellResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a cell in an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - Conflict exception. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCellRequest",
        "variableName" : "createCellRequest",
        "variableType" : "CreateCellRequest",
        "documentation" : "",
        "simpleType" : "CreateCellRequest",
        "variableSetterType" : "CreateCellRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCell",
      "operationName" : "CreateCell",
      "returnType" : {
        "returnType" : "CreateCellResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "CreateCellResult"
    },
    "CreateCrossAccountAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCrossAccountAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCrossAccountAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCrossAccountAuthorizationRequest, CreateCrossAccountAuthorizationResult>",
      "asyncReturnType" : "CreateCrossAccountAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a cross-account readiness authorization. This lets you authorize another account to work with Route 53 Application Recovery Controller, for example, to check the readiness status of resources in a separate account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - Conflict exception. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCrossAccountAuthorizationRequest",
        "variableName" : "createCrossAccountAuthorizationRequest",
        "variableType" : "CreateCrossAccountAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "CreateCrossAccountAuthorizationRequest",
        "variableSetterType" : "CreateCrossAccountAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCrossAccountAuthorization",
      "operationName" : "CreateCrossAccountAuthorization",
      "returnType" : {
        "returnType" : "CreateCrossAccountAuthorizationResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "CreateCrossAccountAuthorizationResult"
    },
    "CreateReadinessCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReadinessCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReadinessCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReadinessCheckRequest, CreateReadinessCheckResult>",
      "asyncReturnType" : "CreateReadinessCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a readiness check in an account. A readiness check monitors a resource set in your application, such as a set of Amazon Aurora instances, that Application Recovery Controller is auditing recovery readiness for. The audits run once every minute on every resource that's associated with a readiness check.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - Conflict exception. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateReadinessCheckRequest",
        "variableName" : "createReadinessCheckRequest",
        "variableType" : "CreateReadinessCheckRequest",
        "documentation" : "",
        "simpleType" : "CreateReadinessCheckRequest",
        "variableSetterType" : "CreateReadinessCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReadinessCheck",
      "operationName" : "CreateReadinessCheck",
      "returnType" : {
        "returnType" : "CreateReadinessCheckResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "CreateReadinessCheckResult"
    },
    "CreateRecoveryGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRecoveryGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRecoveryGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRecoveryGroupRequest, CreateRecoveryGroupResult>",
      "asyncReturnType" : "CreateRecoveryGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a recovery group in an account. A recovery group corresponds to an application and includes a list of the cells that make up the application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - Conflict exception. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRecoveryGroupRequest",
        "variableName" : "createRecoveryGroupRequest",
        "variableType" : "CreateRecoveryGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateRecoveryGroupRequest",
        "variableSetterType" : "CreateRecoveryGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRecoveryGroup",
      "operationName" : "CreateRecoveryGroup",
      "returnType" : {
        "returnType" : "CreateRecoveryGroupResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "CreateRecoveryGroupResult"
    },
    "CreateResourceSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceSetRequest, CreateResourceSetResult>",
      "asyncReturnType" : "CreateResourceSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a resource set. A resource set is a set of resources of one type that span multiple cells. You can associate a resource set with a readiness check to monitor the resources for failover readiness.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response - Conflict exception. You might be using a predefined variable.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResourceSetRequest",
        "variableName" : "createResourceSetRequest",
        "variableType" : "CreateResourceSetRequest",
        "documentation" : "",
        "simpleType" : "CreateResourceSetRequest",
        "variableSetterType" : "CreateResourceSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResourceSet",
      "operationName" : "CreateResourceSet",
      "returnType" : {
        "returnType" : "CreateResourceSetResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "CreateResourceSetResult"
    },
    "DeleteCell" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCellResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCellResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCellRequest, DeleteCellResult>",
      "asyncReturnType" : "DeleteCellResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a cell. When successful, the response code is 204, with no response body.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCellRequest",
        "variableName" : "deleteCellRequest",
        "variableType" : "DeleteCellRequest",
        "documentation" : "",
        "simpleType" : "DeleteCellRequest",
        "variableSetterType" : "DeleteCellRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCell",
      "operationName" : "DeleteCell",
      "returnType" : {
        "returnType" : "DeleteCellResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCellResult"
    },
    "DeleteCrossAccountAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCrossAccountAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCrossAccountAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCrossAccountAuthorizationRequest, DeleteCrossAccountAuthorizationResult>",
      "asyncReturnType" : "DeleteCrossAccountAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes cross account readiness authorization.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCrossAccountAuthorizationRequest",
        "variableName" : "deleteCrossAccountAuthorizationRequest",
        "variableType" : "DeleteCrossAccountAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "DeleteCrossAccountAuthorizationRequest",
        "variableSetterType" : "DeleteCrossAccountAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCrossAccountAuthorization",
      "operationName" : "DeleteCrossAccountAuthorization",
      "returnType" : {
        "returnType" : "DeleteCrossAccountAuthorizationResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "DeleteCrossAccountAuthorizationResult"
    },
    "DeleteReadinessCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReadinessCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReadinessCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReadinessCheckRequest, DeleteReadinessCheckResult>",
      "asyncReturnType" : "DeleteReadinessCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a readiness check.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReadinessCheckRequest",
        "variableName" : "deleteReadinessCheckRequest",
        "variableType" : "DeleteReadinessCheckRequest",
        "documentation" : "",
        "simpleType" : "DeleteReadinessCheckRequest",
        "variableSetterType" : "DeleteReadinessCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReadinessCheck",
      "operationName" : "DeleteReadinessCheck",
      "returnType" : {
        "returnType" : "DeleteReadinessCheckResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteReadinessCheckResult"
    },
    "DeleteRecoveryGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRecoveryGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRecoveryGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRecoveryGroupRequest, DeleteRecoveryGroupResult>",
      "asyncReturnType" : "DeleteRecoveryGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a recovery group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRecoveryGroupRequest",
        "variableName" : "deleteRecoveryGroupRequest",
        "variableType" : "DeleteRecoveryGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteRecoveryGroupRequest",
        "variableSetterType" : "DeleteRecoveryGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRecoveryGroup",
      "operationName" : "DeleteRecoveryGroup",
      "returnType" : {
        "returnType" : "DeleteRecoveryGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRecoveryGroupResult"
    },
    "DeleteResourceSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourceSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourceSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourceSetRequest, DeleteResourceSetResult>",
      "asyncReturnType" : "DeleteResourceSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a resource set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourceSetRequest",
        "variableName" : "deleteResourceSetRequest",
        "variableType" : "DeleteResourceSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourceSetRequest",
        "variableSetterType" : "DeleteResourceSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourceSet",
      "operationName" : "DeleteResourceSet",
      "returnType" : {
        "returnType" : "DeleteResourceSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourceSetResult"
    },
    "GetArchitectureRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetArchitectureRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetArchitectureRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetArchitectureRecommendationsRequest, GetArchitectureRecommendationsResult>",
      "asyncReturnType" : "GetArchitectureRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets recommendations about architecture designs for improving resiliency for an application, based on a recovery group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetArchitectureRecommendationsRequest",
        "variableName" : "getArchitectureRecommendationsRequest",
        "variableType" : "GetArchitectureRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "GetArchitectureRecommendationsRequest",
        "variableSetterType" : "GetArchitectureRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getArchitectureRecommendations",
      "operationName" : "GetArchitectureRecommendations",
      "returnType" : {
        "returnType" : "GetArchitectureRecommendationsResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "GetArchitectureRecommendationsResult"
    },
    "GetCell" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCellResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCellResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCellRequest, GetCellResult>",
      "asyncReturnType" : "GetCellResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a cell including cell name, cell Amazon Resource Name (ARN), ARNs of nested cells for this cell, and a list of those cell ARNs with their associated recovery group ARNs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCellRequest",
        "variableName" : "getCellRequest",
        "variableType" : "GetCellRequest",
        "documentation" : "",
        "simpleType" : "GetCellRequest",
        "variableSetterType" : "GetCellRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCell",
      "operationName" : "GetCell",
      "returnType" : {
        "returnType" : "GetCellResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "GetCellResult"
    },
    "GetCellReadinessSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCellReadinessSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCellReadinessSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCellReadinessSummaryRequest, GetCellReadinessSummaryResult>",
      "asyncReturnType" : "GetCellReadinessSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets readiness for a cell. Aggregates the readiness of all the resources that are associated with the cell into a single value.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCellReadinessSummaryRequest",
        "variableName" : "getCellReadinessSummaryRequest",
        "variableType" : "GetCellReadinessSummaryRequest",
        "documentation" : "",
        "simpleType" : "GetCellReadinessSummaryRequest",
        "variableSetterType" : "GetCellReadinessSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCellReadinessSummary",
      "operationName" : "GetCellReadinessSummary",
      "returnType" : {
        "returnType" : "GetCellReadinessSummaryResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "GetCellReadinessSummaryResult"
    },
    "GetReadinessCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReadinessCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReadinessCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReadinessCheckRequest, GetReadinessCheckResult>",
      "asyncReturnType" : "GetReadinessCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details about a readiness check.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReadinessCheckRequest",
        "variableName" : "getReadinessCheckRequest",
        "variableType" : "GetReadinessCheckRequest",
        "documentation" : "",
        "simpleType" : "GetReadinessCheckRequest",
        "variableSetterType" : "GetReadinessCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReadinessCheck",
      "operationName" : "GetReadinessCheck",
      "returnType" : {
        "returnType" : "GetReadinessCheckResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "GetReadinessCheckResult"
    },
    "GetReadinessCheckResourceStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReadinessCheckResourceStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReadinessCheckResourceStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReadinessCheckResourceStatusRequest, GetReadinessCheckResourceStatusResult>",
      "asyncReturnType" : "GetReadinessCheckResourceStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets individual readiness status for a readiness check. To see the overall readiness status for a recovery group, that considers the readiness status for all the readiness checks in the recovery group, use GetRecoveryGroupReadinessSummary.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReadinessCheckResourceStatusRequest",
        "variableName" : "getReadinessCheckResourceStatusRequest",
        "variableType" : "GetReadinessCheckResourceStatusRequest",
        "documentation" : "",
        "simpleType" : "GetReadinessCheckResourceStatusRequest",
        "variableSetterType" : "GetReadinessCheckResourceStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReadinessCheckResourceStatus",
      "operationName" : "GetReadinessCheckResourceStatus",
      "returnType" : {
        "returnType" : "GetReadinessCheckResourceStatusResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "GetReadinessCheckResourceStatusResult"
    },
    "GetReadinessCheckStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReadinessCheckStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReadinessCheckStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReadinessCheckStatusRequest, GetReadinessCheckStatusResult>",
      "asyncReturnType" : "GetReadinessCheckStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the readiness status for an individual readiness check. To see the overall readiness status for a recovery group, that considers the readiness status for all the readiness checks in a recovery group, use GetRecoveryGroupReadinessSummary.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReadinessCheckStatusRequest",
        "variableName" : "getReadinessCheckStatusRequest",
        "variableType" : "GetReadinessCheckStatusRequest",
        "documentation" : "",
        "simpleType" : "GetReadinessCheckStatusRequest",
        "variableSetterType" : "GetReadinessCheckStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReadinessCheckStatus",
      "operationName" : "GetReadinessCheckStatus",
      "returnType" : {
        "returnType" : "GetReadinessCheckStatusResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "GetReadinessCheckStatusResult"
    },
    "GetRecoveryGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecoveryGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecoveryGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecoveryGroupRequest, GetRecoveryGroupResult>",
      "asyncReturnType" : "GetRecoveryGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details about a recovery group, including a list of the cells that are included in it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecoveryGroupRequest",
        "variableName" : "getRecoveryGroupRequest",
        "variableType" : "GetRecoveryGroupRequest",
        "documentation" : "",
        "simpleType" : "GetRecoveryGroupRequest",
        "variableSetterType" : "GetRecoveryGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecoveryGroup",
      "operationName" : "GetRecoveryGroup",
      "returnType" : {
        "returnType" : "GetRecoveryGroupResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "GetRecoveryGroupResult"
    },
    "GetRecoveryGroupReadinessSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecoveryGroupReadinessSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecoveryGroupReadinessSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecoveryGroupReadinessSummaryRequest, GetRecoveryGroupReadinessSummaryResult>",
      "asyncReturnType" : "GetRecoveryGroupReadinessSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays a summary of information about a recovery group's readiness status. Includes the readiness checks for resources in the recovery group and the readiness status of each one.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecoveryGroupReadinessSummaryRequest",
        "variableName" : "getRecoveryGroupReadinessSummaryRequest",
        "variableType" : "GetRecoveryGroupReadinessSummaryRequest",
        "documentation" : "",
        "simpleType" : "GetRecoveryGroupReadinessSummaryRequest",
        "variableSetterType" : "GetRecoveryGroupReadinessSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecoveryGroupReadinessSummary",
      "operationName" : "GetRecoveryGroupReadinessSummary",
      "returnType" : {
        "returnType" : "GetRecoveryGroupReadinessSummaryResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "GetRecoveryGroupReadinessSummaryResult"
    },
    "GetResourceSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceSetRequest, GetResourceSetResult>",
      "asyncReturnType" : "GetResourceSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the details about a resource set, including a list of the resources in the set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceSetRequest",
        "variableName" : "getResourceSetRequest",
        "variableType" : "GetResourceSetRequest",
        "documentation" : "",
        "simpleType" : "GetResourceSetRequest",
        "variableSetterType" : "GetResourceSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceSet",
      "operationName" : "GetResourceSet",
      "returnType" : {
        "returnType" : "GetResourceSetResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "GetResourceSetResult"
    },
    "ListCells" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCellsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCellsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCellsRequest, ListCellsResult>",
      "asyncReturnType" : "ListCellsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the cells for an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCellsRequest",
        "variableName" : "listCellsRequest",
        "variableType" : "ListCellsRequest",
        "documentation" : "",
        "simpleType" : "ListCellsRequest",
        "variableSetterType" : "ListCellsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCells",
      "operationName" : "ListCells",
      "returnType" : {
        "returnType" : "ListCellsResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListCellsResult"
    },
    "ListCrossAccountAuthorizations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCrossAccountAuthorizationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCrossAccountAuthorizationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCrossAccountAuthorizationsRequest, ListCrossAccountAuthorizationsResult>",
      "asyncReturnType" : "ListCrossAccountAuthorizationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the cross-account readiness authorizations that are in place for an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCrossAccountAuthorizationsRequest",
        "variableName" : "listCrossAccountAuthorizationsRequest",
        "variableType" : "ListCrossAccountAuthorizationsRequest",
        "documentation" : "",
        "simpleType" : "ListCrossAccountAuthorizationsRequest",
        "variableSetterType" : "ListCrossAccountAuthorizationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCrossAccountAuthorizations",
      "operationName" : "ListCrossAccountAuthorizations",
      "returnType" : {
        "returnType" : "ListCrossAccountAuthorizationsResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListCrossAccountAuthorizationsResult"
    },
    "ListReadinessChecks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReadinessChecksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReadinessChecksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReadinessChecksRequest, ListReadinessChecksResult>",
      "asyncReturnType" : "ListReadinessChecksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the readiness checks for an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReadinessChecksRequest",
        "variableName" : "listReadinessChecksRequest",
        "variableType" : "ListReadinessChecksRequest",
        "documentation" : "",
        "simpleType" : "ListReadinessChecksRequest",
        "variableSetterType" : "ListReadinessChecksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReadinessChecks",
      "operationName" : "ListReadinessChecks",
      "returnType" : {
        "returnType" : "ListReadinessChecksResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListReadinessChecksResult"
    },
    "ListRecoveryGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecoveryGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecoveryGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecoveryGroupsRequest, ListRecoveryGroupsResult>",
      "asyncReturnType" : "ListRecoveryGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the recovery groups in an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecoveryGroupsRequest",
        "variableName" : "listRecoveryGroupsRequest",
        "variableType" : "ListRecoveryGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListRecoveryGroupsRequest",
        "variableSetterType" : "ListRecoveryGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecoveryGroups",
      "operationName" : "ListRecoveryGroups",
      "returnType" : {
        "returnType" : "ListRecoveryGroupsResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListRecoveryGroupsResult"
    },
    "ListResourceSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceSetsRequest, ListResourceSetsResult>",
      "asyncReturnType" : "ListResourceSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resource sets in an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceSetsRequest",
        "variableName" : "listResourceSetsRequest",
        "variableType" : "ListResourceSetsRequest",
        "documentation" : "",
        "simpleType" : "ListResourceSetsRequest",
        "variableSetterType" : "ListResourceSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceSets",
      "operationName" : "ListResourceSets",
      "returnType" : {
        "returnType" : "ListResourceSetsResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListResourceSetsResult"
    },
    "ListRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRulesRequest, ListRulesResult>",
      "asyncReturnType" : "ListRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all readiness rules, or lists the readiness rules for a specific resource type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRulesRequest",
        "variableName" : "listRulesRequest",
        "variableType" : "ListRulesRequest",
        "documentation" : "",
        "simpleType" : "ListRulesRequest",
        "variableSetterType" : "ListRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRules",
      "operationName" : "ListRules",
      "returnType" : {
        "returnType" : "ListRulesResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListRulesResult"
    },
    "ListTagsForResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourcesRequest, ListTagsForResourcesResult>",
      "asyncReturnType" : "ListTagsForResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourcesRequest",
        "variableName" : "listTagsForResourcesRequest",
        "variableType" : "ListTagsForResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourcesRequest",
        "variableSetterType" : "ListTagsForResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResources",
      "operationName" : "ListTagsForResources",
      "returnType" : {
        "returnType" : "ListTagsForResourcesResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "ListTagsForResourcesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a tag to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateCell" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCellResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCellResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCellRequest, UpdateCellResult>",
      "asyncReturnType" : "UpdateCellResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a cell to replace the list of nested cells with a new list of nested cells.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCellRequest",
        "variableName" : "updateCellRequest",
        "variableType" : "UpdateCellRequest",
        "documentation" : "",
        "simpleType" : "UpdateCellRequest",
        "variableSetterType" : "UpdateCellRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCell",
      "operationName" : "UpdateCell",
      "returnType" : {
        "returnType" : "UpdateCellResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "UpdateCellResult"
    },
    "UpdateReadinessCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReadinessCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReadinessCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReadinessCheckRequest, UpdateReadinessCheckResult>",
      "asyncReturnType" : "UpdateReadinessCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a readiness check.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateReadinessCheckRequest",
        "variableName" : "updateReadinessCheckRequest",
        "variableType" : "UpdateReadinessCheckRequest",
        "documentation" : "<p>Name of a readiness check to describe.</p>",
        "simpleType" : "UpdateReadinessCheckRequest",
        "variableSetterType" : "UpdateReadinessCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReadinessCheck",
      "operationName" : "UpdateReadinessCheck",
      "returnType" : {
        "returnType" : "UpdateReadinessCheckResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "UpdateReadinessCheckResult"
    },
    "UpdateRecoveryGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRecoveryGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRecoveryGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRecoveryGroupRequest, UpdateRecoveryGroupResult>",
      "asyncReturnType" : "UpdateRecoveryGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a recovery group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRecoveryGroupRequest",
        "variableName" : "updateRecoveryGroupRequest",
        "variableType" : "UpdateRecoveryGroupRequest",
        "documentation" : "<p>Name of a recovery group.</p>",
        "simpleType" : "UpdateRecoveryGroupRequest",
        "variableSetterType" : "UpdateRecoveryGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRecoveryGroup",
      "operationName" : "UpdateRecoveryGroup",
      "returnType" : {
        "returnType" : "UpdateRecoveryGroupResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "UpdateRecoveryGroupResult"
    },
    "UpdateResourceSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResourceSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResourceSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResourceSetRequest, UpdateResourceSetResult>",
      "asyncReturnType" : "UpdateResourceSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a resource set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response - Malformed query string. The query string contains a syntax error or resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response - Limit exceeded exception or too many requests exception.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response - Multiple causes. For example, you might have a malformed query string, an input parameter might be out of range, or you used parameters together incorrectly.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response - Internal service error or temporary service error. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response - Access denied exception. You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResourceSetRequest",
        "variableName" : "updateResourceSetRequest",
        "variableType" : "UpdateResourceSetRequest",
        "documentation" : "<p>Name of a resource set.</p>",
        "simpleType" : "UpdateResourceSetRequest",
        "variableSetterType" : "UpdateResourceSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResourceSet",
      "operationName" : "UpdateResourceSet",
      "returnType" : {
        "returnType" : "UpdateResourceSetResult",
        "documentation" : "<p>200 response - Success.</p>"
      },
      "syncReturnType" : "UpdateResourceSetResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "User does not have sufficient access to perform this action.",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.route53recoveryreadiness.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.route53recoveryreadiness.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CellOutput" : {
      "c2jName" : "CellOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about a cell.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.route53recoveryreadiness.model.CellOutput",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CellArn",
        "c2jShape" : "__stringMax256",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) for the cell.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the cell.</p>\n@param cellArn The Amazon Resource Name (ARN) for the cell.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCellArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the cell.</p>\n@return The Amazon Resource Name (ARN) for the cell.*/",
        "getterMethodName" : "getCellArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cellArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cellArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CellArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the cell.</p>\n@param cellArn The Amazon Resource Name (ARN) for the cell.*/",
        "setterMethodName" : "setCellArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cellArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the cell.</p>\n@param cellArn The Amazon Resource Name (ARN) for the cell.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cellArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) for the cell.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CellName",
        "c2jShape" : "__stringMax64PatternAAZAZ09Z",
        "deprecated" : false,
        "documentation" : "<p>The name of the cell.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the cell.</p>\n@param cellName The name of the cell.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCellName",
        "getterDocumentation" : "/**<p>The name of the cell.</p>\n@return The name of the cell.*/",
        "getterMethodName" : "getCellName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cellName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cellName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CellName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the cell.</p>\n@param cellName The name of the cell.*/",
        "setterMethodName" : "setCellName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cellName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the cell.</p>\n@param cellName The name of the cell.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cellName",
          "variableType" : "String",
          "documentation" : "<p>The name of the cell.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Cells",
        "c2jShape" : "__listOf__string",
        "deprecated" : false,
        "documentation" : "<p>A list of cell ARNs.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of cell ARNs.</p>\n@param cells A list of cell ARNs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCells",
        "getterDocumentation" : "/**<p>A list of cell ARNs.</p>\n@return A list of cell ARNs.*/",
        "getterMethodName" : "getCells",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cells",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cells",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Cells",
        "sensitive" : false,
[...]
