{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSCloudWatchRUMAsyncClient",
    "asyncClientBuilderClassName" : "AWSCloudWatchRUMAsyncClientBuilder",
    "asyncInterface" : "AWSCloudWatchRUMAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSCloudWatchRUMModuleInjector",
    "defaultEndpoint" : "rum.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "rum.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>With Amazon CloudWatch RUM, you can perform real-user monitoring to collect client-side data about your web application performance from actual user sessions in real time. The data collected includes page load times, client-side errors, and user behavior. When you view this data, you can see it all aggregated together and also see breakdowns by the browsers and devices that your customers use.</p> <p>You can use the collected data to quickly identify and debug client-side performance issues. CloudWatch RUM helps you visualize anomalies in your application performance and find relevant debugging data such as error messages, stack traces, and user sessions. You can also use RUM to understand the range of end-user impact including the number of users, geolocations, and browsers used.</p>",
    "endpointPrefix" : "rum",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cloudwatchrum",
    "packagePath" : "com/amazonaws/services/cloudwatchrum",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "CloudWatch RUM",
    "serviceId" : "RUM",
    "serviceName" : "CloudWatch RUM",
    "signingName" : "rum",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudwatchrum.smoketests",
    "syncClient" : "AWSCloudWatchRUMClient",
    "syncClientBuilderClassName" : "AWSCloudWatchRUMClientBuilder",
    "syncInterface" : "AWSCloudWatchRUM",
    "uid" : "rum-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchCreateRumMetricDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCreateRumMetricDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCreateRumMetricDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCreateRumMetricDefinitionsRequest, BatchCreateRumMetricDefinitionsResult>",
      "asyncReturnType" : "BatchCreateRumMetricDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies the extended metrics and custom metrics that you want a CloudWatch RUM app monitor to send to a destination. Valid destinations include CloudWatch and Evidently.</p> <p>By default, RUM app monitors send some metrics to CloudWatch. These default metrics are listed in <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-metrics.html\">CloudWatch metrics that you can collect with CloudWatch RUM</a>.</p> <p>In addition to these default metrics, you can choose to send extended metrics, custom metrics, or both.</p> <ul> <li> <p>Extended metrics let you send metrics with additional dimensions that aren't included in the default metrics. You can also send extended metrics to both Evidently and CloudWatch. The valid dimension names for the additional dimensions for extended metrics are <code>BrowserName</code>, <code>CountryCode</code>, <code>DeviceType</code>, <code>FileType</code>, <code>OSName</code>, and <code>PageId</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-vended-metrics.html\"> Extended metrics that you can send to CloudWatch and CloudWatch Evidently</a>.</p> </li> <li> <p>Custom metrics are metrics that you define. You can send custom metrics to CloudWatch. CloudWatch Evidently, or both. With custom metrics, you can use any metric name and namespace. To derive the metrics, you can use any custom events, built-in events, custom attributes, or default attributes. </p> <p>You can't send custom metrics to the <code>AWS/RUM</code> namespace. You must send custom metrics to a custom namespace that you define. The namespace that you use can't start with <code>AWS/</code>. CloudWatch RUM prepends <code>RUM/CustomMetrics/</code> to the custom namespace that you define, so the final namespace for your metrics in CloudWatch is <code>RUM/CustomMetrics/<i>your-custom-namespace</i> </code>.</p> </li> </ul> <p>The maximum number of metric definitions that you can specify in one <code>BatchCreateRumMetricDefinitions</code> operation is 200.</p> <p>The maximum number of metric definitions that one destination can contain is 2000.</p> <p>Extended metrics sent to CloudWatch and RUM custom metrics are charged as CloudWatch custom metrics. Each combination of additional dimension name and dimension value counts as a custom metric. For more information, see <a href=\"https://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p> <p>You must have already created a destination for the metrics before you send them. For more information, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_PutRumMetricsDestination.html\">PutRumMetricsDestination</a>.</p> <p>If some metric definitions specified in a <code>BatchCreateRumMetricDefinitions</code> operations are not valid, those metric definitions fail and return errors, but all valid metric definitions in the same operation still succeed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This operation attempted to create a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateRumMetricDefinitionsRequest",
        "variableName" : "batchCreateRumMetricDefinitionsRequest",
        "variableType" : "BatchCreateRumMetricDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "BatchCreateRumMetricDefinitionsRequest",
        "variableSetterType" : "BatchCreateRumMetricDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCreateRumMetricDefinitions",
      "operationName" : "BatchCreateRumMetricDefinitions",
      "returnType" : {
        "returnType" : "BatchCreateRumMetricDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCreateRumMetricDefinitionsResult"
    },
    "BatchDeleteRumMetricDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteRumMetricDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteRumMetricDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteRumMetricDefinitionsRequest, BatchDeleteRumMetricDefinitionsResult>",
      "asyncReturnType" : "BatchDeleteRumMetricDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified metrics from being sent to an extended metrics destination.</p> <p>If some metric definition IDs specified in a <code>BatchDeleteRumMetricDefinitions</code> operations are not valid, those metric definitions fail and return errors, but all valid metric definition IDs in the same operation are still deleted.</p> <p>The maximum number of metric definitions that you can specify in one <code>BatchDeleteRumMetricDefinitions</code> operation is 200.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This operation attempted to create a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteRumMetricDefinitionsRequest",
        "variableName" : "batchDeleteRumMetricDefinitionsRequest",
        "variableType" : "BatchDeleteRumMetricDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteRumMetricDefinitionsRequest",
        "variableSetterType" : "BatchDeleteRumMetricDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteRumMetricDefinitions",
      "operationName" : "BatchDeleteRumMetricDefinitions",
      "returnType" : {
        "returnType" : "BatchDeleteRumMetricDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteRumMetricDefinitionsResult"
    },
    "BatchGetRumMetricDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetRumMetricDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetRumMetricDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetRumMetricDefinitionsRequest, BatchGetRumMetricDefinitionsResult>",
      "asyncReturnType" : "BatchGetRumMetricDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the list of metrics and dimensions that a RUM app monitor is sending to a single destination.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetRumMetricDefinitionsRequest",
        "variableName" : "batchGetRumMetricDefinitionsRequest",
        "variableType" : "BatchGetRumMetricDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "BatchGetRumMetricDefinitionsRequest",
        "variableSetterType" : "BatchGetRumMetricDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetRumMetricDefinitions",
      "operationName" : "BatchGetRumMetricDefinitions",
      "returnType" : {
        "returnType" : "BatchGetRumMetricDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetRumMetricDefinitionsResult"
    },
    "CreateAppMonitor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppMonitorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppMonitorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppMonitorRequest, CreateAppMonitorResult>",
      "asyncReturnType" : "CreateAppMonitorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Amazon CloudWatch RUM app monitor, which collects telemetry data from your application and sends that data to RUM. The data includes performance and reliability information such as page load time, client-side errors, and user behavior.</p> <p>You use this operation only to create a new app monitor. To update an existing app monitor, use <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_UpdateAppMonitor.html\">UpdateAppMonitor</a> instead.</p> <p>After you create an app monitor, sign in to the CloudWatch RUM console to get the JavaScript code snippet to add to your web application. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-find-code-snippet.html\">How do I find a code snippet that I've already generated?</a> </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This operation attempted to create a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppMonitorRequest",
        "variableName" : "createAppMonitorRequest",
        "variableType" : "CreateAppMonitorRequest",
        "documentation" : "",
        "simpleType" : "CreateAppMonitorRequest",
        "variableSetterType" : "CreateAppMonitorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppMonitor",
      "operationName" : "CreateAppMonitor",
      "returnType" : {
        "returnType" : "CreateAppMonitorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppMonitorResult"
    },
    "DeleteAppMonitor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppMonitorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppMonitorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppMonitorRequest, DeleteAppMonitorResult>",
      "asyncReturnType" : "DeleteAppMonitorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing app monitor. This immediately stops the collection of data.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This operation attempted to create a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppMonitorRequest",
        "variableName" : "deleteAppMonitorRequest",
        "variableType" : "DeleteAppMonitorRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppMonitorRequest",
        "variableSetterType" : "DeleteAppMonitorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppMonitor",
      "operationName" : "DeleteAppMonitor",
      "returnType" : {
        "returnType" : "DeleteAppMonitorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppMonitorResult"
    },
    "DeleteRumMetricsDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRumMetricsDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRumMetricsDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRumMetricsDestinationRequest, DeleteRumMetricsDestinationResult>",
      "asyncReturnType" : "DeleteRumMetricsDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a destination for CloudWatch RUM extended metrics, so that the specified app monitor stops sending extended metrics to that destination.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This operation attempted to create a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRumMetricsDestinationRequest",
        "variableName" : "deleteRumMetricsDestinationRequest",
        "variableType" : "DeleteRumMetricsDestinationRequest",
        "documentation" : "",
        "simpleType" : "DeleteRumMetricsDestinationRequest",
        "variableSetterType" : "DeleteRumMetricsDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRumMetricsDestination",
      "operationName" : "DeleteRumMetricsDestination",
      "returnType" : {
        "returnType" : "DeleteRumMetricsDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRumMetricsDestinationResult"
    },
    "GetAppMonitor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppMonitorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppMonitorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppMonitorRequest, GetAppMonitorResult>",
      "asyncReturnType" : "GetAppMonitorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the complete configuration information for one app monitor.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppMonitorRequest",
        "variableName" : "getAppMonitorRequest",
        "variableType" : "GetAppMonitorRequest",
        "documentation" : "",
        "simpleType" : "GetAppMonitorRequest",
        "variableSetterType" : "GetAppMonitorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppMonitor",
      "operationName" : "GetAppMonitor",
      "returnType" : {
        "returnType" : "GetAppMonitorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppMonitorResult"
    },
    "GetAppMonitorData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppMonitorDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppMonitorDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppMonitorDataRequest, GetAppMonitorDataResult>",
      "asyncReturnType" : "GetAppMonitorDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the raw performance events that RUM has collected from your web application, so that you can do your own processing or analysis of this data.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppMonitorDataRequest",
        "variableName" : "getAppMonitorDataRequest",
        "variableType" : "GetAppMonitorDataRequest",
        "documentation" : "",
        "simpleType" : "GetAppMonitorDataRequest",
        "variableSetterType" : "GetAppMonitorDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppMonitorData",
      "operationName" : "GetAppMonitorData",
      "returnType" : {
        "returnType" : "GetAppMonitorDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppMonitorDataResult"
    },
    "ListAppMonitors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppMonitorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppMonitorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppMonitorsRequest, ListAppMonitorsResult>",
      "asyncReturnType" : "ListAppMonitorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the Amazon CloudWatch RUM app monitors in the account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppMonitorsRequest",
        "variableName" : "listAppMonitorsRequest",
        "variableType" : "ListAppMonitorsRequest",
        "documentation" : "",
        "simpleType" : "ListAppMonitorsRequest",
        "variableSetterType" : "ListAppMonitorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppMonitors",
      "operationName" : "ListAppMonitors",
      "returnType" : {
        "returnType" : "ListAppMonitorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppMonitorsResult"
    },
    "ListRumMetricsDestinations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRumMetricsDestinationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRumMetricsDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRumMetricsDestinationsRequest, ListRumMetricsDestinationsResult>",
      "asyncReturnType" : "ListRumMetricsDestinationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of destinations that you have created to receive RUM extended metrics, for the specified app monitor.</p> <p>For more information about extended metrics, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_AddRumMetrcs.html\">AddRumMetrics</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRumMetricsDestinationsRequest",
        "variableName" : "listRumMetricsDestinationsRequest",
        "variableType" : "ListRumMetricsDestinationsRequest",
        "documentation" : "",
        "simpleType" : "ListRumMetricsDestinationsRequest",
        "variableSetterType" : "ListRumMetricsDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRumMetricsDestinations",
      "operationName" : "ListRumMetricsDestinations",
      "returnType" : {
        "returnType" : "ListRumMetricsDestinationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRumMetricsDestinationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the tags associated with a CloudWatch RUM resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutRumEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRumEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRumEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRumEventsRequest, PutRumEventsResult>",
      "asyncReturnType" : "PutRumEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends telemetry events about your application performance and user behavior to CloudWatch RUM. The code snippet that RUM generates for you to add to your application includes <code>PutRumEvents</code> operations to send this data to RUM.</p> <p>Each <code>PutRumEvents</code> operation can send a batch of events from one user session.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "dataplane."
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "dataplane."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRumEventsRequest",
        "variableName" : "putRumEventsRequest",
        "variableType" : "PutRumEventsRequest",
        "documentation" : "",
        "simpleType" : "PutRumEventsRequest",
        "variableSetterType" : "PutRumEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRumEvents",
      "operationName" : "PutRumEvents",
      "returnType" : {
        "returnType" : "PutRumEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRumEventsResult"
    },
    "PutRumMetricsDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRumMetricsDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRumMetricsDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRumMetricsDestinationRequest, PutRumMetricsDestinationResult>",
      "asyncReturnType" : "PutRumMetricsDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a destination to receive extended metrics from CloudWatch RUM. You can send extended metrics to CloudWatch or to a CloudWatch Evidently experiment.</p> <p>For more information about extended metrics, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_BatchCreateRumMetricDefinitions.html\">BatchCreateRumMetricDefinitions</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This operation attempted to create a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRumMetricsDestinationRequest",
        "variableName" : "putRumMetricsDestinationRequest",
        "variableType" : "PutRumMetricsDestinationRequest",
        "documentation" : "",
        "simpleType" : "PutRumMetricsDestinationRequest",
        "variableSetterType" : "PutRumMetricsDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRumMetricsDestination",
      "operationName" : "PutRumMetricsDestination",
      "returnType" : {
        "returnType" : "PutRumMetricsDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRumMetricsDestinationResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one or more tags (key-value pairs) to the specified CloudWatch RUM resource. Currently, the only resources that can be tagged app monitors.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the alarm. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAppMonitor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppMonitorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppMonitorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppMonitorRequest, UpdateAppMonitorResult>",
      "asyncReturnType" : "UpdateAppMonitorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the configuration of an existing app monitor. When you use this operation, only the parts of the app monitor configuration that you specify in this operation are changed. For any parameters that you omit, the existing values are kept.</p> <p>You can't use this operation to change the tags of an existing app monitor. To change the tags of an existing app monitor, use <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_TagResource.html\">TagResource</a>.</p> <p>To create a new app monitor, use <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_CreateAppMonitor.html\">CreateAppMonitor</a>.</p> <p>After you update an app monitor, sign in to the CloudWatch RUM console to get the updated JavaScript code snippet to add to your web application. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-find-code-snippet.html\">How do I find a code snippet that I've already generated?</a> </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This operation attempted to create a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppMonitorRequest",
        "variableName" : "updateAppMonitorRequest",
        "variableType" : "UpdateAppMonitorRequest",
        "documentation" : "",
        "simpleType" : "UpdateAppMonitorRequest",
        "variableSetterType" : "UpdateAppMonitorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAppMonitor",
      "operationName" : "UpdateAppMonitor",
      "returnType" : {
        "returnType" : "UpdateAppMonitorResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAppMonitorResult"
    },
    "UpdateRumMetricDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRumMetricDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRumMetricDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRumMetricDefinitionRequest, UpdateRumMetricDefinitionResult>",
      "asyncReturnType" : "UpdateRumMetricDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies one existing metric definition for CloudWatch RUM extended metrics. For more information about extended metrics, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_BatchCreateRumMetricsDefinitions.html\">BatchCreateRumMetricsDefinitions</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This operation attempted to create a resource that already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the arguments for the request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was throttled because of quota limits.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRumMetricDefinitionRequest",
        "variableName" : "updateRumMetricDefinitionRequest",
        "variableType" : "UpdateRumMetricDefinitionRequest",
        "documentation" : "",
        "simpleType" : "UpdateRumMetricDefinitionRequest",
        "variableSetterType" : "UpdateRumMetricDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRumMetricDefinition",
      "operationName" : "UpdateRumMetricDefinition",
      "returnType" : {
        "returnType" : "UpdateRumMetricDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRumMetricDefinitionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have sufficient permissions to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.cloudwatchrum.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.cloudwatchrum.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AppMonitor" : {
      "c2jName" : "AppMonitor",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A RUM app monitor collects telemetry data from your application and sends that data to RUM. The data includes performance and reliability information such as page load time, client-side errors, and user behavior.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cloudwatchrum.model.AppMonitor",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AppMonitorConfiguration",
        "c2jShape" : "AppMonitorConfiguration",
        "deprecated" : false,
        "documentation" : "<p>A structure that contains much of the configuration data for the app monitor.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A structure that contains much of the configuration data for the app monitor.</p>\n@param appMonitorConfiguration A structure that contains much of the configuration data for the app monitor.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppMonitorConfiguration",
        "getterDocumentation" : "/**<p>A structure that contains much of the configuration data for the app monitor.</p>\n@return A structure that contains much of the configuration data for the app monitor.*/",
        "getterMethodName" : "getAppMonitorConfiguration",
        "getterModel" : {
          "returnType" : "AppMonitorConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AppMonitorConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AppMonitorConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AppMonitorConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A structure that contains much of the configuration data for the app monitor.</p>\n@param appMonitorConfiguration A structure that contains much of the configuration data for the app monitor.*/",
        "setterMethodName" : "setAppMonitorConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AppMonitorConfiguration",
          "variableName" : "appMonitorConfiguration",
          "variableType" : "AppMonitorConfiguration",
          "documentation" : "",
          "simpleType" : "AppMonitorConfiguration",
          "variableSetterType" : "AppMonitorConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A structure that contains much of the configuration data for the app monitor.</p>\n@param appMonitorConfiguration A structure that contains much of the configuration data for the app monitor.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AppMonitorConfiguration",
          "variableName" : "appMonitorConfiguration",
          "variableType" : "AppMonitorConfiguration",
          "documentation" : "<p>A structure that contains much of the configuration data for the app monitor.</p>",
          "simpleType" : "AppMonitorConfiguration",
          "variableSetterType" : "AppMonitorConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Created",
        "c2jShape" : "ISOTimestampString",
        "deprecated" : false,
        "documentation" : "<p>The date and time that this app monitor was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time that this app monitor was created.</p>\n@param created The date and time that this app monitor was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreated",
        "getterDocumentation" : "/**<p>The date and time that this app monitor was created.</p>\n@return The date and time that this app monitor was created.*/",
        "getterMethodName" : "getCreated",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Created",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Created",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Created",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time that this app monitor was created.</p>\n@param created The date and time that this app monitor was created.*/",
        "setterMethodName" : "setCreated",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "created",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time that this app monitor was created.</p>\n@param created The date and time that this app monitor was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "created",
          "variableType" : "String",
          "documentation" : "<p>The date and time that this app monitor was created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CustomEvents",
        "c2jShape" : "CustomEvents",
        "deprecated" : false,
        "documentation" : "<p>Specifies whether this app monitor allows the web client to define and send custom events.</p> <p>For more information about custom events, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies whether this app monitor allows the web client to define and send custom events.</p> <p>For more information about custom events, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.</p>\n@param customEvents Specifies whether this app monitor allows the web client to define and send custom events.</p> <p>For more information about custom events, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCustomEvents",
        "getterDocumentation" : "/**<p>Specifies whether this app monitor allows the web client to define and send custom events.</p> <p>For more information about custom events, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.</p>\n@return Specifies whether this app monitor allows the web client to define and send custom events.</p> <p>For more information about custom events, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.*/",
        "getterMethodName" : "getCustomEvents",
        "getterModel" : {
          "returnType" : "CustomEvents",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CustomEvents",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CustomEvents",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CustomEvents",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies whether this app monitor allows the web client to define and send custom events.</p> <p>For more information about custom events, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.</p>\n@param customEvents Specifies whether this app monitor allows the web client to define and send custom events.</p> <p>For more information about custom events, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.*/",
        "setterMethodName" : "setCustomEvents",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CustomEvents",
          "variableName" : "customEvents",
          "variableType" : "CustomEvents",
          "documentation" : "",
          "simpleType" : "CustomEvents",
          "variableSetterType" : "CustomEvents"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies whether this app monitor allows the web client to define and send custom events.</p> <p>For more information about custom events, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.</p>\n@param customEvents Specifies whether this app monitor allows the web client to define and send custom events.</p> <p>For more information about custom events, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CustomEvents",
          "variableName" : "customEvents",
          "variableType" : "CustomEvents",
          "documentation" : "<p>Specifies whether this app monitor allows the web client to define and send custom events.</p> <p>For more information about custom events, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.</p>",
          "simpleType" : "CustomEvents",
          "variableSetterType" : "CustomEvents"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DataStorage",
        "c2jShape" : "DataStorage",
        "deprecated" : false,
        "documentation" : "<p>A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.</p>\n@param dataStorage A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDataStorage",
        "getterDocumentation" : "/**<p>A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.</p>\n@return A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.*/",
        "getterMethodName" : "getDataStorage",
        "getterModel" : {
          "returnType" : "DataStorage",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DataStorage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DataStorage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DataStorage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.</p>\n@param dataStorage A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.*/",
        "setterMethodName" : "setDataStorage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DataStorage",
          "variableName" : "dataStorage",
          "variableType" : "DataStorage",
          "documentation" : "",
          "simpleType" : "DataStorage",
          "variableSetterType" : "DataStorage"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.</p>\n@param dataStorage A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DataStorage",
          "variableName" : "dataStorage",
          "variableType" : "DataStorage",
          "documentation" : "<p>A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.</p>",
          "simpleType" : "DataStorage",
          "variableSetterType" : "DataStorage"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Domain",
        "c2jShape" : "AppMonitorDomain",
        "deprecated" : false,
        "documentation" : "<p>The top-level internet domain name for which your application has administrative authority.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The top-level internet domain name for which your application has administrative authority.</p>\n@param domain The top-level internet domain name for which your application has administrative authority.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDomain",
        "getterDocumentation" : "/**<p>The top-level internet domain name for which your application has administrative authority.</p>\n@return The top-level internet domain name for which your application has administrative authority.*/",
        "getterMethodName" : "getDomain",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Domain",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Domain",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Domain",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The top-level internet domain name for which your application has administrative authority.</p>\n@param domain The top-level internet domain name for which your application has administrative authority.*/",
        "setterMethodName" : "setDomain",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domain",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The top-level internet domain name for which your application has administrative authority.</p>\n@param domain The top-level internet domain name for which your application has administrative authority.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domain",
          "variableType" : "String",
          "documentation" : "<p>The top-level internet domain name for which your application has administrative authority.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "AppMonitorId",
        "deprecated" : false,
        "documentation" : "<p>The unique ID of this app monitor.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique ID of this app monitor.</p>\n@param id The unique ID of this app monitor.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The unique ID of this app monitor.</p>\n@return The unique ID of this app monitor.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique ID of this app monitor.</p>\n@param id The unique ID of this app monitor.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique ID of this app monitor.</p>\n@param id The unique ID of this app monitor.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The unique ID of this app monitor.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastModified",
        "c2jShape" : "ISOTimestampString",
        "deprecated" : false,
        "documentation" : "<p>The date and time of the most recent changes to this app monitor's configuration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time of the most recent changes to this app monitor's configuration.</p>\n@param lastModified The date and time of the most recent changes to this app monitor's configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastModified",
        "getterDocumentation" : "/**<p>The date and time of the most recent changes to this app monitor's configuration.</p>\n@return The date and time of the most recent changes to this app monitor's configuration.*/",
        "getterMethodName" : "getLastModified",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastModified",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastModified",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LastModified",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time of the most recent changes to this app monitor's configuration.</p>\n@param lastModified The date and time of the most recent changes to this app monitor's configuration.*/",
        "setterMethodName" : "setLastModified",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "lastModified",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time of the most recent changes to this app monitor's configuration.</p>\n@param lastModified The date and time of the most recent changes to this app monitor's configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "lastModified",
          "variableType" : "String",
          "documentation" : "<p>The date and time of the most recent changes to this app monitor's configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "AppMonitorName",
        "deprecated" : false,
        "documentation" : "<p>The name of the app monitor.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the app monitor.</p>\n@param name The name of the app monitor.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the app monitor.</p>\n@return The name of the app monitor.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the app monitor.</p>\n@param name The name of the app monitor.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the app monitor.</p>\n@param name The name of the app monitor.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the app monitor.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "State",
        "c2jShape" : "StateEnum",
        "deprecated" : false,
        "documentation" : "<p>The current state of the app monitor.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "StateEnum",
        "fluentSetterDocumentation" : "/**<p>The current state of the app monitor.</p>\n@param state The current state of the app monitor.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StateEnum*/",
        "fluentSetterMethodName" : "withState",
        "getterDocumentation" : "/**<p>The current state of the app monitor.</p>\n@return The current state of the app monitor.\n@see StateEnum*/",
        "getterMethodName" : "getState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "State",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "State",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "State",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The current state of the app monitor.</p>\n@param state The current state of the app monitor.\n@see StateEnum*/",
        "setterMethodName" : "setState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current state of the app monitor.</p>\n@param state The current state of the app monitor.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StateEnum*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "<p>The current state of the app monitor.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "<p>The list of tag keys and values associated with this app monitor.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The list of tag keys and values associated with this app monitor.</p>\n@param tags The list of tag keys and values associated with this app monitor.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The list of tag keys and values associated with this app monitor.</p>\n@return The list of tag keys and values associated with this app monitor.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The list of tag keys and values associated with this app monitor.</p>\n@param tags The list of tag keys and values associated with this app monitor.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The list of tag keys and values associated with this app monitor.</p>\n@param tags The list of tag keys and values associated with this app monitor.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The list of tag keys and values associated with this app monitor.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AppMonitorConfiguration" : {
          "c2jName" : "AppMonitorConfiguration",
          "c2jShape" : "AppMonitorConfiguration",
          "deprecated" : false,
          "documentation" : "<p>A structure that contains much of the configuration data for the app monitor.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A structure that contains much of the configuration data for the app monitor.</p>\n@param appMonitorConfiguration A structure that contains much of the configuration data for the app monitor.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAppMonitorConfiguration",
          "getterDocumentation" : "/**<p>A structure that contains much of the configuration data for the app monitor.</p>\n@return A structure that contains much of the configuration data for the app monitor.*/",
          "getterMethodName" : "getAppMonitorConfiguration",
          "getterModel" : {
            "returnType" : "AppMonitorConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AppMonitorConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AppMonitorConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "AppMonitorConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A structure that contains much of the configuration data for the app monitor.</p>\n@param appMonitorConfiguration A structure that contains much of the configuration data for the app monitor.*/",
          "setterMethodName" : "setAppMonitorConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AppMonitorConfiguration",
            "variableName" : "appMonitorConfiguration",
            "variableType" : "AppMonitorConfiguration",
            "documentation" : "",
            "simpleType" : "AppMonitorConfiguration",
            "variableSetterType" : "AppMonitorConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A structure that contains much of the configuration data for the app monitor.</p>\n@param appMonitorConfiguration A structure that contains much of the configuration data for the app monitor.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AppMonitorConfiguration",
            "variableName" : "appMonitorConfiguration",
            "variableType" : "AppMonitorConfiguration",
            "documentation" : "<p>A structure that contains much of the configuration data for the app monitor.</p>",
            "simpleType" : "AppMonitorConfiguration",
            "variableSetterType" : "AppMonitorConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "Created" : {
          "c2jName" : "Created",
          "c2jShape" : "ISOTimestampString",
          "deprecated" : false,
          "documentation" : "<p>The date and time that this app monitor was created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date and time that this app monitor was created.</p>\n@param created The date and time that this app monitor was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreated",
          "getterDocumentation" : "/**<p>The date and time that this app monitor was created.</p>\n@return The date and time that this app monitor was created.*/",
          "getterMethodName" : "getCreated",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Created",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Created",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Created",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date and time that this app monitor was created.</p>\n@param created The date and time that this app monitor was created.*/",
          "setterMethodName" : "setCreated",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "created",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date and time that this app monitor was created.</p>\n@param created The date and time that this app monitor was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
[...]
