{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : {
      "acceptorClass" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/waiter/Acceptor.ftl"
      },
      "apiGatewayGradleBuildTemplate" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/api-gateway/gradle/build.gradle.ftl"
      },
      "apiGatewayGradleSettingsTemplate" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/api-gateway/gradle/settings.gradle.ftl"
      },
      "apiGatewayPomTemplate" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/api-gateway/maven/pom.xml.ftl"
      },
      "apiGatewayReadmeTemplate" : {
        "childTemplates" : [ {
          "importAsNamespace" : "README_Dependencies",
          "location" : "/templates/api-gateway/README_Dependencies.ftl"
        } ],
        "mainTemplate" : "/templates/api-gateway/README.md.ftl"
      },
      "asyncAbstractClass" : null,
      "asyncClient" : null,
      "asyncClientBuilder" : {
        "childTemplates" : [ {
          "importAsNamespace" : "AdditionalBuilderMethods",
          "location" : "/macros/builder/AdditionalBuilderMethods.ftl"
        } ],
        "mainTemplate" : null
      },
      "asyncInterface" : null,
      "baseExceptionClass" : null,
      "commonChildTemplates" : null,
      "cucumberModuleInjector" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/cucumber/ModuleInjector.ftl"
      },
      "cucumberPropertiesFile" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/cucumber/cucumberProperties.ftl"
      },
      "cucumberTest" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/cucumber/RunCucumberTest.ftl"
      },
      "customRequestSignerClass" : null,
      "endpointDiscoveryCache" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/endpoint-discovery/Cache.ftl"
      },
      "endpointDiscoveryCacheLoader" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/endpoint-discovery/CacheLoader.ftl"
      },
      "exceptionClass" : null,
      "exceptionUnmarshaller" : null,
      "modelClass" : null,
      "modelEnum" : null,
      "modelMarshaller" : null,
      "modelUnmarshaller" : null,
      "packageInfo" : null,
      "policyActionClass" : null,
      "requestClass" : null,
      "requestMarshaller" : null,
      "responseClass" : null,
      "sdkFunctionClass" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/waiter/SdkFunction.ftl"
      },
      "syncAbstractClass" : null,
      "syncClient" : null,
      "syncClientBuilder" : {
        "childTemplates" : [ {
          "importAsNamespace" : "AdditionalBuilderMethods",
          "location" : "/macros/builder/AdditionalBuilderMethods.ftl"
        } ],
        "mainTemplate" : null
      },
      "syncInterface" : null,
      "waiterClass" : {
        "childTemplates" : null,
        "mainTemplate" : "/templates/waiter/Waiter.ftl"
      }
    },
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : "com.amazonaws.services.s3control.internal.S3ControlStaxResponseHandler",
    "customResponseMetadataClassName" : "com.amazonaws.services.s3control.S3ControlResponseMetadata",
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : "AWSS3ControlException",
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-08-20",
    "asyncClient" : "AWSS3ControlAsyncClient",
    "asyncClientBuilderClassName" : "AWSS3ControlAsyncClientBuilder",
    "asyncInterface" : "AWSS3ControlAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSS3ControlModuleInjector",
    "defaultEndpoint" : "s3-control.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "s3-control.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> AWS S3 Control provides access to Amazon S3 control plane operations. </p>",
    "endpointPrefix" : "s3-control",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.s3control",
    "packagePath" : "com/amazonaws/services/s3control",
    "protocol" : "rest-xml",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocolFactory" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS S3 Control",
    "serviceId" : "S3 Control",
    "serviceName" : "AWS S3 Control",
    "signingName" : "s3",
    "smokeTestsPackageName" : "com.amazonaws.services.s3control.smoketests",
    "syncClient" : "AWSS3ControlClient",
    "syncClientBuilderClassName" : "AWSS3ControlClientBuilder",
    "syncInterface" : "AWSS3Control",
    "uid" : "s3control-2018-08-20",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "CreateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "asyncReturnType" : "CreateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon S3 batch operations job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IdempotencyException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateJobRequest",
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "documentation" : "",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createJob",
      "operationName" : "CreateJob",
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateJobResult"
    },
    "DeletePublicAccessBlock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePublicAccessBlockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePublicAccessBlockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePublicAccessBlockRequest, DeletePublicAccessBlockResult>",
      "asyncReturnType" : "DeletePublicAccessBlockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the block public access configuration for the specified account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePublicAccessBlockRequest",
        "variableName" : "deletePublicAccessBlockRequest",
        "variableType" : "DeletePublicAccessBlockRequest",
        "documentation" : "",
        "simpleType" : "DeletePublicAccessBlockRequest",
        "variableSetterType" : "DeletePublicAccessBlockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePublicAccessBlock",
      "operationName" : "DeletePublicAccessBlock",
      "returnType" : {
        "returnType" : "DeletePublicAccessBlockResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePublicAccessBlockResult"
    },
    "DescribeJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobRequest, DescribeJobResult>",
      "asyncReturnType" : "DescribeJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the configuration parameters and status for a batch operations job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobRequest",
        "variableName" : "describeJobRequest",
        "variableType" : "DescribeJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobRequest",
        "variableSetterType" : "DescribeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJob",
      "operationName" : "DescribeJob",
      "returnType" : {
        "returnType" : "DescribeJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobResult"
    },
    "GetPublicAccessBlock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPublicAccessBlockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPublicAccessBlockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPublicAccessBlockRequest, GetPublicAccessBlockResult>",
      "asyncReturnType" : "GetPublicAccessBlockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchPublicAccessBlockConfigurationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPublicAccessBlockRequest",
        "variableName" : "getPublicAccessBlockRequest",
        "variableType" : "GetPublicAccessBlockRequest",
        "documentation" : "",
        "simpleType" : "GetPublicAccessBlockRequest",
        "variableSetterType" : "GetPublicAccessBlockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPublicAccessBlock",
      "operationName" : "GetPublicAccessBlock",
      "returnType" : {
        "returnType" : "GetPublicAccessBlockResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPublicAccessBlockResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists current jobs and jobs that have ended within the last 30 days for the AWS account making the request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJobsResult"
    },
    "PutPublicAccessBlock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutPublicAccessBlockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutPublicAccessBlockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPublicAccessBlockRequest, PutPublicAccessBlockResult>",
      "asyncReturnType" : "PutPublicAccessBlockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutPublicAccessBlockRequest",
        "variableName" : "putPublicAccessBlockRequest",
        "variableType" : "PutPublicAccessBlockRequest",
        "documentation" : "",
        "simpleType" : "PutPublicAccessBlockRequest",
        "variableSetterType" : "PutPublicAccessBlockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putPublicAccessBlock",
      "operationName" : "PutPublicAccessBlock",
      "returnType" : {
        "returnType" : "PutPublicAccessBlockResult",
        "documentation" : null
      },
      "syncReturnType" : "PutPublicAccessBlockResult"
    },
    "UpdateJobPriority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateJobPriorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateJobPriorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateJobPriorityRequest, UpdateJobPriorityResult>",
      "asyncReturnType" : "UpdateJobPriorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing job's priority.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateJobPriorityRequest",
        "variableName" : "updateJobPriorityRequest",
        "variableType" : "UpdateJobPriorityRequest",
        "documentation" : "",
        "simpleType" : "UpdateJobPriorityRequest",
        "variableSetterType" : "UpdateJobPriorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateJobPriority",
      "operationName" : "UpdateJobPriority",
      "returnType" : {
        "returnType" : "UpdateJobPriorityResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateJobPriorityResult"
    },
    "UpdateJobStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateJobStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateJobStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateJobStatusRequest, UpdateJobStatusResult>",
      "asyncReturnType" : "UpdateJobStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the status for the specified job. Use this operation to confirm that you want to run a job or to cancel an existing job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobStatusException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateJobStatusRequest",
        "variableName" : "updateJobStatusRequest",
        "variableType" : "UpdateJobStatusRequest",
        "documentation" : "",
        "simpleType" : "UpdateJobStatusRequest",
        "variableSetterType" : "UpdateJobStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateJobStatus",
      "operationName" : "UpdateJobStatus",
      "returnType" : {
        "returnType" : "UpdateJobStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateJobStatusResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "CreateJobRequest" : {
      "c2jName" : "CreateJobRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : true,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateJob",
        "locationName" : "CreateJobRequest",
        "requestUri" : "/v20180820/jobs",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : "http://awss3control.amazonaws.com/doc/2018-08-20/"
      },
      "members" : [ {
        "c2jName" : "AccountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param accountId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountId",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "x-amz-account-id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "x-amz-account-id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param accountId */",
        "setterMethodName" : "setAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param accountId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConfirmationRequired",
        "c2jShape" : "ConfirmationRequired",
        "deprecated" : false,
        "documentation" : "<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>\n@param confirmationRequired Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfirmationRequired",
        "getterDocumentation" : "/**<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>\n@return Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.*/",
        "getterMethodName" : "getConfirmationRequired",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConfirmationRequired",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConfirmationRequired",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "ConfirmationRequired",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>\n@param confirmationRequired Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.*/",
        "setterMethodName" : "setConfirmationRequired",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "confirmationRequired",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>\n@param confirmationRequired Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "confirmationRequired",
          "variableType" : "Boolean",
          "documentation" : "<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Operation",
        "c2jShape" : "JobOperation",
        "deprecated" : false,
        "documentation" : "<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n@param operation The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOperation",
        "getterDocumentation" : "/**<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n@return The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.*/",
        "getterMethodName" : "getOperation",
        "getterModel" : {
          "returnType" : "JobOperation",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Operation",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Operation",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Operation",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n@param operation The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.*/",
        "setterMethodName" : "setOperation",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "JobOperation",
          "variableName" : "operation",
          "variableType" : "JobOperation",
          "documentation" : "",
          "simpleType" : "JobOperation",
          "variableSetterType" : "JobOperation"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n@param operation The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "JobOperation",
          "variableName" : "operation",
          "variableType" : "JobOperation",
          "documentation" : "<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
          "simpleType" : "JobOperation",
          "variableSetterType" : "JobOperation"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Report",
        "c2jShape" : "JobReport",
        "deprecated" : false,
        "documentation" : "<p>Configuration parameters for the optional job-completion report.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Configuration parameters for the optional job-completion report.</p>\n@param report Configuration parameters for the optional job-completion report.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReport",
        "getterDocumentation" : "/**<p>Configuration parameters for the optional job-completion report.</p>\n@return Configuration parameters for the optional job-completion report.*/",
        "getterMethodName" : "getReport",
        "getterModel" : {
          "returnType" : "JobReport",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Report",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Report",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Report",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Configuration parameters for the optional job-completion report.</p>\n@param report Configuration parameters for the optional job-completion report.*/",
        "setterMethodName" : "setReport",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "JobReport",
          "variableName" : "report",
          "variableType" : "JobReport",
          "documentation" : "",
          "simpleType" : "JobReport",
          "variableSetterType" : "JobReport"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Configuration parameters for the optional job-completion report.</p>\n@param report Configuration parameters for the optional job-completion report.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "JobReport",
          "variableName" : "report",
          "variableType" : "JobReport",
          "documentation" : "<p>Configuration parameters for the optional job-completion report.</p>",
          "simpleType" : "JobReport",
          "variableSetterType" : "JobReport"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientRequestToken",
        "c2jShape" : "NonEmptyMaxLength64String",
        "deprecated" : false,
        "documentation" : "<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>\n@param clientRequestToken An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientRequestToken",
        "getterDocumentation" : "/**<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>\n@return An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.*/",
        "getterMethodName" : "getClientRequestToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientRequestToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientRequestToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientRequestToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>\n@param clientRequestToken An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.*/",
        "setterMethodName" : "setClientRequestToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>\n@param clientRequestToken An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Manifest",
        "c2jShape" : "JobManifest",
        "deprecated" : false,
        "documentation" : "<p>Configuration parameters for the manifest.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Configuration parameters for the manifest.</p>\n@param manifest Configuration parameters for the manifest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withManifest",
        "getterDocumentation" : "/**<p>Configuration parameters for the manifest.</p>\n@return Configuration parameters for the manifest.*/",
        "getterMethodName" : "getManifest",
        "getterModel" : {
          "returnType" : "JobManifest",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Manifest",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Manifest",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Manifest",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Configuration parameters for the manifest.</p>\n@param manifest Configuration parameters for the manifest.*/",
        "setterMethodName" : "setManifest",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "JobManifest",
          "variableName" : "manifest",
          "variableType" : "JobManifest",
          "documentation" : "",
          "simpleType" : "JobManifest",
          "variableSetterType" : "JobManifest"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Configuration parameters for the manifest.</p>\n@param manifest Configuration parameters for the manifest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "JobManifest",
          "variableName" : "manifest",
          "variableType" : "JobManifest",
          "documentation" : "<p>Configuration parameters for the manifest.</p>",
          "simpleType" : "JobManifest",
          "variableSetterType" : "JobManifest"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "NonEmptyMaxLength256String",
        "deprecated" : false,
        "documentation" : "<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>\n@param description A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>\n@return A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>\n@param description A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>\n@param description A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Priority",
        "c2jShape" : "JobPriority",
        "deprecated" : false,
        "documentation" : "<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>\n@param priority The numerical priority for this job. Higher numbers indicate higher priority.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPriority",
        "getterDocumentation" : "/**<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>\n@return The numerical priority for this job. Higher numbers indicate higher priority.*/",
        "getterMethodName" : "getPriority",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Priority",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Priority",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Priority",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>\n@param priority The numerical priority for this job. Higher numbers indicate higher priority.*/",
        "setterMethodName" : "setPriority",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "priority",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>\n@param priority The numerical priority for this job. Higher numbers indicate higher priority.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "priority",
          "variableType" : "Integer",
          "documentation" : "<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RoleArn",
        "c2jShape" : "IAMRoleArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>\n@param roleArn The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>\n@return The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.*/",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RoleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>\n@param roleArn The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.*/",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>\n@param roleArn The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountId" : {
          "c2jName" : "AccountId",
          "c2jShape" : "AccountId",
          "deprecated" : false,
          "documentation" : "<p/>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param accountId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountId",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : true,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "header",
            "marshallLocation" : "HEADER",
            "marshallLocationName" : "x-amz-account-id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "x-amz-account-id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param accountId */",
          "setterMethodName" : "setAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param accountId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ClientRequestToken" : {
          "c2jName" : "ClientRequestToken",
          "c2jShape" : "NonEmptyMaxLength64String",
          "deprecated" : false,
          "documentation" : "<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>\n@param clientRequestToken An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientRequestToken",
          "getterDocumentation" : "/**<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>\n@return An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.*/",
          "getterMethodName" : "getClientRequestToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ClientRequestToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ClientRequestToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientRequestToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>\n@param clientRequestToken An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.*/",
          "setterMethodName" : "setClientRequestToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientRequestToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>\n@param clientRequestToken An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientRequestToken",
            "variableType" : "String",
            "documentation" : "<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ConfirmationRequired" : {
          "c2jName" : "ConfirmationRequired",
          "c2jShape" : "ConfirmationRequired",
          "deprecated" : false,
          "documentation" : "<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>\n@param confirmationRequired Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfirmationRequired",
          "getterDocumentation" : "/**<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>\n@return Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.*/",
          "getterMethodName" : "getConfirmationRequired",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ConfirmationRequired",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ConfirmationRequired",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "ConfirmationRequired",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>\n@param confirmationRequired Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.*/",
          "setterMethodName" : "setConfirmationRequired",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "confirmationRequired",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>\n@param confirmationRequired Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "confirmationRequired",
            "variableType" : "Boolean",
            "documentation" : "<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "NonEmptyMaxLength256String",
          "deprecated" : false,
          "documentation" : "<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>\n@param description A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>\n@return A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>\n@param description A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>\n@param description A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Manifest" : {
          "c2jName" : "Manifest",
          "c2jShape" : "JobManifest",
          "deprecated" : false,
          "documentation" : "<p>Configuration parameters for the manifest.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Configuration parameters for the manifest.</p>\n@param manifest Configuration parameters for the manifest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withManifest",
          "getterDocumentation" : "/**<p>Configuration parameters for the manifest.</p>\n@return Configuration parameters for the manifest.*/",
          "getterMethodName" : "getManifest",
          "getterModel" : {
            "returnType" : "JobManifest",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Manifest",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Manifest",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Manifest",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Configuration parameters for the manifest.</p>\n@param manifest Configuration parameters for the manifest.*/",
          "setterMethodName" : "setManifest",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "JobManifest",
            "variableName" : "manifest",
            "variableType" : "JobManifest",
            "documentation" : "",
            "simpleType" : "JobManifest",
            "variableSetterType" : "JobManifest"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Configuration parameters for the manifest.</p>\n@param manifest Configuration parameters for the manifest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "JobManifest",
            "variableName" : "manifest",
            "variableType" : "JobManifest",
            "documentation" : "<p>Configuration parameters for the manifest.</p>",
            "simpleType" : "JobManifest",
            "variableSetterType" : "JobManifest"
          },
          "xmlNameSpaceUri" : null
        },
        "Operation" : {
          "c2jName" : "Operation",
          "c2jShape" : "JobOperation",
          "deprecated" : false,
          "documentation" : "<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n@param operation The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOperation",
          "getterDocumentation" : "/**<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n@return The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.*/",
          "getterMethodName" : "getOperation",
          "getterModel" : {
            "returnType" : "JobOperation",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Operation",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Operation",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Operation",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n@param operation The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.*/",
          "setterMethodName" : "setOperation",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "JobOperation",
            "variableName" : "operation",
            "variableType" : "JobOperation",
            "documentation" : "",
            "simpleType" : "JobOperation",
            "variableSetterType" : "JobOperation"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n@param operation The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "JobOperation",
            "variableName" : "operation",
            "variableType" : "JobOperation",
            "documentation" : "<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
            "simpleType" : "JobOperation",
            "variableSetterType" : "JobOperation"
          },
          "xmlNameSpaceUri" : null
        },
        "Priority" : {
          "c2jName" : "Priority",
          "c2jShape" : "JobPriority",
          "deprecated" : false,
          "documentation" : "<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>\n@param priority The numerical priority for this job. Higher numbers indicate higher priority.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPriority",
          "getterDocumentation" : "/**<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>\n@return The numerical priority for this job. Higher numbers indicate higher priority.*/",
          "getterMethodName" : "getPriority",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Priority",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Priority",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Priority",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>\n@param priority The numerical priority for this job. Higher numbers indicate higher priority.*/",
          "setterMethodName" : "setPriority",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "priority",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>\n@param priority The numerical priority for this job. Higher numbers indicate higher priority.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "priority",
            "variableType" : "Integer",
            "documentation" : "<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Report" : {
          "c2jName" : "Report",
          "c2jShape" : "JobReport",
          "deprecated" : false,
          "documentation" : "<p>Configuration parameters for the optional job-completion report.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Configuration parameters for the optional job-completion report.</p>\n@param report Configuration parameters for the optional job-completion report.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReport",
          "getterDocumentation" : "/**<p>Configuration parameters for the optional job-completion report.</p>\n@return Configuration parameters for the optional job-completion report.*/",
          "getterMethodName" : "getReport",
          "getterModel" : {
            "returnType" : "JobReport",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Report",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Report",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Report",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Configuration parameters for the optional job-completion report.</p>\n@param report Configuration parameters for the optional job-completion report.*/",
          "setterMethodName" : "setReport",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "JobReport",
            "variableName" : "report",
            "variableType" : "JobReport",
            "documentation" : "",
            "simpleType" : "JobReport",
            "variableSetterType" : "JobReport"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Configuration parameters for the optional job-completion report.</p>\n@param report Configuration parameters for the optional job-completion report.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "JobReport",
            "variableName" : "report",
            "variableType" : "JobReport",
            "documentation" : "<p>Configuration parameters for the optional job-completion report.</p>",
            "simpleType" : "JobReport",
            "variableSetterType" : "JobReport"
          },
          "xmlNameSpaceUri" : null
        },
        "RoleArn" : {
          "c2jName" : "RoleArn",
          "c2jShape" : "IAMRoleArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>\n@param roleArn The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRoleArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>\n@return The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.*/",
          "getterMethodName" : "getRoleArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RoleArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RoleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RoleArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>\n@param roleArn The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.*/",
          "setterMethodName" : "setRoleArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>\n@param roleArn The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "AccountId", "Operation", "Report", "ClientRequestToken", "Manifest", "Priority", "RoleArn" ],
      "shapeName" : "CreateJobRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateJobRequest",
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "documentation" : null,
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "wrapper" : false
    },
    "CreateJobResult" : {
      "c2jName" : "CreateJobResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "JobId",
        "c2jShape" : "JobId",
        "deprecated" : false,
        "documentation" : "<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.</p>\n@param jobId The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobId",
        "getterDocumentation" : "/**<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.</p>\n@return The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.*/",
        "getterMethodName" : "getJobId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "JobId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "JobId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.</p>\n@param jobId The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.*/",
        "setterMethodName" : "setJobId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.</p>\n@param jobId The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "JobId" : {
          "c2jName" : "JobId",
          "c2jShape" : "JobId",
          "deprecated" : false,
          "documentation" : "<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.</p>\n@param jobId The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJobId",
          "getterDocumentation" : "/**<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.</p>\n@return The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.*/",
          "getterMethodName" : "getJobId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "JobId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "JobId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "JobId",
          "sensitive" : false,
[...]
