{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-07-25",
    "asyncClient" : "AmazonS3OutpostsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonS3OutpostsAsyncClientBuilder",
    "asyncInterface" : "AmazonS3OutpostsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonS3OutpostsModuleInjector",
    "defaultEndpoint" : "s3-outposts.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "s3-outposts.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon S3 on Outposts provides access to S3 on Outposts operations.</p>",
    "endpointPrefix" : "s3-outposts",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.s3outposts",
    "packagePath" : "com/amazonaws/services/s3outposts",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon S3 Outposts",
    "serviceFullName" : "Amazon S3 on Outposts",
    "serviceId" : "S3Outposts",
    "serviceName" : "Amazon S3 Outposts",
    "signingName" : "s3-outposts",
    "smokeTestsPackageName" : "com.amazonaws.services.s3outposts.smoketests",
    "syncClient" : "AmazonS3OutpostsClient",
    "syncClientBuilderClassName" : "AmazonS3OutpostsClientBuilder",
    "syncInterface" : "AmazonS3Outposts",
    "uid" : "s3outposts-2017-07-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEndpointRequest, CreateEndpointResult>",
      "asyncReturnType" : "CreateEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an endpoint and associates it with the specified Outpost.</p> <note> <p>It can take up to 5 minutes for this action to finish.</p> </note> <p/> <p>Related actions include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_DeleteEndpoint.html\">DeleteEndpoint</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_ListEndpoints.html\">ListEndpoints</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an exception with the internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this data.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access was denied for this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEndpointRequest",
        "variableName" : "createEndpointRequest",
        "variableType" : "CreateEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateEndpointRequest",
        "variableSetterType" : "CreateEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEndpoint",
      "operationName" : "CreateEndpoint",
      "returnType" : {
        "returnType" : "CreateEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEndpointResult"
    },
    "DeleteEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointRequest, DeleteEndpointResult>",
      "asyncReturnType" : "DeleteEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an endpoint.</p> <note> <p>It can take up to 5 minutes for this action to finish.</p> </note> <p/> <p>Related actions include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_CreateEndpoint.html\">CreateEndpoint</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_ListEndpoints.html\">ListEndpoints</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an exception with the internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access was denied for this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this data.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEndpointRequest",
        "variableName" : "deleteEndpointRequest",
        "variableType" : "DeleteEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteEndpointRequest",
        "variableSetterType" : "DeleteEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEndpoint",
      "operationName" : "DeleteEndpoint",
      "returnType" : {
        "returnType" : "DeleteEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEndpointResult"
    },
    "ListEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEndpointsRequest, ListEndpointsResult>",
      "asyncReturnType" : "ListEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists endpoints associated with the specified Outpost. </p> <p>Related actions include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_CreateEndpoint.html\">CreateEndpoint</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_DeleteEndpoint.html\">DeleteEndpoint</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an exception with the internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access was denied for this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this data.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEndpointsRequest",
        "variableName" : "listEndpointsRequest",
        "variableType" : "ListEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListEndpointsRequest",
        "variableSetterType" : "ListEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEndpoints",
      "operationName" : "ListEndpoints",
      "returnType" : {
        "returnType" : "ListEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEndpointsResult"
    },
    "ListSharedEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSharedEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSharedEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSharedEndpointsRequest, ListSharedEndpointsResult>",
      "asyncReturnType" : "ListSharedEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all endpoints associated with an Outpost that has been shared by Amazon Web Services Resource Access Manager (RAM).</p> <p>Related actions include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_CreateEndpoint.html\">CreateEndpoint</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_s3outposts_DeleteEndpoint.html\">DeleteEndpoint</a> </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There was an exception with the internal server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access was denied for this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There was an exception validating this data.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSharedEndpointsRequest",
        "variableName" : "listSharedEndpointsRequest",
        "variableType" : "ListSharedEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListSharedEndpointsRequest",
        "variableSetterType" : "ListSharedEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSharedEndpoints",
      "operationName" : "ListSharedEndpoints",
      "returnType" : {
        "returnType" : "ListSharedEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSharedEndpointsResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access was denied for this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.s3outposts.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.s3outposts.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.s3outposts.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.s3outposts.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateEndpointRequest" : {
      "c2jName" : "CreateEndpointRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.s3outposts.request.CreateEndpointRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateEndpoint",
        "locationName" : null,
        "requestUri" : "/S3Outposts/CreateEndpoint",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "OutpostId",
        "c2jShape" : "OutpostId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the Outposts. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOutpostId",
        "getterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@return The ID of the Outposts.*/",
        "getterMethodName" : "getOutpostId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OutpostId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OutpostId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OutpostId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.*/",
        "setterMethodName" : "setOutpostId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outpostId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outpostId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the Outposts. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubnetId",
        "c2jShape" : "SubnetId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>\n@param subnetId The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubnetId",
        "getterDocumentation" : "/**<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>\n@return The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.*/",
        "getterMethodName" : "getSubnetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubnetId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubnetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SubnetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>\n@param subnetId The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.*/",
        "setterMethodName" : "setSubnetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subnetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>\n@param subnetId The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subnetId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SecurityGroupId",
        "c2jShape" : "SecurityGroupId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the security group to use with the endpoint.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the security group to use with the endpoint.</p>\n@param securityGroupId The ID of the security group to use with the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecurityGroupId",
        "getterDocumentation" : "/**<p>The ID of the security group to use with the endpoint.</p>\n@return The ID of the security group to use with the endpoint.*/",
        "getterMethodName" : "getSecurityGroupId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SecurityGroupId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SecurityGroupId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SecurityGroupId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the security group to use with the endpoint.</p>\n@param securityGroupId The ID of the security group to use with the endpoint.*/",
        "setterMethodName" : "setSecurityGroupId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "securityGroupId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the security group to use with the endpoint.</p>\n@param securityGroupId The ID of the security group to use with the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "securityGroupId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the security group to use with the endpoint.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AccessType",
        "c2jShape" : "EndpointAccessType",
        "deprecated" : false,
        "documentation" : "<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>",
        "endpointDiscoveryId" : false,
        "enumType" : "EndpointAccessType",
        "fluentSetterDocumentation" : "/**<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>\n@param accessType The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see EndpointAccessType*/",
        "fluentSetterMethodName" : "withAccessType",
        "getterDocumentation" : "/**<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>\n@return The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p>\n@see EndpointAccessType*/",
        "getterMethodName" : "getAccessType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccessType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccessType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccessType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>\n@param accessType The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p>\n@see EndpointAccessType*/",
        "setterMethodName" : "setAccessType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accessType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>\n@param accessType The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see EndpointAccessType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accessType",
          "variableType" : "String",
          "documentation" : "<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CustomerOwnedIpv4Pool",
        "c2jShape" : "CustomerOwnedIpv4Pool",
        "deprecated" : false,
        "documentation" : "<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>\n@param customerOwnedIpv4Pool The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCustomerOwnedIpv4Pool",
        "getterDocumentation" : "/**<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>\n@return The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.*/",
        "getterMethodName" : "getCustomerOwnedIpv4Pool",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CustomerOwnedIpv4Pool",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CustomerOwnedIpv4Pool",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CustomerOwnedIpv4Pool",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>\n@param customerOwnedIpv4Pool The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.*/",
        "setterMethodName" : "setCustomerOwnedIpv4Pool",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "customerOwnedIpv4Pool",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>\n@param customerOwnedIpv4Pool The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "customerOwnedIpv4Pool",
          "variableType" : "String",
          "documentation" : "<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccessType" : {
          "c2jName" : "AccessType",
          "c2jShape" : "EndpointAccessType",
          "deprecated" : false,
          "documentation" : "<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>",
          "endpointDiscoveryId" : false,
          "enumType" : "EndpointAccessType",
          "fluentSetterDocumentation" : "/**<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>\n@param accessType The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see EndpointAccessType*/",
          "fluentSetterMethodName" : "withAccessType",
          "getterDocumentation" : "/**<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>\n@return The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p>\n@see EndpointAccessType*/",
          "getterMethodName" : "getAccessType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AccessType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AccessType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccessType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>\n@param accessType The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p>\n@see EndpointAccessType*/",
          "setterMethodName" : "setAccessType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accessType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>\n@param accessType The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see EndpointAccessType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accessType",
            "variableType" : "String",
            "documentation" : "<p>The type of access for the network connectivity for the Amazon S3 on Outposts endpoint. To use the Amazon Web Services VPC, choose <code>Private</code>. To use the endpoint with an on-premises network, choose <code>CustomerOwnedIp</code>. If you choose <code>CustomerOwnedIp</code>, you must also provide the customer-owned IP address pool (CoIP pool).</p> <note> <p> <code>Private</code> is the default access type value.</p> </note>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CustomerOwnedIpv4Pool" : {
          "c2jName" : "CustomerOwnedIpv4Pool",
          "c2jShape" : "CustomerOwnedIpv4Pool",
          "deprecated" : false,
          "documentation" : "<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>\n@param customerOwnedIpv4Pool The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCustomerOwnedIpv4Pool",
          "getterDocumentation" : "/**<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>\n@return The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.*/",
          "getterMethodName" : "getCustomerOwnedIpv4Pool",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CustomerOwnedIpv4Pool",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CustomerOwnedIpv4Pool",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CustomerOwnedIpv4Pool",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>\n@param customerOwnedIpv4Pool The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.*/",
          "setterMethodName" : "setCustomerOwnedIpv4Pool",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "customerOwnedIpv4Pool",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>\n@param customerOwnedIpv4Pool The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "customerOwnedIpv4Pool",
            "variableType" : "String",
            "documentation" : "<p>The ID of the customer-owned IPv4 address pool (CoIP pool) for the endpoint. IP addresses are allocated from this pool for the endpoint.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "OutpostId" : {
          "c2jName" : "OutpostId",
          "c2jShape" : "OutpostId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the Outposts. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOutpostId",
          "getterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@return The ID of the Outposts.*/",
          "getterMethodName" : "getOutpostId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "OutpostId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "OutpostId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OutpostId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.*/",
          "setterMethodName" : "setOutpostId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "outpostId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "outpostId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the Outposts. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SecurityGroupId" : {
          "c2jName" : "SecurityGroupId",
          "c2jShape" : "SecurityGroupId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the security group to use with the endpoint.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the security group to use with the endpoint.</p>\n@param securityGroupId The ID of the security group to use with the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSecurityGroupId",
          "getterDocumentation" : "/**<p>The ID of the security group to use with the endpoint.</p>\n@return The ID of the security group to use with the endpoint.*/",
          "getterMethodName" : "getSecurityGroupId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SecurityGroupId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SecurityGroupId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SecurityGroupId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the security group to use with the endpoint.</p>\n@param securityGroupId The ID of the security group to use with the endpoint.*/",
          "setterMethodName" : "setSecurityGroupId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "securityGroupId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the security group to use with the endpoint.</p>\n@param securityGroupId The ID of the security group to use with the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "securityGroupId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the security group to use with the endpoint.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SubnetId" : {
          "c2jName" : "SubnetId",
          "c2jShape" : "SubnetId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>\n@param subnetId The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSubnetId",
          "getterDocumentation" : "/**<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>\n@return The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.*/",
          "getterMethodName" : "getSubnetId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SubnetId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SubnetId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SubnetId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>\n@param subnetId The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.*/",
          "setterMethodName" : "setSubnetId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "subnetId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>\n@param subnetId The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "subnetId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the subnet in the selected VPC. The endpoint subnet must belong to the Outpost that has Amazon S3 on Outposts provisioned.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.s3outposts.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "OutpostId", "SubnetId", "SecurityGroupId" ],
      "shapeName" : "CreateEndpointRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEndpointRequest",
        "variableName" : "createEndpointRequest",
        "variableType" : "CreateEndpointRequest",
        "documentation" : null,
        "simpleType" : "CreateEndpointRequest",
        "variableSetterType" : "CreateEndpointRequest"
      },
      "wrapper" : false
    },
    "CreateEndpointResult" : {
      "c2jName" : "CreateEndpointResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.s3outposts.response.CreateEndpointResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "EndpointArn",
        "c2jShape" : "EndpointArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the endpoint.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@param endpointArn The Amazon Resource Name (ARN) of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndpointArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@return The Amazon Resource Name (ARN) of the endpoint.*/",
        "getterMethodName" : "getEndpointArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EndpointArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndpointArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EndpointArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@param endpointArn The Amazon Resource Name (ARN) of the endpoint.*/",
        "setterMethodName" : "setEndpointArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endpointArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@param endpointArn The Amazon Resource Name (ARN) of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endpointArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the endpoint.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EndpointArn" : {
          "c2jName" : "EndpointArn",
          "c2jShape" : "EndpointArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the endpoint.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@param endpointArn The Amazon Resource Name (ARN) of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndpointArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@return The Amazon Resource Name (ARN) of the endpoint.*/",
          "getterMethodName" : "getEndpointArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EndpointArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EndpointArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EndpointArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@param endpointArn The Amazon Resource Name (ARN) of the endpoint.*/",
          "setterMethodName" : "setEndpointArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "endpointArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@param endpointArn The Amazon Resource Name (ARN) of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "endpointArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the endpoint.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.s3outposts.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CreateEndpointResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEndpointResult",
        "variableName" : "createEndpointResult",
        "variableType" : "CreateEndpointResult",
        "documentation" : null,
        "simpleType" : "CreateEndpointResult",
        "variableSetterType" : "CreateEndpointResult"
      },
      "wrapper" : false
    },
    "DeleteEndpointRequest" : {
      "c2jName" : "DeleteEndpointRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.s3outposts.request.DeleteEndpointRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteEndpoint",
        "locationName" : null,
        "requestUri" : "/S3Outposts/DeleteEndpoint",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "EndpointId",
        "c2jShape" : "EndpointId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the endpoint.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the endpoint.</p>\n@param endpointId The ID of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndpointId",
        "getterDocumentation" : "/**<p>The ID of the endpoint.</p>\n@return The ID of the endpoint.*/",
        "getterMethodName" : "getEndpointId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "endpointId",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "endpointId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EndpointId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the endpoint.</p>\n@param endpointId The ID of the endpoint.*/",
        "setterMethodName" : "setEndpointId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endpointId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the endpoint.</p>\n@param endpointId The ID of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endpointId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the endpoint.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OutpostId",
        "c2jShape" : "OutpostId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the Outposts. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOutpostId",
        "getterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@return The ID of the Outposts.*/",
        "getterMethodName" : "getOutpostId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "outpostId",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "outpostId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OutpostId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.*/",
        "setterMethodName" : "setOutpostId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outpostId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outpostId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the Outposts. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EndpointId" : {
          "c2jName" : "EndpointId",
          "c2jShape" : "EndpointId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the endpoint.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the endpoint.</p>\n@param endpointId The ID of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndpointId",
          "getterDocumentation" : "/**<p>The ID of the endpoint.</p>\n@return The ID of the endpoint.*/",
          "getterMethodName" : "getEndpointId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "endpointId",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "endpointId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EndpointId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the endpoint.</p>\n@param endpointId The ID of the endpoint.*/",
          "setterMethodName" : "setEndpointId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "endpointId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the endpoint.</p>\n@param endpointId The ID of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "endpointId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the endpoint.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "OutpostId" : {
          "c2jName" : "OutpostId",
          "c2jShape" : "OutpostId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the Outposts. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOutpostId",
          "getterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@return The ID of the Outposts.*/",
          "getterMethodName" : "getOutpostId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "outpostId",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "outpostId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OutpostId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.*/",
          "setterMethodName" : "setOutpostId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "outpostId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the Outposts. </p>\n@param outpostId The ID of the Outposts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "outpostId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the Outposts. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.s3outposts.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "EndpointId", "OutpostId" ],
      "shapeName" : "DeleteEndpointRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEndpointRequest",
        "variableName" : "deleteEndpointRequest",
        "variableType" : "DeleteEndpointRequest",
        "documentation" : null,
        "simpleType" : "DeleteEndpointRequest",
        "variableSetterType" : "DeleteEndpointRequest"
      },
      "wrapper" : false
    },
    "DeleteEndpointResult" : {
      "c2jName" : "DeleteEndpointResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.s3outposts.response.DeleteEndpointResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.s3outposts.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteEndpointResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEndpointResult",
        "variableName" : "deleteEndpointResult",
        "variableType" : "DeleteEndpointResult",
        "documentation" : null,
        "simpleType" : "DeleteEndpointResult",
        "variableSetterType" : "DeleteEndpointResult"
      },
      "wrapper" : false
    },
    "Endpoint" : {
      "c2jName" : "Endpoint",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Amazon S3 on Outposts Access Points simplify managing data access at scale for shared datasets in S3 on Outposts. S3 on Outposts uses endpoints to connect to Outposts buckets so that you can perform actions within your virtual private cloud (VPC). For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/WorkingWithS3Outposts.html\"> Accessing S3 on Outposts using VPC-only access points</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.s3outposts.model.Endpoint",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "EndpointArn",
        "c2jShape" : "EndpointArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the endpoint.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@param endpointArn The Amazon Resource Name (ARN) of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndpointArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@return The Amazon Resource Name (ARN) of the endpoint.*/",
        "getterMethodName" : "getEndpointArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EndpointArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndpointArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EndpointArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@param endpointArn The Amazon Resource Name (ARN) of the endpoint.*/",
        "setterMethodName" : "setEndpointArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endpointArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the endpoint.</p>\n@param endpointArn The Amazon Resource Name (ARN) of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endpointArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the endpoint.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "OutpostsId",
        "c2jShape" : "OutpostId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the Outposts.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the Outposts.</p>\n@param outpostsId The ID of the Outposts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOutpostsId",
        "getterDocumentation" : "/**<p>The ID of the Outposts.</p>\n@return The ID of the Outposts.*/",
        "getterMethodName" : "getOutpostsId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OutpostsId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OutpostsId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OutpostsId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the Outposts.</p>\n@param outpostsId The ID of the Outposts.*/",
        "setterMethodName" : "setOutpostsId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outpostsId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the Outposts.</p>\n@param outpostsId The ID of the Outposts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "outpostsId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the Outposts.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CidrBlock",
        "c2jShape" : "CidrBlock",
        "deprecated" : false,
        "documentation" : "<p>The VPC CIDR committed by this endpoint.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The VPC CIDR committed by this endpoint.</p>\n@param cidrBlock The VPC CIDR committed by this endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCidrBlock",
        "getterDocumentation" : "/**<p>The VPC CIDR committed by this endpoint.</p>\n@return The VPC CIDR committed by this endpoint.*/",
        "getterMethodName" : "getCidrBlock",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CidrBlock",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CidrBlock",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CidrBlock",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The VPC CIDR committed by this endpoint.</p>\n@param cidrBlock The VPC CIDR committed by this endpoint.*/",
        "setterMethodName" : "setCidrBlock",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cidrBlock",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The VPC CIDR committed by this endpoint.</p>\n@param cidrBlock The VPC CIDR committed by this endpoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cidrBlock",
          "variableType" : "String",
          "documentation" : "<p>The VPC CIDR committed by this endpoint.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "EndpointStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the endpoint.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "EndpointStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the endpoint.</p>\n@param status The status of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EndpointStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The status of the endpoint.</p>\n@return The status of the endpoint.\n@see EndpointStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the endpoint.</p>\n@param status The status of the endpoint.\n@see EndpointStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the endpoint.</p>\n@param status The status of the endpoint.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EndpointStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The status of the endpoint.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreationTime",
        "c2jShape" : "CreationTime",
        "deprecated" : false,
        "documentation" : "<p>The time the endpoint was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time the endpoint was created.</p>\n@param creationTime The time the endpoint was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreationTime",
        "getterDocumentation" : "/**<p>The time the endpoint was created.</p>\n@return The time the endpoint was created.*/",
        "getterMethodName" : "getCreationTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreationTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreationTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreationTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time the endpoint was created.</p>\n@param creationTime The time the endpoint was created.*/",
        "setterMethodName" : "setCreationTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
