{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-05-27",
    "asyncClient" : "AmazonSageMakerGeospatialAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSageMakerGeospatialAsyncClientBuilder",
    "asyncInterface" : "AmazonSageMakerGeospatialAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonSageMakerGeospatialModuleInjector",
    "defaultEndpoint" : "sagemaker-geospatial.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sagemaker-geospatial.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Provides APIs for creating and managing SageMaker geospatial resources.</p>",
    "endpointPrefix" : "sagemaker-geospatial",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.sagemakergeospatial",
    "packagePath" : "com/amazonaws/services/sagemakergeospatial",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon SageMaker geospatial capabilities",
    "serviceId" : "SageMaker Geospatial",
    "serviceName" : "Amazon SageMaker geospatial capabilities",
    "signingName" : "sagemaker-geospatial",
    "smokeTestsPackageName" : "com.amazonaws.services.sagemakergeospatial.smoketests",
    "syncClient" : "AmazonSageMakerGeospatialClient",
    "syncClientBuilderClassName" : "AmazonSageMakerGeospatialClientBuilder",
    "syncInterface" : "AmazonSageMakerGeospatial",
    "uid" : "sagemaker-geospatial-2020-05-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteEarthObservationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEarthObservationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEarthObservationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEarthObservationJobRequest, DeleteEarthObservationJobResult>",
      "asyncReturnType" : "DeleteEarthObservationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to delete an Earth Observation job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEarthObservationJobRequest",
        "variableName" : "deleteEarthObservationJobRequest",
        "variableType" : "DeleteEarthObservationJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteEarthObservationJobRequest",
        "variableSetterType" : "DeleteEarthObservationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEarthObservationJob",
      "operationName" : "DeleteEarthObservationJob",
      "returnType" : {
        "returnType" : "DeleteEarthObservationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEarthObservationJobResult"
    },
    "DeleteVectorEnrichmentJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVectorEnrichmentJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVectorEnrichmentJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVectorEnrichmentJobRequest, DeleteVectorEnrichmentJobResult>",
      "asyncReturnType" : "DeleteVectorEnrichmentJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to delete a Vector Enrichment job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVectorEnrichmentJobRequest",
        "variableName" : "deleteVectorEnrichmentJobRequest",
        "variableType" : "DeleteVectorEnrichmentJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteVectorEnrichmentJobRequest",
        "variableSetterType" : "DeleteVectorEnrichmentJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVectorEnrichmentJob",
      "operationName" : "DeleteVectorEnrichmentJob",
      "returnType" : {
        "returnType" : "DeleteVectorEnrichmentJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVectorEnrichmentJobResult"
    },
    "ExportEarthObservationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportEarthObservationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportEarthObservationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportEarthObservationJobRequest, ExportEarthObservationJobResult>",
      "asyncReturnType" : "ExportEarthObservationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to export results of an Earth Observation job and optionally source images used as input to the EOJ to an S3 location.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded the service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportEarthObservationJobRequest",
        "variableName" : "exportEarthObservationJobRequest",
        "variableType" : "ExportEarthObservationJobRequest",
        "documentation" : "",
        "simpleType" : "ExportEarthObservationJobRequest",
        "variableSetterType" : "ExportEarthObservationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportEarthObservationJob",
      "operationName" : "ExportEarthObservationJob",
      "returnType" : {
        "returnType" : "ExportEarthObservationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportEarthObservationJobResult"
    },
    "ExportVectorEnrichmentJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportVectorEnrichmentJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportVectorEnrichmentJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportVectorEnrichmentJobRequest, ExportVectorEnrichmentJobResult>",
      "asyncReturnType" : "ExportVectorEnrichmentJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to copy results of a Vector Enrichment job to an S3 location.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded the service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportVectorEnrichmentJobRequest",
        "variableName" : "exportVectorEnrichmentJobRequest",
        "variableType" : "ExportVectorEnrichmentJobRequest",
        "documentation" : "",
        "simpleType" : "ExportVectorEnrichmentJobRequest",
        "variableSetterType" : "ExportVectorEnrichmentJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportVectorEnrichmentJob",
      "operationName" : "ExportVectorEnrichmentJob",
      "returnType" : {
        "returnType" : "ExportVectorEnrichmentJobResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportVectorEnrichmentJobResult"
    },
    "GetEarthObservationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEarthObservationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEarthObservationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEarthObservationJobRequest, GetEarthObservationJobResult>",
      "asyncReturnType" : "GetEarthObservationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the details for a previously initiated Earth Observation job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEarthObservationJobRequest",
        "variableName" : "getEarthObservationJobRequest",
        "variableType" : "GetEarthObservationJobRequest",
        "documentation" : "",
        "simpleType" : "GetEarthObservationJobRequest",
        "variableSetterType" : "GetEarthObservationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEarthObservationJob",
      "operationName" : "GetEarthObservationJob",
      "returnType" : {
        "returnType" : "GetEarthObservationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEarthObservationJobResult"
    },
    "GetRasterDataCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRasterDataCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRasterDataCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRasterDataCollectionRequest, GetRasterDataCollectionResult>",
      "asyncReturnType" : "GetRasterDataCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to get details of a specific raster data collection.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRasterDataCollectionRequest",
        "variableName" : "getRasterDataCollectionRequest",
        "variableType" : "GetRasterDataCollectionRequest",
        "documentation" : "",
        "simpleType" : "GetRasterDataCollectionRequest",
        "variableSetterType" : "GetRasterDataCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRasterDataCollection",
      "operationName" : "GetRasterDataCollection",
      "returnType" : {
        "returnType" : "GetRasterDataCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRasterDataCollectionResult"
    },
    "GetTile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTileRequest, GetTileResult>",
      "asyncReturnType" : "GetTileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a web mercator tile for the given Earth Observation job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTileRequest",
        "variableName" : "getTileRequest",
        "variableType" : "GetTileRequest",
        "documentation" : "",
        "simpleType" : "GetTileRequest",
        "variableSetterType" : "GetTileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTile",
      "operationName" : "GetTile",
      "returnType" : {
        "returnType" : "GetTileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTileResult"
    },
    "GetVectorEnrichmentJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVectorEnrichmentJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVectorEnrichmentJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVectorEnrichmentJobRequest, GetVectorEnrichmentJobResult>",
      "asyncReturnType" : "GetVectorEnrichmentJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details of a Vector Enrichment Job for a given job Amazon Resource Name (ARN).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVectorEnrichmentJobRequest",
        "variableName" : "getVectorEnrichmentJobRequest",
        "variableType" : "GetVectorEnrichmentJobRequest",
        "documentation" : "",
        "simpleType" : "GetVectorEnrichmentJobRequest",
        "variableSetterType" : "GetVectorEnrichmentJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVectorEnrichmentJob",
      "operationName" : "GetVectorEnrichmentJob",
      "returnType" : {
        "returnType" : "GetVectorEnrichmentJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVectorEnrichmentJobResult"
    },
    "ListEarthObservationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEarthObservationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEarthObservationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEarthObservationJobsRequest, ListEarthObservationJobsResult>",
      "asyncReturnType" : "ListEarthObservationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to get a list of the Earth Observation jobs associated with the calling Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEarthObservationJobsRequest",
        "variableName" : "listEarthObservationJobsRequest",
        "variableType" : "ListEarthObservationJobsRequest",
        "documentation" : "",
        "simpleType" : "ListEarthObservationJobsRequest",
        "variableSetterType" : "ListEarthObservationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEarthObservationJobs",
      "operationName" : "ListEarthObservationJobs",
      "returnType" : {
        "returnType" : "ListEarthObservationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEarthObservationJobsResult"
    },
    "ListRasterDataCollections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRasterDataCollectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRasterDataCollectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRasterDataCollectionsRequest, ListRasterDataCollectionsResult>",
      "asyncReturnType" : "ListRasterDataCollectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to get raster data collections.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRasterDataCollectionsRequest",
        "variableName" : "listRasterDataCollectionsRequest",
        "variableType" : "ListRasterDataCollectionsRequest",
        "documentation" : "",
        "simpleType" : "ListRasterDataCollectionsRequest",
        "variableSetterType" : "ListRasterDataCollectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRasterDataCollections",
      "operationName" : "ListRasterDataCollections",
      "returnType" : {
        "returnType" : "ListRasterDataCollectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRasterDataCollectionsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags attached to the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListVectorEnrichmentJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVectorEnrichmentJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVectorEnrichmentJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVectorEnrichmentJobsRequest, ListVectorEnrichmentJobsResult>",
      "asyncReturnType" : "ListVectorEnrichmentJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of vector enrichment jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVectorEnrichmentJobsRequest",
        "variableName" : "listVectorEnrichmentJobsRequest",
        "variableType" : "ListVectorEnrichmentJobsRequest",
        "documentation" : "",
        "simpleType" : "ListVectorEnrichmentJobsRequest",
        "variableSetterType" : "ListVectorEnrichmentJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVectorEnrichmentJobs",
      "operationName" : "ListVectorEnrichmentJobs",
      "returnType" : {
        "returnType" : "ListVectorEnrichmentJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVectorEnrichmentJobsResult"
    },
    "SearchRasterDataCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchRasterDataCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchRasterDataCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchRasterDataCollectionRequest, SearchRasterDataCollectionResult>",
      "asyncReturnType" : "SearchRasterDataCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows you run image query on a specific raster data collection to get a list of the satellite imagery matching the selected filters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchRasterDataCollectionRequest",
        "variableName" : "searchRasterDataCollectionRequest",
        "variableType" : "SearchRasterDataCollectionRequest",
        "documentation" : "",
        "simpleType" : "SearchRasterDataCollectionRequest",
        "variableSetterType" : "SearchRasterDataCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchRasterDataCollection",
      "operationName" : "SearchRasterDataCollection",
      "returnType" : {
        "returnType" : "SearchRasterDataCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchRasterDataCollectionResult"
    },
    "StartEarthObservationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartEarthObservationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartEarthObservationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartEarthObservationJobRequest, StartEarthObservationJobResult>",
      "asyncReturnType" : "StartEarthObservationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to create an Earth observation job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded the service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartEarthObservationJobRequest",
        "variableName" : "startEarthObservationJobRequest",
        "variableType" : "StartEarthObservationJobRequest",
        "documentation" : "",
        "simpleType" : "StartEarthObservationJobRequest",
        "variableSetterType" : "StartEarthObservationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startEarthObservationJob",
      "operationName" : "StartEarthObservationJob",
      "returnType" : {
        "returnType" : "StartEarthObservationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartEarthObservationJobResult"
    },
    "StartVectorEnrichmentJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartVectorEnrichmentJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartVectorEnrichmentJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartVectorEnrichmentJobRequest, StartVectorEnrichmentJobResult>",
      "asyncReturnType" : "StartVectorEnrichmentJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Vector Enrichment job for the supplied job type. Currently, there are two supported job types: reverse geocoding and map matching.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded the service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartVectorEnrichmentJobRequest",
        "variableName" : "startVectorEnrichmentJobRequest",
        "variableType" : "StartVectorEnrichmentJobRequest",
        "documentation" : "",
        "simpleType" : "StartVectorEnrichmentJobRequest",
        "variableSetterType" : "StartVectorEnrichmentJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startVectorEnrichmentJob",
      "operationName" : "StartVectorEnrichmentJob",
      "returnType" : {
        "returnType" : "StartVectorEnrichmentJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartVectorEnrichmentJobResult"
    },
    "StopEarthObservationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopEarthObservationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopEarthObservationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopEarthObservationJobRequest, StopEarthObservationJobResult>",
      "asyncReturnType" : "StopEarthObservationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to stop an existing earth observation job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopEarthObservationJobRequest",
        "variableName" : "stopEarthObservationJobRequest",
        "variableType" : "StopEarthObservationJobRequest",
        "documentation" : "",
        "simpleType" : "StopEarthObservationJobRequest",
        "variableSetterType" : "StopEarthObservationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopEarthObservationJob",
      "operationName" : "StopEarthObservationJob",
      "returnType" : {
        "returnType" : "StopEarthObservationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopEarthObservationJobResult"
    },
    "StopVectorEnrichmentJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopVectorEnrichmentJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopVectorEnrichmentJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopVectorEnrichmentJobRequest, StopVectorEnrichmentJobResult>",
      "asyncReturnType" : "StopVectorEnrichmentJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the Vector Enrichment job for a given job ARN.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopVectorEnrichmentJobRequest",
        "variableName" : "stopVectorEnrichmentJobRequest",
        "variableType" : "StopVectorEnrichmentJobRequest",
        "documentation" : "",
        "simpleType" : "StopVectorEnrichmentJobRequest",
        "variableSetterType" : "StopVectorEnrichmentJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopVectorEnrichmentJob",
      "operationName" : "StopVectorEnrichmentJob",
      "returnType" : {
        "returnType" : "StopVectorEnrichmentJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopVectorEnrichmentJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The resource you want to tag.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The resource you want to untag.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.sagemakergeospatial.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.sagemakergeospatial.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AlgorithmNameCloudRemoval" : {
      "c2jName" : "AlgorithmNameCloudRemoval",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "INTERPOLATION",
        "value" : "INTERPOLATION"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakergeospatial.enum.AlgorithmNameCloudRemoval",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.sagemakergeospatial.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AlgorithmNameCloudRemoval",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlgorithmNameCloudRemoval",
        "variableName" : "algorithmNameCloudRemoval",
        "variableType" : "AlgorithmNameCloudRemoval",
        "documentation" : null,
        "simpleType" : "AlgorithmNameCloudRemoval",
        "variableSetterType" : "AlgorithmNameCloudRemoval"
      },
      "wrapper" : false
    },
    "AlgorithmNameGeoMosaic" : {
      "c2jName" : "AlgorithmNameGeoMosaic",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "NEAR",
        "value" : "NEAR"
      }, {
        "name" : "BILINEAR",
        "value" : "BILINEAR"
      }, {
        "name" : "CUBIC",
        "value" : "CUBIC"
      }, {
        "name" : "CUBICSPLINE",
        "value" : "CUBICSPLINE"
      }, {
        "name" : "LANCZOS",
        "value" : "LANCZOS"
      }, {
        "name" : "AVERAGE",
        "value" : "AVERAGE"
      }, {
        "name" : "RMS",
        "value" : "RMS"
      }, {
        "name" : "MODE",
        "value" : "MODE"
      }, {
        "name" : "MAX",
        "value" : "MAX"
      }, {
        "name" : "MIN",
        "value" : "MIN"
      }, {
        "name" : "MED",
        "value" : "MED"
      }, {
        "name" : "Q1",
        "value" : "Q1"
      }, {
        "name" : "Q3",
        "value" : "Q3"
      }, {
        "name" : "SUM",
        "value" : "SUM"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakergeospatial.enum.AlgorithmNameGeoMosaic",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.sagemakergeospatial.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AlgorithmNameGeoMosaic",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlgorithmNameGeoMosaic",
        "variableName" : "algorithmNameGeoMosaic",
        "variableType" : "AlgorithmNameGeoMosaic",
        "documentation" : null,
        "simpleType" : "AlgorithmNameGeoMosaic",
        "variableSetterType" : "AlgorithmNameGeoMosaic"
      },
      "wrapper" : false
    },
    "AlgorithmNameResampling" : {
      "c2jName" : "AlgorithmNameResampling",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "NEAR",
        "value" : "NEAR"
      }, {
        "name" : "BILINEAR",
        "value" : "BILINEAR"
      }, {
        "name" : "CUBIC",
        "value" : "CUBIC"
      }, {
        "name" : "CUBICSPLINE",
        "value" : "CUBICSPLINE"
      }, {
        "name" : "LANCZOS",
        "value" : "LANCZOS"
      }, {
        "name" : "AVERAGE",
        "value" : "AVERAGE"
      }, {
        "name" : "RMS",
        "value" : "RMS"
      }, {
        "name" : "MODE",
        "value" : "MODE"
      }, {
        "name" : "MAX",
        "value" : "MAX"
      }, {
        "name" : "MIN",
        "value" : "MIN"
      }, {
        "name" : "MED",
        "value" : "MED"
      }, {
        "name" : "Q1",
        "value" : "Q1"
      }, {
        "name" : "Q3",
        "value" : "Q3"
      }, {
        "name" : "SUM",
        "value" : "SUM"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakergeospatial.enum.AlgorithmNameResampling",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.sagemakergeospatial.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AlgorithmNameResampling",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlgorithmNameResampling",
        "variableName" : "algorithmNameResampling",
        "variableType" : "AlgorithmNameResampling",
        "documentation" : null,
        "simpleType" : "AlgorithmNameResampling",
        "variableSetterType" : "AlgorithmNameResampling"
      },
      "wrapper" : false
    },
    "AreaOfInterest" : {
      "c2jName" : "AreaOfInterest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakergeospatial.model.AreaOfInterest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AreaOfInterestGeometry",
        "c2jShape" : "AreaOfInterestGeometry",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param areaOfInterestGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAreaOfInterestGeometry",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getAreaOfInterestGeometry",
        "getterModel" : {
          "returnType" : "AreaOfInterestGeometry",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AreaOfInterestGeometry",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AreaOfInterestGeometry",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AreaOfInterestGeometry",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param areaOfInterestGeometry */",
        "setterMethodName" : "setAreaOfInterestGeometry",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AreaOfInterestGeometry",
          "variableName" : "areaOfInterestGeometry",
          "variableType" : "AreaOfInterestGeometry",
          "documentation" : "",
          "simpleType" : "AreaOfInterestGeometry",
          "variableSetterType" : "AreaOfInterestGeometry"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param areaOfInterestGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AreaOfInterestGeometry",
          "variableName" : "areaOfInterestGeometry",
          "variableType" : "AreaOfInterestGeometry",
          "documentation" : "<p/>",
          "simpleType" : "AreaOfInterestGeometry",
          "variableSetterType" : "AreaOfInterestGeometry"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AreaOfInterestGeometry" : {
          "c2jName" : "AreaOfInterestGeometry",
          "c2jShape" : "AreaOfInterestGeometry",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param areaOfInterestGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAreaOfInterestGeometry",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getAreaOfInterestGeometry",
          "getterModel" : {
            "returnType" : "AreaOfInterestGeometry",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AreaOfInterestGeometry",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AreaOfInterestGeometry",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "AreaOfInterestGeometry",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param areaOfInterestGeometry */",
          "setterMethodName" : "setAreaOfInterestGeometry",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AreaOfInterestGeometry",
            "variableName" : "areaOfInterestGeometry",
            "variableType" : "AreaOfInterestGeometry",
            "documentation" : "",
            "simpleType" : "AreaOfInterestGeometry",
            "variableSetterType" : "AreaOfInterestGeometry"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param areaOfInterestGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AreaOfInterestGeometry",
            "variableName" : "areaOfInterestGeometry",
            "variableType" : "AreaOfInterestGeometry",
            "documentation" : "<p/>",
            "simpleType" : "AreaOfInterestGeometry",
            "variableSetterType" : "AreaOfInterestGeometry"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakergeospatial.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AreaOfInterest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AreaOfInterest",
        "variableName" : "areaOfInterest",
        "variableType" : "AreaOfInterest",
        "documentation" : null,
        "simpleType" : "AreaOfInterest",
        "variableSetterType" : "AreaOfInterest"
      },
      "wrapper" : false
    },
    "AreaOfInterestGeometry" : {
      "c2jName" : "AreaOfInterestGeometry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakergeospatial.model.AreaOfInterestGeometry",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "MultiPolygonGeometry",
        "c2jShape" : "MultiPolygonGeometryInput",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param multiPolygonGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMultiPolygonGeometry",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getMultiPolygonGeometry",
        "getterModel" : {
          "returnType" : "MultiPolygonGeometryInput",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MultiPolygonGeometry",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MultiPolygonGeometry",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "MultiPolygonGeometry",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param multiPolygonGeometry */",
        "setterMethodName" : "setMultiPolygonGeometry",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MultiPolygonGeometryInput",
          "variableName" : "multiPolygonGeometry",
          "variableType" : "MultiPolygonGeometryInput",
          "documentation" : "",
          "simpleType" : "MultiPolygonGeometryInput",
          "variableSetterType" : "MultiPolygonGeometryInput"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param multiPolygonGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MultiPolygonGeometryInput",
          "variableName" : "multiPolygonGeometry",
          "variableType" : "MultiPolygonGeometryInput",
          "documentation" : "<p/>",
          "simpleType" : "MultiPolygonGeometryInput",
          "variableSetterType" : "MultiPolygonGeometryInput"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PolygonGeometry",
        "c2jShape" : "PolygonGeometryInput",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param polygonGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPolygonGeometry",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getPolygonGeometry",
        "getterModel" : {
          "returnType" : "PolygonGeometryInput",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PolygonGeometry",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PolygonGeometry",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "PolygonGeometry",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param polygonGeometry */",
        "setterMethodName" : "setPolygonGeometry",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PolygonGeometryInput",
          "variableName" : "polygonGeometry",
          "variableType" : "PolygonGeometryInput",
          "documentation" : "",
          "simpleType" : "PolygonGeometryInput",
          "variableSetterType" : "PolygonGeometryInput"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param polygonGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PolygonGeometryInput",
          "variableName" : "polygonGeometry",
          "variableType" : "PolygonGeometryInput",
          "documentation" : "<p/>",
          "simpleType" : "PolygonGeometryInput",
          "variableSetterType" : "PolygonGeometryInput"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MultiPolygonGeometry" : {
          "c2jName" : "MultiPolygonGeometry",
          "c2jShape" : "MultiPolygonGeometryInput",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param multiPolygonGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMultiPolygonGeometry",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getMultiPolygonGeometry",
          "getterModel" : {
            "returnType" : "MultiPolygonGeometryInput",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MultiPolygonGeometry",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MultiPolygonGeometry",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "MultiPolygonGeometry",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param multiPolygonGeometry */",
          "setterMethodName" : "setMultiPolygonGeometry",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "MultiPolygonGeometryInput",
            "variableName" : "multiPolygonGeometry",
            "variableType" : "MultiPolygonGeometryInput",
            "documentation" : "",
            "simpleType" : "MultiPolygonGeometryInput",
            "variableSetterType" : "MultiPolygonGeometryInput"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param multiPolygonGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "MultiPolygonGeometryInput",
            "variableName" : "multiPolygonGeometry",
            "variableType" : "MultiPolygonGeometryInput",
            "documentation" : "<p/>",
            "simpleType" : "MultiPolygonGeometryInput",
            "variableSetterType" : "MultiPolygonGeometryInput"
          },
          "xmlNameSpaceUri" : null
        },
        "PolygonGeometry" : {
          "c2jName" : "PolygonGeometry",
          "c2jShape" : "PolygonGeometryInput",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param polygonGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPolygonGeometry",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getPolygonGeometry",
          "getterModel" : {
            "returnType" : "PolygonGeometryInput",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "PolygonGeometry",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PolygonGeometry",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "PolygonGeometry",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param polygonGeometry */",
          "setterMethodName" : "setPolygonGeometry",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PolygonGeometryInput",
            "variableName" : "polygonGeometry",
            "variableType" : "PolygonGeometryInput",
            "documentation" : "",
            "simpleType" : "PolygonGeometryInput",
            "variableSetterType" : "PolygonGeometryInput"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param polygonGeometry \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PolygonGeometryInput",
            "variableName" : "polygonGeometry",
            "variableType" : "PolygonGeometryInput",
            "documentation" : "<p/>",
            "simpleType" : "PolygonGeometryInput",
            "variableSetterType" : "PolygonGeometryInput"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakergeospatial.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AreaOfInterestGeometry",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AreaOfInterestGeometry",
        "variableName" : "areaOfInterestGeometry",
        "variableType" : "AreaOfInterestGeometry",
        "documentation" : null,
        "simpleType" : "AreaOfInterestGeometry",
        "variableSetterType" : "AreaOfInterestGeometry"
      },
      "wrapper" : false
    },
    "AssetValue" : {
      "c2jName" : "AssetValue",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakergeospatial.model.AssetValue",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Href",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param href \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHref",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getHref",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Href",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Href",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Href",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param href */",
        "setterMethodName" : "setHref",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "href",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param href \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "href",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Href" : {
          "c2jName" : "Href",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param href \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHref",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getHref",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Href",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Href",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Href",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param href */",
          "setterMethodName" : "setHref",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "href",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param href \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "href",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakergeospatial.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AssetValue",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssetValue",
        "variableName" : "assetValue",
        "variableType" : "AssetValue",
        "documentation" : null,
        "simpleType" : "AssetValue",
        "variableSetterType" : "AssetValue"
      },
      "wrapper" : false
    },
    "BandMathConfigInput" : {
      "c2jName" : "BandMathConfigInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakergeospatial.model.BandMathConfigInput",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CustomIndices",
        "c2jShape" : "CustomIndicesInput",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param customIndices \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCustomIndices",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getCustomIndices",
        "getterModel" : {
          "returnType" : "CustomIndicesInput",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CustomIndices",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CustomIndices",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CustomIndices",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param customIndices */",
        "setterMethodName" : "setCustomIndices",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CustomIndicesInput",
          "variableName" : "customIndices",
          "variableType" : "CustomIndicesInput",
          "documentation" : "",
          "simpleType" : "CustomIndicesInput",
          "variableSetterType" : "CustomIndicesInput"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param customIndices \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CustomIndicesInput",
          "variableName" : "customIndices",
          "variableType" : "CustomIndicesInput",
          "documentation" : "<p/>",
          "simpleType" : "CustomIndicesInput",
          "variableSetterType" : "CustomIndicesInput"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PredefinedIndices",
        "c2jShape" : "StringListInput",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param predefinedIndices \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPredefinedIndices",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getPredefinedIndices",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PredefinedIndices",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PredefinedIndices",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "PredefinedIndices",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param predefinedIndices */",
        "setterMethodName" : "setPredefinedIndices",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "predefinedIndices",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPredefinedIndices(java.util.Collection)} or {@link #withPredefinedIndices(java.util.Collection)} if you want to override the existing values.</p>\n@param predefinedIndices \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "predefinedIndices",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p/>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CustomIndices" : {
          "c2jName" : "CustomIndices",
          "c2jShape" : "CustomIndicesInput",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param customIndices \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCustomIndices",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getCustomIndices",
          "getterModel" : {
            "returnType" : "CustomIndicesInput",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CustomIndices",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CustomIndices",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CustomIndices",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param customIndices */",
          "setterMethodName" : "setCustomIndices",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CustomIndicesInput",
            "variableName" : "customIndices",
            "variableType" : "CustomIndicesInput",
            "documentation" : "",
            "simpleType" : "CustomIndicesInput",
            "variableSetterType" : "CustomIndicesInput"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param customIndices \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
[...]
