{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-09-23",
    "asyncClient" : "AmazonSagemakerEdgeManagerAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSagemakerEdgeManagerAsyncClientBuilder",
    "asyncInterface" : "AmazonSagemakerEdgeManagerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonSagemakerEdgeManagerModuleInjector",
    "defaultEndpoint" : "edge.sagemaker.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "edge.sagemaker.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>SageMaker Edge Manager dataplane service for communicating with active agents.</p>",
    "endpointPrefix" : "edge.sagemaker",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.sagemakeredgemanager",
    "packagePath" : "com/amazonaws/services/sagemakeredgemanager",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Sagemaker Edge Manager",
    "serviceId" : "Sagemaker Edge",
    "serviceName" : "Amazon Sagemaker Edge Manager",
    "signingName" : "sagemaker",
    "smokeTestsPackageName" : "com.amazonaws.services.sagemakeredgemanager.smoketests",
    "syncClient" : "AmazonSagemakerEdgeManagerClient",
    "syncClientBuilderClassName" : "AmazonSagemakerEdgeManagerClientBuilder",
    "syncInterface" : "AmazonSagemakerEdgeManager",
    "uid" : "sagemaker-edge-2020-09-23",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetDeviceRegistration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceRegistrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceRegistrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRegistrationRequest, GetDeviceRegistrationResult>",
      "asyncReturnType" : "GetDeviceRegistrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use to check if a device is registered with SageMaker Edge Manager.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal failure occurred. Try your request again. If the problem persists, contact AWS customer support.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceRegistrationRequest",
        "variableName" : "getDeviceRegistrationRequest",
        "variableType" : "GetDeviceRegistrationRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceRegistrationRequest",
        "variableSetterType" : "GetDeviceRegistrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeviceRegistration",
      "operationName" : "GetDeviceRegistration",
      "returnType" : {
        "returnType" : "GetDeviceRegistrationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceRegistrationResult"
    },
    "SendHeartbeat" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendHeartbeatResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendHeartbeatResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendHeartbeatRequest, SendHeartbeatResult>",
      "asyncReturnType" : "SendHeartbeatResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use to get the current status of devices registered on SageMaker Edge Manager.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal failure occurred. Try your request again. If the problem persists, contact AWS customer support.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendHeartbeatRequest",
        "variableName" : "sendHeartbeatRequest",
        "variableType" : "SendHeartbeatRequest",
        "documentation" : "",
        "simpleType" : "SendHeartbeatRequest",
        "variableSetterType" : "SendHeartbeatRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendHeartbeat",
      "operationName" : "SendHeartbeat",
      "returnType" : {
        "returnType" : "SendHeartbeatResult",
        "documentation" : null
      },
      "syncReturnType" : "SendHeartbeatResult"
    }
  },
  "shapes" : {
    "EdgeMetric" : {
      "c2jName" : "EdgeMetric",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information required for edge device metrics.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakeredgemanager.model.EdgeMetric",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Dimension",
        "c2jShape" : "Dimension",
        "deprecated" : false,
        "documentation" : "<p>The dimension of metrics published.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The dimension of metrics published.</p>\n@param dimension The dimension of metrics published.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDimension",
        "getterDocumentation" : "/**<p>The dimension of metrics published.</p>\n@return The dimension of metrics published.*/",
        "getterMethodName" : "getDimension",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Dimension",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Dimension",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Dimension",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The dimension of metrics published.</p>\n@param dimension The dimension of metrics published.*/",
        "setterMethodName" : "setDimension",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dimension",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The dimension of metrics published.</p>\n@param dimension The dimension of metrics published.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dimension",
          "variableType" : "String",
          "documentation" : "<p>The dimension of metrics published.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MetricName",
        "c2jShape" : "Metric",
        "deprecated" : false,
        "documentation" : "<p>Returns the name of the metric.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Returns the name of the metric.</p>\n@param metricName Returns the name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMetricName",
        "getterDocumentation" : "/**<p>Returns the name of the metric.</p>\n@return Returns the name of the metric.*/",
        "getterMethodName" : "getMetricName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MetricName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MetricName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MetricName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Returns the name of the metric.</p>\n@param metricName Returns the name of the metric.*/",
        "setterMethodName" : "setMetricName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "metricName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Returns the name of the metric.</p>\n@param metricName Returns the name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "metricName",
          "variableType" : "String",
          "documentation" : "<p>Returns the name of the metric.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Value",
        "c2jShape" : "Value",
        "deprecated" : false,
        "documentation" : "<p>Returns the value of the metric.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Returns the value of the metric.</p>\n@param value Returns the value of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withValue",
        "getterDocumentation" : "/**<p>Returns the value of the metric.</p>\n@return Returns the value of the metric.*/",
        "getterMethodName" : "getValue",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Value",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Value",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "Value",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Returns the value of the metric.</p>\n@param value Returns the value of the metric.*/",
        "setterMethodName" : "setValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "value",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Returns the value of the metric.</p>\n@param value Returns the value of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "value",
          "variableType" : "Double",
          "documentation" : "<p>Returns the value of the metric.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Timestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>Timestamp of when the metric was requested.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Timestamp of when the metric was requested.</p>\n@param timestamp Timestamp of when the metric was requested.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimestamp",
        "getterDocumentation" : "/**<p>Timestamp of when the metric was requested.</p>\n@return Timestamp of when the metric was requested.*/",
        "getterMethodName" : "getTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Timestamp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Timestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "Timestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Timestamp of when the metric was requested.</p>\n@param timestamp Timestamp of when the metric was requested.*/",
        "setterMethodName" : "setTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Timestamp of when the metric was requested.</p>\n@param timestamp Timestamp of when the metric was requested.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Timestamp of when the metric was requested.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Dimension" : {
          "c2jName" : "Dimension",
          "c2jShape" : "Dimension",
          "deprecated" : false,
          "documentation" : "<p>The dimension of metrics published.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The dimension of metrics published.</p>\n@param dimension The dimension of metrics published.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDimension",
          "getterDocumentation" : "/**<p>The dimension of metrics published.</p>\n@return The dimension of metrics published.*/",
          "getterMethodName" : "getDimension",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Dimension",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Dimension",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Dimension",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The dimension of metrics published.</p>\n@param dimension The dimension of metrics published.*/",
          "setterMethodName" : "setDimension",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "dimension",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The dimension of metrics published.</p>\n@param dimension The dimension of metrics published.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "dimension",
            "variableType" : "String",
            "documentation" : "<p>The dimension of metrics published.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MetricName" : {
          "c2jName" : "MetricName",
          "c2jShape" : "Metric",
          "deprecated" : false,
          "documentation" : "<p>Returns the name of the metric.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Returns the name of the metric.</p>\n@param metricName Returns the name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMetricName",
          "getterDocumentation" : "/**<p>Returns the name of the metric.</p>\n@return Returns the name of the metric.*/",
          "getterMethodName" : "getMetricName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MetricName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MetricName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MetricName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Returns the name of the metric.</p>\n@param metricName Returns the name of the metric.*/",
          "setterMethodName" : "setMetricName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "metricName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Returns the name of the metric.</p>\n@param metricName Returns the name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "metricName",
            "variableType" : "String",
            "documentation" : "<p>Returns the name of the metric.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Timestamp" : {
          "c2jName" : "Timestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>Timestamp of when the metric was requested.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Timestamp of when the metric was requested.</p>\n@param timestamp Timestamp of when the metric was requested.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTimestamp",
          "getterDocumentation" : "/**<p>Timestamp of when the metric was requested.</p>\n@return Timestamp of when the metric was requested.*/",
          "getterMethodName" : "getTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Timestamp",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Timestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "Timestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Timestamp of when the metric was requested.</p>\n@param timestamp Timestamp of when the metric was requested.*/",
          "setterMethodName" : "setTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "timestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Timestamp of when the metric was requested.</p>\n@param timestamp Timestamp of when the metric was requested.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "timestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>Timestamp of when the metric was requested.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Value" : {
          "c2jName" : "Value",
          "c2jShape" : "Value",
          "deprecated" : false,
          "documentation" : "<p>Returns the value of the metric.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Returns the value of the metric.</p>\n@param value Returns the value of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withValue",
          "getterDocumentation" : "/**<p>Returns the value of the metric.</p>\n@return Returns the value of the metric.*/",
          "getterMethodName" : "getValue",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Value",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Value",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "Value",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Returns the value of the metric.</p>\n@param value Returns the value of the metric.*/",
          "setterMethodName" : "setValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "value",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Returns the value of the metric.</p>\n@param value Returns the value of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "value",
            "variableType" : "Double",
            "documentation" : "<p>Returns the value of the metric.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakeredgemanager.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "EdgeMetric",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EdgeMetric",
        "variableName" : "edgeMetric",
        "variableType" : "EdgeMetric",
        "documentation" : null,
        "simpleType" : "EdgeMetric",
        "variableSetterType" : "EdgeMetric"
      },
      "wrapper" : false
    },
    "GetDeviceRegistrationRequest" : {
      "c2jName" : "GetDeviceRegistrationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakeredgemanager.request.GetDeviceRegistrationRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetDeviceRegistration",
        "locationName" : null,
        "requestUri" : "/GetDeviceRegistration",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DeviceName",
        "c2jShape" : "DeviceName",
        "deprecated" : false,
        "documentation" : "<p>The unique name of the device you want to get the registration status from.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique name of the device you want to get the registration status from.</p>\n@param deviceName The unique name of the device you want to get the registration status from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceName",
        "getterDocumentation" : "/**<p>The unique name of the device you want to get the registration status from.</p>\n@return The unique name of the device you want to get the registration status from.*/",
        "getterMethodName" : "getDeviceName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DeviceName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DeviceName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique name of the device you want to get the registration status from.</p>\n@param deviceName The unique name of the device you want to get the registration status from.*/",
        "setterMethodName" : "setDeviceName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique name of the device you want to get the registration status from.</p>\n@param deviceName The unique name of the device you want to get the registration status from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceName",
          "variableType" : "String",
          "documentation" : "<p>The unique name of the device you want to get the registration status from.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DeviceFleetName",
        "c2jShape" : "DeviceFleetName",
        "deprecated" : false,
        "documentation" : "<p>The name of the fleet that the device belongs to.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the fleet that the device belongs to.</p>\n@param deviceFleetName The name of the fleet that the device belongs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceFleetName",
        "getterDocumentation" : "/**<p>The name of the fleet that the device belongs to.</p>\n@return The name of the fleet that the device belongs to.*/",
        "getterMethodName" : "getDeviceFleetName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DeviceFleetName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DeviceFleetName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceFleetName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the fleet that the device belongs to.</p>\n@param deviceFleetName The name of the fleet that the device belongs to.*/",
        "setterMethodName" : "setDeviceFleetName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceFleetName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the fleet that the device belongs to.</p>\n@param deviceFleetName The name of the fleet that the device belongs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceFleetName",
          "variableType" : "String",
          "documentation" : "<p>The name of the fleet that the device belongs to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DeviceFleetName" : {
          "c2jName" : "DeviceFleetName",
          "c2jShape" : "DeviceFleetName",
          "deprecated" : false,
          "documentation" : "<p>The name of the fleet that the device belongs to.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the fleet that the device belongs to.</p>\n@param deviceFleetName The name of the fleet that the device belongs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceFleetName",
          "getterDocumentation" : "/**<p>The name of the fleet that the device belongs to.</p>\n@return The name of the fleet that the device belongs to.*/",
          "getterMethodName" : "getDeviceFleetName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DeviceFleetName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DeviceFleetName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceFleetName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the fleet that the device belongs to.</p>\n@param deviceFleetName The name of the fleet that the device belongs to.*/",
          "setterMethodName" : "setDeviceFleetName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceFleetName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the fleet that the device belongs to.</p>\n@param deviceFleetName The name of the fleet that the device belongs to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceFleetName",
            "variableType" : "String",
            "documentation" : "<p>The name of the fleet that the device belongs to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DeviceName" : {
          "c2jName" : "DeviceName",
          "c2jShape" : "DeviceName",
          "deprecated" : false,
          "documentation" : "<p>The unique name of the device you want to get the registration status from.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique name of the device you want to get the registration status from.</p>\n@param deviceName The unique name of the device you want to get the registration status from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceName",
          "getterDocumentation" : "/**<p>The unique name of the device you want to get the registration status from.</p>\n@return The unique name of the device you want to get the registration status from.*/",
          "getterMethodName" : "getDeviceName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DeviceName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DeviceName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique name of the device you want to get the registration status from.</p>\n@param deviceName The unique name of the device you want to get the registration status from.*/",
          "setterMethodName" : "setDeviceName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique name of the device you want to get the registration status from.</p>\n@param deviceName The unique name of the device you want to get the registration status from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceName",
            "variableType" : "String",
            "documentation" : "<p>The unique name of the device you want to get the registration status from.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakeredgemanager.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "DeviceName", "DeviceFleetName" ],
      "shapeName" : "GetDeviceRegistrationRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceRegistrationRequest",
        "variableName" : "getDeviceRegistrationRequest",
        "variableType" : "GetDeviceRegistrationRequest",
        "documentation" : null,
        "simpleType" : "GetDeviceRegistrationRequest",
        "variableSetterType" : "GetDeviceRegistrationRequest"
      },
      "wrapper" : false
    },
    "GetDeviceRegistrationResult" : {
      "c2jName" : "GetDeviceRegistrationResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakeredgemanager.response.GetDeviceRegistrationResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DeviceRegistration",
        "c2jShape" : "DeviceRegistration",
        "deprecated" : false,
        "documentation" : "<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>\n@param deviceRegistration Describes if the device is currently registered with SageMaker Edge Manager.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceRegistration",
        "getterDocumentation" : "/**<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>\n@return Describes if the device is currently registered with SageMaker Edge Manager.*/",
        "getterMethodName" : "getDeviceRegistration",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DeviceRegistration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DeviceRegistration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceRegistration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>\n@param deviceRegistration Describes if the device is currently registered with SageMaker Edge Manager.*/",
        "setterMethodName" : "setDeviceRegistration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceRegistration",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>\n@param deviceRegistration Describes if the device is currently registered with SageMaker Edge Manager.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceRegistration",
          "variableType" : "String",
          "documentation" : "<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CacheTTL",
        "c2jShape" : "CacheTTLSeconds",
        "deprecated" : false,
        "documentation" : "<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>\n@param cacheTTL The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCacheTTL",
        "getterDocumentation" : "/**<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>\n@return The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.*/",
        "getterMethodName" : "getCacheTTL",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CacheTTL",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CacheTTL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CacheTTL",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>\n@param cacheTTL The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.*/",
        "setterMethodName" : "setCacheTTL",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cacheTTL",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>\n@param cacheTTL The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cacheTTL",
          "variableType" : "String",
          "documentation" : "<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CacheTTL" : {
          "c2jName" : "CacheTTL",
          "c2jShape" : "CacheTTLSeconds",
          "deprecated" : false,
          "documentation" : "<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>\n@param cacheTTL The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCacheTTL",
          "getterDocumentation" : "/**<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>\n@return The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.*/",
          "getterMethodName" : "getCacheTTL",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CacheTTL",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CacheTTL",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CacheTTL",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>\n@param cacheTTL The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.*/",
          "setterMethodName" : "setCacheTTL",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cacheTTL",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>\n@param cacheTTL The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cacheTTL",
            "variableType" : "String",
            "documentation" : "<p>The amount of time, in seconds, that the registration status is stored on the device’s cache before it is refreshed.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DeviceRegistration" : {
          "c2jName" : "DeviceRegistration",
          "c2jShape" : "DeviceRegistration",
          "deprecated" : false,
          "documentation" : "<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>\n@param deviceRegistration Describes if the device is currently registered with SageMaker Edge Manager.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceRegistration",
          "getterDocumentation" : "/**<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>\n@return Describes if the device is currently registered with SageMaker Edge Manager.*/",
          "getterMethodName" : "getDeviceRegistration",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DeviceRegistration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DeviceRegistration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceRegistration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>\n@param deviceRegistration Describes if the device is currently registered with SageMaker Edge Manager.*/",
          "setterMethodName" : "setDeviceRegistration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceRegistration",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>\n@param deviceRegistration Describes if the device is currently registered with SageMaker Edge Manager.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceRegistration",
            "variableType" : "String",
            "documentation" : "<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakeredgemanager.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "GetDeviceRegistrationResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceRegistrationResult",
        "variableName" : "getDeviceRegistrationResult",
        "variableType" : "GetDeviceRegistrationResult",
        "documentation" : null,
        "simpleType" : "GetDeviceRegistrationResult",
        "variableSetterType" : "GetDeviceRegistrationResult"
      },
      "wrapper" : false
    },
    "InternalServiceException" : {
      "c2jName" : "InternalServiceException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An internal failure occurred. Try your request again. If the problem persists, contact AWS customer support.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "InternalServiceException",
      "fullyQualifiedName" : "com.amazonaws.services.sagemakeredgemanager.exception.InternalServiceException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.sagemakeredgemanager.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InternalServiceException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InternalServiceException",
        "variableName" : "internalServiceException",
        "variableType" : "InternalServiceException",
        "documentation" : null,
        "simpleType" : "InternalServiceException",
        "variableSetterType" : "InternalServiceException"
      },
      "wrapper" : false
    },
    "Model" : {
      "c2jName" : "Model",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about a model deployed on an edge device that is registered with SageMaker Edge Manager.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakeredgemanager.model.Model",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ModelName",
        "c2jShape" : "ModelName",
        "deprecated" : false,
        "documentation" : "<p>The name of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the model.</p>\n@param modelName The name of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModelName",
        "getterDocumentation" : "/**<p>The name of the model.</p>\n@return The name of the model.*/",
        "getterMethodName" : "getModelName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ModelName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ModelName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ModelName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the model.</p>\n@param modelName The name of the model.*/",
        "setterMethodName" : "setModelName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the model.</p>\n@param modelName The name of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelName",
          "variableType" : "String",
          "documentation" : "<p>The name of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ModelVersion",
        "c2jShape" : "Version",
        "deprecated" : false,
        "documentation" : "<p>The version of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The version of the model.</p>\n@param modelVersion The version of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModelVersion",
        "getterDocumentation" : "/**<p>The version of the model.</p>\n@return The version of the model.*/",
        "getterMethodName" : "getModelVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ModelVersion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ModelVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ModelVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The version of the model.</p>\n@param modelVersion The version of the model.*/",
        "setterMethodName" : "setModelVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The version of the model.</p>\n@param modelVersion The version of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelVersion",
          "variableType" : "String",
          "documentation" : "<p>The version of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LatestSampleTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The timestamp of the last data sample taken.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The timestamp of the last data sample taken.</p>\n@param latestSampleTime The timestamp of the last data sample taken.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLatestSampleTime",
        "getterDocumentation" : "/**<p>The timestamp of the last data sample taken.</p>\n@return The timestamp of the last data sample taken.*/",
        "getterMethodName" : "getLatestSampleTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LatestSampleTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LatestSampleTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LatestSampleTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The timestamp of the last data sample taken.</p>\n@param latestSampleTime The timestamp of the last data sample taken.*/",
        "setterMethodName" : "setLatestSampleTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "latestSampleTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The timestamp of the last data sample taken.</p>\n@param latestSampleTime The timestamp of the last data sample taken.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "latestSampleTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The timestamp of the last data sample taken.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LatestInference",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The timestamp of the last inference that was made.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The timestamp of the last inference that was made.</p>\n@param latestInference The timestamp of the last inference that was made.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLatestInference",
        "getterDocumentation" : "/**<p>The timestamp of the last inference that was made.</p>\n@return The timestamp of the last inference that was made.*/",
        "getterMethodName" : "getLatestInference",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LatestInference",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LatestInference",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LatestInference",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The timestamp of the last inference that was made.</p>\n@param latestInference The timestamp of the last inference that was made.*/",
        "setterMethodName" : "setLatestInference",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "latestInference",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The timestamp of the last inference that was made.</p>\n@param latestInference The timestamp of the last inference that was made.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "latestInference",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The timestamp of the last inference that was made.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ModelMetrics",
        "c2jShape" : "EdgeMetrics",
        "deprecated" : false,
        "documentation" : "<p>Information required for model metrics.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information required for model metrics.</p>\n@param modelMetrics Information required for model metrics.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModelMetrics",
        "getterDocumentation" : "/**<p>Information required for model metrics.</p>\n@return Information required for model metrics.*/",
        "getterMethodName" : "getModelMetrics",
        "getterModel" : {
          "returnType" : "java.util.List<EdgeMetric>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ModelMetrics",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ModelMetrics",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "EdgeMetric",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "EdgeMetric",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "EdgeMetric",
              "variableName" : "member",
              "variableType" : "EdgeMetric",
              "documentation" : "",
              "simpleType" : "EdgeMetric",
              "variableSetterType" : "EdgeMetric"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "EdgeMetric",
              "variableName" : "member",
              "variableType" : "EdgeMetric",
              "documentation" : "",
              "simpleType" : "EdgeMetric",
              "variableSetterType" : "EdgeMetric"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "EdgeMetric",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "EdgeMetric",
          "templateImplType" : "java.util.ArrayList<EdgeMetric>",
          "templateType" : "java.util.List<EdgeMetric>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ModelMetrics",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information required for model metrics.</p>\n@param modelMetrics Information required for model metrics.*/",
        "setterMethodName" : "setModelMetrics",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<EdgeMetric>",
          "variableName" : "modelMetrics",
          "variableType" : "java.util.List<EdgeMetric>",
          "documentation" : "",
          "simpleType" : "List<EdgeMetric>",
          "variableSetterType" : "java.util.Collection<EdgeMetric>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information required for model metrics.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setModelMetrics(java.util.Collection)} or {@link #withModelMetrics(java.util.Collection)} if you want to override the existing values.</p>\n@param modelMetrics Information required for model metrics.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<EdgeMetric>",
          "variableName" : "modelMetrics",
          "variableType" : "java.util.List<EdgeMetric>",
          "documentation" : "<p>Information required for model metrics.</p>",
          "simpleType" : "List<EdgeMetric>",
          "variableSetterType" : "java.util.Collection<EdgeMetric>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LatestInference" : {
          "c2jName" : "LatestInference",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The timestamp of the last inference that was made.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The timestamp of the last inference that was made.</p>\n@param latestInference The timestamp of the last inference that was made.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLatestInference",
          "getterDocumentation" : "/**<p>The timestamp of the last inference that was made.</p>\n@return The timestamp of the last inference that was made.*/",
          "getterMethodName" : "getLatestInference",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LatestInference",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LatestInference",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LatestInference",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The timestamp of the last inference that was made.</p>\n@param latestInference The timestamp of the last inference that was made.*/",
          "setterMethodName" : "setLatestInference",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "latestInference",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The timestamp of the last inference that was made.</p>\n@param latestInference The timestamp of the last inference that was made.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "latestInference",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The timestamp of the last inference that was made.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "LatestSampleTime" : {
          "c2jName" : "LatestSampleTime",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The timestamp of the last data sample taken.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The timestamp of the last data sample taken.</p>\n@param latestSampleTime The timestamp of the last data sample taken.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLatestSampleTime",
          "getterDocumentation" : "/**<p>The timestamp of the last data sample taken.</p>\n@return The timestamp of the last data sample taken.*/",
          "getterMethodName" : "getLatestSampleTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LatestSampleTime",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LatestSampleTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LatestSampleTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The timestamp of the last data sample taken.</p>\n@param latestSampleTime The timestamp of the last data sample taken.*/",
          "setterMethodName" : "setLatestSampleTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "latestSampleTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The timestamp of the last data sample taken.</p>\n@param latestSampleTime The timestamp of the last data sample taken.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "latestSampleTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The timestamp of the last data sample taken.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "ModelMetrics" : {
          "c2jName" : "ModelMetrics",
          "c2jShape" : "EdgeMetrics",
          "deprecated" : false,
          "documentation" : "<p>Information required for model metrics.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information required for model metrics.</p>\n@param modelMetrics Information required for model metrics.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withModelMetrics",
          "getterDocumentation" : "/**<p>Information required for model metrics.</p>\n@return Information required for model metrics.*/",
          "getterMethodName" : "getModelMetrics",
          "getterModel" : {
            "returnType" : "java.util.List<EdgeMetric>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ModelMetrics",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ModelMetrics",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "EdgeMetric",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "EdgeMetric",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "EdgeMetric",
                "variableName" : "member",
                "variableType" : "EdgeMetric",
                "documentation" : "",
                "simpleType" : "EdgeMetric",
                "variableSetterType" : "EdgeMetric"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "EdgeMetric",
                "variableName" : "member",
                "variableType" : "EdgeMetric",
                "documentation" : "",
                "simpleType" : "EdgeMetric",
                "variableSetterType" : "EdgeMetric"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "EdgeMetric",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "EdgeMetric",
            "templateImplType" : "java.util.ArrayList<EdgeMetric>",
            "templateType" : "java.util.List<EdgeMetric>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ModelMetrics",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information required for model metrics.</p>\n@param modelMetrics Information required for model metrics.*/",
          "setterMethodName" : "setModelMetrics",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<EdgeMetric>",
            "variableName" : "modelMetrics",
            "variableType" : "java.util.List<EdgeMetric>",
            "documentation" : "",
            "simpleType" : "List<EdgeMetric>",
            "variableSetterType" : "java.util.Collection<EdgeMetric>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information required for model metrics.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setModelMetrics(java.util.Collection)} or {@link #withModelMetrics(java.util.Collection)} if you want to override the existing values.</p>\n@param modelMetrics Information required for model metrics.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<EdgeMetric>",
            "variableName" : "modelMetrics",
[...]
