{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-11-07",
    "asyncClient" : "AmazonAugmentedAIRuntimeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonAugmentedAIRuntimeAsyncClientBuilder",
    "asyncInterface" : "AmazonAugmentedAIRuntimeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonAugmentedAIRuntimeModuleInjector",
    "defaultEndpoint" : "a2i-runtime.sagemaker.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "a2i-runtime.sagemaker.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Augmented AI (Augmented AI) (Preview) is a service that adds human judgment to any machine learning application. Human reviewers can take over when an AI application can't evaluate data with a high degree of confidence.</p> <p>From fraudulent bank transaction identification to document processing to image analysis, machine learning models can be trained to make decisions as well as or better than a human. Nevertheless, some decisions require contextual interpretation, such as when you need to decide whether an image is appropriate for a given audience. Content moderation guidelines are nuanced and highly dependent on context, and they vary between countries. When trying to apply AI in these situations, you can be forced to choose between \"ML only\" systems with unacceptably high error rates or \"human only\" systems that are expensive and difficult to scale, and that slow down decision making.</p> <p>This API reference includes information about API actions and data types you can use to interact with Augmented AI programmatically. </p> <p>You can create a flow definition against the Augmented AI API. Provide the Amazon Resource Name (ARN) of a flow definition to integrate AI service APIs, such as <code>Textract.AnalyzeDocument</code> and <code>Rekognition.DetectModerationLabels</code>. These AI services, in turn, invoke the <a>StartHumanLoop</a> API, which evaluates conditions under which humans will be invoked. If humans are required, Augmented AI creates a human loop. Results of human work are available asynchronously in Amazon Simple Storage Service (Amazon S3). You can use Amazon CloudWatch Events to detect human work results.</p> <p>You can find additional Augmented AI API documentation in the following reference guides: <a href=\"https://docs.aws.amazon.com/rekognition/latest/dg/API_Reference.html\">Amazon Rekognition</a>, <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_Reference.html\">Amazon SageMaker</a>, and <a href=\"https://docs.aws.amazon.com/textract/latest/dg/API_Reference.html\">Amazon Textract</a>.</p>",
    "endpointPrefix" : "a2i-runtime.sagemaker",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.augmentedairuntime",
    "packagePath" : "com/amazonaws/services/augmentedairuntime",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Augmented AI Runtime",
    "serviceId" : "SageMaker A2I Runtime",
    "serviceName" : "Amazon Augmented AI Runtime",
    "signingName" : "sagemaker",
    "smokeTestsPackageName" : "com.amazonaws.services.augmentedairuntime.smoketests",
    "syncClient" : "AmazonAugmentedAIRuntimeClient",
    "syncClientBuilderClassName" : "AmazonAugmentedAIRuntimeClientBuilder",
    "syncInterface" : "AmazonAugmentedAIRuntime",
    "uid" : "sagemaker-a2i-runtime-2019-11-07",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteHumanLoop" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteHumanLoopResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteHumanLoopResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteHumanLoopRequest, DeleteHumanLoopResult>",
      "asyncReturnType" : "DeleteHumanLoopResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified human loop for a flow definition.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request was not valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We were unable to find the requested resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request has exceeded the allowed amount of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Your request could not be processed.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteHumanLoopRequest",
        "variableName" : "deleteHumanLoopRequest",
        "variableType" : "DeleteHumanLoopRequest",
        "documentation" : "",
        "simpleType" : "DeleteHumanLoopRequest",
        "variableSetterType" : "DeleteHumanLoopRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteHumanLoop",
      "operationName" : "DeleteHumanLoop",
      "returnType" : {
        "returnType" : "DeleteHumanLoopResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteHumanLoopResult"
    },
    "DescribeHumanLoop" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeHumanLoopResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeHumanLoopResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeHumanLoopRequest, DescribeHumanLoopResult>",
      "asyncReturnType" : "DescribeHumanLoopResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the specified human loop.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request was not valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We were unable to find the requested resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request has exceeded the allowed amount of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Your request could not be processed.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeHumanLoopRequest",
        "variableName" : "describeHumanLoopRequest",
        "variableType" : "DescribeHumanLoopRequest",
        "documentation" : "",
        "simpleType" : "DescribeHumanLoopRequest",
        "variableSetterType" : "DescribeHumanLoopRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeHumanLoop",
      "operationName" : "DescribeHumanLoop",
      "returnType" : {
        "returnType" : "DescribeHumanLoopResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeHumanLoopResult"
    },
    "ListHumanLoops" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHumanLoopsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHumanLoopsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHumanLoopsRequest, ListHumanLoopsResult>",
      "asyncReturnType" : "ListHumanLoopsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about human loops, given the specified parameters. If a human loop was deleted, it will not be included.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request was not valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request has exceeded the allowed amount of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Your request could not be processed.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListHumanLoopsRequest",
        "variableName" : "listHumanLoopsRequest",
        "variableType" : "ListHumanLoopsRequest",
        "documentation" : "",
        "simpleType" : "ListHumanLoopsRequest",
        "variableSetterType" : "ListHumanLoopsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHumanLoops",
      "operationName" : "ListHumanLoops",
      "returnType" : {
        "returnType" : "ListHumanLoopsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHumanLoopsResult"
    },
    "StartHumanLoop" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartHumanLoopResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartHumanLoopResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartHumanLoopRequest, StartHumanLoopResult>",
      "asyncReturnType" : "StartHumanLoopResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a human loop, provided that at least one activation condition is met.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request was not valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request has exceeded the allowed amount of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or request a service quota increase.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Your request could not be processed.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has the same name as another active human loop but has different input data. You cannot start two human loops with the same name and different input data.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartHumanLoopRequest",
        "variableName" : "startHumanLoopRequest",
        "variableType" : "StartHumanLoopRequest",
        "documentation" : "",
        "simpleType" : "StartHumanLoopRequest",
        "variableSetterType" : "StartHumanLoopRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startHumanLoop",
      "operationName" : "StartHumanLoop",
      "returnType" : {
        "returnType" : "StartHumanLoopResult",
        "documentation" : null
      },
      "syncReturnType" : "StartHumanLoopResult"
    },
    "StopHumanLoop" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopHumanLoopResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopHumanLoopResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopHumanLoopRequest, StopHumanLoopResult>",
      "asyncReturnType" : "StopHumanLoopResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the specified human loop.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request was not valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We were unable to find the requested resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request has exceeded the allowed amount of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Your request could not be processed.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopHumanLoopRequest",
        "variableName" : "stopHumanLoopRequest",
        "variableType" : "StopHumanLoopRequest",
        "documentation" : "",
        "simpleType" : "StopHumanLoopRequest",
        "variableSetterType" : "StopHumanLoopRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopHumanLoop",
      "operationName" : "StopHumanLoop",
      "returnType" : {
        "returnType" : "StopHumanLoopResult",
        "documentation" : null
      },
      "syncReturnType" : "StopHumanLoopResult"
    }
  },
  "shapes" : {
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Your request has the same name as another active human loop but has different input data. You cannot start two human loops with the same name and different input data.</p>",
      "enums" : null,
      "errorCode" : "ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "ContentClassifier" : {
      "c2jName" : "ContentClassifier",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "FreeOfPersonallyIdentifiableInformation",
        "value" : "FreeOfPersonallyIdentifiableInformation"
      }, {
        "name" : "FreeOfAdultContent",
        "value" : "FreeOfAdultContent"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ContentClassifier",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ContentClassifier",
        "variableName" : "contentClassifier",
        "variableType" : "ContentClassifier",
        "documentation" : null,
        "simpleType" : "ContentClassifier",
        "variableSetterType" : "ContentClassifier"
      },
      "wrapper" : false
    },
    "DeleteHumanLoopRequest" : {
      "c2jName" : "DeleteHumanLoopRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteHumanLoop",
        "locationName" : null,
        "requestUri" : "/human-loops/{HumanLoopName}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "HumanLoopName",
        "c2jShape" : "HumanLoopName",
        "deprecated" : false,
        "documentation" : "<p>The name of the human loop you want to delete.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the human loop you want to delete.</p>\n@param humanLoopName The name of the human loop you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHumanLoopName",
        "getterDocumentation" : "/**<p>The name of the human loop you want to delete.</p>\n@return The name of the human loop you want to delete.*/",
        "getterMethodName" : "getHumanLoopName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "HumanLoopName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HumanLoopName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HumanLoopName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the human loop you want to delete.</p>\n@param humanLoopName The name of the human loop you want to delete.*/",
        "setterMethodName" : "setHumanLoopName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "humanLoopName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the human loop you want to delete.</p>\n@param humanLoopName The name of the human loop you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "humanLoopName",
          "variableType" : "String",
          "documentation" : "<p>The name of the human loop you want to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "HumanLoopName" : {
          "c2jName" : "HumanLoopName",
          "c2jShape" : "HumanLoopName",
          "deprecated" : false,
          "documentation" : "<p>The name of the human loop you want to delete.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the human loop you want to delete.</p>\n@param humanLoopName The name of the human loop you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHumanLoopName",
          "getterDocumentation" : "/**<p>The name of the human loop you want to delete.</p>\n@return The name of the human loop you want to delete.*/",
          "getterMethodName" : "getHumanLoopName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "HumanLoopName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HumanLoopName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HumanLoopName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the human loop you want to delete.</p>\n@param humanLoopName The name of the human loop you want to delete.*/",
          "setterMethodName" : "setHumanLoopName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "humanLoopName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the human loop you want to delete.</p>\n@param humanLoopName The name of the human loop you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "humanLoopName",
            "variableType" : "String",
            "documentation" : "<p>The name of the human loop you want to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "HumanLoopName" ],
      "shapeName" : "DeleteHumanLoopRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteHumanLoopRequest",
        "variableName" : "deleteHumanLoopRequest",
        "variableType" : "DeleteHumanLoopRequest",
        "documentation" : null,
        "simpleType" : "DeleteHumanLoopRequest",
        "variableSetterType" : "DeleteHumanLoopRequest"
      },
      "wrapper" : false
    },
    "DeleteHumanLoopResult" : {
      "c2jName" : "DeleteHumanLoopResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteHumanLoopResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteHumanLoopResult",
        "variableName" : "deleteHumanLoopResult",
        "variableType" : "DeleteHumanLoopResult",
        "documentation" : null,
        "simpleType" : "DeleteHumanLoopResult",
        "variableSetterType" : "DeleteHumanLoopResult"
      },
      "wrapper" : false
    },
    "DescribeHumanLoopRequest" : {
      "c2jName" : "DescribeHumanLoopRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeHumanLoop",
        "locationName" : null,
        "requestUri" : "/human-loops/{HumanLoopName}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "HumanLoopName",
        "c2jShape" : "HumanLoopName",
        "deprecated" : false,
        "documentation" : "<p>The unique name of the human loop.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique name of the human loop.</p>\n@param humanLoopName The unique name of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHumanLoopName",
        "getterDocumentation" : "/**<p>The unique name of the human loop.</p>\n@return The unique name of the human loop.*/",
        "getterMethodName" : "getHumanLoopName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "HumanLoopName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HumanLoopName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HumanLoopName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique name of the human loop.</p>\n@param humanLoopName The unique name of the human loop.*/",
        "setterMethodName" : "setHumanLoopName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "humanLoopName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique name of the human loop.</p>\n@param humanLoopName The unique name of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "humanLoopName",
          "variableType" : "String",
          "documentation" : "<p>The unique name of the human loop.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "HumanLoopName" : {
          "c2jName" : "HumanLoopName",
          "c2jShape" : "HumanLoopName",
          "deprecated" : false,
          "documentation" : "<p>The unique name of the human loop.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique name of the human loop.</p>\n@param humanLoopName The unique name of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHumanLoopName",
          "getterDocumentation" : "/**<p>The unique name of the human loop.</p>\n@return The unique name of the human loop.*/",
          "getterMethodName" : "getHumanLoopName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "HumanLoopName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HumanLoopName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HumanLoopName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique name of the human loop.</p>\n@param humanLoopName The unique name of the human loop.*/",
          "setterMethodName" : "setHumanLoopName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "humanLoopName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique name of the human loop.</p>\n@param humanLoopName The unique name of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "humanLoopName",
            "variableType" : "String",
            "documentation" : "<p>The unique name of the human loop.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "HumanLoopName" ],
      "shapeName" : "DescribeHumanLoopRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeHumanLoopRequest",
        "variableName" : "describeHumanLoopRequest",
        "variableType" : "DescribeHumanLoopRequest",
        "documentation" : null,
        "simpleType" : "DescribeHumanLoopRequest",
        "variableSetterType" : "DescribeHumanLoopRequest"
      },
      "wrapper" : false
    },
    "DescribeHumanLoopResult" : {
      "c2jName" : "DescribeHumanLoopResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CreationTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The creation time when Amazon Augmented AI created the human loop.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The creation time when Amazon Augmented AI created the human loop.</p>\n@param creationTime The creation time when Amazon Augmented AI created the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreationTime",
        "getterDocumentation" : "/**<p>The creation time when Amazon Augmented AI created the human loop.</p>\n@return The creation time when Amazon Augmented AI created the human loop.*/",
        "getterMethodName" : "getCreationTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreationTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreationTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreationTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The creation time when Amazon Augmented AI created the human loop.</p>\n@param creationTime The creation time when Amazon Augmented AI created the human loop.*/",
        "setterMethodName" : "setCreationTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The creation time when Amazon Augmented AI created the human loop.</p>\n@param creationTime The creation time when Amazon Augmented AI created the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The creation time when Amazon Augmented AI created the human loop.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FailureReason",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>\n@param failureReason The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFailureReason",
        "getterDocumentation" : "/**<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>\n@return The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.*/",
        "getterMethodName" : "getFailureReason",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FailureReason",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FailureReason",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FailureReason",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>\n@param failureReason The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.*/",
        "setterMethodName" : "setFailureReason",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "failureReason",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>\n@param failureReason The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "failureReason",
          "variableType" : "String",
          "documentation" : "<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FailureCode",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A failure code denoting a specific type of failure.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A failure code denoting a specific type of failure.</p>\n@param failureCode A failure code denoting a specific type of failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFailureCode",
        "getterDocumentation" : "/**<p>A failure code denoting a specific type of failure.</p>\n@return A failure code denoting a specific type of failure.*/",
        "getterMethodName" : "getFailureCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FailureCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FailureCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FailureCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A failure code denoting a specific type of failure.</p>\n@param failureCode A failure code denoting a specific type of failure.*/",
        "setterMethodName" : "setFailureCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "failureCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A failure code denoting a specific type of failure.</p>\n@param failureCode A failure code denoting a specific type of failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "failureCode",
          "variableType" : "String",
          "documentation" : "<p>A failure code denoting a specific type of failure.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HumanLoopStatus",
        "c2jShape" : "HumanLoopStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the human loop. Valid values:</p>",
        "enumType" : "HumanLoopStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the human loop. Valid values:</p>\n@param humanLoopStatus The status of the human loop. Valid values:\n@return Returns a reference to this object so that method calls can be chained together.\n@see HumanLoopStatus*/",
        "fluentSetterMethodName" : "withHumanLoopStatus",
        "getterDocumentation" : "/**<p>The status of the human loop. Valid values:</p>\n@return The status of the human loop. Valid values:\n@see HumanLoopStatus*/",
        "getterMethodName" : "getHumanLoopStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HumanLoopStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HumanLoopStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HumanLoopStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the human loop. Valid values:</p>\n@param humanLoopStatus The status of the human loop. Valid values:\n@see HumanLoopStatus*/",
        "setterMethodName" : "setHumanLoopStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "humanLoopStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the human loop. Valid values:</p>\n@param humanLoopStatus The status of the human loop. Valid values:\n@return Returns a reference to this object so that method calls can be chained together.\n@see HumanLoopStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "humanLoopStatus",
          "variableType" : "String",
          "documentation" : "<p>The status of the human loop. Valid values:</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HumanLoopName",
        "c2jShape" : "HumanLoopName",
        "deprecated" : false,
        "documentation" : "<p>The name of the human loop.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the human loop.</p>\n@param humanLoopName The name of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHumanLoopName",
        "getterDocumentation" : "/**<p>The name of the human loop.</p>\n@return The name of the human loop.*/",
        "getterMethodName" : "getHumanLoopName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HumanLoopName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HumanLoopName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HumanLoopName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the human loop.</p>\n@param humanLoopName The name of the human loop.*/",
        "setterMethodName" : "setHumanLoopName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "humanLoopName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the human loop.</p>\n@param humanLoopName The name of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "humanLoopName",
          "variableType" : "String",
          "documentation" : "<p>The name of the human loop.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HumanLoopArn",
        "c2jShape" : "HumanLoopArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the human loop.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the human loop.</p>\n@param humanLoopArn The Amazon Resource Name (ARN) of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHumanLoopArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the human loop.</p>\n@return The Amazon Resource Name (ARN) of the human loop.*/",
        "getterMethodName" : "getHumanLoopArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HumanLoopArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HumanLoopArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HumanLoopArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the human loop.</p>\n@param humanLoopArn The Amazon Resource Name (ARN) of the human loop.*/",
        "setterMethodName" : "setHumanLoopArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "humanLoopArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the human loop.</p>\n@param humanLoopArn The Amazon Resource Name (ARN) of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "humanLoopArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the human loop.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FlowDefinitionArn",
        "c2jShape" : "FlowDefinitionArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the flow definition.</p>\n@param flowDefinitionArn The Amazon Resource Name (ARN) of the flow definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFlowDefinitionArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the flow definition.</p>\n@return The Amazon Resource Name (ARN) of the flow definition.*/",
        "getterMethodName" : "getFlowDefinitionArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FlowDefinitionArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FlowDefinitionArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FlowDefinitionArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the flow definition.</p>\n@param flowDefinitionArn The Amazon Resource Name (ARN) of the flow definition.*/",
        "setterMethodName" : "setFlowDefinitionArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "flowDefinitionArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the flow definition.</p>\n@param flowDefinitionArn The Amazon Resource Name (ARN) of the flow definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "flowDefinitionArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HumanLoopOutput",
        "c2jShape" : "HumanLoopOutput",
        "deprecated" : false,
        "documentation" : "<p>An object containing information about the output of the human loop.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An object containing information about the output of the human loop.</p>\n@param humanLoopOutput An object containing information about the output of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHumanLoopOutput",
        "getterDocumentation" : "/**<p>An object containing information about the output of the human loop.</p>\n@return An object containing information about the output of the human loop.*/",
        "getterMethodName" : "getHumanLoopOutput",
        "getterModel" : {
          "returnType" : "HumanLoopOutput",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HumanLoopOutput",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HumanLoopOutput",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "HumanLoopOutput",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An object containing information about the output of the human loop.</p>\n@param humanLoopOutput An object containing information about the output of the human loop.*/",
        "setterMethodName" : "setHumanLoopOutput",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "HumanLoopOutput",
          "variableName" : "humanLoopOutput",
          "variableType" : "HumanLoopOutput",
          "documentation" : "",
          "simpleType" : "HumanLoopOutput",
          "variableSetterType" : "HumanLoopOutput"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An object containing information about the output of the human loop.</p>\n@param humanLoopOutput An object containing information about the output of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "HumanLoopOutput",
          "variableName" : "humanLoopOutput",
          "variableType" : "HumanLoopOutput",
          "documentation" : "<p>An object containing information about the output of the human loop.</p>",
          "simpleType" : "HumanLoopOutput",
          "variableSetterType" : "HumanLoopOutput"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CreationTime" : {
          "c2jName" : "CreationTime",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The creation time when Amazon Augmented AI created the human loop.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The creation time when Amazon Augmented AI created the human loop.</p>\n@param creationTime The creation time when Amazon Augmented AI created the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreationTime",
          "getterDocumentation" : "/**<p>The creation time when Amazon Augmented AI created the human loop.</p>\n@return The creation time when Amazon Augmented AI created the human loop.*/",
          "getterMethodName" : "getCreationTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CreationTime",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CreationTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreationTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The creation time when Amazon Augmented AI created the human loop.</p>\n@param creationTime The creation time when Amazon Augmented AI created the human loop.*/",
          "setterMethodName" : "setCreationTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "creationTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The creation time when Amazon Augmented AI created the human loop.</p>\n@param creationTime The creation time when Amazon Augmented AI created the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "creationTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The creation time when Amazon Augmented AI created the human loop.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "FailureCode" : {
          "c2jName" : "FailureCode",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A failure code denoting a specific type of failure.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A failure code denoting a specific type of failure.</p>\n@param failureCode A failure code denoting a specific type of failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFailureCode",
          "getterDocumentation" : "/**<p>A failure code denoting a specific type of failure.</p>\n@return A failure code denoting a specific type of failure.*/",
          "getterMethodName" : "getFailureCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FailureCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FailureCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FailureCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A failure code denoting a specific type of failure.</p>\n@param failureCode A failure code denoting a specific type of failure.*/",
          "setterMethodName" : "setFailureCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "failureCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A failure code denoting a specific type of failure.</p>\n@param failureCode A failure code denoting a specific type of failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "failureCode",
            "variableType" : "String",
            "documentation" : "<p>A failure code denoting a specific type of failure.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "FailureReason" : {
          "c2jName" : "FailureReason",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>\n@param failureReason The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFailureReason",
          "getterDocumentation" : "/**<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>\n@return The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.*/",
          "getterMethodName" : "getFailureReason",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FailureReason",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FailureReason",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FailureReason",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>\n@param failureReason The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.*/",
          "setterMethodName" : "setFailureReason",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "failureReason",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>\n@param failureReason The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "failureReason",
            "variableType" : "String",
            "documentation" : "<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "FlowDefinitionArn" : {
          "c2jName" : "FlowDefinitionArn",
          "c2jShape" : "FlowDefinitionArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the flow definition.</p>\n@param flowDefinitionArn The Amazon Resource Name (ARN) of the flow definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFlowDefinitionArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the flow definition.</p>\n@return The Amazon Resource Name (ARN) of the flow definition.*/",
          "getterMethodName" : "getFlowDefinitionArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FlowDefinitionArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FlowDefinitionArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FlowDefinitionArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the flow definition.</p>\n@param flowDefinitionArn The Amazon Resource Name (ARN) of the flow definition.*/",
          "setterMethodName" : "setFlowDefinitionArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "flowDefinitionArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the flow definition.</p>\n@param flowDefinitionArn The Amazon Resource Name (ARN) of the flow definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "flowDefinitionArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HumanLoopArn" : {
          "c2jName" : "HumanLoopArn",
          "c2jShape" : "HumanLoopArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the human loop.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the human loop.</p>\n@param humanLoopArn The Amazon Resource Name (ARN) of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHumanLoopArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the human loop.</p>\n@return The Amazon Resource Name (ARN) of the human loop.*/",
          "getterMethodName" : "getHumanLoopArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HumanLoopArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HumanLoopArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HumanLoopArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the human loop.</p>\n@param humanLoopArn The Amazon Resource Name (ARN) of the human loop.*/",
          "setterMethodName" : "setHumanLoopArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "humanLoopArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the human loop.</p>\n@param humanLoopArn The Amazon Resource Name (ARN) of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "humanLoopArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the human loop.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HumanLoopName" : {
          "c2jName" : "HumanLoopName",
          "c2jShape" : "HumanLoopName",
          "deprecated" : false,
          "documentation" : "<p>The name of the human loop.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the human loop.</p>\n@param humanLoopName The name of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHumanLoopName",
          "getterDocumentation" : "/**<p>The name of the human loop.</p>\n@return The name of the human loop.*/",
          "getterMethodName" : "getHumanLoopName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HumanLoopName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HumanLoopName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HumanLoopName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the human loop.</p>\n@param humanLoopName The name of the human loop.*/",
          "setterMethodName" : "setHumanLoopName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "humanLoopName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the human loop.</p>\n@param humanLoopName The name of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "humanLoopName",
            "variableType" : "String",
            "documentation" : "<p>The name of the human loop.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "HumanLoopOutput" : {
          "c2jName" : "HumanLoopOutput",
          "c2jShape" : "HumanLoopOutput",
          "deprecated" : false,
          "documentation" : "<p>An object containing information about the output of the human loop.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An object containing information about the output of the human loop.</p>\n@param humanLoopOutput An object containing information about the output of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withHumanLoopOutput",
          "getterDocumentation" : "/**<p>An object containing information about the output of the human loop.</p>\n@return An object containing information about the output of the human loop.*/",
          "getterMethodName" : "getHumanLoopOutput",
          "getterModel" : {
            "returnType" : "HumanLoopOutput",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HumanLoopOutput",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HumanLoopOutput",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "HumanLoopOutput",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An object containing information about the output of the human loop.</p>\n@param humanLoopOutput An object containing information about the output of the human loop.*/",
          "setterMethodName" : "setHumanLoopOutput",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "HumanLoopOutput",
            "variableName" : "humanLoopOutput",
            "variableType" : "HumanLoopOutput",
            "documentation" : "",
            "simpleType" : "HumanLoopOutput",
            "variableSetterType" : "HumanLoopOutput"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An object containing information about the output of the human loop.</p>\n@param humanLoopOutput An object containing information about the output of the human loop.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "HumanLoopOutput",
            "variableName" : "humanLoopOutput",
            "variableType" : "HumanLoopOutput",
            "documentation" : "<p>An object containing information about the output of the human loop.</p>",
            "simpleType" : "HumanLoopOutput",
            "variableSetterType" : "HumanLoopOutput"
          },
          "xmlNameSpaceUri" : null
        },
        "HumanLoopStatus" : {
          "c2jName" : "HumanLoopStatus",
          "c2jShape" : "HumanLoopStatus",
          "deprecated" : false,
          "documentation" : "<p>The status of the human loop. Valid values:</p>",
          "enumType" : "HumanLoopStatus",
          "fluentSetterDocumentation" : "/**<p>The status of the human loop. Valid values:</p>\n@param humanLoopStatus The status of the human loop. Valid values:\n@return Returns a reference to this object so that method calls can be chained together.\n@see HumanLoopStatus*/",
          "fluentSetterMethodName" : "withHumanLoopStatus",
          "getterDocumentation" : "/**<p>The status of the human loop. Valid values:</p>\n@return The status of the human loop. Valid values:\n@see HumanLoopStatus*/",
          "getterMethodName" : "getHumanLoopStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "HumanLoopStatus",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "HumanLoopStatus",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "HumanLoopStatus",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The status of the human loop. Valid values:</p>\n@param humanLoopStatus The status of the human loop. Valid values:\n@see HumanLoopStatus*/",
          "setterMethodName" : "setHumanLoopStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "humanLoopStatus",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The status of the human loop. Valid values:</p>\n@param humanLoopStatus The status of the human loop. Valid values:\n@return Returns a reference to this object so that method calls can be chained together.\n@see HumanLoopStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "humanLoopStatus",
            "variableType" : "String",
            "documentation" : "<p>The status of the human loop. Valid values:</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "CreationTime", "HumanLoopStatus", "HumanLoopName", "HumanLoopArn", "FlowDefinitionArn" ],
      "shapeName" : "DescribeHumanLoopResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeHumanLoopResult",
        "variableName" : "describeHumanLoopResult",
        "variableType" : "DescribeHumanLoopResult",
        "documentation" : null,
        "simpleType" : "DescribeHumanLoopResult",
        "variableSetterType" : "DescribeHumanLoopResult"
      },
      "wrapper" : false
    },
    "HumanLoopDataAttributes" : {
      "c2jName" : "HumanLoopDataAttributes",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Attributes of the data specified by the customer. Use these to describe the data to be labeled.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ContentClassifiers",
        "c2jShape" : "ContentClassifiers",
        "deprecated" : false,
        "documentation" : "<p>Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.</p>",
        "enumType" : "ContentClassifier",
        "fluentSetterDocumentation" : "/**<p>Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.</p>\n@param contentClassifiers Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContentClassifier*/",
        "fluentSetterMethodName" : "withContentClassifiers",
        "getterDocumentation" : "/**<p>Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.</p>\n@return Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.\n@see ContentClassifier*/",
        "getterMethodName" : "getContentClassifiers",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ContentClassifiers",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ContentClassifiers",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ContentClassifier",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : "ContentClassifier",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see ContentClassifier*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return \n@see ContentClassifier*/",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member \n@see ContentClassifier*/",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see ContentClassifier*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ContentClassifiers",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.</p>\n@param contentClassifiers Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.\n@see ContentClassifier*/",
        "setterMethodName" : "setContentClassifiers",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "contentClassifiers",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setContentClassifiers(java.util.Collection)} or {@link #withContentClassifiers(java.util.Collection)} if you want to override the existing values.</p>\n@param contentClassifiers Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContentClassifier*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "contentClassifiers",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ContentClassifiers" : {
          "c2jName" : "ContentClassifiers",
          "c2jShape" : "ContentClassifiers",
          "deprecated" : false,
          "documentation" : "<p>Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.</p>",
[...]
