{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-07-24",
    "asyncClient" : "AmazonSageMakerAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSageMakerAsyncClientBuilder",
    "asyncInterface" : "AmazonSageMakerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonSageMakerModuleInjector",
    "defaultEndpoint" : "sagemaker.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sagemaker.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "Definition of the public APIs exposed by SageMaker",
    "endpointPrefix" : "sagemaker",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.sagemaker",
    "packagePath" : "com/amazonaws/services/sagemaker",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "SageMaker",
    "serviceFullName" : "Amazon SageMaker Service",
    "serviceName" : "SageMaker",
    "signingName" : "sagemaker",
    "smokeTestsPackageName" : "com.amazonaws.services.sagemaker.smoketests",
    "syncClient" : "AmazonSageMakerClient",
    "syncClientBuilderClassName" : "AmazonSageMakerClientBuilder",
    "syncInterface" : "AmazonSageMaker",
    "uid" : "sagemaker-2017-07-24",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or overwrites one or more tags for the specified Amazon SageMaker resource. You can add tags to notebook instances, training jobs, models, endpoint configurations, and endpoints. </p> <p>Each tag consists of a key and an optional value. Tag keys must be unique per resource. For more information about tags, see <a href=\"http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "AddTagsResult"
    },
    "CreateEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEndpointRequest, CreateEndpointResult>",
      "asyncReturnType" : "CreateEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an endpoint using the endpoint configuration specified in the request. Amazon SageMaker uses the endpoint to provision resources and deploy models. You create the endpoint configuration with the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpointConfig.html\">CreateEndpointConfig</a> API. </p> <note> <p> Use this API only for hosting models using Amazon SageMaker hosting services. </p> </note> <p>The endpoint name must be unique within an AWS Region in your AWS account. </p> <p>When it receives the request, Amazon SageMaker creates the endpoint, launches the resources (ML compute instances), and deploys the model(s) on them. </p> <p>When Amazon SageMaker receives the request, it sets the endpoint status to <code>Creating</code>. After it creates the endpoint, it sets the status to <code>InService</code>. Amazon SageMaker can then process incoming requests for inferences. To check the status of an endpoint, use the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API.</p> <p>For an example, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/ex1.html\">Exercise 1: Using the K-Means Algorithm Provided by Amazon SageMaker</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p> You have exceeded an Amazon SageMaker resource limit. For example, you might have too many training jobs created. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateEndpointRequest",
        "variableName" : "createEndpointRequest",
        "variableType" : "CreateEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateEndpointRequest",
        "variableSetterType" : "CreateEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEndpoint",
      "operationName" : "CreateEndpoint",
      "returnType" : {
        "returnType" : "CreateEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEndpointResult"
    },
    "CreateEndpointConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEndpointConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEndpointConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEndpointConfigRequest, CreateEndpointConfigResult>",
      "asyncReturnType" : "CreateEndpointConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an endpoint configuration that Amazon SageMaker hosting services uses to deploy models. In the configuration, you identify one or more models, created using the <code>CreateModel</code> API, to deploy and the resources that you want Amazon SageMaker to provision. Then you call the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html\">CreateEndpoint</a> API. </p> <note> <p> Use this API only if you want to use Amazon SageMaker hosting services to deploy models into production. </p> </note> <p>In the request, you define one or more <code>ProductionVariant</code>s, each of which identifies a model. Each <code>ProductionVariant</code> parameter also describes the resources that you want Amazon SageMaker to provision. This includes the number and type of ML compute instances to deploy. </p> <p>If you are hosting multiple models, you also assign a <code>VariantWeight</code> to specify how much traffic you want to allocate to each model. For example, suppose that you want to host two models, A and B, and you assign traffic weight 2 for model A and 1 for model B. Amazon SageMaker distributes two-thirds of the traffic to Model A, and one-third to model B. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p> You have exceeded an Amazon SageMaker resource limit. For example, you might have too many training jobs created. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateEndpointConfigRequest",
        "variableName" : "createEndpointConfigRequest",
        "variableType" : "CreateEndpointConfigRequest",
        "documentation" : "",
        "simpleType" : "CreateEndpointConfigRequest",
        "variableSetterType" : "CreateEndpointConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEndpointConfig",
      "operationName" : "CreateEndpointConfig",
      "returnType" : {
        "returnType" : "CreateEndpointConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEndpointConfigResult"
    },
    "CreateModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateModelRequest, CreateModelResult>",
      "asyncReturnType" : "CreateModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a model in Amazon SageMaker. In the request, you name the model and describe one or more containers. For each container, you specify the docker image containing inference code, artifacts (from prior training), and custom environment map that the inference code uses when you deploy the model into production. </p> <p>Use this API to create a model only if you want to use Amazon SageMaker hosting services. To host your model, you create an endpoint configuration with the <code>CreateEndpointConfig</code> API, and then create an endpoint with the <code>CreateEndpoint</code> API. </p> <p>Amazon SageMaker then deploys all of the containers that you defined for the model in the hosting environment. </p> <p>In the <code>CreateModel</code> request, you must define a container with the <code>PrimaryContainer</code> parameter. </p> <p>In the request, you also provide an IAM role that Amazon SageMaker can assume to access model artifacts and docker image for deployment on ML compute hosting instances. In addition, you also use the IAM role to manage permissions the inference code needs. For example, if the inference code access any other AWS resources, you grant necessary permissions via this role.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p> You have exceeded an Amazon SageMaker resource limit. For example, you might have too many training jobs created. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateModelRequest",
        "variableName" : "createModelRequest",
        "variableType" : "CreateModelRequest",
        "documentation" : "",
        "simpleType" : "CreateModelRequest",
        "variableSetterType" : "CreateModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createModel",
      "operationName" : "CreateModel",
      "returnType" : {
        "returnType" : "CreateModelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateModelResult"
    },
    "CreateNotebookInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNotebookInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNotebookInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNotebookInstanceRequest, CreateNotebookInstanceResult>",
      "asyncReturnType" : "CreateNotebookInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon SageMaker notebook instance. A notebook instance is an ML compute instance running on a Jupyter notebook. </p> <p>In a <code>CreateNotebookInstance</code> request, you specify the type of ML compute instance that you want to run. Amazon SageMaker launches the instance, installs common libraries that you can use to explore datasets for model training, and attaches an ML storage volume to the notebook instance. </p> <p>Amazon SageMaker also provides a set of example notebooks. Each notebook demonstrates how to use Amazon SageMaker with a specific an algorithm or with a machine learning framework. </p> <p>After receiving the request, Amazon SageMaker does the following:</p> <ol> <li> <p>Creates a network interface in the Amazon SageMaker VPC.</p> </li> <li> <p>(Option) If you specified <code>SubnetId</code>, creates a network interface in your own VPC, which is inferred from the subnet ID that you provide in the input. When creating this network interface, Amazon SageMaker attaches the security group that you specified in the request to the network interface that it creates in your VPC.</p> </li> <li> <p>Launches an EC2 instance of the type specified in the request in the Amazon SageMaker VPC. If you specified <code>SubnetId</code> of your VPC, Amazon SageMaker specifies both network interfaces when launching this instance. This enables inbound traffic from your own VPC to the notebook instance, assuming that the security groups allow it.</p> </li> </ol> <p>After creating the notebook instance, Amazon SageMaker returns its Amazon Resource Name (ARN).</p> <p>After Amazon SageMaker creates the notebook instance, you can connect to the Jupyter server and work in Jupyter notebooks. For example, you can write code to explore a dataset that you can use for model training, train a model, host models by creating Amazon SageMaker endpoints, and validate hosted models. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p> You have exceeded an Amazon SageMaker resource limit. For example, you might have too many training jobs created. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateNotebookInstanceRequest",
        "variableName" : "createNotebookInstanceRequest",
        "variableType" : "CreateNotebookInstanceRequest",
        "documentation" : "",
        "simpleType" : "CreateNotebookInstanceRequest",
        "variableSetterType" : "CreateNotebookInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNotebookInstance",
      "operationName" : "CreateNotebookInstance",
      "returnType" : {
        "returnType" : "CreateNotebookInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNotebookInstanceResult"
    },
    "CreatePresignedNotebookInstanceUrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePresignedNotebookInstanceUrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePresignedNotebookInstanceUrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePresignedNotebookInstanceUrlRequest, CreatePresignedNotebookInstanceUrlResult>",
      "asyncReturnType" : "CreatePresignedNotebookInstanceUrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a URL that you can use to connect to the Juypter server from a notebook instance. In the Amazon SageMaker console, when you choose <code>Open</code> next to a notebook instance, Amazon SageMaker opens a new tab showing the Jupyter server home page from the notebook instance. The console uses this API to get the URL and show the page. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePresignedNotebookInstanceUrlRequest",
        "variableName" : "createPresignedNotebookInstanceUrlRequest",
        "variableType" : "CreatePresignedNotebookInstanceUrlRequest",
        "documentation" : "",
        "simpleType" : "CreatePresignedNotebookInstanceUrlRequest",
        "variableSetterType" : "CreatePresignedNotebookInstanceUrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPresignedNotebookInstanceUrl",
      "operationName" : "CreatePresignedNotebookInstanceUrl",
      "returnType" : {
        "returnType" : "CreatePresignedNotebookInstanceUrlResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePresignedNotebookInstanceUrlResult"
    },
    "CreateTrainingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrainingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrainingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrainingJobRequest, CreateTrainingJobResult>",
      "asyncReturnType" : "CreateTrainingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Starts a model training job. After training completes, Amazon SageMaker saves the resulting model artifacts to an Amazon S3 location that you specify. </p> <p>If you choose to host your model using Amazon SageMaker hosting services, you can use the resulting model artifacts as part of the model. You can also use the artifacts in a deep learning service other than Amazon SageMaker, provided that you know how to use them for inferences. </p> <p>In the request body, you provide the following: </p> <ul> <li> <p> <code>AlgorithmSpecification</code> - Identifies the training algorithm to use. </p> </li> <li> <p> <code>HyperParameters</code> - Specify these algorithm-specific parameters to influence the quality of the final model. For a list of hyperparameters for each training algorithm provided by Amazon SageMaker, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. </p> </li> <li> <p> <code>InputDataConfig</code> - Describes the training dataset and the Amazon S3 location where it is stored.</p> </li> <li> <p> <code>OutputDataConfig</code> - Identifies the Amazon S3 location where you want Amazon SageMaker to save the results of model training. </p> <p/> </li> <li> <p> <code>ResourceConfig</code> - Identifies the resources, ML compute instances, and ML storage volumes to deploy for model training. In distributed training, you specify more than one instance. </p> </li> <li> <p> <code>RoleARN</code> - The Amazon Resource Number (ARN) that Amazon SageMaker assumes to perform tasks on your behalf during model training. You must grant this role the necessary permissions so that Amazon SageMaker can successfully complete model training. </p> </li> <li> <p> <code>StoppingCondition</code> - Sets a duration for training. Use this parameter to cap model training costs. </p> </li> </ul> <p> For more information about Amazon SageMaker, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>Resource being accessed is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p> You have exceeded an Amazon SageMaker resource limit. For example, you might have too many training jobs created. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTrainingJobRequest",
        "variableName" : "createTrainingJobRequest",
        "variableType" : "CreateTrainingJobRequest",
        "documentation" : "",
        "simpleType" : "CreateTrainingJobRequest",
        "variableSetterType" : "CreateTrainingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTrainingJob",
      "operationName" : "CreateTrainingJob",
      "returnType" : {
        "returnType" : "CreateTrainingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTrainingJobResult"
    },
    "DeleteEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointRequest, DeleteEndpointResult>",
      "asyncReturnType" : "DeleteEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an endpoint. Amazon SageMaker frees up all of the resources that were deployed when the endpoint was created. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteEndpointRequest",
        "variableName" : "deleteEndpointRequest",
        "variableType" : "DeleteEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteEndpointRequest",
        "variableSetterType" : "DeleteEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEndpoint",
      "operationName" : "DeleteEndpoint",
      "returnType" : {
        "returnType" : "DeleteEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEndpointResult"
    },
    "DeleteEndpointConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointConfigRequest, DeleteEndpointConfigResult>",
      "asyncReturnType" : "DeleteEndpointConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an endpoint configuration. The <code>DeleteEndpoingConfig</code> API deletes only the specified configuration. It does not delete endpoints created using the configuration. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteEndpointConfigRequest",
        "variableName" : "deleteEndpointConfigRequest",
        "variableType" : "DeleteEndpointConfigRequest",
        "documentation" : "",
        "simpleType" : "DeleteEndpointConfigRequest",
        "variableSetterType" : "DeleteEndpointConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEndpointConfig",
      "operationName" : "DeleteEndpointConfig",
      "returnType" : {
        "returnType" : "DeleteEndpointConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEndpointConfigResult"
    },
    "DeleteModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteModelRequest, DeleteModelResult>",
      "asyncReturnType" : "DeleteModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a model. The <code>DeleteModel</code> API deletes only the model entry that was created in Amazon SageMaker when you called the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateModel.html\">CreateModel</a> API. It does not delete model artifacts, inference code, or the IAM role that you specified when creating the model. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteModelRequest",
        "variableName" : "deleteModelRequest",
        "variableType" : "DeleteModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteModelRequest",
        "variableSetterType" : "DeleteModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteModel",
      "operationName" : "DeleteModel",
      "returnType" : {
        "returnType" : "DeleteModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteModelResult"
    },
    "DeleteNotebookInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNotebookInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNotebookInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNotebookInstanceRequest, DeleteNotebookInstanceResult>",
      "asyncReturnType" : "DeleteNotebookInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes an Amazon SageMaker notebook instance. Before you can delete a notebook instance, you must call the <code>StopNotebookInstance</code> API. </p> <important> <p>When you delete a notebook instance, you lose all of your data. Amazon SageMaker removes the ML compute instance, and deletes the ML storage volume and the network interface associated with the notebook instance. </p> </important>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteNotebookInstanceRequest",
        "variableName" : "deleteNotebookInstanceRequest",
        "variableType" : "DeleteNotebookInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeleteNotebookInstanceRequest",
        "variableSetterType" : "DeleteNotebookInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNotebookInstance",
      "operationName" : "DeleteNotebookInstance",
      "returnType" : {
        "returnType" : "DeleteNotebookInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNotebookInstanceResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified tags from an Amazon SageMaker resource.</p> <p>To list a resource's tags, use the <code>ListTags</code> API. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DescribeEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointRequest, DescribeEndpointResult>",
      "asyncReturnType" : "DescribeEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description of an endpoint.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEndpointRequest",
        "variableName" : "describeEndpointRequest",
        "variableType" : "DescribeEndpointRequest",
        "documentation" : "",
        "simpleType" : "DescribeEndpointRequest",
        "variableSetterType" : "DescribeEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEndpoint",
      "operationName" : "DescribeEndpoint",
      "returnType" : {
        "returnType" : "DescribeEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEndpointResult"
    },
    "DescribeEndpointConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointConfigRequest, DescribeEndpointConfigResult>",
      "asyncReturnType" : "DescribeEndpointConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description of an endpoint configuration created using the <code>CreateEndpointConfig</code> API.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEndpointConfigRequest",
        "variableName" : "describeEndpointConfigRequest",
        "variableType" : "DescribeEndpointConfigRequest",
        "documentation" : "",
        "simpleType" : "DescribeEndpointConfigRequest",
        "variableSetterType" : "DescribeEndpointConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEndpointConfig",
      "operationName" : "DescribeEndpointConfig",
      "returnType" : {
        "returnType" : "DescribeEndpointConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEndpointConfigResult"
    },
    "DescribeModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeModelRequest, DescribeModelResult>",
      "asyncReturnType" : "DescribeModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a model that you created using the <code>CreateModel</code> API.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeModelRequest",
        "variableName" : "describeModelRequest",
        "variableType" : "DescribeModelRequest",
        "documentation" : "",
        "simpleType" : "DescribeModelRequest",
        "variableSetterType" : "DescribeModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeModel",
      "operationName" : "DescribeModel",
      "returnType" : {
        "returnType" : "DescribeModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeModelResult"
    },
    "DescribeNotebookInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNotebookInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNotebookInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNotebookInstanceRequest, DescribeNotebookInstanceResult>",
      "asyncReturnType" : "DescribeNotebookInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a notebook instance.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeNotebookInstanceRequest",
        "variableName" : "describeNotebookInstanceRequest",
        "variableType" : "DescribeNotebookInstanceRequest",
        "documentation" : "",
        "simpleType" : "DescribeNotebookInstanceRequest",
        "variableSetterType" : "DescribeNotebookInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNotebookInstance",
      "operationName" : "DescribeNotebookInstance",
      "returnType" : {
        "returnType" : "DescribeNotebookInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeNotebookInstanceResult"
    },
    "DescribeTrainingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrainingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrainingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrainingJobRequest, DescribeTrainingJobResult>",
      "asyncReturnType" : "DescribeTrainingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a training job.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource being access is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTrainingJobRequest",
        "variableName" : "describeTrainingJobRequest",
        "variableType" : "DescribeTrainingJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeTrainingJobRequest",
        "variableSetterType" : "DescribeTrainingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrainingJob",
      "operationName" : "DescribeTrainingJob",
      "returnType" : {
        "returnType" : "DescribeTrainingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTrainingJobResult"
    },
    "ListEndpointConfigs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEndpointConfigsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEndpointConfigsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEndpointConfigsRequest, ListEndpointConfigsResult>",
      "asyncReturnType" : "ListEndpointConfigsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists endpoint configurations.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListEndpointConfigsRequest",
        "variableName" : "listEndpointConfigsRequest",
        "variableType" : "ListEndpointConfigsRequest",
        "documentation" : "",
        "simpleType" : "ListEndpointConfigsRequest",
        "variableSetterType" : "ListEndpointConfigsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEndpointConfigs",
      "operationName" : "ListEndpointConfigs",
      "returnType" : {
        "returnType" : "ListEndpointConfigsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEndpointConfigsResult"
    },
    "ListEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEndpointsRequest, ListEndpointsResult>",
      "asyncReturnType" : "ListEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists endpoints.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListEndpointsRequest",
        "variableName" : "listEndpointsRequest",
        "variableType" : "ListEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListEndpointsRequest",
        "variableSetterType" : "ListEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEndpoints",
      "operationName" : "ListEndpoints",
      "returnType" : {
        "returnType" : "ListEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEndpointsResult"
    },
    "ListModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListModelsRequest, ListModelsResult>",
      "asyncReturnType" : "ListModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists models created with the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateModel.html\">CreateModel</a> API.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListModelsRequest",
        "variableName" : "listModelsRequest",
        "variableType" : "ListModelsRequest",
        "documentation" : "",
        "simpleType" : "ListModelsRequest",
        "variableSetterType" : "ListModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listModels",
      "operationName" : "ListModels",
      "returnType" : {
        "returnType" : "ListModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListModelsResult"
    },
    "ListNotebookInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNotebookInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNotebookInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNotebookInstancesRequest, ListNotebookInstancesResult>",
      "asyncReturnType" : "ListNotebookInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the Amazon SageMaker notebook instances in the requester's account in an AWS Region. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListNotebookInstancesRequest",
        "variableName" : "listNotebookInstancesRequest",
        "variableType" : "ListNotebookInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListNotebookInstancesRequest",
        "variableSetterType" : "ListNotebookInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNotebookInstances",
      "operationName" : "ListNotebookInstances",
      "returnType" : {
        "returnType" : "ListNotebookInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNotebookInstancesResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the tags for the specified Amazon SageMaker resource.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsResult"
    },
    "ListTrainingJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTrainingJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTrainingJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTrainingJobsRequest, ListTrainingJobsResult>",
      "asyncReturnType" : "ListTrainingJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists training jobs.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTrainingJobsRequest",
        "variableName" : "listTrainingJobsRequest",
        "variableType" : "ListTrainingJobsRequest",
        "documentation" : "",
        "simpleType" : "ListTrainingJobsRequest",
        "variableSetterType" : "ListTrainingJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTrainingJobs",
      "operationName" : "ListTrainingJobs",
      "returnType" : {
        "returnType" : "ListTrainingJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTrainingJobsResult"
    },
    "StartNotebookInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartNotebookInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartNotebookInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartNotebookInstanceRequest, StartNotebookInstanceResult>",
      "asyncReturnType" : "StartNotebookInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Launches an ML compute instance with the latest version of the libraries and attaches your ML storage volume. After configuring the notebook instance, Amazon SageMaker sets the notebook instance status to <code>InService</code>. A notebook instance's status must be <code>InService</code> before you can connect to your Jupyter notebook. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p> You have exceeded an Amazon SageMaker resource limit. For example, you might have too many training jobs created. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartNotebookInstanceRequest",
        "variableName" : "startNotebookInstanceRequest",
        "variableType" : "StartNotebookInstanceRequest",
        "documentation" : "",
        "simpleType" : "StartNotebookInstanceRequest",
        "variableSetterType" : "StartNotebookInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startNotebookInstance",
      "operationName" : "StartNotebookInstance",
      "returnType" : {
        "returnType" : "StartNotebookInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "StartNotebookInstanceResult"
    },
    "StopNotebookInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopNotebookInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopNotebookInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopNotebookInstanceRequest, StopNotebookInstanceResult>",
      "asyncReturnType" : "StopNotebookInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Terminates the ML compute instance. Before terminating the instance, Amazon SageMaker disconnects the ML storage volume from it. Amazon SageMaker preserves the ML storage volume. </p> <p>To access data on the ML storage volume for a notebook instance that has been terminated, call the <code>StartNotebookInstance</code> API. <code>StartNotebookInstance</code> launches another ML compute instance, configures it, and attaches the preserved ML storage volume so you can continue your work. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopNotebookInstanceRequest",
        "variableName" : "stopNotebookInstanceRequest",
        "variableType" : "StopNotebookInstanceRequest",
        "documentation" : "",
        "simpleType" : "StopNotebookInstanceRequest",
        "variableSetterType" : "StopNotebookInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopNotebookInstance",
      "operationName" : "StopNotebookInstance",
      "returnType" : {
        "returnType" : "StopNotebookInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "StopNotebookInstanceResult"
    },
    "StopTrainingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopTrainingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopTrainingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopTrainingJobRequest, StopTrainingJobResult>",
      "asyncReturnType" : "StopTrainingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a training job. To stop a job, Amazon SageMaker sends the algorithm the <code>SIGTERM</code> signal, which delays job termination for 120 seconds. Algorithms might use this 120-second window to save the model artifacts, so the results of the training is not lost. </p> <p>Training algorithms provided by Amazon SageMaker save the intermediate results of a model training job. This intermediate data is a valid model artifact. You can use the model artifacts that are saved when Amazon SageMaker stops a training job to create a model. </p> <p>When it receives a <code>StopTrainingJob</code> request, Amazon SageMaker changes the status of the job to <code>Stopping</code>. After Amazon SageMaker stops the job, it sets the status to <code>Stopped</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource being access is not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopTrainingJobRequest",
        "variableName" : "stopTrainingJobRequest",
        "variableType" : "StopTrainingJobRequest",
        "documentation" : "",
        "simpleType" : "StopTrainingJobRequest",
        "variableSetterType" : "StopTrainingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopTrainingJob",
      "operationName" : "StopTrainingJob",
      "returnType" : {
        "returnType" : "StopTrainingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopTrainingJobResult"
    },
    "UpdateEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEndpointRequest, UpdateEndpointResult>",
      "asyncReturnType" : "UpdateEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deploys the new <code>EndpointConfig</code> specified in the request, switches to using newly created endpoint, and then deletes resources provisioned for the endpoint using the previous <code>EndpointConfig</code> (there is no availability loss). </p> <p>When Amazon SageMaker receives the request, it sets the endpoint status to <code>Updating</code>. After updating the endpoint, it sets the status to <code>InService</code>. To check the status of an endpoint, use the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p> You have exceeded an Amazon SageMaker resource limit. For example, you might have too many training jobs created. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateEndpointRequest",
        "variableName" : "updateEndpointRequest",
        "variableType" : "UpdateEndpointRequest",
        "documentation" : "",
        "simpleType" : "UpdateEndpointRequest",
        "variableSetterType" : "UpdateEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEndpoint",
      "operationName" : "UpdateEndpoint",
      "returnType" : {
        "returnType" : "UpdateEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEndpointResult"
    },
    "UpdateEndpointWeightsAndCapacities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEndpointWeightsAndCapacitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEndpointWeightsAndCapacitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEndpointWeightsAndCapacitiesRequest, UpdateEndpointWeightsAndCapacitiesResult>",
      "asyncReturnType" : "UpdateEndpointWeightsAndCapacitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates variant weight of one or more variants associated with an existing endpoint, or capacity of one variant associated with an existing endpoint. When it receives the request, Amazon SageMaker sets the endpoint status to <code>Updating</code>. After updating the endpoint, it sets the status to <code>InService</code>. To check the status of an endpoint, use the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p> You have exceeded an Amazon SageMaker resource limit. For example, you might have too many training jobs created. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateEndpointWeightsAndCapacitiesRequest",
        "variableName" : "updateEndpointWeightsAndCapacitiesRequest",
        "variableType" : "UpdateEndpointWeightsAndCapacitiesRequest",
        "documentation" : "",
        "simpleType" : "UpdateEndpointWeightsAndCapacitiesRequest",
        "variableSetterType" : "UpdateEndpointWeightsAndCapacitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEndpointWeightsAndCapacities",
      "operationName" : "UpdateEndpointWeightsAndCapacities",
      "returnType" : {
        "returnType" : "UpdateEndpointWeightsAndCapacitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEndpointWeightsAndCapacitiesResult"
    },
    "UpdateNotebookInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateNotebookInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateNotebookInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateNotebookInstanceRequest, UpdateNotebookInstanceResult>",
      "asyncReturnType" : "UpdateNotebookInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a notebook instance. NotebookInstance updates include upgrading or downgrading the ML compute instance used for your notebook instance to accommodate changes in your workload requirements. You can also update the VPC security groups.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p> You have exceeded an Amazon SageMaker resource limit. For example, you might have too many training jobs created. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateNotebookInstanceRequest",
        "variableName" : "updateNotebookInstanceRequest",
        "variableType" : "UpdateNotebookInstanceRequest",
        "documentation" : "",
        "simpleType" : "UpdateNotebookInstanceRequest",
        "variableSetterType" : "UpdateNotebookInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateNotebookInstance",
      "operationName" : "UpdateNotebookInstance",
      "returnType" : {
        "returnType" : "UpdateNotebookInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateNotebookInstanceResult"
    }
  },
  "shapes" : {
    "AddTagsRequest" : {
      "c2jName" : "AddTagsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTags",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "SageMaker.AddTags",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ResourceArn",
        "c2jShape" : "ResourceArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>\n@param resourceArn The Amazon Resource Name (ARN) of the resource that you want to tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>\n@return The Amazon Resource Name (ARN) of the resource that you want to tag.*/",
        "getterMethodName" : "getResourceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>\n@param resourceArn The Amazon Resource Name (ARN) of the resource that you want to tag.*/",
        "setterMethodName" : "setResourceArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>\n@param resourceArn The Amazon Resource Name (ARN) of the resource that you want to tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>\n@param tags An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>\n@return An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Tags",
        "setterDocumentation" : "/**<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>\n@param tags An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceArn" : {
          "c2jName" : "ResourceArn",
          "c2jShape" : "ResourceArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>\n@param resourceArn The Amazon Resource Name (ARN) of the resource that you want to tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>\n@return The Amazon Resource Name (ARN) of the resource that you want to tag.*/",
          "getterMethodName" : "getResourceArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceArn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>\n@param resourceArn The Amazon Resource Name (ARN) of the resource that you want to tag.*/",
          "setterMethodName" : "setResourceArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>\n@param resourceArn The Amazon Resource Name (ARN) of the resource that you want to tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the resource that you want to tag. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "TagList",
          "deprecated" : false,
          "documentation" : "<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>\n@param tags An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>\n@return An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "java.util.ArrayList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Tags",
          "setterDocumentation" : "/**<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>\n@param tags An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string.*/",
          "setterMethodName" : "setTags",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ResourceArn", "Tags" ],
      "shapeName" : "AddTagsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : null,
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "wrapper" : false
    },
    "AddTagsResult" : {
      "c2jName" : "AddTagsOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>A list of tags associated with the Amazon SageMaker resource.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of tags associated with the Amazon SageMaker resource.</p>\n@param tags A list of tags associated with the Amazon SageMaker resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>A list of tags associated with the Amazon SageMaker resource.</p>\n@return A list of tags associated with the Amazon SageMaker resource.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Tags",
        "setterDocumentation" : "/**<p>A list of tags associated with the Amazon SageMaker resource.</p>\n@param tags A list of tags associated with the Amazon SageMaker resource.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of tags associated with the Amazon SageMaker resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags A list of tags associated with the Amazon SageMaker resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>A list of tags associated with the Amazon SageMaker resource.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "TagList",
          "deprecated" : false,
          "documentation" : "<p>A list of tags associated with the Amazon SageMaker resource.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of tags associated with the Amazon SageMaker resource.</p>\n@param tags A list of tags associated with the Amazon SageMaker resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>A list of tags associated with the Amazon SageMaker resource.</p>\n@return A list of tags associated with the Amazon SageMaker resource.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "java.util.ArrayList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Tags",
          "setterDocumentation" : "/**<p>A list of tags associated with the Amazon SageMaker resource.</p>\n@param tags A list of tags associated with the Amazon SageMaker resource.*/",
          "setterMethodName" : "setTags",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of tags associated with the Amazon SageMaker resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags A list of tags associated with the Amazon SageMaker resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p>A list of tags associated with the Amazon SageMaker resource.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AddTagsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddTagsResult",
        "variableName" : "addTagsResult",
        "variableType" : "AddTagsResult",
        "documentation" : null,
        "simpleType" : "AddTagsResult",
        "variableSetterType" : "AddTagsResult"
      },
      "wrapper" : false
    },
    "AlgorithmSpecification" : {
      "c2jName" : "AlgorithmSpecification",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Specifies the training algorithm to use in a <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateTrainingJob.html\">CreateTrainingJob</a> request. </p> <p>For more information about algorithms provided by Amazon SageMaker, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/adv-topics-own-algo.html\">Bring Your Own Algorithms </a>. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TrainingImage",
        "c2jShape" : "AlgorithmImage",
        "deprecated" : false,
        "documentation" : "<p>The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>. </p>\n@param trainingImage The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTrainingImage",
        "getterDocumentation" : "/**<p>The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>. </p>\n@return The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>.*/",
        "getterMethodName" : "getTrainingImage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TrainingImage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TrainingImage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TrainingImage",
        "setterDocumentation" : "/**<p>The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>. </p>\n@param trainingImage The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>.*/",
        "setterMethodName" : "setTrainingImage",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "trainingImage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>. </p>\n@param trainingImage The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "trainingImage",
          "variableType" : "String",
          "documentation" : "<p>The registry path of the Docker image that contains the training algorithm. For information about using your own algorithms, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos-docker-registry-paths.html\">Docker Registry Paths for Algorithms Provided by Amazon SageMaker </a>. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TrainingInputMode",
        "c2jShape" : "TrainingInputMode",
        "deprecated" : false,
        "documentation" : "<p>The input mode that the algorithm supports. For the input modes that Amazon SageMaker algorithms support, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. If an algorithm supports the <code>File</code> input mode, Amazon SageMaker downloads the training data from S3 to the provisioned ML storage Volume, and mounts the directory to docker volume for training container. If an algorithm supports the <code>Pipe</code> input mode, Amazon SageMaker streams data directly from S3 to the container. </p> <p> In File mode, make sure you provision ML storage volume with sufficient capacity to accomodate the data download from S3. In addition to the training data, the ML storage volume also stores the output model. The algorithm container use ML storage volume to also store intermediate information, if any. </p> <p> For distributed algorithms using File mode, training data is distributed uniformly, and your training duration is predictable if the input data objects size is approximately same. Amazon SageMaker does not split the files any further for model training. If the object sizes are skewed, training won't be optimal as the data distribution is also skewed where one host in a training cluster is overloaded, thus becoming bottleneck in training. </p>",
        "enumType" : "TrainingInputMode",
[...]
