{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-07-01",
    "asyncClient" : "AmazonSageMakerFeatureStoreRuntimeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSageMakerFeatureStoreRuntimeAsyncClientBuilder",
    "asyncInterface" : "AmazonSageMakerFeatureStoreRuntimeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonSageMakerFeatureStoreRuntimeModuleInjector",
    "defaultEndpoint" : "featurestore-runtime.sagemaker.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "featurestore-runtime.sagemaker.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Contains all data plane API operations and data types for the Amazon SageMaker Feature Store. Use this API to put, delete, and retrieve (get) features from a feature store.</p> <p>Use the following operations to configure your <code>OnlineStore</code> and <code>OfflineStore</code> features, and to create and manage feature groups:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateFeatureGroup.html\">CreateFeatureGroup</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_DeleteFeatureGroup.html\">DeleteFeatureGroup</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_DescribeFeatureGroup.html\">DescribeFeatureGroup</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_ListFeatureGroups.html\">ListFeatureGroups</a> </p> </li> </ul>",
    "endpointPrefix" : "featurestore-runtime.sagemaker",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.sagemakerfeaturestoreruntime",
    "packagePath" : "com/amazonaws/services/sagemakerfeaturestoreruntime",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon SageMaker Feature Store Runtime",
    "serviceId" : "SageMaker FeatureStore Runtime",
    "serviceName" : "Amazon SageMaker Feature Store Runtime",
    "signingName" : "sagemaker",
    "smokeTestsPackageName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.smoketests",
    "syncClient" : "AmazonSageMakerFeatureStoreRuntimeClient",
    "syncClientBuilderClassName" : "AmazonSageMakerFeatureStoreRuntimeClientBuilder",
    "syncInterface" : "AmazonSageMakerFeatureStoreRuntime",
    "uid" : "sagemaker-featurestore-runtime-2020-07-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRecordRequest, DeleteRecordResult>",
      "asyncReturnType" : "DeleteRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a <code>Record</code> from a <code>FeatureGroup</code>. A new record will show up in the <code>OfflineStore</code> when the <code>DeleteRecord</code> API is called. This record will have a value of <code>True</code> in the <code>is_deleted</code> column.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationErrorException",
        "documentation" : "<p>There was an error validating your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred. Try your request again. If the problem persists, contact AWS customer support.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "AccessForbiddenException",
        "documentation" : "<p>You do not have permission to perform an action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRecordRequest",
        "variableName" : "deleteRecordRequest",
        "variableType" : "DeleteRecordRequest",
        "documentation" : "",
        "simpleType" : "DeleteRecordRequest",
        "variableSetterType" : "DeleteRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRecord",
      "operationName" : "DeleteRecord",
      "returnType" : {
        "returnType" : "DeleteRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRecordResult"
    },
    "GetRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecordRequest, GetRecordResult>",
      "asyncReturnType" : "GetRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use for <code>OnlineStore</code> serving from a <code>FeatureStore</code>. Only the latest records stored in the <code>OnlineStore</code> can be retrieved. If no Record with <code>RecordIdentifierValue</code> is found, then an empty result is returned. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationErrorException",
        "documentation" : "<p>There was an error validating your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required to perform an action was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred. Try your request again. If the problem persists, contact AWS customer support.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "AccessForbiddenException",
        "documentation" : "<p>You do not have permission to perform an action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecordRequest",
        "variableName" : "getRecordRequest",
        "variableType" : "GetRecordRequest",
        "documentation" : "",
        "simpleType" : "GetRecordRequest",
        "variableSetterType" : "GetRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecord",
      "operationName" : "GetRecord",
      "returnType" : {
        "returnType" : "GetRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRecordResult"
    },
    "PutRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordRequest, PutRecordResult>",
      "asyncReturnType" : "PutRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used for data ingestion into the <code>FeatureStore</code>. The <code>PutRecord</code> API writes to both the <code>OnlineStore</code> and <code>OfflineStore</code>. If the record is the latest record for the <code>recordIdentifier</code>, the record is written to both the <code>OnlineStore</code> and <code>OfflineStore</code>. If the record is a historic record, it is written only to the <code>OfflineStore</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationErrorException",
        "documentation" : "<p>There was an error validating your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred. Try your request again. If the problem persists, contact AWS customer support.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "AccessForbiddenException",
        "documentation" : "<p>You do not have permission to perform an action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRecordRequest",
        "variableName" : "putRecordRequest",
        "variableType" : "PutRecordRequest",
        "documentation" : "",
        "simpleType" : "PutRecordRequest",
        "variableSetterType" : "PutRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRecord",
      "operationName" : "PutRecord",
      "returnType" : {
        "returnType" : "PutRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRecordResult"
    }
  },
  "shapes" : {
    "AccessForbiddenException" : {
      "c2jName" : "AccessForbidden",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have permission to perform an action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessForbidden",
      "fullyQualifiedName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.exception.AccessForbiddenException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessForbiddenException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessForbiddenException",
        "variableName" : "accessForbiddenException",
        "variableType" : "AccessForbiddenException",
        "documentation" : null,
        "simpleType" : "AccessForbiddenException",
        "variableSetterType" : "AccessForbiddenException"
      },
      "wrapper" : false
    },
    "DeleteRecordRequest" : {
      "c2jName" : "DeleteRecordRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.request.DeleteRecordRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteRecord",
        "locationName" : null,
        "requestUri" : "/FeatureGroup/{FeatureGroupName}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "FeatureGroupName",
        "c2jShape" : "FeatureGroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the feature group to delete the record from. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the feature group to delete the record from. </p>\n@param featureGroupName The name of the feature group to delete the record from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFeatureGroupName",
        "getterDocumentation" : "/**<p>The name of the feature group to delete the record from. </p>\n@return The name of the feature group to delete the record from.*/",
        "getterMethodName" : "getFeatureGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "FeatureGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FeatureGroupName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FeatureGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the feature group to delete the record from. </p>\n@param featureGroupName The name of the feature group to delete the record from.*/",
        "setterMethodName" : "setFeatureGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "featureGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the feature group to delete the record from. </p>\n@param featureGroupName The name of the feature group to delete the record from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "featureGroupName",
          "variableType" : "String",
          "documentation" : "<p>The name of the feature group to delete the record from. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RecordIdentifierValueAsString",
        "c2jShape" : "ValueAsString",
        "deprecated" : false,
        "documentation" : "<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>\n@param recordIdentifierValueAsString The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRecordIdentifierValueAsString",
        "getterDocumentation" : "/**<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>\n@return The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format.*/",
        "getterMethodName" : "getRecordIdentifierValueAsString",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "RecordIdentifierValueAsString",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RecordIdentifierValueAsString",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RecordIdentifierValueAsString",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>\n@param recordIdentifierValueAsString The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format.*/",
        "setterMethodName" : "setRecordIdentifierValueAsString",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "recordIdentifierValueAsString",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>\n@param recordIdentifierValueAsString The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "recordIdentifierValueAsString",
          "variableType" : "String",
          "documentation" : "<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EventTime",
        "c2jShape" : "ValueAsString",
        "deprecated" : false,
        "documentation" : "<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>\n@param eventTime Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEventTime",
        "getterDocumentation" : "/**<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>\n@return Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.*/",
        "getterMethodName" : "getEventTime",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "EventTime",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EventTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EventTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>\n@param eventTime Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.*/",
        "setterMethodName" : "setEventTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "eventTime",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>\n@param eventTime Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "eventTime",
          "variableType" : "String",
          "documentation" : "<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EventTime" : {
          "c2jName" : "EventTime",
          "c2jShape" : "ValueAsString",
          "deprecated" : false,
          "documentation" : "<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>\n@param eventTime Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEventTime",
          "getterDocumentation" : "/**<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>\n@return Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.*/",
          "getterMethodName" : "getEventTime",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "EventTime",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EventTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EventTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>\n@param eventTime Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.*/",
          "setterMethodName" : "setEventTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "eventTime",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>\n@param eventTime Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "eventTime",
            "variableType" : "String",
            "documentation" : "<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "FeatureGroupName" : {
          "c2jName" : "FeatureGroupName",
          "c2jShape" : "FeatureGroupName",
          "deprecated" : false,
          "documentation" : "<p>The name of the feature group to delete the record from. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the feature group to delete the record from. </p>\n@param featureGroupName The name of the feature group to delete the record from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFeatureGroupName",
          "getterDocumentation" : "/**<p>The name of the feature group to delete the record from. </p>\n@return The name of the feature group to delete the record from.*/",
          "getterMethodName" : "getFeatureGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "FeatureGroupName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FeatureGroupName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FeatureGroupName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the feature group to delete the record from. </p>\n@param featureGroupName The name of the feature group to delete the record from.*/",
          "setterMethodName" : "setFeatureGroupName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "featureGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the feature group to delete the record from. </p>\n@param featureGroupName The name of the feature group to delete the record from.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "featureGroupName",
            "variableType" : "String",
            "documentation" : "<p>The name of the feature group to delete the record from. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RecordIdentifierValueAsString" : {
          "c2jName" : "RecordIdentifierValueAsString",
          "c2jShape" : "ValueAsString",
          "deprecated" : false,
          "documentation" : "<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>\n@param recordIdentifierValueAsString The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRecordIdentifierValueAsString",
          "getterDocumentation" : "/**<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>\n@return The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format.*/",
          "getterMethodName" : "getRecordIdentifierValueAsString",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "RecordIdentifierValueAsString",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RecordIdentifierValueAsString",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RecordIdentifierValueAsString",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>\n@param recordIdentifierValueAsString The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format.*/",
          "setterMethodName" : "setRecordIdentifierValueAsString",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "recordIdentifierValueAsString",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>\n@param recordIdentifierValueAsString The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "recordIdentifierValueAsString",
            "variableType" : "String",
            "documentation" : "<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "FeatureGroupName", "RecordIdentifierValueAsString", "EventTime" ],
      "shapeName" : "DeleteRecordRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRecordRequest",
        "variableName" : "deleteRecordRequest",
        "variableType" : "DeleteRecordRequest",
        "documentation" : null,
        "simpleType" : "DeleteRecordRequest",
        "variableSetterType" : "DeleteRecordRequest"
      },
      "wrapper" : false
    },
    "DeleteRecordResult" : {
      "c2jName" : "DeleteRecordResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.response.DeleteRecordResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteRecordResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRecordResult",
        "variableName" : "deleteRecordResult",
        "variableType" : "DeleteRecordResult",
        "documentation" : null,
        "simpleType" : "DeleteRecordResult",
        "variableSetterType" : "DeleteRecordResult"
      },
      "wrapper" : false
    },
    "FeatureValue" : {
      "c2jName" : "FeatureValue",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The value associated with a feature.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.model.FeatureValue",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "FeatureName",
        "c2jShape" : "FeatureName",
        "deprecated" : false,
        "documentation" : "<p>The name of a feature that a feature value corresponds to.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of a feature that a feature value corresponds to.</p>\n@param featureName The name of a feature that a feature value corresponds to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFeatureName",
        "getterDocumentation" : "/**<p>The name of a feature that a feature value corresponds to.</p>\n@return The name of a feature that a feature value corresponds to.*/",
        "getterMethodName" : "getFeatureName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FeatureName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FeatureName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FeatureName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of a feature that a feature value corresponds to.</p>\n@param featureName The name of a feature that a feature value corresponds to.*/",
        "setterMethodName" : "setFeatureName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "featureName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of a feature that a feature value corresponds to.</p>\n@param featureName The name of a feature that a feature value corresponds to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "featureName",
          "variableType" : "String",
          "documentation" : "<p>The name of a feature that a feature value corresponds to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ValueAsString",
        "c2jShape" : "ValueAsString",
        "deprecated" : false,
        "documentation" : "<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>\n@param valueAsString The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withValueAsString",
        "getterDocumentation" : "/**<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>\n@return The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.*/",
        "getterMethodName" : "getValueAsString",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ValueAsString",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ValueAsString",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ValueAsString",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>\n@param valueAsString The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.*/",
        "setterMethodName" : "setValueAsString",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "valueAsString",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>\n@param valueAsString The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "valueAsString",
          "variableType" : "String",
          "documentation" : "<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FeatureName" : {
          "c2jName" : "FeatureName",
          "c2jShape" : "FeatureName",
          "deprecated" : false,
          "documentation" : "<p>The name of a feature that a feature value corresponds to.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of a feature that a feature value corresponds to.</p>\n@param featureName The name of a feature that a feature value corresponds to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFeatureName",
          "getterDocumentation" : "/**<p>The name of a feature that a feature value corresponds to.</p>\n@return The name of a feature that a feature value corresponds to.*/",
          "getterMethodName" : "getFeatureName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FeatureName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FeatureName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FeatureName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of a feature that a feature value corresponds to.</p>\n@param featureName The name of a feature that a feature value corresponds to.*/",
          "setterMethodName" : "setFeatureName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "featureName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of a feature that a feature value corresponds to.</p>\n@param featureName The name of a feature that a feature value corresponds to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "featureName",
            "variableType" : "String",
            "documentation" : "<p>The name of a feature that a feature value corresponds to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ValueAsString" : {
          "c2jName" : "ValueAsString",
          "c2jShape" : "ValueAsString",
          "deprecated" : false,
          "documentation" : "<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>\n@param valueAsString The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withValueAsString",
          "getterDocumentation" : "/**<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>\n@return The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.*/",
          "getterMethodName" : "getValueAsString",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ValueAsString",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ValueAsString",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ValueAsString",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>\n@param valueAsString The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.*/",
          "setterMethodName" : "setValueAsString",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "valueAsString",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>\n@param valueAsString The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "valueAsString",
            "variableType" : "String",
            "documentation" : "<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "FeatureName", "ValueAsString" ],
      "shapeName" : "FeatureValue",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "FeatureValue",
        "variableName" : "featureValue",
        "variableType" : "FeatureValue",
        "documentation" : null,
        "simpleType" : "FeatureValue",
        "variableSetterType" : "FeatureValue"
      },
      "wrapper" : false
    },
    "GetRecordRequest" : {
      "c2jName" : "GetRecordRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.request.GetRecordRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetRecord",
        "locationName" : null,
        "requestUri" : "/FeatureGroup/{FeatureGroupName}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "FeatureGroupName",
        "c2jShape" : "FeatureGroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the feature group in which you want to put the records.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the feature group in which you want to put the records.</p>\n@param featureGroupName The name of the feature group in which you want to put the records.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFeatureGroupName",
        "getterDocumentation" : "/**<p>The name of the feature group in which you want to put the records.</p>\n@return The name of the feature group in which you want to put the records.*/",
        "getterMethodName" : "getFeatureGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "FeatureGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FeatureGroupName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FeatureGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the feature group in which you want to put the records.</p>\n@param featureGroupName The name of the feature group in which you want to put the records.*/",
        "setterMethodName" : "setFeatureGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "featureGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the feature group in which you want to put the records.</p>\n@param featureGroupName The name of the feature group in which you want to put the records.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "featureGroupName",
          "variableType" : "String",
          "documentation" : "<p>The name of the feature group in which you want to put the records.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RecordIdentifierValueAsString",
        "c2jShape" : "ValueAsString",
        "deprecated" : false,
        "documentation" : "<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>\n@param recordIdentifierValueAsString The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRecordIdentifierValueAsString",
        "getterDocumentation" : "/**<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>\n@return The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>.*/",
        "getterMethodName" : "getRecordIdentifierValueAsString",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "RecordIdentifierValueAsString",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RecordIdentifierValueAsString",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RecordIdentifierValueAsString",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>\n@param recordIdentifierValueAsString The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>.*/",
        "setterMethodName" : "setRecordIdentifierValueAsString",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "recordIdentifierValueAsString",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>\n@param recordIdentifierValueAsString The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "recordIdentifierValueAsString",
          "variableType" : "String",
          "documentation" : "<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FeatureNames",
        "c2jShape" : "FeatureNames",
        "deprecated" : false,
        "documentation" : "<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>\n@param featureNames List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFeatureNames",
        "getterDocumentation" : "/**<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>\n@return List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.*/",
        "getterMethodName" : "getFeatureNames",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "FeatureName",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FeatureName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "FeatureName",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "FeatureNames",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>\n@param featureNames List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.*/",
        "setterMethodName" : "setFeatureNames",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "featureNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFeatureNames(java.util.Collection)} or {@link #withFeatureNames(java.util.Collection)} if you want to override the existing values.</p>\n@param featureNames List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "featureNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FeatureGroupName" : {
          "c2jName" : "FeatureGroupName",
          "c2jShape" : "FeatureGroupName",
          "deprecated" : false,
          "documentation" : "<p>The name of the feature group in which you want to put the records.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the feature group in which you want to put the records.</p>\n@param featureGroupName The name of the feature group in which you want to put the records.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFeatureGroupName",
          "getterDocumentation" : "/**<p>The name of the feature group in which you want to put the records.</p>\n@return The name of the feature group in which you want to put the records.*/",
          "getterMethodName" : "getFeatureGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "FeatureGroupName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FeatureGroupName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FeatureGroupName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the feature group in which you want to put the records.</p>\n@param featureGroupName The name of the feature group in which you want to put the records.*/",
          "setterMethodName" : "setFeatureGroupName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "featureGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the feature group in which you want to put the records.</p>\n@param featureGroupName The name of the feature group in which you want to put the records.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "featureGroupName",
            "variableType" : "String",
            "documentation" : "<p>The name of the feature group in which you want to put the records.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "FeatureNames" : {
          "c2jName" : "FeatureNames",
          "c2jShape" : "FeatureNames",
          "deprecated" : false,
          "documentation" : "<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>\n@param featureNames List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFeatureNames",
          "getterDocumentation" : "/**<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>\n@return List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.*/",
          "getterMethodName" : "getFeatureNames",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "FeatureName",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FeatureName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "FeatureName",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "FeatureNames",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>\n@param featureNames List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.*/",
          "setterMethodName" : "setFeatureNames",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "featureNames",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFeatureNames(java.util.Collection)} or {@link #withFeatureNames(java.util.Collection)} if you want to override the existing values.</p>\n@param featureNames List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "featureNames",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "RecordIdentifierValueAsString" : {
          "c2jName" : "RecordIdentifierValueAsString",
          "c2jShape" : "ValueAsString",
          "deprecated" : false,
          "documentation" : "<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>\n@param recordIdentifierValueAsString The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRecordIdentifierValueAsString",
          "getterDocumentation" : "/**<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>\n@return The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>.*/",
          "getterMethodName" : "getRecordIdentifierValueAsString",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "RecordIdentifierValueAsString",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RecordIdentifierValueAsString",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RecordIdentifierValueAsString",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>\n@param recordIdentifierValueAsString The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>.*/",
          "setterMethodName" : "setRecordIdentifierValueAsString",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "recordIdentifierValueAsString",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>\n@param recordIdentifierValueAsString The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "recordIdentifierValueAsString",
            "variableType" : "String",
            "documentation" : "<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "FeatureGroupName", "RecordIdentifierValueAsString" ],
      "shapeName" : "GetRecordRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecordRequest",
        "variableName" : "getRecordRequest",
        "variableType" : "GetRecordRequest",
        "documentation" : null,
        "simpleType" : "GetRecordRequest",
        "variableSetterType" : "GetRecordRequest"
      },
      "wrapper" : false
    },
    "GetRecordResult" : {
      "c2jName" : "GetRecordResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakerfeaturestoreruntime.response.GetRecordResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Record",
        "c2jShape" : "Record",
        "deprecated" : false,
        "documentation" : "<p>The record you requested. A list of <code>FeatureValues</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The record you requested. A list of <code>FeatureValues</code>.</p>\n@param record The record you requested. A list of <code>FeatureValues</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRecord",
        "getterDocumentation" : "/**<p>The record you requested. A list of <code>FeatureValues</code>.</p>\n@return The record you requested. A list of <code>FeatureValues</code>.*/",
        "getterMethodName" : "getRecord",
        "getterModel" : {
          "returnType" : "java.util.List<FeatureValue>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Record",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Record",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "FeatureValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "FeatureValue",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "FeatureValue",
              "variableName" : "member",
              "variableType" : "FeatureValue",
              "documentation" : "",
              "simpleType" : "FeatureValue",
              "variableSetterType" : "FeatureValue"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "FeatureValue",
              "variableName" : "member",
              "variableType" : "FeatureValue",
              "documentation" : "",
              "simpleType" : "FeatureValue",
              "variableSetterType" : "FeatureValue"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "FeatureValue",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "FeatureValue",
          "templateImplType" : "java.util.ArrayList<FeatureValue>",
          "templateType" : "java.util.List<FeatureValue>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Record",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The record you requested. A list of <code>FeatureValues</code>.</p>\n@param record The record you requested. A list of <code>FeatureValues</code>.*/",
        "setterMethodName" : "setRecord",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<FeatureValue>",
          "variableName" : "record",
          "variableType" : "java.util.List<FeatureValue>",
          "documentation" : "",
          "simpleType" : "List<FeatureValue>",
          "variableSetterType" : "java.util.Collection<FeatureValue>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The record you requested. A list of <code>FeatureValues</code>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRecord(java.util.Collection)} or {@link #withRecord(java.util.Collection)} if you want to override the existing values.</p>\n@param record The record you requested. A list of <code>FeatureValues</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<FeatureValue>",
          "variableName" : "record",
          "variableType" : "java.util.List<FeatureValue>",
          "documentation" : "<p>The record you requested. A list of <code>FeatureValues</code>.</p>",
          "simpleType" : "List<FeatureValue>",
          "variableSetterType" : "java.util.Collection<FeatureValue>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Record" : {
          "c2jName" : "Record",
          "c2jShape" : "Record",
          "deprecated" : false,
          "documentation" : "<p>The record you requested. A list of <code>FeatureValues</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The record you requested. A list of <code>FeatureValues</code>.</p>\n@param record The record you requested. A list of <code>FeatureValues</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRecord",
          "getterDocumentation" : "/**<p>The record you requested. A list of <code>FeatureValues</code>.</p>\n@return The record you requested. A list of <code>FeatureValues</code>.*/",
          "getterMethodName" : "getRecord",
          "getterModel" : {
            "returnType" : "java.util.List<FeatureValue>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Record",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Record",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "FeatureValue",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "FeatureValue",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
[...]
