{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-09-23",
    "asyncClient" : "AmazonSagemakerEdgeManagerAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSagemakerEdgeManagerAsyncClientBuilder",
    "asyncInterface" : "AmazonSagemakerEdgeManagerAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonSagemakerEdgeManagerModuleInjector",
    "defaultEndpoint" : "edge.sagemaker.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "edge.sagemaker.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>SageMaker Edge Manager dataplane service for communicating with active agents.</p>",
    "endpointPrefix" : "edge.sagemaker",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.sagemakeredgemanager",
    "packagePath" : "com/amazonaws/services/sagemakeredgemanager",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Sagemaker Edge Manager",
    "serviceId" : "Sagemaker Edge",
    "serviceName" : "Amazon Sagemaker Edge Manager",
    "signingName" : "sagemaker",
    "smokeTestsPackageName" : "com.amazonaws.services.sagemakeredgemanager.smoketests",
    "syncClient" : "AmazonSagemakerEdgeManagerClient",
    "syncClientBuilderClassName" : "AmazonSagemakerEdgeManagerClientBuilder",
    "syncInterface" : "AmazonSagemakerEdgeManager",
    "uid" : "sagemaker-edge-2020-09-23",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetDeployments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentsRequest, GetDeploymentsResult>",
      "asyncReturnType" : "GetDeploymentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use to get the active deployments from a device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal failure occurred. Try your request again. If the problem persists, contact Amazon Web Services customer support.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeploymentsRequest",
        "variableName" : "getDeploymentsRequest",
        "variableType" : "GetDeploymentsRequest",
        "documentation" : "",
        "simpleType" : "GetDeploymentsRequest",
        "variableSetterType" : "GetDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeployments",
      "operationName" : "GetDeployments",
      "returnType" : {
        "returnType" : "GetDeploymentsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeploymentsResult"
    },
    "GetDeviceRegistration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceRegistrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceRegistrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRegistrationRequest, GetDeviceRegistrationResult>",
      "asyncReturnType" : "GetDeviceRegistrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use to check if a device is registered with SageMaker Edge Manager.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal failure occurred. Try your request again. If the problem persists, contact Amazon Web Services customer support.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceRegistrationRequest",
        "variableName" : "getDeviceRegistrationRequest",
        "variableType" : "GetDeviceRegistrationRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceRegistrationRequest",
        "variableSetterType" : "GetDeviceRegistrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeviceRegistration",
      "operationName" : "GetDeviceRegistration",
      "returnType" : {
        "returnType" : "GetDeviceRegistrationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceRegistrationResult"
    },
    "SendHeartbeat" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendHeartbeatResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendHeartbeatResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendHeartbeatRequest, SendHeartbeatResult>",
      "asyncReturnType" : "SendHeartbeatResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use to get the current status of devices registered on SageMaker Edge Manager.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>An internal failure occurred. Try your request again. If the problem persists, contact Amazon Web Services customer support.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendHeartbeatRequest",
        "variableName" : "sendHeartbeatRequest",
        "variableType" : "SendHeartbeatRequest",
        "documentation" : "",
        "simpleType" : "SendHeartbeatRequest",
        "variableSetterType" : "SendHeartbeatRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendHeartbeat",
      "operationName" : "SendHeartbeat",
      "returnType" : {
        "returnType" : "SendHeartbeatResult",
        "documentation" : null
      },
      "syncReturnType" : "SendHeartbeatResult"
    }
  },
  "shapes" : {
    "Checksum" : {
      "c2jName" : "Checksum",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about the checksum of a model deployed on a device.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakeredgemanager.model.Checksum",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Type",
        "c2jShape" : "ChecksumType",
        "deprecated" : false,
        "documentation" : "<p>The type of the checksum.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ChecksumType",
        "fluentSetterDocumentation" : "/**<p>The type of the checksum.</p>\n@param type The type of the checksum.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumType*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The type of the checksum.</p>\n@return The type of the checksum.\n@see ChecksumType*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of the checksum.</p>\n@param type The type of the checksum.\n@see ChecksumType*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of the checksum.</p>\n@param type The type of the checksum.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of the checksum.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Sum",
        "c2jShape" : "ChecksumString",
        "deprecated" : false,
        "documentation" : "<p>The checksum of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The checksum of the model.</p>\n@param sum The checksum of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSum",
        "getterDocumentation" : "/**<p>The checksum of the model.</p>\n@return The checksum of the model.*/",
        "getterMethodName" : "getSum",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Sum",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Sum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Sum",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The checksum of the model.</p>\n@param sum The checksum of the model.*/",
        "setterMethodName" : "setSum",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sum",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The checksum of the model.</p>\n@param sum The checksum of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sum",
          "variableType" : "String",
          "documentation" : "<p>The checksum of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Sum" : {
          "c2jName" : "Sum",
          "c2jShape" : "ChecksumString",
          "deprecated" : false,
          "documentation" : "<p>The checksum of the model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The checksum of the model.</p>\n@param sum The checksum of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSum",
          "getterDocumentation" : "/**<p>The checksum of the model.</p>\n@return The checksum of the model.*/",
          "getterMethodName" : "getSum",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Sum",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Sum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Sum",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The checksum of the model.</p>\n@param sum The checksum of the model.*/",
          "setterMethodName" : "setSum",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sum",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The checksum of the model.</p>\n@param sum The checksum of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sum",
            "variableType" : "String",
            "documentation" : "<p>The checksum of the model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "ChecksumType",
          "deprecated" : false,
          "documentation" : "<p>The type of the checksum.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ChecksumType",
          "fluentSetterDocumentation" : "/**<p>The type of the checksum.</p>\n@param type The type of the checksum.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumType*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p>The type of the checksum.</p>\n@return The type of the checksum.\n@see ChecksumType*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Type",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of the checksum.</p>\n@param type The type of the checksum.\n@see ChecksumType*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of the checksum.</p>\n@param type The type of the checksum.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The type of the checksum.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakeredgemanager.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Checksum",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Checksum",
        "variableName" : "checksum",
        "variableType" : "Checksum",
        "documentation" : null,
        "simpleType" : "Checksum",
        "variableSetterType" : "Checksum"
      },
      "wrapper" : false
    },
    "ChecksumType" : {
      "c2jName" : "ChecksumType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "SHA1",
        "value" : "SHA1"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakeredgemanager.enum.ChecksumType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.sagemakeredgemanager.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ChecksumType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChecksumType",
        "variableName" : "checksumType",
        "variableType" : "ChecksumType",
        "documentation" : null,
        "simpleType" : "ChecksumType",
        "variableSetterType" : "ChecksumType"
      },
      "wrapper" : false
    },
    "Definition" : {
      "c2jName" : "Definition",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakeredgemanager.model.Definition",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ModelHandle",
        "c2jShape" : "EntityName",
        "deprecated" : false,
        "documentation" : "<p>The unique model handle.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique model handle.</p>\n@param modelHandle The unique model handle.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModelHandle",
        "getterDocumentation" : "/**<p>The unique model handle.</p>\n@return The unique model handle.*/",
        "getterMethodName" : "getModelHandle",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ModelHandle",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ModelHandle",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ModelHandle",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique model handle.</p>\n@param modelHandle The unique model handle.*/",
        "setterMethodName" : "setModelHandle",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelHandle",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique model handle.</p>\n@param modelHandle The unique model handle.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelHandle",
          "variableType" : "String",
          "documentation" : "<p>The unique model handle.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "S3Url",
        "c2jShape" : "S3Uri",
        "deprecated" : false,
        "documentation" : "<p>The absolute S3 location of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The absolute S3 location of the model.</p>\n@param s3Url The absolute S3 location of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3Url",
        "getterDocumentation" : "/**<p>The absolute S3 location of the model.</p>\n@return The absolute S3 location of the model.*/",
        "getterMethodName" : "getS3Url",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "S3Url",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S3Url",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "S3Url",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The absolute S3 location of the model.</p>\n@param s3Url The absolute S3 location of the model.*/",
        "setterMethodName" : "setS3Url",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3Url",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The absolute S3 location of the model.</p>\n@param s3Url The absolute S3 location of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3Url",
          "variableType" : "String",
          "documentation" : "<p>The absolute S3 location of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Checksum",
        "c2jShape" : "Checksum",
        "deprecated" : false,
        "documentation" : "<p>The checksum information of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The checksum information of the model.</p>\n@param checksum The checksum information of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChecksum",
        "getterDocumentation" : "/**<p>The checksum information of the model.</p>\n@return The checksum information of the model.*/",
        "getterMethodName" : "getChecksum",
        "getterModel" : {
          "returnType" : "Checksum",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Checksum",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Checksum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Checksum",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The checksum information of the model.</p>\n@param checksum The checksum information of the model.*/",
        "setterMethodName" : "setChecksum",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Checksum",
          "variableName" : "checksum",
          "variableType" : "Checksum",
          "documentation" : "",
          "simpleType" : "Checksum",
          "variableSetterType" : "Checksum"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The checksum information of the model.</p>\n@param checksum The checksum information of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Checksum",
          "variableName" : "checksum",
          "variableType" : "Checksum",
          "documentation" : "<p>The checksum information of the model.</p>",
          "simpleType" : "Checksum",
          "variableSetterType" : "Checksum"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "State",
        "c2jShape" : "ModelState",
        "deprecated" : false,
        "documentation" : "<p>The desired state of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ModelState",
        "fluentSetterDocumentation" : "/**<p>The desired state of the model.</p>\n@param state The desired state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
        "fluentSetterMethodName" : "withState",
        "getterDocumentation" : "/**<p>The desired state of the model.</p>\n@return The desired state of the model.\n@see ModelState*/",
        "getterMethodName" : "getState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "State",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "State",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "State",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The desired state of the model.</p>\n@param state The desired state of the model.\n@see ModelState*/",
        "setterMethodName" : "setState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The desired state of the model.</p>\n@param state The desired state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "<p>The desired state of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Checksum" : {
          "c2jName" : "Checksum",
          "c2jShape" : "Checksum",
          "deprecated" : false,
          "documentation" : "<p>The checksum information of the model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The checksum information of the model.</p>\n@param checksum The checksum information of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChecksum",
          "getterDocumentation" : "/**<p>The checksum information of the model.</p>\n@return The checksum information of the model.*/",
          "getterMethodName" : "getChecksum",
          "getterModel" : {
            "returnType" : "Checksum",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Checksum",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Checksum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Checksum",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The checksum information of the model.</p>\n@param checksum The checksum information of the model.*/",
          "setterMethodName" : "setChecksum",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Checksum",
            "variableName" : "checksum",
            "variableType" : "Checksum",
            "documentation" : "",
            "simpleType" : "Checksum",
            "variableSetterType" : "Checksum"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The checksum information of the model.</p>\n@param checksum The checksum information of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Checksum",
            "variableName" : "checksum",
            "variableType" : "Checksum",
            "documentation" : "<p>The checksum information of the model.</p>",
            "simpleType" : "Checksum",
            "variableSetterType" : "Checksum"
          },
          "xmlNameSpaceUri" : null
        },
        "ModelHandle" : {
          "c2jName" : "ModelHandle",
          "c2jShape" : "EntityName",
          "deprecated" : false,
          "documentation" : "<p>The unique model handle.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique model handle.</p>\n@param modelHandle The unique model handle.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withModelHandle",
          "getterDocumentation" : "/**<p>The unique model handle.</p>\n@return The unique model handle.*/",
          "getterMethodName" : "getModelHandle",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ModelHandle",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ModelHandle",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ModelHandle",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique model handle.</p>\n@param modelHandle The unique model handle.*/",
          "setterMethodName" : "setModelHandle",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "modelHandle",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique model handle.</p>\n@param modelHandle The unique model handle.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "modelHandle",
            "variableType" : "String",
            "documentation" : "<p>The unique model handle.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "S3Url" : {
          "c2jName" : "S3Url",
          "c2jShape" : "S3Uri",
          "deprecated" : false,
          "documentation" : "<p>The absolute S3 location of the model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The absolute S3 location of the model.</p>\n@param s3Url The absolute S3 location of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withS3Url",
          "getterDocumentation" : "/**<p>The absolute S3 location of the model.</p>\n@return The absolute S3 location of the model.*/",
          "getterMethodName" : "getS3Url",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "S3Url",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "S3Url",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "S3Url",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The absolute S3 location of the model.</p>\n@param s3Url The absolute S3 location of the model.*/",
          "setterMethodName" : "setS3Url",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "s3Url",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The absolute S3 location of the model.</p>\n@param s3Url The absolute S3 location of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "s3Url",
            "variableType" : "String",
            "documentation" : "<p>The absolute S3 location of the model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "State" : {
          "c2jName" : "State",
          "c2jShape" : "ModelState",
          "deprecated" : false,
          "documentation" : "<p>The desired state of the model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ModelState",
          "fluentSetterDocumentation" : "/**<p>The desired state of the model.</p>\n@param state The desired state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
          "fluentSetterMethodName" : "withState",
          "getterDocumentation" : "/**<p>The desired state of the model.</p>\n@return The desired state of the model.\n@see ModelState*/",
          "getterMethodName" : "getState",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "State",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "State",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "State",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The desired state of the model.</p>\n@param state The desired state of the model.\n@see ModelState*/",
          "setterMethodName" : "setState",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "state",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The desired state of the model.</p>\n@param state The desired state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "state",
            "variableType" : "String",
            "documentation" : "<p>The desired state of the model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakeredgemanager.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Definition",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Definition",
        "variableName" : "definition",
        "variableType" : "Definition",
        "documentation" : null,
        "simpleType" : "Definition",
        "variableSetterType" : "Definition"
      },
      "wrapper" : false
    },
    "DeploymentModel" : {
      "c2jName" : "DeploymentModel",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.sagemakeredgemanager.model.DeploymentModel",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ModelHandle",
        "c2jShape" : "EntityName",
        "deprecated" : false,
        "documentation" : "<p>The unique handle of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique handle of the model.</p>\n@param modelHandle The unique handle of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModelHandle",
        "getterDocumentation" : "/**<p>The unique handle of the model.</p>\n@return The unique handle of the model.*/",
        "getterMethodName" : "getModelHandle",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ModelHandle",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ModelHandle",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ModelHandle",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique handle of the model.</p>\n@param modelHandle The unique handle of the model.*/",
        "setterMethodName" : "setModelHandle",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelHandle",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique handle of the model.</p>\n@param modelHandle The unique handle of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelHandle",
          "variableType" : "String",
          "documentation" : "<p>The unique handle of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ModelName",
        "c2jShape" : "ModelName",
        "deprecated" : false,
        "documentation" : "<p>The name of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the model.</p>\n@param modelName The name of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModelName",
        "getterDocumentation" : "/**<p>The name of the model.</p>\n@return The name of the model.*/",
        "getterMethodName" : "getModelName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ModelName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ModelName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ModelName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the model.</p>\n@param modelName The name of the model.*/",
        "setterMethodName" : "setModelName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the model.</p>\n@param modelName The name of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelName",
          "variableType" : "String",
          "documentation" : "<p>The name of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ModelVersion",
        "c2jShape" : "Version",
        "deprecated" : false,
        "documentation" : "<p>The version of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The version of the model.</p>\n@param modelVersion The version of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModelVersion",
        "getterDocumentation" : "/**<p>The version of the model.</p>\n@return The version of the model.*/",
        "getterMethodName" : "getModelVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ModelVersion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ModelVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ModelVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The version of the model.</p>\n@param modelVersion The version of the model.*/",
        "setterMethodName" : "setModelVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The version of the model.</p>\n@param modelVersion The version of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelVersion",
          "variableType" : "String",
          "documentation" : "<p>The version of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DesiredState",
        "c2jShape" : "ModelState",
        "deprecated" : false,
        "documentation" : "<p>The desired state of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ModelState",
        "fluentSetterDocumentation" : "/**<p>The desired state of the model.</p>\n@param desiredState The desired state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
        "fluentSetterMethodName" : "withDesiredState",
        "getterDocumentation" : "/**<p>The desired state of the model.</p>\n@return The desired state of the model.\n@see ModelState*/",
        "getterMethodName" : "getDesiredState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DesiredState",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DesiredState",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DesiredState",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The desired state of the model.</p>\n@param desiredState The desired state of the model.\n@see ModelState*/",
        "setterMethodName" : "setDesiredState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "desiredState",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The desired state of the model.</p>\n@param desiredState The desired state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "desiredState",
          "variableType" : "String",
          "documentation" : "<p>The desired state of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "State",
        "c2jShape" : "ModelState",
        "deprecated" : false,
        "documentation" : "<p>Returns the current state of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ModelState",
        "fluentSetterDocumentation" : "/**<p>Returns the current state of the model.</p>\n@param state Returns the current state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
        "fluentSetterMethodName" : "withState",
        "getterDocumentation" : "/**<p>Returns the current state of the model.</p>\n@return Returns the current state of the model.\n@see ModelState*/",
        "getterMethodName" : "getState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "State",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "State",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "State",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Returns the current state of the model.</p>\n@param state Returns the current state of the model.\n@see ModelState*/",
        "setterMethodName" : "setState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Returns the current state of the model.</p>\n@param state Returns the current state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "<p>Returns the current state of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "DeploymentStatus",
        "deprecated" : false,
        "documentation" : "<p>Returns the deployment status of the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "DeploymentStatus",
        "fluentSetterDocumentation" : "/**<p>Returns the deployment status of the model.</p>\n@param status Returns the deployment status of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DeploymentStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>Returns the deployment status of the model.</p>\n@return Returns the deployment status of the model.\n@see DeploymentStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Returns the deployment status of the model.</p>\n@param status Returns the deployment status of the model.\n@see DeploymentStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Returns the deployment status of the model.</p>\n@param status Returns the deployment status of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DeploymentStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>Returns the deployment status of the model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StatusReason",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Returns the error message for the deployment status result.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Returns the error message for the deployment status result.</p>\n@param statusReason Returns the error message for the deployment status result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatusReason",
        "getterDocumentation" : "/**<p>Returns the error message for the deployment status result.</p>\n@return Returns the error message for the deployment status result.*/",
        "getterMethodName" : "getStatusReason",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StatusReason",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StatusReason",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StatusReason",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Returns the error message for the deployment status result.</p>\n@param statusReason Returns the error message for the deployment status result.*/",
        "setterMethodName" : "setStatusReason",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusReason",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Returns the error message for the deployment status result.</p>\n@param statusReason Returns the error message for the deployment status result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusReason",
          "variableType" : "String",
          "documentation" : "<p>Returns the error message for the deployment status result.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RollbackFailureReason",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Returns the error message if there is a rollback.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Returns the error message if there is a rollback.</p>\n@param rollbackFailureReason Returns the error message if there is a rollback.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRollbackFailureReason",
        "getterDocumentation" : "/**<p>Returns the error message if there is a rollback.</p>\n@return Returns the error message if there is a rollback.*/",
        "getterMethodName" : "getRollbackFailureReason",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RollbackFailureReason",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RollbackFailureReason",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RollbackFailureReason",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Returns the error message if there is a rollback.</p>\n@param rollbackFailureReason Returns the error message if there is a rollback.*/",
        "setterMethodName" : "setRollbackFailureReason",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "rollbackFailureReason",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Returns the error message if there is a rollback.</p>\n@param rollbackFailureReason Returns the error message if there is a rollback.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "rollbackFailureReason",
          "variableType" : "String",
          "documentation" : "<p>Returns the error message if there is a rollback.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DesiredState" : {
          "c2jName" : "DesiredState",
          "c2jShape" : "ModelState",
          "deprecated" : false,
          "documentation" : "<p>The desired state of the model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ModelState",
          "fluentSetterDocumentation" : "/**<p>The desired state of the model.</p>\n@param desiredState The desired state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
          "fluentSetterMethodName" : "withDesiredState",
          "getterDocumentation" : "/**<p>The desired state of the model.</p>\n@return The desired state of the model.\n@see ModelState*/",
          "getterMethodName" : "getDesiredState",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DesiredState",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DesiredState",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DesiredState",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The desired state of the model.</p>\n@param desiredState The desired state of the model.\n@see ModelState*/",
          "setterMethodName" : "setDesiredState",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "desiredState",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The desired state of the model.</p>\n@param desiredState The desired state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "desiredState",
            "variableType" : "String",
            "documentation" : "<p>The desired state of the model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ModelHandle" : {
          "c2jName" : "ModelHandle",
          "c2jShape" : "EntityName",
          "deprecated" : false,
          "documentation" : "<p>The unique handle of the model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique handle of the model.</p>\n@param modelHandle The unique handle of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withModelHandle",
          "getterDocumentation" : "/**<p>The unique handle of the model.</p>\n@return The unique handle of the model.*/",
          "getterMethodName" : "getModelHandle",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ModelHandle",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ModelHandle",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ModelHandle",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique handle of the model.</p>\n@param modelHandle The unique handle of the model.*/",
          "setterMethodName" : "setModelHandle",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "modelHandle",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique handle of the model.</p>\n@param modelHandle The unique handle of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "modelHandle",
            "variableType" : "String",
            "documentation" : "<p>The unique handle of the model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ModelName" : {
          "c2jName" : "ModelName",
          "c2jShape" : "ModelName",
          "deprecated" : false,
          "documentation" : "<p>The name of the model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the model.</p>\n@param modelName The name of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withModelName",
          "getterDocumentation" : "/**<p>The name of the model.</p>\n@return The name of the model.*/",
          "getterMethodName" : "getModelName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ModelName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ModelName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ModelName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the model.</p>\n@param modelName The name of the model.*/",
          "setterMethodName" : "setModelName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "modelName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the model.</p>\n@param modelName The name of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "modelName",
            "variableType" : "String",
            "documentation" : "<p>The name of the model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ModelVersion" : {
          "c2jName" : "ModelVersion",
          "c2jShape" : "Version",
          "deprecated" : false,
          "documentation" : "<p>The version of the model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The version of the model.</p>\n@param modelVersion The version of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withModelVersion",
          "getterDocumentation" : "/**<p>The version of the model.</p>\n@return The version of the model.*/",
          "getterMethodName" : "getModelVersion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ModelVersion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ModelVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ModelVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The version of the model.</p>\n@param modelVersion The version of the model.*/",
          "setterMethodName" : "setModelVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "modelVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The version of the model.</p>\n@param modelVersion The version of the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "modelVersion",
            "variableType" : "String",
            "documentation" : "<p>The version of the model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RollbackFailureReason" : {
          "c2jName" : "RollbackFailureReason",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Returns the error message if there is a rollback.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Returns the error message if there is a rollback.</p>\n@param rollbackFailureReason Returns the error message if there is a rollback.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRollbackFailureReason",
          "getterDocumentation" : "/**<p>Returns the error message if there is a rollback.</p>\n@return Returns the error message if there is a rollback.*/",
          "getterMethodName" : "getRollbackFailureReason",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RollbackFailureReason",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RollbackFailureReason",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RollbackFailureReason",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Returns the error message if there is a rollback.</p>\n@param rollbackFailureReason Returns the error message if there is a rollback.*/",
          "setterMethodName" : "setRollbackFailureReason",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "rollbackFailureReason",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Returns the error message if there is a rollback.</p>\n@param rollbackFailureReason Returns the error message if there is a rollback.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "rollbackFailureReason",
            "variableType" : "String",
            "documentation" : "<p>Returns the error message if there is a rollback.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "State" : {
          "c2jName" : "State",
          "c2jShape" : "ModelState",
          "deprecated" : false,
          "documentation" : "<p>Returns the current state of the model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ModelState",
          "fluentSetterDocumentation" : "/**<p>Returns the current state of the model.</p>\n@param state Returns the current state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
          "fluentSetterMethodName" : "withState",
          "getterDocumentation" : "/**<p>Returns the current state of the model.</p>\n@return Returns the current state of the model.\n@see ModelState*/",
          "getterMethodName" : "getState",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "State",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "State",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "State",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Returns the current state of the model.</p>\n@param state Returns the current state of the model.\n@see ModelState*/",
          "setterMethodName" : "setState",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "state",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Returns the current state of the model.</p>\n@param state Returns the current state of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ModelState*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "state",
            "variableType" : "String",
            "documentation" : "<p>Returns the current state of the model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "DeploymentStatus",
          "deprecated" : false,
          "documentation" : "<p>Returns the deployment status of the model.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "DeploymentStatus",
          "fluentSetterDocumentation" : "/**<p>Returns the deployment status of the model.</p>\n@param status Returns the deployment status of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DeploymentStatus*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>Returns the deployment status of the model.</p>\n@return Returns the deployment status of the model.\n@see DeploymentStatus*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Status",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Status",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Returns the deployment status of the model.</p>\n@param status Returns the deployment status of the model.\n@see DeploymentStatus*/",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Returns the deployment status of the model.</p>\n@param status Returns the deployment status of the model.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DeploymentStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p>Returns the deployment status of the model.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StatusReason" : {
          "c2jName" : "StatusReason",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Returns the error message for the deployment status result.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Returns the error message for the deployment status result.</p>\n@param statusReason Returns the error message for the deployment status result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatusReason",
          "getterDocumentation" : "/**<p>Returns the error message for the deployment status result.</p>\n@return Returns the error message for the deployment status result.*/",
          "getterMethodName" : "getStatusReason",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "StatusReason",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StatusReason",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StatusReason",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Returns the error message for the deployment status result.</p>\n@param statusReason Returns the error message for the deployment status result.*/",
          "setterMethodName" : "setStatusReason",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "statusReason",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Returns the error message for the deployment status result.</p>\n@param statusReason Returns the error message for the deployment status result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "statusReason",
            "variableType" : "String",
            "documentation" : "<p>Returns the error message for the deployment status result.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.sagemakeredgemanager.model",
      "requestSignerAware" : false,
[...]
