{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-06-28",
    "asyncClient" : "AWSSavingsPlansAsyncClient",
    "asyncClientBuilderClassName" : "AWSSavingsPlansAsyncClientBuilder",
    "asyncInterface" : "AWSSavingsPlansAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSSavingsPlansModuleInjector",
    "defaultEndpoint" : "savingsplans.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "savingsplans.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Savings Plans are a pricing model that offer significant savings on AWS usage (for example, on Amazon EC2 instances). You commit to a consistent amount of usage, in USD per hour, for a term of 1 or 3 years, and receive a lower price for that usage. For more information, see the <a href=\"https://docs.aws.amazon.com/savingsplans/latest/userguide/\">AWS Savings Plans User Guide</a>.</p>",
    "endpointPrefix" : "savingsplans",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.savingsplans",
    "packagePath" : "com/amazonaws/services/savingsplans",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWSSavingsPlans",
    "serviceFullName" : "AWS Savings Plans",
    "serviceId" : "savingsplans",
    "serviceName" : "AWSSavingsPlans",
    "signingName" : "savingsplans",
    "smokeTestsPackageName" : "com.amazonaws.services.savingsplans.smoketests",
    "syncClient" : "AWSSavingsPlansClient",
    "syncClientBuilderClassName" : "AWSSavingsPlansClientBuilder",
    "syncInterface" : "AWSSavingsPlans",
    "uid" : "savingsplans-2019-06-28",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateSavingsPlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSavingsPlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSavingsPlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSavingsPlanRequest, CreateSavingsPlanResult>",
      "asyncReturnType" : "CreateSavingsPlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Savings Plan.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the input parameters is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSavingsPlanRequest",
        "variableName" : "createSavingsPlanRequest",
        "variableType" : "CreateSavingsPlanRequest",
        "documentation" : "",
        "simpleType" : "CreateSavingsPlanRequest",
        "variableSetterType" : "CreateSavingsPlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSavingsPlan",
      "operationName" : "CreateSavingsPlan",
      "returnType" : {
        "returnType" : "CreateSavingsPlanResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSavingsPlanResult"
    },
    "DescribeSavingsPlanRates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSavingsPlanRatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSavingsPlanRatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSavingsPlanRatesRequest, DescribeSavingsPlanRatesResult>",
      "asyncReturnType" : "DescribeSavingsPlanRatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified Savings Plans rates.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the input parameters is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSavingsPlanRatesRequest",
        "variableName" : "describeSavingsPlanRatesRequest",
        "variableType" : "DescribeSavingsPlanRatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeSavingsPlanRatesRequest",
        "variableSetterType" : "DescribeSavingsPlanRatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSavingsPlanRates",
      "operationName" : "DescribeSavingsPlanRates",
      "returnType" : {
        "returnType" : "DescribeSavingsPlanRatesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSavingsPlanRatesResult"
    },
    "DescribeSavingsPlans" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSavingsPlansResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSavingsPlansResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSavingsPlansRequest, DescribeSavingsPlansResult>",
      "asyncReturnType" : "DescribeSavingsPlansResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified Savings Plans.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the input parameters is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSavingsPlansRequest",
        "variableName" : "describeSavingsPlansRequest",
        "variableType" : "DescribeSavingsPlansRequest",
        "documentation" : "",
        "simpleType" : "DescribeSavingsPlansRequest",
        "variableSetterType" : "DescribeSavingsPlansRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSavingsPlans",
      "operationName" : "DescribeSavingsPlans",
      "returnType" : {
        "returnType" : "DescribeSavingsPlansResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSavingsPlansResult"
    },
    "DescribeSavingsPlansOfferingRates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSavingsPlansOfferingRatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSavingsPlansOfferingRatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSavingsPlansOfferingRatesRequest, DescribeSavingsPlansOfferingRatesResult>",
      "asyncReturnType" : "DescribeSavingsPlansOfferingRatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified Savings Plans offering rates.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the input parameters is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSavingsPlansOfferingRatesRequest",
        "variableName" : "describeSavingsPlansOfferingRatesRequest",
        "variableType" : "DescribeSavingsPlansOfferingRatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeSavingsPlansOfferingRatesRequest",
        "variableSetterType" : "DescribeSavingsPlansOfferingRatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSavingsPlansOfferingRates",
      "operationName" : "DescribeSavingsPlansOfferingRates",
      "returnType" : {
        "returnType" : "DescribeSavingsPlansOfferingRatesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSavingsPlansOfferingRatesResult"
    },
    "DescribeSavingsPlansOfferings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSavingsPlansOfferingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSavingsPlansOfferingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSavingsPlansOfferingsRequest, DescribeSavingsPlansOfferingsResult>",
      "asyncReturnType" : "DescribeSavingsPlansOfferingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified Savings Plans offerings.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the input parameters is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSavingsPlansOfferingsRequest",
        "variableName" : "describeSavingsPlansOfferingsRequest",
        "variableType" : "DescribeSavingsPlansOfferingsRequest",
        "documentation" : "",
        "simpleType" : "DescribeSavingsPlansOfferingsRequest",
        "variableSetterType" : "DescribeSavingsPlansOfferingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSavingsPlansOfferings",
      "operationName" : "DescribeSavingsPlansOfferings",
      "returnType" : {
        "returnType" : "DescribeSavingsPlansOfferingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSavingsPlansOfferingsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the input parameters is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the input parameters is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the input parameters is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "CreateSavingsPlanRequest" : {
      "c2jName" : "CreateSavingsPlanRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateSavingsPlan",
        "locationName" : null,
        "requestUri" : "/CreateSavingsPlan",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "savingsPlanOfferingId",
        "c2jShape" : "SavingsPlanOfferingId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the offering.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the offering.</p>\n@param savingsPlanOfferingId The ID of the offering.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSavingsPlanOfferingId",
        "getterDocumentation" : "/**<p>The ID of the offering.</p>\n@return The ID of the offering.*/",
        "getterMethodName" : "getSavingsPlanOfferingId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "savingsPlanOfferingId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "savingsPlanOfferingId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SavingsPlanOfferingId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the offering.</p>\n@param savingsPlanOfferingId The ID of the offering.*/",
        "setterMethodName" : "setSavingsPlanOfferingId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "savingsPlanOfferingId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the offering.</p>\n@param savingsPlanOfferingId The ID of the offering.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "savingsPlanOfferingId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the offering.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "commitment",
        "c2jShape" : "Amount",
        "deprecated" : false,
        "documentation" : "<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>\n@param commitment The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCommitment",
        "getterDocumentation" : "/**<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>\n@return The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.*/",
        "getterMethodName" : "getCommitment",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "commitment",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "commitment",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Commitment",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>\n@param commitment The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.*/",
        "setterMethodName" : "setCommitment",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "commitment",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>\n@param commitment The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "commitment",
          "variableType" : "String",
          "documentation" : "<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "upfrontPaymentAmount",
        "c2jShape" : "Amount",
        "deprecated" : false,
        "documentation" : "<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>\n@param upfrontPaymentAmount The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUpfrontPaymentAmount",
        "getterDocumentation" : "/**<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>\n@return The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.*/",
        "getterMethodName" : "getUpfrontPaymentAmount",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "upfrontPaymentAmount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "upfrontPaymentAmount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UpfrontPaymentAmount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>\n@param upfrontPaymentAmount The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.*/",
        "setterMethodName" : "setUpfrontPaymentAmount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "upfrontPaymentAmount",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>\n@param upfrontPaymentAmount The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "upfrontPaymentAmount",
          "variableType" : "String",
          "documentation" : "<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@return Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "<p>One or more tags.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>One or more tags.</p>\n@param tags One or more tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>One or more tags.</p>\n@return One or more tags.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>One or more tags.</p>\n@param tags One or more tags.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>One or more tags.</p>\n@param tags One or more tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>One or more tags.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "ClientToken",
          "deprecated" : false,
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@return Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Commitment" : {
          "c2jName" : "commitment",
          "c2jShape" : "Amount",
          "deprecated" : false,
          "documentation" : "<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>\n@param commitment The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCommitment",
          "getterDocumentation" : "/**<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>\n@return The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.*/",
          "getterMethodName" : "getCommitment",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "commitment",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "commitment",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Commitment",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>\n@param commitment The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.*/",
          "setterMethodName" : "setCommitment",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "commitment",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>\n@param commitment The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "commitment",
            "variableType" : "String",
            "documentation" : "<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SavingsPlanOfferingId" : {
          "c2jName" : "savingsPlanOfferingId",
          "c2jShape" : "SavingsPlanOfferingId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the offering.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the offering.</p>\n@param savingsPlanOfferingId The ID of the offering.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSavingsPlanOfferingId",
          "getterDocumentation" : "/**<p>The ID of the offering.</p>\n@return The ID of the offering.*/",
          "getterMethodName" : "getSavingsPlanOfferingId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "savingsPlanOfferingId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "savingsPlanOfferingId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SavingsPlanOfferingId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the offering.</p>\n@param savingsPlanOfferingId The ID of the offering.*/",
          "setterMethodName" : "setSavingsPlanOfferingId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "savingsPlanOfferingId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the offering.</p>\n@param savingsPlanOfferingId The ID of the offering.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "savingsPlanOfferingId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the offering.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "tags",
          "c2jShape" : "TagMap",
          "deprecated" : false,
          "documentation" : "<p>One or more tags.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>One or more tags.</p>\n@param tags One or more tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>One or more tags.</p>\n@return One or more tags.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "tags",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "TagValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Tags",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>One or more tags.</p>\n@param tags One or more tags.*/",
          "setterMethodName" : "setTags",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>One or more tags.</p>\n@param tags One or more tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p>One or more tags.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        },
        "UpfrontPaymentAmount" : {
          "c2jName" : "upfrontPaymentAmount",
          "c2jShape" : "Amount",
          "deprecated" : false,
          "documentation" : "<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>\n@param upfrontPaymentAmount The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUpfrontPaymentAmount",
          "getterDocumentation" : "/**<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>\n@return The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.*/",
          "getterMethodName" : "getUpfrontPaymentAmount",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "upfrontPaymentAmount",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "upfrontPaymentAmount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "UpfrontPaymentAmount",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>\n@param upfrontPaymentAmount The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.*/",
          "setterMethodName" : "setUpfrontPaymentAmount",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "upfrontPaymentAmount",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>\n@param upfrontPaymentAmount The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "upfrontPaymentAmount",
            "variableType" : "String",
            "documentation" : "<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "savingsPlanOfferingId", "commitment" ],
      "shapeName" : "CreateSavingsPlanRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSavingsPlanRequest",
        "variableName" : "createSavingsPlanRequest",
        "variableType" : "CreateSavingsPlanRequest",
        "documentation" : null,
        "simpleType" : "CreateSavingsPlanRequest",
        "variableSetterType" : "CreateSavingsPlanRequest"
      },
      "wrapper" : false
    },
    "CreateSavingsPlanResult" : {
      "c2jName" : "CreateSavingsPlanResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "savingsPlanId",
        "c2jShape" : "SavingsPlanId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the Savings Plan.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@param savingsPlanId The ID of the Savings Plan.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSavingsPlanId",
        "getterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@return The ID of the Savings Plan.*/",
        "getterMethodName" : "getSavingsPlanId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "savingsPlanId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "savingsPlanId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SavingsPlanId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@param savingsPlanId The ID of the Savings Plan.*/",
        "setterMethodName" : "setSavingsPlanId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "savingsPlanId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@param savingsPlanId The ID of the Savings Plan.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "savingsPlanId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the Savings Plan.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SavingsPlanId" : {
          "c2jName" : "savingsPlanId",
          "c2jShape" : "SavingsPlanId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the Savings Plan.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@param savingsPlanId The ID of the Savings Plan.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSavingsPlanId",
          "getterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@return The ID of the Savings Plan.*/",
          "getterMethodName" : "getSavingsPlanId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "savingsPlanId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "savingsPlanId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SavingsPlanId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@param savingsPlanId The ID of the Savings Plan.*/",
          "setterMethodName" : "setSavingsPlanId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "savingsPlanId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@param savingsPlanId The ID of the Savings Plan.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "savingsPlanId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the Savings Plan.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateSavingsPlanResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSavingsPlanResult",
        "variableName" : "createSavingsPlanResult",
        "variableType" : "CreateSavingsPlanResult",
        "documentation" : null,
        "simpleType" : "CreateSavingsPlanResult",
        "variableSetterType" : "CreateSavingsPlanResult"
      },
      "wrapper" : false
    },
    "CurrencyCode" : {
      "c2jName" : "CurrencyCode",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CNY",
        "value" : "CNY"
      }, {
        "name" : "USD",
        "value" : "USD"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CurrencyCode",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CurrencyCode",
        "variableName" : "currencyCode",
        "variableType" : "CurrencyCode",
        "documentation" : null,
        "simpleType" : "CurrencyCode",
        "variableSetterType" : "CurrencyCode"
      },
      "wrapper" : false
    },
    "DescribeSavingsPlanRatesRequest" : {
      "c2jName" : "DescribeSavingsPlanRatesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeSavingsPlanRates",
        "locationName" : null,
        "requestUri" : "/DescribeSavingsPlanRates",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "savingsPlanId",
        "c2jShape" : "SavingsPlanId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the Savings Plan.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@param savingsPlanId The ID of the Savings Plan.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSavingsPlanId",
        "getterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@return The ID of the Savings Plan.*/",
        "getterMethodName" : "getSavingsPlanId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "savingsPlanId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "savingsPlanId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SavingsPlanId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@param savingsPlanId The ID of the Savings Plan.*/",
        "setterMethodName" : "setSavingsPlanId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "savingsPlanId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the Savings Plan.</p>\n@param savingsPlanId The ID of the Savings Plan.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "savingsPlanId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the Savings Plan.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "filters",
        "c2jShape" : "SavingsPlanRateFilterList",
        "deprecated" : false,
        "documentation" : "<p>The filters.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The filters.</p>\n@param filters The filters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFilters",
        "getterDocumentation" : "/**<p>The filters.</p>\n@return The filters.*/",
        "getterMethodName" : "getFilters",
        "getterModel" : {
          "returnType" : "java.util.List<SavingsPlanRateFilter>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "filters",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "filters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "SavingsPlanRateFilter",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "SavingsPlanRateFilter",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "SavingsPlanRateFilter",
              "variableName" : "member",
              "variableType" : "SavingsPlanRateFilter",
              "documentation" : "",
              "simpleType" : "SavingsPlanRateFilter",
              "variableSetterType" : "SavingsPlanRateFilter"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "SavingsPlanRateFilter",
              "variableName" : "member",
              "variableType" : "SavingsPlanRateFilter",
              "documentation" : "",
              "simpleType" : "SavingsPlanRateFilter",
              "variableSetterType" : "SavingsPlanRateFilter"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "SavingsPlanRateFilter",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "SavingsPlanRateFilter",
          "templateImplType" : "java.util.ArrayList<SavingsPlanRateFilter>",
          "templateType" : "java.util.List<SavingsPlanRateFilter>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Filters",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The filters.</p>\n@param filters The filters.*/",
        "setterMethodName" : "setFilters",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<SavingsPlanRateFilter>",
          "variableName" : "filters",
          "variableType" : "java.util.List<SavingsPlanRateFilter>",
          "documentation" : "",
          "simpleType" : "List<SavingsPlanRateFilter>",
          "variableSetterType" : "java.util.Collection<SavingsPlanRateFilter>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The filters.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFilters(java.util.Collection)} or {@link #withFilters(java.util.Collection)} if you want to override the existing values.</p>\n@param filters The filters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<SavingsPlanRateFilter>",
          "variableName" : "filters",
          "variableType" : "java.util.List<SavingsPlanRateFilter>",
          "documentation" : "<p>The filters.</p>",
          "simpleType" : "List<SavingsPlanRateFilter>",
          "variableSetterType" : "java.util.Collection<SavingsPlanRateFilter>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "nextToken",
        "c2jShape" : "PaginationToken",
        "deprecated" : false,
        "documentation" : "<p>The token for the next page of results.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The token for the next page of results.</p>\n@param nextToken The token for the next page of results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNextToken",
        "getterDocumentation" : "/**<p>The token for the next page of results.</p>\n@return The token for the next page of results.*/",
        "getterMethodName" : "getNextToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "nextToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "nextToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NextToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The token for the next page of results.</p>\n@param nextToken The token for the next page of results.*/",
        "setterMethodName" : "setNextToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The token for the next page of results.</p>\n@param nextToken The token for the next page of results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "<p>The token for the next page of results.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "maxResults",
        "c2jShape" : "MaxResults",
        "deprecated" : false,
        "documentation" : "<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>\n@param maxResults The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaxResults",
        "getterDocumentation" : "/**<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>\n@return The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.*/",
        "getterMethodName" : "getMaxResults",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "maxResults",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "maxResults",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MaxResults",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>\n@param maxResults The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.*/",
        "setterMethodName" : "setMaxResults",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxResults",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>\n@param maxResults The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxResults",
          "variableType" : "Integer",
          "documentation" : "<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Filters" : {
          "c2jName" : "filters",
          "c2jShape" : "SavingsPlanRateFilterList",
          "deprecated" : false,
          "documentation" : "<p>The filters.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The filters.</p>\n@param filters The filters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFilters",
          "getterDocumentation" : "/**<p>The filters.</p>\n@return The filters.*/",
          "getterMethodName" : "getFilters",
          "getterModel" : {
            "returnType" : "java.util.List<SavingsPlanRateFilter>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "filters",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "filters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "SavingsPlanRateFilter",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "SavingsPlanRateFilter",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "SavingsPlanRateFilter",
                "variableName" : "member",
                "variableType" : "SavingsPlanRateFilter",
                "documentation" : "",
                "simpleType" : "SavingsPlanRateFilter",
                "variableSetterType" : "SavingsPlanRateFilter"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "SavingsPlanRateFilter",
                "variableName" : "member",
                "variableType" : "SavingsPlanRateFilter",
                "documentation" : "",
                "simpleType" : "SavingsPlanRateFilter",
                "variableSetterType" : "SavingsPlanRateFilter"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "SavingsPlanRateFilter",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "SavingsPlanRateFilter",
            "templateImplType" : "java.util.ArrayList<SavingsPlanRateFilter>",
            "templateType" : "java.util.List<SavingsPlanRateFilter>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Filters",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The filters.</p>\n@param filters The filters.*/",
          "setterMethodName" : "setFilters",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<SavingsPlanRateFilter>",
            "variableName" : "filters",
            "variableType" : "java.util.List<SavingsPlanRateFilter>",
            "documentation" : "",
            "simpleType" : "List<SavingsPlanRateFilter>",
            "variableSetterType" : "java.util.Collection<SavingsPlanRateFilter>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The filters.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFilters(java.util.Collection)} or {@link #withFilters(java.util.Collection)} if you want to override the existing values.</p>\n@param filters The filters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<SavingsPlanRateFilter>",
            "variableName" : "filters",
            "variableType" : "java.util.List<SavingsPlanRateFilter>",
            "documentation" : "<p>The filters.</p>",
            "simpleType" : "List<SavingsPlanRateFilter>",
            "variableSetterType" : "java.util.Collection<SavingsPlanRateFilter>"
          },
          "xmlNameSpaceUri" : null
        },
        "MaxResults" : {
          "c2jName" : "maxResults",
          "c2jShape" : "MaxResults",
          "deprecated" : false,
          "documentation" : "<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>\n@param maxResults The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMaxResults",
          "getterDocumentation" : "/**<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>\n@return The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.*/",
          "getterMethodName" : "getMaxResults",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "maxResults",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "maxResults",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "MaxResults",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>\n@param maxResults The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.*/",
          "setterMethodName" : "setMaxResults",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maxResults",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
[...]
