{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-12-02",
    "asyncClient" : "AWSSchemasAsyncClient",
    "asyncClientBuilderClassName" : "AWSSchemasAsyncClientBuilder",
    "asyncInterface" : "AWSSchemasAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSSchemasModuleInjector",
    "defaultEndpoint" : "schemas.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "schemas.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS EventBridge Schemas</p>",
    "endpointPrefix" : "schemas",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.schemas",
    "packagePath" : "com/amazonaws/services/schemas",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Schemas",
    "serviceId" : "schemas",
    "serviceName" : "Schemas",
    "signingName" : "schemas",
    "smokeTestsPackageName" : "com.amazonaws.services.schemas.smoketests",
    "syncClient" : "AWSSchemasClient",
    "syncClientBuilderClassName" : "AWSSchemasClientBuilder",
    "syncInterface" : "AWSSchemas",
    "uid" : "schemas-2019-12-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDiscoverer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDiscovererResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDiscovererResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDiscovererRequest, CreateDiscovererResult>",
      "asyncReturnType" : "CreateDiscovererResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a discoverer.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDiscovererRequest",
        "variableName" : "createDiscovererRequest",
        "variableType" : "CreateDiscovererRequest",
        "documentation" : "",
        "simpleType" : "CreateDiscovererRequest",
        "variableSetterType" : "CreateDiscovererRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDiscoverer",
      "operationName" : "CreateDiscoverer",
      "returnType" : {
        "returnType" : "CreateDiscovererResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDiscovererResult"
    },
    "CreateRegistry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRegistryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRegistryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRegistryRequest, CreateRegistryResult>",
      "asyncReturnType" : "CreateRegistryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a registry.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRegistryRequest",
        "variableName" : "createRegistryRequest",
        "variableType" : "CreateRegistryRequest",
        "documentation" : "",
        "simpleType" : "CreateRegistryRequest",
        "variableSetterType" : "CreateRegistryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRegistry",
      "operationName" : "CreateRegistry",
      "returnType" : {
        "returnType" : "CreateRegistryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRegistryResult"
    },
    "CreateSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSchemaRequest, CreateSchemaResult>",
      "asyncReturnType" : "CreateSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a schema definition.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSchemaRequest",
        "variableName" : "createSchemaRequest",
        "variableType" : "CreateSchemaRequest",
        "documentation" : "",
        "simpleType" : "CreateSchemaRequest",
        "variableSetterType" : "CreateSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSchema",
      "operationName" : "CreateSchema",
      "returnType" : {
        "returnType" : "CreateSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSchemaResult"
    },
    "DeleteDiscoverer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDiscovererResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDiscovererResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDiscovererRequest, DeleteDiscovererResult>",
      "asyncReturnType" : "DeleteDiscovererResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a discoverer.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDiscovererRequest",
        "variableName" : "deleteDiscovererRequest",
        "variableType" : "DeleteDiscovererRequest",
        "documentation" : "",
        "simpleType" : "DeleteDiscovererRequest",
        "variableSetterType" : "DeleteDiscovererRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDiscoverer",
      "operationName" : "DeleteDiscoverer",
      "returnType" : {
        "returnType" : "DeleteDiscovererResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDiscovererResult"
    },
    "DeleteRegistry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRegistryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRegistryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRegistryRequest, DeleteRegistryResult>",
      "asyncReturnType" : "DeleteRegistryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Registry.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRegistryRequest",
        "variableName" : "deleteRegistryRequest",
        "variableType" : "DeleteRegistryRequest",
        "documentation" : "",
        "simpleType" : "DeleteRegistryRequest",
        "variableSetterType" : "DeleteRegistryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRegistry",
      "operationName" : "DeleteRegistry",
      "returnType" : {
        "returnType" : "DeleteRegistryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRegistryResult"
    },
    "DeleteSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSchemaRequest, DeleteSchemaResult>",
      "asyncReturnType" : "DeleteSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a schema definition.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSchemaRequest",
        "variableName" : "deleteSchemaRequest",
        "variableType" : "DeleteSchemaRequest",
        "documentation" : "",
        "simpleType" : "DeleteSchemaRequest",
        "variableSetterType" : "DeleteSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSchema",
      "operationName" : "DeleteSchema",
      "returnType" : {
        "returnType" : "DeleteSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSchemaResult"
    },
    "DeleteSchemaVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSchemaVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSchemaVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSchemaVersionRequest, DeleteSchemaVersionResult>",
      "asyncReturnType" : "DeleteSchemaVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete the schema version definition</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSchemaVersionRequest",
        "variableName" : "deleteSchemaVersionRequest",
        "variableType" : "DeleteSchemaVersionRequest",
        "documentation" : "",
        "simpleType" : "DeleteSchemaVersionRequest",
        "variableSetterType" : "DeleteSchemaVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSchemaVersion",
      "operationName" : "DeleteSchemaVersion",
      "returnType" : {
        "returnType" : "DeleteSchemaVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSchemaVersionResult"
    },
    "DescribeCodeBinding" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCodeBindingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCodeBindingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCodeBindingRequest, DescribeCodeBindingResult>",
      "asyncReturnType" : "DescribeCodeBindingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describe the code binding URI.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null,
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCodeBindingRequest",
        "variableName" : "describeCodeBindingRequest",
        "variableType" : "DescribeCodeBindingRequest",
        "documentation" : "",
        "simpleType" : "DescribeCodeBindingRequest",
        "variableSetterType" : "DescribeCodeBindingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCodeBinding",
      "operationName" : "DescribeCodeBinding",
      "returnType" : {
        "returnType" : "DescribeCodeBindingResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCodeBindingResult"
    },
    "DescribeDiscoverer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDiscovererResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDiscovererResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDiscovererRequest, DescribeDiscovererResult>",
      "asyncReturnType" : "DescribeDiscovererResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the discoverer.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDiscovererRequest",
        "variableName" : "describeDiscovererRequest",
        "variableType" : "DescribeDiscovererRequest",
        "documentation" : "",
        "simpleType" : "DescribeDiscovererRequest",
        "variableSetterType" : "DescribeDiscovererRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDiscoverer",
      "operationName" : "DescribeDiscoverer",
      "returnType" : {
        "returnType" : "DescribeDiscovererResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDiscovererResult"
    },
    "DescribeRegistry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRegistryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRegistryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRegistryRequest, DescribeRegistryResult>",
      "asyncReturnType" : "DescribeRegistryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the registry.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRegistryRequest",
        "variableName" : "describeRegistryRequest",
        "variableType" : "DescribeRegistryRequest",
        "documentation" : "",
        "simpleType" : "DescribeRegistryRequest",
        "variableSetterType" : "DescribeRegistryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRegistry",
      "operationName" : "DescribeRegistry",
      "returnType" : {
        "returnType" : "DescribeRegistryResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRegistryResult"
    },
    "DescribeSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSchemaRequest, DescribeSchemaResult>",
      "asyncReturnType" : "DescribeSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve the schema definition.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSchemaRequest",
        "variableName" : "describeSchemaRequest",
        "variableType" : "DescribeSchemaRequest",
        "documentation" : "",
        "simpleType" : "DescribeSchemaRequest",
        "variableSetterType" : "DescribeSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSchema",
      "operationName" : "DescribeSchema",
      "returnType" : {
        "returnType" : "DescribeSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSchemaResult"
    },
    "GetCodeBindingSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCodeBindingSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCodeBindingSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCodeBindingSourceRequest, GetCodeBindingSourceResult>",
      "asyncReturnType" : "GetCodeBindingSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the code binding source URI.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null,
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCodeBindingSourceRequest",
        "variableName" : "getCodeBindingSourceRequest",
        "variableType" : "GetCodeBindingSourceRequest",
        "documentation" : "",
        "simpleType" : "GetCodeBindingSourceRequest",
        "variableSetterType" : "GetCodeBindingSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCodeBindingSource",
      "operationName" : "GetCodeBindingSource",
      "returnType" : {
        "returnType" : "GetCodeBindingSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCodeBindingSourceResult"
    },
    "GetDiscoveredSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDiscoveredSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDiscoveredSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDiscoveredSchemaRequest, GetDiscoveredSchemaResult>",
      "asyncReturnType" : "GetDiscoveredSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the discovered schema that was generated based on sampled events.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDiscoveredSchemaRequest",
        "variableName" : "getDiscoveredSchemaRequest",
        "variableType" : "GetDiscoveredSchemaRequest",
        "documentation" : "",
        "simpleType" : "GetDiscoveredSchemaRequest",
        "variableSetterType" : "GetDiscoveredSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDiscoveredSchema",
      "operationName" : "GetDiscoveredSchema",
      "returnType" : {
        "returnType" : "GetDiscoveredSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDiscoveredSchemaResult"
    },
    "ListDiscoverers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDiscoverersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDiscoverersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDiscoverersRequest, ListDiscoverersResult>",
      "asyncReturnType" : "ListDiscoverersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the discoverers.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDiscoverersRequest",
        "variableName" : "listDiscoverersRequest",
        "variableType" : "ListDiscoverersRequest",
        "documentation" : "",
        "simpleType" : "ListDiscoverersRequest",
        "variableSetterType" : "ListDiscoverersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDiscoverers",
      "operationName" : "ListDiscoverers",
      "returnType" : {
        "returnType" : "ListDiscoverersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDiscoverersResult"
    },
    "ListRegistries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRegistriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRegistriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRegistriesRequest, ListRegistriesResult>",
      "asyncReturnType" : "ListRegistriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the registries.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRegistriesRequest",
        "variableName" : "listRegistriesRequest",
        "variableType" : "ListRegistriesRequest",
        "documentation" : "",
        "simpleType" : "ListRegistriesRequest",
        "variableSetterType" : "ListRegistriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRegistries",
      "operationName" : "ListRegistries",
      "returnType" : {
        "returnType" : "ListRegistriesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRegistriesResult"
    },
    "ListSchemaVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSchemaVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSchemaVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSchemaVersionsRequest, ListSchemaVersionsResult>",
      "asyncReturnType" : "ListSchemaVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of the schema versions and related information.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSchemaVersionsRequest",
        "variableName" : "listSchemaVersionsRequest",
        "variableType" : "ListSchemaVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListSchemaVersionsRequest",
        "variableSetterType" : "ListSchemaVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSchemaVersions",
      "operationName" : "ListSchemaVersions",
      "returnType" : {
        "returnType" : "ListSchemaVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSchemaVersionsResult"
    },
    "ListSchemas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSchemasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSchemasRequest, ListSchemasResult>",
      "asyncReturnType" : "ListSchemasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the schemas.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSchemasRequest",
        "variableName" : "listSchemasRequest",
        "variableType" : "ListSchemasRequest",
        "documentation" : "",
        "simpleType" : "ListSchemasRequest",
        "variableSetterType" : "ListSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSchemas",
      "operationName" : "ListSchemas",
      "returnType" : {
        "returnType" : "ListSchemasResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSchemasResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get tags for resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "LockServiceLinkedRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<LockServiceLinkedRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<LockServiceLinkedRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<LockServiceLinkedRoleRequest, LockServiceLinkedRoleResult>",
      "asyncReturnType" : "LockServiceLinkedRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "LockServiceLinkedRoleRequest",
        "variableName" : "lockServiceLinkedRoleRequest",
        "variableType" : "LockServiceLinkedRoleRequest",
        "documentation" : "",
        "simpleType" : "LockServiceLinkedRoleRequest",
        "variableSetterType" : "LockServiceLinkedRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "lockServiceLinkedRole",
      "operationName" : "LockServiceLinkedRole",
      "returnType" : {
        "returnType" : "LockServiceLinkedRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "LockServiceLinkedRoleResult"
    },
    "PutCodeBinding" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutCodeBindingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutCodeBindingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutCodeBindingRequest, PutCodeBindingResult>",
      "asyncReturnType" : "PutCodeBindingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Put code binding URI</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "GoneException",
        "documentation" : null,
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : null,
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutCodeBindingRequest",
        "variableName" : "putCodeBindingRequest",
        "variableType" : "PutCodeBindingRequest",
        "documentation" : "",
        "simpleType" : "PutCodeBindingRequest",
        "variableSetterType" : "PutCodeBindingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putCodeBinding",
      "operationName" : "PutCodeBinding",
      "returnType" : {
        "returnType" : "PutCodeBindingResult",
        "documentation" : null
      },
      "syncReturnType" : "PutCodeBindingResult"
    },
    "SearchSchemas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchSchemasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchSchemasRequest, SearchSchemasResult>",
      "asyncReturnType" : "SearchSchemasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Search the schemas</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchSchemasRequest",
        "variableName" : "searchSchemasRequest",
        "variableType" : "SearchSchemasRequest",
        "documentation" : "",
        "simpleType" : "SearchSchemasRequest",
        "variableSetterType" : "SearchSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchSchemas",
      "operationName" : "SearchSchemas",
      "returnType" : {
        "returnType" : "SearchSchemasResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchSchemasResult"
    },
    "StartDiscoverer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDiscovererResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDiscovererResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDiscovererRequest, StartDiscovererResult>",
      "asyncReturnType" : "StartDiscovererResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the discoverer</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDiscovererRequest",
        "variableName" : "startDiscovererRequest",
        "variableType" : "StartDiscovererRequest",
        "documentation" : "",
        "simpleType" : "StartDiscovererRequest",
        "variableSetterType" : "StartDiscovererRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDiscoverer",
      "operationName" : "StartDiscoverer",
      "returnType" : {
        "returnType" : "StartDiscovererResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDiscovererResult"
    },
    "StopDiscoverer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopDiscovererResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopDiscovererResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDiscovererRequest, StopDiscovererResult>",
      "asyncReturnType" : "StopDiscovererResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the discoverer</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopDiscovererRequest",
        "variableName" : "stopDiscovererRequest",
        "variableType" : "StopDiscovererRequest",
        "documentation" : "",
        "simpleType" : "StopDiscovererRequest",
        "variableSetterType" : "StopDiscovererRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopDiscoverer",
      "operationName" : "StopDiscoverer",
      "returnType" : {
        "returnType" : "StopDiscovererResult",
        "documentation" : null
      },
      "syncReturnType" : "StopDiscovererResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add tags to a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UnlockServiceLinkedRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnlockServiceLinkedRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnlockServiceLinkedRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnlockServiceLinkedRoleRequest, UnlockServiceLinkedRoleResult>",
      "asyncReturnType" : "UnlockServiceLinkedRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UnlockServiceLinkedRoleRequest",
        "variableName" : "unlockServiceLinkedRoleRequest",
        "variableType" : "UnlockServiceLinkedRoleRequest",
        "documentation" : "",
        "simpleType" : "UnlockServiceLinkedRoleRequest",
        "variableSetterType" : "UnlockServiceLinkedRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unlockServiceLinkedRole",
      "operationName" : "UnlockServiceLinkedRole",
      "returnType" : {
        "returnType" : "UnlockServiceLinkedRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "UnlockServiceLinkedRoleResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDiscoverer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDiscovererResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDiscovererResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDiscovererRequest, UpdateDiscovererResult>",
      "asyncReturnType" : "UpdateDiscovererResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the discoverer</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDiscovererRequest",
        "variableName" : "updateDiscovererRequest",
        "variableType" : "UpdateDiscovererRequest",
        "documentation" : "",
        "simpleType" : "UpdateDiscovererRequest",
        "variableSetterType" : "UpdateDiscovererRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDiscoverer",
      "operationName" : "UpdateDiscoverer",
      "returnType" : {
        "returnType" : "UpdateDiscovererResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDiscovererResult"
    },
    "UpdateRegistry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRegistryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRegistryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRegistryRequest, UpdateRegistryResult>",
      "asyncReturnType" : "UpdateRegistryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a registry.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : null,
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRegistryRequest",
        "variableName" : "updateRegistryRequest",
        "variableType" : "UpdateRegistryRequest",
        "documentation" : "",
        "simpleType" : "UpdateRegistryRequest",
        "variableSetterType" : "UpdateRegistryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRegistry",
      "operationName" : "UpdateRegistry",
      "returnType" : {
        "returnType" : "UpdateRegistryResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRegistryResult"
    },
    "UpdateSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSchemaRequest, UpdateSchemaResult>",
      "asyncReturnType" : "UpdateSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the schema definition</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : null,
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSchemaRequest",
        "variableName" : "updateSchemaRequest",
        "variableType" : "UpdateSchemaRequest",
        "documentation" : "",
        "simpleType" : "UpdateSchemaRequest",
        "variableSetterType" : "UpdateSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSchema",
      "operationName" : "UpdateSchema",
      "returnType" : {
        "returnType" : "UpdateSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSchemaResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Code",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The error code.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**<p>The error code.</p>\n@return The error code.*/",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.*/",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "<p>The error code.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "Code",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The error code.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**<p>The error code.</p>\n@return The error code.*/",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.*/",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "<p>The error code.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message", "Code" ],
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "CodeGenerationStatus" : {
      "c2jName" : "CodeGenerationStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CREATE_IN_PROGRESS",
        "value" : "CREATE_IN_PROGRESS"
      }, {
        "name" : "CREATE_COMPLETE",
        "value" : "CREATE_COMPLETE"
      }, {
        "name" : "CREATE_FAILED",
        "value" : "CREATE_FAILED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CodeGenerationStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CodeGenerationStatus",
        "variableName" : "codeGenerationStatus",
        "variableType" : "CodeGenerationStatus",
        "documentation" : null,
        "simpleType" : "CodeGenerationStatus",
        "variableSetterType" : "CodeGenerationStatus"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : "ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Code",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The error code.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**<p>The error code.</p>\n@return The error code.*/",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.*/",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "<p>The error code.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "Code",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The error code.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**<p>The error code.</p>\n@return The error code.*/",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.*/",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The error code.</p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "<p>The error code.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message", "Code" ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateDiscovererRequest" : {
      "c2jName" : "CreateDiscovererRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateDiscoverer",
        "locationName" : null,
        "requestUri" : "/v1/discoverers",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Description",
        "c2jShape" : "__stringMin0Max256",
        "deprecated" : false,
        "documentation" : "<p>A description for the discoverer.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description for the discoverer.</p>\n@param description A description for the discoverer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A description for the discoverer.</p>\n@return A description for the discoverer.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description for the discoverer.</p>\n@param description A description for the discoverer.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description for the discoverer.</p>\n@param description A description for the discoverer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A description for the discoverer.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SourceArn",
        "c2jShape" : "__stringMin20Max1600",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the event bus.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the event bus.</p>\n@param sourceArn The ARN of the event bus.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSourceArn",
        "getterDocumentation" : "/**<p>The ARN of the event bus.</p>\n@return The ARN of the event bus.*/",
        "getterMethodName" : "getSourceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SourceArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SourceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the event bus.</p>\n@param sourceArn The ARN of the event bus.*/",
        "setterMethodName" : "setSourceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the event bus.</p>\n@param sourceArn The ARN of the event bus.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sourceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the event bus.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "Tags",
        "deprecated" : false,
        "documentation" : "<p>Tags associated with the resource.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Tags associated with the resource.</p>\n@param tags Tags associated with the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>Tags associated with the resource.</p>\n@return Tags associated with the resource.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Tags associated with the resource.</p>\n@param tags Tags associated with the resource.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Tags associated with the resource.</p>\n@param tags Tags associated with the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>Tags associated with the resource.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "__stringMin0Max256",
          "deprecated" : false,
          "documentation" : "<p>A description for the discoverer.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description for the discoverer.</p>\n@param description A description for the discoverer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A description for the discoverer.</p>\n@return A description for the discoverer.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A description for the discoverer.</p>\n@param description A description for the discoverer.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description for the discoverer.</p>\n@param description A description for the discoverer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A description for the discoverer.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SourceArn" : {
          "c2jName" : "SourceArn",
          "c2jShape" : "__stringMin20Max1600",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the event bus.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the event bus.</p>\n@param sourceArn The ARN of the event bus.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSourceArn",
          "getterDocumentation" : "/**<p>The ARN of the event bus.</p>\n@return The ARN of the event bus.*/",
          "getterMethodName" : "getSourceArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SourceArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SourceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SourceArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the event bus.</p>\n@param sourceArn The ARN of the event bus.*/",
          "setterMethodName" : "setSourceArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the event bus.</p>\n@param sourceArn The ARN of the event bus.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sourceArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the event bus.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "Tags",
          "deprecated" : false,
          "documentation" : "<p>Tags associated with the resource.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Tags associated with the resource.</p>\n@param tags Tags associated with the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>Tags associated with the resource.</p>\n@return Tags associated with the resource.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "tags",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "__string",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
[...]
