{
  "customizationConfig" : {
    "additionalShapeConstructors" : {
      "Attribute" : {
        "constructorForms" : [ [ "Name", "Value" ] ]
      },
      "BatchDeleteAttributesRequest" : {
        "constructorForms" : [ [ "DomainName", "Items" ] ]
      },
      "BatchPutAttributesRequest" : {
        "constructorForms" : [ [ "DomainName", "Items" ] ]
      },
      "CreateDomainRequest" : {
        "constructorForms" : [ [ "DomainName" ] ]
      },
      "DeletableItem" : {
        "constructorForms" : [ [ "Name", "Attributes" ] ]
      },
      "DeleteAttributesRequest" : {
        "constructorForms" : [ [ "DomainName", "ItemName" ], [ "DomainName", "ItemName", "Attributes" ], [ "DomainName", "ItemName", "Attributes", "Expected" ] ]
      },
      "DeleteDomainRequest" : {
        "constructorForms" : [ [ "DomainName" ] ]
      },
      "DomainMetadataRequest" : {
        "constructorForms" : [ [ "DomainName" ] ]
      },
      "GetAttributesRequest" : {
        "constructorForms" : [ [ "DomainName", "ItemName" ] ]
      },
      "Item" : {
        "constructorForms" : [ [ "Name", "Attributes" ] ]
      },
      "PutAttributesRequest" : {
        "constructorForms" : [ [ "DomainName", "ItemName", "Attributes" ], [ "DomainName", "ItemName", "Attributes", "Expected" ] ]
      },
      "ReplaceableAttribute" : {
        "constructorForms" : [ [ "Name", "Value", "Replace" ] ]
      },
      "ReplaceableItem" : {
        "constructorForms" : [ [ "Name" ], [ "Name", "Attributes" ] ]
      },
      "SelectRequest" : {
        "constructorForms" : [ [ "SelectExpression" ], [ "SelectExpression", "ConsistentRead" ] ]
      },
      "UpdateCondition" : {
        "constructorForms" : [ [ "Name", "Value", "Exists" ] ]
      }
    },
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : "SimpleDB",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : "LegacyErrorUnmarshaller",
    "customFileHeader" : null,
    "customResponseMetadataClassName" : "com.amazonaws.services.simpledb.SimpleDBResponseMetadata",
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "Attribute" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "AlternateNameEncoding" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : null,
            "marshallLocationName" : null,
            "unmarshallLocationName" : "Name/@encoding"
          }
        }, {
          "AlternateValueEncoding" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : null,
            "marshallLocationName" : null,
            "unmarshallLocationName" : "Value/@encoding"
          }
        } ]
      },
      "Item" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "AlternateNameEncoding" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : null,
            "marshallLocationName" : null,
            "unmarshallLocationName" : "Name/@encoding"
          }
        } ]
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "ListDomains" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : true,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true
  },
  "metadata" : {
    "apiVersion" : "2009-04-15",
    "asyncClient" : "AmazonSimpleDBAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSimpleDBAsyncClientBuilder",
    "asyncInterface" : "AmazonSimpleDBAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonSimpleDBModuleInjector",
    "defaultEndpoint" : "sdb.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sdb.amazonaws.com",
    "documentation" : "Amazon SimpleDB is a web service providing the core database functions of data indexing and querying in the cloud. By offloading the time and effort associated with building and operating a web-scale database, SimpleDB provides developers the freedom to focus on application development. <p> A traditional, clustered relational database requires a sizable upfront capital outlay, is complex to design, and often requires extensive and repetitive database administration. Amazon SimpleDB is dramatically simpler, requiring no schema, automatically indexing your data and providing a simple API for storage and access. This approach eliminates the administrative burden of data modeling, index maintenance, and performance tuning. Developers gain access to this functionality within Amazon's proven computing environment, are able to scale instantly, and pay only for what they use. </p> <p> Visit <a href=\"http://aws.amazon.com/simpledb/\">http://aws.amazon.com/simpledb/</a> for more information. </p>",
    "endpointPrefix" : "sdb",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.simpledb",
    "packagePath" : "com/amazonaws/services/simpledb",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon SimpleDB",
    "serviceName" : "Amazon SimpleDB",
    "signingName" : "sdb",
    "smokeTestsPackageName" : "com.amazonaws.services.simpledb.smoketests",
    "syncClient" : "AmazonSimpleDBClient",
    "syncClientBuilderClassName" : "AmazonSimpleDBClientBuilder",
    "syncInterface" : "AmazonSimpleDB",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "BatchDeleteAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteAttributesRequest, BatchDeleteAttributesResult>",
      "asyncReturnType" : "BatchDeleteAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Performs multiple DeleteAttributes operations in a single call, which reduces round trips and latencies. This enables Amazon SimpleDB to optimize requests, which generally yields better throughput. </p> <p> The following limitations are enforced for this operation: <ul> <li>1 MB request size</li> <li>25 item limit per BatchDeleteAttributes operation</li> </ul> </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDeleteAttributesRequest",
        "variableName" : "batchDeleteAttributesRequest",
        "variableType" : "BatchDeleteAttributesRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteAttributesRequest",
        "variableSetterType" : "BatchDeleteAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteAttributes",
      "operationName" : "BatchDeleteAttributes",
      "returnType" : {
        "returnType" : "BatchDeleteAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteAttributesResult"
    },
    "BatchPutAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchPutAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchPutAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchPutAttributesRequest, BatchPutAttributesResult>",
      "asyncReturnType" : "BatchPutAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>BatchPutAttributes</code> operation creates or replaces attributes within one or more items. By using this operation, the client can perform multiple <a>PutAttribute</a> operation with a single call. This helps yield savings in round trips and latencies, enabling Amazon SimpleDB to optimize requests and generally produce better throughput. </p> <p> The client may specify the item name with the <code>Item.X.ItemName</code> parameter. The client may specify new attributes using a combination of the <code>Item.X.Attribute.Y.Name</code> and <code>Item.X.Attribute.Y.Value</code> parameters. The client may specify the first attribute for the first item using the parameters <code>Item.0.Attribute.0.Name</code> and <code>Item.0.Attribute.0.Value</code>, and for the second attribute for the first item by the parameters <code>Item.0.Attribute.1.Name</code> and <code>Item.0.Attribute.1.Value</code>, and so on. </p> <p> Attributes are uniquely identified within an item by their name/value combination. For example, a single item can have the attributes <code>{ \"first_name\", \"first_value\" }</code> and <code>{ \"first_name\", \"second_value\" }</code>. However, it cannot have two attribute instances where both the <code>Item.X.Attribute.Y.Name</code> and <code>Item.X.Attribute.Y.Value</code> are the same. </p> <p> Optionally, the requester can supply the <code>Replace</code> parameter for each individual value. Setting this value to <code>true</code> will cause the new attribute values to replace the existing attribute values. For example, if an item <code>I</code> has the attributes <code>{ 'a', '1' }, { 'b', '2'}</code> and <code>{ 'b', '3' }</code> and the requester does a BatchPutAttributes of <code>{'I', 'b', '4' }</code> with the Replace parameter set to true, the final attributes of the item will be <code>{ 'a', '1' }</code> and <code>{ 'b', '4' }</code>, replacing the previous values of the 'b' attribute with the new value. </p> <important> This operation is vulnerable to exceeding the maximum URL size when making a REST request using the HTTP GET method. This operation does not support conditions using <code>Expected.X.Name</code>, <code>Expected.X.Value</code>, or <code>Expected.X.Exists</code>. </important> <p> You can execute multiple <code>BatchPutAttributes</code> operations and other operations in parallel. However, large numbers of concurrent <code>BatchPutAttributes</code> calls can result in Service Unavailable (503) responses. </p> <p> The following limitations are enforced for this operation: <ul> <li>256 attribute name-value pairs per item</li> <li>1 MB request size</li> <li>1 billion attributes per domain</li> <li>10 GB of total user data storage per domain</li> <li>25 item limit per <code>BatchPutAttributes</code> operation</li> </ul> </p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateItemNameException",
        "documentation" : "<p>The item name was specified more than once. </p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>The request must contain the specified missing parameter.</p>"
      }, {
        "exceptionName" : "NoSuchDomainException",
        "documentation" : "<p>The specified domain does not exist.</p>"
      }, {
        "exceptionName" : "NumberItemAttributesExceededException",
        "documentation" : "<p>Too many attributes in this item.</p>"
      }, {
        "exceptionName" : "NumberDomainAttributesExceededException",
        "documentation" : "<p>Too many attributes in this domain.</p>"
      }, {
        "exceptionName" : "NumberDomainBytesExceededException",
        "documentation" : "<p>Too many bytes in this domain.</p>"
      }, {
        "exceptionName" : "NumberSubmittedItemsExceededException",
        "documentation" : "<p>Too many items exist in a single call.</p>"
      }, {
        "exceptionName" : "NumberSubmittedAttributesExceededException",
        "documentation" : "<p>Too many attributes exist in a single call.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchPutAttributesRequest",
        "variableName" : "batchPutAttributesRequest",
        "variableType" : "BatchPutAttributesRequest",
        "documentation" : "",
        "simpleType" : "BatchPutAttributesRequest",
        "variableSetterType" : "BatchPutAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchPutAttributes",
      "operationName" : "BatchPutAttributes",
      "returnType" : {
        "returnType" : "BatchPutAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchPutAttributesResult"
    },
    "CreateDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainRequest, CreateDomainResult>",
      "asyncReturnType" : "CreateDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>CreateDomain</code> operation creates a new domain. The domain name should be unique among the domains associated with the Access Key ID provided in the request. The <code>CreateDomain</code> operation may take 10 or more seconds to complete. </p> <p> The client can create up to 100 domains per account. </p> <p> If the client requires additional domains, go to <a href=\"http://aws.amazon.com/contact-us/simpledb-limit-request/\"> http://aws.amazon.com/contact-us/simpledb-limit-request/</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>The request must contain the specified missing parameter.</p>"
      }, {
        "exceptionName" : "NumberDomainsExceededException",
        "documentation" : "<p>Too many domains exist per this account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDomainRequest",
        "variableName" : "createDomainRequest",
        "variableType" : "CreateDomainRequest",
        "documentation" : "",
        "simpleType" : "CreateDomainRequest",
        "variableSetterType" : "CreateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDomain",
      "operationName" : "CreateDomain",
      "returnType" : {
        "returnType" : "CreateDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDomainResult"
    },
    "DeleteAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAttributesRequest, DeleteAttributesResult>",
      "asyncReturnType" : "DeleteAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes one or more attributes associated with an item. If all attributes of the item are deleted, the item is deleted. </p> <p> <code>DeleteAttributes</code> is an idempotent operation; running it multiple times on the same item or attribute does not result in an error response. </p> <p> Because Amazon SimpleDB makes multiple copies of item data and uses an eventual consistency update model, performing a <a>GetAttributes</a> or <a>Select</a> operation (read) immediately after a <code>DeleteAttributes</code> or <a>PutAttributes</a> operation (write) might not return updated item data. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>The request must contain the specified missing parameter.</p>"
      }, {
        "exceptionName" : "NoSuchDomainException",
        "documentation" : "<p>The specified domain does not exist.</p>"
      }, {
        "exceptionName" : "AttributeDoesNotExistException",
        "documentation" : "<p>The specified attribute does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteAttributesRequest",
        "variableName" : "deleteAttributesRequest",
        "variableType" : "DeleteAttributesRequest",
        "documentation" : "",
        "simpleType" : "DeleteAttributesRequest",
        "variableSetterType" : "DeleteAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAttributes",
      "operationName" : "DeleteAttributes",
      "returnType" : {
        "returnType" : "DeleteAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAttributesResult"
    },
    "DeleteDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainRequest, DeleteDomainResult>",
      "asyncReturnType" : "DeleteDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>DeleteDomain</code> operation deletes a domain. Any items (and their attributes) in the domain are deleted as well. The <code>DeleteDomain</code> operation might take 10 or more seconds to complete. </p>",
      "exceptions" : [ {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>The request must contain the specified missing parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDomainRequest",
        "variableName" : "deleteDomainRequest",
        "variableType" : "DeleteDomainRequest",
        "documentation" : "",
        "simpleType" : "DeleteDomainRequest",
        "variableSetterType" : "DeleteDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDomain",
      "operationName" : "DeleteDomain",
      "returnType" : {
        "returnType" : "DeleteDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDomainResult"
    },
    "DomainMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DomainMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DomainMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DomainMetadataRequest, DomainMetadataResult>",
      "asyncReturnType" : "DomainMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns information about the domain, including when the domain was created, the number of items and attributes in the domain, and the size of the attribute names and values. </p>",
      "exceptions" : [ {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>The request must contain the specified missing parameter.</p>"
      }, {
        "exceptionName" : "NoSuchDomainException",
        "documentation" : "<p>The specified domain does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DomainMetadataRequest",
        "variableName" : "domainMetadataRequest",
        "variableType" : "DomainMetadataRequest",
        "documentation" : "",
        "simpleType" : "DomainMetadataRequest",
        "variableSetterType" : "DomainMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "domainMetadata",
      "operationName" : "DomainMetadata",
      "returnType" : {
        "returnType" : "DomainMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "DomainMetadataResult"
    },
    "GetAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAttributesRequest, GetAttributesResult>",
      "asyncReturnType" : "GetAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns all of the attributes associated with the specified item. Optionally, the attributes returned can be limited to one or more attributes by specifying an attribute name parameter. </p> <p> If the item does not exist on the replica that was accessed for this operation, an empty set is returned. The system does not return an error as it cannot guarantee the item does not exist on other replicas. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>The request must contain the specified missing parameter.</p>"
      }, {
        "exceptionName" : "NoSuchDomainException",
        "documentation" : "<p>The specified domain does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetAttributesRequest",
        "variableName" : "getAttributesRequest",
        "variableType" : "GetAttributesRequest",
        "documentation" : "",
        "simpleType" : "GetAttributesRequest",
        "variableSetterType" : "GetAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAttributes",
      "operationName" : "GetAttributes",
      "returnType" : {
        "returnType" : "GetAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAttributesResult"
    },
    "ListDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainsRequest, ListDomainsResult>",
      "asyncReturnType" : "ListDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>ListDomains</code> operation lists all domains associated with the Access Key ID. It returns domain names up to the limit set by <a href=\"#MaxNumberOfDomains\">MaxNumberOfDomains</a>. A <a href=\"#NextToken\">NextToken</a> is returned if there are more than <code>MaxNumberOfDomains</code> domains. Calling <code>ListDomains</code> successive times with the <code>NextToken</code> provided by the operation returns up to <code>MaxNumberOfDomains</code> more domain names with each successive operation call. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified NextToken is not valid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDomainsRequest",
        "variableName" : "listDomainsRequest",
        "variableType" : "ListDomainsRequest",
        "documentation" : "",
        "simpleType" : "ListDomainsRequest",
        "variableSetterType" : "ListDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomains",
      "operationName" : "ListDomains",
      "returnType" : {
        "returnType" : "ListDomainsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDomainsResult"
    },
    "PutAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAttributesRequest, PutAttributesResult>",
      "asyncReturnType" : "PutAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The PutAttributes operation creates or replaces attributes in an item. The client may specify new attributes using a combination of the <code>Attribute.X.Name</code> and <code>Attribute.X.Value</code> parameters. The client specifies the first attribute by the parameters <code>Attribute.0.Name</code> and <code>Attribute.0.Value</code>, the second attribute by the parameters <code>Attribute.1.Name</code> and <code>Attribute.1.Value</code>, and so on. </p> <p> Attributes are uniquely identified in an item by their name/value combination. For example, a single item can have the attributes <code>{ \"first_name\", \"first_value\" }</code> and <code>{ \"first_name\", second_value\" }</code>. However, it cannot have two attribute instances where both the <code>Attribute.X.Name</code> and <code>Attribute.X.Value</code> are the same. </p> <p> Optionally, the requestor can supply the <code>Replace</code> parameter for each individual attribute. Setting this value to <code>true</code> causes the new attribute value to replace the existing attribute value(s). For example, if an item has the attributes <code>{ 'a', '1' }</code>, <code>{ 'b', '2'}</code> and <code>{ 'b', '3' }</code> and the requestor calls <code>PutAttributes</code> using the attributes <code>{ 'b', '4' }</code> with the <code>Replace</code> parameter set to true, the final attributes of the item are changed to <code>{ 'a', '1' }</code> and <code>{ 'b', '4' }</code>, which replaces the previous values of the 'b' attribute with the new value. </p> <p> You cannot specify an empty string as an attribute name. </p> <p> Because Amazon SimpleDB makes multiple copies of client data and uses an eventual consistency update model, an immediate <a>GetAttributes</a> or <a>Select</a> operation (read) immediately after a <a>PutAttributes</a> or <a>DeleteAttributes</a> operation (write) might not return the updated data. </p> <p> The following limitations are enforced for this operation: <ul> <li>256 total attribute name-value pairs per item</li> <li>One billion attributes per domain</li> <li>10 GB of total user data storage per domain</li> </ul> </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>The request must contain the specified missing parameter.</p>"
      }, {
        "exceptionName" : "NoSuchDomainException",
        "documentation" : "<p>The specified domain does not exist.</p>"
      }, {
        "exceptionName" : "NumberDomainAttributesExceededException",
        "documentation" : "<p>Too many attributes in this domain.</p>"
      }, {
        "exceptionName" : "NumberDomainBytesExceededException",
        "documentation" : "<p>Too many bytes in this domain.</p>"
      }, {
        "exceptionName" : "NumberItemAttributesExceededException",
        "documentation" : "<p>Too many attributes in this item.</p>"
      }, {
        "exceptionName" : "AttributeDoesNotExistException",
        "documentation" : "<p>The specified attribute does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutAttributesRequest",
        "variableName" : "putAttributesRequest",
        "variableType" : "PutAttributesRequest",
        "documentation" : "",
        "simpleType" : "PutAttributesRequest",
        "variableSetterType" : "PutAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAttributes",
      "operationName" : "PutAttributes",
      "returnType" : {
        "returnType" : "PutAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAttributesResult"
    },
    "Select" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SelectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SelectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SelectRequest, SelectResult>",
      "asyncReturnType" : "SelectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The <code>Select</code> operation returns a set of attributes for <code>ItemNames</code> that match the select expression. <code>Select</code> is similar to the standard SQL SELECT statement. </p> <p> The total size of the response cannot exceed 1 MB in total size. Amazon SimpleDB automatically adjusts the number of items returned per page to enforce this limit. For example, if the client asks to retrieve 2500 items, but each individual item is 10 kB in size, the system returns 100 items and an appropriate <code>NextToken</code> so the client can access the next page of results. </p> <p> For information on how to construct select expressions, see Using Select to Create Amazon SimpleDB Queries in the Developer Guide. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified NextToken is not valid. </p>"
      }, {
        "exceptionName" : "InvalidNumberPredicatesException",
        "documentation" : "<p>Too many predicates exist in the query expression.</p>"
      }, {
        "exceptionName" : "InvalidNumberValueTestsException",
        "documentation" : "<p>Too many predicates exist in the query expression.</p>"
      }, {
        "exceptionName" : "InvalidQueryExpressionException",
        "documentation" : "<p>The specified query expression syntax is not valid.</p>"
      }, {
        "exceptionName" : "MissingParameterException",
        "documentation" : "<p>The request must contain the specified missing parameter.</p>"
      }, {
        "exceptionName" : "NoSuchDomainException",
        "documentation" : "<p>The specified domain does not exist.</p>"
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>A timeout occurred when attempting to query the specified domain with specified query expression.</p>"
      }, {
        "exceptionName" : "TooManyRequestedAttributesException",
        "documentation" : "<p>Too many attributes requested.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SelectRequest",
        "variableName" : "selectRequest",
        "variableType" : "SelectRequest",
        "documentation" : "",
        "simpleType" : "SelectRequest",
        "variableSetterType" : "SelectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "select",
      "operationName" : "Select",
      "returnType" : {
        "returnType" : "SelectResult",
        "documentation" : null
      },
      "syncReturnType" : "SelectResult"
    }
  },
  "shapes" : {
    "Attribute" : {
      "c2jName" : "Attribute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p></p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "The name of the attribute.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The name of the attribute.\n@param name The name of the attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**The name of the attribute.\n@return The name of the attribute.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**The name of the attribute.\n@param name The name of the attribute.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**The name of the attribute.\n@param name The name of the attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "The name of the attribute.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AlternateNameEncoding",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p></p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p></p>\n@param alternateNameEncoding \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AlternateNameEncoding",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name/@encoding",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AlternateNameEncoding",
        "setterDocumentation" : "/**<p></p>\n@param alternateNameEncoding */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "alternateNameEncoding",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p></p>\n@param alternateNameEncoding \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "alternateNameEncoding",
          "variableType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Value",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "The value of the attribute.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The value of the attribute.\n@param value The value of the attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**The value of the attribute.\n@return The value of the attribute.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Value",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Value",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Value",
        "setterDocumentation" : "/**The value of the attribute.\n@param value The value of the attribute.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "value",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**The value of the attribute.\n@param value The value of the attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "value",
          "variableType" : "String",
          "documentation" : "The value of the attribute.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AlternateValueEncoding",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p></p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p></p>\n@param alternateValueEncoding \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p></p>\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AlternateValueEncoding",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Value/@encoding",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AlternateValueEncoding",
        "setterDocumentation" : "/**<p></p>\n@param alternateValueEncoding */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "alternateValueEncoding",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p></p>\n@param alternateValueEncoding \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "alternateValueEncoding",
          "variableType" : "String",
          "documentation" : "<p></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AlternateNameEncoding" : {
          "c2jName" : "AlternateNameEncoding",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p></p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p></p>\n@param alternateNameEncoding \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AlternateNameEncoding",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name/@encoding",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AlternateNameEncoding",
          "setterDocumentation" : "/**<p></p>\n@param alternateNameEncoding */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "alternateNameEncoding",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p></p>\n@param alternateNameEncoding \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "alternateNameEncoding",
            "variableType" : "String",
            "documentation" : "<p></p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AlternateValueEncoding" : {
          "c2jName" : "AlternateValueEncoding",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p></p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p></p>\n@param alternateValueEncoding \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p></p>\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AlternateValueEncoding",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Value/@encoding",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AlternateValueEncoding",
          "setterDocumentation" : "/**<p></p>\n@param alternateValueEncoding */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "alternateValueEncoding",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p></p>\n@param alternateValueEncoding \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "alternateValueEncoding",
            "variableType" : "String",
            "documentation" : "<p></p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "The name of the attribute.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The name of the attribute.\n@param name The name of the attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**The name of the attribute.\n@return The name of the attribute.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Name",
          "setterDocumentation" : "/**The name of the attribute.\n@param name The name of the attribute.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**The name of the attribute.\n@param name The name of the attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "The name of the attribute.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Value" : {
          "c2jName" : "Value",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "The value of the attribute.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The value of the attribute.\n@param value The value of the attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**The value of the attribute.\n@return The value of the attribute.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Value",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Value",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Value",
          "setterDocumentation" : "/**The value of the attribute.\n@param value The value of the attribute.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "value",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**The value of the attribute.\n@param value The value of the attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "value",
            "variableType" : "String",
            "documentation" : "The value of the attribute.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Name", "Value" ],
      "shapeName" : "Attribute",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Attribute",
        "variableName" : "attribute",
        "variableType" : "Attribute",
        "documentation" : null,
        "simpleType" : "Attribute",
        "variableSetterType" : "Attribute"
      },
      "wrapper" : false
    },
    "AttributeDoesNotExistException" : {
      "c2jName" : "AttributeDoesNotExist",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The specified attribute does not exist.</p>",
      "enums" : null,
      "errorCode" : "AttributeDoesNotExist",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BoxUsage",
        "c2jShape" : "Float",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param boxUsage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "BoxUsage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BoxUsage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "BoxUsage",
        "setterDocumentation" : "/**\n@param boxUsage */",
        "setterModel" : {
          "variableDeclarationType" : "Float",
          "variableName" : "boxUsage",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param boxUsage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Float",
          "variableName" : "boxUsage",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BoxUsage" : {
          "c2jName" : "BoxUsage",
          "c2jShape" : "Float",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param boxUsage \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "BoxUsage",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BoxUsage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "BoxUsage",
          "setterDocumentation" : "/**\n@param boxUsage */",
          "setterModel" : {
            "variableDeclarationType" : "Float",
            "variableName" : "boxUsage",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param boxUsage \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Float",
            "variableName" : "boxUsage",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AttributeDoesNotExistException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AttributeDoesNotExistException",
        "variableName" : "attributeDoesNotExistException",
        "variableType" : "AttributeDoesNotExistException",
        "documentation" : null,
        "simpleType" : "AttributeDoesNotExistException",
        "variableSetterType" : "AttributeDoesNotExistException"
      },
      "wrapper" : false
    },
    "BatchDeleteAttributesRequest" : {
      "c2jName" : "BatchDeleteAttributesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchDeleteAttributes",
        "locationName" : null,
        "requestUri" : "/",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DomainName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "The name of the domain in which the attributes are being deleted.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The name of the domain in which the attributes are being deleted.\n@param domainName The name of the domain in which the attributes are being deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**The name of the domain in which the attributes are being deleted.\n@return The name of the domain in which the attributes are being deleted.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DomainName",
        "setterDocumentation" : "/**The name of the domain in which the attributes are being deleted.\n@param domainName The name of the domain in which the attributes are being deleted.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**The name of the domain in which the attributes are being deleted.\n@param domainName The name of the domain in which the attributes are being deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "The name of the domain in which the attributes are being deleted.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Items",
        "c2jShape" : "DeletableItemList",
        "deprecated" : false,
        "documentation" : "A list of items on which to perform the operation.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A list of items on which to perform the operation.\n@param items A list of items on which to perform the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**A list of items on which to perform the operation.\n@return A list of items on which to perform the operation.*/",
        "getterModel" : {
          "returnType" : "java.util.List<DeletableItem>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : true,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Items",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Items",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "DeletableItem",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "DeletableItem",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "Item",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "Item",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "DeletableItem",
              "variableName" : "member",
              "variableType" : "DeletableItem",
              "documentation" : "",
              "simpleType" : "DeletableItem",
              "variableSetterType" : "DeletableItem"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "DeletableItem",
              "variableName" : "member",
              "variableType" : "DeletableItem",
              "documentation" : "",
              "simpleType" : "DeletableItem",
              "variableSetterType" : "DeletableItem"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : "Item",
          "memberType" : "DeletableItem",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "DeletableItem",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<DeletableItem>",
          "templateType" : "java.util.List<DeletableItem>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Items",
        "setterDocumentation" : "/**A list of items on which to perform the operation.\n@param items A list of items on which to perform the operation.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<DeletableItem>",
          "variableName" : "items",
          "variableType" : "java.util.List<DeletableItem>",
          "documentation" : "",
          "simpleType" : "List<DeletableItem>",
          "variableSetterType" : "java.util.Collection<DeletableItem>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**A list of items on which to perform the operation.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setItems(java.util.Collection)} or {@link #withItems(java.util.Collection)} if you want to override the existing values.</p>\n@param items A list of items on which to perform the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<DeletableItem>",
          "variableName" : "items",
          "variableType" : "java.util.List<DeletableItem>",
          "documentation" : "A list of items on which to perform the operation.",
          "simpleType" : "List<DeletableItem>",
          "variableSetterType" : "java.util.Collection<DeletableItem>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DomainName" : {
          "c2jName" : "DomainName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "The name of the domain in which the attributes are being deleted.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The name of the domain in which the attributes are being deleted.\n@param domainName The name of the domain in which the attributes are being deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**The name of the domain in which the attributes are being deleted.\n@return The name of the domain in which the attributes are being deleted.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "DomainName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DomainName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "DomainName",
          "setterDocumentation" : "/**The name of the domain in which the attributes are being deleted.\n@param domainName The name of the domain in which the attributes are being deleted.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**The name of the domain in which the attributes are being deleted.\n@param domainName The name of the domain in which the attributes are being deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "The name of the domain in which the attributes are being deleted.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Items" : {
          "c2jName" : "Items",
          "c2jShape" : "DeletableItemList",
          "deprecated" : false,
          "documentation" : "A list of items on which to perform the operation.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A list of items on which to perform the operation.\n@param items A list of items on which to perform the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**A list of items on which to perform the operation.\n@return A list of items on which to perform the operation.*/",
          "getterModel" : {
            "returnType" : "java.util.List<DeletableItem>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : true,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Items",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Items",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "DeletableItem",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "DeletableItem",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "Item",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "Item",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "DeletableItem",
                "variableName" : "member",
                "variableType" : "DeletableItem",
                "documentation" : "",
                "simpleType" : "DeletableItem",
                "variableSetterType" : "DeletableItem"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "DeletableItem",
                "variableName" : "member",
                "variableType" : "DeletableItem",
                "documentation" : "",
                "simpleType" : "DeletableItem",
                "variableSetterType" : "DeletableItem"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : "Item",
            "memberType" : "DeletableItem",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "DeletableItem",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<DeletableItem>",
            "templateType" : "java.util.List<DeletableItem>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Items",
          "setterDocumentation" : "/**A list of items on which to perform the operation.\n@param items A list of items on which to perform the operation.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<DeletableItem>",
            "variableName" : "items",
            "variableType" : "java.util.List<DeletableItem>",
            "documentation" : "",
            "simpleType" : "List<DeletableItem>",
            "variableSetterType" : "java.util.Collection<DeletableItem>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**A list of items on which to perform the operation.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setItems(java.util.Collection)} or {@link #withItems(java.util.Collection)} if you want to override the existing values.</p>\n@param items A list of items on which to perform the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<DeletableItem>",
            "variableName" : "items",
            "variableType" : "java.util.List<DeletableItem>",
            "documentation" : "A list of items on which to perform the operation.",
            "simpleType" : "List<DeletableItem>",
            "variableSetterType" : "java.util.Collection<DeletableItem>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "DomainName", "Items" ],
      "shapeName" : "BatchDeleteAttributesRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BatchDeleteAttributesRequest",
        "variableName" : "batchDeleteAttributesRequest",
        "variableType" : "BatchDeleteAttributesRequest",
        "documentation" : null,
        "simpleType" : "BatchDeleteAttributesRequest",
        "variableSetterType" : "BatchDeleteAttributesRequest"
      },
      "wrapper" : false
    },
    "BatchDeleteAttributesResult" : {
      "c2jName" : "BatchDeleteAttributesResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "BatchDeleteAttributesResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BatchDeleteAttributesResult",
        "variableName" : "batchDeleteAttributesResult",
        "variableType" : "BatchDeleteAttributesResult",
        "documentation" : null,
        "simpleType" : "BatchDeleteAttributesResult",
        "variableSetterType" : "BatchDeleteAttributesResult"
      },
      "wrapper" : false
    },
    "BatchPutAttributesRequest" : {
      "c2jName" : "BatchPutAttributesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchPutAttributes",
        "locationName" : null,
        "requestUri" : "/",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DomainName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "The name of the domain in which the attributes are being stored.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The name of the domain in which the attributes are being stored.\n@param domainName The name of the domain in which the attributes are being stored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**The name of the domain in which the attributes are being stored.\n@return The name of the domain in which the attributes are being stored.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DomainName",
        "setterDocumentation" : "/**The name of the domain in which the attributes are being stored.\n@param domainName The name of the domain in which the attributes are being stored.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**The name of the domain in which the attributes are being stored.\n@param domainName The name of the domain in which the attributes are being stored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "The name of the domain in which the attributes are being stored.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Items",
        "c2jShape" : "ReplaceableItemList",
        "deprecated" : false,
        "documentation" : "A list of items on which to perform the operation.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A list of items on which to perform the operation.\n@param items A list of items on which to perform the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**A list of items on which to perform the operation.\n@return A list of items on which to perform the operation.*/",
        "getterModel" : {
          "returnType" : "java.util.List<ReplaceableItem>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : true,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Items",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Items",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ReplaceableItem",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "ReplaceableItem",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "Item",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "Item",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "ReplaceableItem",
              "variableName" : "member",
              "variableType" : "ReplaceableItem",
              "documentation" : "",
              "simpleType" : "ReplaceableItem",
              "variableSetterType" : "ReplaceableItem"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "ReplaceableItem",
              "variableName" : "member",
              "variableType" : "ReplaceableItem",
              "documentation" : "",
              "simpleType" : "ReplaceableItem",
              "variableSetterType" : "ReplaceableItem"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : "Item",
          "memberType" : "ReplaceableItem",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ReplaceableItem",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<ReplaceableItem>",
          "templateType" : "java.util.List<ReplaceableItem>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Items",
        "setterDocumentation" : "/**A list of items on which to perform the operation.\n@param items A list of items on which to perform the operation.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ReplaceableItem>",
          "variableName" : "items",
          "variableType" : "java.util.List<ReplaceableItem>",
          "documentation" : "",
          "simpleType" : "List<ReplaceableItem>",
          "variableSetterType" : "java.util.Collection<ReplaceableItem>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**A list of items on which to perform the operation.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setItems(java.util.Collection)} or {@link #withItems(java.util.Collection)} if you want to override the existing values.</p>\n@param items A list of items on which to perform the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ReplaceableItem>",
          "variableName" : "items",
          "variableType" : "java.util.List<ReplaceableItem>",
          "documentation" : "A list of items on which to perform the operation.",
          "simpleType" : "List<ReplaceableItem>",
          "variableSetterType" : "java.util.Collection<ReplaceableItem>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DomainName" : {
          "c2jName" : "DomainName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "The name of the domain in which the attributes are being stored.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The name of the domain in which the attributes are being stored.\n@param domainName The name of the domain in which the attributes are being stored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**The name of the domain in which the attributes are being stored.\n@return The name of the domain in which the attributes are being stored.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "DomainName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DomainName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "DomainName",
          "setterDocumentation" : "/**The name of the domain in which the attributes are being stored.\n@param domainName The name of the domain in which the attributes are being stored.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**The name of the domain in which the attributes are being stored.\n@param domainName The name of the domain in which the attributes are being stored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "The name of the domain in which the attributes are being stored.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Items" : {
          "c2jName" : "Items",
          "c2jShape" : "ReplaceableItemList",
          "deprecated" : false,
          "documentation" : "A list of items on which to perform the operation.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A list of items on which to perform the operation.\n@param items A list of items on which to perform the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**A list of items on which to perform the operation.\n@return A list of items on which to perform the operation.*/",
          "getterModel" : {
            "returnType" : "java.util.List<ReplaceableItem>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : true,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Items",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Items",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ReplaceableItem",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "ReplaceableItem",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "Item",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "Item",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "ReplaceableItem",
                "variableName" : "member",
                "variableType" : "ReplaceableItem",
                "documentation" : "",
                "simpleType" : "ReplaceableItem",
                "variableSetterType" : "ReplaceableItem"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "ReplaceableItem",
                "variableName" : "member",
                "variableType" : "ReplaceableItem",
                "documentation" : "",
                "simpleType" : "ReplaceableItem",
                "variableSetterType" : "ReplaceableItem"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : "Item",
            "memberType" : "ReplaceableItem",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ReplaceableItem",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<ReplaceableItem>",
            "templateType" : "java.util.List<ReplaceableItem>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Items",
          "setterDocumentation" : "/**A list of items on which to perform the operation.\n@param items A list of items on which to perform the operation.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ReplaceableItem>",
            "variableName" : "items",
            "variableType" : "java.util.List<ReplaceableItem>",
            "documentation" : "",
            "simpleType" : "List<ReplaceableItem>",
            "variableSetterType" : "java.util.Collection<ReplaceableItem>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**A list of items on which to perform the operation.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setItems(java.util.Collection)} or {@link #withItems(java.util.Collection)} if you want to override the existing values.</p>\n@param items A list of items on which to perform the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ReplaceableItem>",
            "variableName" : "items",
            "variableType" : "java.util.List<ReplaceableItem>",
            "documentation" : "A list of items on which to perform the operation.",
            "simpleType" : "List<ReplaceableItem>",
            "variableSetterType" : "java.util.Collection<ReplaceableItem>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "DomainName", "Items" ],
      "shapeName" : "BatchPutAttributesRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BatchPutAttributesRequest",
        "variableName" : "batchPutAttributesRequest",
        "variableType" : "BatchPutAttributesRequest",
        "documentation" : null,
        "simpleType" : "BatchPutAttributesRequest",
        "variableSetterType" : "BatchPutAttributesRequest"
      },
      "wrapper" : false
    },
    "BatchPutAttributesResult" : {
      "c2jName" : "BatchPutAttributesResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "BatchPutAttributesResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BatchPutAttributesResult",
        "variableName" : "batchPutAttributesResult",
        "variableType" : "BatchPutAttributesResult",
        "documentation" : null,
        "simpleType" : "BatchPutAttributesResult",
        "variableSetterType" : "BatchPutAttributesResult"
      },
      "wrapper" : false
    },
    "CreateDomainRequest" : {
      "c2jName" : "CreateDomainRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateDomain",
        "locationName" : null,
        "requestUri" : "/",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DomainName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.\n@param domainName The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.\n@return The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DomainName",
        "setterDocumentation" : "/**The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.\n@param domainName The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.\n@param domainName The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DomainName" : {
          "c2jName" : "DomainName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.\n@param domainName The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
