{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-10-26",
    "asyncClient" : "AWSSecurityHubAsyncClient",
    "asyncClientBuilderClassName" : "AWSSecurityHubAsyncClientBuilder",
    "asyncInterface" : "AWSSecurityHubAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSSecurityHubModuleInjector",
    "defaultEndpoint" : "securityhub.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "securityhub.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Security Hub provides you with a comprehensive view of your security state within AWS and your compliance with the security industry standards and best practices. Security Hub collects security data from across AWS accounts, services, and supported third-party partners and helps you analyze your security trends and identify the highest priority security issues. For more information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/what-is-securityhub.html\">AWS Security Hub User Guide</a>. </p> <important> <p>Currently, AWS Security Hub is in Preview release.</p> </important>",
    "endpointPrefix" : "securityhub",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.securityhub",
    "packagePath" : "com/amazonaws/services/securityhub",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS SecurityHub",
    "serviceId" : "SecurityHub",
    "serviceName" : "AWS SecurityHub",
    "signingName" : "securityhub",
    "smokeTestsPackageName" : "com.amazonaws.services.securityhub.smoketests",
    "syncClient" : "AWSSecurityHubClient",
    "syncClientBuilderClassName" : "AWSSecurityHubClientBuilder",
    "syncInterface" : "AWSSecurityHub",
    "uid" : "securityhub-2018-10-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptInvitationRequest, AcceptInvitationResult>",
      "asyncReturnType" : "AcceptInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts the invitation to be monitored by a master SecurityHub account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationRequest",
        "variableName" : "acceptInvitationRequest",
        "variableType" : "AcceptInvitationRequest",
        "documentation" : "",
        "simpleType" : "AcceptInvitationRequest",
        "variableSetterType" : "AcceptInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptInvitation",
      "operationName" : "AcceptInvitation",
      "returnType" : {
        "returnType" : "AcceptInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptInvitationResult"
    },
    "BatchDisableStandards" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDisableStandardsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDisableStandardsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDisableStandardsRequest, BatchDisableStandardsResult>",
      "asyncReturnType" : "BatchDisableStandardsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the standards specified by the standards subscription ARNs. In the context of Security Hub, supported standards (for example, CIS AWS Foundations) are automated and continuous checks that help determine your compliance status against security industry (including AWS) best practices. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDisableStandardsRequest",
        "variableName" : "batchDisableStandardsRequest",
        "variableType" : "BatchDisableStandardsRequest",
        "documentation" : "",
        "simpleType" : "BatchDisableStandardsRequest",
        "variableSetterType" : "BatchDisableStandardsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDisableStandards",
      "operationName" : "BatchDisableStandards",
      "returnType" : {
        "returnType" : "BatchDisableStandardsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDisableStandardsResult"
    },
    "BatchEnableStandards" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchEnableStandardsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchEnableStandardsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchEnableStandardsRequest, BatchEnableStandardsResult>",
      "asyncReturnType" : "BatchEnableStandardsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the standards specified by the standards ARNs. In the context of Security Hub, supported standards (for example, CIS AWS Foundations) are automated and continuous checks that help determine your compliance status against security industry (including AWS) best practices. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchEnableStandardsRequest",
        "variableName" : "batchEnableStandardsRequest",
        "variableType" : "BatchEnableStandardsRequest",
        "documentation" : "",
        "simpleType" : "BatchEnableStandardsRequest",
        "variableSetterType" : "BatchEnableStandardsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchEnableStandards",
      "operationName" : "BatchEnableStandards",
      "returnType" : {
        "returnType" : "BatchEnableStandardsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchEnableStandardsResult"
    },
    "BatchImportFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchImportFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchImportFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchImportFindingsRequest, BatchImportFindingsResult>",
      "asyncReturnType" : "BatchImportFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports security findings that are generated by the integrated third-party products into Security Hub.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchImportFindingsRequest",
        "variableName" : "batchImportFindingsRequest",
        "variableType" : "BatchImportFindingsRequest",
        "documentation" : "",
        "simpleType" : "BatchImportFindingsRequest",
        "variableSetterType" : "BatchImportFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchImportFindings",
      "operationName" : "BatchImportFindings",
      "returnType" : {
        "returnType" : "BatchImportFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchImportFindingsResult"
    },
    "CreateInsight" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInsightResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInsightResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInsightRequest, CreateInsightResult>",
      "asyncReturnType" : "CreateInsightResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an insight, which is a consolidation of findings that identifies a security area that requires attention or intervention.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateInsightRequest",
        "variableName" : "createInsightRequest",
        "variableType" : "CreateInsightRequest",
        "documentation" : "",
        "simpleType" : "CreateInsightRequest",
        "variableSetterType" : "CreateInsightRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInsight",
      "operationName" : "CreateInsight",
      "returnType" : {
        "returnType" : "CreateInsightResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateInsightResult"
    },
    "CreateMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMembersRequest, CreateMembersResult>",
      "asyncReturnType" : "CreateMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates member Security Hub accounts in the current AWS account (which becomes the master Security Hub account) that has Security Hub enabled.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMembersRequest",
        "variableName" : "createMembersRequest",
        "variableType" : "CreateMembersRequest",
        "documentation" : "",
        "simpleType" : "CreateMembersRequest",
        "variableSetterType" : "CreateMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMembers",
      "operationName" : "CreateMembers",
      "returnType" : {
        "returnType" : "CreateMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMembersResult"
    },
    "DeclineInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeclineInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeclineInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeclineInvitationsRequest, DeclineInvitationsResult>",
      "asyncReturnType" : "DeclineInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Declines invitations that are sent to this AWS account (invitee) by the AWS accounts (inviters) that are specified by the account IDs. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeclineInvitationsRequest",
        "variableName" : "declineInvitationsRequest",
        "variableType" : "DeclineInvitationsRequest",
        "documentation" : "",
        "simpleType" : "DeclineInvitationsRequest",
        "variableSetterType" : "DeclineInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "declineInvitations",
      "operationName" : "DeclineInvitations",
      "returnType" : {
        "returnType" : "DeclineInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeclineInvitationsResult"
    },
    "DeleteInsight" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInsightResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInsightResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInsightRequest, DeleteInsightResult>",
      "asyncReturnType" : "DeleteInsightResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an insight that is specified by the insight ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInsightRequest",
        "variableName" : "deleteInsightRequest",
        "variableType" : "DeleteInsightRequest",
        "documentation" : "",
        "simpleType" : "DeleteInsightRequest",
        "variableSetterType" : "DeleteInsightRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInsight",
      "operationName" : "DeleteInsight",
      "returnType" : {
        "returnType" : "DeleteInsightResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInsightResult"
    },
    "DeleteInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInvitationsRequest, DeleteInvitationsResult>",
      "asyncReturnType" : "DeleteInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes invitations that are sent to this AWS account (invitee) by the AWS accounts (inviters) that are specified by their account IDs. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInvitationsRequest",
        "variableName" : "deleteInvitationsRequest",
        "variableType" : "DeleteInvitationsRequest",
        "documentation" : "",
        "simpleType" : "DeleteInvitationsRequest",
        "variableSetterType" : "DeleteInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInvitations",
      "operationName" : "DeleteInvitations",
      "returnType" : {
        "returnType" : "DeleteInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInvitationsResult"
    },
    "DeleteMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMembersRequest, DeleteMembersResult>",
      "asyncReturnType" : "DeleteMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the Security Hub member accounts that are specified by the account IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMembersRequest",
        "variableName" : "deleteMembersRequest",
        "variableType" : "DeleteMembersRequest",
        "documentation" : "",
        "simpleType" : "DeleteMembersRequest",
        "variableSetterType" : "DeleteMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMembers",
      "operationName" : "DeleteMembers",
      "returnType" : {
        "returnType" : "DeleteMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMembersResult"
    },
    "DisableImportFindingsForProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableImportFindingsForProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableImportFindingsForProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableImportFindingsForProductRequest, DisableImportFindingsForProductResult>",
      "asyncReturnType" : "DisableImportFindingsForProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the subscription that allows a findings-generating solution (product) to import its findings into Security Hub.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableImportFindingsForProductRequest",
        "variableName" : "disableImportFindingsForProductRequest",
        "variableType" : "DisableImportFindingsForProductRequest",
        "documentation" : "",
        "simpleType" : "DisableImportFindingsForProductRequest",
        "variableSetterType" : "DisableImportFindingsForProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableImportFindingsForProduct",
      "operationName" : "DisableImportFindingsForProduct",
      "returnType" : {
        "returnType" : "DisableImportFindingsForProductResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableImportFindingsForProductResult"
    },
    "DisableSecurityHub" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableSecurityHubResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableSecurityHubResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableSecurityHubRequest, DisableSecurityHubResult>",
      "asyncReturnType" : "DisableSecurityHubResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the AWS Security Hub Service.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableSecurityHubRequest",
        "variableName" : "disableSecurityHubRequest",
        "variableType" : "DisableSecurityHubRequest",
        "documentation" : "",
        "simpleType" : "DisableSecurityHubRequest",
        "variableSetterType" : "DisableSecurityHubRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableSecurityHub",
      "operationName" : "DisableSecurityHub",
      "returnType" : {
        "returnType" : "DisableSecurityHubResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableSecurityHubResult"
    },
    "DisassociateFromMasterAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateFromMasterAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateFromMasterAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateFromMasterAccountRequest, DisassociateFromMasterAccountResult>",
      "asyncReturnType" : "DisassociateFromMasterAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the current Security Hub member account from its master account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateFromMasterAccountRequest",
        "variableName" : "disassociateFromMasterAccountRequest",
        "variableType" : "DisassociateFromMasterAccountRequest",
        "documentation" : "",
        "simpleType" : "DisassociateFromMasterAccountRequest",
        "variableSetterType" : "DisassociateFromMasterAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateFromMasterAccount",
      "operationName" : "DisassociateFromMasterAccount",
      "returnType" : {
        "returnType" : "DisassociateFromMasterAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateFromMasterAccountResult"
    },
    "DisassociateMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateMembersRequest, DisassociateMembersResult>",
      "asyncReturnType" : "DisassociateMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the Security Hub member accounts that are specified by the account IDs from their master account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateMembersRequest",
        "variableName" : "disassociateMembersRequest",
        "variableType" : "DisassociateMembersRequest",
        "documentation" : "",
        "simpleType" : "DisassociateMembersRequest",
        "variableSetterType" : "DisassociateMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateMembers",
      "operationName" : "DisassociateMembers",
      "returnType" : {
        "returnType" : "DisassociateMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateMembersResult"
    },
    "EnableImportFindingsForProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableImportFindingsForProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableImportFindingsForProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableImportFindingsForProductRequest, EnableImportFindingsForProductResult>",
      "asyncReturnType" : "EnableImportFindingsForProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets up the subscription that enables a findings-generating solution (product) to import its findings into Security Hub.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableImportFindingsForProductRequest",
        "variableName" : "enableImportFindingsForProductRequest",
        "variableType" : "EnableImportFindingsForProductRequest",
        "documentation" : "",
        "simpleType" : "EnableImportFindingsForProductRequest",
        "variableSetterType" : "EnableImportFindingsForProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableImportFindingsForProduct",
      "operationName" : "EnableImportFindingsForProduct",
      "returnType" : {
        "returnType" : "EnableImportFindingsForProductResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableImportFindingsForProductResult"
    },
    "EnableSecurityHub" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableSecurityHubResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableSecurityHubResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableSecurityHubRequest, EnableSecurityHubResult>",
      "asyncReturnType" : "EnableSecurityHubResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the AWS Security Hub service.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to to perform the action specified in the request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableSecurityHubRequest",
        "variableName" : "enableSecurityHubRequest",
        "variableType" : "EnableSecurityHubRequest",
        "documentation" : "",
        "simpleType" : "EnableSecurityHubRequest",
        "variableSetterType" : "EnableSecurityHubRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableSecurityHub",
      "operationName" : "EnableSecurityHub",
      "returnType" : {
        "returnType" : "EnableSecurityHubResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableSecurityHubResult"
    },
    "GetEnabledStandards" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEnabledStandardsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEnabledStandardsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEnabledStandardsRequest, GetEnabledStandardsResult>",
      "asyncReturnType" : "GetEnabledStandardsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists and describes enabled standards.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEnabledStandardsRequest",
        "variableName" : "getEnabledStandardsRequest",
        "variableType" : "GetEnabledStandardsRequest",
        "documentation" : "",
        "simpleType" : "GetEnabledStandardsRequest",
        "variableSetterType" : "GetEnabledStandardsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEnabledStandards",
      "operationName" : "GetEnabledStandards",
      "returnType" : {
        "returnType" : "GetEnabledStandardsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEnabledStandardsResult"
    },
    "GetFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFindingsRequest, GetFindingsResult>",
      "asyncReturnType" : "GetFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists and describes Security Hub-aggregated findings that are specified by filter attributes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFindingsRequest",
        "variableName" : "getFindingsRequest",
        "variableType" : "GetFindingsRequest",
        "documentation" : "",
        "simpleType" : "GetFindingsRequest",
        "variableSetterType" : "GetFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFindings",
      "operationName" : "GetFindings",
      "returnType" : {
        "returnType" : "GetFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFindingsResult"
    },
    "GetInsightResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInsightResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInsightResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInsightResultsRequest, GetInsightResultsResult>",
      "asyncReturnType" : "GetInsightResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the results of the Security Hub insight specified by the insight ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInsightResultsRequest",
        "variableName" : "getInsightResultsRequest",
        "variableType" : "GetInsightResultsRequest",
        "documentation" : "",
        "simpleType" : "GetInsightResultsRequest",
        "variableSetterType" : "GetInsightResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInsightResults",
      "operationName" : "GetInsightResults",
      "returnType" : {
        "returnType" : "GetInsightResultsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInsightResultsResult"
    },
    "GetInsights" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInsightsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInsightsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInsightsRequest, GetInsightsResult>",
      "asyncReturnType" : "GetInsightsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists and describes insights that are specified by insight ARNs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInsightsRequest",
        "variableName" : "getInsightsRequest",
        "variableType" : "GetInsightsRequest",
        "documentation" : "",
        "simpleType" : "GetInsightsRequest",
        "variableSetterType" : "GetInsightsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInsights",
      "operationName" : "GetInsights",
      "returnType" : {
        "returnType" : "GetInsightsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInsightsResult"
    },
    "GetInvitationsCount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInvitationsCountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInvitationsCountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInvitationsCountRequest, GetInvitationsCountResult>",
      "asyncReturnType" : "GetInvitationsCountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the count of all Security Hub membership invitations that were sent to the current member account, not including the currently accepted invitation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInvitationsCountRequest",
        "variableName" : "getInvitationsCountRequest",
        "variableType" : "GetInvitationsCountRequest",
        "documentation" : "",
        "simpleType" : "GetInvitationsCountRequest",
        "variableSetterType" : "GetInvitationsCountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInvitationsCount",
      "operationName" : "GetInvitationsCount",
      "returnType" : {
        "returnType" : "GetInvitationsCountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInvitationsCountResult"
    },
    "GetMasterAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMasterAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMasterAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMasterAccountRequest, GetMasterAccountResult>",
      "asyncReturnType" : "GetMasterAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides the details for the Security Hub master account to the current member account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMasterAccountRequest",
        "variableName" : "getMasterAccountRequest",
        "variableType" : "GetMasterAccountRequest",
        "documentation" : "",
        "simpleType" : "GetMasterAccountRequest",
        "variableSetterType" : "GetMasterAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMasterAccount",
      "operationName" : "GetMasterAccount",
      "returnType" : {
        "returnType" : "GetMasterAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMasterAccountResult"
    },
    "GetMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMembersRequest, GetMembersResult>",
      "asyncReturnType" : "GetMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details on the Security Hub member accounts that are specified by the account IDs. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMembersRequest",
        "variableName" : "getMembersRequest",
        "variableType" : "GetMembersRequest",
        "documentation" : "",
        "simpleType" : "GetMembersRequest",
        "variableSetterType" : "GetMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMembers",
      "operationName" : "GetMembers",
      "returnType" : {
        "returnType" : "GetMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMembersResult"
    },
    "InviteMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InviteMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InviteMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InviteMembersRequest, InviteMembersResult>",
      "asyncReturnType" : "InviteMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Invites other AWS accounts to enable Security Hub and become Security Hub member accounts. When an account accepts the invitation and becomes a member account, the master account can view Security Hub findings of the member account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InviteMembersRequest",
        "variableName" : "inviteMembersRequest",
        "variableType" : "InviteMembersRequest",
        "documentation" : "",
        "simpleType" : "InviteMembersRequest",
        "variableSetterType" : "InviteMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "inviteMembers",
      "operationName" : "InviteMembers",
      "returnType" : {
        "returnType" : "InviteMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "InviteMembersResult"
    },
    "ListEnabledProductsForImport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEnabledProductsForImportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEnabledProductsForImportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEnabledProductsForImportRequest, ListEnabledProductsForImportResult>",
      "asyncReturnType" : "ListEnabledProductsForImportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all findings-generating solutions (products) whose findings you've subscribed to receive in Security Hub.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEnabledProductsForImportRequest",
        "variableName" : "listEnabledProductsForImportRequest",
        "variableType" : "ListEnabledProductsForImportRequest",
        "documentation" : "",
        "simpleType" : "ListEnabledProductsForImportRequest",
        "variableSetterType" : "ListEnabledProductsForImportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEnabledProductsForImport",
      "operationName" : "ListEnabledProductsForImport",
      "returnType" : {
        "returnType" : "ListEnabledProductsForImportResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEnabledProductsForImportResult"
    },
    "ListInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvitationsRequest, ListInvitationsResult>",
      "asyncReturnType" : "ListInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Security Hub membership invitations that were sent to the current AWS account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInvitationsRequest",
        "variableName" : "listInvitationsRequest",
        "variableType" : "ListInvitationsRequest",
        "documentation" : "",
        "simpleType" : "ListInvitationsRequest",
        "variableSetterType" : "ListInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInvitations",
      "operationName" : "ListInvitations",
      "returnType" : {
        "returnType" : "ListInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInvitationsResult"
    },
    "ListMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMembersRequest, ListMembersResult>",
      "asyncReturnType" : "ListMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists details about all member accounts for the current Security Hub master account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMembersRequest",
        "variableName" : "listMembersRequest",
        "variableType" : "ListMembersRequest",
        "documentation" : "",
        "simpleType" : "ListMembersRequest",
        "variableSetterType" : "ListMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMembers",
      "operationName" : "ListMembers",
      "returnType" : {
        "returnType" : "ListMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMembersResult"
    },
    "UpdateFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFindingsRequest, UpdateFindingsResult>",
      "asyncReturnType" : "UpdateFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the AWS Security Hub-aggregated findings specified by the filter attributes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFindingsRequest",
        "variableName" : "updateFindingsRequest",
        "variableType" : "UpdateFindingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateFindingsRequest",
        "variableSetterType" : "UpdateFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFindings",
      "operationName" : "UpdateFindings",
      "returnType" : {
        "returnType" : "UpdateFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFindingsResult"
    },
    "UpdateInsight" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateInsightResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateInsightResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateInsightRequest, UpdateInsightResult>",
      "asyncReturnType" : "UpdateInsightResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the AWS Security Hub insight specified by the insight ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub is not enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because the specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateInsightRequest",
        "variableName" : "updateInsightRequest",
        "variableType" : "UpdateInsightRequest",
        "documentation" : "",
        "simpleType" : "UpdateInsightRequest",
        "variableSetterType" : "UpdateInsightRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateInsight",
      "operationName" : "UpdateInsight",
      "returnType" : {
        "returnType" : "UpdateInsightResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateInsightResult"
    }
  },
  "shapes" : {
    "AcceptInvitationRequest" : {
      "c2jName" : "AcceptInvitationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptInvitation",
        "locationName" : null,
        "requestUri" : "/master",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "MasterId",
        "c2jShape" : "NonEmptyString",
        "deprecated" : false,
        "documentation" : "<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>\n@param masterId The account ID of the master Security Hub account whose invitation you're accepting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMasterId",
        "getterDocumentation" : "/**<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>\n@return The account ID of the master Security Hub account whose invitation you're accepting.*/",
        "getterMethodName" : "getMasterId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MasterId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MasterId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MasterId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>\n@param masterId The account ID of the master Security Hub account whose invitation you're accepting.*/",
        "setterMethodName" : "setMasterId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "masterId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>\n@param masterId The account ID of the master Security Hub account whose invitation you're accepting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "masterId",
          "variableType" : "String",
          "documentation" : "<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InvitationId",
        "c2jShape" : "NonEmptyString",
        "deprecated" : false,
        "documentation" : "<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>\n@param invitationId The ID of the invitation that is sent to the AWS account by the Security Hub master account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInvitationId",
        "getterDocumentation" : "/**<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>\n@return The ID of the invitation that is sent to the AWS account by the Security Hub master account.*/",
        "getterMethodName" : "getInvitationId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InvitationId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InvitationId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InvitationId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>\n@param invitationId The ID of the invitation that is sent to the AWS account by the Security Hub master account.*/",
        "setterMethodName" : "setInvitationId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "invitationId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>\n@param invitationId The ID of the invitation that is sent to the AWS account by the Security Hub master account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "invitationId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "InvitationId" : {
          "c2jName" : "InvitationId",
          "c2jShape" : "NonEmptyString",
          "deprecated" : false,
          "documentation" : "<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>\n@param invitationId The ID of the invitation that is sent to the AWS account by the Security Hub master account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInvitationId",
          "getterDocumentation" : "/**<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>\n@return The ID of the invitation that is sent to the AWS account by the Security Hub master account.*/",
          "getterMethodName" : "getInvitationId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "InvitationId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InvitationId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InvitationId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>\n@param invitationId The ID of the invitation that is sent to the AWS account by the Security Hub master account.*/",
          "setterMethodName" : "setInvitationId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "invitationId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>\n@param invitationId The ID of the invitation that is sent to the AWS account by the Security Hub master account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "invitationId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the invitation that is sent to the AWS account by the Security Hub master account. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MasterId" : {
          "c2jName" : "MasterId",
          "c2jShape" : "NonEmptyString",
          "deprecated" : false,
          "documentation" : "<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>\n@param masterId The account ID of the master Security Hub account whose invitation you're accepting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMasterId",
          "getterDocumentation" : "/**<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>\n@return The account ID of the master Security Hub account whose invitation you're accepting.*/",
          "getterMethodName" : "getMasterId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MasterId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MasterId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MasterId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>\n@param masterId The account ID of the master Security Hub account whose invitation you're accepting.*/",
          "setterMethodName" : "setMasterId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "masterId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>\n@param masterId The account ID of the master Security Hub account whose invitation you're accepting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "masterId",
            "variableType" : "String",
            "documentation" : "<p>The account ID of the master Security Hub account whose invitation you're accepting. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AcceptInvitationRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationRequest",
        "variableName" : "acceptInvitationRequest",
        "variableType" : "AcceptInvitationRequest",
        "documentation" : null,
        "simpleType" : "AcceptInvitationRequest",
        "variableSetterType" : "AcceptInvitationRequest"
      },
      "wrapper" : false
    },
    "AcceptInvitationResult" : {
      "c2jName" : "AcceptInvitationResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AcceptInvitationResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationResult",
        "variableName" : "acceptInvitationResult",
        "variableType" : "AcceptInvitationResult",
        "documentation" : null,
        "simpleType" : "AcceptInvitationResult",
        "variableSetterType" : "AcceptInvitationResult"
      },
      "wrapper" : false
    },
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have permission to to perform the action specified in the request.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Code",
        "c2jShape" : "NonEmptyString",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Code",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param code */",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "Code",
          "c2jShape" : "NonEmptyString",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Code",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param code */",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountDetails" : {
      "c2jName" : "AccountDetails",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The details of an AWS account.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AccountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p>The ID of an AWS account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of an AWS account.</p>\n@param accountId The ID of an AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountId",
        "getterDocumentation" : "/**<p>The ID of an AWS account.</p>\n@return The ID of an AWS account.*/",
        "getterMethodName" : "getAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccountId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of an AWS account.</p>\n@param accountId The ID of an AWS account.*/",
        "setterMethodName" : "setAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
[...]
