{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AmazonSecurityLakeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSecurityLakeAsyncClientBuilder",
    "asyncInterface" : "AmazonSecurityLakeAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonSecurityLakeModuleInjector",
    "defaultEndpoint" : "securitylake.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "securitylake.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<note> <p>Amazon Security Lake is in preview release. Your use of the Security Lake preview is subject to Section 2 of the <a href=\"http://aws.amazon.com/service-terms/\">Amazon Web Services Service Terms</a>(\"Betas and Previews\").</p> </note> <p>Amazon Security Lake is a fully managed security data lake service. You can use Security Lake to automatically centralize security data from cloud, on-premises, and custom sources into a data lake that's stored in your Amazon Web Servicesaccount. Amazon Web Services Organizations is an account management service that lets you consolidate multiple Amazon Web Services accounts into an organization that you create and centrally manage. With Organizations, you can create member accounts and invite existing accounts to join your organization. Security Lake helps you analyze security data for a more complete understanding of your security posture across the entire organization. It can also help you improve the protection of your workloads, applications, and data.</p> <p>The data lake is backed by Amazon Simple Storage Service (Amazon S3) buckets, and you retain ownership over your data. </p> <p>Amazon Security Lake integrates with CloudTrail, a service that provides a record of actions taken by a user, role, or an Amazon Web Services service in Security Lake CloudTrail captures API calls for Security Lake as events. The calls captured include calls from the Security Lake console and code calls to the Security Lake API operations. If you create a trail, you can enable continuous delivery of CloudTrail events to an Amazon S3 bucket, including events for Security Lake. If you don't configure a trail, you can still view the most recent events in the CloudTrail console in Event history. Using the information collected by CloudTrail you can determine the request that was made to Security Lake, the IP address from which the request was made, who made the request, when it was made, and additional details. To learn more about Security Lake information in CloudTrail, see the <a href=\"https://docs.aws.amazon.com/security-lake/latest/userguide/securitylake-cloudtrail.html\">Amazon Security Lake User Guide</a>.</p> <p>Security Lake automates the collection of security-related log and event data from integrated Amazon Web Services and third-party services. It also helps you manage the lifecycle of data with customizable retention and replication settings. Security Lake converts ingested data into Apache Parquet format and a standard open-source schema called the Open Cybersecurity Schema Framework (OCSF).</p> <p>Other Amazon Web Services and third-party services can subscribe to the data that's stored in Security Lake for incident response and security data analytics.</p>",
    "endpointPrefix" : "securitylake",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.securitylake",
    "packagePath" : "com/amazonaws/services/securitylake",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Security Lake",
    "serviceId" : "SecurityLake",
    "serviceName" : "Amazon Security Lake",
    "signingName" : "securitylake",
    "smokeTestsPackageName" : "com.amazonaws.services.securitylake.smoketests",
    "syncClient" : "AmazonSecurityLakeClient",
    "syncClientBuilderClassName" : "AmazonSecurityLakeClientBuilder",
    "syncInterface" : "AmazonSecurityLake",
    "uid" : "securitylake-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAwsLogSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAwsLogSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAwsLogSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAwsLogSourceRequest, CreateAwsLogSourceResult>",
      "asyncReturnType" : "CreateAwsLogSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a natively supported Amazon Web Service as an Amazon Security Lake source. Enables source types for member accounts in required Amazon Web Services Regions, based on the parameters you specify. You can choose any source type in any Region for either accounts that are part of a trusted organization or standalone accounts. At least one of the three dimensions is a mandatory input to this API. However, you can supply any combination of the three dimensions to this API. </p> <p>By default, a dimension refers to the entire set. When you don't provide a dimension, Security Lake assumes that the missing dimension refers to the entire set. This is overridden when you supply any one of the inputs. For instance, when you do not specify members, the API enables all Security Lake member accounts for all sources. Similarly, when you do not specify Regions, Security Lake is enabled for all the Regions where Security Lake is available as a service.</p> <p>You can use this API only to enable natively supported Amazon Web Services as a source. Use <code>CreateCustomLogSource</code> to enable data collection from a custom source. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "S3Exception",
        "documentation" : "<p>Provides an extension of the AmazonServiceException for errors reported by Amazon S3 while processing a request. In particular, this class provides access to the Amazon S3 extended request ID. If Amazon S3 is incorrectly handling a request and you need to contact Amazon, this extended request ID may provide useful debugging information. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAwsLogSourceRequest",
        "variableName" : "createAwsLogSourceRequest",
        "variableType" : "CreateAwsLogSourceRequest",
        "documentation" : "",
        "simpleType" : "CreateAwsLogSourceRequest",
        "variableSetterType" : "CreateAwsLogSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAwsLogSource",
      "operationName" : "CreateAwsLogSource",
      "returnType" : {
        "returnType" : "CreateAwsLogSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAwsLogSourceResult"
    },
    "CreateCustomLogSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCustomLogSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCustomLogSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCustomLogSourceRequest, CreateCustomLogSourceResult>",
      "asyncReturnType" : "CreateCustomLogSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a third-party custom source in Amazon Security Lake, from the Amazon Web Services Region where you want to create a custom source. Security Lake can collect logs and events from third-party custom sources. After creating the appropriate IAM role to invoke Glue crawler, use this API to add a custom source name in Security Lake. This operation creates a partition in the Amazon S3 bucket for Security Lake as the target location for log files from the custom source in addition to an associated Glue table and an Glue crawler.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictSourceNamesException",
        "documentation" : "<p>There was a conflict when you attempted to modify a Security Lake source name. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BucketNotFoundException",
        "documentation" : "<p>Amazon Security Lake generally returns 404 errors if the requested object is missing from the bucket.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCustomLogSourceRequest",
        "variableName" : "createCustomLogSourceRequest",
        "variableType" : "CreateCustomLogSourceRequest",
        "documentation" : "",
        "simpleType" : "CreateCustomLogSourceRequest",
        "variableSetterType" : "CreateCustomLogSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCustomLogSource",
      "operationName" : "CreateCustomLogSource",
      "returnType" : {
        "returnType" : "CreateCustomLogSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCustomLogSourceResult"
    },
    "CreateDatalake" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatalakeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatalakeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatalakeRequest, CreateDatalakeResult>",
      "asyncReturnType" : "CreateDatalakeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initializes an Amazon Security Lake instance with the provided (or default) configuration. You can enable Security Lake in Amazon Web Services Regions with customized settings before enabling log collection in Regions. You can either use the <code>enableAll</code> parameter to specify all Regions or specify the Regions where you want to enable Security Lake. To specify particular Regions, use the <code>Regions</code> parameter and then configure these Regions using the <code>configurations</code> parameter. If you have already enabled Security Lake in a Region when you call this command, the command will update the Region if you provide new configuration parameters. If you have not already enabled Security Lake in the Region when you call this API, it will set up the data lake in the Region with the specified configurations.</p> <p>When you enable Security Lake, it starts ingesting security data after the <code>CreateAwsLogSource</code> call. This includes ingesting security data from sources, storing data, and making data accessible to subscribers. Security Lake also enables all the existing settings and resources that it stores or maintains for your Amazon Web Services account in the current Region, including security log and event data. For more information, see the <a href=\"https://docs.aws.amazon.com/security-lake/latest/userguide/what-is-security-lake.html\">Amazon Security Lake User Guide</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatalakeRequest",
        "variableName" : "createDatalakeRequest",
        "variableType" : "CreateDatalakeRequest",
        "documentation" : "",
        "simpleType" : "CreateDatalakeRequest",
        "variableSetterType" : "CreateDatalakeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatalake",
      "operationName" : "CreateDatalake",
      "returnType" : {
        "returnType" : "CreateDatalakeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatalakeResult"
    },
    "CreateDatalakeAutoEnable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatalakeAutoEnableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatalakeAutoEnableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatalakeAutoEnableRequest, CreateDatalakeAutoEnableResult>",
      "asyncReturnType" : "CreateDatalakeAutoEnableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Automatically enables Amazon Security Lake for new member accounts in your organization. Security Lake is not automatically enabled for any existing member accounts in your organization.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatalakeAutoEnableRequest",
        "variableName" : "createDatalakeAutoEnableRequest",
        "variableType" : "CreateDatalakeAutoEnableRequest",
        "documentation" : "",
        "simpleType" : "CreateDatalakeAutoEnableRequest",
        "variableSetterType" : "CreateDatalakeAutoEnableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatalakeAutoEnable",
      "operationName" : "CreateDatalakeAutoEnable",
      "returnType" : {
        "returnType" : "CreateDatalakeAutoEnableResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatalakeAutoEnableResult"
    },
    "CreateDatalakeDelegatedAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatalakeDelegatedAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatalakeDelegatedAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatalakeDelegatedAdminRequest, CreateDatalakeDelegatedAdminResult>",
      "asyncReturnType" : "CreateDatalakeDelegatedAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Designates the Amazon Security Lake delegated administrator account for the organization. This API can only be called by the organization management account. The organization management account cannot be the delegated administrator account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatalakeDelegatedAdminRequest",
        "variableName" : "createDatalakeDelegatedAdminRequest",
        "variableType" : "CreateDatalakeDelegatedAdminRequest",
        "documentation" : "",
        "simpleType" : "CreateDatalakeDelegatedAdminRequest",
        "variableSetterType" : "CreateDatalakeDelegatedAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatalakeDelegatedAdmin",
      "operationName" : "CreateDatalakeDelegatedAdmin",
      "returnType" : {
        "returnType" : "CreateDatalakeDelegatedAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatalakeDelegatedAdminResult"
    },
    "CreateDatalakeExceptionsSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatalakeExceptionsSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatalakeExceptionsSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatalakeExceptionsSubscriptionRequest, CreateDatalakeExceptionsSubscriptionResult>",
      "asyncReturnType" : "CreateDatalakeExceptionsSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the specified notification subscription in Amazon Security Lake for the organization you specify.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatalakeExceptionsSubscriptionRequest",
        "variableName" : "createDatalakeExceptionsSubscriptionRequest",
        "variableType" : "CreateDatalakeExceptionsSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "CreateDatalakeExceptionsSubscriptionRequest",
        "variableSetterType" : "CreateDatalakeExceptionsSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatalakeExceptionsSubscription",
      "operationName" : "CreateDatalakeExceptionsSubscription",
      "returnType" : {
        "returnType" : "CreateDatalakeExceptionsSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatalakeExceptionsSubscriptionResult"
    },
    "CreateSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriberRequest, CreateSubscriberResult>",
      "asyncReturnType" : "CreateSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a subscription permission for accounts that are already enabled in Amazon Security Lake. You can create a subscriber with access to data in the current Amazon Web Services Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictSubscriptionException",
        "documentation" : "<p>A conflicting subscription exception operation is in progress. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BucketNotFoundException",
        "documentation" : "<p>Amazon Security Lake generally returns 404 errors if the requested object is missing from the bucket.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because a value that's not valid or is out of range was supplied for an input parameter. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSubscriberRequest",
        "variableName" : "createSubscriberRequest",
        "variableType" : "CreateSubscriberRequest",
        "documentation" : "",
        "simpleType" : "CreateSubscriberRequest",
        "variableSetterType" : "CreateSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscriber",
      "operationName" : "CreateSubscriber",
      "returnType" : {
        "returnType" : "CreateSubscriberResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSubscriberResult"
    },
    "CreateSubscriptionNotificationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriptionNotificationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriptionNotificationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriptionNotificationConfigurationRequest, CreateSubscriptionNotificationConfigurationResult>",
      "asyncReturnType" : "CreateSubscriptionNotificationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Notifies the subscriber when new data is written to the data lake for the sources that the subscriber consumes in Security Lake.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>More than one process tried to modify a resource at the same time. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because a value that's not valid or is out of range was supplied for an input parameter. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSubscriptionNotificationConfigurationRequest",
        "variableName" : "createSubscriptionNotificationConfigurationRequest",
        "variableType" : "CreateSubscriptionNotificationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateSubscriptionNotificationConfigurationRequest",
        "variableSetterType" : "CreateSubscriptionNotificationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscriptionNotificationConfiguration",
      "operationName" : "CreateSubscriptionNotificationConfiguration",
      "returnType" : {
        "returnType" : "CreateSubscriptionNotificationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSubscriptionNotificationConfigurationResult"
    },
    "DeleteAwsLogSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAwsLogSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAwsLogSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAwsLogSourceRequest, DeleteAwsLogSourceResult>",
      "asyncReturnType" : "DeleteAwsLogSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a natively supported Amazon Web Service as an Amazon Security Lake source. When you remove the source, Security Lake stops collecting data from that source, and subscribers can no longer consume new data from the source. Subscribers can still consume data that Security Lake collected from the source before disablement.</p> <p>You can choose any source type in any Amazon Web Services Region for either accounts that are part of a trusted organization or standalone accounts. At least one of the three dimensions is a mandatory input to this API. However, you can supply any combination of the three dimensions to this API. </p> <p>By default, a dimension refers to the entire set. This is overridden when you supply any one of the inputs. For instance, when you do not specify members, the API disables all Security Lake member accounts for sources. Similarly, when you do not specify Regions, Security Lake is disabled for all the Regions where Security Lake is available as a service.</p> <p>When you don't provide a dimension, Security Lake assumes that the missing dimension refers to the entire set. For example, if you don't provide specific accounts, the API applies to the entire set of accounts in your organization.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAwsLogSourceRequest",
        "variableName" : "deleteAwsLogSourceRequest",
        "variableType" : "DeleteAwsLogSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteAwsLogSourceRequest",
        "variableSetterType" : "DeleteAwsLogSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAwsLogSource",
      "operationName" : "DeleteAwsLogSource",
      "returnType" : {
        "returnType" : "DeleteAwsLogSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAwsLogSourceResult"
    },
    "DeleteCustomLogSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCustomLogSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCustomLogSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCustomLogSourceRequest, DeleteCustomLogSourceResult>",
      "asyncReturnType" : "DeleteCustomLogSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a custom log source from Amazon Security Lake.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictSourceNamesException",
        "documentation" : "<p>There was a conflict when you attempted to modify a Security Lake source name. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BucketNotFoundException",
        "documentation" : "<p>Amazon Security Lake generally returns 404 errors if the requested object is missing from the bucket.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCustomLogSourceRequest",
        "variableName" : "deleteCustomLogSourceRequest",
        "variableType" : "DeleteCustomLogSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteCustomLogSourceRequest",
        "variableSetterType" : "DeleteCustomLogSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCustomLogSource",
      "operationName" : "DeleteCustomLogSource",
      "returnType" : {
        "returnType" : "DeleteCustomLogSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCustomLogSourceResult"
    },
    "DeleteDatalake" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatalakeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatalakeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatalakeRequest, DeleteDatalakeResult>",
      "asyncReturnType" : "DeleteDatalakeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>When you delete Amazon Security Lake from your account, Security Lake is disabled in all Amazon Web Services Regions. Also, this API automatically takes steps to remove the account from Security Lake . </p> <p>This operation disables security data collection from sources, deletes data stored, and stops making data accessible to subscribers. Security Lake also deletes all the existing settings and resources that it stores or maintains for your Amazon Web Services account in the current Region, including security log and event data. The <code>DeleteDatalake</code> operation does not delete the Amazon S3 bucket, which is owned by your Amazon Web Services account. For more information, see the <a href=\"https://docs.aws.amazon.com/security-lake/latest/userguide/disable-security-lake.html\">Amazon Security Lake User Guide</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatalakeRequest",
        "variableName" : "deleteDatalakeRequest",
        "variableType" : "DeleteDatalakeRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatalakeRequest",
        "variableSetterType" : "DeleteDatalakeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDatalake",
      "operationName" : "DeleteDatalake",
      "returnType" : {
        "returnType" : "DeleteDatalakeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatalakeResult"
    },
    "DeleteDatalakeAutoEnable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatalakeAutoEnableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatalakeAutoEnableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatalakeAutoEnableRequest, DeleteDatalakeAutoEnableResult>",
      "asyncReturnType" : "DeleteDatalakeAutoEnableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Automatically deletes Amazon Security Lake to stop collecting security data. When you delete Amazon Security Lake from your account, Security Lake is disabled in all Regions. Also, this API automatically takes steps to remove the account from Security Lake . </p> <p>This operation disables security data collection from sources, deletes data stored, and stops making data accessible to subscribers. Security Lake also deletes all the existing settings and resources that it stores or maintains for your Amazon Web Services account in the current Region, including security log and event data. The <code>DeleteDatalake</code> operation does not delete the Amazon S3 bucket, which is owned by your Amazon Web Services account. For more information, see the <a href=\"https://docs.aws.amazon.com/security-lake/latest/userguide/disable-security-lake.html\">Amazon Security Lake User Guide</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatalakeAutoEnableRequest",
        "variableName" : "deleteDatalakeAutoEnableRequest",
        "variableType" : "DeleteDatalakeAutoEnableRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatalakeAutoEnableRequest",
        "variableSetterType" : "DeleteDatalakeAutoEnableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDatalakeAutoEnable",
      "operationName" : "DeleteDatalakeAutoEnable",
      "returnType" : {
        "returnType" : "DeleteDatalakeAutoEnableResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatalakeAutoEnableResult"
    },
    "DeleteDatalakeDelegatedAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatalakeDelegatedAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatalakeDelegatedAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatalakeDelegatedAdminRequest, DeleteDatalakeDelegatedAdminResult>",
      "asyncReturnType" : "DeleteDatalakeDelegatedAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the Amazon Security Lake delegated administrator account for the organization. This API can only be called by the organization management account. The organization management account cannot be the delegated administrator account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatalakeDelegatedAdminRequest",
        "variableName" : "deleteDatalakeDelegatedAdminRequest",
        "variableType" : "DeleteDatalakeDelegatedAdminRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatalakeDelegatedAdminRequest",
        "variableSetterType" : "DeleteDatalakeDelegatedAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDatalakeDelegatedAdmin",
      "operationName" : "DeleteDatalakeDelegatedAdmin",
      "returnType" : {
        "returnType" : "DeleteDatalakeDelegatedAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatalakeDelegatedAdminResult"
    },
    "DeleteDatalakeExceptionsSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatalakeExceptionsSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatalakeExceptionsSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatalakeExceptionsSubscriptionRequest, DeleteDatalakeExceptionsSubscriptionResult>",
      "asyncReturnType" : "DeleteDatalakeExceptionsSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified notification subscription in Amazon Security Lake for the organization you specify.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatalakeExceptionsSubscriptionRequest",
        "variableName" : "deleteDatalakeExceptionsSubscriptionRequest",
        "variableType" : "DeleteDatalakeExceptionsSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatalakeExceptionsSubscriptionRequest",
        "variableSetterType" : "DeleteDatalakeExceptionsSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDatalakeExceptionsSubscription",
      "operationName" : "DeleteDatalakeExceptionsSubscription",
      "returnType" : {
        "returnType" : "DeleteDatalakeExceptionsSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatalakeExceptionsSubscriptionResult"
    },
    "DeleteSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriberRequest, DeleteSubscriberResult>",
      "asyncReturnType" : "DeleteSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the subscription permission for accounts that are already enabled in Amazon Security Lake. You can delete a subscriber and remove access to data in the current Amazon Web Services Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>More than one process tried to modify a resource at the same time. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BucketNotFoundException",
        "documentation" : "<p>Amazon Security Lake generally returns 404 errors if the requested object is missing from the bucket.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because a value that's not valid or is out of range was supplied for an input parameter. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSubscriberRequest",
        "variableName" : "deleteSubscriberRequest",
        "variableType" : "DeleteSubscriberRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubscriberRequest",
        "variableSetterType" : "DeleteSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscriber",
      "operationName" : "DeleteSubscriber",
      "returnType" : {
        "returnType" : "DeleteSubscriberResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSubscriberResult"
    },
    "DeleteSubscriptionNotificationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriptionNotificationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriptionNotificationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriptionNotificationConfigurationRequest, DeleteSubscriptionNotificationConfigurationResult>",
      "asyncReturnType" : "DeleteSubscriptionNotificationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified notification subscription in Amazon Security Lake for the organization you specify.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>More than one process tried to modify a resource at the same time. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because a value that's not valid or is out of range was supplied for an input parameter. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSubscriptionNotificationConfigurationRequest",
        "variableName" : "deleteSubscriptionNotificationConfigurationRequest",
        "variableType" : "DeleteSubscriptionNotificationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubscriptionNotificationConfigurationRequest",
        "variableSetterType" : "DeleteSubscriptionNotificationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscriptionNotificationConfiguration",
      "operationName" : "DeleteSubscriptionNotificationConfiguration",
      "returnType" : {
        "returnType" : "DeleteSubscriptionNotificationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSubscriptionNotificationConfigurationResult"
    },
    "GetDatalake" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDatalakeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDatalakeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDatalakeRequest, GetDatalakeResult>",
      "asyncReturnType" : "GetDatalakeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the Amazon Security Lake configuration object for the specified Amazon Web Services account ID. You can use the <code>GetDatalake</code> API to know whether Security Lake is enabled for the current Region. This API does not take input parameters. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDatalakeRequest",
        "variableName" : "getDatalakeRequest",
        "variableType" : "GetDatalakeRequest",
        "documentation" : "",
        "simpleType" : "GetDatalakeRequest",
        "variableSetterType" : "GetDatalakeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDatalake",
      "operationName" : "GetDatalake",
      "returnType" : {
        "returnType" : "GetDatalakeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDatalakeResult"
    },
    "GetDatalakeAutoEnable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDatalakeAutoEnableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDatalakeAutoEnableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDatalakeAutoEnableRequest, GetDatalakeAutoEnableResult>",
      "asyncReturnType" : "GetDatalakeAutoEnableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the configuration that will be automatically set up for accounts added to the organization after the organization has onboarded to Amazon Security Lake. This API does not take input parameters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDatalakeAutoEnableRequest",
        "variableName" : "getDatalakeAutoEnableRequest",
        "variableType" : "GetDatalakeAutoEnableRequest",
        "documentation" : "",
        "simpleType" : "GetDatalakeAutoEnableRequest",
        "variableSetterType" : "GetDatalakeAutoEnableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDatalakeAutoEnable",
      "operationName" : "GetDatalakeAutoEnable",
      "returnType" : {
        "returnType" : "GetDatalakeAutoEnableResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDatalakeAutoEnableResult"
    },
    "GetDatalakeExceptionsExpiry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDatalakeExceptionsExpiryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDatalakeExceptionsExpiryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDatalakeExceptionsExpiryRequest, GetDatalakeExceptionsExpiryResult>",
      "asyncReturnType" : "GetDatalakeExceptionsExpiryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the expiration period and time-to-live (TTL) for which the exception message will remain. Exceptions are stored by default, for 2 weeks from when a record was created in Amazon Security Lake. This API does not take input parameters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDatalakeExceptionsExpiryRequest",
        "variableName" : "getDatalakeExceptionsExpiryRequest",
        "variableType" : "GetDatalakeExceptionsExpiryRequest",
        "documentation" : "",
        "simpleType" : "GetDatalakeExceptionsExpiryRequest",
        "variableSetterType" : "GetDatalakeExceptionsExpiryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDatalakeExceptionsExpiry",
      "operationName" : "GetDatalakeExceptionsExpiry",
      "returnType" : {
        "returnType" : "GetDatalakeExceptionsExpiryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDatalakeExceptionsExpiryResult"
    },
    "GetDatalakeExceptionsSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDatalakeExceptionsSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDatalakeExceptionsSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDatalakeExceptionsSubscriptionRequest, GetDatalakeExceptionsSubscriptionResult>",
      "asyncReturnType" : "GetDatalakeExceptionsSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details of exception notifications for the account in Amazon Security Lake.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDatalakeExceptionsSubscriptionRequest",
        "variableName" : "getDatalakeExceptionsSubscriptionRequest",
        "variableType" : "GetDatalakeExceptionsSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "GetDatalakeExceptionsSubscriptionRequest",
        "variableSetterType" : "GetDatalakeExceptionsSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDatalakeExceptionsSubscription",
      "operationName" : "GetDatalakeExceptionsSubscription",
      "returnType" : {
        "returnType" : "GetDatalakeExceptionsSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDatalakeExceptionsSubscriptionResult"
    },
    "GetDatalakeStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDatalakeStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDatalakeStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDatalakeStatusRequest, GetDatalakeStatusResult>",
      "asyncReturnType" : "GetDatalakeStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a snapshot of the current Region, including whether Amazon Security Lake is enabled for those accounts and which sources Security Lake is collecting data from. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDatalakeStatusRequest",
        "variableName" : "getDatalakeStatusRequest",
        "variableType" : "GetDatalakeStatusRequest",
        "documentation" : "",
        "simpleType" : "GetDatalakeStatusRequest",
        "variableSetterType" : "GetDatalakeStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDatalakeStatus",
      "operationName" : "GetDatalakeStatus",
      "returnType" : {
        "returnType" : "GetDatalakeStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDatalakeStatusResult"
    },
    "GetSubscriber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSubscriberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSubscriberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSubscriberRequest, GetSubscriberResult>",
      "asyncReturnType" : "GetSubscriberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the subscription information for the specified subscription ID. You can get information about a specific subscriber.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because a value that's not valid or is out of range was supplied for an input parameter. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSubscriberRequest",
        "variableName" : "getSubscriberRequest",
        "variableType" : "GetSubscriberRequest",
        "documentation" : "",
        "simpleType" : "GetSubscriberRequest",
        "variableSetterType" : "GetSubscriberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSubscriber",
      "operationName" : "GetSubscriber",
      "returnType" : {
        "returnType" : "GetSubscriberResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSubscriberResult"
    },
    "ListDatalakeExceptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatalakeExceptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatalakeExceptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatalakeExceptionsRequest, ListDatalakeExceptionsResult>",
      "asyncReturnType" : "ListDatalakeExceptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Amazon Security Lake exceptions that you can use to find the source of problems and fix them.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatalakeExceptionsRequest",
        "variableName" : "listDatalakeExceptionsRequest",
        "variableType" : "ListDatalakeExceptionsRequest",
        "documentation" : "",
        "simpleType" : "ListDatalakeExceptionsRequest",
        "variableSetterType" : "ListDatalakeExceptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatalakeExceptions",
      "operationName" : "ListDatalakeExceptions",
      "returnType" : {
        "returnType" : "ListDatalakeExceptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatalakeExceptionsResult"
    },
    "ListLogSources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLogSourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLogSourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLogSourcesRequest, ListLogSourcesResult>",
      "asyncReturnType" : "ListLogSourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the log sources in the current Amazon Web Services Region. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLogSourcesRequest",
        "variableName" : "listLogSourcesRequest",
        "variableType" : "ListLogSourcesRequest",
        "documentation" : "",
        "simpleType" : "ListLogSourcesRequest",
        "variableSetterType" : "ListLogSourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLogSources",
      "operationName" : "ListLogSources",
      "returnType" : {
        "returnType" : "ListLogSourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLogSourcesResult"
    },
    "ListSubscribers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSubscribersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSubscribersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSubscribersRequest, ListSubscribersResult>",
      "asyncReturnType" : "ListSubscribersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all subscribers for the specific Amazon Security Lake account ID. You can retrieve a list of subscriptions associated with a specific organization or Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because a value that's not valid or is out of range was supplied for an input parameter. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSubscribersRequest",
        "variableName" : "listSubscribersRequest",
        "variableType" : "ListSubscribersRequest",
        "documentation" : "",
        "simpleType" : "ListSubscribersRequest",
        "variableSetterType" : "ListSubscribersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSubscribers",
      "operationName" : "ListSubscribers",
      "returnType" : {
        "returnType" : "ListSubscribersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSubscribersResult"
    },
    "UpdateDatalake" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDatalakeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDatalakeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDatalakeRequest, UpdateDatalakeResult>",
      "asyncReturnType" : "UpdateDatalakeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies where to store your security data and for how long. You can add a rollup Region to consolidate data from multiple Amazon Web Services Regions. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EventBridgeException",
        "documentation" : "<p>Represents an error interacting with the Amazon EventBridge service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDatalakeRequest",
        "variableName" : "updateDatalakeRequest",
        "variableType" : "UpdateDatalakeRequest",
        "documentation" : "",
        "simpleType" : "UpdateDatalakeRequest",
        "variableSetterType" : "UpdateDatalakeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDatalake",
      "operationName" : "UpdateDatalake",
      "returnType" : {
        "returnType" : "UpdateDatalakeResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDatalakeResult"
    },
    "UpdateDatalakeExceptionsExpiry" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDatalakeExceptionsExpiryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDatalakeExceptionsExpiryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDatalakeExceptionsExpiryRequest, UpdateDatalakeExceptionsExpiryResult>",
      "asyncReturnType" : "UpdateDatalakeExceptionsExpiryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the expiration period for the exception message to your preferred time, and control the time-to-live (TTL) for the exception message to remain. Exceptions are stored by default for 2 weeks from when a record was created in Amazon Security Lake. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDatalakeExceptionsExpiryRequest",
        "variableName" : "updateDatalakeExceptionsExpiryRequest",
        "variableType" : "UpdateDatalakeExceptionsExpiryRequest",
        "documentation" : "",
        "simpleType" : "UpdateDatalakeExceptionsExpiryRequest",
        "variableSetterType" : "UpdateDatalakeExceptionsExpiryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDatalakeExceptionsExpiry",
      "operationName" : "UpdateDatalakeExceptionsExpiry",
      "returnType" : {
        "returnType" : "UpdateDatalakeExceptionsExpiryResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDatalakeExceptionsExpiryResult"
    },
    "UpdateDatalakeExceptionsSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDatalakeExceptionsSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDatalakeExceptionsSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDatalakeExceptionsSubscriptionRequest, UpdateDatalakeExceptionsSubscriptionResult>",
      "asyncReturnType" : "UpdateDatalakeExceptionsSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified notification subscription in Amazon Security Lake for the organization you specify.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal service exceptions are sometimes caused by transient issues. Before you start troubleshooting, perform the operation again. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your signing certificate could not be validated. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization request. An explicit denial occurs when a policy contains a Deny statement for the specific Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also no applicable Allow statement.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "AccountNotFoundException",
        "documentation" : "<p>Amazon Security Lake cannot find an Amazon Web Services account with the accountID that you specified, or the account whose credentials you used to make this request isn't a member of an organization.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDatalakeExceptionsSubscriptionRequest",
        "variableName" : "updateDatalakeExceptionsSubscriptionRequest",
        "variableType" : "UpdateDatalakeExceptionsSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "UpdateDatalakeExceptionsSubscriptionRequest",
        "variableSetterType" : "UpdateDatalakeExceptionsSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDatalakeExceptionsSubscription",
      "operationName" : "UpdateDatalakeExceptionsSubscription",
      "returnType" : {
        "returnType" : "UpdateDatalakeExceptionsSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDatalakeExceptionsSubscriptionResult"
    },
    "UpdateSubscriber" : {
[...]
