{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-10-26",
    "asyncClient" : "AWSSecurityHubAsyncClient",
    "asyncClientBuilderClassName" : "AWSSecurityHubAsyncClientBuilder",
    "asyncInterface" : "AWSSecurityHubAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSSecurityHubModuleInjector",
    "defaultEndpoint" : "securityhub.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "securityhub.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Security Hub provides you with a comprehensive view of the security state of your AWS environment and resources. It also provides you with the compliance status of your environment based on CIS AWS Foundations compliance checks. Security Hub collects security data from AWS accounts, services, and integrated third-party products and helps you analyze security trends in your environment to identify the highest priority security issues. For more information about Security Hub, see the <i> <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/what-is-securityhub.html\">AWS Security Hub User Guide</a> </i>.</p> <p>When you use operations in the Security Hub API, the requests are executed only in the AWS Region that is currently active or in the specific AWS Region that you specify in your request. Any configuration or settings change that results from the operation is applied only to that Region. To make the same change in other Regions, execute the same command for each Region to apply the change to. For example, if your Region is set to <code>us-west-2</code>, when you use <code>CreateMembers</code> to add a member account to Security Hub, the association of the member account with the master account is created only in the us-west-2 Region. Security Hub must be enabled for the member account in the same Region that the invite was sent from.</p>",
    "endpointPrefix" : "securityhub",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.securityhub",
    "packagePath" : "com/amazonaws/services/securityhub",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS SecurityHub",
    "serviceId" : "SecurityHub",
    "serviceName" : "AWS SecurityHub",
    "signingName" : "securityhub",
    "smokeTestsPackageName" : "com.amazonaws.services.securityhub.smoketests",
    "syncClient" : "AWSSecurityHubClient",
    "syncClientBuilderClassName" : "AWSSecurityHubClientBuilder",
    "syncInterface" : "AWSSecurityHub",
    "uid" : "securityhub-2018-10-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptInvitationRequest, AcceptInvitationResult>",
      "asyncReturnType" : "AcceptInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts the invitation to be a member account and be monitored by the Security Hub master account that the invitation was sent from. When the member account accepts the invitation, permission is granted to the master account to view findings generated in the member account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationRequest",
        "variableName" : "acceptInvitationRequest",
        "variableType" : "AcceptInvitationRequest",
        "documentation" : "",
        "simpleType" : "AcceptInvitationRequest",
        "variableSetterType" : "AcceptInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptInvitation",
      "operationName" : "AcceptInvitation",
      "returnType" : {
        "returnType" : "AcceptInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptInvitationResult"
    },
    "BatchDisableStandards" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDisableStandardsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDisableStandardsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDisableStandardsRequest, BatchDisableStandardsResult>",
      "asyncReturnType" : "BatchDisableStandardsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the standards specified by the provided <code>StandardsSubscriptionArns</code>. For more information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Standards Supported in AWS Security Hub</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDisableStandardsRequest",
        "variableName" : "batchDisableStandardsRequest",
        "variableType" : "BatchDisableStandardsRequest",
        "documentation" : "",
        "simpleType" : "BatchDisableStandardsRequest",
        "variableSetterType" : "BatchDisableStandardsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDisableStandards",
      "operationName" : "BatchDisableStandards",
      "returnType" : {
        "returnType" : "BatchDisableStandardsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDisableStandardsResult"
    },
    "BatchEnableStandards" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchEnableStandardsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchEnableStandardsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchEnableStandardsRequest, BatchEnableStandardsResult>",
      "asyncReturnType" : "BatchEnableStandardsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the standards specified by the provided <code>standardsArn</code>. In this release, only CIS AWS Foundations standards are supported. For more information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Standards Supported in AWS Security Hub</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchEnableStandardsRequest",
        "variableName" : "batchEnableStandardsRequest",
        "variableType" : "BatchEnableStandardsRequest",
        "documentation" : "",
        "simpleType" : "BatchEnableStandardsRequest",
        "variableSetterType" : "BatchEnableStandardsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchEnableStandards",
      "operationName" : "BatchEnableStandards",
      "returnType" : {
        "returnType" : "BatchEnableStandardsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchEnableStandardsResult"
    },
    "BatchImportFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchImportFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchImportFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchImportFindingsRequest, BatchImportFindingsResult>",
      "asyncReturnType" : "BatchImportFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports security findings generated from an integrated third-party product into Security Hub. This action is requested by the integrated product to import its findings into Security Hub. The maximum allowed size for a finding is 240 Kb. An error is returned for any finding larger than 240 Kb.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchImportFindingsRequest",
        "variableName" : "batchImportFindingsRequest",
        "variableType" : "BatchImportFindingsRequest",
        "documentation" : "",
        "simpleType" : "BatchImportFindingsRequest",
        "variableSetterType" : "BatchImportFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchImportFindings",
      "operationName" : "BatchImportFindings",
      "returnType" : {
        "returnType" : "BatchImportFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchImportFindingsResult"
    },
    "CreateActionTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateActionTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateActionTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateActionTargetRequest, CreateActionTargetResult>",
      "asyncReturnType" : "CreateActionTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a custom action target in Security Hub. You can use custom actions on findings and insights in Security Hub to trigger target actions in Amazon CloudWatch Events.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateActionTargetRequest",
        "variableName" : "createActionTargetRequest",
        "variableType" : "CreateActionTargetRequest",
        "documentation" : "",
        "simpleType" : "CreateActionTargetRequest",
        "variableSetterType" : "CreateActionTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createActionTarget",
      "operationName" : "CreateActionTarget",
      "returnType" : {
        "returnType" : "CreateActionTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateActionTargetResult"
    },
    "CreateInsight" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInsightResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInsightResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInsightRequest, CreateInsightResult>",
      "asyncReturnType" : "CreateInsightResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a custom insight in Security Hub. An insight is a consolidation of findings that relate to a security issue that requires attention or remediation. Use the <code>GroupByAttribute</code> to group the related findings in the insight.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateInsightRequest",
        "variableName" : "createInsightRequest",
        "variableType" : "CreateInsightRequest",
        "documentation" : "",
        "simpleType" : "CreateInsightRequest",
        "variableSetterType" : "CreateInsightRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInsight",
      "operationName" : "CreateInsight",
      "returnType" : {
        "returnType" : "CreateInsightResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateInsightResult"
    },
    "CreateMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMembersRequest, CreateMembersResult>",
      "asyncReturnType" : "CreateMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a member association in Security Hub between the specified accounts and the account used to make the request, which is the master account. To successfully create a member, you must use this action from an account that already has Security Hub enabled. You can use the <a>EnableSecurityHub</a> to enable Security Hub.</p> <p>After you use <code>CreateMembers</code> to create member account associations in Security Hub, you need to use the <a>InviteMembers</a> action, which invites the accounts to enable Security Hub and become member accounts in Security Hub. If the invitation is accepted by the account owner, the account becomes a member account in Security Hub, and a permission policy is added that permits the master account to view the findings generated in the member account. When Security Hub is enabled in the invited account, findings start being sent to both the member and master accounts.</p> <p>You can remove the association between the master and member accounts by using the <a>DisassociateFromMasterAccount</a> or <a>DisassociateMembers</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMembersRequest",
        "variableName" : "createMembersRequest",
        "variableType" : "CreateMembersRequest",
        "documentation" : "",
        "simpleType" : "CreateMembersRequest",
        "variableSetterType" : "CreateMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMembers",
      "operationName" : "CreateMembers",
      "returnType" : {
        "returnType" : "CreateMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMembersResult"
    },
    "DeclineInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeclineInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeclineInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeclineInvitationsRequest, DeclineInvitationsResult>",
      "asyncReturnType" : "DeclineInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Declines invitations to become a member account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeclineInvitationsRequest",
        "variableName" : "declineInvitationsRequest",
        "variableType" : "DeclineInvitationsRequest",
        "documentation" : "",
        "simpleType" : "DeclineInvitationsRequest",
        "variableSetterType" : "DeclineInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "declineInvitations",
      "operationName" : "DeclineInvitations",
      "returnType" : {
        "returnType" : "DeclineInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeclineInvitationsResult"
    },
    "DeleteActionTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteActionTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteActionTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteActionTargetRequest, DeleteActionTargetResult>",
      "asyncReturnType" : "DeleteActionTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a custom action target from Security Hub. Deleting a custom action target doesn't affect any findings or insights that were already sent to Amazon CloudWatch Events using the custom action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteActionTargetRequest",
        "variableName" : "deleteActionTargetRequest",
        "variableType" : "DeleteActionTargetRequest",
        "documentation" : "",
        "simpleType" : "DeleteActionTargetRequest",
        "variableSetterType" : "DeleteActionTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteActionTarget",
      "operationName" : "DeleteActionTarget",
      "returnType" : {
        "returnType" : "DeleteActionTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteActionTargetResult"
    },
    "DeleteInsight" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInsightResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInsightResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInsightRequest, DeleteInsightResult>",
      "asyncReturnType" : "DeleteInsightResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the insight specified by the <code>InsightArn</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInsightRequest",
        "variableName" : "deleteInsightRequest",
        "variableType" : "DeleteInsightRequest",
        "documentation" : "",
        "simpleType" : "DeleteInsightRequest",
        "variableSetterType" : "DeleteInsightRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInsight",
      "operationName" : "DeleteInsight",
      "returnType" : {
        "returnType" : "DeleteInsightResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInsightResult"
    },
    "DeleteInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInvitationsRequest, DeleteInvitationsResult>",
      "asyncReturnType" : "DeleteInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes invitations received by the AWS account to become a member account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInvitationsRequest",
        "variableName" : "deleteInvitationsRequest",
        "variableType" : "DeleteInvitationsRequest",
        "documentation" : "",
        "simpleType" : "DeleteInvitationsRequest",
        "variableSetterType" : "DeleteInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInvitations",
      "operationName" : "DeleteInvitations",
      "returnType" : {
        "returnType" : "DeleteInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInvitationsResult"
    },
    "DeleteMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMembersRequest, DeleteMembersResult>",
      "asyncReturnType" : "DeleteMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified member accounts from Security Hub.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMembersRequest",
        "variableName" : "deleteMembersRequest",
        "variableType" : "DeleteMembersRequest",
        "documentation" : "",
        "simpleType" : "DeleteMembersRequest",
        "variableSetterType" : "DeleteMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMembers",
      "operationName" : "DeleteMembers",
      "returnType" : {
        "returnType" : "DeleteMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMembersResult"
    },
    "DescribeActionTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeActionTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeActionTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeActionTargetsRequest, DescribeActionTargetsResult>",
      "asyncReturnType" : "DescribeActionTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the custom action targets in Security Hub in your account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeActionTargetsRequest",
        "variableName" : "describeActionTargetsRequest",
        "variableType" : "DescribeActionTargetsRequest",
        "documentation" : "",
        "simpleType" : "DescribeActionTargetsRequest",
        "variableSetterType" : "DescribeActionTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeActionTargets",
      "operationName" : "DescribeActionTargets",
      "returnType" : {
        "returnType" : "DescribeActionTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeActionTargetsResult"
    },
    "DescribeHub" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeHubResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeHubResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeHubRequest, DescribeHubResult>",
      "asyncReturnType" : "DescribeHubResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about the Hub resource in your account, including the <code>HubArn</code> and the time when you enabled Security Hub.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeHubRequest",
        "variableName" : "describeHubRequest",
        "variableType" : "DescribeHubRequest",
        "documentation" : "",
        "simpleType" : "DescribeHubRequest",
        "variableSetterType" : "DescribeHubRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeHub",
      "operationName" : "DescribeHub",
      "returnType" : {
        "returnType" : "DescribeHubResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeHubResult"
    },
    "DescribeProducts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductsRequest, DescribeProductsResult>",
      "asyncReturnType" : "DescribeProductsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the products available that you can subscribe to and integrate with Security Hub to consolidate findings.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProductsRequest",
        "variableName" : "describeProductsRequest",
        "variableType" : "DescribeProductsRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductsRequest",
        "variableSetterType" : "DescribeProductsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProducts",
      "operationName" : "DescribeProducts",
      "returnType" : {
        "returnType" : "DescribeProductsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProductsResult"
    },
    "DisableImportFindingsForProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableImportFindingsForProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableImportFindingsForProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableImportFindingsForProductRequest, DisableImportFindingsForProductResult>",
      "asyncReturnType" : "DisableImportFindingsForProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the integration of the specified product with Security Hub. Findings from that product are no longer sent to Security Hub after the integration is disabled.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableImportFindingsForProductRequest",
        "variableName" : "disableImportFindingsForProductRequest",
        "variableType" : "DisableImportFindingsForProductRequest",
        "documentation" : "",
        "simpleType" : "DisableImportFindingsForProductRequest",
        "variableSetterType" : "DisableImportFindingsForProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableImportFindingsForProduct",
      "operationName" : "DisableImportFindingsForProduct",
      "returnType" : {
        "returnType" : "DisableImportFindingsForProductResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableImportFindingsForProductResult"
    },
    "DisableSecurityHub" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableSecurityHubResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableSecurityHubResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableSecurityHubRequest, DisableSecurityHubResult>",
      "asyncReturnType" : "DisableSecurityHubResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables Security Hub in your account only in the current Region. To disable Security Hub in all Regions, you must submit one request per Region where you have enabled Security Hub. When you disable Security Hub for a master account, it doesn't disable Security Hub for any associated member accounts.</p> <p>When you disable Security Hub, your existing findings and insights and any Security Hub configuration settings are deleted after 90 days and can't be recovered. Any standards that were enabled are disabled, and your master and member account associations are removed. If you want to save your existing findings, you must export them before you disable Security Hub.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableSecurityHubRequest",
        "variableName" : "disableSecurityHubRequest",
        "variableType" : "DisableSecurityHubRequest",
        "documentation" : "",
        "simpleType" : "DisableSecurityHubRequest",
        "variableSetterType" : "DisableSecurityHubRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableSecurityHub",
      "operationName" : "DisableSecurityHub",
      "returnType" : {
        "returnType" : "DisableSecurityHubResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableSecurityHubResult"
    },
    "DisassociateFromMasterAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateFromMasterAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateFromMasterAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateFromMasterAccountRequest, DisassociateFromMasterAccountResult>",
      "asyncReturnType" : "DisassociateFromMasterAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the current Security Hub member account from the associated master account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateFromMasterAccountRequest",
        "variableName" : "disassociateFromMasterAccountRequest",
        "variableType" : "DisassociateFromMasterAccountRequest",
        "documentation" : "",
        "simpleType" : "DisassociateFromMasterAccountRequest",
        "variableSetterType" : "DisassociateFromMasterAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateFromMasterAccount",
      "operationName" : "DisassociateFromMasterAccount",
      "returnType" : {
        "returnType" : "DisassociateFromMasterAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateFromMasterAccountResult"
    },
    "DisassociateMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateMembersRequest, DisassociateMembersResult>",
      "asyncReturnType" : "DisassociateMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified member accounts from the associated master account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateMembersRequest",
        "variableName" : "disassociateMembersRequest",
        "variableType" : "DisassociateMembersRequest",
        "documentation" : "",
        "simpleType" : "DisassociateMembersRequest",
        "variableSetterType" : "DisassociateMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateMembers",
      "operationName" : "DisassociateMembers",
      "returnType" : {
        "returnType" : "DisassociateMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateMembersResult"
    },
    "EnableImportFindingsForProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableImportFindingsForProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableImportFindingsForProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableImportFindingsForProductRequest, EnableImportFindingsForProductResult>",
      "asyncReturnType" : "EnableImportFindingsForProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the integration of a partner product with Security Hub. Integrated products send findings to Security Hub. When you enable a product integration, a permission policy that grants permission for the product to send findings to Security Hub is applied.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableImportFindingsForProductRequest",
        "variableName" : "enableImportFindingsForProductRequest",
        "variableType" : "EnableImportFindingsForProductRequest",
        "documentation" : "",
        "simpleType" : "EnableImportFindingsForProductRequest",
        "variableSetterType" : "EnableImportFindingsForProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableImportFindingsForProduct",
      "operationName" : "EnableImportFindingsForProduct",
      "returnType" : {
        "returnType" : "EnableImportFindingsForProductResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableImportFindingsForProductResult"
    },
    "EnableSecurityHub" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableSecurityHubResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableSecurityHubResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableSecurityHubRequest, EnableSecurityHubResult>",
      "asyncReturnType" : "EnableSecurityHubResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables Security Hub for your account in the current Region or the Region you specify in the request. When you enable Security Hub, you grant to Security Hub the permissions necessary to gather findings from AWS Config, Amazon GuardDuty, Amazon Inspector, and Amazon Macie. To learn more, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-settingup.html\">Setting Up AWS Security Hub</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>The resource specified in the request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action specified in the request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableSecurityHubRequest",
        "variableName" : "enableSecurityHubRequest",
        "variableType" : "EnableSecurityHubRequest",
        "documentation" : "",
        "simpleType" : "EnableSecurityHubRequest",
        "variableSetterType" : "EnableSecurityHubRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableSecurityHub",
      "operationName" : "EnableSecurityHub",
      "returnType" : {
        "returnType" : "EnableSecurityHubResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableSecurityHubResult"
    },
    "GetEnabledStandards" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEnabledStandardsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEnabledStandardsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEnabledStandardsRequest, GetEnabledStandardsResult>",
      "asyncReturnType" : "GetEnabledStandardsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the standards that are currently enabled.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEnabledStandardsRequest",
        "variableName" : "getEnabledStandardsRequest",
        "variableType" : "GetEnabledStandardsRequest",
        "documentation" : "",
        "simpleType" : "GetEnabledStandardsRequest",
        "variableSetterType" : "GetEnabledStandardsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEnabledStandards",
      "operationName" : "GetEnabledStandards",
      "returnType" : {
        "returnType" : "GetEnabledStandardsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEnabledStandardsResult"
    },
    "GetFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFindingsRequest, GetFindingsResult>",
      "asyncReturnType" : "GetFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of findings that match the specified criteria.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFindingsRequest",
        "variableName" : "getFindingsRequest",
        "variableType" : "GetFindingsRequest",
        "documentation" : "",
        "simpleType" : "GetFindingsRequest",
        "variableSetterType" : "GetFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFindings",
      "operationName" : "GetFindings",
      "returnType" : {
        "returnType" : "GetFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFindingsResult"
    },
    "GetInsightResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInsightResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInsightResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInsightResultsRequest, GetInsightResultsResult>",
      "asyncReturnType" : "GetInsightResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the results of the Security Hub insight that the insight ARN specifies.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInsightResultsRequest",
        "variableName" : "getInsightResultsRequest",
        "variableType" : "GetInsightResultsRequest",
        "documentation" : "",
        "simpleType" : "GetInsightResultsRequest",
        "variableSetterType" : "GetInsightResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInsightResults",
      "operationName" : "GetInsightResults",
      "returnType" : {
        "returnType" : "GetInsightResultsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInsightResultsResult"
    },
    "GetInsights" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInsightsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInsightsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInsightsRequest, GetInsightsResult>",
      "asyncReturnType" : "GetInsightsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists and describes insights that insight ARNs specify.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInsightsRequest",
        "variableName" : "getInsightsRequest",
        "variableType" : "GetInsightsRequest",
        "documentation" : "",
        "simpleType" : "GetInsightsRequest",
        "variableSetterType" : "GetInsightsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInsights",
      "operationName" : "GetInsights",
      "returnType" : {
        "returnType" : "GetInsightsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInsightsResult"
    },
    "GetInvitationsCount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInvitationsCountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInvitationsCountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInvitationsCountRequest, GetInvitationsCountResult>",
      "asyncReturnType" : "GetInvitationsCountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the count of all Security Hub membership invitations that were sent to the current member account, not including the currently accepted invitation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInvitationsCountRequest",
        "variableName" : "getInvitationsCountRequest",
        "variableType" : "GetInvitationsCountRequest",
        "documentation" : "",
        "simpleType" : "GetInvitationsCountRequest",
        "variableSetterType" : "GetInvitationsCountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInvitationsCount",
      "operationName" : "GetInvitationsCount",
      "returnType" : {
        "returnType" : "GetInvitationsCountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInvitationsCountResult"
    },
    "GetMasterAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMasterAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMasterAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMasterAccountRequest, GetMasterAccountResult>",
      "asyncReturnType" : "GetMasterAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides the details for the Security Hub master account to the current member account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMasterAccountRequest",
        "variableName" : "getMasterAccountRequest",
        "variableType" : "GetMasterAccountRequest",
        "documentation" : "",
        "simpleType" : "GetMasterAccountRequest",
        "variableSetterType" : "GetMasterAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMasterAccount",
      "operationName" : "GetMasterAccount",
      "returnType" : {
        "returnType" : "GetMasterAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMasterAccountResult"
    },
    "GetMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMembersRequest, GetMembersResult>",
      "asyncReturnType" : "GetMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details on the Security Hub member accounts that the account IDs specify.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMembersRequest",
        "variableName" : "getMembersRequest",
        "variableType" : "GetMembersRequest",
        "documentation" : "",
        "simpleType" : "GetMembersRequest",
        "variableSetterType" : "GetMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMembers",
      "operationName" : "GetMembers",
      "returnType" : {
        "returnType" : "GetMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMembersResult"
    },
    "InviteMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InviteMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InviteMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InviteMembersRequest, InviteMembersResult>",
      "asyncReturnType" : "InviteMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Invites other AWS accounts to become member accounts for the Security Hub master account that the invitation is sent from. Before you can use this action to invite a member, you must first create the member account in Security Hub by using the <a>CreateMembers</a> action. When the account owner accepts the invitation to become a member account and enables Security Hub, the master account can view the findings generated from member account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InviteMembersRequest",
        "variableName" : "inviteMembersRequest",
        "variableType" : "InviteMembersRequest",
        "documentation" : "",
        "simpleType" : "InviteMembersRequest",
        "variableSetterType" : "InviteMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "inviteMembers",
      "operationName" : "InviteMembers",
      "returnType" : {
        "returnType" : "InviteMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "InviteMembersResult"
    },
    "ListEnabledProductsForImport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEnabledProductsForImportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEnabledProductsForImportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEnabledProductsForImportRequest, ListEnabledProductsForImportResult>",
      "asyncReturnType" : "ListEnabledProductsForImportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all findings-generating solutions (products) whose findings you have subscribed to receive in Security Hub.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEnabledProductsForImportRequest",
        "variableName" : "listEnabledProductsForImportRequest",
        "variableType" : "ListEnabledProductsForImportRequest",
        "documentation" : "",
        "simpleType" : "ListEnabledProductsForImportRequest",
        "variableSetterType" : "ListEnabledProductsForImportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEnabledProductsForImport",
      "operationName" : "ListEnabledProductsForImport",
      "returnType" : {
        "returnType" : "ListEnabledProductsForImportResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEnabledProductsForImportResult"
    },
    "ListInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvitationsRequest, ListInvitationsResult>",
      "asyncReturnType" : "ListInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Security Hub membership invitations that were sent to the current AWS account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInvitationsRequest",
        "variableName" : "listInvitationsRequest",
        "variableType" : "ListInvitationsRequest",
        "documentation" : "",
        "simpleType" : "ListInvitationsRequest",
        "variableSetterType" : "ListInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInvitations",
      "operationName" : "ListInvitations",
      "returnType" : {
        "returnType" : "ListInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInvitationsResult"
    },
    "ListMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMembersRequest, ListMembersResult>",
      "asyncReturnType" : "ListMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists details about all member accounts for the current Security Hub master account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMembersRequest",
        "variableName" : "listMembersRequest",
        "variableType" : "ListMembersRequest",
        "documentation" : "",
        "simpleType" : "ListMembersRequest",
        "variableSetterType" : "ListMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMembers",
      "operationName" : "ListMembers",
      "returnType" : {
        "returnType" : "ListMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMembersResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags associated with a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateActionTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateActionTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateActionTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateActionTargetRequest, UpdateActionTargetResult>",
      "asyncReturnType" : "UpdateActionTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the name and description of a custom action target in Security Hub.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateActionTargetRequest",
        "variableName" : "updateActionTargetRequest",
        "variableType" : "UpdateActionTargetRequest",
        "documentation" : "",
        "simpleType" : "UpdateActionTargetRequest",
        "variableSetterType" : "UpdateActionTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateActionTarget",
      "operationName" : "UpdateActionTarget",
      "returnType" : {
        "returnType" : "UpdateActionTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateActionTargetResult"
    },
    "UpdateFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFindingsRequest, UpdateFindingsResult>",
      "asyncReturnType" : "UpdateFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>Note</code> and <code>RecordState</code> of the Security Hub-aggregated findings that the filter attributes specify. Any member account that can view the finding also sees the update to the finding.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFindingsRequest",
        "variableName" : "updateFindingsRequest",
        "variableType" : "UpdateFindingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateFindingsRequest",
        "variableSetterType" : "UpdateFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFindings",
      "operationName" : "UpdateFindings",
      "returnType" : {
        "returnType" : "UpdateFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFindingsResult"
    },
    "UpdateInsight" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateInsightResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateInsightResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateInsightRequest, UpdateInsightResult>",
      "asyncReturnType" : "UpdateInsightResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the Security Hub insight that the insight ARN specifies.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because you supplied an invalid or out-of-range value for an input parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidAccessException",
        "documentation" : "<p>AWS Security Hub isn't enabled for the account used to make this request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request was rejected because we can't find the specified resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateInsightRequest",
        "variableName" : "updateInsightRequest",
        "variableType" : "UpdateInsightRequest",
        "documentation" : "",
        "simpleType" : "UpdateInsightRequest",
        "variableSetterType" : "UpdateInsightRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateInsight",
      "operationName" : "UpdateInsight",
      "returnType" : {
        "returnType" : "UpdateInsightResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateInsightResult"
    }
  },
  "shapes" : {
    "AcceptInvitationRequest" : {
      "c2jName" : "AcceptInvitationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptInvitation",
        "locationName" : null,
        "requestUri" : "/master",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "MasterId",
        "c2jShape" : "NonEmptyString",
        "deprecated" : false,
        "documentation" : "<p>The account ID of the Security Hub master account that sent the invitation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The account ID of the Security Hub master account that sent the invitation.</p>\n@param masterId The account ID of the Security Hub master account that sent the invitation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMasterId",
        "getterDocumentation" : "/**<p>The account ID of the Security Hub master account that sent the invitation.</p>\n@return The account ID of the Security Hub master account that sent the invitation.*/",
        "getterMethodName" : "getMasterId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MasterId",
[...]
