{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-06-24",
    "asyncClient" : "AWSServiceQuotasAsyncClient",
    "asyncClientBuilderClassName" : "AWSServiceQuotasAsyncClientBuilder",
    "asyncInterface" : "AWSServiceQuotasAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSServiceQuotasModuleInjector",
    "defaultEndpoint" : "servicequotas.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "servicequotas.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>With Service Quotas, you can view and manage your quotas easily as your AWS workloads grow. Quotas, also referred to as limits, are the maximum number of resources that you can create in your AWS account. For more information, see the <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/\">Service Quotas User Guide</a>.</p>",
    "endpointPrefix" : "servicequotas",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.servicequotas",
    "packagePath" : "com/amazonaws/services/servicequotas",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Service Quotas",
    "serviceId" : "Service Quotas",
    "serviceName" : "Service Quotas",
    "signingName" : "servicequotas",
    "smokeTestsPackageName" : "com.amazonaws.services.servicequotas.smoketests",
    "syncClient" : "AWSServiceQuotasClient",
    "syncClientBuilderClassName" : "AWSServiceQuotasClientBuilder",
    "syncInterface" : "AWSServiceQuotas",
    "uid" : "service-quotas-2019-06-24",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateServiceQuotaTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateServiceQuotaTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateServiceQuotaTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateServiceQuotaTemplateRequest, AssociateServiceQuotaTemplateResult>",
      "asyncReturnType" : "AssociateServiceQuotaTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates your quota request template with your organization. When a new account is created in your organization, the quota increase requests in the template are automatically applied to the account. You can add a quota increase request for any adjustable quota to your template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotInAllFeaturesModeException",
        "documentation" : "<p>The organization that your account belongs to is not in All Features mode.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in this AWS Region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateServiceQuotaTemplateRequest",
        "variableName" : "associateServiceQuotaTemplateRequest",
        "variableType" : "AssociateServiceQuotaTemplateRequest",
        "documentation" : "",
        "simpleType" : "AssociateServiceQuotaTemplateRequest",
        "variableSetterType" : "AssociateServiceQuotaTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateServiceQuotaTemplate",
      "operationName" : "AssociateServiceQuotaTemplate",
      "returnType" : {
        "returnType" : "AssociateServiceQuotaTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateServiceQuotaTemplateResult"
    },
    "DeleteServiceQuotaIncreaseRequestFromTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServiceQuotaIncreaseRequestFromTemplateRequest, DeleteServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncReturnType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the quota increase request for the specified quota from your quota request template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in this AWS Region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableName" : "deleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableSetterType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteServiceQuotaIncreaseRequestFromTemplate",
      "operationName" : "DeleteServiceQuotaIncreaseRequestFromTemplate",
      "returnType" : {
        "returnType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult"
    },
    "DisassociateServiceQuotaTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateServiceQuotaTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateServiceQuotaTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateServiceQuotaTemplateRequest, DisassociateServiceQuotaTemplateResult>",
      "asyncReturnType" : "DisassociateServiceQuotaTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables your quota request template. After a template is disabled, the quota increase requests in the template are not applied to new accounts in your organization. Disabling a quota request template does not apply its quota increase requests.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaTemplateNotInUseException",
        "documentation" : "<p>The quota request template is not associated with your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in this AWS Region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateServiceQuotaTemplateRequest",
        "variableName" : "disassociateServiceQuotaTemplateRequest",
        "variableType" : "DisassociateServiceQuotaTemplateRequest",
        "documentation" : "",
        "simpleType" : "DisassociateServiceQuotaTemplateRequest",
        "variableSetterType" : "DisassociateServiceQuotaTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateServiceQuotaTemplate",
      "operationName" : "DisassociateServiceQuotaTemplate",
      "returnType" : {
        "returnType" : "DisassociateServiceQuotaTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateServiceQuotaTemplateResult"
    },
    "GetAWSDefaultServiceQuota" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAWSDefaultServiceQuotaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAWSDefaultServiceQuotaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAWSDefaultServiceQuotaRequest, GetAWSDefaultServiceQuotaResult>",
      "asyncReturnType" : "GetAWSDefaultServiceQuotaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the default value for the specified quota. The default value does not reflect any quota increases.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAWSDefaultServiceQuotaRequest",
        "variableName" : "getAWSDefaultServiceQuotaRequest",
        "variableType" : "GetAWSDefaultServiceQuotaRequest",
        "documentation" : "",
        "simpleType" : "GetAWSDefaultServiceQuotaRequest",
        "variableSetterType" : "GetAWSDefaultServiceQuotaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAWSDefaultServiceQuota",
      "operationName" : "GetAWSDefaultServiceQuota",
      "returnType" : {
        "returnType" : "GetAWSDefaultServiceQuotaResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAWSDefaultServiceQuotaResult"
    },
    "GetAssociationForServiceQuotaTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssociationForServiceQuotaTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssociationForServiceQuotaTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssociationForServiceQuotaTemplateRequest, GetAssociationForServiceQuotaTemplateResult>",
      "asyncReturnType" : "GetAssociationForServiceQuotaTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the status of the association for the quota request template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaTemplateNotInUseException",
        "documentation" : "<p>The quota request template is not associated with your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in this AWS Region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssociationForServiceQuotaTemplateRequest",
        "variableName" : "getAssociationForServiceQuotaTemplateRequest",
        "variableType" : "GetAssociationForServiceQuotaTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetAssociationForServiceQuotaTemplateRequest",
        "variableSetterType" : "GetAssociationForServiceQuotaTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssociationForServiceQuotaTemplate",
      "operationName" : "GetAssociationForServiceQuotaTemplate",
      "returnType" : {
        "returnType" : "GetAssociationForServiceQuotaTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssociationForServiceQuotaTemplateResult"
    },
    "GetRequestedServiceQuotaChange" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRequestedServiceQuotaChangeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRequestedServiceQuotaChangeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRequestedServiceQuotaChangeRequest, GetRequestedServiceQuotaChangeResult>",
      "asyncReturnType" : "GetRequestedServiceQuotaChangeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about the specified quota increase request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRequestedServiceQuotaChangeRequest",
        "variableName" : "getRequestedServiceQuotaChangeRequest",
        "variableType" : "GetRequestedServiceQuotaChangeRequest",
        "documentation" : "",
        "simpleType" : "GetRequestedServiceQuotaChangeRequest",
        "variableSetterType" : "GetRequestedServiceQuotaChangeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRequestedServiceQuotaChange",
      "operationName" : "GetRequestedServiceQuotaChange",
      "returnType" : {
        "returnType" : "GetRequestedServiceQuotaChangeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRequestedServiceQuotaChangeResult"
    },
    "GetServiceQuota" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceQuotaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceQuotaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceQuotaRequest, GetServiceQuotaResult>",
      "asyncReturnType" : "GetServiceQuotaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the applied quota value for the specified quota. For some quotas, only the default values are available. If the applied quota value is not available for a quota, the quota is not retrieved.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceQuotaRequest",
        "variableName" : "getServiceQuotaRequest",
        "variableType" : "GetServiceQuotaRequest",
        "documentation" : "",
        "simpleType" : "GetServiceQuotaRequest",
        "variableSetterType" : "GetServiceQuotaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceQuota",
      "operationName" : "GetServiceQuota",
      "returnType" : {
        "returnType" : "GetServiceQuotaResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceQuotaResult"
    },
    "GetServiceQuotaIncreaseRequestFromTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceQuotaIncreaseRequestFromTemplateRequest, GetServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncReturnType" : "GetServiceQuotaIncreaseRequestFromTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about the specified quota increase request in your quota request template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in this AWS Region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableName" : "getServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableType" : "GetServiceQuotaIncreaseRequestFromTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableSetterType" : "GetServiceQuotaIncreaseRequestFromTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceQuotaIncreaseRequestFromTemplate",
      "operationName" : "GetServiceQuotaIncreaseRequestFromTemplate",
      "returnType" : {
        "returnType" : "GetServiceQuotaIncreaseRequestFromTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceQuotaIncreaseRequestFromTemplateResult"
    },
    "ListAWSDefaultServiceQuotas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAWSDefaultServiceQuotasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAWSDefaultServiceQuotasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAWSDefaultServiceQuotasRequest, ListAWSDefaultServiceQuotasResult>",
      "asyncReturnType" : "ListAWSDefaultServiceQuotasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the default values for the quotas for the specified AWS service. A default value does not reflect any quota increases.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAWSDefaultServiceQuotasRequest",
        "variableName" : "listAWSDefaultServiceQuotasRequest",
        "variableType" : "ListAWSDefaultServiceQuotasRequest",
        "documentation" : "",
        "simpleType" : "ListAWSDefaultServiceQuotasRequest",
        "variableSetterType" : "ListAWSDefaultServiceQuotasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAWSDefaultServiceQuotas",
      "operationName" : "ListAWSDefaultServiceQuotas",
      "returnType" : {
        "returnType" : "ListAWSDefaultServiceQuotasResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAWSDefaultServiceQuotasResult"
    },
    "ListRequestedServiceQuotaChangeHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRequestedServiceQuotaChangeHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRequestedServiceQuotaChangeHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRequestedServiceQuotaChangeHistoryRequest, ListRequestedServiceQuotaChangeHistoryResult>",
      "asyncReturnType" : "ListRequestedServiceQuotaChangeHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the quota increase requests for the specified service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRequestedServiceQuotaChangeHistoryRequest",
        "variableName" : "listRequestedServiceQuotaChangeHistoryRequest",
        "variableType" : "ListRequestedServiceQuotaChangeHistoryRequest",
        "documentation" : "",
        "simpleType" : "ListRequestedServiceQuotaChangeHistoryRequest",
        "variableSetterType" : "ListRequestedServiceQuotaChangeHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRequestedServiceQuotaChangeHistory",
      "operationName" : "ListRequestedServiceQuotaChangeHistory",
      "returnType" : {
        "returnType" : "ListRequestedServiceQuotaChangeHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRequestedServiceQuotaChangeHistoryResult"
    },
    "ListRequestedServiceQuotaChangeHistoryByQuota" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRequestedServiceQuotaChangeHistoryByQuotaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRequestedServiceQuotaChangeHistoryByQuotaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRequestedServiceQuotaChangeHistoryByQuotaRequest, ListRequestedServiceQuotaChangeHistoryByQuotaResult>",
      "asyncReturnType" : "ListRequestedServiceQuotaChangeHistoryByQuotaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the quota increase requests for the specified quota.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRequestedServiceQuotaChangeHistoryByQuotaRequest",
        "variableName" : "listRequestedServiceQuotaChangeHistoryByQuotaRequest",
        "variableType" : "ListRequestedServiceQuotaChangeHistoryByQuotaRequest",
        "documentation" : "",
        "simpleType" : "ListRequestedServiceQuotaChangeHistoryByQuotaRequest",
        "variableSetterType" : "ListRequestedServiceQuotaChangeHistoryByQuotaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRequestedServiceQuotaChangeHistoryByQuota",
      "operationName" : "ListRequestedServiceQuotaChangeHistoryByQuota",
      "returnType" : {
        "returnType" : "ListRequestedServiceQuotaChangeHistoryByQuotaResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRequestedServiceQuotaChangeHistoryByQuotaResult"
    },
    "ListServiceQuotaIncreaseRequestsInTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServiceQuotaIncreaseRequestsInTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServiceQuotaIncreaseRequestsInTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServiceQuotaIncreaseRequestsInTemplateRequest, ListServiceQuotaIncreaseRequestsInTemplateResult>",
      "asyncReturnType" : "ListServiceQuotaIncreaseRequestsInTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the quota increase requests in the specified quota request template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in this AWS Region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServiceQuotaIncreaseRequestsInTemplateRequest",
        "variableName" : "listServiceQuotaIncreaseRequestsInTemplateRequest",
        "variableType" : "ListServiceQuotaIncreaseRequestsInTemplateRequest",
        "documentation" : "",
        "simpleType" : "ListServiceQuotaIncreaseRequestsInTemplateRequest",
        "variableSetterType" : "ListServiceQuotaIncreaseRequestsInTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServiceQuotaIncreaseRequestsInTemplate",
      "operationName" : "ListServiceQuotaIncreaseRequestsInTemplate",
      "returnType" : {
        "returnType" : "ListServiceQuotaIncreaseRequestsInTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServiceQuotaIncreaseRequestsInTemplateResult"
    },
    "ListServiceQuotas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServiceQuotasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServiceQuotasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServiceQuotasRequest, ListServiceQuotasResult>",
      "asyncReturnType" : "ListServiceQuotasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the applied quota values for the specified AWS service. For some quotas, only the default values are available. If the applied quota value is not available for a quota, the quota is not retrieved.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServiceQuotasRequest",
        "variableName" : "listServiceQuotasRequest",
        "variableType" : "ListServiceQuotasRequest",
        "documentation" : "",
        "simpleType" : "ListServiceQuotasRequest",
        "variableSetterType" : "ListServiceQuotasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServiceQuotas",
      "operationName" : "ListServiceQuotas",
      "returnType" : {
        "returnType" : "ListServiceQuotasResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServiceQuotasResult"
    },
    "ListServices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServicesRequest, ListServicesResult>",
      "asyncReturnType" : "ListServicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the names and codes for the services integrated with Service Quotas.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServicesRequest",
        "variableName" : "listServicesRequest",
        "variableType" : "ListServicesRequest",
        "documentation" : "",
        "simpleType" : "ListServicesRequest",
        "variableSetterType" : "ListServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServices",
      "operationName" : "ListServices",
      "returnType" : {
        "returnType" : "ListServicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServicesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the tags assigned to the specified applied quota.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutServiceQuotaIncreaseRequestIntoTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutServiceQuotaIncreaseRequestIntoTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutServiceQuotaIncreaseRequestIntoTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutServiceQuotaIncreaseRequestIntoTemplateRequest, PutServiceQuotaIncreaseRequestIntoTemplateResult>",
      "asyncReturnType" : "PutServiceQuotaIncreaseRequestIntoTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a quota increase request to your quota request template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "QuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in this AWS Region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutServiceQuotaIncreaseRequestIntoTemplateRequest",
        "variableName" : "putServiceQuotaIncreaseRequestIntoTemplateRequest",
        "variableType" : "PutServiceQuotaIncreaseRequestIntoTemplateRequest",
        "documentation" : "",
        "simpleType" : "PutServiceQuotaIncreaseRequestIntoTemplateRequest",
        "variableSetterType" : "PutServiceQuotaIncreaseRequestIntoTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putServiceQuotaIncreaseRequestIntoTemplate",
      "operationName" : "PutServiceQuotaIncreaseRequestIntoTemplate",
      "returnType" : {
        "returnType" : "PutServiceQuotaIncreaseRequestIntoTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "PutServiceQuotaIncreaseRequestIntoTemplateResult"
    },
    "RequestServiceQuotaIncrease" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RequestServiceQuotaIncreaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RequestServiceQuotaIncreaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RequestServiceQuotaIncreaseRequest, RequestServiceQuotaIncreaseResult>",
      "asyncReturnType" : "RequestServiceQuotaIncreaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Submits a quota increase request for the specified quota.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "QuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in an invalid state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RequestServiceQuotaIncreaseRequest",
        "variableName" : "requestServiceQuotaIncreaseRequest",
        "variableType" : "RequestServiceQuotaIncreaseRequest",
        "documentation" : "",
        "simpleType" : "RequestServiceQuotaIncreaseRequest",
        "variableSetterType" : "RequestServiceQuotaIncreaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "requestServiceQuotaIncrease",
      "operationName" : "RequestServiceQuotaIncrease",
      "returnType" : {
        "returnType" : "RequestServiceQuotaIncreaseResult",
        "documentation" : null
      },
      "syncReturnType" : "RequestServiceQuotaIncreaseResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to the specified applied quota. You can include one or more tags to add to the quota.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You've exceeded the number of tags allowed for a resource. For more information, see <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/sq-tagging.html#sq-tagging-restrictions\">Tag restrictions</a> in the <i>Service Quotas User Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagPolicyViolationException",
        "documentation" : "<p>The specified tag is a reserved word and cannot be used.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from the specified applied quota. You can specify one or more tags to remove.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "AWSServiceAccessNotEnabledException" : {
      "c2jName" : "AWSServiceAccessNotEnabledException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AWSServiceAccessNotEnabledException",
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.exception.AWSServiceAccessNotEnabledException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servicequotas.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AWSServiceAccessNotEnabledException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AWSServiceAccessNotEnabledException",
        "variableName" : "aWSServiceAccessNotEnabledException",
        "variableType" : "AWSServiceAccessNotEnabledException",
        "documentation" : null,
        "simpleType" : "AWSServiceAccessNotEnabledException",
        "variableSetterType" : "AWSServiceAccessNotEnabledException"
      },
      "wrapper" : false
    },
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient permission to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servicequotas.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssociateServiceQuotaTemplateRequest" : {
      "c2jName" : "AssociateServiceQuotaTemplateRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.request.AssociateServiceQuotaTemplateRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateServiceQuotaTemplate",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "ServiceQuotasV20190624.AssociateServiceQuotaTemplate",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servicequotas.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AssociateServiceQuotaTemplateRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateServiceQuotaTemplateRequest",
        "variableName" : "associateServiceQuotaTemplateRequest",
        "variableType" : "AssociateServiceQuotaTemplateRequest",
        "documentation" : null,
        "simpleType" : "AssociateServiceQuotaTemplateRequest",
        "variableSetterType" : "AssociateServiceQuotaTemplateRequest"
      },
      "wrapper" : false
    },
    "AssociateServiceQuotaTemplateResult" : {
      "c2jName" : "AssociateServiceQuotaTemplateResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.response.AssociateServiceQuotaTemplateResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servicequotas.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AssociateServiceQuotaTemplateResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateServiceQuotaTemplateResult",
        "variableName" : "associateServiceQuotaTemplateResult",
        "variableType" : "AssociateServiceQuotaTemplateResult",
        "documentation" : null,
        "simpleType" : "AssociateServiceQuotaTemplateResult",
        "variableSetterType" : "AssociateServiceQuotaTemplateResult"
      },
      "wrapper" : false
    },
    "DeleteServiceQuotaIncreaseRequestFromTemplateRequest" : {
      "c2jName" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.request.DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteServiceQuotaIncreaseRequestFromTemplate",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "ServiceQuotasV20190624.DeleteServiceQuotaIncreaseRequestFromTemplate",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ServiceCode",
        "c2jShape" : "ServiceCode",
        "deprecated" : false,
        "documentation" : "<p>The service identifier.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The service identifier.</p>\n@param serviceCode The service identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withServiceCode",
        "getterDocumentation" : "/**<p>The service identifier.</p>\n@return The service identifier.*/",
        "getterMethodName" : "getServiceCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServiceCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServiceCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ServiceCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The service identifier.</p>\n@param serviceCode The service identifier.*/",
        "setterMethodName" : "setServiceCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The service identifier.</p>\n@param serviceCode The service identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceCode",
          "variableType" : "String",
          "documentation" : "<p>The service identifier.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "QuotaCode",
        "c2jShape" : "QuotaCode",
        "deprecated" : false,
        "documentation" : "<p>The quota identifier.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The quota identifier.</p>\n@param quotaCode The quota identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQuotaCode",
        "getterDocumentation" : "/**<p>The quota identifier.</p>\n@return The quota identifier.*/",
        "getterMethodName" : "getQuotaCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "QuotaCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "QuotaCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QuotaCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The quota identifier.</p>\n@param quotaCode The quota identifier.*/",
        "setterMethodName" : "setQuotaCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "quotaCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The quota identifier.</p>\n@param quotaCode The quota identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "quotaCode",
          "variableType" : "String",
          "documentation" : "<p>The quota identifier.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AwsRegion",
        "c2jShape" : "AwsRegion",
        "deprecated" : false,
        "documentation" : "<p>The AWS Region.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS Region.</p>\n@param awsRegion The AWS Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAwsRegion",
        "getterDocumentation" : "/**<p>The AWS Region.</p>\n@return The AWS Region.*/",
        "getterMethodName" : "getAwsRegion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AwsRegion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AwsRegion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AwsRegion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS Region.</p>\n@param awsRegion The AWS Region.*/",
        "setterMethodName" : "setAwsRegion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "awsRegion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS Region.</p>\n@param awsRegion The AWS Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "awsRegion",
          "variableType" : "String",
          "documentation" : "<p>The AWS Region.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AwsRegion" : {
          "c2jName" : "AwsRegion",
          "c2jShape" : "AwsRegion",
          "deprecated" : false,
          "documentation" : "<p>The AWS Region.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS Region.</p>\n@param awsRegion The AWS Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAwsRegion",
          "getterDocumentation" : "/**<p>The AWS Region.</p>\n@return The AWS Region.*/",
          "getterMethodName" : "getAwsRegion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AwsRegion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AwsRegion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AwsRegion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS Region.</p>\n@param awsRegion The AWS Region.*/",
          "setterMethodName" : "setAwsRegion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "awsRegion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS Region.</p>\n@param awsRegion The AWS Region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "awsRegion",
            "variableType" : "String",
            "documentation" : "<p>The AWS Region.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "QuotaCode" : {
          "c2jName" : "QuotaCode",
          "c2jShape" : "QuotaCode",
          "deprecated" : false,
          "documentation" : "<p>The quota identifier.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The quota identifier.</p>\n@param quotaCode The quota identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withQuotaCode",
          "getterDocumentation" : "/**<p>The quota identifier.</p>\n@return The quota identifier.*/",
          "getterMethodName" : "getQuotaCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "QuotaCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "QuotaCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "QuotaCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The quota identifier.</p>\n@param quotaCode The quota identifier.*/",
          "setterMethodName" : "setQuotaCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "quotaCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The quota identifier.</p>\n@param quotaCode The quota identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "quotaCode",
            "variableType" : "String",
            "documentation" : "<p>The quota identifier.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ServiceCode" : {
          "c2jName" : "ServiceCode",
          "c2jShape" : "ServiceCode",
          "deprecated" : false,
          "documentation" : "<p>The service identifier.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The service identifier.</p>\n@param serviceCode The service identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withServiceCode",
          "getterDocumentation" : "/**<p>The service identifier.</p>\n@return The service identifier.*/",
          "getterMethodName" : "getServiceCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ServiceCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ServiceCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ServiceCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The service identifier.</p>\n@param serviceCode The service identifier.*/",
          "setterMethodName" : "setServiceCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "serviceCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The service identifier.</p>\n@param serviceCode The service identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "serviceCode",
            "variableType" : "String",
            "documentation" : "<p>The service identifier.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.servicequotas.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ServiceCode", "QuotaCode", "AwsRegion" ],
      "shapeName" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableName" : "deleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "documentation" : null,
        "simpleType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableSetterType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest"
      },
      "wrapper" : false
    },
    "DeleteServiceQuotaIncreaseRequestFromTemplateResult" : {
      "c2jName" : "DeleteServiceQuotaIncreaseRequestFromTemplateResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.response.DeleteServiceQuotaIncreaseRequestFromTemplateResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servicequotas.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
        "variableName" : "deleteServiceQuotaIncreaseRequestFromTemplateResult",
        "variableType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
        "documentation" : null,
        "simpleType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
        "variableSetterType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult"
      },
      "wrapper" : false
    },
    "DependencyAccessDeniedException" : {
      "c2jName" : "DependencyAccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "DependencyAccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.exception.DependencyAccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servicequotas.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "DependencyAccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DependencyAccessDeniedException",
        "variableName" : "dependencyAccessDeniedException",
        "variableType" : "DependencyAccessDeniedException",
        "documentation" : null,
        "simpleType" : "DependencyAccessDeniedException",
        "variableSetterType" : "DependencyAccessDeniedException"
      },
      "wrapper" : false
    },
    "DisassociateServiceQuotaTemplateRequest" : {
      "c2jName" : "DisassociateServiceQuotaTemplateRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.request.DisassociateServiceQuotaTemplateRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DisassociateServiceQuotaTemplate",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "ServiceQuotasV20190624.DisassociateServiceQuotaTemplate",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servicequotas.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "DisassociateServiceQuotaTemplateRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateServiceQuotaTemplateRequest",
        "variableName" : "disassociateServiceQuotaTemplateRequest",
        "variableType" : "DisassociateServiceQuotaTemplateRequest",
        "documentation" : null,
        "simpleType" : "DisassociateServiceQuotaTemplateRequest",
        "variableSetterType" : "DisassociateServiceQuotaTemplateRequest"
      },
      "wrapper" : false
    },
    "DisassociateServiceQuotaTemplateResult" : {
      "c2jName" : "DisassociateServiceQuotaTemplateResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.response.DisassociateServiceQuotaTemplateResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servicequotas.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "DisassociateServiceQuotaTemplateResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateServiceQuotaTemplateResult",
        "variableName" : "disassociateServiceQuotaTemplateResult",
        "variableType" : "DisassociateServiceQuotaTemplateResult",
        "documentation" : null,
        "simpleType" : "DisassociateServiceQuotaTemplateResult",
        "variableSetterType" : "DisassociateServiceQuotaTemplateResult"
      },
      "wrapper" : false
    },
    "ErrorCode" : {
      "c2jName" : "ErrorCode",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "DEPENDENCY_ACCESS_DENIED_ERROR",
        "value" : "DEPENDENCY_ACCESS_DENIED_ERROR"
      }, {
        "name" : "DEPENDENCY_THROTTLING_ERROR",
        "value" : "DEPENDENCY_THROTTLING_ERROR"
      }, {
        "name" : "DEPENDENCY_SERVICE_ERROR",
        "value" : "DEPENDENCY_SERVICE_ERROR"
      }, {
        "name" : "SERVICE_QUOTA_NOT_AVAILABLE_ERROR",
        "value" : "SERVICE_QUOTA_NOT_AVAILABLE_ERROR"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.enum.ErrorCode",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servicequotas.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ErrorCode",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ErrorCode",
        "variableName" : "errorCode",
        "variableType" : "ErrorCode",
        "documentation" : null,
        "simpleType" : "ErrorCode",
        "variableSetterType" : "ErrorCode"
      },
      "wrapper" : false
    },
    "ErrorReason" : {
      "c2jName" : "ErrorReason",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An error that explains why an action did not succeed.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servicequotas.model.ErrorReason",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "deprecated" : false,
        "documentation" : "<p>Service Quotas returns the following error values:</p> <ul> <li> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> - The caller does not have the required permissions to complete the action. To resolve the error, you must have permission to access the service or quota.</p> </li> <li> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> - The service is throttling Service Quotas.</p> </li> <li> <p> <code>DEPENDENCY_SERVICE_ERROR</code> - The service is not available.</p> </li> <li> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> - There was an error in Service Quotas.</p> </li> </ul>",
        "endpointDiscoveryId" : false,
        "enumType" : "ErrorCode",
        "fluentSetterDocumentation" : "/**<p>Service Quotas returns the following error values:</p> <ul> <li> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> - The caller does not have the required permissions to complete the action. To resolve the error, you must have permission to access the service or quota.</p> </li> <li> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> - The service is throttling Service Quotas.</p> </li> <li> <p> <code>DEPENDENCY_SERVICE_ERROR</code> - The service is not available.</p> </li> <li> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> - There was an error in Service Quotas.</p> </li> </ul>\n@param errorCode Service Quotas returns the following error values:</p> <ul> <li> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> - The caller does not have the required permissions to complete the action. To resolve the error, you must have permission to access the service or quota.</p> </li> <li> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> - The service is throttling Service Quotas.</p> </li> <li> <p> <code>DEPENDENCY_SERVICE_ERROR</code> - The service is not available.</p> </li> <li> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> - There was an error in Service Quotas.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
        "fluentSetterMethodName" : "withErrorCode",
[...]
