{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-06-24",
    "asyncClient" : "AWSServiceQuotasAsyncClient",
    "asyncClientBuilderClassName" : "AWSServiceQuotasAsyncClientBuilder",
    "asyncInterface" : "AWSServiceQuotasAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSServiceQuotasModuleInjector",
    "defaultEndpoint" : "servicequotas.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "servicequotas.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> Service Quotas is a web service that you can use to manage many of your AWS service quotas. Quotas, also referred to as limits, are the maximum values for a resource, item, or operation. This guide provide descriptions of the Service Quotas actions that you can call from an API. For the Service Quotas user guide, which explains how to use Service Quotas from the console, see <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/intro.html\">What is Service Quotas</a>. </p> <note> <p>AWS provides SDKs that consist of libraries and sample code for programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc...,). The SDKs provide a convenient way to create programmatic access to Service Quotas and AWS. For information about the AWS SDKs, including how to download and install them, see the <a href=\"https://docs.aws.amazon.com/aws.amazon.com/tools\">Tools for Amazon Web Services</a> page.</p> </note>",
    "endpointPrefix" : "servicequotas",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.servicequotas",
    "packagePath" : "com/amazonaws/services/servicequotas",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Service Quotas",
    "serviceId" : "Service Quotas",
    "serviceName" : "Service Quotas",
    "signingName" : "servicequotas",
    "smokeTestsPackageName" : "com.amazonaws.services.servicequotas.smoketests",
    "syncClient" : "AWSServiceQuotasClient",
    "syncClientBuilderClassName" : "AWSServiceQuotasClientBuilder",
    "syncInterface" : "AWSServiceQuotas",
    "uid" : "service-quotas-2019-06-24",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateServiceQuotaTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateServiceQuotaTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateServiceQuotaTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateServiceQuotaTemplateRequest, AssociateServiceQuotaTemplateResult>",
      "asyncReturnType" : "AssociateServiceQuotaTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the Service Quotas template with your organization so that when new accounts are created in your organization, the template submits increase requests for the specified service quotas. Use the Service Quotas template to request an increase for any adjustable quota value. After you define the Service Quotas template, use this operation to associate, or enable, the template. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization. To enable, call <a>AssociateServiceQuotaTemplate</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotInAllFeaturesModeException",
        "documentation" : "<p>The organization that your account belongs to, is not in All Features mode. To enable all features mode, see <a href=\"https://docs.aws.amazon.com/organizations/latest/APIReference/API_EnableAllFeatures.html\">EnableAllFeatures</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in the Region where you are making the request. Please make the request in us-east-1. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateServiceQuotaTemplateRequest",
        "variableName" : "associateServiceQuotaTemplateRequest",
        "variableType" : "AssociateServiceQuotaTemplateRequest",
        "documentation" : "",
        "simpleType" : "AssociateServiceQuotaTemplateRequest",
        "variableSetterType" : "AssociateServiceQuotaTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateServiceQuotaTemplate",
      "operationName" : "AssociateServiceQuotaTemplate",
      "returnType" : {
        "returnType" : "AssociateServiceQuotaTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateServiceQuotaTemplateResult"
    },
    "DeleteServiceQuotaIncreaseRequestFromTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServiceQuotaIncreaseRequestFromTemplateRequest, DeleteServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncReturnType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a service quota increase request from the Service Quotas template. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization. To enable, call <a>AssociateServiceQuotaTemplate</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in the Region where you are making the request. Please make the request in us-east-1. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableName" : "deleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableSetterType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteServiceQuotaIncreaseRequestFromTemplate",
      "operationName" : "DeleteServiceQuotaIncreaseRequestFromTemplate",
      "returnType" : {
        "returnType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult"
    },
    "DisassociateServiceQuotaTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateServiceQuotaTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateServiceQuotaTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateServiceQuotaTemplateRequest, DisassociateServiceQuotaTemplateResult>",
      "asyncReturnType" : "DisassociateServiceQuotaTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the Service Quotas template. Once the template is disabled, it does not request quota increases for new accounts in your organization. Disabling the quota template does not apply the quota increase requests from the template. </p> <p> <b>Related operations</b> </p> <ul> <li> <p>To enable the quota template, call <a>AssociateServiceQuotaTemplate</a>. </p> </li> <li> <p>To delete a specific service quota from the template, use <a>DeleteServiceQuotaIncreaseRequestFromTemplate</a>.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaTemplateNotInUseException",
        "documentation" : "<p>The quota request template is not associated with your organization. </p> <p>To use the template, call <a>AssociateServiceQuotaTemplate</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization. To enable, call <a>AssociateServiceQuotaTemplate</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in the Region where you are making the request. Please make the request in us-east-1. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateServiceQuotaTemplateRequest",
        "variableName" : "disassociateServiceQuotaTemplateRequest",
        "variableType" : "DisassociateServiceQuotaTemplateRequest",
        "documentation" : "",
        "simpleType" : "DisassociateServiceQuotaTemplateRequest",
        "variableSetterType" : "DisassociateServiceQuotaTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateServiceQuotaTemplate",
      "operationName" : "DisassociateServiceQuotaTemplate",
      "returnType" : {
        "returnType" : "DisassociateServiceQuotaTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateServiceQuotaTemplateResult"
    },
    "GetAWSDefaultServiceQuota" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAWSDefaultServiceQuotaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAWSDefaultServiceQuotaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAWSDefaultServiceQuotaRequest, GetAWSDefaultServiceQuotaResult>",
      "asyncReturnType" : "GetAWSDefaultServiceQuotaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the default service quotas values. The Value returned for each quota is the AWS default value, even if the quotas have been increased.. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAWSDefaultServiceQuotaRequest",
        "variableName" : "getAWSDefaultServiceQuotaRequest",
        "variableType" : "GetAWSDefaultServiceQuotaRequest",
        "documentation" : "",
        "simpleType" : "GetAWSDefaultServiceQuotaRequest",
        "variableSetterType" : "GetAWSDefaultServiceQuotaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAWSDefaultServiceQuota",
      "operationName" : "GetAWSDefaultServiceQuota",
      "returnType" : {
        "returnType" : "GetAWSDefaultServiceQuotaResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAWSDefaultServiceQuotaResult"
    },
    "GetAssociationForServiceQuotaTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssociationForServiceQuotaTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssociationForServiceQuotaTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssociationForServiceQuotaTemplateRequest, GetAssociationForServiceQuotaTemplateResult>",
      "asyncReturnType" : "GetAssociationForServiceQuotaTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the <code>ServiceQuotaTemplateAssociationStatus</code> value from the service. Use this action to determine if the Service Quota template is associated, or enabled. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaTemplateNotInUseException",
        "documentation" : "<p>The quota request template is not associated with your organization. </p> <p>To use the template, call <a>AssociateServiceQuotaTemplate</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization. To enable, call <a>AssociateServiceQuotaTemplate</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in the Region where you are making the request. Please make the request in us-east-1. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssociationForServiceQuotaTemplateRequest",
        "variableName" : "getAssociationForServiceQuotaTemplateRequest",
        "variableType" : "GetAssociationForServiceQuotaTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetAssociationForServiceQuotaTemplateRequest",
        "variableSetterType" : "GetAssociationForServiceQuotaTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssociationForServiceQuotaTemplate",
      "operationName" : "GetAssociationForServiceQuotaTemplate",
      "returnType" : {
        "returnType" : "GetAssociationForServiceQuotaTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssociationForServiceQuotaTemplateResult"
    },
    "GetRequestedServiceQuotaChange" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRequestedServiceQuotaChangeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRequestedServiceQuotaChangeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRequestedServiceQuotaChangeRequest, GetRequestedServiceQuotaChangeResult>",
      "asyncReturnType" : "GetRequestedServiceQuotaChangeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details for a particular increase request. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRequestedServiceQuotaChangeRequest",
        "variableName" : "getRequestedServiceQuotaChangeRequest",
        "variableType" : "GetRequestedServiceQuotaChangeRequest",
        "documentation" : "",
        "simpleType" : "GetRequestedServiceQuotaChangeRequest",
        "variableSetterType" : "GetRequestedServiceQuotaChangeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRequestedServiceQuotaChange",
      "operationName" : "GetRequestedServiceQuotaChange",
      "returnType" : {
        "returnType" : "GetRequestedServiceQuotaChangeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRequestedServiceQuotaChangeResult"
    },
    "GetServiceQuota" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceQuotaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceQuotaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceQuotaRequest, GetServiceQuotaResult>",
      "asyncReturnType" : "GetServiceQuotaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details for the specified service quota. This operation provides a different Value than the <code>GetAWSDefaultServiceQuota</code> operation. This operation returns the applied value for each quota. <code>GetAWSDefaultServiceQuota</code> returns the default AWS value for each quota. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceQuotaRequest",
        "variableName" : "getServiceQuotaRequest",
        "variableType" : "GetServiceQuotaRequest",
        "documentation" : "",
        "simpleType" : "GetServiceQuotaRequest",
        "variableSetterType" : "GetServiceQuotaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceQuota",
      "operationName" : "GetServiceQuota",
      "returnType" : {
        "returnType" : "GetServiceQuotaResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceQuotaResult"
    },
    "GetServiceQuotaIncreaseRequestFromTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceQuotaIncreaseRequestFromTemplateRequest, GetServiceQuotaIncreaseRequestFromTemplateResult>",
      "asyncReturnType" : "GetServiceQuotaIncreaseRequestFromTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of the service quota increase request in your template.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization. To enable, call <a>AssociateServiceQuotaTemplate</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in the Region where you are making the request. Please make the request in us-east-1. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableName" : "getServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableType" : "GetServiceQuotaIncreaseRequestFromTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableSetterType" : "GetServiceQuotaIncreaseRequestFromTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceQuotaIncreaseRequestFromTemplate",
      "operationName" : "GetServiceQuotaIncreaseRequestFromTemplate",
      "returnType" : {
        "returnType" : "GetServiceQuotaIncreaseRequestFromTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceQuotaIncreaseRequestFromTemplateResult"
    },
    "ListAWSDefaultServiceQuotas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAWSDefaultServiceQuotasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAWSDefaultServiceQuotasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAWSDefaultServiceQuotasRequest, ListAWSDefaultServiceQuotasResult>",
      "asyncReturnType" : "ListAWSDefaultServiceQuotasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all default service quotas for the specified AWS service or all AWS services. ListAWSDefaultServiceQuotas is similar to <a>ListServiceQuotas</a> except for the Value object. The Value object returned by <code>ListAWSDefaultServiceQuotas</code> is the default value assigned by AWS. This request returns a list of all service quotas for the specified service. The listing of each you'll see the default values are the values that AWS provides for the quotas. </p> <note> <p>Always check the <code>NextToken</code> response parameter when calling any of the <code>List*</code> operations. These operations can return an unexpected list of results, even when there are more results available. When this happens, the <code>NextToken</code> response parameter contains a value to pass the next call to the same API to request the next part of the list.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAWSDefaultServiceQuotasRequest",
        "variableName" : "listAWSDefaultServiceQuotasRequest",
        "variableType" : "ListAWSDefaultServiceQuotasRequest",
        "documentation" : "",
        "simpleType" : "ListAWSDefaultServiceQuotasRequest",
        "variableSetterType" : "ListAWSDefaultServiceQuotasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAWSDefaultServiceQuotas",
      "operationName" : "ListAWSDefaultServiceQuotas",
      "returnType" : {
        "returnType" : "ListAWSDefaultServiceQuotasResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAWSDefaultServiceQuotasResult"
    },
    "ListRequestedServiceQuotaChangeHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRequestedServiceQuotaChangeHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRequestedServiceQuotaChangeHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRequestedServiceQuotaChangeHistoryRequest, ListRequestedServiceQuotaChangeHistoryResult>",
      "asyncReturnType" : "ListRequestedServiceQuotaChangeHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests a list of the changes to quotas for a service.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRequestedServiceQuotaChangeHistoryRequest",
        "variableName" : "listRequestedServiceQuotaChangeHistoryRequest",
        "variableType" : "ListRequestedServiceQuotaChangeHistoryRequest",
        "documentation" : "",
        "simpleType" : "ListRequestedServiceQuotaChangeHistoryRequest",
        "variableSetterType" : "ListRequestedServiceQuotaChangeHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRequestedServiceQuotaChangeHistory",
      "operationName" : "ListRequestedServiceQuotaChangeHistory",
      "returnType" : {
        "returnType" : "ListRequestedServiceQuotaChangeHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRequestedServiceQuotaChangeHistoryResult"
    },
    "ListRequestedServiceQuotaChangeHistoryByQuota" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRequestedServiceQuotaChangeHistoryByQuotaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRequestedServiceQuotaChangeHistoryByQuotaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRequestedServiceQuotaChangeHistoryByQuotaRequest, ListRequestedServiceQuotaChangeHistoryByQuotaResult>",
      "asyncReturnType" : "ListRequestedServiceQuotaChangeHistoryByQuotaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests a list of the changes to specific service quotas. This command provides additional granularity over the <code>ListRequestedServiceQuotaChangeHistory</code> command. Once a quota change request has reached <code>CASE_CLOSED, APPROVED,</code> or <code>DENIED</code>, the history has been kept for 90 days.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRequestedServiceQuotaChangeHistoryByQuotaRequest",
        "variableName" : "listRequestedServiceQuotaChangeHistoryByQuotaRequest",
        "variableType" : "ListRequestedServiceQuotaChangeHistoryByQuotaRequest",
        "documentation" : "",
        "simpleType" : "ListRequestedServiceQuotaChangeHistoryByQuotaRequest",
        "variableSetterType" : "ListRequestedServiceQuotaChangeHistoryByQuotaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRequestedServiceQuotaChangeHistoryByQuota",
      "operationName" : "ListRequestedServiceQuotaChangeHistoryByQuota",
      "returnType" : {
        "returnType" : "ListRequestedServiceQuotaChangeHistoryByQuotaResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRequestedServiceQuotaChangeHistoryByQuotaResult"
    },
    "ListServiceQuotaIncreaseRequestsInTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServiceQuotaIncreaseRequestsInTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServiceQuotaIncreaseRequestsInTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServiceQuotaIncreaseRequestsInTemplateRequest, ListServiceQuotaIncreaseRequestsInTemplateResult>",
      "asyncReturnType" : "ListServiceQuotaIncreaseRequestsInTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the quota increase requests in the template. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization. To enable, call <a>AssociateServiceQuotaTemplate</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in the Region where you are making the request. Please make the request in us-east-1. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServiceQuotaIncreaseRequestsInTemplateRequest",
        "variableName" : "listServiceQuotaIncreaseRequestsInTemplateRequest",
        "variableType" : "ListServiceQuotaIncreaseRequestsInTemplateRequest",
        "documentation" : "",
        "simpleType" : "ListServiceQuotaIncreaseRequestsInTemplateRequest",
        "variableSetterType" : "ListServiceQuotaIncreaseRequestsInTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServiceQuotaIncreaseRequestsInTemplate",
      "operationName" : "ListServiceQuotaIncreaseRequestsInTemplate",
      "returnType" : {
        "returnType" : "ListServiceQuotaIncreaseRequestsInTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServiceQuotaIncreaseRequestsInTemplateResult"
    },
    "ListServiceQuotas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServiceQuotasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServiceQuotasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServiceQuotasRequest, ListServiceQuotasResult>",
      "asyncReturnType" : "ListServiceQuotasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all service quotas for the specified AWS service. This request returns a list of the service quotas for the specified service. you'll see the default values are the values that AWS provides for the quotas. </p> <note> <p>Always check the <code>NextToken</code> response parameter when calling any of the <code>List*</code> operations. These operations can return an unexpected list of results, even when there are more results available. When this happens, the <code>NextToken</code> response parameter contains a value to pass the next call to the same API to request the next part of the list.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServiceQuotasRequest",
        "variableName" : "listServiceQuotasRequest",
        "variableType" : "ListServiceQuotasRequest",
        "documentation" : "",
        "simpleType" : "ListServiceQuotasRequest",
        "variableSetterType" : "ListServiceQuotasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServiceQuotas",
      "operationName" : "ListServiceQuotas",
      "returnType" : {
        "returnType" : "ListServiceQuotasResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServiceQuotasResult"
    },
    "ListServices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServicesRequest, ListServicesResult>",
      "asyncReturnType" : "ListServicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the AWS services available in Service Quotas. Not all AWS services are available in Service Quotas. To list the see the list of the service quotas for a specific service, use <a>ListServiceQuotas</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Invalid input was provided.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServicesRequest",
        "variableName" : "listServicesRequest",
        "variableType" : "ListServicesRequest",
        "documentation" : "",
        "simpleType" : "ListServicesRequest",
        "variableSetterType" : "ListServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServices",
      "operationName" : "ListServices",
      "returnType" : {
        "returnType" : "ListServicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServicesResult"
    },
    "PutServiceQuotaIncreaseRequestIntoTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutServiceQuotaIncreaseRequestIntoTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutServiceQuotaIncreaseRequestIntoTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutServiceQuotaIncreaseRequestIntoTemplateRequest, PutServiceQuotaIncreaseRequestIntoTemplateResult>",
      "asyncReturnType" : "PutServiceQuotaIncreaseRequestIntoTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Defines and adds a quota to the service quota template. To add a quota to the template, you must provide the <code>ServiceCode</code>, <code>QuotaCode</code>, <code>AwsRegion</code>, and <code>DesiredValue</code>. Once you add a quota to the template, use <a>ListServiceQuotaIncreaseRequestsInTemplate</a> to see the list of quotas in the template.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "QuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AWSServiceAccessNotEnabledException",
        "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization. To enable, call <a>AssociateServiceQuotaTemplate</a>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemplatesNotAvailableInRegionException",
        "documentation" : "<p>The Service Quotas template is not available in the Region where you are making the request. Please make the request in us-east-1. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableOrganizationException",
        "documentation" : "<p>The account making this call is not a member of an organization.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutServiceQuotaIncreaseRequestIntoTemplateRequest",
        "variableName" : "putServiceQuotaIncreaseRequestIntoTemplateRequest",
        "variableType" : "PutServiceQuotaIncreaseRequestIntoTemplateRequest",
        "documentation" : "",
        "simpleType" : "PutServiceQuotaIncreaseRequestIntoTemplateRequest",
        "variableSetterType" : "PutServiceQuotaIncreaseRequestIntoTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putServiceQuotaIncreaseRequestIntoTemplate",
      "operationName" : "PutServiceQuotaIncreaseRequestIntoTemplate",
      "returnType" : {
        "returnType" : "PutServiceQuotaIncreaseRequestIntoTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "PutServiceQuotaIncreaseRequestIntoTemplateResult"
    },
    "RequestServiceQuotaIncrease" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RequestServiceQuotaIncreaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RequestServiceQuotaIncreaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RequestServiceQuotaIncreaseRequest, RequestServiceQuotaIncreaseResult>",
      "asyncReturnType" : "RequestServiceQuotaIncreaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details of a service quota increase request. The response to this command provides the details in the <a>RequestedServiceQuotaChange</a> object. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyAccessDeniedException",
        "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "QuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IllegalArgumentException",
        "documentation" : "<p>Invalid input was provided. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>Invalid input was provided for the . </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>Something went wrong. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RequestServiceQuotaIncreaseRequest",
        "variableName" : "requestServiceQuotaIncreaseRequest",
        "variableType" : "RequestServiceQuotaIncreaseRequest",
        "documentation" : "",
        "simpleType" : "RequestServiceQuotaIncreaseRequest",
        "variableSetterType" : "RequestServiceQuotaIncreaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "requestServiceQuotaIncrease",
      "operationName" : "RequestServiceQuotaIncrease",
      "returnType" : {
        "returnType" : "RequestServiceQuotaIncreaseResult",
        "documentation" : null
      },
      "syncReturnType" : "RequestServiceQuotaIncreaseResult"
    }
  },
  "shapes" : {
    "AWSServiceAccessNotEnabledException" : {
      "c2jName" : "AWSServiceAccessNotEnabledException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization. To enable, call <a>AssociateServiceQuotaTemplate</a>.</p>",
      "enums" : null,
      "errorCode" : "AWSServiceAccessNotEnabledException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AWSServiceAccessNotEnabledException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AWSServiceAccessNotEnabledException",
        "variableName" : "aWSServiceAccessNotEnabledException",
        "variableType" : "AWSServiceAccessNotEnabledException",
        "documentation" : null,
        "simpleType" : "AWSServiceAccessNotEnabledException",
        "variableSetterType" : "AWSServiceAccessNotEnabledException"
      },
      "wrapper" : false
    },
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssociateServiceQuotaTemplateRequest" : {
      "c2jName" : "AssociateServiceQuotaTemplateRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateServiceQuotaTemplate",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "ServiceQuotasV20190624.AssociateServiceQuotaTemplate",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateServiceQuotaTemplateRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateServiceQuotaTemplateRequest",
        "variableName" : "associateServiceQuotaTemplateRequest",
        "variableType" : "AssociateServiceQuotaTemplateRequest",
        "documentation" : null,
        "simpleType" : "AssociateServiceQuotaTemplateRequest",
        "variableSetterType" : "AssociateServiceQuotaTemplateRequest"
      },
      "wrapper" : false
    },
    "AssociateServiceQuotaTemplateResult" : {
      "c2jName" : "AssociateServiceQuotaTemplateResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateServiceQuotaTemplateResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateServiceQuotaTemplateResult",
        "variableName" : "associateServiceQuotaTemplateResult",
        "variableType" : "AssociateServiceQuotaTemplateResult",
        "documentation" : null,
        "simpleType" : "AssociateServiceQuotaTemplateResult",
        "variableSetterType" : "AssociateServiceQuotaTemplateResult"
      },
      "wrapper" : false
    },
    "DeleteServiceQuotaIncreaseRequestFromTemplateRequest" : {
      "c2jName" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteServiceQuotaIncreaseRequestFromTemplate",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "ServiceQuotasV20190624.DeleteServiceQuotaIncreaseRequestFromTemplate",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ServiceCode",
        "c2jShape" : "ServiceCode",
        "deprecated" : false,
        "documentation" : "<p>Specifies the code for the service that you want to delete.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the code for the service that you want to delete.</p>\n@param serviceCode Specifies the code for the service that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withServiceCode",
        "getterDocumentation" : "/**<p>Specifies the code for the service that you want to delete.</p>\n@return Specifies the code for the service that you want to delete.*/",
        "getterMethodName" : "getServiceCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServiceCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServiceCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ServiceCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the code for the service that you want to delete.</p>\n@param serviceCode Specifies the code for the service that you want to delete.*/",
        "setterMethodName" : "setServiceCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the code for the service that you want to delete.</p>\n@param serviceCode Specifies the code for the service that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "serviceCode",
          "variableType" : "String",
          "documentation" : "<p>Specifies the code for the service that you want to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "QuotaCode",
        "c2jShape" : "QuotaCode",
        "deprecated" : false,
        "documentation" : "<p>Specifies the code for the quota that you want to delete.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the code for the quota that you want to delete.</p>\n@param quotaCode Specifies the code for the quota that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQuotaCode",
        "getterDocumentation" : "/**<p>Specifies the code for the quota that you want to delete.</p>\n@return Specifies the code for the quota that you want to delete.*/",
        "getterMethodName" : "getQuotaCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "QuotaCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "QuotaCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QuotaCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the code for the quota that you want to delete.</p>\n@param quotaCode Specifies the code for the quota that you want to delete.*/",
        "setterMethodName" : "setQuotaCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "quotaCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the code for the quota that you want to delete.</p>\n@param quotaCode Specifies the code for the quota that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "quotaCode",
          "variableType" : "String",
          "documentation" : "<p>Specifies the code for the quota that you want to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AwsRegion",
        "c2jShape" : "AwsRegion",
        "deprecated" : false,
        "documentation" : "<p>Specifies the AWS Region for the quota that you want to delete.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the AWS Region for the quota that you want to delete.</p>\n@param awsRegion Specifies the AWS Region for the quota that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAwsRegion",
        "getterDocumentation" : "/**<p>Specifies the AWS Region for the quota that you want to delete.</p>\n@return Specifies the AWS Region for the quota that you want to delete.*/",
        "getterMethodName" : "getAwsRegion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AwsRegion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AwsRegion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AwsRegion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the AWS Region for the quota that you want to delete.</p>\n@param awsRegion Specifies the AWS Region for the quota that you want to delete.*/",
        "setterMethodName" : "setAwsRegion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "awsRegion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the AWS Region for the quota that you want to delete.</p>\n@param awsRegion Specifies the AWS Region for the quota that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "awsRegion",
          "variableType" : "String",
          "documentation" : "<p>Specifies the AWS Region for the quota that you want to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AwsRegion" : {
          "c2jName" : "AwsRegion",
          "c2jShape" : "AwsRegion",
          "deprecated" : false,
          "documentation" : "<p>Specifies the AWS Region for the quota that you want to delete.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the AWS Region for the quota that you want to delete.</p>\n@param awsRegion Specifies the AWS Region for the quota that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAwsRegion",
          "getterDocumentation" : "/**<p>Specifies the AWS Region for the quota that you want to delete.</p>\n@return Specifies the AWS Region for the quota that you want to delete.*/",
          "getterMethodName" : "getAwsRegion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AwsRegion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AwsRegion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AwsRegion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the AWS Region for the quota that you want to delete.</p>\n@param awsRegion Specifies the AWS Region for the quota that you want to delete.*/",
          "setterMethodName" : "setAwsRegion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "awsRegion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the AWS Region for the quota that you want to delete.</p>\n@param awsRegion Specifies the AWS Region for the quota that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "awsRegion",
            "variableType" : "String",
            "documentation" : "<p>Specifies the AWS Region for the quota that you want to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "QuotaCode" : {
          "c2jName" : "QuotaCode",
          "c2jShape" : "QuotaCode",
          "deprecated" : false,
          "documentation" : "<p>Specifies the code for the quota that you want to delete.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the code for the quota that you want to delete.</p>\n@param quotaCode Specifies the code for the quota that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withQuotaCode",
          "getterDocumentation" : "/**<p>Specifies the code for the quota that you want to delete.</p>\n@return Specifies the code for the quota that you want to delete.*/",
          "getterMethodName" : "getQuotaCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "QuotaCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "QuotaCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "QuotaCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the code for the quota that you want to delete.</p>\n@param quotaCode Specifies the code for the quota that you want to delete.*/",
          "setterMethodName" : "setQuotaCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "quotaCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the code for the quota that you want to delete.</p>\n@param quotaCode Specifies the code for the quota that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "quotaCode",
            "variableType" : "String",
            "documentation" : "<p>Specifies the code for the quota that you want to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ServiceCode" : {
          "c2jName" : "ServiceCode",
          "c2jShape" : "ServiceCode",
          "deprecated" : false,
          "documentation" : "<p>Specifies the code for the service that you want to delete.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the code for the service that you want to delete.</p>\n@param serviceCode Specifies the code for the service that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withServiceCode",
          "getterDocumentation" : "/**<p>Specifies the code for the service that you want to delete.</p>\n@return Specifies the code for the service that you want to delete.*/",
          "getterMethodName" : "getServiceCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ServiceCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ServiceCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ServiceCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the code for the service that you want to delete.</p>\n@param serviceCode Specifies the code for the service that you want to delete.*/",
          "setterMethodName" : "setServiceCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "serviceCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the code for the service that you want to delete.</p>\n@param serviceCode Specifies the code for the service that you want to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "serviceCode",
            "variableType" : "String",
            "documentation" : "<p>Specifies the code for the service that you want to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ServiceCode", "QuotaCode", "AwsRegion" ],
      "shapeName" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableName" : "deleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "documentation" : null,
        "simpleType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest",
        "variableSetterType" : "DeleteServiceQuotaIncreaseRequestFromTemplateRequest"
      },
      "wrapper" : false
    },
    "DeleteServiceQuotaIncreaseRequestFromTemplateResult" : {
      "c2jName" : "DeleteServiceQuotaIncreaseRequestFromTemplateResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
        "variableName" : "deleteServiceQuotaIncreaseRequestFromTemplateResult",
        "variableType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
        "documentation" : null,
        "simpleType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult",
        "variableSetterType" : "DeleteServiceQuotaIncreaseRequestFromTemplateResult"
      },
      "wrapper" : false
    },
    "DependencyAccessDeniedException" : {
      "c2jName" : "DependencyAccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You can't perform this action because a dependency does not have access.</p>",
      "enums" : null,
      "errorCode" : "DependencyAccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DependencyAccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DependencyAccessDeniedException",
        "variableName" : "dependencyAccessDeniedException",
        "variableType" : "DependencyAccessDeniedException",
        "documentation" : null,
        "simpleType" : "DependencyAccessDeniedException",
        "variableSetterType" : "DependencyAccessDeniedException"
      },
      "wrapper" : false
    },
    "DisassociateServiceQuotaTemplateRequest" : {
      "c2jName" : "DisassociateServiceQuotaTemplateRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DisassociateServiceQuotaTemplate",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "ServiceQuotasV20190624.DisassociateServiceQuotaTemplate",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DisassociateServiceQuotaTemplateRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateServiceQuotaTemplateRequest",
        "variableName" : "disassociateServiceQuotaTemplateRequest",
        "variableType" : "DisassociateServiceQuotaTemplateRequest",
        "documentation" : null,
        "simpleType" : "DisassociateServiceQuotaTemplateRequest",
        "variableSetterType" : "DisassociateServiceQuotaTemplateRequest"
      },
      "wrapper" : false
    },
    "DisassociateServiceQuotaTemplateResult" : {
      "c2jName" : "DisassociateServiceQuotaTemplateResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DisassociateServiceQuotaTemplateResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateServiceQuotaTemplateResult",
        "variableName" : "disassociateServiceQuotaTemplateResult",
        "variableType" : "DisassociateServiceQuotaTemplateResult",
        "documentation" : null,
        "simpleType" : "DisassociateServiceQuotaTemplateResult",
        "variableSetterType" : "DisassociateServiceQuotaTemplateResult"
      },
      "wrapper" : false
    },
    "ErrorCode" : {
      "c2jName" : "ErrorCode",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "DEPENDENCY_ACCESS_DENIED_ERROR",
        "value" : "DEPENDENCY_ACCESS_DENIED_ERROR"
      }, {
        "name" : "DEPENDENCY_THROTTLING_ERROR",
        "value" : "DEPENDENCY_THROTTLING_ERROR"
      }, {
        "name" : "DEPENDENCY_SERVICE_ERROR",
        "value" : "DEPENDENCY_SERVICE_ERROR"
      }, {
        "name" : "SERVICE_QUOTA_NOT_AVAILABLE_ERROR",
        "value" : "SERVICE_QUOTA_NOT_AVAILABLE_ERROR"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ErrorCode",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ErrorCode",
        "variableName" : "errorCode",
        "variableType" : "ErrorCode",
        "documentation" : null,
        "simpleType" : "ErrorCode",
        "variableSetterType" : "ErrorCode"
      },
      "wrapper" : false
    },
    "ErrorReason" : {
      "c2jName" : "ErrorReason",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Returns an error that explains why the action did not succeed.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "deprecated" : false,
        "documentation" : "<p>Service Quotas returns the following error values. </p> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> is returned when the caller does not have permission to call the service or service quota. To resolve the error, you need permission to access the service or service quota.</p> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> is returned when the service being called is throttling Service Quotas.</p> <p> <code>DEPENDENCY_SERVICE_ERROR</code> is returned when the service being called has availability issues.</p> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> is returned when there was an error in Service Quotas.</p>",
        "enumType" : "ErrorCode",
        "fluentSetterDocumentation" : "/**<p>Service Quotas returns the following error values. </p> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> is returned when the caller does not have permission to call the service or service quota. To resolve the error, you need permission to access the service or service quota.</p> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> is returned when the service being called is throttling Service Quotas.</p> <p> <code>DEPENDENCY_SERVICE_ERROR</code> is returned when the service being called has availability issues.</p> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> is returned when there was an error in Service Quotas.</p>\n@param errorCode Service Quotas returns the following error values. </p> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> is returned when the caller does not have permission to call the service or service quota. To resolve the error, you need permission to access the service or service quota.</p> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> is returned when the service being called is throttling Service Quotas.</p> <p> <code>DEPENDENCY_SERVICE_ERROR</code> is returned when the service being called has availability issues.</p> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> is returned when there was an error in Service Quotas.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
        "fluentSetterMethodName" : "withErrorCode",
        "getterDocumentation" : "/**<p>Service Quotas returns the following error values. </p> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> is returned when the caller does not have permission to call the service or service quota. To resolve the error, you need permission to access the service or service quota.</p> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> is returned when the service being called is throttling Service Quotas.</p> <p> <code>DEPENDENCY_SERVICE_ERROR</code> is returned when the service being called has availability issues.</p> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> is returned when there was an error in Service Quotas.</p>\n@return Service Quotas returns the following error values. </p> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> is returned when the caller does not have permission to call the service or service quota. To resolve the error, you need permission to access the service or service quota.</p> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> is returned when the service being called is throttling Service Quotas.</p> <p> <code>DEPENDENCY_SERVICE_ERROR</code> is returned when the service being called has availability issues.</p> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> is returned when there was an error in Service Quotas.\n@see ErrorCode*/",
        "getterMethodName" : "getErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ErrorCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Service Quotas returns the following error values. </p> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> is returned when the caller does not have permission to call the service or service quota. To resolve the error, you need permission to access the service or service quota.</p> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> is returned when the service being called is throttling Service Quotas.</p> <p> <code>DEPENDENCY_SERVICE_ERROR</code> is returned when the service being called has availability issues.</p> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> is returned when there was an error in Service Quotas.</p>\n@param errorCode Service Quotas returns the following error values. </p> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> is returned when the caller does not have permission to call the service or service quota. To resolve the error, you need permission to access the service or service quota.</p> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> is returned when the service being called is throttling Service Quotas.</p> <p> <code>DEPENDENCY_SERVICE_ERROR</code> is returned when the service being called has availability issues.</p> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> is returned when there was an error in Service Quotas.\n@see ErrorCode*/",
        "setterMethodName" : "setErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
