{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-09-08",
    "asyncClient" : "AWSServerlessApplicationRepositoryAsyncClient",
    "asyncClientBuilderClassName" : "AWSServerlessApplicationRepositoryAsyncClientBuilder",
    "asyncInterface" : "AWSServerlessApplicationRepositoryAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSServerlessApplicationRepositoryModuleInjector",
    "defaultEndpoint" : "serverlessrepo.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "serverlessrepo.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The AWS Serverless Application Repository makes it easy for developers and enterprises to quickly find\n and deploy serverless applications in the AWS Cloud. For more information about serverless applications,\n see Serverless Computing and Applications on the AWS website.</p><p>The AWS Serverless Application Repository is deeply integrated with the AWS Lambda console, so that developers of \n all levels can get started with serverless computing without needing to learn anything new. You can use category \n keywords to browse for applications such as web and mobile backends, data processing applications, or chatbots. \n You can also search for applications by name, publisher, or event source. To use an application, you simply choose it, \n configure any required fields, and deploy it with a few clicks. </p><p>You can also easily publish applications, sharing them publicly with the community at large, or privately\n within your team or across your organization. To publish a serverless application (or app), you can use the\n AWS Management Console, AWS Command Line Interface (AWS CLI), or AWS SDKs to upload the code. Along with the\n code, you upload a simple manifest file, also known as the AWS Serverless Application Model (AWS SAM) template.\n For more information about AWS SAM, see AWS Serverless Application Model (AWS SAM) on the AWS Labs\n GitHub repository.</p><p>The AWS Serverless Application Repository Developer Guide contains more information about the two developer\n experiences available:</p><ul>\n <li>\n <p>Consuming Applications – Browse for applications and view information about them, including\n source code and readme files. Also install, configure, and deploy applications of your choosing. </p>\n <p>Publishing Applications – Configure and upload applications to make them available to other\n developers, and publish new versions of applications. </p>\n </li>\n </ul>",
    "endpointPrefix" : "serverlessrepo",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.serverlessapplicationrepository",
    "packagePath" : "com/amazonaws/services/serverlessapplicationrepository",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWSServerlessApplicationRepository",
    "serviceName" : "AWSServerlessApplicationRepository",
    "signingName" : "serverlessrepo",
    "smokeTestsPackageName" : "com.amazonaws.services.serverlessapplicationrepository.smoketests",
    "syncClient" : "AWSServerlessApplicationRepositoryClient",
    "syncClientBuilderClassName" : "AWSServerlessApplicationRepositoryClientBuilder",
    "syncInterface" : "AWSServerlessApplicationRepository",
    "uid" : "serverlessrepo-2017-09-08",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an application, optionally including an AWS SAM file to create the first application version in the same call.</p>",
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The AWS Serverless Application Repository service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is not authenticated.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : "<p>Success</p>"
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "CreateApplicationVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationVersionRequest, CreateApplicationVersionResult>",
      "asyncReturnType" : "CreateApplicationVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an application version.</p>",
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The AWS Serverless Application Repository service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is not authenticated.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateApplicationVersionRequest",
        "variableName" : "createApplicationVersionRequest",
        "variableType" : "CreateApplicationVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationVersionRequest",
        "variableSetterType" : "CreateApplicationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplicationVersion",
      "operationName" : "CreateApplicationVersion",
      "returnType" : {
        "returnType" : "CreateApplicationVersionResult",
        "documentation" : "<p>Success</p>"
      },
      "syncReturnType" : "CreateApplicationVersionResult"
    },
    "CreateCloudFormationChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCloudFormationChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCloudFormationChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCloudFormationChangeSetRequest, CreateCloudFormationChangeSetResult>",
      "asyncReturnType" : "CreateCloudFormationChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an AWS CloudFormation ChangeSet for the given application.</p>",
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The AWS Serverless Application Repository service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is not authenticated.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateCloudFormationChangeSetRequest",
        "variableName" : "createCloudFormationChangeSetRequest",
        "variableType" : "CreateCloudFormationChangeSetRequest",
        "documentation" : "",
        "simpleType" : "CreateCloudFormationChangeSetRequest",
        "variableSetterType" : "CreateCloudFormationChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCloudFormationChangeSet",
      "operationName" : "CreateCloudFormationChangeSet",
      "returnType" : {
        "returnType" : "CreateCloudFormationChangeSetResult",
        "documentation" : "<p>Success</p>"
      },
      "syncReturnType" : "CreateCloudFormationChangeSetResult"
    },
    "DeleteApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "asyncReturnType" : "DeleteApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified application.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The AWS Serverless Application Repository service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is not authenticated.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource (for example, an access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteApplicationRequest",
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplication",
      "operationName" : "DeleteApplication",
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationResult"
    },
    "GetApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationRequest, GetApplicationResult>",
      "asyncReturnType" : "GetApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the specified application.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource (for example, an access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The AWS Serverless Application Repository service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is not authenticated.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetApplicationRequest",
        "variableName" : "getApplicationRequest",
        "variableType" : "GetApplicationRequest",
        "documentation" : "",
        "simpleType" : "GetApplicationRequest",
        "variableSetterType" : "GetApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplication",
      "operationName" : "GetApplication",
      "returnType" : {
        "returnType" : "GetApplicationResult",
        "documentation" : "<p>Success</p>"
      },
      "syncReturnType" : "GetApplicationResult"
    },
    "GetApplicationPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationPolicyRequest, GetApplicationPolicyResult>",
      "asyncReturnType" : "GetApplicationPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the policy for the specified application.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource (for example, an access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The AWS Serverless Application Repository service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is not authenticated.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetApplicationPolicyRequest",
        "variableName" : "getApplicationPolicyRequest",
        "variableType" : "GetApplicationPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetApplicationPolicyRequest",
        "variableSetterType" : "GetApplicationPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplicationPolicy",
      "operationName" : "GetApplicationPolicy",
      "returnType" : {
        "returnType" : "GetApplicationPolicyResult",
        "documentation" : "<p>Success</p>"
      },
      "syncReturnType" : "GetApplicationPolicyResult"
    },
    "ListApplicationVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationVersionsRequest, ListApplicationVersionsResult>",
      "asyncReturnType" : "ListApplicationVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists versions for the specified application.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource (for example, an access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The AWS Serverless Application Repository service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is not authenticated.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListApplicationVersionsRequest",
        "variableName" : "listApplicationVersionsRequest",
        "variableType" : "ListApplicationVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationVersionsRequest",
        "variableSetterType" : "ListApplicationVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplicationVersions",
      "operationName" : "ListApplicationVersions",
      "returnType" : {
        "returnType" : "ListApplicationVersionsResult",
        "documentation" : "<p>Success</p>"
      },
      "syncReturnType" : "ListApplicationVersionsResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists applications owned by the requester.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource (for example, an access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The AWS Serverless Application Repository service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is not authenticated.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : "<p>Success</p>"
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "PutApplicationPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutApplicationPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutApplicationPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutApplicationPolicyRequest, PutApplicationPolicyResult>",
      "asyncReturnType" : "PutApplicationPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Puts the policy for the specified application.</p>",
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource (for example, an access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The AWS Serverless Application Repository service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is not authenticated.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutApplicationPolicyRequest",
        "variableName" : "putApplicationPolicyRequest",
        "variableType" : "PutApplicationPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutApplicationPolicyRequest",
        "variableSetterType" : "PutApplicationPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putApplicationPolicy",
      "operationName" : "PutApplicationPolicy",
      "returnType" : {
        "returnType" : "PutApplicationPolicyResult",
        "documentation" : "<p>Success</p>"
      },
      "syncReturnType" : "PutApplicationPolicyResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified application.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The AWS Serverless Application Repository service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is not authenticated.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The resource (for example, an access policy statement) specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The client is sending more than the allowed number of requests per unit time.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : "<p>Success</p>"
      },
      "syncReturnType" : "UpdateApplicationResult"
    }
  },
  "shapes" : {
    "ApplicationPolicyStatement" : {
      "c2jName" : "ApplicationPolicyStatement",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Policy statement applied to the application.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Actions",
        "c2jShape" : "__listOf__string",
        "deprecated" : false,
        "documentation" : "<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>\n@param actions A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActions",
        "getterDocumentation" : "/**<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>\n@return A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)*/",
        "getterMethodName" : "getActions",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "actions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "actions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Actions",
        "setterDocumentation" : "/**<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>\n@param actions A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)*/",
        "setterMethodName" : "setActions",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "actions",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setActions(java.util.Collection)} or {@link #withActions(java.util.Collection)} if you want to override the existing values.</p>\n@param actions A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "actions",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Principals",
        "c2jShape" : "__listOf__string",
        "deprecated" : false,
        "documentation" : "<p>An AWS account ID, or * to make the application public.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An AWS account ID, or * to make the application public.</p>\n@param principals An AWS account ID, or * to make the application public.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPrincipals",
        "getterDocumentation" : "/**<p>An AWS account ID, or * to make the application public.</p>\n@return An AWS account ID, or * to make the application public.*/",
        "getterMethodName" : "getPrincipals",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "principals",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "principals",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Principals",
        "setterDocumentation" : "/**<p>An AWS account ID, or * to make the application public.</p>\n@param principals An AWS account ID, or * to make the application public.*/",
        "setterMethodName" : "setPrincipals",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "principals",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An AWS account ID, or * to make the application public.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPrincipals(java.util.Collection)} or {@link #withPrincipals(java.util.Collection)} if you want to override the existing values.</p>\n@param principals An AWS account ID, or * to make the application public.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "principals",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>An AWS account ID, or * to make the application public.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StatementId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>A unique ID for the statement.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique ID for the statement.</p>\n@param statementId A unique ID for the statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatementId",
        "getterDocumentation" : "/**<p>A unique ID for the statement.</p>\n@return A unique ID for the statement.*/",
        "getterMethodName" : "getStatementId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "statementId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "statementId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StatementId",
        "setterDocumentation" : "/**<p>A unique ID for the statement.</p>\n@param statementId A unique ID for the statement.*/",
        "setterMethodName" : "setStatementId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "statementId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique ID for the statement.</p>\n@param statementId A unique ID for the statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "statementId",
          "variableType" : "String",
          "documentation" : "<p>A unique ID for the statement.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Actions" : {
          "c2jName" : "Actions",
          "c2jShape" : "__listOf__string",
          "deprecated" : false,
          "documentation" : "<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>\n@param actions A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withActions",
          "getterDocumentation" : "/**<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>\n@return A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)*/",
          "getterMethodName" : "getActions",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "actions",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "actions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "__string",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Actions",
          "setterDocumentation" : "/**<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>\n@param actions A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)*/",
          "setterMethodName" : "setActions",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "actions",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setActions(java.util.Collection)} or {@link #withActions(java.util.Collection)} if you want to override the existing values.</p>\n@param actions A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "actions",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>A list of supported actions:</p><p>\n GetApplication\n </p><p>\n CreateCloudFormationChangeSet\n </p><p>\n ListApplicationVersions\n </p><p>\n SearchApplications\n </p><p>\n Deploy (Note: This action enables all other actions above.)</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Principals" : {
          "c2jName" : "Principals",
          "c2jShape" : "__listOf__string",
          "deprecated" : false,
          "documentation" : "<p>An AWS account ID, or * to make the application public.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An AWS account ID, or * to make the application public.</p>\n@param principals An AWS account ID, or * to make the application public.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPrincipals",
          "getterDocumentation" : "/**<p>An AWS account ID, or * to make the application public.</p>\n@return An AWS account ID, or * to make the application public.*/",
          "getterMethodName" : "getPrincipals",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "principals",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "principals",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "__string",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Principals",
          "setterDocumentation" : "/**<p>An AWS account ID, or * to make the application public.</p>\n@param principals An AWS account ID, or * to make the application public.*/",
          "setterMethodName" : "setPrincipals",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "principals",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An AWS account ID, or * to make the application public.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPrincipals(java.util.Collection)} or {@link #withPrincipals(java.util.Collection)} if you want to override the existing values.</p>\n@param principals An AWS account ID, or * to make the application public.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "principals",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>An AWS account ID, or * to make the application public.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "StatementId" : {
          "c2jName" : "StatementId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>A unique ID for the statement.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A unique ID for the statement.</p>\n@param statementId A unique ID for the statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatementId",
          "getterDocumentation" : "/**<p>A unique ID for the statement.</p>\n@return A unique ID for the statement.*/",
          "getterMethodName" : "getStatementId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "statementId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "statementId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StatementId",
          "setterDocumentation" : "/**<p>A unique ID for the statement.</p>\n@param statementId A unique ID for the statement.*/",
          "setterMethodName" : "setStatementId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "statementId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A unique ID for the statement.</p>\n@param statementId A unique ID for the statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "statementId",
            "variableType" : "String",
            "documentation" : "<p>A unique ID for the statement.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Principals", "Actions" ],
      "shapeName" : "ApplicationPolicyStatement",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ApplicationPolicyStatement",
        "variableName" : "applicationPolicyStatement",
        "variableType" : "ApplicationPolicyStatement",
        "documentation" : null,
        "simpleType" : "ApplicationPolicyStatement",
        "variableSetterType" : "ApplicationPolicyStatement"
      },
      "wrapper" : false
    },
    "ApplicationSummary" : {
      "c2jName" : "ApplicationSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Summary of details about the application.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ApplicationId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The application ARN.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The application ARN.</p>\n@param applicationId The application ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApplicationId",
        "getterDocumentation" : "/**<p>The application ARN.</p>\n@return The application ARN.*/",
        "getterMethodName" : "getApplicationId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "applicationId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "applicationId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApplicationId",
        "setterDocumentation" : "/**<p>The application ARN.</p>\n@param applicationId The application ARN.*/",
        "setterMethodName" : "setApplicationId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The application ARN.</p>\n@param applicationId The application ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationId",
          "variableType" : "String",
          "documentation" : "<p>The application ARN.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Author",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>\n@param author The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAuthor",
        "getterDocumentation" : "/**<p>The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>\n@return The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";*/",
        "getterMethodName" : "getAuthor",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "author",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "author",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Author",
        "setterDocumentation" : "/**<p>The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>\n@param author The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";*/",
        "setterMethodName" : "setAuthor",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "author",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>\n@param author The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "author",
          "variableType" : "String",
          "documentation" : "<p>The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreationTime",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The date/time this resource was created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date/time this resource was created.</p>\n@param creationTime The date/time this resource was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreationTime",
        "getterDocumentation" : "/**<p>The date/time this resource was created.</p>\n@return The date/time this resource was created.*/",
        "getterMethodName" : "getCreationTime",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "creationTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "creationTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CreationTime",
        "setterDocumentation" : "/**<p>The date/time this resource was created.</p>\n@param creationTime The date/time this resource was created.*/",
        "setterMethodName" : "setCreationTime",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "creationTime",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date/time this resource was created.</p>\n@param creationTime The date/time this resource was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "creationTime",
          "variableType" : "String",
          "documentation" : "<p>The date/time this resource was created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The description of the application.</p><p>Min Length=1. Max Length=256</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the application.</p><p>Min Length=1. Max Length=256</p>\n@param description The description of the application.</p><p>Min Length=1. Max Length=256\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description of the application.</p><p>Min Length=1. Max Length=256</p>\n@return The description of the application.</p><p>Min Length=1. Max Length=256*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "setterDocumentation" : "/**<p>The description of the application.</p><p>Min Length=1. Max Length=256</p>\n@param description The description of the application.</p><p>Min Length=1. Max Length=256*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description of the application.</p><p>Min Length=1. Max Length=256</p>\n@param description The description of the application.</p><p>Min Length=1. Max Length=256\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description of the application.</p><p>Min Length=1. Max Length=256</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HomePageUrl",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>A URL with more information about the application, for example\n the location of your GitHub repository for the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A URL with more information about the application, for example\n the location of your GitHub repository for the application.</p>\n@param homePageUrl A URL with more information about the application, for example\n the location of your GitHub repository for the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHomePageUrl",
        "getterDocumentation" : "/**<p>A URL with more information about the application, for example\n the location of your GitHub repository for the application.</p>\n@return A URL with more information about the application, for example\n the location of your GitHub repository for the application.*/",
        "getterMethodName" : "getHomePageUrl",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "homePageUrl",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "homePageUrl",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HomePageUrl",
        "setterDocumentation" : "/**<p>A URL with more information about the application, for example\n the location of your GitHub repository for the application.</p>\n@param homePageUrl A URL with more information about the application, for example\n the location of your GitHub repository for the application.*/",
        "setterMethodName" : "setHomePageUrl",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "homePageUrl",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A URL with more information about the application, for example\n the location of your GitHub repository for the application.</p>\n@param homePageUrl A URL with more information about the application, for example\n the location of your GitHub repository for the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "homePageUrl",
          "variableType" : "String",
          "documentation" : "<p>A URL with more information about the application, for example\n the location of your GitHub repository for the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Labels",
        "c2jShape" : "__listOf__string",
        "deprecated" : false,
        "documentation" : "<p>Labels to improve discovery of apps in search results.</p><p>Min Length=1. Max Length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Labels to improve discovery of apps in search results.</p><p>Min Length=1. Max Length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>\n@param labels Labels to improve discovery of apps in search results.</p><p>Min Length=1. Max Length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLabels",
        "getterDocumentation" : "/**<p>Labels to improve discovery of apps in search results.</p><p>Min Length=1. Max Length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>\n@return Labels to improve discovery of apps in search results.</p><p>Min Length=1. Max Length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";*/",
        "getterMethodName" : "getLabels",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "labels",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "labels",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Labels",
        "setterDocumentation" : "/**<p>Labels to improve discovery of apps in search results.</p><p>Min Length=1. Max Length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>\n@param labels Labels to improve discovery of apps in search results.</p><p>Min Length=1. Max Length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";*/",
        "setterMethodName" : "setLabels",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "labels",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Labels to improve discovery of apps in search results.</p><p>Min Length=1. Max Length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLabels(java.util.Collection)} or {@link #withLabels(java.util.Collection)} if you want to override the existing values.</p>\n@param labels Labels to improve discovery of apps in search results.</p><p>Min Length=1. Max Length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "labels",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>Labels to improve discovery of apps in search results.</p><p>Min Length=1. Max Length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The name of the application.</p><p>Min Length=1. Max Length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the application.</p><p>Min Length=1. Max Length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>\n@param name The name of the application.</p><p>Min Length=1. Max Length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the application.</p><p>Min Length=1. Max Length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>\n@return The name of the application.</p><p>Min Length=1. Max Length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the application.</p><p>Min Length=1. Max Length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>\n@param name The name of the application.</p><p>Min Length=1. Max Length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the application.</p><p>Min Length=1. Max Length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>\n@param name The name of the application.</p><p>Min Length=1. Max Length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the application.</p><p>Min Length=1. Max Length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SpdxLicenseId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.</p>\n@param spdxLicenseId A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSpdxLicenseId",
        "getterDocumentation" : "/**<p>A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.</p>\n@return A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.*/",
        "getterMethodName" : "getSpdxLicenseId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "spdxLicenseId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "spdxLicenseId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SpdxLicenseId",
        "setterDocumentation" : "/**<p>A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.</p>\n@param spdxLicenseId A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.*/",
        "setterMethodName" : "setSpdxLicenseId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "spdxLicenseId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.</p>\n@param spdxLicenseId A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "spdxLicenseId",
          "variableType" : "String",
          "documentation" : "<p>A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ApplicationId" : {
          "c2jName" : "ApplicationId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The application ARN.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The application ARN.</p>\n@param applicationId The application ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withApplicationId",
          "getterDocumentation" : "/**<p>The application ARN.</p>\n@return The application ARN.*/",
          "getterMethodName" : "getApplicationId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "applicationId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "applicationId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ApplicationId",
          "setterDocumentation" : "/**<p>The application ARN.</p>\n@param applicationId The application ARN.*/",
          "setterMethodName" : "setApplicationId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "applicationId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The application ARN.</p>\n@param applicationId The application ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "applicationId",
            "variableType" : "String",
            "documentation" : "<p>The application ARN.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Author" : {
          "c2jName" : "Author",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>\n@param author The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAuthor",
          "getterDocumentation" : "/**<p>The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>\n@return The name of the author publishing the app.</p><p>Min Length=1. Max Length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";*/",
          "getterMethodName" : "getAuthor",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
[...]
