{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-03-14",
    "asyncClient" : "AWSServiceDiscoveryAsyncClient",
    "asyncClientBuilderClassName" : "AWSServiceDiscoveryAsyncClientBuilder",
    "asyncInterface" : "AWSServiceDiscoveryAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSServiceDiscoveryModuleInjector",
    "defaultEndpoint" : "servicediscovery.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "servicediscovery.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Route 53 autonaming lets you configure public or private namespaces that your microservice applications run in. When instances of the service become available, you can call the autonaming API to register the instance, and Amazon Route 53 automatically creates up to five DNS records and an optional health check. Clients that submit DNS queries for the service receive an answer that contains up to eight healthy records.</p>",
    "endpointPrefix" : "servicediscovery",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.servicediscovery",
    "packagePath" : "com/amazonaws/services/servicediscovery",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "ServiceDiscovery",
    "serviceFullName" : "Amazon Route 53 Auto Naming",
    "serviceName" : "ServiceDiscovery",
    "signingName" : "servicediscovery",
    "smokeTestsPackageName" : "com.amazonaws.services.servicediscovery.smoketests",
    "syncClient" : "AWSServiceDiscoveryClient",
    "syncClientBuilderClassName" : "AWSServiceDiscoveryClientBuilder",
    "syncInterface" : "AWSServiceDiscovery",
    "uid" : "servicediscovery-2017-03-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreatePrivateDnsNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePrivateDnsNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePrivateDnsNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePrivateDnsNamespaceRequest, CreatePrivateDnsNamespaceResult>",
      "asyncReturnType" : "CreatePrivateDnsNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a private namespace based on DNS, which will be visible only inside a specified Amazon VPC. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. You can associate more than one service with the same namespace.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NamespaceAlreadyExistsException",
        "documentation" : "<p>The namespace that you're trying to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The resource can't be created because you've reached the limit on the number of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>This request tried to create an object that already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePrivateDnsNamespaceRequest",
        "variableName" : "createPrivateDnsNamespaceRequest",
        "variableType" : "CreatePrivateDnsNamespaceRequest",
        "documentation" : "",
        "simpleType" : "CreatePrivateDnsNamespaceRequest",
        "variableSetterType" : "CreatePrivateDnsNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPrivateDnsNamespace",
      "operationName" : "CreatePrivateDnsNamespace",
      "returnType" : {
        "returnType" : "CreatePrivateDnsNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePrivateDnsNamespaceResult"
    },
    "CreatePublicDnsNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePublicDnsNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePublicDnsNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePublicDnsNamespaceRequest, CreatePublicDnsNamespaceResult>",
      "asyncReturnType" : "CreatePublicDnsNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a public namespace based on DNS, which will be visible on the internet. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. You can associate more than one service with the same namespace.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NamespaceAlreadyExistsException",
        "documentation" : "<p>The namespace that you're trying to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The resource can't be created because you've reached the limit on the number of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>This request tried to create an object that already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePublicDnsNamespaceRequest",
        "variableName" : "createPublicDnsNamespaceRequest",
        "variableType" : "CreatePublicDnsNamespaceRequest",
        "documentation" : "",
        "simpleType" : "CreatePublicDnsNamespaceRequest",
        "variableSetterType" : "CreatePublicDnsNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPublicDnsNamespace",
      "operationName" : "CreatePublicDnsNamespace",
      "returnType" : {
        "returnType" : "CreatePublicDnsNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePublicDnsNamespaceResult"
    },
    "CreateService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateServiceRequest, CreateServiceResult>",
      "asyncReturnType" : "CreateServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a service, which defines a template for the following entities:</p> <ul> <li> <p>One to five resource record sets</p> </li> <li> <p>Optionally, a health check</p> </li> </ul> <p>After you create the service, you can submit a <a>RegisterInstance</a> request, and Amazon Route 53 uses the values in the template to create the specified entities. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The resource can't be created because you've reached the limit on the number of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NamespaceNotFoundException",
        "documentation" : "<p>No namespace exists with the specified ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceAlreadyExistsException",
        "documentation" : "<p>The service can't be created because a service with the same name already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateServiceRequest",
        "variableName" : "createServiceRequest",
        "variableType" : "CreateServiceRequest",
        "documentation" : "",
        "simpleType" : "CreateServiceRequest",
        "variableSetterType" : "CreateServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createService",
      "operationName" : "CreateService",
      "returnType" : {
        "returnType" : "CreateServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateServiceResult"
    },
    "DeleteNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNamespaceRequest, DeleteNamespaceResult>",
      "asyncReturnType" : "DeleteNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a namespace from the current account. If the namespace still contains one or more services, the request fails.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NamespaceNotFoundException",
        "documentation" : "<p>No namespace exists with the specified ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource can't be deleted because it contains other resources. For example, you can't delete a service that contains any instances.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>This request tried to create an object that already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteNamespaceRequest",
        "variableName" : "deleteNamespaceRequest",
        "variableType" : "DeleteNamespaceRequest",
        "documentation" : "",
        "simpleType" : "DeleteNamespaceRequest",
        "variableSetterType" : "DeleteNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNamespace",
      "operationName" : "DeleteNamespace",
      "returnType" : {
        "returnType" : "DeleteNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNamespaceResult"
    },
    "DeleteService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServiceRequest, DeleteServiceResult>",
      "asyncReturnType" : "DeleteServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specified service. If the service still contains one or more registered instances, the request fails.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>No service exists with the specified ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource can't be deleted because it contains other resources. For example, you can't delete a service that contains any instances.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteServiceRequest",
        "variableName" : "deleteServiceRequest",
        "variableType" : "DeleteServiceRequest",
        "documentation" : "",
        "simpleType" : "DeleteServiceRequest",
        "variableSetterType" : "DeleteServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteService",
      "operationName" : "DeleteService",
      "returnType" : {
        "returnType" : "DeleteServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServiceResult"
    },
    "DeregisterInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterInstanceRequest, DeregisterInstanceResult>",
      "asyncReturnType" : "DeregisterInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the resource record sets and the health check, if any, that Amazon Route 53 created for the specified instance.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>This request tried to create an object that already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InstanceNotFoundException",
        "documentation" : "<p>No instance exists with the specified ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource can't be deleted because it contains other resources. For example, you can't delete a service that contains any instances.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>No service exists with the specified ID.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeregisterInstanceRequest",
        "variableName" : "deregisterInstanceRequest",
        "variableType" : "DeregisterInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeregisterInstanceRequest",
        "variableSetterType" : "DeregisterInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterInstance",
      "operationName" : "DeregisterInstance",
      "returnType" : {
        "returnType" : "DeregisterInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterInstanceResult"
    },
    "GetInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstanceRequest, GetInstanceResult>",
      "asyncReturnType" : "GetInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a specified instance.</p>",
      "exceptions" : [ {
        "exceptionName" : "InstanceNotFoundException",
        "documentation" : "<p>No instance exists with the specified ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>No service exists with the specified ID.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstanceRequest",
        "variableName" : "getInstanceRequest",
        "variableType" : "GetInstanceRequest",
        "documentation" : "",
        "simpleType" : "GetInstanceRequest",
        "variableSetterType" : "GetInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstance",
      "operationName" : "GetInstance",
      "returnType" : {
        "returnType" : "GetInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstanceResult"
    },
    "GetInstancesHealthStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstancesHealthStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstancesHealthStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstancesHealthStatusRequest, GetInstancesHealthStatusResult>",
      "asyncReturnType" : "GetInstancesHealthStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the current health status (<code>Healthy</code>, <code>Unhealthy</code>, or <code>Unknown</code>) of one or more instances that are associated with a specified service.</p>",
      "exceptions" : [ {
        "exceptionName" : "InstanceNotFoundException",
        "documentation" : "<p>No instance exists with the specified ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>No service exists with the specified ID.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInstancesHealthStatusRequest",
        "variableName" : "getInstancesHealthStatusRequest",
        "variableType" : "GetInstancesHealthStatusRequest",
        "documentation" : "",
        "simpleType" : "GetInstancesHealthStatusRequest",
        "variableSetterType" : "GetInstancesHealthStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstancesHealthStatus",
      "operationName" : "GetInstancesHealthStatus",
      "returnType" : {
        "returnType" : "GetInstancesHealthStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInstancesHealthStatusResult"
    },
    "GetNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNamespaceRequest, GetNamespaceResult>",
      "asyncReturnType" : "GetNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a namespace.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NamespaceNotFoundException",
        "documentation" : "<p>No namespace exists with the specified ID.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetNamespaceRequest",
        "variableName" : "getNamespaceRequest",
        "variableType" : "GetNamespaceRequest",
        "documentation" : "",
        "simpleType" : "GetNamespaceRequest",
        "variableSetterType" : "GetNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNamespace",
      "operationName" : "GetNamespace",
      "returnType" : {
        "returnType" : "GetNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNamespaceResult"
    },
    "GetOperation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOperationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOperationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOperationRequest, GetOperationResult>",
      "asyncReturnType" : "GetOperationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about any operation that returns an operation ID in the response, such as a <code>CreateService</code> request. To get a list of operations that match specified criteria, see <a>ListOperations</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "OperationNotFoundException",
        "documentation" : "<p>No operation exists with the specified ID.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetOperationRequest",
        "variableName" : "getOperationRequest",
        "variableType" : "GetOperationRequest",
        "documentation" : "",
        "simpleType" : "GetOperationRequest",
        "variableSetterType" : "GetOperationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOperation",
      "operationName" : "GetOperation",
      "returnType" : {
        "returnType" : "GetOperationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOperationResult"
    },
    "GetService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceRequest, GetServiceResult>",
      "asyncReturnType" : "GetServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the settings for a specified service.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>No service exists with the specified ID.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetServiceRequest",
        "variableName" : "getServiceRequest",
        "variableType" : "GetServiceRequest",
        "documentation" : "",
        "simpleType" : "GetServiceRequest",
        "variableSetterType" : "GetServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getService",
      "operationName" : "GetService",
      "returnType" : {
        "returnType" : "GetServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceResult"
    },
    "ListInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInstancesRequest, ListInstancesResult>",
      "asyncReturnType" : "ListInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets summary information about the instances that you created by using a specified service.</p>",
      "exceptions" : [ {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>No service exists with the specified ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListInstancesRequest",
        "variableName" : "listInstancesRequest",
        "variableType" : "ListInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListInstancesRequest",
        "variableSetterType" : "ListInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInstances",
      "operationName" : "ListInstances",
      "returnType" : {
        "returnType" : "ListInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInstancesResult"
    },
    "ListNamespaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNamespacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNamespacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNamespacesRequest, ListNamespacesResult>",
      "asyncReturnType" : "ListNamespacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the namespaces that were created by the current AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListNamespacesRequest",
        "variableName" : "listNamespacesRequest",
        "variableType" : "ListNamespacesRequest",
        "documentation" : "",
        "simpleType" : "ListNamespacesRequest",
        "variableSetterType" : "ListNamespacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNamespaces",
      "operationName" : "ListNamespaces",
      "returnType" : {
        "returnType" : "ListNamespacesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNamespacesResult"
    },
    "ListOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOperationsRequest, ListOperationsResult>",
      "asyncReturnType" : "ListOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists operations that match the criteria that you specify.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListOperationsRequest",
        "variableName" : "listOperationsRequest",
        "variableType" : "ListOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListOperationsRequest",
        "variableSetterType" : "ListOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOperations",
      "operationName" : "ListOperations",
      "returnType" : {
        "returnType" : "ListOperationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOperationsResult"
    },
    "ListServices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServicesRequest, ListServicesResult>",
      "asyncReturnType" : "ListServicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets settings for all the services that are associated with one or more specified namespaces.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListServicesRequest",
        "variableName" : "listServicesRequest",
        "variableType" : "ListServicesRequest",
        "documentation" : "",
        "simpleType" : "ListServicesRequest",
        "variableSetterType" : "ListServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServices",
      "operationName" : "ListServices",
      "returnType" : {
        "returnType" : "ListServicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServicesResult"
    },
    "RegisterInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterInstanceRequest, RegisterInstanceResult>",
      "asyncReturnType" : "RegisterInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates one or more resource record sets and optionally a health check based on the settings in a specified service. When you submit a <code>RegisterInstance</code> request, Amazon Route 53 does the following:</p> <ul> <li> <p>Creates a resource record set for each resource record set template in the service</p> </li> <li> <p>Creates a health check based on the settings in the health check template in the service, if any</p> </li> <li> <p>Associates the health check, if any, with each of the resource record sets</p> </li> </ul> <important> <p>One <code>RegisterInstance</code> request must complete before you can submit another request and specify the same service and instance ID.</p> </important> <p>For more information, see <a>CreateService</a>.</p> <p>When Amazon Route 53 receives a DNS query for the specified DNS name, it returns the applicable value:</p> <ul> <li> <p> <b>If the health check is healthy</b>: returns all the resource record sets</p> </li> <li> <p> <b>If the health check is unhealthy</b>: returns the IP address of the last healthy instance</p> </li> <li> <p> <b>If you didn't specify a health check template</b>: returns all the resource record sets</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>This request tried to create an object that already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource can't be deleted because it contains other resources. For example, you can't delete a service that contains any instances.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The resource can't be created because you've reached the limit on the number of resources.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>No service exists with the specified ID.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RegisterInstanceRequest",
        "variableName" : "registerInstanceRequest",
        "variableType" : "RegisterInstanceRequest",
        "documentation" : "",
        "simpleType" : "RegisterInstanceRequest",
        "variableSetterType" : "RegisterInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerInstance",
      "operationName" : "RegisterInstance",
      "returnType" : {
        "returnType" : "RegisterInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterInstanceResult"
    },
    "UpdateService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceRequest, UpdateServiceResult>",
      "asyncReturnType" : "UpdateServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the TTL setting for a specified service. You must specify all the resource record set templates (and, optionally, a health check template) that you want to appear in the updated service. Any current resource record set templates (or health check template) that don't appear in an <code>UpdateService</code> request are deleted.</p> <p>When you update the TTL setting for a service, Amazon Route 53 also updates the corresponding settings in all the resource record sets and health checks that were created by using the specified service.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "<p>This request tried to create an object that already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>One or more specified values aren't valid. For example, when you're creating a namespace, the value of <code>Name</code> might not be a valid DNS name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceNotFoundException",
        "documentation" : "<p>No service exists with the specified ID.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateServiceRequest",
        "variableName" : "updateServiceRequest",
        "variableType" : "UpdateServiceRequest",
        "documentation" : "",
        "simpleType" : "UpdateServiceRequest",
        "variableSetterType" : "UpdateServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateService",
      "operationName" : "UpdateService",
      "returnType" : {
        "returnType" : "UpdateServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServiceResult"
    }
  },
  "shapes" : {
    "CreatePrivateDnsNamespaceRequest" : {
      "c2jName" : "CreatePrivateDnsNamespaceRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreatePrivateDnsNamespace",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Route53AutoNaming_v20170314.CreatePrivateDnsNamespace",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "NamespaceName",
        "deprecated" : false,
        "documentation" : "<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>\n@param name The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>\n@return The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>\n@param name The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>\n@param name The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatorRequestId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatorRequestId",
        "getterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@return An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.*/",
        "getterMethodName" : "getCreatorRequestId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatorRequestId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatorRequestId",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CreatorRequestId",
        "setterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.*/",
        "setterMethodName" : "setCreatorRequestId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "creatorRequestId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "creatorRequestId",
          "variableType" : "String",
          "documentation" : "<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "ResourceDescription",
        "deprecated" : false,
        "documentation" : "<p>A description for the namespace.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A description for the namespace.</p>\n@return A description for the namespace.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "setterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A description for the namespace.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Vpc",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>\n@param vpc The ID of the Amazon VPC that you want to associate the namespace with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVpc",
        "getterDocumentation" : "/**<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>\n@return The ID of the Amazon VPC that you want to associate the namespace with.*/",
        "getterMethodName" : "getVpc",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Vpc",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Vpc",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Vpc",
        "setterDocumentation" : "/**<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>\n@param vpc The ID of the Amazon VPC that you want to associate the namespace with.*/",
        "setterMethodName" : "setVpc",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "vpc",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>\n@param vpc The ID of the Amazon VPC that you want to associate the namespace with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "vpc",
          "variableType" : "String",
          "documentation" : "<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CreatorRequestId" : {
          "c2jName" : "CreatorRequestId",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatorRequestId",
          "getterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@return An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.*/",
          "getterMethodName" : "getCreatorRequestId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CreatorRequestId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CreatorRequestId",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CreatorRequestId",
          "setterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.*/",
          "setterMethodName" : "setCreatorRequestId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "creatorRequestId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "creatorRequestId",
            "variableType" : "String",
            "documentation" : "<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "ResourceDescription",
          "deprecated" : false,
          "documentation" : "<p>A description for the namespace.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A description for the namespace.</p>\n@return A description for the namespace.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "setterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A description for the namespace.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "NamespaceName",
          "deprecated" : false,
          "documentation" : "<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>\n@param name The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>\n@return The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>\n@param name The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>\n@param name The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Vpc" : {
          "c2jName" : "Vpc",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>\n@param vpc The ID of the Amazon VPC that you want to associate the namespace with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVpc",
          "getterDocumentation" : "/**<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>\n@return The ID of the Amazon VPC that you want to associate the namespace with.*/",
          "getterMethodName" : "getVpc",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Vpc",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Vpc",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Vpc",
          "setterDocumentation" : "/**<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>\n@param vpc The ID of the Amazon VPC that you want to associate the namespace with.*/",
          "setterMethodName" : "setVpc",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "vpc",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>\n@param vpc The ID of the Amazon VPC that you want to associate the namespace with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "vpc",
            "variableType" : "String",
            "documentation" : "<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name", "Vpc" ],
      "shapeName" : "CreatePrivateDnsNamespaceRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreatePrivateDnsNamespaceRequest",
        "variableName" : "createPrivateDnsNamespaceRequest",
        "variableType" : "CreatePrivateDnsNamespaceRequest",
        "documentation" : null,
        "simpleType" : "CreatePrivateDnsNamespaceRequest",
        "variableSetterType" : "CreatePrivateDnsNamespaceRequest"
      },
      "wrapper" : false
    },
    "CreatePrivateDnsNamespaceResult" : {
      "c2jName" : "CreatePrivateDnsNamespaceResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "OperationId",
        "c2jShape" : "OperationId",
        "deprecated" : false,
        "documentation" : "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>\n@param operationId A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOperationId",
        "getterDocumentation" : "/**<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>\n@return A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.*/",
        "getterMethodName" : "getOperationId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OperationId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OperationId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OperationId",
        "setterDocumentation" : "/**<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>\n@param operationId A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.*/",
        "setterMethodName" : "setOperationId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "operationId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>\n@param operationId A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "operationId",
          "variableType" : "String",
          "documentation" : "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "OperationId" : {
          "c2jName" : "OperationId",
          "c2jShape" : "OperationId",
          "deprecated" : false,
          "documentation" : "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>\n@param operationId A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOperationId",
          "getterDocumentation" : "/**<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>\n@return A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.*/",
          "getterMethodName" : "getOperationId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "OperationId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "OperationId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OperationId",
          "setterDocumentation" : "/**<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>\n@param operationId A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.*/",
          "setterMethodName" : "setOperationId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "operationId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>\n@param operationId A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "operationId",
            "variableType" : "String",
            "documentation" : "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreatePrivateDnsNamespaceResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CreatePrivateDnsNamespaceResult",
        "variableName" : "createPrivateDnsNamespaceResult",
        "variableType" : "CreatePrivateDnsNamespaceResult",
        "documentation" : null,
        "simpleType" : "CreatePrivateDnsNamespaceResult",
        "variableSetterType" : "CreatePrivateDnsNamespaceResult"
      },
      "wrapper" : false
    },
    "CreatePublicDnsNamespaceRequest" : {
      "c2jName" : "CreatePublicDnsNamespaceRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreatePublicDnsNamespace",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Route53AutoNaming_v20170314.CreatePublicDnsNamespace",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "NamespaceName",
        "deprecated" : false,
        "documentation" : "<p>The name that you want to assign to this namespace.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name that you want to assign to this namespace.</p>\n@param name The name that you want to assign to this namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name that you want to assign to this namespace.</p>\n@return The name that you want to assign to this namespace.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name that you want to assign to this namespace.</p>\n@param name The name that you want to assign to this namespace.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name that you want to assign to this namespace.</p>\n@param name The name that you want to assign to this namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name that you want to assign to this namespace.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatorRequestId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatorRequestId",
        "getterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@return An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.*/",
        "getterMethodName" : "getCreatorRequestId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatorRequestId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatorRequestId",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CreatorRequestId",
        "setterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.*/",
        "setterMethodName" : "setCreatorRequestId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "creatorRequestId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "creatorRequestId",
          "variableType" : "String",
          "documentation" : "<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "ResourceDescription",
        "deprecated" : false,
        "documentation" : "<p>A description for the namespace.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A description for the namespace.</p>\n@return A description for the namespace.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "setterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A description for the namespace.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CreatorRequestId" : {
          "c2jName" : "CreatorRequestId",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatorRequestId",
          "getterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@return An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.*/",
          "getterMethodName" : "getCreatorRequestId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CreatorRequestId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CreatorRequestId",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CreatorRequestId",
          "setterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.*/",
          "setterMethodName" : "setCreatorRequestId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "creatorRequestId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>\n@param creatorRequestId An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "creatorRequestId",
            "variableType" : "String",
            "documentation" : "<p>An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "ResourceDescription",
          "deprecated" : false,
          "documentation" : "<p>A description for the namespace.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A description for the namespace.</p>\n@return A description for the namespace.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "setterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description for the namespace.</p>\n@param description A description for the namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A description for the namespace.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "NamespaceName",
          "deprecated" : false,
          "documentation" : "<p>The name that you want to assign to this namespace.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name that you want to assign to this namespace.</p>\n@param name The name that you want to assign to this namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name that you want to assign to this namespace.</p>\n@return The name that you want to assign to this namespace.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name that you want to assign to this namespace.</p>\n@param name The name that you want to assign to this namespace.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name that you want to assign to this namespace.</p>\n@param name The name that you want to assign to this namespace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name that you want to assign to this namespace.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name" ],
      "shapeName" : "CreatePublicDnsNamespaceRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreatePublicDnsNamespaceRequest",
        "variableName" : "createPublicDnsNamespaceRequest",
        "variableType" : "CreatePublicDnsNamespaceRequest",
        "documentation" : null,
        "simpleType" : "CreatePublicDnsNamespaceRequest",
        "variableSetterType" : "CreatePublicDnsNamespaceRequest"
      },
      "wrapper" : false
    },
    "CreatePublicDnsNamespaceResult" : {
      "c2jName" : "CreatePublicDnsNamespaceResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "OperationId",
        "c2jShape" : "OperationId",
        "deprecated" : false,
        "documentation" : "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>",
        "enumType" : null,
[...]
