{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "AccessLevelFilter" : [ "Key" ],
      "AssociatePrincipalWithPortfolioInput" : [ "PrincipalType" ],
      "CreateConstraintOutput" : [ "Status" ],
      "CreateProductInput" : [ "ProductType" ],
      "CreateProvisioningArtifactOutput" : [ "Status" ],
      "DescribeConstraintOutput" : [ "Status" ],
      "DescribeProvisioningArtifactOutput" : [ "Status" ],
      "Principal" : [ "PrincipalType" ],
      "ProductViewDetail" : [ "Status" ],
      "ProductViewSummary" : [ "Type" ],
      "ProvisionedProductDetail" : [ "Status" ],
      "ProvisioningArtifactDetail" : [ "Type" ],
      "ProvisioningArtifactProperties" : [ "Type" ],
      "RecordDetail" : [ "Status" ],
      "SearchProductsAsAdminInput" : [ "SortBy", "SortOrder", "ProductSource" ],
      "SearchProductsInput" : [ "SortBy", "SortOrder" ],
      "UpdateConstraintOutput" : [ "Status" ],
      "UpdateProvisioningArtifactOutput" : [ "Status" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-12-10",
    "asyncClient" : "AWSServiceCatalogAsyncClient",
    "asyncClientBuilderClassName" : "AWSServiceCatalogAsyncClientBuilder",
    "asyncInterface" : "AWSServiceCatalogAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSServiceCatalogModuleInjector",
    "defaultEndpoint" : "servicecatalog.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "servicecatalog.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Service Catalog</fullname> <p> <a href=\"https://aws.amazon.com/servicecatalog/\">AWS Service Catalog</a> enables organizations to create and manage catalogs of IT services that are approved for use on AWS. To get the most out of this documentation, you should be familiar with the terminology discussed in <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/what-is_concepts.html\">AWS Service Catalog Concepts</a>.</p>",
    "endpointPrefix" : "servicecatalog",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.servicecatalog",
    "packagePath" : "com/amazonaws/services/servicecatalog",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Service Catalog",
    "serviceName" : "AWS Service Catalog",
    "signingName" : "servicecatalog",
    "smokeTestsPackageName" : "com.amazonaws.services.servicecatalog.smoketests",
    "syncClient" : "AWSServiceCatalogClient",
    "syncClientBuilderClassName" : "AWSServiceCatalogClientBuilder",
    "syncInterface" : "AWSServiceCatalog",
    "uid" : "servicecatalog-2015-12-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptPortfolioShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptPortfolioShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptPortfolioShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptPortfolioShareRequest, AcceptPortfolioShareResult>",
      "asyncReturnType" : "AcceptPortfolioShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts an offer to share the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AcceptPortfolioShareRequest",
        "variableName" : "acceptPortfolioShareRequest",
        "variableType" : "AcceptPortfolioShareRequest",
        "documentation" : "",
        "simpleType" : "AcceptPortfolioShareRequest",
        "variableSetterType" : "AcceptPortfolioShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptPortfolioShare",
      "operationName" : "AcceptPortfolioShare",
      "returnType" : {
        "returnType" : "AcceptPortfolioShareResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptPortfolioShareResult"
    },
    "AssociatePrincipalWithPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociatePrincipalWithPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociatePrincipalWithPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociatePrincipalWithPortfolioRequest, AssociatePrincipalWithPortfolioResult>",
      "asyncReturnType" : "AssociatePrincipalWithPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified principal ARN with the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociatePrincipalWithPortfolioRequest",
        "variableName" : "associatePrincipalWithPortfolioRequest",
        "variableType" : "AssociatePrincipalWithPortfolioRequest",
        "documentation" : "",
        "simpleType" : "AssociatePrincipalWithPortfolioRequest",
        "variableSetterType" : "AssociatePrincipalWithPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associatePrincipalWithPortfolio",
      "operationName" : "AssociatePrincipalWithPortfolio",
      "returnType" : {
        "returnType" : "AssociatePrincipalWithPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociatePrincipalWithPortfolioResult"
    },
    "AssociateProductWithPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateProductWithPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateProductWithPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateProductWithPortfolioRequest, AssociateProductWithPortfolioResult>",
      "asyncReturnType" : "AssociateProductWithPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified product with the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateProductWithPortfolioRequest",
        "variableName" : "associateProductWithPortfolioRequest",
        "variableType" : "AssociateProductWithPortfolioRequest",
        "documentation" : "",
        "simpleType" : "AssociateProductWithPortfolioRequest",
        "variableSetterType" : "AssociateProductWithPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateProductWithPortfolio",
      "operationName" : "AssociateProductWithPortfolio",
      "returnType" : {
        "returnType" : "AssociateProductWithPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateProductWithPortfolioResult"
    },
    "AssociateTagOptionWithResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateTagOptionWithResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateTagOptionWithResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateTagOptionWithResourceRequest, AssociateTagOptionWithResourceResult>",
      "asyncReturnType" : "AssociateTagOptionWithResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associate the specified TagOption with the specified portfolio or product.</p>",
      "exceptions" : [ {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>The specified resource is a duplicate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>An attempt was made to modify a resource that is in a state that is not valid. Check your resources to ensure that they are in valid states before retrying the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateTagOptionWithResourceRequest",
        "variableName" : "associateTagOptionWithResourceRequest",
        "variableType" : "AssociateTagOptionWithResourceRequest",
        "documentation" : "",
        "simpleType" : "AssociateTagOptionWithResourceRequest",
        "variableSetterType" : "AssociateTagOptionWithResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateTagOptionWithResource",
      "operationName" : "AssociateTagOptionWithResource",
      "returnType" : {
        "returnType" : "AssociateTagOptionWithResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateTagOptionWithResourceResult"
    },
    "CopyProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CopyProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CopyProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CopyProductRequest, CopyProductResult>",
      "asyncReturnType" : "CopyProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Copies the specified source product to the specified target product or a new product.</p> <p>You can copy a product to the same account or another account. You can copy a product to the same region or another region.</p> <p>This operation is performed asynchronously. To track the progress of the operation, use <a>DescribeCopyProductStatus</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CopyProductRequest",
        "variableName" : "copyProductRequest",
        "variableType" : "CopyProductRequest",
        "documentation" : "",
        "simpleType" : "CopyProductRequest",
        "variableSetterType" : "CopyProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "copyProduct",
      "operationName" : "CopyProduct",
      "returnType" : {
        "returnType" : "CopyProductResult",
        "documentation" : null
      },
      "syncReturnType" : "CopyProductResult"
    },
    "CreateConstraint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConstraintResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConstraintResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConstraintRequest, CreateConstraintResult>",
      "asyncReturnType" : "CreateConstraintResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a constraint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>The specified resource is a duplicate.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateConstraintRequest",
        "variableName" : "createConstraintRequest",
        "variableType" : "CreateConstraintRequest",
        "documentation" : "",
        "simpleType" : "CreateConstraintRequest",
        "variableSetterType" : "CreateConstraintRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConstraint",
      "operationName" : "CreateConstraint",
      "returnType" : {
        "returnType" : "CreateConstraintResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConstraintResult"
    },
    "CreatePortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePortfolioRequest, CreatePortfolioResult>",
      "asyncReturnType" : "CreatePortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePortfolioRequest",
        "variableName" : "createPortfolioRequest",
        "variableType" : "CreatePortfolioRequest",
        "documentation" : "",
        "simpleType" : "CreatePortfolioRequest",
        "variableSetterType" : "CreatePortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPortfolio",
      "operationName" : "CreatePortfolio",
      "returnType" : {
        "returnType" : "CreatePortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePortfolioResult"
    },
    "CreatePortfolioShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePortfolioShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePortfolioShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePortfolioShareRequest, CreatePortfolioShareResult>",
      "asyncReturnType" : "CreatePortfolioShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Shares the specified portfolio with the specified account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePortfolioShareRequest",
        "variableName" : "createPortfolioShareRequest",
        "variableType" : "CreatePortfolioShareRequest",
        "documentation" : "",
        "simpleType" : "CreatePortfolioShareRequest",
        "variableSetterType" : "CreatePortfolioShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPortfolioShare",
      "operationName" : "CreatePortfolioShare",
      "returnType" : {
        "returnType" : "CreatePortfolioShareResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePortfolioShareResult"
    },
    "CreateProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProductRequest, CreateProductResult>",
      "asyncReturnType" : "CreateProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a product.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateProductRequest",
        "variableName" : "createProductRequest",
        "variableType" : "CreateProductRequest",
        "documentation" : "",
        "simpleType" : "CreateProductRequest",
        "variableSetterType" : "CreateProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProduct",
      "operationName" : "CreateProduct",
      "returnType" : {
        "returnType" : "CreateProductResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProductResult"
    },
    "CreateProvisioningArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProvisioningArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProvisioningArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProvisioningArtifactRequest, CreateProvisioningArtifactResult>",
      "asyncReturnType" : "CreateProvisioningArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot create a provisioning artifact for a product that was shared with you.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateProvisioningArtifactRequest",
        "variableName" : "createProvisioningArtifactRequest",
        "variableType" : "CreateProvisioningArtifactRequest",
        "documentation" : "",
        "simpleType" : "CreateProvisioningArtifactRequest",
        "variableSetterType" : "CreateProvisioningArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProvisioningArtifact",
      "operationName" : "CreateProvisioningArtifact",
      "returnType" : {
        "returnType" : "CreateProvisioningArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProvisioningArtifactResult"
    },
    "CreateTagOption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagOptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagOptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagOptionRequest, CreateTagOptionResult>",
      "asyncReturnType" : "CreateTagOptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a TagOption.</p>",
      "exceptions" : [ {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>The specified resource is a duplicate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTagOptionRequest",
        "variableName" : "createTagOptionRequest",
        "variableType" : "CreateTagOptionRequest",
        "documentation" : "",
        "simpleType" : "CreateTagOptionRequest",
        "variableSetterType" : "CreateTagOptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTagOption",
      "operationName" : "CreateTagOption",
      "returnType" : {
        "returnType" : "CreateTagOptionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTagOptionResult"
    },
    "DeleteConstraint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConstraintResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConstraintResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConstraintRequest, DeleteConstraintResult>",
      "asyncReturnType" : "DeleteConstraintResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified constraint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteConstraintRequest",
        "variableName" : "deleteConstraintRequest",
        "variableType" : "DeleteConstraintRequest",
        "documentation" : "",
        "simpleType" : "DeleteConstraintRequest",
        "variableSetterType" : "DeleteConstraintRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConstraint",
      "operationName" : "DeleteConstraint",
      "returnType" : {
        "returnType" : "DeleteConstraintResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConstraintResult"
    },
    "DeletePortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePortfolioRequest, DeletePortfolioResult>",
      "asyncReturnType" : "DeletePortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified portfolio.</p> <p>You cannot delete a portfolio if it was shared with you or if it has associated products, users, constraints, or shared accounts.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>A resource that is currently in use. Ensure the resource is not in use and retry the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeletePortfolioRequest",
        "variableName" : "deletePortfolioRequest",
        "variableType" : "DeletePortfolioRequest",
        "documentation" : "",
        "simpleType" : "DeletePortfolioRequest",
        "variableSetterType" : "DeletePortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePortfolio",
      "operationName" : "DeletePortfolio",
      "returnType" : {
        "returnType" : "DeletePortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePortfolioResult"
    },
    "DeletePortfolioShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePortfolioShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePortfolioShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePortfolioShareRequest, DeletePortfolioShareResult>",
      "asyncReturnType" : "DeletePortfolioShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops sharing the specified portfolio with the specified account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeletePortfolioShareRequest",
        "variableName" : "deletePortfolioShareRequest",
        "variableType" : "DeletePortfolioShareRequest",
        "documentation" : "",
        "simpleType" : "DeletePortfolioShareRequest",
        "variableSetterType" : "DeletePortfolioShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePortfolioShare",
      "operationName" : "DeletePortfolioShare",
      "returnType" : {
        "returnType" : "DeletePortfolioShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePortfolioShareResult"
    },
    "DeleteProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProductRequest, DeleteProductResult>",
      "asyncReturnType" : "DeleteProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified product.</p> <p>You cannot delete a product if it was shared with you or is associated with a portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>A resource that is currently in use. Ensure the resource is not in use and retry the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteProductRequest",
        "variableName" : "deleteProductRequest",
        "variableType" : "DeleteProductRequest",
        "documentation" : "",
        "simpleType" : "DeleteProductRequest",
        "variableSetterType" : "DeleteProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProduct",
      "operationName" : "DeleteProduct",
      "returnType" : {
        "returnType" : "DeleteProductResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProductResult"
    },
    "DeleteProvisioningArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProvisioningArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProvisioningArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProvisioningArtifactRequest, DeleteProvisioningArtifactResult>",
      "asyncReturnType" : "DeleteProvisioningArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot delete a provisioning artifact associated with a product that was shared with you. You cannot delete the last provisioning artifact for a product, because a product must have at least one provisioning artifact.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>A resource that is currently in use. Ensure the resource is not in use and retry the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteProvisioningArtifactRequest",
        "variableName" : "deleteProvisioningArtifactRequest",
        "variableType" : "DeleteProvisioningArtifactRequest",
        "documentation" : "",
        "simpleType" : "DeleteProvisioningArtifactRequest",
        "variableSetterType" : "DeleteProvisioningArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProvisioningArtifact",
      "operationName" : "DeleteProvisioningArtifact",
      "returnType" : {
        "returnType" : "DeleteProvisioningArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProvisioningArtifactResult"
    },
    "DescribeConstraint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConstraintResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConstraintResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConstraintRequest, DescribeConstraintResult>",
      "asyncReturnType" : "DescribeConstraintResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified constraint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConstraintRequest",
        "variableName" : "describeConstraintRequest",
        "variableType" : "DescribeConstraintRequest",
        "documentation" : "",
        "simpleType" : "DescribeConstraintRequest",
        "variableSetterType" : "DescribeConstraintRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConstraint",
      "operationName" : "DescribeConstraint",
      "returnType" : {
        "returnType" : "DescribeConstraintResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeConstraintResult"
    },
    "DescribeCopyProductStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCopyProductStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCopyProductStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCopyProductStatusRequest, DescribeCopyProductStatusResult>",
      "asyncReturnType" : "DescribeCopyProductStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the status of the specified copy product operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeCopyProductStatusRequest",
        "variableName" : "describeCopyProductStatusRequest",
        "variableType" : "DescribeCopyProductStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeCopyProductStatusRequest",
        "variableSetterType" : "DescribeCopyProductStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCopyProductStatus",
      "operationName" : "DescribeCopyProductStatus",
      "returnType" : {
        "returnType" : "DescribeCopyProductStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCopyProductStatusResult"
    },
    "DescribePortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePortfolioRequest, DescribePortfolioResult>",
      "asyncReturnType" : "DescribePortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribePortfolioRequest",
        "variableName" : "describePortfolioRequest",
        "variableType" : "DescribePortfolioRequest",
        "documentation" : "",
        "simpleType" : "DescribePortfolioRequest",
        "variableSetterType" : "DescribePortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePortfolio",
      "operationName" : "DescribePortfolio",
      "returnType" : {
        "returnType" : "DescribePortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePortfolioResult"
    },
    "DescribeProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductRequest, DescribeProductResult>",
      "asyncReturnType" : "DescribeProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified product.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProductRequest",
        "variableName" : "describeProductRequest",
        "variableType" : "DescribeProductRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductRequest",
        "variableSetterType" : "DescribeProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProduct",
      "operationName" : "DescribeProduct",
      "returnType" : {
        "returnType" : "DescribeProductResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProductResult"
    },
    "DescribeProductAsAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductAsAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductAsAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductAsAdminRequest, DescribeProductAsAdminResult>",
      "asyncReturnType" : "DescribeProductAsAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified product. This operation is run with administrator access.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProductAsAdminRequest",
        "variableName" : "describeProductAsAdminRequest",
        "variableType" : "DescribeProductAsAdminRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductAsAdminRequest",
        "variableSetterType" : "DescribeProductAsAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProductAsAdmin",
      "operationName" : "DescribeProductAsAdmin",
      "returnType" : {
        "returnType" : "DescribeProductAsAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProductAsAdminResult"
    },
    "DescribeProductView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProductViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProductViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProductViewRequest, DescribeProductViewResult>",
      "asyncReturnType" : "DescribeProductViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified product.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProductViewRequest",
        "variableName" : "describeProductViewRequest",
        "variableType" : "DescribeProductViewRequest",
        "documentation" : "",
        "simpleType" : "DescribeProductViewRequest",
        "variableSetterType" : "DescribeProductViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProductView",
      "operationName" : "DescribeProductView",
      "returnType" : {
        "returnType" : "DescribeProductViewResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProductViewResult"
    },
    "DescribeProvisionedProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProvisionedProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProvisionedProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProvisionedProductRequest, DescribeProvisionedProductResult>",
      "asyncReturnType" : "DescribeProvisionedProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified provisioned product.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProvisionedProductRequest",
        "variableName" : "describeProvisionedProductRequest",
        "variableType" : "DescribeProvisionedProductRequest",
        "documentation" : "",
        "simpleType" : "DescribeProvisionedProductRequest",
        "variableSetterType" : "DescribeProvisionedProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProvisionedProduct",
      "operationName" : "DescribeProvisionedProduct",
      "returnType" : {
        "returnType" : "DescribeProvisionedProductResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProvisionedProductResult"
    },
    "DescribeProvisioningArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProvisioningArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProvisioningArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProvisioningArtifactRequest, DescribeProvisioningArtifactResult>",
      "asyncReturnType" : "DescribeProvisioningArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified provisioning artifact (also known as a version) for the specified product.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProvisioningArtifactRequest",
        "variableName" : "describeProvisioningArtifactRequest",
        "variableType" : "DescribeProvisioningArtifactRequest",
        "documentation" : "",
        "simpleType" : "DescribeProvisioningArtifactRequest",
        "variableSetterType" : "DescribeProvisioningArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProvisioningArtifact",
      "operationName" : "DescribeProvisioningArtifact",
      "returnType" : {
        "returnType" : "DescribeProvisioningArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProvisioningArtifactResult"
    },
    "DescribeProvisioningParameters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProvisioningParametersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProvisioningParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProvisioningParametersRequest, DescribeProvisioningParametersResult>",
      "asyncReturnType" : "DescribeProvisioningParametersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the configuration required to provision the specified product using the specified provisioning artifact.</p> <p>If the output contains a TagOption key with an empty list of values, there is a TagOption conflict for that key. The end user cannot take action to fix the conflict, and launch is not blocked. In subsequent calls to <a>ProvisionProduct</a>, do not include conflicted TagOption keys as tags, or this will cause the error \"Parameter validation failed: Missing required parameter in Tags[<i>N</i>]:<i>Value</i>\" and tag the provisioned product with the value <code>sc-tagoption-conflict-portfolioId-productId</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProvisioningParametersRequest",
        "variableName" : "describeProvisioningParametersRequest",
        "variableType" : "DescribeProvisioningParametersRequest",
        "documentation" : "",
        "simpleType" : "DescribeProvisioningParametersRequest",
        "variableSetterType" : "DescribeProvisioningParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProvisioningParameters",
      "operationName" : "DescribeProvisioningParameters",
      "returnType" : {
        "returnType" : "DescribeProvisioningParametersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProvisioningParametersResult"
    },
    "DescribeRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRecordRequest, DescribeRecordResult>",
      "asyncReturnType" : "DescribeRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified request operation.</p> <p>Use this operation after calling a request operation (for example, <a>ProvisionProduct</a>, <a>TerminateProvisionedProduct</a>, or <a>UpdateProvisionedProduct</a>). </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRecordRequest",
        "variableName" : "describeRecordRequest",
        "variableType" : "DescribeRecordRequest",
        "documentation" : "",
        "simpleType" : "DescribeRecordRequest",
        "variableSetterType" : "DescribeRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRecord",
      "operationName" : "DescribeRecord",
      "returnType" : {
        "returnType" : "DescribeRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRecordResult"
    },
    "DescribeTagOption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagOptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagOptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagOptionRequest, DescribeTagOptionResult>",
      "asyncReturnType" : "DescribeTagOptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified TagOption.</p>",
      "exceptions" : [ {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTagOptionRequest",
        "variableName" : "describeTagOptionRequest",
        "variableType" : "DescribeTagOptionRequest",
        "documentation" : "",
        "simpleType" : "DescribeTagOptionRequest",
        "variableSetterType" : "DescribeTagOptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTagOption",
      "operationName" : "DescribeTagOption",
      "returnType" : {
        "returnType" : "DescribeTagOptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTagOptionResult"
    },
    "DisassociatePrincipalFromPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociatePrincipalFromPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociatePrincipalFromPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociatePrincipalFromPortfolioRequest, DisassociatePrincipalFromPortfolioResult>",
      "asyncReturnType" : "DisassociatePrincipalFromPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a previously associated principal ARN from a specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociatePrincipalFromPortfolioRequest",
        "variableName" : "disassociatePrincipalFromPortfolioRequest",
        "variableType" : "DisassociatePrincipalFromPortfolioRequest",
        "documentation" : "",
        "simpleType" : "DisassociatePrincipalFromPortfolioRequest",
        "variableSetterType" : "DisassociatePrincipalFromPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociatePrincipalFromPortfolio",
      "operationName" : "DisassociatePrincipalFromPortfolio",
      "returnType" : {
        "returnType" : "DisassociatePrincipalFromPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociatePrincipalFromPortfolioResult"
    },
    "DisassociateProductFromPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateProductFromPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateProductFromPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateProductFromPortfolioRequest, DisassociateProductFromPortfolioResult>",
      "asyncReturnType" : "DisassociateProductFromPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified product from the specified portfolio. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>A resource that is currently in use. Ensure the resource is not in use and retry the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateProductFromPortfolioRequest",
        "variableName" : "disassociateProductFromPortfolioRequest",
        "variableType" : "DisassociateProductFromPortfolioRequest",
        "documentation" : "",
        "simpleType" : "DisassociateProductFromPortfolioRequest",
        "variableSetterType" : "DisassociateProductFromPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateProductFromPortfolio",
      "operationName" : "DisassociateProductFromPortfolio",
      "returnType" : {
        "returnType" : "DisassociateProductFromPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateProductFromPortfolioResult"
    },
    "DisassociateTagOptionFromResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateTagOptionFromResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateTagOptionFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateTagOptionFromResourceRequest, DisassociateTagOptionFromResourceResult>",
      "asyncReturnType" : "DisassociateTagOptionFromResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified TagOption from the specified resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateTagOptionFromResourceRequest",
        "variableName" : "disassociateTagOptionFromResourceRequest",
        "variableType" : "DisassociateTagOptionFromResourceRequest",
        "documentation" : "",
        "simpleType" : "DisassociateTagOptionFromResourceRequest",
        "variableSetterType" : "DisassociateTagOptionFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateTagOptionFromResource",
      "operationName" : "DisassociateTagOptionFromResource",
      "returnType" : {
        "returnType" : "DisassociateTagOptionFromResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateTagOptionFromResourceResult"
    },
    "ListAcceptedPortfolioShares" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAcceptedPortfolioSharesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAcceptedPortfolioSharesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAcceptedPortfolioSharesRequest, ListAcceptedPortfolioSharesResult>",
      "asyncReturnType" : "ListAcceptedPortfolioSharesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all portfolios for which sharing was accepted by this account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAcceptedPortfolioSharesRequest",
        "variableName" : "listAcceptedPortfolioSharesRequest",
        "variableType" : "ListAcceptedPortfolioSharesRequest",
        "documentation" : "",
        "simpleType" : "ListAcceptedPortfolioSharesRequest",
        "variableSetterType" : "ListAcceptedPortfolioSharesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAcceptedPortfolioShares",
      "operationName" : "ListAcceptedPortfolioShares",
      "returnType" : {
        "returnType" : "ListAcceptedPortfolioSharesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAcceptedPortfolioSharesResult"
    },
    "ListConstraintsForPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConstraintsForPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConstraintsForPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConstraintsForPortfolioRequest, ListConstraintsForPortfolioResult>",
      "asyncReturnType" : "ListConstraintsForPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the constraints for the specified portfolio and product.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListConstraintsForPortfolioRequest",
        "variableName" : "listConstraintsForPortfolioRequest",
        "variableType" : "ListConstraintsForPortfolioRequest",
        "documentation" : "",
        "simpleType" : "ListConstraintsForPortfolioRequest",
        "variableSetterType" : "ListConstraintsForPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConstraintsForPortfolio",
      "operationName" : "ListConstraintsForPortfolio",
      "returnType" : {
        "returnType" : "ListConstraintsForPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConstraintsForPortfolioResult"
    },
    "ListLaunchPaths" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLaunchPathsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLaunchPathsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLaunchPathsRequest, ListLaunchPathsResult>",
      "asyncReturnType" : "ListLaunchPathsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the paths to the specified product. A path is how the user has access to a specified product, and is necessary when provisioning a product. A path also determines the constraints put on the product.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListLaunchPathsRequest",
        "variableName" : "listLaunchPathsRequest",
        "variableType" : "ListLaunchPathsRequest",
        "documentation" : "",
        "simpleType" : "ListLaunchPathsRequest",
        "variableSetterType" : "ListLaunchPathsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLaunchPaths",
      "operationName" : "ListLaunchPaths",
      "returnType" : {
        "returnType" : "ListLaunchPathsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLaunchPathsResult"
    },
    "ListPortfolioAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPortfolioAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPortfolioAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPortfolioAccessRequest, ListPortfolioAccessResult>",
      "asyncReturnType" : "ListPortfolioAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the account IDs that have access to the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPortfolioAccessRequest",
        "variableName" : "listPortfolioAccessRequest",
        "variableType" : "ListPortfolioAccessRequest",
        "documentation" : "",
        "simpleType" : "ListPortfolioAccessRequest",
        "variableSetterType" : "ListPortfolioAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPortfolioAccess",
      "operationName" : "ListPortfolioAccess",
      "returnType" : {
        "returnType" : "ListPortfolioAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPortfolioAccessResult"
    },
    "ListPortfolios" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPortfoliosResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPortfoliosResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPortfoliosRequest, ListPortfoliosResult>",
      "asyncReturnType" : "ListPortfoliosResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all portfolios in the catalog.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPortfoliosRequest",
        "variableName" : "listPortfoliosRequest",
        "variableType" : "ListPortfoliosRequest",
        "documentation" : "",
        "simpleType" : "ListPortfoliosRequest",
        "variableSetterType" : "ListPortfoliosRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPortfolios",
      "operationName" : "ListPortfolios",
      "returnType" : {
        "returnType" : "ListPortfoliosResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPortfoliosResult"
    },
    "ListPortfoliosForProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPortfoliosForProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPortfoliosForProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPortfoliosForProductRequest, ListPortfoliosForProductResult>",
      "asyncReturnType" : "ListPortfoliosForProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all portfolios that the specified product is associated with.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPortfoliosForProductRequest",
        "variableName" : "listPortfoliosForProductRequest",
        "variableType" : "ListPortfoliosForProductRequest",
        "documentation" : "",
        "simpleType" : "ListPortfoliosForProductRequest",
        "variableSetterType" : "ListPortfoliosForProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPortfoliosForProduct",
      "operationName" : "ListPortfoliosForProduct",
      "returnType" : {
        "returnType" : "ListPortfoliosForProductResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPortfoliosForProductResult"
    },
    "ListPrincipalsForPortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPrincipalsForPortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPrincipalsForPortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPrincipalsForPortfolioRequest, ListPrincipalsForPortfolioResult>",
      "asyncReturnType" : "ListPrincipalsForPortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all principal ARNs associated with the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPrincipalsForPortfolioRequest",
        "variableName" : "listPrincipalsForPortfolioRequest",
        "variableType" : "ListPrincipalsForPortfolioRequest",
        "documentation" : "",
        "simpleType" : "ListPrincipalsForPortfolioRequest",
        "variableSetterType" : "ListPrincipalsForPortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPrincipalsForPortfolio",
      "operationName" : "ListPrincipalsForPortfolio",
      "returnType" : {
        "returnType" : "ListPrincipalsForPortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPrincipalsForPortfolioResult"
    },
    "ListProvisioningArtifacts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProvisioningArtifactsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProvisioningArtifactsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProvisioningArtifactsRequest, ListProvisioningArtifactsResult>",
      "asyncReturnType" : "ListProvisioningArtifactsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all provisioning artifacts (also known as versions) for the specified product.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListProvisioningArtifactsRequest",
        "variableName" : "listProvisioningArtifactsRequest",
        "variableType" : "ListProvisioningArtifactsRequest",
        "documentation" : "",
        "simpleType" : "ListProvisioningArtifactsRequest",
        "variableSetterType" : "ListProvisioningArtifactsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProvisioningArtifacts",
      "operationName" : "ListProvisioningArtifacts",
      "returnType" : {
        "returnType" : "ListProvisioningArtifactsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProvisioningArtifactsResult"
    },
    "ListRecordHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecordHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecordHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecordHistoryRequest, ListRecordHistoryResult>",
      "asyncReturnType" : "ListRecordHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the specified requests or all performed requests.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRecordHistoryRequest",
        "variableName" : "listRecordHistoryRequest",
        "variableType" : "ListRecordHistoryRequest",
        "documentation" : "",
        "simpleType" : "ListRecordHistoryRequest",
        "variableSetterType" : "ListRecordHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecordHistory",
      "operationName" : "ListRecordHistory",
      "returnType" : {
        "returnType" : "ListRecordHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecordHistoryResult"
    },
    "ListResourcesForTagOption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesForTagOptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesForTagOptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesForTagOptionRequest, ListResourcesForTagOptionResult>",
      "asyncReturnType" : "ListResourcesForTagOptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the resources associated with the specified TagOption.</p>",
      "exceptions" : [ {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListResourcesForTagOptionRequest",
        "variableName" : "listResourcesForTagOptionRequest",
        "variableType" : "ListResourcesForTagOptionRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesForTagOptionRequest",
        "variableSetterType" : "ListResourcesForTagOptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourcesForTagOption",
      "operationName" : "ListResourcesForTagOption",
      "returnType" : {
        "returnType" : "ListResourcesForTagOptionResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesForTagOptionResult"
    },
    "ListTagOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagOptionsRequest, ListTagOptionsResult>",
      "asyncReturnType" : "ListTagOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the specified TagOptions or all TagOptions.</p>",
      "exceptions" : [ {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagOptionsRequest",
        "variableName" : "listTagOptionsRequest",
        "variableType" : "ListTagOptionsRequest",
        "documentation" : "",
        "simpleType" : "ListTagOptionsRequest",
        "variableSetterType" : "ListTagOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagOptions",
      "operationName" : "ListTagOptions",
      "returnType" : {
        "returnType" : "ListTagOptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagOptionsResult"
    },
    "ProvisionProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ProvisionProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ProvisionProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ProvisionProductRequest, ProvisionProductResult>",
      "asyncReturnType" : "ProvisionProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provisions the specified product.</p> <p>A provisioned product is a resourced instance of a product. For example, provisioning a product based on a CloudFormation template launches a CloudFormation stack and its underlying resources. You can check the status of this request using <a>DescribeRecord</a>.</p> <p>If the request contains a tag key with an empty list of values, there is a tag conflict for that key. Do not include conflicted keys as tags, or this will cause the error \"Parameter validation failed: Missing required parameter in Tags[<i>N</i>]:<i>Value</i>\".</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>The specified resource is a duplicate.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ProvisionProductRequest",
        "variableName" : "provisionProductRequest",
        "variableType" : "ProvisionProductRequest",
        "documentation" : "",
        "simpleType" : "ProvisionProductRequest",
        "variableSetterType" : "ProvisionProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "provisionProduct",
      "operationName" : "ProvisionProduct",
      "returnType" : {
        "returnType" : "ProvisionProductResult",
        "documentation" : null
      },
      "syncReturnType" : "ProvisionProductResult"
    },
    "RejectPortfolioShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RejectPortfolioShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RejectPortfolioShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RejectPortfolioShareRequest, RejectPortfolioShareResult>",
      "asyncReturnType" : "RejectPortfolioShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Rejects an offer to share the specified portfolio.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RejectPortfolioShareRequest",
        "variableName" : "rejectPortfolioShareRequest",
        "variableType" : "RejectPortfolioShareRequest",
        "documentation" : "",
        "simpleType" : "RejectPortfolioShareRequest",
        "variableSetterType" : "RejectPortfolioShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rejectPortfolioShare",
      "operationName" : "RejectPortfolioShare",
      "returnType" : {
        "returnType" : "RejectPortfolioShareResult",
        "documentation" : null
      },
      "syncReturnType" : "RejectPortfolioShareResult"
    },
    "ScanProvisionedProducts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ScanProvisionedProductsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ScanProvisionedProductsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ScanProvisionedProductsRequest, ScanProvisionedProductsResult>",
      "asyncReturnType" : "ScanProvisionedProductsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the provisioned products that are available (not terminated).</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ScanProvisionedProductsRequest",
        "variableName" : "scanProvisionedProductsRequest",
        "variableType" : "ScanProvisionedProductsRequest",
        "documentation" : "",
        "simpleType" : "ScanProvisionedProductsRequest",
        "variableSetterType" : "ScanProvisionedProductsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "scanProvisionedProducts",
      "operationName" : "ScanProvisionedProducts",
      "returnType" : {
        "returnType" : "ScanProvisionedProductsResult",
        "documentation" : null
      },
      "syncReturnType" : "ScanProvisionedProductsResult"
    },
    "SearchProducts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchProductsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchProductsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchProductsRequest, SearchProductsResult>",
      "asyncReturnType" : "SearchProductsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the products to which the caller has access.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchProductsRequest",
        "variableName" : "searchProductsRequest",
        "variableType" : "SearchProductsRequest",
        "documentation" : "",
        "simpleType" : "SearchProductsRequest",
        "variableSetterType" : "SearchProductsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchProducts",
      "operationName" : "SearchProducts",
      "returnType" : {
        "returnType" : "SearchProductsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchProductsResult"
    },
    "SearchProductsAsAdmin" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchProductsAsAdminResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchProductsAsAdminResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchProductsAsAdminRequest, SearchProductsAsAdminResult>",
      "asyncReturnType" : "SearchProductsAsAdminResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the products for the specified portfolio or all products.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SearchProductsAsAdminRequest",
        "variableName" : "searchProductsAsAdminRequest",
        "variableType" : "SearchProductsAsAdminRequest",
        "documentation" : "",
        "simpleType" : "SearchProductsAsAdminRequest",
        "variableSetterType" : "SearchProductsAsAdminRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchProductsAsAdmin",
      "operationName" : "SearchProductsAsAdmin",
      "returnType" : {
        "returnType" : "SearchProductsAsAdminResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchProductsAsAdminResult"
    },
    "TerminateProvisionedProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateProvisionedProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateProvisionedProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateProvisionedProductRequest, TerminateProvisionedProductResult>",
      "asyncReturnType" : "TerminateProvisionedProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Terminates the specified provisioned product.</p> <p>This operation does not delete any records associated with the provisioned product.</p> <p>You can check the status of this request using <a>DescribeRecord</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TerminateProvisionedProductRequest",
        "variableName" : "terminateProvisionedProductRequest",
        "variableType" : "TerminateProvisionedProductRequest",
        "documentation" : "",
        "simpleType" : "TerminateProvisionedProductRequest",
        "variableSetterType" : "TerminateProvisionedProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateProvisionedProduct",
      "operationName" : "TerminateProvisionedProduct",
      "returnType" : {
        "returnType" : "TerminateProvisionedProductResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateProvisionedProductResult"
    },
    "UpdateConstraint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConstraintResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConstraintResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConstraintRequest, UpdateConstraintResult>",
      "asyncReturnType" : "UpdateConstraintResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified constraint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateConstraintRequest",
        "variableName" : "updateConstraintRequest",
        "variableType" : "UpdateConstraintRequest",
        "documentation" : "",
        "simpleType" : "UpdateConstraintRequest",
        "variableSetterType" : "UpdateConstraintRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConstraint",
      "operationName" : "UpdateConstraint",
      "returnType" : {
        "returnType" : "UpdateConstraintResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateConstraintResult"
    },
    "UpdatePortfolio" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePortfolioResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePortfolioResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePortfolioRequest, UpdatePortfolioResult>",
      "asyncReturnType" : "UpdatePortfolioResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified portfolio.</p> <p>You cannot update a product that was shared with you.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The current limits of the service would have been exceeded by this operation. Decrease your resource use or increase your service limits and retry the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdatePortfolioRequest",
        "variableName" : "updatePortfolioRequest",
        "variableType" : "UpdatePortfolioRequest",
        "documentation" : "",
        "simpleType" : "UpdatePortfolioRequest",
        "variableSetterType" : "UpdatePortfolioRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePortfolio",
      "operationName" : "UpdatePortfolio",
      "returnType" : {
        "returnType" : "UpdatePortfolioResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePortfolioResult"
    },
    "UpdateProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProductRequest, UpdateProductResult>",
      "asyncReturnType" : "UpdateProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified product.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateProductRequest",
        "variableName" : "updateProductRequest",
        "variableType" : "UpdateProductRequest",
        "documentation" : "",
        "simpleType" : "UpdateProductRequest",
        "variableSetterType" : "UpdateProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProduct",
      "operationName" : "UpdateProduct",
      "returnType" : {
        "returnType" : "UpdateProductResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProductResult"
    },
    "UpdateProvisionedProduct" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProvisionedProductResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProvisionedProductResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProvisionedProductRequest, UpdateProvisionedProductResult>",
      "asyncReturnType" : "UpdateProvisionedProductResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests updates to the configuration of the specified provisioned product.</p> <p>If there are tags associated with the object, they cannot be updated or added. Depending on the specific updates requested, this operation can update with no interruption, with some interruption, or replace the provisioned product entirely.</p> <p>You can check the status of this request using <a>DescribeRecord</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateProvisionedProductRequest",
        "variableName" : "updateProvisionedProductRequest",
        "variableType" : "UpdateProvisionedProductRequest",
        "documentation" : "",
        "simpleType" : "UpdateProvisionedProductRequest",
        "variableSetterType" : "UpdateProvisionedProductRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProvisionedProduct",
      "operationName" : "UpdateProvisionedProduct",
      "returnType" : {
        "returnType" : "UpdateProvisionedProductResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProvisionedProductResult"
    },
    "UpdateProvisioningArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProvisioningArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProvisioningArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProvisioningArtifactRequest, UpdateProvisioningArtifactResult>",
      "asyncReturnType" : "UpdateProvisioningArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot update a provisioning artifact for a product that was shared with you.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateProvisioningArtifactRequest",
        "variableName" : "updateProvisioningArtifactRequest",
        "variableType" : "UpdateProvisioningArtifactRequest",
        "documentation" : "",
        "simpleType" : "UpdateProvisioningArtifactRequest",
        "variableSetterType" : "UpdateProvisioningArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProvisioningArtifact",
      "operationName" : "UpdateProvisioningArtifact",
      "returnType" : {
        "returnType" : "UpdateProvisioningArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProvisioningArtifactResult"
    },
    "UpdateTagOption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTagOptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTagOptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTagOptionRequest, UpdateTagOptionResult>",
      "asyncReturnType" : "UpdateTagOptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified TagOption.</p>",
      "exceptions" : [ {
        "exceptionName" : "TagOptionNotMigratedException",
        "documentation" : "<p>An operation requiring TagOptions failed because the TagOptions migration process has not been performed for this account. Please use the AWS console to perform the migration process before retrying the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>The specified resource is a duplicate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParametersException",
        "documentation" : "<p>One or more parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateTagOptionRequest",
        "variableName" : "updateTagOptionRequest",
        "variableType" : "UpdateTagOptionRequest",
        "documentation" : "",
        "simpleType" : "UpdateTagOptionRequest",
        "variableSetterType" : "UpdateTagOptionRequest"
      },
      "inputStreamPropertyName" : null,
[...]
