{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "SubResourceSummary" : [ "Type" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-06-02",
    "asyncClient" : "AWSShieldAsyncClient",
    "asyncClientBuilderClassName" : "AWSShieldAsyncClientBuilder",
    "asyncInterface" : "AWSShieldAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSShieldModuleInjector",
    "defaultEndpoint" : "shield.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "shield.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Shield Advanced</fullname> <p>This is the <i>Shield Advanced API Reference</i>. This guide is for developers who need detailed information about the Shield Advanced API actions, data types, and errors. For detailed information about WAF and Shield Advanced features and an overview of how to use the WAF and Shield Advanced APIs, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">WAF and Shield Developer Guide</a>.</p>",
    "endpointPrefix" : "shield",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.shield",
    "packagePath" : "com/amazonaws/services/shield",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS Shield",
    "serviceFullName" : "AWS Shield",
    "serviceId" : "Shield",
    "serviceName" : "AWS Shield",
    "signingName" : "shield",
    "smokeTestsPackageName" : "com.amazonaws.services.shield.smoketests",
    "syncClient" : "AWSShieldClient",
    "syncClientBuilderClassName" : "AWSShieldClientBuilder",
    "syncInterface" : "AWSShield",
    "uid" : "shield-2016-06-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateDRTLogBucket" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDRTLogBucketResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDRTLogBucketResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDRTLogBucketRequest, AssociateDRTLogBucketResult>",
      "asyncReturnType" : "AssociateDRTLogBucketResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Authorizes the Shield Response Team (SRT) to access the specified Amazon S3 bucket containing log data such as Application Load Balancer access logs, CloudFront logs, or logs from third party sources. You can associate up to 10 Amazon S3 buckets with your subscription.</p> <p>To use the services of the SRT and make an <code>AssociateDRTLogBucket</code> request, you must be subscribed to the <a href=\"http://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"http://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAssociatedRoleException",
        "documentation" : "<p>The ARN of the role that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>Exception that indicates that the operation would exceed a limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedForDependencyException",
        "documentation" : "<p>In order to grant the necessary access to the Shield Response Team (SRT) the user submitting the request must have the <code>iam:PassRole</code> permission. This error indicates the user did not have the appropriate permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an Amazon Web Services Service</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDRTLogBucketRequest",
        "variableName" : "associateDRTLogBucketRequest",
        "variableType" : "AssociateDRTLogBucketRequest",
        "documentation" : "",
        "simpleType" : "AssociateDRTLogBucketRequest",
        "variableSetterType" : "AssociateDRTLogBucketRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDRTLogBucket",
      "operationName" : "AssociateDRTLogBucket",
      "returnType" : {
        "returnType" : "AssociateDRTLogBucketResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDRTLogBucketResult"
    },
    "AssociateDRTRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDRTRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDRTRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDRTRoleRequest, AssociateDRTRoleResult>",
      "asyncReturnType" : "AssociateDRTRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Authorizes the Shield Response Team (SRT) using the specified role, to access your Amazon Web Services account to assist with DDoS attack mitigation during potential attacks. This enables the SRT to inspect your WAF configuration and create or update WAF rules and web ACLs.</p> <p>You can associate only one <code>RoleArn</code> with your subscription. If you submit an <code>AssociateDRTRole</code> request for an account that already has an associated role, the new <code>RoleArn</code> will replace the existing <code>RoleArn</code>. </p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <code>AWSShieldDRTAccessPolicy</code> managed policy to the role that you'll specify in the request. You can access this policy in the IAM console at <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a>. For more information see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Adding and removing IAM identity permissions</a>. The role must also trust the service principal <code>drt.shield.amazonaws.com</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html\">IAM JSON policy elements: Principal</a>.</p> <p>The SRT will have access only to your WAF and Shield resources. By submitting this request, you authorize the SRT to inspect your WAF and Shield configuration and create and update WAF rules and web ACLs on your behalf. The SRT takes these actions only if explicitly authorized by you.</p> <p>You must have the <code>iam:PassRole</code> permission to make an <code>AssociateDRTRole</code> request. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a user permissions to pass a role to an Amazon Web Services service</a>. </p> <p>To use the services of the SRT and make an <code>AssociateDRTRole</code> request, you must be subscribed to the <a href=\"http://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"http://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedForDependencyException",
        "documentation" : "<p>In order to grant the necessary access to the Shield Response Team (SRT) the user submitting the request must have the <code>iam:PassRole</code> permission. This error indicates the user did not have the appropriate permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an Amazon Web Services Service</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDRTRoleRequest",
        "variableName" : "associateDRTRoleRequest",
        "variableType" : "AssociateDRTRoleRequest",
        "documentation" : "",
        "simpleType" : "AssociateDRTRoleRequest",
        "variableSetterType" : "AssociateDRTRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDRTRole",
      "operationName" : "AssociateDRTRole",
      "returnType" : {
        "returnType" : "AssociateDRTRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDRTRoleResult"
    },
    "AssociateHealthCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateHealthCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateHealthCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateHealthCheckRequest, AssociateHealthCheckResult>",
      "asyncReturnType" : "AssociateHealthCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds health-based detection to the Shield Advanced protection for a resource. Shield Advanced health-based detection uses the health of your Amazon Web Services resource to improve responsiveness and accuracy in attack detection and response. </p> <p>You define the health check in Route 53 and then associate it with your Shield Advanced protection. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/ddos-overview.html#ddos-advanced-health-check-option\">Shield Advanced Health-Based Detection</a> in the <i>WAF Developer Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>Exception that indicates that the operation would exceed a limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateHealthCheckRequest",
        "variableName" : "associateHealthCheckRequest",
        "variableType" : "AssociateHealthCheckRequest",
        "documentation" : "",
        "simpleType" : "AssociateHealthCheckRequest",
        "variableSetterType" : "AssociateHealthCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateHealthCheck",
      "operationName" : "AssociateHealthCheck",
      "returnType" : {
        "returnType" : "AssociateHealthCheckResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateHealthCheckResult"
    },
    "AssociateProactiveEngagementDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateProactiveEngagementDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateProactiveEngagementDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateProactiveEngagementDetailsRequest, AssociateProactiveEngagementDetailsResult>",
      "asyncReturnType" : "AssociateProactiveEngagementDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initializes proactive engagement and sets the list of contacts for the Shield Response Team (SRT) to use. You must provide at least one phone number in the emergency contact list. </p> <p>After you have initialized proactive engagement using this call, to disable or enable proactive engagement, use the calls <code>DisableProactiveEngagement</code> and <code>EnableProactiveEngagement</code>. </p> <note> <p>This call defines the list of email addresses and phone numbers that the SRT can use to contact you for escalations to the SRT and to initiate proactive customer support.</p> <p>The contacts that you provide in the request replace any contacts that were already defined. If you already have contacts defined and want to use them, retrieve the list using <code>DescribeEmergencyContactSettings</code> and then provide it to this call. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateProactiveEngagementDetailsRequest",
        "variableName" : "associateProactiveEngagementDetailsRequest",
        "variableType" : "AssociateProactiveEngagementDetailsRequest",
        "documentation" : "",
        "simpleType" : "AssociateProactiveEngagementDetailsRequest",
        "variableSetterType" : "AssociateProactiveEngagementDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateProactiveEngagementDetails",
      "operationName" : "AssociateProactiveEngagementDetails",
      "returnType" : {
        "returnType" : "AssociateProactiveEngagementDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateProactiveEngagementDetailsResult"
    },
    "CreateProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProtectionRequest, CreateProtectionResult>",
      "asyncReturnType" : "CreateProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables Shield Advanced for a specific Amazon Web Services resource. The resource can be an Amazon CloudFront distribution, Amazon Route 53 hosted zone, Global Accelerator standard accelerator, Elastic IP Address, Application Load Balancer, or a Classic Load Balancer. You can protect Amazon EC2 instances and Network Load Balancers by association with protected Amazon EC2 Elastic IP addresses.</p> <p>You can add protection to only a single resource with each <code>CreateProtection</code> request. You can add protection to multiple resources at once through the Shield Advanced console at <a href=\"https://console.aws.amazon.com/wafv2/shieldv2#/\">https://console.aws.amazon.com/wafv2/shieldv2#/</a>. For more information see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/getting-started-ddos.html\">Getting Started with Shield Advanced</a> and <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/configure-new-protection.html\">Adding Shield Advanced protection to Amazon Web Services resources</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>Exception that indicates that the operation would exceed a limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Exception indicating the specified resource already exists. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProtectionRequest",
        "variableName" : "createProtectionRequest",
        "variableType" : "CreateProtectionRequest",
        "documentation" : "",
        "simpleType" : "CreateProtectionRequest",
        "variableSetterType" : "CreateProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProtection",
      "operationName" : "CreateProtection",
      "returnType" : {
        "returnType" : "CreateProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProtectionResult"
    },
    "CreateProtectionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProtectionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProtectionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProtectionGroupRequest, CreateProtectionGroupResult>",
      "asyncReturnType" : "CreateProtectionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a grouping of protected resources so they can be handled as a collective. This resource grouping improves the accuracy of detection and reduces false positives. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Exception indicating the specified resource already exists. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>Exception that indicates that the operation would exceed a limit.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProtectionGroupRequest",
        "variableName" : "createProtectionGroupRequest",
        "variableType" : "CreateProtectionGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateProtectionGroupRequest",
        "variableSetterType" : "CreateProtectionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProtectionGroup",
      "operationName" : "CreateProtectionGroup",
      "returnType" : {
        "returnType" : "CreateProtectionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProtectionGroupResult"
    },
    "CreateSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriptionRequest, CreateSubscriptionResult>",
      "asyncReturnType" : "CreateSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates Shield Advanced for an account.</p> <note> <p>For accounts that are members of an Organizations organization, Shield Advanced subscriptions are billed against the organization's payer account, regardless of whether the payer account itself is subscribed. </p> </note> <p>When you initially create a subscription, your subscription is set to be automatically renewed at the end of the existing subscription period. You can change this by submitting an <code>UpdateSubscription</code> request. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Exception indicating the specified resource already exists. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSubscriptionRequest",
        "variableName" : "createSubscriptionRequest",
        "variableType" : "CreateSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "CreateSubscriptionRequest",
        "variableSetterType" : "CreateSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscription",
      "operationName" : "CreateSubscription",
      "returnType" : {
        "returnType" : "CreateSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSubscriptionResult"
    },
    "DeleteProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProtectionRequest, DeleteProtectionResult>",
      "asyncReturnType" : "DeleteProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Shield Advanced <a>Protection</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProtectionRequest",
        "variableName" : "deleteProtectionRequest",
        "variableType" : "DeleteProtectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteProtectionRequest",
        "variableSetterType" : "DeleteProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProtection",
      "operationName" : "DeleteProtection",
      "returnType" : {
        "returnType" : "DeleteProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProtectionResult"
    },
    "DeleteProtectionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProtectionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProtectionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProtectionGroupRequest, DeleteProtectionGroupResult>",
      "asyncReturnType" : "DeleteProtectionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified protection group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProtectionGroupRequest",
        "variableName" : "deleteProtectionGroupRequest",
        "variableType" : "DeleteProtectionGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteProtectionGroupRequest",
        "variableSetterType" : "DeleteProtectionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProtectionGroup",
      "operationName" : "DeleteProtectionGroup",
      "returnType" : {
        "returnType" : "DeleteProtectionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProtectionGroupResult"
    },
    "DeleteSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriptionRequest, DeleteSubscriptionResult>",
      "asyncReturnType" : "DeleteSubscriptionResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Removes Shield Advanced from an account. Shield Advanced requires a 1-year subscription commitment. You cannot delete a subscription prior to the completion of that commitment. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LockedSubscriptionException",
        "documentation" : "<p>You are trying to update a subscription that has not yet completed the 1-year commitment. You can change the <code>AutoRenew</code> parameter during the last 30 days of your subscription. This exception indicates that you are attempting to change <code>AutoRenew</code> prior to that period.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSubscriptionRequest",
        "variableName" : "deleteSubscriptionRequest",
        "variableType" : "DeleteSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubscriptionRequest",
        "variableSetterType" : "DeleteSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscription",
      "operationName" : "DeleteSubscription",
      "returnType" : {
        "returnType" : "DeleteSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSubscriptionResult"
    },
    "DescribeAttack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAttackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAttackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAttackRequest, DescribeAttackResult>",
      "asyncReturnType" : "DescribeAttackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the details of a DDoS attack. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that indicates the specified <code>AttackId</code> does not exist, or the requester does not have the appropriate permissions to access the <code>AttackId</code>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAttackRequest",
        "variableName" : "describeAttackRequest",
        "variableType" : "DescribeAttackRequest",
        "documentation" : "",
        "simpleType" : "DescribeAttackRequest",
        "variableSetterType" : "DescribeAttackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAttack",
      "operationName" : "DescribeAttack",
      "returnType" : {
        "returnType" : "DescribeAttackResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAttackResult"
    },
    "DescribeAttackStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAttackStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAttackStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAttackStatisticsRequest, DescribeAttackStatisticsResult>",
      "asyncReturnType" : "DescribeAttackStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the number and type of attacks Shield has detected in the last year for all resources that belong to your account, regardless of whether you've defined Shield protections for them. This operation is available to Shield customers as well as to Shield Advanced customers.</p> <p>The operation returns data for the time range of midnight UTC, one year ago, to midnight UTC, today. For example, if the current time is <code>2020-10-26 15:39:32 PDT</code>, equal to <code>2020-10-26 22:39:32 UTC</code>, then the time range for the attack data returned is from <code>2019-10-26 00:00:00 UTC</code> to <code>2020-10-26 00:00:00 UTC</code>. </p> <p>The time range indicates the period covered by the attack statistics data items.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAttackStatisticsRequest",
        "variableName" : "describeAttackStatisticsRequest",
        "variableType" : "DescribeAttackStatisticsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAttackStatisticsRequest",
        "variableSetterType" : "DescribeAttackStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAttackStatistics",
      "operationName" : "DescribeAttackStatistics",
      "returnType" : {
        "returnType" : "DescribeAttackStatisticsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAttackStatisticsResult"
    },
    "DescribeDRTAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDRTAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDRTAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDRTAccessRequest, DescribeDRTAccessResult>",
      "asyncReturnType" : "DescribeDRTAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current role and list of Amazon S3 log buckets used by the Shield Response Team (SRT) to access your Amazon Web Services account while assisting with attack mitigation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDRTAccessRequest",
        "variableName" : "describeDRTAccessRequest",
        "variableType" : "DescribeDRTAccessRequest",
        "documentation" : "",
        "simpleType" : "DescribeDRTAccessRequest",
        "variableSetterType" : "DescribeDRTAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDRTAccess",
      "operationName" : "DescribeDRTAccess",
      "returnType" : {
        "returnType" : "DescribeDRTAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDRTAccessResult"
    },
    "DescribeEmergencyContactSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEmergencyContactSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEmergencyContactSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEmergencyContactSettingsRequest, DescribeEmergencyContactSettingsResult>",
      "asyncReturnType" : "DescribeEmergencyContactSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A list of email addresses and phone numbers that the Shield Response Team (SRT) can use to contact you if you have proactive engagement enabled, for escalations to the SRT and to initiate proactive customer support.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEmergencyContactSettingsRequest",
        "variableName" : "describeEmergencyContactSettingsRequest",
        "variableType" : "DescribeEmergencyContactSettingsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEmergencyContactSettingsRequest",
        "variableSetterType" : "DescribeEmergencyContactSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEmergencyContactSettings",
      "operationName" : "DescribeEmergencyContactSettings",
      "returnType" : {
        "returnType" : "DescribeEmergencyContactSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEmergencyContactSettingsResult"
    },
    "DescribeProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProtectionRequest, DescribeProtectionResult>",
      "asyncReturnType" : "DescribeProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the details of a <a>Protection</a> object.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProtectionRequest",
        "variableName" : "describeProtectionRequest",
        "variableType" : "DescribeProtectionRequest",
        "documentation" : "",
        "simpleType" : "DescribeProtectionRequest",
        "variableSetterType" : "DescribeProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProtection",
      "operationName" : "DescribeProtection",
      "returnType" : {
        "returnType" : "DescribeProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProtectionResult"
    },
    "DescribeProtectionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProtectionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProtectionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProtectionGroupRequest, DescribeProtectionGroupResult>",
      "asyncReturnType" : "DescribeProtectionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the specification for the specified protection group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProtectionGroupRequest",
        "variableName" : "describeProtectionGroupRequest",
        "variableType" : "DescribeProtectionGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeProtectionGroupRequest",
        "variableSetterType" : "DescribeProtectionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProtectionGroup",
      "operationName" : "DescribeProtectionGroup",
      "returnType" : {
        "returnType" : "DescribeProtectionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProtectionGroupResult"
    },
    "DescribeSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscriptionRequest, DescribeSubscriptionResult>",
      "asyncReturnType" : "DescribeSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides details about the Shield Advanced subscription for an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSubscriptionRequest",
        "variableName" : "describeSubscriptionRequest",
        "variableType" : "DescribeSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DescribeSubscriptionRequest",
        "variableSetterType" : "DescribeSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubscription",
      "operationName" : "DescribeSubscription",
      "returnType" : {
        "returnType" : "DescribeSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSubscriptionResult"
    },
    "DisableApplicationLayerAutomaticResponse" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableApplicationLayerAutomaticResponseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableApplicationLayerAutomaticResponseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableApplicationLayerAutomaticResponseRequest, DisableApplicationLayerAutomaticResponseResult>",
      "asyncReturnType" : "DisableApplicationLayerAutomaticResponseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disable the Shield Advanced automatic application layer DDoS mitigation feature for the protected resource. This stops Shield Advanced from creating, verifying, and applying WAF rules for attacks that it detects for the resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableApplicationLayerAutomaticResponseRequest",
        "variableName" : "disableApplicationLayerAutomaticResponseRequest",
        "variableType" : "DisableApplicationLayerAutomaticResponseRequest",
        "documentation" : "",
        "simpleType" : "DisableApplicationLayerAutomaticResponseRequest",
        "variableSetterType" : "DisableApplicationLayerAutomaticResponseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableApplicationLayerAutomaticResponse",
      "operationName" : "DisableApplicationLayerAutomaticResponse",
      "returnType" : {
        "returnType" : "DisableApplicationLayerAutomaticResponseResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableApplicationLayerAutomaticResponseResult"
    },
    "DisableProactiveEngagement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableProactiveEngagementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableProactiveEngagementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableProactiveEngagementRequest, DisableProactiveEngagementResult>",
      "asyncReturnType" : "DisableProactiveEngagementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes authorization from the Shield Response Team (SRT) to notify contacts about escalations to the SRT and to initiate proactive customer support.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableProactiveEngagementRequest",
        "variableName" : "disableProactiveEngagementRequest",
        "variableType" : "DisableProactiveEngagementRequest",
        "documentation" : "",
        "simpleType" : "DisableProactiveEngagementRequest",
        "variableSetterType" : "DisableProactiveEngagementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableProactiveEngagement",
      "operationName" : "DisableProactiveEngagement",
      "returnType" : {
        "returnType" : "DisableProactiveEngagementResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableProactiveEngagementResult"
    },
    "DisassociateDRTLogBucket" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDRTLogBucketResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDRTLogBucketResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDRTLogBucketRequest, DisassociateDRTLogBucketResult>",
      "asyncReturnType" : "DisassociateDRTLogBucketResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the Shield Response Team's (SRT) access to the specified Amazon S3 bucket containing the logs that you shared previously.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAssociatedRoleException",
        "documentation" : "<p>The ARN of the role that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedForDependencyException",
        "documentation" : "<p>In order to grant the necessary access to the Shield Response Team (SRT) the user submitting the request must have the <code>iam:PassRole</code> permission. This error indicates the user did not have the appropriate permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an Amazon Web Services Service</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateDRTLogBucketRequest",
        "variableName" : "disassociateDRTLogBucketRequest",
        "variableType" : "DisassociateDRTLogBucketRequest",
        "documentation" : "",
        "simpleType" : "DisassociateDRTLogBucketRequest",
        "variableSetterType" : "DisassociateDRTLogBucketRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDRTLogBucket",
      "operationName" : "DisassociateDRTLogBucket",
      "returnType" : {
        "returnType" : "DisassociateDRTLogBucketResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDRTLogBucketResult"
    },
    "DisassociateDRTRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDRTRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDRTRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDRTRoleRequest, DisassociateDRTRoleResult>",
      "asyncReturnType" : "DisassociateDRTRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the Shield Response Team's (SRT) access to your Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateDRTRoleRequest",
        "variableName" : "disassociateDRTRoleRequest",
        "variableType" : "DisassociateDRTRoleRequest",
        "documentation" : "",
        "simpleType" : "DisassociateDRTRoleRequest",
        "variableSetterType" : "DisassociateDRTRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDRTRole",
      "operationName" : "DisassociateDRTRole",
      "returnType" : {
        "returnType" : "DisassociateDRTRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDRTRoleResult"
    },
    "DisassociateHealthCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateHealthCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateHealthCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateHealthCheckRequest, DisassociateHealthCheckResult>",
      "asyncReturnType" : "DisassociateHealthCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes health-based detection from the Shield Advanced protection for a resource. Shield Advanced health-based detection uses the health of your Amazon Web Services resource to improve responsiveness and accuracy in attack detection and response. </p> <p>You define the health check in Route 53 and then associate or disassociate it with your Shield Advanced protection. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/ddos-overview.html#ddos-advanced-health-check-option\">Shield Advanced Health-Based Detection</a> in the <i>WAF Developer Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateHealthCheckRequest",
        "variableName" : "disassociateHealthCheckRequest",
        "variableType" : "DisassociateHealthCheckRequest",
        "documentation" : "",
        "simpleType" : "DisassociateHealthCheckRequest",
        "variableSetterType" : "DisassociateHealthCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateHealthCheck",
      "operationName" : "DisassociateHealthCheck",
      "returnType" : {
        "returnType" : "DisassociateHealthCheckResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateHealthCheckResult"
    },
    "EnableApplicationLayerAutomaticResponse" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableApplicationLayerAutomaticResponseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableApplicationLayerAutomaticResponseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableApplicationLayerAutomaticResponseRequest, EnableApplicationLayerAutomaticResponseResult>",
      "asyncReturnType" : "EnableApplicationLayerAutomaticResponseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enable the Shield Advanced automatic application layer DDoS mitigation for the protected resource. </p> <note> <p>This feature is available for Amazon CloudFront distributions and Application Load Balancers only.</p> </note> <p>This causes Shield Advanced to create, verify, and apply WAF rules for DDoS attacks that it detects for the resource. Shield Advanced applies the rules in a Shield rule group inside the web ACL that you've associated with the resource. For information about how automatic mitigation works and the requirements for using it, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/ddos-advanced-automatic-app-layer-response.html\">Shield Advanced automatic application layer DDoS mitigation</a>.</p> <note> <p>Don't use this action to make changes to automatic mitigation settings when it's already enabled for a resource. Instead, use <a>UpdateApplicationLayerAutomaticResponse</a>.</p> </note> <p>To use this feature, you must associate a web ACL with the protected resource. The web ACL must be created using the latest version of WAF (v2). You can associate the web ACL through the Shield Advanced console at <a href=\"https://console.aws.amazon.com/wafv2/shieldv2#/\">https://console.aws.amazon.com/wafv2/shieldv2#/</a>. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/getting-started-ddos.html\">Getting Started with Shield Advanced</a>. You can also associate the web ACL to the resource through the WAF console or the WAF API, but you must manage Shield Advanced automatic mitigation through Shield Advanced. For information about WAF, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">WAF Developer Guide</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>Exception that indicates that the operation would exceed a limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableApplicationLayerAutomaticResponseRequest",
        "variableName" : "enableApplicationLayerAutomaticResponseRequest",
        "variableType" : "EnableApplicationLayerAutomaticResponseRequest",
        "documentation" : "",
        "simpleType" : "EnableApplicationLayerAutomaticResponseRequest",
        "variableSetterType" : "EnableApplicationLayerAutomaticResponseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableApplicationLayerAutomaticResponse",
      "operationName" : "EnableApplicationLayerAutomaticResponse",
      "returnType" : {
        "returnType" : "EnableApplicationLayerAutomaticResponseResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableApplicationLayerAutomaticResponseResult"
    },
    "EnableProactiveEngagement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableProactiveEngagementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableProactiveEngagementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableProactiveEngagementRequest, EnableProactiveEngagementResult>",
      "asyncReturnType" : "EnableProactiveEngagementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Authorizes the Shield Response Team (SRT) to use email and phone to notify contacts about escalations to the SRT and to initiate proactive customer support.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableProactiveEngagementRequest",
        "variableName" : "enableProactiveEngagementRequest",
        "variableType" : "EnableProactiveEngagementRequest",
        "documentation" : "",
        "simpleType" : "EnableProactiveEngagementRequest",
        "variableSetterType" : "EnableProactiveEngagementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableProactiveEngagement",
      "operationName" : "EnableProactiveEngagement",
      "returnType" : {
        "returnType" : "EnableProactiveEngagementResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableProactiveEngagementResult"
    },
    "GetSubscriptionState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSubscriptionStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSubscriptionStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSubscriptionStateRequest, GetSubscriptionStateResult>",
      "asyncReturnType" : "GetSubscriptionStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the <code>SubscriptionState</code>, either <code>Active</code> or <code>Inactive</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSubscriptionStateRequest",
        "variableName" : "getSubscriptionStateRequest",
        "variableType" : "GetSubscriptionStateRequest",
        "documentation" : "",
        "simpleType" : "GetSubscriptionStateRequest",
        "variableSetterType" : "GetSubscriptionStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSubscriptionState",
      "operationName" : "GetSubscriptionState",
      "returnType" : {
        "returnType" : "GetSubscriptionStateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSubscriptionStateResult"
    },
    "ListAttacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAttacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAttacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAttacksRequest, ListAttacksResult>",
      "asyncReturnType" : "ListAttacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all ongoing DDoS attacks or all DDoS attacks during a specified time period.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAttacksRequest",
        "variableName" : "listAttacksRequest",
        "variableType" : "ListAttacksRequest",
        "documentation" : "",
        "simpleType" : "ListAttacksRequest",
        "variableSetterType" : "ListAttacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAttacks",
      "operationName" : "ListAttacks",
      "returnType" : {
        "returnType" : "ListAttacksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAttacksResult"
    },
    "ListProtectionGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProtectionGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProtectionGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProtectionGroupsRequest, ListProtectionGroupsResult>",
      "asyncReturnType" : "ListProtectionGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves <a>ProtectionGroup</a> objects for the account. You can retrieve all protection groups or you can provide filtering criteria and retrieve just the subset of protection groups that match the criteria. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Exception that indicates that the <code>NextToken</code> specified in the request is invalid. Submit the request using the <code>NextToken</code> value that was returned in the prior response.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProtectionGroupsRequest",
        "variableName" : "listProtectionGroupsRequest",
        "variableType" : "ListProtectionGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListProtectionGroupsRequest",
        "variableSetterType" : "ListProtectionGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProtectionGroups",
      "operationName" : "ListProtectionGroups",
      "returnType" : {
        "returnType" : "ListProtectionGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProtectionGroupsResult"
    },
    "ListProtections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProtectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProtectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProtectionsRequest, ListProtectionsResult>",
      "asyncReturnType" : "ListProtectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves <a>Protection</a> objects for the account. You can retrieve all protections or you can provide filtering criteria and retrieve just the subset of protections that match the criteria. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Exception that indicates that the <code>NextToken</code> specified in the request is invalid. Submit the request using the <code>NextToken</code> value that was returned in the prior response.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProtectionsRequest",
        "variableName" : "listProtectionsRequest",
        "variableType" : "ListProtectionsRequest",
        "documentation" : "",
        "simpleType" : "ListProtectionsRequest",
        "variableSetterType" : "ListProtectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProtections",
      "operationName" : "ListProtections",
      "returnType" : {
        "returnType" : "ListProtectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProtectionsResult"
    },
    "ListResourcesInProtectionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesInProtectionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesInProtectionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesInProtectionGroupRequest, ListResourcesInProtectionGroupResult>",
      "asyncReturnType" : "ListResourcesInProtectionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the resources that are included in the protection group. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Exception that indicates that the <code>NextToken</code> specified in the request is invalid. Submit the request using the <code>NextToken</code> value that was returned in the prior response.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesInProtectionGroupRequest",
        "variableName" : "listResourcesInProtectionGroupRequest",
        "variableType" : "ListResourcesInProtectionGroupRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesInProtectionGroupRequest",
        "variableSetterType" : "ListResourcesInProtectionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourcesInProtectionGroup",
      "operationName" : "ListResourcesInProtectionGroup",
      "returnType" : {
        "returnType" : "ListResourcesInProtectionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesInProtectionGroupResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about Amazon Web Services tags for a specified Amazon Resource Name (ARN) in Shield.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or updates tags for a resource in Shield.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from a resource in Shield.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateApplicationLayerAutomaticResponse" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationLayerAutomaticResponseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationLayerAutomaticResponseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationLayerAutomaticResponseRequest, UpdateApplicationLayerAutomaticResponseResult>",
      "asyncReturnType" : "UpdateApplicationLayerAutomaticResponseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing Shield Advanced automatic application layer DDoS mitigation configuration for the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationLayerAutomaticResponseRequest",
        "variableName" : "updateApplicationLayerAutomaticResponseRequest",
        "variableType" : "UpdateApplicationLayerAutomaticResponseRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationLayerAutomaticResponseRequest",
        "variableSetterType" : "UpdateApplicationLayerAutomaticResponseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplicationLayerAutomaticResponse",
      "operationName" : "UpdateApplicationLayerAutomaticResponse",
      "returnType" : {
        "returnType" : "UpdateApplicationLayerAutomaticResponseResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationLayerAutomaticResponseResult"
    },
    "UpdateEmergencyContactSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEmergencyContactSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEmergencyContactSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEmergencyContactSettingsRequest, UpdateEmergencyContactSettingsResult>",
      "asyncReturnType" : "UpdateEmergencyContactSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the details of the list of email addresses and phone numbers that the Shield Response Team (SRT) can use to contact you if you have proactive engagement enabled, for escalations to the SRT and to initiate proactive customer support.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the resource state has been modified by another client. Retrieve the resource and then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist. If available, this exception includes details in additional properties. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEmergencyContactSettingsRequest",
        "variableName" : "updateEmergencyContactSettingsRequest",
        "variableType" : "UpdateEmergencyContactSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateEmergencyContactSettingsRequest",
        "variableSetterType" : "UpdateEmergencyContactSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEmergencyContactSettings",
      "operationName" : "UpdateEmergencyContactSettings",
      "returnType" : {
        "returnType" : "UpdateEmergencyContactSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEmergencyContactSettingsResult"
    },
    "UpdateProtectionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProtectionGroupResult>",
[...]
