{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "SubResourceSummary" : [ "Type" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-06-02",
    "asyncClient" : "AWSShieldAsyncClient",
    "asyncClientBuilderClassName" : "AWSShieldAsyncClientBuilder",
    "asyncInterface" : "AWSShieldAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSShieldModuleInjector",
    "defaultEndpoint" : "shield.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "shield.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Shield Advanced</fullname> <p>This is the <i>AWS Shield Advanced API Reference</i>. This guide is for developers who need detailed information about the AWS Shield Advanced API actions, data types, and errors. For detailed information about AWS WAF and AWS Shield Advanced features and an overview of how to use the AWS WAF and AWS Shield Advanced APIs, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF and AWS Shield Developer Guide</a>.</p>",
    "endpointPrefix" : "shield",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.shield",
    "packagePath" : "com/amazonaws/services/shield",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS Shield",
    "serviceFullName" : "AWS Shield",
    "serviceName" : "AWS Shield",
    "signingName" : "shield",
    "smokeTestsPackageName" : "com.amazonaws.services.shield.smoketests",
    "syncClient" : "AWSShieldClient",
    "syncClientBuilderClassName" : "AWSShieldClientBuilder",
    "syncInterface" : "AWSShield",
    "uid" : "shield-2016-06-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProtectionRequest, CreateProtectionResult>",
      "asyncReturnType" : "CreateProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables AWS Shield Advanced for a specific AWS resource. The resource can be an Amazon CloudFront distribution, Elastic Load Balancing load balancer, Elastic IP Address, or an Amazon Route 53 hosted zone.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>Exception that indicates that the operation would exceed a limit.</p> <p> <code>Type</code> is the type of limit that would be exceeded.</p> <p> <code>Limit</code> is the threshold that would be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Exception indicating the specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateProtectionRequest",
        "variableName" : "createProtectionRequest",
        "variableType" : "CreateProtectionRequest",
        "documentation" : "",
        "simpleType" : "CreateProtectionRequest",
        "variableSetterType" : "CreateProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProtection",
      "operationName" : "CreateProtection",
      "returnType" : {
        "returnType" : "CreateProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProtectionResult"
    },
    "CreateSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriptionRequest, CreateSubscriptionResult>",
      "asyncReturnType" : "CreateSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates AWS Shield Advanced for an account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Exception indicating the specified resource already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSubscriptionRequest",
        "variableName" : "createSubscriptionRequest",
        "variableType" : "CreateSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "CreateSubscriptionRequest",
        "variableSetterType" : "CreateSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscription",
      "operationName" : "CreateSubscription",
      "returnType" : {
        "returnType" : "CreateSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSubscriptionResult"
    },
    "DeleteProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProtectionRequest, DeleteProtectionResult>",
      "asyncReturnType" : "DeleteProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AWS Shield Advanced <a>Protection</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteProtectionRequest",
        "variableName" : "deleteProtectionRequest",
        "variableType" : "DeleteProtectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteProtectionRequest",
        "variableSetterType" : "DeleteProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProtection",
      "operationName" : "DeleteProtection",
      "returnType" : {
        "returnType" : "DeleteProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProtectionResult"
    },
    "DeleteSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriptionRequest, DeleteSubscriptionResult>",
      "asyncReturnType" : "DeleteSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes AWS Shield Advanced from an account. AWS Shield Advanced requires a 1-year subscription commitment. You cannot delete a subscription prior to the completion of that commitment. </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LockedSubscriptionException",
        "documentation" : "<p>Exception that indicates that the subscription you are trying to delete has not yet completed the 1-year commitment. You cannot delete this subscription.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSubscriptionRequest",
        "variableName" : "deleteSubscriptionRequest",
        "variableType" : "DeleteSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubscriptionRequest",
        "variableSetterType" : "DeleteSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscription",
      "operationName" : "DeleteSubscription",
      "returnType" : {
        "returnType" : "DeleteSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSubscriptionResult"
    },
    "DescribeAttack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAttackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAttackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAttackRequest, DescribeAttackResult>",
      "asyncReturnType" : "DescribeAttackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the details of a DDoS attack. </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAttackRequest",
        "variableName" : "describeAttackRequest",
        "variableType" : "DescribeAttackRequest",
        "documentation" : "",
        "simpleType" : "DescribeAttackRequest",
        "variableSetterType" : "DescribeAttackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAttack",
      "operationName" : "DescribeAttack",
      "returnType" : {
        "returnType" : "DescribeAttackResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAttackResult"
    },
    "DescribeProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProtectionRequest, DescribeProtectionResult>",
      "asyncReturnType" : "DescribeProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the details of a <a>Protection</a> object.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeProtectionRequest",
        "variableName" : "describeProtectionRequest",
        "variableType" : "DescribeProtectionRequest",
        "documentation" : "",
        "simpleType" : "DescribeProtectionRequest",
        "variableSetterType" : "DescribeProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProtection",
      "operationName" : "DescribeProtection",
      "returnType" : {
        "returnType" : "DescribeProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProtectionResult"
    },
    "DescribeSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscriptionRequest, DescribeSubscriptionResult>",
      "asyncReturnType" : "DescribeSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides details about the AWS Shield Advanced subscription for an account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSubscriptionRequest",
        "variableName" : "describeSubscriptionRequest",
        "variableType" : "DescribeSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DescribeSubscriptionRequest",
        "variableSetterType" : "DescribeSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubscription",
      "operationName" : "DescribeSubscription",
      "returnType" : {
        "returnType" : "DescribeSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSubscriptionResult"
    },
    "GetSubscriptionState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSubscriptionStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSubscriptionStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSubscriptionStateRequest, GetSubscriptionStateResult>",
      "asyncReturnType" : "GetSubscriptionStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the <code>SubscriptionState</code>, either <code>Active</code> or <code>Inactive</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSubscriptionStateRequest",
        "variableName" : "getSubscriptionStateRequest",
        "variableType" : "GetSubscriptionStateRequest",
        "documentation" : "",
        "simpleType" : "GetSubscriptionStateRequest",
        "variableSetterType" : "GetSubscriptionStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSubscriptionState",
      "operationName" : "GetSubscriptionState",
      "returnType" : {
        "returnType" : "GetSubscriptionStateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSubscriptionStateResult"
    },
    "ListAttacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAttacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAttacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAttacksRequest, ListAttacksResult>",
      "asyncReturnType" : "ListAttacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all ongoing DDoS attacks or all DDoS attacks during a specified time period.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAttacksRequest",
        "variableName" : "listAttacksRequest",
        "variableType" : "ListAttacksRequest",
        "documentation" : "",
        "simpleType" : "ListAttacksRequest",
        "variableSetterType" : "ListAttacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAttacks",
      "operationName" : "ListAttacks",
      "returnType" : {
        "returnType" : "ListAttacksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAttacksResult"
    },
    "ListProtections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProtectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProtectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProtectionsRequest, ListProtectionsResult>",
      "asyncReturnType" : "ListProtectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all <a>Protection</a> objects for the account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListProtectionsRequest",
        "variableName" : "listProtectionsRequest",
        "variableType" : "ListProtectionsRequest",
        "documentation" : "",
        "simpleType" : "ListProtectionsRequest",
        "variableSetterType" : "ListProtectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProtections",
      "operationName" : "ListProtections",
      "returnType" : {
        "returnType" : "ListProtectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProtectionsResult"
    }
  },
  "shapes" : {
    "AttackDetail" : {
      "c2jName" : "AttackDetail",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The details of a DDoS attack.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AttackId",
        "c2jShape" : "AttackId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttackId",
        "getterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@return The unique identifier (ID) of the attack.*/",
        "getterMethodName" : "getAttackId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AttackId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AttackId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AttackId",
        "setterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.*/",
        "setterMethodName" : "setAttackId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "attackId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "attackId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceArn",
        "c2jShape" : "ResourceArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceArn",
        "getterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@return The ARN (Amazon Resource Name) of the resource that was attacked.*/",
        "getterMethodName" : "getResourceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceArn",
        "setterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.*/",
        "setterMethodName" : "setResourceArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubResources",
        "c2jShape" : "SubResourceSummaryList",
        "deprecated" : false,
        "documentation" : "<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubResources",
        "getterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@return If applicable, additional detail about the resource being attacked, for example, IP address or URL.*/",
        "getterMethodName" : "getSubResources",
        "getterModel" : {
          "returnType" : "java.util.List<SubResourceSummary>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubResources",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubResources",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "SubResourceSummary",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "SubResourceSummary",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "SubResourceSummary",
              "variableName" : "member",
              "variableType" : "SubResourceSummary",
              "documentation" : "",
              "simpleType" : "SubResourceSummary",
              "variableSetterType" : "SubResourceSummary"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "SubResourceSummary",
              "variableName" : "member",
              "variableType" : "SubResourceSummary",
              "documentation" : "",
              "simpleType" : "SubResourceSummary",
              "variableSetterType" : "SubResourceSummary"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "SubResourceSummary",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "SubResourceSummary",
          "templateImplType" : "java.util.ArrayList<SubResourceSummary>",
          "templateType" : "java.util.List<SubResourceSummary>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "SubResources",
        "setterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.*/",
        "setterMethodName" : "setSubResources",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<SubResourceSummary>",
          "variableName" : "subResources",
          "variableType" : "java.util.List<SubResourceSummary>",
          "documentation" : "",
          "simpleType" : "List<SubResourceSummary>",
          "variableSetterType" : "java.util.Collection<SubResourceSummary>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSubResources(java.util.Collection)} or {@link #withSubResources(java.util.Collection)} if you want to override the existing values.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<SubResourceSummary>",
          "variableName" : "subResources",
          "variableType" : "java.util.List<SubResourceSummary>",
          "documentation" : "<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>",
          "simpleType" : "List<SubResourceSummary>",
          "variableSetterType" : "java.util.Collection<SubResourceSummary>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StartTime",
        "c2jShape" : "AttackTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param startTime The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStartTime",
        "getterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@return The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.*/",
        "getterMethodName" : "getStartTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StartTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StartTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "StartTime",
        "setterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param startTime The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.*/",
        "setterMethodName" : "setStartTime",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param startTime The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EndTime",
        "c2jShape" : "AttackTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param endTime The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndTime",
        "getterDocumentation" : "/**<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@return The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.*/",
        "getterMethodName" : "getEndTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EndTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "EndTime",
        "setterDocumentation" : "/**<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param endTime The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.*/",
        "setterMethodName" : "setEndTime",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "endTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param endTime The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "endTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AttackCounters",
        "c2jShape" : "SummarizedCounterList",
        "deprecated" : false,
        "documentation" : "<p>List of counters that describe the attack for the specified time period.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttackCounters",
        "getterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@return List of counters that describe the attack for the specified time period.*/",
        "getterMethodName" : "getAttackCounters",
        "getterModel" : {
          "returnType" : "java.util.List<SummarizedCounter>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AttackCounters",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AttackCounters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "SummarizedCounter",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "SummarizedCounter",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "SummarizedCounter",
              "variableName" : "member",
              "variableType" : "SummarizedCounter",
              "documentation" : "",
              "simpleType" : "SummarizedCounter",
              "variableSetterType" : "SummarizedCounter"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "SummarizedCounter",
              "variableName" : "member",
              "variableType" : "SummarizedCounter",
              "documentation" : "",
              "simpleType" : "SummarizedCounter",
              "variableSetterType" : "SummarizedCounter"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "SummarizedCounter",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "SummarizedCounter",
          "templateImplType" : "java.util.ArrayList<SummarizedCounter>",
          "templateType" : "java.util.List<SummarizedCounter>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "AttackCounters",
        "setterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.*/",
        "setterMethodName" : "setAttackCounters",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<SummarizedCounter>",
          "variableName" : "attackCounters",
          "variableType" : "java.util.List<SummarizedCounter>",
          "documentation" : "",
          "simpleType" : "List<SummarizedCounter>",
          "variableSetterType" : "java.util.Collection<SummarizedCounter>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttackCounters(java.util.Collection)} or {@link #withAttackCounters(java.util.Collection)} if you want to override the existing values.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<SummarizedCounter>",
          "variableName" : "attackCounters",
          "variableType" : "java.util.List<SummarizedCounter>",
          "documentation" : "<p>List of counters that describe the attack for the specified time period.</p>",
          "simpleType" : "List<SummarizedCounter>",
          "variableSetterType" : "java.util.Collection<SummarizedCounter>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AttackProperties",
        "c2jShape" : "AttackProperties",
        "deprecated" : false,
        "documentation" : "<p>The array of <a>AttackProperty</a> objects.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The array of <a>AttackProperty</a> objects.</p>\n@param attackProperties The array of <a>AttackProperty</a> objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttackProperties",
        "getterDocumentation" : "/**<p>The array of <a>AttackProperty</a> objects.</p>\n@return The array of <a>AttackProperty</a> objects.*/",
        "getterMethodName" : "getAttackProperties",
        "getterModel" : {
          "returnType" : "java.util.List<AttackProperty>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AttackProperties",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AttackProperties",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AttackProperty",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "AttackProperty",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "AttackProperty",
              "variableName" : "member",
              "variableType" : "AttackProperty",
              "documentation" : "",
              "simpleType" : "AttackProperty",
              "variableSetterType" : "AttackProperty"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "AttackProperty",
              "variableName" : "member",
              "variableType" : "AttackProperty",
              "documentation" : "",
              "simpleType" : "AttackProperty",
              "variableSetterType" : "AttackProperty"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "AttackProperty",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "AttackProperty",
          "templateImplType" : "java.util.ArrayList<AttackProperty>",
          "templateType" : "java.util.List<AttackProperty>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "AttackProperties",
        "setterDocumentation" : "/**<p>The array of <a>AttackProperty</a> objects.</p>\n@param attackProperties The array of <a>AttackProperty</a> objects.*/",
        "setterMethodName" : "setAttackProperties",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<AttackProperty>",
          "variableName" : "attackProperties",
          "variableType" : "java.util.List<AttackProperty>",
          "documentation" : "",
          "simpleType" : "List<AttackProperty>",
          "variableSetterType" : "java.util.Collection<AttackProperty>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The array of <a>AttackProperty</a> objects.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttackProperties(java.util.Collection)} or {@link #withAttackProperties(java.util.Collection)} if you want to override the existing values.</p>\n@param attackProperties The array of <a>AttackProperty</a> objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<AttackProperty>",
          "variableName" : "attackProperties",
          "variableType" : "java.util.List<AttackProperty>",
          "documentation" : "<p>The array of <a>AttackProperty</a> objects.</p>",
          "simpleType" : "List<AttackProperty>",
          "variableSetterType" : "java.util.Collection<AttackProperty>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Mitigations",
        "c2jShape" : "MitigationList",
        "deprecated" : false,
        "documentation" : "<p>List of mitigation actions taken for the attack.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@param mitigations List of mitigation actions taken for the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMitigations",
        "getterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@return List of mitigation actions taken for the attack.*/",
        "getterMethodName" : "getMitigations",
        "getterModel" : {
          "returnType" : "java.util.List<Mitigation>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Mitigations",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Mitigations",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Mitigation",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Mitigation",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "Mitigation",
              "variableName" : "member",
              "variableType" : "Mitigation",
              "documentation" : "",
              "simpleType" : "Mitigation",
              "variableSetterType" : "Mitigation"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Mitigation",
              "variableName" : "member",
              "variableType" : "Mitigation",
              "documentation" : "",
              "simpleType" : "Mitigation",
              "variableSetterType" : "Mitigation"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Mitigation",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Mitigation",
          "templateImplType" : "java.util.ArrayList<Mitigation>",
          "templateType" : "java.util.List<Mitigation>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Mitigations",
        "setterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@param mitigations List of mitigation actions taken for the attack.*/",
        "setterMethodName" : "setMitigations",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Mitigation>",
          "variableName" : "mitigations",
          "variableType" : "java.util.List<Mitigation>",
          "documentation" : "",
          "simpleType" : "List<Mitigation>",
          "variableSetterType" : "java.util.Collection<Mitigation>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMitigations(java.util.Collection)} or {@link #withMitigations(java.util.Collection)} if you want to override the existing values.</p>\n@param mitigations List of mitigation actions taken for the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Mitigation>",
          "variableName" : "mitigations",
          "variableType" : "java.util.List<Mitigation>",
          "documentation" : "<p>List of mitigation actions taken for the attack.</p>",
          "simpleType" : "List<Mitigation>",
          "variableSetterType" : "java.util.Collection<Mitigation>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AttackCounters" : {
          "c2jName" : "AttackCounters",
          "c2jShape" : "SummarizedCounterList",
          "deprecated" : false,
          "documentation" : "<p>List of counters that describe the attack for the specified time period.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttackCounters",
          "getterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@return List of counters that describe the attack for the specified time period.*/",
          "getterMethodName" : "getAttackCounters",
          "getterModel" : {
            "returnType" : "java.util.List<SummarizedCounter>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AttackCounters",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AttackCounters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "SummarizedCounter",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "SummarizedCounter",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "SummarizedCounter",
                "variableName" : "member",
                "variableType" : "SummarizedCounter",
                "documentation" : "",
                "simpleType" : "SummarizedCounter",
                "variableSetterType" : "SummarizedCounter"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "SummarizedCounter",
                "variableName" : "member",
                "variableType" : "SummarizedCounter",
                "documentation" : "",
                "simpleType" : "SummarizedCounter",
                "variableSetterType" : "SummarizedCounter"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "SummarizedCounter",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "SummarizedCounter",
            "templateImplType" : "java.util.ArrayList<SummarizedCounter>",
            "templateType" : "java.util.List<SummarizedCounter>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "AttackCounters",
          "setterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.*/",
          "setterMethodName" : "setAttackCounters",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<SummarizedCounter>",
            "variableName" : "attackCounters",
            "variableType" : "java.util.List<SummarizedCounter>",
            "documentation" : "",
            "simpleType" : "List<SummarizedCounter>",
            "variableSetterType" : "java.util.Collection<SummarizedCounter>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>List of counters that describe the attack for the specified time period.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttackCounters(java.util.Collection)} or {@link #withAttackCounters(java.util.Collection)} if you want to override the existing values.</p>\n@param attackCounters List of counters that describe the attack for the specified time period.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<SummarizedCounter>",
            "variableName" : "attackCounters",
            "variableType" : "java.util.List<SummarizedCounter>",
            "documentation" : "<p>List of counters that describe the attack for the specified time period.</p>",
            "simpleType" : "List<SummarizedCounter>",
            "variableSetterType" : "java.util.Collection<SummarizedCounter>"
          },
          "xmlNameSpaceUri" : null
        },
        "AttackId" : {
          "c2jName" : "AttackId",
          "c2jShape" : "AttackId",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttackId",
          "getterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@return The unique identifier (ID) of the attack.*/",
          "getterMethodName" : "getAttackId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AttackId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AttackId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AttackId",
          "setterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.*/",
          "setterMethodName" : "setAttackId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "attackId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "attackId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AttackProperties" : {
          "c2jName" : "AttackProperties",
          "c2jShape" : "AttackProperties",
          "deprecated" : false,
          "documentation" : "<p>The array of <a>AttackProperty</a> objects.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The array of <a>AttackProperty</a> objects.</p>\n@param attackProperties The array of <a>AttackProperty</a> objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttackProperties",
          "getterDocumentation" : "/**<p>The array of <a>AttackProperty</a> objects.</p>\n@return The array of <a>AttackProperty</a> objects.*/",
          "getterMethodName" : "getAttackProperties",
          "getterModel" : {
            "returnType" : "java.util.List<AttackProperty>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AttackProperties",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AttackProperties",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "AttackProperty",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "AttackProperty",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "AttackProperty",
                "variableName" : "member",
                "variableType" : "AttackProperty",
                "documentation" : "",
                "simpleType" : "AttackProperty",
                "variableSetterType" : "AttackProperty"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "AttackProperty",
                "variableName" : "member",
                "variableType" : "AttackProperty",
                "documentation" : "",
                "simpleType" : "AttackProperty",
                "variableSetterType" : "AttackProperty"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "AttackProperty",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "AttackProperty",
            "templateImplType" : "java.util.ArrayList<AttackProperty>",
            "templateType" : "java.util.List<AttackProperty>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "AttackProperties",
          "setterDocumentation" : "/**<p>The array of <a>AttackProperty</a> objects.</p>\n@param attackProperties The array of <a>AttackProperty</a> objects.*/",
          "setterMethodName" : "setAttackProperties",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<AttackProperty>",
            "variableName" : "attackProperties",
            "variableType" : "java.util.List<AttackProperty>",
            "documentation" : "",
            "simpleType" : "List<AttackProperty>",
            "variableSetterType" : "java.util.Collection<AttackProperty>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The array of <a>AttackProperty</a> objects.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttackProperties(java.util.Collection)} or {@link #withAttackProperties(java.util.Collection)} if you want to override the existing values.</p>\n@param attackProperties The array of <a>AttackProperty</a> objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<AttackProperty>",
            "variableName" : "attackProperties",
            "variableType" : "java.util.List<AttackProperty>",
            "documentation" : "<p>The array of <a>AttackProperty</a> objects.</p>",
            "simpleType" : "List<AttackProperty>",
            "variableSetterType" : "java.util.Collection<AttackProperty>"
          },
          "xmlNameSpaceUri" : null
        },
        "EndTime" : {
          "c2jName" : "EndTime",
          "c2jShape" : "AttackTimestamp",
          "deprecated" : false,
          "documentation" : "<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param endTime The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndTime",
          "getterDocumentation" : "/**<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@return The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.*/",
          "getterMethodName" : "getEndTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EndTime",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EndTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "EndTime",
          "setterDocumentation" : "/**<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param endTime The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.*/",
          "setterMethodName" : "setEndTime",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "endTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param endTime The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "endTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Mitigations" : {
          "c2jName" : "Mitigations",
          "c2jShape" : "MitigationList",
          "deprecated" : false,
          "documentation" : "<p>List of mitigation actions taken for the attack.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@param mitigations List of mitigation actions taken for the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMitigations",
          "getterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@return List of mitigation actions taken for the attack.*/",
          "getterMethodName" : "getMitigations",
          "getterModel" : {
            "returnType" : "java.util.List<Mitigation>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Mitigations",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Mitigations",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Mitigation",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Mitigation",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "Mitigation",
                "variableName" : "member",
                "variableType" : "Mitigation",
                "documentation" : "",
                "simpleType" : "Mitigation",
                "variableSetterType" : "Mitigation"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Mitigation",
                "variableName" : "member",
                "variableType" : "Mitigation",
                "documentation" : "",
                "simpleType" : "Mitigation",
                "variableSetterType" : "Mitigation"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Mitigation",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Mitigation",
            "templateImplType" : "java.util.ArrayList<Mitigation>",
            "templateType" : "java.util.List<Mitigation>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Mitigations",
          "setterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n@param mitigations List of mitigation actions taken for the attack.*/",
          "setterMethodName" : "setMitigations",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<Mitigation>",
            "variableName" : "mitigations",
            "variableType" : "java.util.List<Mitigation>",
            "documentation" : "",
            "simpleType" : "List<Mitigation>",
            "variableSetterType" : "java.util.Collection<Mitigation>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>List of mitigation actions taken for the attack.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMitigations(java.util.Collection)} or {@link #withMitigations(java.util.Collection)} if you want to override the existing values.</p>\n@param mitigations List of mitigation actions taken for the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<Mitigation>",
            "variableName" : "mitigations",
            "variableType" : "java.util.List<Mitigation>",
            "documentation" : "<p>List of mitigation actions taken for the attack.</p>",
            "simpleType" : "List<Mitigation>",
            "variableSetterType" : "java.util.Collection<Mitigation>"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceArn" : {
          "c2jName" : "ResourceArn",
          "c2jShape" : "ResourceArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceArn",
          "getterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@return The ARN (Amazon Resource Name) of the resource that was attacked.*/",
          "getterMethodName" : "getResourceArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceArn",
          "setterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.*/",
          "setterMethodName" : "setResourceArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StartTime" : {
          "c2jName" : "StartTime",
          "c2jShape" : "AttackTimestamp",
          "deprecated" : false,
          "documentation" : "<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param startTime The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStartTime",
          "getterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@return The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.*/",
          "getterMethodName" : "getStartTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "StartTime",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StartTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "StartTime",
          "setterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param startTime The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.*/",
          "setterMethodName" : "setStartTime",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "startTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
[...]
