{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "SubResourceSummary" : [ "Type" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-06-02",
    "asyncClient" : "AWSShieldAsyncClient",
    "asyncClientBuilderClassName" : "AWSShieldAsyncClientBuilder",
    "asyncInterface" : "AWSShieldAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSShieldModuleInjector",
    "defaultEndpoint" : "shield.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "shield.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Shield Advanced</fullname> <p>This is the <i>AWS Shield Advanced API Reference</i>. This guide is for developers who need detailed information about the AWS Shield Advanced API actions, data types, and errors. For detailed information about AWS WAF and AWS Shield Advanced features and an overview of how to use the AWS WAF and AWS Shield Advanced APIs, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF and AWS Shield Developer Guide</a>.</p>",
    "endpointPrefix" : "shield",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.shield",
    "packagePath" : "com/amazonaws/services/shield",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS Shield",
    "serviceFullName" : "AWS Shield",
    "serviceId" : "Shield",
    "serviceName" : "AWS Shield",
    "signingName" : "shield",
    "smokeTestsPackageName" : "com.amazonaws.services.shield.smoketests",
    "syncClient" : "AWSShieldClient",
    "syncClientBuilderClassName" : "AWSShieldClientBuilder",
    "syncInterface" : "AWSShield",
    "uid" : "shield-2016-06-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateDRTLogBucket" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDRTLogBucketResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDRTLogBucketResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDRTLogBucketRequest, AssociateDRTLogBucketResult>",
      "asyncReturnType" : "AssociateDRTLogBucketResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Authorizes the DDoS Response team (DRT) to access the specified Amazon S3 bucket containing your flow logs. You can associate up to 10 Amazon S3 buckets with your subscription.</p> <p>To use the services of the DRT and make an <code>AssociateDRTLogBucket</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAssociatedRoleException",
        "documentation" : "<p>The ARN of the role that you specifed does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>Exception that indicates that the operation would exceed a limit.</p> <p> <code>Type</code> is the type of limit that would be exceeded.</p> <p> <code>Limit</code> is the threshold that would be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedForDependencyException",
        "documentation" : "<p>In order to grant the necessary access to the DDoS Response Team, the user submitting <code>AssociateDRTRole</code> must have the <code>iam:PassRole</code> permission. This error indicates the user did not have the appropriate permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an AWS Service</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDRTLogBucketRequest",
        "variableName" : "associateDRTLogBucketRequest",
        "variableType" : "AssociateDRTLogBucketRequest",
        "documentation" : "",
        "simpleType" : "AssociateDRTLogBucketRequest",
        "variableSetterType" : "AssociateDRTLogBucketRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDRTLogBucket",
      "operationName" : "AssociateDRTLogBucket",
      "returnType" : {
        "returnType" : "AssociateDRTLogBucketResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDRTLogBucketResult"
    },
    "AssociateDRTRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDRTRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDRTRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDRTRoleRequest, AssociateDRTRoleResult>",
      "asyncReturnType" : "AssociateDRTRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Authorizes the DDoS Response team (DRT), using the specified role, to access your AWS account to assist with DDoS attack mitigation during potential attacks. This enables the DRT to inspect your AWS WAF configuration and create or update AWS WAF rules and web ACLs.</p> <p>You can associate only one <code>RoleArn</code> with your subscription. If you submit an <code>AssociateDRTRole</code> request for an account that already has an associated role, the new <code>RoleArn</code> will replace the existing <code>RoleArn</code>. </p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to the role you will specify in the request. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>. The role must also trust the service principal <code> drt.shield.amazonaws.com</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html\">IAM JSON Policy Elements: Principal</a>.</p> <p>The DRT will have access only to your AWS WAF and Shield resources. By submitting this request, you authorize the DRT to inspect your AWS WAF and Shield configuration and create and update AWS WAF rules and web ACLs on your behalf. The DRT takes these actions only if explicitly authorized by you.</p> <p>You must have the <code>iam:PassRole</code> permission to make an <code>AssociateDRTRole</code> request. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an AWS Service</a>. </p> <p>To use the services of the DRT and make an <code>AssociateDRTRole</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedForDependencyException",
        "documentation" : "<p>In order to grant the necessary access to the DDoS Response Team, the user submitting <code>AssociateDRTRole</code> must have the <code>iam:PassRole</code> permission. This error indicates the user did not have the appropriate permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an AWS Service</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDRTRoleRequest",
        "variableName" : "associateDRTRoleRequest",
        "variableType" : "AssociateDRTRoleRequest",
        "documentation" : "",
        "simpleType" : "AssociateDRTRoleRequest",
        "variableSetterType" : "AssociateDRTRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDRTRole",
      "operationName" : "AssociateDRTRole",
      "returnType" : {
        "returnType" : "AssociateDRTRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDRTRoleResult"
    },
    "CreateProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProtectionRequest, CreateProtectionResult>",
      "asyncReturnType" : "CreateProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables AWS Shield Advanced for a specific AWS resource. The resource can be an Amazon CloudFront distribution, Elastic Load Balancing load balancer, AWS Global Accelerator accelerator, Elastic IP Address, or an Amazon Route 53 hosted zone.</p> <p>You can add protection to only a single resource with each CreateProtection request. If you want to add protection to multiple resources at once, use the <a href=\"https://console.aws.amazon.com/waf/\">AWS WAF console</a>. For more information see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/getting-started-ddos.html\">Getting Started with AWS Shield Advanced</a> and <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/configure-new-protection.html\">Add AWS Shield Advanced Protection to more AWS Resources</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitsExceededException",
        "documentation" : "<p>Exception that indicates that the operation would exceed a limit.</p> <p> <code>Type</code> is the type of limit that would be exceeded.</p> <p> <code>Limit</code> is the threshold that would be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Exception indicating the specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProtectionRequest",
        "variableName" : "createProtectionRequest",
        "variableType" : "CreateProtectionRequest",
        "documentation" : "",
        "simpleType" : "CreateProtectionRequest",
        "variableSetterType" : "CreateProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProtection",
      "operationName" : "CreateProtection",
      "returnType" : {
        "returnType" : "CreateProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProtectionResult"
    },
    "CreateSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriptionRequest, CreateSubscriptionResult>",
      "asyncReturnType" : "CreateSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates AWS Shield Advanced for an account.</p> <p>As part of this request you can specify <code>EmergencySettings</code> that automaticaly grant the DDoS response team (DRT) needed permissions to assist you during a suspected DDoS attack. For more information see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/authorize-DRT.html\">Authorize the DDoS Response Team to Create Rules and Web ACLs on Your Behalf</a>.</p> <p>When you initally create a subscription, your subscription is set to be automatically renewed at the end of the existing subscription period. You can change this by submitting an <code>UpdateSubscription</code> request. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Exception indicating the specified resource already exists.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSubscriptionRequest",
        "variableName" : "createSubscriptionRequest",
        "variableType" : "CreateSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "CreateSubscriptionRequest",
        "variableSetterType" : "CreateSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscription",
      "operationName" : "CreateSubscription",
      "returnType" : {
        "returnType" : "CreateSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSubscriptionResult"
    },
    "DeleteProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProtectionRequest, DeleteProtectionResult>",
      "asyncReturnType" : "DeleteProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AWS Shield Advanced <a>Protection</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProtectionRequest",
        "variableName" : "deleteProtectionRequest",
        "variableType" : "DeleteProtectionRequest",
        "documentation" : "",
        "simpleType" : "DeleteProtectionRequest",
        "variableSetterType" : "DeleteProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProtection",
      "operationName" : "DeleteProtection",
      "returnType" : {
        "returnType" : "DeleteProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProtectionResult"
    },
    "DeleteSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriptionRequest, DeleteSubscriptionResult>",
      "asyncReturnType" : "DeleteSubscriptionResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Removes AWS Shield Advanced from an account. AWS Shield Advanced requires a 1-year subscription commitment. You cannot delete a subscription prior to the completion of that commitment. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LockedSubscriptionException",
        "documentation" : "<p>You are trying to update a subscription that has not yet completed the 1-year commitment. You can change the <code>AutoRenew</code> parameter during the last 30 days of your subscription. This exception indicates that you are attempting to change <code>AutoRenew</code> prior to that period.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSubscriptionRequest",
        "variableName" : "deleteSubscriptionRequest",
        "variableType" : "DeleteSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubscriptionRequest",
        "variableSetterType" : "DeleteSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscription",
      "operationName" : "DeleteSubscription",
      "returnType" : {
        "returnType" : "DeleteSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSubscriptionResult"
    },
    "DescribeAttack" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAttackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAttackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAttackRequest, DescribeAttackResult>",
      "asyncReturnType" : "DescribeAttackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the details of a DDoS attack. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that indicates the specified <code>AttackId</code> does not exist, or the requester does not have the appropriate permissions to access the <code>AttackId</code>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAttackRequest",
        "variableName" : "describeAttackRequest",
        "variableType" : "DescribeAttackRequest",
        "documentation" : "",
        "simpleType" : "DescribeAttackRequest",
        "variableSetterType" : "DescribeAttackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAttack",
      "operationName" : "DescribeAttack",
      "returnType" : {
        "returnType" : "DescribeAttackResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAttackResult"
    },
    "DescribeDRTAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDRTAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDRTAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDRTAccessRequest, DescribeDRTAccessResult>",
      "asyncReturnType" : "DescribeDRTAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current role and list of Amazon S3 log buckets used by the DDoS Response team (DRT) to access your AWS account while assisting with attack mitigation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDRTAccessRequest",
        "variableName" : "describeDRTAccessRequest",
        "variableType" : "DescribeDRTAccessRequest",
        "documentation" : "",
        "simpleType" : "DescribeDRTAccessRequest",
        "variableSetterType" : "DescribeDRTAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDRTAccess",
      "operationName" : "DescribeDRTAccess",
      "returnType" : {
        "returnType" : "DescribeDRTAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDRTAccessResult"
    },
    "DescribeEmergencyContactSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEmergencyContactSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEmergencyContactSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEmergencyContactSettingsRequest, DescribeEmergencyContactSettingsResult>",
      "asyncReturnType" : "DescribeEmergencyContactSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the email addresses that the DRT can use to contact you during a suspected attack.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEmergencyContactSettingsRequest",
        "variableName" : "describeEmergencyContactSettingsRequest",
        "variableType" : "DescribeEmergencyContactSettingsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEmergencyContactSettingsRequest",
        "variableSetterType" : "DescribeEmergencyContactSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEmergencyContactSettings",
      "operationName" : "DescribeEmergencyContactSettings",
      "returnType" : {
        "returnType" : "DescribeEmergencyContactSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEmergencyContactSettingsResult"
    },
    "DescribeProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProtectionRequest, DescribeProtectionResult>",
      "asyncReturnType" : "DescribeProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the details of a <a>Protection</a> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProtectionRequest",
        "variableName" : "describeProtectionRequest",
        "variableType" : "DescribeProtectionRequest",
        "documentation" : "",
        "simpleType" : "DescribeProtectionRequest",
        "variableSetterType" : "DescribeProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProtection",
      "operationName" : "DescribeProtection",
      "returnType" : {
        "returnType" : "DescribeProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProtectionResult"
    },
    "DescribeSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscriptionRequest, DescribeSubscriptionResult>",
      "asyncReturnType" : "DescribeSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides details about the AWS Shield Advanced subscription for an account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSubscriptionRequest",
        "variableName" : "describeSubscriptionRequest",
        "variableType" : "DescribeSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DescribeSubscriptionRequest",
        "variableSetterType" : "DescribeSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubscription",
      "operationName" : "DescribeSubscription",
      "returnType" : {
        "returnType" : "DescribeSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSubscriptionResult"
    },
    "DisassociateDRTLogBucket" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDRTLogBucketResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDRTLogBucketResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDRTLogBucketRequest, DisassociateDRTLogBucketResult>",
      "asyncReturnType" : "DisassociateDRTLogBucketResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the DDoS Response team's (DRT) access to the specified Amazon S3 bucket containing your flow logs.</p> <p>To make a <code>DisassociateDRTLogBucket</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>. However, if you are not subscribed to one of these support plans, but had been previously and had granted the DRT access to your account, you can submit a <code>DisassociateDRTLogBucket</code> request to remove this access.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAssociatedRoleException",
        "documentation" : "<p>The ARN of the role that you specifed does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedForDependencyException",
        "documentation" : "<p>In order to grant the necessary access to the DDoS Response Team, the user submitting <code>AssociateDRTRole</code> must have the <code>iam:PassRole</code> permission. This error indicates the user did not have the appropriate permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an AWS Service</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateDRTLogBucketRequest",
        "variableName" : "disassociateDRTLogBucketRequest",
        "variableType" : "DisassociateDRTLogBucketRequest",
        "documentation" : "",
        "simpleType" : "DisassociateDRTLogBucketRequest",
        "variableSetterType" : "DisassociateDRTLogBucketRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDRTLogBucket",
      "operationName" : "DisassociateDRTLogBucket",
      "returnType" : {
        "returnType" : "DisassociateDRTLogBucketResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDRTLogBucketResult"
    },
    "DisassociateDRTRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDRTRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDRTRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDRTRoleRequest, DisassociateDRTRoleResult>",
      "asyncReturnType" : "DisassociateDRTRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the DDoS Response team's (DRT) access to your AWS account.</p> <p>To make a <code>DisassociateDRTRole</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>. However, if you are not subscribed to one of these support plans, but had been previously and had granted the DRT access to your account, you can submit a <code>DisassociateDRTRole</code> request to remove this access.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateDRTRoleRequest",
        "variableName" : "disassociateDRTRoleRequest",
        "variableType" : "DisassociateDRTRoleRequest",
        "documentation" : "",
        "simpleType" : "DisassociateDRTRoleRequest",
        "variableSetterType" : "DisassociateDRTRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDRTRole",
      "operationName" : "DisassociateDRTRole",
      "returnType" : {
        "returnType" : "DisassociateDRTRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDRTRoleResult"
    },
    "GetSubscriptionState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSubscriptionStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSubscriptionStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSubscriptionStateRequest, GetSubscriptionStateResult>",
      "asyncReturnType" : "GetSubscriptionStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the <code>SubscriptionState</code>, either <code>Active</code> or <code>Inactive</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSubscriptionStateRequest",
        "variableName" : "getSubscriptionStateRequest",
        "variableType" : "GetSubscriptionStateRequest",
        "documentation" : "",
        "simpleType" : "GetSubscriptionStateRequest",
        "variableSetterType" : "GetSubscriptionStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSubscriptionState",
      "operationName" : "GetSubscriptionState",
      "returnType" : {
        "returnType" : "GetSubscriptionStateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSubscriptionStateResult"
    },
    "ListAttacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAttacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAttacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAttacksRequest, ListAttacksResult>",
      "asyncReturnType" : "ListAttacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all ongoing DDoS attacks or all DDoS attacks during a specified time period.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAttacksRequest",
        "variableName" : "listAttacksRequest",
        "variableType" : "ListAttacksRequest",
        "documentation" : "",
        "simpleType" : "ListAttacksRequest",
        "variableSetterType" : "ListAttacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAttacks",
      "operationName" : "ListAttacks",
      "returnType" : {
        "returnType" : "ListAttacksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAttacksResult"
    },
    "ListProtections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProtectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProtectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProtectionsRequest, ListProtectionsResult>",
      "asyncReturnType" : "ListProtectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all <a>Protection</a> objects for the account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>Exception that indicates that the NextToken specified in the request is invalid. Submit the request using the NextToken value that was returned in the response.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProtectionsRequest",
        "variableName" : "listProtectionsRequest",
        "variableType" : "ListProtectionsRequest",
        "documentation" : "",
        "simpleType" : "ListProtectionsRequest",
        "variableSetterType" : "ListProtectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProtections",
      "operationName" : "ListProtections",
      "returnType" : {
        "returnType" : "ListProtectionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProtectionsResult"
    },
    "UpdateEmergencyContactSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEmergencyContactSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEmergencyContactSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEmergencyContactSettingsRequest, UpdateEmergencyContactSettingsResult>",
      "asyncReturnType" : "UpdateEmergencyContactSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the details of the list of email addresses that the DRT can use to contact you during a suspected attack.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEmergencyContactSettingsRequest",
        "variableName" : "updateEmergencyContactSettingsRequest",
        "variableType" : "UpdateEmergencyContactSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateEmergencyContactSettingsRequest",
        "variableSetterType" : "UpdateEmergencyContactSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEmergencyContactSettings",
      "operationName" : "UpdateEmergencyContactSettings",
      "returnType" : {
        "returnType" : "UpdateEmergencyContactSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEmergencyContactSettingsResult"
    },
    "UpdateSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSubscriptionRequest, UpdateSubscriptionResult>",
      "asyncReturnType" : "UpdateSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the details of an existing subscription. Only enter values for parameters you want to change. Empty parameters are not updated.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LockedSubscriptionException",
        "documentation" : "<p>You are trying to update a subscription that has not yet completed the 1-year commitment. You can change the <code>AutoRenew</code> parameter during the last 30 days of your subscription. This exception indicates that you are attempting to change <code>AutoRenew</code> prior to that period.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception indicating the specified resource does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Exception that indicates that the parameters passed to the API are invalid. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OptimisticLockException",
        "documentation" : "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSubscriptionRequest",
        "variableName" : "updateSubscriptionRequest",
        "variableType" : "UpdateSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "UpdateSubscriptionRequest",
        "variableSetterType" : "UpdateSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSubscription",
      "operationName" : "UpdateSubscription",
      "returnType" : {
        "returnType" : "UpdateSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSubscriptionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Exception that indicates the specified <code>AttackId</code> does not exist, or the requester does not have the appropriate permissions to access the <code>AttackId</code>.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccessDeniedForDependencyException" : {
      "c2jName" : "AccessDeniedForDependencyException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>In order to grant the necessary access to the DDoS Response Team, the user submitting <code>AssociateDRTRole</code> must have the <code>iam:PassRole</code> permission. This error indicates the user did not have the appropriate permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an AWS Service</a>. </p>",
      "enums" : null,
      "errorCode" : "AccessDeniedForDependencyException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedForDependencyException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedForDependencyException",
        "variableName" : "accessDeniedForDependencyException",
        "variableType" : "AccessDeniedForDependencyException",
        "documentation" : null,
        "simpleType" : "AccessDeniedForDependencyException",
        "variableSetterType" : "AccessDeniedForDependencyException"
      },
      "wrapper" : false
    },
    "AssociateDRTLogBucketRequest" : {
      "c2jName" : "AssociateDRTLogBucketRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateDRTLogBucket",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSShield_20160616.AssociateDRTLogBucket",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "LogBucket",
        "c2jShape" : "LogBucket",
        "deprecated" : false,
        "documentation" : "<p>The Amazon S3 bucket that contains your flow logs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon S3 bucket that contains your flow logs.</p>\n@param logBucket The Amazon S3 bucket that contains your flow logs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogBucket",
        "getterDocumentation" : "/**<p>The Amazon S3 bucket that contains your flow logs.</p>\n@return The Amazon S3 bucket that contains your flow logs.*/",
        "getterMethodName" : "getLogBucket",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LogBucket",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LogBucket",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LogBucket",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon S3 bucket that contains your flow logs.</p>\n@param logBucket The Amazon S3 bucket that contains your flow logs.*/",
        "setterMethodName" : "setLogBucket",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logBucket",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon S3 bucket that contains your flow logs.</p>\n@param logBucket The Amazon S3 bucket that contains your flow logs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logBucket",
          "variableType" : "String",
          "documentation" : "<p>The Amazon S3 bucket that contains your flow logs.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LogBucket" : {
          "c2jName" : "LogBucket",
          "c2jShape" : "LogBucket",
          "deprecated" : false,
          "documentation" : "<p>The Amazon S3 bucket that contains your flow logs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon S3 bucket that contains your flow logs.</p>\n@param logBucket The Amazon S3 bucket that contains your flow logs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLogBucket",
          "getterDocumentation" : "/**<p>The Amazon S3 bucket that contains your flow logs.</p>\n@return The Amazon S3 bucket that contains your flow logs.*/",
          "getterMethodName" : "getLogBucket",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LogBucket",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LogBucket",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LogBucket",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon S3 bucket that contains your flow logs.</p>\n@param logBucket The Amazon S3 bucket that contains your flow logs.*/",
          "setterMethodName" : "setLogBucket",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logBucket",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon S3 bucket that contains your flow logs.</p>\n@param logBucket The Amazon S3 bucket that contains your flow logs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logBucket",
            "variableType" : "String",
            "documentation" : "<p>The Amazon S3 bucket that contains your flow logs.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "LogBucket" ],
      "shapeName" : "AssociateDRTLogBucketRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDRTLogBucketRequest",
        "variableName" : "associateDRTLogBucketRequest",
        "variableType" : "AssociateDRTLogBucketRequest",
        "documentation" : null,
        "simpleType" : "AssociateDRTLogBucketRequest",
        "variableSetterType" : "AssociateDRTLogBucketRequest"
      },
      "wrapper" : false
    },
    "AssociateDRTLogBucketResult" : {
      "c2jName" : "AssociateDRTLogBucketResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateDRTLogBucketResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDRTLogBucketResult",
        "variableName" : "associateDRTLogBucketResult",
        "variableType" : "AssociateDRTLogBucketResult",
        "documentation" : null,
        "simpleType" : "AssociateDRTLogBucketResult",
        "variableSetterType" : "AssociateDRTLogBucketResult"
      },
      "wrapper" : false
    },
    "AssociateDRTRoleRequest" : {
      "c2jName" : "AssociateDRTRoleRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateDRTRole",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSShield_20160616.AssociateDRTRole",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "RoleArn",
        "c2jShape" : "RoleArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>\n@param roleArn The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>\n@return The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.*/",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RoleArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>\n@param roleArn The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.*/",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>\n@param roleArn The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RoleArn" : {
          "c2jName" : "RoleArn",
          "c2jShape" : "RoleArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>\n@param roleArn The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRoleArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>\n@return The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.*/",
          "getterMethodName" : "getRoleArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RoleArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RoleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RoleArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>\n@param roleArn The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.*/",
          "setterMethodName" : "setRoleArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>\n@param roleArn The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "RoleArn" ],
      "shapeName" : "AssociateDRTRoleRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDRTRoleRequest",
        "variableName" : "associateDRTRoleRequest",
        "variableType" : "AssociateDRTRoleRequest",
        "documentation" : null,
        "simpleType" : "AssociateDRTRoleRequest",
        "variableSetterType" : "AssociateDRTRoleRequest"
      },
      "wrapper" : false
    },
    "AssociateDRTRoleResult" : {
      "c2jName" : "AssociateDRTRoleResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateDRTRoleResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDRTRoleResult",
        "variableName" : "associateDRTRoleResult",
        "variableType" : "AssociateDRTRoleResult",
        "documentation" : null,
        "simpleType" : "AssociateDRTRoleResult",
        "variableSetterType" : "AssociateDRTRoleResult"
      },
      "wrapper" : false
    },
    "AttackDetail" : {
      "c2jName" : "AttackDetail",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The details of a DDoS attack.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AttackId",
        "c2jShape" : "AttackId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttackId",
        "getterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@return The unique identifier (ID) of the attack.*/",
        "getterMethodName" : "getAttackId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AttackId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AttackId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AttackId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.*/",
        "setterMethodName" : "setAttackId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attackId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier (ID) of the attack.</p>\n@param attackId The unique identifier (ID) of the attack.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attackId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier (ID) of the attack.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceArn",
        "c2jShape" : "ResourceArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceArn",
        "getterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@return The ARN (Amazon Resource Name) of the resource that was attacked.*/",
        "getterMethodName" : "getResourceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.*/",
        "setterMethodName" : "setResourceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>\n@param resourceArn The ARN (Amazon Resource Name) of the resource that was attacked.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubResources",
        "c2jShape" : "SubResourceSummaryList",
        "deprecated" : false,
        "documentation" : "<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubResources",
        "getterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@return If applicable, additional detail about the resource being attacked, for example, IP address or URL.*/",
        "getterMethodName" : "getSubResources",
        "getterModel" : {
          "returnType" : "java.util.List<SubResourceSummary>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubResources",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubResources",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "SubResourceSummary",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "SubResourceSummary",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "SubResourceSummary",
              "variableName" : "member",
              "variableType" : "SubResourceSummary",
              "documentation" : "",
              "simpleType" : "SubResourceSummary",
              "variableSetterType" : "SubResourceSummary"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "SubResourceSummary",
              "variableName" : "member",
              "variableType" : "SubResourceSummary",
              "documentation" : "",
              "simpleType" : "SubResourceSummary",
              "variableSetterType" : "SubResourceSummary"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "SubResourceSummary",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "SubResourceSummary",
          "templateImplType" : "java.util.ArrayList<SubResourceSummary>",
          "templateType" : "java.util.List<SubResourceSummary>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "SubResources",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.*/",
        "setterMethodName" : "setSubResources",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<SubResourceSummary>",
          "variableName" : "subResources",
          "variableType" : "java.util.List<SubResourceSummary>",
          "documentation" : "",
          "simpleType" : "List<SubResourceSummary>",
          "variableSetterType" : "java.util.Collection<SubResourceSummary>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSubResources(java.util.Collection)} or {@link #withSubResources(java.util.Collection)} if you want to override the existing values.</p>\n@param subResources If applicable, additional detail about the resource being attacked, for example, IP address or URL.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<SubResourceSummary>",
          "variableName" : "subResources",
          "variableType" : "java.util.List<SubResourceSummary>",
          "documentation" : "<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>",
          "simpleType" : "List<SubResourceSummary>",
          "variableSetterType" : "java.util.Collection<SubResourceSummary>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StartTime",
        "c2jShape" : "AttackTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param startTime The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStartTime",
        "getterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@return The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.*/",
        "getterMethodName" : "getStartTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StartTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StartTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "StartTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param startTime The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.*/",
        "setterMethodName" : "setStartTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>\n@param startTime The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
[...]
