{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-08-25",
    "asyncClient" : "AWSsignerAsyncClient",
    "asyncClientBuilderClassName" : "AWSsignerAsyncClientBuilder",
    "asyncInterface" : "AWSsignerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSsignerModuleInjector",
    "defaultEndpoint" : "signer.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "signer.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Signer is a fully managed code signing service to help you ensure the trust and integrity of your code. </p> <p>AWS Signer supports the following applications:</p> <p>With <i>code signing for AWS Lambda</i>, you can sign AWS Lambda deployment packages. Integrated support is provided for Amazon S3, Amazon CloudWatch, and AWS CloudTrail. In order to sign code, you create a signing profile and then use Signer to sign Lambda zip files in S3. </p> <p>With <i>code signing for IoT</i>, you can sign code for any IoT device that is supported by AWS. IoT code signing is available for <a href=\"http://docs.aws.amazon.com/freertos/latest/userguide/\">Amazon FreeRTOS</a> and <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/\">AWS IoT Device Management</a>, and is integrated with <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/\">AWS Certificate Manager (ACM)</a>. In order to sign code, you import a third-party code signing certificate using ACM, and use that to sign updates in Amazon FreeRTOS and AWS IoT Device Management. </p> <p>For more information about AWS Signer, see the <a href=\"http://docs.aws.amazon.com/signer/latest/developerguide/Welcome.html\">AWS Signer Developer Guide</a>.</p> <p/>",
    "endpointPrefix" : "signer",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.signer",
    "packagePath" : "com/amazonaws/services/signer",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "signer",
    "serviceFullName" : "AWS Signer",
    "serviceId" : "signer",
    "serviceName" : "signer",
    "signingName" : "signer",
    "smokeTestsPackageName" : "com.amazonaws.services.signer.smoketests",
    "syncClient" : "AWSsignerClient",
    "syncClientBuilderClassName" : "AWSsignerClientBuilder",
    "syncInterface" : "AWSsigner",
    "uid" : "signer-2017-08-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddProfilePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddProfilePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddProfilePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddProfilePermissionRequest, AddProfilePermissionResult>",
      "asyncReturnType" : "AddProfilePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds cross-account permissions to a signing profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The client is making a request that exceeds service limits.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource encountered a conflicting state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddProfilePermissionRequest",
        "variableName" : "addProfilePermissionRequest",
        "variableType" : "AddProfilePermissionRequest",
        "documentation" : "",
        "simpleType" : "AddProfilePermissionRequest",
        "variableSetterType" : "AddProfilePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addProfilePermission",
      "operationName" : "AddProfilePermission",
      "returnType" : {
        "returnType" : "AddProfilePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "AddProfilePermissionResult"
    },
    "CancelSigningProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelSigningProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelSigningProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelSigningProfileRequest, CancelSigningProfileResult>",
      "asyncReturnType" : "CancelSigningProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes the state of an <code>ACTIVE</code> signing profile to <code>CANCELED</code>. A canceled profile is still viewable with the <code>ListSigningProfiles</code> operation, but it cannot perform new signing jobs, and is deleted two years after cancelation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelSigningProfileRequest",
        "variableName" : "cancelSigningProfileRequest",
        "variableType" : "CancelSigningProfileRequest",
        "documentation" : "",
        "simpleType" : "CancelSigningProfileRequest",
        "variableSetterType" : "CancelSigningProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelSigningProfile",
      "operationName" : "CancelSigningProfile",
      "returnType" : {
        "returnType" : "CancelSigningProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelSigningProfileResult"
    },
    "DescribeSigningJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSigningJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSigningJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSigningJobRequest, DescribeSigningJobResult>",
      "asyncReturnType" : "DescribeSigningJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific code signing job. You specify the job by using the <code>jobId</code> value that is returned by the <a>StartSigningJob</a> operation. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSigningJobRequest",
        "variableName" : "describeSigningJobRequest",
        "variableType" : "DescribeSigningJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeSigningJobRequest",
        "variableSetterType" : "DescribeSigningJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSigningJob",
      "operationName" : "DescribeSigningJob",
      "returnType" : {
        "returnType" : "DescribeSigningJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSigningJobResult"
    },
    "GetSigningPlatform" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSigningPlatformResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSigningPlatformResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSigningPlatformRequest, GetSigningPlatformResult>",
      "asyncReturnType" : "GetSigningPlatformResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information on a specific signing platform.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSigningPlatformRequest",
        "variableName" : "getSigningPlatformRequest",
        "variableType" : "GetSigningPlatformRequest",
        "documentation" : "",
        "simpleType" : "GetSigningPlatformRequest",
        "variableSetterType" : "GetSigningPlatformRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSigningPlatform",
      "operationName" : "GetSigningPlatform",
      "returnType" : {
        "returnType" : "GetSigningPlatformResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSigningPlatformResult"
    },
    "GetSigningProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSigningProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSigningProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSigningProfileRequest, GetSigningProfileResult>",
      "asyncReturnType" : "GetSigningProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information on a specific signing profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSigningProfileRequest",
        "variableName" : "getSigningProfileRequest",
        "variableType" : "GetSigningProfileRequest",
        "documentation" : "",
        "simpleType" : "GetSigningProfileRequest",
        "variableSetterType" : "GetSigningProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSigningProfile",
      "operationName" : "GetSigningProfile",
      "returnType" : {
        "returnType" : "GetSigningProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSigningProfileResult"
    },
    "ListProfilePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfilePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfilePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfilePermissionsRequest, ListProfilePermissionsResult>",
      "asyncReturnType" : "ListProfilePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the cross-account permissions associated with a signing profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfilePermissionsRequest",
        "variableName" : "listProfilePermissionsRequest",
        "variableType" : "ListProfilePermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListProfilePermissionsRequest",
        "variableSetterType" : "ListProfilePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfilePermissions",
      "operationName" : "ListProfilePermissions",
      "returnType" : {
        "returnType" : "ListProfilePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProfilePermissionsResult"
    },
    "ListSigningJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSigningJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSigningJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSigningJobsRequest, ListSigningJobsResult>",
      "asyncReturnType" : "ListSigningJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all your signing jobs. You can use the <code>maxResults</code> parameter to limit the number of signing jobs that are returned in the response. If additional jobs remain to be listed, code signing returns a <code>nextToken</code> value. Use this value in subsequent calls to <code>ListSigningJobs</code> to fetch the remaining values. You can continue calling <code>ListSigningJobs</code> with your <code>maxResults</code> parameter and with new values that code signing returns in the <code>nextToken</code> parameter until all of your signing jobs have been returned. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSigningJobsRequest",
        "variableName" : "listSigningJobsRequest",
        "variableType" : "ListSigningJobsRequest",
        "documentation" : "",
        "simpleType" : "ListSigningJobsRequest",
        "variableSetterType" : "ListSigningJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSigningJobs",
      "operationName" : "ListSigningJobs",
      "returnType" : {
        "returnType" : "ListSigningJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSigningJobsResult"
    },
    "ListSigningPlatforms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSigningPlatformsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSigningPlatformsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSigningPlatformsRequest, ListSigningPlatformsResult>",
      "asyncReturnType" : "ListSigningPlatformsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all signing platforms available in code signing that match the request parameters. If additional jobs remain to be listed, code signing returns a <code>nextToken</code> value. Use this value in subsequent calls to <code>ListSigningJobs</code> to fetch the remaining values. You can continue calling <code>ListSigningJobs</code> with your <code>maxResults</code> parameter and with new values that code signing returns in the <code>nextToken</code> parameter until all of your signing jobs have been returned.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSigningPlatformsRequest",
        "variableName" : "listSigningPlatformsRequest",
        "variableType" : "ListSigningPlatformsRequest",
        "documentation" : "",
        "simpleType" : "ListSigningPlatformsRequest",
        "variableSetterType" : "ListSigningPlatformsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSigningPlatforms",
      "operationName" : "ListSigningPlatforms",
      "returnType" : {
        "returnType" : "ListSigningPlatformsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSigningPlatformsResult"
    },
    "ListSigningProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSigningProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSigningProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSigningProfilesRequest, ListSigningProfilesResult>",
      "asyncReturnType" : "ListSigningProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all available signing profiles in your AWS account. Returns only profiles with an <code>ACTIVE</code> status unless the <code>includeCanceled</code> request field is set to <code>true</code>. If additional jobs remain to be listed, code signing returns a <code>nextToken</code> value. Use this value in subsequent calls to <code>ListSigningJobs</code> to fetch the remaining values. You can continue calling <code>ListSigningJobs</code> with your <code>maxResults</code> parameter and with new values that code signing returns in the <code>nextToken</code> parameter until all of your signing jobs have been returned.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSigningProfilesRequest",
        "variableName" : "listSigningProfilesRequest",
        "variableType" : "ListSigningProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListSigningProfilesRequest",
        "variableSetterType" : "ListSigningProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSigningProfiles",
      "operationName" : "ListSigningProfiles",
      "returnType" : {
        "returnType" : "ListSigningProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSigningProfilesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the tags associated with a signing profile resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request contains invalid parameters for the ARN or tags. This exception also occurs when you call a tagging API on a cancelled signing profile.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The signing profile was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutSigningProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutSigningProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutSigningProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutSigningProfileRequest, PutSigningProfileResult>",
      "asyncReturnType" : "PutSigningProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a signing profile. A signing profile is a code signing template that can be used to carry out a pre-defined signing job. For more information, see <a href=\"http://docs.aws.amazon.com/signer/latest/developerguide/gs-profile.html\">http://docs.aws.amazon.com/signer/latest/developerguide/gs-profile.html</a> </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutSigningProfileRequest",
        "variableName" : "putSigningProfileRequest",
        "variableType" : "PutSigningProfileRequest",
        "documentation" : "",
        "simpleType" : "PutSigningProfileRequest",
        "variableSetterType" : "PutSigningProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putSigningProfile",
      "operationName" : "PutSigningProfile",
      "returnType" : {
        "returnType" : "PutSigningProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "PutSigningProfileResult"
    },
    "RemoveProfilePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveProfilePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveProfilePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveProfilePermissionRequest, RemoveProfilePermissionResult>",
      "asyncReturnType" : "RemoveProfilePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes cross-account permissions from a signing profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource encountered a conflicting state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveProfilePermissionRequest",
        "variableName" : "removeProfilePermissionRequest",
        "variableType" : "RemoveProfilePermissionRequest",
        "documentation" : "",
        "simpleType" : "RemoveProfilePermissionRequest",
        "variableSetterType" : "RemoveProfilePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeProfilePermission",
      "operationName" : "RemoveProfilePermission",
      "returnType" : {
        "returnType" : "RemoveProfilePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveProfilePermissionResult"
    },
    "RevokeSignature" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokeSignatureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokeSignatureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeSignatureRequest, RevokeSignatureResult>",
      "asyncReturnType" : "RevokeSignatureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes the state of a signing job to REVOKED. This indicates that the signature is no longer valid.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokeSignatureRequest",
        "variableName" : "revokeSignatureRequest",
        "variableType" : "RevokeSignatureRequest",
        "documentation" : "",
        "simpleType" : "RevokeSignatureRequest",
        "variableSetterType" : "RevokeSignatureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokeSignature",
      "operationName" : "RevokeSignature",
      "returnType" : {
        "returnType" : "RevokeSignatureResult",
        "documentation" : null
      },
      "syncReturnType" : "RevokeSignatureResult"
    },
    "RevokeSigningProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokeSigningProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokeSigningProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeSigningProfileRequest, RevokeSigningProfileResult>",
      "asyncReturnType" : "RevokeSigningProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes the state of a signing profile to REVOKED. This indicates that signatures generated using the signing profile after an effective start date are no longer valid.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokeSigningProfileRequest",
        "variableName" : "revokeSigningProfileRequest",
        "variableType" : "RevokeSigningProfileRequest",
        "documentation" : "",
        "simpleType" : "RevokeSigningProfileRequest",
        "variableSetterType" : "RevokeSigningProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokeSigningProfile",
      "operationName" : "RevokeSigningProfile",
      "returnType" : {
        "returnType" : "RevokeSigningProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "RevokeSigningProfileResult"
    },
    "StartSigningJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartSigningJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartSigningJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartSigningJobRequest, StartSigningJobResult>",
      "asyncReturnType" : "StartSigningJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a signing job to be performed on the code provided. Signing jobs are viewable by the <code>ListSigningJobs</code> operation for two years after they are performed. Note the following requirements: </p> <ul> <li> <p> You must create an Amazon S3 source bucket. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/gsg/CreatingABucket.html\">Create a Bucket</a> in the <i>Amazon S3 Getting Started Guide</i>. </p> </li> <li> <p>Your S3 source bucket must be version enabled.</p> </li> <li> <p>You must create an S3 destination bucket. Code signing uses your S3 destination bucket to write your signed code.</p> </li> <li> <p>You specify the name of the source and destination buckets when calling the <code>StartSigningJob</code> operation.</p> </li> <li> <p>You must also specify a request token that identifies your request to code signing.</p> </li> </ul> <p>You can call the <a>DescribeSigningJob</a> and the <a>ListSigningJobs</a> actions after you call <code>StartSigningJob</code>.</p> <p>For a Java example that shows how to use this action, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/\">http://docs.aws.amazon.com/acm/latest/userguide/</a> </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p> <p>Instead of this error, <code>TooManyRequestsException</code> should be used.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartSigningJobRequest",
        "variableName" : "startSigningJobRequest",
        "variableType" : "StartSigningJobRequest",
        "documentation" : "",
        "simpleType" : "StartSigningJobRequest",
        "variableSetterType" : "StartSigningJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startSigningJob",
      "operationName" : "StartSigningJob",
      "returnType" : {
        "returnType" : "StartSigningJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartSigningJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to a signing profile. Tags are labels that you can use to identify and organize your AWS resources. Each tag consists of a key and an optional value. To specify the signing profile, use its Amazon Resource Name (ARN). To specify the tag, use a key-value pair.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request contains invalid parameters for the ARN or tags. This exception also occurs when you call a tagging API on a cancelled signing profile.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The signing profile was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from a signing profile. To remove the tags, specify a list of tag keys.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request contains invalid parameters for the ARN or tags. This exception also occurs when you call a tagging API on a cancelled signing profile.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The signing profile was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The allowed number of job-signing requests has been exceeded.</p> <p>This error supersedes the error <code>ThrottlingException</code>.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.signer.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "code",
        "c2jShape" : "ErrorCode",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param code */",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "code",
          "c2jShape" : "ErrorCode",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param code */",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.signer.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AddProfilePermissionRequest" : {
      "c2jName" : "AddProfilePermissionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.signer.request.AddProfilePermissionRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddProfilePermission",
        "locationName" : null,
        "requestUri" : "/signing-profiles/{profileName}/permissions",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "profileName",
        "c2jShape" : "ProfileName",
        "deprecated" : false,
        "documentation" : "<p>The human-readable name of the signing profile.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The human-readable name of the signing profile.</p>\n@param profileName The human-readable name of the signing profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfileName",
        "getterDocumentation" : "/**<p>The human-readable name of the signing profile.</p>\n@return The human-readable name of the signing profile.*/",
        "getterMethodName" : "getProfileName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "profileName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profileName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfileName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The human-readable name of the signing profile.</p>\n@param profileName The human-readable name of the signing profile.*/",
        "setterMethodName" : "setProfileName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profileName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The human-readable name of the signing profile.</p>\n@param profileName The human-readable name of the signing profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profileName",
          "variableType" : "String",
          "documentation" : "<p>The human-readable name of the signing profile.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "profileVersion",
        "c2jShape" : "ProfileVersion",
        "deprecated" : false,
        "documentation" : "<p>The version of the signing profile.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The version of the signing profile.</p>\n@param profileVersion The version of the signing profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfileVersion",
        "getterDocumentation" : "/**<p>The version of the signing profile.</p>\n@return The version of the signing profile.*/",
        "getterMethodName" : "getProfileVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "profileVersion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profileVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfileVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The version of the signing profile.</p>\n@param profileVersion The version of the signing profile.*/",
        "setterMethodName" : "setProfileVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profileVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The version of the signing profile.</p>\n@param profileVersion The version of the signing profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profileVersion",
          "variableType" : "String",
          "documentation" : "<p>The version of the signing profile.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "action",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The AWS Signer action permitted as part of cross-account permissions.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS Signer action permitted as part of cross-account permissions.</p>\n@param action The AWS Signer action permitted as part of cross-account permissions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAction",
        "getterDocumentation" : "/**<p>The AWS Signer action permitted as part of cross-account permissions.</p>\n@return The AWS Signer action permitted as part of cross-account permissions.*/",
        "getterMethodName" : "getAction",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "action",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "action",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Action",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS Signer action permitted as part of cross-account permissions.</p>\n@param action The AWS Signer action permitted as part of cross-account permissions.*/",
        "setterMethodName" : "setAction",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "action",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS Signer action permitted as part of cross-account permissions.</p>\n@param action The AWS Signer action permitted as part of cross-account permissions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "action",
          "variableType" : "String",
          "documentation" : "<p>The AWS Signer action permitted as part of cross-account permissions.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "principal",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>\n@param principal The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPrincipal",
        "getterDocumentation" : "/**<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>\n@return The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.*/",
        "getterMethodName" : "getPrincipal",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "principal",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "principal",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Principal",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>\n@param principal The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.*/",
        "setterMethodName" : "setPrincipal",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "principal",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>\n@param principal The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "principal",
          "variableType" : "String",
          "documentation" : "<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "revisionId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A unique identifier for the current profile revision.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@param revisionId A unique identifier for the current profile revision.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRevisionId",
        "getterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@return A unique identifier for the current profile revision.*/",
        "getterMethodName" : "getRevisionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "revisionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "revisionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RevisionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@param revisionId A unique identifier for the current profile revision.*/",
        "setterMethodName" : "setRevisionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "revisionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@param revisionId A unique identifier for the current profile revision.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "revisionId",
          "variableType" : "String",
          "documentation" : "<p>A unique identifier for the current profile revision.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "statementId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A unique identifier for the cross-account permission statement.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique identifier for the cross-account permission statement.</p>\n@param statementId A unique identifier for the cross-account permission statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatementId",
        "getterDocumentation" : "/**<p>A unique identifier for the cross-account permission statement.</p>\n@return A unique identifier for the cross-account permission statement.*/",
        "getterMethodName" : "getStatementId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "statementId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "statementId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StatementId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique identifier for the cross-account permission statement.</p>\n@param statementId A unique identifier for the cross-account permission statement.*/",
        "setterMethodName" : "setStatementId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statementId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique identifier for the cross-account permission statement.</p>\n@param statementId A unique identifier for the cross-account permission statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statementId",
          "variableType" : "String",
          "documentation" : "<p>A unique identifier for the cross-account permission statement.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Action" : {
          "c2jName" : "action",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The AWS Signer action permitted as part of cross-account permissions.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS Signer action permitted as part of cross-account permissions.</p>\n@param action The AWS Signer action permitted as part of cross-account permissions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAction",
          "getterDocumentation" : "/**<p>The AWS Signer action permitted as part of cross-account permissions.</p>\n@return The AWS Signer action permitted as part of cross-account permissions.*/",
          "getterMethodName" : "getAction",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "action",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "action",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Action",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS Signer action permitted as part of cross-account permissions.</p>\n@param action The AWS Signer action permitted as part of cross-account permissions.*/",
          "setterMethodName" : "setAction",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "action",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS Signer action permitted as part of cross-account permissions.</p>\n@param action The AWS Signer action permitted as part of cross-account permissions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "action",
            "variableType" : "String",
            "documentation" : "<p>The AWS Signer action permitted as part of cross-account permissions.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Principal" : {
          "c2jName" : "principal",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>\n@param principal The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPrincipal",
          "getterDocumentation" : "/**<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>\n@return The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.*/",
          "getterMethodName" : "getPrincipal",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "principal",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "principal",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Principal",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>\n@param principal The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.*/",
          "setterMethodName" : "setPrincipal",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "principal",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>\n@param principal The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "principal",
            "variableType" : "String",
            "documentation" : "<p>The AWS principal receiving cross-account permissions. This may be an IAM role or another AWS account ID.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProfileName" : {
          "c2jName" : "profileName",
          "c2jShape" : "ProfileName",
          "deprecated" : false,
          "documentation" : "<p>The human-readable name of the signing profile.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The human-readable name of the signing profile.</p>\n@param profileName The human-readable name of the signing profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfileName",
          "getterDocumentation" : "/**<p>The human-readable name of the signing profile.</p>\n@return The human-readable name of the signing profile.*/",
          "getterMethodName" : "getProfileName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "profileName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "profileName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProfileName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The human-readable name of the signing profile.</p>\n@param profileName The human-readable name of the signing profile.*/",
          "setterMethodName" : "setProfileName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profileName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The human-readable name of the signing profile.</p>\n@param profileName The human-readable name of the signing profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profileName",
            "variableType" : "String",
            "documentation" : "<p>The human-readable name of the signing profile.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProfileVersion" : {
          "c2jName" : "profileVersion",
          "c2jShape" : "ProfileVersion",
          "deprecated" : false,
          "documentation" : "<p>The version of the signing profile.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The version of the signing profile.</p>\n@param profileVersion The version of the signing profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfileVersion",
          "getterDocumentation" : "/**<p>The version of the signing profile.</p>\n@return The version of the signing profile.*/",
          "getterMethodName" : "getProfileVersion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "profileVersion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "profileVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProfileVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The version of the signing profile.</p>\n@param profileVersion The version of the signing profile.*/",
          "setterMethodName" : "setProfileVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profileVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The version of the signing profile.</p>\n@param profileVersion The version of the signing profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profileVersion",
            "variableType" : "String",
            "documentation" : "<p>The version of the signing profile.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RevisionId" : {
          "c2jName" : "revisionId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A unique identifier for the current profile revision.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@param revisionId A unique identifier for the current profile revision.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRevisionId",
          "getterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@return A unique identifier for the current profile revision.*/",
          "getterMethodName" : "getRevisionId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "revisionId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "revisionId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RevisionId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@param revisionId A unique identifier for the current profile revision.*/",
          "setterMethodName" : "setRevisionId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "revisionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@param revisionId A unique identifier for the current profile revision.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "revisionId",
            "variableType" : "String",
            "documentation" : "<p>A unique identifier for the current profile revision.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StatementId" : {
          "c2jName" : "statementId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A unique identifier for the cross-account permission statement.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A unique identifier for the cross-account permission statement.</p>\n@param statementId A unique identifier for the cross-account permission statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatementId",
          "getterDocumentation" : "/**<p>A unique identifier for the cross-account permission statement.</p>\n@return A unique identifier for the cross-account permission statement.*/",
          "getterMethodName" : "getStatementId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "statementId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "statementId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StatementId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A unique identifier for the cross-account permission statement.</p>\n@param statementId A unique identifier for the cross-account permission statement.*/",
          "setterMethodName" : "setStatementId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "statementId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A unique identifier for the cross-account permission statement.</p>\n@param statementId A unique identifier for the cross-account permission statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "statementId",
            "variableType" : "String",
            "documentation" : "<p>A unique identifier for the cross-account permission statement.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.signer.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "action", "principal", "statementId", "profileName" ],
      "shapeName" : "AddProfilePermissionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddProfilePermissionRequest",
        "variableName" : "addProfilePermissionRequest",
        "variableType" : "AddProfilePermissionRequest",
        "documentation" : null,
        "simpleType" : "AddProfilePermissionRequest",
        "variableSetterType" : "AddProfilePermissionRequest"
      },
      "wrapper" : false
    },
    "AddProfilePermissionResult" : {
      "c2jName" : "AddProfilePermissionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.signer.response.AddProfilePermissionResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "revisionId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A unique identifier for the current profile revision.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@param revisionId A unique identifier for the current profile revision.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRevisionId",
        "getterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@return A unique identifier for the current profile revision.*/",
        "getterMethodName" : "getRevisionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "revisionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "revisionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RevisionId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique identifier for the current profile revision.</p>\n@param revisionId A unique identifier for the current profile revision.*/",
        "setterMethodName" : "setRevisionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "revisionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
