{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-08-25",
    "asyncClient" : "AWSsignerAsyncClient",
    "asyncClientBuilderClassName" : "AWSsignerAsyncClientBuilder",
    "asyncInterface" : "AWSsignerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSsignerModuleInjector",
    "defaultEndpoint" : "signer.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "signer.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You can use Code Signing for Amazon FreeRTOS (AWS Signer) to sign code that you created for any of the IoT devices that Amazon Web Services supports. AWS Signer is integrated with Amazon FreeRTOS, AWS Certificate Manager, and AWS CloudTrail. Amazon FreeRTOS customers can use AWS Signer to sign code images before making them available for microcontrollers. You can use ACM to import third-party certificates to be used by AWS Signer. For general information about using AWS Signer, see the <a href=\"http://docs.aws.amazon.com/signer/latest/developerguide/Welcome.html\">Code Signing for Amazon FreeRTOS Developer Guide</a>.</p>",
    "endpointPrefix" : "signer",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.signer",
    "packagePath" : "com/amazonaws/services/signer",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "signer",
    "serviceFullName" : "AWS Signer",
    "serviceId" : "signer",
    "serviceName" : "signer",
    "signingName" : "signer",
    "smokeTestsPackageName" : "com.amazonaws.services.signer.smoketests",
    "syncClient" : "AWSsignerClient",
    "syncClientBuilderClassName" : "AWSsignerClientBuilder",
    "syncInterface" : "AWSsigner",
    "uid" : "signer-2017-08-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelSigningProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelSigningProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelSigningProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelSigningProfileRequest, CancelSigningProfileResult>",
      "asyncReturnType" : "CancelSigningProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes the state of an <code>ACTIVE</code> signing profile to <code>CANCELED</code>. A canceled profile is still viewable with the <code>ListSigningProfiles</code> operation, but it cannot perform new signing jobs, and is deleted two years after cancelation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The signing job has been throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelSigningProfileRequest",
        "variableName" : "cancelSigningProfileRequest",
        "variableType" : "CancelSigningProfileRequest",
        "documentation" : "",
        "simpleType" : "CancelSigningProfileRequest",
        "variableSetterType" : "CancelSigningProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelSigningProfile",
      "operationName" : "CancelSigningProfile",
      "returnType" : {
        "returnType" : "CancelSigningProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelSigningProfileResult"
    },
    "DescribeSigningJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSigningJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSigningJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSigningJobRequest, DescribeSigningJobResult>",
      "asyncReturnType" : "DescribeSigningJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific code signing job. You specify the job by using the <code>jobId</code> value that is returned by the <a>StartSigningJob</a> operation. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSigningJobRequest",
        "variableName" : "describeSigningJobRequest",
        "variableType" : "DescribeSigningJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeSigningJobRequest",
        "variableSetterType" : "DescribeSigningJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSigningJob",
      "operationName" : "DescribeSigningJob",
      "returnType" : {
        "returnType" : "DescribeSigningJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSigningJobResult"
    },
    "GetSigningPlatform" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSigningPlatformResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSigningPlatformResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSigningPlatformRequest, GetSigningPlatformResult>",
      "asyncReturnType" : "GetSigningPlatformResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information on a specific signing platform.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSigningPlatformRequest",
        "variableName" : "getSigningPlatformRequest",
        "variableType" : "GetSigningPlatformRequest",
        "documentation" : "",
        "simpleType" : "GetSigningPlatformRequest",
        "variableSetterType" : "GetSigningPlatformRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSigningPlatform",
      "operationName" : "GetSigningPlatform",
      "returnType" : {
        "returnType" : "GetSigningPlatformResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSigningPlatformResult"
    },
    "GetSigningProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSigningProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSigningProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSigningProfileRequest, GetSigningProfileResult>",
      "asyncReturnType" : "GetSigningProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information on a specific signing profile.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The signing job has been throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSigningProfileRequest",
        "variableName" : "getSigningProfileRequest",
        "variableType" : "GetSigningProfileRequest",
        "documentation" : "",
        "simpleType" : "GetSigningProfileRequest",
        "variableSetterType" : "GetSigningProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSigningProfile",
      "operationName" : "GetSigningProfile",
      "returnType" : {
        "returnType" : "GetSigningProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSigningProfileResult"
    },
    "ListSigningJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSigningJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSigningJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSigningJobsRequest, ListSigningJobsResult>",
      "asyncReturnType" : "ListSigningJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all your signing jobs. You can use the <code>maxResults</code> parameter to limit the number of signing jobs that are returned in the response. If additional jobs remain to be listed, AWS Signer returns a <code>nextToken</code> value. Use this value in subsequent calls to <code>ListSigningJobs</code> to fetch the remaining values. You can continue calling <code>ListSigningJobs</code> with your <code>maxResults</code> parameter and with new values that AWS Signer returns in the <code>nextToken</code> parameter until all of your signing jobs have been returned. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The signing job has been throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSigningJobsRequest",
        "variableName" : "listSigningJobsRequest",
        "variableType" : "ListSigningJobsRequest",
        "documentation" : "",
        "simpleType" : "ListSigningJobsRequest",
        "variableSetterType" : "ListSigningJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSigningJobs",
      "operationName" : "ListSigningJobs",
      "returnType" : {
        "returnType" : "ListSigningJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSigningJobsResult"
    },
    "ListSigningPlatforms" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSigningPlatformsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSigningPlatformsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSigningPlatformsRequest, ListSigningPlatformsResult>",
      "asyncReturnType" : "ListSigningPlatformsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all signing platforms available in AWS Signer that match the request parameters. If additional jobs remain to be listed, AWS Signer returns a <code>nextToken</code> value. Use this value in subsequent calls to <code>ListSigningJobs</code> to fetch the remaining values. You can continue calling <code>ListSigningJobs</code> with your <code>maxResults</code> parameter and with new values that AWS Signer returns in the <code>nextToken</code> parameter until all of your signing jobs have been returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The signing job has been throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSigningPlatformsRequest",
        "variableName" : "listSigningPlatformsRequest",
        "variableType" : "ListSigningPlatformsRequest",
        "documentation" : "",
        "simpleType" : "ListSigningPlatformsRequest",
        "variableSetterType" : "ListSigningPlatformsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSigningPlatforms",
      "operationName" : "ListSigningPlatforms",
      "returnType" : {
        "returnType" : "ListSigningPlatformsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSigningPlatformsResult"
    },
    "ListSigningProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSigningProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSigningProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSigningProfilesRequest, ListSigningProfilesResult>",
      "asyncReturnType" : "ListSigningProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all available signing profiles in your AWS account. Returns only profiles with an <code>ACTIVE</code> status unless the <code>includeCanceled</code> request field is set to <code>true</code>. If additional jobs remain to be listed, AWS Signer returns a <code>nextToken</code> value. Use this value in subsequent calls to <code>ListSigningJobs</code> to fetch the remaining values. You can continue calling <code>ListSigningJobs</code> with your <code>maxResults</code> parameter and with new values that AWS Signer returns in the <code>nextToken</code> parameter until all of your signing jobs have been returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The signing job has been throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSigningProfilesRequest",
        "variableName" : "listSigningProfilesRequest",
        "variableType" : "ListSigningProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListSigningProfilesRequest",
        "variableSetterType" : "ListSigningProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSigningProfiles",
      "operationName" : "ListSigningProfiles",
      "returnType" : {
        "returnType" : "ListSigningProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSigningProfilesResult"
    },
    "PutSigningProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutSigningProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutSigningProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutSigningProfileRequest, PutSigningProfileResult>",
      "asyncReturnType" : "PutSigningProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a signing profile. A signing profile is an AWS Signer template that can be used to carry out a pre-defined signing job. For more information, see <a href=\"http://docs.aws.amazon.com/signer/latest/developerguide/gs-profile.html\">http://docs.aws.amazon.com/signer/latest/developerguide/gs-profile.html</a> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The signing job has been throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutSigningProfileRequest",
        "variableName" : "putSigningProfileRequest",
        "variableType" : "PutSigningProfileRequest",
        "documentation" : "",
        "simpleType" : "PutSigningProfileRequest",
        "variableSetterType" : "PutSigningProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putSigningProfile",
      "operationName" : "PutSigningProfile",
      "returnType" : {
        "returnType" : "PutSigningProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "PutSigningProfileResult"
    },
    "StartSigningJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartSigningJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartSigningJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartSigningJobRequest, StartSigningJobResult>",
      "asyncReturnType" : "StartSigningJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a signing job to be performed on the code provided. Signing jobs are viewable by the <code>ListSigningJobs</code> operation for two years after they are performed. Note the following requirements: </p> <ul> <li> <p> You must create an Amazon S3 source bucket. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/gsg/CreatingABucket.html\">Create a Bucket</a> in the <i>Amazon S3 Getting Started Guide</i>. </p> </li> <li> <p>Your S3 source bucket must be version enabled.</p> </li> <li> <p>You must create an S3 destination bucket. AWS Signer uses your S3 destination bucket to write your signed code.</p> </li> <li> <p>You specify the name of the source and destination buckets when calling the <code>StartSigningJob</code> operation.</p> </li> <li> <p>You must also specify a request token that identifies your request to AWS Signer. </p> </li> </ul> <p>You can call the <a>DescribeSigningJob</a> and the <a>ListSigningJobs</a> actions after you call <code>StartSigningJob</code>.</p> <p>For a Java example that shows how to use this action, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/\">http://docs.aws.amazon.com/acm/latest/userguide/</a> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>You signing certificate could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The signing job has been throttled.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartSigningJobRequest",
        "variableName" : "startSigningJobRequest",
        "variableType" : "StartSigningJobRequest",
        "documentation" : "",
        "simpleType" : "StartSigningJobRequest",
        "variableSetterType" : "StartSigningJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startSigningJob",
      "operationName" : "StartSigningJob",
      "returnType" : {
        "returnType" : "StartSigningJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartSigningJobResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CancelSigningProfileRequest" : {
      "c2jName" : "CancelSigningProfileRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelSigningProfile",
        "locationName" : null,
        "requestUri" : "/signing-profiles/{profileName}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "profileName",
        "c2jShape" : "ProfileName",
        "deprecated" : false,
        "documentation" : "<p>The name of the signing profile to be canceled.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the signing profile to be canceled.</p>\n@param profileName The name of the signing profile to be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfileName",
        "getterDocumentation" : "/**<p>The name of the signing profile to be canceled.</p>\n@return The name of the signing profile to be canceled.*/",
        "getterMethodName" : "getProfileName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "profileName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profileName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfileName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the signing profile to be canceled.</p>\n@param profileName The name of the signing profile to be canceled.*/",
        "setterMethodName" : "setProfileName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profileName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the signing profile to be canceled.</p>\n@param profileName The name of the signing profile to be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profileName",
          "variableType" : "String",
          "documentation" : "<p>The name of the signing profile to be canceled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ProfileName" : {
          "c2jName" : "profileName",
          "c2jShape" : "ProfileName",
          "deprecated" : false,
          "documentation" : "<p>The name of the signing profile to be canceled.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the signing profile to be canceled.</p>\n@param profileName The name of the signing profile to be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfileName",
          "getterDocumentation" : "/**<p>The name of the signing profile to be canceled.</p>\n@return The name of the signing profile to be canceled.*/",
          "getterMethodName" : "getProfileName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "profileName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "profileName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProfileName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the signing profile to be canceled.</p>\n@param profileName The name of the signing profile to be canceled.*/",
          "setterMethodName" : "setProfileName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profileName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the signing profile to be canceled.</p>\n@param profileName The name of the signing profile to be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profileName",
            "variableType" : "String",
            "documentation" : "<p>The name of the signing profile to be canceled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "profileName" ],
      "shapeName" : "CancelSigningProfileRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelSigningProfileRequest",
        "variableName" : "cancelSigningProfileRequest",
        "variableType" : "CancelSigningProfileRequest",
        "documentation" : null,
        "simpleType" : "CancelSigningProfileRequest",
        "variableSetterType" : "CancelSigningProfileRequest"
      },
      "wrapper" : false
    },
    "CancelSigningProfileResult" : {
      "c2jName" : "CancelSigningProfileResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CancelSigningProfileResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelSigningProfileResult",
        "variableName" : "cancelSigningProfileResult",
        "variableType" : "CancelSigningProfileResult",
        "documentation" : null,
        "simpleType" : "CancelSigningProfileResult",
        "variableSetterType" : "CancelSigningProfileResult"
      },
      "wrapper" : false
    },
    "Category" : {
      "c2jName" : "Category",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "AWSIoT",
        "value" : "AWSIoT"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Category",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Category",
        "variableName" : "category",
        "variableType" : "Category",
        "documentation" : null,
        "simpleType" : "Category",
        "variableSetterType" : "Category"
      },
      "wrapper" : false
    },
    "DescribeSigningJobRequest" : {
      "c2jName" : "DescribeSigningJobRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeSigningJob",
        "locationName" : null,
        "requestUri" : "/signing-jobs/{jobId}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "jobId",
        "c2jShape" : "JobId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the signing job on input.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the signing job on input.</p>\n@param jobId The ID of the signing job on input.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobId",
        "getterDocumentation" : "/**<p>The ID of the signing job on input.</p>\n@return The ID of the signing job on input.*/",
        "getterMethodName" : "getJobId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "jobId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the signing job on input.</p>\n@param jobId The ID of the signing job on input.*/",
        "setterMethodName" : "setJobId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the signing job on input.</p>\n@param jobId The ID of the signing job on input.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the signing job on input.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "JobId" : {
          "c2jName" : "jobId",
          "c2jShape" : "JobId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the signing job on input.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the signing job on input.</p>\n@param jobId The ID of the signing job on input.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJobId",
          "getterDocumentation" : "/**<p>The ID of the signing job on input.</p>\n@return The ID of the signing job on input.*/",
          "getterMethodName" : "getJobId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "jobId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "JobId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the signing job on input.</p>\n@param jobId The ID of the signing job on input.*/",
          "setterMethodName" : "setJobId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the signing job on input.</p>\n@param jobId The ID of the signing job on input.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the signing job on input.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "jobId" ],
      "shapeName" : "DescribeSigningJobRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSigningJobRequest",
        "variableName" : "describeSigningJobRequest",
        "variableType" : "DescribeSigningJobRequest",
        "documentation" : null,
        "simpleType" : "DescribeSigningJobRequest",
        "variableSetterType" : "DescribeSigningJobRequest"
      },
      "wrapper" : false
    },
    "DescribeSigningJobResult" : {
      "c2jName" : "DescribeSigningJobResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "jobId",
        "c2jShape" : "JobId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the signing job on output.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the signing job on output.</p>\n@param jobId The ID of the signing job on output.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobId",
        "getterDocumentation" : "/**<p>The ID of the signing job on output.</p>\n@return The ID of the signing job on output.*/",
        "getterMethodName" : "getJobId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "jobId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the signing job on output.</p>\n@param jobId The ID of the signing job on output.*/",
        "setterMethodName" : "setJobId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the signing job on output.</p>\n@param jobId The ID of the signing job on output.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the signing job on output.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "source",
        "c2jShape" : "Source",
        "deprecated" : false,
        "documentation" : "<p>The object that contains the name of your S3 bucket or your raw code.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The object that contains the name of your S3 bucket or your raw code.</p>\n@param source The object that contains the name of your S3 bucket or your raw code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSource",
        "getterDocumentation" : "/**<p>The object that contains the name of your S3 bucket or your raw code.</p>\n@return The object that contains the name of your S3 bucket or your raw code.*/",
        "getterMethodName" : "getSource",
        "getterModel" : {
          "returnType" : "Source",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "source",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "source",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Source",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The object that contains the name of your S3 bucket or your raw code.</p>\n@param source The object that contains the name of your S3 bucket or your raw code.*/",
        "setterMethodName" : "setSource",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Source",
          "variableName" : "source",
          "variableType" : "Source",
          "documentation" : "",
          "simpleType" : "Source",
          "variableSetterType" : "Source"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The object that contains the name of your S3 bucket or your raw code.</p>\n@param source The object that contains the name of your S3 bucket or your raw code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Source",
          "variableName" : "source",
          "variableType" : "Source",
          "documentation" : "<p>The object that contains the name of your S3 bucket or your raw code.</p>",
          "simpleType" : "Source",
          "variableSetterType" : "Source"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "signingMaterial",
        "c2jShape" : "SigningMaterial",
        "deprecated" : false,
        "documentation" : "<p>Amazon Resource Name (ARN) of your code signing certificate.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Amazon Resource Name (ARN) of your code signing certificate.</p>\n@param signingMaterial Amazon Resource Name (ARN) of your code signing certificate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSigningMaterial",
        "getterDocumentation" : "/**<p>Amazon Resource Name (ARN) of your code signing certificate.</p>\n@return Amazon Resource Name (ARN) of your code signing certificate.*/",
        "getterMethodName" : "getSigningMaterial",
        "getterModel" : {
          "returnType" : "SigningMaterial",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "signingMaterial",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "signingMaterial",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SigningMaterial",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Amazon Resource Name (ARN) of your code signing certificate.</p>\n@param signingMaterial Amazon Resource Name (ARN) of your code signing certificate.*/",
        "setterMethodName" : "setSigningMaterial",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SigningMaterial",
          "variableName" : "signingMaterial",
          "variableType" : "SigningMaterial",
          "documentation" : "",
          "simpleType" : "SigningMaterial",
          "variableSetterType" : "SigningMaterial"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Amazon Resource Name (ARN) of your code signing certificate.</p>\n@param signingMaterial Amazon Resource Name (ARN) of your code signing certificate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SigningMaterial",
          "variableName" : "signingMaterial",
          "variableType" : "SigningMaterial",
          "documentation" : "<p>Amazon Resource Name (ARN) of your code signing certificate.</p>",
          "simpleType" : "SigningMaterial",
          "variableSetterType" : "SigningMaterial"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "platformId",
        "c2jShape" : "PlatformId",
        "deprecated" : false,
        "documentation" : "<p>The microcontroller platform to which your signed code image will be distributed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The microcontroller platform to which your signed code image will be distributed.</p>\n@param platformId The microcontroller platform to which your signed code image will be distributed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPlatformId",
        "getterDocumentation" : "/**<p>The microcontroller platform to which your signed code image will be distributed.</p>\n@return The microcontroller platform to which your signed code image will be distributed.*/",
        "getterMethodName" : "getPlatformId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "platformId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "platformId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PlatformId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The microcontroller platform to which your signed code image will be distributed.</p>\n@param platformId The microcontroller platform to which your signed code image will be distributed.*/",
        "setterMethodName" : "setPlatformId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "platformId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The microcontroller platform to which your signed code image will be distributed.</p>\n@param platformId The microcontroller platform to which your signed code image will be distributed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "platformId",
          "variableType" : "String",
          "documentation" : "<p>The microcontroller platform to which your signed code image will be distributed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "profileName",
        "c2jShape" : "ProfileName",
        "deprecated" : false,
        "documentation" : "<p>The name of the profile that initiated the signing operation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the profile that initiated the signing operation.</p>\n@param profileName The name of the profile that initiated the signing operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfileName",
        "getterDocumentation" : "/**<p>The name of the profile that initiated the signing operation.</p>\n@return The name of the profile that initiated the signing operation.*/",
        "getterMethodName" : "getProfileName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "profileName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profileName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfileName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the profile that initiated the signing operation.</p>\n@param profileName The name of the profile that initiated the signing operation.*/",
        "setterMethodName" : "setProfileName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profileName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the profile that initiated the signing operation.</p>\n@param profileName The name of the profile that initiated the signing operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profileName",
          "variableType" : "String",
          "documentation" : "<p>The name of the profile that initiated the signing operation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "overrides",
        "c2jShape" : "SigningPlatformOverrides",
        "deprecated" : false,
        "documentation" : "<p>A list of any overrides that were applied to the signing operation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of any overrides that were applied to the signing operation.</p>\n@param overrides A list of any overrides that were applied to the signing operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOverrides",
        "getterDocumentation" : "/**<p>A list of any overrides that were applied to the signing operation.</p>\n@return A list of any overrides that were applied to the signing operation.*/",
        "getterMethodName" : "getOverrides",
        "getterModel" : {
          "returnType" : "SigningPlatformOverrides",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "overrides",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "overrides",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Overrides",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of any overrides that were applied to the signing operation.</p>\n@param overrides A list of any overrides that were applied to the signing operation.*/",
        "setterMethodName" : "setOverrides",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SigningPlatformOverrides",
          "variableName" : "overrides",
          "variableType" : "SigningPlatformOverrides",
          "documentation" : "",
          "simpleType" : "SigningPlatformOverrides",
          "variableSetterType" : "SigningPlatformOverrides"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of any overrides that were applied to the signing operation.</p>\n@param overrides A list of any overrides that were applied to the signing operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SigningPlatformOverrides",
          "variableName" : "overrides",
          "variableType" : "SigningPlatformOverrides",
          "documentation" : "<p>A list of any overrides that were applied to the signing operation.</p>",
          "simpleType" : "SigningPlatformOverrides",
          "variableSetterType" : "SigningPlatformOverrides"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "signingParameters",
        "c2jShape" : "SigningParameters",
        "deprecated" : false,
        "documentation" : "<p>Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job. </p>\n@param signingParameters Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSigningParameters",
        "getterDocumentation" : "/**<p>Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job. </p>\n@return Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job.*/",
        "getterMethodName" : "getSigningParameters",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "signingParameters",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "signingParameters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "SigningParameterValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "SigningParameters",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job. </p>\n@param signingParameters Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job.*/",
        "setterMethodName" : "setSigningParameters",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "signingParameters",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job. </p>\n@param signingParameters Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "signingParameters",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job. </p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createdAt",
        "c2jShape" : "CreatedAt",
        "deprecated" : false,
        "documentation" : "<p>Date and time that the signing job was created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Date and time that the signing job was created.</p>\n@param createdAt Date and time that the signing job was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>Date and time that the signing job was created.</p>\n@return Date and time that the signing job was created.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Date and time that the signing job was created.</p>\n@param createdAt Date and time that the signing job was created.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Date and time that the signing job was created.</p>\n@param createdAt Date and time that the signing job was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Date and time that the signing job was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "completedAt",
        "c2jShape" : "CompletedAt",
        "deprecated" : false,
        "documentation" : "<p>Date and time that the signing job was completed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Date and time that the signing job was completed.</p>\n@param completedAt Date and time that the signing job was completed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCompletedAt",
        "getterDocumentation" : "/**<p>Date and time that the signing job was completed.</p>\n@return Date and time that the signing job was completed.*/",
        "getterMethodName" : "getCompletedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "completedAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "completedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CompletedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Date and time that the signing job was completed.</p>\n@param completedAt Date and time that the signing job was completed.*/",
        "setterMethodName" : "setCompletedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "completedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Date and time that the signing job was completed.</p>\n@param completedAt Date and time that the signing job was completed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "completedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Date and time that the signing job was completed.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "requestedBy",
        "c2jShape" : "RequestedBy",
        "deprecated" : false,
        "documentation" : "<p>The IAM principal that requested the signing job.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The IAM principal that requested the signing job.</p>\n@param requestedBy The IAM principal that requested the signing job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequestedBy",
        "getterDocumentation" : "/**<p>The IAM principal that requested the signing job.</p>\n@return The IAM principal that requested the signing job.*/",
        "getterMethodName" : "getRequestedBy",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "requestedBy",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "requestedBy",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RequestedBy",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The IAM principal that requested the signing job.</p>\n@param requestedBy The IAM principal that requested the signing job.*/",
        "setterMethodName" : "setRequestedBy",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestedBy",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The IAM principal that requested the signing job.</p>\n@param requestedBy The IAM principal that requested the signing job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestedBy",
          "variableType" : "String",
          "documentation" : "<p>The IAM principal that requested the signing job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "SigningStatus",
        "deprecated" : false,
        "documentation" : "<p>Status of the signing job.</p>",
        "enumType" : "SigningStatus",
        "fluentSetterDocumentation" : "/**<p>Status of the signing job.</p>\n@param status Status of the signing job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SigningStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>Status of the signing job.</p>\n@return Status of the signing job.\n@see SigningStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Status of the signing job.</p>\n@param status Status of the signing job.\n@see SigningStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Status of the signing job.</p>\n@param status Status of the signing job.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SigningStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>Status of the signing job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "statusReason",
        "c2jShape" : "StatusReason",
        "deprecated" : false,
        "documentation" : "<p>String value that contains the status reason.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>String value that contains the status reason.</p>\n@param statusReason String value that contains the status reason.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatusReason",
        "getterDocumentation" : "/**<p>String value that contains the status reason.</p>\n@return String value that contains the status reason.*/",
        "getterMethodName" : "getStatusReason",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "statusReason",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "statusReason",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StatusReason",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>String value that contains the status reason.</p>\n@param statusReason String value that contains the status reason.*/",
        "setterMethodName" : "setStatusReason",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusReason",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>String value that contains the status reason.</p>\n@param statusReason String value that contains the status reason.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusReason",
          "variableType" : "String",
          "documentation" : "<p>String value that contains the status reason.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "signedObject",
        "c2jShape" : "SignedObject",
        "deprecated" : false,
        "documentation" : "<p>Name of the S3 bucket where the signed code image is saved by AWS Signer.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the S3 bucket where the signed code image is saved by AWS Signer.</p>\n@param signedObject Name of the S3 bucket where the signed code image is saved by AWS Signer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSignedObject",
        "getterDocumentation" : "/**<p>Name of the S3 bucket where the signed code image is saved by AWS Signer.</p>\n@return Name of the S3 bucket where the signed code image is saved by AWS Signer.*/",
        "getterMethodName" : "getSignedObject",
        "getterModel" : {
          "returnType" : "SignedObject",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "signedObject",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "signedObject",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SignedObject",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Name of the S3 bucket where the signed code image is saved by AWS Signer.</p>\n@param signedObject Name of the S3 bucket where the signed code image is saved by AWS Signer.*/",
        "setterMethodName" : "setSignedObject",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SignedObject",
          "variableName" : "signedObject",
          "variableType" : "SignedObject",
          "documentation" : "",
          "simpleType" : "SignedObject",
          "variableSetterType" : "SignedObject"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Name of the S3 bucket where the signed code image is saved by AWS Signer.</p>\n@param signedObject Name of the S3 bucket where the signed code image is saved by AWS Signer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SignedObject",
          "variableName" : "signedObject",
          "variableType" : "SignedObject",
          "documentation" : "<p>Name of the S3 bucket where the signed code image is saved by AWS Signer.</p>",
          "simpleType" : "SignedObject",
          "variableSetterType" : "SignedObject"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CompletedAt" : {
          "c2jName" : "completedAt",
          "c2jShape" : "CompletedAt",
          "deprecated" : false,
          "documentation" : "<p>Date and time that the signing job was completed.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Date and time that the signing job was completed.</p>\n@param completedAt Date and time that the signing job was completed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCompletedAt",
          "getterDocumentation" : "/**<p>Date and time that the signing job was completed.</p>\n@return Date and time that the signing job was completed.*/",
          "getterMethodName" : "getCompletedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "completedAt",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "completedAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CompletedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Date and time that the signing job was completed.</p>\n@param completedAt Date and time that the signing job was completed.*/",
          "setterMethodName" : "setCompletedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "completedAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Date and time that the signing job was completed.</p>\n@param completedAt Date and time that the signing job was completed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "completedAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>Date and time that the signing job was completed.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "CreatedAt" : {
          "c2jName" : "createdAt",
          "c2jShape" : "CreatedAt",
          "deprecated" : false,
          "documentation" : "<p>Date and time that the signing job was created.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Date and time that the signing job was created.</p>\n@param createdAt Date and time that the signing job was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedAt",
          "getterDocumentation" : "/**<p>Date and time that the signing job was created.</p>\n@return Date and time that the signing job was created.*/",
          "getterMethodName" : "getCreatedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "createdAt",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "createdAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreatedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Date and time that the signing job was created.</p>\n@param createdAt Date and time that the signing job was created.*/",
          "setterMethodName" : "setCreatedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Date and time that the signing job was created.</p>\n@param createdAt Date and time that the signing job was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>Date and time that the signing job was created.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "JobId" : {
          "c2jName" : "jobId",
          "c2jShape" : "JobId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the signing job on output.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the signing job on output.</p>\n@param jobId The ID of the signing job on output.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJobId",
          "getterDocumentation" : "/**<p>The ID of the signing job on output.</p>\n@return The ID of the signing job on output.*/",
          "getterMethodName" : "getJobId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "jobId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "JobId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the signing job on output.</p>\n@param jobId The ID of the signing job on output.*/",
          "setterMethodName" : "setJobId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the signing job on output.</p>\n@param jobId The ID of the signing job on output.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the signing job on output.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Overrides" : {
          "c2jName" : "overrides",
          "c2jShape" : "SigningPlatformOverrides",
          "deprecated" : false,
          "documentation" : "<p>A list of any overrides that were applied to the signing operation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of any overrides that were applied to the signing operation.</p>\n@param overrides A list of any overrides that were applied to the signing operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOverrides",
[...]
