{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Connector" : [ "status", "vmManagerType" ],
      "CreateReplicationJobRequest" : [ "licenseType" ],
      "GetServersResponse" : [ "serverCatalogStatus" ],
      "ReplicationJob" : [ "serverType", "licenseType", "state" ],
      "ReplicationRun" : [ "state", "type" ],
      "Server" : [ "serverType" ],
      "UpdateReplicationJobRequest" : [ "licenseType" ],
      "VmServer" : [ "vmManagerType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-10-24",
    "asyncClient" : "AWSServerMigrationAsyncClient",
    "asyncClientBuilderClassName" : "AWSServerMigrationAsyncClientBuilder",
    "asyncInterface" : "AWSServerMigrationAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSServerMigrationModuleInjector",
    "defaultEndpoint" : "sms.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sms.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Server Migration Service</fullname> <p>AWS Server Migration Service (AWS SMS) makes it easier and faster for you to migrate your on-premises workloads to AWS. To learn more about AWS SMS, see the following resources:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/server-migration-service/\">AWS Server Migration Service product page</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/server-migration-service/latest/userguide/\">AWS Server Migration Service User Guide</a> </p> </li> </ul>",
    "endpointPrefix" : "sms",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.servermigration",
    "packagePath" : "com/amazonaws/services/servermigration",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "SMS",
    "serviceFullName" : "AWS Server Migration Service",
    "serviceId" : "SMS",
    "serviceName" : "SMS",
    "signingName" : "sms",
    "smokeTestsPackageName" : "com.amazonaws.services.servermigration.smoketests",
    "syncClient" : "AWSServerMigrationClient",
    "syncClientBuilderClassName" : "AWSServerMigrationClientBuilder",
    "syncInterface" : "AWSServerMigration",
    "uid" : "sms-2016-10-24",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppRequest, CreateAppResult>",
      "asyncReturnType" : "CreateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an application. An application consists of one or more server groups. Each server group contain one or more servers.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppRequest",
        "variableName" : "createAppRequest",
        "variableType" : "CreateAppRequest",
        "documentation" : "",
        "simpleType" : "CreateAppRequest",
        "variableSetterType" : "CreateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApp",
      "operationName" : "CreateApp",
      "returnType" : {
        "returnType" : "CreateAppResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppResult"
    },
    "CreateReplicationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationJobRequest, CreateReplicationJobResult>",
      "asyncReturnType" : "CreateReplicationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a replication job. The replication job schedules periodic replication runs to replicate your server to AWS. Each replication run creates an Amazon Machine Image (AMI).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerCannotBeReplicatedException",
        "documentation" : "<p>The specified server cannot be replicated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationJobAlreadyExistsException",
        "documentation" : "<p>The specified replication job already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoConnectorsAvailableException",
        "documentation" : "<p>There are no connectors available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemporarilyUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateReplicationJobRequest",
        "variableName" : "createReplicationJobRequest",
        "variableType" : "CreateReplicationJobRequest",
        "documentation" : "",
        "simpleType" : "CreateReplicationJobRequest",
        "variableSetterType" : "CreateReplicationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationJob",
      "operationName" : "CreateReplicationJob",
      "returnType" : {
        "returnType" : "CreateReplicationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateReplicationJobResult"
    },
    "DeleteApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppRequest, DeleteAppResult>",
      "asyncReturnType" : "DeleteAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified application. Optionally deletes the launched stack associated with the application and all AWS SMS replication jobs for servers in the application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppRequest",
        "variableName" : "deleteAppRequest",
        "variableType" : "DeleteAppRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppRequest",
        "variableSetterType" : "DeleteAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApp",
      "operationName" : "DeleteApp",
      "returnType" : {
        "returnType" : "DeleteAppResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppResult"
    },
    "DeleteAppLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppLaunchConfigurationRequest, DeleteAppLaunchConfigurationResult>",
      "asyncReturnType" : "DeleteAppLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the launch configuration for the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppLaunchConfigurationRequest",
        "variableName" : "deleteAppLaunchConfigurationRequest",
        "variableType" : "DeleteAppLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppLaunchConfigurationRequest",
        "variableSetterType" : "DeleteAppLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppLaunchConfiguration",
      "operationName" : "DeleteAppLaunchConfiguration",
      "returnType" : {
        "returnType" : "DeleteAppLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppLaunchConfigurationResult"
    },
    "DeleteAppReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppReplicationConfigurationRequest, DeleteAppReplicationConfigurationResult>",
      "asyncReturnType" : "DeleteAppReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the replication configuration for the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppReplicationConfigurationRequest",
        "variableName" : "deleteAppReplicationConfigurationRequest",
        "variableType" : "DeleteAppReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppReplicationConfigurationRequest",
        "variableSetterType" : "DeleteAppReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppReplicationConfiguration",
      "operationName" : "DeleteAppReplicationConfiguration",
      "returnType" : {
        "returnType" : "DeleteAppReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppReplicationConfigurationResult"
    },
    "DeleteAppValidationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppValidationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppValidationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppValidationConfigurationRequest, DeleteAppValidationConfigurationResult>",
      "asyncReturnType" : "DeleteAppValidationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the validation configuration for the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppValidationConfigurationRequest",
        "variableName" : "deleteAppValidationConfigurationRequest",
        "variableType" : "DeleteAppValidationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppValidationConfigurationRequest",
        "variableSetterType" : "DeleteAppValidationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppValidationConfiguration",
      "operationName" : "DeleteAppValidationConfiguration",
      "returnType" : {
        "returnType" : "DeleteAppValidationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppValidationConfigurationResult"
    },
    "DeleteReplicationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationJobRequest, DeleteReplicationJobResult>",
      "asyncReturnType" : "DeleteReplicationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified replication job.</p> <p>After you delete a replication job, there are no further replication runs. AWS deletes the contents of the Amazon S3 bucket used to store AWS SMS artifacts. The AMIs created by the replication runs are not deleted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationJobNotFoundException",
        "documentation" : "<p>The specified replication job does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReplicationJobRequest",
        "variableName" : "deleteReplicationJobRequest",
        "variableType" : "DeleteReplicationJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteReplicationJobRequest",
        "variableSetterType" : "DeleteReplicationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationJob",
      "operationName" : "DeleteReplicationJob",
      "returnType" : {
        "returnType" : "DeleteReplicationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteReplicationJobResult"
    },
    "DeleteServerCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServerCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServerCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServerCatalogRequest, DeleteServerCatalogResult>",
      "asyncReturnType" : "DeleteServerCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes all servers from your server catalog.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServerCatalogRequest",
        "variableName" : "deleteServerCatalogRequest",
        "variableType" : "DeleteServerCatalogRequest",
        "documentation" : "",
        "simpleType" : "DeleteServerCatalogRequest",
        "variableSetterType" : "DeleteServerCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteServerCatalog",
      "operationName" : "DeleteServerCatalog",
      "returnType" : {
        "returnType" : "DeleteServerCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServerCatalogResult"
    },
    "DisassociateConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateConnectorRequest, DisassociateConnectorResult>",
      "asyncReturnType" : "DisassociateConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified connector from AWS SMS.</p> <p>After you disassociate a connector, it is no longer available to support replication jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateConnectorRequest",
        "variableName" : "disassociateConnectorRequest",
        "variableType" : "DisassociateConnectorRequest",
        "documentation" : "",
        "simpleType" : "DisassociateConnectorRequest",
        "variableSetterType" : "DisassociateConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateConnector",
      "operationName" : "DisassociateConnector",
      "returnType" : {
        "returnType" : "DisassociateConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateConnectorResult"
    },
    "GenerateChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateChangeSetRequest, GenerateChangeSetResult>",
      "asyncReturnType" : "GenerateChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a target change set for a currently launched stack and writes it to an Amazon S3 object in the customer’s Amazon S3 bucket.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GenerateChangeSetRequest",
        "variableName" : "generateChangeSetRequest",
        "variableType" : "GenerateChangeSetRequest",
        "documentation" : "",
        "simpleType" : "GenerateChangeSetRequest",
        "variableSetterType" : "GenerateChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateChangeSet",
      "operationName" : "GenerateChangeSet",
      "returnType" : {
        "returnType" : "GenerateChangeSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GenerateChangeSetResult"
    },
    "GenerateTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateTemplateRequest, GenerateTemplateResult>",
      "asyncReturnType" : "GenerateTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates an AWS CloudFormation template based on the current launch configuration and writes it to an Amazon S3 object in the customer’s Amazon S3 bucket.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GenerateTemplateRequest",
        "variableName" : "generateTemplateRequest",
        "variableType" : "GenerateTemplateRequest",
        "documentation" : "",
        "simpleType" : "GenerateTemplateRequest",
        "variableSetterType" : "GenerateTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateTemplate",
      "operationName" : "GenerateTemplate",
      "returnType" : {
        "returnType" : "GenerateTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GenerateTemplateResult"
    },
    "GetApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppRequest, GetAppResult>",
      "asyncReturnType" : "GetAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve information about the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppRequest",
        "variableName" : "getAppRequest",
        "variableType" : "GetAppRequest",
        "documentation" : "",
        "simpleType" : "GetAppRequest",
        "variableSetterType" : "GetAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApp",
      "operationName" : "GetApp",
      "returnType" : {
        "returnType" : "GetAppResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppResult"
    },
    "GetAppLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppLaunchConfigurationRequest, GetAppLaunchConfigurationResult>",
      "asyncReturnType" : "GetAppLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the application launch configuration associated with the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppLaunchConfigurationRequest",
        "variableName" : "getAppLaunchConfigurationRequest",
        "variableType" : "GetAppLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetAppLaunchConfigurationRequest",
        "variableSetterType" : "GetAppLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppLaunchConfiguration",
      "operationName" : "GetAppLaunchConfiguration",
      "returnType" : {
        "returnType" : "GetAppLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppLaunchConfigurationResult"
    },
    "GetAppReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppReplicationConfigurationRequest, GetAppReplicationConfigurationResult>",
      "asyncReturnType" : "GetAppReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the application replication configuration associated with the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppReplicationConfigurationRequest",
        "variableName" : "getAppReplicationConfigurationRequest",
        "variableType" : "GetAppReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetAppReplicationConfigurationRequest",
        "variableSetterType" : "GetAppReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppReplicationConfiguration",
      "operationName" : "GetAppReplicationConfiguration",
      "returnType" : {
        "returnType" : "GetAppReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppReplicationConfigurationResult"
    },
    "GetAppValidationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppValidationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppValidationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppValidationConfigurationRequest, GetAppValidationConfigurationResult>",
      "asyncReturnType" : "GetAppValidationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a configuration for validating an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppValidationConfigurationRequest",
        "variableName" : "getAppValidationConfigurationRequest",
        "variableType" : "GetAppValidationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetAppValidationConfigurationRequest",
        "variableSetterType" : "GetAppValidationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppValidationConfiguration",
      "operationName" : "GetAppValidationConfiguration",
      "returnType" : {
        "returnType" : "GetAppValidationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppValidationConfigurationResult"
    },
    "GetAppValidationOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppValidationOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppValidationOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppValidationOutputRequest, GetAppValidationOutputResult>",
      "asyncReturnType" : "GetAppValidationOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves output from validating an application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppValidationOutputRequest",
        "variableName" : "getAppValidationOutputRequest",
        "variableType" : "GetAppValidationOutputRequest",
        "documentation" : "",
        "simpleType" : "GetAppValidationOutputRequest",
        "variableSetterType" : "GetAppValidationOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppValidationOutput",
      "operationName" : "GetAppValidationOutput",
      "returnType" : {
        "returnType" : "GetAppValidationOutputResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppValidationOutputResult"
    },
    "GetConnectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectorsRequest, GetConnectorsResult>",
      "asyncReturnType" : "GetConnectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the connectors registered with the AWS SMS.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectorsRequest",
        "variableName" : "getConnectorsRequest",
        "variableType" : "GetConnectorsRequest",
        "documentation" : "",
        "simpleType" : "GetConnectorsRequest",
        "variableSetterType" : "GetConnectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnectors",
      "operationName" : "GetConnectors",
      "returnType" : {
        "returnType" : "GetConnectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConnectorsResult"
    },
    "GetReplicationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReplicationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReplicationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReplicationJobsRequest, GetReplicationJobsResult>",
      "asyncReturnType" : "GetReplicationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified replication job or all of your replication jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReplicationJobsRequest",
        "variableName" : "getReplicationJobsRequest",
        "variableType" : "GetReplicationJobsRequest",
        "documentation" : "",
        "simpleType" : "GetReplicationJobsRequest",
        "variableSetterType" : "GetReplicationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReplicationJobs",
      "operationName" : "GetReplicationJobs",
      "returnType" : {
        "returnType" : "GetReplicationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReplicationJobsResult"
    },
    "GetReplicationRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReplicationRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReplicationRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReplicationRunsRequest, GetReplicationRunsResult>",
      "asyncReturnType" : "GetReplicationRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the replication runs for the specified replication job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReplicationRunsRequest",
        "variableName" : "getReplicationRunsRequest",
        "variableType" : "GetReplicationRunsRequest",
        "documentation" : "",
        "simpleType" : "GetReplicationRunsRequest",
        "variableSetterType" : "GetReplicationRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReplicationRuns",
      "operationName" : "GetReplicationRuns",
      "returnType" : {
        "returnType" : "GetReplicationRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReplicationRunsResult"
    },
    "GetServers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServersRequest, GetServersResult>",
      "asyncReturnType" : "GetServersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the servers in your server catalog.</p> <p>Before you can describe your servers, you must import them using <a>ImportServerCatalog</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServersRequest",
        "variableName" : "getServersRequest",
        "variableType" : "GetServersRequest",
        "documentation" : "",
        "simpleType" : "GetServersRequest",
        "variableSetterType" : "GetServersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServers",
      "operationName" : "GetServers",
      "returnType" : {
        "returnType" : "GetServersResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServersResult"
    },
    "ImportAppCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportAppCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportAppCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportAppCatalogRequest, ImportAppCatalogResult>",
      "asyncReturnType" : "ImportAppCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows application import from AWS Migration Hub.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportAppCatalogRequest",
        "variableName" : "importAppCatalogRequest",
        "variableType" : "ImportAppCatalogRequest",
        "documentation" : "",
        "simpleType" : "ImportAppCatalogRequest",
        "variableSetterType" : "ImportAppCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importAppCatalog",
      "operationName" : "ImportAppCatalog",
      "returnType" : {
        "returnType" : "ImportAppCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportAppCatalogResult"
    },
    "ImportServerCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportServerCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportServerCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportServerCatalogRequest, ImportServerCatalogResult>",
      "asyncReturnType" : "ImportServerCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gathers a complete list of on-premises servers. Connectors must be installed and monitoring all servers to import.</p> <p>This call returns immediately, but might take additional time to retrieve all the servers.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoConnectorsAvailableException",
        "documentation" : "<p>There are no connectors available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportServerCatalogRequest",
        "variableName" : "importServerCatalogRequest",
        "variableType" : "ImportServerCatalogRequest",
        "documentation" : "",
        "simpleType" : "ImportServerCatalogRequest",
        "variableSetterType" : "ImportServerCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importServerCatalog",
      "operationName" : "ImportServerCatalog",
      "returnType" : {
        "returnType" : "ImportServerCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportServerCatalogResult"
    },
    "LaunchApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<LaunchAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<LaunchAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<LaunchAppRequest, LaunchAppResult>",
      "asyncReturnType" : "LaunchAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Launches the specified application as a stack in AWS CloudFormation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "LaunchAppRequest",
        "variableName" : "launchAppRequest",
        "variableType" : "LaunchAppRequest",
        "documentation" : "",
        "simpleType" : "LaunchAppRequest",
        "variableSetterType" : "LaunchAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "launchApp",
      "operationName" : "LaunchApp",
      "returnType" : {
        "returnType" : "LaunchAppResult",
        "documentation" : null
      },
      "syncReturnType" : "LaunchAppResult"
    },
    "ListApps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppsRequest, ListAppsResult>",
      "asyncReturnType" : "ListAppsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves summaries for all applications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppsRequest",
        "variableName" : "listAppsRequest",
        "variableType" : "ListAppsRequest",
        "documentation" : "",
        "simpleType" : "ListAppsRequest",
        "variableSetterType" : "ListAppsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApps",
      "operationName" : "ListApps",
      "returnType" : {
        "returnType" : "ListAppsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppsResult"
    },
    "NotifyAppValidationOutput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<NotifyAppValidationOutputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<NotifyAppValidationOutputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<NotifyAppValidationOutputRequest, NotifyAppValidationOutputResult>",
      "asyncReturnType" : "NotifyAppValidationOutputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information to AWS SMS about whether application validation is successful.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "NotifyAppValidationOutputRequest",
        "variableName" : "notifyAppValidationOutputRequest",
        "variableType" : "NotifyAppValidationOutputRequest",
        "documentation" : "",
        "simpleType" : "NotifyAppValidationOutputRequest",
        "variableSetterType" : "NotifyAppValidationOutputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "notifyAppValidationOutput",
      "operationName" : "NotifyAppValidationOutput",
      "returnType" : {
        "returnType" : "NotifyAppValidationOutputResult",
        "documentation" : null
      },
      "syncReturnType" : "NotifyAppValidationOutputResult"
    },
    "PutAppLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAppLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAppLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAppLaunchConfigurationRequest, PutAppLaunchConfigurationResult>",
      "asyncReturnType" : "PutAppLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the launch configuration for the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAppLaunchConfigurationRequest",
        "variableName" : "putAppLaunchConfigurationRequest",
        "variableType" : "PutAppLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutAppLaunchConfigurationRequest",
        "variableSetterType" : "PutAppLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAppLaunchConfiguration",
      "operationName" : "PutAppLaunchConfiguration",
      "returnType" : {
        "returnType" : "PutAppLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAppLaunchConfigurationResult"
    },
    "PutAppReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAppReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAppReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAppReplicationConfigurationRequest, PutAppReplicationConfigurationResult>",
      "asyncReturnType" : "PutAppReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the replication configuration for the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAppReplicationConfigurationRequest",
        "variableName" : "putAppReplicationConfigurationRequest",
        "variableType" : "PutAppReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutAppReplicationConfigurationRequest",
        "variableSetterType" : "PutAppReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAppReplicationConfiguration",
      "operationName" : "PutAppReplicationConfiguration",
      "returnType" : {
        "returnType" : "PutAppReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAppReplicationConfigurationResult"
    },
    "PutAppValidationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAppValidationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAppValidationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAppValidationConfigurationRequest, PutAppValidationConfigurationResult>",
      "asyncReturnType" : "PutAppValidationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a validation configuration for the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAppValidationConfigurationRequest",
        "variableName" : "putAppValidationConfigurationRequest",
        "variableType" : "PutAppValidationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutAppValidationConfigurationRequest",
        "variableSetterType" : "PutAppValidationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAppValidationConfiguration",
      "operationName" : "PutAppValidationConfiguration",
      "returnType" : {
        "returnType" : "PutAppValidationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAppValidationConfigurationResult"
    },
    "StartAppReplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartAppReplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartAppReplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartAppReplicationRequest, StartAppReplicationResult>",
      "asyncReturnType" : "StartAppReplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts replicating the specified application by creating replication jobs for each server in the application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartAppReplicationRequest",
        "variableName" : "startAppReplicationRequest",
        "variableType" : "StartAppReplicationRequest",
        "documentation" : "",
        "simpleType" : "StartAppReplicationRequest",
        "variableSetterType" : "StartAppReplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startAppReplication",
      "operationName" : "StartAppReplication",
      "returnType" : {
        "returnType" : "StartAppReplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartAppReplicationResult"
    },
    "StartOnDemandAppReplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartOnDemandAppReplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartOnDemandAppReplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartOnDemandAppReplicationRequest, StartOnDemandAppReplicationResult>",
      "asyncReturnType" : "StartOnDemandAppReplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an on-demand replication run for the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartOnDemandAppReplicationRequest",
        "variableName" : "startOnDemandAppReplicationRequest",
        "variableType" : "StartOnDemandAppReplicationRequest",
        "documentation" : "",
        "simpleType" : "StartOnDemandAppReplicationRequest",
        "variableSetterType" : "StartOnDemandAppReplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startOnDemandAppReplication",
      "operationName" : "StartOnDemandAppReplication",
      "returnType" : {
        "returnType" : "StartOnDemandAppReplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartOnDemandAppReplicationResult"
    },
    "StartOnDemandReplicationRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartOnDemandReplicationRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartOnDemandReplicationRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartOnDemandReplicationRunRequest, StartOnDemandReplicationRunResult>",
      "asyncReturnType" : "StartOnDemandReplicationRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an on-demand replication run for the specified replication job. This replication run starts immediately. This replication run is in addition to the ones already scheduled.</p> <p>There is a limit on the number of on-demand replications runs that you can request in a 24-hour period.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationRunLimitExceededException",
        "documentation" : "<p>You have exceeded the number of on-demand replication runs you can request in a 24-hour period.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DryRunOperationException",
        "documentation" : "<p>The user has the required permissions, so the request would have succeeded, but a dry run was performed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartOnDemandReplicationRunRequest",
        "variableName" : "startOnDemandReplicationRunRequest",
        "variableType" : "StartOnDemandReplicationRunRequest",
        "documentation" : "",
        "simpleType" : "StartOnDemandReplicationRunRequest",
        "variableSetterType" : "StartOnDemandReplicationRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startOnDemandReplicationRun",
      "operationName" : "StartOnDemandReplicationRun",
      "returnType" : {
        "returnType" : "StartOnDemandReplicationRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StartOnDemandReplicationRunResult"
    },
    "StopAppReplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopAppReplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopAppReplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopAppReplicationRequest, StopAppReplicationResult>",
      "asyncReturnType" : "StopAppReplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops replicating the specified application by deleting the replication job for each server in the application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopAppReplicationRequest",
        "variableName" : "stopAppReplicationRequest",
        "variableType" : "StopAppReplicationRequest",
        "documentation" : "",
        "simpleType" : "StopAppReplicationRequest",
        "variableSetterType" : "StopAppReplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopAppReplication",
      "operationName" : "StopAppReplication",
      "returnType" : {
        "returnType" : "StopAppReplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "StopAppReplicationResult"
    },
    "TerminateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateAppRequest, TerminateAppResult>",
      "asyncReturnType" : "TerminateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Terminates the stack for the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TerminateAppRequest",
        "variableName" : "terminateAppRequest",
        "variableType" : "TerminateAppRequest",
        "documentation" : "",
        "simpleType" : "TerminateAppRequest",
        "variableSetterType" : "TerminateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateApp",
      "operationName" : "TerminateApp",
      "returnType" : {
        "returnType" : "TerminateAppResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateAppResult"
    },
    "UpdateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppRequest, UpdateAppResult>",
      "asyncReturnType" : "UpdateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppRequest",
        "variableName" : "updateAppRequest",
        "variableType" : "UpdateAppRequest",
        "documentation" : "",
        "simpleType" : "UpdateAppRequest",
        "variableSetterType" : "UpdateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApp",
      "operationName" : "UpdateApp",
      "returnType" : {
        "returnType" : "UpdateAppResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAppResult"
    },
    "UpdateReplicationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReplicationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReplicationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReplicationJobRequest, UpdateReplicationJobResult>",
      "asyncReturnType" : "UpdateReplicationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified settings for the specified replication job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerCannotBeReplicatedException",
        "documentation" : "<p>The specified server cannot be replicated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationJobNotFoundException",
        "documentation" : "<p>The specified replication job does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemporarilyUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateReplicationJobRequest",
        "variableName" : "updateReplicationJobRequest",
        "variableType" : "UpdateReplicationJobRequest",
        "documentation" : "",
        "simpleType" : "UpdateReplicationJobRequest",
        "variableSetterType" : "UpdateReplicationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReplicationJob",
      "operationName" : "UpdateReplicationJob",
      "returnType" : {
        "returnType" : "UpdateReplicationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateReplicationJobResult"
    }
  },
  "shapes" : {
    "AppLaunchConfigurationStatus" : {
      "c2jName" : "AppLaunchConfigurationStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "NOT_CONFIGURED",
        "value" : "NOT_CONFIGURED"
      }, {
        "name" : "CONFIGURED",
        "value" : "CONFIGURED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servermigration.enum.AppLaunchConfigurationStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servermigration.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AppLaunchConfigurationStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppLaunchConfigurationStatus",
        "variableName" : "appLaunchConfigurationStatus",
        "variableType" : "AppLaunchConfigurationStatus",
        "documentation" : null,
        "simpleType" : "AppLaunchConfigurationStatus",
        "variableSetterType" : "AppLaunchConfigurationStatus"
      },
      "wrapper" : false
    },
    "AppLaunchStatus" : {
      "c2jName" : "AppLaunchStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "READY_FOR_CONFIGURATION",
        "value" : "READY_FOR_CONFIGURATION"
      }, {
        "name" : "CONFIGURATION_IN_PROGRESS",
        "value" : "CONFIGURATION_IN_PROGRESS"
      }, {
        "name" : "CONFIGURATION_INVALID",
        "value" : "CONFIGURATION_INVALID"
      }, {
        "name" : "READY_FOR_LAUNCH",
        "value" : "READY_FOR_LAUNCH"
      }, {
        "name" : "VALIDATION_IN_PROGRESS",
        "value" : "VALIDATION_IN_PROGRESS"
      }, {
        "name" : "LAUNCH_PENDING",
        "value" : "LAUNCH_PENDING"
      }, {
        "name" : "LAUNCH_IN_PROGRESS",
        "value" : "LAUNCH_IN_PROGRESS"
      }, {
        "name" : "LAUNCHED",
        "value" : "LAUNCHED"
      }, {
        "name" : "PARTIALLY_LAUNCHED",
        "value" : "PARTIALLY_LAUNCHED"
      }, {
        "name" : "DELTA_LAUNCH_IN_PROGRESS",
        "value" : "DELTA_LAUNCH_IN_PROGRESS"
      }, {
        "name" : "DELTA_LAUNCH_FAILED",
        "value" : "DELTA_LAUNCH_FAILED"
      }, {
        "name" : "LAUNCH_FAILED",
        "value" : "LAUNCH_FAILED"
      }, {
        "name" : "TERMINATE_IN_PROGRESS",
        "value" : "TERMINATE_IN_PROGRESS"
      }, {
        "name" : "TERMINATE_FAILED",
        "value" : "TERMINATE_FAILED"
      }, {
        "name" : "TERMINATED",
        "value" : "TERMINATED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servermigration.enum.AppLaunchStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servermigration.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AppLaunchStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppLaunchStatus",
        "variableName" : "appLaunchStatus",
        "variableType" : "AppLaunchStatus",
        "documentation" : null,
        "simpleType" : "AppLaunchStatus",
        "variableSetterType" : "AppLaunchStatus"
      },
      "wrapper" : false
    },
    "AppReplicationConfigurationStatus" : {
      "c2jName" : "AppReplicationConfigurationStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "NOT_CONFIGURED",
        "value" : "NOT_CONFIGURED"
      }, {
        "name" : "CONFIGURED",
        "value" : "CONFIGURED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servermigration.enum.AppReplicationConfigurationStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servermigration.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AppReplicationConfigurationStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppReplicationConfigurationStatus",
        "variableName" : "appReplicationConfigurationStatus",
        "variableType" : "AppReplicationConfigurationStatus",
        "documentation" : null,
        "simpleType" : "AppReplicationConfigurationStatus",
        "variableSetterType" : "AppReplicationConfigurationStatus"
      },
      "wrapper" : false
    },
    "AppReplicationStatus" : {
      "c2jName" : "AppReplicationStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "READY_FOR_CONFIGURATION",
        "value" : "READY_FOR_CONFIGURATION"
      }, {
        "name" : "CONFIGURATION_IN_PROGRESS",
        "value" : "CONFIGURATION_IN_PROGRESS"
      }, {
        "name" : "CONFIGURATION_INVALID",
        "value" : "CONFIGURATION_INVALID"
      }, {
        "name" : "READY_FOR_REPLICATION",
        "value" : "READY_FOR_REPLICATION"
      }, {
        "name" : "VALIDATION_IN_PROGRESS",
        "value" : "VALIDATION_IN_PROGRESS"
      }, {
        "name" : "REPLICATION_PENDING",
        "value" : "REPLICATION_PENDING"
      }, {
        "name" : "REPLICATION_IN_PROGRESS",
        "value" : "REPLICATION_IN_PROGRESS"
      }, {
        "name" : "REPLICATED",
        "value" : "REPLICATED"
      }, {
        "name" : "PARTIALLY_REPLICATED",
        "value" : "PARTIALLY_REPLICATED"
      }, {
        "name" : "DELTA_REPLICATION_IN_PROGRESS",
        "value" : "DELTA_REPLICATION_IN_PROGRESS"
      }, {
        "name" : "DELTA_REPLICATED",
        "value" : "DELTA_REPLICATED"
      }, {
        "name" : "DELTA_REPLICATION_FAILED",
        "value" : "DELTA_REPLICATION_FAILED"
      }, {
        "name" : "REPLICATION_FAILED",
        "value" : "REPLICATION_FAILED"
      }, {
        "name" : "REPLICATION_STOPPING",
        "value" : "REPLICATION_STOPPING"
      }, {
        "name" : "REPLICATION_STOP_FAILED",
        "value" : "REPLICATION_STOP_FAILED"
      }, {
        "name" : "REPLICATION_STOPPED",
        "value" : "REPLICATION_STOPPED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.servermigration.enum.AppReplicationStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.servermigration.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AppReplicationStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppReplicationStatus",
        "variableName" : "appReplicationStatus",
        "variableType" : "AppReplicationStatus",
        "documentation" : null,
        "simpleType" : "AppReplicationStatus",
        "variableSetterType" : "AppReplicationStatus"
      },
      "wrapper" : false
    },
    "AppStatus" : {
      "c2jName" : "AppStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "CREATING",
        "value" : "CREATING"
      }, {
        "name" : "ACTIVE",
        "value" : "ACTIVE"
      }, {
        "name" : "UPDATING",
[...]
