{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Connector" : [ "status", "vmManagerType" ],
      "CreateReplicationJobRequest" : [ "licenseType" ],
      "GetServersResponse" : [ "serverCatalogStatus" ],
      "ReplicationJob" : [ "serverType", "licenseType", "state" ],
      "ReplicationRun" : [ "state", "type" ],
      "Server" : [ "serverType" ],
      "UpdateReplicationJobRequest" : [ "licenseType" ],
      "VmServer" : [ "vmManagerType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-10-24",
    "asyncClient" : "AWSServerMigrationAsyncClient",
    "asyncClientBuilderClassName" : "AWSServerMigrationAsyncClientBuilder",
    "asyncInterface" : "AWSServerMigrationAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSServerMigrationModuleInjector",
    "defaultEndpoint" : "sms.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sms.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AAWS Sever Migration Service</fullname> <p>This is the <i>AWS Sever Migration Service API Reference</i>. It provides descriptions, syntax, and usage examples for each of the actions and data types for the AWS Sever Migration Service (AWS SMS). The topic for each action shows the Query API request parameters and the XML response. You can also view the XML request elements in the WSDL.</p> <p>Alternatively, you can use one of the AWS SDKs to access an API that's tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p> <p>To learn more about the Server Migration Service, see the following resources:</p> <ul> <li> <p> <a href=\"https://aws.amazon.com/server-migration-service/\">AWS Sever Migration Service product page</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/server-migration-service/latest/userguide/server-migration.html\">AWS Sever Migration Service User Guide</a> </p> </li> </ul>",
    "endpointPrefix" : "sms",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.servermigration",
    "packagePath" : "com/amazonaws/services/servermigration",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "SMS",
    "serviceFullName" : "AWS Server Migration Service",
    "serviceId" : "SMS",
    "serviceName" : "SMS",
    "signingName" : "sms",
    "smokeTestsPackageName" : "com.amazonaws.services.servermigration.smoketests",
    "syncClient" : "AWSServerMigrationClient",
    "syncClientBuilderClassName" : "AWSServerMigrationClientBuilder",
    "syncInterface" : "AWSServerMigration",
    "uid" : "sms-2016-10-24",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppRequest, CreateAppResult>",
      "asyncReturnType" : "CreateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an application. An application consists of one or more server groups. Each server group contain one or more servers.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppRequest",
        "variableName" : "createAppRequest",
        "variableType" : "CreateAppRequest",
        "documentation" : "",
        "simpleType" : "CreateAppRequest",
        "variableSetterType" : "CreateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApp",
      "operationName" : "CreateApp",
      "returnType" : {
        "returnType" : "CreateAppResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAppResult"
    },
    "CreateReplicationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationJobRequest, CreateReplicationJobResult>",
      "asyncReturnType" : "CreateReplicationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a replication job. The replication job schedules periodic replication runs to replicate your server to AWS. Each replication run creates an Amazon Machine Image (AMI).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerCannotBeReplicatedException",
        "documentation" : "<p>The specified server cannot be replicated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationJobAlreadyExistsException",
        "documentation" : "<p>The specified replication job already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoConnectorsAvailableException",
        "documentation" : "<p>There are no connectors available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemporarilyUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateReplicationJobRequest",
        "variableName" : "createReplicationJobRequest",
        "variableType" : "CreateReplicationJobRequest",
        "documentation" : "",
        "simpleType" : "CreateReplicationJobRequest",
        "variableSetterType" : "CreateReplicationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationJob",
      "operationName" : "CreateReplicationJob",
      "returnType" : {
        "returnType" : "CreateReplicationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateReplicationJobResult"
    },
    "DeleteApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppRequest, DeleteAppResult>",
      "asyncReturnType" : "DeleteAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing application. Optionally deletes the launched stack associated with the application and all AWS SMS replication jobs for servers in the application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppRequest",
        "variableName" : "deleteAppRequest",
        "variableType" : "DeleteAppRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppRequest",
        "variableSetterType" : "DeleteAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApp",
      "operationName" : "DeleteApp",
      "returnType" : {
        "returnType" : "DeleteAppResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppResult"
    },
    "DeleteAppLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppLaunchConfigurationRequest, DeleteAppLaunchConfigurationResult>",
      "asyncReturnType" : "DeleteAppLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes existing launch configuration for an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppLaunchConfigurationRequest",
        "variableName" : "deleteAppLaunchConfigurationRequest",
        "variableType" : "DeleteAppLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppLaunchConfigurationRequest",
        "variableSetterType" : "DeleteAppLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppLaunchConfiguration",
      "operationName" : "DeleteAppLaunchConfiguration",
      "returnType" : {
        "returnType" : "DeleteAppLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppLaunchConfigurationResult"
    },
    "DeleteAppReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppReplicationConfigurationRequest, DeleteAppReplicationConfigurationResult>",
      "asyncReturnType" : "DeleteAppReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes existing replication configuration for an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppReplicationConfigurationRequest",
        "variableName" : "deleteAppReplicationConfigurationRequest",
        "variableType" : "DeleteAppReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppReplicationConfigurationRequest",
        "variableSetterType" : "DeleteAppReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppReplicationConfiguration",
      "operationName" : "DeleteAppReplicationConfiguration",
      "returnType" : {
        "returnType" : "DeleteAppReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppReplicationConfigurationResult"
    },
    "DeleteReplicationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationJobRequest, DeleteReplicationJobResult>",
      "asyncReturnType" : "DeleteReplicationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified replication job.</p> <p>After you delete a replication job, there are no further replication runs. AWS deletes the contents of the Amazon S3 bucket used to store AWS SMS artifacts. The AMIs created by the replication runs are not deleted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationJobNotFoundException",
        "documentation" : "<p>The specified replication job does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReplicationJobRequest",
        "variableName" : "deleteReplicationJobRequest",
        "variableType" : "DeleteReplicationJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteReplicationJobRequest",
        "variableSetterType" : "DeleteReplicationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationJob",
      "operationName" : "DeleteReplicationJob",
      "returnType" : {
        "returnType" : "DeleteReplicationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteReplicationJobResult"
    },
    "DeleteServerCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServerCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServerCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServerCatalogRequest, DeleteServerCatalogResult>",
      "asyncReturnType" : "DeleteServerCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes all servers from your server catalog.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteServerCatalogRequest",
        "variableName" : "deleteServerCatalogRequest",
        "variableType" : "DeleteServerCatalogRequest",
        "documentation" : "",
        "simpleType" : "DeleteServerCatalogRequest",
        "variableSetterType" : "DeleteServerCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteServerCatalog",
      "operationName" : "DeleteServerCatalog",
      "returnType" : {
        "returnType" : "DeleteServerCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServerCatalogResult"
    },
    "DisassociateConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateConnectorRequest, DisassociateConnectorResult>",
      "asyncReturnType" : "DisassociateConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified connector from AWS SMS.</p> <p>After you disassociate a connector, it is no longer available to support replication jobs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateConnectorRequest",
        "variableName" : "disassociateConnectorRequest",
        "variableType" : "DisassociateConnectorRequest",
        "documentation" : "",
        "simpleType" : "DisassociateConnectorRequest",
        "variableSetterType" : "DisassociateConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateConnector",
      "operationName" : "DisassociateConnector",
      "returnType" : {
        "returnType" : "DisassociateConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateConnectorResult"
    },
    "GenerateChangeSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateChangeSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateChangeSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateChangeSetRequest, GenerateChangeSetResult>",
      "asyncReturnType" : "GenerateChangeSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a target change set for a currently launched stack and writes it to an Amazon S3 object in the customer’s Amazon S3 bucket.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GenerateChangeSetRequest",
        "variableName" : "generateChangeSetRequest",
        "variableType" : "GenerateChangeSetRequest",
        "documentation" : "",
        "simpleType" : "GenerateChangeSetRequest",
        "variableSetterType" : "GenerateChangeSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateChangeSet",
      "operationName" : "GenerateChangeSet",
      "returnType" : {
        "returnType" : "GenerateChangeSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GenerateChangeSetResult"
    },
    "GenerateTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateTemplateRequest, GenerateTemplateResult>",
      "asyncReturnType" : "GenerateTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates an Amazon CloudFormation template based on the current launch configuration and writes it to an Amazon S3 object in the customer’s Amazon S3 bucket.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GenerateTemplateRequest",
        "variableName" : "generateTemplateRequest",
        "variableType" : "GenerateTemplateRequest",
        "documentation" : "",
        "simpleType" : "GenerateTemplateRequest",
        "variableSetterType" : "GenerateTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "generateTemplate",
      "operationName" : "GenerateTemplate",
      "returnType" : {
        "returnType" : "GenerateTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GenerateTemplateResult"
    },
    "GetApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppRequest, GetAppResult>",
      "asyncReturnType" : "GetAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve information about an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppRequest",
        "variableName" : "getAppRequest",
        "variableType" : "GetAppRequest",
        "documentation" : "",
        "simpleType" : "GetAppRequest",
        "variableSetterType" : "GetAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApp",
      "operationName" : "GetApp",
      "returnType" : {
        "returnType" : "GetAppResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppResult"
    },
    "GetAppLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppLaunchConfigurationRequest, GetAppLaunchConfigurationResult>",
      "asyncReturnType" : "GetAppLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the application launch configuration associated with an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppLaunchConfigurationRequest",
        "variableName" : "getAppLaunchConfigurationRequest",
        "variableType" : "GetAppLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetAppLaunchConfigurationRequest",
        "variableSetterType" : "GetAppLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppLaunchConfiguration",
      "operationName" : "GetAppLaunchConfiguration",
      "returnType" : {
        "returnType" : "GetAppLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppLaunchConfigurationResult"
    },
    "GetAppReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppReplicationConfigurationRequest, GetAppReplicationConfigurationResult>",
      "asyncReturnType" : "GetAppReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves an application replication configuration associatd with an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppReplicationConfigurationRequest",
        "variableName" : "getAppReplicationConfigurationRequest",
        "variableType" : "GetAppReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetAppReplicationConfigurationRequest",
        "variableSetterType" : "GetAppReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppReplicationConfiguration",
      "operationName" : "GetAppReplicationConfiguration",
      "returnType" : {
        "returnType" : "GetAppReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppReplicationConfigurationResult"
    },
    "GetConnectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectorsRequest, GetConnectorsResult>",
      "asyncReturnType" : "GetConnectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the connectors registered with the AWS SMS.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectorsRequest",
        "variableName" : "getConnectorsRequest",
        "variableType" : "GetConnectorsRequest",
        "documentation" : "",
        "simpleType" : "GetConnectorsRequest",
        "variableSetterType" : "GetConnectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnectors",
      "operationName" : "GetConnectors",
      "returnType" : {
        "returnType" : "GetConnectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConnectorsResult"
    },
    "GetReplicationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReplicationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReplicationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReplicationJobsRequest, GetReplicationJobsResult>",
      "asyncReturnType" : "GetReplicationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified replication job or all of your replication jobs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReplicationJobsRequest",
        "variableName" : "getReplicationJobsRequest",
        "variableType" : "GetReplicationJobsRequest",
        "documentation" : "",
        "simpleType" : "GetReplicationJobsRequest",
        "variableSetterType" : "GetReplicationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReplicationJobs",
      "operationName" : "GetReplicationJobs",
      "returnType" : {
        "returnType" : "GetReplicationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReplicationJobsResult"
    },
    "GetReplicationRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReplicationRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReplicationRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReplicationRunsRequest, GetReplicationRunsResult>",
      "asyncReturnType" : "GetReplicationRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the replication runs for the specified replication job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReplicationRunsRequest",
        "variableName" : "getReplicationRunsRequest",
        "variableType" : "GetReplicationRunsRequest",
        "documentation" : "",
        "simpleType" : "GetReplicationRunsRequest",
        "variableSetterType" : "GetReplicationRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReplicationRuns",
      "operationName" : "GetReplicationRuns",
      "returnType" : {
        "returnType" : "GetReplicationRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReplicationRunsResult"
    },
    "GetServers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServersRequest, GetServersResult>",
      "asyncReturnType" : "GetServersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the servers in your server catalog.</p> <p>Before you can describe your servers, you must import them using <a>ImportServerCatalog</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServersRequest",
        "variableName" : "getServersRequest",
        "variableType" : "GetServersRequest",
        "documentation" : "",
        "simpleType" : "GetServersRequest",
        "variableSetterType" : "GetServersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServers",
      "operationName" : "GetServers",
      "returnType" : {
        "returnType" : "GetServersResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServersResult"
    },
    "ImportServerCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportServerCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportServerCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportServerCatalogRequest, ImportServerCatalogResult>",
      "asyncReturnType" : "ImportServerCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gathers a complete list of on-premises servers. Connectors must be installed and monitoring all servers that you want to import.</p> <p>This call returns immediately, but might take additional time to retrieve all the servers.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoConnectorsAvailableException",
        "documentation" : "<p>There are no connectors available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportServerCatalogRequest",
        "variableName" : "importServerCatalogRequest",
        "variableType" : "ImportServerCatalogRequest",
        "documentation" : "",
        "simpleType" : "ImportServerCatalogRequest",
        "variableSetterType" : "ImportServerCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importServerCatalog",
      "operationName" : "ImportServerCatalog",
      "returnType" : {
        "returnType" : "ImportServerCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportServerCatalogResult"
    },
    "LaunchApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<LaunchAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<LaunchAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<LaunchAppRequest, LaunchAppResult>",
      "asyncReturnType" : "LaunchAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Launches an application stack.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "LaunchAppRequest",
        "variableName" : "launchAppRequest",
        "variableType" : "LaunchAppRequest",
        "documentation" : "",
        "simpleType" : "LaunchAppRequest",
        "variableSetterType" : "LaunchAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "launchApp",
      "operationName" : "LaunchApp",
      "returnType" : {
        "returnType" : "LaunchAppResult",
        "documentation" : null
      },
      "syncReturnType" : "LaunchAppResult"
    },
    "ListApps" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppsRequest, ListAppsResult>",
      "asyncReturnType" : "ListAppsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of summaries for all applications.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppsRequest",
        "variableName" : "listAppsRequest",
        "variableType" : "ListAppsRequest",
        "documentation" : "",
        "simpleType" : "ListAppsRequest",
        "variableSetterType" : "ListAppsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApps",
      "operationName" : "ListApps",
      "returnType" : {
        "returnType" : "ListAppsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppsResult"
    },
    "PutAppLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAppLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAppLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAppLaunchConfigurationRequest, PutAppLaunchConfigurationResult>",
      "asyncReturnType" : "PutAppLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a launch configuration for an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAppLaunchConfigurationRequest",
        "variableName" : "putAppLaunchConfigurationRequest",
        "variableType" : "PutAppLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutAppLaunchConfigurationRequest",
        "variableSetterType" : "PutAppLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAppLaunchConfiguration",
      "operationName" : "PutAppLaunchConfiguration",
      "returnType" : {
        "returnType" : "PutAppLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAppLaunchConfigurationResult"
    },
    "PutAppReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAppReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAppReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAppReplicationConfigurationRequest, PutAppReplicationConfigurationResult>",
      "asyncReturnType" : "PutAppReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a replication configuration for an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAppReplicationConfigurationRequest",
        "variableName" : "putAppReplicationConfigurationRequest",
        "variableType" : "PutAppReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutAppReplicationConfigurationRequest",
        "variableSetterType" : "PutAppReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAppReplicationConfiguration",
      "operationName" : "PutAppReplicationConfiguration",
      "returnType" : {
        "returnType" : "PutAppReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAppReplicationConfigurationResult"
    },
    "StartAppReplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartAppReplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartAppReplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartAppReplicationRequest, StartAppReplicationResult>",
      "asyncReturnType" : "StartAppReplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts replicating an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartAppReplicationRequest",
        "variableName" : "startAppReplicationRequest",
        "variableType" : "StartAppReplicationRequest",
        "documentation" : "",
        "simpleType" : "StartAppReplicationRequest",
        "variableSetterType" : "StartAppReplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startAppReplication",
      "operationName" : "StartAppReplication",
      "returnType" : {
        "returnType" : "StartAppReplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartAppReplicationResult"
    },
    "StartOnDemandReplicationRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartOnDemandReplicationRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartOnDemandReplicationRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartOnDemandReplicationRunRequest, StartOnDemandReplicationRunResult>",
      "asyncReturnType" : "StartOnDemandReplicationRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an on-demand replication run for the specified replication job. This replication run starts immediately. This replication run is in addition to the ones already scheduled.</p> <p>There is a limit on the number of on-demand replications runs you can request in a 24-hour period.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationRunLimitExceededException",
        "documentation" : "<p>You have exceeded the number of on-demand replication runs you can request in a 24-hour period.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartOnDemandReplicationRunRequest",
        "variableName" : "startOnDemandReplicationRunRequest",
        "variableType" : "StartOnDemandReplicationRunRequest",
        "documentation" : "",
        "simpleType" : "StartOnDemandReplicationRunRequest",
        "variableSetterType" : "StartOnDemandReplicationRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startOnDemandReplicationRun",
      "operationName" : "StartOnDemandReplicationRun",
      "returnType" : {
        "returnType" : "StartOnDemandReplicationRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StartOnDemandReplicationRunResult"
    },
    "StopAppReplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopAppReplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopAppReplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopAppReplicationRequest, StopAppReplicationResult>",
      "asyncReturnType" : "StopAppReplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops replicating an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopAppReplicationRequest",
        "variableName" : "stopAppReplicationRequest",
        "variableType" : "StopAppReplicationRequest",
        "documentation" : "",
        "simpleType" : "StopAppReplicationRequest",
        "variableSetterType" : "StopAppReplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopAppReplication",
      "operationName" : "StopAppReplication",
      "returnType" : {
        "returnType" : "StopAppReplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "StopAppReplicationResult"
    },
    "TerminateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateAppRequest, TerminateAppResult>",
      "asyncReturnType" : "TerminateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Terminates the stack for an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TerminateAppRequest",
        "variableName" : "terminateAppRequest",
        "variableType" : "TerminateAppRequest",
        "documentation" : "",
        "simpleType" : "TerminateAppRequest",
        "variableSetterType" : "TerminateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateApp",
      "operationName" : "TerminateApp",
      "returnType" : {
        "returnType" : "TerminateAppResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateAppResult"
    },
    "UpdateApp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAppResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAppResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAppRequest, UpdateAppResult>",
      "asyncReturnType" : "UpdateAppResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAppRequest",
        "variableName" : "updateAppRequest",
        "variableType" : "UpdateAppRequest",
        "documentation" : "",
        "simpleType" : "UpdateAppRequest",
        "variableSetterType" : "UpdateAppRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApp",
      "operationName" : "UpdateApp",
      "returnType" : {
        "returnType" : "UpdateAppResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAppResult"
    },
    "UpdateReplicationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReplicationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReplicationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReplicationJobRequest, UpdateReplicationJobResult>",
      "asyncReturnType" : "UpdateReplicationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified settings for the specified replication job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>A specified parameter is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>A required parameter is missing.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerCannotBeReplicatedException",
        "documentation" : "<p>The specified server cannot be replicated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationJobNotFoundException",
        "documentation" : "<p>The specified replication job does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TemporarilyUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateReplicationJobRequest",
        "variableName" : "updateReplicationJobRequest",
        "variableType" : "UpdateReplicationJobRequest",
        "documentation" : "",
        "simpleType" : "UpdateReplicationJobRequest",
        "variableSetterType" : "UpdateReplicationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReplicationJob",
      "operationName" : "UpdateReplicationJob",
      "returnType" : {
        "returnType" : "UpdateReplicationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateReplicationJobResult"
    }
  },
  "shapes" : {
    "AppLaunchStatus" : {
      "c2jName" : "AppLaunchStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "READY_FOR_CONFIGURATION",
        "value" : "READY_FOR_CONFIGURATION"
      }, {
        "name" : "CONFIGURATION_IN_PROGRESS",
        "value" : "CONFIGURATION_IN_PROGRESS"
      }, {
        "name" : "CONFIGURATION_INVALID",
        "value" : "CONFIGURATION_INVALID"
      }, {
        "name" : "READY_FOR_LAUNCH",
        "value" : "READY_FOR_LAUNCH"
      }, {
        "name" : "VALIDATION_IN_PROGRESS",
        "value" : "VALIDATION_IN_PROGRESS"
      }, {
        "name" : "LAUNCH_PENDING",
        "value" : "LAUNCH_PENDING"
      }, {
        "name" : "LAUNCH_IN_PROGRESS",
        "value" : "LAUNCH_IN_PROGRESS"
      }, {
        "name" : "LAUNCHED",
        "value" : "LAUNCHED"
      }, {
        "name" : "DELTA_LAUNCH_IN_PROGRESS",
        "value" : "DELTA_LAUNCH_IN_PROGRESS"
      }, {
        "name" : "DELTA_LAUNCH_FAILED",
        "value" : "DELTA_LAUNCH_FAILED"
      }, {
        "name" : "LAUNCH_FAILED",
        "value" : "LAUNCH_FAILED"
      }, {
        "name" : "TERMINATE_IN_PROGRESS",
        "value" : "TERMINATE_IN_PROGRESS"
      }, {
        "name" : "TERMINATE_FAILED",
        "value" : "TERMINATE_FAILED"
      }, {
        "name" : "TERMINATED",
        "value" : "TERMINATED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AppLaunchStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppLaunchStatus",
        "variableName" : "appLaunchStatus",
        "variableType" : "AppLaunchStatus",
        "documentation" : null,
        "simpleType" : "AppLaunchStatus",
        "variableSetterType" : "AppLaunchStatus"
      },
      "wrapper" : false
    },
    "AppReplicationStatus" : {
      "c2jName" : "AppReplicationStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "READY_FOR_CONFIGURATION",
        "value" : "READY_FOR_CONFIGURATION"
      }, {
        "name" : "CONFIGURATION_IN_PROGRESS",
        "value" : "CONFIGURATION_IN_PROGRESS"
      }, {
        "name" : "CONFIGURATION_INVALID",
        "value" : "CONFIGURATION_INVALID"
      }, {
        "name" : "READY_FOR_REPLICATION",
        "value" : "READY_FOR_REPLICATION"
      }, {
        "name" : "VALIDATION_IN_PROGRESS",
        "value" : "VALIDATION_IN_PROGRESS"
      }, {
        "name" : "REPLICATION_PENDING",
        "value" : "REPLICATION_PENDING"
      }, {
        "name" : "REPLICATION_IN_PROGRESS",
        "value" : "REPLICATION_IN_PROGRESS"
      }, {
        "name" : "REPLICATED",
        "value" : "REPLICATED"
      }, {
        "name" : "DELTA_REPLICATION_IN_PROGRESS",
        "value" : "DELTA_REPLICATION_IN_PROGRESS"
      }, {
        "name" : "DELTA_REPLICATED",
        "value" : "DELTA_REPLICATED"
      }, {
        "name" : "DELTA_REPLICATION_FAILED",
        "value" : "DELTA_REPLICATION_FAILED"
      }, {
        "name" : "REPLICATION_FAILED",
        "value" : "REPLICATION_FAILED"
      }, {
        "name" : "REPLICATION_STOPPING",
        "value" : "REPLICATION_STOPPING"
      }, {
        "name" : "REPLICATION_STOP_FAILED",
        "value" : "REPLICATION_STOP_FAILED"
      }, {
        "name" : "REPLICATION_STOPPED",
        "value" : "REPLICATION_STOPPED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AppReplicationStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppReplicationStatus",
        "variableName" : "appReplicationStatus",
        "variableType" : "AppReplicationStatus",
        "documentation" : null,
        "simpleType" : "AppReplicationStatus",
        "variableSetterType" : "AppReplicationStatus"
      },
      "wrapper" : false
    },
    "AppStatus" : {
      "c2jName" : "AppStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CREATING",
        "value" : "CREATING"
      }, {
        "name" : "ACTIVE",
        "value" : "ACTIVE"
      }, {
        "name" : "UPDATING",
        "value" : "UPDATING"
      }, {
        "name" : "DELETING",
        "value" : "DELETING"
      }, {
        "name" : "DELETED",
        "value" : "DELETED"
      }, {
        "name" : "DELETE_FAILED",
        "value" : "DELETE_FAILED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AppStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppStatus",
        "variableName" : "appStatus",
        "variableType" : "AppStatus",
        "documentation" : null,
        "simpleType" : "AppStatus",
        "variableSetterType" : "AppStatus"
      },
      "wrapper" : false
    },
    "AppSummary" : {
      "c2jName" : "AppSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about the application.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "appId",
        "c2jShape" : "AppId",
        "deprecated" : false,
        "documentation" : "<p>Unique ID of the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique ID of the application.</p>\n@param appId Unique ID of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppId",
        "getterDocumentation" : "/**<p>Unique ID of the application.</p>\n@return Unique ID of the application.*/",
        "getterMethodName" : "getAppId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "appId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "appId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique ID of the application.</p>\n@param appId Unique ID of the application.*/",
        "setterMethodName" : "setAppId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique ID of the application.</p>\n@param appId Unique ID of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appId",
          "variableType" : "String",
          "documentation" : "<p>Unique ID of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "AppName",
        "deprecated" : false,
        "documentation" : "<p>Name of the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the application.</p>\n@param name Name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>Name of the application.</p>\n@return Name of the application.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Name of the application.</p>\n@param name Name of the application.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Name of the application.</p>\n@param name Name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>Name of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "AppDescription",
        "deprecated" : false,
        "documentation" : "<p>Description of the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Description of the application.</p>\n@param description Description of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>Description of the application.</p>\n@return Description of the application.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Description of the application.</p>\n@param description Description of the application.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Description of the application.</p>\n@param description Description of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>Description of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "AppStatus",
        "deprecated" : false,
        "documentation" : "<p>Status of the application.</p>",
        "enumType" : "AppStatus",
        "fluentSetterDocumentation" : "/**<p>Status of the application.</p>\n@param status Status of the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AppStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>Status of the application.</p>\n@return Status of the application.\n@see AppStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Status of the application.</p>\n@param status Status of the application.\n@see AppStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Status of the application.</p>\n@param status Status of the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AppStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>Status of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "statusMessage",
        "c2jShape" : "AppStatusMessage",
        "deprecated" : false,
        "documentation" : "<p>A message related to the status of the application</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A message related to the status of the application</p>\n@param statusMessage A message related to the status of the application\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatusMessage",
        "getterDocumentation" : "/**<p>A message related to the status of the application</p>\n@return A message related to the status of the application*/",
        "getterMethodName" : "getStatusMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "statusMessage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "statusMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StatusMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A message related to the status of the application</p>\n@param statusMessage A message related to the status of the application*/",
        "setterMethodName" : "setStatusMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A message related to the status of the application</p>\n@param statusMessage A message related to the status of the application\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusMessage",
          "variableType" : "String",
          "documentation" : "<p>A message related to the status of the application</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "replicationStatus",
        "c2jShape" : "AppReplicationStatus",
        "deprecated" : false,
        "documentation" : "<p>Replication status of the application.</p>",
        "enumType" : "AppReplicationStatus",
        "fluentSetterDocumentation" : "/**<p>Replication status of the application.</p>\n@param replicationStatus Replication status of the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AppReplicationStatus*/",
        "fluentSetterMethodName" : "withReplicationStatus",
        "getterDocumentation" : "/**<p>Replication status of the application.</p>\n@return Replication status of the application.\n@see AppReplicationStatus*/",
        "getterMethodName" : "getReplicationStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "replicationStatus",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "replicationStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReplicationStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Replication status of the application.</p>\n@param replicationStatus Replication status of the application.\n@see AppReplicationStatus*/",
        "setterMethodName" : "setReplicationStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "replicationStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Replication status of the application.</p>\n@param replicationStatus Replication status of the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AppReplicationStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "replicationStatus",
          "variableType" : "String",
          "documentation" : "<p>Replication status of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "replicationStatusMessage",
        "c2jShape" : "AppReplicationStatusMessage",
        "deprecated" : false,
        "documentation" : "<p>A message related to the replication status of the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A message related to the replication status of the application.</p>\n@param replicationStatusMessage A message related to the replication status of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReplicationStatusMessage",
        "getterDocumentation" : "/**<p>A message related to the replication status of the application.</p>\n@return A message related to the replication status of the application.*/",
        "getterMethodName" : "getReplicationStatusMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "replicationStatusMessage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "replicationStatusMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReplicationStatusMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A message related to the replication status of the application.</p>\n@param replicationStatusMessage A message related to the replication status of the application.*/",
        "setterMethodName" : "setReplicationStatusMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "replicationStatusMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A message related to the replication status of the application.</p>\n@param replicationStatusMessage A message related to the replication status of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "replicationStatusMessage",
          "variableType" : "String",
          "documentation" : "<p>A message related to the replication status of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "latestReplicationTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>Timestamp of the application's most recent successful replication.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Timestamp of the application's most recent successful replication.</p>\n@param latestReplicationTime Timestamp of the application's most recent successful replication.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLatestReplicationTime",
        "getterDocumentation" : "/**<p>Timestamp of the application's most recent successful replication.</p>\n@return Timestamp of the application's most recent successful replication.*/",
        "getterMethodName" : "getLatestReplicationTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
[...]
