{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-10-24",
    "asyncClient" : "AWSServerMigrationAsyncClient",
    "asyncClientBuilderClassName" : "AWSServerMigrationAsyncClientBuilder",
    "asyncInterface" : "AWSServerMigrationAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSServerMigrationModuleInjector",
    "defaultEndpoint" : "sms.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sms.us-east-1.amazonaws.com",
    "documentation" : "Amazon Server Migration Service automates the process of migrating servers to EC2.",
    "endpointPrefix" : "sms",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.servermigration",
    "packagePath" : "com/amazonaws/services/servermigration",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "SMS",
    "serviceFullName" : "AWS Server Migration Service",
    "serviceName" : "SMS",
    "signingName" : "sms",
    "smokeTestsPackageName" : "com.amazonaws.services.servermigration.smoketests",
    "syncClient" : "AWSServerMigrationClient",
    "syncClientBuilderClassName" : "AWSServerMigrationClientBuilder",
    "syncInterface" : "AWSServerMigration",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateReplicationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationJobRequest, CreateReplicationJobResult>",
      "asyncReturnType" : "CreateReplicationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The CreateReplicationJob API is used to create a ReplicationJob to replicate a server on AWS. Call this API to first create a ReplicationJob, which will then schedule periodic ReplicationRuns to replicate your server to AWS. Each ReplicationRun will result in the creation of an AWS AMI.",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "A parameter specified in the request is not valid, is unsupported, or cannot be used."
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "The request is missing a required parameter. Ensure that you have supplied all the required parameters for the request."
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "The specified operation is not allowed. This error can occur for a number of reasons; for example, you might be trying to start a Replication Run before seed Replication Run."
      }, {
        "exceptionName" : "ServerCannotBeReplicatedException",
        "documentation" : "The provided server cannot be replicated."
      }, {
        "exceptionName" : "ReplicationJobAlreadyExistsException",
        "documentation" : "An active Replication Job already exists for the specified server."
      }, {
        "exceptionName" : "NoConnectorsAvailableException",
        "documentation" : "No connectors are available to handle this request. Please associate connector(s) and verify any existing connectors are healthy and can respond to requests."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "An internal error has occured."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateReplicationJobRequest",
        "variableName" : "createReplicationJobRequest",
        "variableType" : "CreateReplicationJobRequest",
        "documentation" : "",
        "simpleType" : "CreateReplicationJobRequest",
        "variableSetterType" : "CreateReplicationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationJob",
      "operationName" : "CreateReplicationJob",
      "returnType" : {
        "returnType" : "CreateReplicationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateReplicationJobResult"
    },
    "DeleteReplicationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationJobRequest, DeleteReplicationJobResult>",
      "asyncReturnType" : "DeleteReplicationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The DeleteReplicationJob API is used to delete a ReplicationJob, resulting in no further ReplicationRuns. This will delete the contents of the S3 bucket used to store SMS artifacts, but will not delete any AMIs created by the SMS service.",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "A parameter specified in the request is not valid, is unsupported, or cannot be used."
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "The request is missing a required parameter. Ensure that you have supplied all the required parameters for the request."
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "The specified operation is not allowed. This error can occur for a number of reasons; for example, you might be trying to start a Replication Run before seed Replication Run."
      }, {
        "exceptionName" : "ReplicationJobNotFoundException",
        "documentation" : "The specified Replication Job cannot be found."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteReplicationJobRequest",
        "variableName" : "deleteReplicationJobRequest",
        "variableType" : "DeleteReplicationJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteReplicationJobRequest",
        "variableSetterType" : "DeleteReplicationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationJob",
      "operationName" : "DeleteReplicationJob",
      "returnType" : {
        "returnType" : "DeleteReplicationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteReplicationJobResult"
    },
    "DeleteServerCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteServerCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteServerCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteServerCatalogRequest, DeleteServerCatalogResult>",
      "asyncReturnType" : "DeleteServerCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The DeleteServerCatalog API clears all servers from your server catalog. This means that these servers will no longer be accessible to the Server Migration Service.",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "The specified operation is not allowed. This error can occur for a number of reasons; for example, you might be trying to start a Replication Run before seed Replication Run."
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "A parameter specified in the request is not valid, is unsupported, or cannot be used."
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "The request is missing a required parameter. Ensure that you have supplied all the required parameters for the request."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteServerCatalogRequest",
        "variableName" : "deleteServerCatalogRequest",
        "variableType" : "DeleteServerCatalogRequest",
        "documentation" : "",
        "simpleType" : "DeleteServerCatalogRequest",
        "variableSetterType" : "DeleteServerCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteServerCatalog",
      "operationName" : "DeleteServerCatalog",
      "returnType" : {
        "returnType" : "DeleteServerCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteServerCatalogResult"
    },
    "DisassociateConnector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateConnectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateConnectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateConnectorRequest, DisassociateConnectorResult>",
      "asyncReturnType" : "DisassociateConnectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The DisassociateConnector API will disassociate a connector from the Server Migration Service, rendering it unavailable to support replication jobs.",
      "exceptions" : [ {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "The request is missing a required parameter. Ensure that you have supplied all the required parameters for the request."
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "The specified operation is not allowed. This error can occur for a number of reasons; for example, you might be trying to start a Replication Run before seed Replication Run."
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "A parameter specified in the request is not valid, is unsupported, or cannot be used."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateConnectorRequest",
        "variableName" : "disassociateConnectorRequest",
        "variableType" : "DisassociateConnectorRequest",
        "documentation" : "",
        "simpleType" : "DisassociateConnectorRequest",
        "variableSetterType" : "DisassociateConnectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateConnector",
      "operationName" : "DisassociateConnector",
      "returnType" : {
        "returnType" : "DisassociateConnectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateConnectorResult"
    },
    "GetConnectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectorsRequest, GetConnectorsResult>",
      "asyncReturnType" : "GetConnectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The GetConnectors API returns a list of connectors that are registered with the Server Migration Service.",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetConnectorsRequest",
        "variableName" : "getConnectorsRequest",
        "variableType" : "GetConnectorsRequest",
        "documentation" : "",
        "simpleType" : "GetConnectorsRequest",
        "variableSetterType" : "GetConnectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnectors",
      "operationName" : "GetConnectors",
      "returnType" : {
        "returnType" : "GetConnectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConnectorsResult"
    },
    "GetReplicationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReplicationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReplicationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReplicationJobsRequest, GetReplicationJobsResult>",
      "asyncReturnType" : "GetReplicationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The GetReplicationJobs API will return all of your ReplicationJobs and their details. This API returns a paginated list, that may be consecutively called with nextToken to retrieve all ReplicationJobs.",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "A parameter specified in the request is not valid, is unsupported, or cannot be used."
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "The request is missing a required parameter. Ensure that you have supplied all the required parameters for the request."
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetReplicationJobsRequest",
        "variableName" : "getReplicationJobsRequest",
        "variableType" : "GetReplicationJobsRequest",
        "documentation" : "",
        "simpleType" : "GetReplicationJobsRequest",
        "variableSetterType" : "GetReplicationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReplicationJobs",
      "operationName" : "GetReplicationJobs",
      "returnType" : {
        "returnType" : "GetReplicationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReplicationJobsResult"
    },
    "GetReplicationRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReplicationRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReplicationRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReplicationRunsRequest, GetReplicationRunsResult>",
      "asyncReturnType" : "GetReplicationRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The GetReplicationRuns API will return all ReplicationRuns for a given ReplicationJob. This API returns a paginated list, that may be consecutively called with nextToken to retrieve all ReplicationRuns for a ReplicationJob.",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "A parameter specified in the request is not valid, is unsupported, or cannot be used."
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "The request is missing a required parameter. Ensure that you have supplied all the required parameters for the request."
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetReplicationRunsRequest",
        "variableName" : "getReplicationRunsRequest",
        "variableType" : "GetReplicationRunsRequest",
        "documentation" : "",
        "simpleType" : "GetReplicationRunsRequest",
        "variableSetterType" : "GetReplicationRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReplicationRuns",
      "operationName" : "GetReplicationRuns",
      "returnType" : {
        "returnType" : "GetReplicationRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReplicationRunsResult"
    },
    "GetServers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServersRequest, GetServersResult>",
      "asyncReturnType" : "GetServersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The GetServers API returns a list of all servers in your server catalog. For this call to succeed, you must previously have called ImportServerCatalog.",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetServersRequest",
        "variableName" : "getServersRequest",
        "variableType" : "GetServersRequest",
        "documentation" : "",
        "simpleType" : "GetServersRequest",
        "variableSetterType" : "GetServersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServers",
      "operationName" : "GetServers",
      "returnType" : {
        "returnType" : "GetServersResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServersResult"
    },
    "ImportServerCatalog" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportServerCatalogResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportServerCatalogResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportServerCatalogRequest, ImportServerCatalogResult>",
      "asyncReturnType" : "ImportServerCatalogResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The ImportServerCatalog API is used to gather the complete list of on-premises servers on your premises. This API call requires connectors to be installed and monitoring all servers you would like imported. This API call returns immediately, but may take some time to retrieve all of the servers.",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "The specified operation is not allowed. This error can occur for a number of reasons; for example, you might be trying to start a Replication Run before seed Replication Run."
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "A parameter specified in the request is not valid, is unsupported, or cannot be used."
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "The request is missing a required parameter. Ensure that you have supplied all the required parameters for the request."
      }, {
        "exceptionName" : "NoConnectorsAvailableException",
        "documentation" : "No connectors are available to handle this request. Please associate connector(s) and verify any existing connectors are healthy and can respond to requests."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ImportServerCatalogRequest",
        "variableName" : "importServerCatalogRequest",
        "variableType" : "ImportServerCatalogRequest",
        "documentation" : "",
        "simpleType" : "ImportServerCatalogRequest",
        "variableSetterType" : "ImportServerCatalogRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importServerCatalog",
      "operationName" : "ImportServerCatalog",
      "returnType" : {
        "returnType" : "ImportServerCatalogResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportServerCatalogResult"
    },
    "StartOnDemandReplicationRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartOnDemandReplicationRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartOnDemandReplicationRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartOnDemandReplicationRunRequest, StartOnDemandReplicationRunResult>",
      "asyncReturnType" : "StartOnDemandReplicationRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The StartOnDemandReplicationRun API is used to start a ReplicationRun on demand (in addition to those that are scheduled based on your frequency). This ReplicationRun will start immediately. StartOnDemandReplicationRun is subject to limits on how many on demand ReplicationRuns you may call per 24-hour period.",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "A parameter specified in the request is not valid, is unsupported, or cannot be used."
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "The request is missing a required parameter. Ensure that you have supplied all the required parameters for the request."
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "The specified operation is not allowed. This error can occur for a number of reasons; for example, you might be trying to start a Replication Run before seed Replication Run."
      }, {
        "exceptionName" : "ReplicationRunLimitExceededException",
        "documentation" : "This user has exceeded the maximum allowed Replication Run limit."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartOnDemandReplicationRunRequest",
        "variableName" : "startOnDemandReplicationRunRequest",
        "variableType" : "StartOnDemandReplicationRunRequest",
        "documentation" : "",
        "simpleType" : "StartOnDemandReplicationRunRequest",
        "variableSetterType" : "StartOnDemandReplicationRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startOnDemandReplicationRun",
      "operationName" : "StartOnDemandReplicationRun",
      "returnType" : {
        "returnType" : "StartOnDemandReplicationRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StartOnDemandReplicationRunResult"
    },
    "UpdateReplicationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReplicationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReplicationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReplicationJobRequest, UpdateReplicationJobResult>",
      "asyncReturnType" : "UpdateReplicationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "The UpdateReplicationJob API is used to change the settings of your existing ReplicationJob created using CreateReplicationJob. Calling this API will affect the next scheduled ReplicationRun.",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "A parameter specified in the request is not valid, is unsupported, or cannot be used."
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "The request is missing a required parameter. Ensure that you have supplied all the required parameters for the request."
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "The specified operation is not allowed. This error can occur for a number of reasons; for example, you might be trying to start a Replication Run before seed Replication Run."
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "This user does not have permissions to perform this operation."
      }, {
        "exceptionName" : "ServerCannotBeReplicatedException",
        "documentation" : "The provided server cannot be replicated."
      }, {
        "exceptionName" : "ReplicationJobNotFoundException",
        "documentation" : "The specified Replication Job cannot be found."
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "An internal error has occured."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateReplicationJobRequest",
        "variableName" : "updateReplicationJobRequest",
        "variableType" : "UpdateReplicationJobRequest",
        "documentation" : "",
        "simpleType" : "UpdateReplicationJobRequest",
        "variableSetterType" : "UpdateReplicationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReplicationJob",
      "operationName" : "UpdateReplicationJob",
      "returnType" : {
        "returnType" : "UpdateReplicationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateReplicationJobResult"
    }
  },
  "shapes" : {
    "Connector" : {
      "c2jName" : "Connector",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Object representing a Connector",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "connectorId",
        "c2jShape" : "ConnectorId",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param connectorId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "connectorId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectorId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ConnectorId",
        "setterDocumentation" : "/**\n@param connectorId */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectorId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param connectorId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectorId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "version",
        "c2jShape" : "ConnectorVersion",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param version \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "version",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "version",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Version",
        "setterDocumentation" : "/**\n@param version */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "version",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param version \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "version",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "ConnectorStatus",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "ConnectorStatus",
        "fluentSetterDocumentation" : "/**\n@param status \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorStatus*/",
        "getterDocumentation" : "/**\n@return \n@see ConnectorStatus*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Status",
        "setterDocumentation" : "/**\n@param status \n@see ConnectorStatus*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param status \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorStatus*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "capabilityList",
        "c2jShape" : "ConnectorCapabilityList",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "ConnectorCapability",
        "fluentSetterDocumentation" : "/**\n@param capabilityList \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorCapability*/",
        "getterDocumentation" : "/**\n@return \n@see ConnectorCapability*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "capabilityList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "capabilityList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ConnectorCapability",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : "ConnectorCapability",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorCapability*/",
            "getterDocumentation" : "/**\n@return \n@see ConnectorCapability*/",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "item",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "item",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member \n@see ConnectorCapability*/",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorCapability*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : "item",
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "CapabilityList",
        "setterDocumentation" : "/**\n@param capabilityList \n@see ConnectorCapability*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "capabilityList",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCapabilityList(java.util.Collection)} or {@link #withCapabilityList(java.util.Collection)} if you want to override the existing values.</p>\n@param capabilityList \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorCapability*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "capabilityList",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "vmManagerName",
        "c2jShape" : "VmManagerName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param vmManagerName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "vmManagerName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "vmManagerName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "VmManagerName",
        "setterDocumentation" : "/**\n@param vmManagerName */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "vmManagerName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param vmManagerName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "vmManagerName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "vmManagerType",
        "c2jShape" : "VmManagerType",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "VmManagerType",
        "fluentSetterDocumentation" : "/**\n@param vmManagerType \n@return Returns a reference to this object so that method calls can be chained together.\n@see VmManagerType*/",
        "getterDocumentation" : "/**\n@return \n@see VmManagerType*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "vmManagerType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "vmManagerType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "VmManagerType",
        "setterDocumentation" : "/**\n@param vmManagerType \n@see VmManagerType*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "vmManagerType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param vmManagerType \n@return Returns a reference to this object so that method calls can be chained together.\n@see VmManagerType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "vmManagerType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "vmManagerId",
        "c2jShape" : "VmManagerId",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param vmManagerId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "vmManagerId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "vmManagerId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "VmManagerId",
        "setterDocumentation" : "/**\n@param vmManagerId */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "vmManagerId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param vmManagerId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "vmManagerId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ipAddress",
        "c2jShape" : "IpAddress",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param ipAddress \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ipAddress",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ipAddress",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "IpAddress",
        "setterDocumentation" : "/**\n@param ipAddress */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "ipAddress",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param ipAddress \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "ipAddress",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "macAddress",
        "c2jShape" : "MacAddress",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param macAddress \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "macAddress",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "macAddress",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "MacAddress",
        "setterDocumentation" : "/**\n@param macAddress */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "macAddress",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param macAddress \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "macAddress",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "associatedOn",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param associatedOn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "associatedOn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "associatedOn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AssociatedOn",
        "setterDocumentation" : "/**\n@param associatedOn */",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "associatedOn",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param associatedOn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "associatedOn",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AssociatedOn" : {
          "c2jName" : "associatedOn",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param associatedOn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "associatedOn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "associatedOn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AssociatedOn",
          "setterDocumentation" : "/**\n@param associatedOn */",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "associatedOn",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param associatedOn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "associatedOn",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "CapabilityList" : {
          "c2jName" : "capabilityList",
          "c2jShape" : "ConnectorCapabilityList",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : "ConnectorCapability",
          "fluentSetterDocumentation" : "/**\n@param capabilityList \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorCapability*/",
          "getterDocumentation" : "/**\n@return \n@see ConnectorCapability*/",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "capabilityList",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "capabilityList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ConnectorCapability",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : "ConnectorCapability",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorCapability*/",
              "getterDocumentation" : "/**\n@return \n@see ConnectorCapability*/",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "item",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "item",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member \n@see ConnectorCapability*/",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorCapability*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : "item",
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "CapabilityList",
          "setterDocumentation" : "/**\n@param capabilityList \n@see ConnectorCapability*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "capabilityList",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCapabilityList(java.util.Collection)} or {@link #withCapabilityList(java.util.Collection)} if you want to override the existing values.</p>\n@param capabilityList \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorCapability*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "capabilityList",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "ConnectorId" : {
          "c2jName" : "connectorId",
          "c2jShape" : "ConnectorId",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param connectorId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "connectorId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "connectorId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ConnectorId",
          "setterDocumentation" : "/**\n@param connectorId */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "connectorId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param connectorId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "connectorId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "IpAddress" : {
          "c2jName" : "ipAddress",
          "c2jShape" : "IpAddress",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param ipAddress \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ipAddress",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ipAddress",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "IpAddress",
          "setterDocumentation" : "/**\n@param ipAddress */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "ipAddress",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param ipAddress \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "ipAddress",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MacAddress" : {
          "c2jName" : "macAddress",
          "c2jShape" : "MacAddress",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param macAddress \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "macAddress",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "macAddress",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "MacAddress",
          "setterDocumentation" : "/**\n@param macAddress */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "macAddress",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param macAddress \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "macAddress",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "status",
          "c2jShape" : "ConnectorStatus",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : "ConnectorStatus",
          "fluentSetterDocumentation" : "/**\n@param status \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorStatus*/",
          "getterDocumentation" : "/**\n@return \n@see ConnectorStatus*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Status",
          "setterDocumentation" : "/**\n@param status \n@see ConnectorStatus*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param status \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectorStatus*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Version" : {
          "c2jName" : "version",
          "c2jShape" : "ConnectorVersion",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param version \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "version",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "version",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Version",
          "setterDocumentation" : "/**\n@param version */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "version",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param version \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "version",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VmManagerId" : {
          "c2jName" : "vmManagerId",
          "c2jShape" : "VmManagerId",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param vmManagerId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "vmManagerId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "vmManagerId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "VmManagerId",
          "setterDocumentation" : "/**\n@param vmManagerId */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "vmManagerId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param vmManagerId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "vmManagerId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VmManagerName" : {
          "c2jName" : "vmManagerName",
          "c2jShape" : "VmManagerName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param vmManagerName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "vmManagerName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "vmManagerName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "VmManagerName",
          "setterDocumentation" : "/**\n@param vmManagerName */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "vmManagerName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param vmManagerName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "vmManagerName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VmManagerType" : {
          "c2jName" : "vmManagerType",
          "c2jShape" : "VmManagerType",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : "VmManagerType",
          "fluentSetterDocumentation" : "/**\n@param vmManagerType \n@return Returns a reference to this object so that method calls can be chained together.\n@see VmManagerType*/",
          "getterDocumentation" : "/**\n@return \n@see VmManagerType*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "vmManagerType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "vmManagerType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "VmManagerType",
          "setterDocumentation" : "/**\n@param vmManagerType \n@see VmManagerType*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "vmManagerType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param vmManagerType \n@return Returns a reference to this object so that method calls can be chained together.\n@see VmManagerType*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "vmManagerType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "Connector",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Connector",
        "variableName" : "connector",
        "variableType" : "Connector",
        "documentation" : null,
        "simpleType" : "Connector",
        "variableSetterType" : "Connector"
      },
      "wrapper" : false
    },
    "ConnectorCapability" : {
      "c2jName" : "ConnectorCapability",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Capabilities for a Connector",
      "enums" : [ {
        "name" : "VSPHERE",
        "value" : "VSPHERE"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ConnectorCapability",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ConnectorCapability",
        "variableName" : "connectorCapability",
        "variableType" : "ConnectorCapability",
        "documentation" : null,
        "simpleType" : "ConnectorCapability",
        "variableSetterType" : "ConnectorCapability"
      },
      "wrapper" : false
    },
    "ConnectorStatus" : {
      "c2jName" : "ConnectorStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Status of on-premise Connector",
      "enums" : [ {
        "name" : "HEALTHY",
        "value" : "HEALTHY"
      }, {
        "name" : "UNHEALTHY",
        "value" : "UNHEALTHY"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ConnectorStatus",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ConnectorStatus",
        "variableName" : "connectorStatus",
        "variableType" : "ConnectorStatus",
        "documentation" : null,
        "simpleType" : "ConnectorStatus",
        "variableSetterType" : "ConnectorStatus"
      },
      "wrapper" : false
    },
    "CreateReplicationJobRequest" : {
      "c2jName" : "CreateReplicationJobRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateReplicationJob",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSServerMigrationService_V2016_10_24.CreateReplicationJob",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "serverId",
        "c2jShape" : "ServerId",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param serverId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "serverId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "serverId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ServerId",
        "setterDocumentation" : "/**\n@param serverId */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "serverId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param serverId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "serverId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "seedReplicationTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param seedReplicationTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "seedReplicationTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "seedReplicationTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SeedReplicationTime",
        "setterDocumentation" : "/**\n@param seedReplicationTime */",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "seedReplicationTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param seedReplicationTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "seedReplicationTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "frequency",
        "c2jShape" : "Frequency",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param frequency \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "frequency",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "frequency",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Frequency",
        "setterDocumentation" : "/**\n@param frequency */",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "frequency",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param frequency \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "frequency",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "licenseType",
        "c2jShape" : "LicenseType",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "LicenseType",
        "fluentSetterDocumentation" : "/**\n@param licenseType \n@return Returns a reference to this object so that method calls can be chained together.\n@see LicenseType*/",
        "getterDocumentation" : "/**\n@return \n@see LicenseType*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "licenseType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "licenseType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "LicenseType",
        "setterDocumentation" : "/**\n@param licenseType \n@see LicenseType*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "licenseType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param licenseType \n@return Returns a reference to this object so that method calls can be chained together.\n@see LicenseType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "licenseType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "roleName",
        "c2jShape" : "RoleName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param roleName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "roleName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "roleName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "RoleName",
        "setterDocumentation" : "/**\n@param roleName */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "roleName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param roleName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "roleName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Description",
        "setterDocumentation" : "/**\n@param description */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "description",
          "c2jShape" : "Description",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Description",
          "setterDocumentation" : "/**\n@param description */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param description \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Frequency" : {
          "c2jName" : "frequency",
          "c2jShape" : "Frequency",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param frequency \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "frequency",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "frequency",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Frequency",
          "setterDocumentation" : "/**\n@param frequency */",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "frequency",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param frequency \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "frequency",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "LicenseType" : {
          "c2jName" : "licenseType",
          "c2jShape" : "LicenseType",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : "LicenseType",
          "fluentSetterDocumentation" : "/**\n@param licenseType \n@return Returns a reference to this object so that method calls can be chained together.\n@see LicenseType*/",
          "getterDocumentation" : "/**\n@return \n@see LicenseType*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "licenseType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "licenseType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "LicenseType",
          "setterDocumentation" : "/**\n@param licenseType \n@see LicenseType*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "licenseType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param licenseType \n@return Returns a reference to this object so that method calls can be chained together.\n@see LicenseType*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "licenseType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RoleName" : {
          "c2jName" : "roleName",
          "c2jShape" : "RoleName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param roleName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "roleName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "roleName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "RoleName",
          "setterDocumentation" : "/**\n@param roleName */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "roleName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param roleName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "roleName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SeedReplicationTime" : {
          "c2jName" : "seedReplicationTime",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param seedReplicationTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "seedReplicationTime",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "seedReplicationTime",
[...]
