{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-08-04",
    "asyncClient" : "AWSSnowDeviceManagementAsyncClient",
    "asyncClientBuilderClassName" : "AWSSnowDeviceManagementAsyncClientBuilder",
    "asyncInterface" : "AWSSnowDeviceManagementAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSSnowDeviceManagementModuleInjector",
    "defaultEndpoint" : "snow-device-management.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "snow-device-management.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Web Services Snow Device Management documentation.</p>",
    "endpointPrefix" : "snow-device-management",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.snowdevicemanagement",
    "packagePath" : "com/amazonaws/services/snowdevicemanagement",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Snow Device Management",
    "serviceId" : "Snow Device Management",
    "serviceName" : "AWS Snow Device Management",
    "signingName" : "snow-device-management",
    "smokeTestsPackageName" : "com.amazonaws.services.snowdevicemanagement.smoketests",
    "syncClient" : "AWSSnowDeviceManagementClient",
    "syncClientBuilderClassName" : "AWSSnowDeviceManagementClientBuilder",
    "syncInterface" : "AWSSnowDeviceManagement",
    "uid" : "snow-device-management-2021-08-04",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelTaskRequest, CancelTaskResult>",
      "asyncReturnType" : "CancelTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends a cancel request for a specified task. You can cancel a task only if it's still in a <code>QUEUED</code> state. Tasks that are already running can't be cancelled.</p> <note> <p>A task might still run if it's processed from the queue before the <code>CancelTask</code> operation changes the task's state.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelTaskRequest",
        "variableName" : "cancelTaskRequest",
        "variableType" : "CancelTaskRequest",
        "documentation" : "",
        "simpleType" : "CancelTaskRequest",
        "variableSetterType" : "CancelTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelTask",
      "operationName" : "CancelTask",
      "returnType" : {
        "returnType" : "CancelTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelTaskResult"
    },
    "CreateTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTaskRequest, CreateTaskResult>",
      "asyncReturnType" : "CreateTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Instructs one or more devices to start a task, such as unlocking or rebooting.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTaskRequest",
        "variableName" : "createTaskRequest",
        "variableType" : "CreateTaskRequest",
        "documentation" : "",
        "simpleType" : "CreateTaskRequest",
        "variableSetterType" : "CreateTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTask",
      "operationName" : "CreateTask",
      "returnType" : {
        "returnType" : "CreateTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTaskResult"
    },
    "DescribeDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeviceRequest, DescribeDeviceResult>",
      "asyncReturnType" : "DescribeDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks device-specific information, such as the device type, software version, IP addresses, and lock status.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeviceRequest",
        "variableName" : "describeDeviceRequest",
        "variableType" : "DescribeDeviceRequest",
        "documentation" : "",
        "simpleType" : "DescribeDeviceRequest",
        "variableSetterType" : "DescribeDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDevice",
      "operationName" : "DescribeDevice",
      "returnType" : {
        "returnType" : "DescribeDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDeviceResult"
    },
    "DescribeDeviceEc2Instances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeviceEc2InstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeviceEc2InstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeviceEc2InstancesRequest, DescribeDeviceEc2InstancesResult>",
      "asyncReturnType" : "DescribeDeviceEc2InstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks the current state of the Amazon EC2 instances. The output is similar to <code>describeDevice</code>, but the results are sourced from the device cache in the Amazon Web Services Cloud and include a subset of the available fields. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeviceEc2InstancesRequest",
        "variableName" : "describeDeviceEc2InstancesRequest",
        "variableType" : "DescribeDeviceEc2InstancesRequest",
        "documentation" : "",
        "simpleType" : "DescribeDeviceEc2InstancesRequest",
        "variableSetterType" : "DescribeDeviceEc2InstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDeviceEc2Instances",
      "operationName" : "DescribeDeviceEc2Instances",
      "returnType" : {
        "returnType" : "DescribeDeviceEc2InstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDeviceEc2InstancesResult"
    },
    "DescribeExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExecutionRequest, DescribeExecutionResult>",
      "asyncReturnType" : "DescribeExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks the status of a remote task running on one or more target devices.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeExecutionRequest",
        "variableName" : "describeExecutionRequest",
        "variableType" : "DescribeExecutionRequest",
        "documentation" : "",
        "simpleType" : "DescribeExecutionRequest",
        "variableSetterType" : "DescribeExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeExecution",
      "operationName" : "DescribeExecution",
      "returnType" : {
        "returnType" : "DescribeExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeExecutionResult"
    },
    "DescribeTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTaskRequest, DescribeTaskResult>",
      "asyncReturnType" : "DescribeTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks the metadata for a given task on a device. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTaskRequest",
        "variableName" : "describeTaskRequest",
        "variableType" : "DescribeTaskRequest",
        "documentation" : "",
        "simpleType" : "DescribeTaskRequest",
        "variableSetterType" : "DescribeTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTask",
      "operationName" : "DescribeTask",
      "returnType" : {
        "returnType" : "DescribeTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTaskResult"
    },
    "ListDeviceResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeviceResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeviceResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeviceResourcesRequest, ListDeviceResourcesResult>",
      "asyncReturnType" : "ListDeviceResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the Amazon Web Services resources available for a device. Currently, Amazon EC2 instances are the only supported resource type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDeviceResourcesRequest",
        "variableName" : "listDeviceResourcesRequest",
        "variableType" : "ListDeviceResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListDeviceResourcesRequest",
        "variableSetterType" : "ListDeviceResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeviceResources",
      "operationName" : "ListDeviceResources",
      "returnType" : {
        "returnType" : "ListDeviceResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeviceResourcesResult"
    },
    "ListDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicesRequest, ListDevicesResult>",
      "asyncReturnType" : "ListDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all devices on your Amazon Web Services account that have Amazon Web Services Snow Device Management enabled in the Amazon Web Services Region where the command is run.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDevicesRequest",
        "variableName" : "listDevicesRequest",
        "variableType" : "ListDevicesRequest",
        "documentation" : "",
        "simpleType" : "ListDevicesRequest",
        "variableSetterType" : "ListDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDevices",
      "operationName" : "ListDevices",
      "returnType" : {
        "returnType" : "ListDevicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDevicesResult"
    },
    "ListExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExecutionsRequest, ListExecutionsResult>",
      "asyncReturnType" : "ListExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the status of tasks for one or more target devices.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExecutionsRequest",
        "variableName" : "listExecutionsRequest",
        "variableType" : "ListExecutionsRequest",
        "documentation" : "",
        "simpleType" : "ListExecutionsRequest",
        "variableSetterType" : "ListExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExecutions",
      "operationName" : "ListExecutions",
      "returnType" : {
        "returnType" : "ListExecutionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExecutionsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags for a managed device or task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTasksRequest, ListTasksResult>",
      "asyncReturnType" : "ListTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tasks that can be filtered by state.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTasksRequest",
        "variableName" : "listTasksRequest",
        "variableType" : "ListTasksRequest",
        "documentation" : "",
        "simpleType" : "ListTasksRequest",
        "variableSetterType" : "ListTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTasks",
      "operationName" : "ListTasks",
      "returnType" : {
        "returnType" : "ListTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTasksResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or replaces tags on a device or task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag from a device or task.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.snowdevicemanagement.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.snowdevicemanagement.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AttachmentStatus" : {
      "c2jName" : "AttachmentStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "ATTACHING",
        "value" : "ATTACHING"
      }, {
        "name" : "ATTACHED",
        "value" : "ATTACHED"
      }, {
        "name" : "DETACHING",
        "value" : "DETACHING"
      }, {
        "name" : "DETACHED",
        "value" : "DETACHED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.snowdevicemanagement.enum.AttachmentStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.snowdevicemanagement.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AttachmentStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AttachmentStatus",
        "variableName" : "attachmentStatus",
        "variableType" : "AttachmentStatus",
        "documentation" : null,
        "simpleType" : "AttachmentStatus",
        "variableSetterType" : "AttachmentStatus"
      },
      "wrapper" : false
    },
    "CancelTaskRequest" : {
      "c2jName" : "CancelTaskInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.snowdevicemanagement.request.CancelTaskRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelTask",
        "locationName" : null,
        "requestUri" : "/task/{taskId}/cancel",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "taskId",
        "c2jShape" : "TaskId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>\n@param taskId The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTaskId",
        "getterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>\n@return The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.*/",
        "getterMethodName" : "getTaskId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "taskId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "taskId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TaskId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>\n@param taskId The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.*/",
        "setterMethodName" : "setTaskId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "taskId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>\n@param taskId The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "taskId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TaskId" : {
          "c2jName" : "taskId",
          "c2jShape" : "TaskId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>\n@param taskId The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTaskId",
          "getterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>\n@return The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.*/",
          "getterMethodName" : "getTaskId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "taskId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "taskId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TaskId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>\n@param taskId The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.*/",
          "setterMethodName" : "setTaskId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "taskId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>\n@param taskId The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "taskId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the task that you are attempting to cancel. You can retrieve a task ID by using the <code>ListTasks</code> operation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.snowdevicemanagement.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "taskId" ],
      "shapeName" : "CancelTaskRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelTaskRequest",
        "variableName" : "cancelTaskRequest",
        "variableType" : "CancelTaskRequest",
        "documentation" : null,
        "simpleType" : "CancelTaskRequest",
        "variableSetterType" : "CancelTaskRequest"
      },
      "wrapper" : false
    },
    "CancelTaskResult" : {
      "c2jName" : "CancelTaskOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.snowdevicemanagement.response.CancelTaskResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "taskId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The ID of the task that you are attempting to cancel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel.</p>\n@param taskId The ID of the task that you are attempting to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTaskId",
        "getterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel.</p>\n@return The ID of the task that you are attempting to cancel.*/",
        "getterMethodName" : "getTaskId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "taskId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "taskId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TaskId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel.</p>\n@param taskId The ID of the task that you are attempting to cancel.*/",
        "setterMethodName" : "setTaskId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "taskId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel.</p>\n@param taskId The ID of the task that you are attempting to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "taskId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the task that you are attempting to cancel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TaskId" : {
          "c2jName" : "taskId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The ID of the task that you are attempting to cancel.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel.</p>\n@param taskId The ID of the task that you are attempting to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTaskId",
          "getterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel.</p>\n@return The ID of the task that you are attempting to cancel.*/",
          "getterMethodName" : "getTaskId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "taskId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "taskId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TaskId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel.</p>\n@param taskId The ID of the task that you are attempting to cancel.*/",
          "setterMethodName" : "setTaskId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "taskId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the task that you are attempting to cancel.</p>\n@param taskId The ID of the task that you are attempting to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "taskId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the task that you are attempting to cancel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.snowdevicemanagement.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CancelTaskResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelTaskResult",
        "variableName" : "cancelTaskResult",
        "variableType" : "CancelTaskResult",
        "documentation" : null,
        "simpleType" : "CancelTaskResult",
        "variableSetterType" : "CancelTaskResult"
      },
      "wrapper" : false
    },
    "Capacity" : {
      "c2jName" : "Capacity",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The physical capacity of the Amazon Web Services Snow Family device. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.snowdevicemanagement.model.Capacity",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "available",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The amount of capacity available for use on the device.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The amount of capacity available for use on the device.</p>\n@param available The amount of capacity available for use on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAvailable",
        "getterDocumentation" : "/**<p>The amount of capacity available for use on the device.</p>\n@return The amount of capacity available for use on the device.*/",
        "getterMethodName" : "getAvailable",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "available",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "available",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Available",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The amount of capacity available for use on the device.</p>\n@param available The amount of capacity available for use on the device.*/",
        "setterMethodName" : "setAvailable",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "available",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The amount of capacity available for use on the device.</p>\n@param available The amount of capacity available for use on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "available",
          "variableType" : "Long",
          "documentation" : "<p>The amount of capacity available for use on the device.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "CapacityNameString",
        "deprecated" : false,
        "documentation" : "<p>The name of the type of capacity, such as memory.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the type of capacity, such as memory.</p>\n@param name The name of the type of capacity, such as memory.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the type of capacity, such as memory.</p>\n@return The name of the type of capacity, such as memory.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the type of capacity, such as memory.</p>\n@param name The name of the type of capacity, such as memory.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the type of capacity, such as memory.</p>\n@param name The name of the type of capacity, such as memory.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the type of capacity, such as memory.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "total",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The total capacity on the device.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The total capacity on the device.</p>\n@param total The total capacity on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTotal",
        "getterDocumentation" : "/**<p>The total capacity on the device.</p>\n@return The total capacity on the device.*/",
        "getterMethodName" : "getTotal",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "total",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "total",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Total",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The total capacity on the device.</p>\n@param total The total capacity on the device.*/",
        "setterMethodName" : "setTotal",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "total",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The total capacity on the device.</p>\n@param total The total capacity on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "total",
          "variableType" : "Long",
          "documentation" : "<p>The total capacity on the device.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "unit",
        "c2jShape" : "CapacityUnitString",
        "deprecated" : false,
        "documentation" : "<p>The unit of measure for the type of capacity.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unit of measure for the type of capacity.</p>\n@param unit The unit of measure for the type of capacity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUnit",
        "getterDocumentation" : "/**<p>The unit of measure for the type of capacity.</p>\n@return The unit of measure for the type of capacity.*/",
        "getterMethodName" : "getUnit",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "unit",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "unit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Unit",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unit of measure for the type of capacity.</p>\n@param unit The unit of measure for the type of capacity.*/",
        "setterMethodName" : "setUnit",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "unit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unit of measure for the type of capacity.</p>\n@param unit The unit of measure for the type of capacity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "unit",
          "variableType" : "String",
          "documentation" : "<p>The unit of measure for the type of capacity.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "used",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The amount of capacity used on the device.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The amount of capacity used on the device.</p>\n@param used The amount of capacity used on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsed",
        "getterDocumentation" : "/**<p>The amount of capacity used on the device.</p>\n@return The amount of capacity used on the device.*/",
        "getterMethodName" : "getUsed",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "used",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "used",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Used",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The amount of capacity used on the device.</p>\n@param used The amount of capacity used on the device.*/",
        "setterMethodName" : "setUsed",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "used",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The amount of capacity used on the device.</p>\n@param used The amount of capacity used on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "used",
          "variableType" : "Long",
          "documentation" : "<p>The amount of capacity used on the device.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Available" : {
          "c2jName" : "available",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The amount of capacity available for use on the device.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The amount of capacity available for use on the device.</p>\n@param available The amount of capacity available for use on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAvailable",
          "getterDocumentation" : "/**<p>The amount of capacity available for use on the device.</p>\n@return The amount of capacity available for use on the device.*/",
          "getterMethodName" : "getAvailable",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "available",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "available",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "Available",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The amount of capacity available for use on the device.</p>\n@param available The amount of capacity available for use on the device.*/",
          "setterMethodName" : "setAvailable",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "available",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The amount of capacity available for use on the device.</p>\n@param available The amount of capacity available for use on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "available",
            "variableType" : "Long",
            "documentation" : "<p>The amount of capacity available for use on the device.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "name",
          "c2jShape" : "CapacityNameString",
          "deprecated" : false,
          "documentation" : "<p>The name of the type of capacity, such as memory.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the type of capacity, such as memory.</p>\n@param name The name of the type of capacity, such as memory.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the type of capacity, such as memory.</p>\n@return The name of the type of capacity, such as memory.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the type of capacity, such as memory.</p>\n@param name The name of the type of capacity, such as memory.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the type of capacity, such as memory.</p>\n@param name The name of the type of capacity, such as memory.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the type of capacity, such as memory.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Total" : {
          "c2jName" : "total",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The total capacity on the device.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The total capacity on the device.</p>\n@param total The total capacity on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTotal",
          "getterDocumentation" : "/**<p>The total capacity on the device.</p>\n@return The total capacity on the device.*/",
          "getterMethodName" : "getTotal",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "total",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "total",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "Total",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The total capacity on the device.</p>\n@param total The total capacity on the device.*/",
          "setterMethodName" : "setTotal",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "total",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The total capacity on the device.</p>\n@param total The total capacity on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "total",
            "variableType" : "Long",
            "documentation" : "<p>The total capacity on the device.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "Unit" : {
          "c2jName" : "unit",
          "c2jShape" : "CapacityUnitString",
          "deprecated" : false,
          "documentation" : "<p>The unit of measure for the type of capacity.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unit of measure for the type of capacity.</p>\n@param unit The unit of measure for the type of capacity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUnit",
          "getterDocumentation" : "/**<p>The unit of measure for the type of capacity.</p>\n@return The unit of measure for the type of capacity.*/",
          "getterMethodName" : "getUnit",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "unit",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "unit",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Unit",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unit of measure for the type of capacity.</p>\n@param unit The unit of measure for the type of capacity.*/",
          "setterMethodName" : "setUnit",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "unit",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unit of measure for the type of capacity.</p>\n@param unit The unit of measure for the type of capacity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "unit",
            "variableType" : "String",
            "documentation" : "<p>The unit of measure for the type of capacity.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Used" : {
          "c2jName" : "used",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The amount of capacity used on the device.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The amount of capacity used on the device.</p>\n@param used The amount of capacity used on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUsed",
          "getterDocumentation" : "/**<p>The amount of capacity used on the device.</p>\n@return The amount of capacity used on the device.*/",
          "getterMethodName" : "getUsed",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "used",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "used",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "Used",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The amount of capacity used on the device.</p>\n@param used The amount of capacity used on the device.*/",
          "setterMethodName" : "setUsed",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "used",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The amount of capacity used on the device.</p>\n@param used The amount of capacity used on the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "used",
            "variableType" : "Long",
            "documentation" : "<p>The amount of capacity used on the device.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.snowdevicemanagement.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Capacity",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Capacity",
        "variableName" : "capacity",
        "variableType" : "Capacity",
        "documentation" : null,
        "simpleType" : "Capacity",
        "variableSetterType" : "Capacity"
      },
      "wrapper" : false
    },
    "Command" : {
      "c2jName" : "Command",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The command given to the device to execute.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.snowdevicemanagement.model.Command",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "reboot",
        "c2jShape" : "Reboot",
        "deprecated" : false,
        "documentation" : "<p>Reboots the device.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Reboots the device.</p>\n@param reboot Reboots the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReboot",
        "getterDocumentation" : "/**<p>Reboots the device.</p>\n@return Reboots the device.*/",
        "getterMethodName" : "getReboot",
        "getterModel" : {
          "returnType" : "Reboot",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "reboot",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "reboot",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Reboot",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Reboots the device.</p>\n@param reboot Reboots the device.*/",
        "setterMethodName" : "setReboot",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Reboot",
          "variableName" : "reboot",
          "variableType" : "Reboot",
          "documentation" : "",
          "simpleType" : "Reboot",
          "variableSetterType" : "Reboot"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Reboots the device.</p>\n@param reboot Reboots the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Reboot",
          "variableName" : "reboot",
          "variableType" : "Reboot",
          "documentation" : "<p>Reboots the device.</p>",
          "simpleType" : "Reboot",
          "variableSetterType" : "Reboot"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "unlock",
        "c2jShape" : "Unlock",
        "deprecated" : false,
        "documentation" : "<p>Unlocks the device.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unlocks the device.</p>\n@param unlock Unlocks the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUnlock",
        "getterDocumentation" : "/**<p>Unlocks the device.</p>\n@return Unlocks the device.*/",
        "getterMethodName" : "getUnlock",
        "getterModel" : {
          "returnType" : "Unlock",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "unlock",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "unlock",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Unlock",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unlocks the device.</p>\n@param unlock Unlocks the device.*/",
        "setterMethodName" : "setUnlock",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Unlock",
          "variableName" : "unlock",
          "variableType" : "Unlock",
          "documentation" : "",
          "simpleType" : "Unlock",
          "variableSetterType" : "Unlock"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unlocks the device.</p>\n@param unlock Unlocks the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Unlock",
          "variableName" : "unlock",
          "variableType" : "Unlock",
          "documentation" : "<p>Unlocks the device.</p>",
          "simpleType" : "Unlock",
          "variableSetterType" : "Unlock"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Reboot" : {
          "c2jName" : "reboot",
          "c2jShape" : "Reboot",
          "deprecated" : false,
          "documentation" : "<p>Reboots the device.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Reboots the device.</p>\n@param reboot Reboots the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReboot",
          "getterDocumentation" : "/**<p>Reboots the device.</p>\n@return Reboots the device.*/",
          "getterMethodName" : "getReboot",
          "getterModel" : {
            "returnType" : "Reboot",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "reboot",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "reboot",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Reboot",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Reboots the device.</p>\n@param reboot Reboots the device.*/",
          "setterMethodName" : "setReboot",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Reboot",
            "variableName" : "reboot",
            "variableType" : "Reboot",
            "documentation" : "",
            "simpleType" : "Reboot",
            "variableSetterType" : "Reboot"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Reboots the device.</p>\n@param reboot Reboots the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Reboot",
            "variableName" : "reboot",
            "variableType" : "Reboot",
            "documentation" : "<p>Reboots the device.</p>",
            "simpleType" : "Reboot",
            "variableSetterType" : "Reboot"
          },
          "xmlNameSpaceUri" : null
        },
        "Unlock" : {
          "c2jName" : "unlock",
          "c2jShape" : "Unlock",
          "deprecated" : false,
          "documentation" : "<p>Unlocks the device.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unlocks the device.</p>\n@param unlock Unlocks the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUnlock",
          "getterDocumentation" : "/**<p>Unlocks the device.</p>\n@return Unlocks the device.*/",
          "getterMethodName" : "getUnlock",
          "getterModel" : {
            "returnType" : "Unlock",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "unlock",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "unlock",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Unlock",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unlocks the device.</p>\n@param unlock Unlocks the device.*/",
          "setterMethodName" : "setUnlock",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Unlock",
            "variableName" : "unlock",
            "variableType" : "Unlock",
            "documentation" : "",
            "simpleType" : "Unlock",
            "variableSetterType" : "Unlock"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unlocks the device.</p>\n@param unlock Unlocks the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Unlock",
            "variableName" : "unlock",
            "variableType" : "Unlock",
            "documentation" : "<p>Unlocks the device.</p>",
            "simpleType" : "Unlock",
            "variableSetterType" : "Unlock"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.snowdevicemanagement.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Command",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Command",
        "variableName" : "command",
        "variableType" : "Command",
        "documentation" : null,
        "simpleType" : "Command",
        "variableSetterType" : "Command"
      },
      "wrapper" : false
    },
    "CpuOptions" : {
      "c2jName" : "CpuOptions",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The options for how a device's CPU is configured.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
[...]
