{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "ClusterListEntry" : [ "ClusterState" ],
      "ClusterMetadata" : [ "ClusterState", "JobType", "SnowballType", "ShippingOption" ],
      "CreateClusterRequest" : [ "JobType", "SnowballType", "ShippingOption" ],
      "CreateJobRequest" : [ "JobType", "SnowballCapacityPreference", "ShippingOption", "SnowballType" ],
      "JobListEntry" : [ "JobState", "JobType", "SnowballType" ],
      "JobMetadata" : [ "JobState", "JobType", "SnowballType", "SnowballCapacityPreference" ],
      "ShippingDetails" : [ "ShippingOption" ],
      "UpdateClusterRequest" : [ "ShippingOption" ],
      "UpdateJobRequest" : [ "ShippingOption", "SnowballCapacityPreference" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-06-30",
    "asyncClient" : "AmazonSnowballAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSnowballAsyncClientBuilder",
    "asyncInterface" : "AmazonSnowballAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonSnowballModuleInjector",
    "defaultEndpoint" : "snowball.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "snowball.us-east-1.amazonaws.com/",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Snowball is a petabyte-scale data transport solution that uses secure devices to transfer large amounts of data between your on-premises data centers and Amazon Simple Storage Service (Amazon S3). The commands described here provide access to the same functionality that is available in the AWS Snowball Management Console, which enables you to create and manage jobs for Snowball and Snowball Edge devices. To transfer data locally with a device, you'll need to use the Snowball client or the Amazon S3 API adapter for Snowball.</p>",
    "endpointPrefix" : "snowball",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.snowball",
    "packagePath" : "com/amazonaws/services/snowball",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon Snowball",
    "serviceFullName" : "Amazon Import/Export Snowball",
    "serviceId" : "Snowball",
    "serviceName" : "Amazon Snowball",
    "signingName" : "snowball",
    "smokeTestsPackageName" : "com.amazonaws.services.snowball.smoketests",
    "syncClient" : "AmazonSnowballClient",
    "syncClientBuilderClassName" : "AmazonSnowballClientBuilder",
    "syncInterface" : "AmazonSnowball",
    "uid" : "snowball-2016-06-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelClusterRequest, CancelClusterResult>",
      "asyncReturnType" : "CancelClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a cluster job. You can only cancel a cluster job while it's in the <code>AwaitingQuorum</code> status. You'll have at least an hour after creating a cluster job to cancel it.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelClusterRequest",
        "variableName" : "cancelClusterRequest",
        "variableType" : "CancelClusterRequest",
        "documentation" : "",
        "simpleType" : "CancelClusterRequest",
        "variableSetterType" : "CancelClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelCluster",
      "operationName" : "CancelCluster",
      "returnType" : {
        "returnType" : "CancelClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelClusterResult"
    },
    "CancelJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "asyncReturnType" : "CancelJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the specified job. You can only cancel a job before its <code>JobState</code> value changes to <code>PreparingAppliance</code>. Requesting the <code>ListJobs</code> or <code>DescribeJob</code> action returns a job's <code>JobState</code> as part of the response element data returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRequest",
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "documentation" : "",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelJob",
      "operationName" : "CancelJob",
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelJobResult"
    },
    "CreateAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAddressRequest, CreateAddressResult>",
      "asyncReturnType" : "CreateAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an address for a Snowball to be shipped to. In most regions, addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. If the address is invalid or unsupported, then an exception is thrown.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidAddressException",
        "documentation" : "<p>The address provided was invalid. Check the address with your region's carrier, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedAddressException",
        "documentation" : "<p>The address is either outside the serviceable area for your region, or an error occurred. Check the address with your region's carrier and try again. If the issue persists, contact AWS Support.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAddressRequest",
        "variableName" : "createAddressRequest",
        "variableType" : "CreateAddressRequest",
        "documentation" : "",
        "simpleType" : "CreateAddressRequest",
        "variableSetterType" : "CreateAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAddress",
      "operationName" : "CreateAddress",
      "returnType" : {
        "returnType" : "CreateAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAddressResult"
    },
    "CreateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterRequest, CreateClusterResult>",
      "asyncReturnType" : "CreateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an empty cluster. Each cluster supports five nodes. You use the <a>CreateJob</a> action separately to create the jobs for each of these nodes. The cluster does not ship until these five node jobs have been created.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputCombinationException",
        "documentation" : "<p>Job or cluster creation failed. One ore more inputs were invalid. Confirm that the <a>CreateClusterRequest$SnowballType</a> value supports your <a>CreateJobRequest$JobType</a>, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "Ec2RequestFailedException",
        "documentation" : "<p>Your IAM user lacks the necessary Amazon EC2 permissions to perform the attempted action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateClusterRequest",
        "variableName" : "createClusterRequest",
        "variableType" : "CreateClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateClusterRequest",
        "variableSetterType" : "CreateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCluster",
      "operationName" : "CreateCluster",
      "returnType" : {
        "returnType" : "CreateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateClusterResult"
    },
    "CreateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "asyncReturnType" : "CreateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a job to import or export data between Amazon S3 and your on-premises data center. Your AWS account must have the right trust policies and permissions in place to create a job for Snowball. If you're creating a job for a node in a cluster, you only need to provide the <code>clusterId</code> value; the other job attributes are inherited from the cluster. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputCombinationException",
        "documentation" : "<p>Job or cluster creation failed. One ore more inputs were invalid. Confirm that the <a>CreateClusterRequest$SnowballType</a> value supports your <a>CreateJobRequest$JobType</a>, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClusterLimitExceededException",
        "documentation" : "<p>Job creation failed. Currently, clusters support five nodes. If you have less than five nodes for your cluster and you have more nodes to create for this cluster, try again and create jobs until your cluster has exactly five notes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "Ec2RequestFailedException",
        "documentation" : "<p>Your IAM user lacks the necessary Amazon EC2 permissions to perform the attempted action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateJobRequest",
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "documentation" : "",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createJob",
      "operationName" : "CreateJob",
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateJobResult"
    },
    "DescribeAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAddressRequest, DescribeAddressResult>",
      "asyncReturnType" : "DescribeAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Takes an <code>AddressId</code> and returns specific details about that address in the form of an <code>Address</code> object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAddressRequest",
        "variableName" : "describeAddressRequest",
        "variableType" : "DescribeAddressRequest",
        "documentation" : "",
        "simpleType" : "DescribeAddressRequest",
        "variableSetterType" : "DescribeAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAddress",
      "operationName" : "DescribeAddress",
      "returnType" : {
        "returnType" : "DescribeAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAddressResult"
    },
    "DescribeAddresses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAddressesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAddressesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAddressesRequest, DescribeAddressesResult>",
      "asyncReturnType" : "DescribeAddressesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a specified number of <code>ADDRESS</code> objects. Calling this API in one of the US regions will return addresses from the list of all addresses associated with this account in all US regions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> string was altered unexpectedly, and the operation has stopped. Run the operation without changing the <code>NextToken</code> string, and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAddressesRequest",
        "variableName" : "describeAddressesRequest",
        "variableType" : "DescribeAddressesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAddressesRequest",
        "variableSetterType" : "DescribeAddressesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAddresses",
      "operationName" : "DescribeAddresses",
      "returnType" : {
        "returnType" : "DescribeAddressesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAddressesResult"
    },
    "DescribeCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterRequest, DescribeClusterResult>",
      "asyncReturnType" : "DescribeClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific cluster including shipping information, cluster status, and other important metadata.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClusterRequest",
        "variableName" : "describeClusterRequest",
        "variableType" : "DescribeClusterRequest",
        "documentation" : "",
        "simpleType" : "DescribeClusterRequest",
        "variableSetterType" : "DescribeClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCluster",
      "operationName" : "DescribeCluster",
      "returnType" : {
        "returnType" : "DescribeClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeClusterResult"
    },
    "DescribeJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobRequest, DescribeJobResult>",
      "asyncReturnType" : "DescribeJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific job including shipping information, job status, and other important metadata. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobRequest",
        "variableName" : "describeJobRequest",
        "variableType" : "DescribeJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobRequest",
        "variableSetterType" : "DescribeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJob",
      "operationName" : "DescribeJob",
      "returnType" : {
        "returnType" : "DescribeJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobResult"
    },
    "GetJobManifest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobManifestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobManifestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobManifestRequest, GetJobManifestResult>",
      "asyncReturnType" : "GetJobManifestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a link to an Amazon S3 presigned URL for the manifest file associated with the specified <code>JobId</code> value. You can access the manifest file for up to 60 minutes after this request has been made. To access the manifest file after 60 minutes have passed, you'll have to make another call to the <code>GetJobManifest</code> action.</p> <p>The manifest is an encrypted file that you can download after your job enters the <code>WithCustomer</code> status. The manifest is decrypted by using the <code>UnlockCode</code> code value, when you pass both values to the Snowball through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don't save a copy of an <code>UnlockCode</code> value in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snowball associated with that job.</p> <p>The credentials of a given job, including its manifest file and unlock code, expire 90 days after the job is created.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetJobManifestRequest",
        "variableName" : "getJobManifestRequest",
        "variableType" : "GetJobManifestRequest",
        "documentation" : "",
        "simpleType" : "GetJobManifestRequest",
        "variableSetterType" : "GetJobManifestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJobManifest",
      "operationName" : "GetJobManifest",
      "returnType" : {
        "returnType" : "GetJobManifestResult",
        "documentation" : null
      },
      "syncReturnType" : "GetJobManifestResult"
    },
    "GetJobUnlockCode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobUnlockCodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobUnlockCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobUnlockCodeRequest, GetJobUnlockCodeResult>",
      "asyncReturnType" : "GetJobUnlockCodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the <code>UnlockCode</code> code value for the specified job. A particular <code>UnlockCode</code> value can be accessed for up to 90 days after the associated job has been created.</p> <p>The <code>UnlockCode</code> value is a 29-character code with 25 alphanumeric characters and 4 hyphens. This code is used to decrypt the manifest file when it is passed along with the manifest to the Snowball through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don't save a copy of the <code>UnlockCode</code> in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snowball associated with that job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetJobUnlockCodeRequest",
        "variableName" : "getJobUnlockCodeRequest",
        "variableType" : "GetJobUnlockCodeRequest",
        "documentation" : "",
        "simpleType" : "GetJobUnlockCodeRequest",
        "variableSetterType" : "GetJobUnlockCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJobUnlockCode",
      "operationName" : "GetJobUnlockCode",
      "returnType" : {
        "returnType" : "GetJobUnlockCodeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetJobUnlockCodeResult"
    },
    "GetSnowballUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnowballUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnowballUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnowballUsageRequest, GetSnowballUsageResult>",
      "asyncReturnType" : "GetSnowballUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the Snowball service limit for your account, and also the number of Snowballs your account has in use.</p> <p>The default service limit for the number of Snowballs that you can have at one time is 1. If you want to increase your service limit, contact AWS Support.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSnowballUsageRequest",
        "variableName" : "getSnowballUsageRequest",
        "variableType" : "GetSnowballUsageRequest",
        "documentation" : "",
        "simpleType" : "GetSnowballUsageRequest",
        "variableSetterType" : "GetSnowballUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSnowballUsage",
      "operationName" : "GetSnowballUsage",
      "returnType" : {
        "returnType" : "GetSnowballUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSnowballUsageResult"
    },
    "ListClusterJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClusterJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClusterJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClusterJobsRequest, ListClusterJobsResult>",
      "asyncReturnType" : "ListClusterJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>JobListEntry</code> objects of the specified length. Each <code>JobListEntry</code> object is for a job in the specified cluster and contains a job's state, a job's ID, and other information.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> string was altered unexpectedly, and the operation has stopped. Run the operation without changing the <code>NextToken</code> string, and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListClusterJobsRequest",
        "variableName" : "listClusterJobsRequest",
        "variableType" : "ListClusterJobsRequest",
        "documentation" : "",
        "simpleType" : "ListClusterJobsRequest",
        "variableSetterType" : "ListClusterJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClusterJobs",
      "operationName" : "ListClusterJobs",
      "returnType" : {
        "returnType" : "ListClusterJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListClusterJobsResult"
    },
    "ListClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClustersRequest, ListClustersResult>",
      "asyncReturnType" : "ListClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>ClusterListEntry</code> objects of the specified length. Each <code>ClusterListEntry</code> object contains a cluster's state, a cluster's ID, and other important status information.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> string was altered unexpectedly, and the operation has stopped. Run the operation without changing the <code>NextToken</code> string, and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListClustersRequest",
        "variableName" : "listClustersRequest",
        "variableType" : "ListClustersRequest",
        "documentation" : "",
        "simpleType" : "ListClustersRequest",
        "variableSetterType" : "ListClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClusters",
      "operationName" : "ListClusters",
      "returnType" : {
        "returnType" : "ListClustersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListClustersResult"
    },
    "ListCompatibleImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCompatibleImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCompatibleImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCompatibleImagesRequest, ListCompatibleImagesResult>",
      "asyncReturnType" : "ListCompatibleImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This action returns a list of the different Amazon EC2 Amazon Machine Images (AMIs) that are owned by your AWS account that would be supported for use on <code>EDGE</code>, <code>EDGE_C</code>, and <code>EDGE_CG</code> devices. For more information on compatible AMIs, see <a href=\"http://docs.aws.amazon.com/snowball/latest/developer-guide/using-ec2.html\">Using Amazon EC2 Compute Instances</a> in the <i>AWS Snowball Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> string was altered unexpectedly, and the operation has stopped. Run the operation without changing the <code>NextToken</code> string, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "Ec2RequestFailedException",
        "documentation" : "<p>Your IAM user lacks the necessary Amazon EC2 permissions to perform the attempted action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCompatibleImagesRequest",
        "variableName" : "listCompatibleImagesRequest",
        "variableType" : "ListCompatibleImagesRequest",
        "documentation" : "",
        "simpleType" : "ListCompatibleImagesRequest",
        "variableSetterType" : "ListCompatibleImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCompatibleImages",
      "operationName" : "ListCompatibleImages",
      "returnType" : {
        "returnType" : "ListCompatibleImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCompatibleImagesResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>JobListEntry</code> objects of the specified length. Each <code>JobListEntry</code> object contains a job's state, a job's ID, and a value that indicates whether the job is a job part, in the case of export jobs. Calling this API action in one of the US regions will return jobs from the list of all jobs associated with this account in all US regions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> string was altered unexpectedly, and the operation has stopped. Run the operation without changing the <code>NextToken</code> string, and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJobsResult"
    },
    "UpdateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateClusterRequest, UpdateClusterResult>",
      "asyncReturnType" : "UpdateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>While a cluster's <code>ClusterState</code> value is in the <code>AwaitingQuorum</code> state, you can update some of the information associated with a cluster. Once the cluster changes to a different job state, usually 60 minutes after the cluster being created, this action is no longer available.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputCombinationException",
        "documentation" : "<p>Job or cluster creation failed. One ore more inputs were invalid. Confirm that the <a>CreateClusterRequest$SnowballType</a> value supports your <a>CreateJobRequest$JobType</a>, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "Ec2RequestFailedException",
        "documentation" : "<p>Your IAM user lacks the necessary Amazon EC2 permissions to perform the attempted action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateClusterRequest",
        "variableName" : "updateClusterRequest",
        "variableType" : "UpdateClusterRequest",
        "documentation" : "",
        "simpleType" : "UpdateClusterRequest",
        "variableSetterType" : "UpdateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCluster",
      "operationName" : "UpdateCluster",
      "returnType" : {
        "returnType" : "UpdateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateClusterResult"
    },
    "UpdateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateJobRequest, UpdateJobResult>",
      "asyncReturnType" : "UpdateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>While a job's <code>JobState</code> value is <code>New</code>, you can update some of the information associated with a job. Once the job changes to a different job state, usually within 60 minutes of the job being created, this action is no longer available.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceException",
        "documentation" : "<p>The specified resource can't be found. Check the information you provided in your last request, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidJobStateException",
        "documentation" : "<p>The action can't be performed because the job's current state doesn't allow that action to be performed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSRequestFailedException",
        "documentation" : "<p>The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputCombinationException",
        "documentation" : "<p>Job or cluster creation failed. One ore more inputs were invalid. Confirm that the <a>CreateClusterRequest$SnowballType</a> value supports your <a>CreateJobRequest$JobType</a>, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClusterLimitExceededException",
        "documentation" : "<p>Job creation failed. Currently, clusters support five nodes. If you have less than five nodes for your cluster and you have more nodes to create for this cluster, try again and create jobs until your cluster has exactly five notes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "Ec2RequestFailedException",
        "documentation" : "<p>Your IAM user lacks the necessary Amazon EC2 permissions to perform the attempted action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateJobRequest",
        "variableName" : "updateJobRequest",
        "variableType" : "UpdateJobRequest",
        "documentation" : "",
        "simpleType" : "UpdateJobRequest",
        "variableSetterType" : "UpdateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateJob",
      "operationName" : "UpdateJob",
      "returnType" : {
        "returnType" : "UpdateJobResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateJobResult"
    }
  },
  "shapes" : {
    "Address" : {
      "c2jName" : "Address",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The address that you want the Snowball or Snowballs associated with a specific job to be shipped to. Addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. Although no individual elements of the <code>Address</code> are required, if the address is invalid or unsupported, then an exception is thrown.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AddressId",
        "c2jShape" : "AddressId",
        "deprecated" : false,
        "documentation" : "<p>The unique ID for an address.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAddressId",
        "getterDocumentation" : "/**<p>The unique ID for an address.</p>\n@return The unique ID for an address.*/",
        "getterMethodName" : "getAddressId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AddressId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AddressId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AddressId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.*/",
        "setterMethodName" : "setAddressId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressId",
          "variableType" : "String",
          "documentation" : "<p>The unique ID for an address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of a person to receive a Snowball at an address.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@param name The name of a person to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@return The name of a person to receive a Snowball at an address.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@param name The name of a person to receive a Snowball at an address.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of a person to receive a Snowball at an address.</p>\n@param name The name of a person to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of a person to receive a Snowball at an address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Company",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the company to receive a Snowball at an address.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCompany",
        "getterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@return The name of the company to receive a Snowball at an address.*/",
        "getterMethodName" : "getCompany",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Company",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Company",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Company",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.*/",
        "setterMethodName" : "setCompany",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "company",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "company",
          "variableType" : "String",
          "documentation" : "<p>The name of the company to receive a Snowball at an address.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Street1",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The first line in a street address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@param street1 The first line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStreet1",
        "getterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@return The first line in a street address that a Snowball is to be delivered to.*/",
        "getterMethodName" : "getStreet1",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Street1",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Street1",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Street1",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@param street1 The first line in a street address that a Snowball is to be delivered to.*/",
        "setterMethodName" : "setStreet1",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "street1",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The first line in a street address that a Snowball is to be delivered to.</p>\n@param street1 The first line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "street1",
          "variableType" : "String",
          "documentation" : "<p>The first line in a street address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Street2",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The second line in a street address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@param street2 The second line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStreet2",
        "getterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@return The second line in a street address that a Snowball is to be delivered to.*/",
        "getterMethodName" : "getStreet2",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Street2",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Street2",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Street2",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@param street2 The second line in a street address that a Snowball is to be delivered to.*/",
        "setterMethodName" : "setStreet2",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "street2",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The second line in a street address that a Snowball is to be delivered to.</p>\n@param street2 The second line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "street2",
          "variableType" : "String",
          "documentation" : "<p>The second line in a street address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Street3",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The third line in a street address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@param street3 The third line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStreet3",
        "getterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@return The third line in a street address that a Snowball is to be delivered to.*/",
        "getterMethodName" : "getStreet3",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Street3",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Street3",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Street3",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@param street3 The third line in a street address that a Snowball is to be delivered to.*/",
        "setterMethodName" : "setStreet3",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "street3",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The third line in a street address that a Snowball is to be delivered to.</p>\n@param street3 The third line in a street address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "street3",
          "variableType" : "String",
          "documentation" : "<p>The third line in a street address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "City",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The city in an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCity",
        "getterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@return The city in an address that a Snowball is to be delivered to.*/",
        "getterMethodName" : "getCity",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "City",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "City",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "City",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.*/",
        "setterMethodName" : "setCity",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "city",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "city",
          "variableType" : "String",
          "documentation" : "<p>The city in an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StateOrProvince",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The state or province in an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@param stateOrProvince The state or province in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStateOrProvince",
        "getterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@return The state or province in an address that a Snowball is to be delivered to.*/",
        "getterMethodName" : "getStateOrProvince",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StateOrProvince",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StateOrProvince",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StateOrProvince",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@param stateOrProvince The state or province in an address that a Snowball is to be delivered to.*/",
        "setterMethodName" : "setStateOrProvince",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "stateOrProvince",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The state or province in an address that a Snowball is to be delivered to.</p>\n@param stateOrProvince The state or province in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "stateOrProvince",
          "variableType" : "String",
          "documentation" : "<p>The state or province in an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PrefectureOrDistrict",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>This field is no longer used and the value is ignored.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>This field is no longer used and the value is ignored.</p>\n@param prefectureOrDistrict This field is no longer used and the value is ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPrefectureOrDistrict",
        "getterDocumentation" : "/**<p>This field is no longer used and the value is ignored.</p>\n@return This field is no longer used and the value is ignored.*/",
        "getterMethodName" : "getPrefectureOrDistrict",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PrefectureOrDistrict",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PrefectureOrDistrict",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PrefectureOrDistrict",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>This field is no longer used and the value is ignored.</p>\n@param prefectureOrDistrict This field is no longer used and the value is ignored.*/",
        "setterMethodName" : "setPrefectureOrDistrict",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "prefectureOrDistrict",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>This field is no longer used and the value is ignored.</p>\n@param prefectureOrDistrict This field is no longer used and the value is ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "prefectureOrDistrict",
          "variableType" : "String",
          "documentation" : "<p>This field is no longer used and the value is ignored.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Landmark",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>This field is no longer used and the value is ignored.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>This field is no longer used and the value is ignored.</p>\n@param landmark This field is no longer used and the value is ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLandmark",
        "getterDocumentation" : "/**<p>This field is no longer used and the value is ignored.</p>\n@return This field is no longer used and the value is ignored.*/",
        "getterMethodName" : "getLandmark",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Landmark",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Landmark",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Landmark",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>This field is no longer used and the value is ignored.</p>\n@param landmark This field is no longer used and the value is ignored.*/",
        "setterMethodName" : "setLandmark",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "landmark",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>This field is no longer used and the value is ignored.</p>\n@param landmark This field is no longer used and the value is ignored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "landmark",
          "variableType" : "String",
          "documentation" : "<p>This field is no longer used and the value is ignored.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Country",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The country in an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@param country The country in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCountry",
        "getterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@return The country in an address that a Snowball is to be delivered to.*/",
        "getterMethodName" : "getCountry",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Country",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Country",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Country",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@param country The country in an address that a Snowball is to be delivered to.*/",
        "setterMethodName" : "setCountry",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "country",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The country in an address that a Snowball is to be delivered to.</p>\n@param country The country in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "country",
          "variableType" : "String",
          "documentation" : "<p>The country in an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PostalCode",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The postal code in an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@param postalCode The postal code in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPostalCode",
        "getterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@return The postal code in an address that a Snowball is to be delivered to.*/",
        "getterMethodName" : "getPostalCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PostalCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PostalCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PostalCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@param postalCode The postal code in an address that a Snowball is to be delivered to.*/",
        "setterMethodName" : "setPostalCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "postalCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The postal code in an address that a Snowball is to be delivered to.</p>\n@param postalCode The postal code in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "postalCode",
          "variableType" : "String",
          "documentation" : "<p>The postal code in an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PhoneNumber",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The phone number associated with an address that a Snowball is to be delivered to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@param phoneNumber The phone number associated with an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPhoneNumber",
        "getterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@return The phone number associated with an address that a Snowball is to be delivered to.*/",
        "getterMethodName" : "getPhoneNumber",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PhoneNumber",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PhoneNumber",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PhoneNumber",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@param phoneNumber The phone number associated with an address that a Snowball is to be delivered to.*/",
        "setterMethodName" : "setPhoneNumber",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "phoneNumber",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The phone number associated with an address that a Snowball is to be delivered to.</p>\n@param phoneNumber The phone number associated with an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "phoneNumber",
          "variableType" : "String",
          "documentation" : "<p>The phone number associated with an address that a Snowball is to be delivered to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IsRestricted",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.</p>\n@param isRestricted If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIsRestricted",
        "getterDocumentation" : "/**<p>If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.</p>\n@return If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.*/",
        "getterMethodName" : "getIsRestricted",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IsRestricted",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IsRestricted",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "IsRestricted",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.</p>\n@param isRestricted If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.*/",
        "setterMethodName" : "setIsRestricted",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "isRestricted",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.</p>\n@param isRestricted If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "isRestricted",
          "variableType" : "Boolean",
          "documentation" : "<p>If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AddressId" : {
          "c2jName" : "AddressId",
          "c2jShape" : "AddressId",
          "deprecated" : false,
          "documentation" : "<p>The unique ID for an address.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAddressId",
          "getterDocumentation" : "/**<p>The unique ID for an address.</p>\n@return The unique ID for an address.*/",
          "getterMethodName" : "getAddressId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AddressId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AddressId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AddressId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.*/",
          "setterMethodName" : "setAddressId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "addressId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique ID for an address.</p>\n@param addressId The unique ID for an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "addressId",
            "variableType" : "String",
            "documentation" : "<p>The unique ID for an address.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "City" : {
          "c2jName" : "City",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The city in an address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCity",
          "getterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@return The city in an address that a Snowball is to be delivered to.*/",
          "getterMethodName" : "getCity",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "City",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "City",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "City",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.*/",
          "setterMethodName" : "setCity",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "city",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The city in an address that a Snowball is to be delivered to.</p>\n@param city The city in an address that a Snowball is to be delivered to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "city",
            "variableType" : "String",
            "documentation" : "<p>The city in an address that a Snowball is to be delivered to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Company" : {
          "c2jName" : "Company",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the company to receive a Snowball at an address.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCompany",
          "getterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@return The name of the company to receive a Snowball at an address.*/",
          "getterMethodName" : "getCompany",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Company",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Company",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Company",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.*/",
          "setterMethodName" : "setCompany",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "company",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the company to receive a Snowball at an address.</p>\n@param company The name of the company to receive a Snowball at an address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "company",
            "variableType" : "String",
            "documentation" : "<p>The name of the company to receive a Snowball at an address.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Country" : {
          "c2jName" : "Country",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The country in an address that a Snowball is to be delivered to.</p>",
          "enumType" : null,
[...]
