{
  "customizationConfig" : {
    "additionalShapeConstructors" : {
      "AddPermissionRequest" : {
        "constructorForms" : [ [ "TopicArn", "Label", "AWSAccountIds", "ActionNames" ] ]
      },
      "ConfirmSubscriptionRequest" : {
        "constructorForms" : [ [ "TopicArn", "Token" ], [ "TopicArn", "Token", "AuthenticateOnUnsubscribe" ] ]
      },
      "CreateTopicRequest" : {
        "constructorForms" : [ [ "Name" ] ]
      },
      "DeleteTopicRequest" : {
        "constructorForms" : [ [ "TopicArn" ] ]
      },
      "GetSubscriptionAttributesRequest" : {
        "constructorForms" : [ [ "SubscriptionArn" ] ]
      },
      "GetTopicAttributesRequest" : {
        "constructorForms" : [ [ "TopicArn" ] ]
      },
      "ListSubscriptionsByTopicRequest" : {
        "constructorForms" : [ [ "TopicArn" ], [ "TopicArn", "NextToken" ] ]
      },
      "ListSubscriptionsRequest" : {
        "constructorForms" : [ [ "NextToken" ] ]
      },
      "ListTopicsRequest" : {
        "constructorForms" : [ [ "NextToken" ] ]
      },
      "PublishRequest" : {
        "constructorForms" : [ [ "TopicArn", "Message" ], [ "TopicArn", "Message", "Subject" ] ]
      },
      "RemovePermissionRequest" : {
        "constructorForms" : [ [ "TopicArn", "Label" ] ]
      },
      "SetSubscriptionAttributesRequest" : {
        "constructorForms" : [ [ "SubscriptionArn", "AttributeName", "AttributeValue" ] ]
      },
      "SetTopicAttributesRequest" : {
        "constructorForms" : [ [ "TopicArn", "AttributeName", "AttributeValue" ] ]
      },
      "SubscribeRequest" : {
        "constructorForms" : [ [ "TopicArn", "Protocol", "Endpoint" ] ]
      },
      "UnsubscribeRequest" : {
        "constructorForms" : [ [ "SubscriptionArn" ] ]
      }
    },
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "AddPermissionInput" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : [ {
          "AWSAccountId" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : "AWSAccountIds",
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          },
          "ActionName" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : "ActionNames",
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "AddPermission" : {
        "deprecated" : null,
        "methodForms" : [ [ "TopicArn", "Label", "AWSAccountIds", "ActionNames" ] ]
      },
      "ConfirmSubscription" : {
        "deprecated" : null,
        "methodForms" : [ [ "TopicArn", "Token", "AuthenticateOnUnsubscribe" ], [ "TopicArn", "Token" ] ]
      },
      "CreateTopic" : {
        "deprecated" : null,
        "methodForms" : [ [ "Name" ] ]
      },
      "DeleteTopic" : {
        "deprecated" : null,
        "methodForms" : [ [ "TopicArn" ] ]
      },
      "GetSubscriptionAttributes" : {
        "deprecated" : null,
        "methodForms" : [ [ "SubscriptionArn" ] ]
      },
      "GetTopicAttributes" : {
        "deprecated" : null,
        "methodForms" : [ [ "TopicArn" ] ]
      },
      "ListPlatformApplications" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListSubscriptions" : {
        "deprecated" : null,
        "methodForms" : [ [ ], [ "NextToken" ] ]
      },
      "ListSubscriptionsByTopic" : {
        "deprecated" : null,
        "methodForms" : [ [ "TopicArn" ], [ "TopicArn", "NextToken" ] ]
      },
      "ListTopics" : {
        "deprecated" : null,
        "methodForms" : [ [ ], [ "NextToken" ] ]
      },
      "Publish" : {
        "deprecated" : null,
        "methodForms" : [ [ "TopicArn", "Message" ], [ "TopicArn", "Message", "Subject" ] ]
      },
      "RemovePermission" : {
        "deprecated" : null,
        "methodForms" : [ [ "TopicArn", "Label" ] ]
      },
      "SetSubscriptionAttributes" : {
        "deprecated" : null,
        "methodForms" : [ [ "SubscriptionArn", "AttributeName", "AttributeValue" ] ]
      },
      "SetTopicAttributes" : {
        "deprecated" : null,
        "methodForms" : [ [ "TopicArn", "AttributeName", "AttributeValue" ] ]
      },
      "Subscribe" : {
        "deprecated" : null,
        "methodForms" : [ [ "TopicArn", "Protocol", "Endpoint" ] ]
      },
      "Unsubscribe" : {
        "deprecated" : null,
        "methodForms" : [ [ "SubscriptionArn" ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2010-03-31",
    "asyncClient" : "AmazonSNSAsyncClient",
    "asyncClientBuilderClassName" : "AmazonSNSAsyncClientBuilder",
    "asyncInterface" : "AmazonSNSAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonSNSModuleInjector",
    "defaultEndpoint" : "https://sns.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sns.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Simple Notification Service</fullname> <p>Amazon Simple Notification Service (Amazon SNS) is a web service that enables you to build distributed web-enabled applications. Applications can use Amazon SNS to easily push real-time notification messages to interested subscribers over multiple delivery protocols. For more information about this product see <a href=\"http://aws.amazon.com/sns/\">http://aws.amazon.com/sns</a>. For detailed information about Amazon SNS features and their associated API calls, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/\">Amazon SNS Developer Guide</a>. </p> <p>We also provide SDKs that enable you to access Amazon SNS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as: cryptographically signing your service requests, retrying requests, and handling error responses. For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>. </p>",
    "endpointPrefix" : "sns",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.sns",
    "packagePath" : "com/amazonaws/services/sns",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocolFactory" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon SNS",
    "serviceFullName" : "Amazon Simple Notification Service",
    "serviceId" : "SNS",
    "serviceName" : "Amazon SNS",
    "signingName" : "sns",
    "smokeTestsPackageName" : "com.amazonaws.services.sns.smoketests",
    "syncClient" : "AmazonSNSClient",
    "syncClientBuilderClassName" : "AmazonSNSClientBuilder",
    "syncInterface" : "AmazonSNS",
    "uid" : "sns-2010-03-31",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "AddPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddPermissionRequest, AddPermissionResult>",
      "asyncReturnType" : "AddPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a statement to a topic's access control policy, granting access for the specified AWS accounts to the specified actions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddPermissionRequest",
        "variableName" : "addPermissionRequest",
        "variableType" : "AddPermissionRequest",
        "documentation" : "",
        "simpleType" : "AddPermissionRequest",
        "variableSetterType" : "AddPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addPermission",
      "operationName" : "AddPermission",
      "returnType" : {
        "returnType" : "AddPermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "AddPermissionResult"
    },
    "CheckIfPhoneNumberIsOptedOut" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CheckIfPhoneNumberIsOptedOutResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CheckIfPhoneNumberIsOptedOutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckIfPhoneNumberIsOptedOutRequest, CheckIfPhoneNumberIsOptedOutResult>",
      "asyncReturnType" : "CheckIfPhoneNumberIsOptedOutResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CheckIfPhoneNumberIsOptedOutRequest",
        "variableName" : "checkIfPhoneNumberIsOptedOutRequest",
        "variableType" : "CheckIfPhoneNumberIsOptedOutRequest",
        "documentation" : "<p>The input for the <code>CheckIfPhoneNumberIsOptedOut</code> action.</p>",
        "simpleType" : "CheckIfPhoneNumberIsOptedOutRequest",
        "variableSetterType" : "CheckIfPhoneNumberIsOptedOutRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "checkIfPhoneNumberIsOptedOut",
      "operationName" : "CheckIfPhoneNumberIsOptedOut",
      "returnType" : {
        "returnType" : "CheckIfPhoneNumberIsOptedOutResult",
        "documentation" : "<p>The response from the <code>CheckIfPhoneNumberIsOptedOut</code> action.</p>"
      },
      "syncReturnType" : "CheckIfPhoneNumberIsOptedOutResult"
    },
    "ConfirmSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmSubscriptionRequest, ConfirmSubscriptionResult>",
      "asyncReturnType" : "ConfirmSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Verifies an endpoint owner's intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to \"true\".</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SubscriptionLimitExceededException",
        "documentation" : "<p>Indicates that the customer already owns the maximum allowed number of subscriptions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfirmSubscriptionRequest",
        "variableName" : "confirmSubscriptionRequest",
        "variableType" : "ConfirmSubscriptionRequest",
        "documentation" : "<p>Input for ConfirmSubscription action.</p>",
        "simpleType" : "ConfirmSubscriptionRequest",
        "variableSetterType" : "ConfirmSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "confirmSubscription",
      "operationName" : "ConfirmSubscription",
      "returnType" : {
        "returnType" : "ConfirmSubscriptionResult",
        "documentation" : "<p>Response for ConfirmSubscriptions action.</p>"
      },
      "syncReturnType" : "ConfirmSubscriptionResult"
    },
    "CreatePlatformApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePlatformApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePlatformApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePlatformApplicationRequest, CreatePlatformApplicationResult>",
      "asyncReturnType" : "CreatePlatformApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a platform application object for one of the supported push notification services, such as APNS and GCM, to which devices and mobile apps may register. You must specify PlatformPrincipal and PlatformCredential attributes when using the <code>CreatePlatformApplication</code> action. The PlatformPrincipal is received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is \"SSL certificate\". For GCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is \"client id\". The PlatformCredential is also received from the notification service. For WNS, PlatformPrincipal is \"Package Security Identifier\". For MPNS, PlatformPrincipal is \"TLS certificate\". For Baidu, PlatformPrincipal is \"API key\".</p> <p>For APNS/APNS_SANDBOX, PlatformCredential is \"private key\". For GCM, PlatformCredential is \"API key\". For ADM, PlatformCredential is \"client secret\". For WNS, PlatformCredential is \"secret key\". For MPNS, PlatformCredential is \"private key\". For Baidu, PlatformCredential is \"secret key\". The PlatformApplicationArn that is returned when using <code>CreatePlatformApplication</code> is then used as an attribute for the <code>CreatePlatformEndpoint</code> action. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. For more information about obtaining the PlatformPrincipal and PlatformCredential for each of the supported push notification services, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-apns.html\">Getting Started with Apple Push Notification Service</a>, <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-adm.html\">Getting Started with Amazon Device Messaging</a>, <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-baidu.html\">Getting Started with Baidu Cloud Push</a>, <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-gcm.html\">Getting Started with Google Cloud Messaging for Android</a>, <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-mpns.html\">Getting Started with MPNS</a>, or <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-wns.html\">Getting Started with WNS</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePlatformApplicationRequest",
        "variableName" : "createPlatformApplicationRequest",
        "variableType" : "CreatePlatformApplicationRequest",
        "documentation" : "<p>Input for CreatePlatformApplication action.</p>",
        "simpleType" : "CreatePlatformApplicationRequest",
        "variableSetterType" : "CreatePlatformApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPlatformApplication",
      "operationName" : "CreatePlatformApplication",
      "returnType" : {
        "returnType" : "CreatePlatformApplicationResult",
        "documentation" : "<p>Response from CreatePlatformApplication action.</p>"
      },
      "syncReturnType" : "CreatePlatformApplicationResult"
    },
    "CreatePlatformEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePlatformEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePlatformEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePlatformEndpointRequest, CreatePlatformEndpointResult>",
      "asyncReturnType" : "CreatePlatformEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM and APNS. <code>CreatePlatformEndpoint</code> requires the PlatformApplicationArn that is returned from <code>CreatePlatformApplication</code>. The EndpointArn that is returned when using <code>CreatePlatformEndpoint</code> can then be used by the <code>Publish</code> action to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint's ARN is returned without creating a new endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html\">Creating an Amazon SNS Endpoint for Baidu</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePlatformEndpointRequest",
        "variableName" : "createPlatformEndpointRequest",
        "variableType" : "CreatePlatformEndpointRequest",
        "documentation" : "<p>Input for CreatePlatformEndpoint action.</p>",
        "simpleType" : "CreatePlatformEndpointRequest",
        "variableSetterType" : "CreatePlatformEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPlatformEndpoint",
      "operationName" : "CreatePlatformEndpoint",
      "returnType" : {
        "returnType" : "CreatePlatformEndpointResult",
        "documentation" : "<p>Response from CreateEndpoint action.</p>"
      },
      "syncReturnType" : "CreatePlatformEndpointResult"
    },
    "CreateTopic" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTopicResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTopicRequest, CreateTopicResult>",
      "asyncReturnType" : "CreateTopicResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a topic to which notifications can be published. Users can create at most 100,000 topics. For more information, see <a href=\"http://aws.amazon.com/sns/\">http://aws.amazon.com/sns</a>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic's ARN is returned without creating a new topic.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TopicLimitExceededException",
        "documentation" : "<p>Indicates that the customer already owns the maximum allowed number of topics.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidSecurityException",
        "documentation" : "<p>The credential signature isn't valid. You must use an HTTPS endpoint and sign your request using Signature Version 4.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTopicRequest",
        "variableName" : "createTopicRequest",
        "variableType" : "CreateTopicRequest",
        "documentation" : "<p>Input for CreateTopic action.</p>",
        "simpleType" : "CreateTopicRequest",
        "variableSetterType" : "CreateTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTopic",
      "operationName" : "CreateTopic",
      "returnType" : {
        "returnType" : "CreateTopicResult",
        "documentation" : "<p>Response from CreateTopic action.</p>"
      },
      "syncReturnType" : "CreateTopicResult"
    },
    "DeleteEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointRequest, DeleteEndpointResult>",
      "asyncReturnType" : "DeleteEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEndpointRequest",
        "variableName" : "deleteEndpointRequest",
        "variableType" : "DeleteEndpointRequest",
        "documentation" : "<p>Input for DeleteEndpoint action.</p>",
        "simpleType" : "DeleteEndpointRequest",
        "variableSetterType" : "DeleteEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEndpoint",
      "operationName" : "DeleteEndpoint",
      "returnType" : {
        "returnType" : "DeleteEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEndpointResult"
    },
    "DeletePlatformApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePlatformApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePlatformApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePlatformApplicationRequest, DeletePlatformApplicationResult>",
      "asyncReturnType" : "DeletePlatformApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a platform application object for one of the supported push notification services, such as APNS and GCM. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePlatformApplicationRequest",
        "variableName" : "deletePlatformApplicationRequest",
        "variableType" : "DeletePlatformApplicationRequest",
        "documentation" : "<p>Input for DeletePlatformApplication action.</p>",
        "simpleType" : "DeletePlatformApplicationRequest",
        "variableSetterType" : "DeletePlatformApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePlatformApplication",
      "operationName" : "DeletePlatformApplication",
      "returnType" : {
        "returnType" : "DeletePlatformApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePlatformApplicationResult"
    },
    "DeleteTopic" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTopicResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTopicRequest, DeleteTopicResult>",
      "asyncReturnType" : "DeleteTopicResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTopicRequest",
        "variableName" : "deleteTopicRequest",
        "variableType" : "DeleteTopicRequest",
        "documentation" : "",
        "simpleType" : "DeleteTopicRequest",
        "variableSetterType" : "DeleteTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTopic",
      "operationName" : "DeleteTopic",
      "returnType" : {
        "returnType" : "DeleteTopicResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTopicResult"
    },
    "GetEndpointAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEndpointAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEndpointAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEndpointAttributesRequest, GetEndpointAttributesResult>",
      "asyncReturnType" : "GetEndpointAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM and APNS. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEndpointAttributesRequest",
        "variableName" : "getEndpointAttributesRequest",
        "variableType" : "GetEndpointAttributesRequest",
        "documentation" : "<p>Input for GetEndpointAttributes action.</p>",
        "simpleType" : "GetEndpointAttributesRequest",
        "variableSetterType" : "GetEndpointAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEndpointAttributes",
      "operationName" : "GetEndpointAttributes",
      "returnType" : {
        "returnType" : "GetEndpointAttributesResult",
        "documentation" : "<p>Response from GetEndpointAttributes of the EndpointArn.</p>"
      },
      "syncReturnType" : "GetEndpointAttributesResult"
    },
    "GetPlatformApplicationAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPlatformApplicationAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPlatformApplicationAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPlatformApplicationAttributesRequest, GetPlatformApplicationAttributesResult>",
      "asyncReturnType" : "GetPlatformApplicationAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPlatformApplicationAttributesRequest",
        "variableName" : "getPlatformApplicationAttributesRequest",
        "variableType" : "GetPlatformApplicationAttributesRequest",
        "documentation" : "<p>Input for GetPlatformApplicationAttributes action.</p>",
        "simpleType" : "GetPlatformApplicationAttributesRequest",
        "variableSetterType" : "GetPlatformApplicationAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPlatformApplicationAttributes",
      "operationName" : "GetPlatformApplicationAttributes",
      "returnType" : {
        "returnType" : "GetPlatformApplicationAttributesResult",
        "documentation" : "<p>Response for GetPlatformApplicationAttributes action.</p>"
      },
      "syncReturnType" : "GetPlatformApplicationAttributesResult"
    },
    "GetSMSAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSMSAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSMSAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSMSAttributesRequest, GetSMSAttributesResult>",
      "asyncReturnType" : "GetSMSAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the settings for sending SMS messages from your account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSMSAttributesRequest",
        "variableName" : "getSMSAttributesRequest",
        "variableType" : "GetSMSAttributesRequest",
        "documentation" : "<p>The input for the <code>GetSMSAttributes</code> request.</p>",
        "simpleType" : "GetSMSAttributesRequest",
        "variableSetterType" : "GetSMSAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSMSAttributes",
      "operationName" : "GetSMSAttributes",
      "returnType" : {
        "returnType" : "GetSMSAttributesResult",
        "documentation" : "<p>The response from the <code>GetSMSAttributes</code> request.</p>"
      },
      "syncReturnType" : "GetSMSAttributesResult"
    },
    "GetSubscriptionAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSubscriptionAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSubscriptionAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSubscriptionAttributesRequest, GetSubscriptionAttributesResult>",
      "asyncReturnType" : "GetSubscriptionAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all of the properties of a subscription.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSubscriptionAttributesRequest",
        "variableName" : "getSubscriptionAttributesRequest",
        "variableType" : "GetSubscriptionAttributesRequest",
        "documentation" : "<p>Input for GetSubscriptionAttributes.</p>",
        "simpleType" : "GetSubscriptionAttributesRequest",
        "variableSetterType" : "GetSubscriptionAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSubscriptionAttributes",
      "operationName" : "GetSubscriptionAttributes",
      "returnType" : {
        "returnType" : "GetSubscriptionAttributesResult",
        "documentation" : "<p>Response for GetSubscriptionAttributes action.</p>"
      },
      "syncReturnType" : "GetSubscriptionAttributesResult"
    },
    "GetTopicAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTopicAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTopicAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTopicAttributesRequest, GetTopicAttributesResult>",
      "asyncReturnType" : "GetTopicAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidSecurityException",
        "documentation" : "<p>The credential signature isn't valid. You must use an HTTPS endpoint and sign your request using Signature Version 4.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTopicAttributesRequest",
        "variableName" : "getTopicAttributesRequest",
        "variableType" : "GetTopicAttributesRequest",
        "documentation" : "<p>Input for GetTopicAttributes action.</p>",
        "simpleType" : "GetTopicAttributesRequest",
        "variableSetterType" : "GetTopicAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTopicAttributes",
      "operationName" : "GetTopicAttributes",
      "returnType" : {
        "returnType" : "GetTopicAttributesResult",
        "documentation" : "<p>Response for GetTopicAttributes action.</p>"
      },
      "syncReturnType" : "GetTopicAttributesResult"
    },
    "ListEndpointsByPlatformApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEndpointsByPlatformApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEndpointsByPlatformApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEndpointsByPlatformApplicationRequest, ListEndpointsByPlatformApplicationResult>",
      "asyncReturnType" : "ListEndpointsByPlatformApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEndpointsByPlatformApplicationRequest",
        "variableName" : "listEndpointsByPlatformApplicationRequest",
        "variableType" : "ListEndpointsByPlatformApplicationRequest",
        "documentation" : "<p>Input for ListEndpointsByPlatformApplication action.</p>",
        "simpleType" : "ListEndpointsByPlatformApplicationRequest",
        "variableSetterType" : "ListEndpointsByPlatformApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEndpointsByPlatformApplication",
      "operationName" : "ListEndpointsByPlatformApplication",
      "returnType" : {
        "returnType" : "ListEndpointsByPlatformApplicationResult",
        "documentation" : "<p>Response for ListEndpointsByPlatformApplication action.</p>"
      },
      "syncReturnType" : "ListEndpointsByPlatformApplicationResult"
    },
    "ListPhoneNumbersOptedOut" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPhoneNumbersOptedOutResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPhoneNumbersOptedOutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPhoneNumbersOptedOutRequest, ListPhoneNumbersOptedOutResult>",
      "asyncReturnType" : "ListPhoneNumbersOptedOutResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of phone numbers that are opted out, meaning you cannot send SMS messages to them.</p> <p>The results for <code>ListPhoneNumbersOptedOut</code> are paginated, and each page returns up to 100 phone numbers. If additional phone numbers are available after the first page of results, then a <code>NextToken</code> string will be returned. To receive the next page, you call <code>ListPhoneNumbersOptedOut</code> again using the <code>NextToken</code> string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPhoneNumbersOptedOutRequest",
        "variableName" : "listPhoneNumbersOptedOutRequest",
        "variableType" : "ListPhoneNumbersOptedOutRequest",
        "documentation" : "<p>The input for the <code>ListPhoneNumbersOptedOut</code> action.</p>",
        "simpleType" : "ListPhoneNumbersOptedOutRequest",
        "variableSetterType" : "ListPhoneNumbersOptedOutRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPhoneNumbersOptedOut",
      "operationName" : "ListPhoneNumbersOptedOut",
      "returnType" : {
        "returnType" : "ListPhoneNumbersOptedOutResult",
        "documentation" : "<p>The response from the <code>ListPhoneNumbersOptedOut</code> action.</p>"
      },
      "syncReturnType" : "ListPhoneNumbersOptedOutResult"
    },
    "ListPlatformApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPlatformApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPlatformApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPlatformApplicationsRequest, ListPlatformApplicationsResult>",
      "asyncReturnType" : "ListPlatformApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the platform application objects for the supported push notification services, such as APNS and GCM. The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 15 transactions per second (TPS).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPlatformApplicationsRequest",
        "variableName" : "listPlatformApplicationsRequest",
        "variableType" : "ListPlatformApplicationsRequest",
        "documentation" : "<p>Input for ListPlatformApplications action.</p>",
        "simpleType" : "ListPlatformApplicationsRequest",
        "variableSetterType" : "ListPlatformApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPlatformApplications",
      "operationName" : "ListPlatformApplications",
      "returnType" : {
        "returnType" : "ListPlatformApplicationsResult",
        "documentation" : "<p>Response for ListPlatformApplications action.</p>"
      },
      "syncReturnType" : "ListPlatformApplicationsResult"
    },
    "ListSubscriptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSubscriptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSubscriptionsRequest, ListSubscriptionsResult>",
      "asyncReturnType" : "ListSubscriptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the requester's subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptions</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSubscriptionsRequest",
        "variableName" : "listSubscriptionsRequest",
        "variableType" : "ListSubscriptionsRequest",
        "documentation" : "<p>Input for ListSubscriptions action.</p>",
        "simpleType" : "ListSubscriptionsRequest",
        "variableSetterType" : "ListSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSubscriptions",
      "operationName" : "ListSubscriptions",
      "returnType" : {
        "returnType" : "ListSubscriptionsResult",
        "documentation" : "<p>Response for ListSubscriptions action</p>"
      },
      "syncReturnType" : "ListSubscriptionsResult"
    },
    "ListSubscriptionsByTopic" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSubscriptionsByTopicResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSubscriptionsByTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSubscriptionsByTopicRequest, ListSubscriptionsByTopicResult>",
      "asyncReturnType" : "ListSubscriptionsByTopicResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSubscriptionsByTopicRequest",
        "variableName" : "listSubscriptionsByTopicRequest",
        "variableType" : "ListSubscriptionsByTopicRequest",
        "documentation" : "<p>Input for ListSubscriptionsByTopic action.</p>",
        "simpleType" : "ListSubscriptionsByTopicRequest",
        "variableSetterType" : "ListSubscriptionsByTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSubscriptionsByTopic",
      "operationName" : "ListSubscriptionsByTopic",
      "returnType" : {
        "returnType" : "ListSubscriptionsByTopicResult",
        "documentation" : "<p>Response for ListSubscriptionsByTopic action.</p>"
      },
      "syncReturnType" : "ListSubscriptionsByTopicResult"
    },
    "ListTopics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTopicsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTopicsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTopicsRequest, ListTopicsResult>",
      "asyncReturnType" : "ListTopicsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the requester's topics. Each call returns a limited list of topics, up to 100. If there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTopicsRequest",
        "variableName" : "listTopicsRequest",
        "variableType" : "ListTopicsRequest",
        "documentation" : "",
        "simpleType" : "ListTopicsRequest",
        "variableSetterType" : "ListTopicsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTopics",
      "operationName" : "ListTopics",
      "returnType" : {
        "returnType" : "ListTopicsResult",
        "documentation" : "<p>Response for ListTopics action.</p>"
      },
      "syncReturnType" : "ListTopicsResult"
    },
    "OptInPhoneNumber" : {
      "asyncCallableType" : "java.util.concurrent.Callable<OptInPhoneNumberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<OptInPhoneNumberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<OptInPhoneNumberRequest, OptInPhoneNumberResult>",
      "asyncReturnType" : "OptInPhoneNumberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this request to opt in a phone number that is opted out, which enables you to resume sending SMS messages to the number.</p> <p>You can opt in a phone number only once every 30 days.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "OptInPhoneNumberRequest",
        "variableName" : "optInPhoneNumberRequest",
        "variableType" : "OptInPhoneNumberRequest",
        "documentation" : "<p>Input for the OptInPhoneNumber action.</p>",
        "simpleType" : "OptInPhoneNumberRequest",
        "variableSetterType" : "OptInPhoneNumberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "optInPhoneNumber",
      "operationName" : "OptInPhoneNumber",
      "returnType" : {
        "returnType" : "OptInPhoneNumberResult",
        "documentation" : "<p>The response for the OptInPhoneNumber action.</p>"
      },
      "syncReturnType" : "OptInPhoneNumberResult"
    },
    "Publish" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PublishResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PublishResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PublishRequest, PublishResult>",
      "asyncReturnType" : "PublishResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends a message to an Amazon SNS topic or sends a text message (SMS message) directly to a phone number. </p> <p>If you send a message to a topic, Amazon SNS delivers the message to each endpoint that is subscribed to the topic. The format of the message depends on the notification protocol for each subscribed endpoint.</p> <p>When a <code>messageId</code> is returned, the message has been saved and Amazon SNS will attempt to deliver it shortly.</p> <p>To use the <code>Publish</code> action for sending a message to a mobile endpoint, such as an app on a Kindle device or mobile phone, you must specify the EndpointArn for the TargetArn parameter. The EndpointArn is returned when making a call with the <code>CreatePlatformEndpoint</code> action. </p> <p>For more information about formatting messages, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/mobile-push-send-custommessage.html\">Send Custom Platform-Specific Payloads in Messages to Mobile Devices</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EndpointDisabledException",
        "documentation" : "<p>Exception error indicating endpoint disabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PlatformApplicationDisabledException",
        "documentation" : "<p>Exception error indicating platform application disabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "KMSDisabledException",
        "documentation" : "<p>The request was rejected because the specified customer master key (CMK) isn't enabled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource isn't valid for this request. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "KMSNotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource can't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "KMSOptInRequiredException",
        "documentation" : "<p>The AWS access key ID needs a subscription for the service.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "KMSThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. For more information about throttling, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html#requests-per-second\">Limits</a> in the <i>AWS Key Management Service Developer Guide.</i> </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "KMSAccessDeniedException",
        "documentation" : "<p>The ciphertext references a key that doesn't exist or that you don't have access to.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSecurityException",
        "documentation" : "<p>The credential signature isn't valid. You must use an HTTPS endpoint and sign your request using Signature Version 4.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PublishRequest",
        "variableName" : "publishRequest",
        "variableType" : "PublishRequest",
        "documentation" : "<p>Input for Publish action.</p>",
        "simpleType" : "PublishRequest",
        "variableSetterType" : "PublishRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "publish",
      "operationName" : "Publish",
      "returnType" : {
        "returnType" : "PublishResult",
        "documentation" : "<p>Response for Publish action.</p>"
      },
      "syncReturnType" : "PublishResult"
    },
    "RemovePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemovePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemovePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemovePermissionRequest, RemovePermissionResult>",
      "asyncReturnType" : "RemovePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a statement from a topic's access control policy.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemovePermissionRequest",
        "variableName" : "removePermissionRequest",
        "variableType" : "RemovePermissionRequest",
        "documentation" : "<p>Input for RemovePermission action.</p>",
        "simpleType" : "RemovePermissionRequest",
        "variableSetterType" : "RemovePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removePermission",
      "operationName" : "RemovePermission",
      "returnType" : {
        "returnType" : "RemovePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "RemovePermissionResult"
    },
    "SetEndpointAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetEndpointAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetEndpointAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetEndpointAttributesRequest, SetEndpointAttributesResult>",
      "asyncReturnType" : "SetEndpointAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the attributes for an endpoint for a device on one of the supported push notification services, such as GCM and APNS. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetEndpointAttributesRequest",
        "variableName" : "setEndpointAttributesRequest",
        "variableType" : "SetEndpointAttributesRequest",
        "documentation" : "<p>Input for SetEndpointAttributes action.</p>",
        "simpleType" : "SetEndpointAttributesRequest",
        "variableSetterType" : "SetEndpointAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setEndpointAttributes",
      "operationName" : "SetEndpointAttributes",
      "returnType" : {
        "returnType" : "SetEndpointAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "SetEndpointAttributesResult"
    },
    "SetPlatformApplicationAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetPlatformApplicationAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetPlatformApplicationAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetPlatformApplicationAttributesRequest, SetPlatformApplicationAttributesResult>",
      "asyncReturnType" : "SetPlatformApplicationAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the attributes of the platform application object for the supported push notification services, such as APNS and GCM. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. For information on configuring attributes for message delivery status, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/sns-msg-status.html\">Using Amazon SNS Application Attributes for Message Delivery Status</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetPlatformApplicationAttributesRequest",
        "variableName" : "setPlatformApplicationAttributesRequest",
        "variableType" : "SetPlatformApplicationAttributesRequest",
        "documentation" : "<p>Input for SetPlatformApplicationAttributes action.</p>",
        "simpleType" : "SetPlatformApplicationAttributesRequest",
        "variableSetterType" : "SetPlatformApplicationAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setPlatformApplicationAttributes",
      "operationName" : "SetPlatformApplicationAttributes",
      "returnType" : {
        "returnType" : "SetPlatformApplicationAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "SetPlatformApplicationAttributesResult"
    },
    "SetSMSAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetSMSAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetSMSAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSMSAttributesRequest, SetSMSAttributesResult>",
      "asyncReturnType" : "SetSMSAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this request to set the default settings for sending SMS messages and receiving daily SMS usage reports.</p> <p>You can override some of these settings for a single message when you use the <code>Publish</code> action with the <code>MessageAttributes.entry.N</code> parameter. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/sms_publish-to-phone.html\">Sending an SMS Message</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetSMSAttributesRequest",
        "variableName" : "setSMSAttributesRequest",
        "variableType" : "SetSMSAttributesRequest",
        "documentation" : "<p>The input for the SetSMSAttributes action.</p>",
        "simpleType" : "SetSMSAttributesRequest",
        "variableSetterType" : "SetSMSAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setSMSAttributes",
      "operationName" : "SetSMSAttributes",
      "returnType" : {
        "returnType" : "SetSMSAttributesResult",
        "documentation" : "<p>The response for the SetSMSAttributes action.</p>"
      },
      "syncReturnType" : "SetSMSAttributesResult"
    },
    "SetSubscriptionAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetSubscriptionAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetSubscriptionAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSubscriptionAttributesRequest, SetSubscriptionAttributesResult>",
      "asyncReturnType" : "SetSubscriptionAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows a subscription owner to set an attribute of the subscription to a new value.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FilterPolicyLimitExceededException",
        "documentation" : "<p>Indicates that the number of filter polices in your AWS account exceeds the limit. To add more filter polices, submit an SNS Limit Increase case in the AWS Support Center.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetSubscriptionAttributesRequest",
        "variableName" : "setSubscriptionAttributesRequest",
        "variableType" : "SetSubscriptionAttributesRequest",
        "documentation" : "<p>Input for SetSubscriptionAttributes action.</p>",
        "simpleType" : "SetSubscriptionAttributesRequest",
        "variableSetterType" : "SetSubscriptionAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setSubscriptionAttributes",
      "operationName" : "SetSubscriptionAttributes",
      "returnType" : {
        "returnType" : "SetSubscriptionAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "SetSubscriptionAttributesResult"
    },
    "SetTopicAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetTopicAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetTopicAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetTopicAttributesRequest, SetTopicAttributesResult>",
      "asyncReturnType" : "SetTopicAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows a topic owner to set an attribute of the topic to a new value.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidSecurityException",
        "documentation" : "<p>The credential signature isn't valid. You must use an HTTPS endpoint and sign your request using Signature Version 4.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetTopicAttributesRequest",
        "variableName" : "setTopicAttributesRequest",
        "variableType" : "SetTopicAttributesRequest",
        "documentation" : "<p>Input for SetTopicAttributes action.</p>",
        "simpleType" : "SetTopicAttributesRequest",
        "variableSetterType" : "SetTopicAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setTopicAttributes",
      "operationName" : "SetTopicAttributes",
      "returnType" : {
        "returnType" : "SetTopicAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "SetTopicAttributesResult"
    },
    "Subscribe" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SubscribeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SubscribeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubscribeRequest, SubscribeResult>",
      "asyncReturnType" : "SubscribeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Prepares to subscribe an endpoint by sending the endpoint a confirmation message. To actually create a subscription, the endpoint owner must call the <code>ConfirmSubscription</code> action with the token from the confirmation message. Confirmation tokens are valid for three days.</p> <p>This action is throttled at 100 transactions per second (TPS).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SubscriptionLimitExceededException",
        "documentation" : "<p>Indicates that the customer already owns the maximum allowed number of subscriptions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "FilterPolicyLimitExceededException",
        "documentation" : "<p>Indicates that the number of filter polices in your AWS account exceeds the limit. To add more filter polices, submit an SNS Limit Increase case in the AWS Support Center.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidSecurityException",
        "documentation" : "<p>The credential signature isn't valid. You must use an HTTPS endpoint and sign your request using Signature Version 4.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SubscribeRequest",
        "variableName" : "subscribeRequest",
        "variableType" : "SubscribeRequest",
        "documentation" : "<p>Input for Subscribe action.</p>",
        "simpleType" : "SubscribeRequest",
        "variableSetterType" : "SubscribeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "subscribe",
      "operationName" : "Subscribe",
      "returnType" : {
        "returnType" : "SubscribeResult",
        "documentation" : "<p>Response for Subscribe action.</p>"
      },
      "syncReturnType" : "SubscribeResult"
    },
    "Unsubscribe" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnsubscribeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnsubscribeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnsubscribeRequest, UnsubscribeResult>",
      "asyncReturnType" : "UnsubscribeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a subscription. If the subscription requires authentication for deletion, only the owner of the subscription or the topic's owner can unsubscribe, and an AWS signature is required. If the <code>Unsubscribe</code> call does not require authentication and the requester is not the subscription owner, a final cancellation message is delivered to the endpoint, so that the endpoint owner can easily resubscribe to the topic if the <code>Unsubscribe</code> request was unintended.</p> <p>This action is throttled at 100 transactions per second (TPS).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Indicates an internal service error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>Indicates that the user has been denied access to the requested resource.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>Indicates that the requested resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidSecurityException",
        "documentation" : "<p>The credential signature isn't valid. You must use an HTTPS endpoint and sign your request using Signature Version 4.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UnsubscribeRequest",
        "variableName" : "unsubscribeRequest",
        "variableType" : "UnsubscribeRequest",
        "documentation" : "<p>Input for Unsubscribe action.</p>",
        "simpleType" : "UnsubscribeRequest",
        "variableSetterType" : "UnsubscribeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unsubscribe",
      "operationName" : "Unsubscribe",
      "returnType" : {
        "returnType" : "UnsubscribeResult",
        "documentation" : null
      },
      "syncReturnType" : "UnsubscribeResult"
    }
  },
  "shapes" : {
    "AddPermissionRequest" : {
      "c2jName" : "AddPermissionInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddPermission",
        "locationName" : null,
        "requestUri" : "/",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "TopicArn",
        "c2jShape" : "topicARN",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the topic whose access control policy you wish to modify.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the topic whose access control policy you wish to modify.</p>\n@param topicArn The ARN of the topic whose access control policy you wish to modify.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTopicArn",
        "getterDocumentation" : "/**<p>The ARN of the topic whose access control policy you wish to modify.</p>\n@return The ARN of the topic whose access control policy you wish to modify.*/",
        "getterMethodName" : "getTopicArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TopicArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TopicArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TopicArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the topic whose access control policy you wish to modify.</p>\n@param topicArn The ARN of the topic whose access control policy you wish to modify.*/",
        "setterMethodName" : "setTopicArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "topicArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the topic whose access control policy you wish to modify.</p>\n@param topicArn The ARN of the topic whose access control policy you wish to modify.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "topicArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the topic whose access control policy you wish to modify.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Label",
        "c2jShape" : "label",
        "deprecated" : false,
        "documentation" : "<p>A unique identifier for the new policy statement.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique identifier for the new policy statement.</p>\n@param label A unique identifier for the new policy statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLabel",
        "getterDocumentation" : "/**<p>A unique identifier for the new policy statement.</p>\n@return A unique identifier for the new policy statement.*/",
        "getterMethodName" : "getLabel",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Label",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Label",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Label",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique identifier for the new policy statement.</p>\n@param label A unique identifier for the new policy statement.*/",
        "setterMethodName" : "setLabel",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "label",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique identifier for the new policy statement.</p>\n@param label A unique identifier for the new policy statement.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "label",
          "variableType" : "String",
          "documentation" : "<p>A unique identifier for the new policy statement.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AWSAccountIds",
        "c2jShape" : "DelegatesList",
        "deprecated" : false,
        "documentation" : "<p>The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.</p>\n@param aWSAccountIds The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAWSAccountIds",
[...]
