{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-05-03",
    "asyncClient" : "AWSSSMContactsAsyncClient",
    "asyncClientBuilderClassName" : "AWSSSMContactsAsyncClientBuilder",
    "asyncInterface" : "AWSSSMContactsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSSSMContactsModuleInjector",
    "defaultEndpoint" : "ssm-contacts.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ssm-contacts.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p/>",
    "endpointPrefix" : "ssm-contacts",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ssmcontacts",
    "packagePath" : "com/amazonaws/services/ssmcontacts",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "SSM Contacts",
    "serviceFullName" : "AWS Systems Manager Incident Manager Contacts",
    "serviceId" : "SSM Contacts",
    "serviceName" : "SSM Contacts",
    "signingName" : "ssm-contacts",
    "smokeTestsPackageName" : "com.amazonaws.services.ssmcontacts.smoketests",
    "syncClient" : "AWSSSMContactsClient",
    "syncClientBuilderClassName" : "AWSSSMContactsClientBuilder",
    "syncInterface" : "AWSSSMContacts",
    "uid" : "ssm-contacts-2021-05-03",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptPage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptPageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptPageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptPageRequest, AcceptPageResult>",
      "asyncReturnType" : "AcceptPageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used to acknowledge an engagement to a contact channel during an incident.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptPageRequest",
        "variableName" : "acceptPageRequest",
        "variableType" : "AcceptPageRequest",
        "documentation" : "",
        "simpleType" : "AcceptPageRequest",
        "variableSetterType" : "AcceptPageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptPage",
      "operationName" : "AcceptPage",
      "returnType" : {
        "returnType" : "AcceptPageResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptPageResult"
    },
    "ActivateContactChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ActivateContactChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ActivateContactChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivateContactChannelRequest, ActivateContactChannelResult>",
      "asyncReturnType" : "ActivateContactChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates a contact's contact channel. Incident Manager can't engage a contact until the contact channel has been activated.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivateContactChannelRequest",
        "variableName" : "activateContactChannelRequest",
        "variableType" : "ActivateContactChannelRequest",
        "documentation" : "",
        "simpleType" : "ActivateContactChannelRequest",
        "variableSetterType" : "ActivateContactChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "activateContactChannel",
      "operationName" : "ActivateContactChannel",
      "returnType" : {
        "returnType" : "ActivateContactChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "ActivateContactChannelResult"
    },
    "CreateContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateContactRequest, CreateContactResult>",
      "asyncReturnType" : "CreateContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Contacts are either the contacts that Incident Manager engages during an incident or the escalation plans that Incident Manager uses to engage contacts in phases during an incident. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateContactRequest",
        "variableName" : "createContactRequest",
        "variableType" : "CreateContactRequest",
        "documentation" : "",
        "simpleType" : "CreateContactRequest",
        "variableSetterType" : "CreateContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createContact",
      "operationName" : "CreateContact",
      "returnType" : {
        "returnType" : "CreateContactResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateContactResult"
    },
    "CreateContactChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateContactChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateContactChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateContactChannelRequest, CreateContactChannelResult>",
      "asyncReturnType" : "CreateContactChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A contact channel is the method that Incident Manager uses to engage your contact.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateContactChannelRequest",
        "variableName" : "createContactChannelRequest",
        "variableType" : "CreateContactChannelRequest",
        "documentation" : "",
        "simpleType" : "CreateContactChannelRequest",
        "variableSetterType" : "CreateContactChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createContactChannel",
      "operationName" : "CreateContactChannel",
      "returnType" : {
        "returnType" : "CreateContactChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateContactChannelResult"
    },
    "DeactivateContactChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeactivateContactChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeactivateContactChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeactivateContactChannelRequest, DeactivateContactChannelResult>",
      "asyncReturnType" : "DeactivateContactChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>To no longer receive Incident Manager engagements to a contact channel, you can deactivate the channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeactivateContactChannelRequest",
        "variableName" : "deactivateContactChannelRequest",
        "variableType" : "DeactivateContactChannelRequest",
        "documentation" : "",
        "simpleType" : "DeactivateContactChannelRequest",
        "variableSetterType" : "DeactivateContactChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deactivateContactChannel",
      "operationName" : "DeactivateContactChannel",
      "returnType" : {
        "returnType" : "DeactivateContactChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeactivateContactChannelResult"
    },
    "DeleteContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteContactRequest, DeleteContactResult>",
      "asyncReturnType" : "DeleteContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>To remove a contact from Incident Manager, you can delete the contact. Deleting a contact removes them from all escalation plans and related response plans. Deleting an escalation plan removes it from all related response plans. You will have to recreate the contact and its contact channels before you can use it again.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteContactRequest",
        "variableName" : "deleteContactRequest",
        "variableType" : "DeleteContactRequest",
        "documentation" : "",
        "simpleType" : "DeleteContactRequest",
        "variableSetterType" : "DeleteContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteContact",
      "operationName" : "DeleteContact",
      "returnType" : {
        "returnType" : "DeleteContactResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteContactResult"
    },
    "DeleteContactChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteContactChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteContactChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteContactChannelRequest, DeleteContactChannelResult>",
      "asyncReturnType" : "DeleteContactChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>To no longer receive engagements on a contact channel, you can delete the channel from a contact. Deleting the contact channel removes it from the contact's engagement plan. If you delete the only contact channel for a contact, you won't be able to engage that contact during an incident.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteContactChannelRequest",
        "variableName" : "deleteContactChannelRequest",
        "variableType" : "DeleteContactChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteContactChannelRequest",
        "variableSetterType" : "DeleteContactChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteContactChannel",
      "operationName" : "DeleteContactChannel",
      "returnType" : {
        "returnType" : "DeleteContactChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteContactChannelResult"
    },
    "DescribeEngagement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEngagementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEngagementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEngagementRequest, DescribeEngagementResult>",
      "asyncReturnType" : "DescribeEngagementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Incident Manager uses engagements to engage contacts and escalation plans during an incident. Use this command to describe the engagement that occurred during an incident.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEngagementRequest",
        "variableName" : "describeEngagementRequest",
        "variableType" : "DescribeEngagementRequest",
        "documentation" : "",
        "simpleType" : "DescribeEngagementRequest",
        "variableSetterType" : "DescribeEngagementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEngagement",
      "operationName" : "DescribeEngagement",
      "returnType" : {
        "returnType" : "DescribeEngagementResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEngagementResult"
    },
    "DescribePage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePageRequest, DescribePageResult>",
      "asyncReturnType" : "DescribePageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists details of the engagement to a contact channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePageRequest",
        "variableName" : "describePageRequest",
        "variableType" : "DescribePageRequest",
        "documentation" : "",
        "simpleType" : "DescribePageRequest",
        "variableSetterType" : "DescribePageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePage",
      "operationName" : "DescribePage",
      "returnType" : {
        "returnType" : "DescribePageResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePageResult"
    },
    "GetContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContactRequest, GetContactResult>",
      "asyncReturnType" : "GetContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about the specified contact or escalation plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContactRequest",
        "variableName" : "getContactRequest",
        "variableType" : "GetContactRequest",
        "documentation" : "",
        "simpleType" : "GetContactRequest",
        "variableSetterType" : "GetContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContact",
      "operationName" : "GetContact",
      "returnType" : {
        "returnType" : "GetContactResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContactResult"
    },
    "GetContactChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContactChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContactChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContactChannelRequest, GetContactChannelResult>",
      "asyncReturnType" : "GetContactChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List details about a specific contact channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContactChannelRequest",
        "variableName" : "getContactChannelRequest",
        "variableType" : "GetContactChannelRequest",
        "documentation" : "",
        "simpleType" : "GetContactChannelRequest",
        "variableSetterType" : "GetContactChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContactChannel",
      "operationName" : "GetContactChannel",
      "returnType" : {
        "returnType" : "GetContactChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContactChannelResult"
    },
    "GetContactPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContactPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContactPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContactPolicyRequest, GetContactPolicyResult>",
      "asyncReturnType" : "GetContactPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the resource policies attached to the specified contact or escalation plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContactPolicyRequest",
        "variableName" : "getContactPolicyRequest",
        "variableType" : "GetContactPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetContactPolicyRequest",
        "variableSetterType" : "GetContactPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContactPolicy",
      "operationName" : "GetContactPolicy",
      "returnType" : {
        "returnType" : "GetContactPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContactPolicyResult"
    },
    "ListContactChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListContactChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListContactChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListContactChannelsRequest, ListContactChannelsResult>",
      "asyncReturnType" : "ListContactChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all contact channels for the specified contact.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListContactChannelsRequest",
        "variableName" : "listContactChannelsRequest",
        "variableType" : "ListContactChannelsRequest",
        "documentation" : "",
        "simpleType" : "ListContactChannelsRequest",
        "variableSetterType" : "ListContactChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listContactChannels",
      "operationName" : "ListContactChannels",
      "returnType" : {
        "returnType" : "ListContactChannelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListContactChannelsResult"
    },
    "ListContacts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListContactsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListContactsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListContactsRequest, ListContactsResult>",
      "asyncReturnType" : "ListContactsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all contacts and escalation plans in Incident Manager.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListContactsRequest",
        "variableName" : "listContactsRequest",
        "variableType" : "ListContactsRequest",
        "documentation" : "",
        "simpleType" : "ListContactsRequest",
        "variableSetterType" : "ListContactsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listContacts",
      "operationName" : "ListContacts",
      "returnType" : {
        "returnType" : "ListContactsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListContactsResult"
    },
    "ListEngagements" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEngagementsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEngagementsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEngagementsRequest, ListEngagementsResult>",
      "asyncReturnType" : "ListEngagementsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all engagements that have happened in an incident.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEngagementsRequest",
        "variableName" : "listEngagementsRequest",
        "variableType" : "ListEngagementsRequest",
        "documentation" : "",
        "simpleType" : "ListEngagementsRequest",
        "variableSetterType" : "ListEngagementsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEngagements",
      "operationName" : "ListEngagements",
      "returnType" : {
        "returnType" : "ListEngagementsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEngagementsResult"
    },
    "ListPageReceipts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPageReceiptsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPageReceiptsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPageReceiptsRequest, ListPageReceiptsResult>",
      "asyncReturnType" : "ListPageReceiptsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the engagements to contact channels that have been acknowledged. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPageReceiptsRequest",
        "variableName" : "listPageReceiptsRequest",
        "variableType" : "ListPageReceiptsRequest",
        "documentation" : "",
        "simpleType" : "ListPageReceiptsRequest",
        "variableSetterType" : "ListPageReceiptsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPageReceipts",
      "operationName" : "ListPageReceipts",
      "returnType" : {
        "returnType" : "ListPageReceiptsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPageReceiptsResult"
    },
    "ListPagesByContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPagesByContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPagesByContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPagesByContactRequest, ListPagesByContactResult>",
      "asyncReturnType" : "ListPagesByContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the engagements to a contact's contact channels.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPagesByContactRequest",
        "variableName" : "listPagesByContactRequest",
        "variableType" : "ListPagesByContactRequest",
        "documentation" : "",
        "simpleType" : "ListPagesByContactRequest",
        "variableSetterType" : "ListPagesByContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPagesByContact",
      "operationName" : "ListPagesByContact",
      "returnType" : {
        "returnType" : "ListPagesByContactResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPagesByContactResult"
    },
    "ListPagesByEngagement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPagesByEngagementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPagesByEngagementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPagesByEngagementRequest, ListPagesByEngagementResult>",
      "asyncReturnType" : "ListPagesByEngagementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the engagements to contact channels that occurred by engaging a contact.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPagesByEngagementRequest",
        "variableName" : "listPagesByEngagementRequest",
        "variableType" : "ListPagesByEngagementRequest",
        "documentation" : "",
        "simpleType" : "ListPagesByEngagementRequest",
        "variableSetterType" : "ListPagesByEngagementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPagesByEngagement",
      "operationName" : "ListPagesByEngagement",
      "returnType" : {
        "returnType" : "ListPagesByEngagementResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPagesByEngagementResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags of an escalation plan or contact.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutContactPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutContactPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutContactPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutContactPolicyRequest, PutContactPolicyResult>",
      "asyncReturnType" : "PutContactPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a resource to the specified contact or escalation plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutContactPolicyRequest",
        "variableName" : "putContactPolicyRequest",
        "variableType" : "PutContactPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutContactPolicyRequest",
        "variableSetterType" : "PutContactPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putContactPolicy",
      "operationName" : "PutContactPolicy",
      "returnType" : {
        "returnType" : "PutContactPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutContactPolicyResult"
    },
    "SendActivationCode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendActivationCodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendActivationCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendActivationCodeRequest, SendActivationCodeResult>",
      "asyncReturnType" : "SendActivationCodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends an activation code to a contact channel. The contact can use this code to activate the contact channel in the console or with the <code>ActivateChannel</code> action. Incident Manager can't engage a contact channel until it has been activated.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendActivationCodeRequest",
        "variableName" : "sendActivationCodeRequest",
        "variableType" : "SendActivationCodeRequest",
        "documentation" : "",
        "simpleType" : "SendActivationCodeRequest",
        "variableSetterType" : "SendActivationCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendActivationCode",
      "operationName" : "SendActivationCode",
      "returnType" : {
        "returnType" : "SendActivationCodeResult",
        "documentation" : null
      },
      "syncReturnType" : "SendActivationCodeResult"
    },
    "StartEngagement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartEngagementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartEngagementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartEngagementRequest, StartEngagementResult>",
      "asyncReturnType" : "StartEngagementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an engagement to a contact or escalation plan. The engagement engages each contact specified in the incident.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartEngagementRequest",
        "variableName" : "startEngagementRequest",
        "variableType" : "StartEngagementRequest",
        "documentation" : "",
        "simpleType" : "StartEngagementRequest",
        "variableSetterType" : "StartEngagementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startEngagement",
      "operationName" : "StartEngagement",
      "returnType" : {
        "returnType" : "StartEngagementResult",
        "documentation" : null
      },
      "syncReturnType" : "StartEngagementResult"
    },
    "StopEngagement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopEngagementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopEngagementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopEngagementRequest, StopEngagementResult>",
      "asyncReturnType" : "StopEngagementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an engagement before it finishes the final stage of the escalation plan or engagement plan. Further contacts aren't engaged.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopEngagementRequest",
        "variableName" : "stopEngagementRequest",
        "variableType" : "StopEngagementRequest",
        "documentation" : "",
        "simpleType" : "StopEngagementRequest",
        "variableSetterType" : "StopEngagementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopEngagement",
      "operationName" : "StopEngagement",
      "returnType" : {
        "returnType" : "StopEngagementResult",
        "documentation" : null
      },
      "syncReturnType" : "StopEngagementResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tags a contact or escalation plan. You can tag only contacts and escalation plans in the first region of your replication set. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from the specified resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateContactRequest, UpdateContactResult>",
      "asyncReturnType" : "UpdateContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the contact or escalation plan specified. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateContactRequest",
        "variableName" : "updateContactRequest",
        "variableType" : "UpdateContactRequest",
        "documentation" : "",
        "simpleType" : "UpdateContactRequest",
        "variableSetterType" : "UpdateContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateContact",
      "operationName" : "UpdateContact",
      "returnType" : {
        "returnType" : "UpdateContactResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateContactResult"
    },
    "UpdateContactChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateContactChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateContactChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateContactChannelRequest, UpdateContactChannelResult>",
      "asyncReturnType" : "UpdateContactChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a contact's contact channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataEncryptionException",
        "documentation" : "<p>The action failed to due an encryption key error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateContactChannelRequest",
        "variableName" : "updateContactChannelRequest",
        "variableType" : "UpdateContactChannelRequest",
        "documentation" : "",
        "simpleType" : "UpdateContactChannelRequest",
        "variableSetterType" : "UpdateContactChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateContactChannel",
      "operationName" : "UpdateContactChannel",
      "returnType" : {
        "returnType" : "UpdateContactChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateContactChannelResult"
    }
  },
  "shapes" : {
    "AcceptPageRequest" : {
      "c2jName" : "AcceptPageRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ssmcontacts.request.AcceptPageRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptPage",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "SSMContacts.AcceptPage",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "PageId",
        "c2jShape" : "SsmContactsArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>\n@param pageId The Amazon Resource Name (ARN) of the engagement to a contact channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPageId",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>\n@return The Amazon Resource Name (ARN) of the engagement to a contact channel.*/",
        "getterMethodName" : "getPageId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PageId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PageId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PageId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>\n@param pageId The Amazon Resource Name (ARN) of the engagement to a contact channel.*/",
        "setterMethodName" : "setPageId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "pageId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>\n@param pageId The Amazon Resource Name (ARN) of the engagement to a contact channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "pageId",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ContactChannelId",
        "c2jShape" : "SsmContactsArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the contact channel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the contact channel.</p>\n@param contactChannelId The ARN of the contact channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContactChannelId",
        "getterDocumentation" : "/**<p>The ARN of the contact channel.</p>\n@return The ARN of the contact channel.*/",
        "getterMethodName" : "getContactChannelId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ContactChannelId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ContactChannelId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ContactChannelId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the contact channel.</p>\n@param contactChannelId The ARN of the contact channel.*/",
        "setterMethodName" : "setContactChannelId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contactChannelId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the contact channel.</p>\n@param contactChannelId The ARN of the contact channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contactChannelId",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the contact channel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AcceptType",
        "c2jShape" : "AcceptType",
        "deprecated" : false,
        "documentation" : "<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AcceptType",
        "fluentSetterDocumentation" : "/**<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>\n@param acceptType The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AcceptType*/",
        "fluentSetterMethodName" : "withAcceptType",
        "getterDocumentation" : "/**<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>\n@return The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.\n@see AcceptType*/",
        "getterMethodName" : "getAcceptType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AcceptType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AcceptType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AcceptType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>\n@param acceptType The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.\n@see AcceptType*/",
        "setterMethodName" : "setAcceptType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acceptType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>\n@param acceptType The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AcceptType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acceptType",
          "variableType" : "String",
          "documentation" : "<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Note",
        "c2jShape" : "ReceiptInfo",
        "deprecated" : false,
        "documentation" : "<p>Information provided by the user when the user acknowledges the page.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information provided by the user when the user acknowledges the page.</p>\n@param note Information provided by the user when the user acknowledges the page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNote",
        "getterDocumentation" : "/**<p>Information provided by the user when the user acknowledges the page.</p>\n@return Information provided by the user when the user acknowledges the page.*/",
        "getterMethodName" : "getNote",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Note",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Note",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Note",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information provided by the user when the user acknowledges the page.</p>\n@param note Information provided by the user when the user acknowledges the page.*/",
        "setterMethodName" : "setNote",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "note",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information provided by the user when the user acknowledges the page.</p>\n@param note Information provided by the user when the user acknowledges the page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "note",
          "variableType" : "String",
          "documentation" : "<p>Information provided by the user when the user acknowledges the page.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AcceptCode",
        "c2jShape" : "AcceptCode",
        "deprecated" : false,
        "documentation" : "<p>The accept code is a 6-digit code used to acknowledge the page.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The accept code is a 6-digit code used to acknowledge the page.</p>\n@param acceptCode The accept code is a 6-digit code used to acknowledge the page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAcceptCode",
        "getterDocumentation" : "/**<p>The accept code is a 6-digit code used to acknowledge the page.</p>\n@return The accept code is a 6-digit code used to acknowledge the page.*/",
        "getterMethodName" : "getAcceptCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AcceptCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AcceptCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AcceptCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The accept code is a 6-digit code used to acknowledge the page.</p>\n@param acceptCode The accept code is a 6-digit code used to acknowledge the page.*/",
        "setterMethodName" : "setAcceptCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acceptCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The accept code is a 6-digit code used to acknowledge the page.</p>\n@param acceptCode The accept code is a 6-digit code used to acknowledge the page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acceptCode",
          "variableType" : "String",
          "documentation" : "<p>The accept code is a 6-digit code used to acknowledge the page.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AcceptCode" : {
          "c2jName" : "AcceptCode",
          "c2jShape" : "AcceptCode",
          "deprecated" : false,
          "documentation" : "<p>The accept code is a 6-digit code used to acknowledge the page.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The accept code is a 6-digit code used to acknowledge the page.</p>\n@param acceptCode The accept code is a 6-digit code used to acknowledge the page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAcceptCode",
          "getterDocumentation" : "/**<p>The accept code is a 6-digit code used to acknowledge the page.</p>\n@return The accept code is a 6-digit code used to acknowledge the page.*/",
          "getterMethodName" : "getAcceptCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AcceptCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AcceptCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AcceptCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The accept code is a 6-digit code used to acknowledge the page.</p>\n@param acceptCode The accept code is a 6-digit code used to acknowledge the page.*/",
          "setterMethodName" : "setAcceptCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acceptCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The accept code is a 6-digit code used to acknowledge the page.</p>\n@param acceptCode The accept code is a 6-digit code used to acknowledge the page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acceptCode",
            "variableType" : "String",
            "documentation" : "<p>The accept code is a 6-digit code used to acknowledge the page.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AcceptType" : {
          "c2jName" : "AcceptType",
          "c2jShape" : "AcceptType",
          "deprecated" : false,
          "documentation" : "<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "AcceptType",
          "fluentSetterDocumentation" : "/**<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>\n@param acceptType The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AcceptType*/",
          "fluentSetterMethodName" : "withAcceptType",
          "getterDocumentation" : "/**<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>\n@return The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.\n@see AcceptType*/",
          "getterMethodName" : "getAcceptType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AcceptType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AcceptType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AcceptType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>\n@param acceptType The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.\n@see AcceptType*/",
          "setterMethodName" : "setAcceptType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acceptType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>\n@param acceptType The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AcceptType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acceptType",
            "variableType" : "String",
            "documentation" : "<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ContactChannelId" : {
          "c2jName" : "ContactChannelId",
          "c2jShape" : "SsmContactsArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the contact channel.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the contact channel.</p>\n@param contactChannelId The ARN of the contact channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContactChannelId",
          "getterDocumentation" : "/**<p>The ARN of the contact channel.</p>\n@return The ARN of the contact channel.*/",
          "getterMethodName" : "getContactChannelId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ContactChannelId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ContactChannelId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ContactChannelId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the contact channel.</p>\n@param contactChannelId The ARN of the contact channel.*/",
          "setterMethodName" : "setContactChannelId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "contactChannelId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the contact channel.</p>\n@param contactChannelId The ARN of the contact channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "contactChannelId",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the contact channel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Note" : {
          "c2jName" : "Note",
          "c2jShape" : "ReceiptInfo",
          "deprecated" : false,
          "documentation" : "<p>Information provided by the user when the user acknowledges the page.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information provided by the user when the user acknowledges the page.</p>\n@param note Information provided by the user when the user acknowledges the page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNote",
          "getterDocumentation" : "/**<p>Information provided by the user when the user acknowledges the page.</p>\n@return Information provided by the user when the user acknowledges the page.*/",
          "getterMethodName" : "getNote",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Note",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Note",
            "uri" : false
          },
[...]
