{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSSSMIncidentsAsyncClient",
    "asyncClientBuilderClassName" : "AWSSSMIncidentsAsyncClientBuilder",
    "asyncInterface" : "AWSSSMIncidentsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSSSMIncidentsModuleInjector",
    "defaultEndpoint" : "ssm-incidents.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ssm-incidents.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Systems Manager Incident Manager is an incident management console designed to help users mitigate and recover from incidents affecting their AWS-hosted applications. An incident is any unplanned interruption or reduction in quality of services. </p> <p>Incident Manager increases incident resolution by notifying responders of impact, highlighting relevant troubleshooting data, and providing collaboration tools to get services back up and running. To achieve the primary goal of reducing the time-to-resolution of critical incidents, Incident Manager automates response plans and enables responder team escalation. </p>",
    "endpointPrefix" : "ssm-incidents",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ssmincidents",
    "packagePath" : "com/amazonaws/services/ssmincidents",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "SSM Incidents",
    "serviceFullName" : "AWS Systems Manager Incident Manager",
    "serviceId" : "SSM Incidents",
    "serviceName" : "SSM Incidents",
    "signingName" : "ssm-incidents",
    "smokeTestsPackageName" : "com.amazonaws.services.ssmincidents.smoketests",
    "syncClient" : "AWSSSMIncidentsClient",
    "syncClientBuilderClassName" : "AWSSSMIncidentsClientBuilder",
    "syncInterface" : "AWSSSMIncidents",
    "uid" : "ssm-incidents-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateReplicationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationSetRequest, CreateReplicationSetResult>",
      "asyncReturnType" : "CreateReplicationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A replication set replicates and encrypts your data to the provided Regions with the provided KMS key. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateReplicationSetRequest",
        "variableName" : "createReplicationSetRequest",
        "variableType" : "CreateReplicationSetRequest",
        "documentation" : "",
        "simpleType" : "CreateReplicationSetRequest",
        "variableSetterType" : "CreateReplicationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationSet",
      "operationName" : "CreateReplicationSet",
      "returnType" : {
        "returnType" : "CreateReplicationSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateReplicationSetResult"
    },
    "CreateResponsePlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResponsePlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResponsePlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResponsePlanRequest, CreateResponsePlanResult>",
      "asyncReturnType" : "CreateResponsePlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a response plan that automates the initial response to incidents. A response plan engages contacts, starts chat channel collaboration, and initiates runbooks at the beginning of an incident.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResponsePlanRequest",
        "variableName" : "createResponsePlanRequest",
        "variableType" : "CreateResponsePlanRequest",
        "documentation" : "",
        "simpleType" : "CreateResponsePlanRequest",
        "variableSetterType" : "CreateResponsePlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResponsePlan",
      "operationName" : "CreateResponsePlan",
      "returnType" : {
        "returnType" : "CreateResponsePlanResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResponsePlanResult"
    },
    "CreateTimelineEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTimelineEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTimelineEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTimelineEventRequest, CreateTimelineEventResult>",
      "asyncReturnType" : "CreateTimelineEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a custom timeline event on the incident details page of an incident record. Timeline events are automatically created by Incident Manager, marking key moment during an incident. You can create custom timeline events to mark important events that are automatically detected by Incident Manager.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTimelineEventRequest",
        "variableName" : "createTimelineEventRequest",
        "variableType" : "CreateTimelineEventRequest",
        "documentation" : "",
        "simpleType" : "CreateTimelineEventRequest",
        "variableSetterType" : "CreateTimelineEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTimelineEvent",
      "operationName" : "CreateTimelineEvent",
      "returnType" : {
        "returnType" : "CreateTimelineEventResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTimelineEventResult"
    },
    "DeleteIncidentRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIncidentRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIncidentRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIncidentRecordRequest, DeleteIncidentRecordResult>",
      "asyncReturnType" : "DeleteIncidentRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an incident record from Incident Manager. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIncidentRecordRequest",
        "variableName" : "deleteIncidentRecordRequest",
        "variableType" : "DeleteIncidentRecordRequest",
        "documentation" : "",
        "simpleType" : "DeleteIncidentRecordRequest",
        "variableSetterType" : "DeleteIncidentRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIncidentRecord",
      "operationName" : "DeleteIncidentRecord",
      "returnType" : {
        "returnType" : "DeleteIncidentRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIncidentRecordResult"
    },
    "DeleteReplicationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationSetRequest, DeleteReplicationSetResult>",
      "asyncReturnType" : "DeleteReplicationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes all Regions in your replication set. Deleting the replication set deletes all Incident Manager data.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReplicationSetRequest",
        "variableName" : "deleteReplicationSetRequest",
        "variableType" : "DeleteReplicationSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteReplicationSetRequest",
        "variableSetterType" : "DeleteReplicationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationSet",
      "operationName" : "DeleteReplicationSet",
      "returnType" : {
        "returnType" : "DeleteReplicationSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteReplicationSetResult"
    },
    "DeleteResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourcePolicyRequest, DeleteResourcePolicyResult>",
      "asyncReturnType" : "DeleteResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the resource policy that AWS Resource Access Manager uses to share your Incident Manager resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourcePolicyRequest",
        "variableName" : "deleteResourcePolicyRequest",
        "variableType" : "DeleteResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourcePolicyRequest",
        "variableSetterType" : "DeleteResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourcePolicy",
      "operationName" : "DeleteResourcePolicy",
      "returnType" : {
        "returnType" : "DeleteResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourcePolicyResult"
    },
    "DeleteResponsePlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResponsePlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResponsePlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResponsePlanRequest, DeleteResponsePlanResult>",
      "asyncReturnType" : "DeleteResponsePlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified response plan. Deleting a response plan stops all linked CloudWatch alarms and EventBridge events from creating an incident with this response plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResponsePlanRequest",
        "variableName" : "deleteResponsePlanRequest",
        "variableType" : "DeleteResponsePlanRequest",
        "documentation" : "",
        "simpleType" : "DeleteResponsePlanRequest",
        "variableSetterType" : "DeleteResponsePlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResponsePlan",
      "operationName" : "DeleteResponsePlan",
      "returnType" : {
        "returnType" : "DeleteResponsePlanResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResponsePlanResult"
    },
    "DeleteTimelineEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTimelineEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTimelineEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTimelineEventRequest, DeleteTimelineEventResult>",
      "asyncReturnType" : "DeleteTimelineEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a timeline event from an incident.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTimelineEventRequest",
        "variableName" : "deleteTimelineEventRequest",
        "variableType" : "DeleteTimelineEventRequest",
        "documentation" : "",
        "simpleType" : "DeleteTimelineEventRequest",
        "variableSetterType" : "DeleteTimelineEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTimelineEvent",
      "operationName" : "DeleteTimelineEvent",
      "returnType" : {
        "returnType" : "DeleteTimelineEventResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTimelineEventResult"
    },
    "GetIncidentRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIncidentRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIncidentRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIncidentRecordRequest, GetIncidentRecordResult>",
      "asyncReturnType" : "GetIncidentRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of the specified incident record.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIncidentRecordRequest",
        "variableName" : "getIncidentRecordRequest",
        "variableType" : "GetIncidentRecordRequest",
        "documentation" : "",
        "simpleType" : "GetIncidentRecordRequest",
        "variableSetterType" : "GetIncidentRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIncidentRecord",
      "operationName" : "GetIncidentRecord",
      "returnType" : {
        "returnType" : "GetIncidentRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIncidentRecordResult"
    },
    "GetReplicationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReplicationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReplicationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReplicationSetRequest, GetReplicationSetResult>",
      "asyncReturnType" : "GetReplicationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve your Incident Manager replication set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReplicationSetRequest",
        "variableName" : "getReplicationSetRequest",
        "variableType" : "GetReplicationSetRequest",
        "documentation" : "",
        "simpleType" : "GetReplicationSetRequest",
        "variableSetterType" : "GetReplicationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReplicationSet",
      "operationName" : "GetReplicationSet",
      "returnType" : {
        "returnType" : "GetReplicationSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReplicationSetResult"
    },
    "GetResourcePolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcePoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcePoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcePoliciesRequest, GetResourcePoliciesResult>",
      "asyncReturnType" : "GetResourcePoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the resource policies attached to the specified response plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourcePoliciesRequest",
        "variableName" : "getResourcePoliciesRequest",
        "variableType" : "GetResourcePoliciesRequest",
        "documentation" : "",
        "simpleType" : "GetResourcePoliciesRequest",
        "variableSetterType" : "GetResourcePoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourcePolicies",
      "operationName" : "GetResourcePolicies",
      "returnType" : {
        "returnType" : "GetResourcePoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourcePoliciesResult"
    },
    "GetResponsePlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResponsePlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResponsePlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResponsePlanRequest, GetResponsePlanResult>",
      "asyncReturnType" : "GetResponsePlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details of the specified response plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResponsePlanRequest",
        "variableName" : "getResponsePlanRequest",
        "variableType" : "GetResponsePlanRequest",
        "documentation" : "",
        "simpleType" : "GetResponsePlanRequest",
        "variableSetterType" : "GetResponsePlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResponsePlan",
      "operationName" : "GetResponsePlan",
      "returnType" : {
        "returnType" : "GetResponsePlanResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResponsePlanResult"
    },
    "GetTimelineEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTimelineEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTimelineEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTimelineEventRequest, GetTimelineEventResult>",
      "asyncReturnType" : "GetTimelineEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a timeline event based on its ID and incident record.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTimelineEventRequest",
        "variableName" : "getTimelineEventRequest",
        "variableType" : "GetTimelineEventRequest",
        "documentation" : "",
        "simpleType" : "GetTimelineEventRequest",
        "variableSetterType" : "GetTimelineEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTimelineEvent",
      "operationName" : "GetTimelineEvent",
      "returnType" : {
        "returnType" : "GetTimelineEventResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTimelineEventResult"
    },
    "ListIncidentRecords" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIncidentRecordsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIncidentRecordsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIncidentRecordsRequest, ListIncidentRecordsResult>",
      "asyncReturnType" : "ListIncidentRecordsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all incident records in your account. Use this command to retrieve the Amazon Resource Name (ARN) of the incident record you want to update. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIncidentRecordsRequest",
        "variableName" : "listIncidentRecordsRequest",
        "variableType" : "ListIncidentRecordsRequest",
        "documentation" : "",
        "simpleType" : "ListIncidentRecordsRequest",
        "variableSetterType" : "ListIncidentRecordsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIncidentRecords",
      "operationName" : "ListIncidentRecords",
      "returnType" : {
        "returnType" : "ListIncidentRecordsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIncidentRecordsResult"
    },
    "ListRelatedItems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRelatedItemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRelatedItemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRelatedItemsRequest, ListRelatedItemsResult>",
      "asyncReturnType" : "ListRelatedItemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all related items for an incident record.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRelatedItemsRequest",
        "variableName" : "listRelatedItemsRequest",
        "variableType" : "ListRelatedItemsRequest",
        "documentation" : "",
        "simpleType" : "ListRelatedItemsRequest",
        "variableSetterType" : "ListRelatedItemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRelatedItems",
      "operationName" : "ListRelatedItems",
      "returnType" : {
        "returnType" : "ListRelatedItemsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRelatedItemsResult"
    },
    "ListReplicationSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReplicationSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReplicationSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReplicationSetsRequest, ListReplicationSetsResult>",
      "asyncReturnType" : "ListReplicationSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists details about the replication set configured in your account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReplicationSetsRequest",
        "variableName" : "listReplicationSetsRequest",
        "variableType" : "ListReplicationSetsRequest",
        "documentation" : "",
        "simpleType" : "ListReplicationSetsRequest",
        "variableSetterType" : "ListReplicationSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReplicationSets",
      "operationName" : "ListReplicationSets",
      "returnType" : {
        "returnType" : "ListReplicationSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListReplicationSetsResult"
    },
    "ListResponsePlans" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResponsePlansResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResponsePlansResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResponsePlansRequest, ListResponsePlansResult>",
      "asyncReturnType" : "ListResponsePlansResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all response plans in your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResponsePlansRequest",
        "variableName" : "listResponsePlansRequest",
        "variableType" : "ListResponsePlansRequest",
        "documentation" : "",
        "simpleType" : "ListResponsePlansRequest",
        "variableSetterType" : "ListResponsePlansRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResponsePlans",
      "operationName" : "ListResponsePlans",
      "returnType" : {
        "returnType" : "ListResponsePlansResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResponsePlansResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags that are attached to the specified response plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTimelineEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTimelineEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTimelineEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTimelineEventsRequest, ListTimelineEventsResult>",
      "asyncReturnType" : "ListTimelineEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists timeline events of the specified incident record.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTimelineEventsRequest",
        "variableName" : "listTimelineEventsRequest",
        "variableType" : "ListTimelineEventsRequest",
        "documentation" : "",
        "simpleType" : "ListTimelineEventsRequest",
        "variableSetterType" : "ListTimelineEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTimelineEvents",
      "operationName" : "ListTimelineEvents",
      "returnType" : {
        "returnType" : "ListTimelineEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTimelineEventsResult"
    },
    "PutResourcePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResourcePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResourcePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResourcePolicyRequest, PutResourcePolicyResult>",
      "asyncReturnType" : "PutResourcePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a resource policy to the specified response plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutResourcePolicyRequest",
        "variableName" : "putResourcePolicyRequest",
        "variableType" : "PutResourcePolicyRequest",
        "documentation" : "",
        "simpleType" : "PutResourcePolicyRequest",
        "variableSetterType" : "PutResourcePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResourcePolicy",
      "operationName" : "PutResourcePolicy",
      "returnType" : {
        "returnType" : "PutResourcePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutResourcePolicyResult"
    },
    "StartIncident" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartIncidentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartIncidentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartIncidentRequest, StartIncidentResult>",
      "asyncReturnType" : "StartIncidentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used to start an incident from CloudWatch alarms, EventBridge events, or manually. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartIncidentRequest",
        "variableName" : "startIncidentRequest",
        "variableType" : "StartIncidentRequest",
        "documentation" : "",
        "simpleType" : "StartIncidentRequest",
        "variableSetterType" : "StartIncidentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startIncident",
      "operationName" : "StartIncident",
      "returnType" : {
        "returnType" : "StartIncidentResult",
        "documentation" : null
      },
      "syncReturnType" : "StartIncidentResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a tag to a response plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDeletionProtection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDeletionProtectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDeletionProtectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDeletionProtectionRequest, UpdateDeletionProtectionResult>",
      "asyncReturnType" : "UpdateDeletionProtectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update deletion protection to either allow or deny deletion of the final Region in a replication set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDeletionProtectionRequest",
        "variableName" : "updateDeletionProtectionRequest",
        "variableType" : "UpdateDeletionProtectionRequest",
        "documentation" : "",
        "simpleType" : "UpdateDeletionProtectionRequest",
        "variableSetterType" : "UpdateDeletionProtectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDeletionProtection",
      "operationName" : "UpdateDeletionProtection",
      "returnType" : {
        "returnType" : "UpdateDeletionProtectionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDeletionProtectionResult"
    },
    "UpdateIncidentRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIncidentRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIncidentRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIncidentRecordRequest, UpdateIncidentRecordResult>",
      "asyncReturnType" : "UpdateIncidentRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the details of an incident record. You can use this action to update an incident record from the defined chat channel. For more information about using actions in chat channels, see <a href=\"https://docs.aws.amazon.com/incident-manager/latest/userguide/chat.html#chat-interact\">Interacting through chat</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIncidentRecordRequest",
        "variableName" : "updateIncidentRecordRequest",
        "variableType" : "UpdateIncidentRecordRequest",
        "documentation" : "",
        "simpleType" : "UpdateIncidentRecordRequest",
        "variableSetterType" : "UpdateIncidentRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIncidentRecord",
      "operationName" : "UpdateIncidentRecord",
      "returnType" : {
        "returnType" : "UpdateIncidentRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateIncidentRecordResult"
    },
    "UpdateRelatedItems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRelatedItemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRelatedItemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRelatedItemsRequest, UpdateRelatedItemsResult>",
      "asyncReturnType" : "UpdateRelatedItemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add or remove related items from the related items tab of an incident record.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRelatedItemsRequest",
        "variableName" : "updateRelatedItemsRequest",
        "variableType" : "UpdateRelatedItemsRequest",
        "documentation" : "",
        "simpleType" : "UpdateRelatedItemsRequest",
        "variableSetterType" : "UpdateRelatedItemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRelatedItems",
      "operationName" : "UpdateRelatedItems",
      "returnType" : {
        "returnType" : "UpdateRelatedItemsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRelatedItemsResult"
    },
    "UpdateReplicationSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReplicationSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReplicationSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReplicationSetRequest, UpdateReplicationSetResult>",
      "asyncReturnType" : "UpdateReplicationSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Add or delete Regions from your replication set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateReplicationSetRequest",
        "variableName" : "updateReplicationSetRequest",
        "variableType" : "UpdateReplicationSetRequest",
        "documentation" : "",
        "simpleType" : "UpdateReplicationSetRequest",
        "variableSetterType" : "UpdateReplicationSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReplicationSet",
      "operationName" : "UpdateReplicationSet",
      "returnType" : {
        "returnType" : "UpdateReplicationSetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateReplicationSetResult"
    },
    "UpdateResponsePlan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResponsePlanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResponsePlanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResponsePlanRequest, UpdateResponsePlanResult>",
      "asyncReturnType" : "UpdateResponsePlanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified response plan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResponsePlanRequest",
        "variableName" : "updateResponsePlanRequest",
        "variableType" : "UpdateResponsePlanRequest",
        "documentation" : "",
        "simpleType" : "UpdateResponsePlanRequest",
        "variableSetterType" : "UpdateResponsePlanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResponsePlan",
      "operationName" : "UpdateResponsePlan",
      "returnType" : {
        "returnType" : "UpdateResponsePlanResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResponsePlanResult"
    },
    "UpdateTimelineEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTimelineEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTimelineEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTimelineEventRequest, UpdateTimelineEventResult>",
      "asyncReturnType" : "UpdateTimelineEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a timeline event. You can update events of type <code>Custom Event</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTimelineEventRequest",
        "variableName" : "updateTimelineEventRequest",
        "variableType" : "UpdateTimelineEventRequest",
        "documentation" : "",
        "simpleType" : "UpdateTimelineEventRequest",
        "variableSetterType" : "UpdateTimelineEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTimelineEvent",
      "operationName" : "UpdateTimelineEvent",
      "returnType" : {
        "returnType" : "UpdateTimelineEventResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTimelineEventResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.ssmincidents.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.ssmincidents.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Action" : {
      "c2jName" : "Action",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The action that starts at the beginning of an incident. The response plan defines the action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ssmincidents.model.Action",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ssmAutomation",
        "c2jShape" : "SsmAutomation",
        "deprecated" : false,
        "documentation" : "<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>\n@param ssmAutomation The Systems Manager automation document to start as the runbook at the beginning of the incident.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSsmAutomation",
        "getterDocumentation" : "/**<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>\n@return The Systems Manager automation document to start as the runbook at the beginning of the incident.*/",
        "getterMethodName" : "getSsmAutomation",
        "getterModel" : {
          "returnType" : "SsmAutomation",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ssmAutomation",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ssmAutomation",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SsmAutomation",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>\n@param ssmAutomation The Systems Manager automation document to start as the runbook at the beginning of the incident.*/",
        "setterMethodName" : "setSsmAutomation",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SsmAutomation",
          "variableName" : "ssmAutomation",
          "variableType" : "SsmAutomation",
          "documentation" : "",
          "simpleType" : "SsmAutomation",
          "variableSetterType" : "SsmAutomation"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>\n@param ssmAutomation The Systems Manager automation document to start as the runbook at the beginning of the incident.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SsmAutomation",
          "variableName" : "ssmAutomation",
          "variableType" : "SsmAutomation",
          "documentation" : "<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>",
          "simpleType" : "SsmAutomation",
          "variableSetterType" : "SsmAutomation"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SsmAutomation" : {
          "c2jName" : "ssmAutomation",
          "c2jShape" : "SsmAutomation",
          "deprecated" : false,
          "documentation" : "<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>\n@param ssmAutomation The Systems Manager automation document to start as the runbook at the beginning of the incident.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSsmAutomation",
          "getterDocumentation" : "/**<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>\n@return The Systems Manager automation document to start as the runbook at the beginning of the incident.*/",
          "getterMethodName" : "getSsmAutomation",
          "getterModel" : {
            "returnType" : "SsmAutomation",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ssmAutomation",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ssmAutomation",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SsmAutomation",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>\n@param ssmAutomation The Systems Manager automation document to start as the runbook at the beginning of the incident.*/",
          "setterMethodName" : "setSsmAutomation",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SsmAutomation",
            "variableName" : "ssmAutomation",
            "variableType" : "SsmAutomation",
            "documentation" : "",
            "simpleType" : "SsmAutomation",
            "variableSetterType" : "SsmAutomation"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>\n@param ssmAutomation The Systems Manager automation document to start as the runbook at the beginning of the incident.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SsmAutomation",
            "variableName" : "ssmAutomation",
            "variableType" : "SsmAutomation",
            "documentation" : "<p>The Systems Manager automation document to start as the runbook at the beginning of the incident.</p>",
            "simpleType" : "SsmAutomation",
            "variableSetterType" : "SsmAutomation"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ssmincidents.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Action",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Action",
        "variableName" : "action",
        "variableType" : "Action",
        "documentation" : null,
        "simpleType" : "Action",
        "variableSetterType" : "Action"
      },
      "wrapper" : false
    },
    "AddRegionAction" : {
      "c2jName" : "AddRegionAction",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Defines the Region and KMS key to add to the replication set. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ssmincidents.model.AddRegionAction",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "regionName",
        "c2jShape" : "RegionName",
        "deprecated" : false,
        "documentation" : "<p>The Region name to add to the replication set.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Region name to add to the replication set.</p>\n@param regionName The Region name to add to the replication set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRegionName",
        "getterDocumentation" : "/**<p>The Region name to add to the replication set.</p>\n@return The Region name to add to the replication set.*/",
        "getterMethodName" : "getRegionName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "regionName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "regionName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RegionName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Region name to add to the replication set.</p>\n@param regionName The Region name to add to the replication set.*/",
        "setterMethodName" : "setRegionName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "regionName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Region name to add to the replication set.</p>\n@param regionName The Region name to add to the replication set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "regionName",
          "variableType" : "String",
          "documentation" : "<p>The Region name to add to the replication set.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "sseKmsKeyId",
        "c2jShape" : "SseKmsKey",
        "deprecated" : false,
        "documentation" : "<p>The KMS key ID to use to encrypt your replication set.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The KMS key ID to use to encrypt your replication set.</p>\n@param sseKmsKeyId The KMS key ID to use to encrypt your replication set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSseKmsKeyId",
        "getterDocumentation" : "/**<p>The KMS key ID to use to encrypt your replication set.</p>\n@return The KMS key ID to use to encrypt your replication set.*/",
        "getterMethodName" : "getSseKmsKeyId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "sseKmsKeyId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sseKmsKeyId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SseKmsKeyId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The KMS key ID to use to encrypt your replication set.</p>\n@param sseKmsKeyId The KMS key ID to use to encrypt your replication set.*/",
        "setterMethodName" : "setSseKmsKeyId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sseKmsKeyId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The KMS key ID to use to encrypt your replication set.</p>\n@param sseKmsKeyId The KMS key ID to use to encrypt your replication set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sseKmsKeyId",
          "variableType" : "String",
          "documentation" : "<p>The KMS key ID to use to encrypt your replication set.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RegionName" : {
          "c2jName" : "regionName",
          "c2jShape" : "RegionName",
          "deprecated" : false,
          "documentation" : "<p>The Region name to add to the replication set.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Region name to add to the replication set.</p>\n@param regionName The Region name to add to the replication set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRegionName",
          "getterDocumentation" : "/**<p>The Region name to add to the replication set.</p>\n@return The Region name to add to the replication set.*/",
          "getterMethodName" : "getRegionName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "regionName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "regionName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RegionName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Region name to add to the replication set.</p>\n@param regionName The Region name to add to the replication set.*/",
          "setterMethodName" : "setRegionName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "regionName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Region name to add to the replication set.</p>\n@param regionName The Region name to add to the replication set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "regionName",
            "variableType" : "String",
            "documentation" : "<p>The Region name to add to the replication set.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SseKmsKeyId" : {
          "c2jName" : "sseKmsKeyId",
          "c2jShape" : "SseKmsKey",
          "deprecated" : false,
          "documentation" : "<p>The KMS key ID to use to encrypt your replication set.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The KMS key ID to use to encrypt your replication set.</p>\n@param sseKmsKeyId The KMS key ID to use to encrypt your replication set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSseKmsKeyId",
          "getterDocumentation" : "/**<p>The KMS key ID to use to encrypt your replication set.</p>\n@return The KMS key ID to use to encrypt your replication set.*/",
          "getterMethodName" : "getSseKmsKeyId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "sseKmsKeyId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "sseKmsKeyId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SseKmsKeyId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The KMS key ID to use to encrypt your replication set.</p>\n@param sseKmsKeyId The KMS key ID to use to encrypt your replication set.*/",
          "setterMethodName" : "setSseKmsKeyId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sseKmsKeyId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The KMS key ID to use to encrypt your replication set.</p>\n@param sseKmsKeyId The KMS key ID to use to encrypt your replication set.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sseKmsKeyId",
            "variableType" : "String",
            "documentation" : "<p>The KMS key ID to use to encrypt your replication set.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ssmincidents.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "regionName" ],
      "shapeName" : "AddRegionAction",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
[...]
