{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSSsmSapAsyncClient",
    "asyncClientBuilderClassName" : "AWSSsmSapAsyncClientBuilder",
    "asyncInterface" : "AWSSsmSapAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSSsmSapModuleInjector",
    "defaultEndpoint" : "ssm-sap.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ssm-sap.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This API reference provides descriptions, syntax, and other details about each of the actions and data types for AWS Systems Manager for SAP. The topic for each action shows the API request parameters and responses. </p>",
    "endpointPrefix" : "ssm-sap",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ssmsap",
    "packagePath" : "com/amazonaws/services/ssmsap",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "SsmSap",
    "serviceFullName" : "AWS Systems Manager for SAP",
    "serviceId" : "Ssm Sap",
    "serviceName" : "SsmSap",
    "signingName" : "ssm-sap",
    "smokeTestsPackageName" : "com.amazonaws.services.ssmsap.smoketests",
    "syncClient" : "AWSSsmSapClient",
    "syncClientBuilderClassName" : "AWSSsmSapClientBuilder",
    "syncInterface" : "AWSSsmSap",
    "uid" : "ssm-sap-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteResourcePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourcePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourcePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourcePermissionRequest, DeleteResourcePermissionResult>",
      "asyncReturnType" : "DeleteResourcePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes permissions associated with the target database.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourcePermissionRequest",
        "variableName" : "deleteResourcePermissionRequest",
        "variableType" : "DeleteResourcePermissionRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourcePermissionRequest",
        "variableSetterType" : "DeleteResourcePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourcePermission",
      "operationName" : "DeleteResourcePermission",
      "returnType" : {
        "returnType" : "DeleteResourcePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourcePermissionResult"
    },
    "DeregisterApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterApplicationRequest, DeregisterApplicationResult>",
      "asyncReturnType" : "DeregisterApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregister an SAP application with AWS Systems Manager for SAP. This action does not aﬀect the existing setup of your SAP workloads on Amazon EC2.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The request is not authorized.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterApplicationRequest",
        "variableName" : "deregisterApplicationRequest",
        "variableType" : "DeregisterApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeregisterApplicationRequest",
        "variableSetterType" : "DeregisterApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterApplication",
      "operationName" : "DeregisterApplication",
      "returnType" : {
        "returnType" : "DeregisterApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterApplicationResult"
    },
    "GetApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationRequest, GetApplicationResult>",
      "asyncReturnType" : "GetApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an application registered with AWS Systems Manager for SAP. It also returns the components of the application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetApplicationRequest",
        "variableName" : "getApplicationRequest",
        "variableType" : "GetApplicationRequest",
        "documentation" : "",
        "simpleType" : "GetApplicationRequest",
        "variableSetterType" : "GetApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplication",
      "operationName" : "GetApplication",
      "returnType" : {
        "returnType" : "GetApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetApplicationResult"
    },
    "GetComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComponentRequest, GetComponentResult>",
      "asyncReturnType" : "GetComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the component of an application registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The request is not authorized.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComponentRequest",
        "variableName" : "getComponentRequest",
        "variableType" : "GetComponentRequest",
        "documentation" : "",
        "simpleType" : "GetComponentRequest",
        "variableSetterType" : "GetComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComponent",
      "operationName" : "GetComponent",
      "returnType" : {
        "returnType" : "GetComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetComponentResult"
    },
    "GetDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDatabaseRequest, GetDatabaseResult>",
      "asyncReturnType" : "GetDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the SAP HANA database of an application registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDatabaseRequest",
        "variableName" : "getDatabaseRequest",
        "variableType" : "GetDatabaseRequest",
        "documentation" : "",
        "simpleType" : "GetDatabaseRequest",
        "variableSetterType" : "GetDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDatabase",
      "operationName" : "GetDatabase",
      "returnType" : {
        "returnType" : "GetDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDatabaseResult"
    },
    "GetOperation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOperationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOperationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOperationRequest, GetOperationResult>",
      "asyncReturnType" : "GetOperationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of an operation by specifying the operation ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOperationRequest",
        "variableName" : "getOperationRequest",
        "variableType" : "GetOperationRequest",
        "documentation" : "",
        "simpleType" : "GetOperationRequest",
        "variableSetterType" : "GetOperationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOperation",
      "operationName" : "GetOperation",
      "returnType" : {
        "returnType" : "GetOperationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOperationResult"
    },
    "GetResourcePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcePermissionRequest, GetResourcePermissionResult>",
      "asyncReturnType" : "GetResourcePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets permissions associated with the target database.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourcePermissionRequest",
        "variableName" : "getResourcePermissionRequest",
        "variableType" : "GetResourcePermissionRequest",
        "documentation" : "",
        "simpleType" : "GetResourcePermissionRequest",
        "variableSetterType" : "GetResourcePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourcePermission",
      "operationName" : "GetResourcePermission",
      "returnType" : {
        "returnType" : "GetResourcePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourcePermissionResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the applications registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "ListComponents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListComponentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListComponentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListComponentsRequest, ListComponentsResult>",
      "asyncReturnType" : "ListComponentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the components registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The request is not authorized.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListComponentsRequest",
        "variableName" : "listComponentsRequest",
        "variableType" : "ListComponentsRequest",
        "documentation" : "",
        "simpleType" : "ListComponentsRequest",
        "variableSetterType" : "ListComponentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listComponents",
      "operationName" : "ListComponents",
      "returnType" : {
        "returnType" : "ListComponentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListComponentsResult"
    },
    "ListDatabases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatabasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatabasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatabasesRequest, ListDatabasesResult>",
      "asyncReturnType" : "ListDatabasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the SAP HANA databases of an application registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatabasesRequest",
        "variableName" : "listDatabasesRequest",
        "variableType" : "ListDatabasesRequest",
        "documentation" : "",
        "simpleType" : "ListDatabasesRequest",
        "variableSetterType" : "ListDatabasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatabases",
      "operationName" : "ListDatabases",
      "returnType" : {
        "returnType" : "ListDatabasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatabasesResult"
    },
    "ListOperationEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOperationEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOperationEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOperationEventsRequest, ListOperationEventsResult>",
      "asyncReturnType" : "ListOperationEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of operations events.</p> <p>Available parameters include <code>OperationID</code>, as well as optional parameters <code>MaxResults</code>, <code>NextToken</code>, and <code>Filters</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOperationEventsRequest",
        "variableName" : "listOperationEventsRequest",
        "variableType" : "ListOperationEventsRequest",
        "documentation" : "",
        "simpleType" : "ListOperationEventsRequest",
        "variableSetterType" : "ListOperationEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOperationEvents",
      "operationName" : "ListOperationEvents",
      "returnType" : {
        "returnType" : "ListOperationEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOperationEventsResult"
    },
    "ListOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOperationsRequest, ListOperationsResult>",
      "asyncReturnType" : "ListOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the operations performed by AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOperationsRequest",
        "variableName" : "listOperationsRequest",
        "variableType" : "ListOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListOperationsRequest",
        "variableSetterType" : "ListOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOperations",
      "operationName" : "ListOperations",
      "returnType" : {
        "returnType" : "ListOperationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOperationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags on an SAP HANA application and/or database registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict has occurred.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutResourcePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResourcePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResourcePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResourcePermissionRequest, PutResourcePermissionResult>",
      "asyncReturnType" : "PutResourcePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds permissions to the target database.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutResourcePermissionRequest",
        "variableName" : "putResourcePermissionRequest",
        "variableType" : "PutResourcePermissionRequest",
        "documentation" : "",
        "simpleType" : "PutResourcePermissionRequest",
        "variableSetterType" : "PutResourcePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResourcePermission",
      "operationName" : "PutResourcePermission",
      "returnType" : {
        "returnType" : "PutResourcePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "PutResourcePermissionResult"
    },
    "RegisterApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterApplicationRequest, RegisterApplicationResult>",
      "asyncReturnType" : "RegisterApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Register an SAP application with AWS Systems Manager for SAP. You must meet the following requirements before registering. </p> <p>The SAP application you want to register with AWS Systems Manager for SAP is running on Amazon EC2.</p> <p>AWS Systems Manager Agent must be setup on an Amazon EC2 instance along with the required IAM permissions.</p> <p>Amazon EC2 instance(s) must have access to the secrets created in AWS Secrets Manager to manage SAP applications and components.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict has occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterApplicationRequest",
        "variableName" : "registerApplicationRequest",
        "variableType" : "RegisterApplicationRequest",
        "documentation" : "",
        "simpleType" : "RegisterApplicationRequest",
        "variableSetterType" : "RegisterApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerApplication",
      "operationName" : "RegisterApplication",
      "returnType" : {
        "returnType" : "RegisterApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterApplicationResult"
    },
    "StartApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartApplicationRequest, StartApplicationResult>",
      "asyncReturnType" : "StartApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Request is an operation which starts an application.</p> <p>Parameter <code>ApplicationId</code> is required.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict has occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartApplicationRequest",
        "variableName" : "startApplicationRequest",
        "variableType" : "StartApplicationRequest",
        "documentation" : "",
        "simpleType" : "StartApplicationRequest",
        "variableSetterType" : "StartApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startApplication",
      "operationName" : "StartApplication",
      "returnType" : {
        "returnType" : "StartApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartApplicationResult"
    },
    "StartApplicationRefresh" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartApplicationRefreshResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartApplicationRefreshResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartApplicationRefreshRequest, StartApplicationRefreshResult>",
      "asyncReturnType" : "StartApplicationRefreshResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Refreshes a registered application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The request is not authorized.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict has occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartApplicationRefreshRequest",
        "variableName" : "startApplicationRefreshRequest",
        "variableType" : "StartApplicationRefreshRequest",
        "documentation" : "",
        "simpleType" : "StartApplicationRefreshRequest",
        "variableSetterType" : "StartApplicationRefreshRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startApplicationRefresh",
      "operationName" : "StartApplicationRefresh",
      "returnType" : {
        "returnType" : "StartApplicationRefreshResult",
        "documentation" : null
      },
      "syncReturnType" : "StartApplicationRefreshResult"
    },
    "StopApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopApplicationRequest, StopApplicationResult>",
      "asyncReturnType" : "StopApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Request is an operation to stop an application.</p> <p>Parameter <code>ApplicationId</code> is required. Parameters <code>StopConnectedEntity</code> and <code>IncludeEc2InstanceShutdown</code> are optional.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict has occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopApplicationRequest",
        "variableName" : "stopApplicationRequest",
        "variableType" : "StopApplicationRequest",
        "documentation" : "",
        "simpleType" : "StopApplicationRequest",
        "variableSetterType" : "StopApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopApplication",
      "operationName" : "StopApplication",
      "returnType" : {
        "returnType" : "StopApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "StopApplicationResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates tag for a resource by specifying the ARN.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict has occurred.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete the tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict has occurred.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateApplicationSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationSettingsRequest, UpdateApplicationSettingsResult>",
      "asyncReturnType" : "UpdateApplicationSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the settings of an application registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The request is not authorized.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource is not available.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflict has occurred.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationSettingsRequest",
        "variableName" : "updateApplicationSettingsRequest",
        "variableType" : "UpdateApplicationSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationSettingsRequest",
        "variableSetterType" : "UpdateApplicationSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplicationSettings",
      "operationName" : "UpdateApplicationSettings",
      "returnType" : {
        "returnType" : "UpdateApplicationSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationSettingsResult"
    }
  },
  "shapes" : {
    "AllocationType" : {
      "c2jName" : "AllocationType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "VPC_SUBNET",
        "value" : "VPC_SUBNET"
      }, {
        "name" : "ELASTIC_IP",
        "value" : "ELASTIC_IP"
      }, {
        "name" : "OVERLAY",
        "value" : "OVERLAY"
      }, {
        "name" : "UNKNOWN",
        "value" : "UNKNOWN"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ssmsap.enum.AllocationType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.ssmsap.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AllocationType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AllocationType",
        "variableName" : "allocationType",
        "variableType" : "AllocationType",
        "documentation" : null,
        "simpleType" : "AllocationType",
        "variableSetterType" : "AllocationType"
      },
      "wrapper" : false
    },
    "Application" : {
      "c2jName" : "Application",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An SAP application registered with AWS Systems Manager for SAP.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ssmsap.model.Application",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Id",
        "c2jShape" : "ApplicationId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the application.</p>\n@param id The ID of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The ID of the application.</p>\n@return The ID of the application.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the application.</p>\n@param id The ID of the application.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the application.</p>\n@param id The ID of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The ID of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Type",
        "c2jShape" : "ApplicationType",
        "deprecated" : false,
        "documentation" : "<p>The type of the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ApplicationType",
        "fluentSetterDocumentation" : "/**<p>The type of the application.</p>\n@param type The type of the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationType*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The type of the application.</p>\n@return The type of the application.\n@see ApplicationType*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of the application.</p>\n@param type The type of the application.\n@see ApplicationType*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of the application.</p>\n@param type The type of the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Arn",
        "c2jShape" : "SsmSapArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the application.</p>\n@param arn The Amazon Resource Name (ARN) of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the application.</p>\n@return The Amazon Resource Name (ARN) of the application.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the application.</p>\n@param arn The Amazon Resource Name (ARN) of the application.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the application.</p>\n@param arn The Amazon Resource Name (ARN) of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AppRegistryArn",
        "c2jShape" : "AppRegistryArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Application Registry.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Registry.</p>\n@param appRegistryArn The Amazon Resource Name (ARN) of the Application Registry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppRegistryArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Registry.</p>\n@return The Amazon Resource Name (ARN) of the Application Registry.*/",
        "getterMethodName" : "getAppRegistryArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AppRegistryArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AppRegistryArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppRegistryArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Registry.</p>\n@param appRegistryArn The Amazon Resource Name (ARN) of the Application Registry.*/",
        "setterMethodName" : "setAppRegistryArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appRegistryArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Registry.</p>\n@param appRegistryArn The Amazon Resource Name (ARN) of the Application Registry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appRegistryArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Application Registry.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "ApplicationStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ApplicationStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the application.</p>\n@param status The status of the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The status of the application.</p>\n@return The status of the application.\n@see ApplicationStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the application.</p>\n@param status The status of the application.\n@see ApplicationStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the application.</p>\n@param status The status of the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The status of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DiscoveryStatus",
        "c2jShape" : "ApplicationDiscoveryStatus",
        "deprecated" : false,
        "documentation" : "<p>The latest discovery result for the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ApplicationDiscoveryStatus",
        "fluentSetterDocumentation" : "/**<p>The latest discovery result for the application.</p>\n@param discoveryStatus The latest discovery result for the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationDiscoveryStatus*/",
        "fluentSetterMethodName" : "withDiscoveryStatus",
        "getterDocumentation" : "/**<p>The latest discovery result for the application.</p>\n@return The latest discovery result for the application.\n@see ApplicationDiscoveryStatus*/",
        "getterMethodName" : "getDiscoveryStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DiscoveryStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DiscoveryStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DiscoveryStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The latest discovery result for the application.</p>\n@param discoveryStatus The latest discovery result for the application.\n@see ApplicationDiscoveryStatus*/",
        "setterMethodName" : "setDiscoveryStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "discoveryStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The latest discovery result for the application.</p>\n@param discoveryStatus The latest discovery result for the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationDiscoveryStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "discoveryStatus",
          "variableType" : "String",
          "documentation" : "<p>The latest discovery result for the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Components",
        "c2jShape" : "ComponentIdList",
        "deprecated" : false,
        "documentation" : "<p>The components of the application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The components of the application.</p>\n@param components The components of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withComponents",
        "getterDocumentation" : "/**<p>The components of the application.</p>\n@return The components of the application.*/",
        "getterMethodName" : "getComponents",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Components",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Components",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ComponentId",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Components",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The components of the application.</p>\n@param components The components of the application.*/",
        "setterMethodName" : "setComponents",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "components",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The components of the application.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setComponents(java.util.Collection)} or {@link #withComponents(java.util.Collection)} if you want to override the existing values.</p>\n@param components The components of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "components",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The components of the application.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastUpdated",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time at which the application was last updated.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time at which the application was last updated.</p>\n@param lastUpdated The time at which the application was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastUpdated",
        "getterDocumentation" : "/**<p>The time at which the application was last updated.</p>\n@return The time at which the application was last updated.*/",
        "getterMethodName" : "getLastUpdated",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastUpdated",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastUpdated",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastUpdated",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time at which the application was last updated.</p>\n@param lastUpdated The time at which the application was last updated.*/",
        "setterMethodName" : "setLastUpdated",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdated",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time at which the application was last updated.</p>\n@param lastUpdated The time at which the application was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdated",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time at which the application was last updated.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StatusMessage",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The status message.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The status message.</p>\n@param statusMessage The status message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatusMessage",
        "getterDocumentation" : "/**<p>The status message.</p>\n@return The status message.*/",
        "getterMethodName" : "getStatusMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StatusMessage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StatusMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StatusMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status message.</p>\n@param statusMessage The status message.*/",
        "setterMethodName" : "setStatusMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status message.</p>\n@param statusMessage The status message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusMessage",
          "variableType" : "String",
          "documentation" : "<p>The status message.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AppRegistryArn" : {
          "c2jName" : "AppRegistryArn",
          "c2jShape" : "AppRegistryArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Application Registry.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Registry.</p>\n@param appRegistryArn The Amazon Resource Name (ARN) of the Application Registry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAppRegistryArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Registry.</p>\n@return The Amazon Resource Name (ARN) of the Application Registry.*/",
          "getterMethodName" : "getAppRegistryArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AppRegistryArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AppRegistryArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AppRegistryArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Registry.</p>\n@param appRegistryArn The Amazon Resource Name (ARN) of the Application Registry.*/",
          "setterMethodName" : "setAppRegistryArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appRegistryArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Application Registry.</p>\n@param appRegistryArn The Amazon Resource Name (ARN) of the Application Registry.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appRegistryArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the Application Registry.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Arn" : {
          "c2jName" : "Arn",
          "c2jShape" : "SsmSapArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the application.</p>\n@param arn The Amazon Resource Name (ARN) of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the application.</p>\n@return The Amazon Resource Name (ARN) of the application.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Arn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the application.</p>\n@param arn The Amazon Resource Name (ARN) of the application.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the application.</p>\n@param arn The Amazon Resource Name (ARN) of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Components" : {
          "c2jName" : "Components",
          "c2jShape" : "ComponentIdList",
          "deprecated" : false,
          "documentation" : "<p>The components of the application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The components of the application.</p>\n@param components The components of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withComponents",
          "getterDocumentation" : "/**<p>The components of the application.</p>\n@return The components of the application.*/",
          "getterMethodName" : "getComponents",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Components",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Components",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ComponentId",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Components",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The components of the application.</p>\n@param components The components of the application.*/",
          "setterMethodName" : "setComponents",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "components",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The components of the application.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setComponents(java.util.Collection)} or {@link #withComponents(java.util.Collection)} if you want to override the existing values.</p>\n@param components The components of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "components",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The components of the application.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "DiscoveryStatus" : {
          "c2jName" : "DiscoveryStatus",
          "c2jShape" : "ApplicationDiscoveryStatus",
          "deprecated" : false,
          "documentation" : "<p>The latest discovery result for the application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ApplicationDiscoveryStatus",
          "fluentSetterDocumentation" : "/**<p>The latest discovery result for the application.</p>\n@param discoveryStatus The latest discovery result for the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationDiscoveryStatus*/",
          "fluentSetterMethodName" : "withDiscoveryStatus",
          "getterDocumentation" : "/**<p>The latest discovery result for the application.</p>\n@return The latest discovery result for the application.\n@see ApplicationDiscoveryStatus*/",
          "getterMethodName" : "getDiscoveryStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DiscoveryStatus",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DiscoveryStatus",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DiscoveryStatus",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The latest discovery result for the application.</p>\n@param discoveryStatus The latest discovery result for the application.\n@see ApplicationDiscoveryStatus*/",
          "setterMethodName" : "setDiscoveryStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "discoveryStatus",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The latest discovery result for the application.</p>\n@param discoveryStatus The latest discovery result for the application.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationDiscoveryStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "discoveryStatus",
            "variableType" : "String",
            "documentation" : "<p>The latest discovery result for the application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "ApplicationId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the application.</p>\n@param id The ID of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p>The ID of the application.</p>\n@return The ID of the application.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the application.</p>\n@param id The ID of the application.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the application.</p>\n@param id The ID of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p>The ID of the application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LastUpdated" : {
          "c2jName" : "LastUpdated",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
[...]
