{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSSsmSapAsyncClient",
    "asyncClientBuilderClassName" : "AWSSsmSapAsyncClientBuilder",
    "asyncInterface" : "AWSSsmSapAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSSsmSapModuleInjector",
    "defaultEndpoint" : "ssm-sap.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ssm-sap.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This API reference provides descriptions, syntax, and other details about each of the actions and data types for AWS Systems Manager for SAP. The topic for each action shows the API request parameters and responses. </p>",
    "endpointPrefix" : "ssm-sap",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ssmsap",
    "packagePath" : "com/amazonaws/services/ssmsap",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "SsmSap",
    "serviceFullName" : "AWS Systems Manager for SAP",
    "serviceId" : "Ssm Sap",
    "serviceName" : "SsmSap",
    "signingName" : "ssm-sap",
    "smokeTestsPackageName" : "com.amazonaws.services.ssmsap.smoketests",
    "syncClient" : "AWSSsmSapClient",
    "syncClientBuilderClassName" : "AWSSsmSapClientBuilder",
    "syncInterface" : "AWSSsmSap",
    "uid" : "ssm-sap-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteResourcePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourcePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourcePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourcePermissionRequest, DeleteResourcePermissionResult>",
      "asyncReturnType" : "DeleteResourcePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes permissions associated with the target database.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourcePermissionRequest",
        "variableName" : "deleteResourcePermissionRequest",
        "variableType" : "DeleteResourcePermissionRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourcePermissionRequest",
        "variableSetterType" : "DeleteResourcePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourcePermission",
      "operationName" : "DeleteResourcePermission",
      "returnType" : {
        "returnType" : "DeleteResourcePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourcePermissionResult"
    },
    "DeregisterApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterApplicationRequest, DeregisterApplicationResult>",
      "asyncReturnType" : "DeregisterApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregister an SAP application with AWS Systems Manager for SAP. This action does not aﬀect the existing setup of your SAP workloads on Amazon EC2.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterApplicationRequest",
        "variableName" : "deregisterApplicationRequest",
        "variableType" : "DeregisterApplicationRequest",
        "documentation" : "",
        "simpleType" : "DeregisterApplicationRequest",
        "variableSetterType" : "DeregisterApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterApplication",
      "operationName" : "DeregisterApplication",
      "returnType" : {
        "returnType" : "DeregisterApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterApplicationResult"
    },
    "GetApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationRequest, GetApplicationResult>",
      "asyncReturnType" : "GetApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an application registered with AWS Systems Manager for SAP. It also returns the components of the application.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetApplicationRequest",
        "variableName" : "getApplicationRequest",
        "variableType" : "GetApplicationRequest",
        "documentation" : "",
        "simpleType" : "GetApplicationRequest",
        "variableSetterType" : "GetApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplication",
      "operationName" : "GetApplication",
      "returnType" : {
        "returnType" : "GetApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetApplicationResult"
    },
    "GetComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComponentRequest, GetComponentResult>",
      "asyncReturnType" : "GetComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the component of an application registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComponentRequest",
        "variableName" : "getComponentRequest",
        "variableType" : "GetComponentRequest",
        "documentation" : "",
        "simpleType" : "GetComponentRequest",
        "variableSetterType" : "GetComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComponent",
      "operationName" : "GetComponent",
      "returnType" : {
        "returnType" : "GetComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetComponentResult"
    },
    "GetDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDatabaseRequest, GetDatabaseResult>",
      "asyncReturnType" : "GetDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the SAP HANA database of an application registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDatabaseRequest",
        "variableName" : "getDatabaseRequest",
        "variableType" : "GetDatabaseRequest",
        "documentation" : "",
        "simpleType" : "GetDatabaseRequest",
        "variableSetterType" : "GetDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDatabase",
      "operationName" : "GetDatabase",
      "returnType" : {
        "returnType" : "GetDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDatabaseResult"
    },
    "GetOperation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOperationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOperationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOperationRequest, GetOperationResult>",
      "asyncReturnType" : "GetOperationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of an operation by specifying the operation ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOperationRequest",
        "variableName" : "getOperationRequest",
        "variableType" : "GetOperationRequest",
        "documentation" : "",
        "simpleType" : "GetOperationRequest",
        "variableSetterType" : "GetOperationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOperation",
      "operationName" : "GetOperation",
      "returnType" : {
        "returnType" : "GetOperationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOperationResult"
    },
    "GetResourcePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcePermissionRequest, GetResourcePermissionResult>",
      "asyncReturnType" : "GetResourcePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets permissions associated with the target database.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourcePermissionRequest",
        "variableName" : "getResourcePermissionRequest",
        "variableType" : "GetResourcePermissionRequest",
        "documentation" : "",
        "simpleType" : "GetResourcePermissionRequest",
        "variableSetterType" : "GetResourcePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourcePermission",
      "operationName" : "GetResourcePermission",
      "returnType" : {
        "returnType" : "GetResourcePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourcePermissionResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the applications registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "ListComponents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListComponentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListComponentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListComponentsRequest, ListComponentsResult>",
      "asyncReturnType" : "ListComponentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the components registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListComponentsRequest",
        "variableName" : "listComponentsRequest",
        "variableType" : "ListComponentsRequest",
        "documentation" : "",
        "simpleType" : "ListComponentsRequest",
        "variableSetterType" : "ListComponentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listComponents",
      "operationName" : "ListComponents",
      "returnType" : {
        "returnType" : "ListComponentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListComponentsResult"
    },
    "ListDatabases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatabasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatabasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatabasesRequest, ListDatabasesResult>",
      "asyncReturnType" : "ListDatabasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the SAP HANA databases of an application registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatabasesRequest",
        "variableName" : "listDatabasesRequest",
        "variableType" : "ListDatabasesRequest",
        "documentation" : "",
        "simpleType" : "ListDatabasesRequest",
        "variableSetterType" : "ListDatabasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatabases",
      "operationName" : "ListDatabases",
      "returnType" : {
        "returnType" : "ListDatabasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatabasesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags on an SAP HANA application and/or database registered with AWS Systems Manager for SAP.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutResourcePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutResourcePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutResourcePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutResourcePermissionRequest, PutResourcePermissionResult>",
      "asyncReturnType" : "PutResourcePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds permissions to the target database.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutResourcePermissionRequest",
        "variableName" : "putResourcePermissionRequest",
        "variableType" : "PutResourcePermissionRequest",
        "documentation" : "",
        "simpleType" : "PutResourcePermissionRequest",
        "variableSetterType" : "PutResourcePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putResourcePermission",
      "operationName" : "PutResourcePermission",
      "returnType" : {
        "returnType" : "PutResourcePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "PutResourcePermissionResult"
    },
    "RegisterApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterApplicationRequest, RegisterApplicationResult>",
      "asyncReturnType" : "RegisterApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Register an SAP application with AWS Systems Manager for SAP. You must meet the following requirements before registering. </p> <p>The SAP application you want to register with AWS Systems Manager for SAP is running on Amazon EC2.</p> <p>AWS Systems Manager Agent must be setup on an Amazon EC2 instance along with the required IAM permissions.</p> <p>Amazon EC2 instance(s) must have access to the secrets created in AWS Secrets Manager to manage SAP applications and components.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterApplicationRequest",
        "variableName" : "registerApplicationRequest",
        "variableType" : "RegisterApplicationRequest",
        "documentation" : "",
        "simpleType" : "RegisterApplicationRequest",
        "variableSetterType" : "RegisterApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerApplication",
      "operationName" : "RegisterApplication",
      "returnType" : {
        "returnType" : "RegisterApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterApplicationResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates tag for a resource by specifying the ARN.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete the tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p/>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateApplicationSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationSettingsRequest, UpdateApplicationSettingsResult>",
      "asyncReturnType" : "UpdateApplicationSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p/>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationSettingsRequest",
        "variableName" : "updateApplicationSettingsRequest",
        "variableType" : "UpdateApplicationSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationSettingsRequest",
        "variableSetterType" : "UpdateApplicationSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplicationSettings",
      "operationName" : "UpdateApplicationSettings",
      "returnType" : {
        "returnType" : "UpdateApplicationSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationSettingsResult"
    }
  },
  "shapes" : {
    "Application" : {
      "c2jName" : "Application",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ssmsap.model.Application",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Id",
        "c2jShape" : "ApplicationId",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param id */",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Type",
        "c2jShape" : "ApplicationType",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : "ApplicationType",
        "fluentSetterDocumentation" : "/**<p/>\n@param type \n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationType*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p/>\n@return \n@see ApplicationType*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param type \n@see ApplicationType*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param type \n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Arn",
        "c2jShape" : "SsmSapArn",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param arn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param arn */",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param arn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AppRegistryArn",
        "c2jShape" : "AppRegistryArn",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param appRegistryArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppRegistryArn",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getAppRegistryArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AppRegistryArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AppRegistryArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppRegistryArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param appRegistryArn */",
        "setterMethodName" : "setAppRegistryArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appRegistryArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param appRegistryArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appRegistryArn",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "ApplicationStatus",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : "ApplicationStatus",
        "fluentSetterDocumentation" : "/**<p/>\n@param status \n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p/>\n@return \n@see ApplicationStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param status \n@see ApplicationStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param status \n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Components",
        "c2jShape" : "ComponentIdList",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param components \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withComponents",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getComponents",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Components",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Components",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ComponentId",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Components",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param components */",
        "setterMethodName" : "setComponents",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "components",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setComponents(java.util.Collection)} or {@link #withComponents(java.util.Collection)} if you want to override the existing values.</p>\n@param components \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "components",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p/>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastUpdated",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param lastUpdated \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastUpdated",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getLastUpdated",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastUpdated",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastUpdated",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastUpdated",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param lastUpdated */",
        "setterMethodName" : "setLastUpdated",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdated",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param lastUpdated \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdated",
          "variableType" : "java.util.Date",
          "documentation" : "<p/>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StatusMessage",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param statusMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatusMessage",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getStatusMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StatusMessage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StatusMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StatusMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param statusMessage */",
        "setterMethodName" : "setStatusMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param statusMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusMessage",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AppRegistryArn" : {
          "c2jName" : "AppRegistryArn",
          "c2jShape" : "AppRegistryArn",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param appRegistryArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAppRegistryArn",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getAppRegistryArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AppRegistryArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AppRegistryArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AppRegistryArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param appRegistryArn */",
          "setterMethodName" : "setAppRegistryArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appRegistryArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param appRegistryArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appRegistryArn",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Arn" : {
          "c2jName" : "Arn",
          "c2jShape" : "SsmSapArn",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param arn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Arn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param arn */",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param arn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Components" : {
          "c2jName" : "Components",
          "c2jShape" : "ComponentIdList",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param components \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withComponents",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getComponents",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Components",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Components",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ComponentId",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Components",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param components */",
          "setterMethodName" : "setComponents",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "components",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setComponents(java.util.Collection)} or {@link #withComponents(java.util.Collection)} if you want to override the existing values.</p>\n@param components \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "components",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p/>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "ApplicationId",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param id */",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LastUpdated" : {
          "c2jName" : "LastUpdated",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param lastUpdated \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastUpdated",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getLastUpdated",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LastUpdated",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LastUpdated",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LastUpdated",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param lastUpdated */",
          "setterMethodName" : "setLastUpdated",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdated",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param lastUpdated \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdated",
            "variableType" : "java.util.Date",
            "documentation" : "<p/>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "ApplicationStatus",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : "ApplicationStatus",
          "fluentSetterDocumentation" : "/**<p/>\n@param status \n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationStatus*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p/>\n@return \n@see ApplicationStatus*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Status",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Status",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param status \n@see ApplicationStatus*/",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param status \n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StatusMessage" : {
          "c2jName" : "StatusMessage",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param statusMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatusMessage",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getStatusMessage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "StatusMessage",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StatusMessage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StatusMessage",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param statusMessage */",
          "setterMethodName" : "setStatusMessage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "statusMessage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param statusMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "statusMessage",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "ApplicationType",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : "ApplicationType",
          "fluentSetterDocumentation" : "/**<p/>\n@param type \n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationType*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p/>\n@return \n@see ApplicationType*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Type",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param type \n@see ApplicationType*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param type \n@return Returns a reference to this object so that method calls can be chained together.\n@see ApplicationType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ssmsap.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Application",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Application",
        "variableName" : "application",
        "variableType" : "Application",
        "documentation" : null,
        "simpleType" : "Application",
        "variableSetterType" : "Application"
      },
      "wrapper" : false
    },
    "ApplicationCredential" : {
      "c2jName" : "ApplicationCredential",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ssmsap.model.ApplicationCredential",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DatabaseName",
        "c2jShape" : "DatabaseName",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param databaseName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatabaseName",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getDatabaseName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatabaseName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatabaseName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DatabaseName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param databaseName */",
        "setterMethodName" : "setDatabaseName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "databaseName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param databaseName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "databaseName",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CredentialType",
        "c2jShape" : "CredentialType",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : "CredentialType",
        "fluentSetterDocumentation" : "/**<p/>\n@param credentialType \n@return Returns a reference to this object so that method calls can be chained together.\n@see CredentialType*/",
        "fluentSetterMethodName" : "withCredentialType",
        "getterDocumentation" : "/**<p/>\n@return \n@see CredentialType*/",
        "getterMethodName" : "getCredentialType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CredentialType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CredentialType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CredentialType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param credentialType \n@see CredentialType*/",
        "setterMethodName" : "setCredentialType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "credentialType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param credentialType \n@return Returns a reference to this object so that method calls can be chained together.\n@see CredentialType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "credentialType",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SecretId",
        "c2jShape" : "SecretId",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param secretId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecretId",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getSecretId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SecretId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SecretId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SecretId",
        "sensitive" : true,
        "setterDocumentation" : "/**<p/>\n@param secretId */",
        "setterMethodName" : "setSecretId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secretId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param secretId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secretId",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CredentialType" : {
          "c2jName" : "CredentialType",
          "c2jShape" : "CredentialType",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : "CredentialType",
          "fluentSetterDocumentation" : "/**<p/>\n@param credentialType \n@return Returns a reference to this object so that method calls can be chained together.\n@see CredentialType*/",
          "fluentSetterMethodName" : "withCredentialType",
          "getterDocumentation" : "/**<p/>\n@return \n@see CredentialType*/",
          "getterMethodName" : "getCredentialType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CredentialType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CredentialType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CredentialType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param credentialType \n@see CredentialType*/",
          "setterMethodName" : "setCredentialType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "credentialType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param credentialType \n@return Returns a reference to this object so that method calls can be chained together.\n@see CredentialType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "credentialType",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DatabaseName" : {
          "c2jName" : "DatabaseName",
          "c2jShape" : "DatabaseName",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param databaseName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDatabaseName",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getDatabaseName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DatabaseName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DatabaseName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DatabaseName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param databaseName */",
          "setterMethodName" : "setDatabaseName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "databaseName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param databaseName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "databaseName",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SecretId" : {
          "c2jName" : "SecretId",
          "c2jShape" : "SecretId",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param secretId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSecretId",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getSecretId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
[...]
