{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-06-10",
    "asyncClient" : "AWSSSOOIDCAsyncClient",
    "asyncClientBuilderClassName" : "AWSSSOOIDCAsyncClientBuilder",
    "asyncInterface" : "AWSSSOOIDCAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSSSOOIDCModuleInjector",
    "defaultEndpoint" : "oidc.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "oidc.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Single Sign-On (SSO) OpenID Connect (OIDC) is a web service that enables a client (such as AWS CLI or a native application) to register with AWS SSO. The service also enables the client to fetch the user’s access token upon successful authentication and authorization with AWS SSO. This service conforms with the OAuth 2.0 based implementation of the device authorization grant standard (<a href=\"https://tools.ietf.org/html/rfc8628\">https://tools.ietf.org/html/rfc8628</a>).</p> <p>For general information about AWS SSO, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html\">What is AWS Single Sign-On?</a> in the <i>AWS SSO User Guide</i>.</p> <p>This API reference guide describes the AWS SSO OIDC operations that you can call programatically and includes detailed information on data types and errors.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms such as Java, Ruby, .Net, iOS, and Android. The SDKs provide a convenient way to create programmatic access to AWS SSO and other AWS services. For more information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> </note>",
    "endpointPrefix" : "oidc",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ssooidc",
    "packagePath" : "com/amazonaws/services/ssooidc",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "SSO OIDC",
    "serviceFullName" : "AWS SSO OIDC",
    "serviceId" : "SSO OIDC",
    "serviceName" : "SSO OIDC",
    "signingName" : "awsssooidc",
    "smokeTestsPackageName" : "com.amazonaws.services.ssooidc.smoketests",
    "syncClient" : "AWSSSOOIDCClient",
    "syncClientBuilderClassName" : "AWSSSOOIDCClientBuilder",
    "syncInterface" : "AWSSSOOIDC",
    "uid" : "sso-oidc-2019-06-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTokenRequest, CreateTokenResult>",
      "asyncReturnType" : "CreateTokenResult",
      "authenticated" : false,
      "deprecated" : false,
      "documentation" : "<p>Creates and returns an access token for the authorized client. The access token issued will be used to fetch short-term credentials for the assigned roles in the AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter might be missing or out of range.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientException",
        "documentation" : "<p>Indicates that the <code>clientId</code> or <code>clientSecret</code> in the request is invalid. For example, this can occur when a client sends an incorrect <code>clientId</code> or an expired <code>clientSecret</code>.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "InvalidGrantException",
        "documentation" : "<p>Indicates that a request contains an invalid grant. This can occur if a client makes a <a>CreateToken</a> request with an invalid grant type.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>Indicates that the client is not currently authorized to make the request. This can happen when a <code>clientId</code> is not issued for a public client.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnsupportedGrantTypeException",
        "documentation" : "<p>Indicates that the grant type in the request is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidScopeException",
        "documentation" : "<p>Indicates that the scope provided in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AuthorizationPendingException",
        "documentation" : "<p>Indicates that a request to authorize a client with an access user session token is pending.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SlowDownException",
        "documentation" : "<p>Indicates that the client is making the request too frequently and is more than the service can handle. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ExpiredTokenException",
        "documentation" : "<p>Indicates that the token issued by the service is expired and is no longer valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTokenRequest",
        "variableName" : "createTokenRequest",
        "variableType" : "CreateTokenRequest",
        "documentation" : "",
        "simpleType" : "CreateTokenRequest",
        "variableSetterType" : "CreateTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createToken",
      "operationName" : "CreateToken",
      "returnType" : {
        "returnType" : "CreateTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTokenResult"
    },
    "RegisterClient" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterClientResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterClientRequest, RegisterClientResult>",
      "asyncReturnType" : "RegisterClientResult",
      "authenticated" : false,
      "deprecated" : false,
      "documentation" : "<p>Registers a client with AWS SSO. This allows clients to initiate device authorization. The output should be persisted for reuse through many authentication requests.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter might be missing or out of range.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidScopeException",
        "documentation" : "<p>Indicates that the scope provided in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientMetadataException",
        "documentation" : "<p>Indicates that the client information sent in the request during registration is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterClientRequest",
        "variableName" : "registerClientRequest",
        "variableType" : "RegisterClientRequest",
        "documentation" : "",
        "simpleType" : "RegisterClientRequest",
        "variableSetterType" : "RegisterClientRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerClient",
      "operationName" : "RegisterClient",
      "returnType" : {
        "returnType" : "RegisterClientResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterClientResult"
    },
    "StartDeviceAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDeviceAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDeviceAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDeviceAuthorizationRequest, StartDeviceAuthorizationResult>",
      "asyncReturnType" : "StartDeviceAuthorizationResult",
      "authenticated" : false,
      "deprecated" : false,
      "documentation" : "<p>Initiates device authorization by requesting a pair of verification codes from the authorization service.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required parameter might be missing or out of range.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidClientException",
        "documentation" : "<p>Indicates that the <code>clientId</code> or <code>clientSecret</code> in the request is invalid. For example, this can occur when a client sends an incorrect <code>clientId</code> or an expired <code>clientSecret</code>.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>Indicates that the client is not currently authorized to make the request. This can happen when a <code>clientId</code> is not issued for a public client.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SlowDownException",
        "documentation" : "<p>Indicates that the client is making the request too frequently and is more than the service can handle. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Indicates that an error from the service occurred while trying to process a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDeviceAuthorizationRequest",
        "variableName" : "startDeviceAuthorizationRequest",
        "variableType" : "StartDeviceAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "StartDeviceAuthorizationRequest",
        "variableSetterType" : "StartDeviceAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDeviceAuthorization",
      "operationName" : "StartDeviceAuthorization",
      "returnType" : {
        "returnType" : "StartDeviceAuthorizationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDeviceAuthorizationResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "error",
        "c2jShape" : "Error",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param error \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withError",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getError",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "error",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "error",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Error",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param error */",
        "setterMethodName" : "setError",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "error",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param error \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "error",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "error_description",
        "c2jShape" : "ErrorDescription",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param error_description \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withError_description",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getError_description",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "error_description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "error_description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Error_description",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param error_description */",
        "setterMethodName" : "setError_description",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "error_description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param error_description \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "error_description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Error" : {
          "c2jName" : "error",
          "c2jShape" : "Error",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param error \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withError",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getError",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "error",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "error",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Error",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param error */",
          "setterMethodName" : "setError",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "error",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param error \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "error",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Error_description" : {
          "c2jName" : "error_description",
          "c2jShape" : "ErrorDescription",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param error_description \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withError_description",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getError_description",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "error_description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "error_description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Error_description",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param error_description */",
          "setterMethodName" : "setError_description",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "error_description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param error_description \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "error_description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AuthorizationPendingException" : {
      "c2jName" : "AuthorizationPendingException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Indicates that a request to authorize a client with an access user session token is pending.</p>",
      "enums" : null,
      "errorCode" : "AuthorizationPendingException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "error",
        "c2jShape" : "Error",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param error \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withError",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getError",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "error",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "error",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Error",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param error */",
        "setterMethodName" : "setError",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "error",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param error \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "error",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "error_description",
        "c2jShape" : "ErrorDescription",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param error_description \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withError_description",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getError_description",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "error_description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "error_description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Error_description",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param error_description */",
        "setterMethodName" : "setError_description",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "error_description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param error_description \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "error_description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Error" : {
          "c2jName" : "error",
          "c2jShape" : "Error",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param error \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withError",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getError",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "error",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "error",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Error",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param error */",
          "setterMethodName" : "setError",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "error",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param error \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "error",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Error_description" : {
          "c2jName" : "error_description",
          "c2jShape" : "ErrorDescription",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param error_description \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withError_description",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getError_description",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "error_description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "error_description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Error_description",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param error_description */",
          "setterMethodName" : "setError_description",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "error_description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param error_description \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "error_description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AuthorizationPendingException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthorizationPendingException",
        "variableName" : "authorizationPendingException",
        "variableType" : "AuthorizationPendingException",
        "documentation" : null,
        "simpleType" : "AuthorizationPendingException",
        "variableSetterType" : "AuthorizationPendingException"
      },
      "wrapper" : false
    },
    "CreateTokenRequest" : {
      "c2jName" : "CreateTokenRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateToken",
        "locationName" : null,
        "requestUri" : "/token",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "clientId",
        "c2jShape" : "ClientId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientId The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientId",
        "getterDocumentation" : "/**<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@return The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.*/",
        "getterMethodName" : "getClientId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientId The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.*/",
        "setterMethodName" : "setClientId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientId The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientSecret",
        "c2jShape" : "ClientSecret",
        "deprecated" : false,
        "documentation" : "<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientSecret A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientSecret",
        "getterDocumentation" : "/**<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@return A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.*/",
        "getterMethodName" : "getClientSecret",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientSecret",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientSecret",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientSecret",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientSecret A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.*/",
        "setterMethodName" : "setClientSecret",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientSecret",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientSecret A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientSecret",
          "variableType" : "String",
          "documentation" : "<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "grantType",
        "c2jShape" : "GrantType",
        "deprecated" : false,
        "documentation" : "<p>Supports grant types for authorization code, refresh token, and device code request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Supports grant types for authorization code, refresh token, and device code request.</p>\n@param grantType Supports grant types for authorization code, refresh token, and device code request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGrantType",
        "getterDocumentation" : "/**<p>Supports grant types for authorization code, refresh token, and device code request.</p>\n@return Supports grant types for authorization code, refresh token, and device code request.*/",
        "getterMethodName" : "getGrantType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "grantType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "grantType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GrantType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Supports grant types for authorization code, refresh token, and device code request.</p>\n@param grantType Supports grant types for authorization code, refresh token, and device code request.*/",
        "setterMethodName" : "setGrantType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "grantType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Supports grant types for authorization code, refresh token, and device code request.</p>\n@param grantType Supports grant types for authorization code, refresh token, and device code request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "grantType",
          "variableType" : "String",
          "documentation" : "<p>Supports grant types for authorization code, refresh token, and device code request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "deviceCode",
        "c2jShape" : "DeviceCode",
        "deprecated" : false,
        "documentation" : "<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>\n@param deviceCode Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceCode",
        "getterDocumentation" : "/**<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>\n@return Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.*/",
        "getterMethodName" : "getDeviceCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deviceCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>\n@param deviceCode Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.*/",
        "setterMethodName" : "setDeviceCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>\n@param deviceCode Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceCode",
          "variableType" : "String",
          "documentation" : "<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "code",
        "c2jShape" : "AuthCode",
        "deprecated" : false,
        "documentation" : "<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>\n@param code The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>\n@return The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.*/",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>\n@param code The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.*/",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>\n@param code The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "refreshToken",
        "c2jShape" : "RefreshToken",
        "deprecated" : false,
        "documentation" : "<p>The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.</p>\n@param refreshToken The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRefreshToken",
        "getterDocumentation" : "/**<p>The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.</p>\n@return The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.*/",
        "getterMethodName" : "getRefreshToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "refreshToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "refreshToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RefreshToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.</p>\n@param refreshToken The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.*/",
        "setterMethodName" : "setRefreshToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "refreshToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.</p>\n@param refreshToken The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "refreshToken",
          "variableType" : "String",
          "documentation" : "<p>The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "scope",
        "c2jShape" : "Scopes",
        "deprecated" : false,
        "documentation" : "<p>The list of scopes that is defined by the client. Upon authorization, this list is used to restrict permissions when granting an access token.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The list of scopes that is defined by the client. Upon authorization, this list is used to restrict permissions when granting an access token.</p>\n@param scope The list of scopes that is defined by the client. Upon authorization, this list is used to restrict permissions when granting an access token.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScope",
        "getterDocumentation" : "/**<p>The list of scopes that is defined by the client. Upon authorization, this list is used to restrict permissions when granting an access token.</p>\n@return The list of scopes that is defined by the client. Upon authorization, this list is used to restrict permissions when granting an access token.*/",
        "getterMethodName" : "getScope",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "scope",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "scope",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Scope",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Scope",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The list of scopes that is defined by the client. Upon authorization, this list is used to restrict permissions when granting an access token.</p>\n@param scope The list of scopes that is defined by the client. Upon authorization, this list is used to restrict permissions when granting an access token.*/",
        "setterMethodName" : "setScope",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "scope",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The list of scopes that is defined by the client. Upon authorization, this list is used to restrict permissions when granting an access token.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setScope(java.util.Collection)} or {@link #withScope(java.util.Collection)} if you want to override the existing values.</p>\n@param scope The list of scopes that is defined by the client. Upon authorization, this list is used to restrict permissions when granting an access token.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "scope",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The list of scopes that is defined by the client. Upon authorization, this list is used to restrict permissions when granting an access token.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "redirectUri",
        "c2jShape" : "URI",
        "deprecated" : false,
        "documentation" : "<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>\n@param redirectUri The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRedirectUri",
        "getterDocumentation" : "/**<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>\n@return The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.*/",
        "getterMethodName" : "getRedirectUri",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "redirectUri",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "redirectUri",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RedirectUri",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>\n@param redirectUri The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.*/",
        "setterMethodName" : "setRedirectUri",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "redirectUri",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>\n@param redirectUri The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "redirectUri",
          "variableType" : "String",
          "documentation" : "<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientId" : {
          "c2jName" : "clientId",
          "c2jShape" : "ClientId",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientId The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientId",
          "getterDocumentation" : "/**<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@return The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.*/",
          "getterMethodName" : "getClientId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientId The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.*/",
          "setterMethodName" : "setClientId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientId The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier string for each client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ClientSecret" : {
          "c2jName" : "clientSecret",
          "c2jShape" : "ClientSecret",
          "deprecated" : false,
          "documentation" : "<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientSecret A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientSecret",
          "getterDocumentation" : "/**<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@return A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.*/",
          "getterMethodName" : "getClientSecret",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientSecret",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientSecret",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientSecret",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientSecret A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.*/",
          "setterMethodName" : "setClientSecret",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientSecret",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>\n@param clientSecret A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientSecret",
            "variableType" : "String",
            "documentation" : "<p>A secret string generated for the client. This value should come from the persisted result of the <a>RegisterClient</a> API.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Code" : {
          "c2jName" : "code",
          "c2jShape" : "AuthCode",
          "deprecated" : false,
          "documentation" : "<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>\n@param code The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>\n@return The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.*/",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>\n@param code The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.*/",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>\n@param code The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "<p>The authorization code received from the authorization service. This parameter is required to perform an authorization grant request to get access to a token.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DeviceCode" : {
          "c2jName" : "deviceCode",
          "c2jShape" : "DeviceCode",
          "deprecated" : false,
          "documentation" : "<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>\n@param deviceCode Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceCode",
          "getterDocumentation" : "/**<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>\n@return Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.*/",
          "getterMethodName" : "getDeviceCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "deviceCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "deviceCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>\n@param deviceCode Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.*/",
          "setterMethodName" : "setDeviceCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>\n@param deviceCode Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceCode",
            "variableType" : "String",
            "documentation" : "<p>Used only when calling this API for the device code grant type. This short-term code is used to identify this authentication attempt. This should come from an in-memory reference to the result of the <a>StartDeviceAuthorization</a> API.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "GrantType" : {
          "c2jName" : "grantType",
          "c2jShape" : "GrantType",
          "deprecated" : false,
          "documentation" : "<p>Supports grant types for authorization code, refresh token, and device code request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Supports grant types for authorization code, refresh token, and device code request.</p>\n@param grantType Supports grant types for authorization code, refresh token, and device code request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGrantType",
          "getterDocumentation" : "/**<p>Supports grant types for authorization code, refresh token, and device code request.</p>\n@return Supports grant types for authorization code, refresh token, and device code request.*/",
          "getterMethodName" : "getGrantType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "grantType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "grantType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GrantType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Supports grant types for authorization code, refresh token, and device code request.</p>\n@param grantType Supports grant types for authorization code, refresh token, and device code request.*/",
          "setterMethodName" : "setGrantType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "grantType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Supports grant types for authorization code, refresh token, and device code request.</p>\n@param grantType Supports grant types for authorization code, refresh token, and device code request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "grantType",
            "variableType" : "String",
            "documentation" : "<p>Supports grant types for authorization code, refresh token, and device code request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RedirectUri" : {
          "c2jName" : "redirectUri",
          "c2jShape" : "URI",
          "deprecated" : false,
          "documentation" : "<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>\n@param redirectUri The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRedirectUri",
          "getterDocumentation" : "/**<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>\n@return The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.*/",
          "getterMethodName" : "getRedirectUri",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "redirectUri",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "redirectUri",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RedirectUri",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>\n@param redirectUri The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.*/",
          "setterMethodName" : "setRedirectUri",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "redirectUri",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>\n@param redirectUri The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "redirectUri",
            "variableType" : "String",
            "documentation" : "<p>The location of the application that will receive the authorization code. Users authorize the service to send the request to this location.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RefreshToken" : {
          "c2jName" : "refreshToken",
          "c2jShape" : "RefreshToken",
          "deprecated" : false,
          "documentation" : "<p>The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.</p>\n@param refreshToken The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRefreshToken",
          "getterDocumentation" : "/**<p>The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.</p>\n@return The token used to obtain an access token in the event that the access token is invalid or expired. This token is not issued by the service.*/",
          "getterMethodName" : "getRefreshToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
[...]
