{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-07-20",
    "asyncClient" : "AWSSSOAdminAsyncClient",
    "asyncClientBuilderClassName" : "AWSSSOAdminAsyncClientBuilder",
    "asyncInterface" : "AWSSSOAdminAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSSSOAdminModuleInjector",
    "defaultEndpoint" : "sso.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "sso.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : null,
    "endpointPrefix" : "sso",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ssoadmin",
    "packagePath" : "com/amazonaws/services/ssoadmin",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "SSO Admin",
    "serviceFullName" : "AWS Single Sign-On Admin",
    "serviceId" : "SSO Admin",
    "serviceName" : "SSO Admin",
    "signingName" : "sso",
    "smokeTestsPackageName" : "com.amazonaws.services.ssoadmin.smoketests",
    "syncClient" : "AWSSSOAdminClient",
    "syncClientBuilderClassName" : "AWSSSOAdminClientBuilder",
    "syncInterface" : "AWSSSOAdmin",
    "uid" : "sso-admin-2020-07-20",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AttachManagedPolicyToPermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AttachManagedPolicyToPermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AttachManagedPolicyToPermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachManagedPolicyToPermissionSetRequest, AttachManagedPolicyToPermissionSetResult>",
      "asyncReturnType" : "AttachManagedPolicyToPermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches an IAM managed policy ARN to a permission set.</p> <note> <p>If the permission set is already referenced by one or more account assignments, you will need to call <code> <a>ProvisionPermissionSet</a> </code> after this action to apply the corresponding IAM policy updates to all assigned accounts.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Indicates that the principal has crossed the permitted number of resources that can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AttachManagedPolicyToPermissionSetRequest",
        "variableName" : "attachManagedPolicyToPermissionSetRequest",
        "variableType" : "AttachManagedPolicyToPermissionSetRequest",
        "documentation" : "",
        "simpleType" : "AttachManagedPolicyToPermissionSetRequest",
        "variableSetterType" : "AttachManagedPolicyToPermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "attachManagedPolicyToPermissionSet",
      "operationName" : "AttachManagedPolicyToPermissionSet",
      "returnType" : {
        "returnType" : "AttachManagedPolicyToPermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "AttachManagedPolicyToPermissionSetResult"
    },
    "CreateAccountAssignment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAccountAssignmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAccountAssignmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAccountAssignmentRequest, CreateAccountAssignmentResult>",
      "asyncReturnType" : "CreateAccountAssignmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns access to a principal for a specified AWS account using a specified permission set.</p> <note> <p>The term <i>principal</i> here refers to a user or group that is defined in AWS SSO.</p> </note> <note> <p>As part of a successful <code>CreateAccountAssignment</code> call, the specified permission set will automatically be provisioned to the account in the form of an IAM policy attached to the SSO-created IAM role. If the permission set is subsequently updated, the corresponding IAM policies attached to roles in your accounts will not be updated automatically. In this case, you will need to call <code> <a>ProvisionPermissionSet</a> </code> to make these updates.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Indicates that the principal has crossed the permitted number of resources that can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAccountAssignmentRequest",
        "variableName" : "createAccountAssignmentRequest",
        "variableType" : "CreateAccountAssignmentRequest",
        "documentation" : "",
        "simpleType" : "CreateAccountAssignmentRequest",
        "variableSetterType" : "CreateAccountAssignmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAccountAssignment",
      "operationName" : "CreateAccountAssignment",
      "returnType" : {
        "returnType" : "CreateAccountAssignmentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAccountAssignmentResult"
    },
    "CreateInstanceAccessControlAttributeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInstanceAccessControlAttributeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInstanceAccessControlAttributeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInstanceAccessControlAttributeConfigurationRequest, CreateInstanceAccessControlAttributeConfigurationResult>",
      "asyncReturnType" : "CreateInstanceAccessControlAttributeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the attributes-based access control (ABAC) feature for the specified AWS SSO instance. You can also specify new attributes to add to your ABAC configuration during the enabling process. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateInstanceAccessControlAttributeConfigurationRequest",
        "variableName" : "createInstanceAccessControlAttributeConfigurationRequest",
        "variableType" : "CreateInstanceAccessControlAttributeConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateInstanceAccessControlAttributeConfigurationRequest",
        "variableSetterType" : "CreateInstanceAccessControlAttributeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInstanceAccessControlAttributeConfiguration",
      "operationName" : "CreateInstanceAccessControlAttributeConfiguration",
      "returnType" : {
        "returnType" : "CreateInstanceAccessControlAttributeConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateInstanceAccessControlAttributeConfigurationResult"
    },
    "CreatePermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePermissionSetRequest, CreatePermissionSetResult>",
      "asyncReturnType" : "CreatePermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a permission set within a specified SSO instance.</p> <note> <p>To grant users and groups access to AWS account resources, use <code> <a>CreateAccountAssignment</a> </code>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Indicates that the principal has crossed the permitted number of resources that can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePermissionSetRequest",
        "variableName" : "createPermissionSetRequest",
        "variableType" : "CreatePermissionSetRequest",
        "documentation" : "",
        "simpleType" : "CreatePermissionSetRequest",
        "variableSetterType" : "CreatePermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPermissionSet",
      "operationName" : "CreatePermissionSet",
      "returnType" : {
        "returnType" : "CreatePermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePermissionSetResult"
    },
    "DeleteAccountAssignment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAccountAssignmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAccountAssignmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAccountAssignmentRequest, DeleteAccountAssignmentResult>",
      "asyncReturnType" : "DeleteAccountAssignmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a principal's access from a specified AWS account using a specified permission set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAccountAssignmentRequest",
        "variableName" : "deleteAccountAssignmentRequest",
        "variableType" : "DeleteAccountAssignmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteAccountAssignmentRequest",
        "variableSetterType" : "DeleteAccountAssignmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAccountAssignment",
      "operationName" : "DeleteAccountAssignment",
      "returnType" : {
        "returnType" : "DeleteAccountAssignmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAccountAssignmentResult"
    },
    "DeleteInlinePolicyFromPermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInlinePolicyFromPermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInlinePolicyFromPermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInlinePolicyFromPermissionSetRequest, DeleteInlinePolicyFromPermissionSetResult>",
      "asyncReturnType" : "DeleteInlinePolicyFromPermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the inline policy from a specified permission set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInlinePolicyFromPermissionSetRequest",
        "variableName" : "deleteInlinePolicyFromPermissionSetRequest",
        "variableType" : "DeleteInlinePolicyFromPermissionSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteInlinePolicyFromPermissionSetRequest",
        "variableSetterType" : "DeleteInlinePolicyFromPermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInlinePolicyFromPermissionSet",
      "operationName" : "DeleteInlinePolicyFromPermissionSet",
      "returnType" : {
        "returnType" : "DeleteInlinePolicyFromPermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInlinePolicyFromPermissionSetResult"
    },
    "DeleteInstanceAccessControlAttributeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInstanceAccessControlAttributeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInstanceAccessControlAttributeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInstanceAccessControlAttributeConfigurationRequest, DeleteInstanceAccessControlAttributeConfigurationResult>",
      "asyncReturnType" : "DeleteInstanceAccessControlAttributeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the attributes-based access control (ABAC) feature for the specified AWS SSO instance and deletes all of the attribute mappings that have been configured. Once deleted, any attributes that are received from an identity source and any custom attributes you have previously configured will not be passed. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInstanceAccessControlAttributeConfigurationRequest",
        "variableName" : "deleteInstanceAccessControlAttributeConfigurationRequest",
        "variableType" : "DeleteInstanceAccessControlAttributeConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteInstanceAccessControlAttributeConfigurationRequest",
        "variableSetterType" : "DeleteInstanceAccessControlAttributeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInstanceAccessControlAttributeConfiguration",
      "operationName" : "DeleteInstanceAccessControlAttributeConfiguration",
      "returnType" : {
        "returnType" : "DeleteInstanceAccessControlAttributeConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInstanceAccessControlAttributeConfigurationResult"
    },
    "DeletePermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePermissionSetRequest, DeletePermissionSetResult>",
      "asyncReturnType" : "DeletePermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified permission set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePermissionSetRequest",
        "variableName" : "deletePermissionSetRequest",
        "variableType" : "DeletePermissionSetRequest",
        "documentation" : "",
        "simpleType" : "DeletePermissionSetRequest",
        "variableSetterType" : "DeletePermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePermissionSet",
      "operationName" : "DeletePermissionSet",
      "returnType" : {
        "returnType" : "DeletePermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePermissionSetResult"
    },
    "DescribeAccountAssignmentCreationStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountAssignmentCreationStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountAssignmentCreationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountAssignmentCreationStatusRequest, DescribeAccountAssignmentCreationStatusResult>",
      "asyncReturnType" : "DescribeAccountAssignmentCreationStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the status of the assignment creation request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccountAssignmentCreationStatusRequest",
        "variableName" : "describeAccountAssignmentCreationStatusRequest",
        "variableType" : "DescribeAccountAssignmentCreationStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountAssignmentCreationStatusRequest",
        "variableSetterType" : "DescribeAccountAssignmentCreationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountAssignmentCreationStatus",
      "operationName" : "DescribeAccountAssignmentCreationStatus",
      "returnType" : {
        "returnType" : "DescribeAccountAssignmentCreationStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountAssignmentCreationStatusResult"
    },
    "DescribeAccountAssignmentDeletionStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountAssignmentDeletionStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountAssignmentDeletionStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountAssignmentDeletionStatusRequest, DescribeAccountAssignmentDeletionStatusResult>",
      "asyncReturnType" : "DescribeAccountAssignmentDeletionStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the status of the assignment deletion request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccountAssignmentDeletionStatusRequest",
        "variableName" : "describeAccountAssignmentDeletionStatusRequest",
        "variableType" : "DescribeAccountAssignmentDeletionStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountAssignmentDeletionStatusRequest",
        "variableSetterType" : "DescribeAccountAssignmentDeletionStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountAssignmentDeletionStatus",
      "operationName" : "DescribeAccountAssignmentDeletionStatus",
      "returnType" : {
        "returnType" : "DescribeAccountAssignmentDeletionStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountAssignmentDeletionStatusResult"
    },
    "DescribeInstanceAccessControlAttributeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInstanceAccessControlAttributeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInstanceAccessControlAttributeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInstanceAccessControlAttributeConfigurationRequest, DescribeInstanceAccessControlAttributeConfigurationResult>",
      "asyncReturnType" : "DescribeInstanceAccessControlAttributeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of AWS SSO identity store attributes that have been configured to work with attributes-based access control (ABAC) for the specified AWS SSO instance. This will not return attributes configured and sent by an external identity provider. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeInstanceAccessControlAttributeConfigurationRequest",
        "variableName" : "describeInstanceAccessControlAttributeConfigurationRequest",
        "variableType" : "DescribeInstanceAccessControlAttributeConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeInstanceAccessControlAttributeConfigurationRequest",
        "variableSetterType" : "DescribeInstanceAccessControlAttributeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInstanceAccessControlAttributeConfiguration",
      "operationName" : "DescribeInstanceAccessControlAttributeConfiguration",
      "returnType" : {
        "returnType" : "DescribeInstanceAccessControlAttributeConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeInstanceAccessControlAttributeConfigurationResult"
    },
    "DescribePermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePermissionSetRequest, DescribePermissionSetResult>",
      "asyncReturnType" : "DescribePermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of the permission set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePermissionSetRequest",
        "variableName" : "describePermissionSetRequest",
        "variableType" : "DescribePermissionSetRequest",
        "documentation" : "",
        "simpleType" : "DescribePermissionSetRequest",
        "variableSetterType" : "DescribePermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePermissionSet",
      "operationName" : "DescribePermissionSet",
      "returnType" : {
        "returnType" : "DescribePermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePermissionSetResult"
    },
    "DescribePermissionSetProvisioningStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePermissionSetProvisioningStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePermissionSetProvisioningStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePermissionSetProvisioningStatusRequest, DescribePermissionSetProvisioningStatusResult>",
      "asyncReturnType" : "DescribePermissionSetProvisioningStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the status for the given permission set provisioning request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePermissionSetProvisioningStatusRequest",
        "variableName" : "describePermissionSetProvisioningStatusRequest",
        "variableType" : "DescribePermissionSetProvisioningStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribePermissionSetProvisioningStatusRequest",
        "variableSetterType" : "DescribePermissionSetProvisioningStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePermissionSetProvisioningStatus",
      "operationName" : "DescribePermissionSetProvisioningStatus",
      "returnType" : {
        "returnType" : "DescribePermissionSetProvisioningStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePermissionSetProvisioningStatusResult"
    },
    "DetachManagedPolicyFromPermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetachManagedPolicyFromPermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetachManagedPolicyFromPermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachManagedPolicyFromPermissionSetRequest, DetachManagedPolicyFromPermissionSetResult>",
      "asyncReturnType" : "DetachManagedPolicyFromPermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detaches the attached IAM managed policy ARN from the specified permission set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetachManagedPolicyFromPermissionSetRequest",
        "variableName" : "detachManagedPolicyFromPermissionSetRequest",
        "variableType" : "DetachManagedPolicyFromPermissionSetRequest",
        "documentation" : "",
        "simpleType" : "DetachManagedPolicyFromPermissionSetRequest",
        "variableSetterType" : "DetachManagedPolicyFromPermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detachManagedPolicyFromPermissionSet",
      "operationName" : "DetachManagedPolicyFromPermissionSet",
      "returnType" : {
        "returnType" : "DetachManagedPolicyFromPermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DetachManagedPolicyFromPermissionSetResult"
    },
    "GetInlinePolicyForPermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInlinePolicyForPermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInlinePolicyForPermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInlinePolicyForPermissionSetRequest, GetInlinePolicyForPermissionSetResult>",
      "asyncReturnType" : "GetInlinePolicyForPermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains the inline policy assigned to the permission set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInlinePolicyForPermissionSetRequest",
        "variableName" : "getInlinePolicyForPermissionSetRequest",
        "variableType" : "GetInlinePolicyForPermissionSetRequest",
        "documentation" : "",
        "simpleType" : "GetInlinePolicyForPermissionSetRequest",
        "variableSetterType" : "GetInlinePolicyForPermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInlinePolicyForPermissionSet",
      "operationName" : "GetInlinePolicyForPermissionSet",
      "returnType" : {
        "returnType" : "GetInlinePolicyForPermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInlinePolicyForPermissionSetResult"
    },
    "ListAccountAssignmentCreationStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccountAssignmentCreationStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccountAssignmentCreationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccountAssignmentCreationStatusRequest, ListAccountAssignmentCreationStatusResult>",
      "asyncReturnType" : "ListAccountAssignmentCreationStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the status of the AWS account assignment creation requests for a specified SSO instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccountAssignmentCreationStatusRequest",
        "variableName" : "listAccountAssignmentCreationStatusRequest",
        "variableType" : "ListAccountAssignmentCreationStatusRequest",
        "documentation" : "",
        "simpleType" : "ListAccountAssignmentCreationStatusRequest",
        "variableSetterType" : "ListAccountAssignmentCreationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccountAssignmentCreationStatus",
      "operationName" : "ListAccountAssignmentCreationStatus",
      "returnType" : {
        "returnType" : "ListAccountAssignmentCreationStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccountAssignmentCreationStatusResult"
    },
    "ListAccountAssignmentDeletionStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccountAssignmentDeletionStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccountAssignmentDeletionStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccountAssignmentDeletionStatusRequest, ListAccountAssignmentDeletionStatusResult>",
      "asyncReturnType" : "ListAccountAssignmentDeletionStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the status of the AWS account assignment deletion requests for a specified SSO instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccountAssignmentDeletionStatusRequest",
        "variableName" : "listAccountAssignmentDeletionStatusRequest",
        "variableType" : "ListAccountAssignmentDeletionStatusRequest",
        "documentation" : "",
        "simpleType" : "ListAccountAssignmentDeletionStatusRequest",
        "variableSetterType" : "ListAccountAssignmentDeletionStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccountAssignmentDeletionStatus",
      "operationName" : "ListAccountAssignmentDeletionStatus",
      "returnType" : {
        "returnType" : "ListAccountAssignmentDeletionStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccountAssignmentDeletionStatusResult"
    },
    "ListAccountAssignments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccountAssignmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccountAssignmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccountAssignmentsRequest, ListAccountAssignmentsResult>",
      "asyncReturnType" : "ListAccountAssignmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the assignee of the specified AWS account with the specified permission set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccountAssignmentsRequest",
        "variableName" : "listAccountAssignmentsRequest",
        "variableType" : "ListAccountAssignmentsRequest",
        "documentation" : "",
        "simpleType" : "ListAccountAssignmentsRequest",
        "variableSetterType" : "ListAccountAssignmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccountAssignments",
      "operationName" : "ListAccountAssignments",
      "returnType" : {
        "returnType" : "ListAccountAssignmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccountAssignmentsResult"
    },
    "ListAccountsForProvisionedPermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccountsForProvisionedPermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccountsForProvisionedPermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccountsForProvisionedPermissionSetRequest, ListAccountsForProvisionedPermissionSetResult>",
      "asyncReturnType" : "ListAccountsForProvisionedPermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the AWS accounts where the specified permission set is provisioned.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccountsForProvisionedPermissionSetRequest",
        "variableName" : "listAccountsForProvisionedPermissionSetRequest",
        "variableType" : "ListAccountsForProvisionedPermissionSetRequest",
        "documentation" : "",
        "simpleType" : "ListAccountsForProvisionedPermissionSetRequest",
        "variableSetterType" : "ListAccountsForProvisionedPermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccountsForProvisionedPermissionSet",
      "operationName" : "ListAccountsForProvisionedPermissionSet",
      "returnType" : {
        "returnType" : "ListAccountsForProvisionedPermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccountsForProvisionedPermissionSetResult"
    },
    "ListInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInstancesRequest, ListInstancesResult>",
      "asyncReturnType" : "ListInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the SSO instances that the caller has access to.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInstancesRequest",
        "variableName" : "listInstancesRequest",
        "variableType" : "ListInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListInstancesRequest",
        "variableSetterType" : "ListInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInstances",
      "operationName" : "ListInstances",
      "returnType" : {
        "returnType" : "ListInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInstancesResult"
    },
    "ListManagedPoliciesInPermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListManagedPoliciesInPermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListManagedPoliciesInPermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListManagedPoliciesInPermissionSetRequest, ListManagedPoliciesInPermissionSetResult>",
      "asyncReturnType" : "ListManagedPoliciesInPermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the IAM managed policy that is attached to a specified permission set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListManagedPoliciesInPermissionSetRequest",
        "variableName" : "listManagedPoliciesInPermissionSetRequest",
        "variableType" : "ListManagedPoliciesInPermissionSetRequest",
        "documentation" : "",
        "simpleType" : "ListManagedPoliciesInPermissionSetRequest",
        "variableSetterType" : "ListManagedPoliciesInPermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listManagedPoliciesInPermissionSet",
      "operationName" : "ListManagedPoliciesInPermissionSet",
      "returnType" : {
        "returnType" : "ListManagedPoliciesInPermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "ListManagedPoliciesInPermissionSetResult"
    },
    "ListPermissionSetProvisioningStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionSetProvisioningStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionSetProvisioningStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionSetProvisioningStatusRequest, ListPermissionSetProvisioningStatusResult>",
      "asyncReturnType" : "ListPermissionSetProvisioningStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the status of the permission set provisioning requests for a specified SSO instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionSetProvisioningStatusRequest",
        "variableName" : "listPermissionSetProvisioningStatusRequest",
        "variableType" : "ListPermissionSetProvisioningStatusRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionSetProvisioningStatusRequest",
        "variableSetterType" : "ListPermissionSetProvisioningStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissionSetProvisioningStatus",
      "operationName" : "ListPermissionSetProvisioningStatus",
      "returnType" : {
        "returnType" : "ListPermissionSetProvisioningStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionSetProvisioningStatusResult"
    },
    "ListPermissionSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionSetsRequest, ListPermissionSetsResult>",
      "asyncReturnType" : "ListPermissionSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the <a>PermissionSet</a>s in an SSO instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionSetsRequest",
        "variableName" : "listPermissionSetsRequest",
        "variableType" : "ListPermissionSetsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionSetsRequest",
        "variableSetterType" : "ListPermissionSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissionSets",
      "operationName" : "ListPermissionSets",
      "returnType" : {
        "returnType" : "ListPermissionSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionSetsResult"
    },
    "ListPermissionSetsProvisionedToAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionSetsProvisionedToAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionSetsProvisionedToAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionSetsProvisionedToAccountRequest, ListPermissionSetsProvisionedToAccountResult>",
      "asyncReturnType" : "ListPermissionSetsProvisionedToAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the permission sets that are provisioned to a specified AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionSetsProvisionedToAccountRequest",
        "variableName" : "listPermissionSetsProvisionedToAccountRequest",
        "variableType" : "ListPermissionSetsProvisionedToAccountRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionSetsProvisionedToAccountRequest",
        "variableSetterType" : "ListPermissionSetsProvisionedToAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissionSetsProvisionedToAccount",
      "operationName" : "ListPermissionSetsProvisionedToAccount",
      "returnType" : {
        "returnType" : "ListPermissionSetsProvisionedToAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionSetsProvisionedToAccountResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags that are attached to a specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ProvisionPermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ProvisionPermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ProvisionPermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ProvisionPermissionSetRequest, ProvisionPermissionSetResult>",
      "asyncReturnType" : "ProvisionPermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The process by which a specified permission set is provisioned to the specified target.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ProvisionPermissionSetRequest",
        "variableName" : "provisionPermissionSetRequest",
        "variableType" : "ProvisionPermissionSetRequest",
        "documentation" : "",
        "simpleType" : "ProvisionPermissionSetRequest",
        "variableSetterType" : "ProvisionPermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "provisionPermissionSet",
      "operationName" : "ProvisionPermissionSet",
      "returnType" : {
        "returnType" : "ProvisionPermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "ProvisionPermissionSetResult"
    },
    "PutInlinePolicyToPermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutInlinePolicyToPermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutInlinePolicyToPermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutInlinePolicyToPermissionSetRequest, PutInlinePolicyToPermissionSetResult>",
      "asyncReturnType" : "PutInlinePolicyToPermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches an IAM inline policy to a permission set.</p> <note> <p>If the permission set is already referenced by one or more account assignments, you will need to call <code> <a>ProvisionPermissionSet</a> </code> after this action to apply the corresponding IAM policy updates to all assigned accounts.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Indicates that the principal has crossed the permitted number of resources that can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutInlinePolicyToPermissionSetRequest",
        "variableName" : "putInlinePolicyToPermissionSetRequest",
        "variableType" : "PutInlinePolicyToPermissionSetRequest",
        "documentation" : "",
        "simpleType" : "PutInlinePolicyToPermissionSetRequest",
        "variableSetterType" : "PutInlinePolicyToPermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putInlinePolicyToPermissionSet",
      "operationName" : "PutInlinePolicyToPermissionSet",
      "returnType" : {
        "returnType" : "PutInlinePolicyToPermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "PutInlinePolicyToPermissionSetResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a set of tags with a specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Indicates that the principal has crossed the permitted number of resources that can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a set of tags from a specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateInstanceAccessControlAttributeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateInstanceAccessControlAttributeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateInstanceAccessControlAttributeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateInstanceAccessControlAttributeConfigurationRequest, UpdateInstanceAccessControlAttributeConfigurationResult>",
      "asyncReturnType" : "UpdateInstanceAccessControlAttributeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the AWS SSO identity store attributes to use with the AWS SSO instance for attributes-based access control (ABAC). When using an external identity provider as an identity source, you can pass attributes through the SAML assertion as an alternative to configuring attributes from the AWS SSO identity store. If a SAML assertion passes any of these attributes, AWS SSO will replace the attribute value with the value from the AWS SSO identity store. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>AWS SSO User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateInstanceAccessControlAttributeConfigurationRequest",
        "variableName" : "updateInstanceAccessControlAttributeConfigurationRequest",
        "variableType" : "UpdateInstanceAccessControlAttributeConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateInstanceAccessControlAttributeConfigurationRequest",
        "variableSetterType" : "UpdateInstanceAccessControlAttributeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateInstanceAccessControlAttributeConfiguration",
      "operationName" : "UpdateInstanceAccessControlAttributeConfiguration",
      "returnType" : {
        "returnType" : "UpdateInstanceAccessControlAttributeConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateInstanceAccessControlAttributeConfigurationResult"
    },
    "UpdatePermissionSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePermissionSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePermissionSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePermissionSetRequest, UpdatePermissionSetResult>",
      "asyncReturnType" : "UpdatePermissionSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing permission set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Indicates that a requested resource is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed because it contains a syntax error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePermissionSetRequest",
        "variableName" : "updatePermissionSetRequest",
        "variableType" : "UpdatePermissionSetRequest",
        "documentation" : "",
        "simpleType" : "UpdatePermissionSetRequest",
        "variableSetterType" : "UpdatePermissionSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePermissionSet",
      "operationName" : "UpdatePermissionSet",
      "returnType" : {
        "returnType" : "UpdatePermissionSetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePermissionSetResult"
    }
  },
  "shapes" : {
    "AccessControlAttribute" : {
      "c2jName" : "AccessControlAttribute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>These are AWS SSO identity store attributes that you can configure for use in attributes-based access control (ABAC). You can create permission policies that determine who can access your AWS resources based upon the configured attribute value(s). When you enable ABAC and specify AccessControlAttributes, AWS SSO passes the attribute(s) value of the authenticated user into IAM for use in policy evaluation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ssoadmin.model.AccessControlAttribute",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Key",
        "c2jShape" : "AccessControlAttributeKey",
        "deprecated" : false,
        "documentation" : "<p>The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in AWS SSO.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in AWS SSO.</p>\n@param key The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in AWS SSO.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKey",
        "getterDocumentation" : "/**<p>The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in AWS SSO.</p>\n@return The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in AWS SSO.*/",
        "getterMethodName" : "getKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Key",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Key",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Key",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in AWS SSO.</p>\n@param key The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in AWS SSO.*/",
        "setterMethodName" : "setKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
