{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ {
      "convenienceType" : "com.amazonaws.services.stepfunctions.builder.StateMachine",
      "memberName" : "definition",
      "shapeName" : "CreateStateMachineInput",
      "typeAdapterFqcn" : "com.amazonaws.services.stepfunctions.builder.StateMachineAdapter"
    } ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DescribeExecutionOutput" : [ "status" ],
      "DescribeStateMachineOutput" : [ "status" ],
      "ExecutionListItem" : [ "status" ],
      "HistoryEvent" : [ "type" ],
      "ListExecutionsInput" : [ "statusFilter" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-11-23",
    "asyncClient" : "AWSStepFunctionsAsyncClient",
    "asyncClientBuilderClassName" : "AWSStepFunctionsAsyncClientBuilder",
    "asyncInterface" : "AWSStepFunctionsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSStepFunctionsModuleInjector",
    "defaultEndpoint" : "states.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "states.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Step Functions</fullname> <p>AWS Step Functions is a service that lets you coordinate the components of distributed applications and microservices using visual workflows.</p> <p>You can use Step Functions to build applications from individual components, each of which performs a discrete function, or <i>task</i>, allowing you to scale and change applications quickly. Step Functions provides a console that helps visualize the components of your application as a series of steps. Step Functions automatically triggers and tracks each step, and retries steps when there are errors, so your application executes predictably and in the right order every time. Step Functions logs the state of each step, so you can quickly diagnose and debug any issues.</p> <p>Step Functions manages operations and underlying infrastructure to ensure your application is available at any scale. You can run tasks on AWS, your own servers, or any system that has access to AWS. You can access and use Step Functions using the console, the AWS SDKs, or an HTTP API. For more information about Step Functions, see the <i> <a href=\"http://docs.aws.amazon.com/step-functions/latest/dg/welcome.html\">AWS Step Functions Developer Guide</a> </i>.</p>",
    "endpointPrefix" : "states",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.stepfunctions",
    "packagePath" : "com/amazonaws/services/stepfunctions",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS SFN",
    "serviceFullName" : "AWS Step Functions",
    "serviceName" : "AWS SFN",
    "signingName" : "states",
    "smokeTestsPackageName" : "com.amazonaws.services.stepfunctions.smoketests",
    "syncClient" : "AWSStepFunctionsClient",
    "syncClientBuilderClassName" : "AWSStepFunctionsClientBuilder",
    "syncInterface" : "AWSStepFunctions",
    "uid" : "states-2016-11-23",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateActivity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateActivityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateActivityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateActivityRequest, CreateActivityResult>",
      "asyncReturnType" : "CreateActivityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an activity. An activity is a task which you write in any programming language and host on any machine which has access to AWS Step Functions. Activities must poll Step Functions using the <code>GetActivityTask</code> API action and respond using <code>SendTask*</code> API actions. This function lets Step Functions know the existence of your activity and returns an identifier for use in a state machine and when polling from the activity.</p>",
      "exceptions" : [ {
        "exceptionName" : "ActivityLimitExceededException",
        "documentation" : "<p>The maximum number of activities has been reached. Existing activities must be deleted before a new activity can be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNameException",
        "documentation" : "<p>The provided name is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateActivityRequest",
        "variableName" : "createActivityRequest",
        "variableType" : "CreateActivityRequest",
        "documentation" : "",
        "simpleType" : "CreateActivityRequest",
        "variableSetterType" : "CreateActivityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createActivity",
      "operationName" : "CreateActivity",
      "returnType" : {
        "returnType" : "CreateActivityResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateActivityResult"
    },
    "CreateStateMachine" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStateMachineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStateMachineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStateMachineRequest, CreateStateMachineResult>",
      "asyncReturnType" : "CreateStateMachineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a state machine. A state machine consists of a collection of states that can do work (<code>Task</code> states), determine to which states to transition next (<code>Choice</code> states), stop an execution with an error (<code>Fail</code> states), and so on. State machines are specified using a JSON-based, structured language.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidDefinitionException",
        "documentation" : "<p>The provided Amazon States Language definition is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNameException",
        "documentation" : "<p>The provided name is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StateMachineAlreadyExistsException",
        "documentation" : "<p>A state machine with the same name but a different definition or role ARN already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StateMachineDeletingException",
        "documentation" : "<p>The specified state machine is being deleted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StateMachineLimitExceededException",
        "documentation" : "<p>The maximum number of state machines has been reached. Existing state machines must be deleted before a new state machine can be created.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStateMachineRequest",
        "variableName" : "createStateMachineRequest",
        "variableType" : "CreateStateMachineRequest",
        "documentation" : "",
        "simpleType" : "CreateStateMachineRequest",
        "variableSetterType" : "CreateStateMachineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStateMachine",
      "operationName" : "CreateStateMachine",
      "returnType" : {
        "returnType" : "CreateStateMachineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStateMachineResult"
    },
    "DeleteActivity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteActivityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteActivityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteActivityRequest, DeleteActivityResult>",
      "asyncReturnType" : "DeleteActivityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an activity.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteActivityRequest",
        "variableName" : "deleteActivityRequest",
        "variableType" : "DeleteActivityRequest",
        "documentation" : "",
        "simpleType" : "DeleteActivityRequest",
        "variableSetterType" : "DeleteActivityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteActivity",
      "operationName" : "DeleteActivity",
      "returnType" : {
        "returnType" : "DeleteActivityResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteActivityResult"
    },
    "DeleteStateMachine" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStateMachineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStateMachineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStateMachineRequest, DeleteStateMachineResult>",
      "asyncReturnType" : "DeleteStateMachineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a state machine. This is an asynchronous operation: It sets the state machine's status to <code>DELETING</code> and begins the deletion process. Each state machine execution is deleted the next time it makes a state transition.</p> <note> <p>The state machine itself is deleted after all executions are completed or deleted.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteStateMachineRequest",
        "variableName" : "deleteStateMachineRequest",
        "variableType" : "DeleteStateMachineRequest",
        "documentation" : "",
        "simpleType" : "DeleteStateMachineRequest",
        "variableSetterType" : "DeleteStateMachineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStateMachine",
      "operationName" : "DeleteStateMachine",
      "returnType" : {
        "returnType" : "DeleteStateMachineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStateMachineResult"
    },
    "DescribeActivity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeActivityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeActivityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeActivityRequest, DescribeActivityResult>",
      "asyncReturnType" : "DescribeActivityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an activity.</p>",
      "exceptions" : [ {
        "exceptionName" : "ActivityDoesNotExistException",
        "documentation" : "<p>The specified activity does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeActivityRequest",
        "variableName" : "describeActivityRequest",
        "variableType" : "DescribeActivityRequest",
        "documentation" : "",
        "simpleType" : "DescribeActivityRequest",
        "variableSetterType" : "DescribeActivityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeActivity",
      "operationName" : "DescribeActivity",
      "returnType" : {
        "returnType" : "DescribeActivityResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeActivityResult"
    },
    "DescribeExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExecutionRequest, DescribeExecutionResult>",
      "asyncReturnType" : "DescribeExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an execution.</p>",
      "exceptions" : [ {
        "exceptionName" : "ExecutionDoesNotExistException",
        "documentation" : "<p>The specified execution does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeExecutionRequest",
        "variableName" : "describeExecutionRequest",
        "variableType" : "DescribeExecutionRequest",
        "documentation" : "",
        "simpleType" : "DescribeExecutionRequest",
        "variableSetterType" : "DescribeExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeExecution",
      "operationName" : "DescribeExecution",
      "returnType" : {
        "returnType" : "DescribeExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeExecutionResult"
    },
    "DescribeStateMachine" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStateMachineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStateMachineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStateMachineRequest, DescribeStateMachineResult>",
      "asyncReturnType" : "DescribeStateMachineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a state machine.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StateMachineDoesNotExistException",
        "documentation" : "<p>The specified state machine does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeStateMachineRequest",
        "variableName" : "describeStateMachineRequest",
        "variableType" : "DescribeStateMachineRequest",
        "documentation" : "",
        "simpleType" : "DescribeStateMachineRequest",
        "variableSetterType" : "DescribeStateMachineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStateMachine",
      "operationName" : "DescribeStateMachine",
      "returnType" : {
        "returnType" : "DescribeStateMachineResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeStateMachineResult"
    },
    "DescribeStateMachineForExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStateMachineForExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStateMachineForExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStateMachineForExecutionRequest, DescribeStateMachineForExecutionResult>",
      "asyncReturnType" : "DescribeStateMachineForExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the state machine associated with a specific execution.</p>",
      "exceptions" : [ {
        "exceptionName" : "ExecutionDoesNotExistException",
        "documentation" : "<p>The specified execution does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeStateMachineForExecutionRequest",
        "variableName" : "describeStateMachineForExecutionRequest",
        "variableType" : "DescribeStateMachineForExecutionRequest",
        "documentation" : "",
        "simpleType" : "DescribeStateMachineForExecutionRequest",
        "variableSetterType" : "DescribeStateMachineForExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStateMachineForExecution",
      "operationName" : "DescribeStateMachineForExecution",
      "returnType" : {
        "returnType" : "DescribeStateMachineForExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeStateMachineForExecutionResult"
    },
    "GetActivityTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetActivityTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetActivityTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetActivityTaskRequest, GetActivityTaskResult>",
      "asyncReturnType" : "GetActivityTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used by workers to retrieve a task (with the specified activity ARN) which has been scheduled for execution by a running state machine. This initiates a long poll, where the service holds the HTTP connection open and responds as soon as a task becomes available (i.e. an execution of a task of this type is needed.) The maximum time the service holds on to the request before responding is 60 seconds. If no task is available within 60 seconds, the poll returns a <code>taskToken</code> with a null string.</p> <important> <p>Workers should set their client side socket timeout to at least 65 seconds (5 seconds higher than the maximum time the service may hold the poll request).</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "ActivityDoesNotExistException",
        "documentation" : "<p>The specified activity does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ActivityWorkerLimitExceededException",
        "documentation" : "<p>The maximum number of workers concurrently polling for activity tasks has been reached.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetActivityTaskRequest",
        "variableName" : "getActivityTaskRequest",
        "variableType" : "GetActivityTaskRequest",
        "documentation" : "",
        "simpleType" : "GetActivityTaskRequest",
        "variableSetterType" : "GetActivityTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getActivityTask",
      "operationName" : "GetActivityTask",
      "returnType" : {
        "returnType" : "GetActivityTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "GetActivityTaskResult"
    },
    "GetExecutionHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExecutionHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExecutionHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExecutionHistoryRequest, GetExecutionHistoryResult>",
      "asyncReturnType" : "GetExecutionHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the history of the specified execution as a list of events. By default, the results are returned in ascending order of the <code>timeStamp</code> of the events. Use the <code>reverseOrder</code> parameter to get the latest events first.</p> <p>If a <code>nextToken</code> is returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>nextToken</code>. Keep all other arguments unchanged.</p>",
      "exceptions" : [ {
        "exceptionName" : "ExecutionDoesNotExistException",
        "documentation" : "<p>The specified execution does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The provided token is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetExecutionHistoryRequest",
        "variableName" : "getExecutionHistoryRequest",
        "variableType" : "GetExecutionHistoryRequest",
        "documentation" : "",
        "simpleType" : "GetExecutionHistoryRequest",
        "variableSetterType" : "GetExecutionHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExecutionHistory",
      "operationName" : "GetExecutionHistory",
      "returnType" : {
        "returnType" : "GetExecutionHistoryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExecutionHistoryResult"
    },
    "ListActivities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListActivitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListActivitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListActivitiesRequest, ListActivitiesResult>",
      "asyncReturnType" : "ListActivitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the existing activities.</p> <p>If a <code>nextToken</code> is returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>nextToken</code>. Keep all other arguments unchanged.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The provided token is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListActivitiesRequest",
        "variableName" : "listActivitiesRequest",
        "variableType" : "ListActivitiesRequest",
        "documentation" : "",
        "simpleType" : "ListActivitiesRequest",
        "variableSetterType" : "ListActivitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listActivities",
      "operationName" : "ListActivities",
      "returnType" : {
        "returnType" : "ListActivitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListActivitiesResult"
    },
    "ListExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExecutionsRequest, ListExecutionsResult>",
      "asyncReturnType" : "ListExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the executions of a state machine that meet the filtering criteria.</p> <p>If a <code>nextToken</code> is returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>nextToken</code>. Keep all other arguments unchanged.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The provided token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StateMachineDoesNotExistException",
        "documentation" : "<p>The specified state machine does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListExecutionsRequest",
        "variableName" : "listExecutionsRequest",
        "variableType" : "ListExecutionsRequest",
        "documentation" : "",
        "simpleType" : "ListExecutionsRequest",
        "variableSetterType" : "ListExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExecutions",
      "operationName" : "ListExecutions",
      "returnType" : {
        "returnType" : "ListExecutionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExecutionsResult"
    },
    "ListStateMachines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStateMachinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStateMachinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStateMachinesRequest, ListStateMachinesResult>",
      "asyncReturnType" : "ListStateMachinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the existing state machines.</p> <p>If a <code>nextToken</code> is returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>nextToken</code>. Keep all other arguments unchanged.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The provided token is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListStateMachinesRequest",
        "variableName" : "listStateMachinesRequest",
        "variableType" : "ListStateMachinesRequest",
        "documentation" : "",
        "simpleType" : "ListStateMachinesRequest",
        "variableSetterType" : "ListStateMachinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStateMachines",
      "operationName" : "ListStateMachines",
      "returnType" : {
        "returnType" : "ListStateMachinesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListStateMachinesResult"
    },
    "SendTaskFailure" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendTaskFailureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendTaskFailureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendTaskFailureRequest, SendTaskFailureResult>",
      "asyncReturnType" : "SendTaskFailureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used by workers to report that the task identified by the <code>taskToken</code> failed.</p>",
      "exceptions" : [ {
        "exceptionName" : "TaskDoesNotExistException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The provided token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TaskTimedOutException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SendTaskFailureRequest",
        "variableName" : "sendTaskFailureRequest",
        "variableType" : "SendTaskFailureRequest",
        "documentation" : "",
        "simpleType" : "SendTaskFailureRequest",
        "variableSetterType" : "SendTaskFailureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendTaskFailure",
      "operationName" : "SendTaskFailure",
      "returnType" : {
        "returnType" : "SendTaskFailureResult",
        "documentation" : null
      },
      "syncReturnType" : "SendTaskFailureResult"
    },
    "SendTaskHeartbeat" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendTaskHeartbeatResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendTaskHeartbeatResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendTaskHeartbeatRequest, SendTaskHeartbeatResult>",
      "asyncReturnType" : "SendTaskHeartbeatResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used by workers to report to the service that the task represented by the specified <code>taskToken</code> is still making progress. This action resets the <code>Heartbeat</code> clock. The <code>Heartbeat</code> threshold is specified in the state machine's Amazon States Language definition. This action does not in itself create an event in the execution history. However, if the task times out, the execution history contains an <code>ActivityTimedOut</code> event.</p> <note> <p>The <code>Timeout</code> of a task, defined in the state machine's Amazon States Language definition, is its maximum allowed duration, regardless of the number of <a>SendTaskHeartbeat</a> requests received.</p> </note> <note> <p>This operation is only useful for long-lived tasks to report the liveliness of the task.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "TaskDoesNotExistException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The provided token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TaskTimedOutException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SendTaskHeartbeatRequest",
        "variableName" : "sendTaskHeartbeatRequest",
        "variableType" : "SendTaskHeartbeatRequest",
        "documentation" : "",
        "simpleType" : "SendTaskHeartbeatRequest",
        "variableSetterType" : "SendTaskHeartbeatRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendTaskHeartbeat",
      "operationName" : "SendTaskHeartbeat",
      "returnType" : {
        "returnType" : "SendTaskHeartbeatResult",
        "documentation" : null
      },
      "syncReturnType" : "SendTaskHeartbeatResult"
    },
    "SendTaskSuccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendTaskSuccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendTaskSuccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendTaskSuccessRequest, SendTaskSuccessResult>",
      "asyncReturnType" : "SendTaskSuccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used by workers to report that the task identified by the <code>taskToken</code> completed successfully.</p>",
      "exceptions" : [ {
        "exceptionName" : "TaskDoesNotExistException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOutputException",
        "documentation" : "<p>The provided JSON output data is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The provided token is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TaskTimedOutException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SendTaskSuccessRequest",
        "variableName" : "sendTaskSuccessRequest",
        "variableType" : "SendTaskSuccessRequest",
        "documentation" : "",
        "simpleType" : "SendTaskSuccessRequest",
        "variableSetterType" : "SendTaskSuccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendTaskSuccess",
      "operationName" : "SendTaskSuccess",
      "returnType" : {
        "returnType" : "SendTaskSuccessResult",
        "documentation" : null
      },
      "syncReturnType" : "SendTaskSuccessResult"
    },
    "StartExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartExecutionRequest, StartExecutionResult>",
      "asyncReturnType" : "StartExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a state machine execution.</p>",
      "exceptions" : [ {
        "exceptionName" : "ExecutionLimitExceededException",
        "documentation" : "<p>The maximum number of running executions has been reached. Running executions must end or be stopped before a new execution can be started.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExecutionAlreadyExistsException",
        "documentation" : "<p>The execution has the same <code>name</code> as another execution (but a different <code>input</code>).</p> <note> <p>Executions with the same <code>name</code> and <code>input</code> are considered idempotent.</p> </note>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidExecutionInputException",
        "documentation" : "<p>The provided JSON input data is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNameException",
        "documentation" : "<p>The provided name is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StateMachineDoesNotExistException",
        "documentation" : "<p>The specified state machine does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StateMachineDeletingException",
        "documentation" : "<p>The specified state machine is being deleted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartExecutionRequest",
        "variableName" : "startExecutionRequest",
        "variableType" : "StartExecutionRequest",
        "documentation" : "",
        "simpleType" : "StartExecutionRequest",
        "variableSetterType" : "StartExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startExecution",
      "operationName" : "StartExecution",
      "returnType" : {
        "returnType" : "StartExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartExecutionResult"
    },
    "StopExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopExecutionRequest, StopExecutionResult>",
      "asyncReturnType" : "StopExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an execution.</p>",
      "exceptions" : [ {
        "exceptionName" : "ExecutionDoesNotExistException",
        "documentation" : "<p>The specified execution does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopExecutionRequest",
        "variableName" : "stopExecutionRequest",
        "variableType" : "StopExecutionRequest",
        "documentation" : "",
        "simpleType" : "StopExecutionRequest",
        "variableSetterType" : "StopExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopExecution",
      "operationName" : "StopExecution",
      "returnType" : {
        "returnType" : "StopExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "StopExecutionResult"
    },
    "UpdateStateMachine" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStateMachineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStateMachineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStateMachineRequest, UpdateStateMachineResult>",
      "asyncReturnType" : "UpdateStateMachineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing state machine by modifying its <code>definition</code> and/or <code>roleArn</code>. Running executions will continue to use the previous <code>definition</code> and <code>roleArn</code>.</p> <note> <p>All <code>StartExecution</code> calls within a few seconds will use the updated <code>definition</code> and <code>roleArn</code>. Executions started immediately after calling <code>UpdateStateMachine</code> may use the previous state machine <code>definition</code> and <code>roleArn</code>. You must include at least one of <code>definition</code> or <code>roleArn</code> or you will receive a <code>MissingRequiredParameter</code> error.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidDefinitionException",
        "documentation" : "<p>The provided Amazon States Language definition is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>Request is missing a required parameter. This error occurs if both <code>definition</code> and <code>roleArn</code> are not specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StateMachineDeletingException",
        "documentation" : "<p>The specified state machine is being deleted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StateMachineDoesNotExistException",
        "documentation" : "<p>The specified state machine does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateStateMachineRequest",
        "variableName" : "updateStateMachineRequest",
        "variableType" : "UpdateStateMachineRequest",
        "documentation" : "",
        "simpleType" : "UpdateStateMachineRequest",
        "variableSetterType" : "UpdateStateMachineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateStateMachine",
      "operationName" : "UpdateStateMachine",
      "returnType" : {
        "returnType" : "UpdateStateMachineResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateStateMachineResult"
    }
  },
  "shapes" : {
    "ActivityDoesNotExistException" : {
      "c2jName" : "ActivityDoesNotExist",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The specified activity does not exist.</p>",
      "enums" : null,
      "errorCode" : "ActivityDoesNotExist",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActivityDoesNotExistException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ActivityDoesNotExistException",
        "variableName" : "activityDoesNotExistException",
        "variableType" : "ActivityDoesNotExistException",
        "documentation" : null,
        "simpleType" : "ActivityDoesNotExistException",
        "variableSetterType" : "ActivityDoesNotExistException"
      },
      "wrapper" : false
    },
    "ActivityFailedEventDetails" : {
      "c2jName" : "ActivityFailedEventDetails",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains details about an activity which failed during an execution.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "error",
        "c2jShape" : "Error",
        "deprecated" : false,
        "documentation" : "<p>The error code of the failure.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withError",
        "getterDocumentation" : "/**<p>The error code of the failure.</p>\n@return The error code of the failure.*/",
        "getterMethodName" : "getError",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "error",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "error",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Error",
        "setterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.*/",
        "setterMethodName" : "setError",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "error",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "error",
          "variableType" : "String",
          "documentation" : "<p>The error code of the failure.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "cause",
        "c2jShape" : "Cause",
        "deprecated" : false,
        "documentation" : "<p>A more detailed explanation of the cause of the failure.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCause",
        "getterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@return A more detailed explanation of the cause of the failure.*/",
        "getterMethodName" : "getCause",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cause",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cause",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Cause",
        "setterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.*/",
        "setterMethodName" : "setCause",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "cause",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "cause",
          "variableType" : "String",
          "documentation" : "<p>A more detailed explanation of the cause of the failure.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Cause" : {
          "c2jName" : "cause",
          "c2jShape" : "Cause",
          "deprecated" : false,
          "documentation" : "<p>A more detailed explanation of the cause of the failure.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCause",
          "getterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@return A more detailed explanation of the cause of the failure.*/",
          "getterMethodName" : "getCause",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "cause",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "cause",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Cause",
          "setterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.*/",
          "setterMethodName" : "setCause",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "cause",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "cause",
            "variableType" : "String",
            "documentation" : "<p>A more detailed explanation of the cause of the failure.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Error" : {
          "c2jName" : "error",
          "c2jShape" : "Error",
          "deprecated" : false,
          "documentation" : "<p>The error code of the failure.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withError",
          "getterDocumentation" : "/**<p>The error code of the failure.</p>\n@return The error code of the failure.*/",
          "getterMethodName" : "getError",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "error",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "error",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Error",
          "setterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.*/",
          "setterMethodName" : "setError",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "error",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "error",
            "variableType" : "String",
            "documentation" : "<p>The error code of the failure.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActivityFailedEventDetails",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ActivityFailedEventDetails",
        "variableName" : "activityFailedEventDetails",
        "variableType" : "ActivityFailedEventDetails",
        "documentation" : null,
        "simpleType" : "ActivityFailedEventDetails",
        "variableSetterType" : "ActivityFailedEventDetails"
      },
      "wrapper" : false
    },
    "ActivityLimitExceededException" : {
      "c2jName" : "ActivityLimitExceeded",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The maximum number of activities has been reached. Existing activities must be deleted before a new activity can be created.</p>",
      "enums" : null,
      "errorCode" : "ActivityLimitExceeded",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActivityLimitExceededException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ActivityLimitExceededException",
        "variableName" : "activityLimitExceededException",
        "variableType" : "ActivityLimitExceededException",
        "documentation" : null,
        "simpleType" : "ActivityLimitExceededException",
        "variableSetterType" : "ActivityLimitExceededException"
      },
      "wrapper" : false
    },
    "ActivityListItem" : {
      "c2jName" : "ActivityListItem",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains details about an activity.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "activityArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) that identifies the activity.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that identifies the activity.</p>\n@param activityArn The Amazon Resource Name (ARN) that identifies the activity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActivityArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that identifies the activity.</p>\n@return The Amazon Resource Name (ARN) that identifies the activity.*/",
        "getterMethodName" : "getActivityArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "activityArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "activityArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ActivityArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that identifies the activity.</p>\n@param activityArn The Amazon Resource Name (ARN) that identifies the activity.*/",
        "setterMethodName" : "setActivityArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "activityArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that identifies the activity.</p>\n@param activityArn The Amazon Resource Name (ARN) that identifies the activity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "activityArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) that identifies the activity.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\n@param name The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\n@return The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li>*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\n@param name The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li>*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\n@param name The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "creationDate",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date the activity is created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date the activity is created.</p>\n@param creationDate The date the activity is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreationDate",
        "getterDocumentation" : "/**<p>The date the activity is created.</p>\n@return The date the activity is created.*/",
        "getterMethodName" : "getCreationDate",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "creationDate",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "creationDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreationDate",
        "setterDocumentation" : "/**<p>The date the activity is created.</p>\n@param creationDate The date the activity is created.*/",
        "setterMethodName" : "setCreationDate",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationDate",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date the activity is created.</p>\n@param creationDate The date the activity is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationDate",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date the activity is created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ActivityArn" : {
          "c2jName" : "activityArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) that identifies the activity.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that identifies the activity.</p>\n@param activityArn The Amazon Resource Name (ARN) that identifies the activity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withActivityArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that identifies the activity.</p>\n@return The Amazon Resource Name (ARN) that identifies the activity.*/",
          "getterMethodName" : "getActivityArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "activityArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "activityArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ActivityArn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that identifies the activity.</p>\n@param activityArn The Amazon Resource Name (ARN) that identifies the activity.*/",
          "setterMethodName" : "setActivityArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "activityArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that identifies the activity.</p>\n@param activityArn The Amazon Resource Name (ARN) that identifies the activity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "activityArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) that identifies the activity.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CreationDate" : {
          "c2jName" : "creationDate",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date the activity is created.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date the activity is created.</p>\n@param creationDate The date the activity is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreationDate",
          "getterDocumentation" : "/**<p>The date the activity is created.</p>\n@return The date the activity is created.*/",
          "getterMethodName" : "getCreationDate",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "creationDate",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "creationDate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreationDate",
          "setterDocumentation" : "/**<p>The date the activity is created.</p>\n@param creationDate The date the activity is created.*/",
          "setterMethodName" : "setCreationDate",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "creationDate",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date the activity is created.</p>\n@param creationDate The date the activity is created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "creationDate",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The date the activity is created.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "name",
          "c2jShape" : "Name",
          "deprecated" : false,
          "documentation" : "<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\n@param name The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\n@return The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li>*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\n@param name The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li>*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\n@param name The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "activityArn", "name", "creationDate" ],
      "shapeName" : "ActivityListItem",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ActivityListItem",
        "variableName" : "activityListItem",
        "variableType" : "ActivityListItem",
        "documentation" : null,
        "simpleType" : "ActivityListItem",
        "variableSetterType" : "ActivityListItem"
      },
      "wrapper" : false
    },
    "ActivityScheduleFailedEventDetails" : {
      "c2jName" : "ActivityScheduleFailedEventDetails",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains details about an activity schedule failure which occurred during an execution.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "error",
        "c2jShape" : "Error",
        "deprecated" : false,
        "documentation" : "<p>The error code of the failure.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withError",
        "getterDocumentation" : "/**<p>The error code of the failure.</p>\n@return The error code of the failure.*/",
        "getterMethodName" : "getError",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "error",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "error",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Error",
        "setterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.*/",
        "setterMethodName" : "setError",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "error",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "error",
          "variableType" : "String",
          "documentation" : "<p>The error code of the failure.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "cause",
        "c2jShape" : "Cause",
        "deprecated" : false,
        "documentation" : "<p>A more detailed explanation of the cause of the failure.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCause",
        "getterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@return A more detailed explanation of the cause of the failure.*/",
        "getterMethodName" : "getCause",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cause",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cause",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Cause",
        "setterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.*/",
        "setterMethodName" : "setCause",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "cause",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "cause",
          "variableType" : "String",
          "documentation" : "<p>A more detailed explanation of the cause of the failure.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Cause" : {
          "c2jName" : "cause",
          "c2jShape" : "Cause",
          "deprecated" : false,
          "documentation" : "<p>A more detailed explanation of the cause of the failure.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCause",
          "getterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@return A more detailed explanation of the cause of the failure.*/",
          "getterMethodName" : "getCause",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "cause",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "cause",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Cause",
          "setterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.*/",
          "setterMethodName" : "setCause",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "cause",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A more detailed explanation of the cause of the failure.</p>\n@param cause A more detailed explanation of the cause of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "cause",
            "variableType" : "String",
            "documentation" : "<p>A more detailed explanation of the cause of the failure.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Error" : {
          "c2jName" : "error",
          "c2jShape" : "Error",
          "deprecated" : false,
          "documentation" : "<p>The error code of the failure.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withError",
          "getterDocumentation" : "/**<p>The error code of the failure.</p>\n@return The error code of the failure.*/",
          "getterMethodName" : "getError",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "error",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "error",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Error",
          "setterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.*/",
          "setterMethodName" : "setError",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "error",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The error code of the failure.</p>\n@param error The error code of the failure.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "error",
            "variableType" : "String",
            "documentation" : "<p>The error code of the failure.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActivityScheduleFailedEventDetails",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ActivityScheduleFailedEventDetails",
        "variableName" : "activityScheduleFailedEventDetails",
        "variableType" : "ActivityScheduleFailedEventDetails",
        "documentation" : null,
        "simpleType" : "ActivityScheduleFailedEventDetails",
        "variableSetterType" : "ActivityScheduleFailedEventDetails"
      },
      "wrapper" : false
    },
    "ActivityScheduledEventDetails" : {
      "c2jName" : "ActivityScheduledEventDetails",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains details about an activity scheduled during an execution.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "resource",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the scheduled activity.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the scheduled activity.</p>\n@param resource The Amazon Resource Name (ARN) of the scheduled activity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResource",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the scheduled activity.</p>\n@return The Amazon Resource Name (ARN) of the scheduled activity.*/",
        "getterMethodName" : "getResource",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resource",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resource",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Resource",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the scheduled activity.</p>\n@param resource The Amazon Resource Name (ARN) of the scheduled activity.*/",
        "setterMethodName" : "setResource",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resource",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the scheduled activity.</p>\n@param resource The Amazon Resource Name (ARN) of the scheduled activity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resource",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the scheduled activity.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "input",
        "c2jShape" : "Data",
        "deprecated" : false,
        "documentation" : "<p>The JSON data input to the activity task.</p>",
        "enumType" : null,
[...]
