{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "StorageGatewayError" : [ "errorCode" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "InternalServerError" : {
        "exclude" : [ "error" ],
        "excludeShape" : false,
        "inject" : null,
        "modify" : null
      },
      "InvalidGatewayRequestException" : {
        "exclude" : [ "error" ],
        "excludeShape" : false,
        "inject" : null,
        "modify" : null
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeTapeArchives" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListGateways" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ListTagsForResource" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "RemoveTagsFromResource" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2013-06-30",
    "asyncClient" : "AWSStorageGatewayAsyncClient",
    "asyncClientBuilderClassName" : "AWSStorageGatewayAsyncClientBuilder",
    "asyncInterface" : "AWSStorageGatewayAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSStorageGatewayModuleInjector",
    "defaultEndpoint" : "https://storagegateway.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "storagegateway.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Storage Gateway Service</fullname> <p>AWS Storage Gateway is the service that connects an on-premises software appliance with cloud-based storage to provide seamless and secure integration between an organization's on-premises IT environment and AWS's storage infrastructure. The service enables you to securely upload data to the AWS cloud for cost effective backup and rapid disaster recovery.</p> <p>Use the following links to get started using the <i>AWS Storage Gateway Service API Reference</i>:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPI.html#AWSStorageGatewayHTTPRequestsHeaders\">AWS Storage Gateway Required Request Headers</a>: Describes the required headers that you must send with every POST request to AWS Storage Gateway.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPI.html#AWSStorageGatewaySigningRequests\">Signing Requests</a>: AWS Storage Gateway requires that you authenticate every request you send; this topic describes how sign such a request.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPI.html#APIErrorResponses\">Error Responses</a>: Provides reference information about AWS Storage Gateway errors.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/APIReference/API_Operations.html\">Operations in AWS Storage Gateway</a>: Contains detailed descriptions of all AWS Storage Gateway operations, their request parameters, response elements, possible errors, and examples of requests and responses.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sg_region\">AWS Storage Gateway Regions and Endpoints:</a> Provides a list of each region and endpoints available for use with AWS Storage Gateway. </p> </li> </ul> <note> <p>AWS Storage Gateway resource IDs are in uppercase. When you use these resource IDs with the Amazon EC2 API, EC2 expects resource IDs in lowercase. You must change your resource ID to lowercase to use it with the EC2 API. For example, in Storage Gateway the ID for a volume might be <code>vol-AA22BB012345DAF670</code>. When you use this ID with the EC2 API, you must change it to <code>vol-aa22bb012345daf670</code>. Otherwise, the EC2 API might not behave as expected.</p> </note> <important> <p>IDs for Storage Gateway volumes and Amazon EBS snapshots created from gateway volumes are changing to a longer format. Starting in December 2016, all new volumes and snapshots will be created with a 17-character string. Starting in April 2016, you will be able to use these longer IDs so you can test your systems with the new format. For more information, see <a href=\"https://aws.amazon.com/ec2/faqs/#longer-ids\">Longer EC2 and EBS Resource IDs</a>.</p> <p> For example, a volume Amazon Resource Name (ARN) with the longer volume ID format looks like the following:</p> <p> <code>arn:aws:storagegateway:us-west-2:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABBCCDDEEFFG</code>.</p> <p>A snapshot ID with the longer ID format looks like the following: <code>snap-78e226633445566ee</code>.</p> <p>For more information, see <a href=\"https://forums.aws.amazon.com/ann.jspa?annID=3557\">Announcement: Heads-up – Longer AWS Storage Gateway volume and snapshot IDs coming in 2016</a>.</p> </important>",
    "endpointPrefix" : "storagegateway",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.storagegateway",
    "packagePath" : "com/amazonaws/services/storagegateway",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Storage Gateway",
    "serviceName" : "AWS Storage Gateway",
    "signingName" : "storagegateway",
    "smokeTestsPackageName" : "com.amazonaws.services.storagegateway.smoketests",
    "syncClient" : "AWSStorageGatewayClient",
    "syncClientBuilderClassName" : "AWSStorageGatewayClientBuilder",
    "syncInterface" : "AWSStorageGateway",
    "uid" : "storagegateway-2013-06-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ActivateGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ActivateGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ActivateGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivateGatewayRequest, ActivateGatewayResult>",
      "asyncReturnType" : "ActivateGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates the gateway you previously deployed on your host. For more information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/GettingStartedActivateGateway-common.html\"> Activate the AWS Storage Gateway</a>. In the activation process, you specify information such as the region you want to use for storing snapshots or tapes, the time zone for scheduled snapshots the gateway snapshot schedule window, an activation key, and a name for your gateway. The activation process also associates your gateway with your account; for more information, see <a>UpdateGatewayInformation</a>.</p> <note> <p>You must turn on the gateway VM before you can activate your gateway.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ActivateGatewayRequest",
        "variableName" : "activateGatewayRequest",
        "variableType" : "ActivateGatewayRequest",
        "documentation" : "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>ActivateGatewayInput$ActivationKey</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayName</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayRegion</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayTimezone</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$TapeDriveType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$MediumChangerType</a> </p> </li> </ul>",
        "simpleType" : "ActivateGatewayRequest",
        "variableSetterType" : "ActivateGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "activateGateway",
      "operationName" : "ActivateGateway",
      "returnType" : {
        "returnType" : "ActivateGatewayResult",
        "documentation" : "<p>AWS Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway. It is a string made of information such as your account, gateway name, and region. This ARN is used to reference the gateway in other API operations as well as resource-based authorization.</p> <note> <p>For gateways activated prior to September 02, 2015, the gateway ARN contains the gateway name rather than the gateway ID. Changing the name of the gateway has no effect on the gateway ARN.</p> </note>"
      },
      "syncReturnType" : "ActivateGatewayResult"
    },
    "AddCache" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddCacheResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddCacheResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddCacheRequest, AddCacheResult>",
      "asyncReturnType" : "AddCacheResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures one or more gateway local disks as cache for a gateway. This operation is only supported in the cached volume, tape and file gateway type (see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/StorageGatewayConcepts.html\">Storage Gateway Concepts</a>).</p> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add cache, and one or more disk IDs that you want to configure as cache.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddCacheRequest",
        "variableName" : "addCacheRequest",
        "variableType" : "AddCacheRequest",
        "documentation" : "",
        "simpleType" : "AddCacheRequest",
        "variableSetterType" : "AddCacheRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addCache",
      "operationName" : "AddCache",
      "returnType" : {
        "returnType" : "AddCacheResult",
        "documentation" : null
      },
      "syncReturnType" : "AddCacheResult"
    },
    "AddTagsToResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "asyncReturnType" : "AddTagsToResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to the specified resource. You use tags to add metadata to resources, which you can use to categorize these resources. For example, you can categorize resources by purpose, owner, environment, or team. Each tag consists of a key and a value, which you define. You can add tags to the following AWS Storage Gateway resources:</p> <ul> <li> <p>Storage gateways of all types</p> </li> </ul> <ul> <li> <p>Storage Volumes</p> </li> </ul> <ul> <li> <p>Virtual Tapes</p> </li> </ul> <p>You can create a maximum of 10 tags for each resource. Virtual tapes and storage volumes that are recovered to a new gateway maintain their tags.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "documentation" : "<p>AddTagsToResourceInput</p>",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTagsToResource",
      "operationName" : "AddTagsToResource",
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : "<p>AddTagsToResourceOutput</p>"
      },
      "syncReturnType" : "AddTagsToResourceResult"
    },
    "AddUploadBuffer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddUploadBufferResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddUploadBufferResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddUploadBufferRequest, AddUploadBufferResult>",
      "asyncReturnType" : "AddUploadBufferResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures one or more gateway local disks as upload buffer for a specified gateway. This operation is supported for the stored volume, cached volume and tape gateway types.</p> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add upload buffer, and one or more disk IDs that you want to configure as upload buffer.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddUploadBufferRequest",
        "variableName" : "addUploadBufferRequest",
        "variableType" : "AddUploadBufferRequest",
        "documentation" : "",
        "simpleType" : "AddUploadBufferRequest",
        "variableSetterType" : "AddUploadBufferRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addUploadBuffer",
      "operationName" : "AddUploadBuffer",
      "returnType" : {
        "returnType" : "AddUploadBufferResult",
        "documentation" : null
      },
      "syncReturnType" : "AddUploadBufferResult"
    },
    "AddWorkingStorage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddWorkingStorageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddWorkingStorageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddWorkingStorageRequest, AddWorkingStorageResult>",
      "asyncReturnType" : "AddWorkingStorageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures one or more gateway local disks as working storage for a gateway. This operation is only supported in the stored volume gateway type. This operation is deprecated in cached volume API version 20120630. Use <a>AddUploadBuffer</a> instead.</p> <note> <p>Working storage is also referred to as upload buffer. You can also use the <a>AddUploadBuffer</a> operation to add upload buffer to a stored volume gateway.</p> </note> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add working storage, and one or more disk IDs that you want to configure as working storage.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddWorkingStorageRequest",
        "variableName" : "addWorkingStorageRequest",
        "variableType" : "AddWorkingStorageRequest",
        "documentation" : "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>AddWorkingStorageInput$DiskIds</a> </p> </li> </ul>",
        "simpleType" : "AddWorkingStorageRequest",
        "variableSetterType" : "AddWorkingStorageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addWorkingStorage",
      "operationName" : "AddWorkingStorage",
      "returnType" : {
        "returnType" : "AddWorkingStorageResult",
        "documentation" : "<p>A JSON object containing the of the gateway for which working storage was configured.</p>"
      },
      "syncReturnType" : "AddWorkingStorageResult"
    },
    "CancelArchival" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelArchivalResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelArchivalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelArchivalRequest, CancelArchivalResult>",
      "asyncReturnType" : "CancelArchivalResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels archiving of a virtual tape to the virtual tape shelf (VTS) after the archiving process is initiated. This operation is only supported in the tape gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelArchivalRequest",
        "variableName" : "cancelArchivalRequest",
        "variableType" : "CancelArchivalRequest",
        "documentation" : "<p>CancelArchivalInput</p>",
        "simpleType" : "CancelArchivalRequest",
        "variableSetterType" : "CancelArchivalRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelArchival",
      "operationName" : "CancelArchival",
      "returnType" : {
        "returnType" : "CancelArchivalResult",
        "documentation" : "<p>CancelArchivalOutput</p>"
      },
      "syncReturnType" : "CancelArchivalResult"
    },
    "CancelRetrieval" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelRetrievalResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelRetrievalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelRetrievalRequest, CancelRetrievalResult>",
      "asyncReturnType" : "CancelRetrievalResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels retrieval of a virtual tape from the virtual tape shelf (VTS) to a gateway after the retrieval process is initiated. The virtual tape is returned to the VTS. This operation is only supported in the tape gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelRetrievalRequest",
        "variableName" : "cancelRetrievalRequest",
        "variableType" : "CancelRetrievalRequest",
        "documentation" : "<p>CancelRetrievalInput</p>",
        "simpleType" : "CancelRetrievalRequest",
        "variableSetterType" : "CancelRetrievalRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelRetrieval",
      "operationName" : "CancelRetrieval",
      "returnType" : {
        "returnType" : "CancelRetrievalResult",
        "documentation" : "<p>CancelRetrievalOutput</p>"
      },
      "syncReturnType" : "CancelRetrievalResult"
    },
    "CreateCachediSCSIVolume" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCachediSCSIVolumeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCachediSCSIVolumeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCachediSCSIVolumeRequest, CreateCachediSCSIVolumeResult>",
      "asyncReturnType" : "CreateCachediSCSIVolumeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a cached volume on a specified cached volume gateway. This operation is only supported in the cached volume gateway type.</p> <note> <p>Cache storage must be allocated to the gateway before you can create a cached volume. Use the <a>AddCache</a> operation to add cache storage to a gateway. </p> </note> <p>In the request, you must specify the gateway, size of the volume in bytes, the iSCSI target name, an IP address on which to expose the target, and a unique client token. In response, the gateway creates the volume and returns information about it. This information includes the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p> <p>Optionally, you can provide the ARN for an existing volume as the <code>SourceVolumeARN</code> for this cached volume, which creates an exact copy of the existing volume’s latest recovery point. The <code>VolumeSizeInBytes</code> value must be equal to or larger than the size of the copied volume, in bytes.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateCachediSCSIVolumeRequest",
        "variableName" : "createCachediSCSIVolumeRequest",
        "variableType" : "CreateCachediSCSIVolumeRequest",
        "documentation" : "",
        "simpleType" : "CreateCachediSCSIVolumeRequest",
        "variableSetterType" : "CreateCachediSCSIVolumeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCachediSCSIVolume",
      "operationName" : "CreateCachediSCSIVolume",
      "returnType" : {
        "returnType" : "CreateCachediSCSIVolumeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCachediSCSIVolumeResult"
    },
    "CreateNFSFileShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNFSFileShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNFSFileShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNFSFileShareRequest, CreateNFSFileShareResult>",
      "asyncReturnType" : "CreateNFSFileShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a file share on an existing file gateway. In Storage Gateway, a file share is a file system mount point backed by Amazon S3 cloud storage. Storage Gateway exposes file shares using a Network File System (NFS) interface. This operation is only supported in the file gateway type.</p> <important> <p>File gateway requires AWS Security Token Service (AWS STS) to be activated to enable you create a file share. Make sure AWS STS is activated in the region you are creating your file gateway in. If AWS STS is not activated in the region, activate it. For information about how to activate AWS STS, see Activating and Deactivating AWS STS in an AWS Region in the AWS Identity and Access Management User Guide. </p> <p>File gateway does not support creating hard or symbolic links on a file share.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateNFSFileShareRequest",
        "variableName" : "createNFSFileShareRequest",
        "variableType" : "CreateNFSFileShareRequest",
        "documentation" : "<p>CreateNFSFileShareInput</p>",
        "simpleType" : "CreateNFSFileShareRequest",
        "variableSetterType" : "CreateNFSFileShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNFSFileShare",
      "operationName" : "CreateNFSFileShare",
      "returnType" : {
        "returnType" : "CreateNFSFileShareResult",
        "documentation" : "<p>CreateNFSFileShareOutput</p>"
      },
      "syncReturnType" : "CreateNFSFileShareResult"
    },
    "CreateSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotRequest, CreateSnapshotResult>",
      "asyncReturnType" : "CreateSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a snapshot of a volume.</p> <p>AWS Storage Gateway provides the ability to back up point-in-time snapshots of your data to Amazon Simple Storage (S3) for durable off-site recovery, as well as import the data to an Amazon Elastic Block Store (EBS) volume in Amazon Elastic Compute Cloud (EC2). You can take snapshots of your gateway volume on a scheduled or ad-hoc basis. This API enables you to take ad-hoc snapshot. For more information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/managing-volumes.html#SchedulingSnapshot\">Editing a Snapshot Schedule</a>.</p> <p>In the CreateSnapshot request you identify the volume by providing its Amazon Resource Name (ARN). You must also provide description for the snapshot. When AWS Storage Gateway takes the snapshot of specified volume, the snapshot and description appears in the AWS Storage Gateway Console. In response, AWS Storage Gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot. This operation is only supported in stored and cached volume gateway type.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, see DescribeSnapshots or DeleteSnapshot in the <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Operations.html\">EC2 API reference</a>.</p> </note> <important> <p>Volume and snapshot IDs are changing to a longer length ID format. For more information, see the important note on the <a href=\"http://docs.aws.amazon.com/storagegateway/latest/APIReference/Welcome.html\">Welcome</a> page.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableErrorException",
        "documentation" : "<p>An internal server error has occurred because the service is unavailable. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSnapshotRequest",
        "variableName" : "createSnapshotRequest",
        "variableType" : "CreateSnapshotRequest",
        "documentation" : "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>CreateSnapshotInput$SnapshotDescription</a> </p> </li> <li> <p> <a>CreateSnapshotInput$VolumeARN</a> </p> </li> </ul>",
        "simpleType" : "CreateSnapshotRequest",
        "variableSetterType" : "CreateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSnapshot",
      "operationName" : "CreateSnapshot",
      "returnType" : {
        "returnType" : "CreateSnapshotResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "syncReturnType" : "CreateSnapshotResult"
    },
    "CreateSnapshotFromVolumeRecoveryPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSnapshotFromVolumeRecoveryPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSnapshotFromVolumeRecoveryPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotFromVolumeRecoveryPointRequest, CreateSnapshotFromVolumeRecoveryPointResult>",
      "asyncReturnType" : "CreateSnapshotFromVolumeRecoveryPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a snapshot of a gateway from a volume recovery point. This operation is only supported in the cached volume gateway type.</p> <p>A volume recovery point is a point in time at which all data of the volume is consistent and from which you can create a snapshot. To get a list of volume recovery point for cached volume gateway, use <a>ListVolumeRecoveryPoints</a>.</p> <p>In the <code>CreateSnapshotFromVolumeRecoveryPoint</code> request, you identify the volume by providing its Amazon Resource Name (ARN). You must also provide a description for the snapshot. When the gateway takes a snapshot of the specified volume, the snapshot and its description appear in the AWS Storage Gateway console. In response, the gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, in <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableErrorException",
        "documentation" : "<p>An internal server error has occurred because the service is unavailable. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSnapshotFromVolumeRecoveryPointRequest",
        "variableName" : "createSnapshotFromVolumeRecoveryPointRequest",
        "variableType" : "CreateSnapshotFromVolumeRecoveryPointRequest",
        "documentation" : "",
        "simpleType" : "CreateSnapshotFromVolumeRecoveryPointRequest",
        "variableSetterType" : "CreateSnapshotFromVolumeRecoveryPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSnapshotFromVolumeRecoveryPoint",
      "operationName" : "CreateSnapshotFromVolumeRecoveryPoint",
      "returnType" : {
        "returnType" : "CreateSnapshotFromVolumeRecoveryPointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSnapshotFromVolumeRecoveryPointResult"
    },
    "CreateStorediSCSIVolume" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStorediSCSIVolumeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStorediSCSIVolumeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStorediSCSIVolumeRequest, CreateStorediSCSIVolumeResult>",
      "asyncReturnType" : "CreateStorediSCSIVolumeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a volume on a specified gateway. This operation is only supported in the stored volume gateway type.</p> <p>The size of the volume to create is inferred from the disk size. You can choose to preserve existing data on the disk, create volume from an existing snapshot, or create an empty volume. If you choose to create an empty gateway volume, then any existing data on the disk is erased.</p> <p>In the request you must specify the gateway and the disk information on which you are creating the volume. In response, the gateway creates the volume and returns volume information such as the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStorediSCSIVolumeRequest",
        "variableName" : "createStorediSCSIVolumeRequest",
        "variableType" : "CreateStorediSCSIVolumeRequest",
        "documentation" : "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>CreateStorediSCSIVolumeInput$DiskId</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$NetworkInterfaceId</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$PreserveExistingData</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$SnapshotId</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$TargetName</a> </p> </li> </ul>",
        "simpleType" : "CreateStorediSCSIVolumeRequest",
        "variableSetterType" : "CreateStorediSCSIVolumeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStorediSCSIVolume",
      "operationName" : "CreateStorediSCSIVolume",
      "returnType" : {
        "returnType" : "CreateStorediSCSIVolumeResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "syncReturnType" : "CreateStorediSCSIVolumeResult"
    },
    "CreateTapeWithBarcode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTapeWithBarcodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTapeWithBarcodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTapeWithBarcodeRequest, CreateTapeWithBarcodeResult>",
      "asyncReturnType" : "CreateTapeWithBarcodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a virtual tape by using your own barcode. You write data to the virtual tape and then archive the tape. A barcode is unique and can not be reused if it has already been used on a tape . This applies to barcodes used on deleted tapes. This operation is only supported in the tape gateway type.</p> <note> <p>Cache storage must be allocated to the gateway before you can create a virtual tape. Use the <a>AddCache</a> operation to add cache storage to a gateway.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTapeWithBarcodeRequest",
        "variableName" : "createTapeWithBarcodeRequest",
        "variableType" : "CreateTapeWithBarcodeRequest",
        "documentation" : "<p>CreateTapeWithBarcodeInput</p>",
        "simpleType" : "CreateTapeWithBarcodeRequest",
        "variableSetterType" : "CreateTapeWithBarcodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTapeWithBarcode",
      "operationName" : "CreateTapeWithBarcode",
      "returnType" : {
        "returnType" : "CreateTapeWithBarcodeResult",
        "documentation" : "<p>CreateTapeOutput</p>"
      },
      "syncReturnType" : "CreateTapeWithBarcodeResult"
    },
    "CreateTapes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTapesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTapesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTapesRequest, CreateTapesResult>",
      "asyncReturnType" : "CreateTapesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates one or more virtual tapes. You write data to the virtual tapes and then archive the tapes. This operation is only supported in the tape gateway type.</p> <note> <p>Cache storage must be allocated to the gateway before you can create virtual tapes. Use the <a>AddCache</a> operation to add cache storage to a gateway. </p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTapesRequest",
        "variableName" : "createTapesRequest",
        "variableType" : "CreateTapesRequest",
        "documentation" : "<p>CreateTapesInput</p>",
        "simpleType" : "CreateTapesRequest",
        "variableSetterType" : "CreateTapesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTapes",
      "operationName" : "CreateTapes",
      "returnType" : {
        "returnType" : "CreateTapesResult",
        "documentation" : "<p>CreateTapeOutput</p>"
      },
      "syncReturnType" : "CreateTapesResult"
    },
    "DeleteBandwidthRateLimit" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBandwidthRateLimitResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBandwidthRateLimitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBandwidthRateLimitRequest, DeleteBandwidthRateLimitResult>",
      "asyncReturnType" : "DeleteBandwidthRateLimitResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the bandwidth rate limits of a gateway. You can delete either the upload and download bandwidth rate limit, or you can delete both. If you delete only one of the limits, the other limit remains unchanged. To specify which gateway to work with, use the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteBandwidthRateLimitRequest",
        "variableName" : "deleteBandwidthRateLimitRequest",
        "variableType" : "DeleteBandwidthRateLimitRequest",
        "documentation" : "<p>A JSON object containing the following fields:</p> <ul> <li> <p> <a>DeleteBandwidthRateLimitInput$BandwidthType</a> </p> </li> </ul>",
        "simpleType" : "DeleteBandwidthRateLimitRequest",
        "variableSetterType" : "DeleteBandwidthRateLimitRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBandwidthRateLimit",
      "operationName" : "DeleteBandwidthRateLimit",
      "returnType" : {
        "returnType" : "DeleteBandwidthRateLimitResult",
        "documentation" : "<p>A JSON object containing the of the gateway whose bandwidth rate information was deleted.</p>"
      },
      "syncReturnType" : "DeleteBandwidthRateLimitResult"
    },
    "DeleteChapCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteChapCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteChapCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteChapCredentialsRequest, DeleteChapCredentialsResult>",
      "asyncReturnType" : "DeleteChapCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes Challenge-Handshake Authentication Protocol (CHAP) credentials for a specified iSCSI target and initiator pair.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteChapCredentialsRequest",
        "variableName" : "deleteChapCredentialsRequest",
        "variableType" : "DeleteChapCredentialsRequest",
        "documentation" : "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>DeleteChapCredentialsInput$InitiatorName</a> </p> </li> <li> <p> <a>DeleteChapCredentialsInput$TargetARN</a> </p> </li> </ul>",
        "simpleType" : "DeleteChapCredentialsRequest",
        "variableSetterType" : "DeleteChapCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteChapCredentials",
      "operationName" : "DeleteChapCredentials",
      "returnType" : {
        "returnType" : "DeleteChapCredentialsResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "syncReturnType" : "DeleteChapCredentialsResult"
    },
    "DeleteFileShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFileShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFileShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFileShareRequest, DeleteFileShareResult>",
      "asyncReturnType" : "DeleteFileShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a file share from a file gateway. This operation is only supported in the file gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFileShareRequest",
        "variableName" : "deleteFileShareRequest",
        "variableType" : "DeleteFileShareRequest",
        "documentation" : "<p>DeleteFileShareInput</p>",
        "simpleType" : "DeleteFileShareRequest",
        "variableSetterType" : "DeleteFileShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFileShare",
      "operationName" : "DeleteFileShare",
      "returnType" : {
        "returnType" : "DeleteFileShareResult",
        "documentation" : "<p>DeleteFileShareOutput</p>"
      },
      "syncReturnType" : "DeleteFileShareResult"
    },
    "DeleteGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGatewayRequest, DeleteGatewayResult>",
      "asyncReturnType" : "DeleteGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a gateway. To specify which gateway to delete, use the Amazon Resource Name (ARN) of the gateway in your request. The operation deletes the gateway; however, it does not delete the gateway virtual machine (VM) from your host computer.</p> <p>After you delete a gateway, you cannot reactivate it. Completed snapshots of the gateway volumes are not deleted upon deleting the gateway, however, pending snapshots will not complete. After you delete a gateway, your next step is to remove it from your environment.</p> <important> <p>You no longer pay software charges after the gateway is deleted; however, your existing Amazon EBS snapshots persist and you will continue to be billed for these snapshots. You can choose to remove all remaining Amazon EBS snapshots by canceling your Amazon EC2 subscription.  If you prefer not to cancel your Amazon EC2 subscription, you can delete your snapshots using the Amazon EC2 console. For more information, see the <a href=\"http://aws.amazon.com/storagegateway\"> AWS Storage Gateway Detail Page</a>. </p> </important>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteGatewayRequest",
        "variableName" : "deleteGatewayRequest",
        "variableType" : "DeleteGatewayRequest",
        "documentation" : "<p>A JSON object containing the ID of the gateway to delete.</p>",
        "simpleType" : "DeleteGatewayRequest",
        "variableSetterType" : "DeleteGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGateway",
      "operationName" : "DeleteGateway",
      "returnType" : {
        "returnType" : "DeleteGatewayResult",
        "documentation" : "<p>A JSON object containing the ID of the deleted gateway.</p>"
      },
      "syncReturnType" : "DeleteGatewayResult"
    },
    "DeleteSnapshotSchedule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSnapshotScheduleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSnapshotScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSnapshotScheduleRequest, DeleteSnapshotScheduleResult>",
      "asyncReturnType" : "DeleteSnapshotScheduleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a snapshot of a volume.</p> <p>You can take snapshots of your gateway volumes on a scheduled or ad hoc basis. This API action enables you to delete a snapshot schedule for a volume. For more information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/WorkingWithSnapshots.html\">Working with Snapshots</a>. In the <code>DeleteSnapshotSchedule</code> request, you identify the volume by providing its Amazon Resource Name (ARN). This operation is only supported in stored and cached volume gateway types.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. in <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSnapshotScheduleRequest",
        "variableName" : "deleteSnapshotScheduleRequest",
        "variableType" : "DeleteSnapshotScheduleRequest",
        "documentation" : "",
        "simpleType" : "DeleteSnapshotScheduleRequest",
        "variableSetterType" : "DeleteSnapshotScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSnapshotSchedule",
      "operationName" : "DeleteSnapshotSchedule",
      "returnType" : {
        "returnType" : "DeleteSnapshotScheduleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSnapshotScheduleResult"
    },
    "DeleteTape" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTapeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTapeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTapeRequest, DeleteTapeResult>",
      "asyncReturnType" : "DeleteTapeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified virtual tape. This operation is only supported in the tape gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTapeRequest",
        "variableName" : "deleteTapeRequest",
        "variableType" : "DeleteTapeRequest",
        "documentation" : "<p>DeleteTapeInput</p>",
        "simpleType" : "DeleteTapeRequest",
        "variableSetterType" : "DeleteTapeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTape",
      "operationName" : "DeleteTape",
      "returnType" : {
        "returnType" : "DeleteTapeResult",
        "documentation" : "<p>DeleteTapeOutput</p>"
      },
      "syncReturnType" : "DeleteTapeResult"
    },
    "DeleteTapeArchive" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTapeArchiveResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTapeArchiveResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTapeArchiveRequest, DeleteTapeArchiveResult>",
      "asyncReturnType" : "DeleteTapeArchiveResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified virtual tape from the virtual tape shelf (VTS). This operation is only supported in the tape gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTapeArchiveRequest",
        "variableName" : "deleteTapeArchiveRequest",
        "variableType" : "DeleteTapeArchiveRequest",
        "documentation" : "<p>DeleteTapeArchiveInput</p>",
        "simpleType" : "DeleteTapeArchiveRequest",
        "variableSetterType" : "DeleteTapeArchiveRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTapeArchive",
      "operationName" : "DeleteTapeArchive",
      "returnType" : {
        "returnType" : "DeleteTapeArchiveResult",
        "documentation" : "<p>DeleteTapeArchiveOutput</p>"
      },
      "syncReturnType" : "DeleteTapeArchiveResult"
    },
    "DeleteVolume" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVolumeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVolumeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVolumeRequest, DeleteVolumeResult>",
      "asyncReturnType" : "DeleteVolumeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified storage volume that you previously created using the <a>CreateCachediSCSIVolume</a> or <a>CreateStorediSCSIVolume</a> API. This operation is only supported in the cached volume and stored volume types. For stored volume gateways, the local disk that was configured as the storage volume is not deleted. You can reuse the local disk to create another storage volume. </p> <p>Before you delete a volume, make sure there are no iSCSI connections to the volume you are deleting. You should also make sure there is no snapshot in progress. You can use the Amazon Elastic Compute Cloud (Amazon EC2) API to query snapshots on the volume you are deleting and check the snapshot status. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p> <p>In the request, you must provide the Amazon Resource Name (ARN) of the storage volume you want to delete.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteVolumeRequest",
        "variableName" : "deleteVolumeRequest",
        "variableType" : "DeleteVolumeRequest",
        "documentation" : "<p>A JSON object containing the <a>DeleteVolumeInput$VolumeARN</a> to delete.</p>",
        "simpleType" : "DeleteVolumeRequest",
        "variableSetterType" : "DeleteVolumeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVolume",
      "operationName" : "DeleteVolume",
      "returnType" : {
        "returnType" : "DeleteVolumeResult",
        "documentation" : "<p>A JSON object containing the of the storage volume that was deleted</p>"
      },
      "syncReturnType" : "DeleteVolumeResult"
    },
    "DescribeBandwidthRateLimit" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBandwidthRateLimitResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBandwidthRateLimitResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBandwidthRateLimitRequest, DescribeBandwidthRateLimitResult>",
      "asyncReturnType" : "DescribeBandwidthRateLimitResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the bandwidth rate limits of a gateway. By default, these limits are not set, which means no bandwidth rate limiting is in effect.</p> <p>This operation only returns a value for a bandwidth rate limit only if the limit is set. If no limits are set for the gateway, then this operation returns only the gateway ARN in the response body. To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeBandwidthRateLimitRequest",
        "variableName" : "describeBandwidthRateLimitRequest",
        "variableType" : "DescribeBandwidthRateLimitRequest",
        "documentation" : "<p>A JSON object containing the of the gateway.</p>",
        "simpleType" : "DescribeBandwidthRateLimitRequest",
        "variableSetterType" : "DescribeBandwidthRateLimitRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBandwidthRateLimit",
      "operationName" : "DescribeBandwidthRateLimit",
      "returnType" : {
        "returnType" : "DescribeBandwidthRateLimitResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "syncReturnType" : "DescribeBandwidthRateLimitResult"
    },
    "DescribeCache" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCacheResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCacheResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCacheRequest, DescribeCacheResult>",
      "asyncReturnType" : "DescribeCacheResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the cache of a gateway. This operation is only supported in the cached volume, tape and file gateway types.</p> <p>The response includes disk IDs that are configured as cache, and it includes the amount of cache allocated and used.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeCacheRequest",
        "variableName" : "describeCacheRequest",
        "variableType" : "DescribeCacheRequest",
        "documentation" : "",
        "simpleType" : "DescribeCacheRequest",
        "variableSetterType" : "DescribeCacheRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCache",
      "operationName" : "DescribeCache",
      "returnType" : {
        "returnType" : "DescribeCacheResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCacheResult"
    },
    "DescribeCachediSCSIVolumes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCachediSCSIVolumesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCachediSCSIVolumesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCachediSCSIVolumesRequest, DescribeCachediSCSIVolumesResult>",
      "asyncReturnType" : "DescribeCachediSCSIVolumesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a description of the gateway volumes specified in the request. This operation is only supported in the cached volume gateway types.</p> <p>The list of gateway volumes in the request must be from one gateway. In the response Amazon Storage Gateway returns volume information sorted by volume Amazon Resource Name (ARN).</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeCachediSCSIVolumesRequest",
        "variableName" : "describeCachediSCSIVolumesRequest",
        "variableType" : "DescribeCachediSCSIVolumesRequest",
        "documentation" : "",
        "simpleType" : "DescribeCachediSCSIVolumesRequest",
        "variableSetterType" : "DescribeCachediSCSIVolumesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCachediSCSIVolumes",
      "operationName" : "DescribeCachediSCSIVolumes",
      "returnType" : {
        "returnType" : "DescribeCachediSCSIVolumesResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "syncReturnType" : "DescribeCachediSCSIVolumesResult"
    },
    "DescribeChapCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeChapCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeChapCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeChapCredentialsRequest, DescribeChapCredentialsResult>",
      "asyncReturnType" : "DescribeChapCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of Challenge-Handshake Authentication Protocol (CHAP) credentials information for a specified iSCSI target, one for each target-initiator pair.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeChapCredentialsRequest",
        "variableName" : "describeChapCredentialsRequest",
        "variableType" : "DescribeChapCredentialsRequest",
        "documentation" : "<p>A JSON object containing the Amazon Resource Name (ARN) of the iSCSI volume target.</p>",
        "simpleType" : "DescribeChapCredentialsRequest",
        "variableSetterType" : "DescribeChapCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeChapCredentials",
      "operationName" : "DescribeChapCredentials",
      "returnType" : {
        "returnType" : "DescribeChapCredentialsResult",
        "documentation" : "<p>A JSON object containing a .</p>"
      },
      "syncReturnType" : "DescribeChapCredentialsResult"
    },
    "DescribeGatewayInformation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeGatewayInformationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeGatewayInformationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeGatewayInformationRequest, DescribeGatewayInformationResult>",
      "asyncReturnType" : "DescribeGatewayInformationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata about a gateway such as its name, network interfaces, configured time zone, and the state (whether the gateway is running or not). To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeGatewayInformationRequest",
        "variableName" : "describeGatewayInformationRequest",
        "variableType" : "DescribeGatewayInformationRequest",
        "documentation" : "<p>A JSON object containing the ID of the gateway.</p>",
        "simpleType" : "DescribeGatewayInformationRequest",
        "variableSetterType" : "DescribeGatewayInformationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeGatewayInformation",
      "operationName" : "DescribeGatewayInformation",
      "returnType" : {
        "returnType" : "DescribeGatewayInformationResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "syncReturnType" : "DescribeGatewayInformationResult"
    },
    "DescribeMaintenanceStartTime" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMaintenanceStartTimeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMaintenanceStartTimeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMaintenanceStartTimeRequest, DescribeMaintenanceStartTimeResult>",
      "asyncReturnType" : "DescribeMaintenanceStartTimeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns your gateway's weekly maintenance start time including the day and time of the week. Note that values are in terms of the gateway's time zone.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeMaintenanceStartTimeRequest",
        "variableName" : "describeMaintenanceStartTimeRequest",
        "variableType" : "DescribeMaintenanceStartTimeRequest",
        "documentation" : "<p>A JSON object containing the of the gateway.</p>",
        "simpleType" : "DescribeMaintenanceStartTimeRequest",
        "variableSetterType" : "DescribeMaintenanceStartTimeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMaintenanceStartTime",
      "operationName" : "DescribeMaintenanceStartTime",
      "returnType" : {
        "returnType" : "DescribeMaintenanceStartTimeResult",
        "documentation" : "<p>A JSON object containing the following fields:</p> <ul> <li> <p> <a>DescribeMaintenanceStartTimeOutput$DayOfWeek</a> </p> </li> <li> <p> <a>DescribeMaintenanceStartTimeOutput$HourOfDay</a> </p> </li> <li> <p> <a>DescribeMaintenanceStartTimeOutput$MinuteOfHour</a> </p> </li> <li> <p> <a>DescribeMaintenanceStartTimeOutput$Timezone</a> </p> </li> </ul>"
      },
      "syncReturnType" : "DescribeMaintenanceStartTimeResult"
    },
    "DescribeNFSFileShares" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNFSFileSharesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNFSFileSharesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNFSFileSharesRequest, DescribeNFSFileSharesResult>",
      "asyncReturnType" : "DescribeNFSFileSharesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a description for one or more file shares from a file gateway. This operation is only supported in the file gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeNFSFileSharesRequest",
        "variableName" : "describeNFSFileSharesRequest",
        "variableType" : "DescribeNFSFileSharesRequest",
        "documentation" : "<p>DescribeNFSFileSharesInput</p>",
        "simpleType" : "DescribeNFSFileSharesRequest",
        "variableSetterType" : "DescribeNFSFileSharesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNFSFileShares",
      "operationName" : "DescribeNFSFileShares",
      "returnType" : {
        "returnType" : "DescribeNFSFileSharesResult",
        "documentation" : "<p>DescribeNFSFileSharesOutput</p>"
      },
      "syncReturnType" : "DescribeNFSFileSharesResult"
    },
    "DescribeSnapshotSchedule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSnapshotScheduleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSnapshotScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSnapshotScheduleRequest, DescribeSnapshotScheduleResult>",
      "asyncReturnType" : "DescribeSnapshotScheduleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the snapshot schedule for the specified gateway volume. The snapshot schedule information includes intervals at which snapshots are automatically initiated on the volume. This operation is only supported in the cached volume and stored volume types.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSnapshotScheduleRequest",
        "variableName" : "describeSnapshotScheduleRequest",
        "variableType" : "DescribeSnapshotScheduleRequest",
        "documentation" : "<p>A JSON object containing the <a>DescribeSnapshotScheduleInput$VolumeARN</a> of the volume.</p>",
        "simpleType" : "DescribeSnapshotScheduleRequest",
        "variableSetterType" : "DescribeSnapshotScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSnapshotSchedule",
      "operationName" : "DescribeSnapshotSchedule",
      "returnType" : {
        "returnType" : "DescribeSnapshotScheduleResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSnapshotScheduleResult"
    },
    "DescribeStorediSCSIVolumes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStorediSCSIVolumesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStorediSCSIVolumesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStorediSCSIVolumesRequest, DescribeStorediSCSIVolumesResult>",
      "asyncReturnType" : "DescribeStorediSCSIVolumesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description of the gateway volumes specified in the request. The list of gateway volumes in the request must be from one gateway. In the response Amazon Storage Gateway returns volume information sorted by volume ARNs. This operation is only supported in stored volume gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeStorediSCSIVolumesRequest",
        "variableName" : "describeStorediSCSIVolumesRequest",
        "variableType" : "DescribeStorediSCSIVolumesRequest",
        "documentation" : "<p>A JSON object containing a list of <a>DescribeStorediSCSIVolumesInput$VolumeARNs</a>.</p>",
        "simpleType" : "DescribeStorediSCSIVolumesRequest",
        "variableSetterType" : "DescribeStorediSCSIVolumesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStorediSCSIVolumes",
      "operationName" : "DescribeStorediSCSIVolumes",
      "returnType" : {
        "returnType" : "DescribeStorediSCSIVolumesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeStorediSCSIVolumesResult"
    },
    "DescribeTapeArchives" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTapeArchivesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTapeArchivesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTapeArchivesRequest, DescribeTapeArchivesResult>",
      "asyncReturnType" : "DescribeTapeArchivesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a description of specified virtual tapes in the virtual tape shelf (VTS). This operation is only supported in the tape gateway type.</p> <p>If a specific <code>TapeARN</code> is not specified, AWS Storage Gateway returns a description of all virtual tapes found in the VTS associated with your account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTapeArchivesRequest",
        "variableName" : "describeTapeArchivesRequest",
        "variableType" : "DescribeTapeArchivesRequest",
        "documentation" : "<p>DescribeTapeArchivesInput</p>",
        "simpleType" : "DescribeTapeArchivesRequest",
        "variableSetterType" : "DescribeTapeArchivesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTapeArchives",
      "operationName" : "DescribeTapeArchives",
      "returnType" : {
        "returnType" : "DescribeTapeArchivesResult",
        "documentation" : "<p>DescribeTapeArchivesOutput</p>"
      },
      "syncReturnType" : "DescribeTapeArchivesResult"
    },
    "DescribeTapeRecoveryPoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTapeRecoveryPointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTapeRecoveryPointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTapeRecoveryPointsRequest, DescribeTapeRecoveryPointsResult>",
      "asyncReturnType" : "DescribeTapeRecoveryPointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of virtual tape recovery points that are available for the specified tape gateway.</p> <p>A recovery point is a point-in-time view of a virtual tape at which all the data on the virtual tape is consistent. If your gateway crashes, virtual tapes that have recovery points can be recovered to a new gateway. This operation is only supported in the tape gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTapeRecoveryPointsRequest",
        "variableName" : "describeTapeRecoveryPointsRequest",
        "variableType" : "DescribeTapeRecoveryPointsRequest",
        "documentation" : "<p>DescribeTapeRecoveryPointsInput</p>",
        "simpleType" : "DescribeTapeRecoveryPointsRequest",
        "variableSetterType" : "DescribeTapeRecoveryPointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTapeRecoveryPoints",
      "operationName" : "DescribeTapeRecoveryPoints",
      "returnType" : {
        "returnType" : "DescribeTapeRecoveryPointsResult",
        "documentation" : "<p>DescribeTapeRecoveryPointsOutput</p>"
      },
      "syncReturnType" : "DescribeTapeRecoveryPointsResult"
    },
    "DescribeTapes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTapesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTapesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTapesRequest, DescribeTapesResult>",
      "asyncReturnType" : "DescribeTapesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a description of the specified Amazon Resource Name (ARN) of virtual tapes. If a <code>TapeARN</code> is not specified, returns a description of all virtual tapes associated with the specified gateway. This operation is only supported in the tape gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTapesRequest",
        "variableName" : "describeTapesRequest",
        "variableType" : "DescribeTapesRequest",
        "documentation" : "<p>DescribeTapesInput</p>",
        "simpleType" : "DescribeTapesRequest",
        "variableSetterType" : "DescribeTapesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTapes",
      "operationName" : "DescribeTapes",
      "returnType" : {
        "returnType" : "DescribeTapesResult",
        "documentation" : "<p>DescribeTapesOutput</p>"
      },
      "syncReturnType" : "DescribeTapesResult"
    },
    "DescribeUploadBuffer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUploadBufferResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUploadBufferResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUploadBufferRequest, DescribeUploadBufferResult>",
      "asyncReturnType" : "DescribeUploadBufferResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the upload buffer of a gateway. This operation is supported for the stored volume, cached volume and tape gateway types.</p> <p>The response includes disk IDs that are configured as upload buffer space, and it includes the amount of upload buffer space allocated and used.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeUploadBufferRequest",
        "variableName" : "describeUploadBufferRequest",
        "variableType" : "DescribeUploadBufferRequest",
        "documentation" : "",
        "simpleType" : "DescribeUploadBufferRequest",
        "variableSetterType" : "DescribeUploadBufferRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUploadBuffer",
      "operationName" : "DescribeUploadBuffer",
      "returnType" : {
        "returnType" : "DescribeUploadBufferResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUploadBufferResult"
    },
    "DescribeVTLDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVTLDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVTLDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVTLDevicesRequest, DescribeVTLDevicesResult>",
      "asyncReturnType" : "DescribeVTLDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a description of virtual tape library (VTL) devices for the specified tape gateway. In the response, AWS Storage Gateway returns VTL device information.</p> <p>This operation is only supported in the tape gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeVTLDevicesRequest",
        "variableName" : "describeVTLDevicesRequest",
        "variableType" : "DescribeVTLDevicesRequest",
        "documentation" : "<p>DescribeVTLDevicesInput</p>",
        "simpleType" : "DescribeVTLDevicesRequest",
        "variableSetterType" : "DescribeVTLDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVTLDevices",
      "operationName" : "DescribeVTLDevices",
      "returnType" : {
        "returnType" : "DescribeVTLDevicesResult",
        "documentation" : "<p>DescribeVTLDevicesOutput</p>"
      },
      "syncReturnType" : "DescribeVTLDevicesResult"
    },
    "DescribeWorkingStorage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkingStorageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkingStorageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkingStorageRequest, DescribeWorkingStorageResult>",
      "asyncReturnType" : "DescribeWorkingStorageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the working storage of a gateway. This operation is only supported in the stored volumes gateway type. This operation is deprecated in cached volumes API version (20120630). Use DescribeUploadBuffer instead.</p> <note> <p>Working storage is also referred to as upload buffer. You can also use the DescribeUploadBuffer operation to add upload buffer to a stored volume gateway.</p> </note> <p>The response includes disk IDs that are configured as working storage, and it includes the amount of working storage allocated and used.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeWorkingStorageRequest",
        "variableName" : "describeWorkingStorageRequest",
        "variableType" : "DescribeWorkingStorageRequest",
        "documentation" : "<p>A JSON object containing the of the gateway.</p>",
        "simpleType" : "DescribeWorkingStorageRequest",
        "variableSetterType" : "DescribeWorkingStorageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkingStorage",
      "operationName" : "DescribeWorkingStorage",
      "returnType" : {
        "returnType" : "DescribeWorkingStorageResult",
        "documentation" : "<p>A JSON object containing the following fields:</p>"
      },
      "syncReturnType" : "DescribeWorkingStorageResult"
    },
    "DisableGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableGatewayRequest, DisableGatewayResult>",
      "asyncReturnType" : "DisableGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables a tape gateway when the gateway is no longer functioning. For example, if your gateway VM is damaged, you can disable the gateway so you can recover virtual tapes.</p> <p>Use this operation for a tape gateway that is not reachable or not functioning. This operation is only supported in the tape gateway type.</p> <important> <p>Once a gateway is disabled it cannot be enabled.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableGatewayRequest",
        "variableName" : "disableGatewayRequest",
        "variableType" : "DisableGatewayRequest",
        "documentation" : "<p>DisableGatewayInput</p>",
        "simpleType" : "DisableGatewayRequest",
        "variableSetterType" : "DisableGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableGateway",
      "operationName" : "DisableGateway",
      "returnType" : {
        "returnType" : "DisableGatewayResult",
        "documentation" : "<p>DisableGatewayOutput</p>"
      },
      "syncReturnType" : "DisableGatewayResult"
    },
    "ListFileShares" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFileSharesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFileSharesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFileSharesRequest, ListFileSharesResult>",
      "asyncReturnType" : "ListFileSharesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the file shares for a specific file gateway, or the list of file shares that belong to the calling user account. This operation is only supported in the file gateway type.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListFileSharesRequest",
        "variableName" : "listFileSharesRequest",
        "variableType" : "ListFileSharesRequest",
        "documentation" : "<p>ListFileShareInput</p>",
        "simpleType" : "ListFileSharesRequest",
        "variableSetterType" : "ListFileSharesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFileShares",
      "operationName" : "ListFileShares",
      "returnType" : {
        "returnType" : "ListFileSharesResult",
        "documentation" : "<p>ListFileShareOutput</p>"
      },
      "syncReturnType" : "ListFileSharesResult"
    },
    "ListGateways" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGatewaysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGatewaysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGatewaysRequest, ListGatewaysResult>",
      "asyncReturnType" : "ListGatewaysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists gateways owned by an AWS account in a region specified in the request. The returned list is ordered by gateway Amazon Resource Name (ARN).</p> <p>By default, the operation returns a maximum of 100 gateways. This operation supports pagination that allows you to optionally reduce the number of gateways returned in a response.</p> <p>If you have more gateways than are returned in a response (that is, the response returns only a truncated list of your gateways), the response contains a marker that you can specify in your next request to fetch the next page of gateways.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidGatewayRequestException",
        "documentation" : "<p>An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error has occurred during the request. For more information, see the error and message fields.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListGatewaysRequest",
        "variableName" : "listGatewaysRequest",
        "variableType" : "ListGatewaysRequest",
        "documentation" : "<p>A JSON object containing zero or more of the following fields:</p> <ul> <li> <p> <a>ListGatewaysInput$Limit</a> </p> </li> <li> <p> <a>ListGatewaysInput$Marker</a> </p> </li> </ul>",
        "simpleType" : "ListGatewaysRequest",
        "variableSetterType" : "ListGatewaysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGateways",
      "operationName" : "ListGateways",
      "returnType" : {
        "returnType" : "ListGatewaysResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGatewaysResult"
    },
    "ListLocalDisks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLocalDisksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLocalDisksResult>",
[...]
