{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "GetShardIteratorInput" : [ "ShardIteratorType" ],
      "KeySchemaElement" : [ "KeyType" ],
      "Record" : [ "eventName" ],
      "StreamDescription" : [ "StreamStatus", "StreamViewType" ],
      "StreamRecord" : [ "StreamViewType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : "AmazonDynamoDBException",
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "AttributeValue" : {
        "exclude" : null,
        "excludeShape" : true,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : null
      },
      "InternalServerError" : {
        "exclude" : null,
        "excludeShape" : true,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : null
      },
      "KeySchemaElement" : {
        "exclude" : null,
        "excludeShape" : true,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : null
      },
      "KeyType" : {
        "exclude" : null,
        "excludeShape" : true,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : null
      },
      "LimitExceededException" : {
        "exclude" : null,
        "excludeShape" : true,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : null
      },
      "ResourceNotFoundException" : {
        "exclude" : null,
        "excludeShape" : true,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : null
      },
      "StreamViewType" : {
        "exclude" : null,
        "excludeShape" : true,
        "inject" : null,
        "injectEnumValues" : null,
        "modify" : null
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2012-08-10",
    "asyncClient" : "AmazonDynamoDBStreamsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonDynamoDBStreamsAsyncClientBuilder",
    "asyncInterface" : "AmazonDynamoDBStreamsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonDynamoDBStreamsModuleInjector",
    "defaultEndpoint" : "https://streams.dynamodb.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "streams.dynamodb.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon DynamoDB</fullname> <p>Amazon DynamoDB Streams provides API actions for accessing streams and processing stream records. To learn more about application development with Streams, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.html\">Capturing Table Activity with DynamoDB Streams</a> in the Amazon DynamoDB Developer Guide.</p>",
    "endpointPrefix" : "streams.dynamodb",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.dynamodbv2",
    "packagePath" : "com/amazonaws/services/dynamodbv2",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon DynamoDB Streams",
    "serviceId" : "DynamoDB Streams",
    "serviceName" : "Amazon DynamoDB Streams",
    "signingName" : "dynamodb",
    "smokeTestsPackageName" : "com.amazonaws.services.dynamodbv2.smoketests",
    "syncClient" : "AmazonDynamoDBStreamsClient",
    "syncClientBuilderClassName" : "AmazonDynamoDBStreamsClientBuilder",
    "syncInterface" : "AmazonDynamoDBStreams",
    "uid" : "streams-dynamodb-2012-08-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DescribeStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeStreamRequest, DescribeStreamResult>",
      "asyncReturnType" : "DescribeStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a stream, including the current status of the stream, its Amazon Resource Name (ARN), the composition of its shards, and its corresponding DynamoDB table.</p> <note> <p>You can call <code>DescribeStream</code> at a maximum rate of 10 times per second.</p> </note> <p>Each shard in the stream has a <code>SequenceNumberRange</code> associated with it. If the <code>SequenceNumberRange</code> has a <code>StartingSequenceNumber</code> but no <code>EndingSequenceNumber</code>, then the shard is still open (able to receive more stream records). If both <code>StartingSequenceNumber</code> and <code>EndingSequenceNumber</code> are present, then that shard is closed and can no longer receive more data.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent stream.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeStreamRequest",
        "variableName" : "describeStreamRequest",
        "variableType" : "DescribeStreamRequest",
        "documentation" : "<p>Represents the input of a <code>DescribeStream</code> operation.</p>",
        "simpleType" : "DescribeStreamRequest",
        "variableSetterType" : "DescribeStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeStream",
      "operationName" : "DescribeStream",
      "returnType" : {
        "returnType" : "DescribeStreamResult",
        "documentation" : "<p>Represents the output of a <code>DescribeStream</code> operation.</p>"
      },
      "syncReturnType" : "DescribeStreamResult"
    },
    "GetRecords" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecordsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecordsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecordsRequest, GetRecordsResult>",
      "asyncReturnType" : "GetRecordsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the stream records from a given shard.</p> <p>Specify a shard iterator using the <code>ShardIterator</code> parameter. The shard iterator specifies the position in the shard from which you want to start reading stream records sequentially. If there are no stream records available in the portion of the shard that the iterator points to, <code>GetRecords</code> returns an empty list. Note that it might take multiple calls to get to a portion of the shard that contains stream records.</p> <note> <p> <code>GetRecords</code> can retrieve a maximum of 1 MB of data or 1000 stream records, whichever comes first.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent stream.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Your request rate is too high. The AWS SDKs for DynamoDB automatically retry requests that receive this exception. Your request is eventually successful, unless your retry queue is too large to finish. Reduce the frequency of requests and use exponential backoff. For more information, go to <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential Backoff</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredIteratorException",
        "documentation" : "<p>The shard iterator has expired and can no longer be used to retrieve stream records. A shard iterator expires 15 minutes after it is retrieved using the <code>GetShardIterator</code> action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TrimmedDataAccessException",
        "documentation" : "<p>The operation attempted to read past the oldest stream record in a shard.</p> <p>In DynamoDB Streams, there is a 24 hour limit on data retention. Stream records whose age exceeds this limit are subject to removal (trimming) from the stream. You might receive a TrimmedDataAccessException if:</p> <ul> <li><p>You request a shard iterator with a sequence number older than the trim point (24 hours).</p> </li> <li><p>You obtain a shard iterator, but before you use the iterator in a <code>GetRecords</code> request, a stream record in the shard exceeds the 24 hour period and is trimmed. This causes the iterator to access a record that no longer exists.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecordsRequest",
        "variableName" : "getRecordsRequest",
        "variableType" : "GetRecordsRequest",
        "documentation" : "<p>Represents the input of a <code>GetRecords</code> operation.</p>",
        "simpleType" : "GetRecordsRequest",
        "variableSetterType" : "GetRecordsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecords",
      "operationName" : "GetRecords",
      "returnType" : {
        "returnType" : "GetRecordsResult",
        "documentation" : "<p>Represents the output of a <code>GetRecords</code> operation.</p>"
      },
      "syncReturnType" : "GetRecordsResult"
    },
    "GetShardIterator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetShardIteratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetShardIteratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetShardIteratorRequest, GetShardIteratorResult>",
      "asyncReturnType" : "GetShardIteratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a shard iterator. A shard iterator provides information about how to retrieve the stream records from within a shard. Use the shard iterator in a subsequent <code>GetRecords</code> request to read the stream records from the shard.</p> <note> <p>A shard iterator expires 15 minutes after it is returned to the requester.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent stream.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TrimmedDataAccessException",
        "documentation" : "<p>The operation attempted to read past the oldest stream record in a shard.</p> <p>In DynamoDB Streams, there is a 24 hour limit on data retention. Stream records whose age exceeds this limit are subject to removal (trimming) from the stream. You might receive a TrimmedDataAccessException if:</p> <ul> <li><p>You request a shard iterator with a sequence number older than the trim point (24 hours).</p> </li> <li><p>You obtain a shard iterator, but before you use the iterator in a <code>GetRecords</code> request, a stream record in the shard exceeds the 24 hour period and is trimmed. This causes the iterator to access a record that no longer exists.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetShardIteratorRequest",
        "variableName" : "getShardIteratorRequest",
        "variableType" : "GetShardIteratorRequest",
        "documentation" : "<p>Represents the input of a <code>GetShardIterator</code> operation.</p>",
        "simpleType" : "GetShardIteratorRequest",
        "variableSetterType" : "GetShardIteratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getShardIterator",
      "operationName" : "GetShardIterator",
      "returnType" : {
        "returnType" : "GetShardIteratorResult",
        "documentation" : "<p>Represents the output of a <code>GetShardIterator</code> operation.</p>"
      },
      "syncReturnType" : "GetShardIteratorResult"
    },
    "ListStreams" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStreamsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStreamsRequest, ListStreamsResult>",
      "asyncReturnType" : "ListStreamsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of stream ARNs associated with the current account and endpoint. If the <code>TableName</code> parameter is present, then <code>ListStreams</code> will return only the streams ARNs for that table.</p> <note> <p>You can call <code>ListStreams</code> at a maximum rate of 5 times per second.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent stream.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An error occurred on the server side.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListStreamsRequest",
        "variableName" : "listStreamsRequest",
        "variableType" : "ListStreamsRequest",
        "documentation" : "<p>Represents the input of a <code>ListStreams</code> operation.</p>",
        "simpleType" : "ListStreamsRequest",
        "variableSetterType" : "ListStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStreams",
      "operationName" : "ListStreams",
      "returnType" : {
        "returnType" : "ListStreamsResult",
        "documentation" : "<p>Represents the output of a <code>ListStreams</code> operation.</p>"
      },
      "syncReturnType" : "ListStreamsResult"
    }
  },
  "shapes" : {
    "AttributeValue" : {
      "c2jName" : "AttributeValue",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : true,
        "skipGeneratingModelClass" : true,
        "skipGeneratingUnmarshaller" : true
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the data for an attribute. You can set one, and only one, of the elements.</p> <p>Each attribute in an item is a name-value pair. An attribute can be single-valued or multi-valued set. For example, a book item can have title and authors attributes. Each book has one title but can have many authors. The multi-valued attribute is a set; duplicate values are not allowed.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "S",
        "c2jShape" : "StringAttributeValue",
        "deprecated" : false,
        "documentation" : "<p>A String data type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A String data type.</p>\n@param s A String data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS",
        "getterDocumentation" : "/**<p>A String data type.</p>\n@return A String data type.*/",
        "getterMethodName" : "getS",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "S",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "S",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A String data type.</p>\n@param s A String data type.*/",
        "setterMethodName" : "setS",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A String data type.</p>\n@param s A String data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s",
          "variableType" : "String",
          "documentation" : "<p>A String data type.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "N",
        "c2jShape" : "NumberAttributeValue",
        "deprecated" : false,
        "documentation" : "<p>A Number data type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A Number data type.</p>\n@param n A Number data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withN",
        "getterDocumentation" : "/**<p>A Number data type.</p>\n@return A Number data type.*/",
        "getterMethodName" : "getN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "N",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "N",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "N",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A Number data type.</p>\n@param n A Number data type.*/",
        "setterMethodName" : "setN",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "n",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A Number data type.</p>\n@param n A Number data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "n",
          "variableType" : "String",
          "documentation" : "<p>A Number data type.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "B",
        "c2jShape" : "BinaryAttributeValue",
        "deprecated" : false,
        "documentation" : "<p>A Binary data type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A Binary data type.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param b A Binary data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withB",
        "getterDocumentation" : "/**<p>A Binary data type.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return A Binary data type.*/",
        "getterMethodName" : "getB",
        "getterModel" : {
          "returnType" : "java.nio.ByteBuffer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "B",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "B",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.nio.ByteBuffer",
        "marshallingType" : "BYTE_BUFFER",
        "name" : "B",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A Binary data type.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param b A Binary data type.*/",
        "setterMethodName" : "setB",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "b",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A Binary data type.</p>\n@param b A Binary data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "b",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "<p>A Binary data type.</p>",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SS",
        "c2jShape" : "StringSetAttributeValue",
        "deprecated" : false,
        "documentation" : "<p>A String Set data type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A String Set data type.</p>\n@param sS A String Set data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSS",
        "getterDocumentation" : "/**<p>A String Set data type.</p>\n@return A String Set data type.*/",
        "getterMethodName" : "getSS",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SS",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SS",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "StringAttributeValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "SS",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A String Set data type.</p>\n@param sS A String Set data type.*/",
        "setterMethodName" : "setSS",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "sS",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A String Set data type.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSS(java.util.Collection)} or {@link #withSS(java.util.Collection)} if you want to override the existing values.</p>\n@param sS A String Set data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "sS",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A String Set data type.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NS",
        "c2jShape" : "NumberSetAttributeValue",
        "deprecated" : false,
        "documentation" : "<p>A Number Set data type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A Number Set data type.</p>\n@param nS A Number Set data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNS",
        "getterDocumentation" : "/**<p>A Number Set data type.</p>\n@return A Number Set data type.*/",
        "getterMethodName" : "getNS",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NS",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NS",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NumberAttributeValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "NS",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A Number Set data type.</p>\n@param nS A Number Set data type.*/",
        "setterMethodName" : "setNS",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "nS",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A Number Set data type.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNS(java.util.Collection)} or {@link #withNS(java.util.Collection)} if you want to override the existing values.</p>\n@param nS A Number Set data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "nS",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A Number Set data type.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BS",
        "c2jShape" : "BinarySetAttributeValue",
        "deprecated" : false,
        "documentation" : "<p>A Binary Set data type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A Binary Set data type.</p>\n@param bS A Binary Set data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBS",
        "getterDocumentation" : "/**<p>A Binary Set data type.</p>\n@return A Binary Set data type.*/",
        "getterMethodName" : "getBS",
        "getterModel" : {
          "returnType" : "java.util.List<java.nio.ByteBuffer>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BS",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BS",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BinaryAttributeValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "java.nio.ByteBuffer",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "java.nio.ByteBuffer",
            "marshallingType" : "BYTE_BUFFER",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "java.nio.ByteBuffer",
              "variableName" : "member",
              "variableType" : "java.nio.ByteBuffer",
              "documentation" : "",
              "simpleType" : "ByteBuffer",
              "variableSetterType" : "java.nio.ByteBuffer"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "java.nio.ByteBuffer",
              "variableName" : "member",
              "variableType" : "java.nio.ByteBuffer",
              "documentation" : "",
              "simpleType" : "ByteBuffer",
              "variableSetterType" : "java.nio.ByteBuffer"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "java.nio.ByteBuffer",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "ByteBuffer",
          "templateImplType" : "java.util.ArrayList<java.nio.ByteBuffer>",
          "templateType" : "java.util.List<java.nio.ByteBuffer>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "BS",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A Binary Set data type.</p>\n@param bS A Binary Set data type.*/",
        "setterMethodName" : "setBS",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<java.nio.ByteBuffer>",
          "variableName" : "bS",
          "variableType" : "java.util.List<java.nio.ByteBuffer>",
          "documentation" : "",
          "simpleType" : "ByteBuffer>",
          "variableSetterType" : "java.util.Collection<java.nio.ByteBuffer>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A Binary Set data type.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBS(java.util.Collection)} or {@link #withBS(java.util.Collection)} if you want to override the existing values.</p>\n@param bS A Binary Set data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<java.nio.ByteBuffer>",
          "variableName" : "bS",
          "variableType" : "java.util.List<java.nio.ByteBuffer>",
          "documentation" : "<p>A Binary Set data type.</p>",
          "simpleType" : "ByteBuffer>",
          "variableSetterType" : "java.util.Collection<java.nio.ByteBuffer>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "M",
        "c2jShape" : "MapAttributeValue",
        "deprecated" : false,
        "documentation" : "<p>A Map data type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A Map data type.</p>\n@param m A Map data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withM",
        "getterDocumentation" : "/**<p>A Map data type.</p>\n@return A Map data type.*/",
        "getterMethodName" : "getM",
        "getterModel" : {
          "returnType" : "java.util.Map<String,AttributeValue>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "M",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "M",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "AttributeValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "AttributeValue",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "AttributeValue",
              "variableName" : "value",
              "variableType" : "AttributeValue",
              "documentation" : "",
              "simpleType" : "AttributeValue",
              "variableSetterType" : "AttributeValue"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "AttributeValue",
              "variableName" : "value",
              "variableType" : "AttributeValue",
              "documentation" : "",
              "simpleType" : "AttributeValue",
              "variableSetterType" : "AttributeValue"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "AttributeValue",
          "entryType" : "Map.Entry<String, AttributeValue>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,AttributeValue>",
          "templateType" : "java.util.Map<String,AttributeValue>",
          "valueList" : false,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "M",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A Map data type.</p>\n@param m A Map data type.*/",
        "setterMethodName" : "setM",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,AttributeValue>",
          "variableName" : "m",
          "variableType" : "java.util.Map<String,AttributeValue>",
          "documentation" : "",
          "simpleType" : "Map<String,AttributeValue>",
          "variableSetterType" : "java.util.Map<String,AttributeValue>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A Map data type.</p>\n@param m A Map data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,AttributeValue>",
          "variableName" : "m",
          "variableType" : "java.util.Map<String,AttributeValue>",
          "documentation" : "<p>A Map data type.</p>",
          "simpleType" : "Map<String,AttributeValue>",
          "variableSetterType" : "java.util.Map<String,AttributeValue>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "L",
        "c2jShape" : "ListAttributeValue",
        "deprecated" : false,
        "documentation" : "<p>A List data type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A List data type.</p>\n@param l A List data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withL",
        "getterDocumentation" : "/**<p>A List data type.</p>\n@return A List data type.*/",
        "getterMethodName" : "getL",
        "getterModel" : {
          "returnType" : "java.util.List<AttributeValue>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "L",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "L",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AttributeValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "AttributeValue",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "AttributeValue",
              "variableName" : "member",
              "variableType" : "AttributeValue",
              "documentation" : "",
              "simpleType" : "AttributeValue",
              "variableSetterType" : "AttributeValue"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "AttributeValue",
              "variableName" : "member",
              "variableType" : "AttributeValue",
              "documentation" : "",
              "simpleType" : "AttributeValue",
              "variableSetterType" : "AttributeValue"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "AttributeValue",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "AttributeValue",
          "templateImplType" : "java.util.ArrayList<AttributeValue>",
          "templateType" : "java.util.List<AttributeValue>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "L",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A List data type.</p>\n@param l A List data type.*/",
        "setterMethodName" : "setL",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<AttributeValue>",
          "variableName" : "l",
          "variableType" : "java.util.List<AttributeValue>",
          "documentation" : "",
          "simpleType" : "List<AttributeValue>",
          "variableSetterType" : "java.util.Collection<AttributeValue>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A List data type.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setL(java.util.Collection)} or {@link #withL(java.util.Collection)} if you want to override the existing values.</p>\n@param l A List data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<AttributeValue>",
          "variableName" : "l",
          "variableType" : "java.util.List<AttributeValue>",
          "documentation" : "<p>A List data type.</p>",
          "simpleType" : "List<AttributeValue>",
          "variableSetterType" : "java.util.Collection<AttributeValue>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NULL",
        "c2jShape" : "NullAttributeValue",
        "deprecated" : false,
        "documentation" : "<p>A Null data type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A Null data type.</p>\n@param nULLValue A Null data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNULL",
        "getterDocumentation" : "/**<p>A Null data type.</p>\n@return A Null data type.*/",
        "getterMethodName" : "getNULL",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NULL",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NULL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "NULL",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A Null data type.</p>\n@param nULLValue A Null data type.*/",
        "setterMethodName" : "setNULL",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "nULLValue",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A Null data type.</p>\n@param nULLValue A Null data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "nULLValue",
          "variableType" : "Boolean",
          "documentation" : "<p>A Null data type.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BOOL",
        "c2jShape" : "BooleanAttributeValue",
        "deprecated" : false,
        "documentation" : "<p>A Boolean data type.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A Boolean data type.</p>\n@param bOOL A Boolean data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBOOL",
        "getterDocumentation" : "/**<p>A Boolean data type.</p>\n@return A Boolean data type.*/",
        "getterMethodName" : "getBOOL",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BOOL",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BOOL",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "BOOL",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A Boolean data type.</p>\n@param bOOL A Boolean data type.*/",
        "setterMethodName" : "setBOOL",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "bOOL",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A Boolean data type.</p>\n@param bOOL A Boolean data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "bOOL",
          "variableType" : "Boolean",
          "documentation" : "<p>A Boolean data type.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "B" : {
          "c2jName" : "B",
          "c2jShape" : "BinaryAttributeValue",
          "deprecated" : false,
          "documentation" : "<p>A Binary data type.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A Binary data type.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param b A Binary data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withB",
          "getterDocumentation" : "/**<p>A Binary data type.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return A Binary data type.*/",
          "getterMethodName" : "getB",
          "getterModel" : {
            "returnType" : "java.nio.ByteBuffer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "B",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "B",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.nio.ByteBuffer",
          "marshallingType" : "BYTE_BUFFER",
          "name" : "B",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A Binary data type.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param b A Binary data type.*/",
          "setterMethodName" : "setB",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "b",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A Binary data type.</p>\n@param b A Binary data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "b",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "<p>A Binary data type.</p>",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "xmlNameSpaceUri" : null
        },
        "BOOL" : {
          "c2jName" : "BOOL",
          "c2jShape" : "BooleanAttributeValue",
          "deprecated" : false,
          "documentation" : "<p>A Boolean data type.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A Boolean data type.</p>\n@param bOOL A Boolean data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBOOL",
          "getterDocumentation" : "/**<p>A Boolean data type.</p>\n@return A Boolean data type.*/",
          "getterMethodName" : "getBOOL",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BOOL",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BOOL",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "BOOL",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A Boolean data type.</p>\n@param bOOL A Boolean data type.*/",
          "setterMethodName" : "setBOOL",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "bOOL",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A Boolean data type.</p>\n@param bOOL A Boolean data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "bOOL",
            "variableType" : "Boolean",
            "documentation" : "<p>A Boolean data type.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "BS" : {
          "c2jName" : "BS",
          "c2jShape" : "BinarySetAttributeValue",
          "deprecated" : false,
          "documentation" : "<p>A Binary Set data type.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A Binary Set data type.</p>\n@param bS A Binary Set data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBS",
          "getterDocumentation" : "/**<p>A Binary Set data type.</p>\n@return A Binary Set data type.*/",
          "getterMethodName" : "getBS",
          "getterModel" : {
            "returnType" : "java.util.List<java.nio.ByteBuffer>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BS",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BS",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BinaryAttributeValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "java.nio.ByteBuffer",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "java.nio.ByteBuffer",
              "marshallingType" : "BYTE_BUFFER",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**<p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "java.nio.ByteBuffer",
                "variableName" : "member",
                "variableType" : "java.nio.ByteBuffer",
                "documentation" : "",
                "simpleType" : "ByteBuffer",
                "variableSetterType" : "java.nio.ByteBuffer"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "java.nio.ByteBuffer",
                "variableName" : "member",
                "variableType" : "java.nio.ByteBuffer",
                "documentation" : "",
                "simpleType" : "ByteBuffer",
                "variableSetterType" : "java.nio.ByteBuffer"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "java.nio.ByteBuffer",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "ByteBuffer",
            "templateImplType" : "java.util.ArrayList<java.nio.ByteBuffer>",
            "templateType" : "java.util.List<java.nio.ByteBuffer>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "BS",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A Binary Set data type.</p>\n@param bS A Binary Set data type.*/",
          "setterMethodName" : "setBS",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<java.nio.ByteBuffer>",
            "variableName" : "bS",
            "variableType" : "java.util.List<java.nio.ByteBuffer>",
            "documentation" : "",
            "simpleType" : "ByteBuffer>",
            "variableSetterType" : "java.util.Collection<java.nio.ByteBuffer>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A Binary Set data type.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setBS(java.util.Collection)} or {@link #withBS(java.util.Collection)} if you want to override the existing values.</p>\n@param bS A Binary Set data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<java.nio.ByteBuffer>",
            "variableName" : "bS",
            "variableType" : "java.util.List<java.nio.ByteBuffer>",
            "documentation" : "<p>A Binary Set data type.</p>",
            "simpleType" : "ByteBuffer>",
            "variableSetterType" : "java.util.Collection<java.nio.ByteBuffer>"
          },
          "xmlNameSpaceUri" : null
        },
        "L" : {
          "c2jName" : "L",
          "c2jShape" : "ListAttributeValue",
          "deprecated" : false,
          "documentation" : "<p>A List data type.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A List data type.</p>\n@param l A List data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withL",
          "getterDocumentation" : "/**<p>A List data type.</p>\n@return A List data type.*/",
          "getterMethodName" : "getL",
          "getterModel" : {
            "returnType" : "java.util.List<AttributeValue>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "L",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "L",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "AttributeValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "AttributeValue",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "AttributeValue",
                "variableName" : "member",
                "variableType" : "AttributeValue",
                "documentation" : "",
                "simpleType" : "AttributeValue",
                "variableSetterType" : "AttributeValue"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "AttributeValue",
                "variableName" : "member",
                "variableType" : "AttributeValue",
                "documentation" : "",
                "simpleType" : "AttributeValue",
                "variableSetterType" : "AttributeValue"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "AttributeValue",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "AttributeValue",
            "templateImplType" : "java.util.ArrayList<AttributeValue>",
            "templateType" : "java.util.List<AttributeValue>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "L",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A List data type.</p>\n@param l A List data type.*/",
          "setterMethodName" : "setL",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<AttributeValue>",
            "variableName" : "l",
            "variableType" : "java.util.List<AttributeValue>",
            "documentation" : "",
            "simpleType" : "List<AttributeValue>",
            "variableSetterType" : "java.util.Collection<AttributeValue>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A List data type.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setL(java.util.Collection)} or {@link #withL(java.util.Collection)} if you want to override the existing values.</p>\n@param l A List data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<AttributeValue>",
            "variableName" : "l",
            "variableType" : "java.util.List<AttributeValue>",
            "documentation" : "<p>A List data type.</p>",
            "simpleType" : "List<AttributeValue>",
            "variableSetterType" : "java.util.Collection<AttributeValue>"
          },
          "xmlNameSpaceUri" : null
        },
        "M" : {
          "c2jName" : "M",
          "c2jShape" : "MapAttributeValue",
          "deprecated" : false,
          "documentation" : "<p>A Map data type.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A Map data type.</p>\n@param m A Map data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withM",
          "getterDocumentation" : "/**<p>A Map data type.</p>\n@return A Map data type.*/",
          "getterMethodName" : "getM",
          "getterModel" : {
            "returnType" : "java.util.Map<String,AttributeValue>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "M",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "M",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "AttributeValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "AttributeValue",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "AttributeValue",
                "variableName" : "value",
                "variableType" : "AttributeValue",
                "documentation" : "",
                "simpleType" : "AttributeValue",
                "variableSetterType" : "AttributeValue"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "AttributeValue",
                "variableName" : "value",
                "variableType" : "AttributeValue",
                "documentation" : "",
                "simpleType" : "AttributeValue",
                "variableSetterType" : "AttributeValue"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "AttributeValue",
            "entryType" : "Map.Entry<String, AttributeValue>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,AttributeValue>",
            "templateType" : "java.util.Map<String,AttributeValue>",
            "valueList" : false,
            "valueSimple" : false
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "M",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A Map data type.</p>\n@param m A Map data type.*/",
          "setterMethodName" : "setM",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,AttributeValue>",
            "variableName" : "m",
            "variableType" : "java.util.Map<String,AttributeValue>",
            "documentation" : "",
            "simpleType" : "Map<String,AttributeValue>",
            "variableSetterType" : "java.util.Map<String,AttributeValue>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A Map data type.</p>\n@param m A Map data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,AttributeValue>",
            "variableName" : "m",
            "variableType" : "java.util.Map<String,AttributeValue>",
            "documentation" : "<p>A Map data type.</p>",
            "simpleType" : "Map<String,AttributeValue>",
            "variableSetterType" : "java.util.Map<String,AttributeValue>"
          },
          "xmlNameSpaceUri" : null
        },
        "N" : {
          "c2jName" : "N",
          "c2jShape" : "NumberAttributeValue",
          "deprecated" : false,
          "documentation" : "<p>A Number data type.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A Number data type.</p>\n@param n A Number data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withN",
          "getterDocumentation" : "/**<p>A Number data type.</p>\n@return A Number data type.*/",
          "getterMethodName" : "getN",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "N",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "N",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "N",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A Number data type.</p>\n@param n A Number data type.*/",
          "setterMethodName" : "setN",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "n",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A Number data type.</p>\n@param n A Number data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "n",
            "variableType" : "String",
            "documentation" : "<p>A Number data type.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "NS" : {
          "c2jName" : "NS",
          "c2jShape" : "NumberSetAttributeValue",
          "deprecated" : false,
          "documentation" : "<p>A Number Set data type.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A Number Set data type.</p>\n@param nS A Number Set data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNS",
          "getterDocumentation" : "/**<p>A Number Set data type.</p>\n@return A Number Set data type.*/",
          "getterMethodName" : "getNS",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "NS",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NS",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "NumberAttributeValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
[...]
