{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2024-01-01",
    "asyncClient" : "AWSSupplyChainAsyncClient",
    "asyncClientBuilderClassName" : "AWSSupplyChainAsyncClientBuilder",
    "asyncInterface" : "AWSSupplyChainAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSSupplyChainModuleInjector",
    "defaultEndpoint" : "scn.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "scn.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> AWS Supply Chain is a cloud-based application that works with your enterprise resource planning (ERP) and supply chain management systems. Using AWS Supply Chain, you can connect and extract your inventory, supply, and demand related data from existing ERP or supply chain systems into a single data model. </p> <p>The AWS Supply Chain API supports configuration data import for Supply Planning.</p> <p> All AWS Supply chain API operations are Amazon-authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of AWS Identity and Access Management users and roles to help facilitate access, trust, and permission policies. </p>",
    "endpointPrefix" : "scn",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.supplychain",
    "packagePath" : "com/amazonaws/services/supplychain",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Supply Chain",
    "serviceId" : "SupplyChain",
    "serviceName" : "AWS Supply Chain",
    "signingName" : "scn",
    "smokeTestsPackageName" : "com.amazonaws.services.supplychain.smoketests",
    "syncClient" : "AWSSupplyChainClient",
    "syncClientBuilderClassName" : "AWSSupplyChainClientBuilder",
    "syncInterface" : "AWSSupplyChain",
    "uid" : "supplychain-2024-01-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBillOfMaterialsImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBillOfMaterialsImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBillOfMaterialsImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBillOfMaterialsImportJobRequest, CreateBillOfMaterialsImportJobResult>",
      "asyncReturnType" : "CreateBillOfMaterialsImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>CreateBillOfMaterialsImportJob creates an import job for the Product Bill Of Materials (BOM) entity. For information on the product_bom entity, see the AWS Supply Chain User Guide.</p> <p>The CSV file must be located in an Amazon S3 location accessible to AWS Supply Chain. It is recommended to use the same Amazon S3 bucket created during your AWS Supply Chain instance creation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have the required privileges to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input does not satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBillOfMaterialsImportJobRequest",
        "variableName" : "createBillOfMaterialsImportJobRequest",
        "variableType" : "CreateBillOfMaterialsImportJobRequest",
        "documentation" : "<p>The request parameters for CreateBillOfMaterialsImportJob.</p>",
        "simpleType" : "CreateBillOfMaterialsImportJobRequest",
        "variableSetterType" : "CreateBillOfMaterialsImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBillOfMaterialsImportJob",
      "operationName" : "CreateBillOfMaterialsImportJob",
      "returnType" : {
        "returnType" : "CreateBillOfMaterialsImportJobResult",
        "documentation" : "<p>The response parameters of CreateBillOfMaterialsImportJob.</p>"
      },
      "syncReturnType" : "CreateBillOfMaterialsImportJobResult"
    },
    "GetBillOfMaterialsImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBillOfMaterialsImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBillOfMaterialsImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBillOfMaterialsImportJobRequest, GetBillOfMaterialsImportJobResult>",
      "asyncReturnType" : "GetBillOfMaterialsImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get status and details of a BillOfMaterialsImportJob.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have the required privileges to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input does not satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBillOfMaterialsImportJobRequest",
        "variableName" : "getBillOfMaterialsImportJobRequest",
        "variableType" : "GetBillOfMaterialsImportJobRequest",
        "documentation" : "<p>The request parameters for GetBillOfMaterialsImportJob.</p>",
        "simpleType" : "GetBillOfMaterialsImportJobRequest",
        "variableSetterType" : "GetBillOfMaterialsImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBillOfMaterialsImportJob",
      "operationName" : "GetBillOfMaterialsImportJob",
      "returnType" : {
        "returnType" : "GetBillOfMaterialsImportJobResult",
        "documentation" : "<p>The response parameters for GetBillOfMaterialsImportJob.</p>"
      },
      "syncReturnType" : "GetBillOfMaterialsImportJobResult"
    },
    "SendDataIntegrationEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendDataIntegrationEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendDataIntegrationEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendDataIntegrationEventRequest, SendDataIntegrationEventResult>",
      "asyncReturnType" : "SendDataIntegrationEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Send transactional data events with real-time data for analysis or monitoring.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have the required privileges to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input does not satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendDataIntegrationEventRequest",
        "variableName" : "sendDataIntegrationEventRequest",
        "variableType" : "SendDataIntegrationEventRequest",
        "documentation" : "<p>The request parameters for SendDataIntegrationEvent.</p>",
        "simpleType" : "SendDataIntegrationEventRequest",
        "variableSetterType" : "SendDataIntegrationEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendDataIntegrationEvent",
      "operationName" : "SendDataIntegrationEvent",
      "returnType" : {
        "returnType" : "SendDataIntegrationEventResult",
        "documentation" : "<p>The response parameters for SendDataIntegrationEvent.</p>"
      },
      "syncReturnType" : "SendDataIntegrationEventResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have the required privileges to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.supplychain.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.supplychain.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "BillOfMaterialsImportJob" : {
      "c2jName" : "BillOfMaterialsImportJob",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The BillOfMaterialsImportJob details.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.supplychain.model.BillOfMaterialsImportJob",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "instanceId",
        "c2jShape" : "UUID",
        "deprecated" : false,
        "documentation" : "<p>The BillOfMaterialsImportJob instanceId.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob instanceId.</p>\n@param instanceId The BillOfMaterialsImportJob instanceId.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceId",
        "getterDocumentation" : "/**<p>The BillOfMaterialsImportJob instanceId.</p>\n@return The BillOfMaterialsImportJob instanceId.*/",
        "getterMethodName" : "getInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "instanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "instanceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The BillOfMaterialsImportJob instanceId.</p>\n@param instanceId The BillOfMaterialsImportJob instanceId.*/",
        "setterMethodName" : "setInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob instanceId.</p>\n@param instanceId The BillOfMaterialsImportJob instanceId.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "<p>The BillOfMaterialsImportJob instanceId.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "jobId",
        "c2jShape" : "UUID",
        "deprecated" : false,
        "documentation" : "<p>The BillOfMaterialsImportJob jobId.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob jobId.</p>\n@param jobId The BillOfMaterialsImportJob jobId.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobId",
        "getterDocumentation" : "/**<p>The BillOfMaterialsImportJob jobId.</p>\n@return The BillOfMaterialsImportJob jobId.*/",
        "getterMethodName" : "getJobId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "jobId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The BillOfMaterialsImportJob jobId.</p>\n@param jobId The BillOfMaterialsImportJob jobId.*/",
        "setterMethodName" : "setJobId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob jobId.</p>\n@param jobId The BillOfMaterialsImportJob jobId.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The BillOfMaterialsImportJob jobId.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "ConfigurationJobStatus",
        "deprecated" : false,
        "documentation" : "<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ConfigurationJobStatus",
        "fluentSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>\n@param status The BillOfMaterialsImportJob ConfigurationJobStatus.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ConfigurationJobStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>\n@return The BillOfMaterialsImportJob ConfigurationJobStatus.\n@see ConfigurationJobStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>\n@param status The BillOfMaterialsImportJob ConfigurationJobStatus.\n@see ConfigurationJobStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>\n@param status The BillOfMaterialsImportJob ConfigurationJobStatus.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ConfigurationJobStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "s3uri",
        "c2jShape" : "ConfigurationS3Uri",
        "deprecated" : false,
        "documentation" : "<p>The S3 URI from which the CSV is read.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The S3 URI from which the CSV is read.</p>\n@param s3uri The S3 URI from which the CSV is read.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3uri",
        "getterDocumentation" : "/**<p>The S3 URI from which the CSV is read.</p>\n@return The S3 URI from which the CSV is read.*/",
        "getterMethodName" : "getS3uri",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "s3uri",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "s3uri",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "S3uri",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The S3 URI from which the CSV is read.</p>\n@param s3uri The S3 URI from which the CSV is read.*/",
        "setterMethodName" : "setS3uri",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3uri",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The S3 URI from which the CSV is read.</p>\n@param s3uri The S3 URI from which the CSV is read.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3uri",
          "variableType" : "String",
          "documentation" : "<p>The S3 URI from which the CSV is read.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "message",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>\n@param message When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessage",
        "getterDocumentation" : "/**<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>\n@return When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.*/",
        "getterMethodName" : "getMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "message",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "message",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Message",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>\n@param message When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.*/",
        "setterMethodName" : "setMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "message",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>\n@param message When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "message",
          "variableType" : "String",
          "documentation" : "<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "InstanceId" : {
          "c2jName" : "instanceId",
          "c2jShape" : "UUID",
          "deprecated" : false,
          "documentation" : "<p>The BillOfMaterialsImportJob instanceId.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob instanceId.</p>\n@param instanceId The BillOfMaterialsImportJob instanceId.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceId",
          "getterDocumentation" : "/**<p>The BillOfMaterialsImportJob instanceId.</p>\n@return The BillOfMaterialsImportJob instanceId.*/",
          "getterMethodName" : "getInstanceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "instanceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "instanceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InstanceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The BillOfMaterialsImportJob instanceId.</p>\n@param instanceId The BillOfMaterialsImportJob instanceId.*/",
          "setterMethodName" : "setInstanceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob instanceId.</p>\n@param instanceId The BillOfMaterialsImportJob instanceId.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "<p>The BillOfMaterialsImportJob instanceId.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "JobId" : {
          "c2jName" : "jobId",
          "c2jShape" : "UUID",
          "deprecated" : false,
          "documentation" : "<p>The BillOfMaterialsImportJob jobId.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob jobId.</p>\n@param jobId The BillOfMaterialsImportJob jobId.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJobId",
          "getterDocumentation" : "/**<p>The BillOfMaterialsImportJob jobId.</p>\n@return The BillOfMaterialsImportJob jobId.*/",
          "getterMethodName" : "getJobId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "jobId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "JobId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The BillOfMaterialsImportJob jobId.</p>\n@param jobId The BillOfMaterialsImportJob jobId.*/",
          "setterMethodName" : "setJobId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob jobId.</p>\n@param jobId The BillOfMaterialsImportJob jobId.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "<p>The BillOfMaterialsImportJob jobId.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Message" : {
          "c2jName" : "message",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>\n@param message When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMessage",
          "getterDocumentation" : "/**<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>\n@return When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.*/",
          "getterMethodName" : "getMessage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "message",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "message",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Message",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>\n@param message When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.*/",
          "setterMethodName" : "setMessage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "message",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>\n@param message When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "message",
            "variableType" : "String",
            "documentation" : "<p>When the BillOfMaterialsImportJob has reached a terminal state, there will be a message.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "S3uri" : {
          "c2jName" : "s3uri",
          "c2jShape" : "ConfigurationS3Uri",
          "deprecated" : false,
          "documentation" : "<p>The S3 URI from which the CSV is read.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The S3 URI from which the CSV is read.</p>\n@param s3uri The S3 URI from which the CSV is read.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withS3uri",
          "getterDocumentation" : "/**<p>The S3 URI from which the CSV is read.</p>\n@return The S3 URI from which the CSV is read.*/",
          "getterMethodName" : "getS3uri",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "s3uri",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "s3uri",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "S3uri",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The S3 URI from which the CSV is read.</p>\n@param s3uri The S3 URI from which the CSV is read.*/",
          "setterMethodName" : "setS3uri",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "s3uri",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The S3 URI from which the CSV is read.</p>\n@param s3uri The S3 URI from which the CSV is read.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "s3uri",
            "variableType" : "String",
            "documentation" : "<p>The S3 URI from which the CSV is read.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "status",
          "c2jShape" : "ConfigurationJobStatus",
          "deprecated" : false,
          "documentation" : "<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ConfigurationJobStatus",
          "fluentSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>\n@param status The BillOfMaterialsImportJob ConfigurationJobStatus.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ConfigurationJobStatus*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>\n@return The BillOfMaterialsImportJob ConfigurationJobStatus.\n@see ConfigurationJobStatus*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "status",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Status",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>\n@param status The BillOfMaterialsImportJob ConfigurationJobStatus.\n@see ConfigurationJobStatus*/",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>\n@param status The BillOfMaterialsImportJob ConfigurationJobStatus.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ConfigurationJobStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p>The BillOfMaterialsImportJob ConfigurationJobStatus.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.supplychain.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "instanceId", "jobId", "status", "s3uri" ],
      "shapeName" : "BillOfMaterialsImportJob",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BillOfMaterialsImportJob",
        "variableName" : "billOfMaterialsImportJob",
        "variableType" : "BillOfMaterialsImportJob",
        "documentation" : null,
        "simpleType" : "BillOfMaterialsImportJob",
        "variableSetterType" : "BillOfMaterialsImportJob"
      },
      "wrapper" : false
    },
    "ConfigurationJobStatus" : {
      "c2jName" : "ConfigurationJobStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The status of the job.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "NEW",
        "value" : "NEW"
      }, {
        "name" : "FAILED",
        "value" : "FAILED"
      }, {
        "name" : "IN_PROGRESS",
        "value" : "IN_PROGRESS"
      }, {
        "name" : "QUEUED",
        "value" : "QUEUED"
      }, {
        "name" : "SUCCESS",
        "value" : "SUCCESS"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.supplychain.enum.ConfigurationJobStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.supplychain.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConfigurationJobStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfigurationJobStatus",
        "variableName" : "configurationJobStatus",
        "variableType" : "ConfigurationJobStatus",
        "documentation" : null,
        "simpleType" : "ConfigurationJobStatus",
        "variableSetterType" : "ConfigurationJobStatus"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.supplychain.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.supplychain.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateBillOfMaterialsImportJobRequest" : {
      "c2jName" : "CreateBillOfMaterialsImportJobRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request parameters for CreateBillOfMaterialsImportJob.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.supplychain.request.CreateBillOfMaterialsImportJobRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateBillOfMaterialsImportJob",
        "locationName" : null,
        "requestUri" : "/api/configuration/instances/{instanceId}/bill-of-materials-import-jobs",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "instanceId",
        "c2jShape" : "UUID",
        "deprecated" : false,
        "documentation" : "<p>The AWS Supply Chain instance identifier.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceId",
        "getterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@return The AWS Supply Chain instance identifier.*/",
        "getterMethodName" : "getInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "instanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "instanceId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.*/",
        "setterMethodName" : "setInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "<p>The AWS Supply Chain instance identifier.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "s3uri",
        "c2jShape" : "ConfigurationS3Uri",
        "deprecated" : false,
        "documentation" : "<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>\n@param s3uri The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3uri",
        "getterDocumentation" : "/**<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>\n@return The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.*/",
        "getterMethodName" : "getS3uri",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "s3uri",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "s3uri",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "S3uri",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>\n@param s3uri The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.*/",
        "setterMethodName" : "setS3uri",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3uri",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>\n@param s3uri The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3uri",
          "variableType" : "String",
          "documentation" : "<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p>An idempotency token.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An idempotency token.</p>\n@param clientToken An idempotency token.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>An idempotency token.</p>\n@return An idempotency token.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An idempotency token.</p>\n@param clientToken An idempotency token.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An idempotency token.</p>\n@param clientToken An idempotency token.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>An idempotency token.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "ClientToken",
          "deprecated" : false,
          "documentation" : "<p>An idempotency token.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An idempotency token.</p>\n@param clientToken An idempotency token.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>An idempotency token.</p>\n@return An idempotency token.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An idempotency token.</p>\n@param clientToken An idempotency token.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An idempotency token.</p>\n@param clientToken An idempotency token.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>An idempotency token.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "InstanceId" : {
          "c2jName" : "instanceId",
          "c2jShape" : "UUID",
          "deprecated" : false,
          "documentation" : "<p>The AWS Supply Chain instance identifier.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceId",
          "getterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@return The AWS Supply Chain instance identifier.*/",
          "getterMethodName" : "getInstanceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "instanceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "instanceId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InstanceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.*/",
          "setterMethodName" : "setInstanceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "<p>The AWS Supply Chain instance identifier.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "S3uri" : {
          "c2jName" : "s3uri",
          "c2jShape" : "ConfigurationS3Uri",
          "deprecated" : false,
          "documentation" : "<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>\n@param s3uri The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withS3uri",
          "getterDocumentation" : "/**<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>\n@return The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.*/",
          "getterMethodName" : "getS3uri",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "s3uri",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "s3uri",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "S3uri",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>\n@param s3uri The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.*/",
          "setterMethodName" : "setS3uri",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "s3uri",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>\n@param s3uri The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "s3uri",
            "variableType" : "String",
            "documentation" : "<p>The S3 URI of the CSV file to be imported. The bucket must grant permissions for AWS Supply Chain to read the file.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.supplychain.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "instanceId", "s3uri" ],
      "shapeName" : "CreateBillOfMaterialsImportJobRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBillOfMaterialsImportJobRequest",
        "variableName" : "createBillOfMaterialsImportJobRequest",
        "variableType" : "CreateBillOfMaterialsImportJobRequest",
        "documentation" : null,
        "simpleType" : "CreateBillOfMaterialsImportJobRequest",
        "variableSetterType" : "CreateBillOfMaterialsImportJobRequest"
      },
      "wrapper" : false
    },
    "CreateBillOfMaterialsImportJobResult" : {
      "c2jName" : "CreateBillOfMaterialsImportJobResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The response parameters of CreateBillOfMaterialsImportJob.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.supplychain.response.CreateBillOfMaterialsImportJobResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "jobId",
        "c2jShape" : "UUID",
        "deprecated" : false,
        "documentation" : "<p>The new BillOfMaterialsImportJob identifier.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The new BillOfMaterialsImportJob identifier.</p>\n@param jobId The new BillOfMaterialsImportJob identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobId",
        "getterDocumentation" : "/**<p>The new BillOfMaterialsImportJob identifier.</p>\n@return The new BillOfMaterialsImportJob identifier.*/",
        "getterMethodName" : "getJobId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "jobId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The new BillOfMaterialsImportJob identifier.</p>\n@param jobId The new BillOfMaterialsImportJob identifier.*/",
        "setterMethodName" : "setJobId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The new BillOfMaterialsImportJob identifier.</p>\n@param jobId The new BillOfMaterialsImportJob identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The new BillOfMaterialsImportJob identifier.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "JobId" : {
          "c2jName" : "jobId",
          "c2jShape" : "UUID",
          "deprecated" : false,
          "documentation" : "<p>The new BillOfMaterialsImportJob identifier.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The new BillOfMaterialsImportJob identifier.</p>\n@param jobId The new BillOfMaterialsImportJob identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJobId",
          "getterDocumentation" : "/**<p>The new BillOfMaterialsImportJob identifier.</p>\n@return The new BillOfMaterialsImportJob identifier.*/",
          "getterMethodName" : "getJobId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "jobId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "JobId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The new BillOfMaterialsImportJob identifier.</p>\n@param jobId The new BillOfMaterialsImportJob identifier.*/",
          "setterMethodName" : "setJobId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The new BillOfMaterialsImportJob identifier.</p>\n@param jobId The new BillOfMaterialsImportJob identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "<p>The new BillOfMaterialsImportJob identifier.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.supplychain.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "jobId" ],
      "shapeName" : "CreateBillOfMaterialsImportJobResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBillOfMaterialsImportJobResult",
        "variableName" : "createBillOfMaterialsImportJobResult",
        "variableType" : "CreateBillOfMaterialsImportJobResult",
        "documentation" : null,
        "simpleType" : "CreateBillOfMaterialsImportJobResult",
        "variableSetterType" : "CreateBillOfMaterialsImportJobResult"
      },
      "wrapper" : false
    },
    "DataIntegrationEventType" : {
      "c2jName" : "DataIntegrationEventType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "ScnDataForecast",
        "value" : "scn.data.forecast"
      }, {
        "name" : "ScnDataInventorylevel",
        "value" : "scn.data.inventorylevel"
      }, {
        "name" : "ScnDataInboundorder",
        "value" : "scn.data.inboundorder"
      }, {
        "name" : "ScnDataInboundorderline",
        "value" : "scn.data.inboundorderline"
      }, {
        "name" : "ScnDataInboundorderlineschedule",
        "value" : "scn.data.inboundorderlineschedule"
      }, {
        "name" : "ScnDataOutboundorderline",
        "value" : "scn.data.outboundorderline"
      }, {
        "name" : "ScnDataOutboundshipment",
        "value" : "scn.data.outboundshipment"
      }, {
        "name" : "ScnDataProcessheader",
        "value" : "scn.data.processheader"
      }, {
        "name" : "ScnDataProcessoperation",
        "value" : "scn.data.processoperation"
      }, {
        "name" : "ScnDataProcessproduct",
        "value" : "scn.data.processproduct"
      }, {
        "name" : "ScnDataReservation",
        "value" : "scn.data.reservation"
      }, {
        "name" : "ScnDataShipment",
        "value" : "scn.data.shipment"
      }, {
        "name" : "ScnDataShipmentstop",
        "value" : "scn.data.shipmentstop"
      }, {
        "name" : "ScnDataShipmentstoporder",
        "value" : "scn.data.shipmentstoporder"
      }, {
        "name" : "ScnDataSupplyplan",
        "value" : "scn.data.supplyplan"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.supplychain.enum.DataIntegrationEventType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.supplychain.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "DataIntegrationEventType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DataIntegrationEventType",
        "variableName" : "dataIntegrationEventType",
        "variableType" : "DataIntegrationEventType",
        "documentation" : null,
        "simpleType" : "DataIntegrationEventType",
        "variableSetterType" : "DataIntegrationEventType"
      },
      "wrapper" : false
    },
    "GetBillOfMaterialsImportJobRequest" : {
      "c2jName" : "GetBillOfMaterialsImportJobRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request parameters for GetBillOfMaterialsImportJob.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.supplychain.request.GetBillOfMaterialsImportJobRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetBillOfMaterialsImportJob",
        "locationName" : null,
        "requestUri" : "/api/configuration/instances/{instanceId}/bill-of-materials-import-jobs/{jobId}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "instanceId",
        "c2jShape" : "UUID",
        "deprecated" : false,
        "documentation" : "<p>The AWS Supply Chain instance identifier.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceId",
        "getterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@return The AWS Supply Chain instance identifier.*/",
        "getterMethodName" : "getInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "instanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "instanceId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.*/",
        "setterMethodName" : "setInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "<p>The AWS Supply Chain instance identifier.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "jobId",
        "c2jShape" : "UUID",
        "deprecated" : false,
        "documentation" : "<p>The BillOfMaterialsImportJob identifier.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob identifier.</p>\n@param jobId The BillOfMaterialsImportJob identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobId",
        "getterDocumentation" : "/**<p>The BillOfMaterialsImportJob identifier.</p>\n@return The BillOfMaterialsImportJob identifier.*/",
        "getterMethodName" : "getJobId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "jobId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The BillOfMaterialsImportJob identifier.</p>\n@param jobId The BillOfMaterialsImportJob identifier.*/",
        "setterMethodName" : "setJobId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob identifier.</p>\n@param jobId The BillOfMaterialsImportJob identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The BillOfMaterialsImportJob identifier.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "InstanceId" : {
          "c2jName" : "instanceId",
          "c2jShape" : "UUID",
          "deprecated" : false,
          "documentation" : "<p>The AWS Supply Chain instance identifier.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceId",
          "getterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@return The AWS Supply Chain instance identifier.*/",
          "getterMethodName" : "getInstanceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "instanceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "instanceId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InstanceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.*/",
          "setterMethodName" : "setInstanceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS Supply Chain instance identifier.</p>\n@param instanceId The AWS Supply Chain instance identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "<p>The AWS Supply Chain instance identifier.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "JobId" : {
          "c2jName" : "jobId",
          "c2jShape" : "UUID",
          "deprecated" : false,
          "documentation" : "<p>The BillOfMaterialsImportJob identifier.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob identifier.</p>\n@param jobId The BillOfMaterialsImportJob identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJobId",
          "getterDocumentation" : "/**<p>The BillOfMaterialsImportJob identifier.</p>\n@return The BillOfMaterialsImportJob identifier.*/",
          "getterMethodName" : "getJobId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "jobId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "JobId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The BillOfMaterialsImportJob identifier.</p>\n@param jobId The BillOfMaterialsImportJob identifier.*/",
          "setterMethodName" : "setJobId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The BillOfMaterialsImportJob identifier.</p>\n@param jobId The BillOfMaterialsImportJob identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "<p>The BillOfMaterialsImportJob identifier.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.supplychain.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "instanceId", "jobId" ],
      "shapeName" : "GetBillOfMaterialsImportJobRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBillOfMaterialsImportJobRequest",
        "variableName" : "getBillOfMaterialsImportJobRequest",
        "variableType" : "GetBillOfMaterialsImportJobRequest",
        "documentation" : null,
        "simpleType" : "GetBillOfMaterialsImportJobRequest",
        "variableSetterType" : "GetBillOfMaterialsImportJobRequest"
      },
      "wrapper" : false
    },
    "GetBillOfMaterialsImportJobResult" : {
      "c2jName" : "GetBillOfMaterialsImportJobResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The response parameters for GetBillOfMaterialsImportJob.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.supplychain.response.GetBillOfMaterialsImportJobResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "job",
        "c2jShape" : "BillOfMaterialsImportJob",
        "deprecated" : false,
        "documentation" : "<p>The BillOfMaterialsImportJob.</p>",
[...]
