{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeCases" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeServices" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeSeverityLevels" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ResolveCase" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2013-04-15",
    "asyncClient" : "AWSSupportAsyncClient",
    "asyncClientBuilderClassName" : "AWSSupportAsyncClientBuilder",
    "asyncInterface" : "AWSSupportAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSSupportModuleInjector",
    "defaultEndpoint" : "https://support.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "support.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Support</fullname> <p>The AWS Support API reference is intended for programmers who need detailed information about the AWS Support operations and data types. This service enables you to manage your AWS Support cases programmatically. It uses HTTP methods that return results in JSON format.</p> <p>The AWS Support service also exposes a set of <a href=\"http://aws.amazon.com/premiumsupport/trustedadvisor/\">Trusted Advisor</a> features. You can retrieve a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks. </p> <p>The following list describes the AWS Support case management operations:</p> <ul> <li> <p> <b>Service names, issue categories, and available severity levels. </b>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return AWS service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> operation. </p> </li> <li> <p> <b>Case creation, case details, and case resolution.</b> The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create AWS Support cases, retrieve information about cases, and resolve cases.</p> </li> <li> <p> <b>Case communication.</b> The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to AWS Support cases. </p> </li> </ul> <p>The following list describes the operations available from the AWS Support service for Trusted Advisor:</p> <ul> <li> <p> <a>DescribeTrustedAdvisorChecks</a> returns the list of checks that run against your AWS resources.</p> </li> <li> <p>Using the <code>checkId</code> for a specific check returned by <a>DescribeTrustedAdvisorChecks</a>, you can call <a>DescribeTrustedAdvisorCheckResult</a> to obtain the results for the check you specified.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckSummaries</a> returns summarized results for one or more Trusted Advisor checks.</p> </li> <li> <p> <a>RefreshTrustedAdvisorCheck</a> requests that Trusted Advisor rerun a specified check. </p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> reports the refresh status of one or more checks. </p> </li> </ul> <p>For authentication of requests, AWS Support uses <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>See <a href=\"http://docs.aws.amazon.com/awssupport/latest/user/Welcome.html\">About the AWS Support API</a> in the <i>AWS Support User Guide</i> for information about how to use this service to create and manage your support cases, and how to call Trusted Advisor for results of checks on your resources. </p>",
    "endpointPrefix" : "support",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.support",
    "packagePath" : "com/amazonaws/services/support",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Support",
    "serviceId" : "Support",
    "serviceName" : "AWS Support",
    "signingName" : "support",
    "smokeTestsPackageName" : "com.amazonaws.services.support.smoketests",
    "syncClient" : "AWSSupportClient",
    "syncClientBuilderClassName" : "AWSSupportClientBuilder",
    "syncInterface" : "AWSSupport",
    "uid" : "support-2013-04-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddAttachmentsToSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddAttachmentsToSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddAttachmentsToSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddAttachmentsToSetRequest, AddAttachmentsToSetResult>",
      "asyncReturnType" : "AddAttachmentsToSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more attachments to an attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p> <p>An attachment set is a temporary container for attachments that are to be added to a case or case communication. The set is available for one hour after it is created; the <code>expiryTime</code> returned in the response indicates when the set expires. The maximum number of attachments in a set is 3, and the maximum size of any attachment in the set is 5 MB.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetIdNotFoundException",
        "documentation" : "<p>An attachment set with the specified ID could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetExpiredException",
        "documentation" : "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetSizeLimitExceededException",
        "documentation" : "<p>A limit for the size of an attachment set has been exceeded. The limits are 3 attachments and 5 MB per attachment.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentLimitExceededException",
        "documentation" : "<p>The limit for the number of attachment sets created in a short period of time has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddAttachmentsToSetRequest",
        "variableName" : "addAttachmentsToSetRequest",
        "variableType" : "AddAttachmentsToSetRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddAttachmentsToSetRequest",
        "variableSetterType" : "AddAttachmentsToSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addAttachmentsToSet",
      "operationName" : "AddAttachmentsToSet",
      "returnType" : {
        "returnType" : "AddAttachmentsToSetResult",
        "documentation" : "<p>The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.</p>"
      },
      "syncReturnType" : "AddAttachmentsToSetResult"
    },
    "AddCommunicationToCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddCommunicationToCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddCommunicationToCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddCommunicationToCaseRequest, AddCommunicationToCaseResult>",
      "asyncReturnType" : "AddCommunicationToCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds additional customer communication to an AWS Support case. You use the <code>caseId</code> value to identify the case to add communication to. You can list a set of email addresses to copy on the communication using the <code>ccEmailAddresses</code> value. The <code>communicationBody</code> value contains the text of the communication.</p> <p>The response indicates the success or failure of the request.</p> <p>This operation implements a subset of the features of the AWS Support Center.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>caseId</code> could not be located.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetIdNotFoundException",
        "documentation" : "<p>An attachment set with the specified ID could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetExpiredException",
        "documentation" : "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddCommunicationToCaseRequest",
        "variableName" : "addCommunicationToCaseRequest",
        "variableType" : "AddCommunicationToCaseRequest",
        "documentation" : "<p>To be written.</p>",
        "simpleType" : "AddCommunicationToCaseRequest",
        "variableSetterType" : "AddCommunicationToCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addCommunicationToCase",
      "operationName" : "AddCommunicationToCase",
      "returnType" : {
        "returnType" : "AddCommunicationToCaseResult",
        "documentation" : "<p>The result of the <a>AddCommunicationToCase</a> operation.</p>"
      },
      "syncReturnType" : "AddCommunicationToCaseResult"
    },
    "CreateCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCaseRequest, CreateCaseResult>",
      "asyncReturnType" : "CreateCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new case in the AWS Support Center. This operation is modeled on the behavior of the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. Its parameters require you to specify the following information: </p> <ul> <li> <p> <b>issueType.</b> The type of issue for the case. You can specify either \"customer-service\" or \"technical.\" If you do not indicate a value, the default is \"technical.\" </p> </li> <li> <p> <b>serviceCode.</b> The code for an AWS service. You obtain the <code>serviceCode</code> by calling <a>DescribeServices</a>. </p> </li> <li> <p> <b>categoryCode.</b> The category for the service defined for the <code>serviceCode</code> value. You also obtain the category code for a service by calling <a>DescribeServices</a>. Each AWS service defines its own set of category codes. </p> </li> <li> <p> <b>severityCode.</b> A value that indicates the urgency of the case, which in turn determines the response time according to your service level agreement with AWS Support. You obtain the SeverityCode by calling <a>DescribeSeverityLevels</a>.</p> </li> <li> <p> <b>subject.</b> The <b>Subject</b> field on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> </li> <li> <p> <b>communicationBody.</b> The <b>Description</b> field on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> </li> <li> <p> <b>attachmentSetId.</b> The ID of a set of attachments that has been created by using <a>AddAttachmentsToSet</a>.</p> </li> <li> <p> <b>language.</b> The human language in which AWS Support handles the case. English and Japanese are currently supported.</p> </li> <li> <p> <b>ccEmailAddresses.</b> The AWS Support Center <b>CC</b> field on the <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. You can list email addresses to be copied on any correspondence about the case. The account that opens the case is already identified by passing the AWS Credentials in the HTTP POST method or in a method or function call from one of the programming languages supported by an <a href=\"http://aws.amazon.com/tools/\">AWS SDK</a>. </p> </li> </ul> <note> <p>To add additional communication or attachments to an existing case, use <a>AddCommunicationToCase</a>.</p> </note> <p>A successful <a>CreateCase</a> request returns an AWS Support case number. Case numbers are used by the <a>DescribeCases</a> operation to retrieve existing AWS Support cases. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CaseCreationLimitExceededException",
        "documentation" : "<p>The case creation limit for the account has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetIdNotFoundException",
        "documentation" : "<p>An attachment set with the specified ID could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetExpiredException",
        "documentation" : "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCaseRequest",
        "variableName" : "createCaseRequest",
        "variableType" : "CreateCaseRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateCaseRequest",
        "variableSetterType" : "CreateCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCase",
      "operationName" : "CreateCase",
      "returnType" : {
        "returnType" : "CreateCaseResult",
        "documentation" : "<p>The AWS Support case ID returned by a successful completion of the <a>CreateCase</a> operation. </p>"
      },
      "syncReturnType" : "CreateCaseResult"
    },
    "DescribeAttachment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAttachmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAttachmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAttachmentRequest, DescribeAttachmentResult>",
      "asyncReturnType" : "DescribeAttachmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the attachment that has the specified ID. Attachment IDs are generated by the case management system when you add an attachment to a case or case communication. Attachment IDs are returned in the <a>AttachmentDetails</a> objects that are returned by the <a>DescribeCommunications</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DescribeAttachmentLimitExceededException",
        "documentation" : "<p>The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentIdNotFoundException",
        "documentation" : "<p>An attachment with the specified ID could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAttachmentRequest",
        "variableName" : "describeAttachmentRequest",
        "variableType" : "DescribeAttachmentRequest",
        "documentation" : "",
        "simpleType" : "DescribeAttachmentRequest",
        "variableSetterType" : "DescribeAttachmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAttachment",
      "operationName" : "DescribeAttachment",
      "returnType" : {
        "returnType" : "DescribeAttachmentResult",
        "documentation" : "<p>The content and file name of the attachment returned by the <a>DescribeAttachment</a> operation.</p>"
      },
      "syncReturnType" : "DescribeAttachmentResult"
    },
    "DescribeCases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCasesRequest, DescribeCasesResult>",
      "asyncReturnType" : "DescribeCasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of cases that you specify by passing one or more case IDs. In addition, you can filter the cases by date by setting values for the <code>afterTime</code> and <code>beforeTime</code> request parameters. You can set values for the <code>includeResolvedCases</code> and <code>includeCommunications</code> request parameters to control how much information is returned. </p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>The response returns the following in JSON format:</p> <ul> <li> <p>One or more <a>CaseDetails</a> data types. </p> </li> <li> <p>One or more <code>nextToken</code> values, which specify where to paginate the returned records represented by the <code>CaseDetails</code> objects.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>caseId</code> could not be located.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCasesRequest",
        "variableName" : "describeCasesRequest",
        "variableType" : "DescribeCasesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeCasesRequest",
        "variableSetterType" : "DescribeCasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCases",
      "operationName" : "DescribeCases",
      "returnType" : {
        "returnType" : "DescribeCasesResult",
        "documentation" : "<p>Returns an array of <a>CaseDetails</a> objects and a <code>nextToken</code> that defines a point for pagination in the result set.</p>"
      },
      "syncReturnType" : "DescribeCasesResult"
    },
    "DescribeCommunications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCommunicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCommunicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCommunicationsRequest, DescribeCommunicationsResult>",
      "asyncReturnType" : "DescribeCommunicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns communications (and attachments) for one or more support cases. You can use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter by date. You can use the <code>caseId</code> parameter to restrict the results to a particular case.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>You can use the <code>maxResults</code> and <code>nextToken</code> parameters to control the pagination of the result set. Set <code>maxResults</code> to the number of cases you want displayed on each page, and use <code>nextToken</code> to specify the resumption of pagination.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>caseId</code> could not be located.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCommunicationsRequest",
        "variableName" : "describeCommunicationsRequest",
        "variableType" : "DescribeCommunicationsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeCommunicationsRequest",
        "variableSetterType" : "DescribeCommunicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCommunications",
      "operationName" : "DescribeCommunications",
      "returnType" : {
        "returnType" : "DescribeCommunicationsResult",
        "documentation" : "<p>The communications returned by the <a>DescribeCommunications</a> operation.</p>"
      },
      "syncReturnType" : "DescribeCommunicationsResult"
    },
    "DescribeServices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServicesRequest, DescribeServicesResult>",
      "asyncReturnType" : "DescribeServicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current list of AWS services and a list of service categories that applies to each one. You then use service names and categories in your <a>CreateCase</a> requests. Each AWS service has its own set of categories.</p> <p>The service codes and category codes correspond to the values that are displayed in the <b>Service</b> and <b>Category</b> drop-down lists on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. The values in those fields, however, do not necessarily match the service codes and categories returned by the <code>DescribeServices</code> request. Always use the service codes and categories obtained programmatically. This practice ensures that you always have the most recent set of service and category codes.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeServicesRequest",
        "variableName" : "describeServicesRequest",
        "variableType" : "DescribeServicesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeServicesRequest",
        "variableSetterType" : "DescribeServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeServices",
      "operationName" : "DescribeServices",
      "returnType" : {
        "returnType" : "DescribeServicesResult",
        "documentation" : "<p>The list of AWS services returned by the <a>DescribeServices</a> operation.</p>"
      },
      "syncReturnType" : "DescribeServicesResult"
    },
    "DescribeSeverityLevels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSeverityLevelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSeverityLevelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSeverityLevelsRequest, DescribeSeverityLevelsResult>",
      "asyncReturnType" : "DescribeSeverityLevelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of severity levels that you can assign to an AWS Support case. The severity level for a case is also a field in the <a>CaseDetails</a> data type included in any <a>CreateCase</a> request. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSeverityLevelsRequest",
        "variableName" : "describeSeverityLevelsRequest",
        "variableType" : "DescribeSeverityLevelsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeSeverityLevelsRequest",
        "variableSetterType" : "DescribeSeverityLevelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSeverityLevels",
      "operationName" : "DescribeSeverityLevels",
      "returnType" : {
        "returnType" : "DescribeSeverityLevelsResult",
        "documentation" : "<p>The list of severity levels returned by the <a>DescribeSeverityLevels</a> operation.</p>"
      },
      "syncReturnType" : "DescribeSeverityLevelsResult"
    },
    "DescribeTrustedAdvisorCheckRefreshStatuses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorCheckRefreshStatusesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorCheckRefreshStatusesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorCheckRefreshStatusesRequest, DescribeTrustedAdvisorCheckRefreshStatusesResult>",
      "asyncReturnType" : "DescribeTrustedAdvisorCheckRefreshStatusesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the refresh status of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <note> <p>Some checks are refreshed automatically, and their refresh statuses cannot be retrieved by using this operation. Use of the <code>DescribeTrustedAdvisorCheckRefreshStatuses</code> operation for these checks causes an <code>InvalidParameterValue</code> error.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest",
        "variableName" : "describeTrustedAdvisorCheckRefreshStatusesRequest",
        "variableType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest",
        "variableSetterType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrustedAdvisorCheckRefreshStatuses",
      "operationName" : "DescribeTrustedAdvisorCheckRefreshStatuses",
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorCheckRefreshStatusesResult",
        "documentation" : "<p>The statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> operation.</p>"
      },
      "syncReturnType" : "DescribeTrustedAdvisorCheckRefreshStatusesResult"
    },
    "DescribeTrustedAdvisorCheckResult" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorCheckResultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorCheckResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorCheckResultRequest, DescribeTrustedAdvisorCheckResultResult>",
      "asyncReturnType" : "DescribeTrustedAdvisorCheckResultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the results of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which contains these three objects:</p> <ul> <li> <p> <a>TrustedAdvisorCategorySpecificSummary</a> </p> </li> <li> <p> <a>TrustedAdvisorResourceDetail</a> </p> </li> <li> <p> <a>TrustedAdvisorResourcesSummary</a> </p> </li> </ul> <p>In addition, the response contains these fields:</p> <ul> <li> <p> <b>status.</b> The alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red), or \"not_available\".</p> </li> <li> <p> <b>timestamp.</b> The time of the last refresh of the check.</p> </li> <li> <p> <b>checkId.</b> The unique identifier for the check.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTrustedAdvisorCheckResultRequest",
        "variableName" : "describeTrustedAdvisorCheckResultRequest",
        "variableType" : "DescribeTrustedAdvisorCheckResultRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeTrustedAdvisorCheckResultRequest",
        "variableSetterType" : "DescribeTrustedAdvisorCheckResultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrustedAdvisorCheckResult",
      "operationName" : "DescribeTrustedAdvisorCheckResult",
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorCheckResultResult",
        "documentation" : "<p>The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a> operation.</p>"
      },
      "syncReturnType" : "DescribeTrustedAdvisorCheckResultResult"
    },
    "DescribeTrustedAdvisorCheckSummaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorCheckSummariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorCheckSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorCheckSummariesRequest, DescribeTrustedAdvisorCheckSummariesResult>",
      "asyncReturnType" : "DescribeTrustedAdvisorCheckSummariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the summaries of the results of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains an array of <a>TrustedAdvisorCheckSummary</a> objects.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTrustedAdvisorCheckSummariesRequest",
        "variableName" : "describeTrustedAdvisorCheckSummariesRequest",
        "variableType" : "DescribeTrustedAdvisorCheckSummariesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeTrustedAdvisorCheckSummariesRequest",
        "variableSetterType" : "DescribeTrustedAdvisorCheckSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrustedAdvisorCheckSummaries",
      "operationName" : "DescribeTrustedAdvisorCheckSummaries",
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorCheckSummariesResult",
        "documentation" : "<p>The summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a> operation.</p>"
      },
      "syncReturnType" : "DescribeTrustedAdvisorCheckSummariesResult"
    },
    "DescribeTrustedAdvisorChecks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorChecksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorChecksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorChecksRequest, DescribeTrustedAdvisorChecksResult>",
      "asyncReturnType" : "DescribeTrustedAdvisorChecksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about all available Trusted Advisor checks, including name, ID, category, description, and metadata. You must specify a language code; English (\"en\") and Japanese (\"ja\") are currently supported. The response contains a <a>TrustedAdvisorCheckDescription</a> for each check.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTrustedAdvisorChecksRequest",
        "variableName" : "describeTrustedAdvisorChecksRequest",
        "variableType" : "DescribeTrustedAdvisorChecksRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeTrustedAdvisorChecksRequest",
        "variableSetterType" : "DescribeTrustedAdvisorChecksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrustedAdvisorChecks",
      "operationName" : "DescribeTrustedAdvisorChecks",
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorChecksResult",
        "documentation" : "<p>Information about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a> operation.</p>"
      },
      "syncReturnType" : "DescribeTrustedAdvisorChecksResult"
    },
    "RefreshTrustedAdvisorCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RefreshTrustedAdvisorCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RefreshTrustedAdvisorCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RefreshTrustedAdvisorCheckRequest, RefreshTrustedAdvisorCheckResult>",
      "asyncReturnType" : "RefreshTrustedAdvisorCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests a refresh of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <note> <p>Some checks are refreshed automatically, and they cannot be refreshed by using this operation. Use of the <code>RefreshTrustedAdvisorCheck</code> operation for these checks causes an <code>InvalidParameterValue</code> error.</p> </note> <p>The response contains a <a>TrustedAdvisorCheckRefreshStatus</a> object, which contains these fields:</p> <ul> <li> <p> <b>status.</b> The refresh status of the check: \"none\", \"enqueued\", \"processing\", \"success\", or \"abandoned\".</p> </li> <li> <p> <b>millisUntilNextRefreshable.</b> The amount of time, in milliseconds, until the check is eligible for refresh.</p> </li> <li> <p> <b>checkId.</b> The unique identifier for the check.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RefreshTrustedAdvisorCheckRequest",
        "variableName" : "refreshTrustedAdvisorCheckRequest",
        "variableType" : "RefreshTrustedAdvisorCheckRequest",
        "documentation" : "<p/>",
        "simpleType" : "RefreshTrustedAdvisorCheckRequest",
        "variableSetterType" : "RefreshTrustedAdvisorCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "refreshTrustedAdvisorCheck",
      "operationName" : "RefreshTrustedAdvisorCheck",
      "returnType" : {
        "returnType" : "RefreshTrustedAdvisorCheckResult",
        "documentation" : "<p>The current refresh status of a Trusted Advisor check.</p>"
      },
      "syncReturnType" : "RefreshTrustedAdvisorCheckResult"
    },
    "ResolveCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResolveCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResolveCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResolveCaseRequest, ResolveCaseResult>",
      "asyncReturnType" : "ResolveCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Takes a <code>caseId</code> and returns the initial state of the case along with the state of the case after the call to <a>ResolveCase</a> completed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>caseId</code> could not be located.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResolveCaseRequest",
        "variableName" : "resolveCaseRequest",
        "variableType" : "ResolveCaseRequest",
        "documentation" : "<p/>",
        "simpleType" : "ResolveCaseRequest",
        "variableSetterType" : "ResolveCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resolveCase",
      "operationName" : "ResolveCase",
      "returnType" : {
        "returnType" : "ResolveCaseResult",
        "documentation" : "<p>The status of the case returned by the <a>ResolveCase</a> operation.</p>"
      },
      "syncReturnType" : "ResolveCaseResult"
    }
  },
  "shapes" : {
    "AddAttachmentsToSetRequest" : {
      "c2jName" : "AddAttachmentsToSetRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddAttachmentsToSet",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSSupport_20130415.AddAttachmentsToSet",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "attachmentSetId",
        "c2jShape" : "AttachmentSetId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttachmentSetId",
        "getterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@return The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.*/",
        "getterMethodName" : "getAttachmentSetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "attachmentSetId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "attachmentSetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AttachmentSetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.*/",
        "setterMethodName" : "setAttachmentSetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attachmentSetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attachmentSetId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "attachments",
        "c2jShape" : "Attachments",
        "deprecated" : false,
        "documentation" : "<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>\n@param attachments One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttachments",
        "getterDocumentation" : "/**<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>\n@return One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.*/",
        "getterMethodName" : "getAttachments",
        "getterModel" : {
          "returnType" : "java.util.List<Attachment>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "attachments",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "attachments",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Attachment",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Attachment",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Attachment",
              "variableName" : "member",
              "variableType" : "Attachment",
              "documentation" : "",
              "simpleType" : "Attachment",
              "variableSetterType" : "Attachment"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Attachment",
              "variableName" : "member",
              "variableType" : "Attachment",
              "documentation" : "",
              "simpleType" : "Attachment",
              "variableSetterType" : "Attachment"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Attachment",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Attachment",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
          "templateType" : "java.util.List<Attachment>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Attachments",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>\n@param attachments One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.*/",
        "setterMethodName" : "setAttachments",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
          "variableName" : "attachments",
          "variableType" : "java.util.List<Attachment>",
          "documentation" : "",
          "simpleType" : "List<Attachment>",
          "variableSetterType" : "java.util.Collection<Attachment>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttachments(java.util.Collection)} or {@link #withAttachments(java.util.Collection)} if you want to override the existing values.</p>\n@param attachments One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
          "variableName" : "attachments",
          "variableType" : "java.util.List<Attachment>",
          "documentation" : "<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>",
          "simpleType" : "List<Attachment>",
          "variableSetterType" : "java.util.Collection<Attachment>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AttachmentSetId" : {
          "c2jName" : "attachmentSetId",
          "c2jShape" : "AttachmentSetId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttachmentSetId",
          "getterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@return The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.*/",
          "getterMethodName" : "getAttachmentSetId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "attachmentSetId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "attachmentSetId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AttachmentSetId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.*/",
          "setterMethodName" : "setAttachmentSetId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "attachmentSetId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "attachmentSetId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Attachments" : {
          "c2jName" : "attachments",
          "c2jShape" : "Attachments",
          "deprecated" : false,
          "documentation" : "<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>\n@param attachments One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttachments",
          "getterDocumentation" : "/**<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>\n@return One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.*/",
          "getterMethodName" : "getAttachments",
          "getterModel" : {
            "returnType" : "java.util.List<Attachment>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "attachments",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "attachments",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Attachment",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Attachment",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Attachment",
                "variableName" : "member",
                "variableType" : "Attachment",
                "documentation" : "",
                "simpleType" : "Attachment",
                "variableSetterType" : "Attachment"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Attachment",
                "variableName" : "member",
                "variableType" : "Attachment",
                "documentation" : "",
                "simpleType" : "Attachment",
                "variableSetterType" : "Attachment"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Attachment",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Attachment",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
            "templateType" : "java.util.List<Attachment>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Attachments",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>\n@param attachments One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.*/",
          "setterMethodName" : "setAttachments",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
            "variableName" : "attachments",
            "variableType" : "java.util.List<Attachment>",
            "documentation" : "",
            "simpleType" : "List<Attachment>",
            "variableSetterType" : "java.util.Collection<Attachment>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttachments(java.util.Collection)} or {@link #withAttachments(java.util.Collection)} if you want to override the existing values.</p>\n@param attachments One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
            "variableName" : "attachments",
            "variableType" : "java.util.List<Attachment>",
            "documentation" : "<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>",
            "simpleType" : "List<Attachment>",
            "variableSetterType" : "java.util.Collection<Attachment>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "attachments" ],
      "shapeName" : "AddAttachmentsToSetRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddAttachmentsToSetRequest",
        "variableName" : "addAttachmentsToSetRequest",
        "variableType" : "AddAttachmentsToSetRequest",
        "documentation" : null,
        "simpleType" : "AddAttachmentsToSetRequest",
        "variableSetterType" : "AddAttachmentsToSetRequest"
      },
      "wrapper" : false
    },
    "AddAttachmentsToSetResult" : {
      "c2jName" : "AddAttachmentsToSetResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "attachmentSetId",
        "c2jShape" : "AttachmentSetId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttachmentSetId",
        "getterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@return The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.*/",
        "getterMethodName" : "getAttachmentSetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "attachmentSetId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "attachmentSetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AttachmentSetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.*/",
        "setterMethodName" : "setAttachmentSetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attachmentSetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attachmentSetId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "expiryTime",
        "c2jShape" : "ExpiryTime",
        "deprecated" : false,
        "documentation" : "<p>The time and date when the attachment set expires.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@param expiryTime The time and date when the attachment set expires.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExpiryTime",
        "getterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@return The time and date when the attachment set expires.*/",
        "getterMethodName" : "getExpiryTime",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "expiryTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "expiryTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ExpiryTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@param expiryTime The time and date when the attachment set expires.*/",
        "setterMethodName" : "setExpiryTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "expiryTime",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@param expiryTime The time and date when the attachment set expires.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "expiryTime",
          "variableType" : "String",
          "documentation" : "<p>The time and date when the attachment set expires.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AttachmentSetId" : {
          "c2jName" : "attachmentSetId",
          "c2jShape" : "AttachmentSetId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttachmentSetId",
          "getterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@return The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.*/",
          "getterMethodName" : "getAttachmentSetId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "attachmentSetId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "attachmentSetId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AttachmentSetId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.*/",
          "setterMethodName" : "setAttachmentSetId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "attachmentSetId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "attachmentSetId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ExpiryTime" : {
          "c2jName" : "expiryTime",
          "c2jShape" : "ExpiryTime",
          "deprecated" : false,
          "documentation" : "<p>The time and date when the attachment set expires.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@param expiryTime The time and date when the attachment set expires.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExpiryTime",
          "getterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@return The time and date when the attachment set expires.*/",
          "getterMethodName" : "getExpiryTime",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "expiryTime",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "expiryTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ExpiryTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@param expiryTime The time and date when the attachment set expires.*/",
          "setterMethodName" : "setExpiryTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "expiryTime",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@param expiryTime The time and date when the attachment set expires.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "expiryTime",
            "variableType" : "String",
            "documentation" : "<p>The time and date when the attachment set expires.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AddAttachmentsToSetResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddAttachmentsToSetResult",
        "variableName" : "addAttachmentsToSetResult",
        "variableType" : "AddAttachmentsToSetResult",
        "documentation" : null,
        "simpleType" : "AddAttachmentsToSetResult",
        "variableSetterType" : "AddAttachmentsToSetResult"
      },
      "wrapper" : false
    },
    "AddCommunicationToCaseRequest" : {
      "c2jName" : "AddCommunicationToCaseRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>To be written.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddCommunicationToCase",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSSupport_20130415.AddCommunicationToCase",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "caseId",
        "c2jShape" : "CaseId",
        "deprecated" : false,
        "documentation" : "<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>\n@param caseId The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCaseId",
        "getterDocumentation" : "/**<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>\n@return The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>*/",
        "getterMethodName" : "getCaseId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "caseId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "caseId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CaseId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>\n@param caseId The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>*/",
        "setterMethodName" : "setCaseId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "caseId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>\n@param caseId The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "caseId",
          "variableType" : "String",
          "documentation" : "<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "communicationBody",
        "c2jShape" : "CommunicationBody",
        "deprecated" : false,
        "documentation" : "<p>The body of an email communication to add to the support case.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The body of an email communication to add to the support case.</p>\n@param communicationBody The body of an email communication to add to the support case.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCommunicationBody",
        "getterDocumentation" : "/**<p>The body of an email communication to add to the support case.</p>\n@return The body of an email communication to add to the support case.*/",
        "getterMethodName" : "getCommunicationBody",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "communicationBody",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "communicationBody",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CommunicationBody",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The body of an email communication to add to the support case.</p>\n@param communicationBody The body of an email communication to add to the support case.*/",
        "setterMethodName" : "setCommunicationBody",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "communicationBody",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The body of an email communication to add to the support case.</p>\n@param communicationBody The body of an email communication to add to the support case.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "communicationBody",
          "variableType" : "String",
          "documentation" : "<p>The body of an email communication to add to the support case.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ccEmailAddresses",
        "c2jShape" : "CcEmailAddressList",
        "deprecated" : false,
        "documentation" : "<p>The email addresses in the CC line of an email to be added to the support case.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The email addresses in the CC line of an email to be added to the support case.</p>\n@param ccEmailAddresses The email addresses in the CC line of an email to be added to the support case.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCcEmailAddresses",
        "getterDocumentation" : "/**<p>The email addresses in the CC line of an email to be added to the support case.</p>\n@return The email addresses in the CC line of an email to be added to the support case.*/",
        "getterMethodName" : "getCcEmailAddresses",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ccEmailAddresses",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ccEmailAddresses",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "CcEmailAddress",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
[...]
