{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeCases" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeServices" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeSeverityLevels" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "ResolveCase" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2013-04-15",
    "asyncClient" : "AWSSupportAsyncClient",
    "asyncClientBuilderClassName" : "AWSSupportAsyncClientBuilder",
    "asyncInterface" : "AWSSupportAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSSupportModuleInjector",
    "defaultEndpoint" : "https://support.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "support.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Support</fullname> <p>The <i>AWS Support API Reference</i> is intended for programmers who need detailed information about the AWS Support operations and data types. You can use the API to manage your support cases programmatically. The AWS Support API uses HTTP methods that return results in JSON format.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note> <p>The AWS Support service also exposes a set of <a href=\"http://aws.amazon.com/premiumsupport/trustedadvisor/\">AWS Trusted Advisor</a> features. You can retrieve a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks.</p> <p>The following list describes the AWS Support case management operations:</p> <ul> <li> <p> Service names, issue categories, and available severity levels - The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return AWS service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> operation.</p> </li> <li> <p> Case creation, case details, and case resolution - The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create AWS Support cases, retrieve information about cases, and resolve cases.</p> </li> <li> <p> Case communication - The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to AWS Support cases.</p> </li> </ul> <p>The following list describes the operations available from the AWS Support service for Trusted Advisor:</p> <ul> <li> <p> <a>DescribeTrustedAdvisorChecks</a> returns the list of checks that run against your AWS resources.</p> </li> <li> <p>Using the <code>checkId</code> for a specific check returned by <a>DescribeTrustedAdvisorChecks</a>, you can call <a>DescribeTrustedAdvisorCheckResult</a> to obtain the results for the check that you specified.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckSummaries</a> returns summarized results for one or more Trusted Advisor checks.</p> </li> <li> <p> <a>RefreshTrustedAdvisorCheck</a> requests that Trusted Advisor rerun a specified check.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> reports the refresh status of one or more checks.</p> </li> </ul> <p>For authentication of requests, AWS Support uses <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>See <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/Welcome.html\">About the AWS Support API</a> in the <i>AWS Support User Guide</i> for information about how to use this service to create and manage your support cases, and how to call Trusted Advisor for results of checks on your resources.</p>",
    "endpointPrefix" : "support",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.support",
    "packagePath" : "com/amazonaws/services/support",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Support",
    "serviceId" : "Support",
    "serviceName" : "AWS Support",
    "signingName" : "support",
    "smokeTestsPackageName" : "com.amazonaws.services.support.smoketests",
    "syncClient" : "AWSSupportClient",
    "syncClientBuilderClassName" : "AWSSupportClientBuilder",
    "syncInterface" : "AWSSupport",
    "uid" : "support-2013-04-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddAttachmentsToSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddAttachmentsToSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddAttachmentsToSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddAttachmentsToSetRequest, AddAttachmentsToSetResult>",
      "asyncReturnType" : "AddAttachmentsToSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more attachments to an attachment set. </p> <p>An attachment set is a temporary container for attachments that you add to a case or case communication. The set is available for 1 hour after it's created. The <code>expiryTime</code> returned in the response is when the set expires. </p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetIdNotFoundException",
        "documentation" : "<p>An attachment set with the specified ID could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetExpiredException",
        "documentation" : "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetSizeLimitExceededException",
        "documentation" : "<p>A limit for the size of an attachment set has been exceeded. The limits are three attachments and 5 MB per attachment.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentLimitExceededException",
        "documentation" : "<p>The limit for the number of attachment sets created in a short period of time has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddAttachmentsToSetRequest",
        "variableName" : "addAttachmentsToSetRequest",
        "variableType" : "AddAttachmentsToSetRequest",
        "documentation" : "",
        "simpleType" : "AddAttachmentsToSetRequest",
        "variableSetterType" : "AddAttachmentsToSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addAttachmentsToSet",
      "operationName" : "AddAttachmentsToSet",
      "returnType" : {
        "returnType" : "AddAttachmentsToSetResult",
        "documentation" : "<p>The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.</p>"
      },
      "syncReturnType" : "AddAttachmentsToSetResult"
    },
    "AddCommunicationToCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddCommunicationToCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddCommunicationToCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddCommunicationToCaseRequest, AddCommunicationToCaseResult>",
      "asyncReturnType" : "AddCommunicationToCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds additional customer communication to an AWS Support case. Use the <code>caseId</code> parameter to identify the case to which to add communication. You can list a set of email addresses to copy on the communication by using the <code>ccEmailAddresses</code> parameter. The <code>communicationBody</code> value contains the text of the communication.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>caseId</code> couldn't be located.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetIdNotFoundException",
        "documentation" : "<p>An attachment set with the specified ID could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetExpiredException",
        "documentation" : "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddCommunicationToCaseRequest",
        "variableName" : "addCommunicationToCaseRequest",
        "variableType" : "AddCommunicationToCaseRequest",
        "documentation" : "",
        "simpleType" : "AddCommunicationToCaseRequest",
        "variableSetterType" : "AddCommunicationToCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addCommunicationToCase",
      "operationName" : "AddCommunicationToCase",
      "returnType" : {
        "returnType" : "AddCommunicationToCaseResult",
        "documentation" : "<p>The result of the <a>AddCommunicationToCase</a> operation.</p>"
      },
      "syncReturnType" : "AddCommunicationToCaseResult"
    },
    "CreateCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCaseRequest, CreateCaseResult>",
      "asyncReturnType" : "CreateCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a case in the AWS Support Center. This operation is similar to how you create a case in the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> <p>The AWS Support API doesn't support requesting service limit increases. You can submit a service limit increase in the following ways: </p> <ul> <li> <p>Submit a request from the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> </li> <li> <p>Use the Service Quotas <a href=\"https://docs.aws.amazon.com/servicequotas/2019-06-24/apireference/API_RequestServiceQuotaIncrease.html\">RequestServiceQuotaIncrease</a> operation.</p> </li> </ul> <p>A successful <code>CreateCase</code> request returns an AWS Support case number. You can use the <a>DescribeCases</a> operation and specify the case number to get existing AWS Support cases. After you create a case, use the <a>AddCommunicationToCase</a> operation to add additional communication or attachments to an existing case.</p> <p>The <code>caseId</code> is separate from the <code>displayId</code> that appears in the <a href=\"https://console.aws.amazon.com/support\">AWS Support Center</a>. Use the <a>DescribeCases</a> operation to get the <code>displayId</code>.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CaseCreationLimitExceededException",
        "documentation" : "<p>The case creation limit for the account has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetIdNotFoundException",
        "documentation" : "<p>An attachment set with the specified ID could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentSetExpiredException",
        "documentation" : "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCaseRequest",
        "variableName" : "createCaseRequest",
        "variableType" : "CreateCaseRequest",
        "documentation" : "",
        "simpleType" : "CreateCaseRequest",
        "variableSetterType" : "CreateCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCase",
      "operationName" : "CreateCase",
      "returnType" : {
        "returnType" : "CreateCaseResult",
        "documentation" : "<p>The support case ID returned by a successful completion of the <a>CreateCase</a> operation.</p>"
      },
      "syncReturnType" : "CreateCaseResult"
    },
    "DescribeAttachment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAttachmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAttachmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAttachmentRequest, DescribeAttachmentResult>",
      "asyncReturnType" : "DescribeAttachmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the attachment that has the specified ID. Attachments can include screenshots, error logs, or other files that describe your issue. Attachment IDs are generated by the case management system when you add an attachment to a case or case communication. Attachment IDs are returned in the <a>AttachmentDetails</a> objects that are returned by the <a>DescribeCommunications</a> operation.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DescribeAttachmentLimitExceededException",
        "documentation" : "<p>The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AttachmentIdNotFoundException",
        "documentation" : "<p>An attachment with the specified ID could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAttachmentRequest",
        "variableName" : "describeAttachmentRequest",
        "variableType" : "DescribeAttachmentRequest",
        "documentation" : "",
        "simpleType" : "DescribeAttachmentRequest",
        "variableSetterType" : "DescribeAttachmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAttachment",
      "operationName" : "DescribeAttachment",
      "returnType" : {
        "returnType" : "DescribeAttachmentResult",
        "documentation" : "<p>The content and file name of the attachment returned by the <a>DescribeAttachment</a> operation.</p>"
      },
      "syncReturnType" : "DescribeAttachmentResult"
    },
    "DescribeCases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCasesRequest, DescribeCasesResult>",
      "asyncReturnType" : "DescribeCasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of cases that you specify by passing one or more case IDs. You can use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter the cases by date. You can set values for the <code>includeResolvedCases</code> and <code>includeCommunications</code> parameters to specify how much information to return.</p> <p>The response returns the following in JSON format:</p> <ul> <li> <p>One or more <a href=\"https://docs.aws.amazon.com/awssupport/latest/APIReference/API_CaseDetails.html\">CaseDetails</a> data types.</p> </li> <li> <p>One or more <code>nextToken</code> values, which specify where to paginate the returned records represented by the <code>CaseDetails</code> objects.</p> </li> </ul> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request might return an error.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>caseId</code> couldn't be located.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCasesRequest",
        "variableName" : "describeCasesRequest",
        "variableType" : "DescribeCasesRequest",
        "documentation" : "",
        "simpleType" : "DescribeCasesRequest",
        "variableSetterType" : "DescribeCasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCases",
      "operationName" : "DescribeCases",
      "returnType" : {
        "returnType" : "DescribeCasesResult",
        "documentation" : "<p>Returns an array of <a href=\"https://docs.aws.amazon.com/awssupport/latest/APIReference/API_CaseDetails.html\">CaseDetails</a> objects and a <code>nextToken</code> that defines a point for pagination in the result set.</p>"
      },
      "syncReturnType" : "DescribeCasesResult"
    },
    "DescribeCommunications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCommunicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCommunicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCommunicationsRequest, DescribeCommunicationsResult>",
      "asyncReturnType" : "DescribeCommunicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns communications and attachments for one or more support cases. Use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter by date. You can use the <code>caseId</code> parameter to restrict the results to a specific case.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>You can use the <code>maxResults</code> and <code>nextToken</code> parameters to control the pagination of the results. Set <code>maxResults</code> to the number of cases that you want to display on each page, and use <code>nextToken</code> to specify the resumption of pagination.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>caseId</code> couldn't be located.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCommunicationsRequest",
        "variableName" : "describeCommunicationsRequest",
        "variableType" : "DescribeCommunicationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeCommunicationsRequest",
        "variableSetterType" : "DescribeCommunicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCommunications",
      "operationName" : "DescribeCommunications",
      "returnType" : {
        "returnType" : "DescribeCommunicationsResult",
        "documentation" : "<p>The communications returned by the <a>DescribeCommunications</a> operation.</p>"
      },
      "syncReturnType" : "DescribeCommunicationsResult"
    },
    "DescribeServices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServicesRequest, DescribeServicesResult>",
      "asyncReturnType" : "DescribeServicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current list of AWS services and a list of service categories for each service. You then use service names and categories in your <a>CreateCase</a> requests. Each AWS service has its own set of categories.</p> <p>The service codes and category codes correspond to the values that appear in the <b>Service</b> and <b>Category</b> lists on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. The values in those fields don't necessarily match the service codes and categories returned by the <code>DescribeServices</code> operation. Always use the service codes and categories that the <code>DescribeServices</code> operation returns, so that you have the most recent set of service and category codes.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeServicesRequest",
        "variableName" : "describeServicesRequest",
        "variableType" : "DescribeServicesRequest",
        "documentation" : "",
        "simpleType" : "DescribeServicesRequest",
        "variableSetterType" : "DescribeServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeServices",
      "operationName" : "DescribeServices",
      "returnType" : {
        "returnType" : "DescribeServicesResult",
        "documentation" : "<p>The list of AWS services returned by the <a>DescribeServices</a> operation.</p>"
      },
      "syncReturnType" : "DescribeServicesResult"
    },
    "DescribeSeverityLevels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSeverityLevelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSeverityLevelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSeverityLevelsRequest, DescribeSeverityLevelsResult>",
      "asyncReturnType" : "DescribeSeverityLevelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of severity levels that you can assign to a support case. The severity level for a case is also a field in the <a>CaseDetails</a> data type that you include for a <a>CreateCase</a> request.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSeverityLevelsRequest",
        "variableName" : "describeSeverityLevelsRequest",
        "variableType" : "DescribeSeverityLevelsRequest",
        "documentation" : "",
        "simpleType" : "DescribeSeverityLevelsRequest",
        "variableSetterType" : "DescribeSeverityLevelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSeverityLevels",
      "operationName" : "DescribeSeverityLevels",
      "returnType" : {
        "returnType" : "DescribeSeverityLevelsResult",
        "documentation" : "<p>The list of severity levels returned by the <a>DescribeSeverityLevels</a> operation.</p>"
      },
      "syncReturnType" : "DescribeSeverityLevelsResult"
    },
    "DescribeTrustedAdvisorCheckRefreshStatuses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorCheckRefreshStatusesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorCheckRefreshStatusesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorCheckRefreshStatusesRequest, DescribeTrustedAdvisorCheckRefreshStatusesResult>",
      "asyncReturnType" : "DescribeTrustedAdvisorCheckRefreshStatusesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the refresh status of the AWS Trusted Advisor checks that have the specified check IDs. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>Some checks are refreshed automatically, and you can't return their refresh statuses by using the <code>DescribeTrustedAdvisorCheckRefreshStatuses</code> operation. If you call this operation for these checks, you might see an <code>InvalidParameterValue</code> error.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest",
        "variableName" : "describeTrustedAdvisorCheckRefreshStatusesRequest",
        "variableType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest",
        "documentation" : "",
        "simpleType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest",
        "variableSetterType" : "DescribeTrustedAdvisorCheckRefreshStatusesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrustedAdvisorCheckRefreshStatuses",
      "operationName" : "DescribeTrustedAdvisorCheckRefreshStatuses",
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorCheckRefreshStatusesResult",
        "documentation" : "<p>The statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> operation.</p>"
      },
      "syncReturnType" : "DescribeTrustedAdvisorCheckRefreshStatusesResult"
    },
    "DescribeTrustedAdvisorCheckResult" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorCheckResultResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorCheckResultResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorCheckResultRequest, DescribeTrustedAdvisorCheckResultResult>",
      "asyncReturnType" : "DescribeTrustedAdvisorCheckResultResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the results of the AWS Trusted Advisor check that has the specified check ID. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which contains these three objects:</p> <ul> <li> <p> <a>TrustedAdvisorCategorySpecificSummary</a> </p> </li> <li> <p> <a>TrustedAdvisorResourceDetail</a> </p> </li> <li> <p> <a>TrustedAdvisorResourcesSummary</a> </p> </li> </ul> <p>In addition, the response contains these fields:</p> <ul> <li> <p> <b>status</b> - The alert status of the check can be <code>ok</code> (green), <code>warning</code> (yellow), <code>error</code> (red), or <code>not_available</code>.</p> </li> <li> <p> <b>timestamp</b> - The time of the last refresh of the check.</p> </li> <li> <p> <b>checkId</b> - The unique identifier for the check.</p> </li> </ul> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTrustedAdvisorCheckResultRequest",
        "variableName" : "describeTrustedAdvisorCheckResultRequest",
        "variableType" : "DescribeTrustedAdvisorCheckResultRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeTrustedAdvisorCheckResultRequest",
        "variableSetterType" : "DescribeTrustedAdvisorCheckResultRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrustedAdvisorCheckResult",
      "operationName" : "DescribeTrustedAdvisorCheckResult",
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorCheckResultResult",
        "documentation" : "<p>The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a> operation.</p>"
      },
      "syncReturnType" : "DescribeTrustedAdvisorCheckResultResult"
    },
    "DescribeTrustedAdvisorCheckSummaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorCheckSummariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorCheckSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorCheckSummariesRequest, DescribeTrustedAdvisorCheckSummariesResult>",
      "asyncReturnType" : "DescribeTrustedAdvisorCheckSummariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the results for the AWS Trusted Advisor check summaries for the check IDs that you specified. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>The response contains an array of <a>TrustedAdvisorCheckSummary</a> objects.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTrustedAdvisorCheckSummariesRequest",
        "variableName" : "describeTrustedAdvisorCheckSummariesRequest",
        "variableType" : "DescribeTrustedAdvisorCheckSummariesRequest",
        "documentation" : "",
        "simpleType" : "DescribeTrustedAdvisorCheckSummariesRequest",
        "variableSetterType" : "DescribeTrustedAdvisorCheckSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrustedAdvisorCheckSummaries",
      "operationName" : "DescribeTrustedAdvisorCheckSummaries",
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorCheckSummariesResult",
        "documentation" : "<p>The summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a> operation.</p>"
      },
      "syncReturnType" : "DescribeTrustedAdvisorCheckSummariesResult"
    },
    "DescribeTrustedAdvisorChecks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustedAdvisorChecksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustedAdvisorChecksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustedAdvisorChecksRequest, DescribeTrustedAdvisorChecksResult>",
      "asyncReturnType" : "DescribeTrustedAdvisorChecksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about all available AWS Trusted Advisor checks, including the name, ID, category, description, and metadata. You must specify a language code. The AWS Support API currently supports English (\"en\") and Japanese (\"ja\"). The response contains a <a>TrustedAdvisorCheckDescription</a> object for each check. You must set the AWS Region to us-east-1.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> <li> <p>The names and descriptions for Trusted Advisor checks are subject to change. We recommend that you specify the check ID in your code to uniquely identify a check.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTrustedAdvisorChecksRequest",
        "variableName" : "describeTrustedAdvisorChecksRequest",
        "variableType" : "DescribeTrustedAdvisorChecksRequest",
        "documentation" : "",
        "simpleType" : "DescribeTrustedAdvisorChecksRequest",
        "variableSetterType" : "DescribeTrustedAdvisorChecksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrustedAdvisorChecks",
      "operationName" : "DescribeTrustedAdvisorChecks",
      "returnType" : {
        "returnType" : "DescribeTrustedAdvisorChecksResult",
        "documentation" : "<p>Information about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a> operation.</p>"
      },
      "syncReturnType" : "DescribeTrustedAdvisorChecksResult"
    },
    "RefreshTrustedAdvisorCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RefreshTrustedAdvisorCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RefreshTrustedAdvisorCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RefreshTrustedAdvisorCheckRequest, RefreshTrustedAdvisorCheckResult>",
      "asyncReturnType" : "RefreshTrustedAdvisorCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Refreshes the AWS Trusted Advisor check that you specify using the check ID. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <note> <p>Some checks are refreshed automatically. If you call the <code>RefreshTrustedAdvisorCheck</code> operation to refresh them, you might see the <code>InvalidParameterValue</code> error.</p> </note> <p>The response contains a <a>TrustedAdvisorCheckRefreshStatus</a> object.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RefreshTrustedAdvisorCheckRequest",
        "variableName" : "refreshTrustedAdvisorCheckRequest",
        "variableType" : "RefreshTrustedAdvisorCheckRequest",
        "documentation" : "<p/>",
        "simpleType" : "RefreshTrustedAdvisorCheckRequest",
        "variableSetterType" : "RefreshTrustedAdvisorCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "refreshTrustedAdvisorCheck",
      "operationName" : "RefreshTrustedAdvisorCheck",
      "returnType" : {
        "returnType" : "RefreshTrustedAdvisorCheckResult",
        "documentation" : "<p>The current refresh status of a Trusted Advisor check.</p>"
      },
      "syncReturnType" : "RefreshTrustedAdvisorCheckResult"
    },
    "ResolveCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResolveCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResolveCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResolveCaseRequest, ResolveCaseResult>",
      "asyncReturnType" : "ResolveCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resolves a support case. This operation takes a <code>caseId</code> and returns the initial and final state of the case.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the AWS Support API. </p> </li> <li> <p>If you call the AWS Support API from an account that does not have a Business or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>.</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>An internal server error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CaseIdNotFoundException",
        "documentation" : "<p>The requested <code>caseId</code> couldn't be located.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResolveCaseRequest",
        "variableName" : "resolveCaseRequest",
        "variableType" : "ResolveCaseRequest",
        "documentation" : "",
        "simpleType" : "ResolveCaseRequest",
        "variableSetterType" : "ResolveCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resolveCase",
      "operationName" : "ResolveCase",
      "returnType" : {
        "returnType" : "ResolveCaseResult",
        "documentation" : "<p>The status of the case returned by the <a>ResolveCase</a> operation.</p>"
      },
      "syncReturnType" : "ResolveCaseResult"
    }
  },
  "shapes" : {
    "AddAttachmentsToSetRequest" : {
      "c2jName" : "AddAttachmentsToSetRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.support.request.AddAttachmentsToSetRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddAttachmentsToSet",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSSupport_20130415.AddAttachmentsToSet",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "attachmentSetId",
        "c2jShape" : "AttachmentSetId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttachmentSetId",
        "getterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@return The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.*/",
        "getterMethodName" : "getAttachmentSetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "attachmentSetId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "attachmentSetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AttachmentSetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.*/",
        "setterMethodName" : "setAttachmentSetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attachmentSetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attachmentSetId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "attachments",
        "c2jShape" : "Attachments",
        "deprecated" : false,
        "documentation" : "<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>\n@param attachments One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttachments",
        "getterDocumentation" : "/**<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>\n@return One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.*/",
        "getterMethodName" : "getAttachments",
        "getterModel" : {
          "returnType" : "java.util.List<Attachment>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "attachments",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "attachments",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Attachment",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Attachment",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Attachment",
              "variableName" : "member",
              "variableType" : "Attachment",
              "documentation" : "",
              "simpleType" : "Attachment",
              "variableSetterType" : "Attachment"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Attachment",
              "variableName" : "member",
              "variableType" : "Attachment",
              "documentation" : "",
              "simpleType" : "Attachment",
              "variableSetterType" : "Attachment"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Attachment",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Attachment",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
          "templateType" : "java.util.List<Attachment>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Attachments",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>\n@param attachments One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.*/",
        "setterMethodName" : "setAttachments",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
          "variableName" : "attachments",
          "variableType" : "java.util.List<Attachment>",
          "documentation" : "",
          "simpleType" : "List<Attachment>",
          "variableSetterType" : "java.util.Collection<Attachment>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttachments(java.util.Collection)} or {@link #withAttachments(java.util.Collection)} if you want to override the existing values.</p>\n@param attachments One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
          "variableName" : "attachments",
          "variableType" : "java.util.List<Attachment>",
          "documentation" : "<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>",
          "simpleType" : "List<Attachment>",
          "variableSetterType" : "java.util.Collection<Attachment>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AttachmentSetId" : {
          "c2jName" : "attachmentSetId",
          "c2jShape" : "AttachmentSetId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttachmentSetId",
          "getterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@return The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.*/",
          "getterMethodName" : "getAttachmentSetId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "attachmentSetId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "attachmentSetId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AttachmentSetId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.*/",
          "setterMethodName" : "setAttachmentSetId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "attachmentSetId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "attachmentSetId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Attachments" : {
          "c2jName" : "attachments",
          "c2jShape" : "Attachments",
          "deprecated" : false,
          "documentation" : "<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>\n@param attachments One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttachments",
          "getterDocumentation" : "/**<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>\n@return One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.*/",
          "getterMethodName" : "getAttachments",
          "getterModel" : {
            "returnType" : "java.util.List<Attachment>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "attachments",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "attachments",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Attachment",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Attachment",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Attachment",
                "variableName" : "member",
                "variableType" : "Attachment",
                "documentation" : "",
                "simpleType" : "Attachment",
                "variableSetterType" : "Attachment"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Attachment",
                "variableName" : "member",
                "variableType" : "Attachment",
                "documentation" : "",
                "simpleType" : "Attachment",
                "variableSetterType" : "Attachment"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Attachment",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Attachment",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
            "templateType" : "java.util.List<Attachment>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Attachments",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>\n@param attachments One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.*/",
          "setterMethodName" : "setAttachments",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
            "variableName" : "attachments",
            "variableType" : "java.util.List<Attachment>",
            "documentation" : "",
            "simpleType" : "List<Attachment>",
            "variableSetterType" : "java.util.Collection<Attachment>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttachments(java.util.Collection)} or {@link #withAttachments(java.util.Collection)} if you want to override the existing values.</p>\n@param attachments One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Attachment>",
            "variableName" : "attachments",
            "variableType" : "java.util.List<Attachment>",
            "documentation" : "<p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>",
            "simpleType" : "List<Attachment>",
            "variableSetterType" : "java.util.Collection<Attachment>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.support.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "attachments" ],
      "shapeName" : "AddAttachmentsToSetRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddAttachmentsToSetRequest",
        "variableName" : "addAttachmentsToSetRequest",
        "variableType" : "AddAttachmentsToSetRequest",
        "documentation" : null,
        "simpleType" : "AddAttachmentsToSetRequest",
        "variableSetterType" : "AddAttachmentsToSetRequest"
      },
      "wrapper" : false
    },
    "AddAttachmentsToSetResult" : {
      "c2jName" : "AddAttachmentsToSetResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.support.response.AddAttachmentsToSetResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "attachmentSetId",
        "c2jShape" : "AttachmentSetId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttachmentSetId",
        "getterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@return The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.*/",
        "getterMethodName" : "getAttachmentSetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "attachmentSetId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "attachmentSetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AttachmentSetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.*/",
        "setterMethodName" : "setAttachmentSetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attachmentSetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attachmentSetId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "expiryTime",
        "c2jShape" : "ExpiryTime",
        "deprecated" : false,
        "documentation" : "<p>The time and date when the attachment set expires.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@param expiryTime The time and date when the attachment set expires.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExpiryTime",
        "getterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@return The time and date when the attachment set expires.*/",
        "getterMethodName" : "getExpiryTime",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "expiryTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "expiryTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ExpiryTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@param expiryTime The time and date when the attachment set expires.*/",
        "setterMethodName" : "setExpiryTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "expiryTime",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time and date when the attachment set expires.</p>\n@param expiryTime The time and date when the attachment set expires.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "expiryTime",
          "variableType" : "String",
          "documentation" : "<p>The time and date when the attachment set expires.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AttachmentSetId" : {
          "c2jName" : "attachmentSetId",
          "c2jShape" : "AttachmentSetId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttachmentSetId",
          "getterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@return The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.*/",
          "getterMethodName" : "getAttachmentSetId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "attachmentSetId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "attachmentSetId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AttachmentSetId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.*/",
          "setterMethodName" : "setAttachmentSetId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "attachmentSetId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>\n@param attachmentSetId The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "attachmentSetId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ExpiryTime" : {
[...]
