{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-08-20",
    "asyncClient" : "AWSSupportAppAsyncClient",
    "asyncClientBuilderClassName" : "AWSSupportAppAsyncClientBuilder",
    "asyncInterface" : "AWSSupportAppAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSSupportAppModuleInjector",
    "defaultEndpoint" : "supportapp.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "supportapp.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p><fullname>Amazon Web Services Support App in Slack</fullname> <p>You can use the Amazon Web Services Support App in Slack API to manage your support cases in Slack for your Amazon Web Services account. After you configure your Slack workspace and channel with the Amazon Web Services Support App, you can perform the following tasks directly in your Slack channel:</p> <ul> <li> <p>Create, search, update, and resolve your support cases</p> </li> <li> <p>Request service quota increases for your account</p> </li> <li> <p>Invite Amazon Web Services Support agents to your channel so that you can chat directly about your support cases</p> </li> </ul> <p>For more information about how to perform these actions in Slack, see the following documentation in the <i>Amazon Web Services Support User Guide</i>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/aws-support-app-for-slack.html\">Amazon Web Services Support App in Slack</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/joining-a-live-chat-session.html\">Joining a live chat session with Amazon Web Services Support</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/service-quota-increase.html\">Requesting service quota increases</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-commands.html\">Amazon Web Services Support App commands in Slack</a> </p> </li> </ul> <p>You can also use the Amazon Web Services Management Console instead of the Amazon Web Services Support App API to manage your Slack configurations. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/authorize-slack-workspace.html\">Authorize a Slack workspace to enable the Amazon Web Services Support App</a>.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the Amazon Web Services Support App API. </p> </li> <li> <p>For more information about the Amazon Web Services Support App endpoints, see the <a href=\"https://docs.aws.amazon.com/general/latest/gr/awssupport.html#awssupport_app_region\">Amazon Web Services Support App in Slack endpoints</a> in the <i>Amazon Web Services General Reference</i>.</p> </li> </ul> </note></p>",
    "endpointPrefix" : "supportapp",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.supportapp",
    "packagePath" : "com/amazonaws/services/supportapp",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "SupportApp",
    "serviceFullName" : "AWS Support App",
    "serviceId" : "Support App",
    "serviceName" : "SupportApp",
    "signingName" : "supportapp",
    "smokeTestsPackageName" : "com.amazonaws.services.supportapp.smoketests",
    "syncClient" : "AWSSupportAppClient",
    "syncClientBuilderClassName" : "AWSSupportAppClientBuilder",
    "syncInterface" : "AWSSupportApp",
    "uid" : "support-app-2021-08-20",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateSlackChannelConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSlackChannelConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSlackChannelConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSlackChannelConfigurationRequest, CreateSlackChannelConfigurationResult>",
      "asyncReturnType" : "CreateSlackChannelConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Slack channel configuration for your Amazon Web Services account.</p> <note> <ul> <li> <p>You can add up to 5 Slack workspaces for your account.</p> </li> <li> <p>You can add up to 20 Slack channels for your account.</p> </li> </ul> </note> <p>A Slack channel can have up to 100 Amazon Web Services accounts. This means that only 100 accounts can add the same Slack channel to the Amazon Web Services Support App. We recommend that you only add the accounts that you need to manage support cases for your organization. This can reduce the notifications about case updates that you receive in the Slack channel.</p> <note> <p>We recommend that you choose a private Slack channel so that only members in that channel have read and write access to your support cases. Anyone in your Slack channel can create, update, or resolve support cases for your account. Users require an invitation to join private channels. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your Service Quotas request exceeds the quota for the service. For example, your Service Quotas request to Amazon Web Services Support App might exceed the maximum number of workspaces or channels per account, or the maximum number of accounts per Slack channel.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has a conflict. For example, you might receive this error if you try the following:</p> <ul> <li> <p>Add, update, or delete a Slack channel configuration before you add a Slack workspace to your Amazon Web Services account.</p> </li> <li> <p>Add a Slack channel configuration that already exists in your Amazon Web Services account.</p> </li> <li> <p>Delete a Slack channel configuration for a live chat channel.</p> </li> <li> <p>Delete a Slack workspace from your Amazon Web Services account that has an active live chat channel.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from an Amazon Web Services account that doesn't belong to an organization.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from a member account, but the management account hasn't registered that workspace yet for the organization.</p> </li> </ul>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request input doesn't meet the constraints that the Amazon Web Services Support App specifies.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSlackChannelConfigurationRequest",
        "variableName" : "createSlackChannelConfigurationRequest",
        "variableType" : "CreateSlackChannelConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateSlackChannelConfigurationRequest",
        "variableSetterType" : "CreateSlackChannelConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSlackChannelConfiguration",
      "operationName" : "CreateSlackChannelConfiguration",
      "returnType" : {
        "returnType" : "CreateSlackChannelConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSlackChannelConfigurationResult"
    },
    "DeleteAccountAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAccountAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAccountAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAccountAliasRequest, DeleteAccountAliasResult>",
      "asyncReturnType" : "DeleteAccountAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an alias for an Amazon Web Services account ID. The alias appears in the Amazon Web Services Support App page of the Amazon Web Services Support Center. The alias also appears in Slack messages from the Amazon Web Services Support App.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource is missing or doesn't exist, such as an account alias, Slack channel configuration, or Slack workspace configuration.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAccountAliasRequest",
        "variableName" : "deleteAccountAliasRequest",
        "variableType" : "DeleteAccountAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteAccountAliasRequest",
        "variableSetterType" : "DeleteAccountAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAccountAlias",
      "operationName" : "DeleteAccountAlias",
      "returnType" : {
        "returnType" : "DeleteAccountAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAccountAliasResult"
    },
    "DeleteSlackChannelConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSlackChannelConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSlackChannelConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSlackChannelConfigurationRequest, DeleteSlackChannelConfigurationResult>",
      "asyncReturnType" : "DeleteSlackChannelConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Slack channel configuration from your Amazon Web Services account. This operation doesn't delete your Slack channel.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has a conflict. For example, you might receive this error if you try the following:</p> <ul> <li> <p>Add, update, or delete a Slack channel configuration before you add a Slack workspace to your Amazon Web Services account.</p> </li> <li> <p>Add a Slack channel configuration that already exists in your Amazon Web Services account.</p> </li> <li> <p>Delete a Slack channel configuration for a live chat channel.</p> </li> <li> <p>Delete a Slack workspace from your Amazon Web Services account that has an active live chat channel.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from an Amazon Web Services account that doesn't belong to an organization.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from a member account, but the management account hasn't registered that workspace yet for the organization.</p> </li> </ul>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource is missing or doesn't exist, such as an account alias, Slack channel configuration, or Slack workspace configuration.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request input doesn't meet the constraints that the Amazon Web Services Support App specifies.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSlackChannelConfigurationRequest",
        "variableName" : "deleteSlackChannelConfigurationRequest",
        "variableType" : "DeleteSlackChannelConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSlackChannelConfigurationRequest",
        "variableSetterType" : "DeleteSlackChannelConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSlackChannelConfiguration",
      "operationName" : "DeleteSlackChannelConfiguration",
      "returnType" : {
        "returnType" : "DeleteSlackChannelConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSlackChannelConfigurationResult"
    },
    "DeleteSlackWorkspaceConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSlackWorkspaceConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSlackWorkspaceConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSlackWorkspaceConfigurationRequest, DeleteSlackWorkspaceConfigurationResult>",
      "asyncReturnType" : "DeleteSlackWorkspaceConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Slack workspace configuration from your Amazon Web Services account. This operation doesn't delete your Slack workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has a conflict. For example, you might receive this error if you try the following:</p> <ul> <li> <p>Add, update, or delete a Slack channel configuration before you add a Slack workspace to your Amazon Web Services account.</p> </li> <li> <p>Add a Slack channel configuration that already exists in your Amazon Web Services account.</p> </li> <li> <p>Delete a Slack channel configuration for a live chat channel.</p> </li> <li> <p>Delete a Slack workspace from your Amazon Web Services account that has an active live chat channel.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from an Amazon Web Services account that doesn't belong to an organization.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from a member account, but the management account hasn't registered that workspace yet for the organization.</p> </li> </ul>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource is missing or doesn't exist, such as an account alias, Slack channel configuration, or Slack workspace configuration.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request input doesn't meet the constraints that the Amazon Web Services Support App specifies.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSlackWorkspaceConfigurationRequest",
        "variableName" : "deleteSlackWorkspaceConfigurationRequest",
        "variableType" : "DeleteSlackWorkspaceConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteSlackWorkspaceConfigurationRequest",
        "variableSetterType" : "DeleteSlackWorkspaceConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSlackWorkspaceConfiguration",
      "operationName" : "DeleteSlackWorkspaceConfiguration",
      "returnType" : {
        "returnType" : "DeleteSlackWorkspaceConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSlackWorkspaceConfigurationResult"
    },
    "GetAccountAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountAliasRequest, GetAccountAliasResult>",
      "asyncReturnType" : "GetAccountAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the alias from an Amazon Web Services account ID. The alias appears in the Amazon Web Services Support App page of the Amazon Web Services Support Center. The alias also appears in Slack messages from the Amazon Web Services Support App.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountAliasRequest",
        "variableName" : "getAccountAliasRequest",
        "variableType" : "GetAccountAliasRequest",
        "documentation" : "",
        "simpleType" : "GetAccountAliasRequest",
        "variableSetterType" : "GetAccountAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountAlias",
      "operationName" : "GetAccountAlias",
      "returnType" : {
        "returnType" : "GetAccountAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountAliasResult"
    },
    "ListSlackChannelConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSlackChannelConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSlackChannelConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSlackChannelConfigurationsRequest, ListSlackChannelConfigurationsResult>",
      "asyncReturnType" : "ListSlackChannelConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Slack channel configurations for an Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSlackChannelConfigurationsRequest",
        "variableName" : "listSlackChannelConfigurationsRequest",
        "variableType" : "ListSlackChannelConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListSlackChannelConfigurationsRequest",
        "variableSetterType" : "ListSlackChannelConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSlackChannelConfigurations",
      "operationName" : "ListSlackChannelConfigurations",
      "returnType" : {
        "returnType" : "ListSlackChannelConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSlackChannelConfigurationsResult"
    },
    "ListSlackWorkspaceConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSlackWorkspaceConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSlackWorkspaceConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSlackWorkspaceConfigurationsRequest, ListSlackWorkspaceConfigurationsResult>",
      "asyncReturnType" : "ListSlackWorkspaceConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Slack workspace configurations for an Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSlackWorkspaceConfigurationsRequest",
        "variableName" : "listSlackWorkspaceConfigurationsRequest",
        "variableType" : "ListSlackWorkspaceConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListSlackWorkspaceConfigurationsRequest",
        "variableSetterType" : "ListSlackWorkspaceConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSlackWorkspaceConfigurations",
      "operationName" : "ListSlackWorkspaceConfigurations",
      "returnType" : {
        "returnType" : "ListSlackWorkspaceConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSlackWorkspaceConfigurationsResult"
    },
    "PutAccountAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAccountAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAccountAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAccountAliasRequest, PutAccountAliasResult>",
      "asyncReturnType" : "PutAccountAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates an individual alias for each Amazon Web Services account ID. The alias appears in the Amazon Web Services Support App page of the Amazon Web Services Support Center. The alias also appears in Slack messages from the Amazon Web Services Support App.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request input doesn't meet the constraints that the Amazon Web Services Support App specifies.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAccountAliasRequest",
        "variableName" : "putAccountAliasRequest",
        "variableType" : "PutAccountAliasRequest",
        "documentation" : "",
        "simpleType" : "PutAccountAliasRequest",
        "variableSetterType" : "PutAccountAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAccountAlias",
      "operationName" : "PutAccountAlias",
      "returnType" : {
        "returnType" : "PutAccountAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAccountAliasResult"
    },
    "RegisterSlackWorkspaceForOrganization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterSlackWorkspaceForOrganizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterSlackWorkspaceForOrganizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterSlackWorkspaceForOrganizationRequest, RegisterSlackWorkspaceForOrganizationResult>",
      "asyncReturnType" : "RegisterSlackWorkspaceForOrganizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers a Slack workspace for your Amazon Web Services account. To call this API, your account must be part of an organization in Organizations.</p> <p>If you're the <i>management account</i> and you want to register Slack workspaces for your organization, you must complete the following tasks:</p> <ol> <li> <p>Sign in to the <a href=\"https://console.aws.amazon.com/support/app\">Amazon Web Services Support Center</a> and authorize the Slack workspaces where you want your organization to have access to. See <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/authorize-slack-workspace.html\">Authorize a Slack workspace</a> in the <i>Amazon Web Services Support User Guide</i>.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API to authorize each Slack workspace for the organization.</p> </li> </ol> <p>After the management account authorizes the Slack workspace, member accounts can call this API to authorize the same Slack workspace for their individual accounts. Member accounts don't need to authorize the Slack workspace manually through the <a href=\"https://console.aws.amazon.com/support/app\">Amazon Web Services Support Center</a>.</p> <p>To use the Amazon Web Services Support App, each account must then complete the following tasks:</p> <ul> <li> <p>Create an Identity and Access Management (IAM) role with the required permission. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a>.</p> </li> <li> <p>Configure a Slack channel to use the Amazon Web Services Support App for support cases for that account. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/add-your-slack-channel.html\">Configuring a Slack channel</a>.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has a conflict. For example, you might receive this error if you try the following:</p> <ul> <li> <p>Add, update, or delete a Slack channel configuration before you add a Slack workspace to your Amazon Web Services account.</p> </li> <li> <p>Add a Slack channel configuration that already exists in your Amazon Web Services account.</p> </li> <li> <p>Delete a Slack channel configuration for a live chat channel.</p> </li> <li> <p>Delete a Slack workspace from your Amazon Web Services account that has an active live chat channel.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from an Amazon Web Services account that doesn't belong to an organization.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from a member account, but the management account hasn't registered that workspace yet for the organization.</p> </li> </ul>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource is missing or doesn't exist, such as an account alias, Slack channel configuration, or Slack workspace configuration.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request input doesn't meet the constraints that the Amazon Web Services Support App specifies.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterSlackWorkspaceForOrganizationRequest",
        "variableName" : "registerSlackWorkspaceForOrganizationRequest",
        "variableType" : "RegisterSlackWorkspaceForOrganizationRequest",
        "documentation" : "",
        "simpleType" : "RegisterSlackWorkspaceForOrganizationRequest",
        "variableSetterType" : "RegisterSlackWorkspaceForOrganizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerSlackWorkspaceForOrganization",
      "operationName" : "RegisterSlackWorkspaceForOrganization",
      "returnType" : {
        "returnType" : "RegisterSlackWorkspaceForOrganizationResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterSlackWorkspaceForOrganizationResult"
    },
    "UpdateSlackChannelConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSlackChannelConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSlackChannelConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSlackChannelConfigurationRequest, UpdateSlackChannelConfigurationResult>",
      "asyncReturnType" : "UpdateSlackChannelConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the configuration for a Slack channel, such as case update notifications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has a conflict. For example, you might receive this error if you try the following:</p> <ul> <li> <p>Add, update, or delete a Slack channel configuration before you add a Slack workspace to your Amazon Web Services account.</p> </li> <li> <p>Add a Slack channel configuration that already exists in your Amazon Web Services account.</p> </li> <li> <p>Delete a Slack channel configuration for a live chat channel.</p> </li> <li> <p>Delete a Slack workspace from your Amazon Web Services account that has an active live chat channel.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from an Amazon Web Services account that doesn't belong to an organization.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from a member account, but the management account hasn't registered that workspace yet for the organization.</p> </li> </ul>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource is missing or doesn't exist, such as an account alias, Slack channel configuration, or Slack workspace configuration.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Your request input doesn't meet the constraints that the Amazon Web Services Support App specifies.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSlackChannelConfigurationRequest",
        "variableName" : "updateSlackChannelConfigurationRequest",
        "variableType" : "UpdateSlackChannelConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateSlackChannelConfigurationRequest",
        "variableSetterType" : "UpdateSlackChannelConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSlackChannelConfiguration",
      "operationName" : "UpdateSlackChannelConfiguration",
      "returnType" : {
        "returnType" : "UpdateSlackChannelConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSlackChannelConfigurationResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.supportapp.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.supportapp.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountType" : {
      "c2jName" : "AccountType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "Management",
        "value" : "management"
      }, {
        "name" : "Member",
        "value" : "member"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.supportapp.enum.AccountType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.supportapp.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccountType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountType",
        "variableName" : "accountType",
        "variableType" : "AccountType",
        "documentation" : null,
        "simpleType" : "AccountType",
        "variableSetterType" : "AccountType"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Your request has a conflict. For example, you might receive this error if you try the following:</p> <ul> <li> <p>Add, update, or delete a Slack channel configuration before you add a Slack workspace to your Amazon Web Services account.</p> </li> <li> <p>Add a Slack channel configuration that already exists in your Amazon Web Services account.</p> </li> <li> <p>Delete a Slack channel configuration for a live chat channel.</p> </li> <li> <p>Delete a Slack workspace from your Amazon Web Services account that has an active live chat channel.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from an Amazon Web Services account that doesn't belong to an organization.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from a member account, but the management account hasn't registered that workspace yet for the organization.</p> </li> </ul>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.supportapp.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.supportapp.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateSlackChannelConfigurationRequest" : {
      "c2jName" : "CreateSlackChannelConfigurationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.supportapp.request.CreateSlackChannelConfigurationRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateSlackChannelConfiguration",
        "locationName" : null,
        "requestUri" : "/control/create-slack-channel-configuration",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "channelId",
        "c2jShape" : "channelId",
        "deprecated" : false,
        "documentation" : "<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>\n@param channelId The channel ID in Slack. This ID identifies a channel within a Slack workspace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChannelId",
        "getterDocumentation" : "/**<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>\n@return The channel ID in Slack. This ID identifies a channel within a Slack workspace.*/",
        "getterMethodName" : "getChannelId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "channelId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "channelId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChannelId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>\n@param channelId The channel ID in Slack. This ID identifies a channel within a Slack workspace.*/",
        "setterMethodName" : "setChannelId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>\n@param channelId The channel ID in Slack. This ID identifies a channel within a Slack workspace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelId",
          "variableType" : "String",
          "documentation" : "<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "channelName",
        "c2jShape" : "channelName",
        "deprecated" : false,
        "documentation" : "<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>\n@param channelName The name of the Slack channel that you configure for the Amazon Web Services Support App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChannelName",
        "getterDocumentation" : "/**<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>\n@return The name of the Slack channel that you configure for the Amazon Web Services Support App.*/",
        "getterMethodName" : "getChannelName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "channelName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "channelName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChannelName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>\n@param channelName The name of the Slack channel that you configure for the Amazon Web Services Support App.*/",
        "setterMethodName" : "setChannelName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>\n@param channelName The name of the Slack channel that you configure for the Amazon Web Services Support App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelName",
          "variableType" : "String",
          "documentation" : "<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "channelRoleArn",
        "c2jShape" : "roleArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>\n@param channelRoleArn The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChannelRoleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>\n@return The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.*/",
        "getterMethodName" : "getChannelRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "channelRoleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "channelRoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChannelRoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>\n@param channelRoleArn The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.*/",
        "setterMethodName" : "setChannelRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelRoleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>\n@param channelRoleArn The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "channelRoleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "notifyOnAddCorrespondenceToCase",
        "c2jShape" : "booleanValue",
        "deprecated" : false,
        "documentation" : "<p>Whether you want to get notified when a support case has a new correspondence.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Whether you want to get notified when a support case has a new correspondence.</p>\n@param notifyOnAddCorrespondenceToCase Whether you want to get notified when a support case has a new correspondence.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNotifyOnAddCorrespondenceToCase",
        "getterDocumentation" : "/**<p>Whether you want to get notified when a support case has a new correspondence.</p>\n@return Whether you want to get notified when a support case has a new correspondence.*/",
        "getterMethodName" : "getNotifyOnAddCorrespondenceToCase",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "notifyOnAddCorrespondenceToCase",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "notifyOnAddCorrespondenceToCase",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "NotifyOnAddCorrespondenceToCase",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Whether you want to get notified when a support case has a new correspondence.</p>\n@param notifyOnAddCorrespondenceToCase Whether you want to get notified when a support case has a new correspondence.*/",
        "setterMethodName" : "setNotifyOnAddCorrespondenceToCase",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "notifyOnAddCorrespondenceToCase",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Whether you want to get notified when a support case has a new correspondence.</p>\n@param notifyOnAddCorrespondenceToCase Whether you want to get notified when a support case has a new correspondence.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "notifyOnAddCorrespondenceToCase",
          "variableType" : "Boolean",
          "documentation" : "<p>Whether you want to get notified when a support case has a new correspondence.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "notifyOnCaseSeverity",
        "c2jShape" : "NotificationSeverityLevel",
        "deprecated" : false,
        "documentation" : "<p>The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p> </note>",
        "endpointDiscoveryId" : false,
        "enumType" : "NotificationSeverityLevel",
        "fluentSetterDocumentation" : "/**<p>The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p> </note>\n@param notifyOnCaseSeverity The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see NotificationSeverityLevel*/",
        "fluentSetterMethodName" : "withNotifyOnCaseSeverity",
        "getterDocumentation" : "/**<p>The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p> </note>\n@return The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p>\n@see NotificationSeverityLevel*/",
        "getterMethodName" : "getNotifyOnCaseSeverity",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "notifyOnCaseSeverity",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "notifyOnCaseSeverity",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NotifyOnCaseSeverity",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p> </note>\n@param notifyOnCaseSeverity The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p>\n@see NotificationSeverityLevel*/",
        "setterMethodName" : "setNotifyOnCaseSeverity",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "notifyOnCaseSeverity",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p> </note>\n@param notifyOnCaseSeverity The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see NotificationSeverityLevel*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "notifyOnCaseSeverity",
          "variableType" : "String",
          "documentation" : "<p>The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p> </note>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "notifyOnCreateOrReopenCase",
        "c2jShape" : "booleanValue",
        "deprecated" : false,
        "documentation" : "<p>Whether you want to get notified when a support case is created or reopened.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Whether you want to get notified when a support case is created or reopened.</p>\n@param notifyOnCreateOrReopenCase Whether you want to get notified when a support case is created or reopened.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNotifyOnCreateOrReopenCase",
        "getterDocumentation" : "/**<p>Whether you want to get notified when a support case is created or reopened.</p>\n@return Whether you want to get notified when a support case is created or reopened.*/",
        "getterMethodName" : "getNotifyOnCreateOrReopenCase",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "notifyOnCreateOrReopenCase",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "notifyOnCreateOrReopenCase",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "NotifyOnCreateOrReopenCase",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Whether you want to get notified when a support case is created or reopened.</p>\n@param notifyOnCreateOrReopenCase Whether you want to get notified when a support case is created or reopened.*/",
        "setterMethodName" : "setNotifyOnCreateOrReopenCase",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "notifyOnCreateOrReopenCase",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Whether you want to get notified when a support case is created or reopened.</p>\n@param notifyOnCreateOrReopenCase Whether you want to get notified when a support case is created or reopened.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "notifyOnCreateOrReopenCase",
          "variableType" : "Boolean",
          "documentation" : "<p>Whether you want to get notified when a support case is created or reopened.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "notifyOnResolveCase",
        "c2jShape" : "booleanValue",
        "deprecated" : false,
        "documentation" : "<p>Whether you want to get notified when a support case is resolved.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Whether you want to get notified when a support case is resolved.</p>\n@param notifyOnResolveCase Whether you want to get notified when a support case is resolved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNotifyOnResolveCase",
        "getterDocumentation" : "/**<p>Whether you want to get notified when a support case is resolved.</p>\n@return Whether you want to get notified when a support case is resolved.*/",
        "getterMethodName" : "getNotifyOnResolveCase",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "notifyOnResolveCase",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "notifyOnResolveCase",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "NotifyOnResolveCase",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Whether you want to get notified when a support case is resolved.</p>\n@param notifyOnResolveCase Whether you want to get notified when a support case is resolved.*/",
        "setterMethodName" : "setNotifyOnResolveCase",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "notifyOnResolveCase",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Whether you want to get notified when a support case is resolved.</p>\n@param notifyOnResolveCase Whether you want to get notified when a support case is resolved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "notifyOnResolveCase",
          "variableType" : "Boolean",
          "documentation" : "<p>Whether you want to get notified when a support case is resolved.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "teamId",
        "c2jShape" : "teamId",
        "deprecated" : false,
        "documentation" : "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>\n@param teamId The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTeamId",
        "getterDocumentation" : "/**<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>\n@return The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.*/",
        "getterMethodName" : "getTeamId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "teamId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "teamId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TeamId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>\n@param teamId The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.*/",
        "setterMethodName" : "setTeamId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "teamId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>\n@param teamId The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "teamId",
          "variableType" : "String",
          "documentation" : "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ChannelId" : {
          "c2jName" : "channelId",
          "c2jShape" : "channelId",
          "deprecated" : false,
          "documentation" : "<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>\n@param channelId The channel ID in Slack. This ID identifies a channel within a Slack workspace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChannelId",
          "getterDocumentation" : "/**<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>\n@return The channel ID in Slack. This ID identifies a channel within a Slack workspace.*/",
          "getterMethodName" : "getChannelId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "channelId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "channelId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChannelId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>\n@param channelId The channel ID in Slack. This ID identifies a channel within a Slack workspace.*/",
          "setterMethodName" : "setChannelId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>\n@param channelId The channel ID in Slack. This ID identifies a channel within a Slack workspace.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelId",
            "variableType" : "String",
            "documentation" : "<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ChannelName" : {
          "c2jName" : "channelName",
          "c2jShape" : "channelName",
          "deprecated" : false,
          "documentation" : "<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>\n@param channelName The name of the Slack channel that you configure for the Amazon Web Services Support App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChannelName",
          "getterDocumentation" : "/**<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>\n@return The name of the Slack channel that you configure for the Amazon Web Services Support App.*/",
          "getterMethodName" : "getChannelName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "channelName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "channelName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChannelName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>\n@param channelName The name of the Slack channel that you configure for the Amazon Web Services Support App.*/",
          "setterMethodName" : "setChannelName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>\n@param channelName The name of the Slack channel that you configure for the Amazon Web Services Support App.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelName",
            "variableType" : "String",
            "documentation" : "<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ChannelRoleArn" : {
          "c2jName" : "channelRoleArn",
          "c2jShape" : "roleArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>\n@param channelRoleArn The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChannelRoleArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>\n@return The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.*/",
          "getterMethodName" : "getChannelRoleArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "channelRoleArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "channelRoleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChannelRoleArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>\n@param channelRoleArn The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.*/",
          "setterMethodName" : "setChannelRoleArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelRoleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>\n@param channelRoleArn The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "channelRoleArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "NotifyOnAddCorrespondenceToCase" : {
          "c2jName" : "notifyOnAddCorrespondenceToCase",
          "c2jShape" : "booleanValue",
          "deprecated" : false,
          "documentation" : "<p>Whether you want to get notified when a support case has a new correspondence.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Whether you want to get notified when a support case has a new correspondence.</p>\n@param notifyOnAddCorrespondenceToCase Whether you want to get notified when a support case has a new correspondence.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNotifyOnAddCorrespondenceToCase",
          "getterDocumentation" : "/**<p>Whether you want to get notified when a support case has a new correspondence.</p>\n@return Whether you want to get notified when a support case has a new correspondence.*/",
          "getterMethodName" : "getNotifyOnAddCorrespondenceToCase",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "notifyOnAddCorrespondenceToCase",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "notifyOnAddCorrespondenceToCase",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "NotifyOnAddCorrespondenceToCase",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Whether you want to get notified when a support case has a new correspondence.</p>\n@param notifyOnAddCorrespondenceToCase Whether you want to get notified when a support case has a new correspondence.*/",
          "setterMethodName" : "setNotifyOnAddCorrespondenceToCase",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "notifyOnAddCorrespondenceToCase",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Whether you want to get notified when a support case has a new correspondence.</p>\n@param notifyOnAddCorrespondenceToCase Whether you want to get notified when a support case has a new correspondence.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "notifyOnAddCorrespondenceToCase",
            "variableType" : "Boolean",
            "documentation" : "<p>Whether you want to get notified when a support case has a new correspondence.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "NotifyOnCaseSeverity" : {
          "c2jName" : "notifyOnCaseSeverity",
          "c2jShape" : "NotificationSeverityLevel",
          "deprecated" : false,
[...]
