{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-10-11",
    "asyncClient" : "AWSSyntheticsAsyncClient",
    "asyncClientBuilderClassName" : "AWSSyntheticsAsyncClientBuilder",
    "asyncInterface" : "AWSSyntheticsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSSyntheticsModuleInjector",
    "defaultEndpoint" : "synthetics.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "synthetics.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon CloudWatch Synthetics</fullname> <p>You can use Amazon CloudWatch Synthetics to continually monitor your services. You can create and manage <i>canaries</i>, which are modular, lightweight scripts that monitor your endpoints and APIs from the outside-in. You can set up your canaries to run 24 hours a day, once per minute. The canaries help you check the availability and latency of your web services and troubleshoot anomalies by investigating load time data, screenshots of the UI, logs, and metrics. The canaries seamlessly integrate with CloudWatch ServiceLens to help you trace the causes of impacted nodes in your applications. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ServiceLens.html\">Using ServiceLens to Monitor the Health of Your Applications</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Before you create and manage canaries, be aware of the security considerations. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/servicelens_canaries_security.html\">Security Considerations for Synthetics Canaries</a>.</p>",
    "endpointPrefix" : "synthetics",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.synthetics",
    "packagePath" : "com/amazonaws/services/synthetics",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Synthetics",
    "serviceFullName" : "Synthetics",
    "serviceId" : "synthetics",
    "serviceName" : "Synthetics",
    "signingName" : "synthetics",
    "smokeTestsPackageName" : "com.amazonaws.services.synthetics.smoketests",
    "syncClient" : "AWSSyntheticsClient",
    "syncClientBuilderClassName" : "AWSSyntheticsClientBuilder",
    "syncInterface" : "AWSSynthetics",
    "uid" : "synthetics-2017-10-11",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateResourceRequest, AssociateResourceResult>",
      "asyncReturnType" : "AssociateResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a canary with a group. Using groups can help you with managing and automating your canaries, and you can also view aggregated run results and statistics for all canaries in a group. </p> <p>You must run this operation in the Region where the canary exists.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeded a service quota value.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResourceRequest",
        "variableName" : "associateResourceRequest",
        "variableType" : "AssociateResourceRequest",
        "documentation" : "",
        "simpleType" : "AssociateResourceRequest",
        "variableSetterType" : "AssociateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateResource",
      "operationName" : "AssociateResource",
      "returnType" : {
        "returnType" : "AssociateResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateResourceResult"
    },
    "CreateCanary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCanaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCanaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCanaryRequest, CreateCanaryResult>",
      "asyncReturnType" : "CreateCanaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a canary. Canaries are scripts that monitor your endpoints and APIs from the outside-in. Canaries help you check the availability and latency of your web services and troubleshoot anomalies by investigating load time data, screenshots of the UI, logs, and metrics. You can set up a canary to run continuously or just once. </p> <p>Do not use <code>CreateCanary</code> to modify an existing canary. Use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_UpdateCanary.html\">UpdateCanary</a> instead.</p> <p>To create canaries, you must have the <code>CloudWatchSyntheticsFullAccess</code> policy. If you are creating a new IAM role for the canary, you also need the <code>iam:CreateRole</code>, <code>iam:CreatePolicy</code> and <code>iam:AttachRolePolicy</code> permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Roles\">Necessary Roles and Permissions</a>.</p> <p>Do not include secrets or proprietary information in your canary names. The canary name makes up part of the Amazon Resource Name (ARN) for the canary, and the ARN is included in outbound calls over the internet. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/servicelens_canaries_security.html\">Security Considerations for Synthetics Canaries</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RequestEntityTooLargeException",
        "documentation" : "<p>One of the input resources is larger than is allowed.</p>",
        "httpStatusCode" : 413
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCanaryRequest",
        "variableName" : "createCanaryRequest",
        "variableType" : "CreateCanaryRequest",
        "documentation" : "",
        "simpleType" : "CreateCanaryRequest",
        "variableSetterType" : "CreateCanaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCanary",
      "operationName" : "CreateCanary",
      "returnType" : {
        "returnType" : "CreateCanaryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCanaryResult"
    },
    "CreateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupRequest, CreateGroupResult>",
      "asyncReturnType" : "CreateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a group which you can use to associate canaries with each other, including cross-Region canaries. Using groups can help you with managing and automating your canaries, and you can also view aggregated run results and statistics for all canaries in a group. </p> <p>Groups are global resources. When you create a group, it is replicated across Amazon Web Services Regions, and you can view it and add canaries to it from any Region. Although the group ARN format reflects the Region name where it was created, a group is not constrained to any Region. This means that you can put canaries from multiple Regions into the same group, and then use that group to view and manage all of those canaries in a single view.</p> <p>Groups are supported in all Regions except the Regions that are disabled by default. For more information about these Regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande-manage.html#rande-manage-enable\">Enabling a Region</a>.</p> <p>Each group can contain as many as 10 canaries. You can have as many as 20 groups in your account. Any single canary can be a member of up to 10 groups.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeded a service quota value.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGroupRequest",
        "variableName" : "createGroupRequest",
        "variableType" : "CreateGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateGroupRequest",
        "variableSetterType" : "CreateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroup",
      "operationName" : "CreateGroup",
      "returnType" : {
        "returnType" : "CreateGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGroupResult"
    },
    "DeleteCanary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCanaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCanaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCanaryRequest, DeleteCanaryResult>",
      "asyncReturnType" : "DeleteCanaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes the specified canary.</p> <p>If you specify <code>DeleteLambda</code> to <code>true</code>, CloudWatch Synthetics also deletes the Lambda functions and layers that are used by the canary.</p> <p>Other resources used and created by the canary are not automatically deleted. After you delete a canary that you do not intend to use again, you should also delete the following:</p> <ul> <li> <p>The CloudWatch alarms created for this canary. These alarms have a name of <code>Synthetics-SharpDrop-Alarm-<i>MyCanaryName</i> </code>.</p> </li> <li> <p>Amazon S3 objects and buckets, such as the canary's artifact location.</p> </li> <li> <p>IAM roles created for the canary. If they were created in the console, these roles have the name <code> role/service-role/CloudWatchSyntheticsRole-<i>MyCanaryName</i> </code>.</p> </li> <li> <p>CloudWatch Logs log groups created for the canary. These logs groups have the name <code>/aws/lambda/cwsyn-<i>MyCanaryName</i> </code>. </p> </li> </ul> <p>Before you delete a canary, you might want to use <code>GetCanary</code> to display the information about this canary. Make note of the information returned by this operation so that you can delete these resources after you delete the canary.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCanaryRequest",
        "variableName" : "deleteCanaryRequest",
        "variableType" : "DeleteCanaryRequest",
        "documentation" : "",
        "simpleType" : "DeleteCanaryRequest",
        "variableSetterType" : "DeleteCanaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCanary",
      "operationName" : "DeleteCanary",
      "returnType" : {
        "returnType" : "DeleteCanaryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCanaryResult"
    },
    "DeleteGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGroupRequest, DeleteGroupResult>",
      "asyncReturnType" : "DeleteGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a group. The group doesn't need to be empty to be deleted. If there are canaries in the group, they are not deleted when you delete the group. </p> <p>Groups are a global resource that appear in all Regions, but the request to delete a group must be made from its home Region. You can find the home Region of a group within its ARN.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGroupRequest",
        "variableName" : "deleteGroupRequest",
        "variableType" : "DeleteGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteGroupRequest",
        "variableSetterType" : "DeleteGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGroup",
      "operationName" : "DeleteGroup",
      "returnType" : {
        "returnType" : "DeleteGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGroupResult"
    },
    "DescribeCanaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCanariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCanariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCanariesRequest, DescribeCanariesResult>",
      "asyncReturnType" : "DescribeCanariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns a list of the canaries in your account, along with full details about each canary.</p> <p>This operation supports resource-level authorization using an IAM policy and the <code>Names</code> parameter. If you specify the <code>Names</code> parameter, the operation is successful only if you have authorization to view all the canaries that you specify in your request. If you do not have permission to view any of the canaries, the request fails with a 403 response.</p> <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an IAM policy that restricts which canaries that you are allowed to view. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\"> Limiting a user to viewing specific canaries</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCanariesRequest",
        "variableName" : "describeCanariesRequest",
        "variableType" : "DescribeCanariesRequest",
        "documentation" : "",
        "simpleType" : "DescribeCanariesRequest",
        "variableSetterType" : "DescribeCanariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCanaries",
      "operationName" : "DescribeCanaries",
      "returnType" : {
        "returnType" : "DescribeCanariesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCanariesResult"
    },
    "DescribeCanariesLastRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCanariesLastRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCanariesLastRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCanariesLastRunRequest, DescribeCanariesLastRunResult>",
      "asyncReturnType" : "DescribeCanariesLastRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to see information from the most recent run of each canary that you have created.</p> <p>This operation supports resource-level authorization using an IAM policy and the <code>Names</code> parameter. If you specify the <code>Names</code> parameter, the operation is successful only if you have authorization to view all the canaries that you specify in your request. If you do not have permission to view any of the canaries, the request fails with a 403 response.</p> <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an IAM policy that restricts which canaries that you are allowed to view. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\"> Limiting a user to viewing specific canaries</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCanariesLastRunRequest",
        "variableName" : "describeCanariesLastRunRequest",
        "variableType" : "DescribeCanariesLastRunRequest",
        "documentation" : "",
        "simpleType" : "DescribeCanariesLastRunRequest",
        "variableSetterType" : "DescribeCanariesLastRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCanariesLastRun",
      "operationName" : "DescribeCanariesLastRun",
      "returnType" : {
        "returnType" : "DescribeCanariesLastRunResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCanariesLastRunResult"
    },
    "DescribeRuntimeVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRuntimeVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRuntimeVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRuntimeVersionsRequest, DescribeRuntimeVersionsResult>",
      "asyncReturnType" : "DescribeRuntimeVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of Synthetics canary runtime versions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\"> Canary Runtime Versions</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRuntimeVersionsRequest",
        "variableName" : "describeRuntimeVersionsRequest",
        "variableType" : "DescribeRuntimeVersionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeRuntimeVersionsRequest",
        "variableSetterType" : "DescribeRuntimeVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRuntimeVersions",
      "operationName" : "DescribeRuntimeVersions",
      "returnType" : {
        "returnType" : "DescribeRuntimeVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRuntimeVersionsResult"
    },
    "DisassociateResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateResourceRequest, DisassociateResourceResult>",
      "asyncReturnType" : "DisassociateResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a canary from a group. You must run this operation in the Region where the canary exists.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateResourceRequest",
        "variableName" : "disassociateResourceRequest",
        "variableType" : "DisassociateResourceRequest",
        "documentation" : "",
        "simpleType" : "DisassociateResourceRequest",
        "variableSetterType" : "DisassociateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateResource",
      "operationName" : "DisassociateResource",
      "returnType" : {
        "returnType" : "DisassociateResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateResourceResult"
    },
    "GetCanary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCanaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCanaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCanaryRequest, GetCanaryResult>",
      "asyncReturnType" : "GetCanaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves complete information about one canary. You must specify the name of the canary that you want. To get a list of canaries and their names, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DescribeCanaries.html\">DescribeCanaries</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCanaryRequest",
        "variableName" : "getCanaryRequest",
        "variableType" : "GetCanaryRequest",
        "documentation" : "",
        "simpleType" : "GetCanaryRequest",
        "variableSetterType" : "GetCanaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCanary",
      "operationName" : "GetCanary",
      "returnType" : {
        "returnType" : "GetCanaryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCanaryResult"
    },
    "GetCanaryRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCanaryRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCanaryRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCanaryRunsRequest, GetCanaryRunsResult>",
      "asyncReturnType" : "GetCanaryRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of runs for a specified canary.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCanaryRunsRequest",
        "variableName" : "getCanaryRunsRequest",
        "variableType" : "GetCanaryRunsRequest",
        "documentation" : "",
        "simpleType" : "GetCanaryRunsRequest",
        "variableSetterType" : "GetCanaryRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCanaryRuns",
      "operationName" : "GetCanaryRuns",
      "returnType" : {
        "returnType" : "GetCanaryRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCanaryRunsResult"
    },
    "GetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupRequest, GetGroupResult>",
      "asyncReturnType" : "GetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about one group. Groups are a global resource, so you can use this operation from any Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGroupRequest",
        "variableName" : "getGroupRequest",
        "variableType" : "GetGroupRequest",
        "documentation" : "",
        "simpleType" : "GetGroupRequest",
        "variableSetterType" : "GetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroup",
      "operationName" : "GetGroup",
      "returnType" : {
        "returnType" : "GetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGroupResult"
    },
    "ListAssociatedGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssociatedGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssociatedGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssociatedGroupsRequest, ListAssociatedGroupsResult>",
      "asyncReturnType" : "ListAssociatedGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the groups that the specified canary is associated with. The canary that you specify must be in the current Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssociatedGroupsRequest",
        "variableName" : "listAssociatedGroupsRequest",
        "variableType" : "ListAssociatedGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListAssociatedGroupsRequest",
        "variableSetterType" : "ListAssociatedGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssociatedGroups",
      "operationName" : "ListAssociatedGroups",
      "returnType" : {
        "returnType" : "ListAssociatedGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssociatedGroupsResult"
    },
    "ListGroupResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupResourcesRequest, ListGroupResourcesResult>",
      "asyncReturnType" : "ListGroupResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns a list of the ARNs of the canaries that are associated with the specified group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGroupResourcesRequest",
        "variableName" : "listGroupResourcesRequest",
        "variableType" : "ListGroupResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListGroupResourcesRequest",
        "variableSetterType" : "ListGroupResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroupResources",
      "operationName" : "ListGroupResources",
      "returnType" : {
        "returnType" : "ListGroupResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupResourcesResult"
    },
    "ListGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupsRequest, ListGroupsResult>",
      "asyncReturnType" : "ListGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all groups in the account, displaying their names, unique IDs, and ARNs. The groups from all Regions are returned.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGroupsRequest",
        "variableName" : "listGroupsRequest",
        "variableType" : "ListGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListGroupsRequest",
        "variableSetterType" : "ListGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroups",
      "operationName" : "ListGroups",
      "returnType" : {
        "returnType" : "ListGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the tags associated with a canary or group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>There were too many simultaneous requests. Try the operation again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred. Try the operation again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartCanary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartCanaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartCanaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartCanaryRequest, StartCanaryResult>",
      "asyncReturnType" : "StartCanaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to run a canary that has already been created. The frequency of the canary runs is determined by the value of the canary's <code>Schedule</code>. To see a canary's schedule, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_GetCanary.html\">GetCanary</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartCanaryRequest",
        "variableName" : "startCanaryRequest",
        "variableType" : "StartCanaryRequest",
        "documentation" : "",
        "simpleType" : "StartCanaryRequest",
        "variableSetterType" : "StartCanaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startCanary",
      "operationName" : "StartCanary",
      "returnType" : {
        "returnType" : "StartCanaryResult",
        "documentation" : null
      },
      "syncReturnType" : "StartCanaryResult"
    },
    "StopCanary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopCanaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopCanaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopCanaryRequest, StopCanaryResult>",
      "asyncReturnType" : "StopCanaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the canary to prevent all future runs. If the canary is currently running,the run that is in progress completes on its own, publishes metrics, and uploads artifacts, but it is not recorded in Synthetics as a completed run.</p> <p>You can use <code>StartCanary</code> to start it running again with the canary’s current schedule at any point in the future. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopCanaryRequest",
        "variableName" : "stopCanaryRequest",
        "variableType" : "StopCanaryRequest",
        "documentation" : "",
        "simpleType" : "StopCanaryRequest",
        "variableSetterType" : "StopCanaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopCanary",
      "operationName" : "StopCanary",
      "returnType" : {
        "returnType" : "StopCanaryResult",
        "documentation" : null
      },
      "syncReturnType" : "StopCanaryResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one or more tags (key-value pairs) to the specified canary or group. </p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only resources with certain tag values.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a canary or group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>There were too many simultaneous requests. Try the operation again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred. Try the operation again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The request was not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>There were too many simultaneous requests. Try the operation again.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>An internal failure occurred. Try the operation again.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateCanary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCanaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCanaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCanaryRequest, UpdateCanaryResult>",
      "asyncReturnType" : "UpdateCanaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the configuration of a canary that has already been created.</p> <p>You can't use this operation to update the tags of an existing canary. To change the tags of an existing canary, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_TagResource.html\">TagResource</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unknown internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>A parameter could not be validated.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One of the specified resources was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A conflicting operation is already in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "RequestEntityTooLargeException",
        "documentation" : "<p>One of the input resources is larger than is allowed.</p>",
        "httpStatusCode" : 413
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCanaryRequest",
        "variableName" : "updateCanaryRequest",
        "variableType" : "UpdateCanaryRequest",
        "documentation" : "",
        "simpleType" : "UpdateCanaryRequest",
        "variableSetterType" : "UpdateCanaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCanary",
      "operationName" : "UpdateCanary",
      "returnType" : {
        "returnType" : "UpdateCanaryResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCanaryResult"
    }
  },
  "shapes" : {
    "ArtifactConfigInput" : {
      "c2jName" : "ArtifactConfigInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A structure that contains the configuration for canary artifacts, including the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.synthetics.model.ArtifactConfigInput",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "S3Encryption",
        "c2jShape" : "S3EncryptionConfig",
        "deprecated" : false,
        "documentation" : "<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>\n@param s3Encryption A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3Encryption",
        "getterDocumentation" : "/**<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>\n@return A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>*/",
        "getterMethodName" : "getS3Encryption",
        "getterModel" : {
          "returnType" : "S3EncryptionConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "S3Encryption",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S3Encryption",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "S3Encryption",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>\n@param s3Encryption A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>*/",
        "setterMethodName" : "setS3Encryption",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3EncryptionConfig",
          "variableName" : "s3Encryption",
          "variableType" : "S3EncryptionConfig",
          "documentation" : "",
          "simpleType" : "S3EncryptionConfig",
          "variableSetterType" : "S3EncryptionConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>\n@param s3Encryption A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3EncryptionConfig",
          "variableName" : "s3Encryption",
          "variableType" : "S3EncryptionConfig",
          "documentation" : "<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>",
          "simpleType" : "S3EncryptionConfig",
          "variableSetterType" : "S3EncryptionConfig"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "S3Encryption" : {
          "c2jName" : "S3Encryption",
          "c2jShape" : "S3EncryptionConfig",
          "deprecated" : false,
          "documentation" : "<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>\n@param s3Encryption A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withS3Encryption",
          "getterDocumentation" : "/**<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>\n@return A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>*/",
          "getterMethodName" : "getS3Encryption",
          "getterModel" : {
            "returnType" : "S3EncryptionConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "S3Encryption",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "S3Encryption",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "S3Encryption",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>\n@param s3Encryption A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>*/",
          "setterMethodName" : "setS3Encryption",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3EncryptionConfig",
            "variableName" : "s3Encryption",
            "variableType" : "S3EncryptionConfig",
            "documentation" : "",
            "simpleType" : "S3EncryptionConfig",
            "variableSetterType" : "S3EncryptionConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>\n@param s3Encryption A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3EncryptionConfig",
            "variableName" : "s3Encryption",
            "variableType" : "S3EncryptionConfig",
            "documentation" : "<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>",
            "simpleType" : "S3EncryptionConfig",
            "variableSetterType" : "S3EncryptionConfig"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.synthetics.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ArtifactConfigInput",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArtifactConfigInput",
        "variableName" : "artifactConfigInput",
        "variableType" : "ArtifactConfigInput",
        "documentation" : null,
        "simpleType" : "ArtifactConfigInput",
        "variableSetterType" : "ArtifactConfigInput"
      },
      "wrapper" : false
    },
    "ArtifactConfigOutput" : {
      "c2jName" : "ArtifactConfigOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A structure that contains the configuration for canary artifacts, including the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.synthetics.model.ArtifactConfigOutput",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "S3Encryption",
        "c2jShape" : "S3EncryptionConfig",
        "deprecated" : false,
        "documentation" : "<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>\n@param s3Encryption A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3Encryption",
        "getterDocumentation" : "/**<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>\n@return A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3.*/",
        "getterMethodName" : "getS3Encryption",
        "getterModel" : {
          "returnType" : "S3EncryptionConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "S3Encryption",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S3Encryption",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "S3Encryption",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>\n@param s3Encryption A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3.*/",
        "setterMethodName" : "setS3Encryption",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3EncryptionConfig",
          "variableName" : "s3Encryption",
          "variableType" : "S3EncryptionConfig",
          "documentation" : "",
          "simpleType" : "S3EncryptionConfig",
          "variableSetterType" : "S3EncryptionConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>\n@param s3Encryption A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3EncryptionConfig",
          "variableName" : "s3Encryption",
          "variableType" : "S3EncryptionConfig",
          "documentation" : "<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>",
          "simpleType" : "S3EncryptionConfig",
          "variableSetterType" : "S3EncryptionConfig"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "S3Encryption" : {
          "c2jName" : "S3Encryption",
          "c2jShape" : "S3EncryptionConfig",
          "deprecated" : false,
          "documentation" : "<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>\n@param s3Encryption A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withS3Encryption",
          "getterDocumentation" : "/**<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>\n@return A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3.*/",
          "getterMethodName" : "getS3Encryption",
          "getterModel" : {
            "returnType" : "S3EncryptionConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "S3Encryption",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "S3Encryption",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "S3Encryption",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>\n@param s3Encryption A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3.*/",
          "setterMethodName" : "setS3Encryption",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3EncryptionConfig",
            "variableName" : "s3Encryption",
            "variableType" : "S3EncryptionConfig",
            "documentation" : "",
            "simpleType" : "S3EncryptionConfig",
            "variableSetterType" : "S3EncryptionConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>\n@param s3Encryption A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3EncryptionConfig",
            "variableName" : "s3Encryption",
            "variableType" : "S3EncryptionConfig",
            "documentation" : "<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>",
            "simpleType" : "S3EncryptionConfig",
            "variableSetterType" : "S3EncryptionConfig"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.synthetics.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ArtifactConfigOutput",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArtifactConfigOutput",
        "variableName" : "artifactConfigOutput",
        "variableType" : "ArtifactConfigOutput",
        "documentation" : null,
        "simpleType" : "ArtifactConfigOutput",
        "variableSetterType" : "ArtifactConfigOutput"
      },
      "wrapper" : false
    },
    "AssociateResourceRequest" : {
      "c2jName" : "AssociateResourceRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.synthetics.request.AssociateResourceRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateResource",
        "locationName" : null,
        "requestUri" : "/group/{groupIdentifier}/associate",
        "target" : null,
        "verb" : "PATCH",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "GroupIdentifier",
        "c2jShape" : "GroupIdentifier",
        "deprecated" : false,
        "documentation" : "<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>\n@param groupIdentifier Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGroupIdentifier",
        "getterDocumentation" : "/**<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>\n@return Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.*/",
        "getterMethodName" : "getGroupIdentifier",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "groupIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "groupIdentifier",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GroupIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>\n@param groupIdentifier Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.*/",
        "setterMethodName" : "setGroupIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "groupIdentifier",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>\n@param groupIdentifier Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "groupIdentifier",
          "variableType" : "String",
          "documentation" : "<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceArn",
        "c2jShape" : "CanaryArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the canary that you want to associate with the specified group.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the canary that you want to associate with the specified group.</p>\n@param resourceArn The ARN of the canary that you want to associate with the specified group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceArn",
        "getterDocumentation" : "/**<p>The ARN of the canary that you want to associate with the specified group.</p>\n@return The ARN of the canary that you want to associate with the specified group.*/",
        "getterMethodName" : "getResourceArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the canary that you want to associate with the specified group.</p>\n@param resourceArn The ARN of the canary that you want to associate with the specified group.*/",
        "setterMethodName" : "setResourceArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the canary that you want to associate with the specified group.</p>\n@param resourceArn The ARN of the canary that you want to associate with the specified group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the canary that you want to associate with the specified group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "GroupIdentifier" : {
          "c2jName" : "GroupIdentifier",
          "c2jShape" : "GroupIdentifier",
          "deprecated" : false,
          "documentation" : "<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>\n@param groupIdentifier Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGroupIdentifier",
          "getterDocumentation" : "/**<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>\n@return Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.*/",
          "getterMethodName" : "getGroupIdentifier",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "groupIdentifier",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "groupIdentifier",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GroupIdentifier",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>\n@param groupIdentifier Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.*/",
          "setterMethodName" : "setGroupIdentifier",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "groupIdentifier",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>\n@param groupIdentifier Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "groupIdentifier",
            "variableType" : "String",
            "documentation" : "<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceArn" : {
          "c2jName" : "ResourceArn",
          "c2jShape" : "CanaryArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the canary that you want to associate with the specified group.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the canary that you want to associate with the specified group.</p>\n@param resourceArn The ARN of the canary that you want to associate with the specified group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceArn",
          "getterDocumentation" : "/**<p>The ARN of the canary that you want to associate with the specified group.</p>\n@return The ARN of the canary that you want to associate with the specified group.*/",
          "getterMethodName" : "getResourceArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the canary that you want to associate with the specified group.</p>\n@param resourceArn The ARN of the canary that you want to associate with the specified group.*/",
          "setterMethodName" : "setResourceArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the canary that you want to associate with the specified group.</p>\n@param resourceArn The ARN of the canary that you want to associate with the specified group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the canary that you want to associate with the specified group.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.synthetics.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "GroupIdentifier", "ResourceArn" ],
      "shapeName" : "AssociateResourceRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResourceRequest",
        "variableName" : "associateResourceRequest",
        "variableType" : "AssociateResourceRequest",
        "documentation" : null,
        "simpleType" : "AssociateResourceRequest",
        "variableSetterType" : "AssociateResourceRequest"
      },
      "wrapper" : false
    },
    "AssociateResourceResult" : {
      "c2jName" : "AssociateResourceResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.synthetics.response.AssociateResourceResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.synthetics.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AssociateResourceResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateResourceResult",
        "variableName" : "associateResourceResult",
        "variableType" : "AssociateResourceResult",
        "documentation" : null,
        "simpleType" : "AssociateResourceResult",
        "variableSetterType" : "AssociateResourceResult"
      },
      "wrapper" : false
    },
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request was not valid.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "BadRequestException",
      "fullyQualifiedName" : "com.amazonaws.services.synthetics.exception.BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.synthetics.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
[...]
