{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : {
      "FailureInfo" : [ "ErrorCode" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-01-26",
    "asyncClient" : "AWSResourceGroupsTaggingAPIAsyncClient",
    "asyncClientBuilderClassName" : "AWSResourceGroupsTaggingAPIAsyncClientBuilder",
    "asyncInterface" : "AWSResourceGroupsTaggingAPIAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSResourceGroupsTaggingAPIModuleInjector",
    "defaultEndpoint" : "tagging.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "tagging.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Resource Groups Tagging API</fullname> <p>This guide describes the API operations for the resource groups tagging.</p> <p>A tag is a key-value pair that you can add to an AWS resource. A tag consists of a key and a value, both of which you define. For example, if you have two Amazon EC2 instances, you might assign both a tag key of \"Stack.\" But the value of \"Stack\" might be \"Testing\" for one and \"Production\" for the other.</p> <p>Tagging can help you organize your resources and enables you to simplify resource management, access management, and cost allocation. </p> <p>You can use the resource groups tagging API operations to complete the following tasks:</p> <ul> <li> <p>Tag and untag supported resources located in the specified Region for the AWS account.</p> </li> <li> <p>Use tag-based filters to search for resources located in the specified Region for the AWS account.</p> </li> <li> <p>List all existing tag keys in the specified Region for the AWS account.</p> </li> <li> <p>List all existing values for the specified key in the specified Region for the AWS account.</p> </li> <li> <p>Configure <i>tag policies</i> to help maintain standardized tags across your organization's resources. For more information on tag policies, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies.html\">Tag Policies</a>in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul> <p>To make full use of the resource groups tagging API operations, you might need additional IAM permissions, including permission to access the resources of individual services as well as permission to view and apply tags to those resources. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> <p>You can use the Resource Groups Tagging API to tag resources for the following AWS services.</p> <ul> <li> <p>Alexa for Business (a4b)</p> </li> <li> <p>API Gateway</p> </li> <li> <p>AWS AppStream</p> </li> <li> <p>Amazon Athena</p> </li> <li> <p>Amazon Aurora</p> </li> <li> <p>AWS Certificate Manager</p> </li> <li> <p>AWS Certificate Manager Private CA</p> </li> <li> <p>Amazon Cloud Directory</p> </li> <li> <p>AWS CloudFormation</p> </li> <li> <p>Amazon CloudFront</p> </li> <li> <p>AWS CloudHSM</p> </li> <li> <p>AWS CloudTrail</p> </li> <li> <p>Amazon CloudWatch (alarms only)</p> </li> <li> <p>Amazon CloudWatch Events</p> </li> <li> <p>Amazon CloudWatch Logs</p> </li> <li> <p>AWS CodeBuild</p> </li> <li> <p>AWS CodeStar</p> </li> <li> <p>Amazon Cognito Identity</p> </li> <li> <p>Amazon Cognito User Pools</p> </li> <li> <p>Amazon Comprehend</p> </li> <li> <p>AWS Config</p> </li> <li> <p>AWS Data Pipeline</p> </li> <li> <p>AWS Database Migration Service</p> </li> <li> <p>AWS Datasync</p> </li> <li> <p>AWS Direct Connect</p> </li> <li> <p>AWS Directory Service</p> </li> <li> <p>Amazon DynamoDB</p> </li> <li> <p>Amazon EBS</p> </li> <li> <p>Amazon EC2</p> </li> <li> <p>Amazon ECR</p> </li> <li> <p>Amazon ECS</p> </li> <li> <p>AWS Elastic Beanstalk</p> </li> <li> <p>Amazon Elastic File System</p> </li> <li> <p>Elastic Load Balancing</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li> <li> <p>AWS Elemental MediaLive</p> </li> <li> <p>AWS Elemental MediaPackage</p> </li> <li> <p>AWS Elemental MediaTailor</p> </li> <li> <p>Amazon EMR</p> </li> <li> <p>Amazon FSx</p> </li> <li> <p>Amazon Glacier</p> </li> <li> <p>AWS Glue</p> </li> <li> <p>Amazon Inspector</p> </li> <li> <p>AWS IoT Analytics</p> </li> <li> <p>AWS IoT Core</p> </li> <li> <p>AWS IoT Device Defender</p> </li> <li> <p>AWS IoT Device Management</p> </li> <li> <p>AWS Key Management Service</p> </li> <li> <p>Amazon Kinesis</p> </li> <li> <p>Amazon Kinesis Data Firehose</p> </li> <li> <p>AWS Lambda</p> </li> <li> <p>AWS License Manager</p> </li> <li> <p>Amazon Machine Learning</p> </li> <li> <p>Amazon MQ</p> </li> <li> <p>Amazon MSK</p> </li> <li> <p>Amazon Neptune</p> </li> <li> <p>AWS OpsWorks</p> </li> <li> <p>Amazon RDS</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>AWS Resource Access Manager</p> </li> <li> <p>AWS Resource Groups</p> </li> <li> <p>AWS RoboMaker</p> </li> <li> <p>Amazon Route 53</p> </li> <li> <p>Amazon Route 53 Resolver</p> </li> <li> <p>Amazon S3 (buckets only)</p> </li> <li> <p>Amazon SageMaker</p> </li> <li> <p>AWS Secrets Manager</p> </li> <li> <p>AWS Service Catalog</p> </li> <li> <p>Amazon Simple Queue Service (SQS)</p> </li> <li> <p>AWS Simple System Manager (SSM)</p> </li> <li> <p>AWS Step Functions</p> </li> <li> <p>AWS Storage Gateway</p> </li> <li> <p>AWS Transfer for SFTP</p> </li> <li> <p>Amazon VPC</p> </li> <li> <p>Amazon WorkSpaces</p> </li> </ul>",
    "endpointPrefix" : "tagging",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.resourcegroupstaggingapi",
    "packagePath" : "com/amazonaws/services/resourcegroupstaggingapi",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Resource Groups Tagging API",
    "serviceId" : "Resource Groups Tagging API",
    "serviceName" : "AWS Resource Groups Tagging API",
    "signingName" : "tagging",
    "smokeTestsPackageName" : "com.amazonaws.services.resourcegroupstaggingapi.smoketests",
    "syncClient" : "AWSResourceGroupsTaggingAPIClient",
    "syncClientBuilderClassName" : "AWSResourceGroupsTaggingAPIClientBuilder",
    "syncInterface" : "AWSResourceGroupsTaggingAPI",
    "uid" : "resourcegroupstaggingapi-2017-01-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteTagPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagPolicyRequest, DeleteTagPolicyResult>",
      "asyncReturnType" : "DeleteTagPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the policy that is attached to the specified organization root or account.</p> <p>You can call this operation from the organization's master account only and from the us-east-1 Region only. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The target of the operation is currently being modified by a different request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>The request was denied as performing this operation violates a constraint. </p> <p>Some of the reasons in the following list might not apply to this specific API or operation:</p> <ul> <li> <p>Your account must be part of an organization, and you must enable all features in AWS Organizations. <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> <li> <p>The previous report expired. </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTagPolicyRequest",
        "variableName" : "deleteTagPolicyRequest",
        "variableType" : "DeleteTagPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagPolicyRequest",
        "variableSetterType" : "DeleteTagPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTagPolicy",
      "operationName" : "DeleteTagPolicy",
      "returnType" : {
        "returnType" : "DeleteTagPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagPolicyResult"
    },
    "DescribeReportCreation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReportCreationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReportCreationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReportCreationRequest, DescribeReportCreationResult>",
      "asyncReturnType" : "DescribeReportCreationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the status of the <code>StartReportCreation</code> operation. </p> <p>You can call this operation from the organization's master account only and from the us-east-1 Region only. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>The request was denied as performing this operation violates a constraint. </p> <p>Some of the reasons in the following list might not apply to this specific API or operation:</p> <ul> <li> <p>Your account must be part of an organization, and you must enable all features in AWS Organizations. <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> <li> <p>The previous report expired. </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReportCreationRequest",
        "variableName" : "describeReportCreationRequest",
        "variableType" : "DescribeReportCreationRequest",
        "documentation" : "",
        "simpleType" : "DescribeReportCreationRequest",
        "variableSetterType" : "DescribeReportCreationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReportCreation",
      "operationName" : "DescribeReportCreation",
      "returnType" : {
        "returnType" : "DescribeReportCreationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeReportCreationResult"
    },
    "DisableTagPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableTagPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableTagPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableTagPoliciesRequest, DisableTagPoliciesResult>",
      "asyncReturnType" : "DisableTagPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables tag policies for your organization and deletes all tag policies.</p> <p>You can call this operation from the organization's master account only and from the us-east-1 Region only. </p> <important> <p>Use caution when disabling tag policies, as this is a destructive operation that applies to your entire organization. You cannot undo this operation.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The target of the operation is currently being modified by a different request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>The request was denied as performing this operation violates a constraint. </p> <p>Some of the reasons in the following list might not apply to this specific API or operation:</p> <ul> <li> <p>Your account must be part of an organization, and you must enable all features in AWS Organizations. <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> <li> <p>The previous report expired. </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableTagPoliciesRequest",
        "variableName" : "disableTagPoliciesRequest",
        "variableType" : "DisableTagPoliciesRequest",
        "documentation" : "",
        "simpleType" : "DisableTagPoliciesRequest",
        "variableSetterType" : "DisableTagPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableTagPolicies",
      "operationName" : "DisableTagPolicies",
      "returnType" : {
        "returnType" : "DisableTagPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableTagPoliciesResult"
    },
    "EnableTagPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableTagPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableTagPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableTagPoliciesRequest, EnableTagPoliciesResult>",
      "asyncReturnType" : "EnableTagPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables tag policies for your organization. To use tag policies, you must be using AWS Organizations with all features enabled. </p> <p>You can call this operation from the organization's master account only and from the us-east-1 Region only. </p> <p>This operation does the following:</p> <ul> <li> <p>Enables tag policies for the specified organization.</p> </li> <li> <p>Calls the <a href=\"http://docs.aws.amazon.com/organizations/latest/APIReference/API_EnableAWSServiceAccess.html\">EnableAWSServiceAccess</a> API on your behalf to allow service access with the <code>tagpolicies.tag.amazonaws.com</code> service principal.</p> </li> <li> <p>Creates a <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html\">service-linked role</a> named <code>AWSServiceRoleForTagPolicies</code>. </p> </li> </ul> <p>For more information on tag policies, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies.html\">Tag Policies</a> in the <i>AWS Resource Groups User Guide.</i> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The target of the operation is currently being modified by a different request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>The request was denied as performing this operation violates a constraint. </p> <p>Some of the reasons in the following list might not apply to this specific API or operation:</p> <ul> <li> <p>Your account must be part of an organization, and you must enable all features in AWS Organizations. <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> <li> <p>The previous report expired. </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableTagPoliciesRequest",
        "variableName" : "enableTagPoliciesRequest",
        "variableType" : "EnableTagPoliciesRequest",
        "documentation" : "",
        "simpleType" : "EnableTagPoliciesRequest",
        "variableSetterType" : "EnableTagPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableTagPolicies",
      "operationName" : "EnableTagPolicies",
      "returnType" : {
        "returnType" : "EnableTagPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableTagPoliciesResult"
    },
    "GetComplianceSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceSummaryRequest, GetComplianceSummaryResult>",
      "asyncReturnType" : "GetComplianceSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a table that shows counts of resources that are noncompliant with their tag policies.</p> <p>For more information on tag policies, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies.html\">Tag Policies</a> in the <i>AWS Resource Groups User Guide.</i> </p> <p>You can call this operation from the organization's master account only and from the us-east-1 Region only. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>The request was denied as performing this operation violates a constraint. </p> <p>Some of the reasons in the following list might not apply to this specific API or operation:</p> <ul> <li> <p>Your account must be part of an organization, and you must enable all features in AWS Organizations. <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> <li> <p>The previous report expired. </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComplianceSummaryRequest",
        "variableName" : "getComplianceSummaryRequest",
        "variableType" : "GetComplianceSummaryRequest",
        "documentation" : "",
        "simpleType" : "GetComplianceSummaryRequest",
        "variableSetterType" : "GetComplianceSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComplianceSummary",
      "operationName" : "GetComplianceSummary",
      "returnType" : {
        "returnType" : "GetComplianceSummaryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetComplianceSummaryResult"
    },
    "GetEffectiveTagPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEffectiveTagPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEffectiveTagPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEffectiveTagPolicyRequest, GetEffectiveTagPolicyResult>",
      "asyncReturnType" : "GetEffectiveTagPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the contents of the effective tag policy for the AWS account. Depending on how you use tag policies, the effective tag policy for an account is one of the following:</p> <ul> <li> <p>The tag policy attached to the organization that the account belongs to.</p> </li> <li> <p>The tag policy attached to the account.</p> </li> <li> <p>The combination of both policies if tag policies are attached to the organization root and account.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The target of the operation is currently being modified by a different request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>The request was denied as performing this operation violates a constraint. </p> <p>Some of the reasons in the following list might not apply to this specific API or operation:</p> <ul> <li> <p>Your account must be part of an organization, and you must enable all features in AWS Organizations. <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> <li> <p>The previous report expired. </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEffectiveTagPolicyRequest",
        "variableName" : "getEffectiveTagPolicyRequest",
        "variableType" : "GetEffectiveTagPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetEffectiveTagPolicyRequest",
        "variableSetterType" : "GetEffectiveTagPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEffectiveTagPolicy",
      "operationName" : "GetEffectiveTagPolicy",
      "returnType" : {
        "returnType" : "GetEffectiveTagPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEffectiveTagPolicyResult"
    },
    "GetResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcesRequest, GetResourcesResult>",
      "asyncReturnType" : "GetResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all the tagged or previously tagged resources that are located in the specified Region for the AWS account.</p> <p>Depending on what information you want returned, you can also specify the following:</p> <ul> <li> <p> <i>Filters</i> that specify what tags and resource types you want returned. The response includes all tags that are associated with the requested resources.</p> </li> <li> <p>Information about compliance with tag policies. If supplied, the compliance check follows the specified tag policy instead of following the effective tag policy. For more information on tag policies, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies.html\">Tag Policies</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul> <note> <p>You can check the <code>PaginationToken</code> response parameter to determine if a query completed. Queries can occasionally return fewer results on a page than allowed. The <code>PaginationToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display. </p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PaginationTokenExpiredException",
        "documentation" : "<p>A <code>PaginationToken</code> is valid for a maximum of 15 minutes. Your request was denied because the specified <code>PaginationToken</code> has expired.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourcesRequest",
        "variableName" : "getResourcesRequest",
        "variableType" : "GetResourcesRequest",
        "documentation" : "",
        "simpleType" : "GetResourcesRequest",
        "variableSetterType" : "GetResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResources",
      "operationName" : "GetResources",
      "returnType" : {
        "returnType" : "GetResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourcesResult"
    },
    "GetTagKeys" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTagKeysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTagKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTagKeysRequest, GetTagKeysResult>",
      "asyncReturnType" : "GetTagKeysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all tag keys in the specified Region for the AWS account.</p> <note> <p>You can check the <code>PaginationToken</code> response parameter to determine if a query completed. Queries can occasionally return fewer results on a page than allowed. The <code>PaginationToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display. </p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PaginationTokenExpiredException",
        "documentation" : "<p>A <code>PaginationToken</code> is valid for a maximum of 15 minutes. Your request was denied because the specified <code>PaginationToken</code> has expired.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTagKeysRequest",
        "variableName" : "getTagKeysRequest",
        "variableType" : "GetTagKeysRequest",
        "documentation" : "",
        "simpleType" : "GetTagKeysRequest",
        "variableSetterType" : "GetTagKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTagKeys",
      "operationName" : "GetTagKeys",
      "returnType" : {
        "returnType" : "GetTagKeysResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTagKeysResult"
    },
    "GetTagPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTagPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTagPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTagPolicyRequest, GetTagPolicyResult>",
      "asyncReturnType" : "GetTagPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the policy that is attached to the specified target. </p> <p>You can call this operation from the organization's master account only and from the us-east-1 Region only. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>The request was denied as performing this operation violates a constraint. </p> <p>Some of the reasons in the following list might not apply to this specific API or operation:</p> <ul> <li> <p>Your account must be part of an organization, and you must enable all features in AWS Organizations. <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> <li> <p>The previous report expired. </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTagPolicyRequest",
        "variableName" : "getTagPolicyRequest",
        "variableType" : "GetTagPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetTagPolicyRequest",
        "variableSetterType" : "GetTagPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTagPolicy",
      "operationName" : "GetTagPolicy",
      "returnType" : {
        "returnType" : "GetTagPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTagPolicyResult"
    },
    "GetTagValues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTagValuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTagValuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTagValuesRequest, GetTagValuesResult>",
      "asyncReturnType" : "GetTagValuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all tag values for the specified key in the specified Region for the AWS account.</p> <note> <p>You can check the <code>PaginationToken</code> response parameter to determine if a query completed. Queries can occasionally return fewer results on a page than allowed. The <code>PaginationToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display. </p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PaginationTokenExpiredException",
        "documentation" : "<p>A <code>PaginationToken</code> is valid for a maximum of 15 minutes. Your request was denied because the specified <code>PaginationToken</code> has expired.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTagValuesRequest",
        "variableName" : "getTagValuesRequest",
        "variableType" : "GetTagValuesRequest",
        "documentation" : "",
        "simpleType" : "GetTagValuesRequest",
        "variableSetterType" : "GetTagValuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTagValues",
      "operationName" : "GetTagValues",
      "returnType" : {
        "returnType" : "GetTagValuesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTagValuesResult"
    },
    "PutTagPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutTagPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutTagPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutTagPolicyRequest, PutTagPolicyResult>",
      "asyncReturnType" : "PutTagPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Validates the tag policy and then attaches it to the account or organization root. This policy determines whether a resource is compliant.</p> <p>Validating the tag policy includes checking that the tag policy document includes the required components, uses JSON syntax, and has fewer than 5,000 characters (including spaces). For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-structure.html\">Tag Policy Structure</a> in the <i>AWS Resource Groups User Guide.</i> </p> <note> <p>If you later call this operation to attach a tag policy to the same organization root or account, it overwrites the original call without prompting you to confirm.</p> </note> <p>You can call this operation from the organization's master account only, and from the us-east-1 Region only. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The target of the operation is currently being modified by a different request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>The request was denied as performing this operation violates a constraint. </p> <p>Some of the reasons in the following list might not apply to this specific API or operation:</p> <ul> <li> <p>Your account must be part of an organization, and you must enable all features in AWS Organizations. <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> <li> <p>The previous report expired. </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutTagPolicyRequest",
        "variableName" : "putTagPolicyRequest",
        "variableType" : "PutTagPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutTagPolicyRequest",
        "variableSetterType" : "PutTagPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putTagPolicy",
      "operationName" : "PutTagPolicy",
      "returnType" : {
        "returnType" : "PutTagPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutTagPolicyResult"
    },
    "StartReportCreation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartReportCreationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartReportCreationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartReportCreationRequest, StartReportCreationResult>",
      "asyncReturnType" : "StartReportCreationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a report that lists all tagged resources in accounts across your organization, and whether each resource is compliant with the effective tag policy. </p> <p>You can call this operation from the organization's master account only and from the us-east-1 Region only. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The target of the operation is currently being modified by a different request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConstraintViolationException",
        "documentation" : "<p>The request was denied as performing this operation violates a constraint. </p> <p>Some of the reasons in the following list might not apply to this specific API or operation:</p> <ul> <li> <p>Your account must be part of an organization, and you must enable all features in AWS Organizations. <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> <li> <p>The previous report expired. </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartReportCreationRequest",
        "variableName" : "startReportCreationRequest",
        "variableType" : "StartReportCreationRequest",
        "documentation" : "",
        "simpleType" : "StartReportCreationRequest",
        "variableSetterType" : "StartReportCreationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startReportCreation",
      "operationName" : "StartReportCreation",
      "returnType" : {
        "returnType" : "StartReportCreationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartReportCreationResult"
    },
    "TagResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourcesRequest, TagResourcesResult>",
      "asyncReturnType" : "TagResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies one or more tags to the specified resources. Note the following:</p> <ul> <li> <p>Not all resources can have tags. For a list of resources that support tagging, see <a href=\"https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/Welcome.html\">this list</a>.</p> </li> <li> <p>Each resource can have up to 50 tags. </p> </li> <li> <p>You can only tag resources that are located in the specified Region for the AWS account.</p> </li> <li> <p>To add tags to a resource, you need the necessary permissions for the service that the resource belongs to as well as permissions for adding tags. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourcesRequest",
        "variableName" : "tagResourcesRequest",
        "variableType" : "TagResourcesRequest",
        "documentation" : "",
        "simpleType" : "TagResourcesRequest",
        "variableSetterType" : "TagResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResources",
      "operationName" : "TagResources",
      "returnType" : {
        "returnType" : "TagResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourcesResult"
    },
    "UntagResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourcesRequest, UntagResourcesResult>",
      "asyncReturnType" : "UntagResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resources. When you specify a tag key, the action removes both that key and its associated value. The operation succeeds even if you attempt to remove tags from a resource that were already removed. Note the following:</p> <ul> <li> <p>To remove tags from a resource, you need the necessary permissions for the service that the resource belongs to as well as permissions for removing tags. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-prereqs.html#rg-permissions\">Set Up Permissions</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> <li> <p>You can only tag resources that are located in the specified Region for the AWS account.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This error indicates one of the following:</p> <ul> <li> <p>A parameter is missing.</p> </li> <li> <p>A malformed string was supplied for the request parameter.</p> </li> <li> <p>An out-of-range value was supplied for the request parameter.</p> </li> <li> <p>The target ID is invalid, unsupported, or doesn't exist.</p> </li> <li> <p>There is an issue with the tag policy: It exceeds the maximum size limit, is invalid, or doesn't use JSON syntax. </p> </li> <li> <p>You can't access the Amazon S3 bucket for report storage. For more information, see <a href=\"http://docs.aws.amazon.com/ARG/latest/userguide/tag-policies-prereqs.html#bucket-policy-org-report\">Additional Requirements for Running Organization-Wide Tag Compliance Report</a> in the <i>AWS Resource Groups User Guide.</i> </p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request was denied to limit the frequency of submitted requests.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. You can retry the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourcesRequest",
        "variableName" : "untagResourcesRequest",
        "variableType" : "UntagResourcesRequest",
        "documentation" : "",
        "simpleType" : "UntagResourcesRequest",
        "variableSetterType" : "UntagResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResources",
      "operationName" : "UntagResources",
      "returnType" : {
        "returnType" : "UntagResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourcesResult"
    }
  },
  "shapes" : {
    "ComplianceDetails" : {
      "c2jName" : "ComplianceDetails",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Details on whether a resource is compliant with the effective tag policy, including information any noncompliant tag keys.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "MissingKeys",
        "c2jShape" : "TagKeyList",
        "deprecated" : false,
        "documentation" : "<p>A tag key that is required by the effective tag policy is missing.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A tag key that is required by the effective tag policy is missing.</p>\n@param missingKeys A tag key that is required by the effective tag policy is missing.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMissingKeys",
        "getterDocumentation" : "/**<p>A tag key that is required by the effective tag policy is missing.</p>\n@return A tag key that is required by the effective tag policy is missing.*/",
        "getterMethodName" : "getMissingKeys",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MissingKeys",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MissingKeys",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "TagKey",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "MissingKeys",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A tag key that is required by the effective tag policy is missing.</p>\n@param missingKeys A tag key that is required by the effective tag policy is missing.*/",
        "setterMethodName" : "setMissingKeys",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "missingKeys",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A tag key that is required by the effective tag policy is missing.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMissingKeys(java.util.Collection)} or {@link #withMissingKeys(java.util.Collection)} if you want to override the existing values.</p>\n@param missingKeys A tag key that is required by the effective tag policy is missing.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "missingKeys",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A tag key that is required by the effective tag policy is missing.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InvalidKeys",
        "c2jShape" : "TagKeyList",
        "deprecated" : false,
        "documentation" : "<p>The tag key is noncompliant with the effective tag policy.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tag key is noncompliant with the effective tag policy.</p>\n@param invalidKeys The tag key is noncompliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInvalidKeys",
        "getterDocumentation" : "/**<p>The tag key is noncompliant with the effective tag policy.</p>\n@return The tag key is noncompliant with the effective tag policy.*/",
        "getterMethodName" : "getInvalidKeys",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InvalidKeys",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InvalidKeys",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "TagKey",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "InvalidKeys",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The tag key is noncompliant with the effective tag policy.</p>\n@param invalidKeys The tag key is noncompliant with the effective tag policy.*/",
        "setterMethodName" : "setInvalidKeys",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "invalidKeys",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tag key is noncompliant with the effective tag policy.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInvalidKeys(java.util.Collection)} or {@link #withInvalidKeys(java.util.Collection)} if you want to override the existing values.</p>\n@param invalidKeys The tag key is noncompliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "invalidKeys",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The tag key is noncompliant with the effective tag policy.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InvalidValues",
        "c2jShape" : "TagKeyList",
        "deprecated" : false,
        "documentation" : "<p>The tag value is noncompliant with the effective tag policy.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tag value is noncompliant with the effective tag policy.</p>\n@param invalidValues The tag value is noncompliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInvalidValues",
        "getterDocumentation" : "/**<p>The tag value is noncompliant with the effective tag policy.</p>\n@return The tag value is noncompliant with the effective tag policy.*/",
        "getterMethodName" : "getInvalidValues",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InvalidValues",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InvalidValues",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "TagKey",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "InvalidValues",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The tag value is noncompliant with the effective tag policy.</p>\n@param invalidValues The tag value is noncompliant with the effective tag policy.*/",
        "setterMethodName" : "setInvalidValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "invalidValues",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tag value is noncompliant with the effective tag policy.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInvalidValues(java.util.Collection)} or {@link #withInvalidValues(java.util.Collection)} if you want to override the existing values.</p>\n@param invalidValues The tag value is noncompliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "invalidValues",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The tag value is noncompliant with the effective tag policy.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ComplianceStatus",
        "c2jShape" : "ComplianceStatus",
        "deprecated" : false,
        "documentation" : "<p>Whether a resource is compliant with the effective tag policy.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Whether a resource is compliant with the effective tag policy.</p>\n@param complianceStatus Whether a resource is compliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withComplianceStatus",
        "getterDocumentation" : "/**<p>Whether a resource is compliant with the effective tag policy.</p>\n@return Whether a resource is compliant with the effective tag policy.*/",
        "getterMethodName" : "getComplianceStatus",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ComplianceStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ComplianceStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "ComplianceStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Whether a resource is compliant with the effective tag policy.</p>\n@param complianceStatus Whether a resource is compliant with the effective tag policy.*/",
        "setterMethodName" : "setComplianceStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "complianceStatus",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Whether a resource is compliant with the effective tag policy.</p>\n@param complianceStatus Whether a resource is compliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "complianceStatus",
          "variableType" : "Boolean",
          "documentation" : "<p>Whether a resource is compliant with the effective tag policy.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ComplianceStatus" : {
          "c2jName" : "ComplianceStatus",
          "c2jShape" : "ComplianceStatus",
          "deprecated" : false,
          "documentation" : "<p>Whether a resource is compliant with the effective tag policy.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Whether a resource is compliant with the effective tag policy.</p>\n@param complianceStatus Whether a resource is compliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withComplianceStatus",
          "getterDocumentation" : "/**<p>Whether a resource is compliant with the effective tag policy.</p>\n@return Whether a resource is compliant with the effective tag policy.*/",
          "getterMethodName" : "getComplianceStatus",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ComplianceStatus",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ComplianceStatus",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "ComplianceStatus",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Whether a resource is compliant with the effective tag policy.</p>\n@param complianceStatus Whether a resource is compliant with the effective tag policy.*/",
          "setterMethodName" : "setComplianceStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "complianceStatus",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Whether a resource is compliant with the effective tag policy.</p>\n@param complianceStatus Whether a resource is compliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "complianceStatus",
            "variableType" : "Boolean",
            "documentation" : "<p>Whether a resource is compliant with the effective tag policy.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "InvalidKeys" : {
          "c2jName" : "InvalidKeys",
          "c2jShape" : "TagKeyList",
          "deprecated" : false,
          "documentation" : "<p>The tag key is noncompliant with the effective tag policy.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tag key is noncompliant with the effective tag policy.</p>\n@param invalidKeys The tag key is noncompliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInvalidKeys",
          "getterDocumentation" : "/**<p>The tag key is noncompliant with the effective tag policy.</p>\n@return The tag key is noncompliant with the effective tag policy.*/",
          "getterMethodName" : "getInvalidKeys",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "InvalidKeys",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InvalidKeys",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "TagKey",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "InvalidKeys",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The tag key is noncompliant with the effective tag policy.</p>\n@param invalidKeys The tag key is noncompliant with the effective tag policy.*/",
          "setterMethodName" : "setInvalidKeys",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "invalidKeys",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The tag key is noncompliant with the effective tag policy.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInvalidKeys(java.util.Collection)} or {@link #withInvalidKeys(java.util.Collection)} if you want to override the existing values.</p>\n@param invalidKeys The tag key is noncompliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "invalidKeys",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The tag key is noncompliant with the effective tag policy.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "InvalidValues" : {
          "c2jName" : "InvalidValues",
          "c2jShape" : "TagKeyList",
          "deprecated" : false,
          "documentation" : "<p>The tag value is noncompliant with the effective tag policy.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tag value is noncompliant with the effective tag policy.</p>\n@param invalidValues The tag value is noncompliant with the effective tag policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInvalidValues",
          "getterDocumentation" : "/**<p>The tag value is noncompliant with the effective tag policy.</p>\n@return The tag value is noncompliant with the effective tag policy.*/",
          "getterMethodName" : "getInvalidValues",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "InvalidValues",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InvalidValues",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "TagKey",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
[...]
