{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSTaxSettingsAsyncClient",
    "asyncClientBuilderClassName" : "AWSTaxSettingsAsyncClientBuilder",
    "asyncInterface" : "AWSTaxSettingsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSTaxSettingsModuleInjector",
    "defaultEndpoint" : "tax.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "tax.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You can use the tax setting API to programmatically set, modify, and delete the tax registration number (TRN), associated business legal name, and address (Collectively referred to as \"TRN information\"). You can also programmatically view TRN information and tax addresses (\"Tax profiles\"). </p> <p>You can use this API to automate your TRN information settings instead of manually using the console.</p> <p>Service Endpoint</p> <ul> <li> <p>https://tax.us-east-1.amazonaws.com</p> </li> </ul>",
    "endpointPrefix" : "tax",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.taxsettings",
    "packagePath" : "com/amazonaws/services/taxsettings",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Tax Settings",
    "serviceId" : "TaxSettings",
    "serviceName" : "Tax Settings",
    "signingName" : "tax",
    "smokeTestsPackageName" : "com.amazonaws.services.taxsettings.smoketests",
    "syncClient" : "AWSTaxSettingsClient",
    "syncClientBuilderClassName" : "AWSTaxSettingsClientBuilder",
    "syncInterface" : "AWSTaxSettings",
    "uid" : "taxsettings-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchDeleteTaxRegistration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteTaxRegistrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteTaxRegistrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteTaxRegistrationRequest, BatchDeleteTaxRegistrationResult>",
      "asyncReturnType" : "BatchDeleteTaxRegistrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes tax registration for multiple accounts in batch. This can be used to delete tax registrations for up to five accounts in one batch. </p> <note> <p>This API operation can't be used to delete your tax registration in Brazil. Use the <a href=\"https://console.aws.amazon.com/billing/home#/paymentpreferences/paymentmethods\">Payment preferences</a> page in the Billing and Cost Management console instead.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The exception when the input doesn't pass validation for at least one of the input parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The exception when the input is creating conflict with the given state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The exception thrown when an unexpected error occurs when processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteTaxRegistrationRequest",
        "variableName" : "batchDeleteTaxRegistrationRequest",
        "variableType" : "BatchDeleteTaxRegistrationRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteTaxRegistrationRequest",
        "variableSetterType" : "BatchDeleteTaxRegistrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteTaxRegistration",
      "operationName" : "BatchDeleteTaxRegistration",
      "returnType" : {
        "returnType" : "BatchDeleteTaxRegistrationResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteTaxRegistrationResult"
    },
    "BatchPutTaxRegistration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchPutTaxRegistrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchPutTaxRegistrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchPutTaxRegistrationRequest, BatchPutTaxRegistrationResult>",
      "asyncReturnType" : "BatchPutTaxRegistrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or updates tax registration for multiple accounts in batch. This can be used to add or update tax registrations for up to five accounts in one batch. You can't set a TRN if there's a pending TRN. You'll need to delete the pending TRN first.</p> <p>To call this API operation for specific countries, see the following country-specific requirements.</p> <p> <b>Bangladesh</b> </p> <ul> <li> <p>You must specify the tax registration certificate document in the <code>taxRegistrationDocuments</code> field of the <code>VerificationDetails</code> object.</p> </li> </ul> <p> <b>Brazil</b> </p> <ul> <li> <p>You must complete the tax registration process in the <a href=\"https://console.aws.amazon.com/billing/home#/paymentpreferences/paymentmethods\">Payment preferences</a> page in the Billing and Cost Management console. After your TRN and billing address are verified, you can call this API operation.</p> </li> <li> <p>For Amazon Web Services accounts created through Organizations, you can call this API operation when you don't have a billing address.</p> </li> </ul> <p> <b>Georgia</b> </p> <ul> <li> <p>The valid <code>personType</code> values are <code>Physical Person</code> and <code>Business</code>.</p> </li> </ul> <p> <b>Kenya</b> </p> <ul> <li> <p>You must specify the <code>personType</code> in the <code>kenyaAdditionalInfo</code> field of the <code>additionalTaxInformation</code> object.</p> </li> <li> <p>If the <code>personType</code> is <code>Physical Person</code>, you must specify the tax registration certificate document in the <code>taxRegistrationDocuments</code> field of the <code>VerificationDetails</code> object.</p> </li> </ul> <p> <b>Malaysia</b> </p> <ul> <li> <p>If you use this operation to set a tax registration number (TRN) in Malaysia, only resellers with a valid sales and service tax (SST) number are required to provide tax registration information.</p> </li> <li> <p>By using this API operation to set a TRN in Malaysia, Amazon Web Services will regard you as self-declaring that you're an authorized business reseller registered with the Royal Malaysia Customs Department (RMCD) and have a valid SST number.</p> </li> <li> <p>Amazon Web Services reserves the right to seek additional information and/or take other actions to support your self-declaration as appropriate.</p> </li> <li> <p>If you're not a reseller of Amazon Web Services, we don't recommend that you use this operation to set the TRN in Malaysia.</p> </li> <li> <p>Only use this API operation to upload the TRNs for accounts through which you're reselling Amazon Web Services.</p> </li> <li> <p>Amazon Web Services is currently registered under the following service tax codes. You must include at least one of the service tax codes in the service tax code strings to declare yourself as an authorized registered business reseller.</p> <p>Taxable service and service tax codes:</p> <p>Consultancy - 9907061674</p> <p>Training or coaching service - 9907071685</p> <p>IT service - 9907101676</p> <p>Digital services and electronic medium - 9907121690</p> </li> </ul> <p> <b>Nepal</b> </p> <ul> <li> <p>The sector valid values are <code>Business</code> and <code>Individual</code>.</p> </li> </ul> <p> <b>Saudi Arabia</b> </p> <ul> <li> <p>For <code>address</code>, you must specify <code>addressLine3</code>.</p> </li> </ul> <p> <b>South Korea</b> </p> <ul> <li> <p>You must specify the <code>certifiedEmailId</code> and <code>legalName</code> in the <code>TaxRegistrationEntry</code> object. Use Korean characters for <code>legalName</code>.</p> </li> <li> <p>You must specify the <code>businessRepresentativeName</code>, <code>itemOfBusiness</code>, and <code>lineOfBusiness</code> in the <code>southKoreaAdditionalInfo</code> field of the <code>additionalTaxInformation</code> object. Use Korean characters for these fields.</p> </li> <li> <p>You must specify the tax registration certificate document in the <code>taxRegistrationDocuments</code> field of the <code>VerificationDetails</code> object.</p> </li> <li> <p>For the <code>address</code> object, use Korean characters for <code>addressLine1</code>, <code>addressLine2</code> <code>city</code>, <code>postalCode</code>, and <code>stateOrRegion</code>.</p> </li> </ul> <p> <b>Spain</b> </p> <ul> <li> <p>You must specify the <code>registrationType</code> in the <code>spainAdditionalInfo</code> field of the <code>additionalTaxInformation</code> object.</p> </li> <li> <p>If the <code>registrationType</code> is <code>Local</code>, you must specify the tax registration certificate document in the <code>taxRegistrationDocuments</code> field of the <code>VerificationDetails</code> object.</p> </li> </ul> <p> <b>Turkey</b> </p> <ul> <li> <p>You must specify the <code>sector</code> in the <code>taxRegistrationEntry</code> object.</p> </li> <li> <p>If your <code>sector</code> is <code>Business</code>, <code>Individual</code>, or <code>Government</code>:</p> <ul> <li> <p>Specify the <code>taxOffice</code>. If your <code>sector</code> is <code>Individual</code>, don't enter this value.</p> </li> <li> <p>(Optional) Specify the <code>kepEmailId</code>. If your <code>sector</code> is <code>Individual</code>, don't enter this value.</p> </li> <li> <p> <b>Note:</b> In the <b>Tax Settings</b> page of the Billing console, <code>Government</code> appears as <b>Public institutions</b> </p> </li> </ul> </li> <li> <p>If your <code>sector</code> is <code>Business</code> and you're subject to KDV tax, you must specify your industry in the <code>industries</code> field.</p> </li> <li> <p>For <code>address</code>, you must specify <code>districtOrCounty</code>.</p> </li> </ul> <p> <b>Ukraine</b> </p> <ul> <li> <p>The sector valid values are <code>Business</code> and <code>Individual</code>.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The exception when the input doesn't pass validation for at least one of the input parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The exception when the input is creating conflict with the given state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The exception thrown when an unexpected error occurs when processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchPutTaxRegistrationRequest",
        "variableName" : "batchPutTaxRegistrationRequest",
        "variableType" : "BatchPutTaxRegistrationRequest",
        "documentation" : "",
        "simpleType" : "BatchPutTaxRegistrationRequest",
        "variableSetterType" : "BatchPutTaxRegistrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchPutTaxRegistration",
      "operationName" : "BatchPutTaxRegistration",
      "returnType" : {
        "returnType" : "BatchPutTaxRegistrationResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchPutTaxRegistrationResult"
    },
    "DeleteTaxRegistration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTaxRegistrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTaxRegistrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTaxRegistrationRequest, DeleteTaxRegistrationResult>",
      "asyncReturnType" : "DeleteTaxRegistrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes tax registration for a single account. </p> <note> <p>This API operation can't be used to delete your tax registration in Brazil. Use the <a href=\"https://console.aws.amazon.com/billing/home#/paymentpreferences/paymentmethods\">Payment preferences</a> page in the Billing and Cost Management console instead.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The exception when the input doesn't pass validation for at least one of the input parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The exception when the input is creating conflict with the given state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The exception thrown when the input doesn't have a resource associated to it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The exception thrown when an unexpected error occurs when processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTaxRegistrationRequest",
        "variableName" : "deleteTaxRegistrationRequest",
        "variableType" : "DeleteTaxRegistrationRequest",
        "documentation" : "",
        "simpleType" : "DeleteTaxRegistrationRequest",
        "variableSetterType" : "DeleteTaxRegistrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTaxRegistration",
      "operationName" : "DeleteTaxRegistration",
      "returnType" : {
        "returnType" : "DeleteTaxRegistrationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTaxRegistrationResult"
    },
    "GetTaxRegistration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTaxRegistrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTaxRegistrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTaxRegistrationRequest, GetTaxRegistrationResult>",
      "asyncReturnType" : "GetTaxRegistrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves tax registration for a single account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The exception when the input doesn't pass validation for at least one of the input parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The exception thrown when the input doesn't have a resource associated to it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The exception thrown when an unexpected error occurs when processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTaxRegistrationRequest",
        "variableName" : "getTaxRegistrationRequest",
        "variableType" : "GetTaxRegistrationRequest",
        "documentation" : "",
        "simpleType" : "GetTaxRegistrationRequest",
        "variableSetterType" : "GetTaxRegistrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTaxRegistration",
      "operationName" : "GetTaxRegistration",
      "returnType" : {
        "returnType" : "GetTaxRegistrationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTaxRegistrationResult"
    },
    "GetTaxRegistrationDocument" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTaxRegistrationDocumentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTaxRegistrationDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTaxRegistrationDocumentRequest, GetTaxRegistrationDocumentResult>",
      "asyncReturnType" : "GetTaxRegistrationDocumentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Downloads your tax documents to the Amazon S3 bucket that you specify in your request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The exception when the input doesn't pass validation for at least one of the input parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The exception thrown when an unexpected error occurs when processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTaxRegistrationDocumentRequest",
        "variableName" : "getTaxRegistrationDocumentRequest",
        "variableType" : "GetTaxRegistrationDocumentRequest",
        "documentation" : "",
        "simpleType" : "GetTaxRegistrationDocumentRequest",
        "variableSetterType" : "GetTaxRegistrationDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTaxRegistrationDocument",
      "operationName" : "GetTaxRegistrationDocument",
      "returnType" : {
        "returnType" : "GetTaxRegistrationDocumentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTaxRegistrationDocumentResult"
    },
    "ListTaxRegistrations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTaxRegistrationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTaxRegistrationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTaxRegistrationsRequest, ListTaxRegistrationsResult>",
      "asyncReturnType" : "ListTaxRegistrationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the tax registration of accounts listed in a consolidated billing family. This can be used to retrieve up to 100 accounts' tax registrations in one call (default 50). </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The exception when the input doesn't pass validation for at least one of the input parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The exception thrown when the input doesn't have a resource associated to it.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The exception thrown when an unexpected error occurs when processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTaxRegistrationsRequest",
        "variableName" : "listTaxRegistrationsRequest",
        "variableType" : "ListTaxRegistrationsRequest",
        "documentation" : "",
        "simpleType" : "ListTaxRegistrationsRequest",
        "variableSetterType" : "ListTaxRegistrationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTaxRegistrations",
      "operationName" : "ListTaxRegistrations",
      "returnType" : {
        "returnType" : "ListTaxRegistrationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTaxRegistrationsResult"
    },
    "PutTaxRegistration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutTaxRegistrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutTaxRegistrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutTaxRegistrationRequest, PutTaxRegistrationResult>",
      "asyncReturnType" : "PutTaxRegistrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or updates tax registration for a single account. You can't set a TRN if there's a pending TRN. You'll need to delete the pending TRN first.</p> <p>To call this API operation for specific countries, see the following country-specific requirements.</p> <p> <b>Bangladesh</b> </p> <ul> <li> <p>You must specify the tax registration certificate document in the <code>taxRegistrationDocuments</code> field of the <code>VerificationDetails</code> object.</p> </li> </ul> <p> <b>Brazil</b> </p> <ul> <li> <p>You must complete the tax registration process in the <a href=\"https://console.aws.amazon.com/billing/home#/paymentpreferences/paymentmethods\">Payment preferences</a> page in the Billing and Cost Management console. After your TRN and billing address are verified, you can call this API operation.</p> </li> <li> <p>For Amazon Web Services accounts created through Organizations, you can call this API operation when you don't have a billing address.</p> </li> </ul> <p> <b>Georgia</b> </p> <ul> <li> <p>The valid <code>personType</code> values are <code>Physical Person</code> and <code>Business</code>.</p> </li> </ul> <p> <b>Kenya</b> </p> <ul> <li> <p>You must specify the <code>personType</code> in the <code>kenyaAdditionalInfo</code> field of the <code>additionalTaxInformation</code> object.</p> </li> <li> <p>If the <code>personType</code> is <code>Physical Person</code>, you must specify the tax registration certificate document in the <code>taxRegistrationDocuments</code> field of the <code>VerificationDetails</code> object.</p> </li> </ul> <p> <b>Malaysia</b> </p> <ul> <li> <p>If you use this operation to set a tax registration number (TRN) in Malaysia, only resellers with a valid sales and service tax (SST) number are required to provide tax registration information.</p> </li> <li> <p>By using this API operation to set a TRN in Malaysia, Amazon Web Services will regard you as self-declaring that you're an authorized business reseller registered with the Royal Malaysia Customs Department (RMCD) and have a valid SST number.</p> </li> <li> <p>Amazon Web Services reserves the right to seek additional information and/or take other actions to support your self-declaration as appropriate.</p> </li> <li> <p>If you're not a reseller of Amazon Web Services, we don't recommend that you use this operation to set the TRN in Malaysia.</p> </li> <li> <p>Only use this API operation to upload the TRNs for accounts through which you're reselling Amazon Web Services.</p> </li> <li> <p>Amazon Web Services is currently registered under the following service tax codes. You must include at least one of the service tax codes in the service tax code strings to declare yourself as an authorized registered business reseller.</p> <p>Taxable service and service tax codes:</p> <p>Consultancy - 9907061674</p> <p>Training or coaching service - 9907071685</p> <p>IT service - 9907101676</p> <p>Digital services and electronic medium - 9907121690</p> </li> </ul> <p> <b>Nepal</b> </p> <ul> <li> <p>The sector valid values are <code>Business</code> and <code>Individual</code>.</p> </li> </ul> <p> <b>Saudi Arabia</b> </p> <ul> <li> <p>For <code>address</code>, you must specify <code>addressLine3</code>.</p> </li> </ul> <p> <b>South Korea</b> </p> <ul> <li> <p>You must specify the <code>certifiedEmailId</code> and <code>legalName</code> in the <code>TaxRegistrationEntry</code> object. Use Korean characters for <code>legalName</code>.</p> </li> <li> <p>You must specify the <code>businessRepresentativeName</code>, <code>itemOfBusiness</code>, and <code>lineOfBusiness</code> in the <code>southKoreaAdditionalInfo</code> field of the <code>additionalTaxInformation</code> object. Use Korean characters for these fields.</p> </li> <li> <p>You must specify the tax registration certificate document in the <code>taxRegistrationDocuments</code> field of the <code>VerificationDetails</code> object.</p> </li> <li> <p>For the <code>address</code> object, use Korean characters for <code>addressLine1</code>, <code>addressLine2</code> <code>city</code>, <code>postalCode</code>, and <code>stateOrRegion</code>.</p> </li> </ul> <p> <b>Spain</b> </p> <ul> <li> <p>You must specify the <code>registrationType</code> in the <code>spainAdditionalInfo</code> field of the <code>additionalTaxInformation</code> object.</p> </li> <li> <p>If the <code>registrationType</code> is <code>Local</code>, you must specify the tax registration certificate document in the <code>taxRegistrationDocuments</code> field of the <code>VerificationDetails</code> object.</p> </li> </ul> <p> <b>Turkey</b> </p> <ul> <li> <p>You must specify the <code>sector</code> in the <code>taxRegistrationEntry</code> object.</p> </li> <li> <p>If your <code>sector</code> is <code>Business</code>, <code>Individual</code>, or <code>Government</code>:</p> <ul> <li> <p>Specify the <code>taxOffice</code>. If your <code>sector</code> is <code>Individual</code>, don't enter this value.</p> </li> <li> <p>(Optional) Specify the <code>kepEmailId</code>. If your <code>sector</code> is <code>Individual</code>, don't enter this value.</p> </li> <li> <p> <b>Note:</b> In the <b>Tax Settings</b> page of the Billing console, <code>Government</code> appears as <b>Public institutions</b> </p> </li> </ul> </li> <li> <p>If your <code>sector</code> is <code>Business</code> and you're subject to KDV tax, you must specify your industry in the <code>industries</code> field.</p> </li> <li> <p>For <code>address</code>, you must specify <code>districtOrCounty</code>.</p> </li> </ul> <p> <b>Ukraine</b> </p> <ul> <li> <p>The sector valid values are <code>Business</code> and <code>Individual</code>.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The exception when the input doesn't pass validation for at least one of the input parameters. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The exception when the input is creating conflict with the given state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The exception thrown when an unexpected error occurs when processing a request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutTaxRegistrationRequest",
        "variableName" : "putTaxRegistrationRequest",
        "variableType" : "PutTaxRegistrationRequest",
        "documentation" : "",
        "simpleType" : "PutTaxRegistrationRequest",
        "variableSetterType" : "PutTaxRegistrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putTaxRegistration",
      "operationName" : "PutTaxRegistration",
      "returnType" : {
        "returnType" : "PutTaxRegistrationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutTaxRegistrationResult"
    }
  },
  "shapes" : {
    "AccountDetails" : {
      "c2jName" : "AccountDetails",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> An object with your <code>accountId</code> and TRN information. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.taxsettings.model.AccountDetails",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "accountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p>List of unique account identifiers. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>List of unique account identifiers. </p>\n@param accountId List of unique account identifiers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountId",
        "getterDocumentation" : "/**<p>List of unique account identifiers. </p>\n@return List of unique account identifiers.*/",
        "getterMethodName" : "getAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accountId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>List of unique account identifiers. </p>\n@param accountId List of unique account identifiers.*/",
        "setterMethodName" : "setAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>List of unique account identifiers. </p>\n@param accountId List of unique account identifiers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "<p>List of unique account identifiers. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "accountMetaData",
        "c2jShape" : "AccountMetaData",
        "deprecated" : false,
        "documentation" : "<p> The meta data information associated with the account. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The meta data information associated with the account. </p>\n@param accountMetaData The meta data information associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountMetaData",
        "getterDocumentation" : "/**<p> The meta data information associated with the account. </p>\n@return The meta data information associated with the account.*/",
        "getterMethodName" : "getAccountMetaData",
        "getterModel" : {
          "returnType" : "AccountMetaData",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accountMetaData",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accountMetaData",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AccountMetaData",
        "sensitive" : true,
        "setterDocumentation" : "/**<p> The meta data information associated with the account. </p>\n@param accountMetaData The meta data information associated with the account.*/",
        "setterMethodName" : "setAccountMetaData",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AccountMetaData",
          "variableName" : "accountMetaData",
          "variableType" : "AccountMetaData",
          "documentation" : "",
          "simpleType" : "AccountMetaData",
          "variableSetterType" : "AccountMetaData"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The meta data information associated with the account. </p>\n@param accountMetaData The meta data information associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AccountMetaData",
          "variableName" : "accountMetaData",
          "variableType" : "AccountMetaData",
          "documentation" : "<p> The meta data information associated with the account. </p>",
          "simpleType" : "AccountMetaData",
          "variableSetterType" : "AccountMetaData"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "taxInheritanceDetails",
        "c2jShape" : "TaxInheritanceDetails",
        "deprecated" : false,
        "documentation" : "<p> Tax inheritance information associated with the account. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Tax inheritance information associated with the account. </p>\n@param taxInheritanceDetails Tax inheritance information associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTaxInheritanceDetails",
        "getterDocumentation" : "/**<p> Tax inheritance information associated with the account. </p>\n@return Tax inheritance information associated with the account.*/",
        "getterMethodName" : "getTaxInheritanceDetails",
        "getterModel" : {
          "returnType" : "TaxInheritanceDetails",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "taxInheritanceDetails",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "taxInheritanceDetails",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TaxInheritanceDetails",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Tax inheritance information associated with the account. </p>\n@param taxInheritanceDetails Tax inheritance information associated with the account.*/",
        "setterMethodName" : "setTaxInheritanceDetails",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TaxInheritanceDetails",
          "variableName" : "taxInheritanceDetails",
          "variableType" : "TaxInheritanceDetails",
          "documentation" : "",
          "simpleType" : "TaxInheritanceDetails",
          "variableSetterType" : "TaxInheritanceDetails"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Tax inheritance information associated with the account. </p>\n@param taxInheritanceDetails Tax inheritance information associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TaxInheritanceDetails",
          "variableName" : "taxInheritanceDetails",
          "variableType" : "TaxInheritanceDetails",
          "documentation" : "<p> Tax inheritance information associated with the account. </p>",
          "simpleType" : "TaxInheritanceDetails",
          "variableSetterType" : "TaxInheritanceDetails"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "taxRegistration",
        "c2jShape" : "TaxRegistrationWithJurisdiction",
        "deprecated" : false,
        "documentation" : "<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>\n@param taxRegistration Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTaxRegistration",
        "getterDocumentation" : "/**<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>\n@return Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable).*/",
        "getterMethodName" : "getTaxRegistration",
        "getterModel" : {
          "returnType" : "TaxRegistrationWithJurisdiction",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "taxRegistration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "taxRegistration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TaxRegistration",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>\n@param taxRegistration Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable).*/",
        "setterMethodName" : "setTaxRegistration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TaxRegistrationWithJurisdiction",
          "variableName" : "taxRegistration",
          "variableType" : "TaxRegistrationWithJurisdiction",
          "documentation" : "",
          "simpleType" : "TaxRegistrationWithJurisdiction",
          "variableSetterType" : "TaxRegistrationWithJurisdiction"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>\n@param taxRegistration Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TaxRegistrationWithJurisdiction",
          "variableName" : "taxRegistration",
          "variableType" : "TaxRegistrationWithJurisdiction",
          "documentation" : "<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>",
          "simpleType" : "TaxRegistrationWithJurisdiction",
          "variableSetterType" : "TaxRegistrationWithJurisdiction"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountId" : {
          "c2jName" : "accountId",
          "c2jShape" : "AccountId",
          "deprecated" : false,
          "documentation" : "<p>List of unique account identifiers. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>List of unique account identifiers. </p>\n@param accountId List of unique account identifiers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountId",
          "getterDocumentation" : "/**<p>List of unique account identifiers. </p>\n@return List of unique account identifiers.*/",
          "getterMethodName" : "getAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "accountId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "accountId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>List of unique account identifiers. </p>\n@param accountId List of unique account identifiers.*/",
          "setterMethodName" : "setAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>List of unique account identifiers. </p>\n@param accountId List of unique account identifiers.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "<p>List of unique account identifiers. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AccountMetaData" : {
          "c2jName" : "accountMetaData",
          "c2jShape" : "AccountMetaData",
          "deprecated" : false,
          "documentation" : "<p> The meta data information associated with the account. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The meta data information associated with the account. </p>\n@param accountMetaData The meta data information associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountMetaData",
          "getterDocumentation" : "/**<p> The meta data information associated with the account. </p>\n@return The meta data information associated with the account.*/",
          "getterMethodName" : "getAccountMetaData",
          "getterModel" : {
            "returnType" : "AccountMetaData",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "accountMetaData",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "accountMetaData",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "AccountMetaData",
          "sensitive" : true,
          "setterDocumentation" : "/**<p> The meta data information associated with the account. </p>\n@param accountMetaData The meta data information associated with the account.*/",
          "setterMethodName" : "setAccountMetaData",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AccountMetaData",
            "variableName" : "accountMetaData",
            "variableType" : "AccountMetaData",
            "documentation" : "",
            "simpleType" : "AccountMetaData",
            "variableSetterType" : "AccountMetaData"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The meta data information associated with the account. </p>\n@param accountMetaData The meta data information associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AccountMetaData",
            "variableName" : "accountMetaData",
            "variableType" : "AccountMetaData",
            "documentation" : "<p> The meta data information associated with the account. </p>",
            "simpleType" : "AccountMetaData",
            "variableSetterType" : "AccountMetaData"
          },
          "xmlNameSpaceUri" : null
        },
        "TaxInheritanceDetails" : {
          "c2jName" : "taxInheritanceDetails",
          "c2jShape" : "TaxInheritanceDetails",
          "deprecated" : false,
          "documentation" : "<p> Tax inheritance information associated with the account. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Tax inheritance information associated with the account. </p>\n@param taxInheritanceDetails Tax inheritance information associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTaxInheritanceDetails",
          "getterDocumentation" : "/**<p> Tax inheritance information associated with the account. </p>\n@return Tax inheritance information associated with the account.*/",
          "getterMethodName" : "getTaxInheritanceDetails",
          "getterModel" : {
            "returnType" : "TaxInheritanceDetails",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "taxInheritanceDetails",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "taxInheritanceDetails",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "TaxInheritanceDetails",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Tax inheritance information associated with the account. </p>\n@param taxInheritanceDetails Tax inheritance information associated with the account.*/",
          "setterMethodName" : "setTaxInheritanceDetails",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TaxInheritanceDetails",
            "variableName" : "taxInheritanceDetails",
            "variableType" : "TaxInheritanceDetails",
            "documentation" : "",
            "simpleType" : "TaxInheritanceDetails",
            "variableSetterType" : "TaxInheritanceDetails"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Tax inheritance information associated with the account. </p>\n@param taxInheritanceDetails Tax inheritance information associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TaxInheritanceDetails",
            "variableName" : "taxInheritanceDetails",
            "variableType" : "TaxInheritanceDetails",
            "documentation" : "<p> Tax inheritance information associated with the account. </p>",
            "simpleType" : "TaxInheritanceDetails",
            "variableSetterType" : "TaxInheritanceDetails"
          },
          "xmlNameSpaceUri" : null
        },
        "TaxRegistration" : {
          "c2jName" : "taxRegistration",
          "c2jShape" : "TaxRegistrationWithJurisdiction",
          "deprecated" : false,
          "documentation" : "<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>\n@param taxRegistration Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTaxRegistration",
          "getterDocumentation" : "/**<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>\n@return Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable).*/",
          "getterMethodName" : "getTaxRegistration",
          "getterModel" : {
            "returnType" : "TaxRegistrationWithJurisdiction",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "taxRegistration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "taxRegistration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "TaxRegistration",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>\n@param taxRegistration Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable).*/",
          "setterMethodName" : "setTaxRegistration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TaxRegistrationWithJurisdiction",
            "variableName" : "taxRegistration",
            "variableType" : "TaxRegistrationWithJurisdiction",
            "documentation" : "",
            "simpleType" : "TaxRegistrationWithJurisdiction",
            "variableSetterType" : "TaxRegistrationWithJurisdiction"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>\n@param taxRegistration Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TaxRegistrationWithJurisdiction",
            "variableName" : "taxRegistration",
            "variableType" : "TaxRegistrationWithJurisdiction",
            "documentation" : "<p>Your TRN information. Instead of having full legal address, here TRN information will have jurisdiction details (for example, country code and state/region/province if applicable). </p>",
            "simpleType" : "TaxRegistrationWithJurisdiction",
            "variableSetterType" : "TaxRegistrationWithJurisdiction"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.taxsettings.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccountDetails",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountDetails",
        "variableName" : "accountDetails",
        "variableType" : "AccountDetails",
        "documentation" : null,
        "simpleType" : "AccountDetails",
        "variableSetterType" : "AccountDetails"
      },
      "wrapper" : false
    },
    "AccountMetaData" : {
      "c2jName" : "AccountMetaData",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The meta data information associated with the account. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.taxsettings.model.AccountMetaData",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "accountName",
        "c2jShape" : "AccountName",
        "deprecated" : false,
        "documentation" : "<p> The Amazon Web Services accounts name. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The Amazon Web Services accounts name. </p>\n@param accountName The Amazon Web Services accounts name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountName",
        "getterDocumentation" : "/**<p> The Amazon Web Services accounts name. </p>\n@return The Amazon Web Services accounts name.*/",
        "getterMethodName" : "getAccountName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accountName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accountName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The Amazon Web Services accounts name. </p>\n@param accountName The Amazon Web Services accounts name.*/",
        "setterMethodName" : "setAccountName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The Amazon Web Services accounts name. </p>\n@param accountName The Amazon Web Services accounts name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountName",
          "variableType" : "String",
          "documentation" : "<p> The Amazon Web Services accounts name. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "address",
        "c2jShape" : "Address",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param address \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAddress",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getAddress",
        "getterModel" : {
          "returnType" : "Address",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "address",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "address",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Address",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param address */",
        "setterMethodName" : "setAddress",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Address",
          "variableName" : "address",
          "variableType" : "Address",
          "documentation" : "",
          "simpleType" : "Address",
          "variableSetterType" : "Address"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param address \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Address",
          "variableName" : "address",
          "variableType" : "Address",
          "documentation" : "",
          "simpleType" : "Address",
          "variableSetterType" : "Address"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "addressRoleMap",
        "c2jShape" : "AddressRoleMap",
        "deprecated" : false,
        "documentation" : "<p> Address roles associated with the account containing country code information. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Address roles associated with the account containing country code information. </p>\n@param addressRoleMap Address roles associated with the account containing country code information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAddressRoleMap",
        "getterDocumentation" : "/**<p> Address roles associated with the account containing country code information. </p>\n@return Address roles associated with the account containing country code information.*/",
        "getterMethodName" : "getAddressRoleMap",
        "getterModel" : {
          "returnType" : "java.util.Map<String,Jurisdiction>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "addressRoleMap",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "addressRoleMap",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : {
            "c2jName" : "key",
            "c2jShape" : "AddressRoleType",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : "AddressRoleType",
            "fluentSetterDocumentation" : "/**\n@param key \n@return Returns a reference to this object so that method calls can be chained together.\n@see AddressRoleType*/",
            "fluentSetterMethodName" : "withKey",
            "getterDocumentation" : "/**\n@return \n@see AddressRoleType*/",
            "getterMethodName" : "getKey",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "key",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "key",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Key",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param key \n@see AddressRoleType*/",
            "setterMethodName" : "setKey",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "key",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param key \n@return Returns a reference to this object so that method calls can be chained together.\n@see AddressRoleType*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "key",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "Jurisdiction",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "Jurisdiction",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Jurisdiction",
              "variableName" : "value",
              "variableType" : "Jurisdiction",
              "documentation" : "",
              "simpleType" : "Jurisdiction",
              "variableSetterType" : "Jurisdiction"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Jurisdiction",
              "variableName" : "value",
              "variableType" : "Jurisdiction",
              "documentation" : "",
              "simpleType" : "Jurisdiction",
              "variableSetterType" : "Jurisdiction"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "Jurisdiction",
          "entryType" : "Map.Entry<String, Jurisdiction>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,Jurisdiction>",
          "templateType" : "java.util.Map<String,Jurisdiction>",
          "valueList" : false,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "AddressRoleMap",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Address roles associated with the account containing country code information. </p>\n@param addressRoleMap Address roles associated with the account containing country code information.*/",
        "setterMethodName" : "setAddressRoleMap",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,Jurisdiction>",
          "variableName" : "addressRoleMap",
          "variableType" : "java.util.Map<String,Jurisdiction>",
          "documentation" : "",
          "simpleType" : "Map<String,Jurisdiction>",
          "variableSetterType" : "java.util.Map<String,Jurisdiction>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Address roles associated with the account containing country code information. </p>\n@param addressRoleMap Address roles associated with the account containing country code information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,Jurisdiction>",
          "variableName" : "addressRoleMap",
          "variableType" : "java.util.Map<String,Jurisdiction>",
          "documentation" : "<p> Address roles associated with the account containing country code information. </p>",
          "simpleType" : "Map<String,Jurisdiction>",
          "variableSetterType" : "java.util.Map<String,Jurisdiction>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "addressType",
        "c2jShape" : "AddressRoleType",
        "deprecated" : false,
        "documentation" : "<p> The type of address associated with the legal profile. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AddressRoleType",
        "fluentSetterDocumentation" : "/**<p> The type of address associated with the legal profile. </p>\n@param addressType The type of address associated with the legal profile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AddressRoleType*/",
        "fluentSetterMethodName" : "withAddressType",
        "getterDocumentation" : "/**<p> The type of address associated with the legal profile. </p>\n@return The type of address associated with the legal profile.\n@see AddressRoleType*/",
        "getterMethodName" : "getAddressType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "addressType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "addressType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AddressType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The type of address associated with the legal profile. </p>\n@param addressType The type of address associated with the legal profile.\n@see AddressRoleType*/",
        "setterMethodName" : "setAddressType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The type of address associated with the legal profile. </p>\n@param addressType The type of address associated with the legal profile.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AddressRoleType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "addressType",
          "variableType" : "String",
          "documentation" : "<p> The type of address associated with the legal profile. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "seller",
        "c2jShape" : "Seller",
        "deprecated" : false,
        "documentation" : "<p> Seller information associated with the account. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Seller information associated with the account. </p>\n@param seller Seller information associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSeller",
        "getterDocumentation" : "/**<p> Seller information associated with the account. </p>\n@return Seller information associated with the account.*/",
        "getterMethodName" : "getSeller",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "seller",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "seller",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Seller",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Seller information associated with the account. </p>\n@param seller Seller information associated with the account.*/",
        "setterMethodName" : "setSeller",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "seller",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Seller information associated with the account. </p>\n@param seller Seller information associated with the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "seller",
          "variableType" : "String",
          "documentation" : "<p> Seller information associated with the account. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountName" : {
          "c2jName" : "accountName",
          "c2jShape" : "AccountName",
          "deprecated" : false,
          "documentation" : "<p> The Amazon Web Services accounts name. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The Amazon Web Services accounts name. </p>\n@param accountName The Amazon Web Services accounts name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountName",
          "getterDocumentation" : "/**<p> The Amazon Web Services accounts name. </p>\n@return The Amazon Web Services accounts name.*/",
          "getterMethodName" : "getAccountName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "accountName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "accountName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The Amazon Web Services accounts name. </p>\n@param accountName The Amazon Web Services accounts name.*/",
          "setterMethodName" : "setAccountName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The Amazon Web Services accounts name. </p>\n@param accountName The Amazon Web Services accounts name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountName",
            "variableType" : "String",
            "documentation" : "<p> The Amazon Web Services accounts name. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Address" : {
          "c2jName" : "address",
          "c2jShape" : "Address",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param address \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAddress",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getAddress",
          "getterModel" : {
            "returnType" : "Address",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "address",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "address",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Address",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param address */",
          "setterMethodName" : "setAddress",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Address",
            "variableName" : "address",
            "variableType" : "Address",
            "documentation" : "",
            "simpleType" : "Address",
            "variableSetterType" : "Address"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param address \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Address",
            "variableName" : "address",
            "variableType" : "Address",
            "documentation" : "",
            "simpleType" : "Address",
            "variableSetterType" : "Address"
          },
          "xmlNameSpaceUri" : null
        },
        "AddressRoleMap" : {
          "c2jName" : "addressRoleMap",
          "c2jShape" : "AddressRoleMap",
          "deprecated" : false,
          "documentation" : "<p> Address roles associated with the account containing country code information. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Address roles associated with the account containing country code information. </p>\n@param addressRoleMap Address roles associated with the account containing country code information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAddressRoleMap",
          "getterDocumentation" : "/**<p> Address roles associated with the account containing country code information. </p>\n@return Address roles associated with the account containing country code information.*/",
          "getterMethodName" : "getAddressRoleMap",
          "getterModel" : {
            "returnType" : "java.util.Map<String,Jurisdiction>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "addressRoleMap",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "addressRoleMap",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : {
              "c2jName" : "key",
              "c2jShape" : "AddressRoleType",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : "AddressRoleType",
              "fluentSetterDocumentation" : "/**\n@param key \n@return Returns a reference to this object so that method calls can be chained together.\n@see AddressRoleType*/",
              "fluentSetterMethodName" : "withKey",
              "getterDocumentation" : "/**\n@return \n@see AddressRoleType*/",
              "getterMethodName" : "getKey",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "key",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "key",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Key",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param key \n@see AddressRoleType*/",
              "setterMethodName" : "setKey",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "key",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param key \n@return Returns a reference to this object so that method calls can be chained together.\n@see AddressRoleType*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "key",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "Jurisdiction",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "Jurisdiction",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Jurisdiction",
                "variableName" : "value",
                "variableType" : "Jurisdiction",
                "documentation" : "",
                "simpleType" : "Jurisdiction",
                "variableSetterType" : "Jurisdiction"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Jurisdiction",
                "variableName" : "value",
                "variableType" : "Jurisdiction",
                "documentation" : "",
                "simpleType" : "Jurisdiction",
                "variableSetterType" : "Jurisdiction"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "Jurisdiction",
            "entryType" : "Map.Entry<String, Jurisdiction>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,Jurisdiction>",
            "templateType" : "java.util.Map<String,Jurisdiction>",
            "valueList" : false,
            "valueSimple" : false
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "AddressRoleMap",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Address roles associated with the account containing country code information. </p>\n@param addressRoleMap Address roles associated with the account containing country code information.*/",
[...]
