{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-11-01",
    "asyncClient" : "AmazonTimestreamWriteAsyncClient",
    "asyncClientBuilderClassName" : "AmazonTimestreamWriteAsyncClientBuilder",
    "asyncInterface" : "AmazonTimestreamWriteAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonTimestreamWriteModuleInjector",
    "defaultEndpoint" : "ingest.timestream.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ingest.timestream.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Timestream Write</fullname> <p>Amazon Timestream is a fast, scalable, fully managed time-series database service that makes it easy to store and analyze trillions of time-series data points per day. With Timestream, you can easily store and analyze IoT sensor data to derive insights from your IoT applications. You can analyze industrial telemetry to streamline equipment management and maintenance. You can also store and analyze log data and metrics to improve the performance and availability of your applications. </p> <p>Timestream is built from the ground up to effectively ingest, process, and store time-series data. It organizes data to optimize query processing. It automatically scales based on the volume of data ingested and on the query volume to ensure you receive optimal performance while inserting and querying data. As your data grows over time, Timestream’s adaptive query processing engine spans across storage tiers to provide fast analysis while reducing costs.</p>",
    "endpointPrefix" : "ingest.timestream",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.timestreamwrite",
    "packagePath" : "com/amazonaws/services/timestreamwrite",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Timestream Write",
    "serviceFullName" : "Amazon Timestream Write",
    "serviceId" : "Timestream Write",
    "serviceName" : "Timestream Write",
    "signingName" : "timestream",
    "smokeTestsPackageName" : "com.amazonaws.services.timestreamwrite.smoketests",
    "syncClient" : "AmazonTimestreamWriteClient",
    "syncClientBuilderClassName" : "AmazonTimestreamWriteClientBuilder",
    "syncInterface" : "AmazonTimestreamWrite",
    "uid" : "timestream-write-2018-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateBatchLoadTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBatchLoadTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBatchLoadTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBatchLoadTaskRequest, CreateBatchLoadTaskResult>",
      "asyncReturnType" : "CreateBatchLoadTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Timestream batch load task. A batch load task processes data from a CSV source in an S3 location and writes to a Timestream table. A mapping from source to target is defined in a batch load task. Errors and events are written to a report at an S3 location. For the report, if the KMS key is not specified, the report will be encrypted with an S3 managed key when <code>SSE_S3</code> is the option. Otherwise an error is thrown. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">Amazon Web Services managed keys</a>. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. For details, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.create-batch-load.html\">code sample</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Timestream was unable to process this request because it contains resource that already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The instance quota of resource exceeded for this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBatchLoadTaskRequest",
        "variableName" : "createBatchLoadTaskRequest",
        "variableType" : "CreateBatchLoadTaskRequest",
        "documentation" : "",
        "simpleType" : "CreateBatchLoadTaskRequest",
        "variableSetterType" : "CreateBatchLoadTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBatchLoadTask",
      "operationName" : "CreateBatchLoadTask",
      "returnType" : {
        "returnType" : "CreateBatchLoadTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBatchLoadTaskResult"
    },
    "CreateDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatabaseRequest, CreateDatabaseResult>",
      "asyncReturnType" : "CreateDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Timestream database. If the KMS key is not specified, the database will be encrypted with a Timestream managed KMS key located in your account. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">Amazon Web Services managed keys</a>. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. For details, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.create-db.html\">code sample</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Timestream was unable to process this request because it contains resource that already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The instance quota of resource exceeded for this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatabaseRequest",
        "variableName" : "createDatabaseRequest",
        "variableType" : "CreateDatabaseRequest",
        "documentation" : "",
        "simpleType" : "CreateDatabaseRequest",
        "variableSetterType" : "CreateDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatabase",
      "operationName" : "CreateDatabase",
      "returnType" : {
        "returnType" : "CreateDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatabaseResult"
    },
    "CreateTable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTableRequest, CreateTableResult>",
      "asyncReturnType" : "CreateTableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a new table to an existing database in your account. In an Amazon Web Services account, table names must be at least unique within each Region if they are in the same database. You might have identical table names in the same Region if the tables are in separate databases. While creating the table, you must specify the table name, database name, and the retention properties. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.create-table.html\">code sample</a> for details. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Timestream was unable to process this request because it contains resource that already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The instance quota of resource exceeded for this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTableRequest",
        "variableName" : "createTableRequest",
        "variableType" : "CreateTableRequest",
        "documentation" : "",
        "simpleType" : "CreateTableRequest",
        "variableSetterType" : "CreateTableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTable",
      "operationName" : "CreateTable",
      "returnType" : {
        "returnType" : "CreateTableResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTableResult"
    },
    "DeleteDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatabaseRequest, DeleteDatabaseResult>",
      "asyncReturnType" : "DeleteDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a given Timestream database. <i>This is an irreversible operation. After a database is deleted, the time-series data from its tables cannot be recovered.</i> </p> <note> <p>All tables in the database must be deleted first, or a ValidationException error will be thrown. </p> <p>Due to the nature of distributed retries, the operation can return either success or a ResourceNotFoundException. Clients should consider them equivalent.</p> </note> <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.delete-db.html\">code sample</a> for details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatabaseRequest",
        "variableName" : "deleteDatabaseRequest",
        "variableType" : "DeleteDatabaseRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatabaseRequest",
        "variableSetterType" : "DeleteDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDatabase",
      "operationName" : "DeleteDatabase",
      "returnType" : {
        "returnType" : "DeleteDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatabaseResult"
    },
    "DeleteTable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTableRequest, DeleteTableResult>",
      "asyncReturnType" : "DeleteTableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a given Timestream table. This is an irreversible operation. After a Timestream database table is deleted, the time-series data stored in the table cannot be recovered. </p> <note> <p>Due to the nature of distributed retries, the operation can return either success or a ResourceNotFoundException. Clients should consider them equivalent.</p> </note> <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.delete-table.html\">code sample</a> for details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTableRequest",
        "variableName" : "deleteTableRequest",
        "variableType" : "DeleteTableRequest",
        "documentation" : "",
        "simpleType" : "DeleteTableRequest",
        "variableSetterType" : "DeleteTableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTable",
      "operationName" : "DeleteTable",
      "returnType" : {
        "returnType" : "DeleteTableResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTableResult"
    },
    "DescribeBatchLoadTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBatchLoadTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBatchLoadTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBatchLoadTaskRequest, DescribeBatchLoadTaskResult>",
      "asyncReturnType" : "DescribeBatchLoadTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the batch load task, including configurations, mappings, progress, and other details. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.describe-batch-load.html\">code sample</a> for details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBatchLoadTaskRequest",
        "variableName" : "describeBatchLoadTaskRequest",
        "variableType" : "DescribeBatchLoadTaskRequest",
        "documentation" : "",
        "simpleType" : "DescribeBatchLoadTaskRequest",
        "variableSetterType" : "DescribeBatchLoadTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBatchLoadTask",
      "operationName" : "DescribeBatchLoadTask",
      "returnType" : {
        "returnType" : "DescribeBatchLoadTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeBatchLoadTaskResult"
    },
    "DescribeDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatabaseRequest, DescribeDatabaseResult>",
      "asyncReturnType" : "DescribeDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the database, including the database name, time that the database was created, and the total number of tables found within the database. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.describe-db.html\">code sample</a> for details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatabaseRequest",
        "variableName" : "describeDatabaseRequest",
        "variableType" : "DescribeDatabaseRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatabaseRequest",
        "variableSetterType" : "DescribeDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDatabase",
      "operationName" : "DescribeDatabase",
      "returnType" : {
        "returnType" : "DescribeDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatabaseResult"
    },
    "DescribeEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointsRequest, DescribeEndpointsResult>",
      "asyncReturnType" : "DescribeEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of available endpoints to make Timestream API calls against. This API operation is available through both the Write and Query APIs.</p> <p>Because the Timestream SDKs are designed to transparently work with the service’s architecture, including the management and mapping of the service endpoints, <i>we don't recommend that you use this API operation unless</i>:</p> <ul> <li> <p>You are using <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/VPCEndpoints\">VPC endpoints (Amazon Web Services PrivateLink) with Timestream</a> </p> </li> <li> <p>Your application uses a programming language that does not yet have SDK support</p> </li> <li> <p>You require better control over the client-side implementation</p> </li> </ul> <p>For detailed information on how and when to use and implement DescribeEndpoints, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/Using.API.html#Using-API.endpoint-discovery\">The Endpoint Discovery Pattern</a>.</p>",
      "endpointCacheRequired" : true,
      "endpointDiscovery" : null,
      "endpointOperation" : true,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEndpointsRequest",
        "variableName" : "describeEndpointsRequest",
        "variableType" : "DescribeEndpointsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEndpointsRequest",
        "variableSetterType" : "DescribeEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEndpoints",
      "operationName" : "DescribeEndpoints",
      "returnType" : {
        "returnType" : "DescribeEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEndpointsResult"
    },
    "DescribeTable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTableRequest, DescribeTableResult>",
      "asyncReturnType" : "DescribeTableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the table, including the table name, database name, retention duration of the memory store and the magnetic store. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.describe-table.html\">code sample</a> for details. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTableRequest",
        "variableName" : "describeTableRequest",
        "variableType" : "DescribeTableRequest",
        "documentation" : "",
        "simpleType" : "DescribeTableRequest",
        "variableSetterType" : "DescribeTableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTable",
      "operationName" : "DescribeTable",
      "returnType" : {
        "returnType" : "DescribeTableResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTableResult"
    },
    "ListBatchLoadTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBatchLoadTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBatchLoadTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBatchLoadTasksRequest, ListBatchLoadTasksResult>",
      "asyncReturnType" : "ListBatchLoadTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of batch load tasks, along with the name, status, when the task is resumable until, and other details. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.list-batch-load-tasks.html\">code sample</a> for details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBatchLoadTasksRequest",
        "variableName" : "listBatchLoadTasksRequest",
        "variableType" : "ListBatchLoadTasksRequest",
        "documentation" : "",
        "simpleType" : "ListBatchLoadTasksRequest",
        "variableSetterType" : "ListBatchLoadTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBatchLoadTasks",
      "operationName" : "ListBatchLoadTasks",
      "returnType" : {
        "returnType" : "ListBatchLoadTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBatchLoadTasksResult"
    },
    "ListDatabases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatabasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatabasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatabasesRequest, ListDatabasesResult>",
      "asyncReturnType" : "ListDatabasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of your Timestream databases. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.list-db.html\">code sample</a> for details. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatabasesRequest",
        "variableName" : "listDatabasesRequest",
        "variableType" : "ListDatabasesRequest",
        "documentation" : "",
        "simpleType" : "ListDatabasesRequest",
        "variableSetterType" : "ListDatabasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatabases",
      "operationName" : "ListDatabases",
      "returnType" : {
        "returnType" : "ListDatabasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatabasesResult"
    },
    "ListTables" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTablesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTablesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTablesRequest, ListTablesResult>",
      "asyncReturnType" : "ListTablesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of tables, along with the name, status, and retention properties of each table. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.list-table.html\">code sample</a> for details. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTablesRequest",
        "variableName" : "listTablesRequest",
        "variableType" : "ListTablesRequest",
        "documentation" : "",
        "simpleType" : "ListTablesRequest",
        "variableSetterType" : "ListTablesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTables",
      "operationName" : "ListTables",
      "returnType" : {
        "returnType" : "ListTablesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTablesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists all tags on a Timestream resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ResumeBatchLoadTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResumeBatchLoadTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResumeBatchLoadTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResumeBatchLoadTaskRequest, ResumeBatchLoadTaskResult>",
      "asyncReturnType" : "ResumeBatchLoadTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResumeBatchLoadTaskRequest",
        "variableName" : "resumeBatchLoadTaskRequest",
        "variableType" : "ResumeBatchLoadTaskRequest",
        "documentation" : "",
        "simpleType" : "ResumeBatchLoadTaskRequest",
        "variableSetterType" : "ResumeBatchLoadTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resumeBatchLoadTask",
      "operationName" : "ResumeBatchLoadTask",
      "returnType" : {
        "returnType" : "ResumeBatchLoadTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "ResumeBatchLoadTaskResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Associates a set of tags with a Timestream resource. You can then activate these user-defined tags so that they appear on the Billing and Cost Management console for cost allocation tracking. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The instance quota of resource exceeded for this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Removes the association of tags from a Timestream resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The instance quota of resource exceeded for this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDatabaseRequest, UpdateDatabaseResult>",
      "asyncReturnType" : "UpdateDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Modifies the KMS key for an existing database. While updating the database, you must specify the database name and the identifier of the new KMS key to be used (<code>KmsKeyId</code>). If there are any concurrent <code>UpdateDatabase</code> requests, first writer wins. </p> <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.update-db.html\">code sample</a> for details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The instance quota of resource exceeded for this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDatabaseRequest",
        "variableName" : "updateDatabaseRequest",
        "variableType" : "UpdateDatabaseRequest",
        "documentation" : "",
        "simpleType" : "UpdateDatabaseRequest",
        "variableSetterType" : "UpdateDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDatabase",
      "operationName" : "UpdateDatabase",
      "returnType" : {
        "returnType" : "UpdateDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDatabaseResult"
    },
    "UpdateTable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTableRequest, UpdateTableResult>",
      "asyncReturnType" : "UpdateTableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the retention duration of the memory store and magnetic store for your Timestream table. Note that the change in retention duration takes effect immediately. For example, if the retention period of the memory store was initially set to 2 hours and then changed to 24 hours, the memory store will be capable of holding 24 hours of data, but will be populated with 24 hours of data 22 hours after this change was made. Timestream does not retrieve data from the magnetic store to populate the memory store. </p> <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.update-table.html\">code sample</a> for details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTableRequest",
        "variableName" : "updateTableRequest",
        "variableType" : "UpdateTableRequest",
        "documentation" : "",
        "simpleType" : "UpdateTableRequest",
        "variableSetterType" : "UpdateTableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTable",
      "operationName" : "UpdateTable",
      "returnType" : {
        "returnType" : "UpdateTableResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTableResult"
    },
    "WriteRecords" : {
      "asyncCallableType" : "java.util.concurrent.Callable<WriteRecordsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<WriteRecordsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<WriteRecordsRequest, WriteRecordsResult>",
      "asyncReturnType" : "WriteRecordsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables you to write your time-series data into Timestream. You can specify a single data point or a batch of data points to be inserted into the system. Timestream offers you a flexible schema that auto detects the column names and data types for your Timestream tables based on the dimension names and data types of the data points you specify when invoking writes into the database. </p> <p>Timestream supports eventual consistency read semantics. This means that when you query data immediately after writing a batch of data into Timestream, the query results might not reflect the results of a recently completed write operation. The results may also include some stale data. If you repeat the query request after a short time, the results should return the latest data. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. </p> <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.write.html\">code sample</a> for details.</p> <p> <b>Upserts</b> </p> <p>You can use the <code>Version</code> parameter in a <code>WriteRecords</code> request to update data points. Timestream tracks a version number with each record. <code>Version</code> defaults to <code>1</code> when it's not specified for the record in the request. Timestream updates an existing record’s measure value along with its <code>Version</code> when it receives a write request with a higher <code>Version</code> number for that record. When it receives an update request where the measure value is the same as that of the existing record, Timestream still updates <code>Version</code>, if it is greater than the existing value of <code>Version</code>. You can update a data point as many times as desired, as long as the value of <code>Version</code> continuously increases. </p> <p> For example, suppose you write a new record without indicating <code>Version</code> in the request. Timestream stores this record, and set <code>Version</code> to <code>1</code>. Now, suppose you try to update this record with a <code>WriteRecords</code> request of the same record with a different measure value but, like before, do not provide <code>Version</code>. In this case, Timestream will reject this update with a <code>RejectedRecordsException</code> since the updated record’s version is not greater than the existing value of Version. </p> <p>However, if you were to resend the update request with <code>Version</code> set to <code>2</code>, Timestream would then succeed in updating the record’s value, and the <code>Version</code> would be set to <code>2</code>. Next, suppose you sent a <code>WriteRecords</code> request with this same record and an identical measure value, but with <code>Version</code> set to <code>3</code>. In this case, Timestream would only update <code>Version</code> to <code>3</code>. Any further updates would need to send a version number greater than <code>3</code>, or the update requests would receive a <code>RejectedRecordsException</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> An invalid or malformed request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RejectedRecordsException",
        "documentation" : "<p> WriteRecords would throw this exception in the following cases: </p> <ul> <li> <p>Records with duplicate data where there are multiple records with the same dimensions, timestamps, and measure names but: </p> <ul> <li> <p>Measure values are different</p> </li> <li> <p>Version is not present in the request <i>or</i> the value of version in the new record is equal to or lower than the existing value</p> </li> </ul> <p> In this case, if Timestream rejects data, the <code>ExistingVersion</code> field in the <code>RejectedRecords</code> response will indicate the current record’s version. To force an update, you can resend the request with a version for the record set to a value greater than the <code>ExistingVersion</code>.</p> </li> <li> <p> Records with timestamps that lie outside the retention duration of the memory store. </p> </li> <li> <p> Records with dimensions or measures that exceed the Timestream defined limits. </p> </li> </ul> <p> For more information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Quotas</a> in the Amazon Timestream Developer Guide. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "WriteRecordsRequest",
        "variableName" : "writeRecordsRequest",
        "variableType" : "WriteRecordsRequest",
        "documentation" : "",
        "simpleType" : "WriteRecordsRequest",
        "variableSetterType" : "WriteRecordsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "writeRecords",
      "operationName" : "WriteRecords",
      "returnType" : {
        "returnType" : "WriteRecordsResult",
        "documentation" : null
      },
      "syncReturnType" : "WriteRecordsResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You are not authorized to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.timestreamwrite.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.timestreamwrite.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "BatchLoadDataFormat" : {
      "c2jName" : "BatchLoadDataFormat",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "CSV",
        "value" : "CSV"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.timestreamwrite.enum.BatchLoadDataFormat",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.timestreamwrite.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "BatchLoadDataFormat",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchLoadDataFormat",
        "variableName" : "batchLoadDataFormat",
        "variableType" : "BatchLoadDataFormat",
        "documentation" : null,
        "simpleType" : "BatchLoadDataFormat",
        "variableSetterType" : "BatchLoadDataFormat"
      },
      "wrapper" : false
    },
    "BatchLoadProgressReport" : {
      "c2jName" : "BatchLoadProgressReport",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Details about the progress of a batch load task.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.timestreamwrite.model.BatchLoadProgressReport",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "RecordsProcessed",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param recordsProcessed \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRecordsProcessed",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getRecordsProcessed",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RecordsProcessed",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RecordsProcessed",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "RecordsProcessed",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param recordsProcessed */",
        "setterMethodName" : "setRecordsProcessed",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "recordsProcessed",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param recordsProcessed \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "recordsProcessed",
          "variableType" : "Long",
          "documentation" : "<p/>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RecordsIngested",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param recordsIngested \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRecordsIngested",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getRecordsIngested",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RecordsIngested",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RecordsIngested",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "RecordsIngested",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param recordsIngested */",
        "setterMethodName" : "setRecordsIngested",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "recordsIngested",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param recordsIngested \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "recordsIngested",
          "variableType" : "Long",
          "documentation" : "<p/>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ParseFailures",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param parseFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withParseFailures",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getParseFailures",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ParseFailures",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ParseFailures",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ParseFailures",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param parseFailures */",
        "setterMethodName" : "setParseFailures",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "parseFailures",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param parseFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "parseFailures",
          "variableType" : "Long",
          "documentation" : "<p/>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RecordIngestionFailures",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param recordIngestionFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRecordIngestionFailures",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getRecordIngestionFailures",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RecordIngestionFailures",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RecordIngestionFailures",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "RecordIngestionFailures",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param recordIngestionFailures */",
        "setterMethodName" : "setRecordIngestionFailures",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "recordIngestionFailures",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param recordIngestionFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "recordIngestionFailures",
          "variableType" : "Long",
          "documentation" : "<p/>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FileFailures",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param fileFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFileFailures",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getFileFailures",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FileFailures",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FileFailures",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "FileFailures",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param fileFailures */",
        "setterMethodName" : "setFileFailures",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "fileFailures",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param fileFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "fileFailures",
          "variableType" : "Long",
          "documentation" : "<p/>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BytesMetered",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p/>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param bytesMetered \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBytesMetered",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getBytesMetered",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BytesMetered",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BytesMetered",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "BytesMetered",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param bytesMetered */",
        "setterMethodName" : "setBytesMetered",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "bytesMetered",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param bytesMetered \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "bytesMetered",
          "variableType" : "Long",
          "documentation" : "<p/>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BytesMetered" : {
          "c2jName" : "BytesMetered",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param bytesMetered \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBytesMetered",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getBytesMetered",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BytesMetered",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BytesMetered",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "BytesMetered",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param bytesMetered */",
          "setterMethodName" : "setBytesMetered",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "bytesMetered",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param bytesMetered \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "bytesMetered",
            "variableType" : "Long",
            "documentation" : "<p/>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "FileFailures" : {
          "c2jName" : "FileFailures",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param fileFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFileFailures",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getFileFailures",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FileFailures",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FileFailures",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "FileFailures",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param fileFailures */",
          "setterMethodName" : "setFileFailures",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "fileFailures",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param fileFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "fileFailures",
            "variableType" : "Long",
            "documentation" : "<p/>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "ParseFailures" : {
          "c2jName" : "ParseFailures",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param parseFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withParseFailures",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getParseFailures",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ParseFailures",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ParseFailures",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ParseFailures",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param parseFailures */",
          "setterMethodName" : "setParseFailures",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "parseFailures",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param parseFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "parseFailures",
            "variableType" : "Long",
            "documentation" : "<p/>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "RecordIngestionFailures" : {
          "c2jName" : "RecordIngestionFailures",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param recordIngestionFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRecordIngestionFailures",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getRecordIngestionFailures",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RecordIngestionFailures",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RecordIngestionFailures",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "RecordIngestionFailures",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param recordIngestionFailures */",
          "setterMethodName" : "setRecordIngestionFailures",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "recordIngestionFailures",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param recordIngestionFailures \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "recordIngestionFailures",
            "variableType" : "Long",
            "documentation" : "<p/>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "RecordsIngested" : {
          "c2jName" : "RecordsIngested",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param recordsIngested \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRecordsIngested",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getRecordsIngested",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RecordsIngested",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RecordsIngested",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "RecordsIngested",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param recordsIngested */",
          "setterMethodName" : "setRecordsIngested",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "recordsIngested",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param recordsIngested \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "recordsIngested",
            "variableType" : "Long",
            "documentation" : "<p/>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "RecordsProcessed" : {
          "c2jName" : "RecordsProcessed",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p/>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param recordsProcessed \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRecordsProcessed",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getRecordsProcessed",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
[...]
