{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-11-01",
    "asyncClient" : "AmazonTimestreamQueryAsyncClient",
    "asyncClientBuilderClassName" : "AmazonTimestreamQueryAsyncClientBuilder",
    "asyncInterface" : "AmazonTimestreamQueryAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonTimestreamQueryModuleInjector",
    "defaultEndpoint" : "query.timestream.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "query.timestream.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> </p>",
    "endpointPrefix" : "query.timestream",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.timestreamquery",
    "packagePath" : "com/amazonaws/services/timestreamquery",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Timestream Query",
    "serviceFullName" : "Amazon Timestream Query",
    "serviceId" : "Timestream Query",
    "serviceName" : "Timestream Query",
    "signingName" : "timestream",
    "smokeTestsPackageName" : "com.amazonaws.services.timestreamquery.smoketests",
    "syncClient" : "AmazonTimestreamQueryClient",
    "syncClientBuilderClassName" : "AmazonTimestreamQueryClientBuilder",
    "syncInterface" : "AmazonTimestreamQuery",
    "uid" : "timestream-query-2018-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelQueryRequest, CancelQueryResult>",
      "asyncReturnType" : "CancelQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Cancels a query that has been issued. Cancellation is guaranteed only if the query has not completed execution before the cancellation request was issued. Because cancellation is an idempotent operation, subsequent cancellation requests will return a <code>CancellationMessage</code>, indicating that the query has already been canceled. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You are not authorized to perform this action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Invalid or malformed request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelQueryRequest",
        "variableName" : "cancelQueryRequest",
        "variableType" : "CancelQueryRequest",
        "documentation" : "",
        "simpleType" : "CancelQueryRequest",
        "variableSetterType" : "CancelQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelQuery",
      "operationName" : "CancelQuery",
      "returnType" : {
        "returnType" : "CancelQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelQueryResult"
    },
    "DescribeEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointsRequest, DescribeEndpointsResult>",
      "asyncReturnType" : "DescribeEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>DescribeEndpoints returns a list of available endpoints to make Timestream API calls against. This API is available through both Write and Query.</p> <p>Because Timestream’s SDKs are designed to transparently work with the service’s architecture, including the management and mapping of the service endpoints, <i>it is not recommended that you use this API unless</i>:</p> <ul> <li> <p>Your application uses a programming language that does not yet have SDK support</p> </li> <li> <p>You require better control over the client-side implementation</p> </li> </ul> <p>For detailed information on how to use DescribeEndpoints, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/Using-API.endpoint-discovery.html\">The Endpoint Discovery Pattern and REST APIs</a>.</p>",
      "endpointCacheRequired" : true,
      "endpointDiscovery" : null,
      "endpointOperation" : true,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Invalid or malformed request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEndpointsRequest",
        "variableName" : "describeEndpointsRequest",
        "variableType" : "DescribeEndpointsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEndpointsRequest",
        "variableSetterType" : "DescribeEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEndpoints",
      "operationName" : "DescribeEndpoints",
      "returnType" : {
        "returnType" : "DescribeEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEndpointsResult"
    },
    "Query" : {
      "asyncCallableType" : "java.util.concurrent.Callable<QueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<QueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<QueryRequest, QueryResult>",
      "asyncReturnType" : "QueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Query is a synchronous operation that enables you to execute a query. Query will timeout after 60 seconds. You must update the default timeout in the SDK to support a timeout of 60 seconds. The result set will be truncated to 1MB. Service quotas apply. For more information, see Quotas in the Timestream Developer Guide. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : {
        "required" : true
      },
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You are not authorized to perform this action. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> Unable to poll results for a cancelled query. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Timestream was unable to fully process this request because of an internal server error. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "QueryExecutionException",
        "documentation" : "<p> Timestream was unable to run the query successfully. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Invalid or malformed request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEndpointException",
        "documentation" : "<p>The requested endpoint was invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "QueryRequest",
        "variableName" : "queryRequest",
        "variableType" : "QueryRequest",
        "documentation" : "",
        "simpleType" : "QueryRequest",
        "variableSetterType" : "QueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "query",
      "operationName" : "Query",
      "returnType" : {
        "returnType" : "QueryResult",
        "documentation" : null
      },
      "syncReturnType" : "QueryResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> You are not authorized to perform this action. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.timestreamquery.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.timestreamquery.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CancelQueryRequest" : {
      "c2jName" : "CancelQueryRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.timestreamquery.request.CancelQueryRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelQuery",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Timestream_20181101.CancelQuery",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "QueryId",
        "c2jShape" : "QueryId",
        "deprecated" : false,
        "documentation" : "<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>\n@param queryId The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQueryId",
        "getterDocumentation" : "/**<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>\n@return The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult.*/",
        "getterMethodName" : "getQueryId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "QueryId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "QueryId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QueryId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>\n@param queryId The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult.*/",
        "setterMethodName" : "setQueryId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "queryId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>\n@param queryId The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "queryId",
          "variableType" : "String",
          "documentation" : "<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "QueryId" : {
          "c2jName" : "QueryId",
          "c2jShape" : "QueryId",
          "deprecated" : false,
          "documentation" : "<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>\n@param queryId The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withQueryId",
          "getterDocumentation" : "/**<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>\n@return The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult.*/",
          "getterMethodName" : "getQueryId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "QueryId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "QueryId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "QueryId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>\n@param queryId The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult.*/",
          "setterMethodName" : "setQueryId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "queryId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>\n@param queryId The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "queryId",
            "variableType" : "String",
            "documentation" : "<p> The id of the query that needs to be cancelled. <code>QueryID</code> is returned as part of QueryResult. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.timestreamquery.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "QueryId" ],
      "shapeName" : "CancelQueryRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelQueryRequest",
        "variableName" : "cancelQueryRequest",
        "variableType" : "CancelQueryRequest",
        "documentation" : null,
        "simpleType" : "CancelQueryRequest",
        "variableSetterType" : "CancelQueryRequest"
      },
      "wrapper" : false
    },
    "CancelQueryResult" : {
      "c2jName" : "CancelQueryResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.timestreamquery.response.CancelQueryResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CancellationMessage",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>\n@param cancellationMessage A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCancellationMessage",
        "getterDocumentation" : "/**<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>\n@return A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued.*/",
        "getterMethodName" : "getCancellationMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CancellationMessage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CancellationMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CancellationMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>\n@param cancellationMessage A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued.*/",
        "setterMethodName" : "setCancellationMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cancellationMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>\n@param cancellationMessage A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cancellationMessage",
          "variableType" : "String",
          "documentation" : "<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CancellationMessage" : {
          "c2jName" : "CancellationMessage",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>\n@param cancellationMessage A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCancellationMessage",
          "getterDocumentation" : "/**<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>\n@return A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued.*/",
          "getterMethodName" : "getCancellationMessage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CancellationMessage",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CancellationMessage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CancellationMessage",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>\n@param cancellationMessage A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued.*/",
          "setterMethodName" : "setCancellationMessage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cancellationMessage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>\n@param cancellationMessage A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "cancellationMessage",
            "variableType" : "String",
            "documentation" : "<p> A <code>CancellationMessage</code> is returned when a <code>CancelQuery</code> request for the query specified by <code>QueryId</code> has already been issued. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.timestreamquery.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CancelQueryResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelQueryResult",
        "variableName" : "cancelQueryResult",
        "variableType" : "CancelQueryResult",
        "documentation" : null,
        "simpleType" : "CancelQueryResult",
        "variableSetterType" : "CancelQueryResult"
      },
      "wrapper" : false
    },
    "ColumnInfo" : {
      "c2jName" : "ColumnInfo",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Contains the meta data for query results such as the column names, data types, and other attributes. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.timestreamquery.model.ColumnInfo",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>\n@param name The name of the result set column. The name of the result set is available for columns of all data types except for arrays.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>\n@return The name of the result set column. The name of the result set is available for columns of all data types except for arrays.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>\n@param name The name of the result set column. The name of the result set is available for columns of all data types except for arrays.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>\n@param name The name of the result set column. The name of the result set is available for columns of all data types except for arrays.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Type",
        "c2jShape" : "Type",
        "deprecated" : false,
        "documentation" : "<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>\n@param type The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>\n@return The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others.*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "Type",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>\n@param type The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others.*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Type",
          "variableName" : "type",
          "variableType" : "Type",
          "documentation" : "",
          "simpleType" : "Type",
          "variableSetterType" : "Type"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>\n@param type The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Type",
          "variableName" : "type",
          "variableType" : "Type",
          "documentation" : "<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>",
          "simpleType" : "Type",
          "variableSetterType" : "Type"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>\n@param name The name of the result set column. The name of the result set is available for columns of all data types except for arrays.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>\n@return The name of the result set column. The name of the result set is available for columns of all data types except for arrays.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>\n@param name The name of the result set column. The name of the result set is available for columns of all data types except for arrays.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>\n@param name The name of the result set column. The name of the result set is available for columns of all data types except for arrays.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p> The name of the result set column. The name of the result set is available for columns of all data types except for arrays. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "Type",
          "deprecated" : false,
          "documentation" : "<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>\n@param type The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>\n@return The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others.*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "Type",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Type",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>\n@param type The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others.*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Type",
            "variableName" : "type",
            "variableType" : "Type",
            "documentation" : "",
            "simpleType" : "Type",
            "variableSetterType" : "Type"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>\n@param type The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Type",
            "variableName" : "type",
            "variableType" : "Type",
            "documentation" : "<p> The data type of the result set column. The data type can be a scalar or complex. Scalar data types are integers, strings, doubles, booleans, and others. Complex data types are types such as arrays, rows, and others. </p>",
            "simpleType" : "Type",
            "variableSetterType" : "Type"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.timestreamquery.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Type" ],
      "shapeName" : "ColumnInfo",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ColumnInfo",
        "variableName" : "columnInfo",
        "variableType" : "ColumnInfo",
        "documentation" : null,
        "simpleType" : "ColumnInfo",
        "variableSetterType" : "ColumnInfo"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Unable to poll results for a cancelled query. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.timestreamquery.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.timestreamquery.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "Datum" : {
      "c2jName" : "Datum",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Datum represents a single data point in a query result. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.timestreamquery.model.Datum",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ScalarValue",
        "c2jShape" : "ScalarValue",
        "deprecated" : false,
        "documentation" : "<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>\n@param scalarValue Indicates if the data point is a scalar value such as integer, string, double, or boolean.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScalarValue",
        "getterDocumentation" : "/**<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>\n@return Indicates if the data point is a scalar value such as integer, string, double, or boolean.*/",
        "getterMethodName" : "getScalarValue",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScalarValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScalarValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ScalarValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>\n@param scalarValue Indicates if the data point is a scalar value such as integer, string, double, or boolean.*/",
        "setterMethodName" : "setScalarValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "scalarValue",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>\n@param scalarValue Indicates if the data point is a scalar value such as integer, string, double, or boolean.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "scalarValue",
          "variableType" : "String",
          "documentation" : "<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TimeSeriesValue",
        "c2jShape" : "TimeSeriesDataPointList",
        "deprecated" : false,
        "documentation" : "<p> Indicates if the data point is of timeseries data type. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Indicates if the data point is of timeseries data type. </p>\n@param timeSeriesValue Indicates if the data point is of timeseries data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimeSeriesValue",
        "getterDocumentation" : "/**<p> Indicates if the data point is of timeseries data type. </p>\n@return Indicates if the data point is of timeseries data type.*/",
        "getterMethodName" : "getTimeSeriesValue",
        "getterModel" : {
          "returnType" : "java.util.List<TimeSeriesDataPoint>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimeSeriesValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimeSeriesValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "TimeSeriesDataPoint",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "TimeSeriesDataPoint",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "TimeSeriesDataPoint",
              "variableName" : "member",
              "variableType" : "TimeSeriesDataPoint",
              "documentation" : "",
              "simpleType" : "TimeSeriesDataPoint",
              "variableSetterType" : "TimeSeriesDataPoint"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "TimeSeriesDataPoint",
              "variableName" : "member",
              "variableType" : "TimeSeriesDataPoint",
              "documentation" : "",
              "simpleType" : "TimeSeriesDataPoint",
              "variableSetterType" : "TimeSeriesDataPoint"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "TimeSeriesDataPoint",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "TimeSeriesDataPoint",
          "templateImplType" : "java.util.ArrayList<TimeSeriesDataPoint>",
          "templateType" : "java.util.List<TimeSeriesDataPoint>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "TimeSeriesValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Indicates if the data point is of timeseries data type. </p>\n@param timeSeriesValue Indicates if the data point is of timeseries data type.*/",
        "setterMethodName" : "setTimeSeriesValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<TimeSeriesDataPoint>",
          "variableName" : "timeSeriesValue",
          "variableType" : "java.util.List<TimeSeriesDataPoint>",
          "documentation" : "",
          "simpleType" : "List<TimeSeriesDataPoint>",
          "variableSetterType" : "java.util.Collection<TimeSeriesDataPoint>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Indicates if the data point is of timeseries data type. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTimeSeriesValue(java.util.Collection)} or {@link #withTimeSeriesValue(java.util.Collection)} if you want to override the existing values.</p>\n@param timeSeriesValue Indicates if the data point is of timeseries data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<TimeSeriesDataPoint>",
          "variableName" : "timeSeriesValue",
          "variableType" : "java.util.List<TimeSeriesDataPoint>",
          "documentation" : "<p> Indicates if the data point is of timeseries data type. </p>",
          "simpleType" : "List<TimeSeriesDataPoint>",
          "variableSetterType" : "java.util.Collection<TimeSeriesDataPoint>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ArrayValue",
        "c2jShape" : "DatumList",
        "deprecated" : false,
        "documentation" : "<p> Indicates if the data point is an array. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Indicates if the data point is an array. </p>\n@param arrayValue Indicates if the data point is an array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArrayValue",
        "getterDocumentation" : "/**<p> Indicates if the data point is an array. </p>\n@return Indicates if the data point is an array.*/",
        "getterMethodName" : "getArrayValue",
        "getterModel" : {
          "returnType" : "java.util.List<Datum>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ArrayValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ArrayValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Datum",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Datum",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Datum",
              "variableName" : "member",
              "variableType" : "Datum",
              "documentation" : "",
              "simpleType" : "Datum",
              "variableSetterType" : "Datum"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Datum",
              "variableName" : "member",
              "variableType" : "Datum",
              "documentation" : "",
              "simpleType" : "Datum",
              "variableSetterType" : "Datum"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Datum",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Datum",
          "templateImplType" : "java.util.ArrayList<Datum>",
          "templateType" : "java.util.List<Datum>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ArrayValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Indicates if the data point is an array. </p>\n@param arrayValue Indicates if the data point is an array.*/",
        "setterMethodName" : "setArrayValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Datum>",
          "variableName" : "arrayValue",
          "variableType" : "java.util.List<Datum>",
          "documentation" : "",
          "simpleType" : "List<Datum>",
          "variableSetterType" : "java.util.Collection<Datum>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Indicates if the data point is an array. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setArrayValue(java.util.Collection)} or {@link #withArrayValue(java.util.Collection)} if you want to override the existing values.</p>\n@param arrayValue Indicates if the data point is an array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Datum>",
          "variableName" : "arrayValue",
          "variableType" : "java.util.List<Datum>",
          "documentation" : "<p> Indicates if the data point is an array. </p>",
          "simpleType" : "List<Datum>",
          "variableSetterType" : "java.util.Collection<Datum>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RowValue",
        "c2jShape" : "Row",
        "deprecated" : false,
        "documentation" : "<p> Indicates if the data point is a row. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Indicates if the data point is a row. </p>\n@param rowValue Indicates if the data point is a row.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRowValue",
        "getterDocumentation" : "/**<p> Indicates if the data point is a row. </p>\n@return Indicates if the data point is a row.*/",
        "getterMethodName" : "getRowValue",
        "getterModel" : {
          "returnType" : "Row",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RowValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RowValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "RowValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Indicates if the data point is a row. </p>\n@param rowValue Indicates if the data point is a row.*/",
        "setterMethodName" : "setRowValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Row",
          "variableName" : "rowValue",
          "variableType" : "Row",
          "documentation" : "",
          "simpleType" : "Row",
          "variableSetterType" : "Row"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Indicates if the data point is a row. </p>\n@param rowValue Indicates if the data point is a row.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Row",
          "variableName" : "rowValue",
          "variableType" : "Row",
          "documentation" : "<p> Indicates if the data point is a row. </p>",
          "simpleType" : "Row",
          "variableSetterType" : "Row"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NullValue",
        "c2jShape" : "NullableBoolean",
        "deprecated" : false,
        "documentation" : "<p> Indicates if the data point is null. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Indicates if the data point is null. </p>\n@param nullValue Indicates if the data point is null.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNullValue",
        "getterDocumentation" : "/**<p> Indicates if the data point is null. </p>\n@return Indicates if the data point is null.*/",
        "getterMethodName" : "getNullValue",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NullValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NullValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "NullValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Indicates if the data point is null. </p>\n@param nullValue Indicates if the data point is null.*/",
        "setterMethodName" : "setNullValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "nullValue",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Indicates if the data point is null. </p>\n@param nullValue Indicates if the data point is null.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "nullValue",
          "variableType" : "Boolean",
          "documentation" : "<p> Indicates if the data point is null. </p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ArrayValue" : {
          "c2jName" : "ArrayValue",
          "c2jShape" : "DatumList",
          "deprecated" : false,
          "documentation" : "<p> Indicates if the data point is an array. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Indicates if the data point is an array. </p>\n@param arrayValue Indicates if the data point is an array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArrayValue",
          "getterDocumentation" : "/**<p> Indicates if the data point is an array. </p>\n@return Indicates if the data point is an array.*/",
          "getterMethodName" : "getArrayValue",
          "getterModel" : {
            "returnType" : "java.util.List<Datum>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ArrayValue",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ArrayValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Datum",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Datum",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Datum",
                "variableName" : "member",
                "variableType" : "Datum",
                "documentation" : "",
                "simpleType" : "Datum",
                "variableSetterType" : "Datum"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Datum",
                "variableName" : "member",
                "variableType" : "Datum",
                "documentation" : "",
                "simpleType" : "Datum",
                "variableSetterType" : "Datum"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Datum",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Datum",
            "templateImplType" : "java.util.ArrayList<Datum>",
            "templateType" : "java.util.List<Datum>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ArrayValue",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Indicates if the data point is an array. </p>\n@param arrayValue Indicates if the data point is an array.*/",
          "setterMethodName" : "setArrayValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Datum>",
            "variableName" : "arrayValue",
            "variableType" : "java.util.List<Datum>",
            "documentation" : "",
            "simpleType" : "List<Datum>",
            "variableSetterType" : "java.util.Collection<Datum>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Indicates if the data point is an array. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setArrayValue(java.util.Collection)} or {@link #withArrayValue(java.util.Collection)} if you want to override the existing values.</p>\n@param arrayValue Indicates if the data point is an array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Datum>",
            "variableName" : "arrayValue",
            "variableType" : "java.util.List<Datum>",
            "documentation" : "<p> Indicates if the data point is an array. </p>",
            "simpleType" : "List<Datum>",
            "variableSetterType" : "java.util.Collection<Datum>"
          },
          "xmlNameSpaceUri" : null
        },
        "NullValue" : {
          "c2jName" : "NullValue",
          "c2jShape" : "NullableBoolean",
          "deprecated" : false,
          "documentation" : "<p> Indicates if the data point is null. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Indicates if the data point is null. </p>\n@param nullValue Indicates if the data point is null.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNullValue",
          "getterDocumentation" : "/**<p> Indicates if the data point is null. </p>\n@return Indicates if the data point is null.*/",
          "getterMethodName" : "getNullValue",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "NullValue",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NullValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "NullValue",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Indicates if the data point is null. </p>\n@param nullValue Indicates if the data point is null.*/",
          "setterMethodName" : "setNullValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "nullValue",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Indicates if the data point is null. </p>\n@param nullValue Indicates if the data point is null.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "nullValue",
            "variableType" : "Boolean",
            "documentation" : "<p> Indicates if the data point is null. </p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "RowValue" : {
          "c2jName" : "RowValue",
          "c2jShape" : "Row",
          "deprecated" : false,
          "documentation" : "<p> Indicates if the data point is a row. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Indicates if the data point is a row. </p>\n@param rowValue Indicates if the data point is a row.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRowValue",
          "getterDocumentation" : "/**<p> Indicates if the data point is a row. </p>\n@return Indicates if the data point is a row.*/",
          "getterMethodName" : "getRowValue",
          "getterModel" : {
            "returnType" : "Row",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RowValue",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RowValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "RowValue",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Indicates if the data point is a row. </p>\n@param rowValue Indicates if the data point is a row.*/",
          "setterMethodName" : "setRowValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Row",
            "variableName" : "rowValue",
            "variableType" : "Row",
            "documentation" : "",
            "simpleType" : "Row",
            "variableSetterType" : "Row"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Indicates if the data point is a row. </p>\n@param rowValue Indicates if the data point is a row.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Row",
            "variableName" : "rowValue",
            "variableType" : "Row",
            "documentation" : "<p> Indicates if the data point is a row. </p>",
            "simpleType" : "Row",
            "variableSetterType" : "Row"
          },
          "xmlNameSpaceUri" : null
        },
        "ScalarValue" : {
          "c2jName" : "ScalarValue",
          "c2jShape" : "ScalarValue",
          "deprecated" : false,
          "documentation" : "<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>\n@param scalarValue Indicates if the data point is a scalar value such as integer, string, double, or boolean.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScalarValue",
          "getterDocumentation" : "/**<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>\n@return Indicates if the data point is a scalar value such as integer, string, double, or boolean.*/",
          "getterMethodName" : "getScalarValue",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ScalarValue",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ScalarValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ScalarValue",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>\n@param scalarValue Indicates if the data point is a scalar value such as integer, string, double, or boolean.*/",
          "setterMethodName" : "setScalarValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "scalarValue",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>\n@param scalarValue Indicates if the data point is a scalar value such as integer, string, double, or boolean.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "scalarValue",
            "variableType" : "String",
            "documentation" : "<p> Indicates if the data point is a scalar value such as integer, string, double, or boolean. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TimeSeriesValue" : {
          "c2jName" : "TimeSeriesValue",
          "c2jShape" : "TimeSeriesDataPointList",
          "deprecated" : false,
          "documentation" : "<p> Indicates if the data point is of timeseries data type. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Indicates if the data point is of timeseries data type. </p>\n@param timeSeriesValue Indicates if the data point is of timeseries data type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTimeSeriesValue",
          "getterDocumentation" : "/**<p> Indicates if the data point is of timeseries data type. </p>\n@return Indicates if the data point is of timeseries data type.*/",
          "getterMethodName" : "getTimeSeriesValue",
          "getterModel" : {
            "returnType" : "java.util.List<TimeSeriesDataPoint>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TimeSeriesValue",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TimeSeriesValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "TimeSeriesDataPoint",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "TimeSeriesDataPoint",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "TimeSeriesDataPoint",
                "variableName" : "member",
                "variableType" : "TimeSeriesDataPoint",
                "documentation" : "",
                "simpleType" : "TimeSeriesDataPoint",
                "variableSetterType" : "TimeSeriesDataPoint"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "TimeSeriesDataPoint",
                "variableName" : "member",
                "variableType" : "TimeSeriesDataPoint",
                "documentation" : "",
                "simpleType" : "TimeSeriesDataPoint",
                "variableSetterType" : "TimeSeriesDataPoint"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "TimeSeriesDataPoint",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
[...]
