{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2008-10-21",
    "asyncClient" : "AWSTnbAsyncClient",
    "asyncClientBuilderClassName" : "AWSTnbAsyncClientBuilder",
    "asyncInterface" : "AWSTnbAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSTnbModuleInjector",
    "defaultEndpoint" : "tnb.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "tnb.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> Amazon Web Services Telco Network Builder (TNB) is a network automation service that helps you deploy and manage telecom networks. AWS TNB helps you with the lifecycle management of your telecommunication network functions throughout planning, deployment, and post-deployment activities.</p>",
    "endpointPrefix" : "tnb",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.tnb",
    "packagePath" : "com/amazonaws/services/tnb",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Telco Network Builder",
    "serviceId" : "tnb",
    "serviceName" : "AWS Telco Network Builder",
    "signingName" : "tnb",
    "smokeTestsPackageName" : "com.amazonaws.services.tnb.smoketests",
    "syncClient" : "AWSTnbClient",
    "syncClientBuilderClassName" : "AWSTnbClientBuilder",
    "syncInterface" : "AWSTnb",
    "uid" : "tnb-2008-10-21",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelSolNetworkOperation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelSolNetworkOperationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelSolNetworkOperationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelSolNetworkOperationRequest, CancelSolNetworkOperationResult>",
      "asyncReturnType" : "CancelSolNetworkOperationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a network operation.</p> <p>A network operation is any operation that is done to your network, such as network instance instantiation or termination.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelSolNetworkOperationRequest",
        "variableName" : "cancelSolNetworkOperationRequest",
        "variableType" : "CancelSolNetworkOperationRequest",
        "documentation" : "",
        "simpleType" : "CancelSolNetworkOperationRequest",
        "variableSetterType" : "CancelSolNetworkOperationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelSolNetworkOperation",
      "operationName" : "CancelSolNetworkOperation",
      "returnType" : {
        "returnType" : "CancelSolNetworkOperationResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelSolNetworkOperationResult"
    },
    "CreateSolFunctionPackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSolFunctionPackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSolFunctionPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSolFunctionPackageRequest, CreateSolFunctionPackageResult>",
      "asyncReturnType" : "CreateSolFunctionPackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a function package.</p> <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network. For more information, see <a href=\"https://docs.aws.amazon.com/tnb/latest/ug/function-packages.html\">Function packages</a> in the <i>Amazon Web Services Telco Network Builder User Guide</i>. </p> <p>Creating a function package is the first step for creating a network in AWS TNB. This request creates an empty container with an ID. The next step is to upload the actual CSAR zip file into that empty container. To upload function package content, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_PutSolFunctionPackageContent.html\">PutSolFunctionPackageContent</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Service quotas have been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSolFunctionPackageRequest",
        "variableName" : "createSolFunctionPackageRequest",
        "variableType" : "CreateSolFunctionPackageRequest",
        "documentation" : "",
        "simpleType" : "CreateSolFunctionPackageRequest",
        "variableSetterType" : "CreateSolFunctionPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSolFunctionPackage",
      "operationName" : "CreateSolFunctionPackage",
      "returnType" : {
        "returnType" : "CreateSolFunctionPackageResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSolFunctionPackageResult"
    },
    "CreateSolNetworkInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSolNetworkInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSolNetworkInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSolNetworkInstanceRequest, CreateSolNetworkInstanceResult>",
      "asyncReturnType" : "CreateSolNetworkInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a network instance.</p> <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed. Creating a network instance is the third step after creating a network package. For more information about network instances, <a href=\"https://docs.aws.amazon.com/tnb/latest/ug/network-instances.html\">Network instances</a> in the <i>Amazon Web Services Telco Network Builder User Guide</i>.</p> <p>Once you create a network instance, you can instantiate it. To instantiate a network, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_InstantiateSolNetworkInstance.html\">InstantiateSolNetworkInstance</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Service quotas have been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSolNetworkInstanceRequest",
        "variableName" : "createSolNetworkInstanceRequest",
        "variableType" : "CreateSolNetworkInstanceRequest",
        "documentation" : "",
        "simpleType" : "CreateSolNetworkInstanceRequest",
        "variableSetterType" : "CreateSolNetworkInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSolNetworkInstance",
      "operationName" : "CreateSolNetworkInstance",
      "returnType" : {
        "returnType" : "CreateSolNetworkInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSolNetworkInstanceResult"
    },
    "CreateSolNetworkPackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSolNetworkPackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSolNetworkPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSolNetworkPackageRequest, CreateSolNetworkPackageResult>",
      "asyncReturnType" : "CreateSolNetworkPackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a network package.</p> <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on. For more information, see <a href=\"https://docs.aws.amazon.com/tnb/latest/ug/network-instances.html\">Network instances</a> in the <i>Amazon Web Services Telco Network Builder User Guide</i>. </p> <p>A network package consists of a network service descriptor (NSD) file (required) and any additional files (optional), such as scripts specific to your needs. For example, if you have multiple function packages in your network package, you can use the NSD to define which network functions should run in certain VPCs, subnets, or EKS clusters.</p> <p>This request creates an empty network package container with an ID. Once you create a network package, you can upload the network package content using <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_PutSolNetworkPackageContent.html\">PutSolNetworkPackageContent</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Service quotas have been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSolNetworkPackageRequest",
        "variableName" : "createSolNetworkPackageRequest",
        "variableType" : "CreateSolNetworkPackageRequest",
        "documentation" : "",
        "simpleType" : "CreateSolNetworkPackageRequest",
        "variableSetterType" : "CreateSolNetworkPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSolNetworkPackage",
      "operationName" : "CreateSolNetworkPackage",
      "returnType" : {
        "returnType" : "CreateSolNetworkPackageResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSolNetworkPackageResult"
    },
    "DeleteSolFunctionPackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSolFunctionPackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSolFunctionPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSolFunctionPackageRequest, DeleteSolFunctionPackageResult>",
      "asyncReturnType" : "DeleteSolFunctionPackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a function package.</p> <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p> <p>To delete a function package, the package must be in a disabled state. To disable a function package, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_UpdateSolFunctionPackage.html\">UpdateSolFunctionPackage</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSolFunctionPackageRequest",
        "variableName" : "deleteSolFunctionPackageRequest",
        "variableType" : "DeleteSolFunctionPackageRequest",
        "documentation" : "",
        "simpleType" : "DeleteSolFunctionPackageRequest",
        "variableSetterType" : "DeleteSolFunctionPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSolFunctionPackage",
      "operationName" : "DeleteSolFunctionPackage",
      "returnType" : {
        "returnType" : "DeleteSolFunctionPackageResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSolFunctionPackageResult"
    },
    "DeleteSolNetworkInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSolNetworkInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSolNetworkInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSolNetworkInstanceRequest, DeleteSolNetworkInstanceResult>",
      "asyncReturnType" : "DeleteSolNetworkInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a network instance.</p> <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p> <p>To delete a network instance, the instance must be in a stopped or terminated state. To terminate a network instance, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_TerminateSolNetworkInstance.html\">TerminateSolNetworkInstance</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSolNetworkInstanceRequest",
        "variableName" : "deleteSolNetworkInstanceRequest",
        "variableType" : "DeleteSolNetworkInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeleteSolNetworkInstanceRequest",
        "variableSetterType" : "DeleteSolNetworkInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSolNetworkInstance",
      "operationName" : "DeleteSolNetworkInstance",
      "returnType" : {
        "returnType" : "DeleteSolNetworkInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSolNetworkInstanceResult"
    },
    "DeleteSolNetworkPackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSolNetworkPackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSolNetworkPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSolNetworkPackageRequest, DeleteSolNetworkPackageResult>",
      "asyncReturnType" : "DeleteSolNetworkPackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes network package.</p> <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p> <p>To delete a network package, the package must be in a disable state. To disable a network package, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_UpdateSolNetworkPackage.html\">UpdateSolNetworkPackage</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSolNetworkPackageRequest",
        "variableName" : "deleteSolNetworkPackageRequest",
        "variableType" : "DeleteSolNetworkPackageRequest",
        "documentation" : "",
        "simpleType" : "DeleteSolNetworkPackageRequest",
        "variableSetterType" : "DeleteSolNetworkPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSolNetworkPackage",
      "operationName" : "DeleteSolNetworkPackage",
      "returnType" : {
        "returnType" : "DeleteSolNetworkPackageResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSolNetworkPackageResult"
    },
    "GetSolFunctionInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSolFunctionInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSolFunctionInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSolFunctionInstanceRequest, GetSolFunctionInstanceResult>",
      "asyncReturnType" : "GetSolFunctionInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of a network function instance, including the instantation state and metadata from the function package descriptor in the network function package.</p> <p>A network function instance is a function in a function package .</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSolFunctionInstanceRequest",
        "variableName" : "getSolFunctionInstanceRequest",
        "variableType" : "GetSolFunctionInstanceRequest",
        "documentation" : "",
        "simpleType" : "GetSolFunctionInstanceRequest",
        "variableSetterType" : "GetSolFunctionInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSolFunctionInstance",
      "operationName" : "GetSolFunctionInstance",
      "returnType" : {
        "returnType" : "GetSolFunctionInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSolFunctionInstanceResult"
    },
    "GetSolFunctionPackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSolFunctionPackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSolFunctionPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSolFunctionPackageRequest, GetSolFunctionPackageResult>",
      "asyncReturnType" : "GetSolFunctionPackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of an individual function package, such as the operational state and whether the package is in use.</p> <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network..</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSolFunctionPackageRequest",
        "variableName" : "getSolFunctionPackageRequest",
        "variableType" : "GetSolFunctionPackageRequest",
        "documentation" : "",
        "simpleType" : "GetSolFunctionPackageRequest",
        "variableSetterType" : "GetSolFunctionPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSolFunctionPackage",
      "operationName" : "GetSolFunctionPackage",
      "returnType" : {
        "returnType" : "GetSolFunctionPackageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSolFunctionPackageResult"
    },
    "GetSolFunctionPackageContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSolFunctionPackageContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSolFunctionPackageContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSolFunctionPackageContentRequest, GetSolFunctionPackageContentResult>",
      "asyncReturnType" : "GetSolFunctionPackageContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the contents of a function package.</p> <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSolFunctionPackageContentRequest",
        "variableName" : "getSolFunctionPackageContentRequest",
        "variableType" : "GetSolFunctionPackageContentRequest",
        "documentation" : "",
        "simpleType" : "GetSolFunctionPackageContentRequest",
        "variableSetterType" : "GetSolFunctionPackageContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSolFunctionPackageContent",
      "operationName" : "GetSolFunctionPackageContent",
      "returnType" : {
        "returnType" : "GetSolFunctionPackageContentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSolFunctionPackageContentResult"
    },
    "GetSolFunctionPackageDescriptor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSolFunctionPackageDescriptorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSolFunctionPackageDescriptorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSolFunctionPackageDescriptorRequest, GetSolFunctionPackageDescriptorResult>",
      "asyncReturnType" : "GetSolFunctionPackageDescriptorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a function package descriptor in a function package.</p> <p>A function package descriptor is a .yaml file in a function package that uses the TOSCA standard to describe how the network function in the function package should run on your network.</p> <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSolFunctionPackageDescriptorRequest",
        "variableName" : "getSolFunctionPackageDescriptorRequest",
        "variableType" : "GetSolFunctionPackageDescriptorRequest",
        "documentation" : "",
        "simpleType" : "GetSolFunctionPackageDescriptorRequest",
        "variableSetterType" : "GetSolFunctionPackageDescriptorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSolFunctionPackageDescriptor",
      "operationName" : "GetSolFunctionPackageDescriptor",
      "returnType" : {
        "returnType" : "GetSolFunctionPackageDescriptorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSolFunctionPackageDescriptorResult"
    },
    "GetSolNetworkInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSolNetworkInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSolNetworkInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSolNetworkInstanceRequest, GetSolNetworkInstanceResult>",
      "asyncReturnType" : "GetSolNetworkInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of the network instance.</p> <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSolNetworkInstanceRequest",
        "variableName" : "getSolNetworkInstanceRequest",
        "variableType" : "GetSolNetworkInstanceRequest",
        "documentation" : "",
        "simpleType" : "GetSolNetworkInstanceRequest",
        "variableSetterType" : "GetSolNetworkInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSolNetworkInstance",
      "operationName" : "GetSolNetworkInstance",
      "returnType" : {
        "returnType" : "GetSolNetworkInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSolNetworkInstanceResult"
    },
    "GetSolNetworkOperation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSolNetworkOperationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSolNetworkOperationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSolNetworkOperationRequest, GetSolNetworkOperationResult>",
      "asyncReturnType" : "GetSolNetworkOperationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of a network operation, including the tasks involved in the network operation and the status of the tasks.</p> <p>A network operation is any operation that is done to your network, such as network instance instantiation or termination.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSolNetworkOperationRequest",
        "variableName" : "getSolNetworkOperationRequest",
        "variableType" : "GetSolNetworkOperationRequest",
        "documentation" : "",
        "simpleType" : "GetSolNetworkOperationRequest",
        "variableSetterType" : "GetSolNetworkOperationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSolNetworkOperation",
      "operationName" : "GetSolNetworkOperation",
      "returnType" : {
        "returnType" : "GetSolNetworkOperationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSolNetworkOperationResult"
    },
    "GetSolNetworkPackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSolNetworkPackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSolNetworkPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSolNetworkPackageRequest, GetSolNetworkPackageResult>",
      "asyncReturnType" : "GetSolNetworkPackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of a network package.</p> <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSolNetworkPackageRequest",
        "variableName" : "getSolNetworkPackageRequest",
        "variableType" : "GetSolNetworkPackageRequest",
        "documentation" : "",
        "simpleType" : "GetSolNetworkPackageRequest",
        "variableSetterType" : "GetSolNetworkPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSolNetworkPackage",
      "operationName" : "GetSolNetworkPackage",
      "returnType" : {
        "returnType" : "GetSolNetworkPackageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSolNetworkPackageResult"
    },
    "GetSolNetworkPackageContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSolNetworkPackageContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSolNetworkPackageContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSolNetworkPackageContentRequest, GetSolNetworkPackageContentResult>",
      "asyncReturnType" : "GetSolNetworkPackageContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the contents of a network package.</p> <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSolNetworkPackageContentRequest",
        "variableName" : "getSolNetworkPackageContentRequest",
        "variableType" : "GetSolNetworkPackageContentRequest",
        "documentation" : "",
        "simpleType" : "GetSolNetworkPackageContentRequest",
        "variableSetterType" : "GetSolNetworkPackageContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSolNetworkPackageContent",
      "operationName" : "GetSolNetworkPackageContent",
      "returnType" : {
        "returnType" : "GetSolNetworkPackageContentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSolNetworkPackageContentResult"
    },
    "GetSolNetworkPackageDescriptor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSolNetworkPackageDescriptorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSolNetworkPackageDescriptorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSolNetworkPackageDescriptorRequest, GetSolNetworkPackageDescriptorResult>",
      "asyncReturnType" : "GetSolNetworkPackageDescriptorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the content of the network service descriptor.</p> <p>A network service descriptor is a .yaml file in a network package that uses the TOSCA standard to describe the network functions you want to deploy and the Amazon Web Services infrastructure you want to deploy the network functions on.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSolNetworkPackageDescriptorRequest",
        "variableName" : "getSolNetworkPackageDescriptorRequest",
        "variableType" : "GetSolNetworkPackageDescriptorRequest",
        "documentation" : "",
        "simpleType" : "GetSolNetworkPackageDescriptorRequest",
        "variableSetterType" : "GetSolNetworkPackageDescriptorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSolNetworkPackageDescriptor",
      "operationName" : "GetSolNetworkPackageDescriptor",
      "returnType" : {
        "returnType" : "GetSolNetworkPackageDescriptorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSolNetworkPackageDescriptorResult"
    },
    "InstantiateSolNetworkInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InstantiateSolNetworkInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InstantiateSolNetworkInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InstantiateSolNetworkInstanceRequest, InstantiateSolNetworkInstanceResult>",
      "asyncReturnType" : "InstantiateSolNetworkInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Instantiates a network instance.</p> <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p> <p>Before you can instantiate a network instance, you have to create a network instance. For more information, see <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_CreateSolNetworkInstance.html\">CreateSolNetworkInstance</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Service quotas have been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InstantiateSolNetworkInstanceRequest",
        "variableName" : "instantiateSolNetworkInstanceRequest",
        "variableType" : "InstantiateSolNetworkInstanceRequest",
        "documentation" : "",
        "simpleType" : "InstantiateSolNetworkInstanceRequest",
        "variableSetterType" : "InstantiateSolNetworkInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "instantiateSolNetworkInstance",
      "operationName" : "InstantiateSolNetworkInstance",
      "returnType" : {
        "returnType" : "InstantiateSolNetworkInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "InstantiateSolNetworkInstanceResult"
    },
    "ListSolFunctionInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSolFunctionInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSolFunctionInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSolFunctionInstancesRequest, ListSolFunctionInstancesResult>",
      "asyncReturnType" : "ListSolFunctionInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists network function instances.</p> <p>A network function instance is a function in a function package .</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSolFunctionInstancesRequest",
        "variableName" : "listSolFunctionInstancesRequest",
        "variableType" : "ListSolFunctionInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListSolFunctionInstancesRequest",
        "variableSetterType" : "ListSolFunctionInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSolFunctionInstances",
      "operationName" : "ListSolFunctionInstances",
      "returnType" : {
        "returnType" : "ListSolFunctionInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSolFunctionInstancesResult"
    },
    "ListSolFunctionPackages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSolFunctionPackagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSolFunctionPackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSolFunctionPackagesRequest, ListSolFunctionPackagesResult>",
      "asyncReturnType" : "ListSolFunctionPackagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about function packages.</p> <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSolFunctionPackagesRequest",
        "variableName" : "listSolFunctionPackagesRequest",
        "variableType" : "ListSolFunctionPackagesRequest",
        "documentation" : "",
        "simpleType" : "ListSolFunctionPackagesRequest",
        "variableSetterType" : "ListSolFunctionPackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSolFunctionPackages",
      "operationName" : "ListSolFunctionPackages",
      "returnType" : {
        "returnType" : "ListSolFunctionPackagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSolFunctionPackagesResult"
    },
    "ListSolNetworkInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSolNetworkInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSolNetworkInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSolNetworkInstancesRequest, ListSolNetworkInstancesResult>",
      "asyncReturnType" : "ListSolNetworkInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your network instances.</p> <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSolNetworkInstancesRequest",
        "variableName" : "listSolNetworkInstancesRequest",
        "variableType" : "ListSolNetworkInstancesRequest",
        "documentation" : "",
        "simpleType" : "ListSolNetworkInstancesRequest",
        "variableSetterType" : "ListSolNetworkInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSolNetworkInstances",
      "operationName" : "ListSolNetworkInstances",
      "returnType" : {
        "returnType" : "ListSolNetworkInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSolNetworkInstancesResult"
    },
    "ListSolNetworkOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSolNetworkOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSolNetworkOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSolNetworkOperationsRequest, ListSolNetworkOperationsResult>",
      "asyncReturnType" : "ListSolNetworkOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists details for a network operation, including when the operation started and the status of the operation.</p> <p>A network operation is any operation that is done to your network, such as network instance instantiation or termination.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSolNetworkOperationsRequest",
        "variableName" : "listSolNetworkOperationsRequest",
        "variableType" : "ListSolNetworkOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListSolNetworkOperationsRequest",
        "variableSetterType" : "ListSolNetworkOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSolNetworkOperations",
      "operationName" : "ListSolNetworkOperations",
      "returnType" : {
        "returnType" : "ListSolNetworkOperationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSolNetworkOperationsResult"
    },
    "ListSolNetworkPackages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSolNetworkPackagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSolNetworkPackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSolNetworkPackagesRequest, ListSolNetworkPackagesResult>",
      "asyncReturnType" : "ListSolNetworkPackagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists network packages.</p> <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSolNetworkPackagesRequest",
        "variableName" : "listSolNetworkPackagesRequest",
        "variableType" : "ListSolNetworkPackagesRequest",
        "documentation" : "",
        "simpleType" : "ListSolNetworkPackagesRequest",
        "variableSetterType" : "ListSolNetworkPackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSolNetworkPackages",
      "operationName" : "ListSolNetworkPackages",
      "returnType" : {
        "returnType" : "ListSolNetworkPackagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSolNetworkPackagesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists tags for AWS TNB resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutSolFunctionPackageContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutSolFunctionPackageContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutSolFunctionPackageContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutSolFunctionPackageContentRequest, PutSolFunctionPackageContentResult>",
      "asyncReturnType" : "PutSolFunctionPackageContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads the contents of a function package.</p> <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutSolFunctionPackageContentRequest",
        "variableName" : "putSolFunctionPackageContentRequest",
        "variableType" : "PutSolFunctionPackageContentRequest",
        "documentation" : "",
        "simpleType" : "PutSolFunctionPackageContentRequest",
        "variableSetterType" : "PutSolFunctionPackageContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putSolFunctionPackageContent",
      "operationName" : "PutSolFunctionPackageContent",
      "returnType" : {
        "returnType" : "PutSolFunctionPackageContentResult",
        "documentation" : null
      },
      "syncReturnType" : "PutSolFunctionPackageContentResult"
    },
    "PutSolNetworkPackageContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutSolNetworkPackageContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutSolNetworkPackageContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutSolNetworkPackageContentRequest, PutSolNetworkPackageContentResult>",
      "asyncReturnType" : "PutSolNetworkPackageContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads the contents of a network package.</p> <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutSolNetworkPackageContentRequest",
        "variableName" : "putSolNetworkPackageContentRequest",
        "variableType" : "PutSolNetworkPackageContentRequest",
        "documentation" : "",
        "simpleType" : "PutSolNetworkPackageContentRequest",
        "variableSetterType" : "PutSolNetworkPackageContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putSolNetworkPackageContent",
      "operationName" : "PutSolNetworkPackageContent",
      "returnType" : {
        "returnType" : "PutSolNetworkPackageContentResult",
        "documentation" : null
      },
      "syncReturnType" : "PutSolNetworkPackageContentResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tags an AWS TNB resource.</p> <p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "TerminateSolNetworkInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateSolNetworkInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateSolNetworkInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateSolNetworkInstanceRequest, TerminateSolNetworkInstanceResult>",
      "asyncReturnType" : "TerminateSolNetworkInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Terminates a network instance.</p> <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p> <p>You must terminate a network instance before you can delete it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Service quotas have been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TerminateSolNetworkInstanceRequest",
        "variableName" : "terminateSolNetworkInstanceRequest",
        "variableType" : "TerminateSolNetworkInstanceRequest",
        "documentation" : "",
        "simpleType" : "TerminateSolNetworkInstanceRequest",
        "variableSetterType" : "TerminateSolNetworkInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateSolNetworkInstance",
      "operationName" : "TerminateSolNetworkInstance",
      "returnType" : {
        "returnType" : "TerminateSolNetworkInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateSolNetworkInstanceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Untags an AWS TNB resource.</p> <p>A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value. You can use tags to search and filter your resources or track your Amazon Web Services costs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateSolFunctionPackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSolFunctionPackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSolFunctionPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSolFunctionPackageRequest, UpdateSolFunctionPackageResult>",
      "asyncReturnType" : "UpdateSolFunctionPackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the operational state of function package.</p> <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSolFunctionPackageRequest",
        "variableName" : "updateSolFunctionPackageRequest",
        "variableType" : "UpdateSolFunctionPackageRequest",
        "documentation" : "",
        "simpleType" : "UpdateSolFunctionPackageRequest",
        "variableSetterType" : "UpdateSolFunctionPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSolFunctionPackage",
      "operationName" : "UpdateSolFunctionPackage",
      "returnType" : {
        "returnType" : "UpdateSolFunctionPackageResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSolFunctionPackageResult"
    },
    "UpdateSolNetworkInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSolNetworkInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSolNetworkInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSolNetworkInstanceRequest, UpdateSolNetworkInstanceResult>",
      "asyncReturnType" : "UpdateSolNetworkInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a network instance.</p> <p>A network instance is a single network created in Amazon Web Services TNB that can be deployed and on which life-cycle operations (like terminate, update, and delete) can be performed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Service quotas have been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSolNetworkInstanceRequest",
        "variableName" : "updateSolNetworkInstanceRequest",
        "variableType" : "UpdateSolNetworkInstanceRequest",
        "documentation" : "",
        "simpleType" : "UpdateSolNetworkInstanceRequest",
        "variableSetterType" : "UpdateSolNetworkInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSolNetworkInstance",
      "operationName" : "UpdateSolNetworkInstance",
      "returnType" : {
        "returnType" : "UpdateSolNetworkInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSolNetworkInstanceResult"
    },
    "UpdateSolNetworkPackage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSolNetworkPackageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSolNetworkPackageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSolNetworkPackageRequest, UpdateSolNetworkPackageResult>",
      "asyncReturnType" : "UpdateSolNetworkPackageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the operational state of a network package.</p> <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p> <p>A network service descriptor is a .yaml file in a network package that uses the TOSCA standard to describe the network functions you want to deploy and the Amazon Web Services infrastructure you want to deploy the network functions on.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSolNetworkPackageRequest",
        "variableName" : "updateSolNetworkPackageRequest",
        "variableType" : "UpdateSolNetworkPackageRequest",
        "documentation" : "",
        "simpleType" : "UpdateSolNetworkPackageRequest",
        "variableSetterType" : "UpdateSolNetworkPackageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSolNetworkPackage",
      "operationName" : "UpdateSolNetworkPackage",
      "returnType" : {
        "returnType" : "UpdateSolNetworkPackageResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSolNetworkPackageResult"
    },
    "ValidateSolFunctionPackageContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ValidateSolFunctionPackageContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ValidateSolFunctionPackageContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidateSolFunctionPackageContentRequest, ValidateSolFunctionPackageContentResult>",
      "asyncReturnType" : "ValidateSolFunctionPackageContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Validates function package content. This can be used as a dry run before uploading function package content with <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_PutSolFunctionPackageContent.html\">PutSolFunctionPackageContent</a>.</p> <p>A function package is a .zip file in CSAR (Cloud Service Archive) format that contains a network function (an ETSI standard telecommunication application) and function package descriptor that uses the TOSCA standard to describe how the network functions should run on your network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ValidateSolFunctionPackageContentRequest",
        "variableName" : "validateSolFunctionPackageContentRequest",
        "variableType" : "ValidateSolFunctionPackageContentRequest",
        "documentation" : "",
        "simpleType" : "ValidateSolFunctionPackageContentRequest",
        "variableSetterType" : "ValidateSolFunctionPackageContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "validateSolFunctionPackageContent",
      "operationName" : "ValidateSolFunctionPackageContent",
      "returnType" : {
        "returnType" : "ValidateSolFunctionPackageContentResult",
        "documentation" : null
      },
      "syncReturnType" : "ValidateSolFunctionPackageContentResult"
    },
    "ValidateSolNetworkPackageContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ValidateSolNetworkPackageContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ValidateSolNetworkPackageContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidateSolNetworkPackageContentRequest, ValidateSolNetworkPackageContentResult>",
      "asyncReturnType" : "ValidateSolNetworkPackageContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Validates network package content. This can be used as a dry run before uploading network package content with <a href=\"https://docs.aws.amazon.com/tnb/latest/APIReference/API_PutSolNetworkPackageContent.html\">PutSolNetworkPackageContent</a>.</p> <p>A network package is a .zip file in CSAR (Cloud Service Archive) format defines the function packages you want to deploy and the Amazon Web Services infrastructure you want to deploy them on.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error occurred. Problem on the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception caused by throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Unable to process the request because the client provided input failed to satisfy request constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Insufficient permissions to make request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ValidateSolNetworkPackageContentRequest",
        "variableName" : "validateSolNetworkPackageContentRequest",
        "variableType" : "ValidateSolNetworkPackageContentRequest",
        "documentation" : "",
        "simpleType" : "ValidateSolNetworkPackageContentRequest",
        "variableSetterType" : "ValidateSolNetworkPackageContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "validateSolNetworkPackageContent",
      "operationName" : "ValidateSolNetworkPackageContent",
      "returnType" : {
        "returnType" : "ValidateSolNetworkPackageContentResult",
        "documentation" : null
      },
      "syncReturnType" : "ValidateSolNetworkPackageContentResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Insufficient permissions to make request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.tnb.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.tnb.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CancelSolNetworkOperationRequest" : {
      "c2jName" : "CancelSolNetworkOperationInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.tnb.request.CancelSolNetworkOperationRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelSolNetworkOperation",
        "locationName" : null,
        "requestUri" : "/sol/nslcm/v1/ns_lcm_op_occs/{nsLcmOpOccId}/cancel",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "nsLcmOpOccId",
        "c2jShape" : "NsLcmOpOccId",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the network operation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the network operation.</p>\n@param nsLcmOpOccId The identifier of the network operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNsLcmOpOccId",
        "getterDocumentation" : "/**<p>The identifier of the network operation.</p>\n@return The identifier of the network operation.*/",
        "getterMethodName" : "getNsLcmOpOccId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "nsLcmOpOccId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "nsLcmOpOccId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NsLcmOpOccId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the network operation.</p>\n@param nsLcmOpOccId The identifier of the network operation.*/",
        "setterMethodName" : "setNsLcmOpOccId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nsLcmOpOccId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the network operation.</p>\n@param nsLcmOpOccId The identifier of the network operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
[...]
