{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-10-26",
    "asyncClient" : "AmazonTranscribeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonTranscribeAsyncClientBuilder",
    "asyncInterface" : "AmazonTranscribeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonTranscribeModuleInjector",
    "defaultEndpoint" : "transcribe.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "transcribe.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Operations and objects for transcribing speech to text.</p>",
    "endpointPrefix" : "transcribe",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.transcribe",
    "packagePath" : "com/amazonaws/services/transcribe",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Transcribe Service",
    "serviceId" : "Transcribe",
    "serviceName" : "Amazon Transcribe Service",
    "signingName" : "transcribe",
    "smokeTestsPackageName" : "com.amazonaws.services.transcribe.smoketests",
    "syncClient" : "AmazonTranscribeClient",
    "syncClientBuilderClassName" : "AmazonTranscribeClientBuilder",
    "syncInterface" : "AmazonTranscribe",
    "uid" : "transcribe-2017-10-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateVocabulary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVocabularyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVocabularyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVocabularyRequest, CreateVocabularyResult>",
      "asyncReturnType" : "CreateVocabularyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new custom vocabulary that you can use to change the way Amazon Transcribe handles transcription of an audio file. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When you are using the <code>CreateVocabulary</code> operation, the <code>JobName</code> field is a duplicate of a previously entered job name. Resend your request with a different name.</p> <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs running at the same time. Resend the second request later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVocabularyRequest",
        "variableName" : "createVocabularyRequest",
        "variableType" : "CreateVocabularyRequest",
        "documentation" : "",
        "simpleType" : "CreateVocabularyRequest",
        "variableSetterType" : "CreateVocabularyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVocabulary",
      "operationName" : "CreateVocabulary",
      "returnType" : {
        "returnType" : "CreateVocabularyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVocabularyResult"
    },
    "CreateVocabularyFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVocabularyFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVocabularyFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVocabularyFilterRequest, CreateVocabularyFilterResult>",
      "asyncReturnType" : "CreateVocabularyFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new vocabulary filter that you can use to filter words, such as profane words, from the output of a transcription job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When you are using the <code>CreateVocabulary</code> operation, the <code>JobName</code> field is a duplicate of a previously entered job name. Resend your request with a different name.</p> <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs running at the same time. Resend the second request later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVocabularyFilterRequest",
        "variableName" : "createVocabularyFilterRequest",
        "variableType" : "CreateVocabularyFilterRequest",
        "documentation" : "",
        "simpleType" : "CreateVocabularyFilterRequest",
        "variableSetterType" : "CreateVocabularyFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVocabularyFilter",
      "operationName" : "CreateVocabularyFilter",
      "returnType" : {
        "returnType" : "CreateVocabularyFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVocabularyFilterResult"
    },
    "DeleteTranscriptionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTranscriptionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTranscriptionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTranscriptionJobRequest, DeleteTranscriptionJobResult>",
      "asyncReturnType" : "DeleteTranscriptionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a previously submitted transcription job along with any other generated results such as the transcription, models, and so on.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTranscriptionJobRequest",
        "variableName" : "deleteTranscriptionJobRequest",
        "variableType" : "DeleteTranscriptionJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteTranscriptionJobRequest",
        "variableSetterType" : "DeleteTranscriptionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTranscriptionJob",
      "operationName" : "DeleteTranscriptionJob",
      "returnType" : {
        "returnType" : "DeleteTranscriptionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTranscriptionJobResult"
    },
    "DeleteVocabulary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVocabularyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVocabularyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVocabularyRequest, DeleteVocabularyResult>",
      "asyncReturnType" : "DeleteVocabularyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a vocabulary from Amazon Transcribe. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVocabularyRequest",
        "variableName" : "deleteVocabularyRequest",
        "variableType" : "DeleteVocabularyRequest",
        "documentation" : "",
        "simpleType" : "DeleteVocabularyRequest",
        "variableSetterType" : "DeleteVocabularyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVocabulary",
      "operationName" : "DeleteVocabulary",
      "returnType" : {
        "returnType" : "DeleteVocabularyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVocabularyResult"
    },
    "DeleteVocabularyFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVocabularyFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVocabularyFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVocabularyFilterRequest, DeleteVocabularyFilterResult>",
      "asyncReturnType" : "DeleteVocabularyFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a vocabulary filter.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVocabularyFilterRequest",
        "variableName" : "deleteVocabularyFilterRequest",
        "variableType" : "DeleteVocabularyFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteVocabularyFilterRequest",
        "variableSetterType" : "DeleteVocabularyFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVocabularyFilter",
      "operationName" : "DeleteVocabularyFilter",
      "returnType" : {
        "returnType" : "DeleteVocabularyFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVocabularyFilterResult"
    },
    "GetTranscriptionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTranscriptionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTranscriptionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTranscriptionJobRequest, GetTranscriptionJobResult>",
      "asyncReturnType" : "GetTranscriptionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a transcription job. To see the status of the job, check the <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, the job is finished and you can find the results at the location specified in the <code>TranscriptFileUri</code> field. If you enable content redaction, the redacted transcript appears in <code>RedactedTranscriptFileUri</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTranscriptionJobRequest",
        "variableName" : "getTranscriptionJobRequest",
        "variableType" : "GetTranscriptionJobRequest",
        "documentation" : "",
        "simpleType" : "GetTranscriptionJobRequest",
        "variableSetterType" : "GetTranscriptionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTranscriptionJob",
      "operationName" : "GetTranscriptionJob",
      "returnType" : {
        "returnType" : "GetTranscriptionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTranscriptionJobResult"
    },
    "GetVocabulary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVocabularyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVocabularyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVocabularyRequest, GetVocabularyResult>",
      "asyncReturnType" : "GetVocabularyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a vocabulary. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVocabularyRequest",
        "variableName" : "getVocabularyRequest",
        "variableType" : "GetVocabularyRequest",
        "documentation" : "",
        "simpleType" : "GetVocabularyRequest",
        "variableSetterType" : "GetVocabularyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVocabulary",
      "operationName" : "GetVocabulary",
      "returnType" : {
        "returnType" : "GetVocabularyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVocabularyResult"
    },
    "GetVocabularyFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVocabularyFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVocabularyFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVocabularyFilterRequest, GetVocabularyFilterResult>",
      "asyncReturnType" : "GetVocabularyFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a vocabulary filter.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVocabularyFilterRequest",
        "variableName" : "getVocabularyFilterRequest",
        "variableType" : "GetVocabularyFilterRequest",
        "documentation" : "",
        "simpleType" : "GetVocabularyFilterRequest",
        "variableSetterType" : "GetVocabularyFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVocabularyFilter",
      "operationName" : "GetVocabularyFilter",
      "returnType" : {
        "returnType" : "GetVocabularyFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVocabularyFilterResult"
    },
    "ListTranscriptionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTranscriptionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTranscriptionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTranscriptionJobsRequest, ListTranscriptionJobsResult>",
      "asyncReturnType" : "ListTranscriptionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists transcription jobs with the specified status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTranscriptionJobsRequest",
        "variableName" : "listTranscriptionJobsRequest",
        "variableType" : "ListTranscriptionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListTranscriptionJobsRequest",
        "variableSetterType" : "ListTranscriptionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTranscriptionJobs",
      "operationName" : "ListTranscriptionJobs",
      "returnType" : {
        "returnType" : "ListTranscriptionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTranscriptionJobsResult"
    },
    "ListVocabularies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVocabulariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVocabulariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVocabulariesRequest, ListVocabulariesResult>",
      "asyncReturnType" : "ListVocabulariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of vocabularies that match the specified criteria. If no criteria are specified, returns the entire list of vocabularies.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVocabulariesRequest",
        "variableName" : "listVocabulariesRequest",
        "variableType" : "ListVocabulariesRequest",
        "documentation" : "",
        "simpleType" : "ListVocabulariesRequest",
        "variableSetterType" : "ListVocabulariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVocabularies",
      "operationName" : "ListVocabularies",
      "returnType" : {
        "returnType" : "ListVocabulariesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVocabulariesResult"
    },
    "ListVocabularyFilters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVocabularyFiltersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVocabularyFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVocabularyFiltersRequest, ListVocabularyFiltersResult>",
      "asyncReturnType" : "ListVocabularyFiltersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about vocabulary filters.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVocabularyFiltersRequest",
        "variableName" : "listVocabularyFiltersRequest",
        "variableType" : "ListVocabularyFiltersRequest",
        "documentation" : "",
        "simpleType" : "ListVocabularyFiltersRequest",
        "variableSetterType" : "ListVocabularyFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVocabularyFilters",
      "operationName" : "ListVocabularyFilters",
      "returnType" : {
        "returnType" : "ListVocabularyFiltersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVocabularyFiltersResult"
    },
    "StartTranscriptionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTranscriptionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTranscriptionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTranscriptionJobRequest, StartTranscriptionJobResult>",
      "asyncReturnType" : "StartTranscriptionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous job to transcribe speech to text. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When you are using the <code>CreateVocabulary</code> operation, the <code>JobName</code> field is a duplicate of a previously entered job name. Resend your request with a different name.</p> <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs running at the same time. Resend the second request later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartTranscriptionJobRequest",
        "variableName" : "startTranscriptionJobRequest",
        "variableType" : "StartTranscriptionJobRequest",
        "documentation" : "",
        "simpleType" : "StartTranscriptionJobRequest",
        "variableSetterType" : "StartTranscriptionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTranscriptionJob",
      "operationName" : "StartTranscriptionJob",
      "returnType" : {
        "returnType" : "StartTranscriptionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartTranscriptionJobResult"
    },
    "UpdateVocabulary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVocabularyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVocabularyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVocabularyRequest, UpdateVocabularyResult>",
      "asyncReturnType" : "UpdateVocabularyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing vocabulary with new values. The <code>UpdateVocabulary</code> operation overwrites all of the existing information with the values that you provide in the request. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When you are using the <code>CreateVocabulary</code> operation, the <code>JobName</code> field is a duplicate of a previously entered job name. Resend your request with a different name.</p> <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs running at the same time. Resend the second request later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVocabularyRequest",
        "variableName" : "updateVocabularyRequest",
        "variableType" : "UpdateVocabularyRequest",
        "documentation" : "",
        "simpleType" : "UpdateVocabularyRequest",
        "variableSetterType" : "UpdateVocabularyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVocabulary",
      "operationName" : "UpdateVocabulary",
      "returnType" : {
        "returnType" : "UpdateVocabularyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateVocabularyResult"
    },
    "UpdateVocabularyFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVocabularyFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVocabularyFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVocabularyFilterRequest, UpdateVocabularyFilterResult>",
      "asyncReturnType" : "UpdateVocabularyFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a vocabulary filter with a new list of filtered words.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVocabularyFilterRequest",
        "variableName" : "updateVocabularyFilterRequest",
        "variableType" : "UpdateVocabularyFilterRequest",
        "documentation" : "",
        "simpleType" : "UpdateVocabularyFilterRequest",
        "variableSetterType" : "UpdateVocabularyFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVocabularyFilter",
      "operationName" : "UpdateVocabularyFilter",
      "returnType" : {
        "returnType" : "UpdateVocabularyFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateVocabularyFilterResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>When you are using the <code>CreateVocabulary</code> operation, the <code>JobName</code> field is a duplicate of a previously entered job name. Resend your request with a different name.</p> <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs running at the same time. Resend the second request later.</p>",
      "enums" : null,
      "errorCode" : "ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "ContentRedaction" : {
      "c2jName" : "ContentRedaction",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Settings for content redaction within a transcription job.</p> <p>You can redact transcripts in US English (en-us). For more information see: <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/content-redaction.html\">Automatic Content Redaction</a> </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "RedactionType",
        "c2jShape" : "RedactionType",
        "deprecated" : false,
        "documentation" : "<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>",
        "enumType" : "RedactionType",
        "fluentSetterDocumentation" : "/**<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>\n@param redactionType Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RedactionType*/",
        "fluentSetterMethodName" : "withRedactionType",
        "getterDocumentation" : "/**<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>\n@return Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.\n@see RedactionType*/",
        "getterMethodName" : "getRedactionType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RedactionType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RedactionType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RedactionType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>\n@param redactionType Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.\n@see RedactionType*/",
        "setterMethodName" : "setRedactionType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "redactionType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>\n@param redactionType Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RedactionType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "redactionType",
          "variableType" : "String",
          "documentation" : "<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RedactionOutput",
        "c2jShape" : "RedactionOutput",
        "deprecated" : false,
        "documentation" : "<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>",
        "enumType" : "RedactionOutput",
        "fluentSetterDocumentation" : "/**<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>\n@param redactionOutput Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RedactionOutput*/",
        "fluentSetterMethodName" : "withRedactionOutput",
        "getterDocumentation" : "/**<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>\n@return Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.\n@see RedactionOutput*/",
        "getterMethodName" : "getRedactionOutput",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RedactionOutput",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RedactionOutput",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RedactionOutput",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>\n@param redactionOutput Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.\n@see RedactionOutput*/",
        "setterMethodName" : "setRedactionOutput",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "redactionOutput",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>\n@param redactionOutput Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RedactionOutput*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "redactionOutput",
          "variableType" : "String",
          "documentation" : "<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RedactionOutput" : {
          "c2jName" : "RedactionOutput",
          "c2jShape" : "RedactionOutput",
          "deprecated" : false,
          "documentation" : "<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>",
          "enumType" : "RedactionOutput",
          "fluentSetterDocumentation" : "/**<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>\n@param redactionOutput Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RedactionOutput*/",
          "fluentSetterMethodName" : "withRedactionOutput",
          "getterDocumentation" : "/**<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>\n@return Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.\n@see RedactionOutput*/",
          "getterMethodName" : "getRedactionOutput",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RedactionOutput",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RedactionOutput",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RedactionOutput",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>\n@param redactionOutput Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.\n@see RedactionOutput*/",
          "setterMethodName" : "setRedactionOutput",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "redactionOutput",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>\n@param redactionOutput Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RedactionOutput*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "redactionOutput",
            "variableType" : "String",
            "documentation" : "<p>Request parameter where you choose whether to output only the redacted transcript or generate an additional unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs a JSON file with only the redacted transcript and related information.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs a JSON file with the unredacted transcript and related information in addition to the JSON file with the redacted transcript.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RedactionType" : {
          "c2jName" : "RedactionType",
          "c2jShape" : "RedactionType",
          "deprecated" : false,
          "documentation" : "<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>",
          "enumType" : "RedactionType",
          "fluentSetterDocumentation" : "/**<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>\n@param redactionType Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RedactionType*/",
          "fluentSetterMethodName" : "withRedactionType",
          "getterDocumentation" : "/**<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>\n@return Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.\n@see RedactionType*/",
          "getterMethodName" : "getRedactionType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RedactionType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RedactionType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RedactionType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>\n@param redactionType Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.\n@see RedactionType*/",
          "setterMethodName" : "setRedactionType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "redactionType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>\n@param redactionType Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RedactionType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "redactionType",
            "variableType" : "String",
            "documentation" : "<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "RedactionType", "RedactionOutput" ],
      "shapeName" : "ContentRedaction",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ContentRedaction",
        "variableName" : "contentRedaction",
        "variableType" : "ContentRedaction",
        "documentation" : null,
        "simpleType" : "ContentRedaction",
        "variableSetterType" : "ContentRedaction"
      },
      "wrapper" : false
    },
    "CreateVocabularyFilterRequest" : {
      "c2jName" : "CreateVocabularyFilterRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateVocabularyFilter",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Transcribe.CreateVocabularyFilter",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "VocabularyFilterName",
        "c2jShape" : "VocabularyFilterName",
        "deprecated" : false,
        "documentation" : "<p>The vocabulary filter name. The name must be unique within the account that contains it.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The vocabulary filter name. The name must be unique within the account that contains it.</p>\n@param vocabularyFilterName The vocabulary filter name. The name must be unique within the account that contains it.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVocabularyFilterName",
        "getterDocumentation" : "/**<p>The vocabulary filter name. The name must be unique within the account that contains it.</p>\n@return The vocabulary filter name. The name must be unique within the account that contains it.*/",
        "getterMethodName" : "getVocabularyFilterName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "VocabularyFilterName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "VocabularyFilterName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VocabularyFilterName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The vocabulary filter name. The name must be unique within the account that contains it.</p>\n@param vocabularyFilterName The vocabulary filter name. The name must be unique within the account that contains it.*/",
        "setterMethodName" : "setVocabularyFilterName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyFilterName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The vocabulary filter name. The name must be unique within the account that contains it.</p>\n@param vocabularyFilterName The vocabulary filter name. The name must be unique within the account that contains it.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyFilterName",
          "variableType" : "String",
          "documentation" : "<p>The vocabulary filter name. The name must be unique within the account that contains it.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LanguageCode",
        "c2jShape" : "LanguageCode",
        "deprecated" : false,
        "documentation" : "<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>",
        "enumType" : "LanguageCode",
        "fluentSetterDocumentation" : "/**<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>\n@param languageCode The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LanguageCode*/",
        "fluentSetterMethodName" : "withLanguageCode",
        "getterDocumentation" : "/**<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>\n@return The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.\n@see LanguageCode*/",
        "getterMethodName" : "getLanguageCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LanguageCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LanguageCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LanguageCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>\n@param languageCode The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.\n@see LanguageCode*/",
        "setterMethodName" : "setLanguageCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "languageCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>\n@param languageCode The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LanguageCode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "languageCode",
          "variableType" : "String",
          "documentation" : "<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Words",
        "c2jShape" : "Words",
        "deprecated" : false,
        "documentation" : "<p>The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.</p>\n@param words The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withWords",
        "getterDocumentation" : "/**<p>The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.</p>\n@return The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.*/",
        "getterMethodName" : "getWords",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Words",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Words",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Word",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Words",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.</p>\n@param words The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.*/",
        "setterMethodName" : "setWords",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "words",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setWords(java.util.Collection)} or {@link #withWords(java.util.Collection)} if you want to override the existing values.</p>\n@param words The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "words",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "VocabularyFilterFileUri",
        "c2jShape" : "Uri",
        "deprecated" : false,
        "documentation" : "<p>The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.</p>\n@param vocabularyFilterFileUri The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVocabularyFilterFileUri",
        "getterDocumentation" : "/**<p>The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.</p>\n@return The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.*/",
        "getterMethodName" : "getVocabularyFilterFileUri",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "VocabularyFilterFileUri",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "VocabularyFilterFileUri",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VocabularyFilterFileUri",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.</p>\n@param vocabularyFilterFileUri The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.*/",
        "setterMethodName" : "setVocabularyFilterFileUri",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyFilterFileUri",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.</p>\n@param vocabularyFilterFileUri The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyFilterFileUri",
          "variableType" : "String",
          "documentation" : "<p>The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-vocabulary.html#charsets\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LanguageCode" : {
          "c2jName" : "LanguageCode",
          "c2jShape" : "LanguageCode",
          "deprecated" : false,
          "documentation" : "<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>",
          "enumType" : "LanguageCode",
          "fluentSetterDocumentation" : "/**<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>\n@param languageCode The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LanguageCode*/",
          "fluentSetterMethodName" : "withLanguageCode",
          "getterDocumentation" : "/**<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>\n@return The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.\n@see LanguageCode*/",
          "getterMethodName" : "getLanguageCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LanguageCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LanguageCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LanguageCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>\n@param languageCode The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.\n@see LanguageCode*/",
          "setterMethodName" : "setLanguageCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "languageCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>\n@param languageCode The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LanguageCode*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "languageCode",
            "variableType" : "String",
            "documentation" : "<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
[...]
