{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-07-01",
    "asyncClient" : "AmazonTranslateAsyncClient",
    "asyncClientBuilderClassName" : "AmazonTranslateAsyncClientBuilder",
    "asyncInterface" : "AmazonTranslateAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonTranslateModuleInjector",
    "defaultEndpoint" : "translate.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "translate.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Provides translation between one source language and another of the same set of languages.</p>",
    "endpointPrefix" : "translate",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.translate",
    "packagePath" : "com/amazonaws/services/translate",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Translate",
    "serviceId" : "Translate",
    "serviceName" : "Amazon Translate",
    "signingName" : "translate",
    "smokeTestsPackageName" : "com.amazonaws.services.translate.smoketests",
    "syncClient" : "AmazonTranslateClient",
    "syncClientBuilderClassName" : "AmazonTranslateClientBuilder",
    "syncInterface" : "AmazonTranslate",
    "uid" : "translate-2017-07-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteTerminology" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTerminologyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTerminologyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTerminologyRequest, DeleteTerminologyResult>",
      "asyncReturnType" : "DeleteTerminologyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A synchronous action that deletes a custom terminology.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request. .</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTerminologyRequest",
        "variableName" : "deleteTerminologyRequest",
        "variableType" : "DeleteTerminologyRequest",
        "documentation" : "",
        "simpleType" : "DeleteTerminologyRequest",
        "variableSetterType" : "DeleteTerminologyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTerminology",
      "operationName" : "DeleteTerminology",
      "returnType" : {
        "returnType" : "DeleteTerminologyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTerminologyResult"
    },
    "GetTerminology" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTerminologyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTerminologyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTerminologyRequest, GetTerminologyResult>",
      "asyncReturnType" : "GetTerminologyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a custom terminology.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request. .</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTerminologyRequest",
        "variableName" : "getTerminologyRequest",
        "variableType" : "GetTerminologyRequest",
        "documentation" : "",
        "simpleType" : "GetTerminologyRequest",
        "variableSetterType" : "GetTerminologyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTerminology",
      "operationName" : "GetTerminology",
      "returnType" : {
        "returnType" : "GetTerminologyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTerminologyResult"
    },
    "ImportTerminology" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportTerminologyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportTerminologyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportTerminologyRequest, ImportTerminologyResult>",
      "asyncReturnType" : "ImportTerminologyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a custom terminology, depending on whether or not one already exists for the given terminology name. Importing a terminology with the same name as an existing one will merge the terminologies based on the chosen merge strategy. Currently, the only supported merge strategy is OVERWRITE, and so the imported terminology will overwrite an existing terminology of the same name.</p> <p>If you import a terminology that overwrites an existing one, the new terminology take up to 10 minutes to fully propagate and be available for use in a translation due to cache policies with the DataPlane service that performs the translations.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The specified limit has been exceeded. Review your request and retry it with a quantity below the stated limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportTerminologyRequest",
        "variableName" : "importTerminologyRequest",
        "variableType" : "ImportTerminologyRequest",
        "documentation" : "",
        "simpleType" : "ImportTerminologyRequest",
        "variableSetterType" : "ImportTerminologyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importTerminology",
      "operationName" : "ImportTerminology",
      "returnType" : {
        "returnType" : "ImportTerminologyResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportTerminologyResult"
    },
    "ListTerminologies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTerminologiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTerminologiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTerminologiesRequest, ListTerminologiesResult>",
      "asyncReturnType" : "ListTerminologiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of custom terminologies associated with your account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTerminologiesRequest",
        "variableName" : "listTerminologiesRequest",
        "variableType" : "ListTerminologiesRequest",
        "documentation" : "",
        "simpleType" : "ListTerminologiesRequest",
        "variableSetterType" : "ListTerminologiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTerminologies",
      "operationName" : "ListTerminologies",
      "returnType" : {
        "returnType" : "ListTerminologiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTerminologiesResult"
    },
    "TranslateText" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TranslateTextResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TranslateTextResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TranslateTextRequest, TranslateTextResult>",
      "asyncReturnType" : "TranslateTextResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Translates input text from the source language to the target language. It is not necessary to use English (en) as either the source or the target language but not all language combinations are supported by Amazon Translate. For more information, see <a href=\"http://docs.aws.amazon.com/translate/latest/dg/pairs.html\">Supported Language Pairs</a>.</p> <ul> <li> <p>Arabic (ar)</p> </li> <li> <p>Chinese (Simplified) (zh)</p> </li> <li> <p>Chinese (Traditional) (zh-TW)</p> </li> <li> <p>Czech (cs)</p> </li> <li> <p>Danish (da)</p> </li> <li> <p>Dutch (nl)</p> </li> <li> <p>English (en)</p> </li> <li> <p>Finnish (fi)</p> </li> <li> <p>French (fr)</p> </li> <li> <p>German (de)</p> </li> <li> <p>Hebrew (he)</p> </li> <li> <p>Indonesian (id)</p> </li> <li> <p>Italian (it)</p> </li> <li> <p>Japanese (ja)</p> </li> <li> <p>Korean (ko)</p> </li> <li> <p>Polish (pl)</p> </li> <li> <p>Portuguese (pt)</p> </li> <li> <p>Russian (ru)</p> </li> <li> <p>Spanish (es)</p> </li> <li> <p>Swedish (sv)</p> </li> <li> <p>Turkish (tr)</p> </li> </ul> <p>To have Amazon Translate determine the source language of your text, you can specify <code>auto</code> in the <code>SourceLanguageCode</code> field. If you specify <code>auto</code>, Amazon Translate will call Amazon Comprehend to determine the source language.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguagePairException",
        "documentation" : "<p>Amazon Translate does not support translation from the language of the source text into the requested target language. For more information, see <a>how-to-error-msg</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DetectedLanguageLowConfidenceException",
        "documentation" : "<p>The confidence that Amazon Comprehend accurately detected the source language is low. If a low confidence level is acceptable for your application, you can use the language in the exception to call Amazon Translate again. For more information, see the <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/API_DetectDominantLanguage.html\">DetectDominantLanguage</a> operation in the <i>Amazon Comprehend Developer Guide</i>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request. .</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The Amazon Translate service is temporarily unavailable. Please wait a bit and then retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TranslateTextRequest",
        "variableName" : "translateTextRequest",
        "variableType" : "TranslateTextRequest",
        "documentation" : "",
        "simpleType" : "TranslateTextRequest",
        "variableSetterType" : "TranslateTextRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "translateText",
      "operationName" : "TranslateText",
      "returnType" : {
        "returnType" : "TranslateTextResult",
        "documentation" : null
      },
      "syncReturnType" : "TranslateTextResult"
    }
  },
  "shapes" : {
    "AppliedTerminology" : {
      "c2jName" : "AppliedTerminology",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The custom terminology applied to the input text by Amazon Translate for the translated text response. This is optional in the response and will only be present if you specified terminology input in the request. Currently, only one terminology can be applied per TranslateText request.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "ResourceName",
        "deprecated" : false,
        "documentation" : "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@return The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Terms",
        "c2jShape" : "TermList",
        "deprecated" : false,
        "documentation" : "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTerms",
        "getterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@return The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.*/",
        "getterMethodName" : "getTerms",
        "getterModel" : {
          "returnType" : "java.util.List<Term>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Terms",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Terms",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Term",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Term",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Term",
              "variableName" : "member",
              "variableType" : "Term",
              "documentation" : "",
              "simpleType" : "Term",
              "variableSetterType" : "Term"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Term",
              "variableName" : "member",
              "variableType" : "Term",
              "documentation" : "",
              "simpleType" : "Term",
              "variableSetterType" : "Term"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Term",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Term",
          "templateImplType" : "java.util.ArrayList<Term>",
          "templateType" : "java.util.List<Term>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Terms",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.*/",
        "setterMethodName" : "setTerms",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Term>",
          "variableName" : "terms",
          "variableType" : "java.util.List<Term>",
          "documentation" : "",
          "simpleType" : "List<Term>",
          "variableSetterType" : "java.util.Collection<Term>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTerms(java.util.Collection)} or {@link #withTerms(java.util.Collection)} if you want to override the existing values.</p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Term>",
          "variableName" : "terms",
          "variableType" : "java.util.List<Term>",
          "documentation" : "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>",
          "simpleType" : "List<Term>",
          "variableSetterType" : "java.util.Collection<Term>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "ResourceName",
          "deprecated" : false,
          "documentation" : "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@return The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Terms" : {
          "c2jName" : "Terms",
          "c2jShape" : "TermList",
          "deprecated" : false,
          "documentation" : "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTerms",
          "getterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@return The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.*/",
          "getterMethodName" : "getTerms",
          "getterModel" : {
            "returnType" : "java.util.List<Term>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Terms",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Terms",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Term",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Term",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Term",
                "variableName" : "member",
                "variableType" : "Term",
                "documentation" : "",
                "simpleType" : "Term",
                "variableSetterType" : "Term"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Term",
                "variableName" : "member",
                "variableType" : "Term",
                "documentation" : "",
                "simpleType" : "Term",
                "variableSetterType" : "Term"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Term",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Term",
            "templateImplType" : "java.util.ArrayList<Term>",
            "templateType" : "java.util.List<Term>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Terms",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.*/",
          "setterMethodName" : "setTerms",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Term>",
            "variableName" : "terms",
            "variableType" : "java.util.List<Term>",
            "documentation" : "",
            "simpleType" : "List<Term>",
            "variableSetterType" : "java.util.Collection<Term>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTerms(java.util.Collection)} or {@link #withTerms(java.util.Collection)} if you want to override the existing values.</p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Term>",
            "variableName" : "terms",
            "variableType" : "java.util.List<Term>",
            "documentation" : "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>",
            "simpleType" : "List<Term>",
            "variableSetterType" : "java.util.Collection<Term>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AppliedTerminology",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppliedTerminology",
        "variableName" : "appliedTerminology",
        "variableType" : "AppliedTerminology",
        "documentation" : null,
        "simpleType" : "AppliedTerminology",
        "variableSetterType" : "AppliedTerminology"
      },
      "wrapper" : false
    },
    "DeleteTerminologyRequest" : {
      "c2jName" : "DeleteTerminologyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteTerminology",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSShineFrontendService_20170701.DeleteTerminology",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "ResourceName",
        "deprecated" : false,
        "documentation" : "<p>The name of the custom terminology being deleted. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the custom terminology being deleted. </p>\n@param name The name of the custom terminology being deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the custom terminology being deleted. </p>\n@return The name of the custom terminology being deleted.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the custom terminology being deleted. </p>\n@param name The name of the custom terminology being deleted.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the custom terminology being deleted. </p>\n@param name The name of the custom terminology being deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the custom terminology being deleted. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "ResourceName",
          "deprecated" : false,
          "documentation" : "<p>The name of the custom terminology being deleted. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the custom terminology being deleted. </p>\n@param name The name of the custom terminology being deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the custom terminology being deleted. </p>\n@return The name of the custom terminology being deleted.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the custom terminology being deleted. </p>\n@param name The name of the custom terminology being deleted.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the custom terminology being deleted. </p>\n@param name The name of the custom terminology being deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the custom terminology being deleted. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name" ],
      "shapeName" : "DeleteTerminologyRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTerminologyRequest",
        "variableName" : "deleteTerminologyRequest",
        "variableType" : "DeleteTerminologyRequest",
        "documentation" : null,
        "simpleType" : "DeleteTerminologyRequest",
        "variableSetterType" : "DeleteTerminologyRequest"
      },
      "wrapper" : false
    },
    "DeleteTerminologyResult" : {
      "c2jName" : "DeleteTerminologyResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteTerminologyResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTerminologyResult",
        "variableName" : "deleteTerminologyResult",
        "variableType" : "DeleteTerminologyResult",
        "documentation" : null,
        "simpleType" : "DeleteTerminologyResult",
        "variableSetterType" : "DeleteTerminologyResult"
      },
      "wrapper" : false
    },
    "DetectedLanguageLowConfidenceException" : {
      "c2jName" : "DetectedLanguageLowConfidenceException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The confidence that Amazon Comprehend accurately detected the source language is low. If a low confidence level is acceptable for your application, you can use the language in the exception to call Amazon Translate again. For more information, see the <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/API_DetectDominantLanguage.html\">DetectDominantLanguage</a> operation in the <i>Amazon Comprehend Developer Guide</i>. </p>",
      "enums" : null,
      "errorCode" : "DetectedLanguageLowConfidenceException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DetectedLanguageCode",
        "c2jShape" : "LanguageCodeString",
        "deprecated" : false,
        "documentation" : "<p>The language code of the auto-detected language from Amazon Comprehend.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The language code of the auto-detected language from Amazon Comprehend.</p>\n@param detectedLanguageCode The language code of the auto-detected language from Amazon Comprehend.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDetectedLanguageCode",
        "getterDocumentation" : "/**<p>The language code of the auto-detected language from Amazon Comprehend.</p>\n@return The language code of the auto-detected language from Amazon Comprehend.*/",
        "getterMethodName" : "getDetectedLanguageCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DetectedLanguageCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DetectedLanguageCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DetectedLanguageCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The language code of the auto-detected language from Amazon Comprehend.</p>\n@param detectedLanguageCode The language code of the auto-detected language from Amazon Comprehend.*/",
        "setterMethodName" : "setDetectedLanguageCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "detectedLanguageCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The language code of the auto-detected language from Amazon Comprehend.</p>\n@param detectedLanguageCode The language code of the auto-detected language from Amazon Comprehend.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "detectedLanguageCode",
          "variableType" : "String",
          "documentation" : "<p>The language code of the auto-detected language from Amazon Comprehend.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DetectedLanguageCode" : {
          "c2jName" : "DetectedLanguageCode",
          "c2jShape" : "LanguageCodeString",
          "deprecated" : false,
          "documentation" : "<p>The language code of the auto-detected language from Amazon Comprehend.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The language code of the auto-detected language from Amazon Comprehend.</p>\n@param detectedLanguageCode The language code of the auto-detected language from Amazon Comprehend.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDetectedLanguageCode",
          "getterDocumentation" : "/**<p>The language code of the auto-detected language from Amazon Comprehend.</p>\n@return The language code of the auto-detected language from Amazon Comprehend.*/",
          "getterMethodName" : "getDetectedLanguageCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DetectedLanguageCode",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DetectedLanguageCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DetectedLanguageCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The language code of the auto-detected language from Amazon Comprehend.</p>\n@param detectedLanguageCode The language code of the auto-detected language from Amazon Comprehend.*/",
          "setterMethodName" : "setDetectedLanguageCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "detectedLanguageCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The language code of the auto-detected language from Amazon Comprehend.</p>\n@param detectedLanguageCode The language code of the auto-detected language from Amazon Comprehend.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "detectedLanguageCode",
            "variableType" : "String",
            "documentation" : "<p>The language code of the auto-detected language from Amazon Comprehend.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DetectedLanguageLowConfidenceException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectedLanguageLowConfidenceException",
        "variableName" : "detectedLanguageLowConfidenceException",
        "variableType" : "DetectedLanguageLowConfidenceException",
        "documentation" : null,
        "simpleType" : "DetectedLanguageLowConfidenceException",
        "variableSetterType" : "DetectedLanguageLowConfidenceException"
      },
      "wrapper" : false
    },
    "EncryptionKey" : {
      "c2jName" : "EncryptionKey",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The encryption key used to encrypt the custom terminologies used by Amazon Translate.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Type",
        "c2jShape" : "EncryptionKeyType",
        "deprecated" : false,
        "documentation" : "<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>",
        "enumType" : "EncryptionKeyType",
        "fluentSetterDocumentation" : "/**<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>\n@param type The type of encryption key used by Amazon Translate to encrypt custom terminologies.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EncryptionKeyType*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>\n@return The type of encryption key used by Amazon Translate to encrypt custom terminologies.\n@see EncryptionKeyType*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>\n@param type The type of encryption key used by Amazon Translate to encrypt custom terminologies.\n@see EncryptionKeyType*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>\n@param type The type of encryption key used by Amazon Translate to encrypt custom terminologies.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EncryptionKeyType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "EncryptionKeyID",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>\n@param id The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>\n@return The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>\n@param id The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>\n@param id The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "EncryptionKeyID",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>\n@param id The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>\n@return The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Id",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>\n@param id The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>\n@param id The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "EncryptionKeyType",
          "deprecated" : false,
          "documentation" : "<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>",
          "enumType" : "EncryptionKeyType",
          "fluentSetterDocumentation" : "/**<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>\n@param type The type of encryption key used by Amazon Translate to encrypt custom terminologies.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EncryptionKeyType*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>\n@return The type of encryption key used by Amazon Translate to encrypt custom terminologies.\n@see EncryptionKeyType*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Type",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>\n@param type The type of encryption key used by Amazon Translate to encrypt custom terminologies.\n@see EncryptionKeyType*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>\n@param type The type of encryption key used by Amazon Translate to encrypt custom terminologies.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EncryptionKeyType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The type of encryption key used by Amazon Translate to encrypt custom terminologies.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Type", "Id" ],
      "shapeName" : "EncryptionKey",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EncryptionKey",
        "variableName" : "encryptionKey",
        "variableType" : "EncryptionKey",
        "documentation" : null,
        "simpleType" : "EncryptionKey",
        "variableSetterType" : "EncryptionKey"
      },
      "wrapper" : false
    },
    "EncryptionKeyType" : {
      "c2jName" : "EncryptionKeyType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "KMS",
        "value" : "KMS"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "EncryptionKeyType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EncryptionKeyType",
        "variableName" : "encryptionKeyType",
        "variableType" : "EncryptionKeyType",
        "documentation" : null,
        "simpleType" : "EncryptionKeyType",
        "variableSetterType" : "EncryptionKeyType"
      },
      "wrapper" : false
    },
    "GetTerminologyRequest" : {
      "c2jName" : "GetTerminologyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetTerminology",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSShineFrontendService_20170701.GetTerminology",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "ResourceName",
        "deprecated" : false,
        "documentation" : "<p>The name of the custom terminology being retrieved.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the custom terminology being retrieved.</p>\n@param name The name of the custom terminology being retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the custom terminology being retrieved.</p>\n@return The name of the custom terminology being retrieved.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the custom terminology being retrieved.</p>\n@param name The name of the custom terminology being retrieved.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the custom terminology being retrieved.</p>\n@param name The name of the custom terminology being retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the custom terminology being retrieved.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TerminologyDataFormat",
        "c2jShape" : "TerminologyDataFormat",
        "deprecated" : false,
        "documentation" : "<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>",
        "enumType" : "TerminologyDataFormat",
        "fluentSetterDocumentation" : "/**<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>\n@param terminologyDataFormat The data format of the custom terminology being retrieved, either CSV or TMX.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TerminologyDataFormat*/",
        "fluentSetterMethodName" : "withTerminologyDataFormat",
        "getterDocumentation" : "/**<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>\n@return The data format of the custom terminology being retrieved, either CSV or TMX.\n@see TerminologyDataFormat*/",
        "getterMethodName" : "getTerminologyDataFormat",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TerminologyDataFormat",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TerminologyDataFormat",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TerminologyDataFormat",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>\n@param terminologyDataFormat The data format of the custom terminology being retrieved, either CSV or TMX.\n@see TerminologyDataFormat*/",
        "setterMethodName" : "setTerminologyDataFormat",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "terminologyDataFormat",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>\n@param terminologyDataFormat The data format of the custom terminology being retrieved, either CSV or TMX.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TerminologyDataFormat*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "terminologyDataFormat",
          "variableType" : "String",
          "documentation" : "<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "ResourceName",
          "deprecated" : false,
          "documentation" : "<p>The name of the custom terminology being retrieved.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the custom terminology being retrieved.</p>\n@param name The name of the custom terminology being retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the custom terminology being retrieved.</p>\n@return The name of the custom terminology being retrieved.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the custom terminology being retrieved.</p>\n@param name The name of the custom terminology being retrieved.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the custom terminology being retrieved.</p>\n@param name The name of the custom terminology being retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the custom terminology being retrieved.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TerminologyDataFormat" : {
          "c2jName" : "TerminologyDataFormat",
          "c2jShape" : "TerminologyDataFormat",
          "deprecated" : false,
          "documentation" : "<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>",
          "enumType" : "TerminologyDataFormat",
          "fluentSetterDocumentation" : "/**<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>\n@param terminologyDataFormat The data format of the custom terminology being retrieved, either CSV or TMX.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TerminologyDataFormat*/",
          "fluentSetterMethodName" : "withTerminologyDataFormat",
          "getterDocumentation" : "/**<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>\n@return The data format of the custom terminology being retrieved, either CSV or TMX.\n@see TerminologyDataFormat*/",
          "getterMethodName" : "getTerminologyDataFormat",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TerminologyDataFormat",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TerminologyDataFormat",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TerminologyDataFormat",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>\n@param terminologyDataFormat The data format of the custom terminology being retrieved, either CSV or TMX.\n@see TerminologyDataFormat*/",
          "setterMethodName" : "setTerminologyDataFormat",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "terminologyDataFormat",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>\n@param terminologyDataFormat The data format of the custom terminology being retrieved, either CSV or TMX.\n@return Returns a reference to this object so that method calls can be chained together.\n@see TerminologyDataFormat*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "terminologyDataFormat",
            "variableType" : "String",
            "documentation" : "<p>The data format of the custom terminology being retrieved, either CSV or TMX.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name", "TerminologyDataFormat" ],
      "shapeName" : "GetTerminologyRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTerminologyRequest",
        "variableName" : "getTerminologyRequest",
        "variableType" : "GetTerminologyRequest",
        "documentation" : null,
        "simpleType" : "GetTerminologyRequest",
        "variableSetterType" : "GetTerminologyRequest"
      },
      "wrapper" : false
    },
    "GetTerminologyResult" : {
      "c2jName" : "GetTerminologyResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TerminologyProperties",
        "c2jShape" : "TerminologyProperties",
        "deprecated" : false,
        "documentation" : "<p>The properties of the custom terminology being retrieved.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The properties of the custom terminology being retrieved.</p>\n@param terminologyProperties The properties of the custom terminology being retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTerminologyProperties",
        "getterDocumentation" : "/**<p>The properties of the custom terminology being retrieved.</p>\n@return The properties of the custom terminology being retrieved.*/",
        "getterMethodName" : "getTerminologyProperties",
        "getterModel" : {
          "returnType" : "TerminologyProperties",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TerminologyProperties",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TerminologyProperties",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TerminologyProperties",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The properties of the custom terminology being retrieved.</p>\n@param terminologyProperties The properties of the custom terminology being retrieved.*/",
        "setterMethodName" : "setTerminologyProperties",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TerminologyProperties",
          "variableName" : "terminologyProperties",
          "variableType" : "TerminologyProperties",
          "documentation" : "",
          "simpleType" : "TerminologyProperties",
          "variableSetterType" : "TerminologyProperties"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The properties of the custom terminology being retrieved.</p>\n@param terminologyProperties The properties of the custom terminology being retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TerminologyProperties",
          "variableName" : "terminologyProperties",
          "variableType" : "TerminologyProperties",
          "documentation" : "<p>The properties of the custom terminology being retrieved.</p>",
          "simpleType" : "TerminologyProperties",
          "variableSetterType" : "TerminologyProperties"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TerminologyDataLocation",
        "c2jShape" : "TerminologyDataLocation",
        "deprecated" : false,
        "documentation" : "<p>The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration.</p>\n@param terminologyDataLocation The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTerminologyDataLocation",
        "getterDocumentation" : "/**<p>The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration.</p>\n@return The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration.*/",
        "getterMethodName" : "getTerminologyDataLocation",
        "getterModel" : {
          "returnType" : "TerminologyDataLocation",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TerminologyDataLocation",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TerminologyDataLocation",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TerminologyDataLocation",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration.</p>\n@param terminologyDataLocation The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration.*/",
        "setterMethodName" : "setTerminologyDataLocation",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TerminologyDataLocation",
[...]
