{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-07-01",
    "asyncClient" : "AmazonTranslateAsyncClient",
    "asyncClientBuilderClassName" : "AmazonTranslateAsyncClientBuilder",
    "asyncInterface" : "AmazonTranslateAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonTranslateModuleInjector",
    "defaultEndpoint" : "translate.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "translate.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Provides translation between one source language and another of the same set of languages.</p>",
    "endpointPrefix" : "translate",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.translate",
    "packagePath" : "com/amazonaws/services/translate",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Translate",
    "serviceId" : "Translate",
    "serviceName" : "Amazon Translate",
    "signingName" : "translate",
    "smokeTestsPackageName" : "com.amazonaws.services.translate.smoketests",
    "syncClient" : "AmazonTranslateClient",
    "syncClientBuilderClassName" : "AmazonTranslateClientBuilder",
    "syncInterface" : "AmazonTranslate",
    "uid" : "translate-2017-07-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateParallelData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateParallelDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateParallelDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateParallelDataRequest, CreateParallelDataResult>",
      "asyncReturnType" : "CreateParallelDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a parallel data resource in Amazon Translate by importing an input file from Amazon S3. Parallel data files contain examples of source phrases and their translations from your translation memory. By adding parallel data, you can influence the style, tone, and word choice in your translation output.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The specified limit has been exceeded. Review your request and retry it with a quantity below the stated limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateParallelDataRequest",
        "variableName" : "createParallelDataRequest",
        "variableType" : "CreateParallelDataRequest",
        "documentation" : "",
        "simpleType" : "CreateParallelDataRequest",
        "variableSetterType" : "CreateParallelDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createParallelData",
      "operationName" : "CreateParallelData",
      "returnType" : {
        "returnType" : "CreateParallelDataResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateParallelDataResult"
    },
    "DeleteParallelData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteParallelDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteParallelDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteParallelDataRequest, DeleteParallelDataResult>",
      "asyncReturnType" : "DeleteParallelDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a parallel data resource in Amazon Translate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteParallelDataRequest",
        "variableName" : "deleteParallelDataRequest",
        "variableType" : "DeleteParallelDataRequest",
        "documentation" : "",
        "simpleType" : "DeleteParallelDataRequest",
        "variableSetterType" : "DeleteParallelDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteParallelData",
      "operationName" : "DeleteParallelData",
      "returnType" : {
        "returnType" : "DeleteParallelDataResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteParallelDataResult"
    },
    "DeleteTerminology" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTerminologyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTerminologyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTerminologyRequest, DeleteTerminologyResult>",
      "asyncReturnType" : "DeleteTerminologyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A synchronous action that deletes a custom terminology.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTerminologyRequest",
        "variableName" : "deleteTerminologyRequest",
        "variableType" : "DeleteTerminologyRequest",
        "documentation" : "",
        "simpleType" : "DeleteTerminologyRequest",
        "variableSetterType" : "DeleteTerminologyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTerminology",
      "operationName" : "DeleteTerminology",
      "returnType" : {
        "returnType" : "DeleteTerminologyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTerminologyResult"
    },
    "DescribeTextTranslationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTextTranslationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTextTranslationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTextTranslationJobRequest, DescribeTextTranslationJobResult>",
      "asyncReturnType" : "DescribeTextTranslationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with an asycnhronous batch translation job including name, ID, status, source and target languages, input/output S3 buckets, and so on.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTextTranslationJobRequest",
        "variableName" : "describeTextTranslationJobRequest",
        "variableType" : "DescribeTextTranslationJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeTextTranslationJobRequest",
        "variableSetterType" : "DescribeTextTranslationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTextTranslationJob",
      "operationName" : "DescribeTextTranslationJob",
      "returnType" : {
        "returnType" : "DescribeTextTranslationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTextTranslationJobResult"
    },
    "GetParallelData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetParallelDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetParallelDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetParallelDataRequest, GetParallelDataResult>",
      "asyncReturnType" : "GetParallelDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about a parallel data resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetParallelDataRequest",
        "variableName" : "getParallelDataRequest",
        "variableType" : "GetParallelDataRequest",
        "documentation" : "",
        "simpleType" : "GetParallelDataRequest",
        "variableSetterType" : "GetParallelDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getParallelData",
      "operationName" : "GetParallelData",
      "returnType" : {
        "returnType" : "GetParallelDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetParallelDataResult"
    },
    "GetTerminology" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTerminologyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTerminologyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTerminologyRequest, GetTerminologyResult>",
      "asyncReturnType" : "GetTerminologyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a custom terminology.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTerminologyRequest",
        "variableName" : "getTerminologyRequest",
        "variableType" : "GetTerminologyRequest",
        "documentation" : "",
        "simpleType" : "GetTerminologyRequest",
        "variableSetterType" : "GetTerminologyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTerminology",
      "operationName" : "GetTerminology",
      "returnType" : {
        "returnType" : "GetTerminologyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTerminologyResult"
    },
    "ImportTerminology" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportTerminologyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportTerminologyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportTerminologyRequest, ImportTerminologyResult>",
      "asyncReturnType" : "ImportTerminologyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a custom terminology, depending on whether or not one already exists for the given terminology name. Importing a terminology with the same name as an existing one will merge the terminologies based on the chosen merge strategy. Currently, the only supported merge strategy is OVERWRITE, and so the imported terminology will overwrite an existing terminology of the same name.</p> <p>If you import a terminology that overwrites an existing one, the new terminology take up to 10 minutes to fully propagate and be available for use in a translation due to cache policies with the DataPlane service that performs the translations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The specified limit has been exceeded. Review your request and retry it with a quantity below the stated limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportTerminologyRequest",
        "variableName" : "importTerminologyRequest",
        "variableType" : "ImportTerminologyRequest",
        "documentation" : "",
        "simpleType" : "ImportTerminologyRequest",
        "variableSetterType" : "ImportTerminologyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importTerminology",
      "operationName" : "ImportTerminology",
      "returnType" : {
        "returnType" : "ImportTerminologyResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportTerminologyResult"
    },
    "ListParallelData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListParallelDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListParallelDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListParallelDataRequest, ListParallelDataResult>",
      "asyncReturnType" : "ListParallelDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of your parallel data resources in Amazon Translate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListParallelDataRequest",
        "variableName" : "listParallelDataRequest",
        "variableType" : "ListParallelDataRequest",
        "documentation" : "",
        "simpleType" : "ListParallelDataRequest",
        "variableSetterType" : "ListParallelDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listParallelData",
      "operationName" : "ListParallelData",
      "returnType" : {
        "returnType" : "ListParallelDataResult",
        "documentation" : null
      },
      "syncReturnType" : "ListParallelDataResult"
    },
    "ListTerminologies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTerminologiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTerminologiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTerminologiesRequest, ListTerminologiesResult>",
      "asyncReturnType" : "ListTerminologiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of custom terminologies associated with your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTerminologiesRequest",
        "variableName" : "listTerminologiesRequest",
        "variableType" : "ListTerminologiesRequest",
        "documentation" : "",
        "simpleType" : "ListTerminologiesRequest",
        "variableSetterType" : "ListTerminologiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTerminologies",
      "operationName" : "ListTerminologies",
      "returnType" : {
        "returnType" : "ListTerminologiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTerminologiesResult"
    },
    "ListTextTranslationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTextTranslationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTextTranslationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTextTranslationJobsRequest, ListTextTranslationJobsResult>",
      "asyncReturnType" : "ListTextTranslationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the batch translation jobs that you have submitted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTextTranslationJobsRequest",
        "variableName" : "listTextTranslationJobsRequest",
        "variableType" : "ListTextTranslationJobsRequest",
        "documentation" : "",
        "simpleType" : "ListTextTranslationJobsRequest",
        "variableSetterType" : "ListTextTranslationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTextTranslationJobs",
      "operationName" : "ListTextTranslationJobs",
      "returnType" : {
        "returnType" : "ListTextTranslationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTextTranslationJobsResult"
    },
    "StartTextTranslationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTextTranslationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTextTranslationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTextTranslationJobRequest, StartTextTranslationJobResult>",
      "asyncReturnType" : "StartTextTranslationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous batch translation job. Batch translation jobs can be used to translate large volumes of text across multiple documents at once. For more information, see <a>async</a>.</p> <p>Batch translation jobs can be described with the <a>DescribeTextTranslationJob</a> operation, listed with the <a>ListTextTranslationJobs</a> operation, and stopped with the <a>StopTextTranslationJob</a> operation.</p> <note> <p>Amazon Translate does not support batch translation of multiple source languages at once.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguagePairException",
        "documentation" : "<p>Amazon Translate does not support translation from the language of the source text into the requested target language. For more information, see <a>how-to-error-msg</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartTextTranslationJobRequest",
        "variableName" : "startTextTranslationJobRequest",
        "variableType" : "StartTextTranslationJobRequest",
        "documentation" : "",
        "simpleType" : "StartTextTranslationJobRequest",
        "variableSetterType" : "StartTextTranslationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTextTranslationJob",
      "operationName" : "StartTextTranslationJob",
      "returnType" : {
        "returnType" : "StartTextTranslationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartTextTranslationJobResult"
    },
    "StopTextTranslationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopTextTranslationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopTextTranslationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopTextTranslationJobRequest, StopTextTranslationJobResult>",
      "asyncReturnType" : "StopTextTranslationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an asynchronous batch translation job that is in progress.</p> <p>If the job's state is <code>IN_PROGRESS</code>, the job will be marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state. Otherwise, the job is put into the <code>STOPPED</code> state.</p> <p>Asynchronous batch translation jobs are started with the <a>StartTextTranslationJob</a> operation. You can use the <a>DescribeTextTranslationJob</a> or <a>ListTextTranslationJobs</a> operations to get a batch translation job's <code>JobId</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopTextTranslationJobRequest",
        "variableName" : "stopTextTranslationJobRequest",
        "variableType" : "StopTextTranslationJobRequest",
        "documentation" : "",
        "simpleType" : "StopTextTranslationJobRequest",
        "variableSetterType" : "StopTextTranslationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopTextTranslationJob",
      "operationName" : "StopTextTranslationJob",
      "returnType" : {
        "returnType" : "StopTextTranslationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopTextTranslationJobResult"
    },
    "TranslateText" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TranslateTextResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TranslateTextResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TranslateTextRequest, TranslateTextResult>",
      "asyncReturnType" : "TranslateTextResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Translates input text from the source language to the target language. For a list of available languages and language codes, see <a>what-is-languages</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguagePairException",
        "documentation" : "<p>Amazon Translate does not support translation from the language of the source text into the requested target language. For more information, see <a>how-to-error-msg</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DetectedLanguageLowConfidenceException",
        "documentation" : "<p>The confidence that Amazon Comprehend accurately detected the source language is low. If a low confidence level is acceptable for your application, you can use the language in the exception to call Amazon Translate again. For more information, see the <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/API_DetectDominantLanguage.html\">DetectDominantLanguage</a> operation in the <i>Amazon Comprehend Developer Guide</i>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The Amazon Translate service is temporarily unavailable. Please wait a bit and then retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TranslateTextRequest",
        "variableName" : "translateTextRequest",
        "variableType" : "TranslateTextRequest",
        "documentation" : "",
        "simpleType" : "TranslateTextRequest",
        "variableSetterType" : "TranslateTextRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "translateText",
      "operationName" : "TranslateText",
      "returnType" : {
        "returnType" : "TranslateTextResult",
        "documentation" : null
      },
      "syncReturnType" : "TranslateTextResult"
    },
    "UpdateParallelData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateParallelDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateParallelDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateParallelDataRequest, UpdateParallelDataResult>",
      "asyncReturnType" : "UpdateParallelDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a previously created parallel data resource by importing a new input file from Amazon S3.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of the parameter is invalid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The specified limit has been exceeded. Review your request and retry it with a quantity below the stated limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateParallelDataRequest",
        "variableName" : "updateParallelDataRequest",
        "variableType" : "UpdateParallelDataRequest",
        "documentation" : "",
        "simpleType" : "UpdateParallelDataRequest",
        "variableSetterType" : "UpdateParallelDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateParallelData",
      "operationName" : "UpdateParallelData",
      "returnType" : {
        "returnType" : "UpdateParallelDataResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateParallelDataResult"
    }
  },
  "shapes" : {
    "AppliedTerminology" : {
      "c2jName" : "AppliedTerminology",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The custom terminology applied to the input text by Amazon Translate for the translated text response. This is optional in the response and will only be present if you specified terminology input in the request. Currently, only one terminology can be applied per TranslateText request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.translate.model.AppliedTerminology",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "ResourceName",
        "deprecated" : false,
        "documentation" : "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@return The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Terms",
        "c2jShape" : "TermList",
        "deprecated" : false,
        "documentation" : "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTerms",
        "getterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@return The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.*/",
        "getterMethodName" : "getTerms",
        "getterModel" : {
          "returnType" : "java.util.List<Term>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Terms",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Terms",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Term",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Term",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Term",
              "variableName" : "member",
              "variableType" : "Term",
              "documentation" : "",
              "simpleType" : "Term",
              "variableSetterType" : "Term"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Term",
              "variableName" : "member",
              "variableType" : "Term",
              "documentation" : "",
              "simpleType" : "Term",
              "variableSetterType" : "Term"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Term",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Term",
          "templateImplType" : "java.util.ArrayList<Term>",
          "templateType" : "java.util.List<Term>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Terms",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.*/",
        "setterMethodName" : "setTerms",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Term>",
          "variableName" : "terms",
          "variableType" : "java.util.List<Term>",
          "documentation" : "",
          "simpleType" : "List<Term>",
          "variableSetterType" : "java.util.Collection<Term>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTerms(java.util.Collection)} or {@link #withTerms(java.util.Collection)} if you want to override the existing values.</p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Term>",
          "variableName" : "terms",
          "variableType" : "java.util.List<Term>",
          "documentation" : "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>",
          "simpleType" : "List<Term>",
          "variableSetterType" : "java.util.Collection<Term>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "ResourceName",
          "deprecated" : false,
          "documentation" : "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@return The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>\n@param name The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Terms" : {
          "c2jName" : "Terms",
          "c2jShape" : "TermList",
          "deprecated" : false,
          "documentation" : "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTerms",
          "getterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@return The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.*/",
          "getterMethodName" : "getTerms",
          "getterModel" : {
            "returnType" : "java.util.List<Term>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Terms",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Terms",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Term",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Term",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Term",
                "variableName" : "member",
                "variableType" : "Term",
                "documentation" : "",
                "simpleType" : "Term",
                "variableSetterType" : "Term"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Term",
                "variableName" : "member",
                "variableType" : "Term",
                "documentation" : "",
                "simpleType" : "Term",
                "variableSetterType" : "Term"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Term",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Term",
            "templateImplType" : "java.util.ArrayList<Term>",
            "templateType" : "java.util.List<Term>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Terms",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.*/",
          "setterMethodName" : "setTerms",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Term>",
            "variableName" : "terms",
            "variableType" : "java.util.List<Term>",
            "documentation" : "",
            "simpleType" : "List<Term>",
            "variableSetterType" : "java.util.Collection<Term>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTerms(java.util.Collection)} or {@link #withTerms(java.util.Collection)} if you want to override the existing values.</p>\n@param terms The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Term>",
            "variableName" : "terms",
            "variableType" : "java.util.List<Term>",
            "documentation" : "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>",
            "simpleType" : "List<Term>",
            "variableSetterType" : "java.util.Collection<Term>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.translate.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AppliedTerminology",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AppliedTerminology",
        "variableName" : "appliedTerminology",
        "variableType" : "AppliedTerminology",
        "documentation" : null,
        "simpleType" : "AppliedTerminology",
        "variableSetterType" : "AppliedTerminology"
      },
      "wrapper" : false
    },
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConcurrentModificationException",
      "fullyQualifiedName" : "com.amazonaws.services.translate.exception.ConcurrentModificationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.translate.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConcurrentModificationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConcurrentModificationException",
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.translate.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.translate.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateParallelDataRequest" : {
      "c2jName" : "CreateParallelDataRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.translate.request.CreateParallelDataRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateParallelData",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSShineFrontendService_20170701.CreateParallelData",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "ResourceName",
        "deprecated" : false,
        "documentation" : "<p>A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.</p>\n@param name A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.</p>\n@return A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.</p>\n@param name A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.</p>\n@param name A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "<p>A custom description for the parallel data resource in Amazon Translate.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A custom description for the parallel data resource in Amazon Translate.</p>\n@param description A custom description for the parallel data resource in Amazon Translate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A custom description for the parallel data resource in Amazon Translate.</p>\n@return A custom description for the parallel data resource in Amazon Translate.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A custom description for the parallel data resource in Amazon Translate.</p>\n@param description A custom description for the parallel data resource in Amazon Translate.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A custom description for the parallel data resource in Amazon Translate.</p>\n@param description A custom description for the parallel data resource in Amazon Translate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A custom description for the parallel data resource in Amazon Translate.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ParallelDataConfig",
        "c2jShape" : "ParallelDataConfig",
        "deprecated" : false,
        "documentation" : "<p>Specifies the format and S3 location of the parallel data input file.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the format and S3 location of the parallel data input file.</p>\n@param parallelDataConfig Specifies the format and S3 location of the parallel data input file.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withParallelDataConfig",
        "getterDocumentation" : "/**<p>Specifies the format and S3 location of the parallel data input file.</p>\n@return Specifies the format and S3 location of the parallel data input file.*/",
        "getterMethodName" : "getParallelDataConfig",
        "getterModel" : {
          "returnType" : "ParallelDataConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ParallelDataConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ParallelDataConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ParallelDataConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the format and S3 location of the parallel data input file.</p>\n@param parallelDataConfig Specifies the format and S3 location of the parallel data input file.*/",
        "setterMethodName" : "setParallelDataConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ParallelDataConfig",
          "variableName" : "parallelDataConfig",
          "variableType" : "ParallelDataConfig",
          "documentation" : "",
          "simpleType" : "ParallelDataConfig",
          "variableSetterType" : "ParallelDataConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the format and S3 location of the parallel data input file.</p>\n@param parallelDataConfig Specifies the format and S3 location of the parallel data input file.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ParallelDataConfig",
          "variableName" : "parallelDataConfig",
          "variableType" : "ParallelDataConfig",
          "documentation" : "<p>Specifies the format and S3 location of the parallel data input file.</p>",
          "simpleType" : "ParallelDataConfig",
          "variableSetterType" : "ParallelDataConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EncryptionKey",
        "c2jShape" : "EncryptionKey",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param encryptionKey \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEncryptionKey",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getEncryptionKey",
        "getterModel" : {
          "returnType" : "EncryptionKey",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EncryptionKey",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EncryptionKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "EncryptionKey",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param encryptionKey */",
        "setterMethodName" : "setEncryptionKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "EncryptionKey",
          "variableName" : "encryptionKey",
          "variableType" : "EncryptionKey",
          "documentation" : "",
          "simpleType" : "EncryptionKey",
          "variableSetterType" : "EncryptionKey"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param encryptionKey \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "EncryptionKey",
          "variableName" : "encryptionKey",
          "variableType" : "EncryptionKey",
          "documentation" : "",
          "simpleType" : "EncryptionKey",
          "variableSetterType" : "EncryptionKey"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientToken",
        "c2jShape" : "ClientTokenString",
        "deprecated" : false,
        "documentation" : "<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>\n@param clientToken A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>\n@return A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>\n@param clientToken A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>\n@param clientToken A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "ClientToken",
          "c2jShape" : "ClientTokenString",
          "deprecated" : false,
          "documentation" : "<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>\n@param clientToken A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>\n@return A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ClientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ClientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>\n@param clientToken A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>\n@param clientToken A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "Description",
          "deprecated" : false,
          "documentation" : "<p>A custom description for the parallel data resource in Amazon Translate.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A custom description for the parallel data resource in Amazon Translate.</p>\n@param description A custom description for the parallel data resource in Amazon Translate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A custom description for the parallel data resource in Amazon Translate.</p>\n@return A custom description for the parallel data resource in Amazon Translate.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A custom description for the parallel data resource in Amazon Translate.</p>\n@param description A custom description for the parallel data resource in Amazon Translate.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A custom description for the parallel data resource in Amazon Translate.</p>\n@param description A custom description for the parallel data resource in Amazon Translate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A custom description for the parallel data resource in Amazon Translate.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EncryptionKey" : {
          "c2jName" : "EncryptionKey",
          "c2jShape" : "EncryptionKey",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param encryptionKey \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEncryptionKey",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getEncryptionKey",
          "getterModel" : {
            "returnType" : "EncryptionKey",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EncryptionKey",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EncryptionKey",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "EncryptionKey",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param encryptionKey */",
          "setterMethodName" : "setEncryptionKey",
          "setterModel" : {
[...]
