{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-10-26",
    "asyncClient" : "AmazonTranscribeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonTranscribeAsyncClientBuilder",
    "asyncInterface" : "AmazonTranscribeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonTranscribeModuleInjector",
    "defaultEndpoint" : "transcribe.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "transcribe.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Operations and objects for transcribing speech to text.</p>",
    "endpointPrefix" : "transcribe",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.transcribe",
    "packagePath" : "com/amazonaws/services/transcribe",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Transcribe Service",
    "serviceId" : "Transcribe",
    "serviceName" : "Amazon Transcribe Service",
    "signingName" : "transcribe",
    "smokeTestsPackageName" : "com.amazonaws.services.transcribe.smoketests",
    "syncClient" : "AmazonTranscribeClient",
    "syncClientBuilderClassName" : "AmazonTranscribeClientBuilder",
    "syncInterface" : "AmazonTranscribe",
    "uid" : "transcribe-2017-10-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateVocabulary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVocabularyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVocabularyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVocabularyRequest, CreateVocabularyResult>",
      "asyncReturnType" : "CreateVocabularyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new custom vocabulary that you can use to change the way Amazon Transcribe handles transcription of an audio file. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When you are using the <code>StartTranscriptionJob</code> operation, the <code>JobName</code> field is a duplicate of a previously entered job name. Resend your request with a different name.</p> <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs running at the same time. Resend the second request later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVocabularyRequest",
        "variableName" : "createVocabularyRequest",
        "variableType" : "CreateVocabularyRequest",
        "documentation" : "",
        "simpleType" : "CreateVocabularyRequest",
        "variableSetterType" : "CreateVocabularyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVocabulary",
      "operationName" : "CreateVocabulary",
      "returnType" : {
        "returnType" : "CreateVocabularyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVocabularyResult"
    },
    "DeleteTranscriptionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTranscriptionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTranscriptionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTranscriptionJobRequest, DeleteTranscriptionJobResult>",
      "asyncReturnType" : "DeleteTranscriptionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a previously submitted transcription job along with any other generated results such as the transcription, models, and so on.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTranscriptionJobRequest",
        "variableName" : "deleteTranscriptionJobRequest",
        "variableType" : "DeleteTranscriptionJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteTranscriptionJobRequest",
        "variableSetterType" : "DeleteTranscriptionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTranscriptionJob",
      "operationName" : "DeleteTranscriptionJob",
      "returnType" : {
        "returnType" : "DeleteTranscriptionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTranscriptionJobResult"
    },
    "DeleteVocabulary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVocabularyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVocabularyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVocabularyRequest, DeleteVocabularyResult>",
      "asyncReturnType" : "DeleteVocabularyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a vocabulary from Amazon Transcribe. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVocabularyRequest",
        "variableName" : "deleteVocabularyRequest",
        "variableType" : "DeleteVocabularyRequest",
        "documentation" : "",
        "simpleType" : "DeleteVocabularyRequest",
        "variableSetterType" : "DeleteVocabularyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVocabulary",
      "operationName" : "DeleteVocabulary",
      "returnType" : {
        "returnType" : "DeleteVocabularyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVocabularyResult"
    },
    "GetTranscriptionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTranscriptionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTranscriptionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTranscriptionJobRequest, GetTranscriptionJobResult>",
      "asyncReturnType" : "GetTranscriptionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a transcription job. To see the status of the job, check the <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, the job is finished and you can find the results at the location specified in the <code>TranscriptionFileUri</code> field.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTranscriptionJobRequest",
        "variableName" : "getTranscriptionJobRequest",
        "variableType" : "GetTranscriptionJobRequest",
        "documentation" : "",
        "simpleType" : "GetTranscriptionJobRequest",
        "variableSetterType" : "GetTranscriptionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTranscriptionJob",
      "operationName" : "GetTranscriptionJob",
      "returnType" : {
        "returnType" : "GetTranscriptionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTranscriptionJobResult"
    },
    "GetVocabulary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVocabularyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVocabularyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVocabularyRequest, GetVocabularyResult>",
      "asyncReturnType" : "GetVocabularyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a vocabulary. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVocabularyRequest",
        "variableName" : "getVocabularyRequest",
        "variableType" : "GetVocabularyRequest",
        "documentation" : "",
        "simpleType" : "GetVocabularyRequest",
        "variableSetterType" : "GetVocabularyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVocabulary",
      "operationName" : "GetVocabulary",
      "returnType" : {
        "returnType" : "GetVocabularyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVocabularyResult"
    },
    "ListTranscriptionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTranscriptionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTranscriptionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTranscriptionJobsRequest, ListTranscriptionJobsResult>",
      "asyncReturnType" : "ListTranscriptionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists transcription jobs with the specified status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTranscriptionJobsRequest",
        "variableName" : "listTranscriptionJobsRequest",
        "variableType" : "ListTranscriptionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListTranscriptionJobsRequest",
        "variableSetterType" : "ListTranscriptionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTranscriptionJobs",
      "operationName" : "ListTranscriptionJobs",
      "returnType" : {
        "returnType" : "ListTranscriptionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTranscriptionJobsResult"
    },
    "ListVocabularies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVocabulariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVocabulariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVocabulariesRequest, ListVocabulariesResult>",
      "asyncReturnType" : "ListVocabulariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of vocabularies that match the specified criteria. If no criteria are specified, returns the entire list of vocabularies.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVocabulariesRequest",
        "variableName" : "listVocabulariesRequest",
        "variableType" : "ListVocabulariesRequest",
        "documentation" : "",
        "simpleType" : "ListVocabulariesRequest",
        "variableSetterType" : "ListVocabulariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVocabularies",
      "operationName" : "ListVocabularies",
      "returnType" : {
        "returnType" : "ListVocabulariesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVocabulariesResult"
    },
    "StartTranscriptionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTranscriptionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTranscriptionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTranscriptionJobRequest, StartTranscriptionJobResult>",
      "asyncReturnType" : "StartTranscriptionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous job to transcribe speech to text. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When you are using the <code>StartTranscriptionJob</code> operation, the <code>JobName</code> field is a duplicate of a previously entered job name. Resend your request with a different name.</p> <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs running at the same time. Resend the second request later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartTranscriptionJobRequest",
        "variableName" : "startTranscriptionJobRequest",
        "variableType" : "StartTranscriptionJobRequest",
        "documentation" : "",
        "simpleType" : "StartTranscriptionJobRequest",
        "variableSetterType" : "StartTranscriptionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTranscriptionJob",
      "operationName" : "StartTranscriptionJob",
      "returnType" : {
        "returnType" : "StartTranscriptionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartTranscriptionJobResult"
    },
    "UpdateVocabulary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVocabularyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVocabularyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVocabularyRequest, UpdateVocabularyResult>",
      "asyncReturnType" : "UpdateVocabularyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing vocabulary with new values. The <code>UpdateVocabulary</code> operation overwrites all of the existing information with the values that you provide in the request. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>There was an internal error. Check the error message and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>We can't find the requested resource. Check the name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>When you are using the <code>StartTranscriptionJob</code> operation, the <code>JobName</code> field is a duplicate of a previously entered job name. Resend your request with a different name.</p> <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs running at the same time. Resend the second request later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVocabularyRequest",
        "variableName" : "updateVocabularyRequest",
        "variableType" : "UpdateVocabularyRequest",
        "documentation" : "",
        "simpleType" : "UpdateVocabularyRequest",
        "variableSetterType" : "UpdateVocabularyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVocabulary",
      "operationName" : "UpdateVocabulary",
      "returnType" : {
        "returnType" : "UpdateVocabularyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateVocabularyResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Your request didn't pass one or more validation tests. For example, if the transcription you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
      "enums" : null,
      "errorCode" : "BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>When you are using the <code>StartTranscriptionJob</code> operation, the <code>JobName</code> field is a duplicate of a previously entered job name. Resend your request with a different name.</p> <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs running at the same time. Resend the second request later.</p>",
      "enums" : null,
      "errorCode" : "ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateVocabularyRequest" : {
      "c2jName" : "CreateVocabularyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateVocabulary",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Transcribe.CreateVocabulary",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "VocabularyName",
        "c2jShape" : "VocabularyName",
        "deprecated" : false,
        "documentation" : "<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>\n@param vocabularyName The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVocabularyName",
        "getterDocumentation" : "/**<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>\n@return The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.*/",
        "getterMethodName" : "getVocabularyName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "VocabularyName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "VocabularyName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VocabularyName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>\n@param vocabularyName The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.*/",
        "setterMethodName" : "setVocabularyName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>\n@param vocabularyName The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyName",
          "variableType" : "String",
          "documentation" : "<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LanguageCode",
        "c2jShape" : "LanguageCode",
        "deprecated" : false,
        "documentation" : "<p>The language code of the vocabulary entries.</p>",
        "enumType" : "LanguageCode",
        "fluentSetterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@param languageCode The language code of the vocabulary entries.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LanguageCode*/",
        "fluentSetterMethodName" : "withLanguageCode",
        "getterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@return The language code of the vocabulary entries.\n@see LanguageCode*/",
        "getterMethodName" : "getLanguageCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LanguageCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LanguageCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LanguageCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@param languageCode The language code of the vocabulary entries.\n@see LanguageCode*/",
        "setterMethodName" : "setLanguageCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "languageCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@param languageCode The language code of the vocabulary entries.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LanguageCode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "languageCode",
          "variableType" : "String",
          "documentation" : "<p>The language code of the vocabulary entries.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Phrases",
        "c2jShape" : "Phrases",
        "deprecated" : false,
        "documentation" : "<p>An array of strings that contains the vocabulary entries. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of strings that contains the vocabulary entries. </p>\n@param phrases An array of strings that contains the vocabulary entries.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPhrases",
        "getterDocumentation" : "/**<p>An array of strings that contains the vocabulary entries. </p>\n@return An array of strings that contains the vocabulary entries.*/",
        "getterMethodName" : "getPhrases",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Phrases",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Phrases",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Phrase",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Phrases",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of strings that contains the vocabulary entries. </p>\n@param phrases An array of strings that contains the vocabulary entries.*/",
        "setterMethodName" : "setPhrases",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "phrases",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of strings that contains the vocabulary entries. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPhrases(java.util.Collection)} or {@link #withPhrases(java.util.Collection)} if you want to override the existing values.</p>\n@param phrases An array of strings that contains the vocabulary entries.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "phrases",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>An array of strings that contains the vocabulary entries. </p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "VocabularyFileUri",
        "c2jShape" : "Uri",
        "deprecated" : false,
        "documentation" : "<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>\n@param vocabularyFileUri The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVocabularyFileUri",
        "getterDocumentation" : "/**<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>\n@return The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.*/",
        "getterMethodName" : "getVocabularyFileUri",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "VocabularyFileUri",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "VocabularyFileUri",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VocabularyFileUri",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>\n@param vocabularyFileUri The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.*/",
        "setterMethodName" : "setVocabularyFileUri",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyFileUri",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>\n@param vocabularyFileUri The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyFileUri",
          "variableType" : "String",
          "documentation" : "<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LanguageCode" : {
          "c2jName" : "LanguageCode",
          "c2jShape" : "LanguageCode",
          "deprecated" : false,
          "documentation" : "<p>The language code of the vocabulary entries.</p>",
          "enumType" : "LanguageCode",
          "fluentSetterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@param languageCode The language code of the vocabulary entries.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LanguageCode*/",
          "fluentSetterMethodName" : "withLanguageCode",
          "getterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@return The language code of the vocabulary entries.\n@see LanguageCode*/",
          "getterMethodName" : "getLanguageCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LanguageCode",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LanguageCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LanguageCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@param languageCode The language code of the vocabulary entries.\n@see LanguageCode*/",
          "setterMethodName" : "setLanguageCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "languageCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@param languageCode The language code of the vocabulary entries.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LanguageCode*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "languageCode",
            "variableType" : "String",
            "documentation" : "<p>The language code of the vocabulary entries.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Phrases" : {
          "c2jName" : "Phrases",
          "c2jShape" : "Phrases",
          "deprecated" : false,
          "documentation" : "<p>An array of strings that contains the vocabulary entries. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of strings that contains the vocabulary entries. </p>\n@param phrases An array of strings that contains the vocabulary entries.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPhrases",
          "getterDocumentation" : "/**<p>An array of strings that contains the vocabulary entries. </p>\n@return An array of strings that contains the vocabulary entries.*/",
          "getterMethodName" : "getPhrases",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Phrases",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Phrases",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Phrase",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Phrases",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of strings that contains the vocabulary entries. </p>\n@param phrases An array of strings that contains the vocabulary entries.*/",
          "setterMethodName" : "setPhrases",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "phrases",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of strings that contains the vocabulary entries. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPhrases(java.util.Collection)} or {@link #withPhrases(java.util.Collection)} if you want to override the existing values.</p>\n@param phrases An array of strings that contains the vocabulary entries.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "phrases",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>An array of strings that contains the vocabulary entries. </p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "VocabularyFileUri" : {
          "c2jName" : "VocabularyFileUri",
          "c2jShape" : "Uri",
          "deprecated" : false,
          "documentation" : "<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>\n@param vocabularyFileUri The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVocabularyFileUri",
          "getterDocumentation" : "/**<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>\n@return The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.*/",
          "getterMethodName" : "getVocabularyFileUri",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "VocabularyFileUri",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "VocabularyFileUri",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "VocabularyFileUri",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>\n@param vocabularyFileUri The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.*/",
          "setterMethodName" : "setVocabularyFileUri",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "vocabularyFileUri",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>\n@param vocabularyFileUri The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "vocabularyFileUri",
            "variableType" : "String",
            "documentation" : "<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary\">Custom Vocabularies</a>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VocabularyName" : {
          "c2jName" : "VocabularyName",
          "c2jShape" : "VocabularyName",
          "deprecated" : false,
          "documentation" : "<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>\n@param vocabularyName The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVocabularyName",
          "getterDocumentation" : "/**<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>\n@return The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.*/",
          "getterMethodName" : "getVocabularyName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "VocabularyName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "VocabularyName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "VocabularyName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>\n@param vocabularyName The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.*/",
          "setterMethodName" : "setVocabularyName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "vocabularyName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>\n@param vocabularyName The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "vocabularyName",
            "variableType" : "String",
            "documentation" : "<p>The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "VocabularyName", "LanguageCode" ],
      "shapeName" : "CreateVocabularyRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVocabularyRequest",
        "variableName" : "createVocabularyRequest",
        "variableType" : "CreateVocabularyRequest",
        "documentation" : null,
        "simpleType" : "CreateVocabularyRequest",
        "variableSetterType" : "CreateVocabularyRequest"
      },
      "wrapper" : false
    },
    "CreateVocabularyResult" : {
      "c2jName" : "CreateVocabularyResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "VocabularyName",
        "c2jShape" : "VocabularyName",
        "deprecated" : false,
        "documentation" : "<p>The name of the vocabulary.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the vocabulary.</p>\n@param vocabularyName The name of the vocabulary.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVocabularyName",
        "getterDocumentation" : "/**<p>The name of the vocabulary.</p>\n@return The name of the vocabulary.*/",
        "getterMethodName" : "getVocabularyName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "VocabularyName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "VocabularyName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VocabularyName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the vocabulary.</p>\n@param vocabularyName The name of the vocabulary.*/",
        "setterMethodName" : "setVocabularyName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the vocabulary.</p>\n@param vocabularyName The name of the vocabulary.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyName",
          "variableType" : "String",
          "documentation" : "<p>The name of the vocabulary.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LanguageCode",
        "c2jShape" : "LanguageCode",
        "deprecated" : false,
        "documentation" : "<p>The language code of the vocabulary entries.</p>",
        "enumType" : "LanguageCode",
        "fluentSetterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@param languageCode The language code of the vocabulary entries.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LanguageCode*/",
        "fluentSetterMethodName" : "withLanguageCode",
        "getterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@return The language code of the vocabulary entries.\n@see LanguageCode*/",
        "getterMethodName" : "getLanguageCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LanguageCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LanguageCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LanguageCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@param languageCode The language code of the vocabulary entries.\n@see LanguageCode*/",
        "setterMethodName" : "setLanguageCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "languageCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The language code of the vocabulary entries.</p>\n@param languageCode The language code of the vocabulary entries.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LanguageCode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "languageCode",
          "variableType" : "String",
          "documentation" : "<p>The language code of the vocabulary entries.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "VocabularyState",
        "c2jShape" : "VocabularyState",
        "deprecated" : false,
        "documentation" : "<p>The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.</p>",
        "enumType" : "VocabularyState",
        "fluentSetterDocumentation" : "/**<p>The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.</p>\n@param vocabularyState The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see VocabularyState*/",
        "fluentSetterMethodName" : "withVocabularyState",
        "getterDocumentation" : "/**<p>The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.</p>\n@return The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.\n@see VocabularyState*/",
        "getterMethodName" : "getVocabularyState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "VocabularyState",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "VocabularyState",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VocabularyState",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.</p>\n@param vocabularyState The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.\n@see VocabularyState*/",
        "setterMethodName" : "setVocabularyState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyState",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.</p>\n@param vocabularyState The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.\n@return Returns a reference to this object so that method calls can be chained together.\n@see VocabularyState*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "vocabularyState",
          "variableType" : "String",
          "documentation" : "<p>The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastModifiedTime",
        "c2jShape" : "DateTime",
        "deprecated" : false,
        "documentation" : "<p>The date and time that the vocabulary was created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time that the vocabulary was created.</p>\n@param lastModifiedTime The date and time that the vocabulary was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastModifiedTime",
        "getterDocumentation" : "/**<p>The date and time that the vocabulary was created.</p>\n@return The date and time that the vocabulary was created.*/",
        "getterMethodName" : "getLastModifiedTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastModifiedTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastModifiedTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastModifiedTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time that the vocabulary was created.</p>\n@param lastModifiedTime The date and time that the vocabulary was created.*/",
        "setterMethodName" : "setLastModifiedTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastModifiedTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time that the vocabulary was created.</p>\n@param lastModifiedTime The date and time that the vocabulary was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastModifiedTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time that the vocabulary was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FailureReason",
        "c2jShape" : "FailureReason",
        "deprecated" : false,
        "documentation" : "<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>\n@param failureReason If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFailureReason",
        "getterDocumentation" : "/**<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>\n@return If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.*/",
        "getterMethodName" : "getFailureReason",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FailureReason",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FailureReason",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FailureReason",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>\n@param failureReason If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.*/",
        "setterMethodName" : "setFailureReason",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "failureReason",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>\n@param failureReason If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "failureReason",
          "variableType" : "String",
          "documentation" : "<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FailureReason" : {
          "c2jName" : "FailureReason",
          "c2jShape" : "FailureReason",
          "deprecated" : false,
          "documentation" : "<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>\n@param failureReason If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFailureReason",
          "getterDocumentation" : "/**<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>\n@return If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.*/",
          "getterMethodName" : "getFailureReason",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FailureReason",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FailureReason",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
[...]
