{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-09-15",
    "asyncClient" : "AWSTrustedAdvisorAsyncClient",
    "asyncClientBuilderClassName" : "AWSTrustedAdvisorAsyncClientBuilder",
    "asyncInterface" : "AWSTrustedAdvisorAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSTrustedAdvisorModuleInjector",
    "defaultEndpoint" : "trustedadvisor.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "trustedadvisor.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>TrustedAdvisor Public API</p>",
    "endpointPrefix" : "trustedadvisor",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.trustedadvisor",
    "packagePath" : "com/amazonaws/services/trustedadvisor",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "TrustedAdvisor Public API",
    "serviceId" : "TrustedAdvisor",
    "serviceName" : "TrustedAdvisor Public API",
    "signingName" : "trustedadvisor",
    "smokeTestsPackageName" : "com.amazonaws.services.trustedadvisor.smoketests",
    "syncClient" : "AWSTrustedAdvisorClient",
    "syncClientBuilderClassName" : "AWSTrustedAdvisorClientBuilder",
    "syncInterface" : "AWSTrustedAdvisor",
    "uid" : "trustedadvisor-2022-09-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchUpdateRecommendationResourceExclusion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdateRecommendationResourceExclusionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdateRecommendationResourceExclusionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdateRecommendationResourceExclusionRequest, BatchUpdateRecommendationResourceExclusionResult>",
      "asyncReturnType" : "BatchUpdateRecommendationResourceExclusionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update one or more exclusion status for a list of recommendation resources</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception that the request was denied due to conflictions in state</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdateRecommendationResourceExclusionRequest",
        "variableName" : "batchUpdateRecommendationResourceExclusionRequest",
        "variableType" : "BatchUpdateRecommendationResourceExclusionRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdateRecommendationResourceExclusionRequest",
        "variableSetterType" : "BatchUpdateRecommendationResourceExclusionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdateRecommendationResourceExclusion",
      "operationName" : "BatchUpdateRecommendationResourceExclusion",
      "returnType" : {
        "returnType" : "BatchUpdateRecommendationResourceExclusionResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdateRecommendationResourceExclusionResult"
    },
    "GetOrganizationRecommendation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOrganizationRecommendationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOrganizationRecommendationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOrganizationRecommendationRequest, GetOrganizationRecommendationResult>",
      "asyncReturnType" : "GetOrganizationRecommendationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a specific recommendation within an AWS Organizations organization. This API supports only prioritized recommendations. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception that the requested resource has not been found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOrganizationRecommendationRequest",
        "variableName" : "getOrganizationRecommendationRequest",
        "variableType" : "GetOrganizationRecommendationRequest",
        "documentation" : "",
        "simpleType" : "GetOrganizationRecommendationRequest",
        "variableSetterType" : "GetOrganizationRecommendationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOrganizationRecommendation",
      "operationName" : "GetOrganizationRecommendation",
      "returnType" : {
        "returnType" : "GetOrganizationRecommendationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOrganizationRecommendationResult"
    },
    "GetRecommendation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecommendationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecommendationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecommendationRequest, GetRecommendationResult>",
      "asyncReturnType" : "GetRecommendationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a specific Recommendation</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception that the requested resource has not been found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecommendationRequest",
        "variableName" : "getRecommendationRequest",
        "variableType" : "GetRecommendationRequest",
        "documentation" : "",
        "simpleType" : "GetRecommendationRequest",
        "variableSetterType" : "GetRecommendationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecommendation",
      "operationName" : "GetRecommendation",
      "returnType" : {
        "returnType" : "GetRecommendationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRecommendationResult"
    },
    "ListChecks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChecksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChecksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChecksRequest, ListChecksResult>",
      "asyncReturnType" : "ListChecksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List a filterable set of Checks</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChecksRequest",
        "variableName" : "listChecksRequest",
        "variableType" : "ListChecksRequest",
        "documentation" : "",
        "simpleType" : "ListChecksRequest",
        "variableSetterType" : "ListChecksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChecks",
      "operationName" : "ListChecks",
      "returnType" : {
        "returnType" : "ListChecksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChecksResult"
    },
    "ListOrganizationRecommendationAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOrganizationRecommendationAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOrganizationRecommendationAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOrganizationRecommendationAccountsRequest, ListOrganizationRecommendationAccountsResult>",
      "asyncReturnType" : "ListOrganizationRecommendationAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the accounts that own the resources for an organization aggregate recommendation. This API only supports prioritized recommendations. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception that the requested resource has not been found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOrganizationRecommendationAccountsRequest",
        "variableName" : "listOrganizationRecommendationAccountsRequest",
        "variableType" : "ListOrganizationRecommendationAccountsRequest",
        "documentation" : "",
        "simpleType" : "ListOrganizationRecommendationAccountsRequest",
        "variableSetterType" : "ListOrganizationRecommendationAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOrganizationRecommendationAccounts",
      "operationName" : "ListOrganizationRecommendationAccounts",
      "returnType" : {
        "returnType" : "ListOrganizationRecommendationAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOrganizationRecommendationAccountsResult"
    },
    "ListOrganizationRecommendationResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOrganizationRecommendationResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOrganizationRecommendationResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOrganizationRecommendationResourcesRequest, ListOrganizationRecommendationResourcesResult>",
      "asyncReturnType" : "ListOrganizationRecommendationResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List Resources of a Recommendation within an Organization. This API only supports prioritized recommendations. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception that the requested resource has not been found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOrganizationRecommendationResourcesRequest",
        "variableName" : "listOrganizationRecommendationResourcesRequest",
        "variableType" : "ListOrganizationRecommendationResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListOrganizationRecommendationResourcesRequest",
        "variableSetterType" : "ListOrganizationRecommendationResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOrganizationRecommendationResources",
      "operationName" : "ListOrganizationRecommendationResources",
      "returnType" : {
        "returnType" : "ListOrganizationRecommendationResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOrganizationRecommendationResourcesResult"
    },
    "ListOrganizationRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOrganizationRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOrganizationRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOrganizationRecommendationsRequest, ListOrganizationRecommendationsResult>",
      "asyncReturnType" : "ListOrganizationRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List a filterable set of Recommendations within an Organization. This API only supports prioritized recommendations. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOrganizationRecommendationsRequest",
        "variableName" : "listOrganizationRecommendationsRequest",
        "variableType" : "ListOrganizationRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ListOrganizationRecommendationsRequest",
        "variableSetterType" : "ListOrganizationRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOrganizationRecommendations",
      "operationName" : "ListOrganizationRecommendations",
      "returnType" : {
        "returnType" : "ListOrganizationRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOrganizationRecommendationsResult"
    },
    "ListRecommendationResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecommendationResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecommendationResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecommendationResourcesRequest, ListRecommendationResourcesResult>",
      "asyncReturnType" : "ListRecommendationResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List Resources of a Recommendation</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception that the requested resource has not been found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecommendationResourcesRequest",
        "variableName" : "listRecommendationResourcesRequest",
        "variableType" : "ListRecommendationResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListRecommendationResourcesRequest",
        "variableSetterType" : "ListRecommendationResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecommendationResources",
      "operationName" : "ListRecommendationResources",
      "returnType" : {
        "returnType" : "ListRecommendationResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecommendationResourcesResult"
    },
    "ListRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecommendationsRequest, ListRecommendationsResult>",
      "asyncReturnType" : "ListRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List a filterable set of Recommendations</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecommendationsRequest",
        "variableName" : "listRecommendationsRequest",
        "variableType" : "ListRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ListRecommendationsRequest",
        "variableSetterType" : "ListRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecommendations",
      "operationName" : "ListRecommendations",
      "returnType" : {
        "returnType" : "ListRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecommendationsResult"
    },
    "UpdateOrganizationRecommendationLifecycle" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateOrganizationRecommendationLifecycleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateOrganizationRecommendationLifecycleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateOrganizationRecommendationLifecycleRequest, UpdateOrganizationRecommendationLifecycleResult>",
      "asyncReturnType" : "UpdateOrganizationRecommendationLifecycleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the lifecycle of a Recommendation within an Organization. This API only supports prioritized recommendations. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception that the request was denied due to conflictions in state</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception that the requested resource has not been found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateOrganizationRecommendationLifecycleRequest",
        "variableName" : "updateOrganizationRecommendationLifecycleRequest",
        "variableType" : "UpdateOrganizationRecommendationLifecycleRequest",
        "documentation" : "",
        "simpleType" : "UpdateOrganizationRecommendationLifecycleRequest",
        "variableSetterType" : "UpdateOrganizationRecommendationLifecycleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateOrganizationRecommendationLifecycle",
      "operationName" : "UpdateOrganizationRecommendationLifecycle",
      "returnType" : {
        "returnType" : "UpdateOrganizationRecommendationLifecycleResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateOrganizationRecommendationLifecycleResult"
    },
    "UpdateRecommendationLifecycle" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRecommendationLifecycleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRecommendationLifecycleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRecommendationLifecycleRequest, UpdateRecommendationLifecycleResult>",
      "asyncReturnType" : "UpdateRecommendationLifecycleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the lifecyle of a Recommendation. This API only supports prioritized recommendations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception that the request was denied due to conflictions in state</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception to notify that an unexpected internal error occurred during processing of the request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception that the request failed to satisfy service constraints</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception that the requested resource has not been found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception to notify that requests are being throttled</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRecommendationLifecycleRequest",
        "variableName" : "updateRecommendationLifecycleRequest",
        "variableType" : "UpdateRecommendationLifecycleRequest",
        "documentation" : "",
        "simpleType" : "UpdateRecommendationLifecycleRequest",
        "variableSetterType" : "UpdateRecommendationLifecycleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRecommendationLifecycle",
      "operationName" : "UpdateRecommendationLifecycle",
      "returnType" : {
        "returnType" : "UpdateRecommendationLifecycleResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRecommendationLifecycleResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Exception that access has been denied due to insufficient access</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.trustedadvisor.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.trustedadvisor.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountRecommendationLifecycleSummary" : {
      "c2jName" : "AccountRecommendationLifecycleSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Summary of an AccountRecommendationLifecycle for an Organization Recommendation</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.trustedadvisor.model.AccountRecommendationLifecycleSummary",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "accountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p>The AWS account ID</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account ID</p>\n@param accountId The AWS account ID\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountId",
        "getterDocumentation" : "/**<p>The AWS account ID</p>\n@return The AWS account ID*/",
        "getterMethodName" : "getAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accountId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS account ID</p>\n@param accountId The AWS account ID*/",
        "setterMethodName" : "setAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS account ID</p>\n@param accountId The AWS account ID\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "<p>The AWS account ID</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "accountRecommendationArn",
        "c2jShape" : "AccountRecommendationArn",
        "deprecated" : false,
        "documentation" : "<p>The Recommendation ARN</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Recommendation ARN</p>\n@param accountRecommendationArn The Recommendation ARN\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountRecommendationArn",
        "getterDocumentation" : "/**<p>The Recommendation ARN</p>\n@return The Recommendation ARN*/",
        "getterMethodName" : "getAccountRecommendationArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accountRecommendationArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accountRecommendationArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountRecommendationArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Recommendation ARN</p>\n@param accountRecommendationArn The Recommendation ARN*/",
        "setterMethodName" : "setAccountRecommendationArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountRecommendationArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Recommendation ARN</p>\n@param accountRecommendationArn The Recommendation ARN\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountRecommendationArn",
          "variableType" : "String",
          "documentation" : "<p>The Recommendation ARN</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lastUpdatedAt",
        "c2jShape" : "SyntheticTimestamp_date_time",
        "deprecated" : false,
        "documentation" : "<p>When the Recommendation was last updated</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>When the Recommendation was last updated</p>\n@param lastUpdatedAt When the Recommendation was last updated\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastUpdatedAt",
        "getterDocumentation" : "/**<p>When the Recommendation was last updated</p>\n@return When the Recommendation was last updated*/",
        "getterMethodName" : "getLastUpdatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lastUpdatedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lastUpdatedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastUpdatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>When the Recommendation was last updated</p>\n@param lastUpdatedAt When the Recommendation was last updated*/",
        "setterMethodName" : "setLastUpdatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdatedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>When the Recommendation was last updated</p>\n@param lastUpdatedAt When the Recommendation was last updated\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdatedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>When the Recommendation was last updated</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lifecycleStage",
        "c2jShape" : "RecommendationLifecycleStage",
        "deprecated" : false,
        "documentation" : "<p>The lifecycle stage from AWS Trusted Advisor Priority</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "RecommendationLifecycleStage",
        "fluentSetterDocumentation" : "/**<p>The lifecycle stage from AWS Trusted Advisor Priority</p>\n@param lifecycleStage The lifecycle stage from AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.\n@see RecommendationLifecycleStage*/",
        "fluentSetterMethodName" : "withLifecycleStage",
        "getterDocumentation" : "/**<p>The lifecycle stage from AWS Trusted Advisor Priority</p>\n@return The lifecycle stage from AWS Trusted Advisor Priority\n@see RecommendationLifecycleStage*/",
        "getterMethodName" : "getLifecycleStage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lifecycleStage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lifecycleStage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LifecycleStage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The lifecycle stage from AWS Trusted Advisor Priority</p>\n@param lifecycleStage The lifecycle stage from AWS Trusted Advisor Priority\n@see RecommendationLifecycleStage*/",
        "setterMethodName" : "setLifecycleStage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "lifecycleStage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The lifecycle stage from AWS Trusted Advisor Priority</p>\n@param lifecycleStage The lifecycle stage from AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.\n@see RecommendationLifecycleStage*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "lifecycleStage",
          "variableType" : "String",
          "documentation" : "<p>The lifecycle stage from AWS Trusted Advisor Priority</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "updateReason",
        "c2jShape" : "RecommendationUpdateReason",
        "deprecated" : false,
        "documentation" : "<p>Reason for the lifecycle stage change</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Reason for the lifecycle stage change</p>\n@param updateReason Reason for the lifecycle stage change\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUpdateReason",
        "getterDocumentation" : "/**<p>Reason for the lifecycle stage change</p>\n@return Reason for the lifecycle stage change*/",
        "getterMethodName" : "getUpdateReason",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "updateReason",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "updateReason",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UpdateReason",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>Reason for the lifecycle stage change</p>\n@param updateReason Reason for the lifecycle stage change*/",
        "setterMethodName" : "setUpdateReason",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "updateReason",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Reason for the lifecycle stage change</p>\n@param updateReason Reason for the lifecycle stage change\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "updateReason",
          "variableType" : "String",
          "documentation" : "<p>Reason for the lifecycle stage change</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "updateReasonCode",
        "c2jShape" : "UpdateRecommendationLifecycleStageReasonCode",
        "deprecated" : false,
        "documentation" : "<p>Reason code for the lifecycle state change</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "UpdateRecommendationLifecycleStageReasonCode",
        "fluentSetterDocumentation" : "/**<p>Reason code for the lifecycle state change</p>\n@param updateReasonCode Reason code for the lifecycle state change\n@return Returns a reference to this object so that method calls can be chained together.\n@see UpdateRecommendationLifecycleStageReasonCode*/",
        "fluentSetterMethodName" : "withUpdateReasonCode",
        "getterDocumentation" : "/**<p>Reason code for the lifecycle state change</p>\n@return Reason code for the lifecycle state change\n@see UpdateRecommendationLifecycleStageReasonCode*/",
        "getterMethodName" : "getUpdateReasonCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "updateReasonCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "updateReasonCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UpdateReasonCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Reason code for the lifecycle state change</p>\n@param updateReasonCode Reason code for the lifecycle state change\n@see UpdateRecommendationLifecycleStageReasonCode*/",
        "setterMethodName" : "setUpdateReasonCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "updateReasonCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Reason code for the lifecycle state change</p>\n@param updateReasonCode Reason code for the lifecycle state change\n@return Returns a reference to this object so that method calls can be chained together.\n@see UpdateRecommendationLifecycleStageReasonCode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "updateReasonCode",
          "variableType" : "String",
          "documentation" : "<p>Reason code for the lifecycle state change</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "updatedOnBehalfOf",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOf The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUpdatedOnBehalfOf",
        "getterDocumentation" : "/**<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@return The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority*/",
        "getterMethodName" : "getUpdatedOnBehalfOf",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "updatedOnBehalfOf",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "updatedOnBehalfOf",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UpdatedOnBehalfOf",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOf The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority*/",
        "setterMethodName" : "setUpdatedOnBehalfOf",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "updatedOnBehalfOf",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOf The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "updatedOnBehalfOf",
          "variableType" : "String",
          "documentation" : "<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "updatedOnBehalfOfJobTitle",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOfJobTitle The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUpdatedOnBehalfOfJobTitle",
        "getterDocumentation" : "/**<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@return The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority*/",
        "getterMethodName" : "getUpdatedOnBehalfOfJobTitle",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "updatedOnBehalfOfJobTitle",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "updatedOnBehalfOfJobTitle",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UpdatedOnBehalfOfJobTitle",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOfJobTitle The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority*/",
        "setterMethodName" : "setUpdatedOnBehalfOfJobTitle",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "updatedOnBehalfOfJobTitle",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOfJobTitle The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "updatedOnBehalfOfJobTitle",
          "variableType" : "String",
          "documentation" : "<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountId" : {
          "c2jName" : "accountId",
          "c2jShape" : "AccountId",
          "deprecated" : false,
          "documentation" : "<p>The AWS account ID</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS account ID</p>\n@param accountId The AWS account ID\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountId",
          "getterDocumentation" : "/**<p>The AWS account ID</p>\n@return The AWS account ID*/",
          "getterMethodName" : "getAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "accountId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "accountId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS account ID</p>\n@param accountId The AWS account ID*/",
          "setterMethodName" : "setAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS account ID</p>\n@param accountId The AWS account ID\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "<p>The AWS account ID</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AccountRecommendationArn" : {
          "c2jName" : "accountRecommendationArn",
          "c2jShape" : "AccountRecommendationArn",
          "deprecated" : false,
          "documentation" : "<p>The Recommendation ARN</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Recommendation ARN</p>\n@param accountRecommendationArn The Recommendation ARN\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountRecommendationArn",
          "getterDocumentation" : "/**<p>The Recommendation ARN</p>\n@return The Recommendation ARN*/",
          "getterMethodName" : "getAccountRecommendationArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "accountRecommendationArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "accountRecommendationArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountRecommendationArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Recommendation ARN</p>\n@param accountRecommendationArn The Recommendation ARN*/",
          "setterMethodName" : "setAccountRecommendationArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountRecommendationArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Recommendation ARN</p>\n@param accountRecommendationArn The Recommendation ARN\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountRecommendationArn",
            "variableType" : "String",
            "documentation" : "<p>The Recommendation ARN</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LastUpdatedAt" : {
          "c2jName" : "lastUpdatedAt",
          "c2jShape" : "SyntheticTimestamp_date_time",
          "deprecated" : false,
          "documentation" : "<p>When the Recommendation was last updated</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>When the Recommendation was last updated</p>\n@param lastUpdatedAt When the Recommendation was last updated\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastUpdatedAt",
          "getterDocumentation" : "/**<p>When the Recommendation was last updated</p>\n@return When the Recommendation was last updated*/",
          "getterMethodName" : "getLastUpdatedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "lastUpdatedAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "lastUpdatedAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LastUpdatedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>When the Recommendation was last updated</p>\n@param lastUpdatedAt When the Recommendation was last updated*/",
          "setterMethodName" : "setLastUpdatedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdatedAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>When the Recommendation was last updated</p>\n@param lastUpdatedAt When the Recommendation was last updated\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "iso8601",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdatedAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>When the Recommendation was last updated</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "LifecycleStage" : {
          "c2jName" : "lifecycleStage",
          "c2jShape" : "RecommendationLifecycleStage",
          "deprecated" : false,
          "documentation" : "<p>The lifecycle stage from AWS Trusted Advisor Priority</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "RecommendationLifecycleStage",
          "fluentSetterDocumentation" : "/**<p>The lifecycle stage from AWS Trusted Advisor Priority</p>\n@param lifecycleStage The lifecycle stage from AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.\n@see RecommendationLifecycleStage*/",
          "fluentSetterMethodName" : "withLifecycleStage",
          "getterDocumentation" : "/**<p>The lifecycle stage from AWS Trusted Advisor Priority</p>\n@return The lifecycle stage from AWS Trusted Advisor Priority\n@see RecommendationLifecycleStage*/",
          "getterMethodName" : "getLifecycleStage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "lifecycleStage",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "lifecycleStage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LifecycleStage",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The lifecycle stage from AWS Trusted Advisor Priority</p>\n@param lifecycleStage The lifecycle stage from AWS Trusted Advisor Priority\n@see RecommendationLifecycleStage*/",
          "setterMethodName" : "setLifecycleStage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "lifecycleStage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The lifecycle stage from AWS Trusted Advisor Priority</p>\n@param lifecycleStage The lifecycle stage from AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.\n@see RecommendationLifecycleStage*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "lifecycleStage",
            "variableType" : "String",
            "documentation" : "<p>The lifecycle stage from AWS Trusted Advisor Priority</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "UpdateReason" : {
          "c2jName" : "updateReason",
          "c2jShape" : "RecommendationUpdateReason",
          "deprecated" : false,
          "documentation" : "<p>Reason for the lifecycle stage change</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Reason for the lifecycle stage change</p>\n@param updateReason Reason for the lifecycle stage change\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUpdateReason",
          "getterDocumentation" : "/**<p>Reason for the lifecycle stage change</p>\n@return Reason for the lifecycle stage change*/",
          "getterMethodName" : "getUpdateReason",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "updateReason",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "updateReason",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "UpdateReason",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>Reason for the lifecycle stage change</p>\n@param updateReason Reason for the lifecycle stage change*/",
          "setterMethodName" : "setUpdateReason",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "updateReason",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Reason for the lifecycle stage change</p>\n@param updateReason Reason for the lifecycle stage change\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "updateReason",
            "variableType" : "String",
            "documentation" : "<p>Reason for the lifecycle stage change</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "UpdateReasonCode" : {
          "c2jName" : "updateReasonCode",
          "c2jShape" : "UpdateRecommendationLifecycleStageReasonCode",
          "deprecated" : false,
          "documentation" : "<p>Reason code for the lifecycle state change</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "UpdateRecommendationLifecycleStageReasonCode",
          "fluentSetterDocumentation" : "/**<p>Reason code for the lifecycle state change</p>\n@param updateReasonCode Reason code for the lifecycle state change\n@return Returns a reference to this object so that method calls can be chained together.\n@see UpdateRecommendationLifecycleStageReasonCode*/",
          "fluentSetterMethodName" : "withUpdateReasonCode",
          "getterDocumentation" : "/**<p>Reason code for the lifecycle state change</p>\n@return Reason code for the lifecycle state change\n@see UpdateRecommendationLifecycleStageReasonCode*/",
          "getterMethodName" : "getUpdateReasonCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "updateReasonCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "updateReasonCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "UpdateReasonCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Reason code for the lifecycle state change</p>\n@param updateReasonCode Reason code for the lifecycle state change\n@see UpdateRecommendationLifecycleStageReasonCode*/",
          "setterMethodName" : "setUpdateReasonCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "updateReasonCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Reason code for the lifecycle state change</p>\n@param updateReasonCode Reason code for the lifecycle state change\n@return Returns a reference to this object so that method calls can be chained together.\n@see UpdateRecommendationLifecycleStageReasonCode*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "updateReasonCode",
            "variableType" : "String",
            "documentation" : "<p>Reason code for the lifecycle state change</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "UpdatedOnBehalfOf" : {
          "c2jName" : "updatedOnBehalfOf",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOf The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUpdatedOnBehalfOf",
          "getterDocumentation" : "/**<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@return The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority*/",
          "getterMethodName" : "getUpdatedOnBehalfOf",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "updatedOnBehalfOf",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "updatedOnBehalfOf",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "UpdatedOnBehalfOf",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOf The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority*/",
          "setterMethodName" : "setUpdatedOnBehalfOf",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "updatedOnBehalfOf",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOf The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "updatedOnBehalfOf",
            "variableType" : "String",
            "documentation" : "<p>The person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "UpdatedOnBehalfOfJobTitle" : {
          "c2jName" : "updatedOnBehalfOfJobTitle",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOfJobTitle The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUpdatedOnBehalfOfJobTitle",
          "getterDocumentation" : "/**<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@return The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority*/",
          "getterMethodName" : "getUpdatedOnBehalfOfJobTitle",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "updatedOnBehalfOfJobTitle",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "updatedOnBehalfOfJobTitle",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "UpdatedOnBehalfOfJobTitle",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOfJobTitle The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority*/",
          "setterMethodName" : "setUpdatedOnBehalfOfJobTitle",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "updatedOnBehalfOfJobTitle",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>\n@param updatedOnBehalfOfJobTitle The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "updatedOnBehalfOfJobTitle",
            "variableType" : "String",
            "documentation" : "<p>The job title of the person on whose behalf a Technical Account Manager (TAM) updated the recommendation. This information is only available when a Technical Account Manager takes an action on a recommendation managed by AWS Trusted Advisor Priority </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.trustedadvisor.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccountRecommendationLifecycleSummary",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountRecommendationLifecycleSummary",
        "variableName" : "accountRecommendationLifecycleSummary",
        "variableType" : "AccountRecommendationLifecycleSummary",
        "documentation" : null,
        "simpleType" : "AccountRecommendationLifecycleSummary",
        "variableSetterType" : "AccountRecommendationLifecycleSummary"
      },
      "wrapper" : false
    },
    "BatchUpdateRecommendationResourceExclusionRequest" : {
      "c2jName" : "BatchUpdateRecommendationResourceExclusionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.trustedadvisor.request.BatchUpdateRecommendationResourceExclusionRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchUpdateRecommendationResourceExclusion",
        "locationName" : null,
        "requestUri" : "/v1/batch-update-recommendation-resource-exclusion",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "recommendationResourceExclusions",
        "c2jShape" : "RecommendationResourceExclusionList",
        "deprecated" : false,
        "documentation" : "<p>A list of recommendation resource ARNs and exclusion status to update</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of recommendation resource ARNs and exclusion status to update</p>\n@param recommendationResourceExclusions A list of recommendation resource ARNs and exclusion status to update\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRecommendationResourceExclusions",
        "getterDocumentation" : "/**<p>A list of recommendation resource ARNs and exclusion status to update</p>\n@return A list of recommendation resource ARNs and exclusion status to update*/",
        "getterMethodName" : "getRecommendationResourceExclusions",
        "getterModel" : {
          "returnType" : "java.util.List<RecommendationResourceExclusion>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "recommendationResourceExclusions",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "recommendationResourceExclusions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "RecommendationResourceExclusion",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "RecommendationResourceExclusion",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
[...]
