{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-09-27",
    "asyncClient" : "AmazonVoiceIDAsyncClient",
    "asyncClientBuilderClassName" : "AmazonVoiceIDAsyncClientBuilder",
    "asyncInterface" : "AmazonVoiceIDAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonVoiceIDModuleInjector",
    "defaultEndpoint" : "voiceid.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "voiceid.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Connect Voice ID provides real-time caller authentication and fraud screening. This guide describes the APIs used for this service. </p>",
    "endpointPrefix" : "voiceid",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.voiceid",
    "packagePath" : "com/amazonaws/services/voiceid",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Voice ID",
    "serviceId" : "Voice ID",
    "serviceName" : "Amazon Voice ID",
    "signingName" : "voiceid",
    "smokeTestsPackageName" : "com.amazonaws.services.voiceid.smoketests",
    "syncClient" : "AmazonVoiceIDClient",
    "syncClientBuilderClassName" : "AmazonVoiceIDClientBuilder",
    "syncInterface" : "AmazonVoiceID",
    "uid" : "voice-id-2021-09-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainRequest, CreateDomainResult>",
      "asyncReturnType" : "CreateDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a domain that contains all Amazon Connect Voice ID data, such as speakers, fraudsters, customer audio, and voiceprints. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeded the service quota. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html#voiceid-quotas\">Voice ID Service Quotas</a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDomainRequest",
        "variableName" : "createDomainRequest",
        "variableType" : "CreateDomainRequest",
        "documentation" : "",
        "simpleType" : "CreateDomainRequest",
        "variableSetterType" : "CreateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDomain",
      "operationName" : "CreateDomain",
      "returnType" : {
        "returnType" : "CreateDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDomainResult"
    },
    "DeleteDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainRequest, DeleteDomainResult>",
      "asyncReturnType" : "DeleteDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified domain from Voice ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDomainRequest",
        "variableName" : "deleteDomainRequest",
        "variableType" : "DeleteDomainRequest",
        "documentation" : "",
        "simpleType" : "DeleteDomainRequest",
        "variableSetterType" : "DeleteDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDomain",
      "operationName" : "DeleteDomain",
      "returnType" : {
        "returnType" : "DeleteDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDomainResult"
    },
    "DeleteFraudster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFraudsterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFraudsterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFraudsterRequest, DeleteFraudsterResult>",
      "asyncReturnType" : "DeleteFraudsterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified fraudster from Voice ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFraudsterRequest",
        "variableName" : "deleteFraudsterRequest",
        "variableType" : "DeleteFraudsterRequest",
        "documentation" : "",
        "simpleType" : "DeleteFraudsterRequest",
        "variableSetterType" : "DeleteFraudsterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFraudster",
      "operationName" : "DeleteFraudster",
      "returnType" : {
        "returnType" : "DeleteFraudsterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFraudsterResult"
    },
    "DeleteSpeaker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSpeakerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSpeakerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSpeakerRequest, DeleteSpeakerResult>",
      "asyncReturnType" : "DeleteSpeakerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified speaker from Voice ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSpeakerRequest",
        "variableName" : "deleteSpeakerRequest",
        "variableType" : "DeleteSpeakerRequest",
        "documentation" : "",
        "simpleType" : "DeleteSpeakerRequest",
        "variableSetterType" : "DeleteSpeakerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSpeaker",
      "operationName" : "DeleteSpeaker",
      "returnType" : {
        "returnType" : "DeleteSpeakerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSpeakerResult"
    },
    "DescribeDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDomainRequest, DescribeDomainResult>",
      "asyncReturnType" : "DescribeDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDomainRequest",
        "variableName" : "describeDomainRequest",
        "variableType" : "DescribeDomainRequest",
        "documentation" : "",
        "simpleType" : "DescribeDomainRequest",
        "variableSetterType" : "DescribeDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDomain",
      "operationName" : "DescribeDomain",
      "returnType" : {
        "returnType" : "DescribeDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDomainResult"
    },
    "DescribeFraudster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFraudsterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFraudsterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFraudsterRequest, DescribeFraudsterResult>",
      "asyncReturnType" : "DescribeFraudsterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified fraudster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFraudsterRequest",
        "variableName" : "describeFraudsterRequest",
        "variableType" : "DescribeFraudsterRequest",
        "documentation" : "",
        "simpleType" : "DescribeFraudsterRequest",
        "variableSetterType" : "DescribeFraudsterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFraudster",
      "operationName" : "DescribeFraudster",
      "returnType" : {
        "returnType" : "DescribeFraudsterResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFraudsterResult"
    },
    "DescribeFraudsterRegistrationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFraudsterRegistrationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFraudsterRegistrationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFraudsterRegistrationJobRequest, DescribeFraudsterRegistrationJobResult>",
      "asyncReturnType" : "DescribeFraudsterRegistrationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified fraudster registration job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFraudsterRegistrationJobRequest",
        "variableName" : "describeFraudsterRegistrationJobRequest",
        "variableType" : "DescribeFraudsterRegistrationJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeFraudsterRegistrationJobRequest",
        "variableSetterType" : "DescribeFraudsterRegistrationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFraudsterRegistrationJob",
      "operationName" : "DescribeFraudsterRegistrationJob",
      "returnType" : {
        "returnType" : "DescribeFraudsterRegistrationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFraudsterRegistrationJobResult"
    },
    "DescribeSpeaker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSpeakerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSpeakerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSpeakerRequest, DescribeSpeakerResult>",
      "asyncReturnType" : "DescribeSpeakerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified speaker.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSpeakerRequest",
        "variableName" : "describeSpeakerRequest",
        "variableType" : "DescribeSpeakerRequest",
        "documentation" : "",
        "simpleType" : "DescribeSpeakerRequest",
        "variableSetterType" : "DescribeSpeakerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSpeaker",
      "operationName" : "DescribeSpeaker",
      "returnType" : {
        "returnType" : "DescribeSpeakerResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSpeakerResult"
    },
    "DescribeSpeakerEnrollmentJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSpeakerEnrollmentJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSpeakerEnrollmentJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSpeakerEnrollmentJobRequest, DescribeSpeakerEnrollmentJobResult>",
      "asyncReturnType" : "DescribeSpeakerEnrollmentJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified speaker enrollment job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSpeakerEnrollmentJobRequest",
        "variableName" : "describeSpeakerEnrollmentJobRequest",
        "variableType" : "DescribeSpeakerEnrollmentJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeSpeakerEnrollmentJobRequest",
        "variableSetterType" : "DescribeSpeakerEnrollmentJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSpeakerEnrollmentJob",
      "operationName" : "DescribeSpeakerEnrollmentJob",
      "returnType" : {
        "returnType" : "DescribeSpeakerEnrollmentJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSpeakerEnrollmentJobResult"
    },
    "EvaluateSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EvaluateSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EvaluateSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EvaluateSessionRequest, EvaluateSessionResult>",
      "asyncReturnType" : "EvaluateSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Evaluates a specified session based on audio data accumulated during a streaming Amazon Connect Voice ID call.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EvaluateSessionRequest",
        "variableName" : "evaluateSessionRequest",
        "variableType" : "EvaluateSessionRequest",
        "documentation" : "",
        "simpleType" : "EvaluateSessionRequest",
        "variableSetterType" : "EvaluateSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "evaluateSession",
      "operationName" : "EvaluateSession",
      "returnType" : {
        "returnType" : "EvaluateSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "EvaluateSessionResult"
    },
    "ListDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainsRequest, ListDomainsResult>",
      "asyncReturnType" : "ListDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the domains in the Amazon Web Services account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDomainsRequest",
        "variableName" : "listDomainsRequest",
        "variableType" : "ListDomainsRequest",
        "documentation" : "",
        "simpleType" : "ListDomainsRequest",
        "variableSetterType" : "ListDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomains",
      "operationName" : "ListDomains",
      "returnType" : {
        "returnType" : "ListDomainsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDomainsResult"
    },
    "ListFraudsterRegistrationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFraudsterRegistrationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFraudsterRegistrationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFraudsterRegistrationJobsRequest, ListFraudsterRegistrationJobsResult>",
      "asyncReturnType" : "ListFraudsterRegistrationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the fraudster registration jobs in the domain with the given <code>JobStatus</code>. If <code>JobStatus</code> is not provided, this lists all fraudster registration jobs in the given domain. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFraudsterRegistrationJobsRequest",
        "variableName" : "listFraudsterRegistrationJobsRequest",
        "variableType" : "ListFraudsterRegistrationJobsRequest",
        "documentation" : "",
        "simpleType" : "ListFraudsterRegistrationJobsRequest",
        "variableSetterType" : "ListFraudsterRegistrationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFraudsterRegistrationJobs",
      "operationName" : "ListFraudsterRegistrationJobs",
      "returnType" : {
        "returnType" : "ListFraudsterRegistrationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFraudsterRegistrationJobsResult"
    },
    "ListSpeakerEnrollmentJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSpeakerEnrollmentJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSpeakerEnrollmentJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSpeakerEnrollmentJobsRequest, ListSpeakerEnrollmentJobsResult>",
      "asyncReturnType" : "ListSpeakerEnrollmentJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the speaker enrollment jobs in the domain with the specified <code>JobStatus</code>. If <code>JobStatus</code> is not provided, this lists all jobs with all possible speaker enrollment job statuses.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSpeakerEnrollmentJobsRequest",
        "variableName" : "listSpeakerEnrollmentJobsRequest",
        "variableType" : "ListSpeakerEnrollmentJobsRequest",
        "documentation" : "",
        "simpleType" : "ListSpeakerEnrollmentJobsRequest",
        "variableSetterType" : "ListSpeakerEnrollmentJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSpeakerEnrollmentJobs",
      "operationName" : "ListSpeakerEnrollmentJobs",
      "returnType" : {
        "returnType" : "ListSpeakerEnrollmentJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSpeakerEnrollmentJobsResult"
    },
    "ListSpeakers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSpeakersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSpeakersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSpeakersRequest, ListSpeakersResult>",
      "asyncReturnType" : "ListSpeakersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all speakers in a specified domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSpeakersRequest",
        "variableName" : "listSpeakersRequest",
        "variableType" : "ListSpeakersRequest",
        "documentation" : "",
        "simpleType" : "ListSpeakersRequest",
        "variableSetterType" : "ListSpeakersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSpeakers",
      "operationName" : "ListSpeakers",
      "returnType" : {
        "returnType" : "ListSpeakersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSpeakersResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags associated with a specified Voice ID resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "OptOutSpeaker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<OptOutSpeakerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<OptOutSpeakerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<OptOutSpeakerRequest, OptOutSpeakerResult>",
      "asyncReturnType" : "OptOutSpeakerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Opts out a speaker from Voice ID. A speaker can be opted out regardless of whether or not they already exist in Voice ID. If they don't yet exist, a new speaker is created in an opted out state. If they already exist, their existing status is overridden and they are opted out. Enrollment and evaluation authentication requests are rejected for opted out speakers, and opted out speakers have no voice embeddings stored in Voice ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeded the service quota. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html#voiceid-quotas\">Voice ID Service Quotas</a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "OptOutSpeakerRequest",
        "variableName" : "optOutSpeakerRequest",
        "variableType" : "OptOutSpeakerRequest",
        "documentation" : "",
        "simpleType" : "OptOutSpeakerRequest",
        "variableSetterType" : "OptOutSpeakerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "optOutSpeaker",
      "operationName" : "OptOutSpeaker",
      "returnType" : {
        "returnType" : "OptOutSpeakerResult",
        "documentation" : null
      },
      "syncReturnType" : "OptOutSpeakerResult"
    },
    "StartFraudsterRegistrationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartFraudsterRegistrationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartFraudsterRegistrationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartFraudsterRegistrationJobRequest, StartFraudsterRegistrationJobResult>",
      "asyncReturnType" : "StartFraudsterRegistrationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a new batch fraudster registration job using provided details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeded the service quota. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html#voiceid-quotas\">Voice ID Service Quotas</a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartFraudsterRegistrationJobRequest",
        "variableName" : "startFraudsterRegistrationJobRequest",
        "variableType" : "StartFraudsterRegistrationJobRequest",
        "documentation" : "",
        "simpleType" : "StartFraudsterRegistrationJobRequest",
        "variableSetterType" : "StartFraudsterRegistrationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startFraudsterRegistrationJob",
      "operationName" : "StartFraudsterRegistrationJob",
      "returnType" : {
        "returnType" : "StartFraudsterRegistrationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartFraudsterRegistrationJobResult"
    },
    "StartSpeakerEnrollmentJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartSpeakerEnrollmentJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartSpeakerEnrollmentJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartSpeakerEnrollmentJobRequest, StartSpeakerEnrollmentJobResult>",
      "asyncReturnType" : "StartSpeakerEnrollmentJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a new batch speaker enrollment job using specified details.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request exceeded the service quota. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html#voiceid-quotas\">Voice ID Service Quotas</a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartSpeakerEnrollmentJobRequest",
        "variableName" : "startSpeakerEnrollmentJobRequest",
        "variableType" : "StartSpeakerEnrollmentJobRequest",
        "documentation" : "",
        "simpleType" : "StartSpeakerEnrollmentJobRequest",
        "variableSetterType" : "StartSpeakerEnrollmentJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startSpeakerEnrollmentJob",
      "operationName" : "StartSpeakerEnrollmentJob",
      "returnType" : {
        "returnType" : "StartSpeakerEnrollmentJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartSpeakerEnrollmentJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tags a Voice ID resource with the provided list of tags.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes specified tags from a specified Amazon Connect Voice ID resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainRequest, UpdateDomainResult>",
      "asyncReturnType" : "UpdateDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified domain. This API has clobber behavior, and clears and replaces all attributes. If an optional field, such as 'Description' is not provided, it is removed from the domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request failed one or more validations; check the error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request failed due to an unknown error on the server side.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDomainRequest",
        "variableName" : "updateDomainRequest",
        "variableType" : "UpdateDomainRequest",
        "documentation" : "",
        "simpleType" : "UpdateDomainRequest",
        "variableSetterType" : "UpdateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomain",
      "operationName" : "UpdateDomain",
      "returnType" : {
        "returnType" : "UpdateDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDomainResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.voiceid.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.voiceid.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AuthenticationConfiguration" : {
      "c2jName" : "AuthenticationConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configuration used to authenticate a speaker during a session.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.voiceid.model.AuthenticationConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AcceptanceThreshold",
        "c2jShape" : "Score",
        "deprecated" : false,
        "documentation" : "<p>The minimum threshold needed to successfully authenticate a speaker.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The minimum threshold needed to successfully authenticate a speaker.</p>\n@param acceptanceThreshold The minimum threshold needed to successfully authenticate a speaker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAcceptanceThreshold",
        "getterDocumentation" : "/**<p>The minimum threshold needed to successfully authenticate a speaker.</p>\n@return The minimum threshold needed to successfully authenticate a speaker.*/",
        "getterMethodName" : "getAcceptanceThreshold",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AcceptanceThreshold",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AcceptanceThreshold",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "AcceptanceThreshold",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The minimum threshold needed to successfully authenticate a speaker.</p>\n@param acceptanceThreshold The minimum threshold needed to successfully authenticate a speaker.*/",
        "setterMethodName" : "setAcceptanceThreshold",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "acceptanceThreshold",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The minimum threshold needed to successfully authenticate a speaker.</p>\n@param acceptanceThreshold The minimum threshold needed to successfully authenticate a speaker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "acceptanceThreshold",
          "variableType" : "Integer",
          "documentation" : "<p>The minimum threshold needed to successfully authenticate a speaker.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AcceptanceThreshold" : {
          "c2jName" : "AcceptanceThreshold",
          "c2jShape" : "Score",
          "deprecated" : false,
          "documentation" : "<p>The minimum threshold needed to successfully authenticate a speaker.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The minimum threshold needed to successfully authenticate a speaker.</p>\n@param acceptanceThreshold The minimum threshold needed to successfully authenticate a speaker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAcceptanceThreshold",
          "getterDocumentation" : "/**<p>The minimum threshold needed to successfully authenticate a speaker.</p>\n@return The minimum threshold needed to successfully authenticate a speaker.*/",
          "getterMethodName" : "getAcceptanceThreshold",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AcceptanceThreshold",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AcceptanceThreshold",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "AcceptanceThreshold",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The minimum threshold needed to successfully authenticate a speaker.</p>\n@param acceptanceThreshold The minimum threshold needed to successfully authenticate a speaker.*/",
          "setterMethodName" : "setAcceptanceThreshold",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "acceptanceThreshold",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The minimum threshold needed to successfully authenticate a speaker.</p>\n@param acceptanceThreshold The minimum threshold needed to successfully authenticate a speaker.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "acceptanceThreshold",
            "variableType" : "Integer",
            "documentation" : "<p>The minimum threshold needed to successfully authenticate a speaker.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.voiceid.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "AcceptanceThreshold" ],
      "shapeName" : "AuthenticationConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthenticationConfiguration",
        "variableName" : "authenticationConfiguration",
        "variableType" : "AuthenticationConfiguration",
        "documentation" : null,
        "simpleType" : "AuthenticationConfiguration",
        "variableSetterType" : "AuthenticationConfiguration"
      },
      "wrapper" : false
    },
    "AuthenticationDecision" : {
      "c2jName" : "AuthenticationDecision",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "ACCEPT",
        "value" : "ACCEPT"
      }, {
        "name" : "REJECT",
        "value" : "REJECT"
      }, {
        "name" : "NOT_ENOUGH_SPEECH",
        "value" : "NOT_ENOUGH_SPEECH"
      }, {
        "name" : "SPEAKER_NOT_ENROLLED",
        "value" : "SPEAKER_NOT_ENROLLED"
      }, {
        "name" : "SPEAKER_OPTED_OUT",
        "value" : "SPEAKER_OPTED_OUT"
      }, {
        "name" : "SPEAKER_ID_NOT_PROVIDED",
        "value" : "SPEAKER_ID_NOT_PROVIDED"
      }, {
        "name" : "SPEAKER_EXPIRED",
        "value" : "SPEAKER_EXPIRED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.voiceid.enum.AuthenticationDecision",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.voiceid.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AuthenticationDecision",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthenticationDecision",
        "variableName" : "authenticationDecision",
        "variableType" : "AuthenticationDecision",
        "documentation" : null,
        "simpleType" : "AuthenticationDecision",
        "variableSetterType" : "AuthenticationDecision"
      },
      "wrapper" : false
    },
    "AuthenticationResult" : {
      "c2jName" : "AuthenticationResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The authentication result produced by Voice ID, processed against the current session state and streamed audio of the speaker.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.voiceid.model.AuthenticationResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AudioAggregationEndedAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>A timestamp indicating when audio aggregation ended for this authentication result.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A timestamp indicating when audio aggregation ended for this authentication result.</p>\n@param audioAggregationEndedAt A timestamp indicating when audio aggregation ended for this authentication result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAudioAggregationEndedAt",
        "getterDocumentation" : "/**<p>A timestamp indicating when audio aggregation ended for this authentication result.</p>\n@return A timestamp indicating when audio aggregation ended for this authentication result.*/",
        "getterMethodName" : "getAudioAggregationEndedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AudioAggregationEndedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AudioAggregationEndedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "AudioAggregationEndedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A timestamp indicating when audio aggregation ended for this authentication result.</p>\n@param audioAggregationEndedAt A timestamp indicating when audio aggregation ended for this authentication result.*/",
        "setterMethodName" : "setAudioAggregationEndedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "audioAggregationEndedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A timestamp indicating when audio aggregation ended for this authentication result.</p>\n@param audioAggregationEndedAt A timestamp indicating when audio aggregation ended for this authentication result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "audioAggregationEndedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>A timestamp indicating when audio aggregation ended for this authentication result.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AudioAggregationStartedAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>A timestamp indicating when audio aggregation started for this authentication result.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A timestamp indicating when audio aggregation started for this authentication result.</p>\n@param audioAggregationStartedAt A timestamp indicating when audio aggregation started for this authentication result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAudioAggregationStartedAt",
        "getterDocumentation" : "/**<p>A timestamp indicating when audio aggregation started for this authentication result.</p>\n@return A timestamp indicating when audio aggregation started for this authentication result.*/",
        "getterMethodName" : "getAudioAggregationStartedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AudioAggregationStartedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AudioAggregationStartedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "AudioAggregationStartedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A timestamp indicating when audio aggregation started for this authentication result.</p>\n@param audioAggregationStartedAt A timestamp indicating when audio aggregation started for this authentication result.*/",
        "setterMethodName" : "setAudioAggregationStartedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "audioAggregationStartedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A timestamp indicating when audio aggregation started for this authentication result.</p>\n@param audioAggregationStartedAt A timestamp indicating when audio aggregation started for this authentication result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "audioAggregationStartedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>A timestamp indicating when audio aggregation started for this authentication result.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AuthenticationResultId",
        "c2jShape" : "UniqueIdLarge",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.</p>\n@param authenticationResultId The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAuthenticationResultId",
        "getterDocumentation" : "/**<p>The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.</p>\n@return The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.*/",
        "getterMethodName" : "getAuthenticationResultId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AuthenticationResultId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AuthenticationResultId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AuthenticationResultId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.</p>\n@param authenticationResultId The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.*/",
        "setterMethodName" : "setAuthenticationResultId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "authenticationResultId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.</p>\n@param authenticationResultId The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "authenticationResultId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Configuration",
        "c2jShape" : "AuthenticationConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The <code>AuthenticationConfiguration</code> used to generate this authentication result.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <code>AuthenticationConfiguration</code> used to generate this authentication result.</p>\n@param configuration The <code>AuthenticationConfiguration</code> used to generate this authentication result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfiguration",
        "getterDocumentation" : "/**<p>The <code>AuthenticationConfiguration</code> used to generate this authentication result.</p>\n@return The <code>AuthenticationConfiguration</code> used to generate this authentication result.*/",
        "getterMethodName" : "getConfiguration",
        "getterModel" : {
          "returnType" : "AuthenticationConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Configuration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Configuration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Configuration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The <code>AuthenticationConfiguration</code> used to generate this authentication result.</p>\n@param configuration The <code>AuthenticationConfiguration</code> used to generate this authentication result.*/",
        "setterMethodName" : "setConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AuthenticationConfiguration",
          "variableName" : "configuration",
          "variableType" : "AuthenticationConfiguration",
          "documentation" : "",
          "simpleType" : "AuthenticationConfiguration",
          "variableSetterType" : "AuthenticationConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <code>AuthenticationConfiguration</code> used to generate this authentication result.</p>\n@param configuration The <code>AuthenticationConfiguration</code> used to generate this authentication result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AuthenticationConfiguration",
          "variableName" : "configuration",
          "variableType" : "AuthenticationConfiguration",
          "documentation" : "<p>The <code>AuthenticationConfiguration</code> used to generate this authentication result.</p>",
          "simpleType" : "AuthenticationConfiguration",
          "variableSetterType" : "AuthenticationConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CustomerSpeakerId",
        "c2jShape" : "CustomerSpeakerId",
        "deprecated" : false,
        "documentation" : "<p>The client-provided identifier for the speaker whose authentication result is produced. Only present if a <code>SpeakerId</code> is provided for the session.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The client-provided identifier for the speaker whose authentication result is produced. Only present if a <code>SpeakerId</code> is provided for the session.</p>\n@param customerSpeakerId The client-provided identifier for the speaker whose authentication result is produced. Only present if a <code>SpeakerId</code> is provided for the session.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCustomerSpeakerId",
        "getterDocumentation" : "/**<p>The client-provided identifier for the speaker whose authentication result is produced. Only present if a <code>SpeakerId</code> is provided for the session.</p>\n@return The client-provided identifier for the speaker whose authentication result is produced. Only present if a <code>SpeakerId</code> is provided for the session.*/",
        "getterMethodName" : "getCustomerSpeakerId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CustomerSpeakerId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CustomerSpeakerId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CustomerSpeakerId",
        "sensitive" : true,
[...]
