{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-07-29",
    "asyncClient" : "AWSWAFV2AsyncClient",
    "asyncClientBuilderClassName" : "AWSWAFV2AsyncClientBuilder",
    "asyncInterface" : "AWSWAFV2Async",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSWAFV2ModuleInjector",
    "defaultEndpoint" : "wafv2.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "wafv2.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<note> <p>This is the latest version of the <b>AWS WAF</b> API, released in November, 2019. The names of the entities that you use to access this API, like endpoints and namespaces, all have the versioning information added, like \"V2\" or \"v2\", to distinguish from the prior version. We recommend migrating your resources to this version, because it has a number of significant improvements.</p> <p>If you used AWS WAF prior to this release, you can't use this AWS WAFV2 API to access any AWS WAF resources that you created before. You can access your old rules, web ACLs, and other AWS WAF resources only through the AWS WAF Classic APIs. The AWS WAF Classic APIs have retained the prior names, endpoints, and namespaces. </p> <p>For information, including how to migrate your AWS WAF resources to this version, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>AWS WAF is a web application firewall that lets you monitor the HTTP and HTTPS requests that are forwarded to Amazon CloudFront, an Amazon API Gateway API, or an Application Load Balancer. AWS WAF also lets you control access to your content. Based on conditions that you specify, such as the IP addresses that requests originate from or the values of query strings, API Gateway, CloudFront, or the Application Load Balancer responds to requests either with the requested content or with an HTTP 403 status code (Forbidden). You also can configure CloudFront to return a custom error page when a request is blocked.</p> <p>This API guide is for developers who need detailed information about AWS WAF API actions, data types, and errors. For detailed information about AWS WAF features and an overview of how to use AWS WAF, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p> <p>You can make API calls using the endpoints listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#waf_region\">AWS Service Endpoints for AWS WAF</a>. </p> <ul> <li> <p>For regional applications, you can use any of the endpoints in the list. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> </li> <li> <p>For AWS CloudFront applications, you must use the API endpoint listed for US East (N. Virginia): us-east-1.</p> </li> </ul> <p>Alternatively, you can use one of the AWS SDKs to access an API that's tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p> <p>We currently provide two versions of the AWS WAF API: this API and the prior versions, the classic AWS WAF APIs. This new API provides the same functionality as the older versions, with the following major improvements:</p> <ul> <li> <p>You use one API for both global and regional applications. Where you need to distinguish the scope, you specify a <code>Scope</code> parameter and set it to <code>CLOUDFRONT</code> or <code>REGIONAL</code>. </p> </li> <li> <p>You can define a Web ACL or rule group with a single API call, and update it with a single call. You define all rule specifications in JSON format, and pass them to your rule group or Web ACL API calls.</p> </li> <li> <p>The limits AWS WAF places on the use of rules more closely reflects the cost of running each type of rule. Rule groups include capacity settings, so you know the maximum cost of a rule group when you use it.</p> </li> </ul>",
    "endpointPrefix" : "wafv2",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.wafv2",
    "packagePath" : "com/amazonaws/services/wafv2",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "WAFV2",
    "serviceFullName" : "AWS WAFV2",
    "serviceId" : "WAFV2",
    "serviceName" : "WAFV2",
    "signingName" : "wafv2",
    "smokeTestsPackageName" : "com.amazonaws.services.wafv2.smoketests",
    "syncClient" : "AWSWAFV2Client",
    "syncClientBuilderClassName" : "AWSWAFV2ClientBuilder",
    "syncInterface" : "AWSWAFV2",
    "uid" : "wafv2-2019-07-29",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateWebACL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateWebACLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateWebACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateWebACLRequest, AssociateWebACLResult>",
      "asyncReturnType" : "AssociateWebACLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Associates a Web ACL with a regional application resource, to protect the resource. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>For AWS CloudFront, you can associate the Web ACL by providing the <code>ARN</code> of the <a>WebACL</a> to the CloudFront API call <code>UpdateDistribution</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFUnavailableEntityException",
        "documentation" : "<p>AWS WAF couldn’t retrieve the resource that you requested. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateWebACLRequest",
        "variableName" : "associateWebACLRequest",
        "variableType" : "AssociateWebACLRequest",
        "documentation" : "",
        "simpleType" : "AssociateWebACLRequest",
        "variableSetterType" : "AssociateWebACLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateWebACL",
      "operationName" : "AssociateWebACL",
      "returnType" : {
        "returnType" : "AssociateWebACLResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateWebACLResult"
    },
    "CheckCapacity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CheckCapacityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CheckCapacityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckCapacityRequest, CheckCapacityResult>",
      "asyncReturnType" : "CheckCapacityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Returns the web ACL capacity unit (WCU) requirements for a specified scope and set of rules. You can use this to check the capacity requirements for the rules you want to use in a <a>RuleGroup</a> or <a>WebACL</a>. </p> <p>AWS WAF uses WCUs to calculate and control the operating resources that are used to run your rules, rule groups, and web ACLs. AWS WAF calculates capacity differently for each rule type, to reflect the relative cost of each rule. Simple rules that cost little to run use fewer WCUs than more complex rules that use more processing power. Rule group capacity is fixed at creation, which helps users plan their web ACL WCU usage when they use a rule group. The WCU limit for web ACLs is 1,500. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because you exceeded your resource limit. For example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidResourceException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because the resource that you requested isn’t valid. Check the resource, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFUnavailableEntityException",
        "documentation" : "<p>AWS WAF couldn’t retrieve the resource that you requested. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFSubscriptionNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CheckCapacityRequest",
        "variableName" : "checkCapacityRequest",
        "variableType" : "CheckCapacityRequest",
        "documentation" : "",
        "simpleType" : "CheckCapacityRequest",
        "variableSetterType" : "CheckCapacityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "checkCapacity",
      "operationName" : "CheckCapacity",
      "returnType" : {
        "returnType" : "CheckCapacityResult",
        "documentation" : null
      },
      "syncReturnType" : "CheckCapacityResult"
    },
    "CreateIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIPSetRequest, CreateIPSetResult>",
      "asyncReturnType" : "CreateIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates an <a>IPSet</a>, which you use to identify web requests that originate from specific IP addresses or ranges of IP addresses. For example, if you're receiving a lot of requests from a ranges of IP addresses, you can configure AWS WAF to block them using an IPSet that lists those IP addresses. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFDuplicateItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because the resource that you tried to save is a duplicate of an existing one.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFOptimisticLockException",
        "documentation" : "<p>AWS WAF couldn’t save your changes because you tried to update or delete a resource that has changed since you last retrieved it. Get the resource again, make any changes you need to make to the new copy, and retry your operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because you exceeded your resource limit. For example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationException",
        "documentation" : "<p>An error occurred during the tagging operation. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationInternalErrorException",
        "documentation" : "<p>AWS WAF couldn’t perform your tagging operation because of an internal error. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIPSetRequest",
        "variableName" : "createIPSetRequest",
        "variableType" : "CreateIPSetRequest",
        "documentation" : "",
        "simpleType" : "CreateIPSetRequest",
        "variableSetterType" : "CreateIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIPSet",
      "operationName" : "CreateIPSet",
      "returnType" : {
        "returnType" : "CreateIPSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIPSetResult"
    },
    "CreateRegexPatternSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRegexPatternSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRegexPatternSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRegexPatternSetRequest, CreateRegexPatternSetResult>",
      "asyncReturnType" : "CreateRegexPatternSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates a <a>RegexPatternSet</a>, which you reference in a <a>RegexPatternSetReferenceStatement</a>, to have AWS WAF inspect a web request component for the specified patterns.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFDuplicateItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because the resource that you tried to save is a duplicate of an existing one.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFOptimisticLockException",
        "documentation" : "<p>AWS WAF couldn’t save your changes because you tried to update or delete a resource that has changed since you last retrieved it. Get the resource again, make any changes you need to make to the new copy, and retry your operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because you exceeded your resource limit. For example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationException",
        "documentation" : "<p>An error occurred during the tagging operation. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationInternalErrorException",
        "documentation" : "<p>AWS WAF couldn’t perform your tagging operation because of an internal error. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRegexPatternSetRequest",
        "variableName" : "createRegexPatternSetRequest",
        "variableType" : "CreateRegexPatternSetRequest",
        "documentation" : "",
        "simpleType" : "CreateRegexPatternSetRequest",
        "variableSetterType" : "CreateRegexPatternSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRegexPatternSet",
      "operationName" : "CreateRegexPatternSet",
      "returnType" : {
        "returnType" : "CreateRegexPatternSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRegexPatternSetResult"
    },
    "CreateRuleGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleGroupRequest, CreateRuleGroupResult>",
      "asyncReturnType" : "CreateRuleGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates a <a>RuleGroup</a> per the specifications provided. </p> <p> A rule group defines a collection of rules to inspect and control web requests that you can use in a <a>WebACL</a>. When you create a rule group, you define an immutable capacity limit. If you update a rule group, you must stay within the capacity. This allows others to reuse the rule group with confidence in its capacity requirements. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFDuplicateItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because the resource that you tried to save is a duplicate of an existing one.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFOptimisticLockException",
        "documentation" : "<p>AWS WAF couldn’t save your changes because you tried to update or delete a resource that has changed since you last retrieved it. Get the resource again, make any changes you need to make to the new copy, and retry your operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because you exceeded your resource limit. For example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFUnavailableEntityException",
        "documentation" : "<p>AWS WAF couldn’t retrieve the resource that you requested. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationException",
        "documentation" : "<p>An error occurred during the tagging operation. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationInternalErrorException",
        "documentation" : "<p>AWS WAF couldn’t perform your tagging operation because of an internal error. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFSubscriptionNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRuleGroupRequest",
        "variableName" : "createRuleGroupRequest",
        "variableType" : "CreateRuleGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateRuleGroupRequest",
        "variableSetterType" : "CreateRuleGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRuleGroup",
      "operationName" : "CreateRuleGroup",
      "returnType" : {
        "returnType" : "CreateRuleGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRuleGroupResult"
    },
    "CreateWebACL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWebACLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWebACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWebACLRequest, CreateWebACLResult>",
      "asyncReturnType" : "CreateWebACLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates a <a>WebACL</a> per the specifications provided.</p> <p> A Web ACL defines a collection of rules to use to inspect and control web requests. Each rule has an action defined (allow, block, or count) for requests that match the statement of the rule. In the Web ACL, you assign a default action to take (allow, block) for any request that does not match any of the rules. The rules in a Web ACL can be a combination of the types <a>Rule</a>, <a>RuleGroup</a>, and managed rule group. You can associate a Web ACL with one or more AWS resources to protect. The resources can be Amazon CloudFront, an Amazon API Gateway API, or an Application Load Balancer. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFDuplicateItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because the resource that you tried to save is a duplicate of an existing one.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFOptimisticLockException",
        "documentation" : "<p>AWS WAF couldn’t save your changes because you tried to update or delete a resource that has changed since you last retrieved it. Get the resource again, make any changes you need to make to the new copy, and retry your operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because you exceeded your resource limit. For example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidResourceException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because the resource that you requested isn’t valid. Check the resource, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFUnavailableEntityException",
        "documentation" : "<p>AWS WAF couldn’t retrieve the resource that you requested. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationException",
        "documentation" : "<p>An error occurred during the tagging operation. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationInternalErrorException",
        "documentation" : "<p>AWS WAF couldn’t perform your tagging operation because of an internal error. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFSubscriptionNotFoundException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWebACLRequest",
        "variableName" : "createWebACLRequest",
        "variableType" : "CreateWebACLRequest",
        "documentation" : "",
        "simpleType" : "CreateWebACLRequest",
        "variableSetterType" : "CreateWebACLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWebACL",
      "operationName" : "CreateWebACL",
      "returnType" : {
        "returnType" : "CreateWebACLResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWebACLResult"
    },
    "DeleteIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIPSetRequest, DeleteIPSetResult>",
      "asyncReturnType" : "DeleteIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>IPSet</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFOptimisticLockException",
        "documentation" : "<p>AWS WAF couldn’t save your changes because you tried to update or delete a resource that has changed since you last retrieved it. Get the resource again, make any changes you need to make to the new copy, and retry your operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFAssociatedItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource is being used by another resource or it’s associated with another resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationException",
        "documentation" : "<p>An error occurred during the tagging operation. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationInternalErrorException",
        "documentation" : "<p>AWS WAF couldn’t perform your tagging operation because of an internal error. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIPSetRequest",
        "variableName" : "deleteIPSetRequest",
        "variableType" : "DeleteIPSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteIPSetRequest",
        "variableSetterType" : "DeleteIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIPSet",
      "operationName" : "DeleteIPSet",
      "returnType" : {
        "returnType" : "DeleteIPSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIPSetResult"
    },
    "DeleteLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoggingConfigurationRequest, DeleteLoggingConfigurationResult>",
      "asyncReturnType" : "DeleteLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the <a>LoggingConfiguration</a> from the specified web ACL.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFOptimisticLockException",
        "documentation" : "<p>AWS WAF couldn’t save your changes because you tried to update or delete a resource that has changed since you last retrieved it. Get the resource again, make any changes you need to make to the new copy, and retry your operation. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLoggingConfigurationRequest",
        "variableName" : "deleteLoggingConfigurationRequest",
        "variableType" : "DeleteLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteLoggingConfigurationRequest",
        "variableSetterType" : "DeleteLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLoggingConfiguration",
      "operationName" : "DeleteLoggingConfiguration",
      "returnType" : {
        "returnType" : "DeleteLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLoggingConfigurationResult"
    },
    "DeleteRegexPatternSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRegexPatternSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRegexPatternSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRegexPatternSetRequest, DeleteRegexPatternSetResult>",
      "asyncReturnType" : "DeleteRegexPatternSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>RegexPatternSet</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFOptimisticLockException",
        "documentation" : "<p>AWS WAF couldn’t save your changes because you tried to update or delete a resource that has changed since you last retrieved it. Get the resource again, make any changes you need to make to the new copy, and retry your operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFAssociatedItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource is being used by another resource or it’s associated with another resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationException",
        "documentation" : "<p>An error occurred during the tagging operation. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationInternalErrorException",
        "documentation" : "<p>AWS WAF couldn’t perform your tagging operation because of an internal error. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRegexPatternSetRequest",
        "variableName" : "deleteRegexPatternSetRequest",
        "variableType" : "DeleteRegexPatternSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteRegexPatternSetRequest",
        "variableSetterType" : "DeleteRegexPatternSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRegexPatternSet",
      "operationName" : "DeleteRegexPatternSet",
      "returnType" : {
        "returnType" : "DeleteRegexPatternSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRegexPatternSetResult"
    },
    "DeleteRuleGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleGroupRequest, DeleteRuleGroupResult>",
      "asyncReturnType" : "DeleteRuleGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>RuleGroup</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFOptimisticLockException",
        "documentation" : "<p>AWS WAF couldn’t save your changes because you tried to update or delete a resource that has changed since you last retrieved it. Get the resource again, make any changes you need to make to the new copy, and retry your operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFAssociatedItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource is being used by another resource or it’s associated with another resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationException",
        "documentation" : "<p>An error occurred during the tagging operation. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationInternalErrorException",
        "documentation" : "<p>AWS WAF couldn’t perform your tagging operation because of an internal error. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRuleGroupRequest",
        "variableName" : "deleteRuleGroupRequest",
        "variableType" : "DeleteRuleGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteRuleGroupRequest",
        "variableSetterType" : "DeleteRuleGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRuleGroup",
      "operationName" : "DeleteRuleGroup",
      "returnType" : {
        "returnType" : "DeleteRuleGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRuleGroupResult"
    },
    "DeleteWebACL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWebACLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWebACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWebACLRequest, DeleteWebACLResult>",
      "asyncReturnType" : "DeleteWebACLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>WebACL</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFOptimisticLockException",
        "documentation" : "<p>AWS WAF couldn’t save your changes because you tried to update or delete a resource that has changed since you last retrieved it. Get the resource again, make any changes you need to make to the new copy, and retry your operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFAssociatedItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource is being used by another resource or it’s associated with another resource. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationException",
        "documentation" : "<p>An error occurred during the tagging operation. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFTagOperationInternalErrorException",
        "documentation" : "<p>AWS WAF couldn’t perform your tagging operation because of an internal error. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWebACLRequest",
        "variableName" : "deleteWebACLRequest",
        "variableType" : "DeleteWebACLRequest",
        "documentation" : "",
        "simpleType" : "DeleteWebACLRequest",
        "variableSetterType" : "DeleteWebACLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWebACL",
      "operationName" : "DeleteWebACL",
      "returnType" : {
        "returnType" : "DeleteWebACLResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWebACLResult"
    },
    "DescribeManagedRuleGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeManagedRuleGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeManagedRuleGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeManagedRuleGroupRequest, DescribeManagedRuleGroupResult>",
      "asyncReturnType" : "DescribeManagedRuleGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Provides high-level information for a managed rule group, including descriptions of the rules. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidResourceException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because the resource that you requested isn’t valid. Check the resource, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeManagedRuleGroupRequest",
        "variableName" : "describeManagedRuleGroupRequest",
        "variableType" : "DescribeManagedRuleGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeManagedRuleGroupRequest",
        "variableSetterType" : "DescribeManagedRuleGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeManagedRuleGroup",
      "operationName" : "DescribeManagedRuleGroup",
      "returnType" : {
        "returnType" : "DescribeManagedRuleGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeManagedRuleGroupResult"
    },
    "DisassociateWebACL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateWebACLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateWebACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateWebACLRequest, DisassociateWebACLResult>",
      "asyncReturnType" : "DisassociateWebACLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Disassociates a Web ACL from a regional application resource. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>For AWS CloudFront, you can disassociate the Web ACL by providing an empty web ACL ARN in the CloudFront API call <code>UpdateDistribution</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateWebACLRequest",
        "variableName" : "disassociateWebACLRequest",
        "variableType" : "DisassociateWebACLRequest",
        "documentation" : "",
        "simpleType" : "DisassociateWebACLRequest",
        "variableSetterType" : "DisassociateWebACLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateWebACL",
      "operationName" : "DisassociateWebACL",
      "returnType" : {
        "returnType" : "DisassociateWebACLResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateWebACLResult"
    },
    "GetIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIPSetRequest, GetIPSetResult>",
      "asyncReturnType" : "GetIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>IPSet</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIPSetRequest",
        "variableName" : "getIPSetRequest",
        "variableType" : "GetIPSetRequest",
        "documentation" : "",
        "simpleType" : "GetIPSetRequest",
        "variableSetterType" : "GetIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIPSet",
      "operationName" : "GetIPSet",
      "returnType" : {
        "returnType" : "GetIPSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIPSetResult"
    },
    "GetLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLoggingConfigurationRequest, GetLoggingConfigurationResult>",
      "asyncReturnType" : "GetLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Returns the <a>LoggingConfiguration</a> for the specified web ACL.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLoggingConfigurationRequest",
        "variableName" : "getLoggingConfigurationRequest",
        "variableType" : "GetLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetLoggingConfigurationRequest",
        "variableSetterType" : "GetLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLoggingConfiguration",
      "operationName" : "GetLoggingConfiguration",
      "returnType" : {
        "returnType" : "GetLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLoggingConfigurationResult"
    },
    "GetRateBasedStatementManagedKeys" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRateBasedStatementManagedKeysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRateBasedStatementManagedKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRateBasedStatementManagedKeysRequest, GetRateBasedStatementManagedKeysResult>",
      "asyncReturnType" : "GetRateBasedStatementManagedKeysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the keys that are currently blocked by a rate-based rule. The maximum number of managed keys that can be blocked for a single rate-based rule is 10,000. If more than 10,000 addresses exceed the rate limit, those with the highest rates are blocked.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRateBasedStatementManagedKeysRequest",
        "variableName" : "getRateBasedStatementManagedKeysRequest",
        "variableType" : "GetRateBasedStatementManagedKeysRequest",
        "documentation" : "",
        "simpleType" : "GetRateBasedStatementManagedKeysRequest",
        "variableSetterType" : "GetRateBasedStatementManagedKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRateBasedStatementManagedKeys",
      "operationName" : "GetRateBasedStatementManagedKeys",
      "returnType" : {
        "returnType" : "GetRateBasedStatementManagedKeysResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRateBasedStatementManagedKeysResult"
    },
    "GetRegexPatternSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRegexPatternSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRegexPatternSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRegexPatternSetRequest, GetRegexPatternSetResult>",
      "asyncReturnType" : "GetRegexPatternSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>RegexPatternSet</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRegexPatternSetRequest",
        "variableName" : "getRegexPatternSetRequest",
        "variableType" : "GetRegexPatternSetRequest",
        "documentation" : "",
        "simpleType" : "GetRegexPatternSetRequest",
        "variableSetterType" : "GetRegexPatternSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRegexPatternSet",
      "operationName" : "GetRegexPatternSet",
      "returnType" : {
        "returnType" : "GetRegexPatternSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRegexPatternSetResult"
    },
    "GetRuleGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRuleGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRuleGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRuleGroupRequest, GetRuleGroupResult>",
      "asyncReturnType" : "GetRuleGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>RuleGroup</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRuleGroupRequest",
        "variableName" : "getRuleGroupRequest",
        "variableType" : "GetRuleGroupRequest",
        "documentation" : "",
        "simpleType" : "GetRuleGroupRequest",
        "variableSetterType" : "GetRuleGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRuleGroup",
      "operationName" : "GetRuleGroup",
      "returnType" : {
        "returnType" : "GetRuleGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRuleGroupResult"
    },
    "GetSampledRequests" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSampledRequestsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSampledRequestsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSampledRequestsRequest, GetSampledRequestsResult>",
      "asyncReturnType" : "GetSampledRequestsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Gets detailed information about a specified number of requests--a sample--that AWS WAF randomly selects from among the first 5,000 requests that your AWS resource received during a time range that you choose. You can specify a sample size of up to 500 requests, and you can specify any time range in the previous three hours.</p> <p> <code>GetSampledRequests</code> returns a time range, which is usually the time range that you specified. However, if your resource (such as a CloudFront distribution) received 5,000 requests before the specified time range elapsed, <code>GetSampledRequests</code> returns an updated time range. This new time range indicates the actual period during which AWS WAF selected the requests in the sample.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSampledRequestsRequest",
        "variableName" : "getSampledRequestsRequest",
        "variableType" : "GetSampledRequestsRequest",
        "documentation" : "",
        "simpleType" : "GetSampledRequestsRequest",
        "variableSetterType" : "GetSampledRequestsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSampledRequests",
      "operationName" : "GetSampledRequests",
      "returnType" : {
        "returnType" : "GetSampledRequestsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSampledRequestsResult"
    },
    "GetWebACL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWebACLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWebACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWebACLRequest, GetWebACLResult>",
      "asyncReturnType" : "GetWebACLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>WebACL</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWebACLRequest",
        "variableName" : "getWebACLRequest",
        "variableType" : "GetWebACLRequest",
        "documentation" : "",
        "simpleType" : "GetWebACLRequest",
        "variableSetterType" : "GetWebACLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWebACL",
      "operationName" : "GetWebACL",
      "returnType" : {
        "returnType" : "GetWebACLResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWebACLResult"
    },
    "GetWebACLForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWebACLForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWebACLForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWebACLForResourceRequest, GetWebACLForResourceResult>",
      "asyncReturnType" : "GetWebACLForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the <a>WebACL</a> for the specified resource. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFUnavailableEntityException",
        "documentation" : "<p>AWS WAF couldn’t retrieve the resource that you requested. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWebACLForResourceRequest",
        "variableName" : "getWebACLForResourceRequest",
        "variableType" : "GetWebACLForResourceRequest",
        "documentation" : "",
        "simpleType" : "GetWebACLForResourceRequest",
        "variableSetterType" : "GetWebACLForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWebACLForResource",
      "operationName" : "GetWebACLForResource",
      "returnType" : {
        "returnType" : "GetWebACLForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWebACLForResourceResult"
    },
    "ListAvailableManagedRuleGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAvailableManagedRuleGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAvailableManagedRuleGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAvailableManagedRuleGroupsRequest, ListAvailableManagedRuleGroupsResult>",
      "asyncReturnType" : "ListAvailableManagedRuleGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of managed rule groups that are available for you to use. This list includes all AWS Managed Rules rule groups and the AWS Marketplace managed rule groups that you're subscribed to.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAvailableManagedRuleGroupsRequest",
        "variableName" : "listAvailableManagedRuleGroupsRequest",
        "variableType" : "ListAvailableManagedRuleGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListAvailableManagedRuleGroupsRequest",
        "variableSetterType" : "ListAvailableManagedRuleGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAvailableManagedRuleGroups",
      "operationName" : "ListAvailableManagedRuleGroups",
      "returnType" : {
        "returnType" : "ListAvailableManagedRuleGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAvailableManagedRuleGroupsResult"
    },
    "ListIPSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIPSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIPSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIPSetsRequest, ListIPSetsResult>",
      "asyncReturnType" : "ListIPSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of <a>IPSetSummary</a> objects for the IP sets that you manage.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIPSetsRequest",
        "variableName" : "listIPSetsRequest",
        "variableType" : "ListIPSetsRequest",
        "documentation" : "",
        "simpleType" : "ListIPSetsRequest",
        "variableSetterType" : "ListIPSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIPSets",
      "operationName" : "ListIPSets",
      "returnType" : {
        "returnType" : "ListIPSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIPSetsResult"
    },
    "ListLoggingConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLoggingConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLoggingConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLoggingConfigurationsRequest, ListLoggingConfigurationsResult>",
      "asyncReturnType" : "ListLoggingConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of your <a>LoggingConfiguration</a> objects.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLoggingConfigurationsRequest",
        "variableName" : "listLoggingConfigurationsRequest",
        "variableType" : "ListLoggingConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListLoggingConfigurationsRequest",
        "variableSetterType" : "ListLoggingConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLoggingConfigurations",
      "operationName" : "ListLoggingConfigurations",
      "returnType" : {
        "returnType" : "ListLoggingConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLoggingConfigurationsResult"
    },
    "ListRegexPatternSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRegexPatternSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRegexPatternSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRegexPatternSetsRequest, ListRegexPatternSetsResult>",
      "asyncReturnType" : "ListRegexPatternSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of <a>RegexPatternSetSummary</a> objects for the regex pattern sets that you manage.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRegexPatternSetsRequest",
        "variableName" : "listRegexPatternSetsRequest",
        "variableType" : "ListRegexPatternSetsRequest",
        "documentation" : "",
        "simpleType" : "ListRegexPatternSetsRequest",
        "variableSetterType" : "ListRegexPatternSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRegexPatternSets",
      "operationName" : "ListRegexPatternSets",
      "returnType" : {
        "returnType" : "ListRegexPatternSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRegexPatternSetsResult"
    },
    "ListResourcesForWebACL" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesForWebACLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesForWebACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesForWebACLRequest, ListResourcesForWebACLResult>",
      "asyncReturnType" : "ListResourcesForWebACLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of the Amazon Resource Names (ARNs) for the regional resources that are associated with the specified web ACL. If you want the list of AWS CloudFront resources, use the AWS CloudFront call <code>ListDistributionsByWebACLId</code>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>AWS WAF couldn’t perform the operation because your resource doesn’t exist. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesForWebACLRequest",
        "variableName" : "listResourcesForWebACLRequest",
        "variableType" : "ListResourcesForWebACLRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesForWebACLRequest",
        "variableSetterType" : "ListResourcesForWebACLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourcesForWebACL",
      "operationName" : "ListResourcesForWebACL",
      "returnType" : {
        "returnType" : "ListResourcesForWebACLResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesForWebACLResult"
    },
    "ListRuleGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRuleGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRuleGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRuleGroupsRequest, ListRuleGroupsResult>",
      "asyncReturnType" : "ListRuleGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of <a>RuleGroupSummary</a> objects for the rule groups that you manage. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>Your request is valid, but AWS WAF couldn’t perform the operation because of a system problem. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example: </p> <ul> <li> <p>You specified an invalid parameter name or value.</p> </li> <li> <p>Your nested statement isn't valid. You might have tried to nest a statement that can’t be nested. </p> </li> <li> <p>You tried to update a <code>WebACL</code> with a <code>DefaultAction</code> that isn't among the types available at <a>DefaultAction</a>.</p> </li> <li> <p>Your request references an ARN that is malformed, or corresponds to a resource with which a Web ACL cannot be associated.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRuleGroupsRequest",
        "variableName" : "listRuleGroupsRequest",
        "variableType" : "ListRuleGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListRuleGroupsRequest",
        "variableSetterType" : "ListRuleGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRuleGroups",
      "operationName" : "ListRuleGroups",
      "returnType" : {
        "returnType" : "ListRuleGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRuleGroupsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
[...]
