{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-03-31",
    "asyncClient" : "AWSWellArchitectedAsyncClient",
    "asyncClientBuilderClassName" : "AWSWellArchitectedAsyncClientBuilder",
    "asyncInterface" : "AWSWellArchitectedAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSWellArchitectedModuleInjector",
    "defaultEndpoint" : "wellarchitected.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "wellarchitected.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Well-Architected Tool</fullname> <p>This is the <i>AWS Well-Architected Tool API Reference</i>. The AWS Well-Architected Tool API provides programmatic access to the <a href=\"http://aws.amazon.com/well-architected-tool\">AWS Well-Architected Tool</a> in the <a href=\"https://console.aws.amazon.com/wellarchitected\">AWS Management Console</a>. For information about the AWS Well-Architected Tool, see the <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/intro.html\">AWS Well-Architected Tool User Guide</a>.</p>",
    "endpointPrefix" : "wellarchitected",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.wellarchitected",
    "packagePath" : "com/amazonaws/services/wellarchitected",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Well-Architected",
    "serviceFullName" : "AWS Well-Architected Tool",
    "serviceId" : "WellArchitected",
    "serviceName" : "Well-Architected",
    "signingName" : "wellarchitected",
    "smokeTestsPackageName" : "com.amazonaws.services.wellarchitected.smoketests",
    "syncClient" : "AWSWellArchitectedClient",
    "syncClientBuilderClassName" : "AWSWellArchitectedClientBuilder",
    "syncInterface" : "AWSWellArchitected",
    "uid" : "wellarchitected-2020-03-31",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateLenses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateLensesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateLensesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateLensesRequest, AssociateLensesResult>",
      "asyncReturnType" : "AssociateLensesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associate a lens to a workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateLensesRequest",
        "variableName" : "associateLensesRequest",
        "variableType" : "AssociateLensesRequest",
        "documentation" : "<p>Input to associate lens reviews.</p>",
        "simpleType" : "AssociateLensesRequest",
        "variableSetterType" : "AssociateLensesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateLenses",
      "operationName" : "AssociateLenses",
      "returnType" : {
        "returnType" : "AssociateLensesResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateLensesResult"
    },
    "CreateMilestone" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMilestoneResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMilestoneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMilestoneRequest, CreateMilestoneResult>",
      "asyncReturnType" : "CreateMilestoneResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a milestone for an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The user has reached their resource quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMilestoneRequest",
        "variableName" : "createMilestoneRequest",
        "variableType" : "CreateMilestoneRequest",
        "documentation" : "<p>Input for milestone creation.</p>",
        "simpleType" : "CreateMilestoneRequest",
        "variableSetterType" : "CreateMilestoneRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMilestone",
      "operationName" : "CreateMilestone",
      "returnType" : {
        "returnType" : "CreateMilestoneResult",
        "documentation" : "<p>Output of a create milestone call.</p>"
      },
      "syncReturnType" : "CreateMilestoneResult"
    },
    "CreateWorkload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkloadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkloadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkloadRequest, CreateWorkloadResult>",
      "asyncReturnType" : "CreateWorkloadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new workload.</p> <p>The owner of a workload can share the workload with other AWS accounts and IAM users in the same AWS Region. Only the owner of a workload can delete it.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/define-workload.html\">Defining a Workload</a> in the <i>AWS Well-Architected Tool User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The user has reached their resource quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkloadRequest",
        "variableName" : "createWorkloadRequest",
        "variableType" : "CreateWorkloadRequest",
        "documentation" : "<p>Input for workload creation.</p>",
        "simpleType" : "CreateWorkloadRequest",
        "variableSetterType" : "CreateWorkloadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkload",
      "operationName" : "CreateWorkload",
      "returnType" : {
        "returnType" : "CreateWorkloadResult",
        "documentation" : "<p>Output of a create workload call.</p>"
      },
      "syncReturnType" : "CreateWorkloadResult"
    },
    "CreateWorkloadShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkloadShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkloadShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkloadShareRequest, CreateWorkloadShareResult>",
      "asyncReturnType" : "CreateWorkloadShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a workload share.</p> <p>The owner of a workload can share it with other AWS accounts and IAM users in the same AWS Region. Shared access to a workload is not removed until the workload invitation is deleted.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/workloads-sharing.html\">Sharing a Workload</a> in the <i>AWS Well-Architected Tool User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The user has reached their resource quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkloadShareRequest",
        "variableName" : "createWorkloadShareRequest",
        "variableType" : "CreateWorkloadShareRequest",
        "documentation" : "<p>Input for Create Workload Share</p>",
        "simpleType" : "CreateWorkloadShareRequest",
        "variableSetterType" : "CreateWorkloadShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkloadShare",
      "operationName" : "CreateWorkloadShare",
      "returnType" : {
        "returnType" : "CreateWorkloadShareResult",
        "documentation" : "<p>Input for Create Workload Share</p>"
      },
      "syncReturnType" : "CreateWorkloadShareResult"
    },
    "DeleteWorkload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkloadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkloadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkloadRequest, DeleteWorkloadResult>",
      "asyncReturnType" : "DeleteWorkloadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkloadRequest",
        "variableName" : "deleteWorkloadRequest",
        "variableType" : "DeleteWorkloadRequest",
        "documentation" : "<p>Input for workload deletion.</p>",
        "simpleType" : "DeleteWorkloadRequest",
        "variableSetterType" : "DeleteWorkloadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkload",
      "operationName" : "DeleteWorkload",
      "returnType" : {
        "returnType" : "DeleteWorkloadResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkloadResult"
    },
    "DeleteWorkloadShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkloadShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkloadShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkloadShareRequest, DeleteWorkloadShareResult>",
      "asyncReturnType" : "DeleteWorkloadShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a workload share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkloadShareRequest",
        "variableName" : "deleteWorkloadShareRequest",
        "variableType" : "DeleteWorkloadShareRequest",
        "documentation" : "<p>Input for Delete Workload Share</p>",
        "simpleType" : "DeleteWorkloadShareRequest",
        "variableSetterType" : "DeleteWorkloadShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkloadShare",
      "operationName" : "DeleteWorkloadShare",
      "returnType" : {
        "returnType" : "DeleteWorkloadShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkloadShareResult"
    },
    "DisassociateLenses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateLensesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateLensesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateLensesRequest, DisassociateLensesResult>",
      "asyncReturnType" : "DisassociateLensesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociate a lens from a workload.</p> <note> <p>The AWS Well-Architected Framework lens (<code>wellarchitected</code>) cannot be removed from a workload.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateLensesRequest",
        "variableName" : "disassociateLensesRequest",
        "variableType" : "DisassociateLensesRequest",
        "documentation" : "<p>Input to disassociate lens reviews.</p>",
        "simpleType" : "DisassociateLensesRequest",
        "variableSetterType" : "DisassociateLensesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateLenses",
      "operationName" : "DisassociateLenses",
      "returnType" : {
        "returnType" : "DisassociateLensesResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateLensesResult"
    },
    "GetAnswer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAnswerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAnswerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAnswerRequest, GetAnswerResult>",
      "asyncReturnType" : "GetAnswerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get lens review.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAnswerRequest",
        "variableName" : "getAnswerRequest",
        "variableType" : "GetAnswerRequest",
        "documentation" : "<p>Input to get answer.</p>",
        "simpleType" : "GetAnswerRequest",
        "variableSetterType" : "GetAnswerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAnswer",
      "operationName" : "GetAnswer",
      "returnType" : {
        "returnType" : "GetAnswerResult",
        "documentation" : "<p>Output of a get answer call.</p>"
      },
      "syncReturnType" : "GetAnswerResult"
    },
    "GetLensReview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLensReviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLensReviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLensReviewRequest, GetLensReviewResult>",
      "asyncReturnType" : "GetLensReviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get lens review.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLensReviewRequest",
        "variableName" : "getLensReviewRequest",
        "variableType" : "GetLensReviewRequest",
        "documentation" : "<p>Input to get lens review.</p>",
        "simpleType" : "GetLensReviewRequest",
        "variableSetterType" : "GetLensReviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLensReview",
      "operationName" : "GetLensReview",
      "returnType" : {
        "returnType" : "GetLensReviewResult",
        "documentation" : "<p>Output of a get lens review call.</p>"
      },
      "syncReturnType" : "GetLensReviewResult"
    },
    "GetLensReviewReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLensReviewReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLensReviewReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLensReviewReportRequest, GetLensReviewReportResult>",
      "asyncReturnType" : "GetLensReviewReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get lens review report.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLensReviewReportRequest",
        "variableName" : "getLensReviewReportRequest",
        "variableType" : "GetLensReviewReportRequest",
        "documentation" : "<p>Input to get lens review report.</p>",
        "simpleType" : "GetLensReviewReportRequest",
        "variableSetterType" : "GetLensReviewReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLensReviewReport",
      "operationName" : "GetLensReviewReport",
      "returnType" : {
        "returnType" : "GetLensReviewReportResult",
        "documentation" : "<p>Output of a get lens review report call.</p>"
      },
      "syncReturnType" : "GetLensReviewReportResult"
    },
    "GetLensVersionDifference" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLensVersionDifferenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLensVersionDifferenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLensVersionDifferenceRequest, GetLensVersionDifferenceResult>",
      "asyncReturnType" : "GetLensVersionDifferenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get lens version differences.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLensVersionDifferenceRequest",
        "variableName" : "getLensVersionDifferenceRequest",
        "variableType" : "GetLensVersionDifferenceRequest",
        "documentation" : "",
        "simpleType" : "GetLensVersionDifferenceRequest",
        "variableSetterType" : "GetLensVersionDifferenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLensVersionDifference",
      "operationName" : "GetLensVersionDifference",
      "returnType" : {
        "returnType" : "GetLensVersionDifferenceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLensVersionDifferenceResult"
    },
    "GetMilestone" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMilestoneResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMilestoneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMilestoneRequest, GetMilestoneResult>",
      "asyncReturnType" : "GetMilestoneResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a milestone for an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMilestoneRequest",
        "variableName" : "getMilestoneRequest",
        "variableType" : "GetMilestoneRequest",
        "documentation" : "<p>Input to get a milestone.</p>",
        "simpleType" : "GetMilestoneRequest",
        "variableSetterType" : "GetMilestoneRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMilestone",
      "operationName" : "GetMilestone",
      "returnType" : {
        "returnType" : "GetMilestoneResult",
        "documentation" : "<p>Output of a get milestone call.</p>"
      },
      "syncReturnType" : "GetMilestoneResult"
    },
    "GetWorkload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkloadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkloadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkloadRequest, GetWorkloadResult>",
      "asyncReturnType" : "GetWorkloadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkloadRequest",
        "variableName" : "getWorkloadRequest",
        "variableType" : "GetWorkloadRequest",
        "documentation" : "<p>Input to get a workload.</p>",
        "simpleType" : "GetWorkloadRequest",
        "variableSetterType" : "GetWorkloadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkload",
      "operationName" : "GetWorkload",
      "returnType" : {
        "returnType" : "GetWorkloadResult",
        "documentation" : "<p>Output of a get workload call.</p>"
      },
      "syncReturnType" : "GetWorkloadResult"
    },
    "ListAnswers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnswersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnswersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnswersRequest, ListAnswersResult>",
      "asyncReturnType" : "ListAnswersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List of answers.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnswersRequest",
        "variableName" : "listAnswersRequest",
        "variableType" : "ListAnswersRequest",
        "documentation" : "<p>Input to list answers.</p>",
        "simpleType" : "ListAnswersRequest",
        "variableSetterType" : "ListAnswersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnswers",
      "operationName" : "ListAnswers",
      "returnType" : {
        "returnType" : "ListAnswersResult",
        "documentation" : "<p>Output of a list answers call.</p>"
      },
      "syncReturnType" : "ListAnswersResult"
    },
    "ListLensReviewImprovements" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLensReviewImprovementsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLensReviewImprovementsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLensReviewImprovementsRequest, ListLensReviewImprovementsResult>",
      "asyncReturnType" : "ListLensReviewImprovementsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List lens review improvements.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLensReviewImprovementsRequest",
        "variableName" : "listLensReviewImprovementsRequest",
        "variableType" : "ListLensReviewImprovementsRequest",
        "documentation" : "<p>Input to list lens review improvements.</p>",
        "simpleType" : "ListLensReviewImprovementsRequest",
        "variableSetterType" : "ListLensReviewImprovementsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLensReviewImprovements",
      "operationName" : "ListLensReviewImprovements",
      "returnType" : {
        "returnType" : "ListLensReviewImprovementsResult",
        "documentation" : "<p>Output of a list lens review improvements call.</p>"
      },
      "syncReturnType" : "ListLensReviewImprovementsResult"
    },
    "ListLensReviews" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLensReviewsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLensReviewsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLensReviewsRequest, ListLensReviewsResult>",
      "asyncReturnType" : "ListLensReviewsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List lens reviews.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLensReviewsRequest",
        "variableName" : "listLensReviewsRequest",
        "variableType" : "ListLensReviewsRequest",
        "documentation" : "<p>Input to list lens reviews.</p>",
        "simpleType" : "ListLensReviewsRequest",
        "variableSetterType" : "ListLensReviewsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLensReviews",
      "operationName" : "ListLensReviews",
      "returnType" : {
        "returnType" : "ListLensReviewsResult",
        "documentation" : "<p>Output of a list lens reviews call.</p>"
      },
      "syncReturnType" : "ListLensReviewsResult"
    },
    "ListLenses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLensesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLensesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLensesRequest, ListLensesResult>",
      "asyncReturnType" : "ListLensesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the available lenses.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLensesRequest",
        "variableName" : "listLensesRequest",
        "variableType" : "ListLensesRequest",
        "documentation" : "<p>Input to list lenses.</p>",
        "simpleType" : "ListLensesRequest",
        "variableSetterType" : "ListLensesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLenses",
      "operationName" : "ListLenses",
      "returnType" : {
        "returnType" : "ListLensesResult",
        "documentation" : "<p>Output of a list lenses call.</p>"
      },
      "syncReturnType" : "ListLensesResult"
    },
    "ListMilestones" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMilestonesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMilestonesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMilestonesRequest, ListMilestonesResult>",
      "asyncReturnType" : "ListMilestonesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all milestones for an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMilestonesRequest",
        "variableName" : "listMilestonesRequest",
        "variableType" : "ListMilestonesRequest",
        "documentation" : "<p>Input to list all milestones for a workload.</p>",
        "simpleType" : "ListMilestonesRequest",
        "variableSetterType" : "ListMilestonesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMilestones",
      "operationName" : "ListMilestones",
      "returnType" : {
        "returnType" : "ListMilestonesResult",
        "documentation" : "<p>Output of a list milestones call.</p>"
      },
      "syncReturnType" : "ListMilestonesResult"
    },
    "ListNotifications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNotificationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNotificationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNotificationsRequest, ListNotificationsResult>",
      "asyncReturnType" : "ListNotificationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List lens notifications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNotificationsRequest",
        "variableName" : "listNotificationsRequest",
        "variableType" : "ListNotificationsRequest",
        "documentation" : "",
        "simpleType" : "ListNotificationsRequest",
        "variableSetterType" : "ListNotificationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNotifications",
      "operationName" : "ListNotifications",
      "returnType" : {
        "returnType" : "ListNotificationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNotificationsResult"
    },
    "ListShareInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListShareInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListShareInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListShareInvitationsRequest, ListShareInvitationsResult>",
      "asyncReturnType" : "ListShareInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the workload invitations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListShareInvitationsRequest",
        "variableName" : "listShareInvitationsRequest",
        "variableType" : "ListShareInvitationsRequest",
        "documentation" : "<p>Input for List Share Invitations</p>",
        "simpleType" : "ListShareInvitationsRequest",
        "variableSetterType" : "ListShareInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listShareInvitations",
      "operationName" : "ListShareInvitations",
      "returnType" : {
        "returnType" : "ListShareInvitationsResult",
        "documentation" : "<p>Input for List Share Invitations</p>"
      },
      "syncReturnType" : "ListShareInvitationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListWorkloadShares" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkloadSharesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkloadSharesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkloadSharesRequest, ListWorkloadSharesResult>",
      "asyncReturnType" : "ListWorkloadSharesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the workload shares associated with the workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkloadSharesRequest",
        "variableName" : "listWorkloadSharesRequest",
        "variableType" : "ListWorkloadSharesRequest",
        "documentation" : "<p>Input for List Workload Share</p>",
        "simpleType" : "ListWorkloadSharesRequest",
        "variableSetterType" : "ListWorkloadSharesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkloadShares",
      "operationName" : "ListWorkloadShares",
      "returnType" : {
        "returnType" : "ListWorkloadSharesResult",
        "documentation" : "<p>Input for List Workload Share</p>"
      },
      "syncReturnType" : "ListWorkloadSharesResult"
    },
    "ListWorkloads" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkloadsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkloadsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkloadsRequest, ListWorkloadsResult>",
      "asyncReturnType" : "ListWorkloadsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List workloads. Paginated.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkloadsRequest",
        "variableName" : "listWorkloadsRequest",
        "variableType" : "ListWorkloadsRequest",
        "documentation" : "<p>Input to list all workloads.</p>",
        "simpleType" : "ListWorkloadsRequest",
        "variableSetterType" : "ListWorkloadsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkloads",
      "operationName" : "ListWorkloads",
      "returnType" : {
        "returnType" : "ListWorkloadsResult",
        "documentation" : "<p>Output of a list workloads call.</p>"
      },
      "syncReturnType" : "ListWorkloadsResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes specified tags from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAnswer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAnswerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAnswerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAnswerRequest, UpdateAnswerResult>",
      "asyncReturnType" : "UpdateAnswerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the answer to a specific question in a workload review.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAnswerRequest",
        "variableName" : "updateAnswerRequest",
        "variableType" : "UpdateAnswerRequest",
        "documentation" : "<p>Input to update answer.</p>",
        "simpleType" : "UpdateAnswerRequest",
        "variableSetterType" : "UpdateAnswerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAnswer",
      "operationName" : "UpdateAnswer",
      "returnType" : {
        "returnType" : "UpdateAnswerResult",
        "documentation" : "<p>Output of a update answer call.</p>"
      },
      "syncReturnType" : "UpdateAnswerResult"
    },
    "UpdateLensReview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLensReviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLensReviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLensReviewRequest, UpdateLensReviewResult>",
      "asyncReturnType" : "UpdateLensReviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update lens review.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLensReviewRequest",
        "variableName" : "updateLensReviewRequest",
        "variableType" : "UpdateLensReviewRequest",
        "documentation" : "<p>Input for update lens review.</p>",
        "simpleType" : "UpdateLensReviewRequest",
        "variableSetterType" : "UpdateLensReviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLensReview",
      "operationName" : "UpdateLensReview",
      "returnType" : {
        "returnType" : "UpdateLensReviewResult",
        "documentation" : "<p>Output of a update lens review call.</p>"
      },
      "syncReturnType" : "UpdateLensReviewResult"
    },
    "UpdateShareInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateShareInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateShareInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateShareInvitationRequest, UpdateShareInvitationResult>",
      "asyncReturnType" : "UpdateShareInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a workload invitation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateShareInvitationRequest",
        "variableName" : "updateShareInvitationRequest",
        "variableType" : "UpdateShareInvitationRequest",
        "documentation" : "<p>Input for Update Share Invitation</p>",
        "simpleType" : "UpdateShareInvitationRequest",
        "variableSetterType" : "UpdateShareInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateShareInvitation",
      "operationName" : "UpdateShareInvitation",
      "returnType" : {
        "returnType" : "UpdateShareInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateShareInvitationResult"
    },
    "UpdateWorkload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkloadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkloadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkloadRequest, UpdateWorkloadResult>",
      "asyncReturnType" : "UpdateWorkloadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkloadRequest",
        "variableName" : "updateWorkloadRequest",
        "variableType" : "UpdateWorkloadRequest",
        "documentation" : "<p>Input to update a workload.</p>",
        "simpleType" : "UpdateWorkloadRequest",
        "variableSetterType" : "UpdateWorkloadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkload",
      "operationName" : "UpdateWorkload",
      "returnType" : {
        "returnType" : "UpdateWorkloadResult",
        "documentation" : "<p>Output of an update workload call.</p>"
      },
      "syncReturnType" : "UpdateWorkloadResult"
    },
    "UpdateWorkloadShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkloadShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkloadShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkloadShareRequest, UpdateWorkloadShareResult>",
      "asyncReturnType" : "UpdateWorkloadShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a workload share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkloadShareRequest",
        "variableName" : "updateWorkloadShareRequest",
        "variableType" : "UpdateWorkloadShareRequest",
        "documentation" : "<p>Input for Update Workload Share</p>",
        "simpleType" : "UpdateWorkloadShareRequest",
        "variableSetterType" : "UpdateWorkloadShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkloadShare",
      "operationName" : "UpdateWorkloadShare",
      "returnType" : {
        "returnType" : "UpdateWorkloadShareResult",
        "documentation" : "<p>Input for Update Workload Share</p>"
      },
      "syncReturnType" : "UpdateWorkloadShareResult"
    },
    "UpgradeLensReview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpgradeLensReviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpgradeLensReviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpgradeLensReviewRequest, UpgradeLensReviewResult>",
      "asyncReturnType" : "UpgradeLensReviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Upgrade lens review.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpgradeLensReviewRequest",
        "variableName" : "upgradeLensReviewRequest",
        "variableType" : "UpgradeLensReviewRequest",
        "documentation" : "",
        "simpleType" : "UpgradeLensReviewRequest",
        "variableSetterType" : "UpgradeLensReviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "upgradeLensReview",
      "operationName" : "UpgradeLensReview",
      "returnType" : {
        "returnType" : "UpgradeLensReviewResult",
        "documentation" : null
      },
      "syncReturnType" : "UpgradeLensReviewResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.wellarchitected.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.wellarchitected.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Answer" : {
      "c2jName" : "Answer",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An answer of the question.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.wellarchitected.model.Answer",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "QuestionId",
        "c2jShape" : "QuestionId",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param questionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQuestionId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getQuestionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "QuestionId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "QuestionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QuestionId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param questionId */",
        "setterMethodName" : "setQuestionId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "questionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param questionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "questionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PillarId",
        "c2jShape" : "PillarId",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param pillarId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPillarId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getPillarId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PillarId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PillarId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PillarId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param pillarId */",
        "setterMethodName" : "setPillarId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "pillarId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param pillarId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "pillarId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "QuestionTitle",
        "c2jShape" : "QuestionTitle",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param questionTitle \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQuestionTitle",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getQuestionTitle",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "QuestionTitle",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "QuestionTitle",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QuestionTitle",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param questionTitle */",
        "setterMethodName" : "setQuestionTitle",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "questionTitle",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param questionTitle \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "questionTitle",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "QuestionDescription",
        "c2jShape" : "QuestionDescription",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param questionDescription \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQuestionDescription",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getQuestionDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "QuestionDescription",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "QuestionDescription",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "QuestionDescription",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param questionDescription */",
        "setterMethodName" : "setQuestionDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "questionDescription",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param questionDescription \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "questionDescription",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ImprovementPlanUrl",
        "c2jShape" : "ImprovementPlanUrl",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param improvementPlanUrl \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withImprovementPlanUrl",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getImprovementPlanUrl",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ImprovementPlanUrl",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ImprovementPlanUrl",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ImprovementPlanUrl",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param improvementPlanUrl */",
        "setterMethodName" : "setImprovementPlanUrl",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "improvementPlanUrl",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param improvementPlanUrl \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "improvementPlanUrl",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HelpfulResourceUrl",
        "c2jShape" : "HelpfulResourceUrl",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param helpfulResourceUrl \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHelpfulResourceUrl",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getHelpfulResourceUrl",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HelpfulResourceUrl",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HelpfulResourceUrl",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HelpfulResourceUrl",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param helpfulResourceUrl */",
        "setterMethodName" : "setHelpfulResourceUrl",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "helpfulResourceUrl",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param helpfulResourceUrl \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "helpfulResourceUrl",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Choices",
        "c2jShape" : "Choices",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param choices \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChoices",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getChoices",
        "getterModel" : {
          "returnType" : "java.util.List<Choice>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Choices",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Choices",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Choice",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Choice",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Choice",
              "variableName" : "member",
              "variableType" : "Choice",
              "documentation" : "",
              "simpleType" : "Choice",
              "variableSetterType" : "Choice"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Choice",
              "variableName" : "member",
              "variableType" : "Choice",
              "documentation" : "",
              "simpleType" : "Choice",
              "variableSetterType" : "Choice"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Choice",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Choice",
          "templateImplType" : "java.util.ArrayList<Choice>",
          "templateType" : "java.util.List<Choice>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
[...]
