{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-03-31",
    "asyncClient" : "AWSWellArchitectedAsyncClient",
    "asyncClientBuilderClassName" : "AWSWellArchitectedAsyncClientBuilder",
    "asyncInterface" : "AWSWellArchitectedAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSWellArchitectedModuleInjector",
    "defaultEndpoint" : "wellarchitected.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "wellarchitected.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Well-Architected Tool</fullname> <p>This is the <i>Well-Architected Tool API Reference</i>. The WA Tool API provides programmatic access to the <a href=\"http://aws.amazon.com/well-architected-tool\">Well-Architected Tool</a> in the <a href=\"https://console.aws.amazon.com/wellarchitected\">Amazon Web Services Management Console</a>. For information about the Well-Architected Tool, see the <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/intro.html\">Well-Architected Tool User Guide</a>.</p>",
    "endpointPrefix" : "wellarchitected",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.wellarchitected",
    "packagePath" : "com/amazonaws/services/wellarchitected",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Well-Architected",
    "serviceFullName" : "AWS Well-Architected Tool",
    "serviceId" : "WellArchitected",
    "serviceName" : "Well-Architected",
    "signingName" : "wellarchitected",
    "smokeTestsPackageName" : "com.amazonaws.services.wellarchitected.smoketests",
    "syncClient" : "AWSWellArchitectedClient",
    "syncClientBuilderClassName" : "AWSWellArchitectedClientBuilder",
    "syncInterface" : "AWSWellArchitected",
    "uid" : "wellarchitected-2020-03-31",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateLenses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateLensesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateLensesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateLensesRequest, AssociateLensesResult>",
      "asyncReturnType" : "AssociateLensesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associate a lens to a workload.</p> <p>Up to 10 lenses can be associated with a workload in a single API operation. A maximum of 20 lenses can be associated with a workload.</p> <note> <p> <b>Disclaimer</b> </p> <p>By accessing and/or applying custom lenses created by another Amazon Web Services user or account, you acknowledge that custom lenses created by other users and shared with you are Third Party Content as defined in the Amazon Web Services Customer Agreement. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateLensesRequest",
        "variableName" : "associateLensesRequest",
        "variableType" : "AssociateLensesRequest",
        "documentation" : "<p>Input to associate lens reviews.</p>",
        "simpleType" : "AssociateLensesRequest",
        "variableSetterType" : "AssociateLensesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateLenses",
      "operationName" : "AssociateLenses",
      "returnType" : {
        "returnType" : "AssociateLensesResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateLensesResult"
    },
    "CreateLensShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLensShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLensShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLensShareRequest, CreateLensShareResult>",
      "asyncReturnType" : "CreateLensShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a lens share.</p> <p>The owner of a lens can share it with other Amazon Web Services accounts, IAM users, an organization, and organizational units (OUs) in the same Amazon Web Services Region. Shared access to a lens is not removed until the lens invitation is deleted.</p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your custom lenses with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your custom lenses available to those other accounts. Those other accounts may continue to access and use your shared custom lenses even if you delete the custom lenses from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The user has reached their resource quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLensShareRequest",
        "variableName" : "createLensShareRequest",
        "variableType" : "CreateLensShareRequest",
        "documentation" : "",
        "simpleType" : "CreateLensShareRequest",
        "variableSetterType" : "CreateLensShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLensShare",
      "operationName" : "CreateLensShare",
      "returnType" : {
        "returnType" : "CreateLensShareResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLensShareResult"
    },
    "CreateLensVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLensVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLensVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLensVersionRequest, CreateLensVersionResult>",
      "asyncReturnType" : "CreateLensVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new lens version.</p> <p>A lens can have up to 100 versions.</p> <p>After a lens has been imported, create a new lens version to publish it. The owner of a lens can share the lens with other Amazon Web Services accounts and IAM users in the same Amazon Web Services Region. Only the owner of a lens can delete it. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The user has reached their resource quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLensVersionRequest",
        "variableName" : "createLensVersionRequest",
        "variableType" : "CreateLensVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateLensVersionRequest",
        "variableSetterType" : "CreateLensVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLensVersion",
      "operationName" : "CreateLensVersion",
      "returnType" : {
        "returnType" : "CreateLensVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLensVersionResult"
    },
    "CreateMilestone" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMilestoneResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMilestoneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMilestoneRequest, CreateMilestoneResult>",
      "asyncReturnType" : "CreateMilestoneResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a milestone for an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The user has reached their resource quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMilestoneRequest",
        "variableName" : "createMilestoneRequest",
        "variableType" : "CreateMilestoneRequest",
        "documentation" : "<p>Input for milestone creation.</p>",
        "simpleType" : "CreateMilestoneRequest",
        "variableSetterType" : "CreateMilestoneRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMilestone",
      "operationName" : "CreateMilestone",
      "returnType" : {
        "returnType" : "CreateMilestoneResult",
        "documentation" : "<p>Output of a create milestone call.</p>"
      },
      "syncReturnType" : "CreateMilestoneResult"
    },
    "CreateWorkload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkloadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkloadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkloadRequest, CreateWorkloadResult>",
      "asyncReturnType" : "CreateWorkloadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new workload.</p> <p>The owner of a workload can share the workload with other Amazon Web Services accounts, IAM users, an organization, and organizational units (OUs) in the same Amazon Web Services Region. Only the owner of a workload can delete it.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/define-workload.html\">Defining a Workload</a> in the <i>Well-Architected Tool User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The user has reached their resource quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkloadRequest",
        "variableName" : "createWorkloadRequest",
        "variableType" : "CreateWorkloadRequest",
        "documentation" : "<p>Input for workload creation.</p>",
        "simpleType" : "CreateWorkloadRequest",
        "variableSetterType" : "CreateWorkloadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkload",
      "operationName" : "CreateWorkload",
      "returnType" : {
        "returnType" : "CreateWorkloadResult",
        "documentation" : "<p>Output of a create workload call.</p>"
      },
      "syncReturnType" : "CreateWorkloadResult"
    },
    "CreateWorkloadShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkloadShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkloadShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkloadShareRequest, CreateWorkloadShareResult>",
      "asyncReturnType" : "CreateWorkloadShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a workload share.</p> <p>The owner of a workload can share it with other Amazon Web Services accounts and IAM users in the same Amazon Web Services Region. Shared access to a workload is not removed until the workload invitation is deleted.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/workloads-sharing.html\">Sharing a Workload</a> in the <i>Well-Architected Tool User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The user has reached their resource quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkloadShareRequest",
        "variableName" : "createWorkloadShareRequest",
        "variableType" : "CreateWorkloadShareRequest",
        "documentation" : "<p>Input for Create Workload Share</p>",
        "simpleType" : "CreateWorkloadShareRequest",
        "variableSetterType" : "CreateWorkloadShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkloadShare",
      "operationName" : "CreateWorkloadShare",
      "returnType" : {
        "returnType" : "CreateWorkloadShareResult",
        "documentation" : "<p>Input for Create Workload Share</p>"
      },
      "syncReturnType" : "CreateWorkloadShareResult"
    },
    "DeleteLens" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLensResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLensResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLensRequest, DeleteLensResult>",
      "asyncReturnType" : "DeleteLensResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an existing lens.</p> <p>Only the owner of a lens can delete it. After the lens is deleted, Amazon Web Services accounts and IAM users that you shared the lens with can continue to use it, but they will no longer be able to apply it to new workloads. </p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your custom lenses with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your custom lenses available to those other accounts. Those other accounts may continue to access and use your shared custom lenses even if you delete the custom lenses from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLensRequest",
        "variableName" : "deleteLensRequest",
        "variableType" : "DeleteLensRequest",
        "documentation" : "",
        "simpleType" : "DeleteLensRequest",
        "variableSetterType" : "DeleteLensRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLens",
      "operationName" : "DeleteLens",
      "returnType" : {
        "returnType" : "DeleteLensResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLensResult"
    },
    "DeleteLensShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLensShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLensShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLensShareRequest, DeleteLensShareResult>",
      "asyncReturnType" : "DeleteLensShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a lens share.</p> <p>After the lens share is deleted, Amazon Web Services accounts, IAM users, organizations, and organizational units (OUs) that you shared the lens with can continue to use it, but they will no longer be able to apply it to new workloads.</p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your custom lenses with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your custom lenses available to those other accounts. Those other accounts may continue to access and use your shared custom lenses even if you delete the custom lenses from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLensShareRequest",
        "variableName" : "deleteLensShareRequest",
        "variableType" : "DeleteLensShareRequest",
        "documentation" : "",
        "simpleType" : "DeleteLensShareRequest",
        "variableSetterType" : "DeleteLensShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLensShare",
      "operationName" : "DeleteLensShare",
      "returnType" : {
        "returnType" : "DeleteLensShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLensShareResult"
    },
    "DeleteWorkload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkloadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkloadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkloadRequest, DeleteWorkloadResult>",
      "asyncReturnType" : "DeleteWorkloadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkloadRequest",
        "variableName" : "deleteWorkloadRequest",
        "variableType" : "DeleteWorkloadRequest",
        "documentation" : "<p>Input for workload deletion.</p>",
        "simpleType" : "DeleteWorkloadRequest",
        "variableSetterType" : "DeleteWorkloadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkload",
      "operationName" : "DeleteWorkload",
      "returnType" : {
        "returnType" : "DeleteWorkloadResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkloadResult"
    },
    "DeleteWorkloadShare" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkloadShareResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkloadShareResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkloadShareRequest, DeleteWorkloadShareResult>",
      "asyncReturnType" : "DeleteWorkloadShareResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a workload share.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkloadShareRequest",
        "variableName" : "deleteWorkloadShareRequest",
        "variableType" : "DeleteWorkloadShareRequest",
        "documentation" : "<p>Input for Delete Workload Share</p>",
        "simpleType" : "DeleteWorkloadShareRequest",
        "variableSetterType" : "DeleteWorkloadShareRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkloadShare",
      "operationName" : "DeleteWorkloadShare",
      "returnType" : {
        "returnType" : "DeleteWorkloadShareResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkloadShareResult"
    },
    "DisassociateLenses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateLensesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateLensesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateLensesRequest, DisassociateLensesResult>",
      "asyncReturnType" : "DisassociateLensesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociate a lens from a workload.</p> <p>Up to 10 lenses can be disassociated from a workload in a single API operation.</p> <note> <p>The Amazon Web Services Well-Architected Framework lens (<code>wellarchitected</code>) cannot be removed from a workload.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateLensesRequest",
        "variableName" : "disassociateLensesRequest",
        "variableType" : "DisassociateLensesRequest",
        "documentation" : "<p>Input to disassociate lens reviews.</p>",
        "simpleType" : "DisassociateLensesRequest",
        "variableSetterType" : "DisassociateLensesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateLenses",
      "operationName" : "DisassociateLenses",
      "returnType" : {
        "returnType" : "DisassociateLensesResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateLensesResult"
    },
    "ExportLens" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportLensResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportLensResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportLensRequest, ExportLensResult>",
      "asyncReturnType" : "ExportLensResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Export an existing lens.</p> <p>Lenses are defined in JSON. For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-format-specification.html\">JSON format specification</a> in the <i>Well-Architected Tool User Guide</i>. Only the owner of a lens can export it. </p> <note> <p> <b>Disclaimer</b> </p> <p>Do not include or gather personal identifiable information (PII) of end users or other identifiable individuals in or via your custom lenses. If your custom lens or those shared with you and used in your account do include or collect PII you are responsible for: ensuring that the included PII is processed in accordance with applicable law, providing adequate privacy notices, and obtaining necessary consents for processing such data.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportLensRequest",
        "variableName" : "exportLensRequest",
        "variableType" : "ExportLensRequest",
        "documentation" : "",
        "simpleType" : "ExportLensRequest",
        "variableSetterType" : "ExportLensRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportLens",
      "operationName" : "ExportLens",
      "returnType" : {
        "returnType" : "ExportLensResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportLensResult"
    },
    "GetAnswer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAnswerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAnswerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAnswerRequest, GetAnswerResult>",
      "asyncReturnType" : "GetAnswerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the answer to a specific question in a workload review.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAnswerRequest",
        "variableName" : "getAnswerRequest",
        "variableType" : "GetAnswerRequest",
        "documentation" : "<p>Input to get answer.</p>",
        "simpleType" : "GetAnswerRequest",
        "variableSetterType" : "GetAnswerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAnswer",
      "operationName" : "GetAnswer",
      "returnType" : {
        "returnType" : "GetAnswerResult",
        "documentation" : "<p>Output of a get answer call.</p>"
      },
      "syncReturnType" : "GetAnswerResult"
    },
    "GetLens" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLensResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLensResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLensRequest, GetLensResult>",
      "asyncReturnType" : "GetLensResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get an existing lens.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLensRequest",
        "variableName" : "getLensRequest",
        "variableType" : "GetLensRequest",
        "documentation" : "",
        "simpleType" : "GetLensRequest",
        "variableSetterType" : "GetLensRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLens",
      "operationName" : "GetLens",
      "returnType" : {
        "returnType" : "GetLensResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLensResult"
    },
    "GetLensReview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLensReviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLensReviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLensReviewRequest, GetLensReviewResult>",
      "asyncReturnType" : "GetLensReviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get lens review.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLensReviewRequest",
        "variableName" : "getLensReviewRequest",
        "variableType" : "GetLensReviewRequest",
        "documentation" : "<p>Input to get lens review.</p>",
        "simpleType" : "GetLensReviewRequest",
        "variableSetterType" : "GetLensReviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLensReview",
      "operationName" : "GetLensReview",
      "returnType" : {
        "returnType" : "GetLensReviewResult",
        "documentation" : "<p>Output of a get lens review call.</p>"
      },
      "syncReturnType" : "GetLensReviewResult"
    },
    "GetLensReviewReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLensReviewReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLensReviewReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLensReviewReportRequest, GetLensReviewReportResult>",
      "asyncReturnType" : "GetLensReviewReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get lens review report.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLensReviewReportRequest",
        "variableName" : "getLensReviewReportRequest",
        "variableType" : "GetLensReviewReportRequest",
        "documentation" : "<p>Input to get lens review report.</p>",
        "simpleType" : "GetLensReviewReportRequest",
        "variableSetterType" : "GetLensReviewReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLensReviewReport",
      "operationName" : "GetLensReviewReport",
      "returnType" : {
        "returnType" : "GetLensReviewReportResult",
        "documentation" : "<p>Output of a get lens review report call.</p>"
      },
      "syncReturnType" : "GetLensReviewReportResult"
    },
    "GetLensVersionDifference" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLensVersionDifferenceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLensVersionDifferenceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLensVersionDifferenceRequest, GetLensVersionDifferenceResult>",
      "asyncReturnType" : "GetLensVersionDifferenceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get lens version differences.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLensVersionDifferenceRequest",
        "variableName" : "getLensVersionDifferenceRequest",
        "variableType" : "GetLensVersionDifferenceRequest",
        "documentation" : "",
        "simpleType" : "GetLensVersionDifferenceRequest",
        "variableSetterType" : "GetLensVersionDifferenceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLensVersionDifference",
      "operationName" : "GetLensVersionDifference",
      "returnType" : {
        "returnType" : "GetLensVersionDifferenceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLensVersionDifferenceResult"
    },
    "GetMilestone" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMilestoneResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMilestoneResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMilestoneRequest, GetMilestoneResult>",
      "asyncReturnType" : "GetMilestoneResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a milestone for an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMilestoneRequest",
        "variableName" : "getMilestoneRequest",
        "variableType" : "GetMilestoneRequest",
        "documentation" : "<p>Input to get a milestone.</p>",
        "simpleType" : "GetMilestoneRequest",
        "variableSetterType" : "GetMilestoneRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMilestone",
      "operationName" : "GetMilestone",
      "returnType" : {
        "returnType" : "GetMilestoneResult",
        "documentation" : "<p>Output of a get milestone call.</p>"
      },
      "syncReturnType" : "GetMilestoneResult"
    },
    "GetWorkload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkloadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkloadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkloadRequest, GetWorkloadResult>",
      "asyncReturnType" : "GetWorkloadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkloadRequest",
        "variableName" : "getWorkloadRequest",
        "variableType" : "GetWorkloadRequest",
        "documentation" : "<p>Input to get a workload.</p>",
        "simpleType" : "GetWorkloadRequest",
        "variableSetterType" : "GetWorkloadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkload",
      "operationName" : "GetWorkload",
      "returnType" : {
        "returnType" : "GetWorkloadResult",
        "documentation" : "<p>Output of a get workload call.</p>"
      },
      "syncReturnType" : "GetWorkloadResult"
    },
    "ImportLens" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportLensResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportLensResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportLensRequest, ImportLensResult>",
      "asyncReturnType" : "ImportLensResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Import a new lens.</p> <p>The lens cannot be applied to workloads or shared with other Amazon Web Services accounts until it's published with <a>CreateLensVersion</a> </p> <p>Lenses are defined in JSON. For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-format-specification.html\">JSON format specification</a> in the <i>Well-Architected Tool User Guide</i>.</p> <p>A custom lens cannot exceed 500 KB in size.</p> <note> <p> <b>Disclaimer</b> </p> <p>Do not include or gather personal identifiable information (PII) of end users or other identifiable individuals in or via your custom lenses. If your custom lens or those shared with you and used in your account do include or collect PII you are responsible for: ensuring that the included PII is processed in accordance with applicable law, providing adequate privacy notices, and obtaining necessary consents for processing such data.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The user has reached their resource quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportLensRequest",
        "variableName" : "importLensRequest",
        "variableType" : "ImportLensRequest",
        "documentation" : "",
        "simpleType" : "ImportLensRequest",
        "variableSetterType" : "ImportLensRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importLens",
      "operationName" : "ImportLens",
      "returnType" : {
        "returnType" : "ImportLensResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportLensResult"
    },
    "ListAnswers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnswersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnswersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnswersRequest, ListAnswersResult>",
      "asyncReturnType" : "ListAnswersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List of answers.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnswersRequest",
        "variableName" : "listAnswersRequest",
        "variableType" : "ListAnswersRequest",
        "documentation" : "<p>Input to list answers.</p>",
        "simpleType" : "ListAnswersRequest",
        "variableSetterType" : "ListAnswersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnswers",
      "operationName" : "ListAnswers",
      "returnType" : {
        "returnType" : "ListAnswersResult",
        "documentation" : "<p>Output of a list answers call.</p>"
      },
      "syncReturnType" : "ListAnswersResult"
    },
    "ListCheckDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCheckDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCheckDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCheckDetailsRequest, ListCheckDetailsResult>",
      "asyncReturnType" : "ListCheckDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List of Trusted Advisor check details by account related to the workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCheckDetailsRequest",
        "variableName" : "listCheckDetailsRequest",
        "variableType" : "ListCheckDetailsRequest",
        "documentation" : "",
        "simpleType" : "ListCheckDetailsRequest",
        "variableSetterType" : "ListCheckDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCheckDetails",
      "operationName" : "ListCheckDetails",
      "returnType" : {
        "returnType" : "ListCheckDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCheckDetailsResult"
    },
    "ListCheckSummaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCheckSummariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCheckSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCheckSummariesRequest, ListCheckSummariesResult>",
      "asyncReturnType" : "ListCheckSummariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List of Trusted Advisor checks summarized for all accounts related to the workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCheckSummariesRequest",
        "variableName" : "listCheckSummariesRequest",
        "variableType" : "ListCheckSummariesRequest",
        "documentation" : "",
        "simpleType" : "ListCheckSummariesRequest",
        "variableSetterType" : "ListCheckSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCheckSummaries",
      "operationName" : "ListCheckSummaries",
      "returnType" : {
        "returnType" : "ListCheckSummariesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCheckSummariesResult"
    },
    "ListLensReviewImprovements" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLensReviewImprovementsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLensReviewImprovementsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLensReviewImprovementsRequest, ListLensReviewImprovementsResult>",
      "asyncReturnType" : "ListLensReviewImprovementsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List lens review improvements.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLensReviewImprovementsRequest",
        "variableName" : "listLensReviewImprovementsRequest",
        "variableType" : "ListLensReviewImprovementsRequest",
        "documentation" : "<p>Input to list lens review improvements.</p>",
        "simpleType" : "ListLensReviewImprovementsRequest",
        "variableSetterType" : "ListLensReviewImprovementsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLensReviewImprovements",
      "operationName" : "ListLensReviewImprovements",
      "returnType" : {
        "returnType" : "ListLensReviewImprovementsResult",
        "documentation" : "<p>Output of a list lens review improvements call.</p>"
      },
      "syncReturnType" : "ListLensReviewImprovementsResult"
    },
    "ListLensReviews" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLensReviewsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLensReviewsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLensReviewsRequest, ListLensReviewsResult>",
      "asyncReturnType" : "ListLensReviewsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List lens reviews.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLensReviewsRequest",
        "variableName" : "listLensReviewsRequest",
        "variableType" : "ListLensReviewsRequest",
        "documentation" : "<p>Input to list lens reviews.</p>",
        "simpleType" : "ListLensReviewsRequest",
        "variableSetterType" : "ListLensReviewsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLensReviews",
      "operationName" : "ListLensReviews",
      "returnType" : {
        "returnType" : "ListLensReviewsResult",
        "documentation" : "<p>Output of a list lens reviews call.</p>"
      },
      "syncReturnType" : "ListLensReviewsResult"
    },
    "ListLensShares" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLensSharesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLensSharesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLensSharesRequest, ListLensSharesResult>",
      "asyncReturnType" : "ListLensSharesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the lens shares associated with the lens.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLensSharesRequest",
        "variableName" : "listLensSharesRequest",
        "variableType" : "ListLensSharesRequest",
        "documentation" : "",
        "simpleType" : "ListLensSharesRequest",
        "variableSetterType" : "ListLensSharesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLensShares",
      "operationName" : "ListLensShares",
      "returnType" : {
        "returnType" : "ListLensSharesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLensSharesResult"
    },
    "ListLenses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLensesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLensesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLensesRequest, ListLensesResult>",
      "asyncReturnType" : "ListLensesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the available lenses.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLensesRequest",
        "variableName" : "listLensesRequest",
        "variableType" : "ListLensesRequest",
        "documentation" : "<p>Input to list lenses.</p>",
        "simpleType" : "ListLensesRequest",
        "variableSetterType" : "ListLensesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLenses",
      "operationName" : "ListLenses",
      "returnType" : {
        "returnType" : "ListLensesResult",
        "documentation" : "<p>Output of a list lenses call.</p>"
      },
      "syncReturnType" : "ListLensesResult"
    },
    "ListMilestones" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMilestonesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMilestonesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMilestonesRequest, ListMilestonesResult>",
      "asyncReturnType" : "ListMilestonesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all milestones for an existing workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMilestonesRequest",
        "variableName" : "listMilestonesRequest",
        "variableType" : "ListMilestonesRequest",
        "documentation" : "<p>Input to list all milestones for a workload.</p>",
        "simpleType" : "ListMilestonesRequest",
        "variableSetterType" : "ListMilestonesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMilestones",
      "operationName" : "ListMilestones",
      "returnType" : {
        "returnType" : "ListMilestonesResult",
        "documentation" : "<p>Output of a list milestones call.</p>"
      },
      "syncReturnType" : "ListMilestonesResult"
    },
    "ListNotifications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNotificationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNotificationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNotificationsRequest, ListNotificationsResult>",
      "asyncReturnType" : "ListNotificationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List lens notifications.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNotificationsRequest",
        "variableName" : "listNotificationsRequest",
        "variableType" : "ListNotificationsRequest",
        "documentation" : "",
        "simpleType" : "ListNotificationsRequest",
        "variableSetterType" : "ListNotificationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNotifications",
      "operationName" : "ListNotifications",
      "returnType" : {
        "returnType" : "ListNotificationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNotificationsResult"
    },
    "ListShareInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListShareInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListShareInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListShareInvitationsRequest, ListShareInvitationsResult>",
      "asyncReturnType" : "ListShareInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the workload invitations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListShareInvitationsRequest",
        "variableName" : "listShareInvitationsRequest",
        "variableType" : "ListShareInvitationsRequest",
        "documentation" : "<p>Input for List Share Invitations</p>",
        "simpleType" : "ListShareInvitationsRequest",
        "variableSetterType" : "ListShareInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listShareInvitations",
      "operationName" : "ListShareInvitations",
      "returnType" : {
        "returnType" : "ListShareInvitationsResult",
        "documentation" : "<p>Input for List Share Invitations</p>"
      },
      "syncReturnType" : "ListShareInvitationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the tags for a resource.</p> <note> <p>The WorkloadArn parameter can be either a workload ARN or a custom lens ARN.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListWorkloadShares" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkloadSharesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkloadSharesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkloadSharesRequest, ListWorkloadSharesResult>",
      "asyncReturnType" : "ListWorkloadSharesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the workload shares associated with the workload.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkloadSharesRequest",
        "variableName" : "listWorkloadSharesRequest",
        "variableType" : "ListWorkloadSharesRequest",
        "documentation" : "<p>Input for List Workload Share</p>",
        "simpleType" : "ListWorkloadSharesRequest",
        "variableSetterType" : "ListWorkloadSharesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkloadShares",
      "operationName" : "ListWorkloadShares",
      "returnType" : {
        "returnType" : "ListWorkloadSharesResult",
        "documentation" : "<p>Input for List Workload Share</p>"
      },
      "syncReturnType" : "ListWorkloadSharesResult"
    },
    "ListWorkloads" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkloadsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkloadsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkloadsRequest, ListWorkloadsResult>",
      "asyncReturnType" : "ListWorkloadsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List workloads. Paginated.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkloadsRequest",
        "variableName" : "listWorkloadsRequest",
        "variableType" : "ListWorkloadsRequest",
        "documentation" : "<p>Input to list all workloads.</p>",
        "simpleType" : "ListWorkloadsRequest",
        "variableSetterType" : "ListWorkloadsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkloads",
      "operationName" : "ListWorkloads",
      "returnType" : {
        "returnType" : "ListWorkloadsResult",
        "documentation" : "<p>Output of a list workloads call.</p>"
      },
      "syncReturnType" : "ListWorkloadsResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to the specified resource.</p> <note> <p>The WorkloadArn parameter can be either a workload ARN or a custom lens ARN.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes specified tags from a resource.</p> <note> <p>The WorkloadArn parameter can be either a workload ARN or a custom lens ARN.</p> </note> <p>To specify multiple tags, use separate <b>tagKeys</b> parameters, for example:</p> <p> <code>DELETE /tags/WorkloadArn?tagKeys=key1&amp;tagKeys=key2</code> </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAnswer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAnswerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAnswerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAnswerRequest, UpdateAnswerResult>",
      "asyncReturnType" : "UpdateAnswerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the answer to a specific question in a workload review.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAnswerRequest",
        "variableName" : "updateAnswerRequest",
        "variableType" : "UpdateAnswerRequest",
        "documentation" : "<p>Input to update answer.</p>",
        "simpleType" : "UpdateAnswerRequest",
        "variableSetterType" : "UpdateAnswerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAnswer",
      "operationName" : "UpdateAnswer",
      "returnType" : {
        "returnType" : "UpdateAnswerResult",
        "documentation" : "<p>Output of a update answer call.</p>"
      },
      "syncReturnType" : "UpdateAnswerResult"
    },
    "UpdateGlobalSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGlobalSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGlobalSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGlobalSettingsRequest, UpdateGlobalSettingsResult>",
      "asyncReturnType" : "UpdateGlobalSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates whether the Amazon Web Services account is opted into organization sharing features.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGlobalSettingsRequest",
        "variableName" : "updateGlobalSettingsRequest",
        "variableType" : "UpdateGlobalSettingsRequest",
        "documentation" : "",
        "simpleType" : "UpdateGlobalSettingsRequest",
        "variableSetterType" : "UpdateGlobalSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGlobalSettings",
      "operationName" : "UpdateGlobalSettings",
      "returnType" : {
        "returnType" : "UpdateGlobalSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGlobalSettingsResult"
    },
    "UpdateLensReview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLensReviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLensReviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLensReviewRequest, UpdateLensReviewResult>",
      "asyncReturnType" : "UpdateLensReviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update lens review.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLensReviewRequest",
        "variableName" : "updateLensReviewRequest",
        "variableType" : "UpdateLensReviewRequest",
        "documentation" : "<p>Input for update lens review.</p>",
        "simpleType" : "UpdateLensReviewRequest",
        "variableSetterType" : "UpdateLensReviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLensReview",
      "operationName" : "UpdateLensReview",
      "returnType" : {
        "returnType" : "UpdateLensReviewResult",
        "documentation" : "<p>Output of a update lens review call.</p>"
      },
      "syncReturnType" : "UpdateLensReviewResult"
    },
    "UpdateShareInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateShareInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateShareInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateShareInvitationRequest, UpdateShareInvitationResult>",
      "asyncReturnType" : "UpdateShareInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a workload or custom lens share invitation.</p> <note> <p>This API operation can be called independently of any resource. Previous documentation implied that a workload ARN must be specified.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is a problem with the Well-Architected Tool API service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
[...]
