{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-10-19",
    "asyncClient" : "AmazonConnectWisdomAsyncClient",
    "asyncClientBuilderClassName" : "AmazonConnectWisdomAsyncClientBuilder",
    "asyncInterface" : "AmazonConnectWisdomAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonConnectWisdomModuleInjector",
    "defaultEndpoint" : "wisdom.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "wisdom.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Connect Wisdom delivers agents the information they need to solve customer issues as they're actively speaking with customers. Agents can search across connected repositories from within their agent desktop to find answers quickly. Use the Amazon Connect Wisdom APIs to create an assistant and a knowledge base, for example, or manage content by uploading custom files.</p>",
    "endpointPrefix" : "wisdom",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.connectwisdom",
    "packagePath" : "com/amazonaws/services/connectwisdom",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Connect Wisdom Service",
    "serviceId" : "Wisdom",
    "serviceName" : "Amazon Connect Wisdom Service",
    "signingName" : "wisdom",
    "smokeTestsPackageName" : "com.amazonaws.services.connectwisdom.smoketests",
    "syncClient" : "AmazonConnectWisdomClient",
    "syncClientBuilderClassName" : "AmazonConnectWisdomClientBuilder",
    "syncInterface" : "AmazonConnectWisdom",
    "uid" : "wisdom-2020-10-19",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAssistant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssistantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssistantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssistantRequest, CreateAssistantResult>",
      "asyncReturnType" : "CreateAssistantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Connect Wisdom assistant.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. For example, if you're using a <code>Create</code> API (such as <code>CreateAssistant</code>) that accepts name, a conflicting resource (usually with the same name) is being created or mutated.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You've exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use service quotas to request a service quota increase.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAssistantRequest",
        "variableName" : "createAssistantRequest",
        "variableType" : "CreateAssistantRequest",
        "documentation" : "",
        "simpleType" : "CreateAssistantRequest",
        "variableSetterType" : "CreateAssistantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAssistant",
      "operationName" : "CreateAssistant",
      "returnType" : {
        "returnType" : "CreateAssistantResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAssistantResult"
    },
    "CreateAssistantAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssistantAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssistantAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssistantAssociationRequest, CreateAssistantAssociationResult>",
      "asyncReturnType" : "CreateAssistantAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an association between an Amazon Connect Wisdom assistant and another resource. Currently, the only supported association is with a knowledge base. An assistant can have only a single association.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. For example, if you're using a <code>Create</code> API (such as <code>CreateAssistant</code>) that accepts name, a conflicting resource (usually with the same name) is being created or mutated.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You've exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use service quotas to request a service quota increase.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAssistantAssociationRequest",
        "variableName" : "createAssistantAssociationRequest",
        "variableType" : "CreateAssistantAssociationRequest",
        "documentation" : "",
        "simpleType" : "CreateAssistantAssociationRequest",
        "variableSetterType" : "CreateAssistantAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAssistantAssociation",
      "operationName" : "CreateAssistantAssociation",
      "returnType" : {
        "returnType" : "CreateAssistantAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAssistantAssociationResult"
    },
    "CreateContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateContentRequest, CreateContentResult>",
      "asyncReturnType" : "CreateContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates Wisdom content. Before to calling this API, use <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_StartContentUpload.html\">StartContentUpload</a> to upload an asset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. For example, if you're using a <code>Create</code> API (such as <code>CreateAssistant</code>) that accepts name, a conflicting resource (usually with the same name) is being created or mutated.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You've exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use service quotas to request a service quota increase.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateContentRequest",
        "variableName" : "createContentRequest",
        "variableType" : "CreateContentRequest",
        "documentation" : "",
        "simpleType" : "CreateContentRequest",
        "variableSetterType" : "CreateContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createContent",
      "operationName" : "CreateContent",
      "returnType" : {
        "returnType" : "CreateContentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateContentResult"
    },
    "CreateKnowledgeBase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKnowledgeBaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKnowledgeBaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKnowledgeBaseRequest, CreateKnowledgeBaseResult>",
      "asyncReturnType" : "CreateKnowledgeBaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a knowledge base.</p> <note> <p>When using this API, you cannot reuse <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/Welcome.html\">Amazon AppIntegrations</a> DataIntegrations with external knowledge bases such as Salesforce and ServiceNow. If you do, you'll get an <code>InvalidRequestException</code> error. </p> <pre><code> &lt;p&gt;For example, you're programmatically managing your external knowledge base, and you want to add or remove one of the fields that is being ingested from Salesforce. Do the following:&lt;/p&gt; &lt;ol&gt; &lt;li&gt; &lt;p&gt;Call &lt;a href=&quot;https://docs.aws.amazon.com/wisdom/latest/APIReference/API_DeleteKnowledgeBase.html&quot;&gt;DeleteKnowledgeBase&lt;/a&gt;.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;Call &lt;a href=&quot;https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_DeleteDataIntegration.html&quot;&gt;DeleteDataIntegration&lt;/a&gt;.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;Call &lt;a href=&quot;https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html&quot;&gt;CreateDataIntegration&lt;/a&gt; to recreate the DataIntegration or a create different one.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;Call CreateKnowledgeBase.&lt;/p&gt; &lt;/li&gt; &lt;/ol&gt; &lt;/note&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. For example, if you're using a <code>Create</code> API (such as <code>CreateAssistant</code>) that accepts name, a conflicting resource (usually with the same name) is being created or mutated.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You've exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use service quotas to request a service quota increase.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateKnowledgeBaseRequest",
        "variableName" : "createKnowledgeBaseRequest",
        "variableType" : "CreateKnowledgeBaseRequest",
        "documentation" : "",
        "simpleType" : "CreateKnowledgeBaseRequest",
        "variableSetterType" : "CreateKnowledgeBaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKnowledgeBase",
      "operationName" : "CreateKnowledgeBase",
      "returnType" : {
        "returnType" : "CreateKnowledgeBaseResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKnowledgeBaseResult"
    },
    "CreateSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSessionRequest, CreateSessionResult>",
      "asyncReturnType" : "CreateSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a session. A session is a contextual container used for generating recommendations. Amazon Connect creates a new Wisdom session for each contact on which Wisdom is enabled.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. For example, if you're using a <code>Create</code> API (such as <code>CreateAssistant</code>) that accepts name, a conflicting resource (usually with the same name) is being created or mutated.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSessionRequest",
        "variableName" : "createSessionRequest",
        "variableType" : "CreateSessionRequest",
        "documentation" : "",
        "simpleType" : "CreateSessionRequest",
        "variableSetterType" : "CreateSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSession",
      "operationName" : "CreateSession",
      "returnType" : {
        "returnType" : "CreateSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSessionResult"
    },
    "DeleteAssistant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssistantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssistantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssistantRequest, DeleteAssistantResult>",
      "asyncReturnType" : "DeleteAssistantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an assistant.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAssistantRequest",
        "variableName" : "deleteAssistantRequest",
        "variableType" : "DeleteAssistantRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssistantRequest",
        "variableSetterType" : "DeleteAssistantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAssistant",
      "operationName" : "DeleteAssistant",
      "returnType" : {
        "returnType" : "DeleteAssistantResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAssistantResult"
    },
    "DeleteAssistantAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssistantAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssistantAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssistantAssociationRequest, DeleteAssistantAssociationResult>",
      "asyncReturnType" : "DeleteAssistantAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an assistant association.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAssistantAssociationRequest",
        "variableName" : "deleteAssistantAssociationRequest",
        "variableType" : "DeleteAssistantAssociationRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssistantAssociationRequest",
        "variableSetterType" : "DeleteAssistantAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAssistantAssociation",
      "operationName" : "DeleteAssistantAssociation",
      "returnType" : {
        "returnType" : "DeleteAssistantAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAssistantAssociationResult"
    },
    "DeleteContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteContentRequest, DeleteContentResult>",
      "asyncReturnType" : "DeleteContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the content.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteContentRequest",
        "variableName" : "deleteContentRequest",
        "variableType" : "DeleteContentRequest",
        "documentation" : "",
        "simpleType" : "DeleteContentRequest",
        "variableSetterType" : "DeleteContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteContent",
      "operationName" : "DeleteContent",
      "returnType" : {
        "returnType" : "DeleteContentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteContentResult"
    },
    "DeleteKnowledgeBase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteKnowledgeBaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteKnowledgeBaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteKnowledgeBaseRequest, DeleteKnowledgeBaseResult>",
      "asyncReturnType" : "DeleteKnowledgeBaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the knowledge base.</p> <note> <p>When you use this API to delete an external knowledge base such as Salesforce or ServiceNow, you must also delete the <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/Welcome.html\">Amazon AppIntegrations</a> DataIntegration. This is because you can't reuse the DataIntegration after it's been associated with an external knowledge base. However, you can delete and recreate it. See <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_DeleteDataIntegration.html\">DeleteDataIntegration</a> and <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> in the <i>Amazon AppIntegrations API Reference</i>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. For example, if you're using a <code>Create</code> API (such as <code>CreateAssistant</code>) that accepts name, a conflicting resource (usually with the same name) is being created or mutated.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKnowledgeBaseRequest",
        "variableName" : "deleteKnowledgeBaseRequest",
        "variableType" : "DeleteKnowledgeBaseRequest",
        "documentation" : "",
        "simpleType" : "DeleteKnowledgeBaseRequest",
        "variableSetterType" : "DeleteKnowledgeBaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteKnowledgeBase",
      "operationName" : "DeleteKnowledgeBase",
      "returnType" : {
        "returnType" : "DeleteKnowledgeBaseResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteKnowledgeBaseResult"
    },
    "GetAssistant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssistantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssistantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssistantRequest, GetAssistantResult>",
      "asyncReturnType" : "GetAssistantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an assistant.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssistantRequest",
        "variableName" : "getAssistantRequest",
        "variableType" : "GetAssistantRequest",
        "documentation" : "",
        "simpleType" : "GetAssistantRequest",
        "variableSetterType" : "GetAssistantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssistant",
      "operationName" : "GetAssistant",
      "returnType" : {
        "returnType" : "GetAssistantResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssistantResult"
    },
    "GetAssistantAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssistantAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssistantAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssistantAssociationRequest, GetAssistantAssociationResult>",
      "asyncReturnType" : "GetAssistantAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about an assistant association.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssistantAssociationRequest",
        "variableName" : "getAssistantAssociationRequest",
        "variableType" : "GetAssistantAssociationRequest",
        "documentation" : "",
        "simpleType" : "GetAssistantAssociationRequest",
        "variableSetterType" : "GetAssistantAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssistantAssociation",
      "operationName" : "GetAssistantAssociation",
      "returnType" : {
        "returnType" : "GetAssistantAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssistantAssociationResult"
    },
    "GetContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContentRequest, GetContentResult>",
      "asyncReturnType" : "GetContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves content, including a pre-signed URL to download the content.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContentRequest",
        "variableName" : "getContentRequest",
        "variableType" : "GetContentRequest",
        "documentation" : "",
        "simpleType" : "GetContentRequest",
        "variableSetterType" : "GetContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContent",
      "operationName" : "GetContent",
      "returnType" : {
        "returnType" : "GetContentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContentResult"
    },
    "GetContentSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContentSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContentSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContentSummaryRequest, GetContentSummaryResult>",
      "asyncReturnType" : "GetContentSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves summary information about the content.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContentSummaryRequest",
        "variableName" : "getContentSummaryRequest",
        "variableType" : "GetContentSummaryRequest",
        "documentation" : "",
        "simpleType" : "GetContentSummaryRequest",
        "variableSetterType" : "GetContentSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContentSummary",
      "operationName" : "GetContentSummary",
      "returnType" : {
        "returnType" : "GetContentSummaryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContentSummaryResult"
    },
    "GetKnowledgeBase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKnowledgeBaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKnowledgeBaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKnowledgeBaseRequest, GetKnowledgeBaseResult>",
      "asyncReturnType" : "GetKnowledgeBaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about the knowledge base.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKnowledgeBaseRequest",
        "variableName" : "getKnowledgeBaseRequest",
        "variableType" : "GetKnowledgeBaseRequest",
        "documentation" : "",
        "simpleType" : "GetKnowledgeBaseRequest",
        "variableSetterType" : "GetKnowledgeBaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKnowledgeBase",
      "operationName" : "GetKnowledgeBase",
      "returnType" : {
        "returnType" : "GetKnowledgeBaseResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKnowledgeBaseResult"
    },
    "GetRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecommendationsRequest, GetRecommendationsResult>",
      "asyncReturnType" : "GetRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves recommendations for the specified session. To avoid retrieving the same recommendations in subsequent calls, use <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_NotifyRecommendationsReceived.html\">NotifyRecommendationsReceived</a>. This API supports long-polling behavior with the <code>waitTimeSeconds</code> parameter. Short poll is the default behavior and only returns recommendations already available. To perform a manual query against an assistant, use <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_QueryAssistant.html\">QueryAssistant</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecommendationsRequest",
        "variableName" : "getRecommendationsRequest",
        "variableType" : "GetRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "GetRecommendationsRequest",
        "variableSetterType" : "GetRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecommendations",
      "operationName" : "GetRecommendations",
      "returnType" : {
        "returnType" : "GetRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRecommendationsResult"
    },
    "GetSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSessionRequest, GetSessionResult>",
      "asyncReturnType" : "GetSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information for a specified session.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSessionRequest",
        "variableName" : "getSessionRequest",
        "variableType" : "GetSessionRequest",
        "documentation" : "",
        "simpleType" : "GetSessionRequest",
        "variableSetterType" : "GetSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSession",
      "operationName" : "GetSession",
      "returnType" : {
        "returnType" : "GetSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSessionResult"
    },
    "ListAssistantAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssistantAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssistantAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssistantAssociationsRequest, ListAssistantAssociationsResult>",
      "asyncReturnType" : "ListAssistantAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about assistant associations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssistantAssociationsRequest",
        "variableName" : "listAssistantAssociationsRequest",
        "variableType" : "ListAssistantAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListAssistantAssociationsRequest",
        "variableSetterType" : "ListAssistantAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssistantAssociations",
      "operationName" : "ListAssistantAssociations",
      "returnType" : {
        "returnType" : "ListAssistantAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssistantAssociationsResult"
    },
    "ListAssistants" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssistantsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssistantsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssistantsRequest, ListAssistantsResult>",
      "asyncReturnType" : "ListAssistantsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about assistants.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAssistantsRequest",
        "variableName" : "listAssistantsRequest",
        "variableType" : "ListAssistantsRequest",
        "documentation" : "",
        "simpleType" : "ListAssistantsRequest",
        "variableSetterType" : "ListAssistantsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssistants",
      "operationName" : "ListAssistants",
      "returnType" : {
        "returnType" : "ListAssistantsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssistantsResult"
    },
    "ListContents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListContentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListContentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListContentsRequest, ListContentsResult>",
      "asyncReturnType" : "ListContentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the content.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListContentsRequest",
        "variableName" : "listContentsRequest",
        "variableType" : "ListContentsRequest",
        "documentation" : "",
        "simpleType" : "ListContentsRequest",
        "variableSetterType" : "ListContentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listContents",
      "operationName" : "ListContents",
      "returnType" : {
        "returnType" : "ListContentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListContentsResult"
    },
    "ListKnowledgeBases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKnowledgeBasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKnowledgeBasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKnowledgeBasesRequest, ListKnowledgeBasesResult>",
      "asyncReturnType" : "ListKnowledgeBasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the knowledge bases.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKnowledgeBasesRequest",
        "variableName" : "listKnowledgeBasesRequest",
        "variableType" : "ListKnowledgeBasesRequest",
        "documentation" : "",
        "simpleType" : "ListKnowledgeBasesRequest",
        "variableSetterType" : "ListKnowledgeBasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKnowledgeBases",
      "operationName" : "ListKnowledgeBases",
      "returnType" : {
        "returnType" : "ListKnowledgeBasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKnowledgeBasesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "NotifyRecommendationsReceived" : {
      "asyncCallableType" : "java.util.concurrent.Callable<NotifyRecommendationsReceivedResult>",
      "asyncFutureType" : "java.util.concurrent.Future<NotifyRecommendationsReceivedResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<NotifyRecommendationsReceivedRequest, NotifyRecommendationsReceivedResult>",
      "asyncReturnType" : "NotifyRecommendationsReceivedResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified recommendations from the specified assistant's queue of newly available recommendations. You can use this API in conjunction with <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_GetRecommendations.html\">GetRecommendations</a> and a <code>waitTimeSeconds</code> input for long-polling behavior and avoiding duplicate recommendations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "NotifyRecommendationsReceivedRequest",
        "variableName" : "notifyRecommendationsReceivedRequest",
        "variableType" : "NotifyRecommendationsReceivedRequest",
        "documentation" : "",
        "simpleType" : "NotifyRecommendationsReceivedRequest",
        "variableSetterType" : "NotifyRecommendationsReceivedRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "notifyRecommendationsReceived",
      "operationName" : "NotifyRecommendationsReceived",
      "returnType" : {
        "returnType" : "NotifyRecommendationsReceivedResult",
        "documentation" : null
      },
      "syncReturnType" : "NotifyRecommendationsReceivedResult"
    },
    "QueryAssistant" : {
      "asyncCallableType" : "java.util.concurrent.Callable<QueryAssistantResult>",
      "asyncFutureType" : "java.util.concurrent.Future<QueryAssistantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<QueryAssistantRequest, QueryAssistantResult>",
      "asyncReturnType" : "QueryAssistantResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Performs a manual search against the specified assistant. To retrieve recommendations for an assistant, use <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_GetRecommendations.html\">GetRecommendations</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "QueryAssistantRequest",
        "variableName" : "queryAssistantRequest",
        "variableType" : "QueryAssistantRequest",
        "documentation" : "",
        "simpleType" : "QueryAssistantRequest",
        "variableSetterType" : "QueryAssistantRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "queryAssistant",
      "operationName" : "QueryAssistant",
      "returnType" : {
        "returnType" : "QueryAssistantResult",
        "documentation" : null
      },
      "syncReturnType" : "QueryAssistantResult"
    },
    "RemoveKnowledgeBaseTemplateUri" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveKnowledgeBaseTemplateUriResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveKnowledgeBaseTemplateUriResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveKnowledgeBaseTemplateUriRequest, RemoveKnowledgeBaseTemplateUriResult>",
      "asyncReturnType" : "RemoveKnowledgeBaseTemplateUriResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a URI template from a knowledge base.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveKnowledgeBaseTemplateUriRequest",
        "variableName" : "removeKnowledgeBaseTemplateUriRequest",
        "variableType" : "RemoveKnowledgeBaseTemplateUriRequest",
        "documentation" : "",
        "simpleType" : "RemoveKnowledgeBaseTemplateUriRequest",
        "variableSetterType" : "RemoveKnowledgeBaseTemplateUriRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeKnowledgeBaseTemplateUri",
      "operationName" : "RemoveKnowledgeBaseTemplateUri",
      "returnType" : {
        "returnType" : "RemoveKnowledgeBaseTemplateUriResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveKnowledgeBaseTemplateUriResult"
    },
    "SearchContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchContentRequest, SearchContentResult>",
      "asyncReturnType" : "SearchContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for content in a specified knowledge base. Can be used to get a specific content resource by its name.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchContentRequest",
        "variableName" : "searchContentRequest",
        "variableType" : "SearchContentRequest",
        "documentation" : "",
        "simpleType" : "SearchContentRequest",
        "variableSetterType" : "SearchContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchContent",
      "operationName" : "SearchContent",
      "returnType" : {
        "returnType" : "SearchContentResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchContentResult"
    },
    "SearchSessions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchSessionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchSessionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchSessionsRequest, SearchSessionsResult>",
      "asyncReturnType" : "SearchSessionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for sessions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchSessionsRequest",
        "variableName" : "searchSessionsRequest",
        "variableType" : "SearchSessionsRequest",
        "documentation" : "",
        "simpleType" : "SearchSessionsRequest",
        "variableSetterType" : "SearchSessionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchSessions",
      "operationName" : "SearchSessions",
      "returnType" : {
        "returnType" : "SearchSessionsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchSessionsResult"
    },
    "StartContentUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartContentUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartContentUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartContentUploadRequest, StartContentUploadResult>",
      "asyncReturnType" : "StartContentUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a URL to upload content to a knowledge base. To upload content, first make a PUT request to the returned URL with your file, making sure to include the required headers. Then use <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_CreateContent.html\">CreateContent</a> to finalize the content creation process or <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_UpdateContent.html\">UpdateContent</a> to modify an existing resource. You can only upload content to a knowledge base of type CUSTOM.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartContentUploadRequest",
        "variableName" : "startContentUploadRequest",
        "variableType" : "StartContentUploadRequest",
        "documentation" : "",
        "simpleType" : "StartContentUploadRequest",
        "variableSetterType" : "StartContentUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startContentUpload",
      "operationName" : "StartContentUpload",
      "returnType" : {
        "returnType" : "StartContentUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "StartContentUploadResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>Amazon Connect Wisdom throws this exception if you have too many tags in your tag set.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateContentRequest, UpdateContentResult>",
      "asyncReturnType" : "UpdateContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates information about the content.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>The provided <code>revisionId</code> does not match, indicating the content has been modified since it was last read.</p>",
        "httpStatusCode" : 412
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateContentRequest",
        "variableName" : "updateContentRequest",
        "variableType" : "UpdateContentRequest",
        "documentation" : "",
        "simpleType" : "UpdateContentRequest",
        "variableSetterType" : "UpdateContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateContent",
      "operationName" : "UpdateContent",
      "returnType" : {
        "returnType" : "UpdateContentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateContentResult"
    },
    "UpdateKnowledgeBaseTemplateUri" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateKnowledgeBaseTemplateUriResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateKnowledgeBaseTemplateUriResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateKnowledgeBaseTemplateUriRequest, UpdateKnowledgeBaseTemplateUriResult>",
      "asyncReturnType" : "UpdateKnowledgeBaseTemplateUriResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the template URI of a knowledge base. This is only supported for knowledge bases of type EXTERNAL. Include a single variable in <code>${variable}</code> format; this interpolated by Wisdom using ingested content. For example, if you ingest a Salesforce article, it has an <code>Id</code> value, and you can set the template URI to <code>https://myInstanceName.lightning.force.com/lightning/r/Knowledge__kav/*${Id}*&#47;view</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by a service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateKnowledgeBaseTemplateUriRequest",
        "variableName" : "updateKnowledgeBaseTemplateUriRequest",
        "variableType" : "UpdateKnowledgeBaseTemplateUriRequest",
        "documentation" : "",
        "simpleType" : "UpdateKnowledgeBaseTemplateUriRequest",
        "variableSetterType" : "UpdateKnowledgeBaseTemplateUriRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateKnowledgeBaseTemplateUri",
      "operationName" : "UpdateKnowledgeBaseTemplateUri",
      "returnType" : {
        "returnType" : "UpdateKnowledgeBaseTemplateUriResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateKnowledgeBaseTemplateUriResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.connectwisdom.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.connectwisdom.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AppIntegrationsConfiguration" : {
      "c2jName" : "AppIntegrationsConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Configuration information for Amazon AppIntegrations to automatically ingest content.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.connectwisdom.model.AppIntegrationsConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "appIntegrationArn",
        "c2jShape" : "GenericArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n@param appIntegrationArn The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppIntegrationArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n@return The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.*/",
        "getterMethodName" : "getAppIntegrationArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "appIntegrationArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "appIntegrationArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppIntegrationArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n@param appIntegrationArn The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.*/",
        "setterMethodName" : "setAppIntegrationArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appIntegrationArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n@param appIntegrationArn The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appIntegrationArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "objectFields",
        "c2jShape" : "ObjectFieldsList",
        "deprecated" : false,
        "documentation" : "<p>The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations. </p>\n@param objectFields The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withObjectFields",
        "getterDocumentation" : "/**<p>The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations. </p>\n@return The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations.*/",
        "getterMethodName" : "getObjectFields",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "objectFields",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "objectFields",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "NonEmptyString",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ObjectFields",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations. </p>\n@param objectFields The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations.*/",
        "setterMethodName" : "setObjectFields",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "objectFields",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setObjectFields(java.util.Collection)} or {@link #withObjectFields(java.util.Collection)} if you want to override the existing values.</p>\n@param objectFields The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "objectFields",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations. </p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AppIntegrationArn" : {
          "c2jName" : "appIntegrationArn",
          "c2jShape" : "GenericArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n@param appIntegrationArn The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAppIntegrationArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n@return The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.*/",
          "getterMethodName" : "getAppIntegrationArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "appIntegrationArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "appIntegrationArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AppIntegrationArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n@param appIntegrationArn The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.*/",
          "setterMethodName" : "setAppIntegrationArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appIntegrationArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n@param appIntegrationArn The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "appIntegrationArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ObjectFields" : {
          "c2jName" : "objectFields",
          "c2jShape" : "ObjectFieldsList",
          "deprecated" : false,
          "documentation" : "<p>The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations. </p>\n@param objectFields The fields from the source that are made available to your agents in Wisdom. </p> <ul> <li> <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>, <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>, <code>PublishStatus</code>, and <code>IsDeleted</code>. </p> </li> <li> <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>, <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>, and <code>active</code>. </p> </li> </ul> <p>Make sure to include additional fields. These fields are indexed and used to source recommendations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withObjectFields",
[...]
