{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "ComputeType" : [ "Name" ],
      "Workspace" : [ "State" ],
      "WorkspaceConnectionStatus" : [ "ConnectionState" ],
      "WorkspaceDirectory" : [ "DirectoryType", "State" ],
      "WorkspaceProperties" : [ "RunningMode" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeWorkspaceBundles" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeWorkspaceDirectories" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeWorkspaces" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-04-08",
    "asyncClient" : "AmazonWorkspacesAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkspacesAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkspacesAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonWorkspacesModuleInjector",
    "defaultEndpoint" : "https://workspaces.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "workspaces.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon WorkSpaces Service</fullname> <p>Amazon WorkSpaces enables you to provision virtual, cloud-based Microsoft Windows desktops for your users.</p>",
    "endpointPrefix" : "workspaces",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.workspaces",
    "packagePath" : "com/amazonaws/services/workspaces",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkSpaces",
    "serviceName" : "Amazon WorkSpaces",
    "signingName" : "workspaces",
    "smokeTestsPackageName" : "com.amazonaws.services.workspaces.smoketests",
    "syncClient" : "AmazonWorkspacesClient",
    "syncClientBuilderClassName" : "AmazonWorkspacesClientBuilder",
    "syncInterface" : "AmazonWorkspaces",
    "uid" : "workspaces-2015-04-08",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, CreateTagsResult>",
      "asyncReturnType" : "CreateTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates tags for the specified WorkSpace.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTagsRequest",
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "documentation" : "",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTags",
      "operationName" : "CreateTags",
      "returnType" : {
        "returnType" : "CreateTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTagsResult"
    },
    "CreateWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspacesRequest, CreateWorkspacesResult>",
      "asyncReturnType" : "CreateWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates one or more WorkSpaces.</p> <p>This operation is asynchronous and returns before the WorkSpaces are created.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateWorkspacesRequest",
        "variableName" : "createWorkspacesRequest",
        "variableType" : "CreateWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkspacesRequest",
        "variableSetterType" : "CreateWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkspaces",
      "operationName" : "CreateWorkspaces",
      "returnType" : {
        "returnType" : "CreateWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkspacesResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified tags from a WorkSpace.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the tags for the specified WorkSpace.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DescribeWorkspaceBundles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceBundlesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceBundlesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceBundlesRequest, DescribeWorkspaceBundlesResult>",
      "asyncReturnType" : "DescribeWorkspaceBundlesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the available WorkSpace bundles.</p> <p>You can filter the results using either bundle ID or owner, but not both.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeWorkspaceBundlesRequest",
        "variableName" : "describeWorkspaceBundlesRequest",
        "variableType" : "DescribeWorkspaceBundlesRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspaceBundlesRequest",
        "variableSetterType" : "DescribeWorkspaceBundlesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaceBundles",
      "operationName" : "DescribeWorkspaceBundles",
      "returnType" : {
        "returnType" : "DescribeWorkspaceBundlesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspaceBundlesResult"
    },
    "DescribeWorkspaceDirectories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceDirectoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceDirectoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceDirectoriesRequest, DescribeWorkspaceDirectoriesResult>",
      "asyncReturnType" : "DescribeWorkspaceDirectoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the available AWS Directory Service directories that are registered with Amazon WorkSpaces.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeWorkspaceDirectoriesRequest",
        "variableName" : "describeWorkspaceDirectoriesRequest",
        "variableType" : "DescribeWorkspaceDirectoriesRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspaceDirectoriesRequest",
        "variableSetterType" : "DescribeWorkspaceDirectoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaceDirectories",
      "operationName" : "DescribeWorkspaceDirectories",
      "returnType" : {
        "returnType" : "DescribeWorkspaceDirectoriesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspaceDirectoriesResult"
    },
    "DescribeWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspacesRequest, DescribeWorkspacesResult>",
      "asyncReturnType" : "DescribeWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified WorkSpaces.</p> <p>You can filter the results using bundle ID, directory ID, or owner, but you can specify only one filter at a time.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeWorkspacesRequest",
        "variableName" : "describeWorkspacesRequest",
        "variableType" : "DescribeWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspacesRequest",
        "variableSetterType" : "DescribeWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaces",
      "operationName" : "DescribeWorkspaces",
      "returnType" : {
        "returnType" : "DescribeWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspacesResult"
    },
    "DescribeWorkspacesConnectionStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspacesConnectionStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspacesConnectionStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspacesConnectionStatusRequest, DescribeWorkspacesConnectionStatusResult>",
      "asyncReturnType" : "DescribeWorkspacesConnectionStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the connection status of the specified WorkSpaces.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeWorkspacesConnectionStatusRequest",
        "variableName" : "describeWorkspacesConnectionStatusRequest",
        "variableType" : "DescribeWorkspacesConnectionStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspacesConnectionStatusRequest",
        "variableSetterType" : "DescribeWorkspacesConnectionStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspacesConnectionStatus",
      "operationName" : "DescribeWorkspacesConnectionStatus",
      "returnType" : {
        "returnType" : "DescribeWorkspacesConnectionStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspacesConnectionStatusResult"
    },
    "ModifyWorkspaceProperties" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyWorkspacePropertiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyWorkspacePropertiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyWorkspacePropertiesRequest, ModifyWorkspacePropertiesResult>",
      "asyncReturnType" : "ModifyWorkspacePropertiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified WorkSpace properties.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The state of the WorkSpace is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationInProgressException",
        "documentation" : "<p>The properties of this WorkSpace are currently being modified. Try again in a moment.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedWorkspaceConfigurationException",
        "documentation" : "<p>The configuration of this WorkSpace is not supported for this operation. For more information, see the <a href=\"http://docs.aws.amazon.com/workspaces/latest/adminguide/\">Amazon WorkSpaces Administration Guide</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyWorkspacePropertiesRequest",
        "variableName" : "modifyWorkspacePropertiesRequest",
        "variableType" : "ModifyWorkspacePropertiesRequest",
        "documentation" : "",
        "simpleType" : "ModifyWorkspacePropertiesRequest",
        "variableSetterType" : "ModifyWorkspacePropertiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyWorkspaceProperties",
      "operationName" : "ModifyWorkspaceProperties",
      "returnType" : {
        "returnType" : "ModifyWorkspacePropertiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyWorkspacePropertiesResult"
    },
    "RebootWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebootWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebootWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebootWorkspacesRequest, RebootWorkspacesResult>",
      "asyncReturnType" : "RebootWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Reboots the specified WorkSpaces.</p> <p>You cannot reboot a WorkSpace unless its state is <code>AVAILABLE</code>, <code>IMPAIRED</code>, or <code>INOPERABLE</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have rebooted.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RebootWorkspacesRequest",
        "variableName" : "rebootWorkspacesRequest",
        "variableType" : "RebootWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "RebootWorkspacesRequest",
        "variableSetterType" : "RebootWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebootWorkspaces",
      "operationName" : "RebootWorkspaces",
      "returnType" : {
        "returnType" : "RebootWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "RebootWorkspacesResult"
    },
    "RebuildWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebuildWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebuildWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebuildWorkspacesRequest, RebuildWorkspacesResult>",
      "asyncReturnType" : "RebuildWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Rebuilds the specified WorkSpaces.</p> <p>You cannot rebuild a WorkSpace unless its state is <code>AVAILABLE</code> or <code>ERROR</code>.</p> <p>Rebuilding a WorkSpace is a potentially destructive action that can result in the loss of data. For more information, see <a href=\"http://docs.aws.amazon.com/workspaces/latest/adminguide/reset-workspace.html\">Rebuild a WorkSpace</a>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely rebuilt.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RebuildWorkspacesRequest",
        "variableName" : "rebuildWorkspacesRequest",
        "variableType" : "RebuildWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "RebuildWorkspacesRequest",
        "variableSetterType" : "RebuildWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebuildWorkspaces",
      "operationName" : "RebuildWorkspaces",
      "returnType" : {
        "returnType" : "RebuildWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "RebuildWorkspacesResult"
    },
    "StartWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartWorkspacesRequest, StartWorkspacesResult>",
      "asyncReturnType" : "StartWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified WorkSpaces.</p> <p>You cannot start a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>STOPPED</code>.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartWorkspacesRequest",
        "variableName" : "startWorkspacesRequest",
        "variableType" : "StartWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "StartWorkspacesRequest",
        "variableSetterType" : "StartWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startWorkspaces",
      "operationName" : "StartWorkspaces",
      "returnType" : {
        "returnType" : "StartWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "StartWorkspacesResult"
    },
    "StopWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopWorkspacesRequest, StopWorkspacesResult>",
      "asyncReturnType" : "StopWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Stops the specified WorkSpaces.</p> <p>You cannot stop a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>AVAILABLE</code>, <code>IMPAIRED</code>, <code>UNHEALTHY</code>, or <code>ERROR</code>.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopWorkspacesRequest",
        "variableName" : "stopWorkspacesRequest",
        "variableType" : "StopWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "StopWorkspacesRequest",
        "variableSetterType" : "StopWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopWorkspaces",
      "operationName" : "StopWorkspaces",
      "returnType" : {
        "returnType" : "StopWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "StopWorkspacesResult"
    },
    "TerminateWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateWorkspacesRequest, TerminateWorkspacesResult>",
      "asyncReturnType" : "TerminateWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Terminates the specified WorkSpaces.</p> <p>Terminating a WorkSpace is a permanent action and cannot be undone. The user's data is destroyed. If you need to archive any user data, contact Amazon Web Services before terminating the WorkSpace.</p> <p>You can terminate a WorkSpace that is in any state except <code>SUSPENDED</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely terminated.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TerminateWorkspacesRequest",
        "variableName" : "terminateWorkspacesRequest",
        "variableType" : "TerminateWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "TerminateWorkspacesRequest",
        "variableSetterType" : "TerminateWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateWorkspaces",
      "operationName" : "TerminateWorkspaces",
      "returnType" : {
        "returnType" : "TerminateWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateWorkspacesResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The user is not authorized to access a resource.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Compute" : {
      "c2jName" : "Compute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "VALUE",
        "value" : "VALUE"
      }, {
        "name" : "STANDARD",
        "value" : "STANDARD"
      }, {
        "name" : "PERFORMANCE",
        "value" : "PERFORMANCE"
      }, {
        "name" : "POWER",
        "value" : "POWER"
      }, {
        "name" : "GRAPHICS",
        "value" : "GRAPHICS"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Compute",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Compute",
        "variableName" : "compute",
        "variableType" : "Compute",
        "documentation" : null,
        "simpleType" : "Compute",
        "variableSetterType" : "Compute"
      },
      "wrapper" : false
    },
    "ComputeType" : {
      "c2jName" : "ComputeType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about the compute type.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "Compute",
        "deprecated" : false,
        "documentation" : "<p>The compute type.</p>",
        "enumType" : "Compute",
        "fluentSetterDocumentation" : "/**<p>The compute type.</p>\n@param name The compute type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The compute type.</p>\n@return The compute type.\n@see Compute*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The compute type.</p>\n@param name The compute type.\n@see Compute*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The compute type.</p>\n@param name The compute type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The compute type.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "Compute",
          "deprecated" : false,
          "documentation" : "<p>The compute type.</p>",
          "enumType" : "Compute",
          "fluentSetterDocumentation" : "/**<p>The compute type.</p>\n@param name The compute type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The compute type.</p>\n@return The compute type.\n@see Compute*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The compute type.</p>\n@param name The compute type.\n@see Compute*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The compute type.</p>\n@param name The compute type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Compute*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The compute type.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ComputeType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ComputeType",
        "variableName" : "computeType",
        "variableType" : "ComputeType",
        "documentation" : null,
        "simpleType" : "ComputeType",
        "variableSetterType" : "ComputeType"
      },
      "wrapper" : false
    },
    "ConnectionState" : {
      "c2jName" : "ConnectionState",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "CONNECTED",
        "value" : "CONNECTED"
      }, {
        "name" : "DISCONNECTED",
        "value" : "DISCONNECTED"
      }, {
        "name" : "UNKNOWN",
        "value" : "UNKNOWN"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConnectionState",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ConnectionState",
        "variableName" : "connectionState",
        "variableType" : "ConnectionState",
        "documentation" : null,
        "simpleType" : "ConnectionState",
        "variableSetterType" : "ConnectionState"
      },
      "wrapper" : false
    },
    "CreateTagsRequest" : {
      "c2jName" : "CreateTagsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateTags",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "WorkspacesService.CreateTags",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ResourceId",
        "c2jShape" : "NonEmptyString",
        "deprecated" : false,
        "documentation" : "<p>The ID of the resource.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the resource.</p>\n@param resourceId The ID of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceId",
        "getterDocumentation" : "/**<p>The ID of the resource.</p>\n@return The ID of the resource.*/",
        "getterMethodName" : "getResourceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceId",
        "setterDocumentation" : "/**<p>The ID of the resource.</p>\n@param resourceId The ID of the resource.*/",
        "setterMethodName" : "setResourceId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the resource.</p>\n@param resourceId The ID of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the resource.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The tags. Each resource can have a maximum of 50 tags.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 50 tags.</p>\n@param tags The tags. Each resource can have a maximum of 50 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 50 tags.</p>\n@return The tags. Each resource can have a maximum of 50 tags.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Tags",
        "setterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 50 tags.</p>\n@param tags The tags. Each resource can have a maximum of 50 tags.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 50 tags.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags. Each resource can have a maximum of 50 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The tags. Each resource can have a maximum of 50 tags.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceId" : {
          "c2jName" : "ResourceId",
          "c2jShape" : "NonEmptyString",
          "deprecated" : false,
          "documentation" : "<p>The ID of the resource.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the resource.</p>\n@param resourceId The ID of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceId",
          "getterDocumentation" : "/**<p>The ID of the resource.</p>\n@return The ID of the resource.*/",
          "getterMethodName" : "getResourceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceId",
          "setterDocumentation" : "/**<p>The ID of the resource.</p>\n@param resourceId The ID of the resource.*/",
          "setterMethodName" : "setResourceId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the resource.</p>\n@param resourceId The ID of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the resource.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "TagList",
          "deprecated" : false,
          "documentation" : "<p>The tags. Each resource can have a maximum of 50 tags.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 50 tags.</p>\n@param tags The tags. Each resource can have a maximum of 50 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 50 tags.</p>\n@return The tags. Each resource can have a maximum of 50 tags.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Tags",
          "setterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 50 tags.</p>\n@param tags The tags. Each resource can have a maximum of 50 tags.*/",
          "setterMethodName" : "setTags",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 50 tags.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags. Each resource can have a maximum of 50 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p>The tags. Each resource can have a maximum of 50 tags.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ResourceId", "Tags" ],
      "shapeName" : "CreateTagsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateTagsRequest",
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "documentation" : null,
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "wrapper" : false
    },
    "CreateTagsResult" : {
      "c2jName" : "CreateTagsResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateTagsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CreateTagsResult",
        "variableName" : "createTagsResult",
        "variableType" : "CreateTagsResult",
        "documentation" : null,
        "simpleType" : "CreateTagsResult",
        "variableSetterType" : "CreateTagsResult"
      },
      "wrapper" : false
    },
    "CreateWorkspacesRequest" : {
      "c2jName" : "CreateWorkspacesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateWorkspaces",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "WorkspacesService.CreateWorkspaces",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Workspaces",
        "c2jShape" : "WorkspaceRequestList",
        "deprecated" : false,
        "documentation" : "<p>Information about the WorkSpaces to create.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the WorkSpaces to create.</p>\n@param workspaces Information about the WorkSpaces to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withWorkspaces",
        "getterDocumentation" : "/**<p>Information about the WorkSpaces to create.</p>\n@return Information about the WorkSpaces to create.*/",
        "getterMethodName" : "getWorkspaces",
        "getterModel" : {
          "returnType" : "java.util.List<WorkspaceRequest>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Workspaces",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Workspaces",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "WorkspaceRequest",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "WorkspaceRequest",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "WorkspaceRequest",
              "variableName" : "member",
              "variableType" : "WorkspaceRequest",
              "documentation" : "",
              "simpleType" : "WorkspaceRequest",
              "variableSetterType" : "WorkspaceRequest"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "WorkspaceRequest",
              "variableName" : "member",
              "variableType" : "WorkspaceRequest",
              "documentation" : "",
              "simpleType" : "WorkspaceRequest",
              "variableSetterType" : "WorkspaceRequest"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "WorkspaceRequest",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "WorkspaceRequest",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
          "templateType" : "java.util.List<WorkspaceRequest>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Workspaces",
        "setterDocumentation" : "/**<p>Information about the WorkSpaces to create.</p>\n@param workspaces Information about the WorkSpaces to create.*/",
        "setterMethodName" : "setWorkspaces",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
          "variableName" : "workspaces",
          "variableType" : "java.util.List<WorkspaceRequest>",
          "documentation" : "",
          "simpleType" : "List<WorkspaceRequest>",
          "variableSetterType" : "java.util.Collection<WorkspaceRequest>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the WorkSpaces to create.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setWorkspaces(java.util.Collection)} or {@link #withWorkspaces(java.util.Collection)} if you want to override the existing values.</p>\n@param workspaces Information about the WorkSpaces to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
          "variableName" : "workspaces",
          "variableType" : "java.util.List<WorkspaceRequest>",
          "documentation" : "<p>Information about the WorkSpaces to create.</p>",
          "simpleType" : "List<WorkspaceRequest>",
          "variableSetterType" : "java.util.Collection<WorkspaceRequest>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Workspaces" : {
          "c2jName" : "Workspaces",
          "c2jShape" : "WorkspaceRequestList",
          "deprecated" : false,
          "documentation" : "<p>Information about the WorkSpaces to create.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the WorkSpaces to create.</p>\n@param workspaces Information about the WorkSpaces to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withWorkspaces",
          "getterDocumentation" : "/**<p>Information about the WorkSpaces to create.</p>\n@return Information about the WorkSpaces to create.*/",
          "getterMethodName" : "getWorkspaces",
          "getterModel" : {
            "returnType" : "java.util.List<WorkspaceRequest>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Workspaces",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Workspaces",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "WorkspaceRequest",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "WorkspaceRequest",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "WorkspaceRequest",
                "variableName" : "member",
                "variableType" : "WorkspaceRequest",
                "documentation" : "",
                "simpleType" : "WorkspaceRequest",
                "variableSetterType" : "WorkspaceRequest"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "WorkspaceRequest",
                "variableName" : "member",
                "variableType" : "WorkspaceRequest",
                "documentation" : "",
                "simpleType" : "WorkspaceRequest",
                "variableSetterType" : "WorkspaceRequest"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "WorkspaceRequest",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "WorkspaceRequest",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
            "templateType" : "java.util.List<WorkspaceRequest>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Workspaces",
          "setterDocumentation" : "/**<p>Information about the WorkSpaces to create.</p>\n@param workspaces Information about the WorkSpaces to create.*/",
          "setterMethodName" : "setWorkspaces",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
            "variableName" : "workspaces",
            "variableType" : "java.util.List<WorkspaceRequest>",
            "documentation" : "",
            "simpleType" : "List<WorkspaceRequest>",
            "variableSetterType" : "java.util.Collection<WorkspaceRequest>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the WorkSpaces to create.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setWorkspaces(java.util.Collection)} or {@link #withWorkspaces(java.util.Collection)} if you want to override the existing values.</p>\n@param workspaces Information about the WorkSpaces to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<WorkspaceRequest>",
            "variableName" : "workspaces",
            "variableType" : "java.util.List<WorkspaceRequest>",
            "documentation" : "<p>Information about the WorkSpaces to create.</p>",
            "simpleType" : "List<WorkspaceRequest>",
            "variableSetterType" : "java.util.Collection<WorkspaceRequest>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Workspaces" ],
      "shapeName" : "CreateWorkspacesRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateWorkspacesRequest",
        "variableName" : "createWorkspacesRequest",
        "variableType" : "CreateWorkspacesRequest",
        "documentation" : null,
        "simpleType" : "CreateWorkspacesRequest",
        "variableSetterType" : "CreateWorkspacesRequest"
      },
      "wrapper" : false
    },
    "CreateWorkspacesResult" : {
      "c2jName" : "CreateWorkspacesResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "FailedRequests",
        "c2jShape" : "FailedCreateWorkspaceRequests",
        "deprecated" : false,
        "documentation" : "<p>Information about the WorkSpaces that could not be created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the WorkSpaces that could not be created.</p>\n@param failedRequests Information about the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFailedRequests",
        "getterDocumentation" : "/**<p>Information about the WorkSpaces that could not be created.</p>\n@return Information about the WorkSpaces that could not be created.*/",
        "getterMethodName" : "getFailedRequests",
        "getterModel" : {
          "returnType" : "java.util.List<FailedCreateWorkspaceRequest>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FailedRequests",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FailedRequests",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "FailedCreateWorkspaceRequest",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "FailedCreateWorkspaceRequest",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "FailedCreateWorkspaceRequest",
              "variableName" : "member",
              "variableType" : "FailedCreateWorkspaceRequest",
              "documentation" : "",
              "simpleType" : "FailedCreateWorkspaceRequest",
              "variableSetterType" : "FailedCreateWorkspaceRequest"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "FailedCreateWorkspaceRequest",
              "variableName" : "member",
              "variableType" : "FailedCreateWorkspaceRequest",
              "documentation" : "",
              "simpleType" : "FailedCreateWorkspaceRequest",
              "variableSetterType" : "FailedCreateWorkspaceRequest"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "FailedCreateWorkspaceRequest",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "FailedCreateWorkspaceRequest",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
          "templateType" : "java.util.List<FailedCreateWorkspaceRequest>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "FailedRequests",
        "setterDocumentation" : "/**<p>Information about the WorkSpaces that could not be created.</p>\n@param failedRequests Information about the WorkSpaces that could not be created.*/",
        "setterMethodName" : "setFailedRequests",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
          "variableName" : "failedRequests",
          "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
          "documentation" : "",
          "simpleType" : "List<FailedCreateWorkspaceRequest>",
          "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the WorkSpaces that could not be created.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailedRequests(java.util.Collection)} or {@link #withFailedRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param failedRequests Information about the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
          "variableName" : "failedRequests",
          "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
          "documentation" : "<p>Information about the WorkSpaces that could not be created.</p>",
          "simpleType" : "List<FailedCreateWorkspaceRequest>",
          "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PendingRequests",
        "c2jShape" : "WorkspaceList",
        "deprecated" : false,
        "documentation" : "<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>\n@param pendingRequests Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPendingRequests",
        "getterDocumentation" : "/**<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>\n@return Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.*/",
        "getterMethodName" : "getPendingRequests",
        "getterModel" : {
          "returnType" : "java.util.List<Workspace>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PendingRequests",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PendingRequests",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Workspace",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Workspace",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "Workspace",
              "variableName" : "member",
              "variableType" : "Workspace",
              "documentation" : "",
              "simpleType" : "Workspace",
              "variableSetterType" : "Workspace"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Workspace",
              "variableName" : "member",
              "variableType" : "Workspace",
              "documentation" : "",
              "simpleType" : "Workspace",
              "variableSetterType" : "Workspace"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Workspace",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Workspace",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
          "templateType" : "java.util.List<Workspace>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "PendingRequests",
        "setterDocumentation" : "/**<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>\n@param pendingRequests Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.*/",
        "setterMethodName" : "setPendingRequests",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
          "variableName" : "pendingRequests",
          "variableType" : "java.util.List<Workspace>",
          "documentation" : "",
          "simpleType" : "List<Workspace>",
          "variableSetterType" : "java.util.Collection<Workspace>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPendingRequests(java.util.Collection)} or {@link #withPendingRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param pendingRequests Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Workspace>",
          "variableName" : "pendingRequests",
          "variableType" : "java.util.List<Workspace>",
          "documentation" : "<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>",
          "simpleType" : "List<Workspace>",
          "variableSetterType" : "java.util.Collection<Workspace>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FailedRequests" : {
          "c2jName" : "FailedRequests",
          "c2jShape" : "FailedCreateWorkspaceRequests",
          "deprecated" : false,
          "documentation" : "<p>Information about the WorkSpaces that could not be created.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the WorkSpaces that could not be created.</p>\n@param failedRequests Information about the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFailedRequests",
          "getterDocumentation" : "/**<p>Information about the WorkSpaces that could not be created.</p>\n@return Information about the WorkSpaces that could not be created.*/",
          "getterMethodName" : "getFailedRequests",
          "getterModel" : {
            "returnType" : "java.util.List<FailedCreateWorkspaceRequest>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FailedRequests",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FailedRequests",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "FailedCreateWorkspaceRequest",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "FailedCreateWorkspaceRequest",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "FailedCreateWorkspaceRequest",
                "variableName" : "member",
                "variableType" : "FailedCreateWorkspaceRequest",
                "documentation" : "",
                "simpleType" : "FailedCreateWorkspaceRequest",
                "variableSetterType" : "FailedCreateWorkspaceRequest"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "FailedCreateWorkspaceRequest",
                "variableName" : "member",
                "variableType" : "FailedCreateWorkspaceRequest",
                "documentation" : "",
                "simpleType" : "FailedCreateWorkspaceRequest",
                "variableSetterType" : "FailedCreateWorkspaceRequest"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "FailedCreateWorkspaceRequest",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "FailedCreateWorkspaceRequest",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
            "templateType" : "java.util.List<FailedCreateWorkspaceRequest>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "FailedRequests",
          "setterDocumentation" : "/**<p>Information about the WorkSpaces that could not be created.</p>\n@param failedRequests Information about the WorkSpaces that could not be created.*/",
          "setterMethodName" : "setFailedRequests",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
            "variableName" : "failedRequests",
            "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
            "documentation" : "",
            "simpleType" : "List<FailedCreateWorkspaceRequest>",
            "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the WorkSpaces that could not be created.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setFailedRequests(java.util.Collection)} or {@link #withFailedRequests(java.util.Collection)} if you want to override the existing values.</p>\n@param failedRequests Information about the WorkSpaces that could not be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<FailedCreateWorkspaceRequest>",
            "variableName" : "failedRequests",
            "variableType" : "java.util.List<FailedCreateWorkspaceRequest>",
            "documentation" : "<p>Information about the WorkSpaces that could not be created.</p>",
            "simpleType" : "List<FailedCreateWorkspaceRequest>",
            "variableSetterType" : "java.util.Collection<FailedCreateWorkspaceRequest>"
          },
          "xmlNameSpaceUri" : null
        },
        "PendingRequests" : {
          "c2jName" : "PendingRequests",
          "c2jShape" : "WorkspaceList",
          "deprecated" : false,
          "documentation" : "<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>\n@param pendingRequests Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPendingRequests",
[...]
