{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Activity" : [ "Type" ],
      "Comment" : [ "Status", "Visibility" ],
      "CommentMetadata" : [ "CommentStatus" ],
      "CreateCommentRequest" : [ "Visibility" ],
      "CreateNotificationSubscriptionRequest" : [ "Protocol", "SubscriptionType" ],
      "DescribeFolderContentsRequest" : [ "Sort", "Order", "Type" ],
      "DescribeUsersRequest" : [ "Include", "Order", "Sort" ],
      "DocumentMetadata" : [ "ResourceState" ],
      "DocumentVersionMetadata" : [ "Status" ],
      "FolderMetadata" : [ "ResourceState" ],
      "PermissionInfo" : [ "Role", "Type" ],
      "Principal" : [ "Type" ],
      "RemoveResourcePermissionRequest" : [ "PrincipalType" ],
      "ResourceMetadata" : [ "Type" ],
      "SharePrincipal" : [ "Type", "Role" ],
      "ShareResult" : [ "Role", "Status" ],
      "StorageRuleType" : [ "StorageType" ],
      "Subscription" : [ "Protocol" ],
      "UpdateDocumentRequest" : [ "ResourceState" ],
      "UpdateDocumentVersionRequest" : [ "VersionStatus" ],
      "UpdateFolderRequest" : [ "ResourceState" ],
      "UpdateUserRequest" : [ "Type", "Locale" ],
      "User" : [ "Status", "Type", "Locale" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-05-01",
    "asyncClient" : "AmazonWorkDocsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkDocsAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkDocsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonWorkDocsModuleInjector",
    "defaultEndpoint" : "workdocs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "workdocs.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The WorkDocs API is designed for the following use cases:</p> <ul> <li> <p>File Migration: File migration applications are supported for users who want to migrate their files from an on-premises or off-premises file system or service. Users can insert files into a user directory structure, as well as allow for basic metadata changes, such as modifications to the permissions of files.</p> </li> <li> <p>Security: Support security applications are supported for users who have additional security needs, such as antivirus or data loss prevention. The API actions, along with AWS CloudTrail, allow these applications to detect when changes occur in Amazon WorkDocs. Then, the application can take the necessary actions and replace the target file. If the target file violates the policy, the application can also choose to email the user.</p> </li> <li> <p>eDiscovery/Analytics: General administrative applications are supported, such as eDiscovery and analytics. These applications can choose to mimic or record the actions in an Amazon WorkDocs site, along with AWS CloudTrail, to replicate data for eDiscovery, backup, or analytical applications.</p> </li> </ul> <p>All Amazon WorkDocs API actions are Amazon authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of IAM users and roles to help facilitate access, trust, and permission policies. By creating a role and allowing an IAM user to access the Amazon WorkDocs site, the IAM user gains full administrative visibility into the entire Amazon WorkDocs site (or as set in the IAM policy). This includes, but is not limited to, the ability to modify file permissions and upload any file to any user. This allows developers to perform the three use cases above, as well as give users the ability to grant access on a selective basis using the IAM model.</p>",
    "endpointPrefix" : "workdocs",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.workdocs",
    "packagePath" : "com/amazonaws/services/workdocs",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkDocs",
    "serviceId" : "WorkDocs",
    "serviceName" : "Amazon WorkDocs",
    "signingName" : "workdocs",
    "smokeTestsPackageName" : "com.amazonaws.services.workdocs.smoketests",
    "syncClient" : "AmazonWorkDocsClient",
    "syncClientBuilderClassName" : "AmazonWorkDocsClientBuilder",
    "syncInterface" : "AmazonWorkDocs",
    "uid" : "workdocs-2016-05-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AbortDocumentVersionUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AbortDocumentVersionUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AbortDocumentVersionUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AbortDocumentVersionUploadRequest, AbortDocumentVersionUploadResult>",
      "asyncReturnType" : "AbortDocumentVersionUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Aborts the upload of the specified document version that was previously initiated by <a>InitiateDocumentVersionUpload</a>. The client should make this call only when it no longer intends to upload the document version, or fails to do so.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AbortDocumentVersionUploadRequest",
        "variableName" : "abortDocumentVersionUploadRequest",
        "variableType" : "AbortDocumentVersionUploadRequest",
        "documentation" : "",
        "simpleType" : "AbortDocumentVersionUploadRequest",
        "variableSetterType" : "AbortDocumentVersionUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "abortDocumentVersionUpload",
      "operationName" : "AbortDocumentVersionUpload",
      "returnType" : {
        "returnType" : "AbortDocumentVersionUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "AbortDocumentVersionUploadResult"
    },
    "ActivateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ActivateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ActivateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivateUserRequest, ActivateUserResult>",
      "asyncReturnType" : "ActivateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates the specified user. Only active users can access Amazon WorkDocs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivateUserRequest",
        "variableName" : "activateUserRequest",
        "variableType" : "ActivateUserRequest",
        "documentation" : "",
        "simpleType" : "ActivateUserRequest",
        "variableSetterType" : "ActivateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "activateUser",
      "operationName" : "ActivateUser",
      "returnType" : {
        "returnType" : "ActivateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "ActivateUserResult"
    },
    "AddResourcePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddResourcePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddResourcePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddResourcePermissionsRequest, AddResourcePermissionsResult>",
      "asyncReturnType" : "AddResourcePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a set of permissions for the specified folder or document. The resource permissions are overwritten if the principals already have different permissions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddResourcePermissionsRequest",
        "variableName" : "addResourcePermissionsRequest",
        "variableType" : "AddResourcePermissionsRequest",
        "documentation" : "",
        "simpleType" : "AddResourcePermissionsRequest",
        "variableSetterType" : "AddResourcePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addResourcePermissions",
      "operationName" : "AddResourcePermissions",
      "returnType" : {
        "returnType" : "AddResourcePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "AddResourcePermissionsResult"
    },
    "CreateComment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCommentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCommentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCommentRequest, CreateCommentResult>",
      "asyncReturnType" : "CreateCommentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a new comment to the specified document version.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "DocumentLockedForCommentsException",
        "documentation" : "<p>This exception is thrown when the document is locked for comments and user tries to create or delete a comment on that document.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidCommentOperationException",
        "documentation" : "<p>The requested operation is not allowed on the specified comment object.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCommentRequest",
        "variableName" : "createCommentRequest",
        "variableType" : "CreateCommentRequest",
        "documentation" : "",
        "simpleType" : "CreateCommentRequest",
        "variableSetterType" : "CreateCommentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createComment",
      "operationName" : "CreateComment",
      "returnType" : {
        "returnType" : "CreateCommentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCommentResult"
    },
    "CreateCustomMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCustomMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCustomMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCustomMetadataRequest, CreateCustomMetadataResult>",
      "asyncReturnType" : "CreateCustomMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more custom properties to the specified resource (a folder, document, or version).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "CustomMetadataLimitExceededException",
        "documentation" : "<p>The limit has been reached on the number of custom properties for the specified resource.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCustomMetadataRequest",
        "variableName" : "createCustomMetadataRequest",
        "variableType" : "CreateCustomMetadataRequest",
        "documentation" : "",
        "simpleType" : "CreateCustomMetadataRequest",
        "variableSetterType" : "CreateCustomMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCustomMetadata",
      "operationName" : "CreateCustomMetadata",
      "returnType" : {
        "returnType" : "CreateCustomMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCustomMetadataResult"
    },
    "CreateFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFolderRequest, CreateFolderResult>",
      "asyncReturnType" : "CreateFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a folder with the specified name and parent folder.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConflictingOperationException",
        "documentation" : "<p>Another operation is in progress on the resource that conflicts with the current operation.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The maximum of 100,000 folders under the parent folder has been exceeded.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFolderRequest",
        "variableName" : "createFolderRequest",
        "variableType" : "CreateFolderRequest",
        "documentation" : "",
        "simpleType" : "CreateFolderRequest",
        "variableSetterType" : "CreateFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFolder",
      "operationName" : "CreateFolder",
      "returnType" : {
        "returnType" : "CreateFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFolderResult"
    },
    "CreateLabels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLabelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLabelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLabelsRequest, CreateLabelsResult>",
      "asyncReturnType" : "CreateLabelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified list of labels to the given resource (a document or folder)</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "TooManyLabelsException",
        "documentation" : "<p>The limit has been reached on the number of labels for the specified resource.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLabelsRequest",
        "variableName" : "createLabelsRequest",
        "variableType" : "CreateLabelsRequest",
        "documentation" : "",
        "simpleType" : "CreateLabelsRequest",
        "variableSetterType" : "CreateLabelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLabels",
      "operationName" : "CreateLabels",
      "returnType" : {
        "returnType" : "CreateLabelsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLabelsResult"
    },
    "CreateNotificationSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNotificationSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNotificationSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNotificationSubscriptionRequest, CreateNotificationSubscriptionResult>",
      "asyncReturnType" : "CreateNotificationSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configure Amazon WorkDocs to use Amazon SNS notifications. The endpoint receives a confirmation message, and must confirm the subscription.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/workdocs/latest/developerguide/subscribe-notifications.html\">Subscribe to Notifications</a> in the <i>Amazon WorkDocs Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManySubscriptionsException",
        "documentation" : "<p>You've reached the limit on the number of subscriptions for the WorkDocs instance.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNotificationSubscriptionRequest",
        "variableName" : "createNotificationSubscriptionRequest",
        "variableType" : "CreateNotificationSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "CreateNotificationSubscriptionRequest",
        "variableSetterType" : "CreateNotificationSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNotificationSubscription",
      "operationName" : "CreateNotificationSubscription",
      "returnType" : {
        "returnType" : "CreateNotificationSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNotificationSubscriptionResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user in a Simple AD or Microsoft AD directory. The status of a newly created user is \"ACTIVE\". New users can access Amazon WorkDocs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeactivateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeactivateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeactivateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeactivateUserRequest, DeactivateUserResult>",
      "asyncReturnType" : "DeactivateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deactivates the specified user, which revokes the user's access to Amazon WorkDocs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeactivateUserRequest",
        "variableName" : "deactivateUserRequest",
        "variableType" : "DeactivateUserRequest",
        "documentation" : "",
        "simpleType" : "DeactivateUserRequest",
        "variableSetterType" : "DeactivateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deactivateUser",
      "operationName" : "DeactivateUser",
      "returnType" : {
        "returnType" : "DeactivateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeactivateUserResult"
    },
    "DeleteComment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCommentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCommentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCommentRequest, DeleteCommentResult>",
      "asyncReturnType" : "DeleteCommentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified comment from the document version.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "DocumentLockedForCommentsException",
        "documentation" : "<p>This exception is thrown when the document is locked for comments and user tries to create or delete a comment on that document.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCommentRequest",
        "variableName" : "deleteCommentRequest",
        "variableType" : "DeleteCommentRequest",
        "documentation" : "",
        "simpleType" : "DeleteCommentRequest",
        "variableSetterType" : "DeleteCommentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteComment",
      "operationName" : "DeleteComment",
      "returnType" : {
        "returnType" : "DeleteCommentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCommentResult"
    },
    "DeleteCustomMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCustomMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCustomMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCustomMetadataRequest, DeleteCustomMetadataResult>",
      "asyncReturnType" : "DeleteCustomMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes custom metadata from the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCustomMetadataRequest",
        "variableName" : "deleteCustomMetadataRequest",
        "variableType" : "DeleteCustomMetadataRequest",
        "documentation" : "",
        "simpleType" : "DeleteCustomMetadataRequest",
        "variableSetterType" : "DeleteCustomMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCustomMetadata",
      "operationName" : "DeleteCustomMetadata",
      "returnType" : {
        "returnType" : "DeleteCustomMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCustomMetadataResult"
    },
    "DeleteDocument" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDocumentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDocumentRequest, DeleteDocumentResult>",
      "asyncReturnType" : "DeleteDocumentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes the specified document and its associated metadata.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConflictingOperationException",
        "documentation" : "<p>Another operation is in progress on the resource that conflicts with the current operation.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource hierarchy is changing.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDocumentRequest",
        "variableName" : "deleteDocumentRequest",
        "variableType" : "DeleteDocumentRequest",
        "documentation" : "",
        "simpleType" : "DeleteDocumentRequest",
        "variableSetterType" : "DeleteDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDocument",
      "operationName" : "DeleteDocument",
      "returnType" : {
        "returnType" : "DeleteDocumentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDocumentResult"
    },
    "DeleteFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFolderRequest, DeleteFolderResult>",
      "asyncReturnType" : "DeleteFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes the specified folder and its contents.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConflictingOperationException",
        "documentation" : "<p>Another operation is in progress on the resource that conflicts with the current operation.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource hierarchy is changing.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFolderRequest",
        "variableName" : "deleteFolderRequest",
        "variableType" : "DeleteFolderRequest",
        "documentation" : "",
        "simpleType" : "DeleteFolderRequest",
        "variableSetterType" : "DeleteFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFolder",
      "operationName" : "DeleteFolder",
      "returnType" : {
        "returnType" : "DeleteFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFolderResult"
    },
    "DeleteFolderContents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFolderContentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFolderContentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFolderContentsRequest, DeleteFolderContentsResult>",
      "asyncReturnType" : "DeleteFolderContentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the contents of the specified folder.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConflictingOperationException",
        "documentation" : "<p>Another operation is in progress on the resource that conflicts with the current operation.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFolderContentsRequest",
        "variableName" : "deleteFolderContentsRequest",
        "variableType" : "DeleteFolderContentsRequest",
        "documentation" : "",
        "simpleType" : "DeleteFolderContentsRequest",
        "variableSetterType" : "DeleteFolderContentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFolderContents",
      "operationName" : "DeleteFolderContents",
      "returnType" : {
        "returnType" : "DeleteFolderContentsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFolderContentsResult"
    },
    "DeleteLabels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLabelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLabelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLabelsRequest, DeleteLabelsResult>",
      "asyncReturnType" : "DeleteLabelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified list of labels from a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLabelsRequest",
        "variableName" : "deleteLabelsRequest",
        "variableType" : "DeleteLabelsRequest",
        "documentation" : "",
        "simpleType" : "DeleteLabelsRequest",
        "variableSetterType" : "DeleteLabelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLabels",
      "operationName" : "DeleteLabels",
      "returnType" : {
        "returnType" : "DeleteLabelsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLabelsResult"
    },
    "DeleteNotificationSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNotificationSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNotificationSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNotificationSubscriptionRequest, DeleteNotificationSubscriptionResult>",
      "asyncReturnType" : "DeleteNotificationSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified subscription from the specified organization.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNotificationSubscriptionRequest",
        "variableName" : "deleteNotificationSubscriptionRequest",
        "variableType" : "DeleteNotificationSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteNotificationSubscriptionRequest",
        "variableSetterType" : "DeleteNotificationSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNotificationSubscription",
      "operationName" : "DeleteNotificationSubscription",
      "returnType" : {
        "returnType" : "DeleteNotificationSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNotificationSubscriptionResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified user from a Simple AD or Microsoft AD directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DescribeActivities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeActivitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeActivitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeActivitiesRequest, DescribeActivitiesResult>",
      "asyncReturnType" : "DescribeActivitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the user activities in a specified time period.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeActivitiesRequest",
        "variableName" : "describeActivitiesRequest",
        "variableType" : "DescribeActivitiesRequest",
        "documentation" : "",
        "simpleType" : "DescribeActivitiesRequest",
        "variableSetterType" : "DescribeActivitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeActivities",
      "operationName" : "DescribeActivities",
      "returnType" : {
        "returnType" : "DescribeActivitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeActivitiesResult"
    },
    "DescribeComments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCommentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCommentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCommentsRequest, DescribeCommentsResult>",
      "asyncReturnType" : "DescribeCommentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all the comments for the specified document version.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCommentsRequest",
        "variableName" : "describeCommentsRequest",
        "variableType" : "DescribeCommentsRequest",
        "documentation" : "",
        "simpleType" : "DescribeCommentsRequest",
        "variableSetterType" : "DescribeCommentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeComments",
      "operationName" : "DescribeComments",
      "returnType" : {
        "returnType" : "DescribeCommentsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCommentsResult"
    },
    "DescribeDocumentVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDocumentVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDocumentVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDocumentVersionsRequest, DescribeDocumentVersionsResult>",
      "asyncReturnType" : "DescribeDocumentVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the document versions for the specified document.</p> <p>By default, only active versions are returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDocumentVersionsRequest",
        "variableName" : "describeDocumentVersionsRequest",
        "variableType" : "DescribeDocumentVersionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeDocumentVersionsRequest",
        "variableSetterType" : "DescribeDocumentVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDocumentVersions",
      "operationName" : "DescribeDocumentVersions",
      "returnType" : {
        "returnType" : "DescribeDocumentVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDocumentVersionsResult"
    },
    "DescribeFolderContents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFolderContentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFolderContentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFolderContentsRequest, DescribeFolderContentsResult>",
      "asyncReturnType" : "DescribeFolderContentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the contents of the specified folder, including its documents and subfolders.</p> <p>By default, Amazon WorkDocs returns the first 100 active document and folder metadata items. If there are more results, the response includes a marker that you can use to request the next set of results. You can also request initialized documents.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFolderContentsRequest",
        "variableName" : "describeFolderContentsRequest",
        "variableType" : "DescribeFolderContentsRequest",
        "documentation" : "",
        "simpleType" : "DescribeFolderContentsRequest",
        "variableSetterType" : "DescribeFolderContentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFolderContents",
      "operationName" : "DescribeFolderContents",
      "returnType" : {
        "returnType" : "DescribeFolderContentsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFolderContentsResult"
    },
    "DescribeGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeGroupsRequest, DescribeGroupsResult>",
      "asyncReturnType" : "DescribeGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the groups specified by the query. Groups are defined by the underlying Active Directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeGroupsRequest",
        "variableName" : "describeGroupsRequest",
        "variableType" : "DescribeGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeGroupsRequest",
        "variableSetterType" : "DescribeGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeGroups",
      "operationName" : "DescribeGroups",
      "returnType" : {
        "returnType" : "DescribeGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeGroupsResult"
    },
    "DescribeNotificationSubscriptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNotificationSubscriptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNotificationSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNotificationSubscriptionsRequest, DescribeNotificationSubscriptionsResult>",
      "asyncReturnType" : "DescribeNotificationSubscriptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the specified notification subscriptions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeNotificationSubscriptionsRequest",
        "variableName" : "describeNotificationSubscriptionsRequest",
        "variableType" : "DescribeNotificationSubscriptionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeNotificationSubscriptionsRequest",
        "variableSetterType" : "DescribeNotificationSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNotificationSubscriptions",
      "operationName" : "DescribeNotificationSubscriptions",
      "returnType" : {
        "returnType" : "DescribeNotificationSubscriptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeNotificationSubscriptionsResult"
    },
    "DescribeResourcePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourcePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourcePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourcePermissionsRequest, DescribeResourcePermissionsResult>",
      "asyncReturnType" : "DescribeResourcePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the permissions of a specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeResourcePermissionsRequest",
        "variableName" : "describeResourcePermissionsRequest",
        "variableType" : "DescribeResourcePermissionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourcePermissionsRequest",
        "variableSetterType" : "DescribeResourcePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResourcePermissions",
      "operationName" : "DescribeResourcePermissions",
      "returnType" : {
        "returnType" : "DescribeResourcePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourcePermissionsResult"
    },
    "DescribeRootFolders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRootFoldersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRootFoldersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRootFoldersRequest, DescribeRootFoldersResult>",
      "asyncReturnType" : "DescribeRootFoldersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the current user's special folders; the <code>RootFolder</code> and the <code>RecycleBin</code>. <code>RootFolder</code> is the root of user's files and folders and <code>RecycleBin</code> is the root of recycled items. This is not a valid action for SigV4 (administrative API) clients.</p> <p>This action requires an authentication token. To get an authentication token, register an application with Amazon WorkDocs. For more information, see <a href=\"https://docs.aws.amazon.com/workdocs/latest/developerguide/wd-auth-user.html\">Authentication and Access Control for User Applications</a> in the <i>Amazon WorkDocs Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRootFoldersRequest",
        "variableName" : "describeRootFoldersRequest",
        "variableType" : "DescribeRootFoldersRequest",
        "documentation" : "",
        "simpleType" : "DescribeRootFoldersRequest",
        "variableSetterType" : "DescribeRootFoldersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRootFolders",
      "operationName" : "DescribeRootFolders",
      "returnType" : {
        "returnType" : "DescribeRootFoldersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRootFoldersResult"
    },
    "DescribeUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUsersRequest, DescribeUsersResult>",
      "asyncReturnType" : "DescribeUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified users. You can describe all users or filter the results (for example, by status or organization).</p> <p>By default, Amazon WorkDocs returns the first 24 active or pending users. If there are more results, the response includes a marker that you can use to request the next set of results.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RequestedEntityTooLargeException",
        "documentation" : "<p>The response is too large to return. The request must include a filter to reduce the size of the response.</p>",
        "httpStatusCode" : 413
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUsersRequest",
        "variableName" : "describeUsersRequest",
        "variableType" : "DescribeUsersRequest",
        "documentation" : "",
        "simpleType" : "DescribeUsersRequest",
        "variableSetterType" : "DescribeUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUsers",
      "operationName" : "DescribeUsers",
      "returnType" : {
        "returnType" : "DescribeUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUsersResult"
    },
    "GetCurrentUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCurrentUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCurrentUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCurrentUserRequest, GetCurrentUserResult>",
      "asyncReturnType" : "GetCurrentUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details of the current user for whom the authentication token was generated. This is not a valid action for SigV4 (administrative API) clients.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCurrentUserRequest",
        "variableName" : "getCurrentUserRequest",
        "variableType" : "GetCurrentUserRequest",
        "documentation" : "",
        "simpleType" : "GetCurrentUserRequest",
        "variableSetterType" : "GetCurrentUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCurrentUser",
      "operationName" : "GetCurrentUser",
      "returnType" : {
        "returnType" : "GetCurrentUserResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCurrentUserResult"
    },
    "GetDocument" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDocumentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDocumentRequest, GetDocumentResult>",
      "asyncReturnType" : "GetDocumentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details of a document.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>The password is invalid.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDocumentRequest",
        "variableName" : "getDocumentRequest",
        "variableType" : "GetDocumentRequest",
        "documentation" : "",
        "simpleType" : "GetDocumentRequest",
        "variableSetterType" : "GetDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDocument",
      "operationName" : "GetDocument",
      "returnType" : {
        "returnType" : "GetDocumentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDocumentResult"
    },
    "GetDocumentPath" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDocumentPathResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDocumentPathResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDocumentPathRequest, GetDocumentPathResult>",
      "asyncReturnType" : "GetDocumentPathResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the path information (the hierarchy from the root folder) for the requested document.</p> <p>By default, Amazon WorkDocs returns a maximum of 100 levels upwards from the requested document and only includes the IDs of the parent folders in the path. You can limit the maximum number of levels. You can also request the names of the parent folders.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDocumentPathRequest",
        "variableName" : "getDocumentPathRequest",
        "variableType" : "GetDocumentPathRequest",
        "documentation" : "",
        "simpleType" : "GetDocumentPathRequest",
        "variableSetterType" : "GetDocumentPathRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDocumentPath",
      "operationName" : "GetDocumentPath",
      "returnType" : {
        "returnType" : "GetDocumentPathResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDocumentPathResult"
    },
    "GetDocumentVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDocumentVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDocumentVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDocumentVersionRequest, GetDocumentVersionResult>",
      "asyncReturnType" : "GetDocumentVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves version metadata for the specified document.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>The password is invalid.</p>",
        "httpStatusCode" : 401
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDocumentVersionRequest",
        "variableName" : "getDocumentVersionRequest",
        "variableType" : "GetDocumentVersionRequest",
        "documentation" : "",
        "simpleType" : "GetDocumentVersionRequest",
        "variableSetterType" : "GetDocumentVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDocumentVersion",
      "operationName" : "GetDocumentVersion",
      "returnType" : {
        "returnType" : "GetDocumentVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDocumentVersionResult"
    },
    "GetFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFolderRequest, GetFolderResult>",
      "asyncReturnType" : "GetFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the metadata of the specified folder.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFolderRequest",
        "variableName" : "getFolderRequest",
        "variableType" : "GetFolderRequest",
        "documentation" : "",
        "simpleType" : "GetFolderRequest",
        "variableSetterType" : "GetFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFolder",
      "operationName" : "GetFolder",
      "returnType" : {
        "returnType" : "GetFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFolderResult"
    },
    "GetFolderPath" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFolderPathResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFolderPathResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFolderPathRequest, GetFolderPathResult>",
      "asyncReturnType" : "GetFolderPathResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the path information (the hierarchy from the root folder) for the specified folder.</p> <p>By default, Amazon WorkDocs returns a maximum of 100 levels upwards from the requested folder and only includes the IDs of the parent folders in the path. You can limit the maximum number of levels. You can also request the parent folder names.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFolderPathRequest",
        "variableName" : "getFolderPathRequest",
        "variableType" : "GetFolderPathRequest",
        "documentation" : "",
        "simpleType" : "GetFolderPathRequest",
        "variableSetterType" : "GetFolderPathRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFolderPath",
      "operationName" : "GetFolderPath",
      "returnType" : {
        "returnType" : "GetFolderPathResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFolderPathResult"
    },
    "GetResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourcesRequest, GetResourcesResult>",
      "asyncReturnType" : "GetResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a collection of resources, including folders and documents. The only <code>CollectionType</code> supported is <code>SHARED_WITH_ME</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourcesRequest",
        "variableName" : "getResourcesRequest",
        "variableType" : "GetResourcesRequest",
        "documentation" : "",
        "simpleType" : "GetResourcesRequest",
        "variableSetterType" : "GetResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResources",
      "operationName" : "GetResources",
      "returnType" : {
        "returnType" : "GetResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourcesResult"
    },
    "InitiateDocumentVersionUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InitiateDocumentVersionUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InitiateDocumentVersionUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitiateDocumentVersionUploadRequest, InitiateDocumentVersionUploadResult>",
      "asyncReturnType" : "InitiateDocumentVersionUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new document object and version object.</p> <p>The client specifies the parent folder ID and name of the document to upload. The ID is optionally specified when creating a new version of an existing document. This is the first step to upload a document. Next, upload the document to the URL returned from the call, and then call <a>UpdateDocumentVersion</a>.</p> <p>To cancel the document upload, call <a>AbortDocumentVersionUpload</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "StorageLimitExceededException",
        "documentation" : "<p>The storage limit has been exceeded.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "StorageLimitWillExceedException",
        "documentation" : "<p>The storage limit will be exceeded.</p>",
        "httpStatusCode" : 413
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected Active Directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "DraftUploadOutOfSyncException",
        "documentation" : "<p>This exception is thrown when a valid checkout ID is not presented on document version upload calls for a document that has been checked out from Web client.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceAlreadyCheckedOutException",
        "documentation" : "<p>The resource is already checked out.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
[...]
