{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-08-22",
    "asyncClient" : "AmazonWorkSpacesThinClientAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkSpacesThinClientAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkSpacesThinClientAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonWorkSpacesThinClientModuleInjector",
    "defaultEndpoint" : "thinclient.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "thinclient.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon WorkSpaces Thin Client is an affordable device built to work with Amazon Web Services End User Computing (EUC) virtual desktops to provide users with a complete cloud desktop solution. WorkSpaces Thin Client is a compact device designed to connect up to two monitors and USB devices like a keyboard, mouse, headset, and webcam. To maximize endpoint security, WorkSpaces Thin Client devices do not allow local data storage or installation of unapproved applications. The WorkSpaces Thin Client device ships preloaded with device management software.</p> <p>You can use these APIs to complete WorkSpaces Thin Client tasks, such as creating environments or viewing devices. For more information about WorkSpaces Thin Client, including the required permissions to use the service, see the <a href=\"https://docs.aws.amazon.com/workspaces-thin-client/latest/ag/\">Amazon WorkSpaces Thin Client Administrator Guide</a>. For more information about using the Command Line Interface (CLI) to manage your WorkSpaces Thin Client resources, see the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/workspaces-thin-client/index.html\">WorkSpaces Thin Client section of the CLI Reference</a>.</p>",
    "endpointPrefix" : "thinclient",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.workspacesthinclient",
    "packagePath" : "com/amazonaws/services/workspacesthinclient",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkSpaces Thin Client",
    "serviceId" : "WorkSpaces Thin Client",
    "serviceName" : "Amazon WorkSpaces Thin Client",
    "signingName" : "thinclient",
    "smokeTestsPackageName" : "com.amazonaws.services.workspacesthinclient.smoketests",
    "syncClient" : "AmazonWorkSpacesThinClientClient",
    "syncClientBuilderClassName" : "AmazonWorkSpacesThinClientClientBuilder",
    "syncInterface" : "AmazonWorkSpacesThinClient",
    "uid" : "workspaces-thin-client-2023-08-22",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEnvironmentRequest, CreateEnvironmentResult>",
      "asyncReturnType" : "CreateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an environment for your thin client devices.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your request exceeds a service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEnvironmentRequest",
        "variableName" : "createEnvironmentRequest",
        "variableType" : "CreateEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "CreateEnvironmentRequest",
        "variableSetterType" : "CreateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEnvironment",
      "operationName" : "CreateEnvironment",
      "returnType" : {
        "returnType" : "CreateEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEnvironmentResult"
    },
    "DeleteDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeviceRequest, DeleteDeviceResult>",
      "asyncReturnType" : "DeleteDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a thin client device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDeviceRequest",
        "variableName" : "deleteDeviceRequest",
        "variableType" : "DeleteDeviceRequest",
        "documentation" : "",
        "simpleType" : "DeleteDeviceRequest",
        "variableSetterType" : "DeleteDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDevice",
      "operationName" : "DeleteDevice",
      "returnType" : {
        "returnType" : "DeleteDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeviceResult"
    },
    "DeleteEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEnvironmentRequest, DeleteEnvironmentResult>",
      "asyncReturnType" : "DeleteEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEnvironmentRequest",
        "variableName" : "deleteEnvironmentRequest",
        "variableType" : "DeleteEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteEnvironmentRequest",
        "variableSetterType" : "DeleteEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEnvironment",
      "operationName" : "DeleteEnvironment",
      "returnType" : {
        "returnType" : "DeleteEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEnvironmentResult"
    },
    "DeregisterDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterDeviceRequest, DeregisterDeviceResult>",
      "asyncReturnType" : "DeregisterDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters a thin client device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterDeviceRequest",
        "variableName" : "deregisterDeviceRequest",
        "variableType" : "DeregisterDeviceRequest",
        "documentation" : "",
        "simpleType" : "DeregisterDeviceRequest",
        "variableSetterType" : "DeregisterDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterDevice",
      "operationName" : "DeregisterDevice",
      "returnType" : {
        "returnType" : "DeregisterDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterDeviceResult"
    },
    "GetDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceRequest, GetDeviceResult>",
      "asyncReturnType" : "GetDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information for a thin client device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceRequest",
        "variableName" : "getDeviceRequest",
        "variableType" : "GetDeviceRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceRequest",
        "variableSetterType" : "GetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDevice",
      "operationName" : "GetDevice",
      "returnType" : {
        "returnType" : "GetDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceResult"
    },
    "GetEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEnvironmentRequest, GetEnvironmentResult>",
      "asyncReturnType" : "GetEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information for an environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEnvironmentRequest",
        "variableName" : "getEnvironmentRequest",
        "variableType" : "GetEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "GetEnvironmentRequest",
        "variableSetterType" : "GetEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEnvironment",
      "operationName" : "GetEnvironment",
      "returnType" : {
        "returnType" : "GetEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEnvironmentResult"
    },
    "GetSoftwareSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSoftwareSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSoftwareSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSoftwareSetRequest, GetSoftwareSetResult>",
      "asyncReturnType" : "GetSoftwareSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information for a software set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSoftwareSetRequest",
        "variableName" : "getSoftwareSetRequest",
        "variableType" : "GetSoftwareSetRequest",
        "documentation" : "",
        "simpleType" : "GetSoftwareSetRequest",
        "variableSetterType" : "GetSoftwareSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSoftwareSet",
      "operationName" : "GetSoftwareSet",
      "returnType" : {
        "returnType" : "GetSoftwareSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSoftwareSetResult"
    },
    "ListDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicesRequest, ListDevicesResult>",
      "asyncReturnType" : "ListDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of thin client devices.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDevicesRequest",
        "variableName" : "listDevicesRequest",
        "variableType" : "ListDevicesRequest",
        "documentation" : "",
        "simpleType" : "ListDevicesRequest",
        "variableSetterType" : "ListDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDevices",
      "operationName" : "ListDevices",
      "returnType" : {
        "returnType" : "ListDevicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDevicesResult"
    },
    "ListEnvironments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEnvironmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEnvironmentsRequest, ListEnvironmentsResult>",
      "asyncReturnType" : "ListEnvironmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of environments.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEnvironmentsRequest",
        "variableName" : "listEnvironmentsRequest",
        "variableType" : "ListEnvironmentsRequest",
        "documentation" : "",
        "simpleType" : "ListEnvironmentsRequest",
        "variableSetterType" : "ListEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEnvironments",
      "operationName" : "ListEnvironments",
      "returnType" : {
        "returnType" : "ListEnvironmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEnvironmentsResult"
    },
    "ListSoftwareSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSoftwareSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSoftwareSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSoftwareSetsRequest, ListSoftwareSetsResult>",
      "asyncReturnType" : "ListSoftwareSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of software sets.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSoftwareSetsRequest",
        "variableName" : "listSoftwareSetsRequest",
        "variableType" : "ListSoftwareSetsRequest",
        "documentation" : "",
        "simpleType" : "ListSoftwareSetsRequest",
        "variableSetterType" : "ListSoftwareSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSoftwareSets",
      "operationName" : "ListSoftwareSets",
      "returnType" : {
        "returnType" : "ListSoftwareSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSoftwareSetsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one or more tags (key-value pairs) to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag or tags from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDeviceRequest, UpdateDeviceResult>",
      "asyncReturnType" : "UpdateDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a thin client device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDeviceRequest",
        "variableName" : "updateDeviceRequest",
        "variableType" : "UpdateDeviceRequest",
        "documentation" : "",
        "simpleType" : "UpdateDeviceRequest",
        "variableSetterType" : "UpdateDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDevice",
      "operationName" : "UpdateDevice",
      "returnType" : {
        "returnType" : "UpdateDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDeviceResult"
    },
    "UpdateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEnvironmentRequest, UpdateEnvironmentResult>",
      "asyncReturnType" : "UpdateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEnvironmentRequest",
        "variableName" : "updateEnvironmentRequest",
        "variableType" : "UpdateEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "UpdateEnvironmentRequest",
        "variableSetterType" : "UpdateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEnvironment",
      "operationName" : "UpdateEnvironment",
      "returnType" : {
        "returnType" : "UpdateEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEnvironmentResult"
    },
    "UpdateSoftwareSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSoftwareSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSoftwareSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSoftwareSetRequest, UpdateSoftwareSetResult>",
      "asyncReturnType" : "UpdateSoftwareSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a software set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "api."
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "api."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSoftwareSetRequest",
        "variableName" : "updateSoftwareSetRequest",
        "variableType" : "UpdateSoftwareSetRequest",
        "documentation" : "",
        "simpleType" : "UpdateSoftwareSetRequest",
        "variableSetterType" : "UpdateSoftwareSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSoftwareSet",
      "operationName" : "UpdateSoftwareSet",
      "returnType" : {
        "returnType" : "UpdateSoftwareSetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSoftwareSetResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.workspacesthinclient.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.workspacesthinclient.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ApplyTimeOf" : {
      "c2jName" : "ApplyTimeOf",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "UTC",
        "value" : "UTC"
      }, {
        "name" : "DEVICE",
        "value" : "DEVICE"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.workspacesthinclient.enum.ApplyTimeOf",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.workspacesthinclient.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ApplyTimeOf",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplyTimeOf",
        "variableName" : "applyTimeOf",
        "variableType" : "ApplyTimeOf",
        "documentation" : null,
        "simpleType" : "ApplyTimeOf",
        "variableSetterType" : "ApplyTimeOf"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.workspacesthinclient.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "resourceId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the resource associated with the request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the resource associated with the request.</p>\n@param resourceId The ID of the resource associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceId",
        "getterDocumentation" : "/**<p>The ID of the resource associated with the request.</p>\n@return The ID of the resource associated with the request.*/",
        "getterMethodName" : "getResourceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the resource associated with the request.</p>\n@param resourceId The ID of the resource associated with the request.*/",
        "setterMethodName" : "setResourceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the resource associated with the request.</p>\n@param resourceId The ID of the resource associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the resource associated with the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "resourceType",
        "c2jShape" : "ResourceType",
        "deprecated" : false,
        "documentation" : "<p>The type of the resource associated with the request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The type of the resource associated with the request.</p>\n@param resourceType The type of the resource associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceType",
        "getterDocumentation" : "/**<p>The type of the resource associated with the request.</p>\n@return The type of the resource associated with the request.*/",
        "getterMethodName" : "getResourceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of the resource associated with the request.</p>\n@param resourceType The type of the resource associated with the request.*/",
        "setterMethodName" : "setResourceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of the resource associated with the request.</p>\n@param resourceType The type of the resource associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "<p>The type of the resource associated with the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceId" : {
          "c2jName" : "resourceId",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the resource associated with the request.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the resource associated with the request.</p>\n@param resourceId The ID of the resource associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceId",
          "getterDocumentation" : "/**<p>The ID of the resource associated with the request.</p>\n@return The ID of the resource associated with the request.*/",
          "getterMethodName" : "getResourceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the resource associated with the request.</p>\n@param resourceId The ID of the resource associated with the request.*/",
          "setterMethodName" : "setResourceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the resource associated with the request.</p>\n@param resourceId The ID of the resource associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the resource associated with the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceType" : {
          "c2jName" : "resourceType",
          "c2jShape" : "ResourceType",
          "deprecated" : false,
          "documentation" : "<p>The type of the resource associated with the request.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The type of the resource associated with the request.</p>\n@param resourceType The type of the resource associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceType",
          "getterDocumentation" : "/**<p>The type of the resource associated with the request.</p>\n@return The type of the resource associated with the request.*/",
          "getterMethodName" : "getResourceType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of the resource associated with the request.</p>\n@param resourceType The type of the resource associated with the request.*/",
          "setterMethodName" : "setResourceType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of the resource associated with the request.</p>\n@param resourceType The type of the resource associated with the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "<p>The type of the resource associated with the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.workspacesthinclient.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateEnvironmentRequest" : {
      "c2jName" : "CreateEnvironmentRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.workspacesthinclient.request.CreateEnvironmentRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateEnvironment",
        "locationName" : null,
        "requestUri" : "/environments",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "name",
        "c2jShape" : "EnvironmentName",
        "deprecated" : false,
        "documentation" : "<p>The name for the environment.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name for the environment.</p>\n@param name The name for the environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name for the environment.</p>\n@return The name for the environment.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The name for the environment.</p>\n@param name The name for the environment.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name for the environment.</p>\n@param name The name for the environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name for the environment.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "desktopArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the desktop to stream from Amazon WorkSpaces, WorkSpaces Web, or AppStream 2.0.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the desktop to stream from Amazon WorkSpaces, WorkSpaces Web, or AppStream 2.0.</p>\n@param desktopArn The Amazon Resource Name (ARN) of the desktop to stream from Amazon WorkSpaces, WorkSpaces Web, or AppStream 2.0.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDesktopArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the desktop to stream from Amazon WorkSpaces, WorkSpaces Web, or AppStream 2.0.</p>\n@return The Amazon Resource Name (ARN) of the desktop to stream from Amazon WorkSpaces, WorkSpaces Web, or AppStream 2.0.*/",
        "getterMethodName" : "getDesktopArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "desktopArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "desktopArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DesktopArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the desktop to stream from Amazon WorkSpaces, WorkSpaces Web, or AppStream 2.0.</p>\n@param desktopArn The Amazon Resource Name (ARN) of the desktop to stream from Amazon WorkSpaces, WorkSpaces Web, or AppStream 2.0.*/",
        "setterMethodName" : "setDesktopArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "desktopArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the desktop to stream from Amazon WorkSpaces, WorkSpaces Web, or AppStream 2.0.</p>\n@param desktopArn The Amazon Resource Name (ARN) of the desktop to stream from Amazon WorkSpaces, WorkSpaces Web, or AppStream 2.0.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "desktopArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the desktop to stream from Amazon WorkSpaces, WorkSpaces Web, or AppStream 2.0.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "desktopEndpoint",
        "c2jShape" : "DesktopEndpoint",
        "deprecated" : false,
        "documentation" : "<p>The URL for the identity provider login (only for environments that use AppStream 2.0).</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The URL for the identity provider login (only for environments that use AppStream 2.0).</p>\n@param desktopEndpoint The URL for the identity provider login (only for environments that use AppStream 2.0).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDesktopEndpoint",
        "getterDocumentation" : "/**<p>The URL for the identity provider login (only for environments that use AppStream 2.0).</p>\n@return The URL for the identity provider login (only for environments that use AppStream 2.0).*/",
        "getterMethodName" : "getDesktopEndpoint",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "desktopEndpoint",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "desktopEndpoint",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DesktopEndpoint",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The URL for the identity provider login (only for environments that use AppStream 2.0).</p>\n@param desktopEndpoint The URL for the identity provider login (only for environments that use AppStream 2.0).*/",
        "setterMethodName" : "setDesktopEndpoint",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "desktopEndpoint",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The URL for the identity provider login (only for environments that use AppStream 2.0).</p>\n@param desktopEndpoint The URL for the identity provider login (only for environments that use AppStream 2.0).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "desktopEndpoint",
          "variableType" : "String",
          "documentation" : "<p>The URL for the identity provider login (only for environments that use AppStream 2.0).</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "softwareSetUpdateSchedule",
        "c2jShape" : "SoftwareSetUpdateSchedule",
        "deprecated" : false,
        "documentation" : "<p>An option to define if software updates should be applied within a maintenance window.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "SoftwareSetUpdateSchedule",
        "fluentSetterDocumentation" : "/**<p>An option to define if software updates should be applied within a maintenance window.</p>\n@param softwareSetUpdateSchedule An option to define if software updates should be applied within a maintenance window.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SoftwareSetUpdateSchedule*/",
        "fluentSetterMethodName" : "withSoftwareSetUpdateSchedule",
        "getterDocumentation" : "/**<p>An option to define if software updates should be applied within a maintenance window.</p>\n@return An option to define if software updates should be applied within a maintenance window.\n@see SoftwareSetUpdateSchedule*/",
        "getterMethodName" : "getSoftwareSetUpdateSchedule",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "softwareSetUpdateSchedule",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "softwareSetUpdateSchedule",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SoftwareSetUpdateSchedule",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An option to define if software updates should be applied within a maintenance window.</p>\n@param softwareSetUpdateSchedule An option to define if software updates should be applied within a maintenance window.\n@see SoftwareSetUpdateSchedule*/",
        "setterMethodName" : "setSoftwareSetUpdateSchedule",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "softwareSetUpdateSchedule",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An option to define if software updates should be applied within a maintenance window.</p>\n@param softwareSetUpdateSchedule An option to define if software updates should be applied within a maintenance window.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SoftwareSetUpdateSchedule*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "softwareSetUpdateSchedule",
          "variableType" : "String",
          "documentation" : "<p>An option to define if software updates should be applied within a maintenance window.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "maintenanceWindow",
        "c2jShape" : "MaintenanceWindow",
        "deprecated" : false,
        "documentation" : "<p>A specification for a time window to apply software updates.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A specification for a time window to apply software updates.</p>\n@param maintenanceWindow A specification for a time window to apply software updates.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaintenanceWindow",
        "getterDocumentation" : "/**<p>A specification for a time window to apply software updates.</p>\n@return A specification for a time window to apply software updates.*/",
        "getterMethodName" : "getMaintenanceWindow",
        "getterModel" : {
          "returnType" : "MaintenanceWindow",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "maintenanceWindow",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "maintenanceWindow",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "MaintenanceWindow",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A specification for a time window to apply software updates.</p>\n@param maintenanceWindow A specification for a time window to apply software updates.*/",
        "setterMethodName" : "setMaintenanceWindow",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MaintenanceWindow",
          "variableName" : "maintenanceWindow",
          "variableType" : "MaintenanceWindow",
          "documentation" : "",
          "simpleType" : "MaintenanceWindow",
          "variableSetterType" : "MaintenanceWindow"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A specification for a time window to apply software updates.</p>\n@param maintenanceWindow A specification for a time window to apply software updates.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MaintenanceWindow",
          "variableName" : "maintenanceWindow",
          "variableType" : "MaintenanceWindow",
          "documentation" : "<p>A specification for a time window to apply software updates.</p>",
          "simpleType" : "MaintenanceWindow",
          "variableSetterType" : "MaintenanceWindow"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "softwareSetUpdateMode",
        "c2jShape" : "SoftwareSetUpdateMode",
        "deprecated" : false,
        "documentation" : "<p>An option to define which software updates to apply.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "SoftwareSetUpdateMode",
        "fluentSetterDocumentation" : "/**<p>An option to define which software updates to apply.</p>\n@param softwareSetUpdateMode An option to define which software updates to apply.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SoftwareSetUpdateMode*/",
        "fluentSetterMethodName" : "withSoftwareSetUpdateMode",
        "getterDocumentation" : "/**<p>An option to define which software updates to apply.</p>\n@return An option to define which software updates to apply.\n@see SoftwareSetUpdateMode*/",
        "getterMethodName" : "getSoftwareSetUpdateMode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "softwareSetUpdateMode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "softwareSetUpdateMode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SoftwareSetUpdateMode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An option to define which software updates to apply.</p>\n@param softwareSetUpdateMode An option to define which software updates to apply.\n@see SoftwareSetUpdateMode*/",
        "setterMethodName" : "setSoftwareSetUpdateMode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "softwareSetUpdateMode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An option to define which software updates to apply.</p>\n@param softwareSetUpdateMode An option to define which software updates to apply.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SoftwareSetUpdateMode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "softwareSetUpdateMode",
          "variableType" : "String",
          "documentation" : "<p>An option to define which software updates to apply.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "desiredSoftwareSetId",
        "c2jShape" : "SoftwareSetId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the software set to apply.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the software set to apply.</p>\n@param desiredSoftwareSetId The ID of the software set to apply.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDesiredSoftwareSetId",
        "getterDocumentation" : "/**<p>The ID of the software set to apply.</p>\n@return The ID of the software set to apply.*/",
        "getterMethodName" : "getDesiredSoftwareSetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "desiredSoftwareSetId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "desiredSoftwareSetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DesiredSoftwareSetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the software set to apply.</p>\n@param desiredSoftwareSetId The ID of the software set to apply.*/",
        "setterMethodName" : "setDesiredSoftwareSetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "desiredSoftwareSetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the software set to apply.</p>\n@param desiredSoftwareSetId The ID of the software set to apply.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "desiredSoftwareSetId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the software set to apply.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "kmsKeyArn",
        "c2jShape" : "KmsKeyArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Management Service key to use to encrypt the environment.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Management Service key to use to encrypt the environment.</p>\n@param kmsKeyArn The Amazon Resource Name (ARN) of the Key Management Service key to use to encrypt the environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKmsKeyArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Management Service key to use to encrypt the environment.</p>\n@return The Amazon Resource Name (ARN) of the Key Management Service key to use to encrypt the environment.*/",
        "getterMethodName" : "getKmsKeyArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "kmsKeyArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "kmsKeyArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KmsKeyArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Management Service key to use to encrypt the environment.</p>\n@param kmsKeyArn The Amazon Resource Name (ARN) of the Key Management Service key to use to encrypt the environment.*/",
        "setterMethodName" : "setKmsKeyArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kmsKeyArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Management Service key to use to encrypt the environment.</p>\n@param kmsKeyArn The Amazon Resource Name (ARN) of the Key Management Service key to use to encrypt the environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kmsKeyArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Management Service key to use to encrypt the environment.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>\n@param clientToken Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>\n@return Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>\n@param clientToken Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
