{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-09-25",
    "asyncClient" : "AmazonWorkLinkAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkLinkAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkLinkAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonWorkLinkModuleInjector",
    "defaultEndpoint" : "worklink.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "worklink.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon WorkLink is a cloud-based service that provides secure access to internal websites and web apps from iOS phones. In a single step, your users, such as employees, can access internal websites as efficiently as they access any other public website. They enter a URL in their web browser, or choose a link to an internal website in an email. Amazon WorkLink authenticates the user's access and securely renders authorized internal web content in a secure rendering service in the AWS cloud. Amazon WorkLink doesn't download or store any internal web content on mobile devices.</p>",
    "endpointPrefix" : "worklink",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.worklink",
    "packagePath" : "com/amazonaws/services/worklink",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "WorkLink",
    "serviceFullName" : "Amazon WorkLink",
    "serviceId" : "WorkLink",
    "serviceName" : "WorkLink",
    "signingName" : "worklink",
    "smokeTestsPackageName" : "com.amazonaws.services.worklink.smoketests",
    "syncClient" : "AmazonWorkLinkClient",
    "syncClientBuilderClassName" : "AmazonWorkLinkClientBuilder",
    "syncInterface" : "AmazonWorkLink",
    "uid" : "worklink-2018-09-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDomainRequest, AssociateDomainResult>",
      "asyncReturnType" : "AssociateDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies a domain to be associated to Amazon WorkLink.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDomainRequest",
        "variableName" : "associateDomainRequest",
        "variableType" : "AssociateDomainRequest",
        "documentation" : "",
        "simpleType" : "AssociateDomainRequest",
        "variableSetterType" : "AssociateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDomain",
      "operationName" : "AssociateDomain",
      "returnType" : {
        "returnType" : "AssociateDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDomainResult"
    },
    "AssociateWebsiteCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateWebsiteCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateWebsiteCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateWebsiteCertificateAuthorityRequest, AssociateWebsiteCertificateAuthorityResult>",
      "asyncReturnType" : "AssociateWebsiteCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports the root certificate of a certificate authority (CA) used to obtain TLS certificates used by associated websites within the company network.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateWebsiteCertificateAuthorityRequest",
        "variableName" : "associateWebsiteCertificateAuthorityRequest",
        "variableType" : "AssociateWebsiteCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "AssociateWebsiteCertificateAuthorityRequest",
        "variableSetterType" : "AssociateWebsiteCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateWebsiteCertificateAuthority",
      "operationName" : "AssociateWebsiteCertificateAuthority",
      "returnType" : {
        "returnType" : "AssociateWebsiteCertificateAuthorityResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateWebsiteCertificateAuthorityResult"
    },
    "CreateFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFleetRequest, CreateFleetResult>",
      "asyncReturnType" : "CreateFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a fleet. A fleet consists of resources and the configuration that delivers associated websites to authorized users who download and set up the Amazon WorkLink app.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFleetRequest",
        "variableName" : "createFleetRequest",
        "variableType" : "CreateFleetRequest",
        "documentation" : "",
        "simpleType" : "CreateFleetRequest",
        "variableSetterType" : "CreateFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFleet",
      "operationName" : "CreateFleet",
      "returnType" : {
        "returnType" : "CreateFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFleetResult"
    },
    "DeleteFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFleetRequest, DeleteFleetResult>",
      "asyncReturnType" : "DeleteFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a fleet. Prevents users from accessing previously associated websites. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFleetRequest",
        "variableName" : "deleteFleetRequest",
        "variableType" : "DeleteFleetRequest",
        "documentation" : "",
        "simpleType" : "DeleteFleetRequest",
        "variableSetterType" : "DeleteFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFleet",
      "operationName" : "DeleteFleet",
      "returnType" : {
        "returnType" : "DeleteFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFleetResult"
    },
    "DescribeAuditStreamConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAuditStreamConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAuditStreamConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAuditStreamConfigurationRequest, DescribeAuditStreamConfigurationResult>",
      "asyncReturnType" : "DescribeAuditStreamConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the configuration for delivering audit streams to the customer account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAuditStreamConfigurationRequest",
        "variableName" : "describeAuditStreamConfigurationRequest",
        "variableType" : "DescribeAuditStreamConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeAuditStreamConfigurationRequest",
        "variableSetterType" : "DescribeAuditStreamConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAuditStreamConfiguration",
      "operationName" : "DescribeAuditStreamConfiguration",
      "returnType" : {
        "returnType" : "DescribeAuditStreamConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAuditStreamConfigurationResult"
    },
    "DescribeCompanyNetworkConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCompanyNetworkConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCompanyNetworkConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCompanyNetworkConfigurationRequest, DescribeCompanyNetworkConfigurationResult>",
      "asyncReturnType" : "DescribeCompanyNetworkConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the networking configuration to access the internal websites associated with the specified fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCompanyNetworkConfigurationRequest",
        "variableName" : "describeCompanyNetworkConfigurationRequest",
        "variableType" : "DescribeCompanyNetworkConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeCompanyNetworkConfigurationRequest",
        "variableSetterType" : "DescribeCompanyNetworkConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCompanyNetworkConfiguration",
      "operationName" : "DescribeCompanyNetworkConfiguration",
      "returnType" : {
        "returnType" : "DescribeCompanyNetworkConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCompanyNetworkConfigurationResult"
    },
    "DescribeDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeviceRequest, DescribeDeviceResult>",
      "asyncReturnType" : "DescribeDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about a user's device.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeviceRequest",
        "variableName" : "describeDeviceRequest",
        "variableType" : "DescribeDeviceRequest",
        "documentation" : "",
        "simpleType" : "DescribeDeviceRequest",
        "variableSetterType" : "DescribeDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDevice",
      "operationName" : "DescribeDevice",
      "returnType" : {
        "returnType" : "DescribeDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDeviceResult"
    },
    "DescribeDevicePolicyConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDevicePolicyConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDevicePolicyConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDevicePolicyConfigurationRequest, DescribeDevicePolicyConfigurationResult>",
      "asyncReturnType" : "DescribeDevicePolicyConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the device policy configuration for the specified fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDevicePolicyConfigurationRequest",
        "variableName" : "describeDevicePolicyConfigurationRequest",
        "variableType" : "DescribeDevicePolicyConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeDevicePolicyConfigurationRequest",
        "variableSetterType" : "DescribeDevicePolicyConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDevicePolicyConfiguration",
      "operationName" : "DescribeDevicePolicyConfiguration",
      "returnType" : {
        "returnType" : "DescribeDevicePolicyConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDevicePolicyConfigurationResult"
    },
    "DescribeDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDomainRequest, DescribeDomainResult>",
      "asyncReturnType" : "DescribeDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDomainRequest",
        "variableName" : "describeDomainRequest",
        "variableType" : "DescribeDomainRequest",
        "documentation" : "",
        "simpleType" : "DescribeDomainRequest",
        "variableSetterType" : "DescribeDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDomain",
      "operationName" : "DescribeDomain",
      "returnType" : {
        "returnType" : "DescribeDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDomainResult"
    },
    "DescribeFleetMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFleetMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFleetMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFleetMetadataRequest, DescribeFleetMetadataResult>",
      "asyncReturnType" : "DescribeFleetMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides basic information for the specified fleet, excluding identity provider, networking, and device configuration details.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFleetMetadataRequest",
        "variableName" : "describeFleetMetadataRequest",
        "variableType" : "DescribeFleetMetadataRequest",
        "documentation" : "",
        "simpleType" : "DescribeFleetMetadataRequest",
        "variableSetterType" : "DescribeFleetMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFleetMetadata",
      "operationName" : "DescribeFleetMetadata",
      "returnType" : {
        "returnType" : "DescribeFleetMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFleetMetadataResult"
    },
    "DescribeIdentityProviderConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIdentityProviderConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIdentityProviderConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIdentityProviderConfigurationRequest, DescribeIdentityProviderConfigurationResult>",
      "asyncReturnType" : "DescribeIdentityProviderConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the identity provider configuration of the specified fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeIdentityProviderConfigurationRequest",
        "variableName" : "describeIdentityProviderConfigurationRequest",
        "variableType" : "DescribeIdentityProviderConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeIdentityProviderConfigurationRequest",
        "variableSetterType" : "DescribeIdentityProviderConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeIdentityProviderConfiguration",
      "operationName" : "DescribeIdentityProviderConfiguration",
      "returnType" : {
        "returnType" : "DescribeIdentityProviderConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeIdentityProviderConfigurationResult"
    },
    "DescribeWebsiteCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWebsiteCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWebsiteCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWebsiteCertificateAuthorityRequest, DescribeWebsiteCertificateAuthorityResult>",
      "asyncReturnType" : "DescribeWebsiteCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the certificate authority.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWebsiteCertificateAuthorityRequest",
        "variableName" : "describeWebsiteCertificateAuthorityRequest",
        "variableType" : "DescribeWebsiteCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "DescribeWebsiteCertificateAuthorityRequest",
        "variableSetterType" : "DescribeWebsiteCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWebsiteCertificateAuthority",
      "operationName" : "DescribeWebsiteCertificateAuthority",
      "returnType" : {
        "returnType" : "DescribeWebsiteCertificateAuthorityResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWebsiteCertificateAuthorityResult"
    },
    "DisassociateDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDomainRequest, DisassociateDomainResult>",
      "asyncReturnType" : "DisassociateDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a domain from Amazon WorkLink. End users lose the ability to access the domain with Amazon WorkLink. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateDomainRequest",
        "variableName" : "disassociateDomainRequest",
        "variableType" : "DisassociateDomainRequest",
        "documentation" : "",
        "simpleType" : "DisassociateDomainRequest",
        "variableSetterType" : "DisassociateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDomain",
      "operationName" : "DisassociateDomain",
      "returnType" : {
        "returnType" : "DisassociateDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDomainResult"
    },
    "DisassociateWebsiteCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateWebsiteCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateWebsiteCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateWebsiteCertificateAuthorityRequest, DisassociateWebsiteCertificateAuthorityResult>",
      "asyncReturnType" : "DisassociateWebsiteCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a certificate authority (CA).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateWebsiteCertificateAuthorityRequest",
        "variableName" : "disassociateWebsiteCertificateAuthorityRequest",
        "variableType" : "DisassociateWebsiteCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "DisassociateWebsiteCertificateAuthorityRequest",
        "variableSetterType" : "DisassociateWebsiteCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateWebsiteCertificateAuthority",
      "operationName" : "DisassociateWebsiteCertificateAuthority",
      "returnType" : {
        "returnType" : "DisassociateWebsiteCertificateAuthorityResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateWebsiteCertificateAuthorityResult"
    },
    "ListDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicesRequest, ListDevicesResult>",
      "asyncReturnType" : "ListDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of devices registered with the specified fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDevicesRequest",
        "variableName" : "listDevicesRequest",
        "variableType" : "ListDevicesRequest",
        "documentation" : "",
        "simpleType" : "ListDevicesRequest",
        "variableSetterType" : "ListDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDevices",
      "operationName" : "ListDevices",
      "returnType" : {
        "returnType" : "ListDevicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDevicesResult"
    },
    "ListDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainsRequest, ListDomainsResult>",
      "asyncReturnType" : "ListDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of domains associated to a specified fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDomainsRequest",
        "variableName" : "listDomainsRequest",
        "variableType" : "ListDomainsRequest",
        "documentation" : "",
        "simpleType" : "ListDomainsRequest",
        "variableSetterType" : "ListDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomains",
      "operationName" : "ListDomains",
      "returnType" : {
        "returnType" : "ListDomainsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDomainsResult"
    },
    "ListFleets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFleetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFleetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFleetsRequest, ListFleetsResult>",
      "asyncReturnType" : "ListFleetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of fleets for the current account and Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFleetsRequest",
        "variableName" : "listFleetsRequest",
        "variableType" : "ListFleetsRequest",
        "documentation" : "",
        "simpleType" : "ListFleetsRequest",
        "variableSetterType" : "ListFleetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFleets",
      "operationName" : "ListFleets",
      "returnType" : {
        "returnType" : "ListFleetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFleetsResult"
    },
    "ListWebsiteCertificateAuthorities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWebsiteCertificateAuthoritiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWebsiteCertificateAuthoritiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWebsiteCertificateAuthoritiesRequest, ListWebsiteCertificateAuthoritiesResult>",
      "asyncReturnType" : "ListWebsiteCertificateAuthoritiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of certificate authorities added for the current account and Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWebsiteCertificateAuthoritiesRequest",
        "variableName" : "listWebsiteCertificateAuthoritiesRequest",
        "variableType" : "ListWebsiteCertificateAuthoritiesRequest",
        "documentation" : "",
        "simpleType" : "ListWebsiteCertificateAuthoritiesRequest",
        "variableSetterType" : "ListWebsiteCertificateAuthoritiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWebsiteCertificateAuthorities",
      "operationName" : "ListWebsiteCertificateAuthorities",
      "returnType" : {
        "returnType" : "ListWebsiteCertificateAuthoritiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWebsiteCertificateAuthoritiesResult"
    },
    "RestoreDomainAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreDomainAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreDomainAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreDomainAccessRequest, RestoreDomainAccessResult>",
      "asyncReturnType" : "RestoreDomainAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Moves a domain to ACTIVE status if it was in the INACTIVE status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RestoreDomainAccessRequest",
        "variableName" : "restoreDomainAccessRequest",
        "variableType" : "RestoreDomainAccessRequest",
        "documentation" : "",
        "simpleType" : "RestoreDomainAccessRequest",
        "variableSetterType" : "RestoreDomainAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restoreDomainAccess",
      "operationName" : "RestoreDomainAccess",
      "returnType" : {
        "returnType" : "RestoreDomainAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "RestoreDomainAccessResult"
    },
    "RevokeDomainAccess" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokeDomainAccessResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokeDomainAccessResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeDomainAccessRequest, RevokeDomainAccessResult>",
      "asyncReturnType" : "RevokeDomainAccessResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Moves a domain to INACTIVE status if it was in the ACTIVE status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokeDomainAccessRequest",
        "variableName" : "revokeDomainAccessRequest",
        "variableType" : "RevokeDomainAccessRequest",
        "documentation" : "",
        "simpleType" : "RevokeDomainAccessRequest",
        "variableSetterType" : "RevokeDomainAccessRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokeDomainAccess",
      "operationName" : "RevokeDomainAccess",
      "returnType" : {
        "returnType" : "RevokeDomainAccessResult",
        "documentation" : null
      },
      "syncReturnType" : "RevokeDomainAccessResult"
    },
    "SignOutUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SignOutUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SignOutUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SignOutUserRequest, SignOutUserResult>",
      "asyncReturnType" : "SignOutUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Signs the user out from all of their devices. The user can sign in again if they have valid credentials.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SignOutUserRequest",
        "variableName" : "signOutUserRequest",
        "variableType" : "SignOutUserRequest",
        "documentation" : "",
        "simpleType" : "SignOutUserRequest",
        "variableSetterType" : "SignOutUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "signOutUser",
      "operationName" : "SignOutUser",
      "returnType" : {
        "returnType" : "SignOutUserResult",
        "documentation" : null
      },
      "syncReturnType" : "SignOutUserResult"
    },
    "UpdateAuditStreamConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAuditStreamConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAuditStreamConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAuditStreamConfigurationRequest, UpdateAuditStreamConfigurationResult>",
      "asyncReturnType" : "UpdateAuditStreamConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the audit stream configuration for the fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAuditStreamConfigurationRequest",
        "variableName" : "updateAuditStreamConfigurationRequest",
        "variableType" : "UpdateAuditStreamConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateAuditStreamConfigurationRequest",
        "variableSetterType" : "UpdateAuditStreamConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAuditStreamConfiguration",
      "operationName" : "UpdateAuditStreamConfiguration",
      "returnType" : {
        "returnType" : "UpdateAuditStreamConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAuditStreamConfigurationResult"
    },
    "UpdateCompanyNetworkConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCompanyNetworkConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCompanyNetworkConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCompanyNetworkConfigurationRequest, UpdateCompanyNetworkConfigurationResult>",
      "asyncReturnType" : "UpdateCompanyNetworkConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the company network configuration for the fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCompanyNetworkConfigurationRequest",
        "variableName" : "updateCompanyNetworkConfigurationRequest",
        "variableType" : "UpdateCompanyNetworkConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateCompanyNetworkConfigurationRequest",
        "variableSetterType" : "UpdateCompanyNetworkConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCompanyNetworkConfiguration",
      "operationName" : "UpdateCompanyNetworkConfiguration",
      "returnType" : {
        "returnType" : "UpdateCompanyNetworkConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCompanyNetworkConfigurationResult"
    },
    "UpdateDevicePolicyConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDevicePolicyConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDevicePolicyConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDevicePolicyConfigurationRequest, UpdateDevicePolicyConfigurationResult>",
      "asyncReturnType" : "UpdateDevicePolicyConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the device policy configuration for the fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDevicePolicyConfigurationRequest",
        "variableName" : "updateDevicePolicyConfigurationRequest",
        "variableType" : "UpdateDevicePolicyConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateDevicePolicyConfigurationRequest",
        "variableSetterType" : "UpdateDevicePolicyConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDevicePolicyConfiguration",
      "operationName" : "UpdateDevicePolicyConfiguration",
      "returnType" : {
        "returnType" : "UpdateDevicePolicyConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDevicePolicyConfigurationResult"
    },
    "UpdateDomainMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainMetadataRequest, UpdateDomainMetadataResult>",
      "asyncReturnType" : "UpdateDomainMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates domain metadata, such as DisplayName.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDomainMetadataRequest",
        "variableName" : "updateDomainMetadataRequest",
        "variableType" : "UpdateDomainMetadataRequest",
        "documentation" : "",
        "simpleType" : "UpdateDomainMetadataRequest",
        "variableSetterType" : "UpdateDomainMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomainMetadata",
      "operationName" : "UpdateDomainMetadata",
      "returnType" : {
        "returnType" : "UpdateDomainMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDomainMetadataResult"
    },
    "UpdateFleetMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFleetMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFleetMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFleetMetadataRequest, UpdateFleetMetadataResult>",
      "asyncReturnType" : "UpdateFleetMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates fleet metadata, such as DisplayName.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFleetMetadataRequest",
        "variableName" : "updateFleetMetadataRequest",
        "variableType" : "UpdateFleetMetadataRequest",
        "documentation" : "",
        "simpleType" : "UpdateFleetMetadataRequest",
        "variableSetterType" : "UpdateFleetMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFleetMetadata",
      "operationName" : "UpdateFleetMetadata",
      "returnType" : {
        "returnType" : "UpdateFleetMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFleetMetadataResult"
    },
    "UpdateIdentityProviderConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIdentityProviderConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIdentityProviderConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIdentityProviderConfigurationRequest, UpdateIdentityProviderConfigurationResult>",
      "asyncReturnType" : "UpdateIdentityProviderConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the identity provider configuration for the fleet.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>You are not authorized to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIdentityProviderConfigurationRequest",
        "variableName" : "updateIdentityProviderConfigurationRequest",
        "variableType" : "UpdateIdentityProviderConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateIdentityProviderConfigurationRequest",
        "variableSetterType" : "UpdateIdentityProviderConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIdentityProviderConfiguration",
      "operationName" : "UpdateIdentityProviderConfiguration",
      "returnType" : {
        "returnType" : "UpdateIdentityProviderConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateIdentityProviderConfigurationResult"
    }
  },
  "shapes" : {
    "AssociateDomainRequest" : {
      "c2jName" : "AssociateDomainRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateDomain",
        "locationName" : null,
        "requestUri" : "/associateDomain",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "FleetArn",
        "c2jShape" : "FleetArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the fleet.</p>\n@param fleetArn The Amazon Resource Name (ARN) of the fleet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFleetArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the fleet.</p>\n@return The Amazon Resource Name (ARN) of the fleet.*/",
        "getterMethodName" : "getFleetArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FleetArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FleetArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FleetArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the fleet.</p>\n@param fleetArn The Amazon Resource Name (ARN) of the fleet.*/",
        "setterMethodName" : "setFleetArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "fleetArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the fleet.</p>\n@param fleetArn The Amazon Resource Name (ARN) of the fleet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "fleetArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DomainName",
        "c2jShape" : "DomainName",
        "deprecated" : false,
        "documentation" : "<p>The fully qualified domain name (FQDN).</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The fully qualified domain name (FQDN).</p>\n@param domainName The fully qualified domain name (FQDN).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDomainName",
        "getterDocumentation" : "/**<p>The fully qualified domain name (FQDN).</p>\n@return The fully qualified domain name (FQDN).*/",
        "getterMethodName" : "getDomainName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DomainName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The fully qualified domain name (FQDN).</p>\n@param domainName The fully qualified domain name (FQDN).*/",
        "setterMethodName" : "setDomainName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The fully qualified domain name (FQDN).</p>\n@param domainName The fully qualified domain name (FQDN).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "<p>The fully qualified domain name (FQDN).</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AcmCertificateArn",
        "c2jShape" : "AcmCertificateArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>\n@param acmCertificateArn The ARN of an issued ACM certificate that is valid for the domain being associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAcmCertificateArn",
        "getterDocumentation" : "/**<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>\n@return The ARN of an issued ACM certificate that is valid for the domain being associated.*/",
        "getterMethodName" : "getAcmCertificateArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AcmCertificateArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AcmCertificateArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AcmCertificateArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>\n@param acmCertificateArn The ARN of an issued ACM certificate that is valid for the domain being associated.*/",
        "setterMethodName" : "setAcmCertificateArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acmCertificateArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>\n@param acmCertificateArn The ARN of an issued ACM certificate that is valid for the domain being associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acmCertificateArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DisplayName",
        "c2jShape" : "DisplayName",
        "deprecated" : false,
        "documentation" : "<p>The name to display.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name to display.</p>\n@param displayName The name to display.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDisplayName",
        "getterDocumentation" : "/**<p>The name to display.</p>\n@return The name to display.*/",
        "getterMethodName" : "getDisplayName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DisplayName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DisplayName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DisplayName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name to display.</p>\n@param displayName The name to display.*/",
        "setterMethodName" : "setDisplayName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "displayName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name to display.</p>\n@param displayName The name to display.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "displayName",
          "variableType" : "String",
          "documentation" : "<p>The name to display.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AcmCertificateArn" : {
          "c2jName" : "AcmCertificateArn",
          "c2jShape" : "AcmCertificateArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>\n@param acmCertificateArn The ARN of an issued ACM certificate that is valid for the domain being associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAcmCertificateArn",
          "getterDocumentation" : "/**<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>\n@return The ARN of an issued ACM certificate that is valid for the domain being associated.*/",
          "getterMethodName" : "getAcmCertificateArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AcmCertificateArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AcmCertificateArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AcmCertificateArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>\n@param acmCertificateArn The ARN of an issued ACM certificate that is valid for the domain being associated.*/",
          "setterMethodName" : "setAcmCertificateArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acmCertificateArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>\n@param acmCertificateArn The ARN of an issued ACM certificate that is valid for the domain being associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acmCertificateArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of an issued ACM certificate that is valid for the domain being associated. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DisplayName" : {
          "c2jName" : "DisplayName",
          "c2jShape" : "DisplayName",
          "deprecated" : false,
          "documentation" : "<p>The name to display.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name to display.</p>\n@param displayName The name to display.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDisplayName",
          "getterDocumentation" : "/**<p>The name to display.</p>\n@return The name to display.*/",
          "getterMethodName" : "getDisplayName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DisplayName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DisplayName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DisplayName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name to display.</p>\n@param displayName The name to display.*/",
          "setterMethodName" : "setDisplayName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "displayName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name to display.</p>\n@param displayName The name to display.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "displayName",
            "variableType" : "String",
            "documentation" : "<p>The name to display.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DomainName" : {
          "c2jName" : "DomainName",
          "c2jShape" : "DomainName",
          "deprecated" : false,
          "documentation" : "<p>The fully qualified domain name (FQDN).</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The fully qualified domain name (FQDN).</p>\n@param domainName The fully qualified domain name (FQDN).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDomainName",
          "getterDocumentation" : "/**<p>The fully qualified domain name (FQDN).</p>\n@return The fully qualified domain name (FQDN).*/",
          "getterMethodName" : "getDomainName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DomainName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DomainName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DomainName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The fully qualified domain name (FQDN).</p>\n@param domainName The fully qualified domain name (FQDN).*/",
          "setterMethodName" : "setDomainName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The fully qualified domain name (FQDN).</p>\n@param domainName The fully qualified domain name (FQDN).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "<p>The fully qualified domain name (FQDN).</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "FleetArn" : {
          "c2jName" : "FleetArn",
          "c2jShape" : "FleetArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the fleet.</p>\n@param fleetArn The Amazon Resource Name (ARN) of the fleet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFleetArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the fleet.</p>\n@return The Amazon Resource Name (ARN) of the fleet.*/",
          "getterMethodName" : "getFleetArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FleetArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FleetArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FleetArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the fleet.</p>\n@param fleetArn The Amazon Resource Name (ARN) of the fleet.*/",
          "setterMethodName" : "setFleetArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "fleetArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the fleet.</p>\n@param fleetArn The Amazon Resource Name (ARN) of the fleet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "fleetArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "FleetArn", "DomainName", "AcmCertificateArn" ],
      "shapeName" : "AssociateDomainRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDomainRequest",
        "variableName" : "associateDomainRequest",
        "variableType" : "AssociateDomainRequest",
        "documentation" : null,
        "simpleType" : "AssociateDomainRequest",
        "variableSetterType" : "AssociateDomainRequest"
      },
      "wrapper" : false
    },
    "AssociateDomainResult" : {
      "c2jName" : "AssociateDomainResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssociateDomainResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDomainResult",
        "variableName" : "associateDomainResult",
        "variableType" : "AssociateDomainResult",
        "documentation" : null,
        "simpleType" : "AssociateDomainResult",
        "variableSetterType" : "AssociateDomainResult"
      },
      "wrapper" : false
    },
    "AssociateWebsiteCertificateAuthorityRequest" : {
      "c2jName" : "AssociateWebsiteCertificateAuthorityRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateWebsiteCertificateAuthority",
        "locationName" : null,
        "requestUri" : "/associateWebsiteCertificateAuthority",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "FleetArn",
        "c2jShape" : "FleetArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the fleet.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the fleet.</p>\n@param fleetArn The ARN of the fleet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFleetArn",
        "getterDocumentation" : "/**<p>The ARN of the fleet.</p>\n@return The ARN of the fleet.*/",
        "getterMethodName" : "getFleetArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FleetArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FleetArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FleetArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the fleet.</p>\n@param fleetArn The ARN of the fleet.*/",
        "setterMethodName" : "setFleetArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "fleetArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the fleet.</p>\n@param fleetArn The ARN of the fleet.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "fleetArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the fleet.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Certificate",
        "c2jShape" : "Certificate",
        "deprecated" : false,
        "documentation" : "<p>The root certificate of the CA.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The root certificate of the CA.</p>\n@param certificate The root certificate of the CA.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCertificate",
        "getterDocumentation" : "/**<p>The root certificate of the CA.</p>\n@return The root certificate of the CA.*/",
        "getterMethodName" : "getCertificate",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Certificate",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Certificate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Certificate",
[...]
