{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-10-01",
    "asyncClient" : "AmazonWorkMailAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkMailAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkMailAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonWorkMailModuleInjector",
    "defaultEndpoint" : "workmail.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "workmail.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon WorkMail is a secure, managed business email and calendaring service with support for existing desktop and mobile email clients. You can access your email, contacts, and calendars using Microsoft Outlook, your browser, or other native iOS and Android email applications. You can integrate WorkMail with your existing corporate directory and control both the keys that encrypt your data and the location in which your data is stored.</p> <p>The WorkMail API is designed for the following scenarios:</p> <ul> <li> <p>Listing and describing organizations</p> </li> </ul> <ul> <li> <p>Managing users</p> </li> </ul> <ul> <li> <p>Managing groups</p> </li> </ul> <ul> <li> <p>Managing resources</p> </li> </ul> <p>All WorkMail API operations are Amazon-authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of AWS Identity and Access Management users and roles to help facilitate access, trust, and permission policies. By creating a role and allowing an IAM user to access the WorkMail site, the IAM user gains full administrative visibility into the entire WorkMail organization (or as set in the IAM policy). This includes, but is not limited to, the ability to create, update, and delete users, groups, and resources. This allows developers to perform the scenarios listed above, as well as give users the ability to grant access on a selective basis using the IAM model.</p>",
    "endpointPrefix" : "workmail",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.workmail",
    "packagePath" : "com/amazonaws/services/workmail",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkMail",
    "serviceId" : "WorkMail",
    "serviceName" : "Amazon WorkMail",
    "signingName" : "workmail",
    "smokeTestsPackageName" : "com.amazonaws.services.workmail.smoketests",
    "syncClient" : "AmazonWorkMailClient",
    "syncClientBuilderClassName" : "AmazonWorkMailClientBuilder",
    "syncInterface" : "AmazonWorkMail",
    "uid" : "workmail-2017-10-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateDelegateToResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateDelegateToResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateDelegateToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateDelegateToResourceRequest, AssociateDelegateToResourceResult>",
      "asyncReturnType" : "AssociateDelegateToResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a member (user or group) to the resource's set of delegates.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateDelegateToResourceRequest",
        "variableName" : "associateDelegateToResourceRequest",
        "variableType" : "AssociateDelegateToResourceRequest",
        "documentation" : "",
        "simpleType" : "AssociateDelegateToResourceRequest",
        "variableSetterType" : "AssociateDelegateToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateDelegateToResource",
      "operationName" : "AssociateDelegateToResource",
      "returnType" : {
        "returnType" : "AssociateDelegateToResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateDelegateToResourceResult"
    },
    "AssociateMemberToGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateMemberToGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateMemberToGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateMemberToGroupRequest, AssociateMemberToGroupResult>",
      "asyncReturnType" : "AssociateMemberToGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a member (user or group) to the group's set.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryServiceAuthenticationFailedException",
        "documentation" : "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>You can't perform a write operation against a read-only directory.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateMemberToGroupRequest",
        "variableName" : "associateMemberToGroupRequest",
        "variableType" : "AssociateMemberToGroupRequest",
        "documentation" : "",
        "simpleType" : "AssociateMemberToGroupRequest",
        "variableSetterType" : "AssociateMemberToGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateMemberToGroup",
      "operationName" : "AssociateMemberToGroup",
      "returnType" : {
        "returnType" : "AssociateMemberToGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateMemberToGroupResult"
    },
    "CreateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "asyncReturnType" : "CreateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds an alias to the set of a given member (user or group) of Amazon WorkMail.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EmailAddressInUseException",
        "documentation" : "<p>The email address that you're trying to assign is already created for a different user, group, or resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MailDomainNotFoundException",
        "documentation" : "<p>For an email or alias to be created in Amazon WorkMail, the included domain must be defined in the organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MailDomainStateException",
        "documentation" : "<p>After a domain has been added to the organization, it must be verified. The domain is not yet verified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAliasRequest",
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "documentation" : "",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlias",
      "operationName" : "CreateAlias",
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAliasResult"
    },
    "CreateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupRequest, CreateGroupResult>",
      "asyncReturnType" : "CreateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a group that can be used in Amazon WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryServiceAuthenticationFailedException",
        "documentation" : "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NameAvailabilityException",
        "documentation" : "<p>The user, group, or resource name isn't unique in Amazon WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReservedNameException",
        "documentation" : "<p>This user, group, or resource name is not allowed in Amazon WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>You can't perform a write operation against a read-only directory.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGroupRequest",
        "variableName" : "createGroupRequest",
        "variableType" : "CreateGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateGroupRequest",
        "variableSetterType" : "CreateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroup",
      "operationName" : "CreateGroup",
      "returnType" : {
        "returnType" : "CreateGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGroupResult"
    },
    "CreateResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceRequest, CreateResourceResult>",
      "asyncReturnType" : "CreateResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Amazon WorkMail resource. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryServiceAuthenticationFailedException",
        "documentation" : "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NameAvailabilityException",
        "documentation" : "<p>The user, group, or resource name isn't unique in Amazon WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReservedNameException",
        "documentation" : "<p>This user, group, or resource name is not allowed in Amazon WorkMail.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResourceRequest",
        "variableName" : "createResourceRequest",
        "variableType" : "CreateResourceRequest",
        "documentation" : "",
        "simpleType" : "CreateResourceRequest",
        "variableSetterType" : "CreateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResource",
      "operationName" : "CreateResource",
      "returnType" : {
        "returnType" : "CreateResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResourceResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user who can be used in Amazon WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryServiceAuthenticationFailedException",
        "documentation" : "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>The supplied password doesn't match the minimum security constraints, such as length or use of special characters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NameAvailabilityException",
        "documentation" : "<p>The user, group, or resource name isn't unique in Amazon WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReservedNameException",
        "documentation" : "<p>This user, group, or resource name is not allowed in Amazon WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>You can't perform a write operation against a read-only directory.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeleteAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAliasRequest, DeleteAliasResult>",
      "asyncReturnType" : "DeleteAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove one or more specified aliases from a set of aliases for a given user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAliasRequest",
        "variableName" : "deleteAliasRequest",
        "variableType" : "DeleteAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteAliasRequest",
        "variableSetterType" : "DeleteAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlias",
      "operationName" : "DeleteAlias",
      "returnType" : {
        "returnType" : "DeleteAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAliasResult"
    },
    "DeleteGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGroupRequest, DeleteGroupResult>",
      "asyncReturnType" : "DeleteGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a group from Amazon WorkMail.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryServiceAuthenticationFailedException",
        "documentation" : "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>You can't perform a write operation against a read-only directory.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGroupRequest",
        "variableName" : "deleteGroupRequest",
        "variableType" : "DeleteGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteGroupRequest",
        "variableSetterType" : "DeleteGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGroup",
      "operationName" : "DeleteGroup",
      "returnType" : {
        "returnType" : "DeleteGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGroupResult"
    },
    "DeleteMailboxPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMailboxPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMailboxPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMailboxPermissionsRequest, DeleteMailboxPermissionsResult>",
      "asyncReturnType" : "DeleteMailboxPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes permissions granted to a member (user or group).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMailboxPermissionsRequest",
        "variableName" : "deleteMailboxPermissionsRequest",
        "variableType" : "DeleteMailboxPermissionsRequest",
        "documentation" : "",
        "simpleType" : "DeleteMailboxPermissionsRequest",
        "variableSetterType" : "DeleteMailboxPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMailboxPermissions",
      "operationName" : "DeleteMailboxPermissions",
      "returnType" : {
        "returnType" : "DeleteMailboxPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMailboxPermissionsResult"
    },
    "DeleteResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourceRequest, DeleteResourceResult>",
      "asyncReturnType" : "DeleteResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified resource. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourceRequest",
        "variableName" : "deleteResourceRequest",
        "variableType" : "DeleteResourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourceRequest",
        "variableSetterType" : "DeleteResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResource",
      "operationName" : "DeleteResource",
      "returnType" : {
        "returnType" : "DeleteResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourceResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user from Amazon WorkMail and all subsequent systems. Before you can delete a user, the user state must be <code>DISABLED</code>. Use the <a>DescribeUser</a> action to confirm the user state.</p> <p>Deleting a user is permanent and cannot be undone. WorkMail archives user mailboxes for 30 days before they are permanently removed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryServiceAuthenticationFailedException",
        "documentation" : "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>You can't perform a write operation against a read-only directory.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DeregisterFromWorkMail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterFromWorkMailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterFromWorkMailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterFromWorkMailRequest, DeregisterFromWorkMailResult>",
      "asyncReturnType" : "DeregisterFromWorkMailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Mark a user, group, or resource as no longer used in Amazon WorkMail. This action disassociates the mailbox and schedules it for clean-up. WorkMail keeps mailboxes for 30 days before they are permanently removed. The functionality in the console is <i>Disable</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterFromWorkMailRequest",
        "variableName" : "deregisterFromWorkMailRequest",
        "variableType" : "DeregisterFromWorkMailRequest",
        "documentation" : "",
        "simpleType" : "DeregisterFromWorkMailRequest",
        "variableSetterType" : "DeregisterFromWorkMailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterFromWorkMail",
      "operationName" : "DeregisterFromWorkMail",
      "returnType" : {
        "returnType" : "DeregisterFromWorkMailResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterFromWorkMailResult"
    },
    "DescribeGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeGroupRequest, DescribeGroupResult>",
      "asyncReturnType" : "DescribeGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the data available for the group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeGroupRequest",
        "variableName" : "describeGroupRequest",
        "variableType" : "DescribeGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeGroupRequest",
        "variableSetterType" : "DescribeGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeGroup",
      "operationName" : "DescribeGroup",
      "returnType" : {
        "returnType" : "DescribeGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeGroupResult"
    },
    "DescribeOrganization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeOrganizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeOrganizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeOrganizationRequest, DescribeOrganizationResult>",
      "asyncReturnType" : "DescribeOrganizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides more information regarding a given organization based on its identifier.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeOrganizationRequest",
        "variableName" : "describeOrganizationRequest",
        "variableType" : "DescribeOrganizationRequest",
        "documentation" : "",
        "simpleType" : "DescribeOrganizationRequest",
        "variableSetterType" : "DescribeOrganizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeOrganization",
      "operationName" : "DescribeOrganization",
      "returnType" : {
        "returnType" : "DescribeOrganizationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeOrganizationResult"
    },
    "DescribeResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourceRequest, DescribeResourceResult>",
      "asyncReturnType" : "DescribeResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the data available for the resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeResourceRequest",
        "variableName" : "describeResourceRequest",
        "variableType" : "DescribeResourceRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourceRequest",
        "variableSetterType" : "DescribeResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResource",
      "operationName" : "DescribeResource",
      "returnType" : {
        "returnType" : "DescribeResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourceResult"
    },
    "DescribeUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserRequest, DescribeUserResult>",
      "asyncReturnType" : "DescribeUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information regarding the user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserRequest",
        "variableName" : "describeUserRequest",
        "variableType" : "DescribeUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserRequest",
        "variableSetterType" : "DescribeUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUser",
      "operationName" : "DescribeUser",
      "returnType" : {
        "returnType" : "DescribeUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserResult"
    },
    "DisassociateDelegateFromResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateDelegateFromResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateDelegateFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateDelegateFromResourceRequest, DisassociateDelegateFromResourceResult>",
      "asyncReturnType" : "DisassociateDelegateFromResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a member from the resource's set of delegates.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateDelegateFromResourceRequest",
        "variableName" : "disassociateDelegateFromResourceRequest",
        "variableType" : "DisassociateDelegateFromResourceRequest",
        "documentation" : "",
        "simpleType" : "DisassociateDelegateFromResourceRequest",
        "variableSetterType" : "DisassociateDelegateFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateDelegateFromResource",
      "operationName" : "DisassociateDelegateFromResource",
      "returnType" : {
        "returnType" : "DisassociateDelegateFromResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateDelegateFromResourceResult"
    },
    "DisassociateMemberFromGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateMemberFromGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateMemberFromGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateMemberFromGroupRequest, DisassociateMemberFromGroupResult>",
      "asyncReturnType" : "DisassociateMemberFromGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a member from a group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryServiceAuthenticationFailedException",
        "documentation" : "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>You can't perform a write operation against a read-only directory.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateMemberFromGroupRequest",
        "variableName" : "disassociateMemberFromGroupRequest",
        "variableType" : "DisassociateMemberFromGroupRequest",
        "documentation" : "",
        "simpleType" : "DisassociateMemberFromGroupRequest",
        "variableSetterType" : "DisassociateMemberFromGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateMemberFromGroup",
      "operationName" : "DisassociateMemberFromGroup",
      "returnType" : {
        "returnType" : "DisassociateMemberFromGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateMemberFromGroupResult"
    },
    "ListAliases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAliasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAliasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAliasesRequest, ListAliasesResult>",
      "asyncReturnType" : "ListAliasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a paginated call to list the aliases associated with a given entity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAliasesRequest",
        "variableName" : "listAliasesRequest",
        "variableType" : "ListAliasesRequest",
        "documentation" : "",
        "simpleType" : "ListAliasesRequest",
        "variableSetterType" : "ListAliasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAliases",
      "operationName" : "ListAliases",
      "returnType" : {
        "returnType" : "ListAliasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAliasesResult"
    },
    "ListGroupMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupMembersRequest, ListGroupMembersResult>",
      "asyncReturnType" : "ListGroupMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an overview of the members of a group. Users and groups can be members of a group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGroupMembersRequest",
        "variableName" : "listGroupMembersRequest",
        "variableType" : "ListGroupMembersRequest",
        "documentation" : "",
        "simpleType" : "ListGroupMembersRequest",
        "variableSetterType" : "ListGroupMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroupMembers",
      "operationName" : "ListGroupMembers",
      "returnType" : {
        "returnType" : "ListGroupMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupMembersResult"
    },
    "ListGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupsRequest, ListGroupsResult>",
      "asyncReturnType" : "ListGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns summaries of the organization's groups.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGroupsRequest",
        "variableName" : "listGroupsRequest",
        "variableType" : "ListGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListGroupsRequest",
        "variableSetterType" : "ListGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroups",
      "operationName" : "ListGroups",
      "returnType" : {
        "returnType" : "ListGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupsResult"
    },
    "ListMailboxPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMailboxPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMailboxPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMailboxPermissionsRequest, ListMailboxPermissionsResult>",
      "asyncReturnType" : "ListMailboxPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the mailbox permissions associated with a user, group, or resource mailbox.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMailboxPermissionsRequest",
        "variableName" : "listMailboxPermissionsRequest",
        "variableType" : "ListMailboxPermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListMailboxPermissionsRequest",
        "variableSetterType" : "ListMailboxPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMailboxPermissions",
      "operationName" : "ListMailboxPermissions",
      "returnType" : {
        "returnType" : "ListMailboxPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMailboxPermissionsResult"
    },
    "ListOrganizations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOrganizationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOrganizationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOrganizationsRequest, ListOrganizationsResult>",
      "asyncReturnType" : "ListOrganizationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns summaries of the customer's non-deleted organizations.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOrganizationsRequest",
        "variableName" : "listOrganizationsRequest",
        "variableType" : "ListOrganizationsRequest",
        "documentation" : "",
        "simpleType" : "ListOrganizationsRequest",
        "variableSetterType" : "ListOrganizationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOrganizations",
      "operationName" : "ListOrganizations",
      "returnType" : {
        "returnType" : "ListOrganizationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOrganizationsResult"
    },
    "ListResourceDelegates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceDelegatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceDelegatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceDelegatesRequest, ListResourceDelegatesResult>",
      "asyncReturnType" : "ListResourceDelegatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the delegates associated with a resource. Users and groups can be resource delegates and answer requests on behalf of the resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceDelegatesRequest",
        "variableName" : "listResourceDelegatesRequest",
        "variableType" : "ListResourceDelegatesRequest",
        "documentation" : "",
        "simpleType" : "ListResourceDelegatesRequest",
        "variableSetterType" : "ListResourceDelegatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceDelegates",
      "operationName" : "ListResourceDelegates",
      "returnType" : {
        "returnType" : "ListResourceDelegatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourceDelegatesResult"
    },
    "ListResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesRequest, ListResourcesResult>",
      "asyncReturnType" : "ListResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns summaries of the organization's resources.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesRequest",
        "variableName" : "listResourcesRequest",
        "variableType" : "ListResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesRequest",
        "variableSetterType" : "ListResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResources",
      "operationName" : "ListResources",
      "returnType" : {
        "returnType" : "ListResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesResult"
    },
    "ListUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersRequest, ListUsersResult>",
      "asyncReturnType" : "ListUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns summaries of the organization's users.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsersRequest",
        "variableName" : "listUsersRequest",
        "variableType" : "ListUsersRequest",
        "documentation" : "",
        "simpleType" : "ListUsersRequest",
        "variableSetterType" : "ListUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsers",
      "operationName" : "ListUsers",
      "returnType" : {
        "returnType" : "ListUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsersResult"
    },
    "PutMailboxPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutMailboxPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutMailboxPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMailboxPermissionsRequest, PutMailboxPermissionsResult>",
      "asyncReturnType" : "PutMailboxPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets permissions for a user, group, or resource. This replaces any pre-existing permissions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutMailboxPermissionsRequest",
        "variableName" : "putMailboxPermissionsRequest",
        "variableType" : "PutMailboxPermissionsRequest",
        "documentation" : "",
        "simpleType" : "PutMailboxPermissionsRequest",
        "variableSetterType" : "PutMailboxPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putMailboxPermissions",
      "operationName" : "PutMailboxPermissions",
      "returnType" : {
        "returnType" : "PutMailboxPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutMailboxPermissionsResult"
    },
    "RegisterToWorkMail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterToWorkMailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterToWorkMailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterToWorkMailRequest, RegisterToWorkMailResult>",
      "asyncReturnType" : "RegisterToWorkMailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers an existing and disabled user, group, or resource for Amazon WorkMail use by associating a mailbox and calendaring capabilities. It performs no change if the user, group, or resource is enabled and fails if the user, group, or resource is deleted. This operation results in the accumulation of costs. For more information, see <a href=\"https://aws.amazon.com//workmail/pricing\">Pricing</a>. The equivalent console functionality for this operation is <i>Enable</i>. </p> <p>Users can either be created by calling the <a>CreateUser</a> API operation or they can be synchronized from your directory. For more information, see <a>DeregisterFromWorkMail</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryServiceAuthenticationFailedException",
        "documentation" : "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EmailAddressInUseException",
        "documentation" : "<p>The email address that you're trying to assign is already created for a different user, group, or resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityAlreadyRegisteredException",
        "documentation" : "<p>The user, group, or resource that you're trying to register is already registered.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MailDomainNotFoundException",
        "documentation" : "<p>For an email or alias to be created in Amazon WorkMail, the included domain must be defined in the organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MailDomainStateException",
        "documentation" : "<p>After a domain has been added to the organization, it must be verified. The domain is not yet verified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterToWorkMailRequest",
        "variableName" : "registerToWorkMailRequest",
        "variableType" : "RegisterToWorkMailRequest",
        "documentation" : "",
        "simpleType" : "RegisterToWorkMailRequest",
        "variableSetterType" : "RegisterToWorkMailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerToWorkMail",
      "operationName" : "RegisterToWorkMail",
      "returnType" : {
        "returnType" : "RegisterToWorkMailResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterToWorkMailResult"
    },
    "ResetPassword" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResetPasswordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResetPasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResetPasswordRequest, ResetPasswordResult>",
      "asyncReturnType" : "ResetPasswordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows the administrator to reset the password for a user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryServiceAuthenticationFailedException",
        "documentation" : "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>The supplied password doesn't match the minimum security constraints, such as length or use of special characters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>You can't perform a write operation against a read-only directory.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResetPasswordRequest",
        "variableName" : "resetPasswordRequest",
        "variableType" : "ResetPasswordRequest",
        "documentation" : "",
        "simpleType" : "ResetPasswordRequest",
        "variableSetterType" : "ResetPasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resetPassword",
      "operationName" : "ResetPassword",
      "returnType" : {
        "returnType" : "ResetPasswordResult",
        "documentation" : null
      },
      "syncReturnType" : "ResetPasswordResult"
    },
    "UpdatePrimaryEmailAddress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePrimaryEmailAddressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePrimaryEmailAddressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePrimaryEmailAddressRequest, UpdatePrimaryEmailAddressResult>",
      "asyncReturnType" : "UpdatePrimaryEmailAddressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the primary email for a user, group, or resource. The current email is moved into the list of aliases (or swapped between an existing alias and the current primary email), and the email provided in the input is promoted as the primary.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryServiceAuthenticationFailedException",
        "documentation" : "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EmailAddressInUseException",
        "documentation" : "<p>The email address that you're trying to assign is already created for a different user, group, or resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MailDomainNotFoundException",
        "documentation" : "<p>For an email or alias to be created in Amazon WorkMail, the included domain must be defined in the organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MailDomainStateException",
        "documentation" : "<p>After a domain has been added to the organization, it must be verified. The domain is not yet verified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>You can't perform a write operation against a read-only directory.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePrimaryEmailAddressRequest",
        "variableName" : "updatePrimaryEmailAddressRequest",
        "variableType" : "UpdatePrimaryEmailAddressRequest",
        "documentation" : "",
        "simpleType" : "UpdatePrimaryEmailAddressRequest",
        "variableSetterType" : "UpdatePrimaryEmailAddressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePrimaryEmailAddress",
      "operationName" : "UpdatePrimaryEmailAddress",
      "returnType" : {
        "returnType" : "UpdatePrimaryEmailAddressResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePrimaryEmailAddressResult"
    },
    "UpdateResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResourceRequest, UpdateResourceResult>",
      "asyncReturnType" : "UpdateResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates data for the resource. To have the latest information, it must be preceded by a <a>DescribeResource</a> call. The dataset in the request should be the one expected when performing another <code>DescribeResource</code> call.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The directory on which you are trying to perform operations isn't available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityStateException",
        "documentation" : "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidConfigurationException",
        "documentation" : "<p>The configuration for a resource isn't valid. A resource must either be able to auto-respond to requests or have at least one delegate associated that can do so on its behalf.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EmailAddressInUseException",
        "documentation" : "<p>The email address that you're trying to assign is already created for a different user, group, or resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MailDomainNotFoundException",
        "documentation" : "<p>For an email or alias to be created in Amazon WorkMail, the included domain must be defined in the organization.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MailDomainStateException",
        "documentation" : "<p>After a domain has been added to the organization, it must be verified. The domain is not yet verified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NameAvailabilityException",
        "documentation" : "<p>The user, group, or resource name isn't unique in Amazon WorkMail.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationNotFoundException",
        "documentation" : "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OrganizationStateException",
        "documentation" : "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResourceRequest",
        "variableName" : "updateResourceRequest",
        "variableType" : "UpdateResourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateResourceRequest",
        "variableSetterType" : "UpdateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResource",
      "operationName" : "UpdateResource",
      "returnType" : {
        "returnType" : "UpdateResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResourceResult"
    }
  },
  "shapes" : {
    "AssociateDelegateToResourceRequest" : {
      "c2jName" : "AssociateDelegateToResourceRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateDelegateToResource",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "WorkMailService.AssociateDelegateToResource",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "OrganizationId",
        "c2jShape" : "OrganizationId",
        "deprecated" : false,
        "documentation" : "<p>The organization under which the resource exists.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The organization under which the resource exists.</p>\n@param organizationId The organization under which the resource exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOrganizationId",
        "getterDocumentation" : "/**<p>The organization under which the resource exists.</p>\n@return The organization under which the resource exists.*/",
        "getterMethodName" : "getOrganizationId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OrganizationId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OrganizationId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OrganizationId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The organization under which the resource exists.</p>\n@param organizationId The organization under which the resource exists.*/",
        "setterMethodName" : "setOrganizationId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "organizationId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The organization under which the resource exists.</p>\n@param organizationId The organization under which the resource exists.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "organizationId",
          "variableType" : "String",
          "documentation" : "<p>The organization under which the resource exists.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ResourceId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The resource for which members (users or groups) are associated.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The resource for which members (users or groups) are associated.</p>\n@param resourceId The resource for which members (users or groups) are associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceId",
        "getterDocumentation" : "/**<p>The resource for which members (users or groups) are associated.</p>\n@return The resource for which members (users or groups) are associated.*/",
        "getterMethodName" : "getResourceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The resource for which members (users or groups) are associated.</p>\n@param resourceId The resource for which members (users or groups) are associated.*/",
        "setterMethodName" : "setResourceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The resource for which members (users or groups) are associated.</p>\n@param resourceId The resource for which members (users or groups) are associated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>The resource for which members (users or groups) are associated.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EntityId",
        "c2jShape" : "WorkMailIdentifier",
        "deprecated" : false,
        "documentation" : "<p>The member (user or group) to associate to the resource.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The member (user or group) to associate to the resource.</p>\n@param entityId The member (user or group) to associate to the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEntityId",
[...]
