{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-07-08",
    "asyncClient" : "AmazonWorkSpacesWebAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkSpacesWebAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkSpacesWebAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonWorkSpacesWebModuleInjector",
    "defaultEndpoint" : "workspaces-web.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "workspaces-web.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>WorkSpaces Web is a low cost, fully managed WorkSpace built specifically to facilitate secure, web-based workloads. WorkSpaces Web makes it easy for customers to safely provide their employees with access to internal websites and SaaS web applications without the administrative burden of appliances or specialized client software. WorkSpaces Web provides simple policy tools tailored for user interactions, while offloading common tasks like capacity management, scaling, and maintaining browser images.</p>",
    "endpointPrefix" : "workspaces-web",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.workspacesweb",
    "packagePath" : "com/amazonaws/services/workspacesweb",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkSpaces Web",
    "serviceId" : "WorkSpaces Web",
    "serviceName" : "Amazon WorkSpaces Web",
    "signingName" : "workspaces-web",
    "smokeTestsPackageName" : "com.amazonaws.services.workspacesweb.smoketests",
    "syncClient" : "AmazonWorkSpacesWebClient",
    "syncClientBuilderClassName" : "AmazonWorkSpacesWebClientBuilder",
    "syncInterface" : "AmazonWorkSpacesWeb",
    "uid" : "workspaces-web-2020-07-08",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateBrowserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateBrowserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateBrowserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateBrowserSettingsRequest, AssociateBrowserSettingsResult>",
      "asyncReturnType" : "AssociateBrowserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a browser settings resource with a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateBrowserSettingsRequest",
        "variableName" : "associateBrowserSettingsRequest",
        "variableType" : "AssociateBrowserSettingsRequest",
        "documentation" : "",
        "simpleType" : "AssociateBrowserSettingsRequest",
        "variableSetterType" : "AssociateBrowserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateBrowserSettings",
      "operationName" : "AssociateBrowserSettings",
      "returnType" : {
        "returnType" : "AssociateBrowserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateBrowserSettingsResult"
    },
    "AssociateIpAccessSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateIpAccessSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateIpAccessSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateIpAccessSettingsRequest, AssociateIpAccessSettingsResult>",
      "asyncReturnType" : "AssociateIpAccessSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates an IP access settings resource with a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateIpAccessSettingsRequest",
        "variableName" : "associateIpAccessSettingsRequest",
        "variableType" : "AssociateIpAccessSettingsRequest",
        "documentation" : "",
        "simpleType" : "AssociateIpAccessSettingsRequest",
        "variableSetterType" : "AssociateIpAccessSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateIpAccessSettings",
      "operationName" : "AssociateIpAccessSettings",
      "returnType" : {
        "returnType" : "AssociateIpAccessSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateIpAccessSettingsResult"
    },
    "AssociateNetworkSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateNetworkSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateNetworkSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateNetworkSettingsRequest, AssociateNetworkSettingsResult>",
      "asyncReturnType" : "AssociateNetworkSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a network settings resource with a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateNetworkSettingsRequest",
        "variableName" : "associateNetworkSettingsRequest",
        "variableType" : "AssociateNetworkSettingsRequest",
        "documentation" : "",
        "simpleType" : "AssociateNetworkSettingsRequest",
        "variableSetterType" : "AssociateNetworkSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateNetworkSettings",
      "operationName" : "AssociateNetworkSettings",
      "returnType" : {
        "returnType" : "AssociateNetworkSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateNetworkSettingsResult"
    },
    "AssociateTrustStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateTrustStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateTrustStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateTrustStoreRequest, AssociateTrustStoreResult>",
      "asyncReturnType" : "AssociateTrustStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a trust store with a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateTrustStoreRequest",
        "variableName" : "associateTrustStoreRequest",
        "variableType" : "AssociateTrustStoreRequest",
        "documentation" : "",
        "simpleType" : "AssociateTrustStoreRequest",
        "variableSetterType" : "AssociateTrustStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateTrustStore",
      "operationName" : "AssociateTrustStore",
      "returnType" : {
        "returnType" : "AssociateTrustStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateTrustStoreResult"
    },
    "AssociateUserAccessLoggingSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateUserAccessLoggingSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateUserAccessLoggingSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateUserAccessLoggingSettingsRequest, AssociateUserAccessLoggingSettingsResult>",
      "asyncReturnType" : "AssociateUserAccessLoggingSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a user access logging settings resource with a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateUserAccessLoggingSettingsRequest",
        "variableName" : "associateUserAccessLoggingSettingsRequest",
        "variableType" : "AssociateUserAccessLoggingSettingsRequest",
        "documentation" : "",
        "simpleType" : "AssociateUserAccessLoggingSettingsRequest",
        "variableSetterType" : "AssociateUserAccessLoggingSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateUserAccessLoggingSettings",
      "operationName" : "AssociateUserAccessLoggingSettings",
      "returnType" : {
        "returnType" : "AssociateUserAccessLoggingSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateUserAccessLoggingSettingsResult"
    },
    "AssociateUserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateUserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateUserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateUserSettingsRequest, AssociateUserSettingsResult>",
      "asyncReturnType" : "AssociateUserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a user settings resource with a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateUserSettingsRequest",
        "variableName" : "associateUserSettingsRequest",
        "variableType" : "AssociateUserSettingsRequest",
        "documentation" : "",
        "simpleType" : "AssociateUserSettingsRequest",
        "variableSetterType" : "AssociateUserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateUserSettings",
      "operationName" : "AssociateUserSettings",
      "returnType" : {
        "returnType" : "AssociateUserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateUserSettingsResult"
    },
    "CreateBrowserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBrowserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBrowserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBrowserSettingsRequest, CreateBrowserSettingsResult>",
      "asyncReturnType" : "CreateBrowserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a browser settings resource that can be associated with a web portal. Once associated with a web portal, browser settings control how the browser will behave once a user starts a streaming session for the web portal. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBrowserSettingsRequest",
        "variableName" : "createBrowserSettingsRequest",
        "variableType" : "CreateBrowserSettingsRequest",
        "documentation" : "",
        "simpleType" : "CreateBrowserSettingsRequest",
        "variableSetterType" : "CreateBrowserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBrowserSettings",
      "operationName" : "CreateBrowserSettings",
      "returnType" : {
        "returnType" : "CreateBrowserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBrowserSettingsResult"
    },
    "CreateIdentityProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIdentityProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIdentityProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIdentityProviderRequest, CreateIdentityProviderResult>",
      "asyncReturnType" : "CreateIdentityProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an identity provider resource that is then associated with a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIdentityProviderRequest",
        "variableName" : "createIdentityProviderRequest",
        "variableType" : "CreateIdentityProviderRequest",
        "documentation" : "",
        "simpleType" : "CreateIdentityProviderRequest",
        "variableSetterType" : "CreateIdentityProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIdentityProvider",
      "operationName" : "CreateIdentityProvider",
      "returnType" : {
        "returnType" : "CreateIdentityProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIdentityProviderResult"
    },
    "CreateIpAccessSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIpAccessSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIpAccessSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIpAccessSettingsRequest, CreateIpAccessSettingsResult>",
      "asyncReturnType" : "CreateIpAccessSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an IP access settings resource that can be associated with a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIpAccessSettingsRequest",
        "variableName" : "createIpAccessSettingsRequest",
        "variableType" : "CreateIpAccessSettingsRequest",
        "documentation" : "",
        "simpleType" : "CreateIpAccessSettingsRequest",
        "variableSetterType" : "CreateIpAccessSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIpAccessSettings",
      "operationName" : "CreateIpAccessSettings",
      "returnType" : {
        "returnType" : "CreateIpAccessSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIpAccessSettingsResult"
    },
    "CreateNetworkSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNetworkSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNetworkSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNetworkSettingsRequest, CreateNetworkSettingsResult>",
      "asyncReturnType" : "CreateNetworkSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a network settings resource that can be associated with a web portal. Once associated with a web portal, network settings define how streaming instances will connect with your specified VPC. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateNetworkSettingsRequest",
        "variableName" : "createNetworkSettingsRequest",
        "variableType" : "CreateNetworkSettingsRequest",
        "documentation" : "",
        "simpleType" : "CreateNetworkSettingsRequest",
        "variableSetterType" : "CreateNetworkSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNetworkSettings",
      "operationName" : "CreateNetworkSettings",
      "returnType" : {
        "returnType" : "CreateNetworkSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNetworkSettingsResult"
    },
    "CreatePortal" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePortalResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePortalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePortalRequest, CreatePortalResult>",
      "asyncReturnType" : "CreatePortalResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePortalRequest",
        "variableName" : "createPortalRequest",
        "variableType" : "CreatePortalRequest",
        "documentation" : "",
        "simpleType" : "CreatePortalRequest",
        "variableSetterType" : "CreatePortalRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPortal",
      "operationName" : "CreatePortal",
      "returnType" : {
        "returnType" : "CreatePortalResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePortalResult"
    },
    "CreateTrustStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrustStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrustStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrustStoreRequest, CreateTrustStoreResult>",
      "asyncReturnType" : "CreateTrustStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a trust store that can be associated with a web portal. A trust store contains certificate authority (CA) certificates. Once associated with a web portal, the browser in a streaming session will recognize certificates that have been issued using any of the CAs in the trust store. If your organization has internal websites that use certificates issued by private CAs, you should add the private CA certificate to the trust store. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTrustStoreRequest",
        "variableName" : "createTrustStoreRequest",
        "variableType" : "CreateTrustStoreRequest",
        "documentation" : "",
        "simpleType" : "CreateTrustStoreRequest",
        "variableSetterType" : "CreateTrustStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTrustStore",
      "operationName" : "CreateTrustStore",
      "returnType" : {
        "returnType" : "CreateTrustStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTrustStoreResult"
    },
    "CreateUserAccessLoggingSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserAccessLoggingSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserAccessLoggingSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserAccessLoggingSettingsRequest, CreateUserAccessLoggingSettingsResult>",
      "asyncReturnType" : "CreateUserAccessLoggingSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user access logging settings resource that can be associated with a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserAccessLoggingSettingsRequest",
        "variableName" : "createUserAccessLoggingSettingsRequest",
        "variableType" : "CreateUserAccessLoggingSettingsRequest",
        "documentation" : "",
        "simpleType" : "CreateUserAccessLoggingSettingsRequest",
        "variableSetterType" : "CreateUserAccessLoggingSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUserAccessLoggingSettings",
      "operationName" : "CreateUserAccessLoggingSettings",
      "returnType" : {
        "returnType" : "CreateUserAccessLoggingSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserAccessLoggingSettingsResult"
    },
    "CreateUserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserSettingsRequest, CreateUserSettingsResult>",
      "asyncReturnType" : "CreateUserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user settings resource that can be associated with a web portal. Once associated with a web portal, user settings control how users can transfer data between a streaming session and the their local devices. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserSettingsRequest",
        "variableName" : "createUserSettingsRequest",
        "variableType" : "CreateUserSettingsRequest",
        "documentation" : "",
        "simpleType" : "CreateUserSettingsRequest",
        "variableSetterType" : "CreateUserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUserSettings",
      "operationName" : "CreateUserSettings",
      "returnType" : {
        "returnType" : "CreateUserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserSettingsResult"
    },
    "DeleteBrowserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBrowserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBrowserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBrowserSettingsRequest, DeleteBrowserSettingsResult>",
      "asyncReturnType" : "DeleteBrowserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes browser settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBrowserSettingsRequest",
        "variableName" : "deleteBrowserSettingsRequest",
        "variableType" : "DeleteBrowserSettingsRequest",
        "documentation" : "",
        "simpleType" : "DeleteBrowserSettingsRequest",
        "variableSetterType" : "DeleteBrowserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBrowserSettings",
      "operationName" : "DeleteBrowserSettings",
      "returnType" : {
        "returnType" : "DeleteBrowserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBrowserSettingsResult"
    },
    "DeleteIdentityProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdentityProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdentityProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdentityProviderRequest, DeleteIdentityProviderResult>",
      "asyncReturnType" : "DeleteIdentityProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the identity provider.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIdentityProviderRequest",
        "variableName" : "deleteIdentityProviderRequest",
        "variableType" : "DeleteIdentityProviderRequest",
        "documentation" : "",
        "simpleType" : "DeleteIdentityProviderRequest",
        "variableSetterType" : "DeleteIdentityProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIdentityProvider",
      "operationName" : "DeleteIdentityProvider",
      "returnType" : {
        "returnType" : "DeleteIdentityProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIdentityProviderResult"
    },
    "DeleteIpAccessSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIpAccessSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIpAccessSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIpAccessSettingsRequest, DeleteIpAccessSettingsResult>",
      "asyncReturnType" : "DeleteIpAccessSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes IP access settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIpAccessSettingsRequest",
        "variableName" : "deleteIpAccessSettingsRequest",
        "variableType" : "DeleteIpAccessSettingsRequest",
        "documentation" : "",
        "simpleType" : "DeleteIpAccessSettingsRequest",
        "variableSetterType" : "DeleteIpAccessSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIpAccessSettings",
      "operationName" : "DeleteIpAccessSettings",
      "returnType" : {
        "returnType" : "DeleteIpAccessSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIpAccessSettingsResult"
    },
    "DeleteNetworkSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNetworkSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNetworkSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNetworkSettingsRequest, DeleteNetworkSettingsResult>",
      "asyncReturnType" : "DeleteNetworkSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes network settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNetworkSettingsRequest",
        "variableName" : "deleteNetworkSettingsRequest",
        "variableType" : "DeleteNetworkSettingsRequest",
        "documentation" : "",
        "simpleType" : "DeleteNetworkSettingsRequest",
        "variableSetterType" : "DeleteNetworkSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNetworkSettings",
      "operationName" : "DeleteNetworkSettings",
      "returnType" : {
        "returnType" : "DeleteNetworkSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNetworkSettingsResult"
    },
    "DeletePortal" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePortalResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePortalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePortalRequest, DeletePortalResult>",
      "asyncReturnType" : "DeletePortalResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePortalRequest",
        "variableName" : "deletePortalRequest",
        "variableType" : "DeletePortalRequest",
        "documentation" : "",
        "simpleType" : "DeletePortalRequest",
        "variableSetterType" : "DeletePortalRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePortal",
      "operationName" : "DeletePortal",
      "returnType" : {
        "returnType" : "DeletePortalResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePortalResult"
    },
    "DeleteTrustStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrustStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrustStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrustStoreRequest, DeleteTrustStoreResult>",
      "asyncReturnType" : "DeleteTrustStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the trust store.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTrustStoreRequest",
        "variableName" : "deleteTrustStoreRequest",
        "variableType" : "DeleteTrustStoreRequest",
        "documentation" : "",
        "simpleType" : "DeleteTrustStoreRequest",
        "variableSetterType" : "DeleteTrustStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTrustStore",
      "operationName" : "DeleteTrustStore",
      "returnType" : {
        "returnType" : "DeleteTrustStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTrustStoreResult"
    },
    "DeleteUserAccessLoggingSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserAccessLoggingSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserAccessLoggingSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserAccessLoggingSettingsRequest, DeleteUserAccessLoggingSettingsResult>",
      "asyncReturnType" : "DeleteUserAccessLoggingSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes user access logging settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserAccessLoggingSettingsRequest",
        "variableName" : "deleteUserAccessLoggingSettingsRequest",
        "variableType" : "DeleteUserAccessLoggingSettingsRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserAccessLoggingSettingsRequest",
        "variableSetterType" : "DeleteUserAccessLoggingSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUserAccessLoggingSettings",
      "operationName" : "DeleteUserAccessLoggingSettings",
      "returnType" : {
        "returnType" : "DeleteUserAccessLoggingSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserAccessLoggingSettingsResult"
    },
    "DeleteUserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserSettingsRequest, DeleteUserSettingsResult>",
      "asyncReturnType" : "DeleteUserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes user settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There is a conflict.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserSettingsRequest",
        "variableName" : "deleteUserSettingsRequest",
        "variableType" : "DeleteUserSettingsRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserSettingsRequest",
        "variableSetterType" : "DeleteUserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUserSettings",
      "operationName" : "DeleteUserSettings",
      "returnType" : {
        "returnType" : "DeleteUserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserSettingsResult"
    },
    "DisassociateBrowserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateBrowserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateBrowserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateBrowserSettingsRequest, DisassociateBrowserSettingsResult>",
      "asyncReturnType" : "DisassociateBrowserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates browser settings from a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateBrowserSettingsRequest",
        "variableName" : "disassociateBrowserSettingsRequest",
        "variableType" : "DisassociateBrowserSettingsRequest",
        "documentation" : "",
        "simpleType" : "DisassociateBrowserSettingsRequest",
        "variableSetterType" : "DisassociateBrowserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateBrowserSettings",
      "operationName" : "DisassociateBrowserSettings",
      "returnType" : {
        "returnType" : "DisassociateBrowserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateBrowserSettingsResult"
    },
    "DisassociateIpAccessSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateIpAccessSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateIpAccessSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateIpAccessSettingsRequest, DisassociateIpAccessSettingsResult>",
      "asyncReturnType" : "DisassociateIpAccessSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates IP access settings from a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateIpAccessSettingsRequest",
        "variableName" : "disassociateIpAccessSettingsRequest",
        "variableType" : "DisassociateIpAccessSettingsRequest",
        "documentation" : "",
        "simpleType" : "DisassociateIpAccessSettingsRequest",
        "variableSetterType" : "DisassociateIpAccessSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateIpAccessSettings",
      "operationName" : "DisassociateIpAccessSettings",
      "returnType" : {
        "returnType" : "DisassociateIpAccessSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateIpAccessSettingsResult"
    },
    "DisassociateNetworkSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateNetworkSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateNetworkSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateNetworkSettingsRequest, DisassociateNetworkSettingsResult>",
      "asyncReturnType" : "DisassociateNetworkSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates network settings from a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateNetworkSettingsRequest",
        "variableName" : "disassociateNetworkSettingsRequest",
        "variableType" : "DisassociateNetworkSettingsRequest",
        "documentation" : "",
        "simpleType" : "DisassociateNetworkSettingsRequest",
        "variableSetterType" : "DisassociateNetworkSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateNetworkSettings",
      "operationName" : "DisassociateNetworkSettings",
      "returnType" : {
        "returnType" : "DisassociateNetworkSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateNetworkSettingsResult"
    },
    "DisassociateTrustStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateTrustStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateTrustStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateTrustStoreRequest, DisassociateTrustStoreResult>",
      "asyncReturnType" : "DisassociateTrustStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a trust store from a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateTrustStoreRequest",
        "variableName" : "disassociateTrustStoreRequest",
        "variableType" : "DisassociateTrustStoreRequest",
        "documentation" : "",
        "simpleType" : "DisassociateTrustStoreRequest",
        "variableSetterType" : "DisassociateTrustStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateTrustStore",
      "operationName" : "DisassociateTrustStore",
      "returnType" : {
        "returnType" : "DisassociateTrustStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateTrustStoreResult"
    },
    "DisassociateUserAccessLoggingSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateUserAccessLoggingSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateUserAccessLoggingSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateUserAccessLoggingSettingsRequest, DisassociateUserAccessLoggingSettingsResult>",
      "asyncReturnType" : "DisassociateUserAccessLoggingSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates user access logging settings from a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateUserAccessLoggingSettingsRequest",
        "variableName" : "disassociateUserAccessLoggingSettingsRequest",
        "variableType" : "DisassociateUserAccessLoggingSettingsRequest",
        "documentation" : "",
        "simpleType" : "DisassociateUserAccessLoggingSettingsRequest",
        "variableSetterType" : "DisassociateUserAccessLoggingSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateUserAccessLoggingSettings",
      "operationName" : "DisassociateUserAccessLoggingSettings",
      "returnType" : {
        "returnType" : "DisassociateUserAccessLoggingSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateUserAccessLoggingSettingsResult"
    },
    "DisassociateUserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateUserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateUserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateUserSettingsRequest, DisassociateUserSettingsResult>",
      "asyncReturnType" : "DisassociateUserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates user settings from a web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateUserSettingsRequest",
        "variableName" : "disassociateUserSettingsRequest",
        "variableType" : "DisassociateUserSettingsRequest",
        "documentation" : "",
        "simpleType" : "DisassociateUserSettingsRequest",
        "variableSetterType" : "DisassociateUserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateUserSettings",
      "operationName" : "DisassociateUserSettings",
      "returnType" : {
        "returnType" : "DisassociateUserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateUserSettingsResult"
    },
    "GetBrowserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBrowserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBrowserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBrowserSettingsRequest, GetBrowserSettingsResult>",
      "asyncReturnType" : "GetBrowserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets browser settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBrowserSettingsRequest",
        "variableName" : "getBrowserSettingsRequest",
        "variableType" : "GetBrowserSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetBrowserSettingsRequest",
        "variableSetterType" : "GetBrowserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBrowserSettings",
      "operationName" : "GetBrowserSettings",
      "returnType" : {
        "returnType" : "GetBrowserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBrowserSettingsResult"
    },
    "GetIdentityProvider" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdentityProviderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdentityProviderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdentityProviderRequest, GetIdentityProviderResult>",
      "asyncReturnType" : "GetIdentityProviderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the identity provider.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIdentityProviderRequest",
        "variableName" : "getIdentityProviderRequest",
        "variableType" : "GetIdentityProviderRequest",
        "documentation" : "",
        "simpleType" : "GetIdentityProviderRequest",
        "variableSetterType" : "GetIdentityProviderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdentityProvider",
      "operationName" : "GetIdentityProvider",
      "returnType" : {
        "returnType" : "GetIdentityProviderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIdentityProviderResult"
    },
    "GetIpAccessSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIpAccessSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIpAccessSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIpAccessSettingsRequest, GetIpAccessSettingsResult>",
      "asyncReturnType" : "GetIpAccessSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the IP access settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIpAccessSettingsRequest",
        "variableName" : "getIpAccessSettingsRequest",
        "variableType" : "GetIpAccessSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetIpAccessSettingsRequest",
        "variableSetterType" : "GetIpAccessSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIpAccessSettings",
      "operationName" : "GetIpAccessSettings",
      "returnType" : {
        "returnType" : "GetIpAccessSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIpAccessSettingsResult"
    },
    "GetNetworkSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNetworkSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNetworkSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNetworkSettingsRequest, GetNetworkSettingsResult>",
      "asyncReturnType" : "GetNetworkSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the network settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNetworkSettingsRequest",
        "variableName" : "getNetworkSettingsRequest",
        "variableType" : "GetNetworkSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetNetworkSettingsRequest",
        "variableSetterType" : "GetNetworkSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNetworkSettings",
      "operationName" : "GetNetworkSettings",
      "returnType" : {
        "returnType" : "GetNetworkSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNetworkSettingsResult"
    },
    "GetPortal" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPortalResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPortalResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPortalRequest, GetPortalResult>",
      "asyncReturnType" : "GetPortalResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPortalRequest",
        "variableName" : "getPortalRequest",
        "variableType" : "GetPortalRequest",
        "documentation" : "",
        "simpleType" : "GetPortalRequest",
        "variableSetterType" : "GetPortalRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPortal",
      "operationName" : "GetPortal",
      "returnType" : {
        "returnType" : "GetPortalResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPortalResult"
    },
    "GetPortalServiceProviderMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPortalServiceProviderMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPortalServiceProviderMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPortalServiceProviderMetadataRequest, GetPortalServiceProviderMetadataResult>",
      "asyncReturnType" : "GetPortalServiceProviderMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the service provider metadata.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPortalServiceProviderMetadataRequest",
        "variableName" : "getPortalServiceProviderMetadataRequest",
        "variableType" : "GetPortalServiceProviderMetadataRequest",
        "documentation" : "",
        "simpleType" : "GetPortalServiceProviderMetadataRequest",
        "variableSetterType" : "GetPortalServiceProviderMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPortalServiceProviderMetadata",
      "operationName" : "GetPortalServiceProviderMetadata",
      "returnType" : {
        "returnType" : "GetPortalServiceProviderMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPortalServiceProviderMetadataResult"
    },
    "GetTrustStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTrustStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTrustStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTrustStoreRequest, GetTrustStoreResult>",
      "asyncReturnType" : "GetTrustStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the trust store.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTrustStoreRequest",
        "variableName" : "getTrustStoreRequest",
        "variableType" : "GetTrustStoreRequest",
        "documentation" : "",
        "simpleType" : "GetTrustStoreRequest",
        "variableSetterType" : "GetTrustStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTrustStore",
      "operationName" : "GetTrustStore",
      "returnType" : {
        "returnType" : "GetTrustStoreResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTrustStoreResult"
    },
    "GetTrustStoreCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTrustStoreCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTrustStoreCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTrustStoreCertificateRequest, GetTrustStoreCertificateResult>",
      "asyncReturnType" : "GetTrustStoreCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the trust store certificate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTrustStoreCertificateRequest",
        "variableName" : "getTrustStoreCertificateRequest",
        "variableType" : "GetTrustStoreCertificateRequest",
        "documentation" : "",
        "simpleType" : "GetTrustStoreCertificateRequest",
        "variableSetterType" : "GetTrustStoreCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTrustStoreCertificate",
      "operationName" : "GetTrustStoreCertificate",
      "returnType" : {
        "returnType" : "GetTrustStoreCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTrustStoreCertificateResult"
    },
    "GetUserAccessLoggingSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUserAccessLoggingSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUserAccessLoggingSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUserAccessLoggingSettingsRequest, GetUserAccessLoggingSettingsResult>",
      "asyncReturnType" : "GetUserAccessLoggingSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets user access logging settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUserAccessLoggingSettingsRequest",
        "variableName" : "getUserAccessLoggingSettingsRequest",
        "variableType" : "GetUserAccessLoggingSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetUserAccessLoggingSettingsRequest",
        "variableSetterType" : "GetUserAccessLoggingSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUserAccessLoggingSettings",
      "operationName" : "GetUserAccessLoggingSettings",
      "returnType" : {
        "returnType" : "GetUserAccessLoggingSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetUserAccessLoggingSettingsResult"
    },
    "GetUserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUserSettingsRequest, GetUserSettingsResult>",
      "asyncReturnType" : "GetUserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets user settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUserSettingsRequest",
        "variableName" : "getUserSettingsRequest",
        "variableType" : "GetUserSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetUserSettingsRequest",
        "variableSetterType" : "GetUserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUserSettings",
      "operationName" : "GetUserSettings",
      "returnType" : {
        "returnType" : "GetUserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetUserSettingsResult"
    },
    "ListBrowserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListBrowserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListBrowserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListBrowserSettingsRequest, ListBrowserSettingsResult>",
      "asyncReturnType" : "ListBrowserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of browser settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListBrowserSettingsRequest",
        "variableName" : "listBrowserSettingsRequest",
        "variableType" : "ListBrowserSettingsRequest",
        "documentation" : "",
        "simpleType" : "ListBrowserSettingsRequest",
        "variableSetterType" : "ListBrowserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listBrowserSettings",
      "operationName" : "ListBrowserSettings",
      "returnType" : {
        "returnType" : "ListBrowserSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListBrowserSettingsResult"
    },
    "ListIdentityProviders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentityProvidersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentityProvidersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentityProvidersRequest, ListIdentityProvidersResult>",
      "asyncReturnType" : "ListIdentityProvidersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of identity providers for a specific web portal.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIdentityProvidersRequest",
        "variableName" : "listIdentityProvidersRequest",
        "variableType" : "ListIdentityProvidersRequest",
        "documentation" : "",
        "simpleType" : "ListIdentityProvidersRequest",
        "variableSetterType" : "ListIdentityProvidersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdentityProviders",
      "operationName" : "ListIdentityProviders",
      "returnType" : {
        "returnType" : "ListIdentityProvidersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIdentityProvidersResult"
    },
    "ListIpAccessSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIpAccessSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIpAccessSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIpAccessSettingsRequest, ListIpAccessSettingsResult>",
      "asyncReturnType" : "ListIpAccessSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of IP access settings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There is an internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>There is a throttling error.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There is a validation error.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIpAccessSettingsRequest",
        "variableName" : "listIpAccessSettingsRequest",
        "variableType" : "ListIpAccessSettingsRequest",
        "documentation" : "",
        "simpleType" : "ListIpAccessSettingsRequest",
        "variableSetterType" : "ListIpAccessSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIpAccessSettings",
      "operationName" : "ListIpAccessSettings",
      "returnType" : {
        "returnType" : "ListIpAccessSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIpAccessSettingsResult"
    },
    "ListNetworkSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNetworkSettingsResult>",
[...]
