{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-05-01",
    "asyncClient" : "AmazonWorkMailMessageFlowAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkMailMessageFlowAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkMailMessageFlowAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonWorkMailMessageFlowModuleInjector",
    "defaultEndpoint" : "workmailmessageflow.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "workmailmessageflow.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The WorkMail Message Flow API provides access to email messages as they are being sent and received by a WorkMail organization.</p>",
    "endpointPrefix" : "workmailmessageflow",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.workmailmessageflow",
    "packagePath" : "com/amazonaws/services/workmailmessageflow",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkMail Message Flow",
    "serviceId" : "WorkMailMessageFlow",
    "serviceName" : "Amazon WorkMail Message Flow",
    "signingName" : "workmailmessageflow",
    "smokeTestsPackageName" : "com.amazonaws.services.workmailmessageflow.smoketests",
    "syncClient" : "AmazonWorkMailMessageFlowClient",
    "syncClientBuilderClassName" : "AmazonWorkMailMessageFlowClientBuilder",
    "syncInterface" : "AmazonWorkMailMessageFlow",
    "uid" : "workmailmessageflow-2019-05-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetRawMessageContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRawMessageContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRawMessageContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRawMessageContentRequest, GetRawMessageContentResult>",
      "asyncReturnType" : "GetRawMessageContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the raw content of an in-transit email message, in MIME format.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested email message is not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRawMessageContentRequest",
        "variableName" : "getRawMessageContentRequest",
        "variableType" : "GetRawMessageContentRequest",
        "documentation" : "",
        "simpleType" : "GetRawMessageContentRequest",
        "variableSetterType" : "GetRawMessageContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRawMessageContent",
      "operationName" : "GetRawMessageContent",
      "returnType" : {
        "returnType" : "GetRawMessageContentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRawMessageContentResult"
    },
    "PutRawMessageContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRawMessageContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRawMessageContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRawMessageContentRequest, PutRawMessageContentResult>",
      "asyncReturnType" : "PutRawMessageContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the raw content of an in-transit email message, in MIME format.</p> <p>This example describes how to update in-transit email message. For more information and examples for using this API, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/update-with-lambda.html\"> Updating message content with AWS Lambda</a>.</p> <note> <p>Updates to an in-transit message only appear when you call <code>PutRawMessageContent</code> from an AWS Lambda function configured with a synchronous <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/lambda.html#synchronous-rules\"> Run Lambda</a> rule. If you call <code>PutRawMessageContent</code> on a delivered or sent message, the message remains unchanged, even though <a href=\"https://docs.aws.amazon.com/workmail/latest/APIReference/API_messageflow_GetRawMessageContent.html\">GetRawMessageContent</a> returns an updated message. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested email message is not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidContentLocationException",
        "documentation" : "<p>WorkMail could not access the updated email content. Possible reasons:</p> <ul> <li> <p>You made the request in a region other than your S3 bucket region.</p> </li> <li> <p>The <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-owner-condition.html\">S3 bucket owner</a> is not the same as the calling AWS account.</p> </li> <li> <p>You have an incomplete or missing S3 bucket policy. For more information about policies, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/update-with-lambda.html\"> Updating message content with AWS Lambda </a> in the <i>WorkMail Administrator Guide</i>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MessageRejectedException",
        "documentation" : "<p>The requested email could not be updated due to an error in the MIME content. Check the error message for more information about what caused the error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MessageFrozenException",
        "documentation" : "<p>The requested email is not eligible for update. This is usually the case for a redirected email.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRawMessageContentRequest",
        "variableName" : "putRawMessageContentRequest",
        "variableType" : "PutRawMessageContentRequest",
        "documentation" : "",
        "simpleType" : "PutRawMessageContentRequest",
        "variableSetterType" : "PutRawMessageContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRawMessageContent",
      "operationName" : "PutRawMessageContent",
      "returnType" : {
        "returnType" : "PutRawMessageContentResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRawMessageContentResult"
    }
  },
  "shapes" : {
    "GetRawMessageContentRequest" : {
      "c2jName" : "GetRawMessageContentRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.workmailmessageflow.request.GetRawMessageContentRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetRawMessageContent",
        "locationName" : null,
        "requestUri" : "/messages/{messageId}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "messageId",
        "c2jShape" : "messageIdType",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the email message to retrieve.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessageId",
        "getterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@return The identifier of the email message to retrieve.*/",
        "getterMethodName" : "getMessageId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "messageId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "messageId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MessageId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.*/",
        "setterMethodName" : "setMessageId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "messageId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "messageId",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the email message to retrieve.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MessageId" : {
          "c2jName" : "messageId",
          "c2jShape" : "messageIdType",
          "deprecated" : false,
          "documentation" : "<p>The identifier of the email message to retrieve.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMessageId",
          "getterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@return The identifier of the email message to retrieve.*/",
          "getterMethodName" : "getMessageId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "messageId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "messageId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MessageId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.*/",
          "setterMethodName" : "setMessageId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "messageId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "messageId",
            "variableType" : "String",
            "documentation" : "<p>The identifier of the email message to retrieve.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.workmailmessageflow.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "messageId" ],
      "shapeName" : "GetRawMessageContentRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRawMessageContentRequest",
        "variableName" : "getRawMessageContentRequest",
        "variableType" : "GetRawMessageContentRequest",
        "documentation" : null,
        "simpleType" : "GetRawMessageContentRequest",
        "variableSetterType" : "GetRawMessageContentRequest"
      },
      "wrapper" : false
    },
    "GetRawMessageContentResult" : {
      "c2jName" : "GetRawMessageContentResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.workmailmessageflow.response.GetRawMessageContentResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : true,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : true,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "messageContent",
        "c2jShape" : "messageContentBlob",
        "deprecated" : false,
        "documentation" : "<p>The raw content of the email message, in MIME format.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessageContent",
        "getterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@return The raw content of the email message, in MIME format.*/",
        "getterMethodName" : "getMessageContent",
        "getterModel" : {
          "returnType" : "java.io.InputStream",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : true,
          "isStreaming" : true,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "messageContent",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "messageContent",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : true,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.io.InputStream",
        "marshallingType" : "STREAM",
        "name" : "MessageContent",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.*/",
        "setterMethodName" : "setMessageContent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.io.InputStream",
          "variableName" : "messageContent",
          "variableType" : "java.io.InputStream",
          "documentation" : "",
          "simpleType" : "InputStream",
          "variableSetterType" : "java.io.InputStream"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.io.InputStream",
          "variableName" : "messageContent",
          "variableType" : "java.io.InputStream",
          "documentation" : "<p>The raw content of the email message, in MIME format.</p>",
          "simpleType" : "InputStream",
          "variableSetterType" : "java.io.InputStream"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MessageContent" : {
          "c2jName" : "messageContent",
          "c2jShape" : "messageContentBlob",
          "deprecated" : false,
          "documentation" : "<p>The raw content of the email message, in MIME format.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMessageContent",
          "getterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@return The raw content of the email message, in MIME format.*/",
          "getterMethodName" : "getMessageContent",
          "getterModel" : {
            "returnType" : "java.io.InputStream",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : true,
            "isStreaming" : true,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "messageContent",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "messageContent",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : true,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.io.InputStream",
          "marshallingType" : "STREAM",
          "name" : "MessageContent",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.*/",
          "setterMethodName" : "setMessageContent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.io.InputStream",
            "variableName" : "messageContent",
            "variableType" : "java.io.InputStream",
            "documentation" : "",
            "simpleType" : "InputStream",
            "variableSetterType" : "java.io.InputStream"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.io.InputStream",
            "variableName" : "messageContent",
            "variableType" : "java.io.InputStream",
            "documentation" : "<p>The raw content of the email message, in MIME format.</p>",
            "simpleType" : "InputStream",
            "variableSetterType" : "java.io.InputStream"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.workmailmessageflow.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "messageContent" ],
      "shapeName" : "GetRawMessageContentResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRawMessageContentResult",
        "variableName" : "getRawMessageContentResult",
        "variableType" : "GetRawMessageContentResult",
        "documentation" : null,
        "simpleType" : "GetRawMessageContentResult",
        "variableSetterType" : "GetRawMessageContentResult"
      },
      "wrapper" : false
    },
    "InvalidContentLocationException" : {
      "c2jName" : "InvalidContentLocation",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>WorkMail could not access the updated email content. Possible reasons:</p> <ul> <li> <p>You made the request in a region other than your S3 bucket region.</p> </li> <li> <p>The <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-owner-condition.html\">S3 bucket owner</a> is not the same as the calling AWS account.</p> </li> <li> <p>You have an incomplete or missing S3 bucket policy. For more information about policies, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/update-with-lambda.html\"> Updating message content with AWS Lambda </a> in the <i>WorkMail Administrator Guide</i>.</p> </li> </ul>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "InvalidContentLocation",
      "fullyQualifiedName" : "com.amazonaws.services.workmailmessageflow.exception.InvalidContentLocationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.workmailmessageflow.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidContentLocationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidContentLocationException",
        "variableName" : "invalidContentLocationException",
        "variableType" : "InvalidContentLocationException",
        "documentation" : null,
        "simpleType" : "InvalidContentLocationException",
        "variableSetterType" : "InvalidContentLocationException"
      },
      "wrapper" : false
    },
    "MessageFrozenException" : {
      "c2jName" : "MessageFrozen",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requested email is not eligible for update. This is usually the case for a redirected email.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "MessageFrozen",
      "fullyQualifiedName" : "com.amazonaws.services.workmailmessageflow.exception.MessageFrozenException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.workmailmessageflow.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "MessageFrozenException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "MessageFrozenException",
        "variableName" : "messageFrozenException",
        "variableType" : "MessageFrozenException",
        "documentation" : null,
        "simpleType" : "MessageFrozenException",
        "variableSetterType" : "MessageFrozenException"
      },
      "wrapper" : false
    },
    "MessageRejectedException" : {
      "c2jName" : "MessageRejected",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requested email could not be updated due to an error in the MIME content. Check the error message for more information about what caused the error.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "MessageRejected",
      "fullyQualifiedName" : "com.amazonaws.services.workmailmessageflow.exception.MessageRejectedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.workmailmessageflow.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "MessageRejectedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "MessageRejectedException",
        "variableName" : "messageRejectedException",
        "variableType" : "MessageRejectedException",
        "documentation" : null,
        "simpleType" : "MessageRejectedException",
        "variableSetterType" : "MessageRejectedException"
      },
      "wrapper" : false
    },
    "PutRawMessageContentRequest" : {
      "c2jName" : "PutRawMessageContentRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.workmailmessageflow.request.PutRawMessageContentRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "PutRawMessageContent",
        "locationName" : null,
        "requestUri" : "/messages/{messageId}",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "messageId",
        "c2jShape" : "messageIdType",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the email message being updated.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the email message being updated.</p>\n@param messageId The identifier of the email message being updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessageId",
        "getterDocumentation" : "/**<p>The identifier of the email message being updated.</p>\n@return The identifier of the email message being updated.*/",
        "getterMethodName" : "getMessageId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "messageId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "messageId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MessageId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the email message being updated.</p>\n@param messageId The identifier of the email message being updated.*/",
        "setterMethodName" : "setMessageId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "messageId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the email message being updated.</p>\n@param messageId The identifier of the email message being updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "messageId",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the email message being updated.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "content",
        "c2jShape" : "RawMessageContent",
        "deprecated" : false,
        "documentation" : "<p>Describes the raw message content of the updated email message.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Describes the raw message content of the updated email message.</p>\n@param content Describes the raw message content of the updated email message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContent",
        "getterDocumentation" : "/**<p>Describes the raw message content of the updated email message.</p>\n@return Describes the raw message content of the updated email message.*/",
        "getterMethodName" : "getContent",
        "getterModel" : {
          "returnType" : "RawMessageContent",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "content",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "content",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Content",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Describes the raw message content of the updated email message.</p>\n@param content Describes the raw message content of the updated email message.*/",
        "setterMethodName" : "setContent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RawMessageContent",
          "variableName" : "content",
          "variableType" : "RawMessageContent",
          "documentation" : "",
          "simpleType" : "RawMessageContent",
          "variableSetterType" : "RawMessageContent"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Describes the raw message content of the updated email message.</p>\n@param content Describes the raw message content of the updated email message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RawMessageContent",
          "variableName" : "content",
          "variableType" : "RawMessageContent",
          "documentation" : "<p>Describes the raw message content of the updated email message.</p>",
          "simpleType" : "RawMessageContent",
          "variableSetterType" : "RawMessageContent"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Content" : {
          "c2jName" : "content",
          "c2jShape" : "RawMessageContent",
          "deprecated" : false,
          "documentation" : "<p>Describes the raw message content of the updated email message.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Describes the raw message content of the updated email message.</p>\n@param content Describes the raw message content of the updated email message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContent",
          "getterDocumentation" : "/**<p>Describes the raw message content of the updated email message.</p>\n@return Describes the raw message content of the updated email message.*/",
          "getterMethodName" : "getContent",
          "getterModel" : {
            "returnType" : "RawMessageContent",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "content",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "content",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Content",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Describes the raw message content of the updated email message.</p>\n@param content Describes the raw message content of the updated email message.*/",
          "setterMethodName" : "setContent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "RawMessageContent",
            "variableName" : "content",
            "variableType" : "RawMessageContent",
            "documentation" : "",
            "simpleType" : "RawMessageContent",
            "variableSetterType" : "RawMessageContent"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Describes the raw message content of the updated email message.</p>\n@param content Describes the raw message content of the updated email message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "RawMessageContent",
            "variableName" : "content",
            "variableType" : "RawMessageContent",
            "documentation" : "<p>Describes the raw message content of the updated email message.</p>",
            "simpleType" : "RawMessageContent",
            "variableSetterType" : "RawMessageContent"
          },
          "xmlNameSpaceUri" : null
        },
        "MessageId" : {
          "c2jName" : "messageId",
          "c2jShape" : "messageIdType",
          "deprecated" : false,
          "documentation" : "<p>The identifier of the email message being updated.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier of the email message being updated.</p>\n@param messageId The identifier of the email message being updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMessageId",
          "getterDocumentation" : "/**<p>The identifier of the email message being updated.</p>\n@return The identifier of the email message being updated.*/",
          "getterMethodName" : "getMessageId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "messageId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "messageId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MessageId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier of the email message being updated.</p>\n@param messageId The identifier of the email message being updated.*/",
          "setterMethodName" : "setMessageId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "messageId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier of the email message being updated.</p>\n@param messageId The identifier of the email message being updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "messageId",
            "variableType" : "String",
            "documentation" : "<p>The identifier of the email message being updated.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.workmailmessageflow.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "messageId", "content" ],
      "shapeName" : "PutRawMessageContentRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRawMessageContentRequest",
        "variableName" : "putRawMessageContentRequest",
        "variableType" : "PutRawMessageContentRequest",
        "documentation" : null,
        "simpleType" : "PutRawMessageContentRequest",
        "variableSetterType" : "PutRawMessageContentRequest"
      },
      "wrapper" : false
    },
    "PutRawMessageContentResult" : {
      "c2jName" : "PutRawMessageContentResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.workmailmessageflow.response.PutRawMessageContentResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.workmailmessageflow.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "PutRawMessageContentResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRawMessageContentResult",
        "variableName" : "putRawMessageContentResult",
        "variableType" : "PutRawMessageContentResult",
        "documentation" : null,
        "simpleType" : "PutRawMessageContentResult",
        "variableSetterType" : "PutRawMessageContentResult"
      },
      "wrapper" : false
    },
    "RawMessageContent" : {
      "c2jName" : "RawMessageContent",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provides the MIME content of the updated email message as an S3 object. All MIME content must meet the following criteria:</p> <ul> <li> <p>Each part of a multipart MIME message must be formatted properly.</p> </li> <li> <p>Attachments must be of a content type that Amazon SES supports. For more information, see <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/mime-types-appendix.html\">Unsupported Attachment Types</a>.</p> </li> <li> <p>If any of the MIME parts in a message contain content that is outside of the 7-bit ASCII character range, we recommend encoding that content.</p> </li> <li> <p>Per <a href=\"https://tools.ietf.org/html/rfc5321#section-4.5.3.1.6\">RFC 5321</a>, the maximum length of each line of text, including the &lt;CRLF&gt;, must not exceed 1,000 characters.</p> </li> <li> <p>The message must contain all the required header fields. Check the returned error message for more information.</p> </li> <li> <p>The value of immutable headers must remain unchanged. Check the returned error message for more information.</p> </li> <li> <p>Certain unique headers can only appear once. Check the returned error message for more information.</p> </li> </ul>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.workmailmessageflow.model.RawMessageContent",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "s3Reference",
        "c2jShape" : "S3Reference",
        "deprecated" : false,
        "documentation" : "<p>The S3 reference of an email message.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The S3 reference of an email message.</p>\n@param s3Reference The S3 reference of an email message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3Reference",
        "getterDocumentation" : "/**<p>The S3 reference of an email message.</p>\n@return The S3 reference of an email message.*/",
        "getterMethodName" : "getS3Reference",
        "getterModel" : {
          "returnType" : "S3Reference",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "s3Reference",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "s3Reference",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "S3Reference",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The S3 reference of an email message.</p>\n@param s3Reference The S3 reference of an email message.*/",
        "setterMethodName" : "setS3Reference",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3Reference",
          "variableName" : "s3Reference",
          "variableType" : "S3Reference",
          "documentation" : "",
          "simpleType" : "S3Reference",
          "variableSetterType" : "S3Reference"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The S3 reference of an email message.</p>\n@param s3Reference The S3 reference of an email message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3Reference",
          "variableName" : "s3Reference",
          "variableType" : "S3Reference",
          "documentation" : "<p>The S3 reference of an email message.</p>",
          "simpleType" : "S3Reference",
          "variableSetterType" : "S3Reference"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "S3Reference" : {
          "c2jName" : "s3Reference",
          "c2jShape" : "S3Reference",
          "deprecated" : false,
          "documentation" : "<p>The S3 reference of an email message.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The S3 reference of an email message.</p>\n@param s3Reference The S3 reference of an email message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withS3Reference",
          "getterDocumentation" : "/**<p>The S3 reference of an email message.</p>\n@return The S3 reference of an email message.*/",
          "getterMethodName" : "getS3Reference",
          "getterModel" : {
            "returnType" : "S3Reference",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "s3Reference",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "s3Reference",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "S3Reference",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The S3 reference of an email message.</p>\n@param s3Reference The S3 reference of an email message.*/",
          "setterMethodName" : "setS3Reference",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3Reference",
            "variableName" : "s3Reference",
            "variableType" : "S3Reference",
            "documentation" : "",
            "simpleType" : "S3Reference",
            "variableSetterType" : "S3Reference"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The S3 reference of an email message.</p>\n@param s3Reference The S3 reference of an email message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3Reference",
            "variableName" : "s3Reference",
            "variableType" : "S3Reference",
            "documentation" : "<p>The S3 reference of an email message.</p>",
            "simpleType" : "S3Reference",
            "variableSetterType" : "S3Reference"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.workmailmessageflow.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "s3Reference" ],
      "shapeName" : "RawMessageContent",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RawMessageContent",
        "variableName" : "rawMessageContent",
        "variableType" : "RawMessageContent",
        "documentation" : null,
        "simpleType" : "RawMessageContent",
        "variableSetterType" : "RawMessageContent"
      },
      "wrapper" : false
    },
    "ResourceNotFoundException" : {
      "c2jName" : "ResourceNotFoundException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requested email message is not found.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ResourceNotFoundException",
      "fullyQualifiedName" : "com.amazonaws.services.workmailmessageflow.exception.ResourceNotFoundException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.workmailmessageflow.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ResourceNotFoundException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResourceNotFoundException",
        "variableName" : "resourceNotFoundException",
        "variableType" : "ResourceNotFoundException",
        "documentation" : null,
        "simpleType" : "ResourceNotFoundException",
        "variableSetterType" : "ResourceNotFoundException"
      },
      "wrapper" : false
    },
    "S3Reference" : {
      "c2jName" : "S3Reference",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Amazon S3 object representing the updated message content, in MIME format.</p> <note> <p>The region for the S3 bucket containing the S3 object must match the region used for WorkMail operations. Also, for WorkMail to process an S3 object, it must have permission to access that object. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/update-with-lambda.html\"> Updating message content with AWS Lambda</a>.</p> </note>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.workmailmessageflow.model.S3Reference",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "bucket",
        "c2jShape" : "s3BucketIdType",
        "deprecated" : false,
        "documentation" : "<p>The S3 bucket name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The S3 bucket name.</p>\n@param bucket The S3 bucket name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBucket",
        "getterDocumentation" : "/**<p>The S3 bucket name.</p>\n@return The S3 bucket name.*/",
        "getterMethodName" : "getBucket",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "bucket",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "bucket",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Bucket",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The S3 bucket name.</p>\n@param bucket The S3 bucket name.*/",
        "setterMethodName" : "setBucket",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "bucket",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The S3 bucket name.</p>\n@param bucket The S3 bucket name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "bucket",
          "variableType" : "String",
          "documentation" : "<p>The S3 bucket name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "key",
        "c2jShape" : "s3KeyIdType",
        "deprecated" : false,
        "documentation" : "<p>The S3 key object name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The S3 key object name.</p>\n@param key The S3 key object name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKey",
        "getterDocumentation" : "/**<p>The S3 key object name.</p>\n@return The S3 key object name.*/",
        "getterMethodName" : "getKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "key",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "key",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Key",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The S3 key object name.</p>\n@param key The S3 key object name.*/",
        "setterMethodName" : "setKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The S3 key object name.</p>\n@param key The S3 key object name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "<p>The S3 key object name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "objectVersion",
        "c2jShape" : "s3VersionType",
        "deprecated" : false,
        "documentation" : "<p>If you enable versioning for the bucket, you can specify the object version.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If you enable versioning for the bucket, you can specify the object version.</p>\n@param objectVersion If you enable versioning for the bucket, you can specify the object version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withObjectVersion",
        "getterDocumentation" : "/**<p>If you enable versioning for the bucket, you can specify the object version.</p>\n@return If you enable versioning for the bucket, you can specify the object version.*/",
        "getterMethodName" : "getObjectVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "objectVersion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "objectVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ObjectVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>If you enable versioning for the bucket, you can specify the object version.</p>\n@param objectVersion If you enable versioning for the bucket, you can specify the object version.*/",
        "setterMethodName" : "setObjectVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "objectVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If you enable versioning for the bucket, you can specify the object version.</p>\n@param objectVersion If you enable versioning for the bucket, you can specify the object version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "objectVersion",
          "variableType" : "String",
          "documentation" : "<p>If you enable versioning for the bucket, you can specify the object version.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Bucket" : {
          "c2jName" : "bucket",
          "c2jShape" : "s3BucketIdType",
          "deprecated" : false,
          "documentation" : "<p>The S3 bucket name.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The S3 bucket name.</p>\n@param bucket The S3 bucket name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBucket",
          "getterDocumentation" : "/**<p>The S3 bucket name.</p>\n@return The S3 bucket name.*/",
          "getterMethodName" : "getBucket",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "bucket",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "bucket",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Bucket",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The S3 bucket name.</p>\n@param bucket The S3 bucket name.*/",
          "setterMethodName" : "setBucket",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "bucket",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The S3 bucket name.</p>\n@param bucket The S3 bucket name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "bucket",
            "variableType" : "String",
            "documentation" : "<p>The S3 bucket name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Key" : {
          "c2jName" : "key",
          "c2jShape" : "s3KeyIdType",
          "deprecated" : false,
          "documentation" : "<p>The S3 key object name.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The S3 key object name.</p>\n@param key The S3 key object name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKey",
          "getterDocumentation" : "/**<p>The S3 key object name.</p>\n@return The S3 key object name.*/",
          "getterMethodName" : "getKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "key",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "key",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Key",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The S3 key object name.</p>\n@param key The S3 key object name.*/",
          "setterMethodName" : "setKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The S3 key object name.</p>\n@param key The S3 key object name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "<p>The S3 key object name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ObjectVersion" : {
          "c2jName" : "objectVersion",
          "c2jShape" : "s3VersionType",
          "deprecated" : false,
          "documentation" : "<p>If you enable versioning for the bucket, you can specify the object version.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>If you enable versioning for the bucket, you can specify the object version.</p>\n@param objectVersion If you enable versioning for the bucket, you can specify the object version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withObjectVersion",
          "getterDocumentation" : "/**<p>If you enable versioning for the bucket, you can specify the object version.</p>\n@return If you enable versioning for the bucket, you can specify the object version.*/",
          "getterMethodName" : "getObjectVersion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "objectVersion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "objectVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ObjectVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>If you enable versioning for the bucket, you can specify the object version.</p>\n@param objectVersion If you enable versioning for the bucket, you can specify the object version.*/",
          "setterMethodName" : "setObjectVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "objectVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>If you enable versioning for the bucket, you can specify the object version.</p>\n@param objectVersion If you enable versioning for the bucket, you can specify the object version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "objectVersion",
            "variableType" : "String",
            "documentation" : "<p>If you enable versioning for the bucket, you can specify the object version.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.workmailmessageflow.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "bucket", "key" ],
      "shapeName" : "S3Reference",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "S3Reference",
        "variableName" : "s3Reference",
        "variableType" : "S3Reference",
        "documentation" : null,
        "simpleType" : "S3Reference",
        "variableSetterType" : "S3Reference"
      },
      "wrapper" : false
    }
  },
  "clientConfigFactory" : "ClientConfigurationFactory",
  "examples" : {
    "examples" : { },
    "version" : "1.0"
  },
  "exceptionUnmarshallerImpl" : null,
  "fileHeader" : "/*\n * Copyright 2016-2021 Amazon.com, Inc. or its affiliates. All Rights\n * Reserved.\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\").\n * You may not use this file except in compliance with the License.\n * A copy of the License is located at\n *\n *  http://aws.amazon.com/apache2.0\n *\n * or in the \"license\" file accompanying this file. This file is distributed\n * on an \"AS IS\" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either\n * express or implied. See the License for the specific language governing\n * permissions and limitations under the License.\n */",
  "hasWaiters" : false,
  "sdkBaseResponseFqcn" : "com.amazonaws.AmazonWebServiceResult<com.amazonaws.ResponseMetadata>",
  "sdkModeledExceptionBaseClassName" : "AmazonWorkMailMessageFlowException",
  "sdkModeledExceptionBaseFqcn" : "com.amazonaws.services.workmailmessageflow.model.AmazonWorkMailMessageFlowException",
  "serviceBaseExceptionFqcn" : "com.amazonaws.AmazonServiceException",
  "transformPackage" : "com.amazonaws.services.workmailmessageflow.model.transform"
}