{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-05-01",
    "asyncClient" : "AmazonWorkMailMessageFlowAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkMailMessageFlowAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkMailMessageFlowAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonWorkMailMessageFlowModuleInjector",
    "defaultEndpoint" : "workmailmessageflow.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "workmailmessageflow.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The WorkMail Message Flow API provides access to email messages as they are being sent and received by a WorkMail organization.</p>",
    "endpointPrefix" : "workmailmessageflow",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.workmailmessageflow",
    "packagePath" : "com/amazonaws/services/workmailmessageflow",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkMail Message Flow",
    "serviceId" : "WorkMailMessageFlow",
    "serviceName" : "Amazon WorkMail Message Flow",
    "signingName" : "workmailmessageflow",
    "smokeTestsPackageName" : "com.amazonaws.services.workmailmessageflow.smoketests",
    "syncClient" : "AmazonWorkMailMessageFlowClient",
    "syncClientBuilderClassName" : "AmazonWorkMailMessageFlowClientBuilder",
    "syncInterface" : "AmazonWorkMailMessageFlow",
    "uid" : "workmailmessageflow-2019-05-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetRawMessageContent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRawMessageContentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRawMessageContentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRawMessageContentRequest, GetRawMessageContentResult>",
      "asyncReturnType" : "GetRawMessageContentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the raw content of an in-transit email message, in MIME format. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested email message is not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRawMessageContentRequest",
        "variableName" : "getRawMessageContentRequest",
        "variableType" : "GetRawMessageContentRequest",
        "documentation" : "",
        "simpleType" : "GetRawMessageContentRequest",
        "variableSetterType" : "GetRawMessageContentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRawMessageContent",
      "operationName" : "GetRawMessageContent",
      "returnType" : {
        "returnType" : "GetRawMessageContentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRawMessageContentResult"
    }
  },
  "shapes" : {
    "GetRawMessageContentRequest" : {
      "c2jName" : "GetRawMessageContentRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetRawMessageContent",
        "locationName" : null,
        "requestUri" : "/messages/{messageId}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "messageId",
        "c2jShape" : "messageIdType",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the email message to retrieve.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessageId",
        "getterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@return The identifier of the email message to retrieve.*/",
        "getterMethodName" : "getMessageId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "messageId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "messageId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MessageId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.*/",
        "setterMethodName" : "setMessageId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "messageId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "messageId",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the email message to retrieve.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MessageId" : {
          "c2jName" : "messageId",
          "c2jShape" : "messageIdType",
          "deprecated" : false,
          "documentation" : "<p>The identifier of the email message to retrieve.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMessageId",
          "getterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@return The identifier of the email message to retrieve.*/",
          "getterMethodName" : "getMessageId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "messageId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "messageId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MessageId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.*/",
          "setterMethodName" : "setMessageId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "messageId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier of the email message to retrieve.</p>\n@param messageId The identifier of the email message to retrieve.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "messageId",
            "variableType" : "String",
            "documentation" : "<p>The identifier of the email message to retrieve.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "messageId" ],
      "shapeName" : "GetRawMessageContentRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRawMessageContentRequest",
        "variableName" : "getRawMessageContentRequest",
        "variableType" : "GetRawMessageContentRequest",
        "documentation" : null,
        "simpleType" : "GetRawMessageContentRequest",
        "variableSetterType" : "GetRawMessageContentRequest"
      },
      "wrapper" : false
    },
    "GetRawMessageContentResult" : {
      "c2jName" : "GetRawMessageContentResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : true,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : true,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "messageContent",
        "c2jShape" : "messageContentBlob",
        "deprecated" : false,
        "documentation" : "<p>The raw content of the email message, in MIME format.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessageContent",
        "getterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@return The raw content of the email message, in MIME format.*/",
        "getterMethodName" : "getMessageContent",
        "getterModel" : {
          "returnType" : "java.io.InputStream",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : true,
          "isStreaming" : true,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "messageContent",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "messageContent",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : true,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.io.InputStream",
        "marshallingType" : "STREAM",
        "name" : "MessageContent",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.*/",
        "setterMethodName" : "setMessageContent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.io.InputStream",
          "variableName" : "messageContent",
          "variableType" : "java.io.InputStream",
          "documentation" : "",
          "simpleType" : "InputStream",
          "variableSetterType" : "java.io.InputStream"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.io.InputStream",
          "variableName" : "messageContent",
          "variableType" : "java.io.InputStream",
          "documentation" : "<p>The raw content of the email message, in MIME format.</p>",
          "simpleType" : "InputStream",
          "variableSetterType" : "java.io.InputStream"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MessageContent" : {
          "c2jName" : "messageContent",
          "c2jShape" : "messageContentBlob",
          "deprecated" : false,
          "documentation" : "<p>The raw content of the email message, in MIME format.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMessageContent",
          "getterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@return The raw content of the email message, in MIME format.*/",
          "getterMethodName" : "getMessageContent",
          "getterModel" : {
            "returnType" : "java.io.InputStream",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : true,
            "isStreaming" : true,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "messageContent",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "messageContent",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : true,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.io.InputStream",
          "marshallingType" : "STREAM",
          "name" : "MessageContent",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.*/",
          "setterMethodName" : "setMessageContent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.io.InputStream",
            "variableName" : "messageContent",
            "variableType" : "java.io.InputStream",
            "documentation" : "",
            "simpleType" : "InputStream",
            "variableSetterType" : "java.io.InputStream"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The raw content of the email message, in MIME format.</p>\n@param messageContent The raw content of the email message, in MIME format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.io.InputStream",
            "variableName" : "messageContent",
            "variableType" : "java.io.InputStream",
            "documentation" : "<p>The raw content of the email message, in MIME format.</p>",
            "simpleType" : "InputStream",
            "variableSetterType" : "java.io.InputStream"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "messageContent" ],
      "shapeName" : "GetRawMessageContentResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRawMessageContentResult",
        "variableName" : "getRawMessageContentResult",
        "variableType" : "GetRawMessageContentResult",
        "documentation" : null,
        "simpleType" : "GetRawMessageContentResult",
        "variableSetterType" : "GetRawMessageContentResult"
      },
      "wrapper" : false
    },
    "ResourceNotFoundException" : {
      "c2jName" : "ResourceNotFoundException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requested email message is not found.</p>",
      "enums" : null,
      "errorCode" : "ResourceNotFoundException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ResourceNotFoundException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResourceNotFoundException",
        "variableName" : "resourceNotFoundException",
        "variableType" : "ResourceNotFoundException",
        "documentation" : null,
        "simpleType" : "ResourceNotFoundException",
        "variableSetterType" : "ResourceNotFoundException"
      },
      "wrapper" : false
    }
  },
  "clientConfigFactory" : "ClientConfigurationFactory",
  "examples" : {
    "examples" : { },
    "version" : "1.0"
  },
  "exceptionUnmarshallerImpl" : null,
  "fileHeader" : "/*\n * Copyright 2015-2020 Amazon.com, Inc. or its affiliates. All Rights\n * Reserved.\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\").\n * You may not use this file except in compliance with the License.\n * A copy of the License is located at\n *\n *  http://aws.amazon.com/apache2.0\n *\n * or in the \"license\" file accompanying this file. This file is distributed\n * on an \"AS IS\" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either\n * express or implied. See the License for the specific language governing\n * permissions and limitations under the License.\n */",
  "hasWaiters" : false,
  "sdkBaseResponseFqcn" : "com.amazonaws.AmazonWebServiceResult<com.amazonaws.ResponseMetadata>",
  "sdkModeledExceptionBaseClassName" : "AmazonWorkMailMessageFlowException",
  "sdkModeledExceptionBaseFqcn" : "com.amazonaws.services.workmailmessageflow.model.AmazonWorkMailMessageFlowException",
  "serviceBaseExceptionFqcn" : "com.amazonaws.AmazonServiceException",
  "transformPackage" : "com.amazonaws.services.workmailmessageflow.model.transform"
}