{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors" ],
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-05-01",
    "asyncClient" : "AmazonWorkDocsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkDocsAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkDocsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonWorkDocsModuleInjector",
    "defaultEndpoint" : "workdocs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "workdocs.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The WorkDocs API is designed for the following use cases:</p> <ul> <li> <p>File Migration: File migration applications are supported for users who want to migrate their files from an on-premise or off-premise file system or service. Users can insert files into a user directory structure, as well as allow for basic metadata changes, such as modifications to the permissions of files.</p> </li> <li> <p>Security: Support security applications are supported for users who have additional security needs, such as anti-virus or data loss prevention. The APIs, in conjunction with Amazon CloudTrail, allow these applications to detect when changes occur in Amazon WorkDocs, so the application can take the necessary actions and replace the target file. The application can also choose to email the user if the target file violates the policy.</p> </li> <li> <p>eDiscovery/Analytics: General administrative applications are supported, such as eDiscovery and analytics. These applications can choose to mimic and/or record the actions in an Amazon WorkDocs site, in conjunction with Amazon CloudTrails, to replicate data for eDiscovery, backup, or analytical applications.</p> </li> </ul> <p>All Amazon WorkDocs APIs are Amazon authenticated, certificate-signed APIs. They not only require the use of the AWS SDK, but also allow for the exclusive use of IAM users and roles to help facilitate access, trust, and permission policies. By creating a role and allowing an IAM user to access the Amazon WorkDocs site, the IAM user gains full administrative visibility into the entire Amazon WorkDocs site (or as set in the IAM policy). This includes, but is not limited to, the ability to modify file permissions and upload any file to any user. This allows developers to perform the three use cases above, as well as give users the ability to grant access on a selective basis using the IAM model.</p>",
    "endpointPrefix" : "workdocs",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.workdocs",
    "packagePath" : "com/amazonaws/services/workdocs",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkDocs",
    "serviceName" : "Amazon WorkDocs",
    "signingName" : "workdocs",
    "smokeTestsPackageName" : "com.amazonaws.services.workdocs.smoketests",
    "syncClient" : "AmazonWorkDocsClient",
    "syncClientBuilderClassName" : "AmazonWorkDocsClientBuilder",
    "syncInterface" : "AmazonWorkDocs",
    "uid" : "workdocs-2016-05-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AbortDocumentVersionUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AbortDocumentVersionUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AbortDocumentVersionUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AbortDocumentVersionUploadRequest, AbortDocumentVersionUploadResult>",
      "asyncReturnType" : "AbortDocumentVersionUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Aborts the upload of the specified document version that was previously initiated by <a>InitiateDocumentVersionUpload</a>. The client should make this call only when it no longer intends or fails to upload the document version.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AbortDocumentVersionUploadRequest",
        "variableName" : "abortDocumentVersionUploadRequest",
        "variableType" : "AbortDocumentVersionUploadRequest",
        "documentation" : "",
        "simpleType" : "AbortDocumentVersionUploadRequest",
        "variableSetterType" : "AbortDocumentVersionUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "abortDocumentVersionUpload",
      "operationName" : "AbortDocumentVersionUpload",
      "returnType" : {
        "returnType" : "AbortDocumentVersionUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "AbortDocumentVersionUploadResult"
    },
    "ActivateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ActivateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ActivateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivateUserRequest, ActivateUserResult>",
      "asyncReturnType" : "ActivateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates the specified user. Only active users can access Amazon WorkDocs.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ActivateUserRequest",
        "variableName" : "activateUserRequest",
        "variableType" : "ActivateUserRequest",
        "documentation" : "",
        "simpleType" : "ActivateUserRequest",
        "variableSetterType" : "ActivateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "activateUser",
      "operationName" : "ActivateUser",
      "returnType" : {
        "returnType" : "ActivateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "ActivateUserResult"
    },
    "AddResourcePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddResourcePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddResourcePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddResourcePermissionsRequest, AddResourcePermissionsResult>",
      "asyncReturnType" : "AddResourcePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a set of permissions for the specified folder or document. The resource permissions are overwritten if the principals already have different permissions.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddResourcePermissionsRequest",
        "variableName" : "addResourcePermissionsRequest",
        "variableType" : "AddResourcePermissionsRequest",
        "documentation" : "",
        "simpleType" : "AddResourcePermissionsRequest",
        "variableSetterType" : "AddResourcePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addResourcePermissions",
      "operationName" : "AddResourcePermissions",
      "returnType" : {
        "returnType" : "AddResourcePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "AddResourcePermissionsResult"
    },
    "CreateFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFolderRequest, CreateFolderResult>",
      "asyncReturnType" : "CreateFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a folder with the specified name and parent folder.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You've exceeded the maximum of 100,000 folders under the parent folder.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateFolderRequest",
        "variableName" : "createFolderRequest",
        "variableType" : "CreateFolderRequest",
        "documentation" : "",
        "simpleType" : "CreateFolderRequest",
        "variableSetterType" : "CreateFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFolder",
      "operationName" : "CreateFolder",
      "returnType" : {
        "returnType" : "CreateFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFolderResult"
    },
    "CreateNotificationSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateNotificationSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateNotificationSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateNotificationSubscriptionRequest, CreateNotificationSubscriptionResult>",
      "asyncReturnType" : "CreateNotificationSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configure WorkDocs to use Amazon SNS notifications.</p> <p>The endpoint receives a confirmation message, and must confirm the subscription. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SendMessageToHttp.html#SendMessageToHttp.confirm\">Confirm the Subscription</a> in the <i>Amazon Simple Notification Service Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "TooManySubscriptionsException",
        "documentation" : "<p>You've reached the limit on the number of subscriptions for the WorkDocs instance.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateNotificationSubscriptionRequest",
        "variableName" : "createNotificationSubscriptionRequest",
        "variableType" : "CreateNotificationSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "CreateNotificationSubscriptionRequest",
        "variableSetterType" : "CreateNotificationSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createNotificationSubscription",
      "operationName" : "CreateNotificationSubscription",
      "returnType" : {
        "returnType" : "CreateNotificationSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateNotificationSubscriptionResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user in a Simple AD or Microsoft AD directory. The status of a newly created user is \"ACTIVE\". New users can access Amazon WorkDocs.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeactivateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeactivateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeactivateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeactivateUserRequest, DeactivateUserResult>",
      "asyncReturnType" : "DeactivateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deactivates the specified user, which revokes the user's access to Amazon WorkDocs.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeactivateUserRequest",
        "variableName" : "deactivateUserRequest",
        "variableType" : "DeactivateUserRequest",
        "documentation" : "",
        "simpleType" : "DeactivateUserRequest",
        "variableSetterType" : "DeactivateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deactivateUser",
      "operationName" : "DeactivateUser",
      "returnType" : {
        "returnType" : "DeactivateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeactivateUserResult"
    },
    "DeleteDocument" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDocumentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDocumentRequest, DeleteDocumentResult>",
      "asyncReturnType" : "DeleteDocumentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes the specified document and its associated metadata.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource hierarchy is changing.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDocumentRequest",
        "variableName" : "deleteDocumentRequest",
        "variableType" : "DeleteDocumentRequest",
        "documentation" : "",
        "simpleType" : "DeleteDocumentRequest",
        "variableSetterType" : "DeleteDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDocument",
      "operationName" : "DeleteDocument",
      "returnType" : {
        "returnType" : "DeleteDocumentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDocumentResult"
    },
    "DeleteFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFolderRequest, DeleteFolderResult>",
      "asyncReturnType" : "DeleteFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes the specified folder and its contents.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource hierarchy is changing.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFolderRequest",
        "variableName" : "deleteFolderRequest",
        "variableType" : "DeleteFolderRequest",
        "documentation" : "",
        "simpleType" : "DeleteFolderRequest",
        "variableSetterType" : "DeleteFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFolder",
      "operationName" : "DeleteFolder",
      "returnType" : {
        "returnType" : "DeleteFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFolderResult"
    },
    "DeleteFolderContents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFolderContentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFolderContentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFolderContentsRequest, DeleteFolderContentsResult>",
      "asyncReturnType" : "DeleteFolderContentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the contents of the specified folder.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFolderContentsRequest",
        "variableName" : "deleteFolderContentsRequest",
        "variableType" : "DeleteFolderContentsRequest",
        "documentation" : "",
        "simpleType" : "DeleteFolderContentsRequest",
        "variableSetterType" : "DeleteFolderContentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFolderContents",
      "operationName" : "DeleteFolderContents",
      "returnType" : {
        "returnType" : "DeleteFolderContentsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFolderContentsResult"
    },
    "DeleteNotificationSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNotificationSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNotificationSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNotificationSubscriptionRequest, DeleteNotificationSubscriptionResult>",
      "asyncReturnType" : "DeleteNotificationSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified subscription from the specified organization.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteNotificationSubscriptionRequest",
        "variableName" : "deleteNotificationSubscriptionRequest",
        "variableType" : "DeleteNotificationSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteNotificationSubscriptionRequest",
        "variableSetterType" : "DeleteNotificationSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNotificationSubscription",
      "operationName" : "DeleteNotificationSubscription",
      "returnType" : {
        "returnType" : "DeleteNotificationSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNotificationSubscriptionResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified user from a Simple AD or Microsoft AD directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DescribeDocumentVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDocumentVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDocumentVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDocumentVersionsRequest, DescribeDocumentVersionsResult>",
      "asyncReturnType" : "DescribeDocumentVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the document versions for the specified document.</p> <p>By default, only active versions are returned.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker and/or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDocumentVersionsRequest",
        "variableName" : "describeDocumentVersionsRequest",
        "variableType" : "DescribeDocumentVersionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeDocumentVersionsRequest",
        "variableSetterType" : "DescribeDocumentVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDocumentVersions",
      "operationName" : "DescribeDocumentVersions",
      "returnType" : {
        "returnType" : "DescribeDocumentVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDocumentVersionsResult"
    },
    "DescribeFolderContents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFolderContentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFolderContentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFolderContentsRequest, DescribeFolderContentsResult>",
      "asyncReturnType" : "DescribeFolderContentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the contents of the specified folder, including its documents and sub-folders.</p> <p>By default, Amazon WorkDocs returns the first 100 active document and folder metadata items. If there are more results, the response includes a marker that you can use to request the next set of results. You can also request initialized documents.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker and/or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeFolderContentsRequest",
        "variableName" : "describeFolderContentsRequest",
        "variableType" : "DescribeFolderContentsRequest",
        "documentation" : "",
        "simpleType" : "DescribeFolderContentsRequest",
        "variableSetterType" : "DescribeFolderContentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFolderContents",
      "operationName" : "DescribeFolderContents",
      "returnType" : {
        "returnType" : "DescribeFolderContentsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFolderContentsResult"
    },
    "DescribeNotificationSubscriptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeNotificationSubscriptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeNotificationSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeNotificationSubscriptionsRequest, DescribeNotificationSubscriptionsResult>",
      "asyncReturnType" : "DescribeNotificationSubscriptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the specified notification subscriptions.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeNotificationSubscriptionsRequest",
        "variableName" : "describeNotificationSubscriptionsRequest",
        "variableType" : "DescribeNotificationSubscriptionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeNotificationSubscriptionsRequest",
        "variableSetterType" : "DescribeNotificationSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeNotificationSubscriptions",
      "operationName" : "DescribeNotificationSubscriptions",
      "returnType" : {
        "returnType" : "DescribeNotificationSubscriptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeNotificationSubscriptionsResult"
    },
    "DescribeResourcePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourcePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourcePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourcePermissionsRequest, DescribeResourcePermissionsResult>",
      "asyncReturnType" : "DescribeResourcePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the permissions of a specified resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeResourcePermissionsRequest",
        "variableName" : "describeResourcePermissionsRequest",
        "variableType" : "DescribeResourcePermissionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourcePermissionsRequest",
        "variableSetterType" : "DescribeResourcePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResourcePermissions",
      "operationName" : "DescribeResourcePermissions",
      "returnType" : {
        "returnType" : "DescribeResourcePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourcePermissionsResult"
    },
    "DescribeUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUsersRequest, DescribeUsersResult>",
      "asyncReturnType" : "DescribeUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified users. You can describe all users or filter the results (for example, by status or organization).</p> <p>By default, Amazon WorkDocs returns the first 24 active or pending users. If there are more results, the response includes a marker that you can use to request the next set of results.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker and/or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeUsersRequest",
        "variableName" : "describeUsersRequest",
        "variableType" : "DescribeUsersRequest",
        "documentation" : "",
        "simpleType" : "DescribeUsersRequest",
        "variableSetterType" : "DescribeUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUsers",
      "operationName" : "DescribeUsers",
      "returnType" : {
        "returnType" : "DescribeUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUsersResult"
    },
    "GetDocument" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDocumentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDocumentRequest, GetDocumentResult>",
      "asyncReturnType" : "GetDocumentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the specified document object.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker and/or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDocumentRequest",
        "variableName" : "getDocumentRequest",
        "variableType" : "GetDocumentRequest",
        "documentation" : "",
        "simpleType" : "GetDocumentRequest",
        "variableSetterType" : "GetDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDocument",
      "operationName" : "GetDocument",
      "returnType" : {
        "returnType" : "GetDocumentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDocumentResult"
    },
    "GetDocumentPath" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDocumentPathResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDocumentPathResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDocumentPathRequest, GetDocumentPathResult>",
      "asyncReturnType" : "GetDocumentPathResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the path information (the hierarchy from the root folder) for the requested document.</p> <p>By default, Amazon WorkDocs returns a maximum of 100 levels upwards from the requested document and only includes the IDs of the parent folders in the path. You can limit the maximum number of levels. You can also request the names of the parent folders.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDocumentPathRequest",
        "variableName" : "getDocumentPathRequest",
        "variableType" : "GetDocumentPathRequest",
        "documentation" : "",
        "simpleType" : "GetDocumentPathRequest",
        "variableSetterType" : "GetDocumentPathRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDocumentPath",
      "operationName" : "GetDocumentPath",
      "returnType" : {
        "returnType" : "GetDocumentPathResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDocumentPathResult"
    },
    "GetDocumentVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDocumentVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDocumentVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDocumentVersionRequest, GetDocumentVersionResult>",
      "asyncReturnType" : "GetDocumentVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves version metadata for the specified document.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDocumentVersionRequest",
        "variableName" : "getDocumentVersionRequest",
        "variableType" : "GetDocumentVersionRequest",
        "documentation" : "",
        "simpleType" : "GetDocumentVersionRequest",
        "variableSetterType" : "GetDocumentVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDocumentVersion",
      "operationName" : "GetDocumentVersion",
      "returnType" : {
        "returnType" : "GetDocumentVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDocumentVersionResult"
    },
    "GetFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFolderRequest, GetFolderResult>",
      "asyncReturnType" : "GetFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the metadata of the specified folder.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The pagination marker and/or limit fields are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetFolderRequest",
        "variableName" : "getFolderRequest",
        "variableType" : "GetFolderRequest",
        "documentation" : "",
        "simpleType" : "GetFolderRequest",
        "variableSetterType" : "GetFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFolder",
      "operationName" : "GetFolder",
      "returnType" : {
        "returnType" : "GetFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFolderResult"
    },
    "GetFolderPath" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFolderPathResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFolderPathResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFolderPathRequest, GetFolderPathResult>",
      "asyncReturnType" : "GetFolderPathResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the path information (the hierarchy from the root folder) for the specified folder.</p> <p>By default, Amazon WorkDocs returns a maximum of 100 levels upwards from the requested folder and only includes the IDs of the parent folders in the path. You can limit the maximum number of levels. You can also request the parent folder names.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetFolderPathRequest",
        "variableName" : "getFolderPathRequest",
        "variableType" : "GetFolderPathRequest",
        "documentation" : "",
        "simpleType" : "GetFolderPathRequest",
        "variableSetterType" : "GetFolderPathRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFolderPath",
      "operationName" : "GetFolderPath",
      "returnType" : {
        "returnType" : "GetFolderPathResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFolderPathResult"
    },
    "InitiateDocumentVersionUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InitiateDocumentVersionUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InitiateDocumentVersionUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitiateDocumentVersionUploadRequest, InitiateDocumentVersionUploadResult>",
      "asyncReturnType" : "InitiateDocumentVersionUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new document object and version object.</p> <p>The client specifies the parent folder ID and name of the document to upload. The ID is optionally specified when creating a new version of an existing document. This is the first step to upload a document. Next, upload the document to the URL returned from the call, and then call <a>UpdateDocumentVersion</a>.</p> <p>To cancel the document upload, call <a>AbortDocumentVersionUpload</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "StorageLimitExceededException",
        "documentation" : "<p>The storage limit has been exceeded.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "StorageLimitWillExceedException",
        "documentation" : "<p>The storage limit will be exceeded.</p>",
        "httpStatusCode" : 413
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "InitiateDocumentVersionUploadRequest",
        "variableName" : "initiateDocumentVersionUploadRequest",
        "variableType" : "InitiateDocumentVersionUploadRequest",
        "documentation" : "",
        "simpleType" : "InitiateDocumentVersionUploadRequest",
        "variableSetterType" : "InitiateDocumentVersionUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "initiateDocumentVersionUpload",
      "operationName" : "InitiateDocumentVersionUpload",
      "returnType" : {
        "returnType" : "InitiateDocumentVersionUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "InitiateDocumentVersionUploadResult"
    },
    "RemoveAllResourcePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveAllResourcePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveAllResourcePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveAllResourcePermissionsRequest, RemoveAllResourcePermissionsResult>",
      "asyncReturnType" : "RemoveAllResourcePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes all the permissions from the specified resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveAllResourcePermissionsRequest",
        "variableName" : "removeAllResourcePermissionsRequest",
        "variableType" : "RemoveAllResourcePermissionsRequest",
        "documentation" : "",
        "simpleType" : "RemoveAllResourcePermissionsRequest",
        "variableSetterType" : "RemoveAllResourcePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeAllResourcePermissions",
      "operationName" : "RemoveAllResourcePermissions",
      "returnType" : {
        "returnType" : "RemoveAllResourcePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveAllResourcePermissionsResult"
    },
    "RemoveResourcePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveResourcePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveResourcePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveResourcePermissionRequest, RemoveResourcePermissionResult>",
      "asyncReturnType" : "RemoveResourcePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the permission for the specified principal from the specified resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveResourcePermissionRequest",
        "variableName" : "removeResourcePermissionRequest",
        "variableType" : "RemoveResourcePermissionRequest",
        "documentation" : "",
        "simpleType" : "RemoveResourcePermissionRequest",
        "variableSetterType" : "RemoveResourcePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeResourcePermission",
      "operationName" : "RemoveResourcePermission",
      "returnType" : {
        "returnType" : "RemoveResourcePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveResourcePermissionResult"
    },
    "UpdateDocument" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDocumentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDocumentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDocumentRequest, UpdateDocumentResult>",
      "asyncReturnType" : "UpdateDocumentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified attributes of the specified document. The user must have access to both the document and its parent folder, if applicable.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You've exceeded the maximum of 100,000 folders under the parent folder.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource hierarchy is changing.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDocumentRequest",
        "variableName" : "updateDocumentRequest",
        "variableType" : "UpdateDocumentRequest",
        "documentation" : "",
        "simpleType" : "UpdateDocumentRequest",
        "variableSetterType" : "UpdateDocumentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDocument",
      "operationName" : "UpdateDocument",
      "returnType" : {
        "returnType" : "UpdateDocumentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDocumentResult"
    },
    "UpdateDocumentVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDocumentVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDocumentVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDocumentVersionRequest, UpdateDocumentVersionResult>",
      "asyncReturnType" : "UpdateDocumentVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes the status of the document version to ACTIVE. </p> <p>Amazon WorkDocs also sets its document container to ACTIVE. This is the last step in a document upload, after the client uploads the document to an S3-presigned URL returned by <a>InitiateDocumentVersionUpload</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource hierarchy is changing.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation is invalid.</p>",
        "httpStatusCode" : 405
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDocumentVersionRequest",
        "variableName" : "updateDocumentVersionRequest",
        "variableType" : "UpdateDocumentVersionRequest",
        "documentation" : "",
        "simpleType" : "UpdateDocumentVersionRequest",
        "variableSetterType" : "UpdateDocumentVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDocumentVersion",
      "operationName" : "UpdateDocumentVersion",
      "returnType" : {
        "returnType" : "UpdateDocumentVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDocumentVersionResult"
    },
    "UpdateFolder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFolderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFolderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFolderRequest, UpdateFolderResult>",
      "asyncReturnType" : "UpdateFolderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified attributes of the specified folder. The user must have access to both the folder and its parent folder, if applicable.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The resource already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ProhibitedStateException",
        "documentation" : "<p>The specified document version is not in the INITIALIZED state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>The resource hierarchy is changing.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You've exceeded the maximum of 100,000 folders under the parent folder.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateFolderRequest",
        "variableName" : "updateFolderRequest",
        "variableType" : "UpdateFolderRequest",
        "documentation" : "",
        "simpleType" : "UpdateFolderRequest",
        "variableSetterType" : "UpdateFolderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFolder",
      "operationName" : "UpdateFolder",
      "returnType" : {
        "returnType" : "UpdateFolderResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFolderResult"
    },
    "UpdateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserRequest, UpdateUserResult>",
      "asyncReturnType" : "UpdateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified attributes of the specified user, and grants or revokes administrative privileges to the Amazon WorkDocs site.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityNotExistsException",
        "documentation" : "<p>The resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedOperationException",
        "documentation" : "<p>The operation is not permitted.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedResourceAccessException",
        "documentation" : "<p>The caller does not have access to perform the action on the resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "IllegalUserStateException",
        "documentation" : "<p>The user is undergoing transfer of ownership.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "FailedDependencyException",
        "documentation" : "<p>The AWS Directory Service cannot reach an on-premises instance. Or a dependency under the control of the organization is failing, such as a connected active directory.</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>One or more of the dependencies is unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "DeactivatingLastSystemUserException",
        "documentation" : "<p>The last user in the organization is being deactivated.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateUserRequest",
        "variableName" : "updateUserRequest",
        "variableType" : "UpdateUserRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserRequest",
        "variableSetterType" : "UpdateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUser",
      "operationName" : "UpdateUser",
      "returnType" : {
        "returnType" : "UpdateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserResult"
    }
  },
  "shapes" : {
    "AbortDocumentVersionUploadRequest" : {
      "c2jName" : "AbortDocumentVersionUploadRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AbortDocumentVersionUpload",
        "locationName" : null,
        "requestUri" : "/api/v1/documents/{DocumentId}/versions/{VersionId}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DocumentId",
        "c2jShape" : "ResourceIdType",
        "deprecated" : false,
        "documentation" : "<p>The ID of the document.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the document.</p>\n@param documentId The ID of the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDocumentId",
        "getterDocumentation" : "/**<p>The ID of the document.</p>\n@return The ID of the document.*/",
        "getterMethodName" : "getDocumentId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "DocumentId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DocumentId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DocumentId",
        "setterDocumentation" : "/**<p>The ID of the document.</p>\n@param documentId The ID of the document.*/",
        "setterMethodName" : "setDocumentId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "documentId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the document.</p>\n@param documentId The ID of the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "documentId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the document.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "VersionId",
        "c2jShape" : "DocumentVersionIdType",
        "deprecated" : false,
        "documentation" : "<p>The ID of the version.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the version.</p>\n@param versionId The ID of the version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVersionId",
        "getterDocumentation" : "/**<p>The ID of the version.</p>\n@return The ID of the version.*/",
        "getterMethodName" : "getVersionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "VersionId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "VersionId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VersionId",
        "setterDocumentation" : "/**<p>The ID of the version.</p>\n@param versionId The ID of the version.*/",
        "setterMethodName" : "setVersionId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "versionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the version.</p>\n@param versionId The ID of the version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "versionId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the version.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DocumentId" : {
          "c2jName" : "DocumentId",
          "c2jShape" : "ResourceIdType",
          "deprecated" : false,
          "documentation" : "<p>The ID of the document.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the document.</p>\n@param documentId The ID of the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDocumentId",
          "getterDocumentation" : "/**<p>The ID of the document.</p>\n@return The ID of the document.*/",
          "getterMethodName" : "getDocumentId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "DocumentId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DocumentId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DocumentId",
          "setterDocumentation" : "/**<p>The ID of the document.</p>\n@param documentId The ID of the document.*/",
          "setterMethodName" : "setDocumentId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "documentId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the document.</p>\n@param documentId The ID of the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "documentId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the document.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VersionId" : {
          "c2jName" : "VersionId",
          "c2jShape" : "DocumentVersionIdType",
          "deprecated" : false,
          "documentation" : "<p>The ID of the version.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the version.</p>\n@param versionId The ID of the version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVersionId",
          "getterDocumentation" : "/**<p>The ID of the version.</p>\n@return The ID of the version.*/",
          "getterMethodName" : "getVersionId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "VersionId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "VersionId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "VersionId",
          "setterDocumentation" : "/**<p>The ID of the version.</p>\n@param versionId The ID of the version.*/",
          "setterMethodName" : "setVersionId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "versionId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the version.</p>\n@param versionId The ID of the version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "versionId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the version.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "DocumentId", "VersionId" ],
      "shapeName" : "AbortDocumentVersionUploadRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AbortDocumentVersionUploadRequest",
        "variableName" : "abortDocumentVersionUploadRequest",
        "variableType" : "AbortDocumentVersionUploadRequest",
        "documentation" : null,
        "simpleType" : "AbortDocumentVersionUploadRequest",
        "variableSetterType" : "AbortDocumentVersionUploadRequest"
      },
      "wrapper" : false
    },
    "AbortDocumentVersionUploadResult" : {
      "c2jName" : "AbortDocumentVersionUploadResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AbortDocumentVersionUploadResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AbortDocumentVersionUploadResult",
        "variableName" : "abortDocumentVersionUploadResult",
        "variableType" : "AbortDocumentVersionUploadResult",
        "documentation" : null,
        "simpleType" : "AbortDocumentVersionUploadResult",
        "variableSetterType" : "AbortDocumentVersionUploadResult"
      },
      "wrapper" : false
    },
    "ActivateUserRequest" : {
      "c2jName" : "ActivateUserRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ActivateUser",
        "locationName" : null,
        "requestUri" : "/api/v1/users/{UserId}/activation",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "UserId",
        "c2jShape" : "IdType",
        "deprecated" : false,
        "documentation" : "<p>The ID of the user.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the user.</p>\n@param userId The ID of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUserId",
        "getterDocumentation" : "/**<p>The ID of the user.</p>\n@return The ID of the user.*/",
        "getterMethodName" : "getUserId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "UserId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "UserId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UserId",
        "setterDocumentation" : "/**<p>The ID of the user.</p>\n@param userId The ID of the user.*/",
        "setterMethodName" : "setUserId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "userId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the user.</p>\n@param userId The ID of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "userId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the user.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "UserId" : {
          "c2jName" : "UserId",
          "c2jShape" : "IdType",
          "deprecated" : false,
          "documentation" : "<p>The ID of the user.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the user.</p>\n@param userId The ID of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUserId",
          "getterDocumentation" : "/**<p>The ID of the user.</p>\n@return The ID of the user.*/",
          "getterMethodName" : "getUserId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "UserId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "UserId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "UserId",
          "setterDocumentation" : "/**<p>The ID of the user.</p>\n@param userId The ID of the user.*/",
          "setterMethodName" : "setUserId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "userId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the user.</p>\n@param userId The ID of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "userId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the user.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "UserId" ],
      "shapeName" : "ActivateUserRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ActivateUserRequest",
        "variableName" : "activateUserRequest",
        "variableType" : "ActivateUserRequest",
        "documentation" : null,
        "simpleType" : "ActivateUserRequest",
        "variableSetterType" : "ActivateUserRequest"
      },
      "wrapper" : false
    },
    "ActivateUserResult" : {
      "c2jName" : "ActivateUserResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "User",
        "c2jShape" : "User",
        "deprecated" : false,
        "documentation" : "<p>The user information.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The user information.</p>\n@param user The user information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUser",
        "getterDocumentation" : "/**<p>The user information.</p>\n@return The user information.*/",
        "getterMethodName" : "getUser",
        "getterModel" : {
          "returnType" : "User",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "User",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "User",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "User",
        "setterDocumentation" : "/**<p>The user information.</p>\n@param user The user information.*/",
        "setterMethodName" : "setUser",
[...]
