{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "ComputeType" : [ "Name" ],
      "Workspace" : [ "State" ],
      "WorkspaceConnectionStatus" : [ "ConnectionState" ],
      "WorkspaceDirectory" : [ "DirectoryType", "State" ],
      "WorkspaceProperties" : [ "RunningMode" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeWorkspaceBundles" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeWorkspaceDirectories" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeWorkspaces" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2015-04-08",
    "asyncClient" : "AmazonWorkspacesAsyncClient",
    "asyncClientBuilderClassName" : "AmazonWorkspacesAsyncClientBuilder",
    "asyncInterface" : "AmazonWorkspacesAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonWorkspacesModuleInjector",
    "defaultEndpoint" : "https://workspaces.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "workspaces.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon WorkSpaces Service</fullname> <p>Amazon WorkSpaces enables you to provision virtual, cloud-based Microsoft Windows and Amazon Linux desktops for your users.</p>",
    "endpointPrefix" : "workspaces",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.workspaces",
    "packagePath" : "com/amazonaws/services/workspaces",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon WorkSpaces",
    "serviceId" : "WorkSpaces",
    "serviceName" : "Amazon WorkSpaces",
    "signingName" : "workspaces",
    "smokeTestsPackageName" : "com.amazonaws.services.workspaces.smoketests",
    "syncClient" : "AmazonWorkspacesClient",
    "syncClientBuilderClassName" : "AmazonWorkspacesClientBuilder",
    "syncInterface" : "AmazonWorkspaces",
    "uid" : "workspaces-2015-04-08",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateIpGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateIpGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateIpGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateIpGroupsRequest, AssociateIpGroupsResult>",
      "asyncReturnType" : "AssociateIpGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified IP access control group with the specified directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The state of the resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotSupportedException",
        "documentation" : "<p>This operation is not supported.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateIpGroupsRequest",
        "variableName" : "associateIpGroupsRequest",
        "variableType" : "AssociateIpGroupsRequest",
        "documentation" : "",
        "simpleType" : "AssociateIpGroupsRequest",
        "variableSetterType" : "AssociateIpGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateIpGroups",
      "operationName" : "AssociateIpGroups",
      "returnType" : {
        "returnType" : "AssociateIpGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateIpGroupsResult"
    },
    "AuthorizeIpRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AuthorizeIpRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AuthorizeIpRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AuthorizeIpRulesRequest, AuthorizeIpRulesResult>",
      "asyncReturnType" : "AuthorizeIpRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more rules to the specified IP access control group.</p> <p>This action gives users permission to access their WorkSpaces from the CIDR address ranges specified in the rules.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The state of the resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthorizeIpRulesRequest",
        "variableName" : "authorizeIpRulesRequest",
        "variableType" : "AuthorizeIpRulesRequest",
        "documentation" : "",
        "simpleType" : "AuthorizeIpRulesRequest",
        "variableSetterType" : "AuthorizeIpRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "authorizeIpRules",
      "operationName" : "AuthorizeIpRules",
      "returnType" : {
        "returnType" : "AuthorizeIpRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "AuthorizeIpRulesResult"
    },
    "CreateIpGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIpGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIpGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIpGroupRequest, CreateIpGroupResult>",
      "asyncReturnType" : "CreateIpGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an IP access control group.</p> <p>An IP access control group provides you with the ability to control the IP addresses from which users are allowed to access their WorkSpaces. To specify the CIDR address ranges, add rules to your IP access control group and then associate the group with your directory. You can add rules when you create the group or at any time using <a>AuthorizeIpRules</a>.</p> <p>There is a default IP access control group associated with your directory. If you don't associate an IP access control group with your directory, the default group is used. The default group includes a default rule that allows users to access their WorkSpaces from anywhere. You cannot modify the default IP access control group for your directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceCreationFailedException",
        "documentation" : "<p>The resource could not be created.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIpGroupRequest",
        "variableName" : "createIpGroupRequest",
        "variableType" : "CreateIpGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateIpGroupRequest",
        "variableSetterType" : "CreateIpGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIpGroup",
      "operationName" : "CreateIpGroup",
      "returnType" : {
        "returnType" : "CreateIpGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIpGroupResult"
    },
    "CreateTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, CreateTagsResult>",
      "asyncReturnType" : "CreateTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the specified tags for the specified WorkSpaces resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTagsRequest",
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "documentation" : "",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTags",
      "operationName" : "CreateTags",
      "returnType" : {
        "returnType" : "CreateTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTagsResult"
    },
    "CreateWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspacesRequest, CreateWorkspacesResult>",
      "asyncReturnType" : "CreateWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates one or more WorkSpaces.</p> <p>This operation is asynchronous and returns before the WorkSpaces are created.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkspacesRequest",
        "variableName" : "createWorkspacesRequest",
        "variableType" : "CreateWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkspacesRequest",
        "variableSetterType" : "CreateWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkspaces",
      "operationName" : "CreateWorkspaces",
      "returnType" : {
        "returnType" : "CreateWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkspacesResult"
    },
    "DeleteIpGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIpGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIpGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIpGroupRequest, DeleteIpGroupResult>",
      "asyncReturnType" : "DeleteIpGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified IP access control group.</p> <p>You cannot delete an IP access control group that is associated with a directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAssociatedException",
        "documentation" : "<p>The resource is associated with a directory.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIpGroupRequest",
        "variableName" : "deleteIpGroupRequest",
        "variableType" : "DeleteIpGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteIpGroupRequest",
        "variableSetterType" : "DeleteIpGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIpGroup",
      "operationName" : "DeleteIpGroup",
      "returnType" : {
        "returnType" : "DeleteIpGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIpGroupResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified tags from the specified WorkSpaces resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DeleteWorkspaceImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkspaceImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkspaceImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkspaceImageRequest, DeleteWorkspaceImageResult>",
      "asyncReturnType" : "DeleteWorkspaceImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified image from your account. To delete an image, you must first delete any bundles that are associated with the image. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceAssociatedException",
        "documentation" : "<p>The resource is associated with a directory.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The state of the resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkspaceImageRequest",
        "variableName" : "deleteWorkspaceImageRequest",
        "variableType" : "DeleteWorkspaceImageRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkspaceImageRequest",
        "variableSetterType" : "DeleteWorkspaceImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkspaceImage",
      "operationName" : "DeleteWorkspaceImage",
      "returnType" : {
        "returnType" : "DeleteWorkspaceImageResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkspaceImageResult"
    },
    "DescribeAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountRequest, DescribeAccountResult>",
      "asyncReturnType" : "DescribeAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes the configuration of bring your own license (BYOL) for the specified account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccountRequest",
        "variableName" : "describeAccountRequest",
        "variableType" : "DescribeAccountRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountRequest",
        "variableSetterType" : "DescribeAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccount",
      "operationName" : "DescribeAccount",
      "returnType" : {
        "returnType" : "DescribeAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountResult"
    },
    "DescribeAccountModifications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountModificationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountModificationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountModificationsRequest, DescribeAccountModificationsResult>",
      "asyncReturnType" : "DescribeAccountModificationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes modifications to the configuration of bring your own license (BYOL) for the specified account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccountModificationsRequest",
        "variableName" : "describeAccountModificationsRequest",
        "variableType" : "DescribeAccountModificationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountModificationsRequest",
        "variableSetterType" : "DescribeAccountModificationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountModifications",
      "operationName" : "DescribeAccountModifications",
      "returnType" : {
        "returnType" : "DescribeAccountModificationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountModificationsResult"
    },
    "DescribeClientProperties" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClientPropertiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClientPropertiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClientPropertiesRequest, DescribeClientPropertiesResult>",
      "asyncReturnType" : "DescribeClientPropertiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes one or more specified Amazon WorkSpaces clients.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClientPropertiesRequest",
        "variableName" : "describeClientPropertiesRequest",
        "variableType" : "DescribeClientPropertiesRequest",
        "documentation" : "",
        "simpleType" : "DescribeClientPropertiesRequest",
        "variableSetterType" : "DescribeClientPropertiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeClientProperties",
      "operationName" : "DescribeClientProperties",
      "returnType" : {
        "returnType" : "DescribeClientPropertiesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeClientPropertiesResult"
    },
    "DescribeIpGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIpGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIpGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIpGroupsRequest, DescribeIpGroupsResult>",
      "asyncReturnType" : "DescribeIpGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes one or more of your IP access control groups.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeIpGroupsRequest",
        "variableName" : "describeIpGroupsRequest",
        "variableType" : "DescribeIpGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeIpGroupsRequest",
        "variableSetterType" : "DescribeIpGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeIpGroups",
      "operationName" : "DescribeIpGroups",
      "returnType" : {
        "returnType" : "DescribeIpGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeIpGroupsResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified tags for the specified WorkSpaces resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DescribeWorkspaceBundles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceBundlesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceBundlesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceBundlesRequest, DescribeWorkspaceBundlesResult>",
      "asyncReturnType" : "DescribeWorkspaceBundlesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes the available WorkSpace bundles.</p> <p>You can filter the results using either bundle ID or owner, but not both.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkspaceBundlesRequest",
        "variableName" : "describeWorkspaceBundlesRequest",
        "variableType" : "DescribeWorkspaceBundlesRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspaceBundlesRequest",
        "variableSetterType" : "DescribeWorkspaceBundlesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaceBundles",
      "operationName" : "DescribeWorkspaceBundles",
      "returnType" : {
        "returnType" : "DescribeWorkspaceBundlesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspaceBundlesResult"
    },
    "DescribeWorkspaceDirectories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceDirectoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceDirectoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceDirectoriesRequest, DescribeWorkspaceDirectoriesResult>",
      "asyncReturnType" : "DescribeWorkspaceDirectoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the available AWS Directory Service directories that are registered with Amazon WorkSpaces.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkspaceDirectoriesRequest",
        "variableName" : "describeWorkspaceDirectoriesRequest",
        "variableType" : "DescribeWorkspaceDirectoriesRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspaceDirectoriesRequest",
        "variableSetterType" : "DescribeWorkspaceDirectoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaceDirectories",
      "operationName" : "DescribeWorkspaceDirectories",
      "returnType" : {
        "returnType" : "DescribeWorkspaceDirectoriesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspaceDirectoriesResult"
    },
    "DescribeWorkspaceImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceImagesRequest, DescribeWorkspaceImagesResult>",
      "asyncReturnType" : "DescribeWorkspaceImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list that describes one or more specified images, if the image identifiers are provided. Otherwise, all images in the account are described. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkspaceImagesRequest",
        "variableName" : "describeWorkspaceImagesRequest",
        "variableType" : "DescribeWorkspaceImagesRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspaceImagesRequest",
        "variableSetterType" : "DescribeWorkspaceImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaceImages",
      "operationName" : "DescribeWorkspaceImages",
      "returnType" : {
        "returnType" : "DescribeWorkspaceImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspaceImagesResult"
    },
    "DescribeWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspacesRequest, DescribeWorkspacesResult>",
      "asyncReturnType" : "DescribeWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified WorkSpaces.</p> <p>You can filter the results by using the bundle identifier, directory identifier, or owner, but you can specify only one filter at a time.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkspacesRequest",
        "variableName" : "describeWorkspacesRequest",
        "variableType" : "DescribeWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspacesRequest",
        "variableSetterType" : "DescribeWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaces",
      "operationName" : "DescribeWorkspaces",
      "returnType" : {
        "returnType" : "DescribeWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspacesResult"
    },
    "DescribeWorkspacesConnectionStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspacesConnectionStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspacesConnectionStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspacesConnectionStatusRequest, DescribeWorkspacesConnectionStatusResult>",
      "asyncReturnType" : "DescribeWorkspacesConnectionStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the connection status of the specified WorkSpaces.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkspacesConnectionStatusRequest",
        "variableName" : "describeWorkspacesConnectionStatusRequest",
        "variableType" : "DescribeWorkspacesConnectionStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspacesConnectionStatusRequest",
        "variableSetterType" : "DescribeWorkspacesConnectionStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspacesConnectionStatus",
      "operationName" : "DescribeWorkspacesConnectionStatus",
      "returnType" : {
        "returnType" : "DescribeWorkspacesConnectionStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspacesConnectionStatusResult"
    },
    "DisassociateIpGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateIpGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateIpGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateIpGroupsRequest, DisassociateIpGroupsResult>",
      "asyncReturnType" : "DisassociateIpGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the specified IP access control group from the specified directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The state of the resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateIpGroupsRequest",
        "variableName" : "disassociateIpGroupsRequest",
        "variableType" : "DisassociateIpGroupsRequest",
        "documentation" : "",
        "simpleType" : "DisassociateIpGroupsRequest",
        "variableSetterType" : "DisassociateIpGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateIpGroups",
      "operationName" : "DisassociateIpGroups",
      "returnType" : {
        "returnType" : "DisassociateIpGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateIpGroupsResult"
    },
    "ImportWorkspaceImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportWorkspaceImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportWorkspaceImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportWorkspaceImageRequest, ImportWorkspaceImageResult>",
      "asyncReturnType" : "ImportWorkspaceImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports the specified Windows 7 or Windows 10 bring your own license (BYOL) image into Amazon WorkSpaces. The image must be an already licensed EC2 image that is in your AWS account, and you must own the image. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotSupportedException",
        "documentation" : "<p>This operation is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportWorkspaceImageRequest",
        "variableName" : "importWorkspaceImageRequest",
        "variableType" : "ImportWorkspaceImageRequest",
        "documentation" : "",
        "simpleType" : "ImportWorkspaceImageRequest",
        "variableSetterType" : "ImportWorkspaceImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importWorkspaceImage",
      "operationName" : "ImportWorkspaceImage",
      "returnType" : {
        "returnType" : "ImportWorkspaceImageResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportWorkspaceImageResult"
    },
    "ListAvailableManagementCidrRanges" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAvailableManagementCidrRangesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAvailableManagementCidrRangesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAvailableManagementCidrRangesRequest, ListAvailableManagementCidrRangesResult>",
      "asyncReturnType" : "ListAvailableManagementCidrRangesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of IP address ranges, specified as IPv4 CIDR blocks, that you can use for the network management interface when you enable bring your own license (BYOL). </p> <p>The management network interface is connected to a secure Amazon WorkSpaces management network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAvailableManagementCidrRangesRequest",
        "variableName" : "listAvailableManagementCidrRangesRequest",
        "variableType" : "ListAvailableManagementCidrRangesRequest",
        "documentation" : "",
        "simpleType" : "ListAvailableManagementCidrRangesRequest",
        "variableSetterType" : "ListAvailableManagementCidrRangesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAvailableManagementCidrRanges",
      "operationName" : "ListAvailableManagementCidrRanges",
      "returnType" : {
        "returnType" : "ListAvailableManagementCidrRangesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAvailableManagementCidrRangesResult"
    },
    "ModifyAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyAccountRequest, ModifyAccountResult>",
      "asyncReturnType" : "ModifyAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the configuration of bring your own license (BYOL) for the specified account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The state of the resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ModifyAccountRequest",
        "variableName" : "modifyAccountRequest",
        "variableType" : "ModifyAccountRequest",
        "documentation" : "",
        "simpleType" : "ModifyAccountRequest",
        "variableSetterType" : "ModifyAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyAccount",
      "operationName" : "ModifyAccount",
      "returnType" : {
        "returnType" : "ModifyAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyAccountResult"
    },
    "ModifyClientProperties" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyClientPropertiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyClientPropertiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyClientPropertiesRequest, ModifyClientPropertiesResult>",
      "asyncReturnType" : "ModifyClientPropertiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the properties of the specified Amazon WorkSpaces clients.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ModifyClientPropertiesRequest",
        "variableName" : "modifyClientPropertiesRequest",
        "variableType" : "ModifyClientPropertiesRequest",
        "documentation" : "",
        "simpleType" : "ModifyClientPropertiesRequest",
        "variableSetterType" : "ModifyClientPropertiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyClientProperties",
      "operationName" : "ModifyClientProperties",
      "returnType" : {
        "returnType" : "ModifyClientPropertiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyClientPropertiesResult"
    },
    "ModifyWorkspaceProperties" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyWorkspacePropertiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyWorkspacePropertiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyWorkspacePropertiesRequest, ModifyWorkspacePropertiesResult>",
      "asyncReturnType" : "ModifyWorkspacePropertiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified WorkSpace properties.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The state of the resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationInProgressException",
        "documentation" : "<p>The properties of this WorkSpace are currently being modified. Try again in a moment.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedWorkspaceConfigurationException",
        "documentation" : "<p>The configuration of this WorkSpace is not supported for this operation. For more information, see the <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/\">Amazon WorkSpaces Administration Guide</a>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ModifyWorkspacePropertiesRequest",
        "variableName" : "modifyWorkspacePropertiesRequest",
        "variableType" : "ModifyWorkspacePropertiesRequest",
        "documentation" : "",
        "simpleType" : "ModifyWorkspacePropertiesRequest",
        "variableSetterType" : "ModifyWorkspacePropertiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyWorkspaceProperties",
      "operationName" : "ModifyWorkspaceProperties",
      "returnType" : {
        "returnType" : "ModifyWorkspacePropertiesResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyWorkspacePropertiesResult"
    },
    "ModifyWorkspaceState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyWorkspaceStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyWorkspaceStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyWorkspaceStateRequest, ModifyWorkspaceStateResult>",
      "asyncReturnType" : "ModifyWorkspaceStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the state of the specified WorkSpace.</p> <p>To maintain a WorkSpace without being interrupted, set the WorkSpace state to <code>ADMIN_MAINTENANCE</code>. WorkSpaces in this state do not respond to requests to reboot, stop, start, or rebuild. An AutoStop WorkSpace in this state is not stopped. Users can log into a WorkSpace in the <code>ADMIN_MAINTENANCE</code> state.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The state of the resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ModifyWorkspaceStateRequest",
        "variableName" : "modifyWorkspaceStateRequest",
        "variableType" : "ModifyWorkspaceStateRequest",
        "documentation" : "",
        "simpleType" : "ModifyWorkspaceStateRequest",
        "variableSetterType" : "ModifyWorkspaceStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyWorkspaceState",
      "operationName" : "ModifyWorkspaceState",
      "returnType" : {
        "returnType" : "ModifyWorkspaceStateResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyWorkspaceStateResult"
    },
    "RebootWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebootWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebootWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebootWorkspacesRequest, RebootWorkspacesResult>",
      "asyncReturnType" : "RebootWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Reboots the specified WorkSpaces.</p> <p>You cannot reboot a WorkSpace unless its state is <code>AVAILABLE</code> or <code>UNHEALTHY</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have rebooted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RebootWorkspacesRequest",
        "variableName" : "rebootWorkspacesRequest",
        "variableType" : "RebootWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "RebootWorkspacesRequest",
        "variableSetterType" : "RebootWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebootWorkspaces",
      "operationName" : "RebootWorkspaces",
      "returnType" : {
        "returnType" : "RebootWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "RebootWorkspacesResult"
    },
    "RebuildWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebuildWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebuildWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebuildWorkspacesRequest, RebuildWorkspacesResult>",
      "asyncReturnType" : "RebuildWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Rebuilds the specified WorkSpace.</p> <p>You cannot rebuild a WorkSpace unless its state is <code>AVAILABLE</code>, <code>ERROR</code>, or <code>UNHEALTHY</code>.</p> <p>Rebuilding a WorkSpace is a potentially destructive action that can result in the loss of data. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/reset-workspace.html\">Rebuild a WorkSpace</a>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely rebuilt.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RebuildWorkspacesRequest",
        "variableName" : "rebuildWorkspacesRequest",
        "variableType" : "RebuildWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "RebuildWorkspacesRequest",
        "variableSetterType" : "RebuildWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebuildWorkspaces",
      "operationName" : "RebuildWorkspaces",
      "returnType" : {
        "returnType" : "RebuildWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "RebuildWorkspacesResult"
    },
    "RevokeIpRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokeIpRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokeIpRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeIpRulesRequest, RevokeIpRulesResult>",
      "asyncReturnType" : "RevokeIpRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more rules from the specified IP access control group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The state of the resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokeIpRulesRequest",
        "variableName" : "revokeIpRulesRequest",
        "variableType" : "RevokeIpRulesRequest",
        "documentation" : "",
        "simpleType" : "RevokeIpRulesRequest",
        "variableSetterType" : "RevokeIpRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokeIpRules",
      "operationName" : "RevokeIpRules",
      "returnType" : {
        "returnType" : "RevokeIpRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "RevokeIpRulesResult"
    },
    "StartWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartWorkspacesRequest, StartWorkspacesResult>",
      "asyncReturnType" : "StartWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the specified WorkSpaces.</p> <p>You cannot start a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>STOPPED</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartWorkspacesRequest",
        "variableName" : "startWorkspacesRequest",
        "variableType" : "StartWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "StartWorkspacesRequest",
        "variableSetterType" : "StartWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startWorkspaces",
      "operationName" : "StartWorkspaces",
      "returnType" : {
        "returnType" : "StartWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "StartWorkspacesResult"
    },
    "StopWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopWorkspacesRequest, StopWorkspacesResult>",
      "asyncReturnType" : "StopWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Stops the specified WorkSpaces.</p> <p>You cannot stop a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>AVAILABLE</code>, <code>IMPAIRED</code>, <code>UNHEALTHY</code>, or <code>ERROR</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopWorkspacesRequest",
        "variableName" : "stopWorkspacesRequest",
        "variableType" : "StopWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "StopWorkspacesRequest",
        "variableSetterType" : "StopWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopWorkspaces",
      "operationName" : "StopWorkspaces",
      "returnType" : {
        "returnType" : "StopWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "StopWorkspacesResult"
    },
    "TerminateWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateWorkspacesRequest, TerminateWorkspacesResult>",
      "asyncReturnType" : "TerminateWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Terminates the specified WorkSpaces.</p> <p>Terminating a WorkSpace is a permanent action and cannot be undone. The user's data is destroyed. If you need to archive any user data, contact Amazon Web Services before terminating the WorkSpace.</p> <p>You can terminate a WorkSpace that is in any state except <code>SUSPENDED</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely terminated.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TerminateWorkspacesRequest",
        "variableName" : "terminateWorkspacesRequest",
        "variableType" : "TerminateWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "TerminateWorkspacesRequest",
        "variableSetterType" : "TerminateWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateWorkspaces",
      "operationName" : "TerminateWorkspaces",
      "returnType" : {
        "returnType" : "TerminateWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateWorkspacesResult"
    },
    "UpdateRulesOfIpGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRulesOfIpGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRulesOfIpGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRulesOfIpGroupRequest, UpdateRulesOfIpGroupResult>",
      "asyncReturnType" : "UpdateRulesOfIpGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Replaces the current rules of the specified IP access control group with the specified rules.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValuesException",
        "documentation" : "<p>One or more parameter values are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>Your resource limits have been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The state of the resource is not valid for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The user is not authorized to access a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRulesOfIpGroupRequest",
        "variableName" : "updateRulesOfIpGroupRequest",
        "variableType" : "UpdateRulesOfIpGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateRulesOfIpGroupRequest",
        "variableSetterType" : "UpdateRulesOfIpGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRulesOfIpGroup",
      "operationName" : "UpdateRulesOfIpGroup",
      "returnType" : {
        "returnType" : "UpdateRulesOfIpGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRulesOfIpGroupResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The user is not authorized to access a resource.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountModification" : {
      "c2jName" : "AccountModification",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes a modification to the configuration of bring your own license (BYOL) for the specified account. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ModificationState",
        "c2jShape" : "DedicatedTenancyModificationStateEnum",
        "deprecated" : false,
        "documentation" : "<p>The state of the modification to the configuration of BYOL.</p>",
        "enumType" : "DedicatedTenancyModificationStateEnum",
        "fluentSetterDocumentation" : "/**<p>The state of the modification to the configuration of BYOL.</p>\n@param modificationState The state of the modification to the configuration of BYOL.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DedicatedTenancyModificationStateEnum*/",
        "fluentSetterMethodName" : "withModificationState",
        "getterDocumentation" : "/**<p>The state of the modification to the configuration of BYOL.</p>\n@return The state of the modification to the configuration of BYOL.\n@see DedicatedTenancyModificationStateEnum*/",
        "getterMethodName" : "getModificationState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ModificationState",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ModificationState",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ModificationState",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The state of the modification to the configuration of BYOL.</p>\n@param modificationState The state of the modification to the configuration of BYOL.\n@see DedicatedTenancyModificationStateEnum*/",
        "setterMethodName" : "setModificationState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modificationState",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The state of the modification to the configuration of BYOL.</p>\n@param modificationState The state of the modification to the configuration of BYOL.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DedicatedTenancyModificationStateEnum*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modificationState",
          "variableType" : "String",
          "documentation" : "<p>The state of the modification to the configuration of BYOL.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DedicatedTenancySupport",
        "c2jShape" : "DedicatedTenancySupportResultEnum",
        "deprecated" : false,
        "documentation" : "<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>",
        "enumType" : "DedicatedTenancySupportResultEnum",
        "fluentSetterDocumentation" : "/**<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>\n@param dedicatedTenancySupport The status of BYOL (whether BYOL is being enabled or disabled).\n@return Returns a reference to this object so that method calls can be chained together.\n@see DedicatedTenancySupportResultEnum*/",
        "fluentSetterMethodName" : "withDedicatedTenancySupport",
        "getterDocumentation" : "/**<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>\n@return The status of BYOL (whether BYOL is being enabled or disabled).\n@see DedicatedTenancySupportResultEnum*/",
        "getterMethodName" : "getDedicatedTenancySupport",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DedicatedTenancySupport",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DedicatedTenancySupport",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DedicatedTenancySupport",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>\n@param dedicatedTenancySupport The status of BYOL (whether BYOL is being enabled or disabled).\n@see DedicatedTenancySupportResultEnum*/",
        "setterMethodName" : "setDedicatedTenancySupport",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dedicatedTenancySupport",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>\n@param dedicatedTenancySupport The status of BYOL (whether BYOL is being enabled or disabled).\n@return Returns a reference to this object so that method calls can be chained together.\n@see DedicatedTenancySupportResultEnum*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dedicatedTenancySupport",
          "variableType" : "String",
          "documentation" : "<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DedicatedTenancyManagementCidrRange",
        "c2jShape" : "DedicatedTenancyManagementCidrRange",
        "deprecated" : false,
        "documentation" : "<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>\n@param dedicatedTenancyManagementCidrRange The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDedicatedTenancyManagementCidrRange",
        "getterDocumentation" : "/**<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>\n@return The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.*/",
        "getterMethodName" : "getDedicatedTenancyManagementCidrRange",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DedicatedTenancyManagementCidrRange",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DedicatedTenancyManagementCidrRange",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DedicatedTenancyManagementCidrRange",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>\n@param dedicatedTenancyManagementCidrRange The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.*/",
        "setterMethodName" : "setDedicatedTenancyManagementCidrRange",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dedicatedTenancyManagementCidrRange",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>\n@param dedicatedTenancyManagementCidrRange The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dedicatedTenancyManagementCidrRange",
          "variableType" : "String",
          "documentation" : "<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StartTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The timestamp when the modification of the BYOL configuration was started.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The timestamp when the modification of the BYOL configuration was started.</p>\n@param startTime The timestamp when the modification of the BYOL configuration was started.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStartTime",
        "getterDocumentation" : "/**<p>The timestamp when the modification of the BYOL configuration was started.</p>\n@return The timestamp when the modification of the BYOL configuration was started.*/",
        "getterMethodName" : "getStartTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StartTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StartTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "StartTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The timestamp when the modification of the BYOL configuration was started.</p>\n@param startTime The timestamp when the modification of the BYOL configuration was started.*/",
        "setterMethodName" : "setStartTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The timestamp when the modification of the BYOL configuration was started.</p>\n@param startTime The timestamp when the modification of the BYOL configuration was started.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The timestamp when the modification of the BYOL configuration was started.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ErrorCode",
        "c2jShape" : "WorkspaceErrorCode",
        "deprecated" : false,
        "documentation" : "<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>\n@param errorCode The error code that is returned if the configuration of BYOL cannot be modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorCode",
        "getterDocumentation" : "/**<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>\n@return The error code that is returned if the configuration of BYOL cannot be modified.*/",
        "getterMethodName" : "getErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ErrorCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>\n@param errorCode The error code that is returned if the configuration of BYOL cannot be modified.*/",
        "setterMethodName" : "setErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>\n@param errorCode The error code that is returned if the configuration of BYOL cannot be modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ErrorMessage",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "<p>The text of the error message that is returned if the configuration of BYOL cannot be modified.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The text of the error message that is returned if the configuration of BYOL cannot be modified.</p>\n@param errorMessage The text of the error message that is returned if the configuration of BYOL cannot be modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorMessage",
        "getterDocumentation" : "/**<p>The text of the error message that is returned if the configuration of BYOL cannot be modified.</p>\n@return The text of the error message that is returned if the configuration of BYOL cannot be modified.*/",
        "getterMethodName" : "getErrorMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ErrorMessage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The text of the error message that is returned if the configuration of BYOL cannot be modified.</p>\n@param errorMessage The text of the error message that is returned if the configuration of BYOL cannot be modified.*/",
        "setterMethodName" : "setErrorMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The text of the error message that is returned if the configuration of BYOL cannot be modified.</p>\n@param errorMessage The text of the error message that is returned if the configuration of BYOL cannot be modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorMessage",
          "variableType" : "String",
          "documentation" : "<p>The text of the error message that is returned if the configuration of BYOL cannot be modified.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DedicatedTenancyManagementCidrRange" : {
          "c2jName" : "DedicatedTenancyManagementCidrRange",
          "c2jShape" : "DedicatedTenancyManagementCidrRange",
          "deprecated" : false,
          "documentation" : "<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>\n@param dedicatedTenancyManagementCidrRange The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDedicatedTenancyManagementCidrRange",
          "getterDocumentation" : "/**<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>\n@return The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.*/",
          "getterMethodName" : "getDedicatedTenancyManagementCidrRange",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DedicatedTenancyManagementCidrRange",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DedicatedTenancyManagementCidrRange",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DedicatedTenancyManagementCidrRange",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>\n@param dedicatedTenancyManagementCidrRange The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.*/",
          "setterMethodName" : "setDedicatedTenancyManagementCidrRange",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "dedicatedTenancyManagementCidrRange",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>\n@param dedicatedTenancyManagementCidrRange The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "dedicatedTenancyManagementCidrRange",
            "variableType" : "String",
            "documentation" : "<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DedicatedTenancySupport" : {
          "c2jName" : "DedicatedTenancySupport",
          "c2jShape" : "DedicatedTenancySupportResultEnum",
          "deprecated" : false,
          "documentation" : "<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>",
          "enumType" : "DedicatedTenancySupportResultEnum",
          "fluentSetterDocumentation" : "/**<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>\n@param dedicatedTenancySupport The status of BYOL (whether BYOL is being enabled or disabled).\n@return Returns a reference to this object so that method calls can be chained together.\n@see DedicatedTenancySupportResultEnum*/",
          "fluentSetterMethodName" : "withDedicatedTenancySupport",
          "getterDocumentation" : "/**<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>\n@return The status of BYOL (whether BYOL is being enabled or disabled).\n@see DedicatedTenancySupportResultEnum*/",
          "getterMethodName" : "getDedicatedTenancySupport",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DedicatedTenancySupport",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DedicatedTenancySupport",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DedicatedTenancySupport",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>\n@param dedicatedTenancySupport The status of BYOL (whether BYOL is being enabled or disabled).\n@see DedicatedTenancySupportResultEnum*/",
          "setterMethodName" : "setDedicatedTenancySupport",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "dedicatedTenancySupport",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>\n@param dedicatedTenancySupport The status of BYOL (whether BYOL is being enabled or disabled).\n@return Returns a reference to this object so that method calls can be chained together.\n@see DedicatedTenancySupportResultEnum*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "dedicatedTenancySupport",
            "variableType" : "String",
            "documentation" : "<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ErrorCode" : {
          "c2jName" : "ErrorCode",
          "c2jShape" : "WorkspaceErrorCode",
          "deprecated" : false,
          "documentation" : "<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>\n@param errorCode The error code that is returned if the configuration of BYOL cannot be modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorCode",
[...]
