{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2016-04-12",
    "asyncClient" : "AWSXRayAsyncClient",
    "asyncClientBuilderClassName" : "AWSXRayAsyncClientBuilder",
    "asyncInterface" : "AWSXRayAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSXRayModuleInjector",
    "defaultEndpoint" : "xray.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "xray.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS X-Ray provides APIs for managing debug traces and retrieving service maps and other data created by processing those traces.</p>",
    "endpointPrefix" : "xray",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.xray",
    "packagePath" : "com/amazonaws/services/xray",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS X-Ray",
    "serviceId" : "XRay",
    "serviceName" : "AWS X-Ray",
    "signingName" : "xray",
    "smokeTestsPackageName" : "com.amazonaws.services.xray.smoketests",
    "syncClient" : "AWSXRayClient",
    "syncClientBuilderClassName" : "AWSXRayClientBuilder",
    "syncInterface" : "AWSXRay",
    "uid" : "xray-2016-04-12",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetTraces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetTracesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetTracesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetTracesRequest, BatchGetTracesResult>",
      "asyncReturnType" : "BatchGetTracesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of traces specified by ID. Each trace is a collection of segment documents that originates from a single request. Use <code>GetTraceSummaries</code> to get a list of trace IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetTracesRequest",
        "variableName" : "batchGetTracesRequest",
        "variableType" : "BatchGetTracesRequest",
        "documentation" : "",
        "simpleType" : "BatchGetTracesRequest",
        "variableSetterType" : "BatchGetTracesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetTraces",
      "operationName" : "BatchGetTraces",
      "returnType" : {
        "returnType" : "BatchGetTracesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetTracesResult"
    },
    "CreateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupRequest, CreateGroupResult>",
      "asyncReturnType" : "CreateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a group resource with a name and a filter expression. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGroupRequest",
        "variableName" : "createGroupRequest",
        "variableType" : "CreateGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateGroupRequest",
        "variableSetterType" : "CreateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroup",
      "operationName" : "CreateGroup",
      "returnType" : {
        "returnType" : "CreateGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGroupResult"
    },
    "CreateSamplingRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSamplingRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSamplingRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSamplingRuleRequest, CreateSamplingRuleResult>",
      "asyncReturnType" : "CreateSamplingRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a rule to control sampling behavior for instrumented applications. Services retrieve rules with <a>GetSamplingRules</a>, and evaluate each rule in ascending order of <i>priority</i> for each request. If a rule matches, the service records a trace, borrowing it from the reservoir size. After 10 seconds, the service reports back to X-Ray with <a>GetSamplingTargets</a> to get updated versions of each in-use rule. The updated rule contains a trace quota that the service can use instead of borrowing from the reservoir.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "RuleLimitExceededException",
        "documentation" : "<p>You have reached the maximum number of sampling rules.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSamplingRuleRequest",
        "variableName" : "createSamplingRuleRequest",
        "variableType" : "CreateSamplingRuleRequest",
        "documentation" : "",
        "simpleType" : "CreateSamplingRuleRequest",
        "variableSetterType" : "CreateSamplingRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSamplingRule",
      "operationName" : "CreateSamplingRule",
      "returnType" : {
        "returnType" : "CreateSamplingRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSamplingRuleResult"
    },
    "DeleteGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGroupRequest, DeleteGroupResult>",
      "asyncReturnType" : "DeleteGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a group resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGroupRequest",
        "variableName" : "deleteGroupRequest",
        "variableType" : "DeleteGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteGroupRequest",
        "variableSetterType" : "DeleteGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGroup",
      "operationName" : "DeleteGroup",
      "returnType" : {
        "returnType" : "DeleteGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGroupResult"
    },
    "DeleteSamplingRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSamplingRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSamplingRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSamplingRuleRequest, DeleteSamplingRuleResult>",
      "asyncReturnType" : "DeleteSamplingRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a sampling rule.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSamplingRuleRequest",
        "variableName" : "deleteSamplingRuleRequest",
        "variableType" : "DeleteSamplingRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteSamplingRuleRequest",
        "variableSetterType" : "DeleteSamplingRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSamplingRule",
      "operationName" : "DeleteSamplingRule",
      "returnType" : {
        "returnType" : "DeleteSamplingRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSamplingRuleResult"
    },
    "GetEncryptionConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEncryptionConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEncryptionConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEncryptionConfigRequest, GetEncryptionConfigResult>",
      "asyncReturnType" : "GetEncryptionConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current encryption configuration for X-Ray data.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEncryptionConfigRequest",
        "variableName" : "getEncryptionConfigRequest",
        "variableType" : "GetEncryptionConfigRequest",
        "documentation" : "",
        "simpleType" : "GetEncryptionConfigRequest",
        "variableSetterType" : "GetEncryptionConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEncryptionConfig",
      "operationName" : "GetEncryptionConfig",
      "returnType" : {
        "returnType" : "GetEncryptionConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEncryptionConfigResult"
    },
    "GetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupRequest, GetGroupResult>",
      "asyncReturnType" : "GetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves group resource details.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGroupRequest",
        "variableName" : "getGroupRequest",
        "variableType" : "GetGroupRequest",
        "documentation" : "",
        "simpleType" : "GetGroupRequest",
        "variableSetterType" : "GetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroup",
      "operationName" : "GetGroup",
      "returnType" : {
        "returnType" : "GetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGroupResult"
    },
    "GetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupsRequest, GetGroupsResult>",
      "asyncReturnType" : "GetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all active group details.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGroupsRequest",
        "variableName" : "getGroupsRequest",
        "variableType" : "GetGroupsRequest",
        "documentation" : "",
        "simpleType" : "GetGroupsRequest",
        "variableSetterType" : "GetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroups",
      "operationName" : "GetGroups",
      "returnType" : {
        "returnType" : "GetGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGroupsResult"
    },
    "GetSamplingRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSamplingRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSamplingRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSamplingRulesRequest, GetSamplingRulesResult>",
      "asyncReturnType" : "GetSamplingRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all sampling rules.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSamplingRulesRequest",
        "variableName" : "getSamplingRulesRequest",
        "variableType" : "GetSamplingRulesRequest",
        "documentation" : "",
        "simpleType" : "GetSamplingRulesRequest",
        "variableSetterType" : "GetSamplingRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSamplingRules",
      "operationName" : "GetSamplingRules",
      "returnType" : {
        "returnType" : "GetSamplingRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSamplingRulesResult"
    },
    "GetSamplingStatisticSummaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSamplingStatisticSummariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSamplingStatisticSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSamplingStatisticSummariesRequest, GetSamplingStatisticSummariesResult>",
      "asyncReturnType" : "GetSamplingStatisticSummariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about recent sampling results for all sampling rules.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSamplingStatisticSummariesRequest",
        "variableName" : "getSamplingStatisticSummariesRequest",
        "variableType" : "GetSamplingStatisticSummariesRequest",
        "documentation" : "",
        "simpleType" : "GetSamplingStatisticSummariesRequest",
        "variableSetterType" : "GetSamplingStatisticSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSamplingStatisticSummaries",
      "operationName" : "GetSamplingStatisticSummaries",
      "returnType" : {
        "returnType" : "GetSamplingStatisticSummariesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSamplingStatisticSummariesResult"
    },
    "GetSamplingTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSamplingTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSamplingTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSamplingTargetsRequest, GetSamplingTargetsResult>",
      "asyncReturnType" : "GetSamplingTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests a sampling quota for rules that the service is using to sample requests. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSamplingTargetsRequest",
        "variableName" : "getSamplingTargetsRequest",
        "variableType" : "GetSamplingTargetsRequest",
        "documentation" : "",
        "simpleType" : "GetSamplingTargetsRequest",
        "variableSetterType" : "GetSamplingTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSamplingTargets",
      "operationName" : "GetSamplingTargets",
      "returnType" : {
        "returnType" : "GetSamplingTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSamplingTargetsResult"
    },
    "GetServiceGraph" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceGraphResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceGraphResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceGraphRequest, GetServiceGraphResult>",
      "asyncReturnType" : "GetServiceGraphResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a document that describes services that process incoming requests, and downstream services that they call as a result. Root services process incoming requests and make calls to downstream services. Root services are applications that use the AWS X-Ray SDK. Downstream services can be other applications, AWS resources, HTTP web APIs, or SQL databases.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceGraphRequest",
        "variableName" : "getServiceGraphRequest",
        "variableType" : "GetServiceGraphRequest",
        "documentation" : "",
        "simpleType" : "GetServiceGraphRequest",
        "variableSetterType" : "GetServiceGraphRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceGraph",
      "operationName" : "GetServiceGraph",
      "returnType" : {
        "returnType" : "GetServiceGraphResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceGraphResult"
    },
    "GetTraceGraph" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTraceGraphResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTraceGraphResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTraceGraphRequest, GetTraceGraphResult>",
      "asyncReturnType" : "GetTraceGraphResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a service graph for one or more specific trace IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTraceGraphRequest",
        "variableName" : "getTraceGraphRequest",
        "variableType" : "GetTraceGraphRequest",
        "documentation" : "",
        "simpleType" : "GetTraceGraphRequest",
        "variableSetterType" : "GetTraceGraphRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTraceGraph",
      "operationName" : "GetTraceGraph",
      "returnType" : {
        "returnType" : "GetTraceGraphResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTraceGraphResult"
    },
    "GetTraceSummaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTraceSummariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTraceSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTraceSummariesRequest, GetTraceSummariesResult>",
      "asyncReturnType" : "GetTraceSummariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves IDs and metadata for traces available for a specified time frame using an optional filter. To get the full traces, pass the trace IDs to <code>BatchGetTraces</code>.</p> <p>A filter expression can target traced requests that hit specific service nodes or edges, have errors, or come from a known user. For example, the following filter expression targets traces that pass through <code>api.example.com</code>:</p> <p> <code>service(\"api.example.com\")</code> </p> <p>This filter expression finds traces that have an annotation named <code>account</code> with the value <code>12345</code>:</p> <p> <code>annotation.account = \"12345\"</code> </p> <p>For a full list of indexed fields and keywords that you can use in filter expressions, see <a href=\"http://docs.aws.amazon.com/xray/latest/devguide/xray-console-filters.html\">Using Filter Expressions</a> in the <i>AWS X-Ray Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTraceSummariesRequest",
        "variableName" : "getTraceSummariesRequest",
        "variableType" : "GetTraceSummariesRequest",
        "documentation" : "",
        "simpleType" : "GetTraceSummariesRequest",
        "variableSetterType" : "GetTraceSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTraceSummaries",
      "operationName" : "GetTraceSummaries",
      "returnType" : {
        "returnType" : "GetTraceSummariesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTraceSummariesResult"
    },
    "PutEncryptionConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutEncryptionConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutEncryptionConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEncryptionConfigRequest, PutEncryptionConfigResult>",
      "asyncReturnType" : "PutEncryptionConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the encryption configuration for X-Ray data.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutEncryptionConfigRequest",
        "variableName" : "putEncryptionConfigRequest",
        "variableType" : "PutEncryptionConfigRequest",
        "documentation" : "",
        "simpleType" : "PutEncryptionConfigRequest",
        "variableSetterType" : "PutEncryptionConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putEncryptionConfig",
      "operationName" : "PutEncryptionConfig",
      "returnType" : {
        "returnType" : "PutEncryptionConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "PutEncryptionConfigResult"
    },
    "PutTelemetryRecords" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutTelemetryRecordsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutTelemetryRecordsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutTelemetryRecordsRequest, PutTelemetryRecordsResult>",
      "asyncReturnType" : "PutTelemetryRecordsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used by the AWS X-Ray daemon to upload telemetry.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutTelemetryRecordsRequest",
        "variableName" : "putTelemetryRecordsRequest",
        "variableType" : "PutTelemetryRecordsRequest",
        "documentation" : "",
        "simpleType" : "PutTelemetryRecordsRequest",
        "variableSetterType" : "PutTelemetryRecordsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putTelemetryRecords",
      "operationName" : "PutTelemetryRecords",
      "returnType" : {
        "returnType" : "PutTelemetryRecordsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutTelemetryRecordsResult"
    },
    "PutTraceSegments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutTraceSegmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutTraceSegmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutTraceSegmentsRequest, PutTraceSegmentsResult>",
      "asyncReturnType" : "PutTraceSegmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads segment documents to AWS X-Ray. The X-Ray SDK generates segment documents and sends them to the X-Ray daemon, which uploads them in batches. A segment document can be a completed segment, an in-progress segment, or an array of subsegments.</p> <p>Segments must include the following fields. For the full segment document schema, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html\">AWS X-Ray Segment Documents</a> in the <i>AWS X-Ray Developer Guide</i>.</p> <p class=\"title\"> <b>Required Segment Document Fields</b> </p> <ul> <li> <p> <code>name</code> - The name of the service that handled the request.</p> </li> <li> <p> <code>id</code> - A 64-bit identifier for the segment, unique among segments in the same trace, in 16 hexadecimal digits.</p> </li> <li> <p> <code>trace_id</code> - A unique identifier that connects all segments and subsegments originating from a single client request.</p> </li> <li> <p> <code>start_time</code> - Time the segment or subsegment was created, in floating point seconds in epoch time, accurate to milliseconds. For example, <code>1480615200.010</code> or <code>1.480615200010E9</code>.</p> </li> <li> <p> <code>end_time</code> - Time the segment or subsegment was closed. For example, <code>1480615200.090</code> or <code>1.480615200090E9</code>. Specify either an <code>end_time</code> or <code>in_progress</code>.</p> </li> <li> <p> <code>in_progress</code> - Set to <code>true</code> instead of specifying an <code>end_time</code> to record that a segment has been started, but is not complete. Send an in progress segment when your application receives a request that will take a long time to serve, to trace the fact that the request was received. When the response is sent, send the complete segment to overwrite the in-progress segment.</p> </li> </ul> <p>A <code>trace_id</code> consists of three numbers separated by hyphens. For example, 1-58406520-a006649127e371903a2de979. This includes:</p> <p class=\"title\"> <b>Trace ID Format</b> </p> <ul> <li> <p>The version number, i.e. <code>1</code>.</p> </li> <li> <p>The time of the original request, in Unix epoch time, in 8 hexadecimal digits. For example, 10:00AM December 2nd, 2016 PST in epoch time is <code>1480615200</code> seconds, or <code>58406520</code> in hexadecimal.</p> </li> <li> <p>A 96-bit identifier for the trace, globally unique, in 24 hexadecimal digits.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutTraceSegmentsRequest",
        "variableName" : "putTraceSegmentsRequest",
        "variableType" : "PutTraceSegmentsRequest",
        "documentation" : "",
        "simpleType" : "PutTraceSegmentsRequest",
        "variableSetterType" : "PutTraceSegmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putTraceSegments",
      "operationName" : "PutTraceSegments",
      "returnType" : {
        "returnType" : "PutTraceSegmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutTraceSegmentsResult"
    },
    "UpdateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGroupRequest, UpdateGroupResult>",
      "asyncReturnType" : "UpdateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a group resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGroupRequest",
        "variableName" : "updateGroupRequest",
        "variableType" : "UpdateGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateGroupRequest",
        "variableSetterType" : "UpdateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGroup",
      "operationName" : "UpdateGroup",
      "returnType" : {
        "returnType" : "UpdateGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGroupResult"
    },
    "UpdateSamplingRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSamplingRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSamplingRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSamplingRuleRequest, UpdateSamplingRuleResult>",
      "asyncReturnType" : "UpdateSamplingRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies a sampling rule's configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottledException",
        "documentation" : "<p>The request exceeds the maximum number of requests per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSamplingRuleRequest",
        "variableName" : "updateSamplingRuleRequest",
        "variableType" : "UpdateSamplingRuleRequest",
        "documentation" : "",
        "simpleType" : "UpdateSamplingRuleRequest",
        "variableSetterType" : "UpdateSamplingRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSamplingRule",
      "operationName" : "UpdateSamplingRule",
      "returnType" : {
        "returnType" : "UpdateSamplingRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSamplingRuleResult"
    }
  },
  "shapes" : {
    "Alias" : {
      "c2jName" : "Alias",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An alias for an edge.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The canonical name of the alias.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@return The canonical name of the alias.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The canonical name of the alias.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Names",
        "c2jShape" : "AliasNames",
        "deprecated" : false,
        "documentation" : "<p>A list of names for the alias, including the canonical name.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@param names A list of names for the alias, including the canonical name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNames",
        "getterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@return A list of names for the alias, including the canonical name.*/",
        "getterMethodName" : "getNames",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Names",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Names",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Names",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@param names A list of names for the alias, including the canonical name.*/",
        "setterMethodName" : "setNames",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "names",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNames(java.util.Collection)} or {@link #withNames(java.util.Collection)} if you want to override the existing values.</p>\n@param names A list of names for the alias, including the canonical name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "names",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of names for the alias, including the canonical name.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Type",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The type of the alias.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The type of the alias.</p>\n@return The type of the alias.*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of the alias.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The canonical name of the alias.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@return The canonical name of the alias.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The canonical name of the alias.</p>\n@param name The canonical name of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The canonical name of the alias.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Names" : {
          "c2jName" : "Names",
          "c2jShape" : "AliasNames",
          "deprecated" : false,
          "documentation" : "<p>A list of names for the alias, including the canonical name.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@param names A list of names for the alias, including the canonical name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNames",
          "getterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@return A list of names for the alias, including the canonical name.*/",
          "getterMethodName" : "getNames",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Names",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Names",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "String",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Names",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n@param names A list of names for the alias, including the canonical name.*/",
          "setterMethodName" : "setNames",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "names",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of names for the alias, including the canonical name.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNames(java.util.Collection)} or {@link #withNames(java.util.Collection)} if you want to override the existing values.</p>\n@param names A list of names for the alias, including the canonical name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "names",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>A list of names for the alias, including the canonical name.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The type of the alias.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p>The type of the alias.</p>\n@return The type of the alias.*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Type",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of the alias.</p>\n@param type The type of the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The type of the alias.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Alias",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Alias",
        "variableName" : "alias",
        "variableType" : "Alias",
        "documentation" : null,
        "simpleType" : "Alias",
        "variableSetterType" : "Alias"
      },
      "wrapper" : false
    },
    "AnnotationValue" : {
      "c2jName" : "AnnotationValue",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Value of a segment annotation. Has one of three value types: Number, Boolean or String.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "NumberValue",
        "c2jShape" : "NullableDouble",
        "deprecated" : false,
        "documentation" : "<p>Value for a Number annotation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNumberValue",
        "getterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@return Value for a Number annotation.*/",
        "getterMethodName" : "getNumberValue",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NumberValue",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NumberValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "NumberValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.*/",
        "setterMethodName" : "setNumberValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "numberValue",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "numberValue",
          "variableType" : "Double",
          "documentation" : "<p>Value for a Number annotation.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BooleanValue",
        "c2jShape" : "NullableBoolean",
        "deprecated" : false,
        "documentation" : "<p>Value for a Boolean annotation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBooleanValue",
        "getterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@return Value for a Boolean annotation.*/",
        "getterMethodName" : "getBooleanValue",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BooleanValue",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BooleanValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "BooleanValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.*/",
        "setterMethodName" : "setBooleanValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "booleanValue",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "booleanValue",
          "variableType" : "Boolean",
          "documentation" : "<p>Value for a Boolean annotation.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StringValue",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Value for a String annotation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStringValue",
        "getterDocumentation" : "/**<p>Value for a String annotation.</p>\n@return Value for a String annotation.*/",
        "getterMethodName" : "getStringValue",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StringValue",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StringValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StringValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.*/",
        "setterMethodName" : "setStringValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "stringValue",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "stringValue",
          "variableType" : "String",
          "documentation" : "<p>Value for a String annotation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BooleanValue" : {
          "c2jName" : "BooleanValue",
          "c2jShape" : "NullableBoolean",
          "deprecated" : false,
          "documentation" : "<p>Value for a Boolean annotation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBooleanValue",
          "getterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@return Value for a Boolean annotation.*/",
          "getterMethodName" : "getBooleanValue",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BooleanValue",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BooleanValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "BooleanValue",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.*/",
          "setterMethodName" : "setBooleanValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "booleanValue",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Value for a Boolean annotation.</p>\n@param booleanValue Value for a Boolean annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "booleanValue",
            "variableType" : "Boolean",
            "documentation" : "<p>Value for a Boolean annotation.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "NumberValue" : {
          "c2jName" : "NumberValue",
          "c2jShape" : "NullableDouble",
          "deprecated" : false,
          "documentation" : "<p>Value for a Number annotation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNumberValue",
          "getterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@return Value for a Number annotation.*/",
          "getterMethodName" : "getNumberValue",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "NumberValue",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NumberValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "NumberValue",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.*/",
          "setterMethodName" : "setNumberValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "numberValue",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Value for a Number annotation.</p>\n@param numberValue Value for a Number annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "numberValue",
            "variableType" : "Double",
            "documentation" : "<p>Value for a Number annotation.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "StringValue" : {
          "c2jName" : "StringValue",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Value for a String annotation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStringValue",
          "getterDocumentation" : "/**<p>Value for a String annotation.</p>\n@return Value for a String annotation.*/",
          "getterMethodName" : "getStringValue",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "StringValue",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StringValue",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StringValue",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.*/",
          "setterMethodName" : "setStringValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "stringValue",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Value for a String annotation.</p>\n@param stringValue Value for a String annotation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "stringValue",
            "variableType" : "String",
            "documentation" : "<p>Value for a String annotation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AnnotationValue",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AnnotationValue",
        "variableName" : "annotationValue",
        "variableType" : "AnnotationValue",
        "documentation" : null,
        "simpleType" : "AnnotationValue",
        "variableSetterType" : "AnnotationValue"
      },
      "wrapper" : false
    },
    "AvailabilityZoneDetail" : {
      "c2jName" : "AvailabilityZoneDetail",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A list of availability zones corresponding to the segments in a trace.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of a corresponding availability zone.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of a corresponding availability zone.</p>\n@param name The name of a corresponding availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of a corresponding availability zone.</p>\n@return The name of a corresponding availability zone.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of a corresponding availability zone.</p>\n@param name The name of a corresponding availability zone.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of a corresponding availability zone.</p>\n@param name The name of a corresponding availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of a corresponding availability zone.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of a corresponding availability zone.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of a corresponding availability zone.</p>\n@param name The name of a corresponding availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of a corresponding availability zone.</p>\n@return The name of a corresponding availability zone.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of a corresponding availability zone.</p>\n@param name The name of a corresponding availability zone.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of a corresponding availability zone.</p>\n@param name The name of a corresponding availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of a corresponding availability zone.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AvailabilityZoneDetail",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AvailabilityZoneDetail",
        "variableName" : "availabilityZoneDetail",
        "variableType" : "AvailabilityZoneDetail",
        "documentation" : null,
        "simpleType" : "AvailabilityZoneDetail",
        "variableSetterType" : "AvailabilityZoneDetail"
      },
      "wrapper" : false
    },
    "BackendConnectionErrors" : {
      "c2jName" : "BackendConnectionErrors",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "TimeoutCount",
        "c2jShape" : "NullableInteger",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param timeoutCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimeoutCount",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getTimeoutCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimeoutCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimeoutCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "TimeoutCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param timeoutCount */",
        "setterMethodName" : "setTimeoutCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "timeoutCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param timeoutCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "timeoutCount",
          "variableType" : "Integer",
          "documentation" : "<p/>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ConnectionRefusedCount",
        "c2jShape" : "NullableInteger",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param connectionRefusedCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectionRefusedCount",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getConnectionRefusedCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ConnectionRefusedCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ConnectionRefusedCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "ConnectionRefusedCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param connectionRefusedCount */",
        "setterMethodName" : "setConnectionRefusedCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "connectionRefusedCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param connectionRefusedCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "connectionRefusedCount",
          "variableType" : "Integer",
          "documentation" : "<p/>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HTTPCode4XXCount",
        "c2jShape" : "NullableInteger",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param hTTPCode4XXCount \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHTTPCode4XXCount",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getHTTPCode4XXCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HTTPCode4XXCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HTTPCode4XXCount",
[...]
