{
  "metadata" : {
    "apiVersion" : "2014-10-06",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS CodeDeploy</fullname> <b>Overview</b> <p>This reference guide provides descriptions of the AWS CodeDeploy APIs. For more information about AWS CodeDeploy, see the <a href=\"docs.aws.amazon.com/codedeploy/latest/userguide\">AWS CodeDeploy User Guide</a>.</p> <b>Using the APIs</b> <p>You can use the AWS CodeDeploy APIs to work with the following:</p> <ul> <li> <p>Applications are unique identifiers used by AWS CodeDeploy to ensure the correct combinations of revisions, deployment configurations, and deployment groups are being referenced during deployments.</p> <p>You can use the AWS CodeDeploy APIs to create, delete, get, list, and update applications.</p> </li> <li> <p>Deployment configurations are sets of deployment rules and success and failure conditions used by AWS CodeDeploy during deployments.</p> <p>You can use the AWS CodeDeploy APIs to create, delete, get, and list deployment configurations.</p> </li> <li> <p>Deployment groups are groups of instances to which application revisions can be deployed.</p> <p>You can use the AWS CodeDeploy APIs to create, delete, get, list, and update deployment groups.</p> </li> <li> <p>Instances represent Amazon EC2 instances to which application revisions are deployed. Instances are identified by their Amazon EC2 tags or Auto Scaling group names. Instances belong to deployment groups.</p> <p>You can use the AWS CodeDeploy APIs to get and list instance.</p> </li> <li> <p>Deployments represent the process of deploying revisions to instances.</p> <p>You can use the AWS CodeDeploy APIs to create, get, list, and stop deployments.</p> </li> <li> <p>Application revisions are archive files stored in Amazon S3 buckets or GitHub repositories. These revisions contain source content (such as source code, web pages, executable files, and deployment scripts) along with an application specification (AppSpec) file. (The AppSpec file is unique to AWS CodeDeploy; it defines the deployment actions you want AWS CodeDeploy to execute.) Ffor application revisions stored in Amazon S3 buckets, an application revision is uniquely identified by its Amazon S3 object key and its ETag, version, or both. For application revisions stored in GitHub repositories, an application revision is uniquely identified by its repository name and commit ID. Application revisions are deployed through deployment groups.</p> <p>You can use the AWS CodeDeploy APIs to get, list, and register application revisions.</p> </li> </ul>",
    "defaultEndpoint" : "https://codedeploy.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codedeploy.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonCodeDeploy",
    "syncClient" : "AmazonCodeDeployClient",
    "asyncInterface" : "AmazonCodeDeployAsync",
    "asyncClient" : "AmazonCodeDeployAsyncClient",
    "packageName" : "com.amazonaws.services.codedeploy",
    "packagePath" : "com/amazonaws/services/codedeploy",
    "serviceAbbreviation" : "CodeDeploy",
    "serviceFullName" : "AWS CodeDeploy",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "codedeploy",
    "signingName" : "codedeploy",
    "syncClientBuilderClassName" : "AmazonCodeDeployClientBuilder",
    "asyncClientBuilderClassName" : "AmazonCodeDeployAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonCodeDeployModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.codedeploy.smoketests",
    "serviceName" : "CodeDeploy",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "AddTagsToOnPremisesInstances" : {
      "documentation" : "<p>Adds tags to on-premises instances.</p>",
      "operationName" : "AddTagsToOnPremisesInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsToOnPremisesInstancesRequest",
        "variableType" : "AddTagsToOnPremisesInstancesRequest",
        "variableDeclarationType" : "AddTagsToOnPremisesInstancesRequest",
        "documentation" : "<p>Represents the input of, and adds tags to, an on-premises instance operation.</p>",
        "simpleType" : "AddTagsToOnPremisesInstancesRequest",
        "variableSetterType" : "AddTagsToOnPremisesInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsToOnPremisesInstancesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "TagRequiredException",
        "documentation" : "<p>A tag was not specified.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The specified tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : "<p>The maximum allowed number of tags was exceeded.</p>"
      }, {
        "exceptionName" : "InstanceLimitExceededException",
        "documentation" : "<p>The maximum number of allowed on-premises instances in a single call was exceeded.</p>"
      }, {
        "exceptionName" : "InstanceNotRegisteredException",
        "documentation" : "<p>The specified on-premises instance is not registered.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddTagsToOnPremisesInstancesResult",
      "asyncReturnType" : "AddTagsToOnPremisesInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToOnPremisesInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToOnPremisesInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToOnPremisesInstancesRequest, AddTagsToOnPremisesInstancesResult>",
      "methodName" : "addTagsToOnPremisesInstances"
    },
    "BatchGetApplicationRevisions" : {
      "documentation" : "<p>Gets information about one or more application revisions.</p>",
      "operationName" : "BatchGetApplicationRevisions",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchGetApplicationRevisionsRequest",
        "variableType" : "BatchGetApplicationRevisionsRequest",
        "variableDeclarationType" : "BatchGetApplicationRevisionsRequest",
        "documentation" : "<p>Represents the input of a batch get application revisions operation.</p>",
        "simpleType" : "BatchGetApplicationRevisionsRequest",
        "variableSetterType" : "BatchGetApplicationRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchGetApplicationRevisionsResult",
        "documentation" : "<p>Represents the output of a batch get application revisions operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "RevisionRequiredException",
        "documentation" : "<p>The revision ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRevisionException",
        "documentation" : "<p>The revision was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "BatchGetApplicationRevisionsResult",
      "asyncReturnType" : "BatchGetApplicationRevisionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetApplicationRevisionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetApplicationRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetApplicationRevisionsRequest, BatchGetApplicationRevisionsResult>",
      "methodName" : "batchGetApplicationRevisions"
    },
    "BatchGetApplications" : {
      "documentation" : "<p>Gets information about one or more applications.</p>",
      "operationName" : "BatchGetApplications",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchGetApplicationsRequest",
        "variableType" : "BatchGetApplicationsRequest",
        "variableDeclarationType" : "BatchGetApplicationsRequest",
        "documentation" : "<p>Represents the input of a batch get applications operation.</p>",
        "simpleType" : "BatchGetApplicationsRequest",
        "variableSetterType" : "BatchGetApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchGetApplicationsResult",
        "documentation" : "<p>Represents the output of a batch get applications operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "BatchGetApplicationsResult",
      "asyncReturnType" : "BatchGetApplicationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetApplicationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetApplicationsRequest, BatchGetApplicationsResult>",
      "methodName" : "batchGetApplications"
    },
    "BatchGetDeploymentGroups" : {
      "documentation" : "<p>Get information about one or more deployment groups.</p>",
      "operationName" : "BatchGetDeploymentGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchGetDeploymentGroupsRequest",
        "variableType" : "BatchGetDeploymentGroupsRequest",
        "variableDeclarationType" : "BatchGetDeploymentGroupsRequest",
        "documentation" : "<p>Represents the input of a batch get deployment groups operation.</p>",
        "simpleType" : "BatchGetDeploymentGroupsRequest",
        "variableSetterType" : "BatchGetDeploymentGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchGetDeploymentGroupsResult",
        "documentation" : "<p>Represents the output of a batch get deployment groups operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "BatchGetDeploymentGroupsResult",
      "asyncReturnType" : "BatchGetDeploymentGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetDeploymentGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetDeploymentGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetDeploymentGroupsRequest, BatchGetDeploymentGroupsResult>",
      "methodName" : "batchGetDeploymentGroups"
    },
    "BatchGetDeploymentInstances" : {
      "documentation" : "<p>Gets information about one or more instance that are part of a deployment group.</p>",
      "operationName" : "BatchGetDeploymentInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchGetDeploymentInstancesRequest",
        "variableType" : "BatchGetDeploymentInstancesRequest",
        "variableDeclarationType" : "BatchGetDeploymentInstancesRequest",
        "documentation" : "<p>Represents the input of a batch get deployment instances operation.</p>",
        "simpleType" : "BatchGetDeploymentInstancesRequest",
        "variableSetterType" : "BatchGetDeploymentInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchGetDeploymentInstancesResult",
        "documentation" : "<p>Represents the output of a batch get deployment instance operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "DeploymentDoesNotExistException",
        "documentation" : "<p>The deployment does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InstanceIdRequiredException",
        "documentation" : "<p>The instance ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "BatchGetDeploymentInstancesResult",
      "asyncReturnType" : "BatchGetDeploymentInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetDeploymentInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetDeploymentInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetDeploymentInstancesRequest, BatchGetDeploymentInstancesResult>",
      "methodName" : "batchGetDeploymentInstances"
    },
    "BatchGetDeployments" : {
      "documentation" : "<p>Gets information about one or more deployments.</p>",
      "operationName" : "BatchGetDeployments",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchGetDeploymentsRequest",
        "variableType" : "BatchGetDeploymentsRequest",
        "variableDeclarationType" : "BatchGetDeploymentsRequest",
        "documentation" : "<p>Represents the input of a batch get deployments operation.</p>",
        "simpleType" : "BatchGetDeploymentsRequest",
        "variableSetterType" : "BatchGetDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchGetDeploymentsResult",
        "documentation" : "<p>Represents the output of a batch get deployments operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "BatchGetDeploymentsResult",
      "asyncReturnType" : "BatchGetDeploymentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetDeploymentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetDeploymentsRequest, BatchGetDeploymentsResult>",
      "methodName" : "batchGetDeployments"
    },
    "BatchGetOnPremisesInstances" : {
      "documentation" : "<p>Gets information about one or more on-premises instances.</p>",
      "operationName" : "BatchGetOnPremisesInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "batchGetOnPremisesInstancesRequest",
        "variableType" : "BatchGetOnPremisesInstancesRequest",
        "variableDeclarationType" : "BatchGetOnPremisesInstancesRequest",
        "documentation" : "<p>Represents the input of a batch get on-premises instances operation.</p>",
        "simpleType" : "BatchGetOnPremisesInstancesRequest",
        "variableSetterType" : "BatchGetOnPremisesInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "BatchGetOnPremisesInstancesResult",
        "documentation" : "<p>Represents the output of a batch get on-premises instances operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "BatchGetOnPremisesInstancesResult",
      "asyncReturnType" : "BatchGetOnPremisesInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetOnPremisesInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetOnPremisesInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetOnPremisesInstancesRequest, BatchGetOnPremisesInstancesResult>",
      "methodName" : "batchGetOnPremisesInstances"
    },
    "CreateApplication" : {
      "documentation" : "<p>Creates an application.</p>",
      "operationName" : "CreateApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "variableDeclarationType" : "CreateApplicationRequest",
        "documentation" : "<p>Represents the input of a create application operation.</p>",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : "<p>Represents the output of a create application operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationAlreadyExistsException",
        "documentation" : "<p>An application with the specified name already exists with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationLimitExceededException",
        "documentation" : "<p>More applications were attempted to be created than are allowed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateApplicationResult",
      "asyncReturnType" : "CreateApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "methodName" : "createApplication"
    },
    "CreateDeployment" : {
      "documentation" : "<p>Deploys an application revision through the specified deployment group.</p>",
      "operationName" : "CreateDeployment",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDeploymentRequest",
        "variableType" : "CreateDeploymentRequest",
        "variableDeclarationType" : "CreateDeploymentRequest",
        "documentation" : "<p>Represents the input of a create deployment operation.</p>",
        "simpleType" : "CreateDeploymentRequest",
        "variableSetterType" : "CreateDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDeploymentResult",
        "documentation" : "<p>Represents the output of a create deployment operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupDoesNotExistException",
        "documentation" : "<p>The named deployment group does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "RevisionRequiredException",
        "documentation" : "<p>The revision ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRevisionException",
        "documentation" : "<p>The revision was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigDoesNotExistException",
        "documentation" : "<p>The deployment configuration does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DescriptionTooLongException",
        "documentation" : "<p>The description is too long.</p>"
      }, {
        "exceptionName" : "DeploymentLimitExceededException",
        "documentation" : "<p>The number of allowed deployments was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateDeploymentResult",
      "asyncReturnType" : "CreateDeploymentResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentRequest, CreateDeploymentResult>",
      "methodName" : "createDeployment"
    },
    "CreateDeploymentConfig" : {
      "documentation" : "<p>Creates a deployment configuration.</p>",
      "operationName" : "CreateDeploymentConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDeploymentConfigRequest",
        "variableType" : "CreateDeploymentConfigRequest",
        "variableDeclarationType" : "CreateDeploymentConfigRequest",
        "documentation" : "<p>Represents the input of a create deployment configuration operation.</p>",
        "simpleType" : "CreateDeploymentConfigRequest",
        "variableSetterType" : "CreateDeploymentConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDeploymentConfigResult",
        "documentation" : "<p>Represents the output of a create deployment configuration operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigNameRequiredException",
        "documentation" : "<p>The deployment configuration name was not specified.</p>"
      }, {
        "exceptionName" : "DeploymentConfigAlreadyExistsException",
        "documentation" : "<p>A deployment configuration with the specified name already exists with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidMinimumHealthyHostValueException",
        "documentation" : "<p>The minimum healthy instance value was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigLimitExceededException",
        "documentation" : "<p>The deployment configurations limit was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateDeploymentConfigResult",
      "asyncReturnType" : "CreateDeploymentConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentConfigRequest, CreateDeploymentConfigResult>",
      "methodName" : "createDeploymentConfig"
    },
    "CreateDeploymentGroup" : {
      "documentation" : "<p>Creates a deployment group to which application revisions will be deployed.</p>",
      "operationName" : "CreateDeploymentGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDeploymentGroupRequest",
        "variableType" : "CreateDeploymentGroupRequest",
        "variableDeclarationType" : "CreateDeploymentGroupRequest",
        "documentation" : "<p>Represents the input of a create deployment group operation.</p>",
        "simpleType" : "CreateDeploymentGroupRequest",
        "variableSetterType" : "CreateDeploymentGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDeploymentGroupResult",
        "documentation" : "<p>Represents the output of a create deployment group operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupAlreadyExistsException",
        "documentation" : "<p>A deployment group with the specified name already exists with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidEC2TagException",
        "documentation" : "<p>The tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The specified tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidAutoScalingGroupException",
        "documentation" : "<p>The Auto Scaling group was specified in an invalid format or does not exist.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigDoesNotExistException",
        "documentation" : "<p>The deployment configuration does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "RoleRequiredException",
        "documentation" : "<p>The role ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The service role ARN was specified in an invalid format. Or, if an Auto Scaling group was specified, the specified service role does not grant the appropriate permissions to Auto Scaling.</p>"
      }, {
        "exceptionName" : "DeploymentGroupLimitExceededException",
        "documentation" : "<p> The deployment groups limit was exceeded.</p>"
      }, {
        "exceptionName" : "LifecycleHookLimitExceededException",
        "documentation" : "<p>The limit for lifecycle hooks was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidTriggerConfigException",
        "documentation" : "<p>The trigger was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "TriggerTargetsLimitExceededException",
        "documentation" : "<p>The maximum allowed number of triggers was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateDeploymentGroupResult",
      "asyncReturnType" : "CreateDeploymentGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentGroupRequest, CreateDeploymentGroupResult>",
      "methodName" : "createDeploymentGroup"
    },
    "DeleteApplication" : {
      "documentation" : "<p>Deletes an application.</p>",
      "operationName" : "DeleteApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "variableDeclarationType" : "DeleteApplicationRequest",
        "documentation" : "<p>Represents the input of a delete application operation.</p>",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteApplicationResult",
      "asyncReturnType" : "DeleteApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "methodName" : "deleteApplication"
    },
    "DeleteDeploymentConfig" : {
      "documentation" : "<p>Deletes a deployment configuration.</p> <note>A deployment configuration cannot be deleted if it is currently in use. Predefined configurations cannot be deleted.</note>",
      "operationName" : "DeleteDeploymentConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDeploymentConfigRequest",
        "variableType" : "DeleteDeploymentConfigRequest",
        "variableDeclarationType" : "DeleteDeploymentConfigRequest",
        "documentation" : "<p>Represents the input of a delete deployment configuration operation.</p>",
        "simpleType" : "DeleteDeploymentConfigRequest",
        "variableSetterType" : "DeleteDeploymentConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDeploymentConfigResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigNameRequiredException",
        "documentation" : "<p>The deployment configuration name was not specified.</p>"
      }, {
        "exceptionName" : "DeploymentConfigInUseException",
        "documentation" : "<p>The deployment configuration is still in use.</p>"
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>An invalid operation was detected.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteDeploymentConfigResult",
      "asyncReturnType" : "DeleteDeploymentConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeploymentConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeploymentConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeploymentConfigRequest, DeleteDeploymentConfigResult>",
      "methodName" : "deleteDeploymentConfig"
    },
    "DeleteDeploymentGroup" : {
      "documentation" : "<p>Deletes a deployment group.</p>",
      "operationName" : "DeleteDeploymentGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDeploymentGroupRequest",
        "variableType" : "DeleteDeploymentGroupRequest",
        "variableDeclarationType" : "DeleteDeploymentGroupRequest",
        "documentation" : "<p>Represents the input of a delete deployment group operation.</p>",
        "simpleType" : "DeleteDeploymentGroupRequest",
        "variableSetterType" : "DeleteDeploymentGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDeploymentGroupResult",
        "documentation" : "<p>Represents the output of a delete deployment group operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The service role ARN was specified in an invalid format. Or, if an Auto Scaling group was specified, the specified service role does not grant the appropriate permissions to Auto Scaling.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteDeploymentGroupResult",
      "asyncReturnType" : "DeleteDeploymentGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeploymentGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeploymentGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeploymentGroupRequest, DeleteDeploymentGroupResult>",
      "methodName" : "deleteDeploymentGroup"
    },
    "DeregisterOnPremisesInstance" : {
      "documentation" : "<p>Deregisters an on-premises instance.</p>",
      "operationName" : "DeregisterOnPremisesInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "deregisterOnPremisesInstanceRequest",
        "variableType" : "DeregisterOnPremisesInstanceRequest",
        "variableDeclarationType" : "DeregisterOnPremisesInstanceRequest",
        "documentation" : "<p>Represents the input of a deregister on-premises instance operation.</p>",
        "simpleType" : "DeregisterOnPremisesInstanceRequest",
        "variableSetterType" : "DeregisterOnPremisesInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeregisterOnPremisesInstanceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeregisterOnPremisesInstanceResult",
      "asyncReturnType" : "DeregisterOnPremisesInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterOnPremisesInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterOnPremisesInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterOnPremisesInstanceRequest, DeregisterOnPremisesInstanceResult>",
      "methodName" : "deregisterOnPremisesInstance"
    },
    "GetApplication" : {
      "documentation" : "<p>Gets information about an application.</p>",
      "operationName" : "GetApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "getApplicationRequest",
        "variableType" : "GetApplicationRequest",
        "variableDeclarationType" : "GetApplicationRequest",
        "documentation" : "<p>Represents the input of a get application operation.</p>",
        "simpleType" : "GetApplicationRequest",
        "variableSetterType" : "GetApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetApplicationResult",
        "documentation" : "<p>Represents the output of a get application operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetApplicationResult",
      "asyncReturnType" : "GetApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationRequest, GetApplicationResult>",
      "methodName" : "getApplication"
    },
    "GetApplicationRevision" : {
      "documentation" : "<p>Gets information about an application revision.</p>",
      "operationName" : "GetApplicationRevision",
      "deprecated" : false,
      "input" : {
        "variableName" : "getApplicationRevisionRequest",
        "variableType" : "GetApplicationRevisionRequest",
        "variableDeclarationType" : "GetApplicationRevisionRequest",
        "documentation" : "<p>Represents the input of a get application revision operation.</p>",
        "simpleType" : "GetApplicationRevisionRequest",
        "variableSetterType" : "GetApplicationRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetApplicationRevisionResult",
        "documentation" : "<p>Represents the output of a get application revision operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "RevisionDoesNotExistException",
        "documentation" : "<p>The named revision does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "RevisionRequiredException",
        "documentation" : "<p>The revision ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRevisionException",
        "documentation" : "<p>The revision was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetApplicationRevisionResult",
      "asyncReturnType" : "GetApplicationRevisionResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationRevisionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationRevisionRequest, GetApplicationRevisionResult>",
      "methodName" : "getApplicationRevision"
    },
    "GetDeployment" : {
      "documentation" : "<p>Gets information about a deployment.</p>",
      "operationName" : "GetDeployment",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDeploymentRequest",
        "variableType" : "GetDeploymentRequest",
        "variableDeclarationType" : "GetDeploymentRequest",
        "documentation" : "<p>Represents the input of a get deployment operation.</p>",
        "simpleType" : "GetDeploymentRequest",
        "variableSetterType" : "GetDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDeploymentResult",
        "documentation" : "<p>Represents the output of a get deployment operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentDoesNotExistException",
        "documentation" : "<p>The deployment does not exist with the applicable IAM user or AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetDeploymentResult",
      "asyncReturnType" : "GetDeploymentResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentRequest, GetDeploymentResult>",
      "methodName" : "getDeployment"
    },
    "GetDeploymentConfig" : {
      "documentation" : "<p>Gets information about a deployment configuration.</p>",
      "operationName" : "GetDeploymentConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDeploymentConfigRequest",
        "variableType" : "GetDeploymentConfigRequest",
        "variableDeclarationType" : "GetDeploymentConfigRequest",
        "documentation" : "<p>Represents the input of a get deployment configuration operation.</p>",
        "simpleType" : "GetDeploymentConfigRequest",
        "variableSetterType" : "GetDeploymentConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDeploymentConfigResult",
        "documentation" : "<p>Represents the output of a get deployment configuration operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigNameRequiredException",
        "documentation" : "<p>The deployment configuration name was not specified.</p>"
      }, {
        "exceptionName" : "DeploymentConfigDoesNotExistException",
        "documentation" : "<p>The deployment configuration does not exist with the applicable IAM user or AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetDeploymentConfigResult",
      "asyncReturnType" : "GetDeploymentConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentConfigRequest, GetDeploymentConfigResult>",
      "methodName" : "getDeploymentConfig"
    },
    "GetDeploymentGroup" : {
      "documentation" : "<p>Gets information about a deployment group.</p>",
      "operationName" : "GetDeploymentGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDeploymentGroupRequest",
        "variableType" : "GetDeploymentGroupRequest",
        "variableDeclarationType" : "GetDeploymentGroupRequest",
        "documentation" : "<p>Represents the input of a get deployment group operation.</p>",
        "simpleType" : "GetDeploymentGroupRequest",
        "variableSetterType" : "GetDeploymentGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDeploymentGroupResult",
        "documentation" : "<p>Represents the output of a get deployment group operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupDoesNotExistException",
        "documentation" : "<p>The named deployment group does not exist with the applicable IAM user or AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetDeploymentGroupResult",
      "asyncReturnType" : "GetDeploymentGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentGroupRequest, GetDeploymentGroupResult>",
      "methodName" : "getDeploymentGroup"
    },
    "GetDeploymentInstance" : {
      "documentation" : "<p>Gets information about an instance as part of a deployment.</p>",
      "operationName" : "GetDeploymentInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDeploymentInstanceRequest",
        "variableType" : "GetDeploymentInstanceRequest",
        "variableDeclarationType" : "GetDeploymentInstanceRequest",
        "documentation" : "<p>Represents the input of a get deployment instance operation.</p>",
        "simpleType" : "GetDeploymentInstanceRequest",
        "variableSetterType" : "GetDeploymentInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDeploymentInstanceResult",
        "documentation" : "<p>Represents the output of a get deployment instance operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "DeploymentDoesNotExistException",
        "documentation" : "<p>The deployment does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InstanceIdRequiredException",
        "documentation" : "<p>The instance ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InstanceDoesNotExistException",
        "documentation" : "<p>The specified instance does not exist in the deployment group.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetDeploymentInstanceResult",
      "asyncReturnType" : "GetDeploymentInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentInstanceRequest, GetDeploymentInstanceResult>",
      "methodName" : "getDeploymentInstance"
    },
    "GetOnPremisesInstance" : {
      "documentation" : "<p>Gets information about an on-premises instance.</p>",
      "operationName" : "GetOnPremisesInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "getOnPremisesInstanceRequest",
        "variableType" : "GetOnPremisesInstanceRequest",
        "variableDeclarationType" : "GetOnPremisesInstanceRequest",
        "documentation" : "<p>Represents the input of a get on-premises instance operation.</p>",
        "simpleType" : "GetOnPremisesInstanceRequest",
        "variableSetterType" : "GetOnPremisesInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetOnPremisesInstanceResult",
        "documentation" : "<p>Represents the output of a get on-premises instance operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "InstanceNotRegisteredException",
        "documentation" : "<p>The specified on-premises instance is not registered.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetOnPremisesInstanceResult",
      "asyncReturnType" : "GetOnPremisesInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetOnPremisesInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetOnPremisesInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOnPremisesInstanceRequest, GetOnPremisesInstanceResult>",
      "methodName" : "getOnPremisesInstance"
    },
    "ListApplicationRevisions" : {
      "documentation" : "<p>Lists information about revisions for an application.</p>",
      "operationName" : "ListApplicationRevisions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listApplicationRevisionsRequest",
        "variableType" : "ListApplicationRevisionsRequest",
        "variableDeclarationType" : "ListApplicationRevisionsRequest",
        "documentation" : "<p>Represents the input of a list application revisions operation.</p>",
        "simpleType" : "ListApplicationRevisionsRequest",
        "variableSetterType" : "ListApplicationRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListApplicationRevisionsResult",
        "documentation" : "<p>Represents the output of a list application revisions operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidSortByException",
        "documentation" : "<p>The column name to sort by is either not present or was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidSortOrderException",
        "documentation" : "<p>The sort order was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidBucketNameFilterException",
        "documentation" : "<p>The bucket name either doesn't exist or was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidKeyPrefixFilterException",
        "documentation" : "<p>The specified key prefix filter was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BucketNameFilterRequiredException",
        "documentation" : "<p>A bucket name is required, but was not provided.</p>"
      }, {
        "exceptionName" : "InvalidDeployedStateFilterException",
        "documentation" : "<p>The deployed state filter was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListApplicationRevisionsResult",
      "asyncReturnType" : "ListApplicationRevisionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationRevisionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationRevisionsRequest, ListApplicationRevisionsResult>",
      "methodName" : "listApplicationRevisions"
    },
    "ListApplications" : {
      "documentation" : "<p>Lists the applications registered with the applicable IAM user or AWS account.</p>",
      "operationName" : "ListApplications",
      "deprecated" : false,
      "input" : {
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "variableDeclarationType" : "ListApplicationsRequest",
        "documentation" : "<p>Represents the input of a list applications operation.</p>",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : "<p>Represents the output of a list applications operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListApplicationsResult",
      "asyncReturnType" : "ListApplicationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "methodName" : "listApplications"
    },
    "ListDeploymentConfigs" : {
      "documentation" : "<p>Lists the deployment configurations with the applicable IAM user or AWS account.</p>",
      "operationName" : "ListDeploymentConfigs",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDeploymentConfigsRequest",
        "variableType" : "ListDeploymentConfigsRequest",
        "variableDeclarationType" : "ListDeploymentConfigsRequest",
        "documentation" : "<p>Represents the input of a list deployment configurations operation.</p>",
        "simpleType" : "ListDeploymentConfigsRequest",
        "variableSetterType" : "ListDeploymentConfigsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDeploymentConfigsResult",
        "documentation" : "<p>Represents the output of a list deployment configurations operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListDeploymentConfigsResult",
      "asyncReturnType" : "ListDeploymentConfigsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentConfigsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentConfigsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentConfigsRequest, ListDeploymentConfigsResult>",
      "methodName" : "listDeploymentConfigs"
    },
    "ListDeploymentGroups" : {
      "documentation" : "<p>Lists the deployment groups for an application registered with the applicable IAM user or AWS account.</p>",
      "operationName" : "ListDeploymentGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDeploymentGroupsRequest",
        "variableType" : "ListDeploymentGroupsRequest",
        "variableDeclarationType" : "ListDeploymentGroupsRequest",
        "documentation" : "<p>Represents the input of a list deployment groups operation.</p>",
        "simpleType" : "ListDeploymentGroupsRequest",
        "variableSetterType" : "ListDeploymentGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDeploymentGroupsResult",
        "documentation" : "<p>Represents the output of a list deployment groups operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListDeploymentGroupsResult",
      "asyncReturnType" : "ListDeploymentGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentGroupsRequest, ListDeploymentGroupsResult>",
      "methodName" : "listDeploymentGroups"
    },
    "ListDeploymentInstances" : {
      "documentation" : "<p>Lists the instance for a deployment associated with the applicable IAM user or AWS account.</p>",
      "operationName" : "ListDeploymentInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDeploymentInstancesRequest",
        "variableType" : "ListDeploymentInstancesRequest",
        "variableDeclarationType" : "ListDeploymentInstancesRequest",
        "documentation" : "<p>Represents the input of a list deployment instances operation.</p>",
        "simpleType" : "ListDeploymentInstancesRequest",
        "variableSetterType" : "ListDeploymentInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDeploymentInstancesResult",
        "documentation" : "<p>Represents the output of a list deployment instances operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "DeploymentDoesNotExistException",
        "documentation" : "<p>The deployment does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentNotStartedException",
        "documentation" : "<p>The specified deployment has not started.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidInstanceStatusException",
        "documentation" : "<p>The specified instance status does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListDeploymentInstancesResult",
      "asyncReturnType" : "ListDeploymentInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentInstancesRequest, ListDeploymentInstancesResult>",
      "methodName" : "listDeploymentInstances"
    },
    "ListDeployments" : {
      "documentation" : "<p>Lists the deployments in a deployment group for an application registered with the applicable IAM user or AWS account.</p>",
      "operationName" : "ListDeployments",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDeploymentsRequest",
        "variableType" : "ListDeploymentsRequest",
        "variableDeclarationType" : "ListDeploymentsRequest",
        "documentation" : "<p>Represents the input of a list deployments operation.</p>",
        "simpleType" : "ListDeploymentsRequest",
        "variableSetterType" : "ListDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDeploymentsResult",
        "documentation" : "<p>Represents the output of a list deployments operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupDoesNotExistException",
        "documentation" : "<p>The named deployment group does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidTimeRangeException",
        "documentation" : "<p>The specified time range was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentStatusException",
        "documentation" : "<p>The specified deployment status doesn't exist or cannot be determined.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListDeploymentsResult",
      "asyncReturnType" : "ListDeploymentsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentsRequest, ListDeploymentsResult>",
      "methodName" : "listDeployments"
    },
    "ListOnPremisesInstances" : {
      "documentation" : "<p>Gets a list of names for one or more on-premises instances.</p> <p>Unless otherwise specified, both registered and deregistered on-premises instance names will be listed. To list only registered or deregistered on-premises instance names, use the registration status parameter.</p>",
      "operationName" : "ListOnPremisesInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "listOnPremisesInstancesRequest",
        "variableType" : "ListOnPremisesInstancesRequest",
        "variableDeclarationType" : "ListOnPremisesInstancesRequest",
        "documentation" : "<p>Represents the input of a list on-premises instances operation.</p>.",
        "simpleType" : "ListOnPremisesInstancesRequest",
        "variableSetterType" : "ListOnPremisesInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListOnPremisesInstancesResult",
        "documentation" : "<p>Represents the output of list on-premises instances operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidRegistrationStatusException",
        "documentation" : "<p>The registration status was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidTagFilterException",
        "documentation" : "<p>The specified tag filter was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListOnPremisesInstancesResult",
      "asyncReturnType" : "ListOnPremisesInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListOnPremisesInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListOnPremisesInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOnPremisesInstancesRequest, ListOnPremisesInstancesResult>",
      "methodName" : "listOnPremisesInstances"
    },
    "RegisterApplicationRevision" : {
      "documentation" : "<p>Registers with AWS CodeDeploy a revision for the specified application.</p>",
      "operationName" : "RegisterApplicationRevision",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerApplicationRevisionRequest",
        "variableType" : "RegisterApplicationRevisionRequest",
        "variableDeclarationType" : "RegisterApplicationRevisionRequest",
        "documentation" : "<p>Represents the input of a register application revision operation.</p>",
        "simpleType" : "RegisterApplicationRevisionRequest",
        "variableSetterType" : "RegisterApplicationRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterApplicationRevisionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DescriptionTooLongException",
        "documentation" : "<p>The description is too long.</p>"
      }, {
        "exceptionName" : "RevisionRequiredException",
        "documentation" : "<p>The revision ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRevisionException",
        "documentation" : "<p>The revision was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RegisterApplicationRevisionResult",
      "asyncReturnType" : "RegisterApplicationRevisionResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterApplicationRevisionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterApplicationRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterApplicationRevisionRequest, RegisterApplicationRevisionResult>",
      "methodName" : "registerApplicationRevision"
    },
    "RegisterOnPremisesInstance" : {
      "documentation" : "<p>Registers an on-premises instance.</p>",
      "operationName" : "RegisterOnPremisesInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerOnPremisesInstanceRequest",
        "variableType" : "RegisterOnPremisesInstanceRequest",
        "variableDeclarationType" : "RegisterOnPremisesInstanceRequest",
        "documentation" : "<p>Represents the input of the register on-premises instance operation.</p>",
        "simpleType" : "RegisterOnPremisesInstanceRequest",
        "variableSetterType" : "RegisterOnPremisesInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterOnPremisesInstanceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InstanceNameAlreadyRegisteredException",
        "documentation" : "<p>The specified on-premises instance name is already registered.</p>"
      }, {
        "exceptionName" : "IamUserArnAlreadyRegisteredException",
        "documentation" : "<p>The specified IAM user ARN is already registered with an on-premises instance.</p>"
      }, {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "IamUserArnRequiredException",
        "documentation" : "<p>An IAM user ARN was not specified.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidIamUserArnException",
        "documentation" : "<p>The IAM user ARN was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RegisterOnPremisesInstanceResult",
      "asyncReturnType" : "RegisterOnPremisesInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterOnPremisesInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterOnPremisesInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterOnPremisesInstanceRequest, RegisterOnPremisesInstanceResult>",
      "methodName" : "registerOnPremisesInstance"
    },
    "RemoveTagsFromOnPremisesInstances" : {
      "documentation" : "<p>Removes one or more tags from one or more on-premises instances.</p>",
      "operationName" : "RemoveTagsFromOnPremisesInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsFromOnPremisesInstancesRequest",
        "variableType" : "RemoveTagsFromOnPremisesInstancesRequest",
        "variableDeclarationType" : "RemoveTagsFromOnPremisesInstancesRequest",
        "documentation" : "<p>Represents the input of a remove tags from on-premises instances operation.</p>",
        "simpleType" : "RemoveTagsFromOnPremisesInstancesRequest",
        "variableSetterType" : "RemoveTagsFromOnPremisesInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsFromOnPremisesInstancesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "TagRequiredException",
        "documentation" : "<p>A tag was not specified.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The specified tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : "<p>The maximum allowed number of tags was exceeded.</p>"
      }, {
        "exceptionName" : "InstanceLimitExceededException",
        "documentation" : "<p>The maximum number of allowed on-premises instances in a single call was exceeded.</p>"
      }, {
        "exceptionName" : "InstanceNotRegisteredException",
        "documentation" : "<p>The specified on-premises instance is not registered.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RemoveTagsFromOnPremisesInstancesResult",
      "asyncReturnType" : "RemoveTagsFromOnPremisesInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromOnPremisesInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromOnPremisesInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromOnPremisesInstancesRequest, RemoveTagsFromOnPremisesInstancesResult>",
      "methodName" : "removeTagsFromOnPremisesInstances"
    },
    "StopDeployment" : {
      "documentation" : "<p>Attempts to stop an ongoing deployment.</p>",
      "operationName" : "StopDeployment",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopDeploymentRequest",
        "variableType" : "StopDeploymentRequest",
        "variableDeclarationType" : "StopDeploymentRequest",
        "documentation" : "<p>Represents the input of a stop deployment operation.</p>",
        "simpleType" : "StopDeploymentRequest",
        "variableSetterType" : "StopDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopDeploymentResult",
        "documentation" : "<p>Represents the output of a stop deployment operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "DeploymentDoesNotExistException",
        "documentation" : "<p>The deployment does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentAlreadyCompletedException",
        "documentation" : "<p>The deployment is already complete.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StopDeploymentResult",
      "asyncReturnType" : "StopDeploymentResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopDeploymentResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDeploymentRequest, StopDeploymentResult>",
      "methodName" : "stopDeployment"
    },
    "UpdateApplication" : {
      "documentation" : "<p>Changes the name of an application.</p>",
      "operationName" : "UpdateApplication",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "variableDeclarationType" : "UpdateApplicationRequest",
        "documentation" : "<p>Represents the input of an update application operation.</p>",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationAlreadyExistsException",
        "documentation" : "<p>An application with the specified name already exists with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UpdateApplicationResult",
      "asyncReturnType" : "UpdateApplicationResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "methodName" : "updateApplication"
    },
    "UpdateDeploymentGroup" : {
      "documentation" : "<p>Changes information about a deployment group.</p>",
      "operationName" : "UpdateDeploymentGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDeploymentGroupRequest",
        "variableType" : "UpdateDeploymentGroupRequest",
        "variableDeclarationType" : "UpdateDeploymentGroupRequest",
        "documentation" : "<p>Represents the input of an update deployment group operation.</p>",
        "simpleType" : "UpdateDeploymentGroupRequest",
        "variableSetterType" : "UpdateDeploymentGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDeploymentGroupResult",
        "documentation" : "<p>Represents the output of an update deployment group operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupAlreadyExistsException",
        "documentation" : "<p>A deployment group with the specified name already exists with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "DeploymentGroupDoesNotExistException",
        "documentation" : "<p>The named deployment group does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidEC2TagException",
        "documentation" : "<p>The tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The specified tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidAutoScalingGroupException",
        "documentation" : "<p>The Auto Scaling group was specified in an invalid format or does not exist.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigDoesNotExistException",
        "documentation" : "<p>The deployment configuration does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The service role ARN was specified in an invalid format. Or, if an Auto Scaling group was specified, the specified service role does not grant the appropriate permissions to Auto Scaling.</p>"
      }, {
        "exceptionName" : "LifecycleHookLimitExceededException",
        "documentation" : "<p>The limit for lifecycle hooks was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidTriggerConfigException",
        "documentation" : "<p>The trigger was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "TriggerTargetsLimitExceededException",
        "documentation" : "<p>The maximum allowed number of triggers was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UpdateDeploymentGroupResult",
      "asyncReturnType" : "UpdateDeploymentGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDeploymentGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDeploymentGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDeploymentGroupRequest, UpdateDeploymentGroupResult>",
      "methodName" : "updateDeploymentGroup"
    }
  },
  "shapes" : {
    "BatchGetDeploymentGroupsRequest" : {
      "c2jName" : "BatchGetDeploymentGroupsInput",
      "documentation" : "<p>Represents the input of a batch get deployment groups operation.</p>",
      "shapeName" : "BatchGetDeploymentGroupsRequest",
      "deprecated" : false,
      "required" : [ "applicationName", "deploymentGroupNames" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>",
        "name" : "ApplicationName",
        "c2jName" : "applicationName",
        "c2jShape" : "ApplicationName",
        "variable" : {
          "variableName" : "applicationName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "applicationName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "applicationName",
          "marshallLocationName" : "applicationName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>\n@param applicationName The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.*/",
        "getterDocumentation" : "/**<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>\n@return The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.*/",
        "fluentSetterDocumentation" : "/**<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>\n@param applicationName The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>\n@param applicationName The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The deployment groups' names.</p>",
        "name" : "DeploymentGroupNames",
        "c2jName" : "deploymentGroupNames",
        "c2jShape" : "DeploymentGroupsList",
        "variable" : {
          "variableName" : "deploymentGroupNames",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>The deployment groups' names.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "deploymentGroupNames",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "deploymentGroupNames",
          "marshallLocationName" : "deploymentGroupNames",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "DeploymentGroupName",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>",
          "templateType" : "java.util.List<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The deployment groups' names.</p>\n@param deploymentGroupNames The deployment groups' names.*/",
        "getterDocumentation" : "/**<p>The deployment groups' names.</p>\n@return The deployment groups' names.*/",
        "fluentSetterDocumentation" : "/**<p>The deployment groups' names.</p>\n@param deploymentGroupNames The deployment groups' names.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The deployment groups' names.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDeploymentGroupNames(java.util.Collection)} or {@link #withDeploymentGroupNames(java.util.Collection)} if you want to override the existing values.</p>\n@param deploymentGroupNames The deployment groups' names.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "batchGetDeploymentGroupsRequest",
        "variableType" : "BatchGetDeploymentGroupsRequest",
        "variableDeclarationType" : "BatchGetDeploymentGroupsRequest",
        "documentation" : null,
        "simpleType" : "BatchGetDeploymentGroupsRequest",
        "variableSetterType" : "BatchGetDeploymentGroupsRequest"
      },
      "marshaller" : {
        "action" : "BatchGetDeploymentGroups",
        "verb" : "POST",
        "target" : "CodeDeploy_20141006.BatchGetDeploymentGroups",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ApplicationName" : {
          "documentation" : "<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>",
          "name" : "ApplicationName",
          "c2jName" : "applicationName",
          "c2jShape" : "ApplicationName",
          "variable" : {
            "variableName" : "applicationName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "applicationName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "applicationName",
            "marshallLocationName" : "applicationName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>\n@param applicationName The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.*/",
          "getterDocumentation" : "/**<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>\n@return The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.*/",
          "fluentSetterDocumentation" : "/**<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>\n@param applicationName The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>\n@param applicationName The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "DeploymentGroupNames" : {
          "documentation" : "<p>The deployment groups' names.</p>",
          "name" : "DeploymentGroupNames",
          "c2jName" : "deploymentGroupNames",
          "c2jShape" : "DeploymentGroupsList",
          "variable" : {
            "variableName" : "deploymentGroupNames",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "<p>The deployment groups' names.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "setterModel" : {
            "variableName" : "deploymentGroupNames",
            "variableType" : "java.util.List<String>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "deploymentGroupNames",
[...]
