{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "BatchGetApplications" : {
        "methodForms" : [ [ ] ]
      },
      "BatchGetDeployments" : {
        "methodForms" : [ [ ] ]
      },
      "BatchGetOnPremisesInstances" : {
        "methodForms" : [ [ ] ]
      },
      "ListApplications" : {
        "methodForms" : [ [ ] ]
      },
      "ListDeploymentConfigs" : {
        "methodForms" : [ [ ] ]
      },
      "ListDeployments" : {
        "methodForms" : [ [ ] ]
      },
      "ListOnPremisesInstances" : {
        "methodForms" : [ [ ] ]
      },
      "UpdateApplication" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2014-10-06",
    "asyncClient" : "AmazonCodeDeployAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCodeDeployAsyncClientBuilder",
    "asyncInterface" : "AmazonCodeDeployAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCodeDeployModuleInjector",
    "defaultEndpoint" : "https://codedeploy.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codedeploy.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS CodeDeploy</fullname> <p> <b>Overview</b> </p> <p>This reference guide provides descriptions of the AWS CodeDeploy APIs. For more information about AWS CodeDeploy, see the <a href=\"http://docs.aws.amazon.com/codedeploy/latest/userguide\">AWS CodeDeploy User Guide</a>.</p> <p> <b>Using the APIs</b> </p> <p>You can use the AWS CodeDeploy APIs to work with the following:</p> <ul> <li> <p>Applications are unique identifiers used by AWS CodeDeploy to ensure the correct combinations of revisions, deployment configurations, and deployment groups are being referenced during deployments.</p> <p>You can use the AWS CodeDeploy APIs to create, delete, get, list, and update applications.</p> </li> <li> <p>Deployment configurations are sets of deployment rules and success and failure conditions used by AWS CodeDeploy during deployments.</p> <p>You can use the AWS CodeDeploy APIs to create, delete, get, and list deployment configurations.</p> </li> <li> <p>Deployment groups are groups of instances to which application revisions can be deployed.</p> <p>You can use the AWS CodeDeploy APIs to create, delete, get, list, and update deployment groups.</p> </li> <li> <p>Instances represent Amazon EC2 instances to which application revisions are deployed. Instances are identified by their Amazon EC2 tags or Auto Scaling group names. Instances belong to deployment groups.</p> <p>You can use the AWS CodeDeploy APIs to get and list instance.</p> </li> <li> <p>Deployments represent the process of deploying revisions to instances.</p> <p>You can use the AWS CodeDeploy APIs to create, get, list, and stop deployments.</p> </li> <li> <p>Application revisions are archive files stored in Amazon S3 buckets or GitHub repositories. These revisions contain source content (such as source code, web pages, executable files, and deployment scripts) along with an application specification (AppSpec) file. (The AppSpec file is unique to AWS CodeDeploy; it defines the deployment actions you want AWS CodeDeploy to execute.) For application revisions stored in Amazon S3 buckets, an application revision is uniquely identified by its Amazon S3 object key and its ETag, version, or both. For application revisions stored in GitHub repositories, an application revision is uniquely identified by its repository name and commit ID. Application revisions are deployed through deployment groups.</p> <p>You can use the AWS CodeDeploy APIs to get, list, and register application revisions.</p> </li> </ul>",
    "endpointPrefix" : "codedeploy",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codedeploy",
    "packagePath" : "com/amazonaws/services/codedeploy",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "CodeDeploy",
    "serviceFullName" : "AWS CodeDeploy",
    "serviceName" : "CodeDeploy",
    "signingName" : "codedeploy",
    "smokeTestsPackageName" : "com.amazonaws.services.codedeploy.smoketests",
    "syncClient" : "AmazonCodeDeployClient",
    "syncClientBuilderClassName" : "AmazonCodeDeployClientBuilder",
    "syncInterface" : "AmazonCodeDeploy",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTagsToOnPremisesInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToOnPremisesInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToOnPremisesInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToOnPremisesInstancesRequest, AddTagsToOnPremisesInstancesResult>",
      "asyncReturnType" : "AddTagsToOnPremisesInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to on-premises instances.</p>",
      "exceptions" : [ {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "TagRequiredException",
        "documentation" : "<p>A tag was not specified.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The specified tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : "<p>The maximum allowed number of tags was exceeded.</p>"
      }, {
        "exceptionName" : "InstanceLimitExceededException",
        "documentation" : "<p>The maximum number of allowed on-premises instances in a single call was exceeded.</p>"
      }, {
        "exceptionName" : "InstanceNotRegisteredException",
        "documentation" : "<p>The specified on-premises instance is not registered.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsToOnPremisesInstancesRequest",
        "variableName" : "addTagsToOnPremisesInstancesRequest",
        "variableType" : "AddTagsToOnPremisesInstancesRequest",
        "documentation" : "<p>Represents the input of, and adds tags to, an on-premises instance operation.</p>",
        "simpleType" : "AddTagsToOnPremisesInstancesRequest",
        "variableSetterType" : "AddTagsToOnPremisesInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTagsToOnPremisesInstances",
      "operationName" : "AddTagsToOnPremisesInstances",
      "returnType" : {
        "returnType" : "AddTagsToOnPremisesInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "AddTagsToOnPremisesInstancesResult"
    },
    "BatchGetApplicationRevisions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetApplicationRevisionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetApplicationRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetApplicationRevisionsRequest, BatchGetApplicationRevisionsResult>",
      "asyncReturnType" : "BatchGetApplicationRevisionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more application revisions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "RevisionRequiredException",
        "documentation" : "<p>The revision ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRevisionException",
        "documentation" : "<p>The revision was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetApplicationRevisionsRequest",
        "variableName" : "batchGetApplicationRevisionsRequest",
        "variableType" : "BatchGetApplicationRevisionsRequest",
        "documentation" : "<p>Represents the input of a batch get application revisions operation.</p>",
        "simpleType" : "BatchGetApplicationRevisionsRequest",
        "variableSetterType" : "BatchGetApplicationRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetApplicationRevisions",
      "operationName" : "BatchGetApplicationRevisions",
      "returnType" : {
        "returnType" : "BatchGetApplicationRevisionsResult",
        "documentation" : "<p>Represents the output of a batch get application revisions operation.</p>"
      },
      "syncReturnType" : "BatchGetApplicationRevisionsResult"
    },
    "BatchGetApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetApplicationsRequest, BatchGetApplicationsResult>",
      "asyncReturnType" : "BatchGetApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more applications.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetApplicationsRequest",
        "variableName" : "batchGetApplicationsRequest",
        "variableType" : "BatchGetApplicationsRequest",
        "documentation" : "<p>Represents the input of a batch get applications operation.</p>",
        "simpleType" : "BatchGetApplicationsRequest",
        "variableSetterType" : "BatchGetApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetApplications",
      "operationName" : "BatchGetApplications",
      "returnType" : {
        "returnType" : "BatchGetApplicationsResult",
        "documentation" : "<p>Represents the output of a batch get applications operation.</p>"
      },
      "syncReturnType" : "BatchGetApplicationsResult"
    },
    "BatchGetDeploymentGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetDeploymentGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetDeploymentGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetDeploymentGroupsRequest, BatchGetDeploymentGroupsResult>",
      "asyncReturnType" : "BatchGetDeploymentGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get information about one or more deployment groups.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetDeploymentGroupsRequest",
        "variableName" : "batchGetDeploymentGroupsRequest",
        "variableType" : "BatchGetDeploymentGroupsRequest",
        "documentation" : "<p>Represents the input of a batch get deployment groups operation.</p>",
        "simpleType" : "BatchGetDeploymentGroupsRequest",
        "variableSetterType" : "BatchGetDeploymentGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetDeploymentGroups",
      "operationName" : "BatchGetDeploymentGroups",
      "returnType" : {
        "returnType" : "BatchGetDeploymentGroupsResult",
        "documentation" : "<p>Represents the output of a batch get deployment groups operation.</p>"
      },
      "syncReturnType" : "BatchGetDeploymentGroupsResult"
    },
    "BatchGetDeploymentInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetDeploymentInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetDeploymentInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetDeploymentInstancesRequest, BatchGetDeploymentInstancesResult>",
      "asyncReturnType" : "BatchGetDeploymentInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more instance that are part of a deployment group.</p>",
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "DeploymentDoesNotExistException",
        "documentation" : "<p>The deployment does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InstanceIdRequiredException",
        "documentation" : "<p>The instance ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetDeploymentInstancesRequest",
        "variableName" : "batchGetDeploymentInstancesRequest",
        "variableType" : "BatchGetDeploymentInstancesRequest",
        "documentation" : "<p>Represents the input of a batch get deployment instances operation.</p>",
        "simpleType" : "BatchGetDeploymentInstancesRequest",
        "variableSetterType" : "BatchGetDeploymentInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetDeploymentInstances",
      "operationName" : "BatchGetDeploymentInstances",
      "returnType" : {
        "returnType" : "BatchGetDeploymentInstancesResult",
        "documentation" : "<p>Represents the output of a batch get deployment instance operation.</p>"
      },
      "syncReturnType" : "BatchGetDeploymentInstancesResult"
    },
    "BatchGetDeployments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetDeploymentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetDeploymentsRequest, BatchGetDeploymentsResult>",
      "asyncReturnType" : "BatchGetDeploymentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more deployments.</p>",
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetDeploymentsRequest",
        "variableName" : "batchGetDeploymentsRequest",
        "variableType" : "BatchGetDeploymentsRequest",
        "documentation" : "<p>Represents the input of a batch get deployments operation.</p>",
        "simpleType" : "BatchGetDeploymentsRequest",
        "variableSetterType" : "BatchGetDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetDeployments",
      "operationName" : "BatchGetDeployments",
      "returnType" : {
        "returnType" : "BatchGetDeploymentsResult",
        "documentation" : "<p>Represents the output of a batch get deployments operation.</p>"
      },
      "syncReturnType" : "BatchGetDeploymentsResult"
    },
    "BatchGetOnPremisesInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetOnPremisesInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetOnPremisesInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetOnPremisesInstancesRequest, BatchGetOnPremisesInstancesResult>",
      "asyncReturnType" : "BatchGetOnPremisesInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about one or more on-premises instances.</p>",
      "exceptions" : [ {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BatchLimitExceededException",
        "documentation" : "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchGetOnPremisesInstancesRequest",
        "variableName" : "batchGetOnPremisesInstancesRequest",
        "variableType" : "BatchGetOnPremisesInstancesRequest",
        "documentation" : "<p>Represents the input of a batch get on-premises instances operation.</p>",
        "simpleType" : "BatchGetOnPremisesInstancesRequest",
        "variableSetterType" : "BatchGetOnPremisesInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetOnPremisesInstances",
      "operationName" : "BatchGetOnPremisesInstances",
      "returnType" : {
        "returnType" : "BatchGetOnPremisesInstancesResult",
        "documentation" : "<p>Represents the output of a batch get on-premises instances operation.</p>"
      },
      "syncReturnType" : "BatchGetOnPremisesInstancesResult"
    },
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an application.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationAlreadyExistsException",
        "documentation" : "<p>An application with the specified name already exists with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationLimitExceededException",
        "documentation" : "<p>More applications were attempted to be created than are allowed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "<p>Represents the input of a create application operation.</p>",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : "<p>Represents the output of a create application operation.</p>"
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "CreateDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentRequest, CreateDeploymentResult>",
      "asyncReturnType" : "CreateDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deploys an application revision through the specified deployment group.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupDoesNotExistException",
        "documentation" : "<p>The named deployment group does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "RevisionRequiredException",
        "documentation" : "<p>The revision ID was not specified.</p>"
      }, {
        "exceptionName" : "RevisionDoesNotExistException",
        "documentation" : "<p>The named revision does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidRevisionException",
        "documentation" : "<p>The revision was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigDoesNotExistException",
        "documentation" : "<p>The deployment configuration does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DescriptionTooLongException",
        "documentation" : "<p>The description is too long.</p>"
      }, {
        "exceptionName" : "DeploymentLimitExceededException",
        "documentation" : "<p>The number of allowed deployments was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidAutoRollbackConfigException",
        "documentation" : "<p>The automatic rollback configuration was specified in an invalid format. For example, automatic rollback is enabled but an invalid triggering event type or no event types were listed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDeploymentRequest",
        "variableName" : "createDeploymentRequest",
        "variableType" : "CreateDeploymentRequest",
        "documentation" : "<p>Represents the input of a create deployment operation.</p>",
        "simpleType" : "CreateDeploymentRequest",
        "variableSetterType" : "CreateDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeployment",
      "operationName" : "CreateDeployment",
      "returnType" : {
        "returnType" : "CreateDeploymentResult",
        "documentation" : "<p>Represents the output of a create deployment operation.</p>"
      },
      "syncReturnType" : "CreateDeploymentResult"
    },
    "CreateDeploymentConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentConfigRequest, CreateDeploymentConfigResult>",
      "asyncReturnType" : "CreateDeploymentConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a deployment configuration.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigNameRequiredException",
        "documentation" : "<p>The deployment configuration name was not specified.</p>"
      }, {
        "exceptionName" : "DeploymentConfigAlreadyExistsException",
        "documentation" : "<p>A deployment configuration with the specified name already exists with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidMinimumHealthyHostValueException",
        "documentation" : "<p>The minimum healthy instance value was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigLimitExceededException",
        "documentation" : "<p>The deployment configurations limit was exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDeploymentConfigRequest",
        "variableName" : "createDeploymentConfigRequest",
        "variableType" : "CreateDeploymentConfigRequest",
        "documentation" : "<p>Represents the input of a create deployment configuration operation.</p>",
        "simpleType" : "CreateDeploymentConfigRequest",
        "variableSetterType" : "CreateDeploymentConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeploymentConfig",
      "operationName" : "CreateDeploymentConfig",
      "returnType" : {
        "returnType" : "CreateDeploymentConfigResult",
        "documentation" : "<p>Represents the output of a create deployment configuration operation.</p>"
      },
      "syncReturnType" : "CreateDeploymentConfigResult"
    },
    "CreateDeploymentGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentGroupRequest, CreateDeploymentGroupResult>",
      "asyncReturnType" : "CreateDeploymentGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a deployment group to which application revisions will be deployed.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupAlreadyExistsException",
        "documentation" : "<p>A deployment group with the specified name already exists with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidEC2TagException",
        "documentation" : "<p>The tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The specified tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidAutoScalingGroupException",
        "documentation" : "<p>The Auto Scaling group was specified in an invalid format or does not exist.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigDoesNotExistException",
        "documentation" : "<p>The deployment configuration does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "RoleRequiredException",
        "documentation" : "<p>The role ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The service role ARN was specified in an invalid format. Or, if an Auto Scaling group was specified, the specified service role does not grant the appropriate permissions to Auto Scaling.</p>"
      }, {
        "exceptionName" : "DeploymentGroupLimitExceededException",
        "documentation" : "<p> The deployment groups limit was exceeded.</p>"
      }, {
        "exceptionName" : "LifecycleHookLimitExceededException",
        "documentation" : "<p>The limit for lifecycle hooks was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidTriggerConfigException",
        "documentation" : "<p>The trigger was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "TriggerTargetsLimitExceededException",
        "documentation" : "<p>The maximum allowed number of triggers was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidAlarmConfigException",
        "documentation" : "<p>The format of the alarm configuration is invalid. Possible causes include:</p> <ul> <li> <p>The alarm list is null.</p> </li> <li> <p>The alarm object is null.</p> </li> <li> <p>The alarm name is empty or null or exceeds the 255 character limit.</p> </li> <li> <p>Two alarms with the same name have been specified.</p> </li> <li> <p>The alarm configuration is enabled but the alarm list is empty.</p> </li> </ul>"
      }, {
        "exceptionName" : "AlarmsLimitExceededException",
        "documentation" : "<p>The maximum number of alarms for a deployment group (10) was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidAutoRollbackConfigException",
        "documentation" : "<p>The automatic rollback configuration was specified in an invalid format. For example, automatic rollback is enabled but an invalid triggering event type or no event types were listed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDeploymentGroupRequest",
        "variableName" : "createDeploymentGroupRequest",
        "variableType" : "CreateDeploymentGroupRequest",
        "documentation" : "<p>Represents the input of a create deployment group operation.</p>",
        "simpleType" : "CreateDeploymentGroupRequest",
        "variableSetterType" : "CreateDeploymentGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeploymentGroup",
      "operationName" : "CreateDeploymentGroup",
      "returnType" : {
        "returnType" : "CreateDeploymentGroupResult",
        "documentation" : "<p>Represents the output of a create deployment group operation.</p>"
      },
      "syncReturnType" : "CreateDeploymentGroupResult"
    },
    "DeleteApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "asyncReturnType" : "DeleteApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an application.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteApplicationRequest",
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "documentation" : "<p>Represents the input of a delete application operation.</p>",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplication",
      "operationName" : "DeleteApplication",
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationResult"
    },
    "DeleteDeploymentConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeploymentConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeploymentConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeploymentConfigRequest, DeleteDeploymentConfigResult>",
      "asyncReturnType" : "DeleteDeploymentConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a deployment configuration.</p> <note> <p>A deployment configuration cannot be deleted if it is currently in use. Predefined configurations cannot be deleted.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigNameRequiredException",
        "documentation" : "<p>The deployment configuration name was not specified.</p>"
      }, {
        "exceptionName" : "DeploymentConfigInUseException",
        "documentation" : "<p>The deployment configuration is still in use.</p>"
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>An invalid operation was detected.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDeploymentConfigRequest",
        "variableName" : "deleteDeploymentConfigRequest",
        "variableType" : "DeleteDeploymentConfigRequest",
        "documentation" : "<p>Represents the input of a delete deployment configuration operation.</p>",
        "simpleType" : "DeleteDeploymentConfigRequest",
        "variableSetterType" : "DeleteDeploymentConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeploymentConfig",
      "operationName" : "DeleteDeploymentConfig",
      "returnType" : {
        "returnType" : "DeleteDeploymentConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeploymentConfigResult"
    },
    "DeleteDeploymentGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeploymentGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeploymentGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeploymentGroupRequest, DeleteDeploymentGroupResult>",
      "asyncReturnType" : "DeleteDeploymentGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a deployment group.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The service role ARN was specified in an invalid format. Or, if an Auto Scaling group was specified, the specified service role does not grant the appropriate permissions to Auto Scaling.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDeploymentGroupRequest",
        "variableName" : "deleteDeploymentGroupRequest",
        "variableType" : "DeleteDeploymentGroupRequest",
        "documentation" : "<p>Represents the input of a delete deployment group operation.</p>",
        "simpleType" : "DeleteDeploymentGroupRequest",
        "variableSetterType" : "DeleteDeploymentGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeploymentGroup",
      "operationName" : "DeleteDeploymentGroup",
      "returnType" : {
        "returnType" : "DeleteDeploymentGroupResult",
        "documentation" : "<p>Represents the output of a delete deployment group operation.</p>"
      },
      "syncReturnType" : "DeleteDeploymentGroupResult"
    },
    "DeregisterOnPremisesInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterOnPremisesInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterOnPremisesInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterOnPremisesInstanceRequest, DeregisterOnPremisesInstanceResult>",
      "asyncReturnType" : "DeregisterOnPremisesInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters an on-premises instance.</p>",
      "exceptions" : [ {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeregisterOnPremisesInstanceRequest",
        "variableName" : "deregisterOnPremisesInstanceRequest",
        "variableType" : "DeregisterOnPremisesInstanceRequest",
        "documentation" : "<p>Represents the input of a deregister on-premises instance operation.</p>",
        "simpleType" : "DeregisterOnPremisesInstanceRequest",
        "variableSetterType" : "DeregisterOnPremisesInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterOnPremisesInstance",
      "operationName" : "DeregisterOnPremisesInstance",
      "returnType" : {
        "returnType" : "DeregisterOnPremisesInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterOnPremisesInstanceResult"
    },
    "GetApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationRequest, GetApplicationResult>",
      "asyncReturnType" : "GetApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about an application.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetApplicationRequest",
        "variableName" : "getApplicationRequest",
        "variableType" : "GetApplicationRequest",
        "documentation" : "<p>Represents the input of a get application operation.</p>",
        "simpleType" : "GetApplicationRequest",
        "variableSetterType" : "GetApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplication",
      "operationName" : "GetApplication",
      "returnType" : {
        "returnType" : "GetApplicationResult",
        "documentation" : "<p>Represents the output of a get application operation.</p>"
      },
      "syncReturnType" : "GetApplicationResult"
    },
    "GetApplicationRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetApplicationRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetApplicationRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetApplicationRevisionRequest, GetApplicationRevisionResult>",
      "asyncReturnType" : "GetApplicationRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about an application revision.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "RevisionDoesNotExistException",
        "documentation" : "<p>The named revision does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "RevisionRequiredException",
        "documentation" : "<p>The revision ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRevisionException",
        "documentation" : "<p>The revision was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetApplicationRevisionRequest",
        "variableName" : "getApplicationRevisionRequest",
        "variableType" : "GetApplicationRevisionRequest",
        "documentation" : "<p>Represents the input of a get application revision operation.</p>",
        "simpleType" : "GetApplicationRevisionRequest",
        "variableSetterType" : "GetApplicationRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getApplicationRevision",
      "operationName" : "GetApplicationRevision",
      "returnType" : {
        "returnType" : "GetApplicationRevisionResult",
        "documentation" : "<p>Represents the output of a get application revision operation.</p>"
      },
      "syncReturnType" : "GetApplicationRevisionResult"
    },
    "GetDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentRequest, GetDeploymentResult>",
      "asyncReturnType" : "GetDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a deployment.</p>",
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentDoesNotExistException",
        "documentation" : "<p>The deployment does not exist with the applicable IAM user or AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDeploymentRequest",
        "variableName" : "getDeploymentRequest",
        "variableType" : "GetDeploymentRequest",
        "documentation" : "<p>Represents the input of a get deployment operation.</p>",
        "simpleType" : "GetDeploymentRequest",
        "variableSetterType" : "GetDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeployment",
      "operationName" : "GetDeployment",
      "returnType" : {
        "returnType" : "GetDeploymentResult",
        "documentation" : "<p>Represents the output of a get deployment operation.</p>"
      },
      "syncReturnType" : "GetDeploymentResult"
    },
    "GetDeploymentConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentConfigRequest, GetDeploymentConfigResult>",
      "asyncReturnType" : "GetDeploymentConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a deployment configuration.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigNameRequiredException",
        "documentation" : "<p>The deployment configuration name was not specified.</p>"
      }, {
        "exceptionName" : "DeploymentConfigDoesNotExistException",
        "documentation" : "<p>The deployment configuration does not exist with the applicable IAM user or AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDeploymentConfigRequest",
        "variableName" : "getDeploymentConfigRequest",
        "variableType" : "GetDeploymentConfigRequest",
        "documentation" : "<p>Represents the input of a get deployment configuration operation.</p>",
        "simpleType" : "GetDeploymentConfigRequest",
        "variableSetterType" : "GetDeploymentConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeploymentConfig",
      "operationName" : "GetDeploymentConfig",
      "returnType" : {
        "returnType" : "GetDeploymentConfigResult",
        "documentation" : "<p>Represents the output of a get deployment configuration operation.</p>"
      },
      "syncReturnType" : "GetDeploymentConfigResult"
    },
    "GetDeploymentGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentGroupRequest, GetDeploymentGroupResult>",
      "asyncReturnType" : "GetDeploymentGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a deployment group.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupDoesNotExistException",
        "documentation" : "<p>The named deployment group does not exist with the applicable IAM user or AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDeploymentGroupRequest",
        "variableName" : "getDeploymentGroupRequest",
        "variableType" : "GetDeploymentGroupRequest",
        "documentation" : "<p>Represents the input of a get deployment group operation.</p>",
        "simpleType" : "GetDeploymentGroupRequest",
        "variableSetterType" : "GetDeploymentGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeploymentGroup",
      "operationName" : "GetDeploymentGroup",
      "returnType" : {
        "returnType" : "GetDeploymentGroupResult",
        "documentation" : "<p>Represents the output of a get deployment group operation.</p>"
      },
      "syncReturnType" : "GetDeploymentGroupResult"
    },
    "GetDeploymentInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentInstanceRequest, GetDeploymentInstanceResult>",
      "asyncReturnType" : "GetDeploymentInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about an instance as part of a deployment.</p>",
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "DeploymentDoesNotExistException",
        "documentation" : "<p>The deployment does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InstanceIdRequiredException",
        "documentation" : "<p>The instance ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InstanceDoesNotExistException",
        "documentation" : "<p>The specified instance does not exist in the deployment group.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDeploymentInstanceRequest",
        "variableName" : "getDeploymentInstanceRequest",
        "variableType" : "GetDeploymentInstanceRequest",
        "documentation" : "<p>Represents the input of a get deployment instance operation.</p>",
        "simpleType" : "GetDeploymentInstanceRequest",
        "variableSetterType" : "GetDeploymentInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeploymentInstance",
      "operationName" : "GetDeploymentInstance",
      "returnType" : {
        "returnType" : "GetDeploymentInstanceResult",
        "documentation" : "<p>Represents the output of a get deployment instance operation.</p>"
      },
      "syncReturnType" : "GetDeploymentInstanceResult"
    },
    "GetOnPremisesInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOnPremisesInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOnPremisesInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOnPremisesInstanceRequest, GetOnPremisesInstanceResult>",
      "asyncReturnType" : "GetOnPremisesInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about an on-premises instance.</p>",
      "exceptions" : [ {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "InstanceNotRegisteredException",
        "documentation" : "<p>The specified on-premises instance is not registered.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetOnPremisesInstanceRequest",
        "variableName" : "getOnPremisesInstanceRequest",
        "variableType" : "GetOnPremisesInstanceRequest",
        "documentation" : "<p>Represents the input of a get on-premises instance operation.</p>",
        "simpleType" : "GetOnPremisesInstanceRequest",
        "variableSetterType" : "GetOnPremisesInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOnPremisesInstance",
      "operationName" : "GetOnPremisesInstance",
      "returnType" : {
        "returnType" : "GetOnPremisesInstanceResult",
        "documentation" : "<p>Represents the output of a get on-premises instance operation.</p>"
      },
      "syncReturnType" : "GetOnPremisesInstanceResult"
    },
    "ListApplicationRevisions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationRevisionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationRevisionsRequest, ListApplicationRevisionsResult>",
      "asyncReturnType" : "ListApplicationRevisionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about revisions for an application.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidSortByException",
        "documentation" : "<p>The column name to sort by is either not present or was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidSortOrderException",
        "documentation" : "<p>The sort order was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidBucketNameFilterException",
        "documentation" : "<p>The bucket name either doesn't exist or was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidKeyPrefixFilterException",
        "documentation" : "<p>The specified key prefix filter was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "BucketNameFilterRequiredException",
        "documentation" : "<p>A bucket name is required, but was not provided.</p>"
      }, {
        "exceptionName" : "InvalidDeployedStateFilterException",
        "documentation" : "<p>The deployed state filter was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListApplicationRevisionsRequest",
        "variableName" : "listApplicationRevisionsRequest",
        "variableType" : "ListApplicationRevisionsRequest",
        "documentation" : "<p>Represents the input of a list application revisions operation.</p>",
        "simpleType" : "ListApplicationRevisionsRequest",
        "variableSetterType" : "ListApplicationRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplicationRevisions",
      "operationName" : "ListApplicationRevisions",
      "returnType" : {
        "returnType" : "ListApplicationRevisionsResult",
        "documentation" : "<p>Represents the output of a list application revisions operation.</p>"
      },
      "syncReturnType" : "ListApplicationRevisionsResult"
    },
    "ListApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListApplicationsRequest, ListApplicationsResult>",
      "asyncReturnType" : "ListApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the applications registered with the applicable IAM user or AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListApplicationsRequest",
        "variableName" : "listApplicationsRequest",
        "variableType" : "ListApplicationsRequest",
        "documentation" : "<p>Represents the input of a list applications operation.</p>",
        "simpleType" : "ListApplicationsRequest",
        "variableSetterType" : "ListApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listApplications",
      "operationName" : "ListApplications",
      "returnType" : {
        "returnType" : "ListApplicationsResult",
        "documentation" : "<p>Represents the output of a list applications operation.</p>"
      },
      "syncReturnType" : "ListApplicationsResult"
    },
    "ListDeploymentConfigs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentConfigsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentConfigsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentConfigsRequest, ListDeploymentConfigsResult>",
      "asyncReturnType" : "ListDeploymentConfigsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the deployment configurations with the applicable IAM user or AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDeploymentConfigsRequest",
        "variableName" : "listDeploymentConfigsRequest",
        "variableType" : "ListDeploymentConfigsRequest",
        "documentation" : "<p>Represents the input of a list deployment configurations operation.</p>",
        "simpleType" : "ListDeploymentConfigsRequest",
        "variableSetterType" : "ListDeploymentConfigsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeploymentConfigs",
      "operationName" : "ListDeploymentConfigs",
      "returnType" : {
        "returnType" : "ListDeploymentConfigsResult",
        "documentation" : "<p>Represents the output of a list deployment configurations operation.</p>"
      },
      "syncReturnType" : "ListDeploymentConfigsResult"
    },
    "ListDeploymentGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentGroupsRequest, ListDeploymentGroupsResult>",
      "asyncReturnType" : "ListDeploymentGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the deployment groups for an application registered with the applicable IAM user or AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDeploymentGroupsRequest",
        "variableName" : "listDeploymentGroupsRequest",
        "variableType" : "ListDeploymentGroupsRequest",
        "documentation" : "<p>Represents the input of a list deployment groups operation.</p>",
        "simpleType" : "ListDeploymentGroupsRequest",
        "variableSetterType" : "ListDeploymentGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeploymentGroups",
      "operationName" : "ListDeploymentGroups",
      "returnType" : {
        "returnType" : "ListDeploymentGroupsResult",
        "documentation" : "<p>Represents the output of a list deployment groups operation.</p>"
      },
      "syncReturnType" : "ListDeploymentGroupsResult"
    },
    "ListDeploymentInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentInstancesRequest, ListDeploymentInstancesResult>",
      "asyncReturnType" : "ListDeploymentInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the instance for a deployment associated with the applicable IAM user or AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "DeploymentDoesNotExistException",
        "documentation" : "<p>The deployment does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentNotStartedException",
        "documentation" : "<p>The specified deployment has not started.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidInstanceStatusException",
        "documentation" : "<p>The specified instance status does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDeploymentInstancesRequest",
        "variableName" : "listDeploymentInstancesRequest",
        "variableType" : "ListDeploymentInstancesRequest",
        "documentation" : "<p>Represents the input of a list deployment instances operation.</p>",
        "simpleType" : "ListDeploymentInstancesRequest",
        "variableSetterType" : "ListDeploymentInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeploymentInstances",
      "operationName" : "ListDeploymentInstances",
      "returnType" : {
        "returnType" : "ListDeploymentInstancesResult",
        "documentation" : "<p>Represents the output of a list deployment instances operation.</p>"
      },
      "syncReturnType" : "ListDeploymentInstancesResult"
    },
    "ListDeployments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentsRequest, ListDeploymentsResult>",
      "asyncReturnType" : "ListDeploymentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the deployments in a deployment group for an application registered with the applicable IAM user or AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupDoesNotExistException",
        "documentation" : "<p>The named deployment group does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "InvalidTimeRangeException",
        "documentation" : "<p>The specified time range was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentStatusException",
        "documentation" : "<p>The specified deployment status doesn't exist or cannot be determined.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDeploymentsRequest",
        "variableName" : "listDeploymentsRequest",
        "variableType" : "ListDeploymentsRequest",
        "documentation" : "<p>Represents the input of a list deployments operation.</p>",
        "simpleType" : "ListDeploymentsRequest",
        "variableSetterType" : "ListDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeployments",
      "operationName" : "ListDeployments",
      "returnType" : {
        "returnType" : "ListDeploymentsResult",
        "documentation" : "<p>Represents the output of a list deployments operation.</p>"
      },
      "syncReturnType" : "ListDeploymentsResult"
    },
    "ListOnPremisesInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOnPremisesInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOnPremisesInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOnPremisesInstancesRequest, ListOnPremisesInstancesResult>",
      "asyncReturnType" : "ListOnPremisesInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of names for one or more on-premises instances.</p> <p>Unless otherwise specified, both registered and deregistered on-premises instance names will be listed. To list only registered or deregistered on-premises instance names, use the registration status parameter.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRegistrationStatusException",
        "documentation" : "<p>The registration status was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidTagFilterException",
        "documentation" : "<p>The specified tag filter was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListOnPremisesInstancesRequest",
        "variableName" : "listOnPremisesInstancesRequest",
        "variableType" : "ListOnPremisesInstancesRequest",
        "documentation" : "<p>Represents the input of a list on-premises instances operation.</p>",
        "simpleType" : "ListOnPremisesInstancesRequest",
        "variableSetterType" : "ListOnPremisesInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOnPremisesInstances",
      "operationName" : "ListOnPremisesInstances",
      "returnType" : {
        "returnType" : "ListOnPremisesInstancesResult",
        "documentation" : "<p>Represents the output of list on-premises instances operation.</p>"
      },
      "syncReturnType" : "ListOnPremisesInstancesResult"
    },
    "RegisterApplicationRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterApplicationRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterApplicationRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterApplicationRevisionRequest, RegisterApplicationRevisionResult>",
      "asyncReturnType" : "RegisterApplicationRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers with AWS CodeDeploy a revision for the specified application.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DescriptionTooLongException",
        "documentation" : "<p>The description is too long.</p>"
      }, {
        "exceptionName" : "RevisionRequiredException",
        "documentation" : "<p>The revision ID was not specified.</p>"
      }, {
        "exceptionName" : "InvalidRevisionException",
        "documentation" : "<p>The revision was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RegisterApplicationRevisionRequest",
        "variableName" : "registerApplicationRevisionRequest",
        "variableType" : "RegisterApplicationRevisionRequest",
        "documentation" : "<p>Represents the input of a register application revision operation.</p>",
        "simpleType" : "RegisterApplicationRevisionRequest",
        "variableSetterType" : "RegisterApplicationRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerApplicationRevision",
      "operationName" : "RegisterApplicationRevision",
      "returnType" : {
        "returnType" : "RegisterApplicationRevisionResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterApplicationRevisionResult"
    },
    "RegisterOnPremisesInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterOnPremisesInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterOnPremisesInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterOnPremisesInstanceRequest, RegisterOnPremisesInstanceResult>",
      "asyncReturnType" : "RegisterOnPremisesInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers an on-premises instance.</p>",
      "exceptions" : [ {
        "exceptionName" : "InstanceNameAlreadyRegisteredException",
        "documentation" : "<p>The specified on-premises instance name is already registered.</p>"
      }, {
        "exceptionName" : "IamUserArnAlreadyRegisteredException",
        "documentation" : "<p>The specified IAM user ARN is already registered with an on-premises instance.</p>"
      }, {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "IamUserArnRequiredException",
        "documentation" : "<p>An IAM user ARN was not specified.</p>"
      }, {
        "exceptionName" : "InvalidInstanceNameException",
        "documentation" : "<p>The specified on-premises instance name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidIamUserArnException",
        "documentation" : "<p>The IAM user ARN was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RegisterOnPremisesInstanceRequest",
        "variableName" : "registerOnPremisesInstanceRequest",
        "variableType" : "RegisterOnPremisesInstanceRequest",
        "documentation" : "<p>Represents the input of the register on-premises instance operation.</p>",
        "simpleType" : "RegisterOnPremisesInstanceRequest",
        "variableSetterType" : "RegisterOnPremisesInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerOnPremisesInstance",
      "operationName" : "RegisterOnPremisesInstance",
      "returnType" : {
        "returnType" : "RegisterOnPremisesInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterOnPremisesInstanceResult"
    },
    "RemoveTagsFromOnPremisesInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromOnPremisesInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromOnPremisesInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromOnPremisesInstancesRequest, RemoveTagsFromOnPremisesInstancesResult>",
      "asyncReturnType" : "RemoveTagsFromOnPremisesInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from one or more on-premises instances.</p>",
      "exceptions" : [ {
        "exceptionName" : "InstanceNameRequiredException",
        "documentation" : "<p>An on-premises instance name was not specified.</p>"
      }, {
        "exceptionName" : "TagRequiredException",
        "documentation" : "<p>A tag was not specified.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The specified tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : "<p>The maximum allowed number of tags was exceeded.</p>"
      }, {
        "exceptionName" : "InstanceLimitExceededException",
        "documentation" : "<p>The maximum number of allowed on-premises instances in a single call was exceeded.</p>"
      }, {
        "exceptionName" : "InstanceNotRegisteredException",
        "documentation" : "<p>The specified on-premises instance is not registered.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsFromOnPremisesInstancesRequest",
        "variableName" : "removeTagsFromOnPremisesInstancesRequest",
        "variableType" : "RemoveTagsFromOnPremisesInstancesRequest",
        "documentation" : "<p>Represents the input of a remove tags from on-premises instances operation.</p>",
        "simpleType" : "RemoveTagsFromOnPremisesInstancesRequest",
        "variableSetterType" : "RemoveTagsFromOnPremisesInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTagsFromOnPremisesInstances",
      "operationName" : "RemoveTagsFromOnPremisesInstances",
      "returnType" : {
        "returnType" : "RemoveTagsFromOnPremisesInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveTagsFromOnPremisesInstancesResult"
    },
    "StopDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDeploymentRequest, StopDeploymentResult>",
      "asyncReturnType" : "StopDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attempts to stop an ongoing deployment.</p>",
      "exceptions" : [ {
        "exceptionName" : "DeploymentIdRequiredException",
        "documentation" : "<p>At least one deployment ID must be specified.</p>"
      }, {
        "exceptionName" : "DeploymentDoesNotExistException",
        "documentation" : "<p>The deployment does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentAlreadyCompletedException",
        "documentation" : "<p>The deployment is already complete.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentIdException",
        "documentation" : "<p>At least one of the deployment IDs was specified in an invalid format.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopDeploymentRequest",
        "variableName" : "stopDeploymentRequest",
        "variableType" : "StopDeploymentRequest",
        "documentation" : "<p>Represents the input of a stop deployment operation.</p>",
        "simpleType" : "StopDeploymentRequest",
        "variableSetterType" : "StopDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopDeployment",
      "operationName" : "StopDeployment",
      "returnType" : {
        "returnType" : "StopDeploymentResult",
        "documentation" : "<p>Represents the output of a stop deployment operation.</p>"
      },
      "syncReturnType" : "StopDeploymentResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes the name of an application.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationAlreadyExistsException",
        "documentation" : "<p>An application with the specified name already exists with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "<p>Represents the input of an update application operation.</p>",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationResult"
    },
    "UpdateDeploymentGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDeploymentGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDeploymentGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDeploymentGroupRequest, UpdateDeploymentGroupResult>",
      "asyncReturnType" : "UpdateDeploymentGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Changes information about a deployment group.</p>",
      "exceptions" : [ {
        "exceptionName" : "ApplicationNameRequiredException",
        "documentation" : "<p>The minimum number of required application names was not specified.</p>"
      }, {
        "exceptionName" : "InvalidApplicationNameException",
        "documentation" : "<p>The application name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "ApplicationDoesNotExistException",
        "documentation" : "<p>The application does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentGroupNameException",
        "documentation" : "<p>The deployment group name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentGroupAlreadyExistsException",
        "documentation" : "<p>A deployment group with the specified name already exists with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "DeploymentGroupNameRequiredException",
        "documentation" : "<p>The deployment group name was not specified.</p>"
      }, {
        "exceptionName" : "DeploymentGroupDoesNotExistException",
        "documentation" : "<p>The named deployment group does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidEC2TagException",
        "documentation" : "<p>The tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidTagException",
        "documentation" : "<p>The specified tag was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "InvalidAutoScalingGroupException",
        "documentation" : "<p>The Auto Scaling group was specified in an invalid format or does not exist.</p>"
      }, {
        "exceptionName" : "InvalidDeploymentConfigNameException",
        "documentation" : "<p>The deployment configuration name was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "DeploymentConfigDoesNotExistException",
        "documentation" : "<p>The deployment configuration does not exist with the applicable IAM user or AWS account.</p>"
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>The service role ARN was specified in an invalid format. Or, if an Auto Scaling group was specified, the specified service role does not grant the appropriate permissions to Auto Scaling.</p>"
      }, {
        "exceptionName" : "LifecycleHookLimitExceededException",
        "documentation" : "<p>The limit for lifecycle hooks was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidTriggerConfigException",
        "documentation" : "<p>The trigger was specified in an invalid format.</p>"
      }, {
        "exceptionName" : "TriggerTargetsLimitExceededException",
        "documentation" : "<p>The maximum allowed number of triggers was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidAlarmConfigException",
        "documentation" : "<p>The format of the alarm configuration is invalid. Possible causes include:</p> <ul> <li> <p>The alarm list is null.</p> </li> <li> <p>The alarm object is null.</p> </li> <li> <p>The alarm name is empty or null or exceeds the 255 character limit.</p> </li> <li> <p>Two alarms with the same name have been specified.</p> </li> <li> <p>The alarm configuration is enabled but the alarm list is empty.</p> </li> </ul>"
      }, {
        "exceptionName" : "AlarmsLimitExceededException",
        "documentation" : "<p>The maximum number of alarms for a deployment group (10) was exceeded.</p>"
      }, {
        "exceptionName" : "InvalidAutoRollbackConfigException",
        "documentation" : "<p>The automatic rollback configuration was specified in an invalid format. For example, automatic rollback is enabled but an invalid triggering event type or no event types were listed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDeploymentGroupRequest",
        "variableName" : "updateDeploymentGroupRequest",
        "variableType" : "UpdateDeploymentGroupRequest",
        "documentation" : "<p>Represents the input of an update deployment group operation.</p>",
        "simpleType" : "UpdateDeploymentGroupRequest",
        "variableSetterType" : "UpdateDeploymentGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDeploymentGroup",
      "operationName" : "UpdateDeploymentGroup",
      "returnType" : {
        "returnType" : "UpdateDeploymentGroupResult",
        "documentation" : "<p>Represents the output of an update deployment group operation.</p>"
      },
      "syncReturnType" : "UpdateDeploymentGroupResult"
    }
  },
  "shapes" : {
    "AddTagsToOnPremisesInstancesRequest" : {
      "c2jName" : "AddTagsToOnPremisesInstancesInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the input of, and adds tags to, an on-premises instance operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTagsToOnPremisesInstances",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "CodeDeploy_20141006.AddTagsToOnPremisesInstances",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>\n@param tags The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>\n@return The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Tags",
        "setterDocumentation" : "/**<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>\n@param tags The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "instanceNames",
        "c2jShape" : "InstanceNameList",
        "deprecated" : false,
        "documentation" : "<p>The names of the on-premises instances to which to add tags.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The names of the on-premises instances to which to add tags.</p>\n@param instanceNames The names of the on-premises instances to which to add tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The names of the on-premises instances to which to add tags.</p>\n@return The names of the on-premises instances to which to add tags.*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "instanceNames",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "instanceNames",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "InstanceName",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
[...]
