{
  "metadata" : {
    "apiVersion" : "2014-03-28",
    "exceptionUnmarshallerImpl" : null,
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>Amazon CloudWatch Logs API Reference</fullname> <p>This is the <i>Amazon CloudWatch Logs API Reference</i>. Amazon CloudWatch Logs enables you to monitor, store, and access your system, application, and custom log files. This guide provides detailed information about Amazon CloudWatch Logs actions, data types, parameters, and errors. For detailed information about Amazon CloudWatch Logs features and their associated API calls, go to the <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide\">Amazon CloudWatch Developer Guide</a>. </p> <p>Use the following links to get started using the <i>Amazon CloudWatch Logs API Reference</i>:</p> <ul> <li> <a href=\"http://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_Operations.html\">Actions</a>: An alphabetical list of all Amazon CloudWatch Logs actions.</li> <li> <a href=\"http://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_Types.html\">Data Types</a>: An alphabetical list of all Amazon CloudWatch Logs data types.</li> <li> <a href=\"http://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/CommonParameters.html\">Common Parameters</a>: Parameters that all Query actions can use.</li> <li> <a href=\"http://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/CommonErrors.html\">Common Errors</a>: Client and server errors that all actions can return.</li> <li> <a href=\"http://docs.aws.amazon.com/general/latest/gr/index.html?rande.html\">Regions and Endpoints</a>: Itemized regions and endpoints for all AWS products.</li> </ul> <p>In addition to using the Amazon CloudWatch Logs API, you can also use the following SDKs and third-party libraries to access Amazon CloudWatch Logs programmatically.</p> <ul> <li><a href=\"http://aws.amazon.com/documentation/sdkforjava/\">AWS SDK for Java Documentation</a></li> <li><a href=\"http://aws.amazon.com/documentation/sdkfornet/\">AWS SDK for .NET Documentation</a></li> <li><a href=\"http://aws.amazon.com/documentation/sdkforphp/\">AWS SDK for PHP Documentation</a></li> <li><a href=\"http://aws.amazon.com/documentation/sdkforruby/\">AWS SDK for Ruby Documentation</a></li> </ul> <p>Developers in the AWS developer community also provide their own libraries, which you can find at the following AWS developer centers:</p> <ul> <li><a href=\"http://aws.amazon.com/java/\">AWS Java Developer Center</a></li> <li><a href=\"http://aws.amazon.com/php/\">AWS PHP Developer Center</a></li> <li><a href=\"http://aws.amazon.com/python/\">AWS Python Developer Center</a></li> <li><a href=\"http://aws.amazon.com/ruby/\">AWS Ruby Developer Center</a></li> <li><a href=\"http://aws.amazon.com/net/\">AWS Windows and .NET Developer Center</a></li> </ul>",
    "defaultEndpoint" : "https://logs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "logs.us-east-1.amazonaws.com",
    "syncInterface" : "AWSLogs",
    "syncClient" : "AWSLogsClient",
    "asyncInterface" : "AWSLogsAsync",
    "asyncClient" : "AWSLogsAsyncClient",
    "packageName" : "com.amazonaws.services.logs",
    "packagePath" : "com/amazonaws/services/logs",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudWatch Logs",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : "application/x-amz-json-1.1",
    "endpointPrefix" : "logs",
    "signingName" : "logs",
    "serviceName" : "Amazon CloudWatch Logs",
    "jsonProtocol" : true,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "JsonErrorUnmarshaller"
  },
  "operations" : {
    "CancelExportTask" : {
      "documentation" : "<p> Cancels an export task if it is in <code>PENDING</code> or <code>RUNNING</code> state. </p>",
      "operationName" : "CancelExportTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelExportTaskRequest",
        "variableType" : "CancelExportTaskRequest",
        "variableDeclarationType" : "CancelExportTaskRequest",
        "documentation" : null,
        "simpleType" : "CancelExportTaskRequest",
        "variableSetterType" : "CancelExportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Returned if the operation is not valid on the specified resource</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Cancels an export task if it is in <code>PENDING</code> or <code>RUNNING</code> state. </p>\n@param cancelExportTaskRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws InvalidOperationException Returned if the operation is not valid on the specified resource\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Cancels an export task if it is in <code>PENDING</code> or <code>RUNNING</code> state. </p>\n@param cancelExportTaskRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Cancels an export task if it is in <code>PENDING</code> or <code>RUNNING</code> state. </p>\n@param cancelExportTaskRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelExportTaskRequest, Void>",
      "methodName" : "cancelExportTask"
    },
    "CreateExportTask" : {
      "documentation" : "<p> Creates an <code>ExportTask</code> which allows you to efficiently export data from a Log Group to your Amazon S3 bucket. </p> <p> This is an asynchronous call. If all the required information is provided, this API will initiate an export task and respond with the task Id. Once started, <code>DescribeExportTasks</code> can be used to get the status of an export task. </p>",
      "operationName" : "CreateExportTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "createExportTaskRequest",
        "variableType" : "CreateExportTaskRequest",
        "variableDeclarationType" : "CreateExportTaskRequest",
        "documentation" : null,
        "simpleType" : "CreateExportTaskRequest",
        "variableSetterType" : "CreateExportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateExportTaskResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Returned if you have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Returned if the specified resource already exists.</p>"
      } ],
      "syncDocumentation" : "/**<p> Creates an <code>ExportTask</code> which allows you to efficiently export data from a Log Group to your Amazon S3 bucket. </p> <p> This is an asynchronous call. If all the required information is provided, this API will initiate an export task and respond with the task Id. Once started, <code>DescribeExportTasks</code> can be used to get the status of an export task. </p>\n@param createExportTaskRequest null\n@return Result of the CreateExportTask operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws LimitExceededException Returned if you have reached the maximum number of resources that can be created.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws ResourceAlreadyExistsException Returned if the specified resource already exists.*/",
      "asyncDocumentation" : "/**<p> Creates an <code>ExportTask</code> which allows you to efficiently export data from a Log Group to your Amazon S3 bucket. </p> <p> This is an asynchronous call. If all the required information is provided, this API will initiate an export task and respond with the task Id. Once started, <code>DescribeExportTasks</code> can be used to get the status of an export task. </p>\n@param createExportTaskRequest null\n@return A Java Future containing the result of the CreateExportTask operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Creates an <code>ExportTask</code> which allows you to efficiently export data from a Log Group to your Amazon S3 bucket. </p> <p> This is an asynchronous call. If all the required information is provided, this API will initiate an export task and respond with the task Id. Once started, <code>DescribeExportTasks</code> can be used to get the status of an export task. </p>\n@param createExportTaskRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the CreateExportTask operation returned by the service.*/",
      "syncReturnType" : "CreateExportTaskResult",
      "asyncReturnType" : "CreateExportTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateExportTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateExportTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateExportTaskRequest, CreateExportTaskResult>",
      "methodName" : "createExportTask"
    },
    "CreateLogGroup" : {
      "documentation" : "<p> Creates a new log group with the specified name. The name of the log group must be unique within a region for an AWS account. You can create up to 500 log groups per account. </p> <p> You must use the following guidelines when naming a log group: <ul> <li>Log group names can be between 1 and 512 characters long.</li> <li>Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), '/' (forward slash), and '.' (period).</li> </ul> </p>",
      "operationName" : "CreateLogGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLogGroupRequest",
        "variableType" : "CreateLogGroupRequest",
        "variableDeclarationType" : "CreateLogGroupRequest",
        "documentation" : null,
        "simpleType" : "CreateLogGroupRequest",
        "variableSetterType" : "CreateLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Returned if the specified resource already exists.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Returned if you have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Creates a new log group with the specified name. The name of the log group must be unique within a region for an AWS account. You can create up to 500 log groups per account. </p> <p> You must use the following guidelines when naming a log group: <ul> <li>Log group names can be between 1 and 512 characters long.</li> <li>Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), '/' (forward slash), and '.' (period).</li> </ul> </p>\n@param createLogGroupRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceAlreadyExistsException Returned if the specified resource already exists.\n@throws LimitExceededException Returned if you have reached the maximum number of resources that can be created.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Creates a new log group with the specified name. The name of the log group must be unique within a region for an AWS account. You can create up to 500 log groups per account. </p> <p> You must use the following guidelines when naming a log group: <ul> <li>Log group names can be between 1 and 512 characters long.</li> <li>Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), '/' (forward slash), and '.' (period).</li> </ul> </p>\n@param createLogGroupRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Creates a new log group with the specified name. The name of the log group must be unique within a region for an AWS account. You can create up to 500 log groups per account. </p> <p> You must use the following guidelines when naming a log group: <ul> <li>Log group names can be between 1 and 512 characters long.</li> <li>Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), '/' (forward slash), and '.' (period).</li> </ul> </p>\n@param createLogGroupRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLogGroupRequest, Void>",
      "methodName" : "createLogGroup"
    },
    "CreateLogStream" : {
      "documentation" : "<p> Creates a new log stream in the specified log group. The name of the log stream must be unique within the log group. There is no limit on the number of log streams that can exist in a log group. </p> <p> You must use the following guidelines when naming a log stream: <ul> <li>Log stream names can be between 1 and 512 characters long.</li> <li>The ':' colon character is not allowed.</li> </ul> </p>",
      "operationName" : "CreateLogStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLogStreamRequest",
        "variableType" : "CreateLogStreamRequest",
        "variableDeclarationType" : "CreateLogStreamRequest",
        "documentation" : null,
        "simpleType" : "CreateLogStreamRequest",
        "variableSetterType" : "CreateLogStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Returned if the specified resource already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Creates a new log stream in the specified log group. The name of the log stream must be unique within the log group. There is no limit on the number of log streams that can exist in a log group. </p> <p> You must use the following guidelines when naming a log stream: <ul> <li>Log stream names can be between 1 and 512 characters long.</li> <li>The ':' colon character is not allowed.</li> </ul> </p>\n@param createLogStreamRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceAlreadyExistsException Returned if the specified resource already exists.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Creates a new log stream in the specified log group. The name of the log stream must be unique within the log group. There is no limit on the number of log streams that can exist in a log group. </p> <p> You must use the following guidelines when naming a log stream: <ul> <li>Log stream names can be between 1 and 512 characters long.</li> <li>The ':' colon character is not allowed.</li> </ul> </p>\n@param createLogStreamRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Creates a new log stream in the specified log group. The name of the log stream must be unique within the log group. There is no limit on the number of log streams that can exist in a log group. </p> <p> You must use the following guidelines when naming a log stream: <ul> <li>Log stream names can be between 1 and 512 characters long.</li> <li>The ':' colon character is not allowed.</li> </ul> </p>\n@param createLogStreamRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLogStreamRequest, Void>",
      "methodName" : "createLogStream"
    },
    "DeleteDestination" : {
      "documentation" : "<p> Deletes the destination with the specified name and eventually disables all the subscription filters that publish to it. This will not delete the physical resource encapsulated by the destination. </p>",
      "operationName" : "DeleteDestination",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDestinationRequest",
        "variableType" : "DeleteDestinationRequest",
        "variableDeclarationType" : "DeleteDestinationRequest",
        "documentation" : null,
        "simpleType" : "DeleteDestinationRequest",
        "variableSetterType" : "DeleteDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Deletes the destination with the specified name and eventually disables all the subscription filters that publish to it. This will not delete the physical resource encapsulated by the destination. </p>\n@param deleteDestinationRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Deletes the destination with the specified name and eventually disables all the subscription filters that publish to it. This will not delete the physical resource encapsulated by the destination. </p>\n@param deleteDestinationRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Deletes the destination with the specified name and eventually disables all the subscription filters that publish to it. This will not delete the physical resource encapsulated by the destination. </p>\n@param deleteDestinationRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDestinationRequest, Void>",
      "methodName" : "deleteDestination"
    },
    "DeleteLogGroup" : {
      "documentation" : "<p> Deletes the log group with the specified name and permanently deletes all the archived log events associated with it. </p>",
      "operationName" : "DeleteLogGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLogGroupRequest",
        "variableType" : "DeleteLogGroupRequest",
        "variableDeclarationType" : "DeleteLogGroupRequest",
        "documentation" : null,
        "simpleType" : "DeleteLogGroupRequest",
        "variableSetterType" : "DeleteLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Deletes the log group with the specified name and permanently deletes all the archived log events associated with it. </p>\n@param deleteLogGroupRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Deletes the log group with the specified name and permanently deletes all the archived log events associated with it. </p>\n@param deleteLogGroupRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Deletes the log group with the specified name and permanently deletes all the archived log events associated with it. </p>\n@param deleteLogGroupRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLogGroupRequest, Void>",
      "methodName" : "deleteLogGroup"
    },
    "DeleteLogStream" : {
      "documentation" : "<p> Deletes a log stream and permanently deletes all the archived log events associated with it. </p>",
      "operationName" : "DeleteLogStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLogStreamRequest",
        "variableType" : "DeleteLogStreamRequest",
        "variableDeclarationType" : "DeleteLogStreamRequest",
        "documentation" : null,
        "simpleType" : "DeleteLogStreamRequest",
        "variableSetterType" : "DeleteLogStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Deletes a log stream and permanently deletes all the archived log events associated with it. </p>\n@param deleteLogStreamRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Deletes a log stream and permanently deletes all the archived log events associated with it. </p>\n@param deleteLogStreamRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Deletes a log stream and permanently deletes all the archived log events associated with it. </p>\n@param deleteLogStreamRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLogStreamRequest, Void>",
      "methodName" : "deleteLogStream"
    },
    "DeleteMetricFilter" : {
      "documentation" : "<p> Deletes a metric filter associated with the specified log group. </p>",
      "operationName" : "DeleteMetricFilter",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteMetricFilterRequest",
        "variableType" : "DeleteMetricFilterRequest",
        "variableDeclarationType" : "DeleteMetricFilterRequest",
        "documentation" : null,
        "simpleType" : "DeleteMetricFilterRequest",
        "variableSetterType" : "DeleteMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Deletes a metric filter associated with the specified log group. </p>\n@param deleteMetricFilterRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Deletes a metric filter associated with the specified log group. </p>\n@param deleteMetricFilterRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Deletes a metric filter associated with the specified log group. </p>\n@param deleteMetricFilterRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMetricFilterRequest, Void>",
      "methodName" : "deleteMetricFilter"
    },
    "DeleteRetentionPolicy" : {
      "documentation" : "<p> Deletes the retention policy of the specified log group. Log events would not expire if they belong to log groups without a retention policy. </p>",
      "operationName" : "DeleteRetentionPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRetentionPolicyRequest",
        "variableType" : "DeleteRetentionPolicyRequest",
        "variableDeclarationType" : "DeleteRetentionPolicyRequest",
        "documentation" : null,
        "simpleType" : "DeleteRetentionPolicyRequest",
        "variableSetterType" : "DeleteRetentionPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Deletes the retention policy of the specified log group. Log events would not expire if they belong to log groups without a retention policy. </p>\n@param deleteRetentionPolicyRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Deletes the retention policy of the specified log group. Log events would not expire if they belong to log groups without a retention policy. </p>\n@param deleteRetentionPolicyRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Deletes the retention policy of the specified log group. Log events would not expire if they belong to log groups without a retention policy. </p>\n@param deleteRetentionPolicyRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRetentionPolicyRequest, Void>",
      "methodName" : "deleteRetentionPolicy"
    },
    "DeleteSubscriptionFilter" : {
      "documentation" : "<p> Deletes a subscription filter associated with the specified log group. </p>",
      "operationName" : "DeleteSubscriptionFilter",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteSubscriptionFilterRequest",
        "variableType" : "DeleteSubscriptionFilterRequest",
        "variableDeclarationType" : "DeleteSubscriptionFilterRequest",
        "documentation" : null,
        "simpleType" : "DeleteSubscriptionFilterRequest",
        "variableSetterType" : "DeleteSubscriptionFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Deletes a subscription filter associated with the specified log group. </p>\n@param deleteSubscriptionFilterRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Deletes a subscription filter associated with the specified log group. </p>\n@param deleteSubscriptionFilterRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Deletes a subscription filter associated with the specified log group. </p>\n@param deleteSubscriptionFilterRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriptionFilterRequest, Void>",
      "methodName" : "deleteSubscriptionFilter"
    },
    "DescribeDestinations" : {
      "documentation" : "<p> Returns all the destinations that are associated with the AWS account making the request. The list returned in the response is ASCII-sorted by destination name. </p> <p> By default, this operation returns up to 50 destinations. If there are more destinations to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of destinations returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>",
      "operationName" : "DescribeDestinations",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDestinationsRequest",
        "variableType" : "DescribeDestinationsRequest",
        "variableDeclarationType" : "DescribeDestinationsRequest",
        "documentation" : null,
        "simpleType" : "DescribeDestinationsRequest",
        "variableSetterType" : "DescribeDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDestinationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Returns all the destinations that are associated with the AWS account making the request. The list returned in the response is ASCII-sorted by destination name. </p> <p> By default, this operation returns up to 50 destinations. If there are more destinations to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of destinations returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeDestinationsRequest null\n@return Result of the DescribeDestinations operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Returns all the destinations that are associated with the AWS account making the request. The list returned in the response is ASCII-sorted by destination name. </p> <p> By default, this operation returns up to 50 destinations. If there are more destinations to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of destinations returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeDestinationsRequest null\n@return A Java Future containing the result of the DescribeDestinations operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Returns all the destinations that are associated with the AWS account making the request. The list returned in the response is ASCII-sorted by destination name. </p> <p> By default, this operation returns up to 50 destinations. If there are more destinations to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of destinations returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeDestinationsRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeDestinations operation returned by the service.*/",
      "syncReturnType" : "DescribeDestinationsResult",
      "asyncReturnType" : "DescribeDestinationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDestinationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDestinationsRequest, DescribeDestinationsResult>",
      "methodName" : "describeDestinations"
    },
    "DescribeExportTasks" : {
      "documentation" : "<p> Returns all the export tasks that are associated with the AWS account making the request. The export tasks can be filtered based on <code>TaskId</code> or <code>TaskStatus</code>. </p> <p> By default, this operation returns up to 50 export tasks that satisfy the specified filters. If there are more export tasks to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of export tasks returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>",
      "operationName" : "DescribeExportTasks",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeExportTasksRequest",
        "variableType" : "DescribeExportTasksRequest",
        "variableDeclarationType" : "DescribeExportTasksRequest",
        "documentation" : null,
        "simpleType" : "DescribeExportTasksRequest",
        "variableSetterType" : "DescribeExportTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeExportTasksResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Returns all the export tasks that are associated with the AWS account making the request. The export tasks can be filtered based on <code>TaskId</code> or <code>TaskStatus</code>. </p> <p> By default, this operation returns up to 50 export tasks that satisfy the specified filters. If there are more export tasks to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of export tasks returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeExportTasksRequest null\n@return Result of the DescribeExportTasks operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Returns all the export tasks that are associated with the AWS account making the request. The export tasks can be filtered based on <code>TaskId</code> or <code>TaskStatus</code>. </p> <p> By default, this operation returns up to 50 export tasks that satisfy the specified filters. If there are more export tasks to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of export tasks returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeExportTasksRequest null\n@return A Java Future containing the result of the DescribeExportTasks operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Returns all the export tasks that are associated with the AWS account making the request. The export tasks can be filtered based on <code>TaskId</code> or <code>TaskStatus</code>. </p> <p> By default, this operation returns up to 50 export tasks that satisfy the specified filters. If there are more export tasks to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of export tasks returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeExportTasksRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeExportTasks operation returned by the service.*/",
      "syncReturnType" : "DescribeExportTasksResult",
      "asyncReturnType" : "DescribeExportTasksResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExportTasksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExportTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExportTasksRequest, DescribeExportTasksResult>",
      "methodName" : "describeExportTasks"
    },
    "DescribeLogGroups" : {
      "documentation" : "<p> Returns all the log groups that are associated with the AWS account making the request. The list returned in the response is ASCII-sorted by log group name. </p> <p> By default, this operation returns up to 50 log groups. If there are more log groups to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of log groups returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>",
      "operationName" : "DescribeLogGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLogGroupsRequest",
        "variableType" : "DescribeLogGroupsRequest",
        "variableDeclarationType" : "DescribeLogGroupsRequest",
        "documentation" : null,
        "simpleType" : "DescribeLogGroupsRequest",
        "variableSetterType" : "DescribeLogGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLogGroupsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Returns all the log groups that are associated with the AWS account making the request. The list returned in the response is ASCII-sorted by log group name. </p> <p> By default, this operation returns up to 50 log groups. If there are more log groups to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of log groups returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeLogGroupsRequest null\n@return Result of the DescribeLogGroups operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Returns all the log groups that are associated with the AWS account making the request. The list returned in the response is ASCII-sorted by log group name. </p> <p> By default, this operation returns up to 50 log groups. If there are more log groups to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of log groups returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeLogGroupsRequest null\n@return A Java Future containing the result of the DescribeLogGroups operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Returns all the log groups that are associated with the AWS account making the request. The list returned in the response is ASCII-sorted by log group name. </p> <p> By default, this operation returns up to 50 log groups. If there are more log groups to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of log groups returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeLogGroupsRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeLogGroups operation returned by the service.*/",
      "syncReturnType" : "DescribeLogGroupsResult",
      "asyncReturnType" : "DescribeLogGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLogGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLogGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLogGroupsRequest, DescribeLogGroupsResult>",
      "methodName" : "describeLogGroups"
    },
    "DescribeLogStreams" : {
      "documentation" : "<p> Returns all the log streams that are associated with the specified log group. The list returned in the response is ASCII-sorted by log stream name. </p> <p> By default, this operation returns up to 50 log streams. If there are more log streams to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of log streams returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. This operation has a limit of five transactions per second, after which transactions are throttled. </p>",
      "operationName" : "DescribeLogStreams",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLogStreamsRequest",
        "variableType" : "DescribeLogStreamsRequest",
        "variableDeclarationType" : "DescribeLogStreamsRequest",
        "documentation" : null,
        "simpleType" : "DescribeLogStreamsRequest",
        "variableSetterType" : "DescribeLogStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLogStreamsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Returns all the log streams that are associated with the specified log group. The list returned in the response is ASCII-sorted by log stream name. </p> <p> By default, this operation returns up to 50 log streams. If there are more log streams to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of log streams returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. This operation has a limit of five transactions per second, after which transactions are throttled. </p>\n@param describeLogStreamsRequest null\n@return Result of the DescribeLogStreams operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Returns all the log streams that are associated with the specified log group. The list returned in the response is ASCII-sorted by log stream name. </p> <p> By default, this operation returns up to 50 log streams. If there are more log streams to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of log streams returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. This operation has a limit of five transactions per second, after which transactions are throttled. </p>\n@param describeLogStreamsRequest null\n@return A Java Future containing the result of the DescribeLogStreams operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Returns all the log streams that are associated with the specified log group. The list returned in the response is ASCII-sorted by log stream name. </p> <p> By default, this operation returns up to 50 log streams. If there are more log streams to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of log streams returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. This operation has a limit of five transactions per second, after which transactions are throttled. </p>\n@param describeLogStreamsRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeLogStreams operation returned by the service.*/",
      "syncReturnType" : "DescribeLogStreamsResult",
      "asyncReturnType" : "DescribeLogStreamsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLogStreamsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLogStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLogStreamsRequest, DescribeLogStreamsResult>",
      "methodName" : "describeLogStreams"
    },
    "DescribeMetricFilters" : {
      "documentation" : "<p> Returns all the metrics filters associated with the specified log group. The list returned in the response is ASCII-sorted by filter name. </p> <p> By default, this operation returns up to 50 metric filters. If there are more metric filters to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of metric filters returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>",
      "operationName" : "DescribeMetricFilters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeMetricFiltersRequest",
        "variableType" : "DescribeMetricFiltersRequest",
        "variableDeclarationType" : "DescribeMetricFiltersRequest",
        "documentation" : null,
        "simpleType" : "DescribeMetricFiltersRequest",
        "variableSetterType" : "DescribeMetricFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeMetricFiltersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Returns all the metrics filters associated with the specified log group. The list returned in the response is ASCII-sorted by filter name. </p> <p> By default, this operation returns up to 50 metric filters. If there are more metric filters to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of metric filters returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeMetricFiltersRequest null\n@return Result of the DescribeMetricFilters operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Returns all the metrics filters associated with the specified log group. The list returned in the response is ASCII-sorted by filter name. </p> <p> By default, this operation returns up to 50 metric filters. If there are more metric filters to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of metric filters returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeMetricFiltersRequest null\n@return A Java Future containing the result of the DescribeMetricFilters operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Returns all the metrics filters associated with the specified log group. The list returned in the response is ASCII-sorted by filter name. </p> <p> By default, this operation returns up to 50 metric filters. If there are more metric filters to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of metric filters returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeMetricFiltersRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeMetricFilters operation returned by the service.*/",
      "syncReturnType" : "DescribeMetricFiltersResult",
      "asyncReturnType" : "DescribeMetricFiltersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMetricFiltersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMetricFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMetricFiltersRequest, DescribeMetricFiltersResult>",
      "methodName" : "describeMetricFilters"
    },
    "DescribeSubscriptionFilters" : {
      "documentation" : "<p> Returns all the subscription filters associated with the specified log group. The list returned in the response is ASCII-sorted by filter name. </p> <p> By default, this operation returns up to 50 subscription filters. If there are more subscription filters to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of subscription filters returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>",
      "operationName" : "DescribeSubscriptionFilters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeSubscriptionFiltersRequest",
        "variableType" : "DescribeSubscriptionFiltersRequest",
        "variableDeclarationType" : "DescribeSubscriptionFiltersRequest",
        "documentation" : null,
        "simpleType" : "DescribeSubscriptionFiltersRequest",
        "variableSetterType" : "DescribeSubscriptionFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeSubscriptionFiltersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Returns all the subscription filters associated with the specified log group. The list returned in the response is ASCII-sorted by filter name. </p> <p> By default, this operation returns up to 50 subscription filters. If there are more subscription filters to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of subscription filters returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeSubscriptionFiltersRequest null\n@return Result of the DescribeSubscriptionFilters operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Returns all the subscription filters associated with the specified log group. The list returned in the response is ASCII-sorted by filter name. </p> <p> By default, this operation returns up to 50 subscription filters. If there are more subscription filters to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of subscription filters returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeSubscriptionFiltersRequest null\n@return A Java Future containing the result of the DescribeSubscriptionFilters operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Returns all the subscription filters associated with the specified log group. The list returned in the response is ASCII-sorted by filter name. </p> <p> By default, this operation returns up to 50 subscription filters. If there are more subscription filters to list, the response would contain a <code class=\"code\">nextToken</code> value in the response body. You can also limit the number of subscription filters returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param describeSubscriptionFiltersRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the DescribeSubscriptionFilters operation returned by the service.*/",
      "syncReturnType" : "DescribeSubscriptionFiltersResult",
      "asyncReturnType" : "DescribeSubscriptionFiltersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscriptionFiltersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscriptionFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscriptionFiltersRequest, DescribeSubscriptionFiltersResult>",
      "methodName" : "describeSubscriptionFilters"
    },
    "FilterLogEvents" : {
      "documentation" : "<p> Retrieves log events, optionally filtered by a filter pattern from the specified log group. You can provide an optional time range to filter the results on the event <code class=\"code\">timestamp</code>. You can limit the streams searched to an explicit list of <code class=\"code\">logStreamNames</code>. </p> <p> By default, this operation returns as much matching log events as can fit in a response size of 1MB, up to 10,000 log events, or all the events found within a time-bounded scan window. If the response includes a <code class=\"code\">nextToken</code>, then there is more data to search, and the search can be resumed with a new request providing the nextToken. The response will contain a list of <code class=\"code\">searchedLogStreams</code> that contains information about which streams were searched in the request and whether they have been searched completely or require further pagination. The <code class=\"code\">limit</code> parameter in the request. can be used to specify the maximum number of events to return in a page. </p>",
      "operationName" : "FilterLogEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "filterLogEventsRequest",
        "variableType" : "FilterLogEventsRequest",
        "variableDeclarationType" : "FilterLogEventsRequest",
        "documentation" : null,
        "simpleType" : "FilterLogEventsRequest",
        "variableSetterType" : "FilterLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "FilterLogEventsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Retrieves log events, optionally filtered by a filter pattern from the specified log group. You can provide an optional time range to filter the results on the event <code class=\"code\">timestamp</code>. You can limit the streams searched to an explicit list of <code class=\"code\">logStreamNames</code>. </p> <p> By default, this operation returns as much matching log events as can fit in a response size of 1MB, up to 10,000 log events, or all the events found within a time-bounded scan window. If the response includes a <code class=\"code\">nextToken</code>, then there is more data to search, and the search can be resumed with a new request providing the nextToken. The response will contain a list of <code class=\"code\">searchedLogStreams</code> that contains information about which streams were searched in the request and whether they have been searched completely or require further pagination. The <code class=\"code\">limit</code> parameter in the request. can be used to specify the maximum number of events to return in a page. </p>\n@param filterLogEventsRequest null\n@return Result of the FilterLogEvents operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Retrieves log events, optionally filtered by a filter pattern from the specified log group. You can provide an optional time range to filter the results on the event <code class=\"code\">timestamp</code>. You can limit the streams searched to an explicit list of <code class=\"code\">logStreamNames</code>. </p> <p> By default, this operation returns as much matching log events as can fit in a response size of 1MB, up to 10,000 log events, or all the events found within a time-bounded scan window. If the response includes a <code class=\"code\">nextToken</code>, then there is more data to search, and the search can be resumed with a new request providing the nextToken. The response will contain a list of <code class=\"code\">searchedLogStreams</code> that contains information about which streams were searched in the request and whether they have been searched completely or require further pagination. The <code class=\"code\">limit</code> parameter in the request. can be used to specify the maximum number of events to return in a page. </p>\n@param filterLogEventsRequest null\n@return A Java Future containing the result of the FilterLogEvents operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Retrieves log events, optionally filtered by a filter pattern from the specified log group. You can provide an optional time range to filter the results on the event <code class=\"code\">timestamp</code>. You can limit the streams searched to an explicit list of <code class=\"code\">logStreamNames</code>. </p> <p> By default, this operation returns as much matching log events as can fit in a response size of 1MB, up to 10,000 log events, or all the events found within a time-bounded scan window. If the response includes a <code class=\"code\">nextToken</code>, then there is more data to search, and the search can be resumed with a new request providing the nextToken. The response will contain a list of <code class=\"code\">searchedLogStreams</code> that contains information about which streams were searched in the request and whether they have been searched completely or require further pagination. The <code class=\"code\">limit</code> parameter in the request. can be used to specify the maximum number of events to return in a page. </p>\n@param filterLogEventsRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the FilterLogEvents operation returned by the service.*/",
      "syncReturnType" : "FilterLogEventsResult",
      "asyncReturnType" : "FilterLogEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<FilterLogEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<FilterLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<FilterLogEventsRequest, FilterLogEventsResult>",
      "methodName" : "filterLogEvents"
    },
    "GetLogEvents" : {
      "documentation" : "<p> Retrieves log events from the specified log stream. You can provide an optional time range to filter the results on the event <code class=\"code\">timestamp</code>. </p> <p> By default, this operation returns as much log events as can fit in a response size of 1MB, up to 10,000 log events. The response will always include a <code class=\"code\">nextForwardToken</code> and a <code class=\"code\">nextBackwardToken</code> in the response body. You can use any of these tokens in subsequent <code class=\"code\">GetLogEvents</code> requests to paginate through events in either forward or backward direction. You can also limit the number of log events returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>",
      "operationName" : "GetLogEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "getLogEventsRequest",
        "variableType" : "GetLogEventsRequest",
        "variableDeclarationType" : "GetLogEventsRequest",
        "documentation" : null,
        "simpleType" : "GetLogEventsRequest",
        "variableSetterType" : "GetLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetLogEventsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Retrieves log events from the specified log stream. You can provide an optional time range to filter the results on the event <code class=\"code\">timestamp</code>. </p> <p> By default, this operation returns as much log events as can fit in a response size of 1MB, up to 10,000 log events. The response will always include a <code class=\"code\">nextForwardToken</code> and a <code class=\"code\">nextBackwardToken</code> in the response body. You can use any of these tokens in subsequent <code class=\"code\">GetLogEvents</code> requests to paginate through events in either forward or backward direction. You can also limit the number of log events returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param getLogEventsRequest null\n@return Result of the GetLogEvents operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Retrieves log events from the specified log stream. You can provide an optional time range to filter the results on the event <code class=\"code\">timestamp</code>. </p> <p> By default, this operation returns as much log events as can fit in a response size of 1MB, up to 10,000 log events. The response will always include a <code class=\"code\">nextForwardToken</code> and a <code class=\"code\">nextBackwardToken</code> in the response body. You can use any of these tokens in subsequent <code class=\"code\">GetLogEvents</code> requests to paginate through events in either forward or backward direction. You can also limit the number of log events returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param getLogEventsRequest null\n@return A Java Future containing the result of the GetLogEvents operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Retrieves log events from the specified log stream. You can provide an optional time range to filter the results on the event <code class=\"code\">timestamp</code>. </p> <p> By default, this operation returns as much log events as can fit in a response size of 1MB, up to 10,000 log events. The response will always include a <code class=\"code\">nextForwardToken</code> and a <code class=\"code\">nextBackwardToken</code> in the response body. You can use any of these tokens in subsequent <code class=\"code\">GetLogEvents</code> requests to paginate through events in either forward or backward direction. You can also limit the number of log events returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p>\n@param getLogEventsRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the GetLogEvents operation returned by the service.*/",
      "syncReturnType" : "GetLogEventsResult",
      "asyncReturnType" : "GetLogEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetLogEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLogEventsRequest, GetLogEventsResult>",
      "methodName" : "getLogEvents"
    },
    "PutDestination" : {
      "documentation" : "<p> Creates or updates a <code>Destination</code>. A destination encapsulates a physical resource (such as a Kinesis stream) and allows you to subscribe to a real-time stream of log events of a different account, ingested through <code class=\"code\">PutLogEvents</code> requests. Currently, the only supported physical resource is a Amazon Kinesis stream belonging to the same account as the destination. </p> <p> A destination controls what is written to its Amazon Kinesis stream through an access policy. By default, PutDestination does not set any access policy with the destination, which means a cross-account user will not be able to call <code>PutSubscriptionFilter</code> against this destination. To enable that, the destination owner must call <code>PutDestinationPolicy</code> after PutDestination. </p>",
      "operationName" : "PutDestination",
      "deprecated" : false,
      "input" : {
        "variableName" : "putDestinationRequest",
        "variableType" : "PutDestinationRequest",
        "variableDeclarationType" : "PutDestinationRequest",
        "documentation" : null,
        "simpleType" : "PutDestinationRequest",
        "variableSetterType" : "PutDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutDestinationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Creates or updates a <code>Destination</code>. A destination encapsulates a physical resource (such as a Kinesis stream) and allows you to subscribe to a real-time stream of log events of a different account, ingested through <code class=\"code\">PutLogEvents</code> requests. Currently, the only supported physical resource is a Amazon Kinesis stream belonging to the same account as the destination. </p> <p> A destination controls what is written to its Amazon Kinesis stream through an access policy. By default, PutDestination does not set any access policy with the destination, which means a cross-account user will not be able to call <code>PutSubscriptionFilter</code> against this destination. To enable that, the destination owner must call <code>PutDestinationPolicy</code> after PutDestination. </p>\n@param putDestinationRequest null\n@return Result of the PutDestination operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Creates or updates a <code>Destination</code>. A destination encapsulates a physical resource (such as a Kinesis stream) and allows you to subscribe to a real-time stream of log events of a different account, ingested through <code class=\"code\">PutLogEvents</code> requests. Currently, the only supported physical resource is a Amazon Kinesis stream belonging to the same account as the destination. </p> <p> A destination controls what is written to its Amazon Kinesis stream through an access policy. By default, PutDestination does not set any access policy with the destination, which means a cross-account user will not be able to call <code>PutSubscriptionFilter</code> against this destination. To enable that, the destination owner must call <code>PutDestinationPolicy</code> after PutDestination. </p>\n@param putDestinationRequest null\n@return A Java Future containing the result of the PutDestination operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Creates or updates a <code>Destination</code>. A destination encapsulates a physical resource (such as a Kinesis stream) and allows you to subscribe to a real-time stream of log events of a different account, ingested through <code class=\"code\">PutLogEvents</code> requests. Currently, the only supported physical resource is a Amazon Kinesis stream belonging to the same account as the destination. </p> <p> A destination controls what is written to its Amazon Kinesis stream through an access policy. By default, PutDestination does not set any access policy with the destination, which means a cross-account user will not be able to call <code>PutSubscriptionFilter</code> against this destination. To enable that, the destination owner must call <code>PutDestinationPolicy</code> after PutDestination. </p>\n@param putDestinationRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the PutDestination operation returned by the service.*/",
      "syncReturnType" : "PutDestinationResult",
      "asyncReturnType" : "PutDestinationResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutDestinationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDestinationRequest, PutDestinationResult>",
      "methodName" : "putDestination"
    },
    "PutDestinationPolicy" : {
      "documentation" : "<p> Creates or updates an access policy associated with an existing <code>Destination</code>. An access policy is an <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies_overview.html\">IAM policy document</a> that is used to authorize claims to register a subscription filter against a given destination. </p>",
      "operationName" : "PutDestinationPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "putDestinationPolicyRequest",
        "variableType" : "PutDestinationPolicyRequest",
        "variableDeclarationType" : "PutDestinationPolicyRequest",
        "documentation" : null,
        "simpleType" : "PutDestinationPolicyRequest",
        "variableSetterType" : "PutDestinationPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Creates or updates an access policy associated with an existing <code>Destination</code>. An access policy is an <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies_overview.html\">IAM policy document</a> that is used to authorize claims to register a subscription filter against a given destination. </p>\n@param putDestinationPolicyRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Creates or updates an access policy associated with an existing <code>Destination</code>. An access policy is an <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies_overview.html\">IAM policy document</a> that is used to authorize claims to register a subscription filter against a given destination. </p>\n@param putDestinationPolicyRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Creates or updates an access policy associated with an existing <code>Destination</code>. An access policy is an <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies_overview.html\">IAM policy document</a> that is used to authorize claims to register a subscription filter against a given destination. </p>\n@param putDestinationPolicyRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDestinationPolicyRequest, Void>",
      "methodName" : "putDestinationPolicy"
    },
    "PutLogEvents" : {
      "documentation" : "<p> Uploads a batch of log events to the specified log stream. </p> <p> Every PutLogEvents request must include the <code class=\"code\">sequenceToken</code> obtained from the response of the previous request. An upload in a newly created log stream does not require a <code class=\"code\">sequenceToken</code>. </p> <p> The batch of events must satisfy the following constraints: <ul> <li>The maximum batch size is 1,048,576 bytes, and this size is calculated as the sum of all event messages in UTF-8, plus 26 bytes for each log event.</li> <li>None of the log events in the batch can be more than 2 hours in the future.</li> <li>None of the log events in the batch can be older than 14 days or the retention period of the log group.</li> <li>The log events in the batch must be in chronological ordered by their <code class=\"code\">timestamp</code>.</li> <li>The maximum number of log events in a batch is 10,000.</li> </ul> </p>",
      "operationName" : "PutLogEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "putLogEventsRequest",
        "variableType" : "PutLogEventsRequest",
        "variableDeclarationType" : "PutLogEventsRequest",
        "documentation" : null,
        "simpleType" : "PutLogEventsRequest",
        "variableSetterType" : "PutLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutLogEventsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "InvalidSequenceTokenException",
        "documentation" : null
      }, {
        "exceptionName" : "DataAlreadyAcceptedException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Uploads a batch of log events to the specified log stream. </p> <p> Every PutLogEvents request must include the <code class=\"code\">sequenceToken</code> obtained from the response of the previous request. An upload in a newly created log stream does not require a <code class=\"code\">sequenceToken</code>. </p> <p> The batch of events must satisfy the following constraints: <ul> <li>The maximum batch size is 1,048,576 bytes, and this size is calculated as the sum of all event messages in UTF-8, plus 26 bytes for each log event.</li> <li>None of the log events in the batch can be more than 2 hours in the future.</li> <li>None of the log events in the batch can be older than 14 days or the retention period of the log group.</li> <li>The log events in the batch must be in chronological ordered by their <code class=\"code\">timestamp</code>.</li> <li>The maximum number of log events in a batch is 10,000.</li> </ul> </p>\n@param putLogEventsRequest null\n@return Result of the PutLogEvents operation returned by the service.\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws InvalidSequenceTokenException null\n@throws DataAlreadyAcceptedException null\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Uploads a batch of log events to the specified log stream. </p> <p> Every PutLogEvents request must include the <code class=\"code\">sequenceToken</code> obtained from the response of the previous request. An upload in a newly created log stream does not require a <code class=\"code\">sequenceToken</code>. </p> <p> The batch of events must satisfy the following constraints: <ul> <li>The maximum batch size is 1,048,576 bytes, and this size is calculated as the sum of all event messages in UTF-8, plus 26 bytes for each log event.</li> <li>None of the log events in the batch can be more than 2 hours in the future.</li> <li>None of the log events in the batch can be older than 14 days or the retention period of the log group.</li> <li>The log events in the batch must be in chronological ordered by their <code class=\"code\">timestamp</code>.</li> <li>The maximum number of log events in a batch is 10,000.</li> </ul> </p>\n@param putLogEventsRequest null\n@return A Java Future containing the result of the PutLogEvents operation returned by the service.*/",
      "asyncDocumentationWithHandler" : "/**<p> Uploads a batch of log events to the specified log stream. </p> <p> Every PutLogEvents request must include the <code class=\"code\">sequenceToken</code> obtained from the response of the previous request. An upload in a newly created log stream does not require a <code class=\"code\">sequenceToken</code>. </p> <p> The batch of events must satisfy the following constraints: <ul> <li>The maximum batch size is 1,048,576 bytes, and this size is calculated as the sum of all event messages in UTF-8, plus 26 bytes for each log event.</li> <li>None of the log events in the batch can be more than 2 hours in the future.</li> <li>None of the log events in the batch can be older than 14 days or the retention period of the log group.</li> <li>The log events in the batch must be in chronological ordered by their <code class=\"code\">timestamp</code>.</li> <li>The maximum number of log events in a batch is 10,000.</li> </ul> </p>\n@param putLogEventsRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.\n@return A Java Future containing the result of the PutLogEvents operation returned by the service.*/",
      "syncReturnType" : "PutLogEventsResult",
      "asyncReturnType" : "PutLogEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutLogEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLogEventsRequest, PutLogEventsResult>",
      "methodName" : "putLogEvents"
    },
    "PutMetricFilter" : {
      "documentation" : "<p> Creates or updates a metric filter and associates it with the specified log group. Metric filters allow you to configure rules to extract metric data from log events ingested through <code class=\"code\">PutLogEvents</code> requests. </p> <p> The maximum number of metric filters that can be associated with a log group is 100. </p>",
      "operationName" : "PutMetricFilter",
      "deprecated" : false,
      "input" : {
        "variableName" : "putMetricFilterRequest",
        "variableType" : "PutMetricFilterRequest",
        "variableDeclarationType" : "PutMetricFilterRequest",
        "documentation" : null,
        "simpleType" : "PutMetricFilterRequest",
        "variableSetterType" : "PutMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Returned if you have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "syncDocumentation" : "/**<p> Creates or updates a metric filter and associates it with the specified log group. Metric filters allow you to configure rules to extract metric data from log events ingested through <code class=\"code\">PutLogEvents</code> requests. </p> <p> The maximum number of metric filters that can be associated with a log group is 100. </p>\n@param putMetricFilterRequest null\n@throws InvalidParameterException Returned if a parameter of the request is incorrectly specified.\n@throws ResourceNotFoundException Returned if the specified resource does not exist.\n@throws OperationAbortedException Returned if multiple requests to update the same resource were in conflict.\n@throws LimitExceededException Returned if you have reached the maximum number of resources that can be created.\n@throws ServiceUnavailableException Returned if the service cannot complete the request.*/",
      "asyncDocumentation" : "/**<p> Creates or updates a metric filter and associates it with the specified log group. Metric filters allow you to configure rules to extract metric data from log events ingested through <code class=\"code\">PutLogEvents</code> requests. </p> <p> The maximum number of metric filters that can be associated with a log group is 100. </p>\n@param putMetricFilterRequest null*/",
      "asyncDocumentationWithHandler" : "/**<p> Creates or updates a metric filter and associates it with the specified log group. Metric filters allow you to configure rules to extract metric data from log events ingested through <code class=\"code\">PutLogEvents</code> requests. </p> <p> The maximum number of metric filters that can be associated with a log group is 100. </p>\n@param putMetricFilterRequest null\n@param asyncHandler Asynchronous callback handler for events in the lifecycle of the request. Users can provide an implementation of the callback methods in this interface to receive notification of successful or unsuccessful completion of the operation.*/",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricFilterRequest, Void>",
      "methodName" : "putMetricFilter"
    },
    "PutRetentionPolicy" : {
      "documentation" : "<p> Sets the retention of the specified log group. A retention policy allows you to configure the number of days you want to retain log events in the specified log group. </p>",
      "operationName" : "PutRetentionPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "putRetentionPolicyRequest",
        "variableType" : "PutRetentionPolicyRequest",
        "variableDeclarationType" : "PutRetentionPolicyRequest",
        "documentation" : null,
        "simpleType" : "PutRetentionPolicyRequest",
        "variableSetterType" : "PutRetentionPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
[...]
