{
  "metadata" : {
    "apiVersion" : "2014-03-28",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>You can use Amazon CloudWatch Logs to monitor, store, and access your log files from Amazon Elastic Compute Cloud (Amazon EC2) instances, Amazon CloudTrail, or other sources. You can then retrieve the associated log data from CloudWatch Logs using the Amazon CloudWatch console, the CloudWatch Logs commands in the AWS CLI, the CloudWatch Logs API, or the CloudWatch Logs SDK.</p> <p>You can use CloudWatch Logs to:</p> <ul> <li> <p> <b>Monitor Logs from Amazon EC2 Instances in Real-time</b>: You can use CloudWatch Logs to monitor applications and systems using log data. For example, CloudWatch Logs can track the number of errors that occur in your application logs and send you a notification whenever the rate of errors exceeds a threshold you specify. CloudWatch Logs uses your log data for monitoring; so, no code changes are required. For example, you can monitor application logs for specific literal terms (such as \"NullReferenceException\") or count the number of occurrences of a literal term at a particular position in log data (such as \"404\" status codes in an Apache access log). When the term you are searching for is found, CloudWatch Logs reports the data to a Amazon CloudWatch metric that you specify.</p> </li> <li> <p> <b>Monitor Amazon CloudTrail Logged Events</b>: You can create alarms in Amazon CloudWatch and receive notifications of particular API activity as captured by CloudTrail and use the notification to perform troubleshooting.</p> </li> <li> <p> <b>Archive Log Data</b>: You can use CloudWatch Logs to store your log data in highly durable storage. You can change the log retention setting so that any log events older than this setting are automatically deleted. The CloudWatch Logs agent makes it easy to quickly send both rotated and non-rotated log data off of a host and into the log service. You can then access the raw log data when you need it.</p> </li> </ul>",
    "defaultEndpoint" : "https://logs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "logs.us-east-1.amazonaws.com",
    "syncInterface" : "AWSLogs",
    "syncClient" : "AWSLogsClient",
    "asyncInterface" : "AWSLogsAsync",
    "asyncClient" : "AWSLogsAsyncClient",
    "packageName" : "com.amazonaws.services.logs",
    "packagePath" : "com/amazonaws/services/logs",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudWatch Logs",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "logs",
    "signingName" : "logs",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSLogsClientBuilder",
    "asyncClientBuilderClassName" : "AWSLogsAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSLogsModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.logs.smoketests",
    "serviceName" : "Amazon CloudWatch Logs",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "CancelExportTask" : {
      "documentation" : "<p>Cancels an export task if it is in <code>PENDING</code> or <code>RUNNING</code> state.</p>",
      "operationName" : "CancelExportTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelExportTaskRequest",
        "variableType" : "CancelExportTaskRequest",
        "variableDeclarationType" : "CancelExportTaskRequest",
        "documentation" : "",
        "simpleType" : "CancelExportTaskRequest",
        "variableSetterType" : "CancelExportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelExportTaskResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>Returned if the operation is not valid on the specified resource</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CancelExportTaskResult",
      "asyncReturnType" : "CancelExportTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelExportTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelExportTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelExportTaskRequest, CancelExportTaskResult>",
      "methodName" : "cancelExportTask"
    },
    "CreateExportTask" : {
      "documentation" : "<p>Creates an <code>ExportTask</code> which allows you to efficiently export data from a Log Group to your Amazon S3 bucket.</p> <p>This is an asynchronous call. If all the required information is provided, this API will initiate an export task and respond with the task Id. Once started, <code>DescribeExportTasks</code> can be used to get the status of an export task. You can only have one active (<code>RUNNING</code> or <code>PENDING</code>) export task at a time, per account.</p> <p>You can export logs from multiple log groups or multiple time ranges to the same Amazon S3 bucket. To separate out log data for each export task, you can specify a prefix that will be used as the Amazon S3 key prefix for all exported objects.</p>",
      "operationName" : "CreateExportTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "createExportTaskRequest",
        "variableType" : "CreateExportTaskRequest",
        "variableDeclarationType" : "CreateExportTaskRequest",
        "documentation" : "",
        "simpleType" : "CreateExportTaskRequest",
        "variableSetterType" : "CreateExportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateExportTaskResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Returned if you have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Returned if the specified resource already exists.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateExportTaskResult",
      "asyncReturnType" : "CreateExportTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateExportTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateExportTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateExportTaskRequest, CreateExportTaskResult>",
      "methodName" : "createExportTask"
    },
    "CreateLogGroup" : {
      "documentation" : "<p>Creates a new log group with the specified name. The name of the log group must be unique within a region for an AWS account. You can create up to 500 log groups per account.</p> <p>You must use the following guidelines when naming a log group:</p> <ul> <li> <p>Log group names can be between 1 and 512 characters long.</p> </li> <li> <p>Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), '/' (forward slash), and '.' (period).</p> </li> </ul>",
      "operationName" : "CreateLogGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLogGroupRequest",
        "variableType" : "CreateLogGroupRequest",
        "variableDeclarationType" : "CreateLogGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateLogGroupRequest",
        "variableSetterType" : "CreateLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateLogGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Returned if the specified resource already exists.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Returned if you have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateLogGroupResult",
      "asyncReturnType" : "CreateLogGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLogGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLogGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLogGroupRequest, CreateLogGroupResult>",
      "methodName" : "createLogGroup"
    },
    "CreateLogStream" : {
      "documentation" : "<p>Creates a new log stream in the specified log group. The name of the log stream must be unique within the log group. There is no limit on the number of log streams that can exist in a log group.</p> <p>You must use the following guidelines when naming a log stream:</p> <ul> <li> <p>Log stream names can be between 1 and 512 characters long.</p> </li> <li> <p>The ':' colon character is not allowed.</p> </li> </ul>",
      "operationName" : "CreateLogStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLogStreamRequest",
        "variableType" : "CreateLogStreamRequest",
        "variableDeclarationType" : "CreateLogStreamRequest",
        "documentation" : "",
        "simpleType" : "CreateLogStreamRequest",
        "variableSetterType" : "CreateLogStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateLogStreamResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>Returned if the specified resource already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateLogStreamResult",
      "asyncReturnType" : "CreateLogStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLogStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLogStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLogStreamRequest, CreateLogStreamResult>",
      "methodName" : "createLogStream"
    },
    "DeleteDestination" : {
      "documentation" : "<p>Deletes the destination with the specified name and eventually disables all the subscription filters that publish to it. This will not delete the physical resource encapsulated by the destination.</p>",
      "operationName" : "DeleteDestination",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDestinationRequest",
        "variableType" : "DeleteDestinationRequest",
        "variableDeclarationType" : "DeleteDestinationRequest",
        "documentation" : "",
        "simpleType" : "DeleteDestinationRequest",
        "variableSetterType" : "DeleteDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDestinationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteDestinationResult",
      "asyncReturnType" : "DeleteDestinationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDestinationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDestinationRequest, DeleteDestinationResult>",
      "methodName" : "deleteDestination"
    },
    "DeleteLogGroup" : {
      "documentation" : "<p>Deletes the log group with the specified name and permanently deletes all the archived log events associated with it.</p>",
      "operationName" : "DeleteLogGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLogGroupRequest",
        "variableType" : "DeleteLogGroupRequest",
        "variableDeclarationType" : "DeleteLogGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteLogGroupRequest",
        "variableSetterType" : "DeleteLogGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteLogGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteLogGroupResult",
      "asyncReturnType" : "DeleteLogGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLogGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLogGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLogGroupRequest, DeleteLogGroupResult>",
      "methodName" : "deleteLogGroup"
    },
    "DeleteLogStream" : {
      "documentation" : "<p>Deletes a log stream and permanently deletes all the archived log events associated with it.</p>",
      "operationName" : "DeleteLogStream",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLogStreamRequest",
        "variableType" : "DeleteLogStreamRequest",
        "variableDeclarationType" : "DeleteLogStreamRequest",
        "documentation" : "",
        "simpleType" : "DeleteLogStreamRequest",
        "variableSetterType" : "DeleteLogStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteLogStreamResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteLogStreamResult",
      "asyncReturnType" : "DeleteLogStreamResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLogStreamResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLogStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLogStreamRequest, DeleteLogStreamResult>",
      "methodName" : "deleteLogStream"
    },
    "DeleteMetricFilter" : {
      "documentation" : "<p>Deletes a metric filter associated with the specified log group.</p>",
      "operationName" : "DeleteMetricFilter",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteMetricFilterRequest",
        "variableType" : "DeleteMetricFilterRequest",
        "variableDeclarationType" : "DeleteMetricFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteMetricFilterRequest",
        "variableSetterType" : "DeleteMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteMetricFilterResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteMetricFilterResult",
      "asyncReturnType" : "DeleteMetricFilterResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMetricFilterResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMetricFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMetricFilterRequest, DeleteMetricFilterResult>",
      "methodName" : "deleteMetricFilter"
    },
    "DeleteRetentionPolicy" : {
      "documentation" : "<p>Deletes the retention policy of the specified log group. Log events would not expire if they belong to log groups without a retention policy.</p>",
      "operationName" : "DeleteRetentionPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRetentionPolicyRequest",
        "variableType" : "DeleteRetentionPolicyRequest",
        "variableDeclarationType" : "DeleteRetentionPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteRetentionPolicyRequest",
        "variableSetterType" : "DeleteRetentionPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRetentionPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteRetentionPolicyResult",
      "asyncReturnType" : "DeleteRetentionPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRetentionPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRetentionPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRetentionPolicyRequest, DeleteRetentionPolicyResult>",
      "methodName" : "deleteRetentionPolicy"
    },
    "DeleteSubscriptionFilter" : {
      "documentation" : "<p>Deletes a subscription filter associated with the specified log group.</p>",
      "operationName" : "DeleteSubscriptionFilter",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteSubscriptionFilterRequest",
        "variableType" : "DeleteSubscriptionFilterRequest",
        "variableDeclarationType" : "DeleteSubscriptionFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubscriptionFilterRequest",
        "variableSetterType" : "DeleteSubscriptionFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteSubscriptionFilterResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteSubscriptionFilterResult",
      "asyncReturnType" : "DeleteSubscriptionFilterResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriptionFilterResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriptionFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriptionFilterRequest, DeleteSubscriptionFilterResult>",
      "methodName" : "deleteSubscriptionFilter"
    },
    "DescribeDestinations" : {
      "documentation" : "<p>Returns all the destinations that are associated with the AWS account making the request. The list returned in the response is ASCII-sorted by destination name.</p> <p>By default, this operation returns up to 50 destinations. If there are more destinations to list, the response would contain a <code>nextToken</code> value in the response body. You can also limit the number of destinations returned in the response by specifying the <code>limit</code> parameter in the request.</p>",
      "operationName" : "DescribeDestinations",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDestinationsRequest",
        "variableType" : "DescribeDestinationsRequest",
        "variableDeclarationType" : "DescribeDestinationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeDestinationsRequest",
        "variableSetterType" : "DescribeDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDestinationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeDestinationsResult",
      "asyncReturnType" : "DescribeDestinationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDestinationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDestinationsRequest, DescribeDestinationsResult>",
      "methodName" : "describeDestinations"
    },
    "DescribeExportTasks" : {
      "documentation" : "<p>Returns all the export tasks that are associated with the AWS account making the request. The export tasks can be filtered based on <code>TaskId</code> or <code>TaskStatus</code>.</p> <p>By default, this operation returns up to 50 export tasks that satisfy the specified filters. If there are more export tasks to list, the response would contain a <code>nextToken</code> value in the response body. You can also limit the number of export tasks returned in the response by specifying the <code>limit</code> parameter in the request.</p>",
      "operationName" : "DescribeExportTasks",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeExportTasksRequest",
        "variableType" : "DescribeExportTasksRequest",
        "variableDeclarationType" : "DescribeExportTasksRequest",
        "documentation" : "",
        "simpleType" : "DescribeExportTasksRequest",
        "variableSetterType" : "DescribeExportTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeExportTasksResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeExportTasksResult",
      "asyncReturnType" : "DescribeExportTasksResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExportTasksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExportTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExportTasksRequest, DescribeExportTasksResult>",
      "methodName" : "describeExportTasks"
    },
    "DescribeLogGroups" : {
      "documentation" : "<p>Returns all the log groups that are associated with the AWS account making the request. The list returned in the response is ASCII-sorted by log group name.</p> <p>By default, this operation returns up to 50 log groups. If there are more log groups to list, the response would contain a <code>nextToken</code> value in the response body. You can also limit the number of log groups returned in the response by specifying the <code>limit</code> parameter in the request.</p>",
      "operationName" : "DescribeLogGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLogGroupsRequest",
        "variableType" : "DescribeLogGroupsRequest",
        "variableDeclarationType" : "DescribeLogGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeLogGroupsRequest",
        "variableSetterType" : "DescribeLogGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLogGroupsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeLogGroupsResult",
      "asyncReturnType" : "DescribeLogGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLogGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLogGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLogGroupsRequest, DescribeLogGroupsResult>",
      "methodName" : "describeLogGroups"
    },
    "DescribeLogStreams" : {
      "documentation" : "<p>Returns all the log streams that are associated with the specified log group. The list returned in the response is ASCII-sorted by log stream name.</p> <p>By default, this operation returns up to 50 log streams. If there are more log streams to list, the response would contain a <code>nextToken</code> value in the response body. You can also limit the number of log streams returned in the response by specifying the <code>limit</code> parameter in the request. This operation has a limit of five transactions per second, after which transactions are throttled.</p>",
      "operationName" : "DescribeLogStreams",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLogStreamsRequest",
        "variableType" : "DescribeLogStreamsRequest",
        "variableDeclarationType" : "DescribeLogStreamsRequest",
        "documentation" : "",
        "simpleType" : "DescribeLogStreamsRequest",
        "variableSetterType" : "DescribeLogStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLogStreamsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeLogStreamsResult",
      "asyncReturnType" : "DescribeLogStreamsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLogStreamsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLogStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLogStreamsRequest, DescribeLogStreamsResult>",
      "methodName" : "describeLogStreams"
    },
    "DescribeMetricFilters" : {
      "documentation" : "<p>Returns all the metrics filters associated with the specified log group. The list returned in the response is ASCII-sorted by filter name.</p> <p>By default, this operation returns up to 50 metric filters. If there are more metric filters to list, the response would contain a <code>nextToken</code> value in the response body. You can also limit the number of metric filters returned in the response by specifying the <code>limit</code> parameter in the request.</p>",
      "operationName" : "DescribeMetricFilters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeMetricFiltersRequest",
        "variableType" : "DescribeMetricFiltersRequest",
        "variableDeclarationType" : "DescribeMetricFiltersRequest",
        "documentation" : "",
        "simpleType" : "DescribeMetricFiltersRequest",
        "variableSetterType" : "DescribeMetricFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeMetricFiltersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeMetricFiltersResult",
      "asyncReturnType" : "DescribeMetricFiltersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMetricFiltersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMetricFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMetricFiltersRequest, DescribeMetricFiltersResult>",
      "methodName" : "describeMetricFilters"
    },
    "DescribeSubscriptionFilters" : {
      "documentation" : "<p>Returns all the subscription filters associated with the specified log group. The list returned in the response is ASCII-sorted by filter name.</p> <p>By default, this operation returns up to 50 subscription filters. If there are more subscription filters to list, the response would contain a <code>nextToken</code> value in the response body. You can also limit the number of subscription filters returned in the response by specifying the <code>limit</code> parameter in the request.</p>",
      "operationName" : "DescribeSubscriptionFilters",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeSubscriptionFiltersRequest",
        "variableType" : "DescribeSubscriptionFiltersRequest",
        "variableDeclarationType" : "DescribeSubscriptionFiltersRequest",
        "documentation" : "",
        "simpleType" : "DescribeSubscriptionFiltersRequest",
        "variableSetterType" : "DescribeSubscriptionFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeSubscriptionFiltersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeSubscriptionFiltersResult",
      "asyncReturnType" : "DescribeSubscriptionFiltersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubscriptionFiltersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubscriptionFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubscriptionFiltersRequest, DescribeSubscriptionFiltersResult>",
      "methodName" : "describeSubscriptionFilters"
    },
    "FilterLogEvents" : {
      "documentation" : "<p>Retrieves log events, optionally filtered by a filter pattern from the specified log group. You can provide an optional time range to filter the results on the event <code>timestamp</code>. You can limit the streams searched to an explicit list of <code>logStreamNames</code>.</p> <p>By default, this operation returns as much matching log events as can fit in a response size of 1MB, up to 10,000 log events, or all the events found within a time-bounded scan window. If the response includes a <code>nextToken</code>, then there is more data to search, and the search can be resumed with a new request providing the nextToken. The response will contain a list of <code>searchedLogStreams</code> that contains information about which streams were searched in the request and whether they have been searched completely or require further pagination. The <code>limit</code> parameter in the request can be used to specify the maximum number of events to return in a page.</p>",
      "operationName" : "FilterLogEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "filterLogEventsRequest",
        "variableType" : "FilterLogEventsRequest",
        "variableDeclarationType" : "FilterLogEventsRequest",
        "documentation" : "",
        "simpleType" : "FilterLogEventsRequest",
        "variableSetterType" : "FilterLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "FilterLogEventsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "FilterLogEventsResult",
      "asyncReturnType" : "FilterLogEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<FilterLogEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<FilterLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<FilterLogEventsRequest, FilterLogEventsResult>",
      "methodName" : "filterLogEvents"
    },
    "GetLogEvents" : {
      "documentation" : "<p>Retrieves log events from the specified log stream. You can provide an optional time range to filter the results on the event <code>timestamp</code>.</p> <p>By default, this operation returns as much log events as can fit in a response size of 1MB, up to 10,000 log events. The response will always include a <code>nextForwardToken</code> and a <code>nextBackwardToken</code> in the response body. You can use any of these tokens in subsequent <code>GetLogEvents</code> requests to paginate through events in either forward or backward direction. You can also limit the number of log events returned in the response by specifying the <code>limit</code> parameter in the request.</p>",
      "operationName" : "GetLogEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "getLogEventsRequest",
        "variableType" : "GetLogEventsRequest",
        "variableDeclarationType" : "GetLogEventsRequest",
        "documentation" : "",
        "simpleType" : "GetLogEventsRequest",
        "variableSetterType" : "GetLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetLogEventsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetLogEventsResult",
      "asyncReturnType" : "GetLogEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetLogEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLogEventsRequest, GetLogEventsResult>",
      "methodName" : "getLogEvents"
    },
    "PutDestination" : {
      "documentation" : "<p>Creates or updates a <code>Destination</code>. A destination encapsulates a physical resource (such as a Kinesis stream) and allows you to subscribe to a real-time stream of log events of a different account, ingested through <code>PutLogEvents</code> requests. Currently, the only supported physical resource is a Amazon Kinesis stream belonging to the same account as the destination.</p> <p>A destination controls what is written to its Amazon Kinesis stream through an access policy. By default, PutDestination does not set any access policy with the destination, which means a cross-account user will not be able to call <code>PutSubscriptionFilter</code> against this destination. To enable that, the destination owner must call <code>PutDestinationPolicy</code> after PutDestination.</p>",
      "operationName" : "PutDestination",
      "deprecated" : false,
      "input" : {
        "variableName" : "putDestinationRequest",
        "variableType" : "PutDestinationRequest",
        "variableDeclarationType" : "PutDestinationRequest",
        "documentation" : "",
        "simpleType" : "PutDestinationRequest",
        "variableSetterType" : "PutDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutDestinationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutDestinationResult",
      "asyncReturnType" : "PutDestinationResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutDestinationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDestinationRequest, PutDestinationResult>",
      "methodName" : "putDestination"
    },
    "PutDestinationPolicy" : {
      "documentation" : "<p>Creates or updates an access policy associated with an existing <code>Destination</code>. An access policy is an <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies_overview.html\">IAM policy document</a> that is used to authorize claims to register a subscription filter against a given destination.</p>",
      "operationName" : "PutDestinationPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "putDestinationPolicyRequest",
        "variableType" : "PutDestinationPolicyRequest",
        "variableDeclarationType" : "PutDestinationPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutDestinationPolicyRequest",
        "variableSetterType" : "PutDestinationPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutDestinationPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutDestinationPolicyResult",
      "asyncReturnType" : "PutDestinationPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutDestinationPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutDestinationPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDestinationPolicyRequest, PutDestinationPolicyResult>",
      "methodName" : "putDestinationPolicy"
    },
    "PutLogEvents" : {
      "documentation" : "<p>Uploads a batch of log events to the specified log stream.</p> <p>Every PutLogEvents request must include the <code>sequenceToken</code> obtained from the response of the previous request. An upload in a newly created log stream does not require a <code>sequenceToken</code>. You can also get the <code>sequenceToken</code> using <a>DescribeLogStreams</a>.</p> <p>The batch of events must satisfy the following constraints:</p> <ul> <li> <p>The maximum batch size is 1,048,576 bytes, and this size is calculated as the sum of all event messages in UTF-8, plus 26 bytes for each log event.</p> </li> <li> <p>None of the log events in the batch can be more than 2 hours in the future.</p> </li> <li> <p>None of the log events in the batch can be older than 14 days or the retention period of the log group.</p> </li> <li> <p>The log events in the batch must be in chronological ordered by their <code>timestamp</code>.</p> </li> <li> <p>The maximum number of log events in a batch is 10,000.</p> </li> <li> <p>A batch of log events in a single PutLogEvents request cannot span more than 24 hours. Otherwise, the PutLogEvents operation will fail.</p> </li> </ul>",
      "operationName" : "PutLogEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "putLogEventsRequest",
        "variableType" : "PutLogEventsRequest",
        "variableDeclarationType" : "PutLogEventsRequest",
        "documentation" : "",
        "simpleType" : "PutLogEventsRequest",
        "variableSetterType" : "PutLogEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutLogEventsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "InvalidSequenceTokenException",
        "documentation" : null
      }, {
        "exceptionName" : "DataAlreadyAcceptedException",
        "documentation" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutLogEventsResult",
      "asyncReturnType" : "PutLogEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutLogEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutLogEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLogEventsRequest, PutLogEventsResult>",
      "methodName" : "putLogEvents"
    },
    "PutMetricFilter" : {
      "documentation" : "<p>Creates or updates a metric filter and associates it with the specified log group. Metric filters allow you to configure rules to extract metric data from log events ingested through <code>PutLogEvents</code> requests.</p> <p>The maximum number of metric filters that can be associated with a log group is 100.</p>",
      "operationName" : "PutMetricFilter",
      "deprecated" : false,
      "input" : {
        "variableName" : "putMetricFilterRequest",
        "variableType" : "PutMetricFilterRequest",
        "variableDeclarationType" : "PutMetricFilterRequest",
        "documentation" : "",
        "simpleType" : "PutMetricFilterRequest",
        "variableSetterType" : "PutMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutMetricFilterResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Returned if you have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutMetricFilterResult",
      "asyncReturnType" : "PutMetricFilterResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutMetricFilterResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutMetricFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricFilterRequest, PutMetricFilterResult>",
      "methodName" : "putMetricFilter"
    },
    "PutRetentionPolicy" : {
      "documentation" : "<p>Sets the retention of the specified log group. A retention policy allows you to configure the number of days you want to retain log events in the specified log group.</p>",
      "operationName" : "PutRetentionPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "putRetentionPolicyRequest",
        "variableType" : "PutRetentionPolicyRequest",
        "variableDeclarationType" : "PutRetentionPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutRetentionPolicyRequest",
        "variableSetterType" : "PutRetentionPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutRetentionPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutRetentionPolicyResult",
      "asyncReturnType" : "PutRetentionPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutRetentionPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutRetentionPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRetentionPolicyRequest, PutRetentionPolicyResult>",
      "methodName" : "putRetentionPolicy"
    },
    "PutSubscriptionFilter" : {
      "documentation" : "<p>Creates or updates a subscription filter and associates it with the specified log group. Subscription filters allow you to subscribe to a real-time stream of log events ingested through <code>PutLogEvents</code> requests and have them delivered to a specific destination. Currently, the supported destinations are:</p> <ul> <li> <p>An Amazon Kinesis stream belonging to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p> A logical destination (used via an ARN of <code>Destination</code>) belonging to a different account, for cross-account delivery.</p> </li> <li> <p>An Amazon Kinesis Firehose stream belonging to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>An AWS Lambda function belonging to the same account as the subscription filter, for same-account delivery.</p> </li> </ul> <p>Currently there can only be one subscription filter associated with a log group.</p>",
      "operationName" : "PutSubscriptionFilter",
      "deprecated" : false,
      "input" : {
        "variableName" : "putSubscriptionFilterRequest",
        "variableType" : "PutSubscriptionFilterRequest",
        "variableDeclarationType" : "PutSubscriptionFilterRequest",
        "documentation" : "",
        "simpleType" : "PutSubscriptionFilterRequest",
        "variableSetterType" : "PutSubscriptionFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutSubscriptionFilterResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Returned if the specified resource does not exist.</p>"
      }, {
        "exceptionName" : "OperationAbortedException",
        "documentation" : "<p>Returned if multiple requests to update the same resource were in conflict.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Returned if you have reached the maximum number of resources that can be created.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "PutSubscriptionFilterResult",
      "asyncReturnType" : "PutSubscriptionFilterResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutSubscriptionFilterResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutSubscriptionFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutSubscriptionFilterRequest, PutSubscriptionFilterResult>",
      "methodName" : "putSubscriptionFilter"
    },
    "TestMetricFilter" : {
      "documentation" : "<p>Tests the filter pattern of a metric filter against a sample of log event messages. You can use this operation to validate the correctness of a metric filter pattern.</p>",
      "operationName" : "TestMetricFilter",
      "deprecated" : false,
      "input" : {
        "variableName" : "testMetricFilterRequest",
        "variableType" : "TestMetricFilterRequest",
        "variableDeclarationType" : "TestMetricFilterRequest",
        "documentation" : "",
        "simpleType" : "TestMetricFilterRequest",
        "variableSetterType" : "TestMetricFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TestMetricFilterResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Returned if a parameter of the request is incorrectly specified.</p>"
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Returned if the service cannot complete the request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "TestMetricFilterResult",
      "asyncReturnType" : "TestMetricFilterResult",
      "asyncFutureType" : "java.util.concurrent.Future<TestMetricFilterResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TestMetricFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestMetricFilterRequest, TestMetricFilterResult>",
      "methodName" : "testMetricFilter"
    }
  },
  "shapes" : {
    "DeleteDestinationRequest" : {
      "c2jName" : "DeleteDestinationRequest",
      "documentation" : "",
      "shapeName" : "DeleteDestinationRequest",
      "deprecated" : false,
      "required" : [ "destinationName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of destination to delete.</p>",
        "name" : "DestinationName",
        "c2jName" : "destinationName",
        "c2jShape" : "DestinationName",
        "variable" : {
          "variableName" : "destinationName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of destination to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "destinationName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "destinationName",
          "marshallLocationName" : "destinationName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of destination to delete.</p>\n@param destinationName The name of destination to delete.*/",
        "getterDocumentation" : "/**<p>The name of destination to delete.</p>\n@return The name of destination to delete.*/",
        "fluentSetterDocumentation" : "/**<p>The name of destination to delete.</p>\n@param destinationName The name of destination to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of destination to delete.</p>\n@param destinationName The name of destination to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "deleteDestinationRequest",
        "variableType" : "DeleteDestinationRequest",
        "variableDeclarationType" : "DeleteDestinationRequest",
        "documentation" : null,
        "simpleType" : "DeleteDestinationRequest",
        "variableSetterType" : "DeleteDestinationRequest"
      },
      "marshaller" : {
        "action" : "DeleteDestination",
        "verb" : "POST",
        "target" : "Logs_20140328.DeleteDestination",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "DestinationName" : {
          "documentation" : "<p>The name of destination to delete.</p>",
          "name" : "DestinationName",
          "c2jName" : "destinationName",
          "c2jShape" : "DestinationName",
          "variable" : {
            "variableName" : "destinationName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of destination to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "destinationName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "destinationName",
            "marshallLocationName" : "destinationName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of destination to delete.</p>\n@param destinationName The name of destination to delete.*/",
          "getterDocumentation" : "/**<p>The name of destination to delete.</p>\n@return The name of destination to delete.*/",
          "fluentSetterDocumentation" : "/**<p>The name of destination to delete.</p>\n@param destinationName The name of destination to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of destination to delete.</p>\n@param destinationName The name of destination to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "PutDestinationResult" : {
      "c2jName" : "PutDestinationResponse",
      "documentation" : "",
      "shapeName" : "PutDestinationResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "Destination",
        "c2jName" : "destination",
        "c2jShape" : "Destination",
        "variable" : {
          "variableName" : "destination",
          "variableType" : "Destination",
          "variableDeclarationType" : "Destination",
          "documentation" : "",
          "simpleType" : "Destination",
          "variableSetterType" : "Destination"
        },
        "setterModel" : {
          "variableName" : "destination",
          "variableType" : "Destination",
          "variableDeclarationType" : "Destination",
          "documentation" : "",
          "simpleType" : "Destination",
          "variableSetterType" : "Destination"
        },
        "getterModel" : {
          "returnType" : "Destination",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "destination",
          "marshallLocationName" : "destination",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param destination */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param destination \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param destination \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "putDestinationResult",
        "variableType" : "PutDestinationResult",
        "variableDeclarationType" : "PutDestinationResult",
        "documentation" : null,
        "simpleType" : "PutDestinationResult",
        "variableSetterType" : "PutDestinationResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Destination" : {
          "documentation" : "",
          "name" : "Destination",
          "c2jName" : "destination",
          "c2jShape" : "Destination",
          "variable" : {
            "variableName" : "destination",
            "variableType" : "Destination",
            "variableDeclarationType" : "Destination",
            "documentation" : "",
            "simpleType" : "Destination",
            "variableSetterType" : "Destination"
          },
          "setterModel" : {
            "variableName" : "destination",
            "variableType" : "Destination",
            "variableDeclarationType" : "Destination",
            "documentation" : "",
            "simpleType" : "Destination",
            "variableSetterType" : "Destination"
          },
          "getterModel" : {
            "returnType" : "Destination",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "destination",
            "marshallLocationName" : "destination",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param destination */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param destination \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param destination \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "MetricTransformation" : {
      "c2jName" : "MetricTransformation",
      "documentation" : "",
      "shapeName" : "MetricTransformation",
      "deprecated" : false,
      "required" : [ "metricName", "metricNamespace", "metricValue" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Name of the metric.</p>",
        "name" : "MetricName",
        "c2jName" : "metricName",
        "c2jShape" : "MetricName",
        "variable" : {
          "variableName" : "metricName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Name of the metric.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "metricName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "metricName",
          "marshallLocationName" : "metricName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Name of the metric.</p>\n@param metricName Name of the metric.*/",
        "getterDocumentation" : "/**<p>Name of the metric.</p>\n@return Name of the metric.*/",
        "fluentSetterDocumentation" : "/**<p>Name of the metric.</p>\n@param metricName Name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Name of the metric.</p>\n@param metricName Name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Namespace to which the metric belongs.</p>",
        "name" : "MetricNamespace",
        "c2jName" : "metricNamespace",
        "c2jShape" : "MetricNamespace",
        "variable" : {
          "variableName" : "metricNamespace",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Namespace to which the metric belongs.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "metricNamespace",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "metricNamespace",
          "marshallLocationName" : "metricNamespace",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Namespace to which the metric belongs.</p>\n@param metricNamespace Namespace to which the metric belongs.*/",
        "getterDocumentation" : "/**<p>Namespace to which the metric belongs.</p>\n@return Namespace to which the metric belongs.*/",
        "fluentSetterDocumentation" : "/**<p>Namespace to which the metric belongs.</p>\n@param metricNamespace Namespace to which the metric belongs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Namespace to which the metric belongs.</p>\n@param metricNamespace Namespace to which the metric belongs.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>",
        "name" : "MetricValue",
        "c2jName" : "metricValue",
        "c2jShape" : "MetricValue",
        "variable" : {
          "variableName" : "metricValue",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "metricValue",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "metricValue",
          "marshallLocationName" : "metricValue",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>\n@param metricValue A string representing a value to publish to this metric when a filter pattern matches a log event.*/",
        "getterDocumentation" : "/**<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>\n@return A string representing a value to publish to this metric when a filter pattern matches a log event.*/",
        "fluentSetterDocumentation" : "/**<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>\n@param metricValue A string representing a value to publish to this metric when a filter pattern matches a log event.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>\n@param metricValue A string representing a value to publish to this metric when a filter pattern matches a log event.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>",
        "name" : "DefaultValue",
        "c2jName" : "defaultValue",
        "c2jShape" : "DefaultValue",
        "variable" : {
          "variableName" : "defaultValue",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "setterModel" : {
          "variableName" : "defaultValue",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "defaultValue",
          "marshallLocationName" : "defaultValue",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>\n@param defaultValue (Optional) A default value to emit when a filter pattern does not match a log event. Can be null.*/",
        "getterDocumentation" : "/**<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>\n@return (Optional) A default value to emit when a filter pattern does not match a log event. Can be null.*/",
        "fluentSetterDocumentation" : "/**<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>\n@param defaultValue (Optional) A default value to emit when a filter pattern does not match a log event. Can be null.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>\n@param defaultValue (Optional) A default value to emit when a filter pattern does not match a log event. Can be null.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "metricTransformation",
        "variableType" : "MetricTransformation",
        "variableDeclarationType" : "MetricTransformation",
        "documentation" : null,
        "simpleType" : "MetricTransformation",
        "variableSetterType" : "MetricTransformation"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "MetricName" : {
          "documentation" : "<p>Name of the metric.</p>",
          "name" : "MetricName",
          "c2jName" : "metricName",
          "c2jShape" : "MetricName",
          "variable" : {
            "variableName" : "metricName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Name of the metric.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "metricName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "metricName",
            "marshallLocationName" : "metricName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Name of the metric.</p>\n@param metricName Name of the metric.*/",
          "getterDocumentation" : "/**<p>Name of the metric.</p>\n@return Name of the metric.*/",
          "fluentSetterDocumentation" : "/**<p>Name of the metric.</p>\n@param metricName Name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Name of the metric.</p>\n@param metricName Name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "DefaultValue" : {
          "documentation" : "<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>",
          "name" : "DefaultValue",
          "c2jName" : "defaultValue",
          "c2jShape" : "DefaultValue",
          "variable" : {
            "variableName" : "defaultValue",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "setterModel" : {
            "variableName" : "defaultValue",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "defaultValue",
            "marshallLocationName" : "defaultValue",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>\n@param defaultValue (Optional) A default value to emit when a filter pattern does not match a log event. Can be null.*/",
          "getterDocumentation" : "/**<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>\n@return (Optional) A default value to emit when a filter pattern does not match a log event. Can be null.*/",
          "fluentSetterDocumentation" : "/**<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>\n@param defaultValue (Optional) A default value to emit when a filter pattern does not match a log event. Can be null.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>(Optional) A default value to emit when a filter pattern does not match a log event. Can be null.</p>\n@param defaultValue (Optional) A default value to emit when a filter pattern does not match a log event. Can be null.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "MetricValue" : {
          "documentation" : "<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>",
          "name" : "MetricValue",
          "c2jName" : "metricValue",
          "c2jShape" : "MetricValue",
          "variable" : {
            "variableName" : "metricValue",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "metricValue",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "metricValue",
            "marshallLocationName" : "metricValue",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>\n@param metricValue A string representing a value to publish to this metric when a filter pattern matches a log event.*/",
          "getterDocumentation" : "/**<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>\n@return A string representing a value to publish to this metric when a filter pattern matches a log event.*/",
          "fluentSetterDocumentation" : "/**<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>\n@param metricValue A string representing a value to publish to this metric when a filter pattern matches a log event.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> A string representing a value to publish to this metric when a filter pattern matches a log event. </p>\n@param metricValue A string representing a value to publish to this metric when a filter pattern matches a log event.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "MetricNamespace" : {
          "documentation" : "<p>Namespace to which the metric belongs.</p>",
          "name" : "MetricNamespace",
          "c2jName" : "metricNamespace",
          "c2jShape" : "MetricNamespace",
          "variable" : {
            "variableName" : "metricNamespace",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Namespace to which the metric belongs.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "metricNamespace",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "metricNamespace",
            "marshallLocationName" : "metricNamespace",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Namespace to which the metric belongs.</p>\n@param metricNamespace Namespace to which the metric belongs.*/",
          "getterDocumentation" : "/**<p>Namespace to which the metric belongs.</p>\n@return Namespace to which the metric belongs.*/",
          "fluentSetterDocumentation" : "/**<p>Namespace to which the metric belongs.</p>\n@param metricNamespace Namespace to which the metric belongs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Namespace to which the metric belongs.</p>\n@param metricNamespace Namespace to which the metric belongs.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeSubscriptionFiltersResult" : {
      "c2jName" : "DescribeSubscriptionFiltersResponse",
      "documentation" : "",
      "shapeName" : "DescribeSubscriptionFiltersResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "SubscriptionFilters",
        "c2jName" : "subscriptionFilters",
        "c2jShape" : "SubscriptionFilters",
        "variable" : {
          "variableName" : "subscriptionFilters",
          "variableType" : "java.util.List<SubscriptionFilter>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<SubscriptionFilter>",
          "documentation" : "",
          "simpleType" : "List<SubscriptionFilter>",
          "variableSetterType" : "java.util.Collection<SubscriptionFilter>"
        },
        "setterModel" : {
          "variableName" : "subscriptionFilters",
          "variableType" : "java.util.List<SubscriptionFilter>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<SubscriptionFilter>",
          "documentation" : "",
          "simpleType" : "List<SubscriptionFilter>",
          "variableSetterType" : "java.util.Collection<SubscriptionFilter>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<SubscriptionFilter>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "subscriptionFilters",
          "marshallLocationName" : "subscriptionFilters",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "SubscriptionFilter",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "SubscriptionFilter",
            "variable" : {
              "variableName" : "member",
              "variableType" : "SubscriptionFilter",
              "variableDeclarationType" : "SubscriptionFilter",
              "documentation" : "",
              "simpleType" : "SubscriptionFilter",
              "variableSetterType" : "SubscriptionFilter"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "SubscriptionFilter",
              "variableDeclarationType" : "SubscriptionFilter",
              "documentation" : "",
              "simpleType" : "SubscriptionFilter",
              "variableSetterType" : "SubscriptionFilter"
            },
            "getterModel" : {
              "returnType" : "SubscriptionFilter",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "SubscriptionFilter",
          "templateType" : "java.util.List<SubscriptionFilter>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<SubscriptionFilter>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**\n@param subscriptionFilters */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param subscriptionFilters \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSubscriptionFilters(java.util.Collection)} or {@link #withSubscriptionFilters(java.util.Collection)} if you want to override the existing values.</p>\n@param subscriptionFilters \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "NextToken",
        "c2jName" : "nextToken",
        "c2jShape" : "NextToken",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "nextToken",
          "marshallLocationName" : "nextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param nextToken */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param nextToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param nextToken \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeSubscriptionFiltersResult",
        "variableType" : "DescribeSubscriptionFiltersResult",
        "variableDeclarationType" : "DescribeSubscriptionFiltersResult",
[...]
