{
  "metadata" : {
    "apiVersion" : "2012-06-01",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<fullname>Elastic Load Balancing</fullname> <p>Elastic Load Balancing distributes incoming traffic across your EC2 instances.</p> <p>For information about the features of Elastic Load Balancing, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elastic-load-balancing.html\">What Is Elastic Load Balancing?</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p> <p>For information about the AWS regions supported by Elastic Load Balancing, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elb_region\">Regions and Endpoints - Elastic Load Balancing</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>All Elastic Load Balancing operations are <i>idempotent</i>, which means that they complete at most one time. If you repeat an operation, it succeeds with a 200 OK response code.</p>",
    "defaultEndpoint" : "elasticloadbalancing.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticloadbalancing.amazonaws.com",
    "syncInterface" : "AmazonElasticLoadBalancing",
    "syncClient" : "AmazonElasticLoadBalancingClient",
    "asyncInterface" : "AmazonElasticLoadBalancingAsync",
    "asyncClient" : "AmazonElasticLoadBalancingAsyncClient",
    "packageName" : "com.amazonaws.services.elasticloadbalancing",
    "packagePath" : "com/amazonaws/services/elasticloadbalancing",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Elastic Load Balancing",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "elasticloadbalancing",
    "signingName" : "elasticloadbalancing",
    "jsonProtocol" : false,
    "syncClientBuilderClassName" : "AmazonElasticLoadBalancingClientBuilder",
    "asyncClientBuilderClassName" : "AmazonElasticLoadBalancingAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonElasticLoadBalancingModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticloadbalancing.smoketests",
    "serviceName" : "Elastic Load Balancing",
    "cborProtocol" : false,
    "xmlProtocol" : true,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller"
  },
  "operations" : {
    "AddTags" : {
      "documentation" : "<p>Adds the specified tags to the specified load balancer. Each load balancer can have a maximum of 10 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the load balancer, <code>AddTags</code> updates its value.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/add-remove-tags.html\">Tag Your Load Balancer</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "AddTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "variableDeclarationType" : "AddTagsRequest",
        "documentation" : "",
        "variableSetterType" : "AddTagsRequest",
        "simpleType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The quota for the number of tags that can be assigned to a load balancer has been reached.</p>"
      }, {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddTagsResult",
      "asyncReturnType" : "AddTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "methodName" : "addTags"
    },
    "ApplySecurityGroupsToLoadBalancer" : {
      "documentation" : "<p>Associates one or more security groups with your load balancer in a virtual private cloud (VPC). The specified security groups override the previously associated security groups.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-security-groups.html#elb-vpc-security-groups\">Security Groups for Load Balancers in a VPC</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "ApplySecurityGroupsToLoadBalancer",
      "deprecated" : false,
      "input" : {
        "variableName" : "applySecurityGroupsToLoadBalancerRequest",
        "variableType" : "ApplySecurityGroupsToLoadBalancerRequest",
        "variableDeclarationType" : "ApplySecurityGroupsToLoadBalancerRequest",
        "documentation" : "",
        "variableSetterType" : "ApplySecurityGroupsToLoadBalancerRequest",
        "simpleType" : "ApplySecurityGroupsToLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ApplySecurityGroupsToLoadBalancerResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      }, {
        "exceptionName" : "InvalidSecurityGroupException",
        "documentation" : "<p>One or more of the specified security groups do not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ApplySecurityGroupsToLoadBalancerResult",
      "asyncReturnType" : "ApplySecurityGroupsToLoadBalancerResult",
      "asyncFutureType" : "java.util.concurrent.Future<ApplySecurityGroupsToLoadBalancerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ApplySecurityGroupsToLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ApplySecurityGroupsToLoadBalancerRequest, ApplySecurityGroupsToLoadBalancerResult>",
      "methodName" : "applySecurityGroupsToLoadBalancer"
    },
    "AttachLoadBalancerToSubnets" : {
      "documentation" : "<p>Adds one or more subnets to the set of configured subnets for the specified load balancer.</p> <p>The load balancer evenly distributes requests across all registered subnets. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-manage-subnets.html\">Add or Remove Subnets for Your Load Balancer in a VPC</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "AttachLoadBalancerToSubnets",
      "deprecated" : false,
      "input" : {
        "variableName" : "attachLoadBalancerToSubnetsRequest",
        "variableType" : "AttachLoadBalancerToSubnetsRequest",
        "variableDeclarationType" : "AttachLoadBalancerToSubnetsRequest",
        "documentation" : "",
        "variableSetterType" : "AttachLoadBalancerToSubnetsRequest",
        "simpleType" : "AttachLoadBalancerToSubnetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AttachLoadBalancerToSubnetsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>One or more of the specified subnets do not exist.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified VPC has no associated Internet gateway.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AttachLoadBalancerToSubnetsResult",
      "asyncReturnType" : "AttachLoadBalancerToSubnetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AttachLoadBalancerToSubnetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AttachLoadBalancerToSubnetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachLoadBalancerToSubnetsRequest, AttachLoadBalancerToSubnetsResult>",
      "methodName" : "attachLoadBalancerToSubnets"
    },
    "ConfigureHealthCheck" : {
      "documentation" : "<p>Specifies the health check settings to use when evaluating the health state of your back-end instances.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-healthchecks.html\">Configure Health Checks</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "ConfigureHealthCheck",
      "deprecated" : false,
      "input" : {
        "variableName" : "configureHealthCheckRequest",
        "variableType" : "ConfigureHealthCheckRequest",
        "variableDeclarationType" : "ConfigureHealthCheckRequest",
        "documentation" : "",
        "variableSetterType" : "ConfigureHealthCheckRequest",
        "simpleType" : "ConfigureHealthCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfigureHealthCheckResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ConfigureHealthCheckResult",
      "asyncReturnType" : "ConfigureHealthCheckResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfigureHealthCheckResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfigureHealthCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfigureHealthCheckRequest, ConfigureHealthCheckResult>",
      "methodName" : "configureHealthCheck"
    },
    "CreateAppCookieStickinessPolicy" : {
      "documentation" : "<p>Generates a stickiness policy with sticky session lifetimes that follow that of an application-generated cookie. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>This policy is similar to the policy created by <a>CreateLBCookieStickinessPolicy</a>, except that the lifetime of the special Elastic Load Balancing cookie, <code>AWSELB</code>, follows the lifetime of the application-generated cookie specified in the policy configuration. The load balancer only inserts a new stickiness cookie when the application response includes a new application cookie.</p> <p>If the application cookie is explicitly removed or expires, the session stops being sticky until a new application cookie is issued.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-sticky-sessions.html#enable-sticky-sessions-application\">Application-Controlled Session Stickiness</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "CreateAppCookieStickinessPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAppCookieStickinessPolicyRequest",
        "variableType" : "CreateAppCookieStickinessPolicyRequest",
        "variableDeclarationType" : "CreateAppCookieStickinessPolicyRequest",
        "documentation" : "",
        "variableSetterType" : "CreateAppCookieStickinessPolicyRequest",
        "simpleType" : "CreateAppCookieStickinessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAppCookieStickinessPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "DuplicatePolicyNameException",
        "documentation" : "<p>A policy with the specified name already exists for this load balancer.</p>"
      }, {
        "exceptionName" : "TooManyPoliciesException",
        "documentation" : "<p>The quota for the number of policies for this load balancer has been reached.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateAppCookieStickinessPolicyResult",
      "asyncReturnType" : "CreateAppCookieStickinessPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppCookieStickinessPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppCookieStickinessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppCookieStickinessPolicyRequest, CreateAppCookieStickinessPolicyResult>",
      "methodName" : "createAppCookieStickinessPolicy"
    },
    "CreateLBCookieStickinessPolicy" : {
      "documentation" : "<p>Generates a stickiness policy with sticky session lifetimes controlled by the lifetime of the browser (user-agent) or a specified expiration period. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>When a load balancer implements this policy, the load balancer uses a special cookie to track the back-end server instance for each request. When the load balancer receives a request, it first checks to see if this cookie is present in the request. If so, the load balancer sends the request to the application server specified in the cookie. If not, the load balancer sends the request to a server that is chosen based on the existing load-balancing algorithm.</p> <p>A cookie is inserted into the response for binding subsequent requests from the same user to that server. The validity of the cookie is based on the cookie expiration time, which is specified in the policy configuration.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-sticky-sessions.html#enable-sticky-sessions-duration\">Duration-Based Session Stickiness</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "CreateLBCookieStickinessPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLBCookieStickinessPolicyRequest",
        "variableType" : "CreateLBCookieStickinessPolicyRequest",
        "variableDeclarationType" : "CreateLBCookieStickinessPolicyRequest",
        "documentation" : "",
        "variableSetterType" : "CreateLBCookieStickinessPolicyRequest",
        "simpleType" : "CreateLBCookieStickinessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateLBCookieStickinessPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "DuplicatePolicyNameException",
        "documentation" : "<p>A policy with the specified name already exists for this load balancer.</p>"
      }, {
        "exceptionName" : "TooManyPoliciesException",
        "documentation" : "<p>The quota for the number of policies for this load balancer has been reached.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateLBCookieStickinessPolicyResult",
      "asyncReturnType" : "CreateLBCookieStickinessPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLBCookieStickinessPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLBCookieStickinessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLBCookieStickinessPolicyRequest, CreateLBCookieStickinessPolicyResult>",
      "methodName" : "createLBCookieStickinessPolicy"
    },
    "CreateLoadBalancer" : {
      "documentation" : "<p>Creates a load balancer.</p> <p>If the call completes successfully, a new load balancer is created with a unique Domain Name Service (DNS) name. The load balancer receives incoming traffic and routes it to the registered instances. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/how-elb-works.html\">How Elastic Load Balancing Works</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-limits.html\">Elastic Load Balancing Limits</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "CreateLoadBalancer",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLoadBalancerRequest",
        "variableType" : "CreateLoadBalancerRequest",
        "variableDeclarationType" : "CreateLoadBalancerRequest",
        "documentation" : "",
        "variableSetterType" : "CreateLoadBalancerRequest",
        "simpleType" : "CreateLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateLoadBalancerResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DuplicateLoadBalancerNameException",
        "documentation" : "<p>The specified load balancer name already exists for this account.</p>"
      }, {
        "exceptionName" : "TooManyLoadBalancersException",
        "documentation" : "<p>The quota for the number of load balancers has been reached.</p>"
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified SSL ID does not refer to a valid SSL certificate in AWS Identity and Access Management (IAM).</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>One or more of the specified subnets do not exist.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified VPC has no associated Internet gateway.</p>"
      }, {
        "exceptionName" : "InvalidSecurityGroupException",
        "documentation" : "<p>One or more of the specified security groups do not exist.</p>"
      }, {
        "exceptionName" : "InvalidSchemeException",
        "documentation" : "<p>The specified value for the schema is not valid. You can only specify a scheme for load balancers in a VPC.</p>"
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The quota for the number of tags that can be assigned to a load balancer has been reached.</p>"
      }, {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateLoadBalancerResult",
      "asyncReturnType" : "CreateLoadBalancerResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoadBalancerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoadBalancerRequest, CreateLoadBalancerResult>",
      "methodName" : "createLoadBalancer"
    },
    "CreateLoadBalancerListeners" : {
      "documentation" : "<p>Creates one or more listeners for the specified load balancer. If a listener with the specified port does not already exist, it is created; otherwise, the properties of the new listener must match the properties of the existing listener.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/us-add-listener.html\">Add a Listener to Your Load Balancer</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "CreateLoadBalancerListeners",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLoadBalancerListenersRequest",
        "variableType" : "CreateLoadBalancerListenersRequest",
        "variableDeclarationType" : "CreateLoadBalancerListenersRequest",
        "documentation" : "",
        "variableSetterType" : "CreateLoadBalancerListenersRequest",
        "simpleType" : "CreateLoadBalancerListenersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateLoadBalancerListenersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "DuplicateListenerException",
        "documentation" : "<p>A listener already exists for the specified <code>LoadBalancerName</code> and <code>LoadBalancerPort</code>, but with a different <code>InstancePort</code>, <code>Protocol</code>, or <code>SSLCertificateId</code>.</p>"
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified SSL ID does not refer to a valid SSL certificate in AWS Identity and Access Management (IAM).</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateLoadBalancerListenersResult",
      "asyncReturnType" : "CreateLoadBalancerListenersResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoadBalancerListenersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoadBalancerListenersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoadBalancerListenersRequest, CreateLoadBalancerListenersResult>",
      "methodName" : "createLoadBalancerListeners"
    },
    "CreateLoadBalancerPolicy" : {
      "documentation" : "<p>Creates a policy with the specified attributes for the specified load balancer.</p> <p>Policies are settings that are saved for your load balancer and that can be applied to the front-end listener or the back-end application server, depending on the policy type.</p>",
      "operationName" : "CreateLoadBalancerPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "createLoadBalancerPolicyRequest",
        "variableType" : "CreateLoadBalancerPolicyRequest",
        "variableDeclarationType" : "CreateLoadBalancerPolicyRequest",
        "documentation" : "",
        "variableSetterType" : "CreateLoadBalancerPolicyRequest",
        "simpleType" : "CreateLoadBalancerPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateLoadBalancerPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "PolicyTypeNotFoundException",
        "documentation" : "<p>One or more of the specified policy types do not exist.</p>"
      }, {
        "exceptionName" : "DuplicatePolicyNameException",
        "documentation" : "<p>A policy with the specified name already exists for this load balancer.</p>"
      }, {
        "exceptionName" : "TooManyPoliciesException",
        "documentation" : "<p>The quota for the number of policies for this load balancer has been reached.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateLoadBalancerPolicyResult",
      "asyncReturnType" : "CreateLoadBalancerPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoadBalancerPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoadBalancerPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoadBalancerPolicyRequest, CreateLoadBalancerPolicyResult>",
      "methodName" : "createLoadBalancerPolicy"
    },
    "DeleteLoadBalancer" : {
      "documentation" : "<p>Deletes the specified load balancer.</p> <p>If you are attempting to recreate a load balancer, you must reconfigure all settings. The DNS name associated with a deleted load balancer are no longer usable. The name and associated DNS record of the deleted load balancer no longer exist and traffic sent to any of its IP addresses is no longer delivered to back-end instances.</p> <p>If the load balancer does not exist or has already been deleted, the call to <code>DeleteLoadBalancer</code> still succeeds.</p>",
      "operationName" : "DeleteLoadBalancer",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLoadBalancerRequest",
        "variableType" : "DeleteLoadBalancerRequest",
        "variableDeclarationType" : "DeleteLoadBalancerRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteLoadBalancerRequest",
        "simpleType" : "DeleteLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteLoadBalancerResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteLoadBalancerResult",
      "asyncReturnType" : "DeleteLoadBalancerResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoadBalancerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoadBalancerRequest, DeleteLoadBalancerResult>",
      "methodName" : "deleteLoadBalancer"
    },
    "DeleteLoadBalancerListeners" : {
      "documentation" : "<p>Deletes the specified listeners from the specified load balancer.</p>",
      "operationName" : "DeleteLoadBalancerListeners",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLoadBalancerListenersRequest",
        "variableType" : "DeleteLoadBalancerListenersRequest",
        "variableDeclarationType" : "DeleteLoadBalancerListenersRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteLoadBalancerListenersRequest",
        "simpleType" : "DeleteLoadBalancerListenersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteLoadBalancerListenersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteLoadBalancerListenersResult",
      "asyncReturnType" : "DeleteLoadBalancerListenersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoadBalancerListenersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoadBalancerListenersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoadBalancerListenersRequest, DeleteLoadBalancerListenersResult>",
      "methodName" : "deleteLoadBalancerListeners"
    },
    "DeleteLoadBalancerPolicy" : {
      "documentation" : "<p>Deletes the specified policy from the specified load balancer. This policy must not be enabled for any listeners.</p>",
      "operationName" : "DeleteLoadBalancerPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteLoadBalancerPolicyRequest",
        "variableType" : "DeleteLoadBalancerPolicyRequest",
        "variableDeclarationType" : "DeleteLoadBalancerPolicyRequest",
        "documentation" : "=",
        "variableSetterType" : "DeleteLoadBalancerPolicyRequest",
        "simpleType" : "DeleteLoadBalancerPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteLoadBalancerPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteLoadBalancerPolicyResult",
      "asyncReturnType" : "DeleteLoadBalancerPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoadBalancerPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoadBalancerPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoadBalancerPolicyRequest, DeleteLoadBalancerPolicyResult>",
      "methodName" : "deleteLoadBalancerPolicy"
    },
    "DeregisterInstancesFromLoadBalancer" : {
      "documentation" : "<p>Deregisters the specified instances from the specified load balancer. After the instance is deregistered, it no longer receives traffic from the load balancer.</p> <p>You can use <a>DescribeLoadBalancers</a> to verify that the instance is deregistered from the load balancer.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_DeReg_Reg_Instances.html\">Deregister and Register Amazon EC2 Instances</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "DeregisterInstancesFromLoadBalancer",
      "deprecated" : false,
      "input" : {
        "variableName" : "deregisterInstancesFromLoadBalancerRequest",
        "variableType" : "DeregisterInstancesFromLoadBalancerRequest",
        "variableDeclarationType" : "DeregisterInstancesFromLoadBalancerRequest",
        "documentation" : "",
        "variableSetterType" : "DeregisterInstancesFromLoadBalancerRequest",
        "simpleType" : "DeregisterInstancesFromLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeregisterInstancesFromLoadBalancerResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInstanceException",
        "documentation" : "<p>The specified endpoint is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeregisterInstancesFromLoadBalancerResult",
      "asyncReturnType" : "DeregisterInstancesFromLoadBalancerResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterInstancesFromLoadBalancerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterInstancesFromLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterInstancesFromLoadBalancerRequest, DeregisterInstancesFromLoadBalancerResult>",
      "methodName" : "deregisterInstancesFromLoadBalancer"
    },
    "DescribeInstanceHealth" : {
      "documentation" : "<p>Describes the state of the specified instances with respect to the specified load balancer. If no instances are specified, the call describes the state of all instances that are currently registered with the load balancer. If instances are specified, their state is returned even if they are no longer registered with the load balancer. The state of terminated instances is not returned.</p>",
      "operationName" : "DescribeInstanceHealth",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeInstanceHealthRequest",
        "variableType" : "DescribeInstanceHealthRequest",
        "variableDeclarationType" : "DescribeInstanceHealthRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeInstanceHealthRequest",
        "simpleType" : "DescribeInstanceHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeInstanceHealthResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInstanceException",
        "documentation" : "<p>The specified endpoint is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeInstanceHealthResult",
      "asyncReturnType" : "DescribeInstanceHealthResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInstanceHealthResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInstanceHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInstanceHealthRequest, DescribeInstanceHealthResult>",
      "methodName" : "describeInstanceHealth"
    },
    "DescribeLoadBalancerAttributes" : {
      "documentation" : "<p>Describes the attributes for the specified load balancer.</p>",
      "operationName" : "DescribeLoadBalancerAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLoadBalancerAttributesRequest",
        "variableType" : "DescribeLoadBalancerAttributesRequest",
        "variableDeclarationType" : "DescribeLoadBalancerAttributesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeLoadBalancerAttributesRequest",
        "simpleType" : "DescribeLoadBalancerAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLoadBalancerAttributesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "LoadBalancerAttributeNotFoundException",
        "documentation" : "<p>The specified load balancer attribute does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeLoadBalancerAttributesResult",
      "asyncReturnType" : "DescribeLoadBalancerAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancerAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancerAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancerAttributesRequest, DescribeLoadBalancerAttributesResult>",
      "methodName" : "describeLoadBalancerAttributes"
    },
    "DescribeLoadBalancerPolicies" : {
      "documentation" : "<p>Describes the specified policies.</p> <p>If you specify a load balancer name, the action returns the descriptions of all policies created for the load balancer. If you specify a policy name associated with your load balancer, the action returns the description of that policy. If you don't specify a load balancer name, the action returns descriptions of the specified sample policies, or descriptions of all sample policies. The names of the sample policies have the <code>ELBSample-</code> prefix.</p>",
      "operationName" : "DescribeLoadBalancerPolicies",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLoadBalancerPoliciesRequest",
        "variableType" : "DescribeLoadBalancerPoliciesRequest",
        "variableDeclarationType" : "DescribeLoadBalancerPoliciesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeLoadBalancerPoliciesRequest",
        "simpleType" : "DescribeLoadBalancerPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLoadBalancerPoliciesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>One or more of the specified policies do not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeLoadBalancerPoliciesResult",
      "asyncReturnType" : "DescribeLoadBalancerPoliciesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancerPoliciesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancerPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancerPoliciesRequest, DescribeLoadBalancerPoliciesResult>",
      "methodName" : "describeLoadBalancerPolicies"
    },
    "DescribeLoadBalancerPolicyTypes" : {
      "documentation" : "<p>Describes the specified load balancer policy types.</p> <p>You can use these policy types with <a>CreateLoadBalancerPolicy</a> to create policy configurations for a load balancer.</p>",
      "operationName" : "DescribeLoadBalancerPolicyTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLoadBalancerPolicyTypesRequest",
        "variableType" : "DescribeLoadBalancerPolicyTypesRequest",
        "variableDeclarationType" : "DescribeLoadBalancerPolicyTypesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeLoadBalancerPolicyTypesRequest",
        "simpleType" : "DescribeLoadBalancerPolicyTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLoadBalancerPolicyTypesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "PolicyTypeNotFoundException",
        "documentation" : "<p>One or more of the specified policy types do not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeLoadBalancerPolicyTypesResult",
      "asyncReturnType" : "DescribeLoadBalancerPolicyTypesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancerPolicyTypesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancerPolicyTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancerPolicyTypesRequest, DescribeLoadBalancerPolicyTypesResult>",
      "methodName" : "describeLoadBalancerPolicyTypes"
    },
    "DescribeLoadBalancers" : {
      "documentation" : "<p>Describes the specified the load balancers. If no load balancers are specified, the call describes all of your load balancers.</p>",
      "operationName" : "DescribeLoadBalancers",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLoadBalancersRequest",
        "variableType" : "DescribeLoadBalancersRequest",
        "variableDeclarationType" : "DescribeLoadBalancersRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeLoadBalancersRequest",
        "simpleType" : "DescribeLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLoadBalancersResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeLoadBalancersResult",
      "asyncReturnType" : "DescribeLoadBalancersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancersRequest, DescribeLoadBalancersResult>",
      "methodName" : "describeLoadBalancers"
    },
    "DescribeTags" : {
      "documentation" : "<p>Describes the tags associated with the specified load balancers.</p>",
      "operationName" : "DescribeTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "variableDeclarationType" : "DescribeTagsRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeTagsRequest",
        "simpleType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTagsResult",
      "asyncReturnType" : "DescribeTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "methodName" : "describeTags"
    },
    "DetachLoadBalancerFromSubnets" : {
      "documentation" : "<p>Removes the specified subnets from the set of configured subnets for the load balancer.</p> <p>After a subnet is removed, all EC2 instances registered with the load balancer in the removed subnet go into the <code>OutOfService</code> state. Then, the load balancer balances the traffic among the remaining routable subnets.</p>",
      "operationName" : "DetachLoadBalancerFromSubnets",
      "deprecated" : false,
      "input" : {
        "variableName" : "detachLoadBalancerFromSubnetsRequest",
        "variableType" : "DetachLoadBalancerFromSubnetsRequest",
        "variableDeclarationType" : "DetachLoadBalancerFromSubnetsRequest",
        "documentation" : "",
        "variableSetterType" : "DetachLoadBalancerFromSubnetsRequest",
        "simpleType" : "DetachLoadBalancerFromSubnetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DetachLoadBalancerFromSubnetsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DetachLoadBalancerFromSubnetsResult",
      "asyncReturnType" : "DetachLoadBalancerFromSubnetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DetachLoadBalancerFromSubnetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DetachLoadBalancerFromSubnetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachLoadBalancerFromSubnetsRequest, DetachLoadBalancerFromSubnetsResult>",
      "methodName" : "detachLoadBalancerFromSubnets"
    },
    "DisableAvailabilityZonesForLoadBalancer" : {
      "documentation" : "<p>Removes the specified Availability Zones from the set of Availability Zones for the specified load balancer.</p> <p>There must be at least one Availability Zone registered with a load balancer at all times. After an Availability Zone is removed, all instances registered with the load balancer that are in the removed Availability Zone go into the <code>OutOfService</code> state. Then, the load balancer attempts to equally balance the traffic among its remaining Availability Zones.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_ShrinkLBApp04.html\">Disable an Availability Zone from a Load-Balanced Application</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "DisableAvailabilityZonesForLoadBalancer",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableAvailabilityZonesForLoadBalancerRequest",
        "variableType" : "DisableAvailabilityZonesForLoadBalancerRequest",
        "variableDeclarationType" : "DisableAvailabilityZonesForLoadBalancerRequest",
        "documentation" : "",
        "variableSetterType" : "DisableAvailabilityZonesForLoadBalancerRequest",
        "simpleType" : "DisableAvailabilityZonesForLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableAvailabilityZonesForLoadBalancerResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DisableAvailabilityZonesForLoadBalancerResult",
      "asyncReturnType" : "DisableAvailabilityZonesForLoadBalancerResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableAvailabilityZonesForLoadBalancerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableAvailabilityZonesForLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableAvailabilityZonesForLoadBalancerRequest, DisableAvailabilityZonesForLoadBalancerResult>",
      "methodName" : "disableAvailabilityZonesForLoadBalancer"
    },
    "EnableAvailabilityZonesForLoadBalancer" : {
      "documentation" : "<p>Adds the specified Availability Zones to the set of Availability Zones for the specified load balancer.</p> <p>The load balancer evenly distributes requests across all its registered Availability Zones that contain instances.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_AddLBAvailabilityZone.html\">Add Availability Zone</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "EnableAvailabilityZonesForLoadBalancer",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableAvailabilityZonesForLoadBalancerRequest",
        "variableType" : "EnableAvailabilityZonesForLoadBalancerRequest",
        "variableDeclarationType" : "EnableAvailabilityZonesForLoadBalancerRequest",
        "documentation" : "",
        "variableSetterType" : "EnableAvailabilityZonesForLoadBalancerRequest",
        "simpleType" : "EnableAvailabilityZonesForLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableAvailabilityZonesForLoadBalancerResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "EnableAvailabilityZonesForLoadBalancerResult",
      "asyncReturnType" : "EnableAvailabilityZonesForLoadBalancerResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableAvailabilityZonesForLoadBalancerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableAvailabilityZonesForLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableAvailabilityZonesForLoadBalancerRequest, EnableAvailabilityZonesForLoadBalancerResult>",
      "methodName" : "enableAvailabilityZonesForLoadBalancer"
    },
    "ModifyLoadBalancerAttributes" : {
      "documentation" : "<p>Modifies the attributes of the specified load balancer.</p> <p>You can modify the load balancer attributes, such as <code>AccessLogs</code>, <code>ConnectionDraining</code>, and <code>CrossZoneLoadBalancing</code> by either enabling or disabling them. Or, you can modify the load balancer attribute <code>ConnectionSettings</code> by specifying an idle connection timeout value for your load balancer.</p> <p>For more information, see the following in the <i>Elastic Load Balancing Developer Guide</i>:</p> <ul> <li><a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/TerminologyandKeyConcepts.html#request-routing\">Cross-Zone Load Balancing</a></li> <li><a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/TerminologyandKeyConcepts.html#conn-drain\">Connection Draining</a></li> <li><a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/access-log-collection.html\">Access Logs</a></li> <li><a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/TerminologyandKeyConcepts.html#idle-timeout\">Idle Connection Timeout</a></li> </ul>",
      "operationName" : "ModifyLoadBalancerAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyLoadBalancerAttributesRequest",
        "variableType" : "ModifyLoadBalancerAttributesRequest",
        "variableDeclarationType" : "ModifyLoadBalancerAttributesRequest",
        "documentation" : "",
        "variableSetterType" : "ModifyLoadBalancerAttributesRequest",
        "simpleType" : "ModifyLoadBalancerAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyLoadBalancerAttributesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "LoadBalancerAttributeNotFoundException",
        "documentation" : "<p>The specified load balancer attribute does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ModifyLoadBalancerAttributesResult",
      "asyncReturnType" : "ModifyLoadBalancerAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyLoadBalancerAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyLoadBalancerAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyLoadBalancerAttributesRequest, ModifyLoadBalancerAttributesResult>",
      "methodName" : "modifyLoadBalancerAttributes"
    },
    "RegisterInstancesWithLoadBalancer" : {
      "documentation" : "<p>Adds the specified instances to the specified load balancer.</p> <p>The instance must be a running instance in the same network as the load balancer (EC2-Classic or the same VPC). If you have EC2-Classic instances and a load balancer in a VPC with ClassicLink enabled, you can link the EC2-Classic instances to that VPC and then register the linked EC2-Classic instances with the load balancer in the VPC.</p> <p>Note that <code>RegisterInstanceWithLoadBalancer</code> completes when the request has been registered. Instance registration takes a little time to complete. To check the state of the registered instances, use <a>DescribeLoadBalancers</a> or <a>DescribeInstanceHealth</a>.</p> <p>After the instance is registered, it starts receiving traffic and requests from the load balancer. Any instance that is not in one of the Availability Zones registered for the load balancer is moved to the <code>OutOfService</code> state. If an Availability Zone is added to the load balancer later, any instances registered with the load balancer move to the <code>InService</code> state.</p> <p>If you stop an instance registered with a load balancer and then start it, the IP addresses associated with the instance changes. Elastic Load Balancing cannot recognize the new IP address, which prevents it from routing traffic to the instances. We recommend that you use the following sequence: stop the instance, deregister the instance, start the instance, and then register the instance. To deregister instances from a load balancer, use <a>DeregisterInstancesFromLoadBalancer</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_DeReg_Reg_Instances.html\">Deregister and Register EC2 Instances</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "RegisterInstancesWithLoadBalancer",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerInstancesWithLoadBalancerRequest",
        "variableType" : "RegisterInstancesWithLoadBalancerRequest",
        "variableDeclarationType" : "RegisterInstancesWithLoadBalancerRequest",
        "documentation" : "",
        "variableSetterType" : "RegisterInstancesWithLoadBalancerRequest",
        "simpleType" : "RegisterInstancesWithLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterInstancesWithLoadBalancerResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidInstanceException",
        "documentation" : "<p>The specified endpoint is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RegisterInstancesWithLoadBalancerResult",
      "asyncReturnType" : "RegisterInstancesWithLoadBalancerResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterInstancesWithLoadBalancerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterInstancesWithLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterInstancesWithLoadBalancerRequest, RegisterInstancesWithLoadBalancerResult>",
      "methodName" : "registerInstancesWithLoadBalancer"
    },
    "RemoveTags" : {
      "documentation" : "<p>Removes one or more tags from the specified load balancer.</p>",
      "operationName" : "RemoveTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "variableDeclarationType" : "RemoveTagsRequest",
        "documentation" : "",
        "variableSetterType" : "RemoveTagsRequest",
        "simpleType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RemoveTagsResult",
      "asyncReturnType" : "RemoveTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "methodName" : "removeTags"
    },
    "SetLoadBalancerListenerSSLCertificate" : {
      "documentation" : "<p>Sets the certificate that terminates the specified listener's SSL connections. The specified certificate replaces any prior certificate that was used on the same load balancer and port.</p> <p>For more information about updating your SSL certificate, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_UpdatingLoadBalancerSSL.html\">Updating an SSL Certificate for a Load Balancer</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>",
      "operationName" : "SetLoadBalancerListenerSSLCertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "setLoadBalancerListenerSSLCertificateRequest",
        "variableType" : "SetLoadBalancerListenerSSLCertificateRequest",
        "variableDeclarationType" : "SetLoadBalancerListenerSSLCertificateRequest",
        "documentation" : "",
        "variableSetterType" : "SetLoadBalancerListenerSSLCertificateRequest",
        "simpleType" : "SetLoadBalancerListenerSSLCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetLoadBalancerListenerSSLCertificateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified SSL ID does not refer to a valid SSL certificate in AWS Identity and Access Management (IAM).</p>"
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The load balancer does not have a listener configured at the specified port.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "SetLoadBalancerListenerSSLCertificateResult",
      "asyncReturnType" : "SetLoadBalancerListenerSSLCertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetLoadBalancerListenerSSLCertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetLoadBalancerListenerSSLCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetLoadBalancerListenerSSLCertificateRequest, SetLoadBalancerListenerSSLCertificateResult>",
      "methodName" : "setLoadBalancerListenerSSLCertificate"
    },
    "SetLoadBalancerPoliciesForBackendServer" : {
      "documentation" : "<p>Replaces the set of policies associated with the specified port on which the back-end server is listening with a new set of policies. At this time, only the back-end server authentication policy type can be applied to the back-end ports; this policy type is composed of multiple public key policies.</p> <p>Each time you use <code>SetLoadBalancerPoliciesForBackendServer</code> to enable the policies, use the <code>PolicyNames</code> parameter to list the policies that you want to enable.</p> <p>You can use <a>DescribeLoadBalancers</a> or <a>DescribeLoadBalancerPolicies</a> to verify that the policy is associated with the back-end server.</p>",
      "operationName" : "SetLoadBalancerPoliciesForBackendServer",
      "deprecated" : false,
      "input" : {
        "variableName" : "setLoadBalancerPoliciesForBackendServerRequest",
        "variableType" : "SetLoadBalancerPoliciesForBackendServerRequest",
        "variableDeclarationType" : "SetLoadBalancerPoliciesForBackendServerRequest",
        "documentation" : "",
        "variableSetterType" : "SetLoadBalancerPoliciesForBackendServerRequest",
        "simpleType" : "SetLoadBalancerPoliciesForBackendServerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetLoadBalancerPoliciesForBackendServerResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>One or more of the specified policies do not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "SetLoadBalancerPoliciesForBackendServerResult",
      "asyncReturnType" : "SetLoadBalancerPoliciesForBackendServerResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetLoadBalancerPoliciesForBackendServerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetLoadBalancerPoliciesForBackendServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetLoadBalancerPoliciesForBackendServerRequest, SetLoadBalancerPoliciesForBackendServerResult>",
      "methodName" : "setLoadBalancerPoliciesForBackendServer"
    },
    "SetLoadBalancerPoliciesOfListener" : {
      "documentation" : "<p>Associates, updates, or disables a policy with a listener for the specified load balancer. You can associate multiple policies with a listener.</p>",
      "operationName" : "SetLoadBalancerPoliciesOfListener",
      "deprecated" : false,
      "input" : {
        "variableName" : "setLoadBalancerPoliciesOfListenerRequest",
        "variableType" : "SetLoadBalancerPoliciesOfListenerRequest",
        "variableDeclarationType" : "SetLoadBalancerPoliciesOfListenerRequest",
        "documentation" : "",
        "variableSetterType" : "SetLoadBalancerPoliciesOfListenerRequest",
        "simpleType" : "SetLoadBalancerPoliciesOfListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetLoadBalancerPoliciesOfListenerResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>One or more of the specified policies do not exist.</p>"
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The load balancer does not have a listener configured at the specified port.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "SetLoadBalancerPoliciesOfListenerResult",
      "asyncReturnType" : "SetLoadBalancerPoliciesOfListenerResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetLoadBalancerPoliciesOfListenerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetLoadBalancerPoliciesOfListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetLoadBalancerPoliciesOfListenerRequest, SetLoadBalancerPoliciesOfListenerResult>",
      "methodName" : "setLoadBalancerPoliciesOfListener"
    }
  },
  "shapes" : {
    "CreateLoadBalancerListenersRequest" : {
      "c2jName" : "CreateLoadBalancerListenerInput",
      "documentation" : "",
      "shapeName" : "CreateLoadBalancerListenersRequest",
      "deprecated" : false,
      "required" : [ "LoadBalancerName", "Listeners" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name of the load balancer.</p>",
        "name" : "LoadBalancerName",
        "c2jName" : "LoadBalancerName",
        "c2jShape" : "AccessPointName",
        "variable" : {
          "variableName" : "loadBalancerName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name of the load balancer.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "loadBalancerName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "LoadBalancerName",
          "marshallLocationName" : "LoadBalancerName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name of the load balancer.</p>\n@param loadBalancerName The name of the load balancer.*/",
        "getterDocumentation" : "/**<p>The name of the load balancer.</p>\n@return The name of the load balancer.*/",
        "fluentSetterDocumentation" : "/**<p>The name of the load balancer.</p>\n@param loadBalancerName The name of the load balancer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name of the load balancer.</p>\n@param loadBalancerName The name of the load balancer.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The listeners.</p>",
        "name" : "Listeners",
        "c2jName" : "Listeners",
        "c2jShape" : "Listeners",
        "variable" : {
          "variableName" : "listeners",
          "variableType" : "java.util.List<Listener>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Listener>",
          "documentation" : "<p>The listeners.</p>",
          "variableSetterType" : "java.util.Collection<Listener>",
          "simpleType" : "List<Listener>"
        },
        "setterModel" : {
          "variableName" : "listeners",
          "variableType" : "java.util.List<Listener>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Listener>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<Listener>",
          "simpleType" : "List<Listener>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Listener>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Listeners",
          "marshallLocationName" : "Listeners",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Listener",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Listener",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Listener",
              "variableDeclarationType" : "Listener",
              "documentation" : "",
              "variableSetterType" : "Listener",
              "simpleType" : "Listener"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Listener",
              "variableDeclarationType" : "Listener",
              "documentation" : "",
              "variableSetterType" : "Listener",
              "simpleType" : "Listener"
            },
            "getterModel" : {
              "returnType" : "Listener",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "templateType" : "java.util.List<Listener>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Listener>",
          "simple" : false,
          "map" : false,
          "simpleType" : "Listener"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The listeners.</p>\n@param listeners The listeners.*/",
        "getterDocumentation" : "/**<p>The listeners.</p>\n@return The listeners.*/",
        "fluentSetterDocumentation" : "/**<p>The listeners.</p>\n@param listeners The listeners.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The listeners.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setListeners(java.util.Collection)} or {@link #withListeners(java.util.Collection)} if you want to override the existing values.</p>\n@param listeners The listeners.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "createLoadBalancerListenersRequest",
        "variableType" : "CreateLoadBalancerListenersRequest",
        "variableDeclarationType" : "CreateLoadBalancerListenersRequest",
        "documentation" : null,
        "variableSetterType" : "CreateLoadBalancerListenersRequest",
        "simpleType" : "CreateLoadBalancerListenersRequest"
      },
      "marshaller" : {
        "action" : "CreateLoadBalancerListeners",
        "verb" : "POST",
        "target" : null,
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "LoadBalancerName" : {
          "documentation" : "<p>The name of the load balancer.</p>",
          "name" : "LoadBalancerName",
          "c2jName" : "LoadBalancerName",
          "c2jShape" : "AccessPointName",
          "variable" : {
            "variableName" : "loadBalancerName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The name of the load balancer.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "loadBalancerName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "LoadBalancerName",
            "marshallLocationName" : "LoadBalancerName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The name of the load balancer.</p>\n@param loadBalancerName The name of the load balancer.*/",
          "getterDocumentation" : "/**<p>The name of the load balancer.</p>\n@return The name of the load balancer.*/",
          "fluentSetterDocumentation" : "/**<p>The name of the load balancer.</p>\n@param loadBalancerName The name of the load balancer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The name of the load balancer.</p>\n@param loadBalancerName The name of the load balancer.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Listeners" : {
          "documentation" : "<p>The listeners.</p>",
          "name" : "Listeners",
          "c2jName" : "Listeners",
          "c2jShape" : "Listeners",
          "variable" : {
            "variableName" : "listeners",
            "variableType" : "java.util.List<Listener>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Listener>",
            "documentation" : "<p>The listeners.</p>",
            "variableSetterType" : "java.util.Collection<Listener>",
            "simpleType" : "List<Listener>"
          },
          "setterModel" : {
            "variableName" : "listeners",
            "variableType" : "java.util.List<Listener>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Listener>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<Listener>",
            "simpleType" : "List<Listener>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Listener>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Listeners",
            "marshallLocationName" : "Listeners",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Listener",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Listener",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Listener",
                "variableDeclarationType" : "Listener",
                "documentation" : "",
                "variableSetterType" : "Listener",
                "simpleType" : "Listener"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Listener",
                "variableDeclarationType" : "Listener",
                "documentation" : "",
                "variableSetterType" : "Listener",
                "simpleType" : "Listener"
              },
              "getterModel" : {
                "returnType" : "Listener",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "templateType" : "java.util.List<Listener>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Listener>",
            "simple" : false,
            "map" : false,
            "simpleType" : "Listener"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>The listeners.</p>\n@param listeners The listeners.*/",
          "getterDocumentation" : "/**<p>The listeners.</p>\n@return The listeners.*/",
          "fluentSetterDocumentation" : "/**<p>The listeners.</p>\n@param listeners The listeners.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The listeners.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setListeners(java.util.Collection)} or {@link #withListeners(java.util.Collection)} if you want to override the existing values.</p>\n@param listeners The listeners.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "Policies" : {
      "c2jName" : "Policies",
      "documentation" : "<p>The policies for a load balancer.</p>",
      "shapeName" : "Policies",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>.</p>",
        "name" : "AppCookieStickinessPolicies",
        "c2jName" : "AppCookieStickinessPolicies",
        "c2jShape" : "AppCookieStickinessPolicies",
        "variable" : {
          "variableName" : "appCookieStickinessPolicies",
          "variableType" : "java.util.List<AppCookieStickinessPolicy>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<AppCookieStickinessPolicy>",
          "documentation" : "<p>The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>.</p>",
          "variableSetterType" : "java.util.Collection<AppCookieStickinessPolicy>",
          "simpleType" : "List<AppCookieStickinessPolicy>"
        },
        "setterModel" : {
          "variableName" : "appCookieStickinessPolicies",
          "variableType" : "java.util.List<AppCookieStickinessPolicy>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<AppCookieStickinessPolicy>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<AppCookieStickinessPolicy>",
          "simpleType" : "List<AppCookieStickinessPolicy>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<AppCookieStickinessPolicy>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AppCookieStickinessPolicies",
          "marshallLocationName" : "AppCookieStickinessPolicies",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "AppCookieStickinessPolicy",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "AppCookieStickinessPolicy",
            "variable" : {
              "variableName" : "member",
              "variableType" : "AppCookieStickinessPolicy",
              "variableDeclarationType" : "AppCookieStickinessPolicy",
              "documentation" : "",
              "variableSetterType" : "AppCookieStickinessPolicy",
              "simpleType" : "AppCookieStickinessPolicy"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "AppCookieStickinessPolicy",
              "variableDeclarationType" : "AppCookieStickinessPolicy",
              "documentation" : "",
              "variableSetterType" : "AppCookieStickinessPolicy",
              "simpleType" : "AppCookieStickinessPolicy"
            },
            "getterModel" : {
              "returnType" : "AppCookieStickinessPolicy",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "templateType" : "java.util.List<AppCookieStickinessPolicy>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<AppCookieStickinessPolicy>",
          "simple" : false,
          "map" : false,
          "simpleType" : "AppCookieStickinessPolicy"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>.</p>\n@param appCookieStickinessPolicies The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>.*/",
        "getterDocumentation" : "/**<p>The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>.</p>\n@return The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>.*/",
        "fluentSetterDocumentation" : "/**<p>The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>.</p>\n@param appCookieStickinessPolicies The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAppCookieStickinessPolicies(java.util.Collection)} or {@link #withAppCookieStickinessPolicies(java.util.Collection)} if you want to override the existing values.</p>\n@param appCookieStickinessPolicies The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>.</p>",
        "name" : "LBCookieStickinessPolicies",
        "c2jName" : "LBCookieStickinessPolicies",
        "c2jShape" : "LBCookieStickinessPolicies",
        "variable" : {
          "variableName" : "lBCookieStickinessPolicies",
          "variableType" : "java.util.List<LBCookieStickinessPolicy>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<LBCookieStickinessPolicy>",
          "documentation" : "<p>The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>.</p>",
          "variableSetterType" : "java.util.Collection<LBCookieStickinessPolicy>",
          "simpleType" : "List<LBCookieStickinessPolicy>"
        },
        "setterModel" : {
          "variableName" : "lBCookieStickinessPolicies",
          "variableType" : "java.util.List<LBCookieStickinessPolicy>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<LBCookieStickinessPolicy>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<LBCookieStickinessPolicy>",
          "simpleType" : "List<LBCookieStickinessPolicy>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<LBCookieStickinessPolicy>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "LBCookieStickinessPolicies",
          "marshallLocationName" : "LBCookieStickinessPolicies",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "LBCookieStickinessPolicy",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "LBCookieStickinessPolicy",
            "variable" : {
              "variableName" : "member",
              "variableType" : "LBCookieStickinessPolicy",
              "variableDeclarationType" : "LBCookieStickinessPolicy",
              "documentation" : "",
              "variableSetterType" : "LBCookieStickinessPolicy",
              "simpleType" : "LBCookieStickinessPolicy"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "LBCookieStickinessPolicy",
              "variableDeclarationType" : "LBCookieStickinessPolicy",
              "documentation" : "",
              "variableSetterType" : "LBCookieStickinessPolicy",
              "simpleType" : "LBCookieStickinessPolicy"
            },
            "getterModel" : {
              "returnType" : "LBCookieStickinessPolicy",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "templateType" : "java.util.List<LBCookieStickinessPolicy>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<LBCookieStickinessPolicy>",
          "simple" : false,
          "map" : false,
          "simpleType" : "LBCookieStickinessPolicy"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>.</p>\n@param lBCookieStickinessPolicies The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>.*/",
        "getterDocumentation" : "/**<p>The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>.</p>\n@return The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>.*/",
        "fluentSetterDocumentation" : "/**<p>The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>.</p>\n@param lBCookieStickinessPolicies The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLBCookieStickinessPolicies(java.util.Collection)} or {@link #withLBCookieStickinessPolicies(java.util.Collection)} if you want to override the existing values.</p>\n@param lBCookieStickinessPolicies The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The policies other than the stickiness policies.</p>",
        "name" : "OtherPolicies",
        "c2jName" : "OtherPolicies",
        "c2jShape" : "PolicyNames",
        "variable" : {
          "variableName" : "otherPolicies",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>The policies other than the stickiness policies.</p>",
          "variableSetterType" : "java.util.Collection<String>",
          "simpleType" : "List<String>"
        },
        "setterModel" : {
          "variableName" : "otherPolicies",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<String>",
          "simpleType" : "List<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "OtherPolicies",
          "marshallLocationName" : "OtherPolicies",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "PolicyName",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "variableSetterType" : "String",
              "simpleType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "variableSetterType" : "String",
              "simpleType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>",
          "simple" : true,
          "map" : false,
          "simpleType" : "String"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>The policies other than the stickiness policies.</p>\n@param otherPolicies The policies other than the stickiness policies.*/",
        "getterDocumentation" : "/**<p>The policies other than the stickiness policies.</p>\n@return The policies other than the stickiness policies.*/",
[...]
