{
  "metadata" : {
    "apiVersion" : "2010-08-01",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<p>Amazon CloudWatch monitors your Amazon Web Services (AWS) resources and the applications you run on AWS in real-time. You can use CloudWatch to collect and track metrics, which are the variables you want to measure for your resources and applications.</p> <p>CloudWatch alarms send notifications or automatically make changes to the resources you are monitoring based on rules that you define. For example, you can monitor the CPU usage and disk reads and writes of your Amazon Elastic Compute Cloud (Amazon EC2) instances and then use this data to determine whether you should launch additional instances to handle increased load. You can also use this data to stop under-used instances to save money.</p> <p>In addition to monitoring the built-in metrics that come with AWS, you can monitor your own custom metrics. With CloudWatch, you gain system-wide visibility into resource utilization, application performance, and operational health.</p>",
    "defaultEndpoint" : "https://monitoring.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "monitoring.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonCloudWatch",
    "syncClient" : "AmazonCloudWatchClient",
    "asyncInterface" : "AmazonCloudWatchAsync",
    "asyncClient" : "AmazonCloudWatchAsyncClient",
    "packageName" : "com.amazonaws.services.cloudwatch",
    "packagePath" : "com/amazonaws/services/cloudwatch",
    "serviceAbbreviation" : "CloudWatch",
    "serviceFullName" : "Amazon CloudWatch",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "monitoring",
    "signingName" : "monitoring",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "jsonProtocol" : false,
    "syncClientBuilderClassName" : "AmazonCloudWatchClientBuilder",
    "asyncClientBuilderClassName" : "AmazonCloudWatchAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonCloudWatchModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudwatch.smoketests",
    "serviceName" : "CloudWatch",
    "cborProtocol" : false,
    "xmlProtocol" : true,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller"
  },
  "operations" : {
    "DeleteAlarms" : {
      "documentation" : "<p>Deletes all specified alarms. In the event of an error, no alarms are deleted.</p>",
      "operationName" : "DeleteAlarms",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAlarmsRequest",
        "variableType" : "DeleteAlarmsRequest",
        "variableDeclarationType" : "DeleteAlarmsRequest",
        "documentation" : "<p>Describes the inputs for DeleteAlarms.</p>",
        "simpleType" : "DeleteAlarmsRequest",
        "variableSetterType" : "DeleteAlarmsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAlarmsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The named resource does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteAlarms",
      "authenticated" : true,
      "syncReturnType" : "DeleteAlarmsResult",
      "asyncReturnType" : "DeleteAlarmsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAlarmsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAlarmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAlarmsRequest, DeleteAlarmsResult>"
    },
    "DescribeAlarmHistory" : {
      "documentation" : "<p>Retrieves history for the specified alarm. Filter alarms by date range or item type. If an alarm name is not specified, Amazon CloudWatch returns histories for all of the owner's alarms.</p> <note> <p>Amazon CloudWatch retains the history of an alarm for two weeks, whether or not you delete the alarm.</p> </note>",
      "operationName" : "DescribeAlarmHistory",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAlarmHistoryRequest",
        "variableType" : "DescribeAlarmHistoryRequest",
        "variableDeclarationType" : "DescribeAlarmHistoryRequest",
        "documentation" : "<p>Describes the inputs for DescribeAlarmHistory.</p>",
        "simpleType" : "DescribeAlarmHistoryRequest",
        "variableSetterType" : "DescribeAlarmHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAlarmHistoryResult",
        "documentation" : "<p> The output for <a>DescribeAlarmHistory</a>. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token specified is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeAlarmHistory",
      "authenticated" : true,
      "syncReturnType" : "DescribeAlarmHistoryResult",
      "asyncReturnType" : "DescribeAlarmHistoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmHistoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmHistoryRequest, DescribeAlarmHistoryResult>"
    },
    "DescribeAlarms" : {
      "documentation" : "<p>Retrieves alarms with the specified names. If no name is specified, all alarms for the user are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action.</p>",
      "operationName" : "DescribeAlarms",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAlarmsRequest",
        "variableType" : "DescribeAlarmsRequest",
        "variableDeclarationType" : "DescribeAlarmsRequest",
        "documentation" : "<p>Describes the inputs for DescribeAlarms.</p>",
        "simpleType" : "DescribeAlarmsRequest",
        "variableSetterType" : "DescribeAlarmsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAlarmsResult",
        "documentation" : "<p>The output for <a>DescribeAlarms</a>.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token specified is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeAlarms",
      "authenticated" : true,
      "syncReturnType" : "DescribeAlarmsResult",
      "asyncReturnType" : "DescribeAlarmsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmsRequest, DescribeAlarmsResult>"
    },
    "DescribeAlarmsForMetric" : {
      "documentation" : "<p>Retrieves all alarms for a single metric. Specify a statistic, period, or unit to filter the set of alarms further.</p>",
      "operationName" : "DescribeAlarmsForMetric",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAlarmsForMetricRequest",
        "variableType" : "DescribeAlarmsForMetricRequest",
        "variableDeclarationType" : "DescribeAlarmsForMetricRequest",
        "documentation" : "<p>Describes the inputs for DescribeAlarmsForMetric.</p>",
        "simpleType" : "DescribeAlarmsForMetricRequest",
        "variableSetterType" : "DescribeAlarmsForMetricRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAlarmsForMetricResult",
        "documentation" : "<p> The output for <a>DescribeAlarmsForMetric</a>. </p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeAlarmsForMetric",
      "authenticated" : true,
      "syncReturnType" : "DescribeAlarmsForMetricResult",
      "asyncReturnType" : "DescribeAlarmsForMetricResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmsForMetricResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmsForMetricResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmsForMetricRequest, DescribeAlarmsForMetricResult>"
    },
    "DisableAlarmActions" : {
      "documentation" : "<p>Disables actions for the specified alarms. When an alarm's actions are disabled the alarm's state may change, but none of the alarm's actions will execute.</p>",
      "operationName" : "DisableAlarmActions",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableAlarmActionsRequest",
        "variableType" : "DisableAlarmActionsRequest",
        "variableDeclarationType" : "DisableAlarmActionsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DisableAlarmActionsRequest",
        "variableSetterType" : "DisableAlarmActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableAlarmActionsResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "disableAlarmActions",
      "authenticated" : true,
      "syncReturnType" : "DisableAlarmActionsResult",
      "asyncReturnType" : "DisableAlarmActionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableAlarmActionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableAlarmActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableAlarmActionsRequest, DisableAlarmActionsResult>"
    },
    "EnableAlarmActions" : {
      "documentation" : "<p>Enables actions for the specified alarms.</p>",
      "operationName" : "EnableAlarmActions",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableAlarmActionsRequest",
        "variableType" : "EnableAlarmActionsRequest",
        "variableDeclarationType" : "EnableAlarmActionsRequest",
        "documentation" : "<p>Describes the inputs for EnableAlarmActions.</p>",
        "simpleType" : "EnableAlarmActionsRequest",
        "variableSetterType" : "EnableAlarmActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableAlarmActionsResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "enableAlarmActions",
      "authenticated" : true,
      "syncReturnType" : "EnableAlarmActionsResult",
      "asyncReturnType" : "EnableAlarmActionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableAlarmActionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableAlarmActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableAlarmActionsRequest, EnableAlarmActionsResult>"
    },
    "GetMetricStatistics" : {
      "documentation" : "<p>Gets statistics for the specified metric.</p> <p> The maximum number of data points that can be queried is 50,850, whereas the maximum number of data points returned from a single <code>GetMetricStatistics</code> request is 1,440. If you make a request that generates more than 1,440 data points, Amazon CloudWatch returns an error. In such a case, you can alter the request by narrowing the specified time range or increasing the specified period. A period can be as short as one minute (60 seconds) or as long as one day (86,400 seconds). Alternatively, you can make multiple requests across adjacent time ranges. <code>GetMetricStatistics</code> does not return the data in chronological order. </p> <p> Amazon CloudWatch aggregates data points based on the length of the <code>period</code> that you specify. For example, if you request statistics with a one-minute granularity, Amazon CloudWatch aggregates data points with time stamps that fall within the same one-minute period. In such a case, the data points queried can greatly outnumber the data points returned. </p> <p> The following examples show various statistics allowed by the data point query maximum of 50,850 when you call <code>GetMetricStatistics</code> on Amazon EC2 instances with detailed (one-minute) monitoring enabled: </p> <ul> <li> <p>Statistics for up to 400 instances for a span of one hour</p> </li> <li> <p>Statistics for up to 35 instances over a span of 24 hours</p> </li> <li> <p>Statistics for up to 2 instances over a span of 2 weeks</p> </li> </ul> <p> For information about the namespace, metric names, and dimensions that other Amazon Web Services products use to send metrics to CloudWatch, go to <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/CW_Support_For_AWS.html\">Amazon CloudWatch Metrics, Namespaces, and Dimensions Reference</a> in the <i>Amazon CloudWatch Developer Guide</i>. </p>",
      "operationName" : "GetMetricStatistics",
      "deprecated" : false,
      "input" : {
        "variableName" : "getMetricStatisticsRequest",
        "variableType" : "GetMetricStatisticsRequest",
        "variableDeclarationType" : "GetMetricStatisticsRequest",
        "documentation" : "<p>Describes the inputs for GetMetricStatistics.</p>",
        "simpleType" : "GetMetricStatisticsRequest",
        "variableSetterType" : "GetMetricStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetMetricStatisticsResult",
        "documentation" : "<p> The output for <a>GetMetricStatistics</a>. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Bad or out-of-range value was supplied for the input parameter.</p>"
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>An input parameter that is mandatory for processing the request is not supplied.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Parameters that must not be used together were used together.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates that the request processing has failed due to some unknown error, exception, or failure.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getMetricStatistics",
      "authenticated" : true,
      "syncReturnType" : "GetMetricStatisticsResult",
      "asyncReturnType" : "GetMetricStatisticsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetMetricStatisticsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetMetricStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMetricStatisticsRequest, GetMetricStatisticsResult>"
    },
    "ListMetrics" : {
      "documentation" : "<p> Returns a list of valid metrics stored for the AWS account owner. Returned metrics can be used with <a>GetMetricStatistics</a> to obtain statistical data for a given metric. </p> <note> <p> Up to 500 results are returned for any one call. To retrieve further results, use returned <code>NextToken</code> values with subsequent <code>ListMetrics</code> operations.</p> </note> <note> <p> If you create a metric with <a>PutMetricData</a>, allow up to fifteen minutes for the metric to appear in calls to <code>ListMetrics</code>. Statistics about the metric, however, are available sooner using <a>GetMetricStatistics</a>.</p> </note>",
      "operationName" : "ListMetrics",
      "deprecated" : false,
      "input" : {
        "variableName" : "listMetricsRequest",
        "variableType" : "ListMetricsRequest",
        "variableDeclarationType" : "ListMetricsRequest",
        "documentation" : "<p>Describes the inputs for ListMetrics.</p>",
        "simpleType" : "ListMetricsRequest",
        "variableSetterType" : "ListMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListMetricsResult",
        "documentation" : "<p> The output for <a>ListMetrics</a>. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates that the request processing has failed due to some unknown error, exception, or failure.</p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Bad or out-of-range value was supplied for the input parameter.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listMetrics",
      "authenticated" : true,
      "syncReturnType" : "ListMetricsResult",
      "asyncReturnType" : "ListMetricsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListMetricsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMetricsRequest, ListMetricsResult>"
    },
    "PutMetricAlarm" : {
      "documentation" : "<p>Creates or updates an alarm and associates it with the specified Amazon CloudWatch metric. Optionally, this operation can associate one or more Amazon SNS resources with the alarm.</p> <p> When this operation creates an alarm, the alarm state is immediately set to <code>INSUFFICIENT_DATA</code>. The alarm is evaluated and its <code>StateValue</code> is set appropriately. Any actions associated with the <code>StateValue</code> are then executed. </p> <note> <p>When updating an existing alarm, its <code>StateValue</code> is left unchanged, but it completely overwrites the alarm's previous configuration.</p> </note> <note> <p>If you are using an AWS Identity and Access Management (IAM) account to create or modify an alarm, you must have the following Amazon EC2 permissions:</p> <ul> <li> <p> <code>ec2:DescribeInstanceStatus</code> and <code>ec2:DescribeInstances</code> for all alarms on Amazon EC2 instance status metrics.</p> </li> <li> <p> <code>ec2:StopInstances</code> for alarms with stop actions.</p> </li> <li> <p> <code>ec2:TerminateInstances</code> for alarms with terminate actions.</p> </li> <li> <p> <code>ec2:DescribeInstanceRecoveryAttribute</code>, and <code>ec2:RecoverInstances</code> for alarms with recover actions.</p> </li> </ul> <p>If you have read/write permissions for Amazon CloudWatch but not for Amazon EC2, you can still create an alarm but the stop or terminate actions won't be performed on the Amazon EC2 instance. However, if you are later granted permission to use the associated Amazon EC2 APIs, the alarm actions you created earlier will be performed. For more information about IAM permissions, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/PermissionsAndPolicies.html\">Permissions and Policies</a> in <i>Using IAM</i>.</p> <p>If you are using an IAM role (e.g., an Amazon EC2 instance profile), you cannot stop or terminate the instance using alarm actions. However, you can still see the alarm state and perform any other actions such as Amazon SNS notifications or Auto Scaling policies.</p> <p>If you are using temporary security credentials granted using the AWS Security Token Service (AWS STS), you cannot stop or terminate an Amazon EC2 instance using alarm actions.</p> </note>",
      "operationName" : "PutMetricAlarm",
      "deprecated" : false,
      "input" : {
        "variableName" : "putMetricAlarmRequest",
        "variableType" : "PutMetricAlarmRequest",
        "variableDeclarationType" : "PutMetricAlarmRequest",
        "documentation" : "<p>Describes the inputs for PutMetricAlarm.</p>",
        "simpleType" : "PutMetricAlarmRequest",
        "variableSetterType" : "PutMetricAlarmRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutMetricAlarmResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The quota for alarms for this customer has already been reached.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "putMetricAlarm",
      "authenticated" : true,
      "syncReturnType" : "PutMetricAlarmResult",
      "asyncReturnType" : "PutMetricAlarmResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutMetricAlarmResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutMetricAlarmResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricAlarmRequest, PutMetricAlarmResult>"
    },
    "PutMetricData" : {
      "documentation" : "<p> Publishes metric data points to Amazon CloudWatch. Amazon CloudWatch associates the data points with the specified metric. If the specified metric does not exist, Amazon CloudWatch creates the metric. When Amazon CloudWatch creates a metric, it can take up to fifteen minutes for the metric to appear in calls to <a>ListMetrics</a>. </p> <p> Each <code>PutMetricData</code> request is limited to 8 KB in size for HTTP GET requests and is limited to 40 KB in size for HTTP POST requests. </p> <important> <p>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch rejects values that are either too small or too large. Values must be in the range of 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2). In addition, special values (e.g., NaN, +Infinity, -Infinity) are not supported.</p> </important> <p>Data that is timestamped 24 hours or more in the past may take in excess of 48 hours to become available from submission time using <code>GetMetricStatistics</code>.</p>",
      "operationName" : "PutMetricData",
      "deprecated" : false,
      "input" : {
        "variableName" : "putMetricDataRequest",
        "variableType" : "PutMetricDataRequest",
        "variableDeclarationType" : "PutMetricDataRequest",
        "documentation" : "<p>Describes the inputs for PutMetricData.</p>",
        "simpleType" : "PutMetricDataRequest",
        "variableSetterType" : "PutMetricDataRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutMetricDataResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>Bad or out-of-range value was supplied for the input parameter.</p>"
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p>An input parameter that is mandatory for processing the request is not supplied.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Parameters that must not be used together were used together.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Indicates that the request processing has failed due to some unknown error, exception, or failure.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "putMetricData",
      "authenticated" : true,
      "syncReturnType" : "PutMetricDataResult",
      "asyncReturnType" : "PutMetricDataResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutMetricDataResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutMetricDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricDataRequest, PutMetricDataResult>"
    },
    "SetAlarmState" : {
      "documentation" : "<p> Temporarily sets the state of an alarm for testing purposes. When the updated <code>StateValue</code> differs from the previous value, the action configured for the appropriate state is invoked. For example, if your alarm is configured to send an Amazon SNS message when an alarm is triggered, temporarily changing the alarm's state to <b>ALARM</b> sends an Amazon SNS message. The alarm returns to its actual state (often within seconds). Because the alarm state change happens very quickly, it is typically only visible in the alarm's <b>History</b> tab in the Amazon CloudWatch console or through <code>DescribeAlarmHistory</code>. </p>",
      "operationName" : "SetAlarmState",
      "deprecated" : false,
      "input" : {
        "variableName" : "setAlarmStateRequest",
        "variableType" : "SetAlarmStateRequest",
        "variableDeclarationType" : "SetAlarmStateRequest",
        "documentation" : "<p>Describes the inputs for SetAlarmState.</p>",
        "simpleType" : "SetAlarmStateRequest",
        "variableSetterType" : "SetAlarmStateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "SetAlarmStateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The named resource does not exist.</p>"
      }, {
        "exceptionName" : "InvalidFormatException",
        "documentation" : "<p>Data was not syntactically valid JSON.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setAlarmState",
      "authenticated" : true,
      "syncReturnType" : "SetAlarmStateResult",
      "asyncReturnType" : "SetAlarmStateResult",
      "asyncFutureType" : "java.util.concurrent.Future<SetAlarmStateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<SetAlarmStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetAlarmStateRequest, SetAlarmStateResult>"
    }
  },
  "shapes" : {
    "InvalidParameterCombinationException" : {
      "c2jName" : "InvalidParameterCombinationException",
      "documentation" : "<p>Parameters that must not be used together were used together.</p>",
      "shapeName" : "InvalidParameterCombinationException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "invalidParameterCombinationException",
        "variableType" : "InvalidParameterCombinationException",
        "variableDeclarationType" : "InvalidParameterCombinationException",
        "documentation" : null,
        "simpleType" : "InvalidParameterCombinationException",
        "variableSetterType" : "InvalidParameterCombinationException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidParameterCombination",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ComparisonOperator" : {
      "c2jName" : "ComparisonOperator",
      "documentation" : "",
      "shapeName" : "ComparisonOperator",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "GreaterThanOrEqualToThreshold",
        "value" : "GreaterThanOrEqualToThreshold"
      }, {
        "name" : "GreaterThanThreshold",
        "value" : "GreaterThanThreshold"
      }, {
        "name" : "LessThanThreshold",
        "value" : "LessThanThreshold"
      }, {
        "name" : "LessThanOrEqualToThreshold",
        "value" : "LessThanOrEqualToThreshold"
      } ],
      "variable" : {
        "variableName" : "comparisonOperator",
        "variableType" : "ComparisonOperator",
        "variableDeclarationType" : "ComparisonOperator",
        "documentation" : null,
        "simpleType" : "ComparisonOperator",
        "variableSetterType" : "ComparisonOperator"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "DescribeAlarmsForMetricResult" : {
      "c2jName" : "DescribeAlarmsForMetricOutput",
      "documentation" : "<p> The output for <a>DescribeAlarmsForMetric</a>. </p>",
      "shapeName" : "DescribeAlarmsForMetricResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A list of information for each alarm with the specified metric.</p>",
        "name" : "MetricAlarms",
        "c2jName" : "MetricAlarms",
        "c2jShape" : "MetricAlarms",
        "variable" : {
          "variableName" : "metricAlarms",
          "variableType" : "java.util.List<MetricAlarm>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<MetricAlarm>",
          "documentation" : "<p>A list of information for each alarm with the specified metric.</p>",
          "simpleType" : "List<MetricAlarm>",
          "variableSetterType" : "java.util.Collection<MetricAlarm>"
        },
        "setterModel" : {
          "variableName" : "metricAlarms",
          "variableType" : "java.util.List<MetricAlarm>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<MetricAlarm>",
          "documentation" : "",
          "simpleType" : "List<MetricAlarm>",
          "variableSetterType" : "java.util.Collection<MetricAlarm>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<MetricAlarm>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "MetricAlarms",
          "marshallLocationName" : "MetricAlarms",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "MetricAlarm",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "MetricAlarm",
            "variable" : {
              "variableName" : "member",
              "variableType" : "MetricAlarm",
              "variableDeclarationType" : "MetricAlarm",
              "documentation" : "",
              "simpleType" : "MetricAlarm",
              "variableSetterType" : "MetricAlarm"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "MetricAlarm",
              "variableDeclarationType" : "MetricAlarm",
              "documentation" : "",
              "simpleType" : "MetricAlarm",
              "variableSetterType" : "MetricAlarm"
            },
            "getterModel" : {
              "returnType" : "MetricAlarm",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "MetricAlarm",
          "templateType" : "java.util.List<MetricAlarm>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<MetricAlarm>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of information for each alarm with the specified metric.</p>\n@param metricAlarms A list of information for each alarm with the specified metric.*/",
        "getterDocumentation" : "/**<p>A list of information for each alarm with the specified metric.</p>\n@return A list of information for each alarm with the specified metric.*/",
        "fluentSetterDocumentation" : "/**<p>A list of information for each alarm with the specified metric.</p>\n@param metricAlarms A list of information for each alarm with the specified metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of information for each alarm with the specified metric.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMetricAlarms(java.util.Collection)} or {@link #withMetricAlarms(java.util.Collection)} if you want to override the existing values.</p>\n@param metricAlarms A list of information for each alarm with the specified metric.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeAlarmsForMetricResult",
        "variableType" : "DescribeAlarmsForMetricResult",
        "variableDeclarationType" : "DescribeAlarmsForMetricResult",
        "documentation" : null,
        "simpleType" : "DescribeAlarmsForMetricResult",
        "variableSetterType" : "DescribeAlarmsForMetricResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : "DescribeAlarmsForMetricResult",
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "MetricAlarms" : {
          "documentation" : "<p>A list of information for each alarm with the specified metric.</p>",
          "name" : "MetricAlarms",
          "c2jName" : "MetricAlarms",
          "c2jShape" : "MetricAlarms",
          "variable" : {
            "variableName" : "metricAlarms",
            "variableType" : "java.util.List<MetricAlarm>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<MetricAlarm>",
            "documentation" : "<p>A list of information for each alarm with the specified metric.</p>",
            "simpleType" : "List<MetricAlarm>",
            "variableSetterType" : "java.util.Collection<MetricAlarm>"
          },
          "setterModel" : {
            "variableName" : "metricAlarms",
            "variableType" : "java.util.List<MetricAlarm>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<MetricAlarm>",
            "documentation" : "",
            "simpleType" : "List<MetricAlarm>",
            "variableSetterType" : "java.util.Collection<MetricAlarm>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<MetricAlarm>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "MetricAlarms",
            "marshallLocationName" : "MetricAlarms",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "MetricAlarm",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "MetricAlarm",
              "variable" : {
                "variableName" : "member",
                "variableType" : "MetricAlarm",
                "variableDeclarationType" : "MetricAlarm",
                "documentation" : "",
                "simpleType" : "MetricAlarm",
                "variableSetterType" : "MetricAlarm"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "MetricAlarm",
                "variableDeclarationType" : "MetricAlarm",
                "documentation" : "",
                "simpleType" : "MetricAlarm",
                "variableSetterType" : "MetricAlarm"
              },
              "getterModel" : {
                "returnType" : "MetricAlarm",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "MetricAlarm",
            "templateType" : "java.util.List<MetricAlarm>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<MetricAlarm>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of information for each alarm with the specified metric.</p>\n@param metricAlarms A list of information for each alarm with the specified metric.*/",
          "getterDocumentation" : "/**<p>A list of information for each alarm with the specified metric.</p>\n@return A list of information for each alarm with the specified metric.*/",
          "fluentSetterDocumentation" : "/**<p>A list of information for each alarm with the specified metric.</p>\n@param metricAlarms A list of information for each alarm with the specified metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of information for each alarm with the specified metric.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMetricAlarms(java.util.Collection)} or {@link #withMetricAlarms(java.util.Collection)} if you want to override the existing values.</p>\n@param metricAlarms A list of information for each alarm with the specified metric.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "PutMetricAlarmResult" : {
      "c2jName" : "PutMetricAlarmResult",
      "documentation" : null,
      "shapeName" : "PutMetricAlarmResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "putMetricAlarmResult",
        "variableType" : "PutMetricAlarmResult",
        "variableDeclarationType" : "PutMetricAlarmResult",
        "documentation" : null,
        "simpleType" : "PutMetricAlarmResult",
        "variableSetterType" : "PutMetricAlarmResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "PutMetricAlarmRequest" : {
      "c2jName" : "PutMetricAlarmInput",
      "documentation" : "<p>Describes the inputs for PutMetricAlarm.</p>",
      "shapeName" : "PutMetricAlarmRequest",
      "deprecated" : false,
      "required" : [ "AlarmName", "MetricName", "Namespace", "Statistic", "Period", "EvaluationPeriods", "Threshold", "ComparisonOperator" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The descriptive name for the alarm. This name must be unique within the user's AWS account</p>",
        "name" : "AlarmName",
        "c2jName" : "AlarmName",
        "c2jShape" : "AlarmName",
        "variable" : {
          "variableName" : "alarmName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The descriptive name for the alarm. This name must be unique within the user's AWS account</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "alarmName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AlarmName",
          "marshallLocationName" : "AlarmName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The descriptive name for the alarm. This name must be unique within the user's AWS account</p>\n@param alarmName The descriptive name for the alarm. This name must be unique within the user's AWS account*/",
        "getterDocumentation" : "/**<p>The descriptive name for the alarm. This name must be unique within the user's AWS account</p>\n@return The descriptive name for the alarm. This name must be unique within the user's AWS account*/",
        "fluentSetterDocumentation" : "/**<p>The descriptive name for the alarm. This name must be unique within the user's AWS account</p>\n@param alarmName The descriptive name for the alarm. This name must be unique within the user's AWS account\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The descriptive name for the alarm. This name must be unique within the user's AWS account</p>\n@param alarmName The descriptive name for the alarm. This name must be unique within the user's AWS account\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The description for the alarm.</p>",
        "name" : "AlarmDescription",
        "c2jName" : "AlarmDescription",
        "c2jShape" : "AlarmDescription",
        "variable" : {
          "variableName" : "alarmDescription",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The description for the alarm.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "alarmDescription",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AlarmDescription",
          "marshallLocationName" : "AlarmDescription",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The description for the alarm.</p>\n@param alarmDescription The description for the alarm.*/",
        "getterDocumentation" : "/**<p>The description for the alarm.</p>\n@return The description for the alarm.*/",
        "fluentSetterDocumentation" : "/**<p>The description for the alarm.</p>\n@param alarmDescription The description for the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The description for the alarm.</p>\n@param alarmDescription The description for the alarm.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Indicates whether or not actions should be executed during any changes to the alarm's state.</p>",
        "name" : "ActionsEnabled",
        "c2jName" : "ActionsEnabled",
        "c2jShape" : "ActionsEnabled",
        "variable" : {
          "variableName" : "actionsEnabled",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "<p>Indicates whether or not actions should be executed during any changes to the alarm's state.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "actionsEnabled",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ActionsEnabled",
          "marshallLocationName" : "ActionsEnabled",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Indicates whether or not actions should be executed during any changes to the alarm's state.</p>\n@param actionsEnabled Indicates whether or not actions should be executed during any changes to the alarm's state.*/",
        "getterDocumentation" : "/**<p>Indicates whether or not actions should be executed during any changes to the alarm's state.</p>\n@return Indicates whether or not actions should be executed during any changes to the alarm's state.*/",
        "fluentSetterDocumentation" : "/**<p>Indicates whether or not actions should be executed during any changes to the alarm's state.</p>\n@param actionsEnabled Indicates whether or not actions should be executed during any changes to the alarm's state.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Indicates whether or not actions should be executed during any changes to the alarm's state.</p>\n@param actionsEnabled Indicates whether or not actions should be executed during any changes to the alarm's state.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p> The list of actions to execute when this alarm transitions into an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>",
        "name" : "OKActions",
        "c2jName" : "OKActions",
        "c2jShape" : "ResourceList",
        "variable" : {
          "variableName" : "oKActions",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p> The list of actions to execute when this alarm transitions into an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "oKActions",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "OKActions",
          "marshallLocationName" : "OKActions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "ResourceName",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n@param oKActions The list of actions to execute when this alarm transitions into an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.*/",
        "getterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n@return The list of actions to execute when this alarm transitions into an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.*/",
        "fluentSetterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n@param oKActions The list of actions to execute when this alarm transitions into an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOKActions(java.util.Collection)} or {@link #withOKActions(java.util.Collection)} if you want to override the existing values.</p>\n@param oKActions The list of actions to execute when this alarm transitions into an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p> The list of actions to execute when this alarm transitions into an <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>",
        "name" : "AlarmActions",
        "c2jName" : "AlarmActions",
        "c2jShape" : "ResourceList",
        "variable" : {
          "variableName" : "alarmActions",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p> The list of actions to execute when this alarm transitions into an <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "alarmActions",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AlarmActions",
          "marshallLocationName" : "AlarmActions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "ResourceName",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n@param alarmActions The list of actions to execute when this alarm transitions into an <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.*/",
        "getterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n@return The list of actions to execute when this alarm transitions into an <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.*/",
        "fluentSetterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n@param alarmActions The list of actions to execute when this alarm transitions into an <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAlarmActions(java.util.Collection)} or {@link #withAlarmActions(java.util.Collection)} if you want to override the existing values.</p>\n@param alarmActions The list of actions to execute when this alarm transitions into an <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p> The list of actions to execute when this alarm transitions into an <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>",
        "name" : "InsufficientDataActions",
        "c2jName" : "InsufficientDataActions",
        "c2jShape" : "ResourceList",
        "variable" : {
          "variableName" : "insufficientDataActions",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p> The list of actions to execute when this alarm transitions into an <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "insufficientDataActions",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "InsufficientDataActions",
          "marshallLocationName" : "InsufficientDataActions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "ResourceName",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n@param insufficientDataActions The list of actions to execute when this alarm transitions into an <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.*/",
        "getterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n@return The list of actions to execute when this alarm transitions into an <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.*/",
        "fluentSetterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n@param insufficientDataActions The list of actions to execute when this alarm transitions into an <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The list of actions to execute when this alarm transitions into an <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInsufficientDataActions(java.util.Collection)} or {@link #withInsufficientDataActions(java.util.Collection)} if you want to override the existing values.</p>\n@param insufficientDataActions The list of actions to execute when this alarm transitions into an <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN). </p> <p>Valid Values: arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:stop | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:terminate | arn:aws:automate:<i>region (e.g., us-east-1)</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p> <p> <b>Note:</b> You must create at least one stop, terminate, or reboot alarm using the Amazon EC2 or CloudWatch console to create the <b>EC2ActionsAccess</b> IAM role for the first time. After this IAM role is created, you can create stop, terminate, or reboot alarms using the CLI.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The name for the alarm's associated metric.</p>",
        "name" : "MetricName",
        "c2jName" : "MetricName",
        "c2jShape" : "MetricName",
        "variable" : {
          "variableName" : "metricName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name for the alarm's associated metric.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "metricName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "MetricName",
          "marshallLocationName" : "MetricName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The name for the alarm's associated metric.</p>\n@param metricName The name for the alarm's associated metric.*/",
        "getterDocumentation" : "/**<p>The name for the alarm's associated metric.</p>\n@return The name for the alarm's associated metric.*/",
        "fluentSetterDocumentation" : "/**<p>The name for the alarm's associated metric.</p>\n@param metricName The name for the alarm's associated metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The name for the alarm's associated metric.</p>\n@param metricName The name for the alarm's associated metric.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The namespace for the alarm's associated metric.</p>",
        "name" : "Namespace",
        "c2jName" : "Namespace",
        "c2jShape" : "Namespace",
        "variable" : {
          "variableName" : "namespace",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The namespace for the alarm's associated metric.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
[...]
