{
  "metadata" : {
    "apiVersion" : "2010-08-01",
    "exceptionUnmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocol" : "query",
    "checksumFormat" : null,
    "documentation" : "<p>This is the <i>Amazon CloudWatch API Reference</i>. This guide provides detailed information about Amazon CloudWatch actions, data types, parameters, and errors. For detailed information about Amazon CloudWatch features and their associated API calls, go to the <a href=\"http://docs.amazonwebservices.com/AmazonCloudWatch/latest/DeveloperGuide\">Amazon CloudWatch Developer Guide</a>. </p> <p>Amazon CloudWatch is a web service that enables you to publish, monitor, and manage various metrics, as well as configure alarm actions based on data from metrics. For more information about this product go to <a href=\"http://aws.amazon.com/cloudwatch\">http://aws.amazon.com/cloudwatch</a>. </p> <p>Use the following links to get started using the <i>Amazon CloudWatch API Reference</i>:</p> <ul> <li><a href=\"http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/API_Operations.html\">Actions</a>: An alphabetical list of all Amazon CloudWatch actions.</li> <li><a href=\"http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/API_Types.html\">Data Types</a>: An alphabetical list of all Amazon CloudWatch data types.</li> <li><a href=\"http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/CommonParameters.html\">Common Parameters</a>: Parameters that all Query actions can use.</li> <li><a href=\"http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/CommonErrors.html\">Common Errors</a>: Client and server errors that all actions can return.</li> <li><a href=\"http://docs.amazonwebservices.com/general/latest/gr/index.html?rande.html\">Regions and Endpoints</a>: Itemized regions and endpoints for all AWS products.</li> <li><a href=\"http://monitoring.amazonaws.com/doc/2010-08-01/CloudWatch.wsdl\">WSDL Location</a>: http://monitoring.amazonaws.com/doc/2010-08-01/CloudWatch.wsdl</li> </ul>",
    "defaultEndpoint" : "https://monitoring.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "monitoring.us-east-1.amazonaws.com",
    "syncInterface" : "AmazonCloudWatch",
    "syncClient" : "AmazonCloudWatchClient",
    "asyncInterface" : "AmazonCloudWatchAsync",
    "asyncClient" : "AmazonCloudWatchAsyncClient",
    "packageName" : "com.amazonaws.services.cloudwatch",
    "packagePath" : "com/amazonaws/services/cloudwatch",
    "serviceAbbreviation" : "CloudWatch",
    "serviceFullName" : "Amazon CloudWatch",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : null,
    "endpointPrefix" : "monitoring",
    "signingName" : "monitoring",
    "serviceName" : "CloudWatch",
    "jsonProtocol" : false,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "StandardErrorUnmarshaller"
  },
  "operations" : {
    "DeleteAlarms" : {
      "documentation" : "<p> Deletes all specified alarms. In the event of an error, no alarms are deleted. </p>",
      "operationName" : "DeleteAlarms",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAlarmsRequest",
        "variableType" : "DeleteAlarmsRequest",
        "variableDeclarationType" : "DeleteAlarmsRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteAlarmsRequest",
        "simpleType" : "DeleteAlarmsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The named resource does not exist. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteAlarms",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAlarmsRequest, Void>"
    },
    "DescribeAlarmHistory" : {
      "documentation" : "<p> Retrieves history for the specified alarm. Filter alarms by date range or item type. If an alarm name is not specified, Amazon CloudWatch returns histories for all of the owner's alarms. </p> <note> Amazon CloudWatch retains the history of an alarm for two weeks, whether or not you delete the alarm. </note>",
      "operationName" : "DescribeAlarmHistory",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAlarmHistoryRequest",
        "variableType" : "DescribeAlarmHistoryRequest",
        "variableDeclarationType" : "DescribeAlarmHistoryRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeAlarmHistoryRequest",
        "simpleType" : "DescribeAlarmHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAlarmHistoryResult",
        "documentation" : "<p> The output for the <a>DescribeAlarmHistory</a> action. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p> The next token specified is invalid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeAlarmHistory",
      "syncReturnType" : "DescribeAlarmHistoryResult",
      "asyncReturnType" : "DescribeAlarmHistoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmHistoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmHistoryRequest, DescribeAlarmHistoryResult>"
    },
    "DescribeAlarms" : {
      "documentation" : "<p> Retrieves alarms with the specified names. If no name is specified, all alarms for the user are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action. </p>",
      "operationName" : "DescribeAlarms",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAlarmsRequest",
        "variableType" : "DescribeAlarmsRequest",
        "variableDeclarationType" : "DescribeAlarmsRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeAlarmsRequest",
        "simpleType" : "DescribeAlarmsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAlarmsResult",
        "documentation" : "<p> The output for the <a>DescribeAlarms</a> action. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p> The next token specified is invalid. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeAlarms",
      "syncReturnType" : "DescribeAlarmsResult",
      "asyncReturnType" : "DescribeAlarmsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmsRequest, DescribeAlarmsResult>"
    },
    "DescribeAlarmsForMetric" : {
      "documentation" : "<p> Retrieves all alarms for a single metric. Specify a statistic, period, or unit to filter the set of alarms further. </p>",
      "operationName" : "DescribeAlarmsForMetric",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAlarmsForMetricRequest",
        "variableType" : "DescribeAlarmsForMetricRequest",
        "variableDeclarationType" : "DescribeAlarmsForMetricRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeAlarmsForMetricRequest",
        "simpleType" : "DescribeAlarmsForMetricRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAlarmsForMetricResult",
        "documentation" : "<p> The output for the <a>DescribeAlarmsForMetric</a> action. </p>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "describeAlarmsForMetric",
      "syncReturnType" : "DescribeAlarmsForMetricResult",
      "asyncReturnType" : "DescribeAlarmsForMetricResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlarmsForMetricResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlarmsForMetricResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlarmsForMetricRequest, DescribeAlarmsForMetricResult>"
    },
    "DisableAlarmActions" : {
      "documentation" : "<p> Disables actions for the specified alarms. When an alarm's actions are disabled the alarm's state may change, but none of the alarm's actions will execute. </p>",
      "operationName" : "DisableAlarmActions",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableAlarmActionsRequest",
        "variableType" : "DisableAlarmActionsRequest",
        "variableDeclarationType" : "DisableAlarmActionsRequest",
        "documentation" : "<p> </p>",
        "variableSetterType" : "DisableAlarmActionsRequest",
        "simpleType" : "DisableAlarmActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "disableAlarmActions",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableAlarmActionsRequest, Void>"
    },
    "EnableAlarmActions" : {
      "documentation" : "<p> Enables actions for the specified alarms. </p>",
      "operationName" : "EnableAlarmActions",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableAlarmActionsRequest",
        "variableType" : "EnableAlarmActionsRequest",
        "variableDeclarationType" : "EnableAlarmActionsRequest",
        "documentation" : "",
        "variableSetterType" : "EnableAlarmActionsRequest",
        "simpleType" : "EnableAlarmActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "methodName" : "enableAlarmActions",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableAlarmActionsRequest, Void>"
    },
    "GetMetricStatistics" : {
      "documentation" : "<p> Gets statistics for the specified metric. </p> <note> The maximum number of data points returned from a single <code>GetMetricStatistics</code> request is 1,440. If a request is made that generates more than 1,440 data points, Amazon CloudWatch returns an error. In such a case, alter the request by narrowing the specified time range or increasing the specified period. Alternatively, make multiple requests across adjacent time ranges. </note> <p> Amazon CloudWatch aggregates data points based on the length of the <code>period</code> that you specify. For example, if you request statistics with a one-minute granularity, Amazon CloudWatch aggregates data points with time stamps that fall within the same one-minute period. In such a case, the data points queried can greatly outnumber the data points returned. </p> <note> The maximum number of data points that can be queried is 50,850; whereas the maximum number of data points returned is 1,440. </note> <p> The following examples show various statistics allowed by the data point query maximum of 50,850 when you call <code>GetMetricStatistics</code> on Amazon EC2 instances with detailed (one-minute) monitoring enabled: </p> <ul> <li>Statistics for up to 400 instances for a span of one hour</li> <li>Statistics for up to 35 instances over a span of 24 hours</li> <li>Statistics for up to 2 instances over a span of 2 weeks</li> </ul>",
      "operationName" : "GetMetricStatistics",
      "deprecated" : false,
      "input" : {
        "variableName" : "getMetricStatisticsRequest",
        "variableType" : "GetMetricStatisticsRequest",
        "variableDeclarationType" : "GetMetricStatisticsRequest",
        "documentation" : "",
        "variableSetterType" : "GetMetricStatisticsRequest",
        "simpleType" : "GetMetricStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetMetricStatisticsResult",
        "documentation" : "<p> The output for the <a>GetMetricStatistics</a> action. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p> Bad or out-of-range value was supplied for the input parameter. </p>"
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p> An input parameter that is mandatory for processing the request is not supplied. </p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p> Parameters that must not be used together were used together. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p> Indicates that the request processing has failed due to some unknown error, exception, or failure. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getMetricStatistics",
      "syncReturnType" : "GetMetricStatisticsResult",
      "asyncReturnType" : "GetMetricStatisticsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetMetricStatisticsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetMetricStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMetricStatisticsRequest, GetMetricStatisticsResult>"
    },
    "ListMetrics" : {
      "documentation" : "<p> Returns a list of valid metrics stored for the AWS account owner. Returned metrics can be used with <code>GetMetricStatistics</code> to obtain statistical data for a given metric. </p> <note> Up to 500 results are returned for any one call. To retrieve further results, use returned <code>NextToken</code> values with subsequent <code>ListMetrics</code> operations. </note> <note> If you create a metric with the <a>PutMetricData</a> action, allow up to fifteen minutes for the metric to appear in calls to the <code>ListMetrics</code> action. </note>",
      "operationName" : "ListMetrics",
      "deprecated" : false,
      "input" : {
        "variableName" : "listMetricsRequest",
        "variableType" : "ListMetricsRequest",
        "variableDeclarationType" : "ListMetricsRequest",
        "documentation" : "",
        "variableSetterType" : "ListMetricsRequest",
        "simpleType" : "ListMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListMetricsResult",
        "documentation" : "<p> The output for the <a>ListMetrics</a> action. </p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p> Indicates that the request processing has failed due to some unknown error, exception, or failure. </p>"
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p> Bad or out-of-range value was supplied for the input parameter. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listMetrics",
      "syncReturnType" : "ListMetricsResult",
      "asyncReturnType" : "ListMetricsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListMetricsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMetricsRequest, ListMetricsResult>"
    },
    "PutMetricAlarm" : {
      "documentation" : "<p> Creates or updates an alarm and associates it with the specified Amazon CloudWatch metric. Optionally, this operation can associate one or more Amazon Simple Notification Service resources with the alarm. </p> <p> When this operation creates an alarm, the alarm state is immediately set to <code>INSUFFICIENT_DATA</code>. The alarm is evaluated and its <code>StateValue</code> is set appropriately. Any actions associated with the <code>StateValue</code> is then executed. </p> <note> When updating an existing alarm, its <code>StateValue</code> is left unchanged. </note>",
      "operationName" : "PutMetricAlarm",
      "deprecated" : false,
      "input" : {
        "variableName" : "putMetricAlarmRequest",
        "variableType" : "PutMetricAlarmRequest",
        "variableDeclarationType" : "PutMetricAlarmRequest",
        "documentation" : "",
        "variableSetterType" : "PutMetricAlarmRequest",
        "simpleType" : "PutMetricAlarmRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p> The quota for alarms for this customer has already been reached. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "putMetricAlarm",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricAlarmRequest, Void>"
    },
    "PutMetricData" : {
      "documentation" : "<p> Publishes metric data points to Amazon CloudWatch. Amazon Cloudwatch associates the data points with the specified metric. If the specified metric does not exist, Amazon CloudWatch creates the metric. </p> <note> If you create a metric with the <code>PutMetricData</code> action, allow up to fifteen minutes for the metric to appear in calls to the <a>ListMetrics</a> action. </note> <p> The size of a <function>PutMetricData</function> request is limited to 8 KB for HTTP GET requests and 40 KB for HTTP POST requests. </p> <important> Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>",
      "operationName" : "PutMetricData",
      "deprecated" : false,
      "input" : {
        "variableName" : "putMetricDataRequest",
        "variableType" : "PutMetricDataRequest",
        "variableDeclarationType" : "PutMetricDataRequest",
        "documentation" : "",
        "variableSetterType" : "PutMetricDataRequest",
        "simpleType" : "PutMetricDataRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p> Bad or out-of-range value was supplied for the input parameter. </p>"
      }, {
        "exceptionName" : "MissingRequiredParameterException",
        "documentation" : "<p> An input parameter that is mandatory for processing the request is not supplied. </p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p> Parameters that must not be used together were used together. </p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p> Indicates that the request processing has failed due to some unknown error, exception, or failure. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "putMetricData",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutMetricDataRequest, Void>"
    },
    "SetAlarmState" : {
      "documentation" : "<p> Temporarily sets the state of an alarm. When the updated <code>StateValue</code> differs from the previous value, the action configured for the appropriate state is invoked. This is not a permanent change. The next periodic alarm check (in about a minute) will set the alarm to its actual state. </p>",
      "operationName" : "SetAlarmState",
      "deprecated" : false,
      "input" : {
        "variableName" : "setAlarmStateRequest",
        "variableType" : "SetAlarmStateRequest",
        "variableDeclarationType" : "SetAlarmStateRequest",
        "documentation" : "",
        "variableSetterType" : "SetAlarmStateRequest",
        "simpleType" : "SetAlarmStateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The named resource does not exist. </p>"
      }, {
        "exceptionName" : "InvalidFormatException",
        "documentation" : "<p> Data was not syntactically valid JSON. </p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "setAlarmState",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetAlarmStateRequest, Void>"
    }
  },
  "shapes" : {
    "Statistic" : {
      "c2jName" : "Statistic",
      "documentation" : "",
      "shapeName" : "Statistic",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : null,
      "enums" : [ {
        "name" : "SampleCount",
        "value" : "SampleCount"
      }, {
        "name" : "Average",
        "value" : "Average"
      }, {
        "name" : "Sum",
        "value" : "Sum"
      }, {
        "name" : "Minimum",
        "value" : "Minimum"
      }, {
        "name" : "Maximum",
        "value" : "Maximum"
      } ],
      "variable" : {
        "variableName" : "statistic",
        "variableType" : "Statistic",
        "variableDeclarationType" : "Statistic",
        "documentation" : null,
        "variableSetterType" : "Statistic",
        "simpleType" : "Statistic"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "InvalidNextTokenException" : {
      "c2jName" : "InvalidNextToken",
      "documentation" : "<p> The next token specified is invalid. </p>",
      "shapeName" : "InvalidNextTokenException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "invalidNextTokenException",
        "variableType" : "InvalidNextTokenException",
        "variableDeclarationType" : "InvalidNextTokenException",
        "documentation" : null,
        "variableSetterType" : "InvalidNextTokenException",
        "simpleType" : "InvalidNextTokenException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidNextToken",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "InvalidFormatException" : {
      "c2jName" : "InvalidFormatFault",
      "documentation" : "<p> Data was not syntactically valid JSON. </p>",
      "shapeName" : "InvalidFormatException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "invalidFormatException",
        "variableType" : "InvalidFormatException",
        "variableDeclarationType" : "InvalidFormatException",
        "documentation" : null,
        "variableSetterType" : "InvalidFormatException",
        "simpleType" : "InvalidFormatException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidFormat",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "MetricDatum" : {
      "c2jName" : "MetricDatum",
      "documentation" : "<p> The <code>MetricDatum</code> data type encapsulates the information sent with <a>PutMetricData</a> to either create a new metric or add new values to be aggregated into an existing metric. </p>",
      "shapeName" : "MetricDatum",
      "deprecated" : false,
      "required" : [ "MetricName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p> The name of the metric. </p>",
        "name" : "MetricName",
        "c2jName" : "MetricName",
        "c2jShape" : "MetricName",
        "variable" : {
          "variableName" : "metricName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p> The name of the metric. </p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "metricName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "MetricName",
          "marshallLocationName" : "MetricName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The name of the metric. </p>\n@param metricName The name of the metric.*/",
        "getterDocumentation" : "/**<p> The name of the metric. </p>\n@return The name of the metric.*/",
        "fluentSetterDocumentation" : "/**<p> The name of the metric. </p>\n@param metricName The name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The name of the metric. </p>\n@param metricName The name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p> A list of dimensions associated with the metric. </p>",
        "name" : "Dimensions",
        "c2jName" : "Dimensions",
        "c2jShape" : "Dimensions",
        "variable" : {
          "variableName" : "dimensions",
          "variableType" : "java.util.List<Dimension>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Dimension>",
          "documentation" : "<p> A list of dimensions associated with the metric. </p>",
          "variableSetterType" : "java.util.Collection<Dimension>",
          "simpleType" : "List<Dimension>"
        },
        "setterModel" : {
          "variableName" : "dimensions",
          "variableType" : "java.util.List<Dimension>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Dimension>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<Dimension>",
          "simpleType" : "List<Dimension>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Dimension>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Dimensions",
          "marshallLocationName" : "Dimensions",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Dimension",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Dimension",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Dimension",
              "variableDeclarationType" : "Dimension",
              "documentation" : "",
              "variableSetterType" : "Dimension",
              "simpleType" : "Dimension"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Dimension",
              "variableDeclarationType" : "Dimension",
              "documentation" : "",
              "variableSetterType" : "Dimension",
              "simpleType" : "Dimension"
            },
            "getterModel" : {
              "returnType" : "Dimension",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "simple" : false
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "map" : false,
          "templateType" : "java.util.List<Dimension>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Dimension>",
          "simple" : false,
          "simpleType" : "Dimension"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p> A list of dimensions associated with the metric. </p>\n@param dimensions A list of dimensions associated with the metric.*/",
        "getterDocumentation" : "/**<p> A list of dimensions associated with the metric. </p>\n@return A list of dimensions associated with the metric.*/",
        "fluentSetterDocumentation" : "/**<p> A list of dimensions associated with the metric. </p>\n@param dimensions A list of dimensions associated with the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> A list of dimensions associated with the metric. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDimensions(java.util.Collection)} or {@link #withDimensions(java.util.Collection)} if you want to override the existing values.</p>\n@param dimensions A list of dimensions associated with the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false
      }, {
        "documentation" : "<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>",
        "name" : "Timestamp",
        "c2jName" : "Timestamp",
        "c2jShape" : "Timestamp",
        "variable" : {
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>",
          "variableSetterType" : "java.util.Date",
          "simpleType" : "Date"
        },
        "setterModel" : {
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "variableSetterType" : "java.util.Date",
          "simpleType" : "Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Timestamp",
          "marshallLocationName" : "Timestamp",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>\n@param timestamp The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received.*/",
        "getterDocumentation" : "/**<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>\n@return The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received.*/",
        "fluentSetterDocumentation" : "/**<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>\n@param timestamp The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>\n@param timestamp The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>",
        "name" : "Value",
        "c2jName" : "Value",
        "c2jShape" : "DatapointValue",
        "variable" : {
          "variableName" : "value",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "setterModel" : {
          "variableName" : "value",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Value",
          "marshallLocationName" : "Value",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>\n@param value The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated.*/",
        "getterDocumentation" : "/**<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>\n@return The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated.*/",
        "fluentSetterDocumentation" : "/**<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>\n@param value The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>\n@param value The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p> A set of statistical values describing the metric. </p>",
        "name" : "StatisticValues",
        "c2jName" : "StatisticValues",
        "c2jShape" : "StatisticSet",
        "variable" : {
          "variableName" : "statisticValues",
          "variableType" : "StatisticSet",
          "variableDeclarationType" : "StatisticSet",
          "documentation" : "<p> A set of statistical values describing the metric. </p>",
          "variableSetterType" : "StatisticSet",
          "simpleType" : "StatisticSet"
        },
        "setterModel" : {
          "variableName" : "statisticValues",
          "variableType" : "StatisticSet",
          "variableDeclarationType" : "StatisticSet",
          "documentation" : "",
          "variableSetterType" : "StatisticSet",
          "simpleType" : "StatisticSet"
        },
        "getterModel" : {
          "returnType" : "StatisticSet",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "StatisticValues",
          "marshallLocationName" : "StatisticValues",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> A set of statistical values describing the metric. </p>\n@param statisticValues A set of statistical values describing the metric.*/",
        "getterDocumentation" : "/**<p> A set of statistical values describing the metric. </p>\n@return A set of statistical values describing the metric.*/",
        "fluentSetterDocumentation" : "/**<p> A set of statistical values describing the metric. </p>\n@param statisticValues A set of statistical values describing the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> A set of statistical values describing the metric. </p>\n@param statisticValues A set of statistical values describing the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false
      }, {
        "documentation" : "<p> The unit of the metric. </p>",
        "name" : "Unit",
        "c2jName" : "Unit",
        "c2jShape" : "StandardUnit",
        "variable" : {
          "variableName" : "unit",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p> The unit of the metric. </p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "unit",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Unit",
          "marshallLocationName" : "Unit",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "StandardUnit",
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The unit of the metric. </p>\n@param unit The unit of the metric.\n@see StandardUnit*/",
        "getterDocumentation" : "/**<p> The unit of the metric. </p>\n@return The unit of the metric.\n@see StandardUnit*/",
        "fluentSetterDocumentation" : "/**<p> The unit of the metric. </p>\n@param unit The unit of the metric.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StandardUnit*/",
        "varargSetterDocumentation" : "/**<p> The unit of the metric. </p>\n@param unit The unit of the metric.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StandardUnit*/",
        "simple" : true
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "metricDatum",
        "variableType" : "MetricDatum",
        "variableDeclarationType" : "MetricDatum",
        "documentation" : null,
        "variableSetterType" : "MetricDatum",
        "simpleType" : "MetricDatum"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Value" : {
          "documentation" : "<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>",
          "name" : "Value",
          "c2jName" : "Value",
          "c2jShape" : "DatapointValue",
          "variable" : {
            "variableName" : "value",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "setterModel" : {
            "variableName" : "value",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Value",
            "marshallLocationName" : "Value",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>\n@param value The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated.*/",
          "getterDocumentation" : "/**<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>\n@return The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated.*/",
          "fluentSetterDocumentation" : "/**<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>\n@param value The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated. </important>\n@param value The value for the metric. </p> <important>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, Amazon CloudWatch truncates values with very large exponents. Values with base-10 exponents greater than 126 (1 x 10^126) are truncated. Likewise, values with base-10 exponents less than -130 (1 x 10^-130) are also truncated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true
        },
        "StatisticValues" : {
          "documentation" : "<p> A set of statistical values describing the metric. </p>",
          "name" : "StatisticValues",
          "c2jName" : "StatisticValues",
          "c2jShape" : "StatisticSet",
          "variable" : {
            "variableName" : "statisticValues",
            "variableType" : "StatisticSet",
            "variableDeclarationType" : "StatisticSet",
            "documentation" : "<p> A set of statistical values describing the metric. </p>",
            "variableSetterType" : "StatisticSet",
            "simpleType" : "StatisticSet"
          },
          "setterModel" : {
            "variableName" : "statisticValues",
            "variableType" : "StatisticSet",
            "variableDeclarationType" : "StatisticSet",
            "documentation" : "",
            "variableSetterType" : "StatisticSet",
            "simpleType" : "StatisticSet"
          },
          "getterModel" : {
            "returnType" : "StatisticSet",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "StatisticValues",
            "marshallLocationName" : "StatisticValues",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> A set of statistical values describing the metric. </p>\n@param statisticValues A set of statistical values describing the metric.*/",
          "getterDocumentation" : "/**<p> A set of statistical values describing the metric. </p>\n@return A set of statistical values describing the metric.*/",
          "fluentSetterDocumentation" : "/**<p> A set of statistical values describing the metric. </p>\n@param statisticValues A set of statistical values describing the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> A set of statistical values describing the metric. </p>\n@param statisticValues A set of statistical values describing the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : false
        },
        "MetricName" : {
          "documentation" : "<p> The name of the metric. </p>",
          "name" : "MetricName",
          "c2jName" : "MetricName",
          "c2jShape" : "MetricName",
          "variable" : {
            "variableName" : "metricName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p> The name of the metric. </p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "metricName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "MetricName",
            "marshallLocationName" : "MetricName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> The name of the metric. </p>\n@param metricName The name of the metric.*/",
          "getterDocumentation" : "/**<p> The name of the metric. </p>\n@return The name of the metric.*/",
          "fluentSetterDocumentation" : "/**<p> The name of the metric. </p>\n@param metricName The name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> The name of the metric. </p>\n@param metricName The name of the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true
        },
        "Dimensions" : {
          "documentation" : "<p> A list of dimensions associated with the metric. </p>",
          "name" : "Dimensions",
          "c2jName" : "Dimensions",
          "c2jShape" : "Dimensions",
          "variable" : {
            "variableName" : "dimensions",
            "variableType" : "java.util.List<Dimension>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Dimension>",
            "documentation" : "<p> A list of dimensions associated with the metric. </p>",
            "variableSetterType" : "java.util.Collection<Dimension>",
            "simpleType" : "List<Dimension>"
          },
          "setterModel" : {
            "variableName" : "dimensions",
            "variableType" : "java.util.List<Dimension>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Dimension>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<Dimension>",
            "simpleType" : "List<Dimension>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Dimension>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Dimensions",
            "marshallLocationName" : "Dimensions",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Dimension",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Dimension",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Dimension",
                "variableDeclarationType" : "Dimension",
                "documentation" : "",
                "variableSetterType" : "Dimension",
                "simpleType" : "Dimension"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Dimension",
                "variableDeclarationType" : "Dimension",
                "documentation" : "",
                "variableSetterType" : "Dimension",
                "simpleType" : "Dimension"
              },
              "getterModel" : {
                "returnType" : "Dimension",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "simple" : false
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "map" : false,
            "templateType" : "java.util.List<Dimension>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Dimension>",
            "simple" : false,
            "simpleType" : "Dimension"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p> A list of dimensions associated with the metric. </p>\n@param dimensions A list of dimensions associated with the metric.*/",
          "getterDocumentation" : "/**<p> A list of dimensions associated with the metric. </p>\n@return A list of dimensions associated with the metric.*/",
          "fluentSetterDocumentation" : "/**<p> A list of dimensions associated with the metric. </p>\n@param dimensions A list of dimensions associated with the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> A list of dimensions associated with the metric. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setDimensions(java.util.Collection)} or {@link #withDimensions(java.util.Collection)} if you want to override the existing values.</p>\n@param dimensions A list of dimensions associated with the metric.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : false
        },
        "Unit" : {
          "documentation" : "<p> The unit of the metric. </p>",
          "name" : "Unit",
          "c2jName" : "Unit",
          "c2jShape" : "StandardUnit",
          "variable" : {
            "variableName" : "unit",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p> The unit of the metric. </p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "unit",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Unit",
            "marshallLocationName" : "Unit",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "StandardUnit",
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> The unit of the metric. </p>\n@param unit The unit of the metric.\n@see StandardUnit*/",
          "getterDocumentation" : "/**<p> The unit of the metric. </p>\n@return The unit of the metric.\n@see StandardUnit*/",
          "fluentSetterDocumentation" : "/**<p> The unit of the metric. </p>\n@param unit The unit of the metric.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StandardUnit*/",
          "varargSetterDocumentation" : "/**<p> The unit of the metric. </p>\n@param unit The unit of the metric.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StandardUnit*/",
          "simple" : true
        },
        "Timestamp" : {
          "documentation" : "<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>",
          "name" : "Timestamp",
          "c2jName" : "Timestamp",
          "c2jShape" : "Timestamp",
          "variable" : {
            "variableName" : "timestamp",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>",
            "variableSetterType" : "java.util.Date",
            "simpleType" : "Date"
          },
          "setterModel" : {
            "variableName" : "timestamp",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "",
            "variableSetterType" : "java.util.Date",
            "simpleType" : "Date"
          },
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Timestamp",
            "marshallLocationName" : "Timestamp",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>\n@param timestamp The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received.*/",
          "getterDocumentation" : "/**<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>\n@return The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received.*/",
          "fluentSetterDocumentation" : "/**<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>\n@param timestamp The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received. </p>\n@param timestamp The time stamp used for the metric. If not specified, the default value is set to the time the metric data was received.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true
        }
      }
    },
    "Datapoint" : {
      "c2jName" : "Datapoint",
      "documentation" : "<p> The <code>Datapoint</code> data type encapsulates the statistical data that Amazon CloudWatch computes from metric data. </p>",
      "shapeName" : "Datapoint",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p> The time stamp used for the datapoint. </p>",
        "name" : "Timestamp",
        "c2jName" : "Timestamp",
        "c2jShape" : "Timestamp",
        "variable" : {
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p> The time stamp used for the datapoint. </p>",
          "variableSetterType" : "java.util.Date",
          "simpleType" : "Date"
        },
        "setterModel" : {
          "variableName" : "timestamp",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "variableSetterType" : "java.util.Date",
          "simpleType" : "Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Timestamp",
          "marshallLocationName" : "Timestamp",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The time stamp used for the datapoint. </p>\n@param timestamp The time stamp used for the datapoint.*/",
        "getterDocumentation" : "/**<p> The time stamp used for the datapoint. </p>\n@return The time stamp used for the datapoint.*/",
        "fluentSetterDocumentation" : "/**<p> The time stamp used for the datapoint. </p>\n@param timestamp The time stamp used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The time stamp used for the datapoint. </p>\n@param timestamp The time stamp used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>",
        "name" : "SampleCount",
        "c2jName" : "SampleCount",
        "c2jShape" : "DatapointValue",
        "variable" : {
          "variableName" : "sampleCount",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "setterModel" : {
          "variableName" : "sampleCount",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "SampleCount",
          "marshallLocationName" : "SampleCount",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.*/",
        "getterDocumentation" : "/**<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>\n@return The number of metric values that contributed to the aggregate value of this datapoint.*/",
        "fluentSetterDocumentation" : "/**<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p> The average of metric values that correspond to the datapoint. </p>",
        "name" : "Average",
        "c2jName" : "Average",
        "c2jShape" : "DatapointValue",
        "variable" : {
          "variableName" : "average",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "<p> The average of metric values that correspond to the datapoint. </p>",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "setterModel" : {
          "variableName" : "average",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Average",
          "marshallLocationName" : "Average",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The average of metric values that correspond to the datapoint. </p>\n@param average The average of metric values that correspond to the datapoint.*/",
        "getterDocumentation" : "/**<p> The average of metric values that correspond to the datapoint. </p>\n@return The average of metric values that correspond to the datapoint.*/",
        "fluentSetterDocumentation" : "/**<p> The average of metric values that correspond to the datapoint. </p>\n@param average The average of metric values that correspond to the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The average of metric values that correspond to the datapoint. </p>\n@param average The average of metric values that correspond to the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p> The sum of metric values used for the datapoint. </p>",
        "name" : "Sum",
        "c2jName" : "Sum",
        "c2jShape" : "DatapointValue",
        "variable" : {
          "variableName" : "sum",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "<p> The sum of metric values used for the datapoint. </p>",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "setterModel" : {
          "variableName" : "sum",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Sum",
          "marshallLocationName" : "Sum",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The sum of metric values used for the datapoint. </p>\n@param sum The sum of metric values used for the datapoint.*/",
        "getterDocumentation" : "/**<p> The sum of metric values used for the datapoint. </p>\n@return The sum of metric values used for the datapoint.*/",
        "fluentSetterDocumentation" : "/**<p> The sum of metric values used for the datapoint. </p>\n@param sum The sum of metric values used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The sum of metric values used for the datapoint. </p>\n@param sum The sum of metric values used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p> The minimum metric value used for the datapoint. </p>",
        "name" : "Minimum",
        "c2jName" : "Minimum",
        "c2jShape" : "DatapointValue",
        "variable" : {
          "variableName" : "minimum",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "<p> The minimum metric value used for the datapoint. </p>",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "setterModel" : {
          "variableName" : "minimum",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Minimum",
          "marshallLocationName" : "Minimum",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The minimum metric value used for the datapoint. </p>\n@param minimum The minimum metric value used for the datapoint.*/",
        "getterDocumentation" : "/**<p> The minimum metric value used for the datapoint. </p>\n@return The minimum metric value used for the datapoint.*/",
        "fluentSetterDocumentation" : "/**<p> The minimum metric value used for the datapoint. </p>\n@param minimum The minimum metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The minimum metric value used for the datapoint. </p>\n@param minimum The minimum metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p> The maximum of the metric value used for the datapoint. </p>",
        "name" : "Maximum",
        "c2jName" : "Maximum",
        "c2jShape" : "DatapointValue",
        "variable" : {
          "variableName" : "maximum",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "<p> The maximum of the metric value used for the datapoint. </p>",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "setterModel" : {
          "variableName" : "maximum",
          "variableType" : "Double",
          "variableDeclarationType" : "Double",
          "documentation" : "",
          "variableSetterType" : "Double",
          "simpleType" : "Double"
        },
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Maximum",
          "marshallLocationName" : "Maximum",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The maximum of the metric value used for the datapoint. </p>\n@param maximum The maximum of the metric value used for the datapoint.*/",
        "getterDocumentation" : "/**<p> The maximum of the metric value used for the datapoint. </p>\n@return The maximum of the metric value used for the datapoint.*/",
        "fluentSetterDocumentation" : "/**<p> The maximum of the metric value used for the datapoint. </p>\n@param maximum The maximum of the metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The maximum of the metric value used for the datapoint. </p>\n@param maximum The maximum of the metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true
      }, {
        "documentation" : "<p> The standard unit used for the datapoint. </p>",
        "name" : "Unit",
        "c2jName" : "Unit",
        "c2jShape" : "StandardUnit",
        "variable" : {
          "variableName" : "unit",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p> The standard unit used for the datapoint. </p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "unit",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Unit",
          "marshallLocationName" : "Unit",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "StandardUnit",
        "xmlNameSpaceUri" : null,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The standard unit used for the datapoint. </p>\n@param unit The standard unit used for the datapoint.\n@see StandardUnit*/",
        "getterDocumentation" : "/**<p> The standard unit used for the datapoint. </p>\n@return The standard unit used for the datapoint.\n@see StandardUnit*/",
        "fluentSetterDocumentation" : "/**<p> The standard unit used for the datapoint. </p>\n@param unit The standard unit used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StandardUnit*/",
        "varargSetterDocumentation" : "/**<p> The standard unit used for the datapoint. </p>\n@param unit The standard unit used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.\n@see StandardUnit*/",
        "simple" : true
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "datapoint",
        "variableType" : "Datapoint",
        "variableDeclarationType" : "Datapoint",
        "documentation" : null,
        "variableSetterType" : "Datapoint",
        "simpleType" : "Datapoint"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Sum" : {
          "documentation" : "<p> The sum of metric values used for the datapoint. </p>",
          "name" : "Sum",
          "c2jName" : "Sum",
          "c2jShape" : "DatapointValue",
          "variable" : {
            "variableName" : "sum",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "<p> The sum of metric values used for the datapoint. </p>",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "setterModel" : {
            "variableName" : "sum",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Sum",
            "marshallLocationName" : "Sum",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> The sum of metric values used for the datapoint. </p>\n@param sum The sum of metric values used for the datapoint.*/",
          "getterDocumentation" : "/**<p> The sum of metric values used for the datapoint. </p>\n@return The sum of metric values used for the datapoint.*/",
          "fluentSetterDocumentation" : "/**<p> The sum of metric values used for the datapoint. </p>\n@param sum The sum of metric values used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> The sum of metric values used for the datapoint. </p>\n@param sum The sum of metric values used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true
        },
        "Maximum" : {
          "documentation" : "<p> The maximum of the metric value used for the datapoint. </p>",
          "name" : "Maximum",
          "c2jName" : "Maximum",
          "c2jShape" : "DatapointValue",
          "variable" : {
            "variableName" : "maximum",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "<p> The maximum of the metric value used for the datapoint. </p>",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "setterModel" : {
            "variableName" : "maximum",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Maximum",
            "marshallLocationName" : "Maximum",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> The maximum of the metric value used for the datapoint. </p>\n@param maximum The maximum of the metric value used for the datapoint.*/",
          "getterDocumentation" : "/**<p> The maximum of the metric value used for the datapoint. </p>\n@return The maximum of the metric value used for the datapoint.*/",
          "fluentSetterDocumentation" : "/**<p> The maximum of the metric value used for the datapoint. </p>\n@param maximum The maximum of the metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> The maximum of the metric value used for the datapoint. </p>\n@param maximum The maximum of the metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true
        },
        "Minimum" : {
          "documentation" : "<p> The minimum metric value used for the datapoint. </p>",
          "name" : "Minimum",
          "c2jName" : "Minimum",
          "c2jShape" : "DatapointValue",
          "variable" : {
            "variableName" : "minimum",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "<p> The minimum metric value used for the datapoint. </p>",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "setterModel" : {
            "variableName" : "minimum",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Minimum",
            "marshallLocationName" : "Minimum",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> The minimum metric value used for the datapoint. </p>\n@param minimum The minimum metric value used for the datapoint.*/",
          "getterDocumentation" : "/**<p> The minimum metric value used for the datapoint. </p>\n@return The minimum metric value used for the datapoint.*/",
          "fluentSetterDocumentation" : "/**<p> The minimum metric value used for the datapoint. </p>\n@param minimum The minimum metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> The minimum metric value used for the datapoint. </p>\n@param minimum The minimum metric value used for the datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true
        },
        "SampleCount" : {
          "documentation" : "<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>",
          "name" : "SampleCount",
          "c2jName" : "SampleCount",
          "c2jShape" : "DatapointValue",
          "variable" : {
            "variableName" : "sampleCount",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "setterModel" : {
            "variableName" : "sampleCount",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "SampleCount",
            "marshallLocationName" : "SampleCount",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.*/",
          "getterDocumentation" : "/**<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>\n@return The number of metric values that contributed to the aggregate value of this datapoint.*/",
          "fluentSetterDocumentation" : "/**<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p> The number of metric values that contributed to the aggregate value of this datapoint. </p>\n@param sampleCount The number of metric values that contributed to the aggregate value of this datapoint.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true
        },
        "Average" : {
          "documentation" : "<p> The average of metric values that correspond to the datapoint. </p>",
          "name" : "Average",
          "c2jName" : "Average",
          "c2jShape" : "DatapointValue",
          "variable" : {
            "variableName" : "average",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "<p> The average of metric values that correspond to the datapoint. </p>",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "setterModel" : {
            "variableName" : "average",
            "variableType" : "Double",
            "variableDeclarationType" : "Double",
            "documentation" : "",
            "variableSetterType" : "Double",
            "simpleType" : "Double"
          },
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Average",
[...]
