{
  "metadata" : {
    "apiVersion" : "2014-11-01",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Key Management Service</fullname> <p>AWS Key Management Service (AWS KMS) is an encryption and key management web service. This guide describes the AWS KMS operations that you can call programmatically. For general information about AWS KMS, see the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/\">AWS Key Management Service Developer Guide</a>.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .Net, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWS KMS and other AWS services. For example, the SDKs take care of tasks such as signing requests (see below), managing errors, and retrying requests automatically. For more information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls to AWS KMS.</p> <p>Clients must support TLS (Transport Layer Security) 1.0. We recommend TLS 1.2. Clients must also support cipher suites with Perfect Forward Secrecy (PFS) such as Ephemeral Diffie-Hellman (DHE) or Elliptic Curve Ephemeral Diffie-Hellman (ECDHE). Most modern systems such as Java 7 and later support these modes.</p> <p> <b>Signing Requests</b> </p> <p>Requests must be signed by using an access key ID and a secret access key. We strongly recommend that you <i>do not</i> use your AWS account (root) access key ID and secret key for everyday work with AWS KMS. Instead, use the access key ID and secret access key for an IAM user, or you can use the AWS Security Token Service to generate temporary security credentials that you can use to sign requests.</p> <p>All AWS KMS operations require <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> <p> <b>Logging API Requests</b> </p> <p>AWS KMS supports AWS CloudTrail, a service that logs AWS API calls and related events for your AWS account and delivers them to an Amazon S3 bucket that you specify. By using the information collected by CloudTrail, you can determine what requests were made to AWS KMS, who made the request, when it was made, and so on. To learn more about CloudTrail, including how to turn it on and find your log files, see the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/\">AWS CloudTrail User Guide</a>.</p> <p> <b>Additional Resources</b> </p> <p>For more information about credentials and request signing, see the following:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS Security Credentials</a> - This topic provides general information about the types of credentials used for accessing AWS.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html\">Temporary Security Credentials</a> - This section of the <i>IAM User Guide</i> describes how to create and use temporary security credentials.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> - This set of topics walks you through the process of signing a request using an access key ID and a secret access key.</p> </li> </ul> <p> <b>Commonly Used APIs</b> </p> <p>Of the APIs discussed in this guide, the following will prove the most useful for most applications. You will likely perform actions other than these, such as creating keys and assigning policies, by using the console.</p> <ul> <li> <p> <a>Encrypt</a> </p> </li> <li> <p> <a>Decrypt</a> </p> </li> <li> <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a> </p> </li> </ul>",
    "defaultEndpoint" : "https://kms.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "kms.us-east-1.amazonaws.com/",
    "syncInterface" : "AWSKMS",
    "syncClient" : "AWSKMSClient",
    "asyncInterface" : "AWSKMSAsync",
    "asyncClient" : "AWSKMSAsyncClient",
    "packageName" : "com.amazonaws.services.kms",
    "packagePath" : "com/amazonaws/services/kms",
    "serviceAbbreviation" : "KMS",
    "serviceFullName" : "AWS Key Management Service",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "kms",
    "signingName" : "kms",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSKMSClientBuilder",
    "asyncClientBuilderClassName" : "AWSKMSAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSKMSModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.kms.smoketests",
    "serviceName" : "KMS",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "CancelKeyDeletion" : {
      "documentation" : "<p>Cancels the deletion of a customer master key (CMK). When this operation is successful, the CMK is set to the <code>Disabled</code> state. To enable a CMK, use <a>EnableKey</a>.</p> <p>For more information about scheduling and canceling deletion of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html\">Deleting Customer Master Keys</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "operationName" : "CancelKeyDeletion",
      "deprecated" : false,
      "input" : {
        "variableName" : "cancelKeyDeletionRequest",
        "variableType" : "CancelKeyDeletionRequest",
        "variableDeclarationType" : "CancelKeyDeletionRequest",
        "documentation" : "",
        "simpleType" : "CancelKeyDeletionRequest",
        "variableSetterType" : "CancelKeyDeletionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CancelKeyDeletionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CancelKeyDeletionResult",
      "asyncReturnType" : "CancelKeyDeletionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CancelKeyDeletionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CancelKeyDeletionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelKeyDeletionRequest, CancelKeyDeletionResult>",
      "authenticated" : true,
      "methodName" : "cancelKeyDeletion"
    },
    "CreateAlias" : {
      "documentation" : "<p>Creates a display name for a customer master key. An alias can be used to identify a key and should be unique. The console enforces a one-to-one mapping between the alias and a key. An alias name can contain only alphanumeric characters, forward slashes (/), underscores (_), and dashes (-). An alias must start with the word \"alias\" followed by a forward slash (alias/). An alias that begins with \"aws\" after the forward slash (alias/aws...) is reserved by Amazon Web Services (AWS).</p> <p>The alias and the key it is mapped to must be in the same AWS account and the same region.</p> <p>To map an alias to a different key, call <a>UpdateAlias</a>.</p>",
      "operationName" : "CreateAlias",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "variableDeclarationType" : "CreateAliasRequest",
        "documentation" : "",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : "<p>The request was rejected because it attempted to create a resource that already exists.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidAliasNameException",
        "documentation" : "<p>The request was rejected because the specified alias name is not valid.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateAliasResult",
      "asyncReturnType" : "CreateAliasResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "authenticated" : true,
      "methodName" : "createAlias"
    },
    "CreateGrant" : {
      "documentation" : "<p>Adds a grant to a key to specify who can use the key and under what conditions. Grants are alternate permission mechanisms to key policies.</p> <p>For more information about grants, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/grants.html\">Grants</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "operationName" : "CreateGrant",
      "deprecated" : false,
      "input" : {
        "variableName" : "createGrantRequest",
        "variableType" : "CreateGrantRequest",
        "variableDeclarationType" : "CreateGrantRequest",
        "documentation" : "",
        "simpleType" : "CreateGrantRequest",
        "variableSetterType" : "CreateGrantRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateGrantResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified key was marked as disabled.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateGrantResult",
      "asyncReturnType" : "CreateGrantResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGrantResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGrantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGrantRequest, CreateGrantResult>",
      "authenticated" : true,
      "methodName" : "createGrant"
    },
    "CreateKey" : {
      "documentation" : "<p>Creates a customer master key (CMK).</p> <p>You can use a CMK to encrypt small amounts of data (4 KiB or less) directly, but CMKs are more commonly used to encrypt data encryption keys (DEKs), which are used to encrypt raw data. For more information about DEKs and the difference between CMKs and DEKs, see the following:</p> <ul> <li> <p>The <a>GenerateDataKey</a> operation</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html\">AWS Key Management Service Concepts</a> in the <i>AWS Key Management Service Developer Guide</i> </p> </li> </ul>",
      "operationName" : "CreateKey",
      "deprecated" : false,
      "input" : {
        "variableName" : "createKeyRequest",
        "variableType" : "CreateKeyRequest",
        "variableDeclarationType" : "CreateKeyRequest",
        "documentation" : "",
        "simpleType" : "CreateKeyRequest",
        "variableSetterType" : "CreateKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateKeyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "MalformedPolicyDocumentException",
        "documentation" : "<p>The request was rejected because the specified policy is not syntactically or semantically correct.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateKeyResult",
      "asyncReturnType" : "CreateKeyResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKeyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKeyRequest, CreateKeyResult>",
      "authenticated" : true,
      "methodName" : "createKey"
    },
    "Decrypt" : {
      "documentation" : "<p>Decrypts ciphertext. Ciphertext is plaintext that has been previously encrypted by using any of the following functions:</p> <ul> <li> <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a> </p> </li> <li> <p> <a>Encrypt</a> </p> </li> </ul> <p>Note that if a caller has been granted access permissions to all keys (through, for example, IAM user policies that grant <code>Decrypt</code> permission on all resources), then ciphertext encrypted by using keys in other accounts where the key grants access to the caller can be decrypted. To remedy this, we recommend that you do not grant <code>Decrypt</code> access in an IAM user policy. Instead grant <code>Decrypt</code> access only in key policies. If you must grant <code>Decrypt</code> access in an IAM user policy, you should scope the resource to specific keys or to specific trusted accounts.</p>",
      "operationName" : "Decrypt",
      "deprecated" : false,
      "input" : {
        "variableName" : "decryptRequest",
        "variableType" : "DecryptRequest",
        "variableDeclarationType" : "DecryptRequest",
        "documentation" : "",
        "simpleType" : "DecryptRequest",
        "variableSetterType" : "DecryptRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DecryptResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified key was marked as disabled.</p>"
      }, {
        "exceptionName" : "InvalidCiphertextException",
        "documentation" : "<p>The request was rejected because the specified ciphertext has been corrupted or is otherwise invalid.</p>"
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the key was not available. The request can be retried.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DecryptResult",
      "asyncReturnType" : "DecryptResult",
      "asyncFutureType" : "java.util.concurrent.Future<DecryptResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DecryptResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DecryptRequest, DecryptResult>",
      "authenticated" : true,
      "methodName" : "decrypt"
    },
    "DeleteAlias" : {
      "documentation" : "<p>Deletes the specified alias. To map an alias to a different key, call <a>UpdateAlias</a>.</p>",
      "operationName" : "DeleteAlias",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteAliasRequest",
        "variableType" : "DeleteAliasRequest",
        "variableDeclarationType" : "DeleteAliasRequest",
        "documentation" : "",
        "simpleType" : "DeleteAliasRequest",
        "variableSetterType" : "DeleteAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteAliasResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteAliasResult",
      "asyncReturnType" : "DeleteAliasResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAliasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAliasRequest, DeleteAliasResult>",
      "authenticated" : true,
      "methodName" : "deleteAlias"
    },
    "DescribeKey" : {
      "documentation" : "<p>Provides detailed information about the specified customer master key.</p>",
      "operationName" : "DescribeKey",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeKeyRequest",
        "variableType" : "DescribeKeyRequest",
        "variableDeclarationType" : "DescribeKeyRequest",
        "documentation" : "",
        "simpleType" : "DescribeKeyRequest",
        "variableSetterType" : "DescribeKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeKeyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeKeyResult",
      "asyncReturnType" : "DescribeKeyResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeKeyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeKeyRequest, DescribeKeyResult>",
      "authenticated" : true,
      "methodName" : "describeKey"
    },
    "DisableKey" : {
      "documentation" : "<p>Sets the state of a customer master key (CMK) to disabled, thereby preventing its use for cryptographic operations. For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "operationName" : "DisableKey",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableKeyRequest",
        "variableType" : "DisableKeyRequest",
        "variableDeclarationType" : "DisableKeyRequest",
        "documentation" : "",
        "simpleType" : "DisableKeyRequest",
        "variableSetterType" : "DisableKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableKeyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DisableKeyResult",
      "asyncReturnType" : "DisableKeyResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableKeyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableKeyRequest, DisableKeyResult>",
      "authenticated" : true,
      "methodName" : "disableKey"
    },
    "DisableKeyRotation" : {
      "documentation" : "<p>Disables rotation of the specified key.</p>",
      "operationName" : "DisableKeyRotation",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableKeyRotationRequest",
        "variableType" : "DisableKeyRotationRequest",
        "variableDeclarationType" : "DisableKeyRotationRequest",
        "documentation" : "",
        "simpleType" : "DisableKeyRotationRequest",
        "variableSetterType" : "DisableKeyRotationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableKeyRotationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified key was marked as disabled.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DisableKeyRotationResult",
      "asyncReturnType" : "DisableKeyRotationResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableKeyRotationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableKeyRotationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableKeyRotationRequest, DisableKeyRotationResult>",
      "authenticated" : true,
      "methodName" : "disableKeyRotation"
    },
    "EnableKey" : {
      "documentation" : "<p>Marks a key as enabled, thereby permitting its use.</p>",
      "operationName" : "EnableKey",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableKeyRequest",
        "variableType" : "EnableKeyRequest",
        "variableDeclarationType" : "EnableKeyRequest",
        "documentation" : "",
        "simpleType" : "EnableKeyRequest",
        "variableSetterType" : "EnableKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableKeyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnableKeyResult",
      "asyncReturnType" : "EnableKeyResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableKeyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableKeyRequest, EnableKeyResult>",
      "authenticated" : true,
      "methodName" : "enableKey"
    },
    "EnableKeyRotation" : {
      "documentation" : "<p>Enables rotation of the specified customer master key.</p>",
      "operationName" : "EnableKeyRotation",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableKeyRotationRequest",
        "variableType" : "EnableKeyRotationRequest",
        "variableDeclarationType" : "EnableKeyRotationRequest",
        "documentation" : "",
        "simpleType" : "EnableKeyRotationRequest",
        "variableSetterType" : "EnableKeyRotationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableKeyRotationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified key was marked as disabled.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnableKeyRotationResult",
      "asyncReturnType" : "EnableKeyRotationResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableKeyRotationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableKeyRotationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableKeyRotationRequest, EnableKeyRotationResult>",
      "authenticated" : true,
      "methodName" : "enableKeyRotation"
    },
    "Encrypt" : {
      "documentation" : "<p>Encrypts plaintext into ciphertext by using a customer master key. The <code>Encrypt</code> function has two primary use cases:</p> <ul> <li> <p>You can encrypt up to 4 KB of arbitrary data such as an RSA key, a database password, or other sensitive customer information.</p> </li> <li> <p>If you are moving encrypted data from one region to another, you can use this API to encrypt in the new region the plaintext data key that was used to encrypt the data in the original region. This provides you with an encrypted copy of the data key that can be decrypted in the new region and used there to decrypt the encrypted data.</p> </li> </ul> <p>Unless you are moving encrypted data from one region to another, you don't use this function to encrypt a generated data key within a region. You retrieve data keys already encrypted by calling the <a>GenerateDataKey</a> or <a>GenerateDataKeyWithoutPlaintext</a> function. Data keys don't need to be encrypted again by calling <code>Encrypt</code>.</p> <p>If you want to encrypt data locally in your application, you can use the <code>GenerateDataKey</code> function to return a plaintext data encryption key and a copy of the key encrypted under the customer master key (CMK) of your choosing.</p>",
      "operationName" : "Encrypt",
      "deprecated" : false,
      "input" : {
        "variableName" : "encryptRequest",
        "variableType" : "EncryptRequest",
        "variableDeclarationType" : "EncryptRequest",
        "documentation" : "",
        "simpleType" : "EncryptRequest",
        "variableSetterType" : "EncryptRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EncryptResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified key was marked as disabled.</p>"
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the key was not available. The request can be retried.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidKeyUsageException",
        "documentation" : "<p>The request was rejected because the specified KeySpec parameter is not valid. The currently supported value is ENCRYPT/DECRYPT.</p>"
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EncryptResult",
      "asyncReturnType" : "EncryptResult",
      "asyncFutureType" : "java.util.concurrent.Future<EncryptResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EncryptResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EncryptRequest, EncryptResult>",
      "authenticated" : true,
      "methodName" : "encrypt"
    },
    "GenerateDataKey" : {
      "documentation" : "<p>Generates a data key that you can use in your application to locally encrypt data. This call returns a plaintext version of the key in the <code>Plaintext</code> field of the response object and an encrypted copy of the key in the <code>CiphertextBlob</code> field. The key is encrypted by using the master key specified by the <code>KeyId</code> field. To decrypt the encrypted key, pass it to the <code>Decrypt</code> API.</p> <p>We recommend that you use the following pattern to locally encrypt data: call the <code>GenerateDataKey</code> API, use the key returned in the <code>Plaintext</code> response field to locally encrypt data, and then erase the plaintext data key from memory. Store the encrypted data key (contained in the <code>CiphertextBlob</code> field) alongside of the locally encrypted data.</p> <note> <p>You should not call the <code>Encrypt</code> function to re-encrypt your data keys within a region. <code>GenerateDataKey</code> always returns the data key encrypted and tied to the customer master key that will be used to decrypt it. There is no need to decrypt it twice.</p> </note> <p>If you decide to use the optional <code>EncryptionContext</code> parameter, you must also store the context in full or at least store enough information along with the encrypted data to be able to reconstruct the context when submitting the ciphertext to the <code>Decrypt</code> API. It is a good practice to choose a context that you can reconstruct on the fly to better secure the ciphertext. For more information about how this parameter is used, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encrypt-context.html\">Encryption Context</a>.</p> <p>To decrypt data, pass the encrypted data key to the <code>Decrypt</code> API. <code>Decrypt</code> uses the associated master key to decrypt the encrypted data key and returns it as plaintext. Use the plaintext data key to locally decrypt your data and then erase the key from memory. You must specify the encryption context, if any, that you specified when you generated the key. The encryption context is logged by CloudTrail, and you can use this log to help track the use of particular data.</p>",
      "operationName" : "GenerateDataKey",
      "deprecated" : false,
      "input" : {
        "variableName" : "generateDataKeyRequest",
        "variableType" : "GenerateDataKeyRequest",
        "variableDeclarationType" : "GenerateDataKeyRequest",
        "documentation" : "",
        "simpleType" : "GenerateDataKeyRequest",
        "variableSetterType" : "GenerateDataKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GenerateDataKeyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified key was marked as disabled.</p>"
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the key was not available. The request can be retried.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidKeyUsageException",
        "documentation" : "<p>The request was rejected because the specified KeySpec parameter is not valid. The currently supported value is ENCRYPT/DECRYPT.</p>"
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GenerateDataKeyResult",
      "asyncReturnType" : "GenerateDataKeyResult",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateDataKeyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateDataKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateDataKeyRequest, GenerateDataKeyResult>",
      "authenticated" : true,
      "methodName" : "generateDataKey"
    },
    "GenerateDataKeyWithoutPlaintext" : {
      "documentation" : "<p>Returns a data key encrypted by a customer master key without the plaintext copy of that key. Otherwise, this API functions exactly like <a>GenerateDataKey</a>. You can use this API to, for example, satisfy an audit requirement that an encrypted key be made available without exposing the plaintext copy of that key.</p>",
      "operationName" : "GenerateDataKeyWithoutPlaintext",
      "deprecated" : false,
      "input" : {
        "variableName" : "generateDataKeyWithoutPlaintextRequest",
        "variableType" : "GenerateDataKeyWithoutPlaintextRequest",
        "variableDeclarationType" : "GenerateDataKeyWithoutPlaintextRequest",
        "documentation" : "",
        "simpleType" : "GenerateDataKeyWithoutPlaintextRequest",
        "variableSetterType" : "GenerateDataKeyWithoutPlaintextRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GenerateDataKeyWithoutPlaintextResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified key was marked as disabled.</p>"
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the key was not available. The request can be retried.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidKeyUsageException",
        "documentation" : "<p>The request was rejected because the specified KeySpec parameter is not valid. The currently supported value is ENCRYPT/DECRYPT.</p>"
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GenerateDataKeyWithoutPlaintextResult",
      "asyncReturnType" : "GenerateDataKeyWithoutPlaintextResult",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateDataKeyWithoutPlaintextResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateDataKeyWithoutPlaintextResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateDataKeyWithoutPlaintextRequest, GenerateDataKeyWithoutPlaintextResult>",
      "authenticated" : true,
      "methodName" : "generateDataKeyWithoutPlaintext"
    },
    "GenerateRandom" : {
      "documentation" : "<p>Generates an unpredictable byte string.</p>",
      "operationName" : "GenerateRandom",
      "deprecated" : false,
      "input" : {
        "variableName" : "generateRandomRequest",
        "variableType" : "GenerateRandomRequest",
        "variableDeclarationType" : "GenerateRandomRequest",
        "documentation" : "",
        "simpleType" : "GenerateRandomRequest",
        "variableSetterType" : "GenerateRandomRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GenerateRandomResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GenerateRandomResult",
      "asyncReturnType" : "GenerateRandomResult",
      "asyncFutureType" : "java.util.concurrent.Future<GenerateRandomResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GenerateRandomResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GenerateRandomRequest, GenerateRandomResult>",
      "authenticated" : true,
      "methodName" : "generateRandom"
    },
    "GetKeyPolicy" : {
      "documentation" : "<p>Retrieves a policy attached to the specified key.</p>",
      "operationName" : "GetKeyPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "getKeyPolicyRequest",
        "variableType" : "GetKeyPolicyRequest",
        "variableDeclarationType" : "GetKeyPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetKeyPolicyRequest",
        "variableSetterType" : "GetKeyPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetKeyPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetKeyPolicyResult",
      "asyncReturnType" : "GetKeyPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetKeyPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetKeyPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKeyPolicyRequest, GetKeyPolicyResult>",
      "authenticated" : true,
      "methodName" : "getKeyPolicy"
    },
    "GetKeyRotationStatus" : {
      "documentation" : "<p>Retrieves a Boolean value that indicates whether key rotation is enabled for the specified key.</p>",
      "operationName" : "GetKeyRotationStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "getKeyRotationStatusRequest",
        "variableType" : "GetKeyRotationStatusRequest",
        "variableDeclarationType" : "GetKeyRotationStatusRequest",
        "documentation" : "",
        "simpleType" : "GetKeyRotationStatusRequest",
        "variableSetterType" : "GetKeyRotationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetKeyRotationStatusResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetKeyRotationStatusResult",
      "asyncReturnType" : "GetKeyRotationStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetKeyRotationStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetKeyRotationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKeyRotationStatusRequest, GetKeyRotationStatusResult>",
      "authenticated" : true,
      "methodName" : "getKeyRotationStatus"
    },
    "ListAliases" : {
      "documentation" : "<p>Lists all of the key aliases in the account.</p>",
      "operationName" : "ListAliases",
      "deprecated" : false,
      "input" : {
        "variableName" : "listAliasesRequest",
        "variableType" : "ListAliasesRequest",
        "variableDeclarationType" : "ListAliasesRequest",
        "documentation" : "",
        "simpleType" : "ListAliasesRequest",
        "variableSetterType" : "ListAliasesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListAliasesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidMarkerException",
        "documentation" : "<p>The request was rejected because the marker that specifies where pagination should next begin is not valid.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListAliasesResult",
      "asyncReturnType" : "ListAliasesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListAliasesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListAliasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAliasesRequest, ListAliasesResult>",
      "authenticated" : true,
      "methodName" : "listAliases"
    },
    "ListGrants" : {
      "documentation" : "<p>List the grants for a specified key.</p>",
      "operationName" : "ListGrants",
      "deprecated" : false,
      "input" : {
        "variableName" : "listGrantsRequest",
        "variableType" : "ListGrantsRequest",
        "variableDeclarationType" : "ListGrantsRequest",
        "documentation" : "",
        "simpleType" : "ListGrantsRequest",
        "variableSetterType" : "ListGrantsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListGrantsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidMarkerException",
        "documentation" : "<p>The request was rejected because the marker that specifies where pagination should next begin is not valid.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListGrantsResult",
      "asyncReturnType" : "ListGrantsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListGrantsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListGrantsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGrantsRequest, ListGrantsResult>",
      "authenticated" : true,
      "methodName" : "listGrants"
    },
    "ListKeyPolicies" : {
      "documentation" : "<p>Retrieves a list of policies attached to a key.</p>",
      "operationName" : "ListKeyPolicies",
      "deprecated" : false,
      "input" : {
        "variableName" : "listKeyPoliciesRequest",
        "variableType" : "ListKeyPoliciesRequest",
        "variableDeclarationType" : "ListKeyPoliciesRequest",
        "documentation" : "",
        "simpleType" : "ListKeyPoliciesRequest",
        "variableSetterType" : "ListKeyPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListKeyPoliciesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListKeyPoliciesResult",
      "asyncReturnType" : "ListKeyPoliciesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListKeyPoliciesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListKeyPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKeyPoliciesRequest, ListKeyPoliciesResult>",
      "authenticated" : true,
      "methodName" : "listKeyPolicies"
    },
    "ListKeys" : {
      "documentation" : "<p>Lists the customer master keys.</p>",
      "operationName" : "ListKeys",
      "deprecated" : false,
      "input" : {
        "variableName" : "listKeysRequest",
        "variableType" : "ListKeysRequest",
        "variableDeclarationType" : "ListKeysRequest",
        "documentation" : "",
        "simpleType" : "ListKeysRequest",
        "variableSetterType" : "ListKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListKeysResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListKeysResult",
      "asyncReturnType" : "ListKeysResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListKeysResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKeysRequest, ListKeysResult>",
      "authenticated" : true,
      "methodName" : "listKeys"
    },
    "ListRetirableGrants" : {
      "documentation" : "<p>Returns a list of all grants for which the grant's <code>RetiringPrincipal</code> matches the one specified.</p> <p>A typical use is to list all grants that you are able to retire. To retire a grant, use <a>RetireGrant</a>.</p>",
      "operationName" : "ListRetirableGrants",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRetirableGrantsRequest",
        "variableType" : "ListRetirableGrantsRequest",
        "variableDeclarationType" : "ListRetirableGrantsRequest",
        "documentation" : "",
        "simpleType" : "ListRetirableGrantsRequest",
        "variableSetterType" : "ListRetirableGrantsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRetirableGrantsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidMarkerException",
        "documentation" : "<p>The request was rejected because the marker that specifies where pagination should next begin is not valid.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListRetirableGrantsResult",
      "asyncReturnType" : "ListRetirableGrantsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRetirableGrantsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRetirableGrantsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRetirableGrantsRequest, ListRetirableGrantsResult>",
      "authenticated" : true,
      "methodName" : "listRetirableGrants"
    },
    "PutKeyPolicy" : {
      "documentation" : "<p>Attaches a key policy to the specified customer master key (CMK).</p> <p>For more information about key policies, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html\">Key Policies</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "operationName" : "PutKeyPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "putKeyPolicyRequest",
        "variableType" : "PutKeyPolicyRequest",
        "variableDeclarationType" : "PutKeyPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutKeyPolicyRequest",
        "variableSetterType" : "PutKeyPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutKeyPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "MalformedPolicyDocumentException",
        "documentation" : "<p>The request was rejected because the specified policy is not syntactically or semantically correct.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The request was rejected because a specified parameter is not supported.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutKeyPolicyResult",
      "asyncReturnType" : "PutKeyPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutKeyPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutKeyPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutKeyPolicyRequest, PutKeyPolicyResult>",
      "authenticated" : true,
      "methodName" : "putKeyPolicy"
    },
    "ReEncrypt" : {
      "documentation" : "<p>Encrypts data on the server side with a new customer master key without exposing the plaintext of the data on the client side. The data is first decrypted and then encrypted. This operation can also be used to change the encryption context of a ciphertext.</p> <p>Unlike other actions, <code>ReEncrypt</code> is authorized twice - once as <code>ReEncryptFrom</code> on the source key and once as <code>ReEncryptTo</code> on the destination key. We therefore recommend that you include the <code>\"action\":\"kms:ReEncrypt*\"</code> statement in your key policies to permit re-encryption from or to the key. The statement is included automatically when you authorize use of the key through the console but must be included manually when you set a policy by using the <a>PutKeyPolicy</a> function.</p>",
      "operationName" : "ReEncrypt",
      "deprecated" : false,
      "input" : {
        "variableName" : "reEncryptRequest",
        "variableType" : "ReEncryptRequest",
        "variableDeclarationType" : "ReEncryptRequest",
        "documentation" : "",
        "simpleType" : "ReEncryptRequest",
        "variableSetterType" : "ReEncryptRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ReEncryptResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DisabledException",
        "documentation" : "<p>The request was rejected because the specified key was marked as disabled.</p>"
      }, {
        "exceptionName" : "InvalidCiphertextException",
        "documentation" : "<p>The request was rejected because the specified ciphertext has been corrupted or is otherwise invalid.</p>"
      }, {
        "exceptionName" : "KeyUnavailableException",
        "documentation" : "<p>The request was rejected because the key was not available. The request can be retried.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidKeyUsageException",
        "documentation" : "<p>The request was rejected because the specified KeySpec parameter is not valid. The currently supported value is ENCRYPT/DECRYPT.</p>"
      }, {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ReEncryptResult",
      "asyncReturnType" : "ReEncryptResult",
      "asyncFutureType" : "java.util.concurrent.Future<ReEncryptResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ReEncryptResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReEncryptRequest, ReEncryptResult>",
      "authenticated" : true,
      "methodName" : "reEncrypt"
    },
    "RetireGrant" : {
      "documentation" : "<p>Retires a grant. You can retire a grant when you're done using it to clean up. You should revoke a grant when you intend to actively deny operations that depend on it. The following are permitted to call this API:</p> <ul> <li> <p>The account that created the grant</p> </li> <li> <p>The <code>RetiringPrincipal</code>, if present</p> </li> <li> <p>The <code>GranteePrincipal</code>, if <code>RetireGrant</code> is a grantee operation</p> </li> </ul> <p>The grant to retire must be identified by its grant token or by a combination of the key ARN and the grant ID. A grant token is a unique variable-length base64-encoded string. A grant ID is a 64 character unique identifier of a grant. Both are returned by the <code>CreateGrant</code> function.</p>",
      "operationName" : "RetireGrant",
      "deprecated" : false,
      "input" : {
        "variableName" : "retireGrantRequest",
        "variableType" : "RetireGrantRequest",
        "variableDeclarationType" : "RetireGrantRequest",
        "documentation" : "",
        "simpleType" : "RetireGrantRequest",
        "variableSetterType" : "RetireGrantRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RetireGrantResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidGrantTokenException",
        "documentation" : "<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
      }, {
        "exceptionName" : "InvalidGrantIdException",
        "documentation" : "<p>The request was rejected because the specified <code>GrantId</code> is not valid.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RetireGrantResult",
      "asyncReturnType" : "RetireGrantResult",
      "asyncFutureType" : "java.util.concurrent.Future<RetireGrantResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RetireGrantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetireGrantRequest, RetireGrantResult>",
      "authenticated" : true,
      "methodName" : "retireGrant"
    },
    "RevokeGrant" : {
      "documentation" : "<p>Revokes a grant. You can revoke a grant to actively deny operations that depend on it.</p>",
      "operationName" : "RevokeGrant",
      "deprecated" : false,
      "input" : {
        "variableName" : "revokeGrantRequest",
        "variableType" : "RevokeGrantRequest",
        "variableDeclarationType" : "RevokeGrantRequest",
        "documentation" : "",
        "simpleType" : "RevokeGrantRequest",
        "variableSetterType" : "RevokeGrantRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RevokeGrantResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "InvalidGrantIdException",
        "documentation" : "<p>The request was rejected because the specified <code>GrantId</code> is not valid.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RevokeGrantResult",
      "asyncReturnType" : "RevokeGrantResult",
      "asyncFutureType" : "java.util.concurrent.Future<RevokeGrantResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RevokeGrantResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeGrantRequest, RevokeGrantResult>",
      "authenticated" : true,
      "methodName" : "revokeGrant"
    },
    "ScheduleKeyDeletion" : {
      "documentation" : "<p>Schedules the deletion of a customer master key (CMK). You may provide a waiting period, specified in days, before deletion occurs. If you do not provide a waiting period, the default period of 30 days is used. When this operation is successful, the state of the CMK changes to <code>PendingDeletion</code>. Before the waiting period ends, you can use <a>CancelKeyDeletion</a> to cancel the deletion of the CMK. After the waiting period ends, AWS KMS deletes the CMK and all AWS KMS data associated with it, including all aliases that point to it.</p> <important> <p>Deleting a CMK is a destructive and potentially dangerous operation. When a CMK is deleted, all data that was encrypted under the CMK is rendered unrecoverable. To restrict the use of a CMK without deleting it, use <a>DisableKey</a>.</p> </important> <p>For more information about scheduling a CMK for deletion, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html\">Deleting Customer Master Keys</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "operationName" : "ScheduleKeyDeletion",
      "deprecated" : false,
      "input" : {
        "variableName" : "scheduleKeyDeletionRequest",
        "variableType" : "ScheduleKeyDeletionRequest",
        "variableDeclarationType" : "ScheduleKeyDeletionRequest",
        "documentation" : "",
        "simpleType" : "ScheduleKeyDeletionRequest",
        "variableSetterType" : "ScheduleKeyDeletionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ScheduleKeyDeletionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ScheduleKeyDeletionResult",
      "asyncReturnType" : "ScheduleKeyDeletionResult",
      "asyncFutureType" : "java.util.concurrent.Future<ScheduleKeyDeletionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ScheduleKeyDeletionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ScheduleKeyDeletionRequest, ScheduleKeyDeletionResult>",
      "authenticated" : true,
      "methodName" : "scheduleKeyDeletion"
    },
    "UpdateAlias" : {
      "documentation" : "<p>Updates an alias to map it to a different key.</p> <p>An alias is not a property of a key. Therefore, an alias can be mapped to and unmapped from an existing key without changing the properties of the key.</p> <p>An alias name can contain only alphanumeric characters, forward slashes (/), underscores (_), and dashes (-). An alias must start with the word \"alias\" followed by a forward slash (alias/). An alias that begins with \"aws\" after the forward slash (alias/aws...) is reserved by Amazon Web Services (AWS).</p> <p>The alias and the key it is mapped to must be in the same AWS account and the same region.</p>",
      "operationName" : "UpdateAlias",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateAliasRequest",
        "variableType" : "UpdateAliasRequest",
        "variableDeclarationType" : "UpdateAliasRequest",
        "documentation" : "",
        "simpleType" : "UpdateAliasRequest",
        "variableSetterType" : "UpdateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateAliasResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateAliasResult",
      "asyncReturnType" : "UpdateAliasResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAliasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAliasRequest, UpdateAliasResult>",
      "authenticated" : true,
      "methodName" : "updateAlias"
    },
    "UpdateKeyDescription" : {
      "documentation" : "<p>Updates the description of a key.</p>",
      "operationName" : "UpdateKeyDescription",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateKeyDescriptionRequest",
        "variableType" : "UpdateKeyDescriptionRequest",
        "variableDeclarationType" : "UpdateKeyDescriptionRequest",
        "documentation" : "",
        "simpleType" : "UpdateKeyDescriptionRequest",
        "variableSetterType" : "UpdateKeyDescriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateKeyDescriptionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request was rejected because the specified entity or resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidArnException",
        "documentation" : "<p>The request was rejected because a specified ARN was not valid.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInternalException",
        "documentation" : "<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
      }, {
        "exceptionName" : "KMSInvalidStateException",
        "documentation" : "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateKeyDescriptionResult",
      "asyncReturnType" : "UpdateKeyDescriptionResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateKeyDescriptionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateKeyDescriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateKeyDescriptionRequest, UpdateKeyDescriptionResult>",
      "authenticated" : true,
      "methodName" : "updateKeyDescription"
    }
  },
  "shapes" : {
    "DeleteAliasResult" : {
      "c2jName" : "DeleteAliasResult",
      "documentation" : null,
      "shapeName" : "DeleteAliasResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "deleteAliasResult",
        "variableType" : "DeleteAliasResult",
        "variableDeclarationType" : "DeleteAliasResult",
        "documentation" : null,
        "simpleType" : "DeleteAliasResult",
        "variableSetterType" : "DeleteAliasResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "AliasListEntry" : {
      "c2jName" : "AliasListEntry",
      "documentation" : "<p>Contains information about an alias.</p>",
      "shapeName" : "AliasListEntry",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>String that contains the alias.</p>",
        "name" : "AliasName",
        "c2jName" : "AliasName",
        "c2jShape" : "AliasNameType",
        "variable" : {
          "variableName" : "aliasName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>String that contains the alias.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "aliasName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AliasName",
          "marshallLocationName" : "AliasName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>String that contains the alias.</p>\n@param aliasName String that contains the alias.*/",
        "getterDocumentation" : "/**<p>String that contains the alias.</p>\n@return String that contains the alias.*/",
        "fluentSetterDocumentation" : "/**<p>String that contains the alias.</p>\n@param aliasName String that contains the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>String that contains the alias.</p>\n@param aliasName String that contains the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>String that contains the key ARN.</p>",
        "name" : "AliasArn",
        "c2jName" : "AliasArn",
        "c2jShape" : "ArnType",
        "variable" : {
          "variableName" : "aliasArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>String that contains the key ARN.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "aliasArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AliasArn",
          "marshallLocationName" : "AliasArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>String that contains the key ARN.</p>\n@param aliasArn String that contains the key ARN.*/",
        "getterDocumentation" : "/**<p>String that contains the key ARN.</p>\n@return String that contains the key ARN.*/",
        "fluentSetterDocumentation" : "/**<p>String that contains the key ARN.</p>\n@param aliasArn String that contains the key ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>String that contains the key ARN.</p>\n@param aliasArn String that contains the key ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>String that contains the key identifier pointed to by the alias.</p>",
        "name" : "TargetKeyId",
        "c2jName" : "TargetKeyId",
        "c2jShape" : "KeyIdType",
        "variable" : {
          "variableName" : "targetKeyId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>String that contains the key identifier pointed to by the alias.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "targetKeyId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TargetKeyId",
          "marshallLocationName" : "TargetKeyId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>String that contains the key identifier pointed to by the alias.</p>\n@param targetKeyId String that contains the key identifier pointed to by the alias.*/",
        "getterDocumentation" : "/**<p>String that contains the key identifier pointed to by the alias.</p>\n@return String that contains the key identifier pointed to by the alias.*/",
        "fluentSetterDocumentation" : "/**<p>String that contains the key identifier pointed to by the alias.</p>\n@param targetKeyId String that contains the key identifier pointed to by the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>String that contains the key identifier pointed to by the alias.</p>\n@param targetKeyId String that contains the key identifier pointed to by the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "aliasListEntry",
        "variableType" : "AliasListEntry",
        "variableDeclarationType" : "AliasListEntry",
        "documentation" : null,
        "simpleType" : "AliasListEntry",
        "variableSetterType" : "AliasListEntry"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "TargetKeyId" : {
          "documentation" : "<p>String that contains the key identifier pointed to by the alias.</p>",
          "name" : "TargetKeyId",
          "c2jName" : "TargetKeyId",
          "c2jShape" : "KeyIdType",
          "variable" : {
            "variableName" : "targetKeyId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>String that contains the key identifier pointed to by the alias.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "targetKeyId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TargetKeyId",
            "marshallLocationName" : "TargetKeyId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>String that contains the key identifier pointed to by the alias.</p>\n@param targetKeyId String that contains the key identifier pointed to by the alias.*/",
          "getterDocumentation" : "/**<p>String that contains the key identifier pointed to by the alias.</p>\n@return String that contains the key identifier pointed to by the alias.*/",
          "fluentSetterDocumentation" : "/**<p>String that contains the key identifier pointed to by the alias.</p>\n@param targetKeyId String that contains the key identifier pointed to by the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>String that contains the key identifier pointed to by the alias.</p>\n@param targetKeyId String that contains the key identifier pointed to by the alias.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "AliasName" : {
          "documentation" : "<p>String that contains the alias.</p>",
          "name" : "AliasName",
          "c2jName" : "AliasName",
          "c2jShape" : "AliasNameType",
          "variable" : {
            "variableName" : "aliasName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>String that contains the alias.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "aliasName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "AliasName",
[...]
