{
  "metadata" : {
    "apiVersion" : "2016-02-06",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>Application Auto Scaling is a general purpose Auto Scaling service for supported elastic AWS resources. With Application Auto Scaling, you can automatically scale your AWS resources, with an experience similar to that of Auto Scaling.</p> <note> <p>At this time, Application Auto Scaling only supports scaling Amazon ECS services.</p> </note> <p>For example, you can use Application Auto Scaling to accomplish the following tasks:</p> <ul> <li> <p>Define scaling policies for automatically adjusting your application’s resources</p> </li> <li> <p>Scale your resources in response to CloudWatch alarms</p> </li> <li> <p>View history of your scaling events </p> </li> </ul> <p>Application Auto Scaling is available in the following regions:</p> <ul> <li> <p> <code>us-east-1</code> </p> </li> <li> <p> <code>us-west-1</code> </p> </li> <li> <p> <code>us-west-2</code> </p> </li> <li> <p> <code>ap-southeast-1</code> </p> </li> <li> <p> <code>ap-southeast-2</code> </p> </li> <li> <p> <code>ap-northeast-1</code> </p> </li> <li> <p> <code>eu-central-1</code> </p> </li> <li> <p> <code>eu-west-1</code> </p> </li> </ul>",
    "defaultEndpoint" : "https://autoscaling.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "autoscaling.us-east-1.amazonaws.com",
    "syncInterface" : "AWSApplicationAutoScaling",
    "syncClient" : "AWSApplicationAutoScalingClient",
    "asyncInterface" : "AWSApplicationAutoScalingAsync",
    "asyncClient" : "AWSApplicationAutoScalingAsyncClient",
    "packageName" : "com.amazonaws.services.applicationautoscaling",
    "packagePath" : "com/amazonaws/services/applicationautoscaling",
    "serviceAbbreviation" : null,
    "serviceFullName" : "Application Auto Scaling",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "autoscaling",
    "signingName" : "application-autoscaling",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSApplicationAutoScalingClientBuilder",
    "asyncClientBuilderClassName" : "AWSApplicationAutoScalingAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSApplicationAutoScalingModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.applicationautoscaling.smoketests",
    "serviceName" : "Application Auto Scaling",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "DeleteScalingPolicy" : {
      "documentation" : "<p>Deletes an Application Auto Scaling scaling policy that was previously created. If you are no longer using a scaling policy, you can delete it with this operation.</p> <p>Deleting a policy deletes the underlying alarm action, but does not delete the CloudWatch alarm, even if it no longer has an associated action.</p> <p>To create a new scaling policy or update an existing one, see <a>PutScalingPolicy</a>.</p>",
      "operationName" : "DeleteScalingPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteScalingPolicyRequest",
        "variableType" : "DeleteScalingPolicyRequest",
        "variableDeclarationType" : "DeleteScalingPolicyRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteScalingPolicyRequest",
        "simpleType" : "DeleteScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteScalingPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any <code>Put</code> or <code>Register</code> API operation, which depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any <code>Delete</code> or <code>Deregister</code> API operation, this exception is thrown if the resource that is to be deleted or deregistered cannot be found.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteScalingPolicyResult",
      "asyncReturnType" : "DeleteScalingPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScalingPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScalingPolicyRequest, DeleteScalingPolicyResult>",
      "authenticated" : true,
      "methodName" : "deleteScalingPolicy"
    },
    "DeregisterScalableTarget" : {
      "documentation" : "<p>Deregisters a scalable target that was previously registered. If you are no longer using a scalable target, you can delete it with this operation. When you deregister a scalable target, all of the scaling policies that are associated with that scalable target are deleted.</p> <p>To create a new scalable target or update an existing one, see <a>RegisterScalableTarget</a>.</p>",
      "operationName" : "DeregisterScalableTarget",
      "deprecated" : false,
      "input" : {
        "variableName" : "deregisterScalableTargetRequest",
        "variableType" : "DeregisterScalableTargetRequest",
        "variableDeclarationType" : "DeregisterScalableTargetRequest",
        "documentation" : "",
        "variableSetterType" : "DeregisterScalableTargetRequest",
        "simpleType" : "DeregisterScalableTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeregisterScalableTargetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any <code>Put</code> or <code>Register</code> API operation, which depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any <code>Delete</code> or <code>Deregister</code> API operation, this exception is thrown if the resource that is to be deleted or deregistered cannot be found.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeregisterScalableTargetResult",
      "asyncReturnType" : "DeregisterScalableTargetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterScalableTargetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterScalableTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterScalableTargetRequest, DeregisterScalableTargetResult>",
      "authenticated" : true,
      "methodName" : "deregisterScalableTarget"
    },
    "DescribeScalableTargets" : {
      "documentation" : "<p>Provides descriptive information for scalable targets with a specified service namespace.</p> <p>You can filter the results in a service namespace with the <code>ResourceIds</code> and <code>ScalableDimension</code> parameters.</p> <p>To create a new scalable target or update an existing one, see <a>RegisterScalableTarget</a>. If you are no longer using a scalable target, you can deregister it with <a>DeregisterScalableTarget</a>.</p>",
      "operationName" : "DescribeScalableTargets",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeScalableTargetsRequest",
        "variableType" : "DescribeScalableTargetsRequest",
        "variableDeclarationType" : "DescribeScalableTargetsRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeScalableTargetsRequest",
        "simpleType" : "DescribeScalableTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeScalableTargetsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token supplied was invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeScalableTargetsResult",
      "asyncReturnType" : "DescribeScalableTargetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalableTargetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalableTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalableTargetsRequest, DescribeScalableTargetsResult>",
      "authenticated" : true,
      "methodName" : "describeScalableTargets"
    },
    "DescribeScalingActivities" : {
      "documentation" : "<p>Provides descriptive information for scaling activities with a specified service namespace for the previous six weeks.</p> <p>You can filter the results in a service namespace with the <code>ResourceId</code> and <code>ScalableDimension</code> parameters.</p> <p>Scaling activities are triggered by CloudWatch alarms that are associated with scaling policies. To view the existing scaling policies for a service namespace, see <a>DescribeScalingPolicies</a>. To create a new scaling policy or update an existing one, see <a>PutScalingPolicy</a>.</p>",
      "operationName" : "DescribeScalingActivities",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeScalingActivitiesRequest",
        "variableType" : "DescribeScalingActivitiesRequest",
        "variableDeclarationType" : "DescribeScalingActivitiesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeScalingActivitiesRequest",
        "simpleType" : "DescribeScalingActivitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeScalingActivitiesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token supplied was invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeScalingActivitiesResult",
      "asyncReturnType" : "DescribeScalingActivitiesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingActivitiesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingActivitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingActivitiesRequest, DescribeScalingActivitiesResult>",
      "authenticated" : true,
      "methodName" : "describeScalingActivities"
    },
    "DescribeScalingPolicies" : {
      "documentation" : "<p>Provides descriptive information for scaling policies with a specified service namespace.</p> <p>You can filter the results in a service namespace with the <code>ResourceId</code>, <code>ScalableDimension</code>, and <code>PolicyNames</code> parameters.</p> <p>To create a new scaling policy or update an existing one, see <a>PutScalingPolicy</a>. If you are no longer using a scaling policy, you can delete it with <a>DeleteScalingPolicy</a>.</p>",
      "operationName" : "DescribeScalingPolicies",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeScalingPoliciesRequest",
        "variableType" : "DescribeScalingPoliciesRequest",
        "variableDeclarationType" : "DescribeScalingPoliciesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeScalingPoliciesRequest",
        "simpleType" : "DescribeScalingPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeScalingPoliciesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "FailedResourceAccessException",
        "documentation" : "<p>Failed access to resources caused an exception. This exception currently only applies to <a>DescribeScalingPolicies</a>. It is thrown when Application Auto Scaling is unable to retrieve the alarms associated with a scaling policy due to a client error, for example, if the role ARN specified for a scalable target does not have the proper permissions to call the CloudWatch <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarms.html\">DescribeAlarms</a> API operation on behalf of your account.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The next token supplied was invalid.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeScalingPoliciesResult",
      "asyncReturnType" : "DescribeScalingPoliciesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScalingPoliciesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScalingPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScalingPoliciesRequest, DescribeScalingPoliciesResult>",
      "authenticated" : true,
      "methodName" : "describeScalingPolicies"
    },
    "PutScalingPolicy" : {
      "documentation" : "<p>Creates or updates a policy for an existing Application Auto Scaling scalable target. Each scalable target is identified by service namespace, a resource ID, and a scalable dimension, and a scaling policy applies to a scalable target that is identified by those three attributes. You cannot create a scaling policy without first registering a scalable target with <a>RegisterScalableTarget</a>.</p> <p>To update an existing policy, use the existing policy name and set the parameters you want to change. Any existing parameter not changed in an update to an existing policy is not changed in this update request.</p> <p>You can view the existing scaling policies for a service namespace with <a>DescribeScalingPolicies</a>. If you are no longer using a scaling policy, you can delete it with <a>DeleteScalingPolicy</a>.</p>",
      "operationName" : "PutScalingPolicy",
      "deprecated" : false,
      "input" : {
        "variableName" : "putScalingPolicyRequest",
        "variableType" : "PutScalingPolicyRequest",
        "variableDeclarationType" : "PutScalingPolicyRequest",
        "documentation" : "",
        "variableSetterType" : "PutScalingPolicyRequest",
        "simpleType" : "PutScalingPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "PutScalingPolicyResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Your account exceeded a limit. This exception is thrown when a per-account resource limit is exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_as-app\">Application Auto Scaling Limits</a>.</p>"
      }, {
        "exceptionName" : "ObjectNotFoundException",
        "documentation" : "<p>The specified object could not be found. For any <code>Put</code> or <code>Register</code> API operation, which depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any <code>Delete</code> or <code>Deregister</code> API operation, this exception is thrown if the resource that is to be deleted or deregistered cannot be found.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "PutScalingPolicyResult",
      "asyncReturnType" : "PutScalingPolicyResult",
      "asyncFutureType" : "java.util.concurrent.Future<PutScalingPolicyResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<PutScalingPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutScalingPolicyRequest, PutScalingPolicyResult>",
      "authenticated" : true,
      "methodName" : "putScalingPolicy"
    },
    "RegisterScalableTarget" : {
      "documentation" : "<p>Registers or updates a scalable target. A scalable target is a resource that can be scaled up or down with Application Auto Scaling. After you have registered a scalable target, you can use this command to update the minimum and maximum values for your scalable dimension.</p> <note> <p>At this time, Application Auto Scaling only supports scaling Amazon ECS services.</p> </note> <p>After you register a scalable target with Application Auto Scaling, you can create and apply scaling policies to it with <a>PutScalingPolicy</a>. You can view the existing scaling policies for a service namespace with <a>DescribeScalableTargets</a>. If you are no longer using a scalable target, you can deregister it with <a>DeregisterScalableTarget</a>.</p>",
      "operationName" : "RegisterScalableTarget",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerScalableTargetRequest",
        "variableType" : "RegisterScalableTargetRequest",
        "variableDeclarationType" : "RegisterScalableTargetRequest",
        "documentation" : "",
        "variableSetterType" : "RegisterScalableTargetRequest",
        "simpleType" : "RegisterScalableTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterScalableTargetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>"
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Your account exceeded a limit. This exception is thrown when a per-account resource limit is exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_as-app\">Application Auto Scaling Limits</a>.</p>"
      }, {
        "exceptionName" : "ConcurrentUpdateException",
        "documentation" : "<p>Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update.</p>"
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>The service encountered an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RegisterScalableTargetResult",
      "asyncReturnType" : "RegisterScalableTargetResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterScalableTargetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterScalableTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterScalableTargetRequest, RegisterScalableTargetResult>",
      "authenticated" : true,
      "methodName" : "registerScalableTarget"
    }
  },
  "shapes" : {
    "RegisterScalableTargetRequest" : {
      "c2jName" : "RegisterScalableTargetRequest",
      "documentation" : "",
      "shapeName" : "RegisterScalableTargetRequest",
      "deprecated" : false,
      "required" : [ "ServiceNamespace", "ResourceId", "ScalableDimension" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>",
        "name" : "ServiceNamespace",
        "c2jName" : "ServiceNamespace",
        "c2jShape" : "ServiceNamespace",
        "variable" : {
          "variableName" : "serviceNamespace",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "serviceNamespace",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ServiceNamespace",
          "marshallLocationName" : "ServiceNamespace",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "ServiceNamespace",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@see ServiceNamespace*/",
        "getterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@return The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@see ServiceNamespace*/",
        "fluentSetterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
        "varargSetterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>",
        "name" : "ResourceId",
        "c2jName" : "ResourceId",
        "c2jShape" : "ResourceIdMaxLen1600",
        "variable" : {
          "variableName" : "resourceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "resourceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ResourceId",
          "marshallLocationName" : "ResourceId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>\n@param resourceId The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.*/",
        "getterDocumentation" : "/**<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>\n@return The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.*/",
        "fluentSetterDocumentation" : "/**<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>\n@param resourceId The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>\n@param resourceId The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>",
        "name" : "ScalableDimension",
        "c2jName" : "ScalableDimension",
        "c2jShape" : "ScalableDimension",
        "variable" : {
          "variableName" : "scalableDimension",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "scalableDimension",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ScalableDimension",
          "marshallLocationName" : "ScalableDimension",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "ScalableDimension",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>\n@param scalableDimension The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.\n@see ScalableDimension*/",
        "getterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>\n@return The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.\n@see ScalableDimension*/",
        "fluentSetterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>\n@param scalableDimension The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ScalableDimension*/",
        "varargSetterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>\n@param scalableDimension The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ScalableDimension*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
        "name" : "MinCapacity",
        "c2jName" : "MinCapacity",
        "c2jShape" : "ResourceCapacity",
        "variable" : {
          "variableName" : "minCapacity",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "minCapacity",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "MinCapacity",
          "marshallLocationName" : "MinCapacity",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param minCapacity The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
        "getterDocumentation" : "/**<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@return The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
        "fluentSetterDocumentation" : "/**<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param minCapacity The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param minCapacity The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
        "name" : "MaxCapacity",
        "c2jName" : "MaxCapacity",
        "c2jShape" : "ResourceCapacity",
        "variable" : {
          "variableName" : "maxCapacity",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "maxCapacity",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "MaxCapacity",
          "marshallLocationName" : "MaxCapacity",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param maxCapacity The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
        "getterDocumentation" : "/**<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@return The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
        "fluentSetterDocumentation" : "/**<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param maxCapacity The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param maxCapacity The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
        "name" : "RoleARN",
        "c2jName" : "RoleARN",
        "c2jShape" : "ResourceIdMaxLen1600",
        "variable" : {
          "variableName" : "roleARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "roleARN",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RoleARN",
          "marshallLocationName" : "RoleARN",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param roleARN The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
        "getterDocumentation" : "/**<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@return The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
        "fluentSetterDocumentation" : "/**<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param roleARN The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param roleARN The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "registerScalableTargetRequest",
        "variableType" : "RegisterScalableTargetRequest",
        "variableDeclarationType" : "RegisterScalableTargetRequest",
        "documentation" : null,
        "variableSetterType" : "RegisterScalableTargetRequest",
        "simpleType" : "RegisterScalableTargetRequest"
      },
      "marshaller" : {
        "action" : "RegisterScalableTarget",
        "verb" : "POST",
        "target" : "AnyScaleFrontendService.RegisterScalableTarget",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ResourceId" : {
          "documentation" : "<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>",
          "name" : "ResourceId",
          "c2jName" : "ResourceId",
          "c2jShape" : "ResourceIdMaxLen1600",
          "variable" : {
            "variableName" : "resourceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "resourceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ResourceId",
            "marshallLocationName" : "ResourceId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>\n@param resourceId The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.*/",
          "getterDocumentation" : "/**<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>\n@return The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.*/",
          "fluentSetterDocumentation" : "/**<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>\n@param resourceId The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.</p>\n@param resourceId The unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, this value is the resource type, followed by the cluster name and service name, such as <code>service/default/sample-webapp</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false
        },
        "ServiceNamespace" : {
          "documentation" : "<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>",
          "name" : "ServiceNamespace",
          "c2jName" : "ServiceNamespace",
          "c2jShape" : "ServiceNamespace",
          "variable" : {
            "variableName" : "serviceNamespace",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "serviceNamespace",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ServiceNamespace",
            "marshallLocationName" : "ServiceNamespace",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "ServiceNamespace",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@see ServiceNamespace*/",
          "getterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@return The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@see ServiceNamespace*/",
          "fluentSetterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
          "varargSetterDocumentation" : "/**<p>The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.</p>\n@param serviceNamespace The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ServiceNamespace*/",
          "simple" : true,
          "list" : false
        },
        "ScalableDimension" : {
          "documentation" : "<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>",
          "name" : "ScalableDimension",
          "c2jName" : "ScalableDimension",
          "c2jShape" : "ScalableDimension",
          "variable" : {
            "variableName" : "scalableDimension",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "scalableDimension",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ScalableDimension",
            "marshallLocationName" : "ScalableDimension",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "ScalableDimension",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>\n@param scalableDimension The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.\n@see ScalableDimension*/",
          "getterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>\n@return The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.\n@see ScalableDimension*/",
          "fluentSetterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>\n@param scalableDimension The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ScalableDimension*/",
          "varargSetterDocumentation" : "/**<p>The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.</p>\n@param scalableDimension The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ScalableDimension*/",
          "simple" : true,
          "list" : false
        },
        "MinCapacity" : {
          "documentation" : "<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
          "name" : "MinCapacity",
          "c2jName" : "MinCapacity",
          "c2jShape" : "ResourceCapacity",
          "variable" : {
            "variableName" : "minCapacity",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "minCapacity",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "MinCapacity",
            "marshallLocationName" : "MinCapacity",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param minCapacity The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
          "getterDocumentation" : "/**<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@return The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
          "fluentSetterDocumentation" : "/**<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param minCapacity The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param minCapacity The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false
        },
        "RoleARN" : {
          "documentation" : "<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
          "name" : "RoleARN",
          "c2jName" : "RoleARN",
          "c2jShape" : "ResourceIdMaxLen1600",
          "variable" : {
            "variableName" : "roleARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "roleARN",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "RoleARN",
            "marshallLocationName" : "RoleARN",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param roleARN The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
          "getterDocumentation" : "/**<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@return The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
          "fluentSetterDocumentation" : "/**<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param roleARN The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param roleARN The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false
        },
        "MaxCapacity" : {
          "documentation" : "<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
          "name" : "MaxCapacity",
          "c2jName" : "MaxCapacity",
          "c2jShape" : "ResourceCapacity",
          "variable" : {
            "variableName" : "maxCapacity",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "maxCapacity",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "MaxCapacity",
            "marshallLocationName" : "MaxCapacity",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param maxCapacity The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
          "getterDocumentation" : "/**<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@return The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.*/",
          "fluentSetterDocumentation" : "/**<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param maxCapacity The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.</p>\n@param maxCapacity The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false
        }
      }
    },
    "ValidationException" : {
      "c2jName" : "ValidationException",
      "documentation" : "<p>An exception was thrown for a validation issue. Review the available parameters for the API request.</p>",
      "shapeName" : "ValidationException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "validationException",
        "variableType" : "ValidationException",
        "variableDeclarationType" : "ValidationException",
        "documentation" : null,
        "variableSetterType" : "ValidationException",
        "simpleType" : "ValidationException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "ValidationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ScalableDimension" : {
      "c2jName" : "ScalableDimension",
      "documentation" : "",
      "shapeName" : "ScalableDimension",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "EcsServiceDesiredCount",
        "value" : "ecs:service:DesiredCount"
      } ],
      "variable" : {
        "variableName" : "scalableDimension",
        "variableType" : "ScalableDimension",
        "variableDeclarationType" : "ScalableDimension",
        "documentation" : null,
        "variableSetterType" : "ScalableDimension",
        "simpleType" : "ScalableDimension"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "DescribeScalingPoliciesResult" : {
      "c2jName" : "DescribeScalingPoliciesResponse",
      "documentation" : "",
      "shapeName" : "DescribeScalingPoliciesResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A list of scaling policy objects.</p>",
        "name" : "ScalingPolicies",
        "c2jName" : "ScalingPolicies",
        "c2jShape" : "ScalingPolicies",
        "variable" : {
          "variableName" : "scalingPolicies",
          "variableType" : "java.util.List<ScalingPolicy>",
          "variableDeclarationType" : "java.util.List<ScalingPolicy>",
          "documentation" : "<p>A list of scaling policy objects.</p>",
          "variableSetterType" : "java.util.Collection<ScalingPolicy>",
          "simpleType" : "List<ScalingPolicy>"
        },
        "setterModel" : {
          "variableName" : "scalingPolicies",
          "variableType" : "java.util.List<ScalingPolicy>",
          "variableDeclarationType" : "java.util.List<ScalingPolicy>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<ScalingPolicy>",
          "simpleType" : "List<ScalingPolicy>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<ScalingPolicy>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ScalingPolicies",
          "marshallLocationName" : "ScalingPolicies",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "ScalingPolicy",
          "memberLocationName" : null,
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "ScalingPolicy",
            "variable" : {
              "variableName" : "member",
              "variableType" : "ScalingPolicy",
              "variableDeclarationType" : "ScalingPolicy",
              "documentation" : "",
              "variableSetterType" : "ScalingPolicy",
              "simpleType" : "ScalingPolicy"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "ScalingPolicy",
              "variableDeclarationType" : "ScalingPolicy",
              "documentation" : "",
              "variableSetterType" : "ScalingPolicy",
              "simpleType" : "ScalingPolicy"
            },
            "getterModel" : {
              "returnType" : "ScalingPolicy",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "simple" : false,
            "list" : false
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "map" : false,
          "templateType" : "java.util.List<ScalingPolicy>",
          "templateImplType" : "java.util.ArrayList<ScalingPolicy>",
          "simple" : false,
          "simpleType" : "ScalingPolicy"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of scaling policy objects.</p>\n@param scalingPolicies A list of scaling policy objects.*/",
        "getterDocumentation" : "/**<p>A list of scaling policy objects.</p>\n@return A list of scaling policy objects.*/",
        "fluentSetterDocumentation" : "/**<p>A list of scaling policy objects.</p>\n@param scalingPolicies A list of scaling policy objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of scaling policy objects.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setScalingPolicies(java.util.Collection)} or {@link #withScalingPolicies(java.util.Collection)} if you want to override the existing values.</p>\n@param scalingPolicies A list of scaling policy objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false,
        "list" : true
      }, {
        "documentation" : "<p>The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
        "name" : "NextToken",
        "c2jName" : "NextToken",
        "c2jShape" : "XmlString",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextToken",
          "marshallLocationName" : "NextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n@param nextToken The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.*/",
        "getterDocumentation" : "/**<p>The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n@return The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.*/",
        "fluentSetterDocumentation" : "/**<p>The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n@param nextToken The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>\n@param nextToken The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeScalingPoliciesResult",
        "variableType" : "DescribeScalingPoliciesResult",
        "variableDeclarationType" : "DescribeScalingPoliciesResult",
        "documentation" : null,
        "variableSetterType" : "DescribeScalingPoliciesResult",
        "simpleType" : "DescribeScalingPoliciesResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ScalingPolicies" : {
          "documentation" : "<p>A list of scaling policy objects.</p>",
          "name" : "ScalingPolicies",
          "c2jName" : "ScalingPolicies",
          "c2jShape" : "ScalingPolicies",
          "variable" : {
            "variableName" : "scalingPolicies",
            "variableType" : "java.util.List<ScalingPolicy>",
            "variableDeclarationType" : "java.util.List<ScalingPolicy>",
            "documentation" : "<p>A list of scaling policy objects.</p>",
            "variableSetterType" : "java.util.Collection<ScalingPolicy>",
            "simpleType" : "List<ScalingPolicy>"
          },
          "setterModel" : {
            "variableName" : "scalingPolicies",
            "variableType" : "java.util.List<ScalingPolicy>",
            "variableDeclarationType" : "java.util.List<ScalingPolicy>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<ScalingPolicy>",
            "simpleType" : "List<ScalingPolicy>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<ScalingPolicy>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ScalingPolicies",
            "marshallLocationName" : "ScalingPolicies",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "ScalingPolicy",
            "memberLocationName" : null,
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "ScalingPolicy",
              "variable" : {
                "variableName" : "member",
                "variableType" : "ScalingPolicy",
                "variableDeclarationType" : "ScalingPolicy",
                "documentation" : "",
                "variableSetterType" : "ScalingPolicy",
                "simpleType" : "ScalingPolicy"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "ScalingPolicy",
                "variableDeclarationType" : "ScalingPolicy",
                "documentation" : "",
                "variableSetterType" : "ScalingPolicy",
                "simpleType" : "ScalingPolicy"
              },
              "getterModel" : {
                "returnType" : "ScalingPolicy",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "simple" : false,
              "list" : false
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "map" : false,
            "templateType" : "java.util.List<ScalingPolicy>",
            "templateImplType" : "java.util.ArrayList<ScalingPolicy>",
            "simple" : false,
            "simpleType" : "ScalingPolicy"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of scaling policy objects.</p>\n@param scalingPolicies A list of scaling policy objects.*/",
          "getterDocumentation" : "/**<p>A list of scaling policy objects.</p>\n@return A list of scaling policy objects.*/",
          "fluentSetterDocumentation" : "/**<p>A list of scaling policy objects.</p>\n@param scalingPolicies A list of scaling policy objects.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
