{
  "metadata" : {
    "apiVersion" : "2015-08-24",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>This is the <i>AWS WAF API Reference</i>. This guide is for developers who need detailed information about the AWS WAF API actions, data types, and errors. For detailed information about AWS WAF features and an overview of how to use the AWS WAF API, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
    "defaultEndpoint" : "https://waf.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "waf.amazonaws.com/",
    "syncInterface" : "AWSWAF",
    "syncClient" : "AWSWAFClient",
    "asyncInterface" : "AWSWAFAsync",
    "asyncClient" : "AWSWAFAsyncClient",
    "packageName" : "com.amazonaws.services.waf",
    "packagePath" : "com/amazonaws/services/waf",
    "serviceAbbreviation" : "WAF",
    "serviceFullName" : "AWS WAF",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "waf",
    "signingName" : "waf",
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSWAFClientBuilder",
    "asyncClientBuilderClassName" : "AWSWAFAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSWAFModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.waf.smoketests",
    "serviceName" : "WAF",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "CreateByteMatchSet" : {
      "documentation" : "<p>Creates a <code>ByteMatchSet</code>. You then use <a>UpdateByteMatchSet</a> to identify the part of a web request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. For example, you can create a <code>ByteMatchSet</code> that matches any requests with <code>User-Agent</code> headers that contain the string <code>BadBot</code>. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateByteMatchSet</code> request.</li> <li>Submit a <code>CreateByteMatchSet</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateByteMatchSet</code> request.</li> <li>Submit an <a>UpdateByteMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "operationName" : "CreateByteMatchSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "createByteMatchSetRequest",
        "variableType" : "CreateByteMatchSetRequest",
        "variableDeclarationType" : "CreateByteMatchSetRequest",
        "documentation" : "",
        "simpleType" : "CreateByteMatchSetRequest",
        "variableSetterType" : "CreateByteMatchSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateByteMatchSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFDisallowedNameException",
        "documentation" : "<p>The name specified is invalid.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example:</p> <ul> <li>You specified an invalid parameter name.</li> <li>You specified an invalid value.</li> <li>You tried to update an object (<code>ByteMatchSet</code>, <code>IPSet</code>, <code>Rule</code>, or <code>WebACL</code>) using an action other than <code>INSERT</code> or <code>DELETE</code>.</li> <li>You tried to create a <code>WebACL</code> with a <code>DefaultAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>WebACL</code> with a <code>WafAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>FieldToMatch</code> <code>Type</code> other than HEADER, QUERY_STRING, or URI.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>Field</code> of <code>HEADER</code> but no value for <code>Data</code>.</li> </ul>"
      }, {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateByteMatchSetResult",
      "asyncReturnType" : "CreateByteMatchSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateByteMatchSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateByteMatchSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateByteMatchSetRequest, CreateByteMatchSetResult>",
      "methodName" : "createByteMatchSet"
    },
    "CreateIPSet" : {
      "documentation" : "<p>Creates an <a>IPSet</a>, which you use to specify which web requests you want to allow or block based on the IP addresses that the requests originate from. For example, if you're receiving a lot of requests from one or more individual IP addresses or one or more ranges of IP addresses and you want to block the requests, you can create an <code>IPSet</code> that contains those IP addresses and then configure AWS WAF to block the requests. </p> <p>To create and configure an <code>IPSet</code>, perform the following steps:</p> <ol> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateIPSet</code> request.</li> <li>Submit a <code>CreateIPSet</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateIPSet</a> request.</li> <li>Submit an <code>UpdateIPSet</code> request to specify the IP addresses that you want AWS WAF to watch for.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "operationName" : "CreateIPSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "createIPSetRequest",
        "variableType" : "CreateIPSetRequest",
        "variableDeclarationType" : "CreateIPSetRequest",
        "documentation" : "",
        "simpleType" : "CreateIPSetRequest",
        "variableSetterType" : "CreateIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateIPSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFDisallowedNameException",
        "documentation" : "<p>The name specified is invalid.</p>"
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example:</p> <ul> <li>You specified an invalid parameter name.</li> <li>You specified an invalid value.</li> <li>You tried to update an object (<code>ByteMatchSet</code>, <code>IPSet</code>, <code>Rule</code>, or <code>WebACL</code>) using an action other than <code>INSERT</code> or <code>DELETE</code>.</li> <li>You tried to create a <code>WebACL</code> with a <code>DefaultAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>WebACL</code> with a <code>WafAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>FieldToMatch</code> <code>Type</code> other than HEADER, QUERY_STRING, or URI.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>Field</code> of <code>HEADER</code> but no value for <code>Data</code>.</li> </ul>"
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateIPSetResult",
      "asyncReturnType" : "CreateIPSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIPSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIPSetRequest, CreateIPSetResult>",
      "methodName" : "createIPSet"
    },
    "CreateRule" : {
      "documentation" : "<p>Creates a <code>Rule</code>, which contains the <code>IPSet</code> objects, <code>ByteMatchSet</code> objects, and other predicates that identify the requests that you want to block. If you add more than one predicate to a <code>Rule</code>, a request must match all of the specifications to be allowed or blocked. For example, suppose you add the following to a <code>Rule</code>:</p> <ul> <li>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code></li> <li>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the <code>User-Agent</code> header</li> </ul> <p>You then add the <code>Rule</code> to a <code>WebACL</code> and specify that you want to blocks requests that satisfy the <code>Rule</code>. For a request to be blocked, it must come from the IP address 192.0.2.44 <i>and</i> the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code>.</p> <p>To create and configure a <code>Rule</code>, perform the following steps:</p> <ol> <li>Create and update the predicates that you want to include in the <code>Rule</code>. For more information, see <a>CreateByteMatchSet</a>, <a>CreateIPSet</a>, and <a>CreateSqlInjectionMatchSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRule</code> request.</li> <li>Submit a <code>CreateRule</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateRule</a> request.</li> <li>Submit an <code>UpdateRule</code> request to specify the predicates that you want to include in the <code>Rule</code>.</li> <li>Create and update a <code>WebACL</code> that contains the <code>Rule</code>. For more information, see <a>CreateWebACL</a>.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "operationName" : "CreateRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "createRuleRequest",
        "variableType" : "CreateRuleRequest",
        "variableDeclarationType" : "CreateRuleRequest",
        "documentation" : "",
        "simpleType" : "CreateRuleRequest",
        "variableSetterType" : "CreateRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFDisallowedNameException",
        "documentation" : "<p>The name specified is invalid.</p>"
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example:</p> <ul> <li>You specified an invalid parameter name.</li> <li>You specified an invalid value.</li> <li>You tried to update an object (<code>ByteMatchSet</code>, <code>IPSet</code>, <code>Rule</code>, or <code>WebACL</code>) using an action other than <code>INSERT</code> or <code>DELETE</code>.</li> <li>You tried to create a <code>WebACL</code> with a <code>DefaultAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>WebACL</code> with a <code>WafAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>FieldToMatch</code> <code>Type</code> other than HEADER, QUERY_STRING, or URI.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>Field</code> of <code>HEADER</code> but no value for <code>Data</code>.</li> </ul>"
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateRuleResult",
      "asyncReturnType" : "CreateRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleRequest, CreateRuleResult>",
      "methodName" : "createRule"
    },
    "CreateSizeConstraintSet" : {
      "documentation" : "<p>Creates a <code>SizeConstraintSet</code>. You then use <a>UpdateSizeConstraintSet</a> to identify the part of a web request that you want AWS WAF to check for length, such as the length of the <code>User-Agent</code> header or the length of the query string. For example, you can create a <code>SizeConstraintSet</code> that matches any requests that have a query string that is longer than 100 bytes. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateSizeConstraintSet</code> request.</li> <li>Submit a <code>CreateSizeConstraintSet</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateSizeConstraintSet</code> request.</li> <li>Submit an <a>UpdateSizeConstraintSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "operationName" : "CreateSizeConstraintSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "createSizeConstraintSetRequest",
        "variableType" : "CreateSizeConstraintSetRequest",
        "variableDeclarationType" : "CreateSizeConstraintSetRequest",
        "documentation" : "",
        "simpleType" : "CreateSizeConstraintSetRequest",
        "variableSetterType" : "CreateSizeConstraintSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateSizeConstraintSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFDisallowedNameException",
        "documentation" : "<p>The name specified is invalid.</p>"
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example:</p> <ul> <li>You specified an invalid parameter name.</li> <li>You specified an invalid value.</li> <li>You tried to update an object (<code>ByteMatchSet</code>, <code>IPSet</code>, <code>Rule</code>, or <code>WebACL</code>) using an action other than <code>INSERT</code> or <code>DELETE</code>.</li> <li>You tried to create a <code>WebACL</code> with a <code>DefaultAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>WebACL</code> with a <code>WafAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>FieldToMatch</code> <code>Type</code> other than HEADER, QUERY_STRING, or URI.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>Field</code> of <code>HEADER</code> but no value for <code>Data</code>.</li> </ul>"
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateSizeConstraintSetResult",
      "asyncReturnType" : "CreateSizeConstraintSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSizeConstraintSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSizeConstraintSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSizeConstraintSetRequest, CreateSizeConstraintSetResult>",
      "methodName" : "createSizeConstraintSet"
    },
    "CreateSqlInjectionMatchSet" : {
      "documentation" : "<p>Creates a <a>SqlInjectionMatchSet</a>, which you use to allow, block, or count requests that contain snippets of SQL code in a specified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> <p>To create and configure a <code>SqlInjectionMatchSet</code>, perform the following steps:</p> <ol> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateSqlInjectionMatchSet</code> request.</li> <li>Submit a <code>CreateSqlInjectionMatchSet</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateSqlInjectionMatchSet</a> request.</li> <li>Submit an <a>UpdateSqlInjectionMatchSet</a> request to specify the parts of web requests in which you want to allow, block, or count malicious SQL code.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "operationName" : "CreateSqlInjectionMatchSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "createSqlInjectionMatchSetRequest",
        "variableType" : "CreateSqlInjectionMatchSetRequest",
        "variableDeclarationType" : "CreateSqlInjectionMatchSetRequest",
        "documentation" : "<p>A request to create a <a>SqlInjectionMatchSet</a>.</p>",
        "simpleType" : "CreateSqlInjectionMatchSetRequest",
        "variableSetterType" : "CreateSqlInjectionMatchSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateSqlInjectionMatchSetResult",
        "documentation" : "<p>The response to a <code>CreateSqlInjectionMatchSet</code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "WAFDisallowedNameException",
        "documentation" : "<p>The name specified is invalid.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example:</p> <ul> <li>You specified an invalid parameter name.</li> <li>You specified an invalid value.</li> <li>You tried to update an object (<code>ByteMatchSet</code>, <code>IPSet</code>, <code>Rule</code>, or <code>WebACL</code>) using an action other than <code>INSERT</code> or <code>DELETE</code>.</li> <li>You tried to create a <code>WebACL</code> with a <code>DefaultAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>WebACL</code> with a <code>WafAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>FieldToMatch</code> <code>Type</code> other than HEADER, QUERY_STRING, or URI.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>Field</code> of <code>HEADER</code> but no value for <code>Data</code>.</li> </ul>"
      }, {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateSqlInjectionMatchSetResult",
      "asyncReturnType" : "CreateSqlInjectionMatchSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSqlInjectionMatchSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSqlInjectionMatchSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSqlInjectionMatchSetRequest, CreateSqlInjectionMatchSetResult>",
      "methodName" : "createSqlInjectionMatchSet"
    },
    "CreateWebACL" : {
      "documentation" : "<p>Creates a <code>WebACL</code>, which contains the <code>Rules</code> that identify the CloudFront web requests that you want to allow, block, or count. AWS WAF evaluates <code>Rules</code> in order based on the value of <code>Priority</code> for each <code>Rule</code>.</p> <p>You also specify a default action, either <code>ALLOW</code> or <code>BLOCK</code>. If a web request doesn't match any of the <code>Rules</code> in a <code>WebACL</code>, AWS WAF responds to the request with the default action. </p> <p>To create and configure a <code>WebACL</code>, perform the following steps:</p> <ol> <li>Create and update the <code>ByteMatchSet</code> objects and other predicates that you want to include in <code>Rules</code>. For more information, see <a>CreateByteMatchSet</a>, <a>UpdateByteMatchSet</a>, <a>CreateIPSet</a>, <a>UpdateIPSet</a>, <a>CreateSqlInjectionMatchSet</a>, and <a>UpdateSqlInjectionMatchSet</a>.</li> <li>Create and update the <code>Rules</code> that you want to include in the <code>WebACL</code>. For more information, see <a>CreateRule</a> and <a>UpdateRule</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateWebACL</code> request.</li> <li>Submit a <code>CreateWebACL</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateWebACL</a> request.</li> <li>Submit an <a>UpdateWebACL</a> request to specify the <code>Rules</code> that you want to include in the <code>WebACL</code>, to specify the default action, and to associate the <code>WebACL</code> with a CloudFront distribution.</li> </ol> <p>For more information about how to use the AWS WAF API, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "operationName" : "CreateWebACL",
      "deprecated" : false,
      "input" : {
        "variableName" : "createWebACLRequest",
        "variableType" : "CreateWebACLRequest",
        "variableDeclarationType" : "CreateWebACLRequest",
        "documentation" : "",
        "simpleType" : "CreateWebACLRequest",
        "variableSetterType" : "CreateWebACLRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateWebACLResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFDisallowedNameException",
        "documentation" : "<p>The name specified is invalid.</p>"
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example:</p> <ul> <li>You specified an invalid parameter name.</li> <li>You specified an invalid value.</li> <li>You tried to update an object (<code>ByteMatchSet</code>, <code>IPSet</code>, <code>Rule</code>, or <code>WebACL</code>) using an action other than <code>INSERT</code> or <code>DELETE</code>.</li> <li>You tried to create a <code>WebACL</code> with a <code>DefaultAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>WebACL</code> with a <code>WafAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>FieldToMatch</code> <code>Type</code> other than HEADER, QUERY_STRING, or URI.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>Field</code> of <code>HEADER</code> but no value for <code>Data</code>.</li> </ul>"
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateWebACLResult",
      "asyncReturnType" : "CreateWebACLResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWebACLResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWebACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWebACLRequest, CreateWebACLResult>",
      "methodName" : "createWebACL"
    },
    "CreateXssMatchSet" : {
      "documentation" : "<p>Creates an <a>XssMatchSet</a>, which you use to allow, block, or count requests that contain cross-site scripting attacks in the specified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> <p>To create and configure an <code>XssMatchSet</code>, perform the following steps:</p> <ol> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateXssMatchSet</code> request.</li> <li>Submit a <code>CreateXssMatchSet</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateXssMatchSet</a> request.</li> <li>Submit an <a>UpdateXssMatchSet</a> request to specify the parts of web requests in which you want to allow, block, or count cross-site scripting attacks.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "operationName" : "CreateXssMatchSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "createXssMatchSetRequest",
        "variableType" : "CreateXssMatchSetRequest",
        "variableDeclarationType" : "CreateXssMatchSetRequest",
        "documentation" : "<p>A request to create an <a>XssMatchSet</a>.</p>",
        "simpleType" : "CreateXssMatchSetRequest",
        "variableSetterType" : "CreateXssMatchSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateXssMatchSetResult",
        "documentation" : "<p>The response to a <code>CreateXssMatchSet</code> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "WAFDisallowedNameException",
        "documentation" : "<p>The name specified is invalid.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example:</p> <ul> <li>You specified an invalid parameter name.</li> <li>You specified an invalid value.</li> <li>You tried to update an object (<code>ByteMatchSet</code>, <code>IPSet</code>, <code>Rule</code>, or <code>WebACL</code>) using an action other than <code>INSERT</code> or <code>DELETE</code>.</li> <li>You tried to create a <code>WebACL</code> with a <code>DefaultAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>WebACL</code> with a <code>WafAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>FieldToMatch</code> <code>Type</code> other than HEADER, QUERY_STRING, or URI.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>Field</code> of <code>HEADER</code> but no value for <code>Data</code>.</li> </ul>"
      }, {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFLimitsExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>WebACL</code> objects that you can create for an AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/limits.html\">Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateXssMatchSetResult",
      "asyncReturnType" : "CreateXssMatchSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateXssMatchSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateXssMatchSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateXssMatchSetRequest, CreateXssMatchSetResult>",
      "methodName" : "createXssMatchSet"
    },
    "DeleteByteMatchSet" : {
      "documentation" : "<p>Permanently deletes a <a>ByteMatchSet</a>. You can't delete a <code>ByteMatchSet</code> if it's still used in any <code>Rules</code> or if it still includes any <a>ByteMatchTuple</a> objects (any filters).</p> <p>If you just want to remove a <code>ByteMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li>Update the <code>ByteMatchSet</code> to remove filters, if any. For more information, see <a>UpdateByteMatchSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteByteMatchSet</code> request.</li> <li>Submit a <code>DeleteByteMatchSet</code> request.</li> </ol>",
      "operationName" : "DeleteByteMatchSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteByteMatchSetRequest",
        "variableType" : "DeleteByteMatchSetRequest",
        "variableDeclarationType" : "DeleteByteMatchSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteByteMatchSetRequest",
        "variableSetterType" : "DeleteByteMatchSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteByteMatchSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      }, {
        "exceptionName" : "WAFReferencedItemException",
        "documentation" : "<p>The operation failed because you tried to delete an object that is still in use. For example: <ul> <li>You tried to delete a <code>ByteMatchSet</code> that is still referenced by a <code>Rule</code>.</li> <li>You tried to delete a <code>Rule</code> that is still referenced by a <code>WebACL</code>.</li> </ul></p>"
      }, {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFNonEmptyEntityException",
        "documentation" : "<p>The operation failed because you tried to delete an object that isn't empty. For example:</p> <ul> <li>You tried to delete a <code>WebACL</code> that still contains one or more <code>Rule</code> objects.</li> <li>You tried to delete a <code>Rule</code> that still contains one or more <code>ByteMatchSet</code> objects or other predicates.</li> <li>You tried to delete a <code>ByteMatchSet</code> that contains one or more <code>ByteMatchTuple</code> objects.</li> <li>You tried to delete an <code>IPSet</code> that references one or more IP addresses.</li> </ul>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteByteMatchSetResult",
      "asyncReturnType" : "DeleteByteMatchSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteByteMatchSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteByteMatchSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteByteMatchSetRequest, DeleteByteMatchSetResult>",
      "methodName" : "deleteByteMatchSet"
    },
    "DeleteIPSet" : {
      "documentation" : "<p>Permanently deletes an <a>IPSet</a>. You can't delete an <code>IPSet</code> if it's still used in any <code>Rules</code> or if it still includes any IP addresses.</p> <p>If you just want to remove an <code>IPSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete an <code>IPSet</code> from AWS WAF, perform the following steps:</p> <ol> <li>Update the <code>IPSet</code> to remove IP address ranges, if any. For more information, see <a>UpdateIPSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteIPSet</code> request.</li> <li>Submit a <code>DeleteIPSet</code> request.</li> </ol>",
      "operationName" : "DeleteIPSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteIPSetRequest",
        "variableType" : "DeleteIPSetRequest",
        "variableDeclarationType" : "DeleteIPSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteIPSetRequest",
        "variableSetterType" : "DeleteIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteIPSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      }, {
        "exceptionName" : "WAFReferencedItemException",
        "documentation" : "<p>The operation failed because you tried to delete an object that is still in use. For example: <ul> <li>You tried to delete a <code>ByteMatchSet</code> that is still referenced by a <code>Rule</code>.</li> <li>You tried to delete a <code>Rule</code> that is still referenced by a <code>WebACL</code>.</li> </ul></p>"
      }, {
        "exceptionName" : "WAFNonEmptyEntityException",
        "documentation" : "<p>The operation failed because you tried to delete an object that isn't empty. For example:</p> <ul> <li>You tried to delete a <code>WebACL</code> that still contains one or more <code>Rule</code> objects.</li> <li>You tried to delete a <code>Rule</code> that still contains one or more <code>ByteMatchSet</code> objects or other predicates.</li> <li>You tried to delete a <code>ByteMatchSet</code> that contains one or more <code>ByteMatchTuple</code> objects.</li> <li>You tried to delete an <code>IPSet</code> that references one or more IP addresses.</li> </ul>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteIPSetResult",
      "asyncReturnType" : "DeleteIPSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIPSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIPSetRequest, DeleteIPSetResult>",
      "methodName" : "deleteIPSet"
    },
    "DeleteRule" : {
      "documentation" : "<p>Permanently deletes a <a>Rule</a>. You can't delete a <code>Rule</code> if it's still used in any <code>WebACL</code> objects or if it still includes any predicates, such as <code>ByteMatchSet</code> objects.</p> <p>If you just want to remove a <code>Rule</code> from a <code>WebACL</code>, use <a>UpdateWebACL</a>.</p> <p>To permanently delete a <code>Rule</code> from AWS WAF, perform the following steps:</p> <ol> <li>Update the <code>Rule</code> to remove predicates, if any. For more information, see <a>UpdateRule</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRule</code> request.</li> <li>Submit a <code>DeleteRule</code> request.</li> </ol>",
      "operationName" : "DeleteRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "variableDeclarationType" : "DeleteRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      }, {
        "exceptionName" : "WAFReferencedItemException",
        "documentation" : "<p>The operation failed because you tried to delete an object that is still in use. For example: <ul> <li>You tried to delete a <code>ByteMatchSet</code> that is still referenced by a <code>Rule</code>.</li> <li>You tried to delete a <code>Rule</code> that is still referenced by a <code>WebACL</code>.</li> </ul></p>"
      }, {
        "exceptionName" : "WAFNonEmptyEntityException",
        "documentation" : "<p>The operation failed because you tried to delete an object that isn't empty. For example:</p> <ul> <li>You tried to delete a <code>WebACL</code> that still contains one or more <code>Rule</code> objects.</li> <li>You tried to delete a <code>Rule</code> that still contains one or more <code>ByteMatchSet</code> objects or other predicates.</li> <li>You tried to delete a <code>ByteMatchSet</code> that contains one or more <code>ByteMatchTuple</code> objects.</li> <li>You tried to delete an <code>IPSet</code> that references one or more IP addresses.</li> </ul>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteRuleResult",
      "asyncReturnType" : "DeleteRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleRequest, DeleteRuleResult>",
      "methodName" : "deleteRule"
    },
    "DeleteSizeConstraintSet" : {
      "documentation" : "<p>Permanently deletes a <a>SizeConstraintSet</a>. You can't delete a <code>SizeConstraintSet</code> if it's still used in any <code>Rules</code> or if it still includes any <a>SizeConstraint</a> objects (any filters).</p> <p>If you just want to remove a <code>SizeConstraintSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li>Update the <code>SizeConstraintSet</code> to remove filters, if any. For more information, see <a>UpdateSizeConstraintSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteSizeConstraintSet</code> request.</li> <li>Submit a <code>DeleteSizeConstraintSet</code> request.</li> </ol>",
      "operationName" : "DeleteSizeConstraintSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteSizeConstraintSetRequest",
        "variableType" : "DeleteSizeConstraintSetRequest",
        "variableDeclarationType" : "DeleteSizeConstraintSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteSizeConstraintSetRequest",
        "variableSetterType" : "DeleteSizeConstraintSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteSizeConstraintSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      }, {
        "exceptionName" : "WAFReferencedItemException",
        "documentation" : "<p>The operation failed because you tried to delete an object that is still in use. For example: <ul> <li>You tried to delete a <code>ByteMatchSet</code> that is still referenced by a <code>Rule</code>.</li> <li>You tried to delete a <code>Rule</code> that is still referenced by a <code>WebACL</code>.</li> </ul></p>"
      }, {
        "exceptionName" : "WAFNonEmptyEntityException",
        "documentation" : "<p>The operation failed because you tried to delete an object that isn't empty. For example:</p> <ul> <li>You tried to delete a <code>WebACL</code> that still contains one or more <code>Rule</code> objects.</li> <li>You tried to delete a <code>Rule</code> that still contains one or more <code>ByteMatchSet</code> objects or other predicates.</li> <li>You tried to delete a <code>ByteMatchSet</code> that contains one or more <code>ByteMatchTuple</code> objects.</li> <li>You tried to delete an <code>IPSet</code> that references one or more IP addresses.</li> </ul>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteSizeConstraintSetResult",
      "asyncReturnType" : "DeleteSizeConstraintSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSizeConstraintSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSizeConstraintSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSizeConstraintSetRequest, DeleteSizeConstraintSetResult>",
      "methodName" : "deleteSizeConstraintSet"
    },
    "DeleteSqlInjectionMatchSet" : {
      "documentation" : "<p>Permanently deletes a <a>SqlInjectionMatchSet</a>. You can't delete a <code>SqlInjectionMatchSet</code> if it's still used in any <code>Rules</code> or if it still contains any <a>SqlInjectionMatchTuple</a> objects.</p> <p>If you just want to remove a <code>SqlInjectionMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>SqlInjectionMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li>Update the <code>SqlInjectionMatchSet</code> to remove filters, if any. For more information, see <a>UpdateSqlInjectionMatchSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteSqlInjectionMatchSet</code> request.</li> <li>Submit a <code>DeleteSqlInjectionMatchSet</code> request.</li> </ol>",
      "operationName" : "DeleteSqlInjectionMatchSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteSqlInjectionMatchSetRequest",
        "variableType" : "DeleteSqlInjectionMatchSetRequest",
        "variableDeclarationType" : "DeleteSqlInjectionMatchSetRequest",
        "documentation" : "<p>A request to delete a <a>SqlInjectionMatchSet</a> from AWS WAF.</p>",
        "simpleType" : "DeleteSqlInjectionMatchSetRequest",
        "variableSetterType" : "DeleteSqlInjectionMatchSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteSqlInjectionMatchSetResult",
        "documentation" : "<p>The response to a request to delete a <a>SqlInjectionMatchSet</a> from AWS WAF.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      }, {
        "exceptionName" : "WAFReferencedItemException",
        "documentation" : "<p>The operation failed because you tried to delete an object that is still in use. For example: <ul> <li>You tried to delete a <code>ByteMatchSet</code> that is still referenced by a <code>Rule</code>.</li> <li>You tried to delete a <code>Rule</code> that is still referenced by a <code>WebACL</code>.</li> </ul></p>"
      }, {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFNonEmptyEntityException",
        "documentation" : "<p>The operation failed because you tried to delete an object that isn't empty. For example:</p> <ul> <li>You tried to delete a <code>WebACL</code> that still contains one or more <code>Rule</code> objects.</li> <li>You tried to delete a <code>Rule</code> that still contains one or more <code>ByteMatchSet</code> objects or other predicates.</li> <li>You tried to delete a <code>ByteMatchSet</code> that contains one or more <code>ByteMatchTuple</code> objects.</li> <li>You tried to delete an <code>IPSet</code> that references one or more IP addresses.</li> </ul>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteSqlInjectionMatchSetResult",
      "asyncReturnType" : "DeleteSqlInjectionMatchSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSqlInjectionMatchSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSqlInjectionMatchSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSqlInjectionMatchSetRequest, DeleteSqlInjectionMatchSetResult>",
      "methodName" : "deleteSqlInjectionMatchSet"
    },
    "DeleteWebACL" : {
      "documentation" : "<p>Permanently deletes a <a>WebACL</a>. You can't delete a <code>WebACL</code> if it still contains any <code>Rules</code>.</p> <p>To delete a <code>WebACL</code>, perform the following steps:</p> <ol> <li>Update the <code>WebACL</code> to remove <code>Rules</code>, if any. For more information, see <a>UpdateWebACL</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteWebACL</code> request.</li> <li>Submit a <code>DeleteWebACL</code> request.</li> </ol>",
      "operationName" : "DeleteWebACL",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteWebACLRequest",
        "variableType" : "DeleteWebACLRequest",
        "variableDeclarationType" : "DeleteWebACLRequest",
        "documentation" : "",
        "simpleType" : "DeleteWebACLRequest",
        "variableSetterType" : "DeleteWebACLRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteWebACLResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      }, {
        "exceptionName" : "WAFReferencedItemException",
        "documentation" : "<p>The operation failed because you tried to delete an object that is still in use. For example: <ul> <li>You tried to delete a <code>ByteMatchSet</code> that is still referenced by a <code>Rule</code>.</li> <li>You tried to delete a <code>Rule</code> that is still referenced by a <code>WebACL</code>.</li> </ul></p>"
      }, {
        "exceptionName" : "WAFNonEmptyEntityException",
        "documentation" : "<p>The operation failed because you tried to delete an object that isn't empty. For example:</p> <ul> <li>You tried to delete a <code>WebACL</code> that still contains one or more <code>Rule</code> objects.</li> <li>You tried to delete a <code>Rule</code> that still contains one or more <code>ByteMatchSet</code> objects or other predicates.</li> <li>You tried to delete a <code>ByteMatchSet</code> that contains one or more <code>ByteMatchTuple</code> objects.</li> <li>You tried to delete an <code>IPSet</code> that references one or more IP addresses.</li> </ul>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteWebACLResult",
      "asyncReturnType" : "DeleteWebACLResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWebACLResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWebACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWebACLRequest, DeleteWebACLResult>",
      "methodName" : "deleteWebACL"
    },
    "DeleteXssMatchSet" : {
      "documentation" : "<p>Permanently deletes an <a>XssMatchSet</a>. You can't delete an <code>XssMatchSet</code> if it's still used in any <code>Rules</code> or if it still contains any <a>XssMatchTuple</a> objects.</p> <p>If you just want to remove an <code>XssMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete an <code>XssMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li>Update the <code>XssMatchSet</code> to remove filters, if any. For more information, see <a>UpdateXssMatchSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteXssMatchSet</code> request.</li> <li>Submit a <code>DeleteXssMatchSet</code> request.</li> </ol>",
      "operationName" : "DeleteXssMatchSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteXssMatchSetRequest",
        "variableType" : "DeleteXssMatchSetRequest",
        "variableDeclarationType" : "DeleteXssMatchSetRequest",
        "documentation" : "<p>A request to delete an <a>XssMatchSet</a> from AWS WAF.</p>",
        "simpleType" : "DeleteXssMatchSetRequest",
        "variableSetterType" : "DeleteXssMatchSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteXssMatchSetResult",
        "documentation" : "<p>The response to a request to delete an <a>XssMatchSet</a> from AWS WAF.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      }, {
        "exceptionName" : "WAFReferencedItemException",
        "documentation" : "<p>The operation failed because you tried to delete an object that is still in use. For example: <ul> <li>You tried to delete a <code>ByteMatchSet</code> that is still referenced by a <code>Rule</code>.</li> <li>You tried to delete a <code>Rule</code> that is still referenced by a <code>WebACL</code>.</li> </ul></p>"
      }, {
        "exceptionName" : "WAFStaleDataException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using a change token that has already been used.</p>"
      }, {
        "exceptionName" : "WAFNonEmptyEntityException",
        "documentation" : "<p>The operation failed because you tried to delete an object that isn't empty. For example:</p> <ul> <li>You tried to delete a <code>WebACL</code> that still contains one or more <code>Rule</code> objects.</li> <li>You tried to delete a <code>Rule</code> that still contains one or more <code>ByteMatchSet</code> objects or other predicates.</li> <li>You tried to delete a <code>ByteMatchSet</code> that contains one or more <code>ByteMatchTuple</code> objects.</li> <li>You tried to delete an <code>IPSet</code> that references one or more IP addresses.</li> </ul>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteXssMatchSetResult",
      "asyncReturnType" : "DeleteXssMatchSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteXssMatchSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteXssMatchSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteXssMatchSetRequest, DeleteXssMatchSetResult>",
      "methodName" : "deleteXssMatchSet"
    },
    "GetByteMatchSet" : {
      "documentation" : "<p>Returns the <a>ByteMatchSet</a> specified by <code>ByteMatchSetId</code>.</p>",
      "operationName" : "GetByteMatchSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "getByteMatchSetRequest",
        "variableType" : "GetByteMatchSetRequest",
        "variableDeclarationType" : "GetByteMatchSetRequest",
        "documentation" : "",
        "simpleType" : "GetByteMatchSetRequest",
        "variableSetterType" : "GetByteMatchSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetByteMatchSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetByteMatchSetResult",
      "asyncReturnType" : "GetByteMatchSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetByteMatchSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetByteMatchSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetByteMatchSetRequest, GetByteMatchSetResult>",
      "methodName" : "getByteMatchSet"
    },
    "GetChangeToken" : {
      "documentation" : "<p>When you want to create, update, or delete AWS WAF objects, get a change token and include the change token in the create, update, or delete request. Change tokens ensure that your application doesn't submit conflicting requests to AWS WAF.</p> <p>Each create, update, or delete request must use a unique change token. If your application submits a <code>GetChangeToken</code> request and then submits a second <code>GetChangeToken</code> request before submitting a create, update, or delete request, the second <code>GetChangeToken</code> request returns the same value as the first <code>GetChangeToken</code> request.</p> <p>When you use a change token in a create, update, or delete request, the status of the change token changes to <code>PENDING</code>, which indicates that AWS WAF is propagating the change to all AWS WAF servers. Use <code>GetChangeTokenStatus</code> to determine the status of your change token.</p>",
      "operationName" : "GetChangeToken",
      "deprecated" : false,
      "input" : {
        "variableName" : "getChangeTokenRequest",
        "variableType" : "GetChangeTokenRequest",
        "variableDeclarationType" : "GetChangeTokenRequest",
        "documentation" : "",
        "simpleType" : "GetChangeTokenRequest",
        "variableSetterType" : "GetChangeTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetChangeTokenResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetChangeTokenResult",
      "asyncReturnType" : "GetChangeTokenResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetChangeTokenResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetChangeTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChangeTokenRequest, GetChangeTokenResult>",
      "methodName" : "getChangeToken"
    },
    "GetChangeTokenStatus" : {
      "documentation" : "<p>Returns the status of a <code>ChangeToken</code> that you got by calling <a>GetChangeToken</a>. <code>ChangeTokenStatus</code> is one of the following values:</p> <ul> <li><code>PROVISIONED</code>: You requested the change token by calling <code>GetChangeToken</code>, but you haven't used it yet in a call to create, update, or delete an AWS WAF object.</li> <li><code>PENDING</code>: AWS WAF is propagating the create, update, or delete request to all AWS WAF servers.</li> <li><code>IN_SYNC</code>: Propagation is complete.</li> </ul>",
      "operationName" : "GetChangeTokenStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "getChangeTokenStatusRequest",
        "variableType" : "GetChangeTokenStatusRequest",
        "variableDeclarationType" : "GetChangeTokenStatusRequest",
        "documentation" : "",
        "simpleType" : "GetChangeTokenStatusRequest",
        "variableSetterType" : "GetChangeTokenStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetChangeTokenStatusResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetChangeTokenStatusResult",
      "asyncReturnType" : "GetChangeTokenStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetChangeTokenStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetChangeTokenStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChangeTokenStatusRequest, GetChangeTokenStatusResult>",
      "methodName" : "getChangeTokenStatus"
    },
    "GetIPSet" : {
      "documentation" : "<p>Returns the <a>IPSet</a> that is specified by <code>IPSetId</code>.</p>",
      "operationName" : "GetIPSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "getIPSetRequest",
        "variableType" : "GetIPSetRequest",
        "variableDeclarationType" : "GetIPSetRequest",
        "documentation" : "",
        "simpleType" : "GetIPSetRequest",
        "variableSetterType" : "GetIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetIPSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetIPSetResult",
      "asyncReturnType" : "GetIPSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetIPSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIPSetRequest, GetIPSetResult>",
      "methodName" : "getIPSet"
    },
    "GetRule" : {
      "documentation" : "<p>Returns the <a>Rule</a> that is specified by the <code>RuleId</code> that you included in the <code>GetRule</code> request.</p>",
      "operationName" : "GetRule",
      "deprecated" : false,
      "input" : {
        "variableName" : "getRuleRequest",
        "variableType" : "GetRuleRequest",
        "variableDeclarationType" : "GetRuleRequest",
        "documentation" : "",
        "simpleType" : "GetRuleRequest",
        "variableSetterType" : "GetRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetRuleResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetRuleResult",
      "asyncReturnType" : "GetRuleResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetRuleResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRuleRequest, GetRuleResult>",
      "methodName" : "getRule"
    },
    "GetSampledRequests" : {
      "documentation" : "<p>Gets detailed information about a specified number of requests--a sample--that AWS WAF randomly selects from among the first 5,000 requests that your AWS resource received during a time range that you choose. You can specify a sample size of up to 100 requests, and you can specify any time range in the previous three hours.</p> <p><code>GetSampledRequests</code> returns a time range, which is usually the time range that you specified. However, if your resource (such as a CloudFront distribution) received 5,000 requests before the specified time range elapsed, <code>GetSampledRequests</code> returns an updated time range. This new time range indicates the actual period during which AWS WAF selected the requests in the sample.</p>",
      "operationName" : "GetSampledRequests",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSampledRequestsRequest",
        "variableType" : "GetSampledRequestsRequest",
        "variableDeclarationType" : "GetSampledRequestsRequest",
        "documentation" : "",
        "simpleType" : "GetSampledRequestsRequest",
        "variableSetterType" : "GetSampledRequestsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSampledRequestsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      }, {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetSampledRequestsResult",
      "asyncReturnType" : "GetSampledRequestsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSampledRequestsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSampledRequestsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSampledRequestsRequest, GetSampledRequestsResult>",
      "methodName" : "getSampledRequests"
    },
    "GetSizeConstraintSet" : {
      "documentation" : "<p>Returns the <a>SizeConstraintSet</a> specified by <code>SizeConstraintSetId</code>.</p>",
      "operationName" : "GetSizeConstraintSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSizeConstraintSetRequest",
        "variableType" : "GetSizeConstraintSetRequest",
        "variableDeclarationType" : "GetSizeConstraintSetRequest",
        "documentation" : "",
        "simpleType" : "GetSizeConstraintSetRequest",
        "variableSetterType" : "GetSizeConstraintSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSizeConstraintSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetSizeConstraintSetResult",
      "asyncReturnType" : "GetSizeConstraintSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSizeConstraintSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSizeConstraintSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSizeConstraintSetRequest, GetSizeConstraintSetResult>",
      "methodName" : "getSizeConstraintSet"
    },
    "GetSqlInjectionMatchSet" : {
      "documentation" : "<p>Returns the <a>SqlInjectionMatchSet</a> that is specified by <code>SqlInjectionMatchSetId</code>.</p>",
      "operationName" : "GetSqlInjectionMatchSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSqlInjectionMatchSetRequest",
        "variableType" : "GetSqlInjectionMatchSetRequest",
        "variableDeclarationType" : "GetSqlInjectionMatchSetRequest",
        "documentation" : "<p>A request to get a <a>SqlInjectionMatchSet</a>.</p>",
        "simpleType" : "GetSqlInjectionMatchSetRequest",
        "variableSetterType" : "GetSqlInjectionMatchSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSqlInjectionMatchSetResult",
        "documentation" : "<p>The response to a <a>GetSqlInjectionMatchSet</a> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetSqlInjectionMatchSetResult",
      "asyncReturnType" : "GetSqlInjectionMatchSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSqlInjectionMatchSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSqlInjectionMatchSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSqlInjectionMatchSetRequest, GetSqlInjectionMatchSetResult>",
      "methodName" : "getSqlInjectionMatchSet"
    },
    "GetWebACL" : {
      "documentation" : "<p>Returns the <a>WebACL</a> that is specified by <code>WebACLId</code>.</p>",
      "operationName" : "GetWebACL",
      "deprecated" : false,
      "input" : {
        "variableName" : "getWebACLRequest",
        "variableType" : "GetWebACLRequest",
        "variableDeclarationType" : "GetWebACLRequest",
        "documentation" : "",
        "simpleType" : "GetWebACLRequest",
        "variableSetterType" : "GetWebACLRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetWebACLResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetWebACLResult",
      "asyncReturnType" : "GetWebACLResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetWebACLResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetWebACLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWebACLRequest, GetWebACLResult>",
      "methodName" : "getWebACL"
    },
    "GetXssMatchSet" : {
      "documentation" : "<p>Returns the <a>XssMatchSet</a> that is specified by <code>XssMatchSetId</code>.</p>",
      "operationName" : "GetXssMatchSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "getXssMatchSetRequest",
        "variableType" : "GetXssMatchSetRequest",
        "variableDeclarationType" : "GetXssMatchSetRequest",
        "documentation" : "<p>A request to get an <a>XssMatchSet</a>.</p>",
        "simpleType" : "GetXssMatchSetRequest",
        "variableSetterType" : "GetXssMatchSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetXssMatchSetResult",
        "documentation" : "<p>The response to a <a>GetXssMatchSet</a> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFNonexistentItemException",
        "documentation" : "<p>The operation failed because the referenced object doesn't exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetXssMatchSetResult",
      "asyncReturnType" : "GetXssMatchSetResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetXssMatchSetResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetXssMatchSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetXssMatchSetRequest, GetXssMatchSetResult>",
      "methodName" : "getXssMatchSet"
    },
    "ListByteMatchSets" : {
      "documentation" : "<p>Returns an array of <a>ByteMatchSetSummary</a> objects.</p>",
      "operationName" : "ListByteMatchSets",
      "deprecated" : false,
      "input" : {
        "variableName" : "listByteMatchSetsRequest",
        "variableType" : "ListByteMatchSetsRequest",
        "variableDeclarationType" : "ListByteMatchSetsRequest",
        "documentation" : "",
        "simpleType" : "ListByteMatchSetsRequest",
        "variableSetterType" : "ListByteMatchSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListByteMatchSetsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListByteMatchSetsResult",
      "asyncReturnType" : "ListByteMatchSetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListByteMatchSetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListByteMatchSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListByteMatchSetsRequest, ListByteMatchSetsResult>",
      "methodName" : "listByteMatchSets"
    },
    "ListIPSets" : {
      "documentation" : "<p>Returns an array of <a>IPSetSummary</a> objects in the response.</p>",
      "operationName" : "ListIPSets",
      "deprecated" : false,
      "input" : {
        "variableName" : "listIPSetsRequest",
        "variableType" : "ListIPSetsRequest",
        "variableDeclarationType" : "ListIPSetsRequest",
        "documentation" : "",
        "simpleType" : "ListIPSetsRequest",
        "variableSetterType" : "ListIPSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListIPSetsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListIPSetsResult",
      "asyncReturnType" : "ListIPSetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListIPSetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListIPSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIPSetsRequest, ListIPSetsResult>",
      "methodName" : "listIPSets"
    },
    "ListRules" : {
      "documentation" : "<p>Returns an array of <a>RuleSummary</a> objects.</p>",
      "operationName" : "ListRules",
      "deprecated" : false,
      "input" : {
        "variableName" : "listRulesRequest",
        "variableType" : "ListRulesRequest",
        "variableDeclarationType" : "ListRulesRequest",
        "documentation" : "",
        "simpleType" : "ListRulesRequest",
        "variableSetterType" : "ListRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListRulesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListRulesResult",
      "asyncReturnType" : "ListRulesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListRulesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRulesRequest, ListRulesResult>",
      "methodName" : "listRules"
    },
    "ListSizeConstraintSets" : {
      "documentation" : "<p>Returns an array of <a>SizeConstraintSetSummary</a> objects.</p>",
      "operationName" : "ListSizeConstraintSets",
      "deprecated" : false,
      "input" : {
        "variableName" : "listSizeConstraintSetsRequest",
        "variableType" : "ListSizeConstraintSetsRequest",
        "variableDeclarationType" : "ListSizeConstraintSetsRequest",
        "documentation" : "",
        "simpleType" : "ListSizeConstraintSetsRequest",
        "variableSetterType" : "ListSizeConstraintSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListSizeConstraintSetsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListSizeConstraintSetsResult",
      "asyncReturnType" : "ListSizeConstraintSetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListSizeConstraintSetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListSizeConstraintSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSizeConstraintSetsRequest, ListSizeConstraintSetsResult>",
      "methodName" : "listSizeConstraintSets"
    },
    "ListSqlInjectionMatchSets" : {
      "documentation" : "<p>Returns an array of <a>SqlInjectionMatchSet</a> objects.</p>",
      "operationName" : "ListSqlInjectionMatchSets",
      "deprecated" : false,
      "input" : {
        "variableName" : "listSqlInjectionMatchSetsRequest",
        "variableType" : "ListSqlInjectionMatchSetsRequest",
        "variableDeclarationType" : "ListSqlInjectionMatchSetsRequest",
        "documentation" : "<p>A request to list the <a>SqlInjectionMatchSet</a> objects created by the current AWS account.</p>",
        "simpleType" : "ListSqlInjectionMatchSetsRequest",
        "variableSetterType" : "ListSqlInjectionMatchSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListSqlInjectionMatchSetsResult",
        "documentation" : "<p>The response to a <a>ListSqlInjectionMatchSets</a> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListSqlInjectionMatchSetsResult",
      "asyncReturnType" : "ListSqlInjectionMatchSetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListSqlInjectionMatchSetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListSqlInjectionMatchSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSqlInjectionMatchSetsRequest, ListSqlInjectionMatchSetsResult>",
      "methodName" : "listSqlInjectionMatchSets"
    },
    "ListWebACLs" : {
      "documentation" : "<p>Returns an array of <a>WebACLSummary</a> objects in the response.</p>",
      "operationName" : "ListWebACLs",
      "deprecated" : false,
      "input" : {
        "variableName" : "listWebACLsRequest",
        "variableType" : "ListWebACLsRequest",
        "variableDeclarationType" : "ListWebACLsRequest",
        "documentation" : "",
        "simpleType" : "ListWebACLsRequest",
        "variableSetterType" : "ListWebACLsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListWebACLsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListWebACLsResult",
      "asyncReturnType" : "ListWebACLsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListWebACLsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListWebACLsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWebACLsRequest, ListWebACLsResult>",
      "methodName" : "listWebACLs"
    },
    "ListXssMatchSets" : {
      "documentation" : "<p>Returns an array of <a>XssMatchSet</a> objects.</p>",
      "operationName" : "ListXssMatchSets",
      "deprecated" : false,
      "input" : {
        "variableName" : "listXssMatchSetsRequest",
        "variableType" : "ListXssMatchSetsRequest",
        "variableDeclarationType" : "ListXssMatchSetsRequest",
        "documentation" : "<p>A request to list the <a>XssMatchSet</a> objects created by the current AWS account.</p>",
        "simpleType" : "ListXssMatchSetsRequest",
        "variableSetterType" : "ListXssMatchSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListXssMatchSetsResult",
        "documentation" : "<p>The response to a <a>ListXssMatchSets</a> request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListXssMatchSetsResult",
      "asyncReturnType" : "ListXssMatchSetsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListXssMatchSetsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListXssMatchSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListXssMatchSetsRequest, ListXssMatchSetsResult>",
      "methodName" : "listXssMatchSets"
    },
    "UpdateByteMatchSet" : {
      "documentation" : "<p>Inserts or deletes <a>ByteMatchTuple</a> objects (filters) in a <a>ByteMatchSet</a>. For each <code>ByteMatchTuple</code> object, you specify the following values: </p> <ul> <li>Whether to insert or delete the object from the array. If you want to change a <code>ByteMatchSetUpdate</code> object, you delete the existing object and add a new one.</li> <li>The part of a web request that you want AWS WAF to inspect, such as a query string or the value of the <code>User-Agent</code> header. </li> <li>The bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to look for. For more information, including how you specify the values for the AWS WAF API and the AWS CLI or SDKs, see <code>TargetString</code> in the <a>ByteMatchTuple</a> data type. </li> <li>Where to look, such as at the beginning or the end of a query string.</li> <li>Whether to perform any conversions on the request, such as converting it to lowercase, before inspecting it for the specified string.</li> </ul> <p>For example, you can add a <code>ByteMatchSetUpdate</code> object that matches web requests in which <code>User-Agent</code> headers contain the string <code>BadBot</code>. You can then configure AWS WAF to block those requests.</p> <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li>Create a <code>ByteMatchSet.</code> For more information, see <a>CreateByteMatchSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateByteMatchSet</code> request.</li> <li>Submit an <code>UpdateByteMatchSet</code> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "operationName" : "UpdateByteMatchSet",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateByteMatchSetRequest",
        "variableType" : "UpdateByteMatchSetRequest",
        "variableDeclarationType" : "UpdateByteMatchSetRequest",
        "documentation" : "",
        "simpleType" : "UpdateByteMatchSetRequest",
        "variableSetterType" : "UpdateByteMatchSetRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateByteMatchSetResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "WAFInternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>"
      }, {
        "exceptionName" : "WAFInvalidAccountException",
        "documentation" : "<p>The operation failed because you tried to create, update, or delete an object by using an invalid account identifier.</p>"
      }, {
        "exceptionName" : "WAFInvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do. For example:</p> <ul> <li>You tried to remove a <code>Rule</code> from a <code>WebACL</code>, but the <code>Rule</code> isn't in the specified <code>WebACL</code>.</li> <li>You tried to remove an IP address from an <code>IPSet</code>, but the IP address isn't in the specified <code>IPSet</code>.</li> <li>You tried to remove a <code>ByteMatchTuple</code> from a <code>ByteMatchSet</code>, but the <code>ByteMatchTuple</code> isn't in the specified <code>WebACL</code>.</li> <li>You tried to add a <code>Rule</code> to a <code>WebACL</code>, but the <code>Rule</code> already exists in the specified <code>WebACL</code>.</li> <li>You tried to add an IP address to an <code>IPSet</code>, but the IP address already exists in the specified <code>IPSet</code>.</li> <li>You tried to add a <code>ByteMatchTuple</code> to a <code>ByteMatchSet</code>, but the <code>ByteMatchTuple</code> already exists in the specified <code>WebACL</code>.</li> </ul>"
      }, {
        "exceptionName" : "WAFInvalidParameterException",
        "documentation" : "<p>The operation failed because AWS WAF didn't recognize a parameter in the request. For example:</p> <ul> <li>You specified an invalid parameter name.</li> <li>You specified an invalid value.</li> <li>You tried to update an object (<code>ByteMatchSet</code>, <code>IPSet</code>, <code>Rule</code>, or <code>WebACL</code>) using an action other than <code>INSERT</code> or <code>DELETE</code>.</li> <li>You tried to create a <code>WebACL</code> with a <code>DefaultAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>WebACL</code> with a <code>WafAction</code> <code>Type</code> other than <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>FieldToMatch</code> <code>Type</code> other than HEADER, QUERY_STRING, or URI.</li> <li>You tried to update a <code>ByteMatchSet</code> with a <code>Field</code> of <code>HEADER</code> but no value for <code>Data</code>.</li> </ul>"
      }, {
        "exceptionName" : "WAFNonexistentContainerException",
        "documentation" : "<p>The operation failed because you tried to add an object to or delete an object from another object that doesn't exist. For example:</p> <ul> <li>You tried to add a <code>Rule</code> to or delete a <code>Rule</code> from a <code>WebACL</code> that doesn't exist.</li> <li>You tried to add a <code>ByteMatchSet</code> to or delete a <code>ByteMatchSet</code> from a <code>Rule</code> that doesn't exist.</li> <li>You tried to add an IP address to or delete an IP address from an <code>IPSet</code> that doesn't exist.</li> <li>You tried to add a <code>ByteMatchTuple</code> to or delete a <code>ByteMatchTuple</code> from a <code>ByteMatchSet</code> that doesn't exist.</li> </ul>"
[...]
