{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeDirectories" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeSnapshots" : {
        "methodForms" : [ [ ] ]
      },
      "GetDirectoryLimits" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-04-16",
    "asyncClient" : "AWSDirectoryServiceAsyncClient",
    "asyncClientBuilderClassName" : "AWSDirectoryServiceAsyncClientBuilder",
    "asyncInterface" : "AWSDirectoryServiceAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSDirectoryServiceModuleInjector",
    "defaultEndpoint" : "https://ds.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ds.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS Directory Service</fullname> <p>This is the <i>AWS Directory Service API Reference</i>. This guide provides detailed information about AWS Directory Service operations, data types, parameters, and errors.</p>",
    "endpointPrefix" : "ds",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.directory",
    "packagePath" : "com/amazonaws/services/directory",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "Directory Service",
    "serviceFullName" : "AWS Directory Service",
    "serviceName" : "Directory Service",
    "signingName" : "ds",
    "smokeTestsPackageName" : "com.amazonaws.services.directory.smoketests",
    "syncClient" : "AWSDirectoryServiceClient",
    "syncClientBuilderClassName" : "AWSDirectoryServiceClientBuilder",
    "syncInterface" : "AWSDirectoryService",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddIpRoutes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddIpRoutesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddIpRoutesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddIpRoutesRequest, AddIpRoutesResult>",
      "asyncReturnType" : "AddIpRoutesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>If the DNS server for your on-premises domain uses a publicly addressable IP address, you must add a CIDR address block to correctly route traffic to and from your Microsoft AD on Amazon Web Services. <i>AddIpRoutes</i> adds this address block. You can also use <i>AddIpRoutes</i> to facilitate routing traffic that uses public IP ranges from your Microsoft AD on AWS to a peer VPC. </p> <p>Before you call <i>AddIpRoutes</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>AddIpRoutes</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "IpRouteLimitExceededException",
        "documentation" : "<p>The maximum allowed number of IP addresses was exceeded. The default limit is 100 IP address blocks.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddIpRoutesRequest",
        "variableName" : "addIpRoutesRequest",
        "variableType" : "AddIpRoutesRequest",
        "documentation" : "",
        "simpleType" : "AddIpRoutesRequest",
        "variableSetterType" : "AddIpRoutesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addIpRoutes",
      "operationName" : "AddIpRoutes",
      "returnType" : {
        "returnType" : "AddIpRoutesResult",
        "documentation" : null
      },
      "syncReturnType" : "AddIpRoutesResult"
    },
    "AddTagsToResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "asyncReturnType" : "AddTagsToResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or overwrites one or more tags for the specified Amazon Directory Services directory. Each directory can have a maximum of 50 tags. Each tag consists of a key and optional value. Tag keys must be unique to each resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : "<p>The maximum allowed number of tags was exceeded.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "documentation" : "",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTagsToResource",
      "operationName" : "AddTagsToResource",
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "AddTagsToResourceResult"
    },
    "CancelSchemaExtension" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelSchemaExtensionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelSchemaExtensionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelSchemaExtensionRequest, CancelSchemaExtensionResult>",
      "asyncReturnType" : "CancelSchemaExtensionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels an in-progress schema extension to a Microsoft AD directory. Once a schema extension has started replicating to all domain controllers, the task can no longer be canceled. A schema extension can be canceled during any of the following states; <code>Initializing</code>, <code>CreatingSnapshot</code>, and <code>UpdatingSchema</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CancelSchemaExtensionRequest",
        "variableName" : "cancelSchemaExtensionRequest",
        "variableType" : "CancelSchemaExtensionRequest",
        "documentation" : "",
        "simpleType" : "CancelSchemaExtensionRequest",
        "variableSetterType" : "CancelSchemaExtensionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelSchemaExtension",
      "operationName" : "CancelSchemaExtension",
      "returnType" : {
        "returnType" : "CancelSchemaExtensionResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelSchemaExtensionResult"
    },
    "ConnectDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConnectDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConnectDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConnectDirectoryRequest, ConnectDirectoryResult>",
      "asyncReturnType" : "ConnectDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an AD Connector to connect to an on-premises directory.</p> <p>Before you call <i>ConnectDirectory</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>ConnectDirectory</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectoryLimitExceededException",
        "documentation" : "<p>The maximum number of directories in the region has been reached. You can use the <a>GetDirectoryLimits</a> operation to determine your directory limits in the region.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ConnectDirectoryRequest",
        "variableName" : "connectDirectoryRequest",
        "variableType" : "ConnectDirectoryRequest",
        "documentation" : "<p>Contains the inputs for the <a>ConnectDirectory</a> operation.</p>",
        "simpleType" : "ConnectDirectoryRequest",
        "variableSetterType" : "ConnectDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "connectDirectory",
      "operationName" : "ConnectDirectory",
      "returnType" : {
        "returnType" : "ConnectDirectoryResult",
        "documentation" : "<p>Contains the results of the <a>ConnectDirectory</a> operation.</p>"
      },
      "syncReturnType" : "ConnectDirectoryResult"
    },
    "CreateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "asyncReturnType" : "CreateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an alias for a directory and assigns the alias to the directory. The alias is used to construct the access URL for the directory, such as <code>http://&lt;alias&gt;.awsapps.com</code>.</p> <important> <p>After an alias has been created, it cannot be deleted or reused, so this operation should only be used when absolutely necessary.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateAliasRequest",
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateAlias</a> operation.</p>",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlias",
      "operationName" : "CreateAlias",
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : "<p>Contains the results of the <a>CreateAlias</a> operation.</p>"
      },
      "syncReturnType" : "CreateAliasResult"
    },
    "CreateComputer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateComputerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateComputerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateComputerRequest, CreateComputerResult>",
      "asyncReturnType" : "CreateComputerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a computer account in the specified directory, and joins the computer to the directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthenticationFailedException",
        "documentation" : "<p>An authentication error occurred.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateComputerRequest",
        "variableName" : "createComputerRequest",
        "variableType" : "CreateComputerRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateComputer</a> operation.</p>",
        "simpleType" : "CreateComputerRequest",
        "variableSetterType" : "CreateComputerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createComputer",
      "operationName" : "CreateComputer",
      "returnType" : {
        "returnType" : "CreateComputerResult",
        "documentation" : "<p>Contains the results for the <a>CreateComputer</a> operation.</p>"
      },
      "syncReturnType" : "CreateComputerResult"
    },
    "CreateConditionalForwarder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConditionalForwarderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConditionalForwarderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConditionalForwarderRequest, CreateConditionalForwarderResult>",
      "asyncReturnType" : "CreateConditionalForwarderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a conditional forwarder associated with your AWS directory. Conditional forwarders are required in order to set up a trust relationship with another domain. The conditional forwarder points to the trusted domain.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateConditionalForwarderRequest",
        "variableName" : "createConditionalForwarderRequest",
        "variableType" : "CreateConditionalForwarderRequest",
        "documentation" : "<p>Initiates the creation of a conditional forwarder for your AWS Directory Service for Microsoft Active Directory. Conditional forwarders are required in order to set up a trust relationship with another domain.</p>",
        "simpleType" : "CreateConditionalForwarderRequest",
        "variableSetterType" : "CreateConditionalForwarderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConditionalForwarder",
      "operationName" : "CreateConditionalForwarder",
      "returnType" : {
        "returnType" : "CreateConditionalForwarderResult",
        "documentation" : "<p>The result of a CreateConditinalForwarder request.</p>"
      },
      "syncReturnType" : "CreateConditionalForwarderResult"
    },
    "CreateDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDirectoryRequest, CreateDirectoryResult>",
      "asyncReturnType" : "CreateDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Simple AD directory.</p> <p>Before you call <i>CreateDirectory</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>CreateDirectory</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectoryLimitExceededException",
        "documentation" : "<p>The maximum number of directories in the region has been reached. You can use the <a>GetDirectoryLimits</a> operation to determine your directory limits in the region.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDirectoryRequest",
        "variableName" : "createDirectoryRequest",
        "variableType" : "CreateDirectoryRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateDirectory</a> operation. </p>",
        "simpleType" : "CreateDirectoryRequest",
        "variableSetterType" : "CreateDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDirectory",
      "operationName" : "CreateDirectory",
      "returnType" : {
        "returnType" : "CreateDirectoryResult",
        "documentation" : "<p>Contains the results of the <a>CreateDirectory</a> operation.</p>"
      },
      "syncReturnType" : "CreateDirectoryResult"
    },
    "CreateMicrosoftAD" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMicrosoftADResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMicrosoftADResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMicrosoftADRequest, CreateMicrosoftADResult>",
      "asyncReturnType" : "CreateMicrosoftADResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Microsoft AD in the AWS cloud.</p> <p>Before you call <i>CreateMicrosoftAD</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>CreateMicrosoftAD</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectoryLimitExceededException",
        "documentation" : "<p>The maximum number of directories in the region has been reached. You can use the <a>GetDirectoryLimits</a> operation to determine your directory limits in the region.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateMicrosoftADRequest",
        "variableName" : "createMicrosoftADRequest",
        "variableType" : "CreateMicrosoftADRequest",
        "documentation" : "<p>Creates a Microsoft AD in the AWS cloud.</p>",
        "simpleType" : "CreateMicrosoftADRequest",
        "variableSetterType" : "CreateMicrosoftADRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMicrosoftAD",
      "operationName" : "CreateMicrosoftAD",
      "returnType" : {
        "returnType" : "CreateMicrosoftADResult",
        "documentation" : "<p>Result of a CreateMicrosoftAD request.</p>"
      },
      "syncReturnType" : "CreateMicrosoftADResult"
    },
    "CreateSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotRequest, CreateSnapshotResult>",
      "asyncReturnType" : "CreateSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a snapshot of a Simple AD or Microsoft AD directory in the AWS cloud.</p> <note> <p>You cannot take snapshots of AD Connector directories.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "SnapshotLimitExceededException",
        "documentation" : "<p>The maximum number of manual snapshots for the directory has been reached. You can use the <a>GetSnapshotLimits</a> operation to determine the snapshot limits for a directory.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSnapshotRequest",
        "variableName" : "createSnapshotRequest",
        "variableType" : "CreateSnapshotRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateSnapshot</a> operation.</p>",
        "simpleType" : "CreateSnapshotRequest",
        "variableSetterType" : "CreateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSnapshot",
      "operationName" : "CreateSnapshot",
      "returnType" : {
        "returnType" : "CreateSnapshotResult",
        "documentation" : "<p>Contains the results of the <a>CreateSnapshot</a> operation.</p>"
      },
      "syncReturnType" : "CreateSnapshotResult"
    },
    "CreateTrust" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrustResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrustResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrustRequest, CreateTrustResult>",
      "asyncReturnType" : "CreateTrustResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your Microsoft AD in the AWS cloud, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the AWS side of a trust relationship between a Microsoft AD in the AWS cloud and an external domain.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTrustRequest",
        "variableName" : "createTrustRequest",
        "variableType" : "CreateTrustRequest",
        "documentation" : "<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your Microsoft AD in the AWS cloud, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the AWS side of a trust relationship between a Microsoft AD in the AWS cloud and an external domain.</p>",
        "simpleType" : "CreateTrustRequest",
        "variableSetterType" : "CreateTrustRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTrust",
      "operationName" : "CreateTrust",
      "returnType" : {
        "returnType" : "CreateTrustResult",
        "documentation" : "<p>The result of a CreateTrust request.</p>"
      },
      "syncReturnType" : "CreateTrustResult"
    },
    "DeleteConditionalForwarder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConditionalForwarderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConditionalForwarderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConditionalForwarderRequest, DeleteConditionalForwarderResult>",
      "asyncReturnType" : "DeleteConditionalForwarderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a conditional forwarder that has been set up for your AWS directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteConditionalForwarderRequest",
        "variableName" : "deleteConditionalForwarderRequest",
        "variableType" : "DeleteConditionalForwarderRequest",
        "documentation" : "<p>Deletes a conditional forwarder.</p>",
        "simpleType" : "DeleteConditionalForwarderRequest",
        "variableSetterType" : "DeleteConditionalForwarderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConditionalForwarder",
      "operationName" : "DeleteConditionalForwarder",
      "returnType" : {
        "returnType" : "DeleteConditionalForwarderResult",
        "documentation" : "<p>The result of a DeleteConditionalForwarder request.</p>"
      },
      "syncReturnType" : "DeleteConditionalForwarderResult"
    },
    "DeleteDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDirectoryRequest, DeleteDirectoryResult>",
      "asyncReturnType" : "DeleteDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AWS Directory Service directory.</p> <p>Before you call <i>DeleteDirectory</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>DeleteDirectory</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDirectoryRequest",
        "variableName" : "deleteDirectoryRequest",
        "variableType" : "DeleteDirectoryRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteDirectory</a> operation.</p>",
        "simpleType" : "DeleteDirectoryRequest",
        "variableSetterType" : "DeleteDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDirectory",
      "operationName" : "DeleteDirectory",
      "returnType" : {
        "returnType" : "DeleteDirectoryResult",
        "documentation" : "<p>Contains the results of the <a>DeleteDirectory</a> operation.</p>"
      },
      "syncReturnType" : "DeleteDirectoryResult"
    },
    "DeleteSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSnapshotRequest, DeleteSnapshotResult>",
      "asyncReturnType" : "DeleteSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a directory snapshot.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSnapshotRequest",
        "variableName" : "deleteSnapshotRequest",
        "variableType" : "DeleteSnapshotRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteSnapshot</a> operation.</p>",
        "simpleType" : "DeleteSnapshotRequest",
        "variableSetterType" : "DeleteSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSnapshot",
      "operationName" : "DeleteSnapshot",
      "returnType" : {
        "returnType" : "DeleteSnapshotResult",
        "documentation" : "<p>Contains the results of the <a>DeleteSnapshot</a> operation.</p>"
      },
      "syncReturnType" : "DeleteSnapshotResult"
    },
    "DeleteTrust" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrustResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrustResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrustRequest, DeleteTrustResult>",
      "asyncReturnType" : "DeleteTrustResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing trust relationship between your Microsoft AD in the AWS cloud and an external domain.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTrustRequest",
        "variableName" : "deleteTrustRequest",
        "variableType" : "DeleteTrustRequest",
        "documentation" : "<p>Deletes the local side of an existing trust relationship between the Microsoft AD in the AWS cloud and the external domain.</p>",
        "simpleType" : "DeleteTrustRequest",
        "variableSetterType" : "DeleteTrustRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTrust",
      "operationName" : "DeleteTrust",
      "returnType" : {
        "returnType" : "DeleteTrustResult",
        "documentation" : "<p>The result of a DeleteTrust request.</p>"
      },
      "syncReturnType" : "DeleteTrustResult"
    },
    "DeregisterEventTopic" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterEventTopicResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterEventTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterEventTopicRequest, DeregisterEventTopicResult>",
      "asyncReturnType" : "DeregisterEventTopicResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified directory as a publisher to the specified SNS topic.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeregisterEventTopicRequest",
        "variableName" : "deregisterEventTopicRequest",
        "variableType" : "DeregisterEventTopicRequest",
        "documentation" : "<p>Removes the specified directory as a publisher to the specified SNS topic.</p>",
        "simpleType" : "DeregisterEventTopicRequest",
        "variableSetterType" : "DeregisterEventTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterEventTopic",
      "operationName" : "DeregisterEventTopic",
      "returnType" : {
        "returnType" : "DeregisterEventTopicResult",
        "documentation" : "<p>The result of a DeregisterEventTopic request.</p>"
      },
      "syncReturnType" : "DeregisterEventTopicResult"
    },
    "DescribeConditionalForwarders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConditionalForwardersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConditionalForwardersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConditionalForwardersRequest, DescribeConditionalForwardersResult>",
      "asyncReturnType" : "DescribeConditionalForwardersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about the conditional forwarders for this account.</p> <p>If no input parameters are provided for RemoteDomainNames, this request describes all conditional forwarders for the specified directory ID.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConditionalForwardersRequest",
        "variableName" : "describeConditionalForwardersRequest",
        "variableType" : "DescribeConditionalForwardersRequest",
        "documentation" : "<p>Describes a conditional forwarder.</p>",
        "simpleType" : "DescribeConditionalForwardersRequest",
        "variableSetterType" : "DescribeConditionalForwardersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConditionalForwarders",
      "operationName" : "DescribeConditionalForwarders",
      "returnType" : {
        "returnType" : "DescribeConditionalForwardersResult",
        "documentation" : "<p>The result of a DescribeConditionalForwarder request.</p>"
      },
      "syncReturnType" : "DescribeConditionalForwardersResult"
    },
    "DescribeDirectories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDirectoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDirectoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDirectoriesRequest, DescribeDirectoriesResult>",
      "asyncReturnType" : "DescribeDirectoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about the directories that belong to this account.</p> <p>You can retrieve information about specific directories by passing the directory identifiers in the <i>DirectoryIds</i> parameter. Otherwise, all directories that belong to the current account are returned.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> request and response parameters. If more results are available, the <i>DescribeDirectoriesResult.NextToken</i> member contains a token that you pass in the next call to <a>DescribeDirectories</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <i>Limit</i> parameter.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDirectoriesRequest",
        "variableName" : "describeDirectoriesRequest",
        "variableType" : "DescribeDirectoriesRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeDirectories</a> operation.</p>",
        "simpleType" : "DescribeDirectoriesRequest",
        "variableSetterType" : "DescribeDirectoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDirectories",
      "operationName" : "DescribeDirectories",
      "returnType" : {
        "returnType" : "DescribeDirectoriesResult",
        "documentation" : "<p>Contains the results of the <a>DescribeDirectories</a> operation.</p>"
      },
      "syncReturnType" : "DescribeDirectoriesResult"
    },
    "DescribeEventTopics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventTopicsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventTopicsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventTopicsRequest, DescribeEventTopicsResult>",
      "asyncReturnType" : "DescribeEventTopicsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about which SNS topics receive status messages from the specified directory.</p> <p>If no input parameters are provided, such as DirectoryId or TopicName, this request describes all of the associations in the account.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEventTopicsRequest",
        "variableName" : "describeEventTopicsRequest",
        "variableType" : "DescribeEventTopicsRequest",
        "documentation" : "<p>Describes event topics.</p>",
        "simpleType" : "DescribeEventTopicsRequest",
        "variableSetterType" : "DescribeEventTopicsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEventTopics",
      "operationName" : "DescribeEventTopics",
      "returnType" : {
        "returnType" : "DescribeEventTopicsResult",
        "documentation" : "<p>The result of a DescribeEventTopic request.</p>"
      },
      "syncReturnType" : "DescribeEventTopicsResult"
    },
    "DescribeSnapshots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSnapshotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSnapshotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSnapshotsRequest, DescribeSnapshotsResult>",
      "asyncReturnType" : "DescribeSnapshotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about the directory snapshots that belong to this account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> request and response parameters. If more results are available, the <i>DescribeSnapshots.NextToken</i> member contains a token that you pass in the next call to <a>DescribeSnapshots</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <i>Limit</i> parameter.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSnapshotsRequest",
        "variableName" : "describeSnapshotsRequest",
        "variableType" : "DescribeSnapshotsRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeSnapshots</a> operation.</p>",
        "simpleType" : "DescribeSnapshotsRequest",
        "variableSetterType" : "DescribeSnapshotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSnapshots",
      "operationName" : "DescribeSnapshots",
      "returnType" : {
        "returnType" : "DescribeSnapshotsResult",
        "documentation" : "<p>Contains the results of the <a>DescribeSnapshots</a> operation.</p>"
      },
      "syncReturnType" : "DescribeSnapshotsResult"
    },
    "DescribeTrusts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustsRequest, DescribeTrustsResult>",
      "asyncReturnType" : "DescribeTrustsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about the trust relationships for this account.</p> <p>If no input parameters are provided, such as DirectoryId or TrustIds, this request describes all the trust relationships belonging to the account.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTrustsRequest",
        "variableName" : "describeTrustsRequest",
        "variableType" : "DescribeTrustsRequest",
        "documentation" : "<p>Describes the trust relationships for a particular Microsoft AD in the AWS cloud. If no input parameters are are provided, such as directory ID or trust ID, this request describes all the trust relationships.</p>",
        "simpleType" : "DescribeTrustsRequest",
        "variableSetterType" : "DescribeTrustsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrusts",
      "operationName" : "DescribeTrusts",
      "returnType" : {
        "returnType" : "DescribeTrustsResult",
        "documentation" : "<p>The result of a DescribeTrust request.</p>"
      },
      "syncReturnType" : "DescribeTrustsResult"
    },
    "DisableRadius" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableRadiusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableRadiusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableRadiusRequest, DisableRadiusResult>",
      "asyncReturnType" : "DisableRadiusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableRadiusRequest",
        "variableName" : "disableRadiusRequest",
        "variableType" : "DisableRadiusRequest",
        "documentation" : "<p>Contains the inputs for the <a>DisableRadius</a> operation.</p>",
        "simpleType" : "DisableRadiusRequest",
        "variableSetterType" : "DisableRadiusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableRadius",
      "operationName" : "DisableRadius",
      "returnType" : {
        "returnType" : "DisableRadiusResult",
        "documentation" : "<p>Contains the results of the <a>DisableRadius</a> operation.</p>"
      },
      "syncReturnType" : "DisableRadiusResult"
    },
    "DisableSso" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableSsoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableSsoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableSsoRequest, DisableSsoResult>",
      "asyncReturnType" : "DisableSsoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables single-sign on for a directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InsufficientPermissionsException",
        "documentation" : "<p>The account does not have sufficient permission to perform the operation.</p>"
      }, {
        "exceptionName" : "AuthenticationFailedException",
        "documentation" : "<p>An authentication error occurred.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableSsoRequest",
        "variableName" : "disableSsoRequest",
        "variableType" : "DisableSsoRequest",
        "documentation" : "<p>Contains the inputs for the <a>DisableSso</a> operation.</p>",
        "simpleType" : "DisableSsoRequest",
        "variableSetterType" : "DisableSsoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableSso",
      "operationName" : "DisableSso",
      "returnType" : {
        "returnType" : "DisableSsoResult",
        "documentation" : "<p>Contains the results of the <a>DisableSso</a> operation.</p>"
      },
      "syncReturnType" : "DisableSsoResult"
    },
    "EnableRadius" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableRadiusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableRadiusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableRadiusRequest, EnableRadiusResult>",
      "asyncReturnType" : "EnableRadiusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableRadiusRequest",
        "variableName" : "enableRadiusRequest",
        "variableType" : "EnableRadiusRequest",
        "documentation" : "<p>Contains the inputs for the <a>EnableRadius</a> operation.</p>",
        "simpleType" : "EnableRadiusRequest",
        "variableSetterType" : "EnableRadiusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableRadius",
      "operationName" : "EnableRadius",
      "returnType" : {
        "returnType" : "EnableRadiusResult",
        "documentation" : "<p>Contains the results of the <a>EnableRadius</a> operation.</p>"
      },
      "syncReturnType" : "EnableRadiusResult"
    },
    "EnableSso" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableSsoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableSsoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableSsoRequest, EnableSsoResult>",
      "asyncReturnType" : "EnableSsoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables single-sign on for a directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InsufficientPermissionsException",
        "documentation" : "<p>The account does not have sufficient permission to perform the operation.</p>"
      }, {
        "exceptionName" : "AuthenticationFailedException",
        "documentation" : "<p>An authentication error occurred.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableSsoRequest",
        "variableName" : "enableSsoRequest",
        "variableType" : "EnableSsoRequest",
        "documentation" : "<p>Contains the inputs for the <a>EnableSso</a> operation.</p>",
        "simpleType" : "EnableSsoRequest",
        "variableSetterType" : "EnableSsoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableSso",
      "operationName" : "EnableSso",
      "returnType" : {
        "returnType" : "EnableSsoResult",
        "documentation" : "<p>Contains the results of the <a>EnableSso</a> operation.</p>"
      },
      "syncReturnType" : "EnableSsoResult"
    },
    "GetDirectoryLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDirectoryLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDirectoryLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDirectoryLimitsRequest, GetDirectoryLimitsResult>",
      "asyncReturnType" : "GetDirectoryLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains directory limit information for the current region.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDirectoryLimitsRequest",
        "variableName" : "getDirectoryLimitsRequest",
        "variableType" : "GetDirectoryLimitsRequest",
        "documentation" : "<p>Contains the inputs for the <a>GetDirectoryLimits</a> operation.</p>",
        "simpleType" : "GetDirectoryLimitsRequest",
        "variableSetterType" : "GetDirectoryLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDirectoryLimits",
      "operationName" : "GetDirectoryLimits",
      "returnType" : {
        "returnType" : "GetDirectoryLimitsResult",
        "documentation" : "<p>Contains the results of the <a>GetDirectoryLimits</a> operation.</p>"
      },
      "syncReturnType" : "GetDirectoryLimitsResult"
    },
    "GetSnapshotLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnapshotLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnapshotLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnapshotLimitsRequest, GetSnapshotLimitsResult>",
      "asyncReturnType" : "GetSnapshotLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains the manual snapshot limits for a directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSnapshotLimitsRequest",
        "variableName" : "getSnapshotLimitsRequest",
        "variableType" : "GetSnapshotLimitsRequest",
        "documentation" : "<p>Contains the inputs for the <a>GetSnapshotLimits</a> operation.</p>",
        "simpleType" : "GetSnapshotLimitsRequest",
        "variableSetterType" : "GetSnapshotLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSnapshotLimits",
      "operationName" : "GetSnapshotLimits",
      "returnType" : {
        "returnType" : "GetSnapshotLimitsResult",
        "documentation" : "<p>Contains the results of the <a>GetSnapshotLimits</a> operation.</p>"
      },
      "syncReturnType" : "GetSnapshotLimitsResult"
    },
    "ListIpRoutes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIpRoutesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIpRoutesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIpRoutesRequest, ListIpRoutesResult>",
      "asyncReturnType" : "ListIpRoutesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the address blocks that you have added to a directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListIpRoutesRequest",
        "variableName" : "listIpRoutesRequest",
        "variableType" : "ListIpRoutesRequest",
        "documentation" : "",
        "simpleType" : "ListIpRoutesRequest",
        "variableSetterType" : "ListIpRoutesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIpRoutes",
      "operationName" : "ListIpRoutes",
      "returnType" : {
        "returnType" : "ListIpRoutesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIpRoutesResult"
    },
    "ListSchemaExtensions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSchemaExtensionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSchemaExtensionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSchemaExtensionsRequest, ListSchemaExtensionsResult>",
      "asyncReturnType" : "ListSchemaExtensionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all schema extensions applied to a Microsoft AD Directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListSchemaExtensionsRequest",
        "variableName" : "listSchemaExtensionsRequest",
        "variableType" : "ListSchemaExtensionsRequest",
        "documentation" : "",
        "simpleType" : "ListSchemaExtensionsRequest",
        "variableSetterType" : "ListSchemaExtensionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSchemaExtensions",
      "operationName" : "ListSchemaExtensions",
      "returnType" : {
        "returnType" : "ListSchemaExtensionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSchemaExtensionsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags on an Amazon Directory Services directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RegisterEventTopic" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterEventTopicResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterEventTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterEventTopicRequest, RegisterEventTopicResult>",
      "asyncReturnType" : "RegisterEventTopicResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a directory with an SNS topic. This establishes the directory as a publisher to the specified SNS topic. You can then receive email or text (SMS) messages when the status of your directory changes. You get notified if your directory goes from an Active status to an Impaired or Inoperable status. You also receive a notification when the directory returns to an Active status.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RegisterEventTopicRequest",
        "variableName" : "registerEventTopicRequest",
        "variableType" : "RegisterEventTopicRequest",
        "documentation" : "<p>Registers a new event topic.</p>",
        "simpleType" : "RegisterEventTopicRequest",
        "variableSetterType" : "RegisterEventTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerEventTopic",
      "operationName" : "RegisterEventTopic",
      "returnType" : {
        "returnType" : "RegisterEventTopicResult",
        "documentation" : "<p>The result of a RegisterEventTopic request.</p>"
      },
      "syncReturnType" : "RegisterEventTopicResult"
    },
    "RemoveIpRoutes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveIpRoutesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveIpRoutesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveIpRoutesRequest, RemoveIpRoutesResult>",
      "asyncReturnType" : "RemoveIpRoutesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes IP address blocks from a directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveIpRoutesRequest",
        "variableName" : "removeIpRoutesRequest",
        "variableType" : "RemoveIpRoutesRequest",
        "documentation" : "",
        "simpleType" : "RemoveIpRoutesRequest",
        "variableSetterType" : "RemoveIpRoutesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeIpRoutes",
      "operationName" : "RemoveIpRoutes",
      "returnType" : {
        "returnType" : "RemoveIpRoutesResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveIpRoutesResult"
    },
    "RemoveTagsFromResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from an Amazon Directory Services directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "documentation" : "",
        "simpleType" : "RemoveTagsFromResourceRequest",
        "variableSetterType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTagsFromResource",
      "operationName" : "RemoveTagsFromResource",
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveTagsFromResourceResult"
    },
    "RestoreFromSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreFromSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreFromSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreFromSnapshotRequest, RestoreFromSnapshotResult>",
      "asyncReturnType" : "RestoreFromSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Restores a directory using an existing directory snapshot.</p> <p>When you restore a directory from a snapshot, any changes made to the directory after the snapshot date are overwritten.</p> <p>This action returns as soon as the restore operation is initiated. You can monitor the progress of the restore operation by calling the <a>DescribeDirectories</a> operation with the directory identifier. When the <b>DirectoryDescription.Stage</b> value changes to <code>Active</code>, the restore operation is complete.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RestoreFromSnapshotRequest",
        "variableName" : "restoreFromSnapshotRequest",
        "variableType" : "RestoreFromSnapshotRequest",
        "documentation" : "<p>An object representing the inputs for the <a>RestoreFromSnapshot</a> operation.</p>",
        "simpleType" : "RestoreFromSnapshotRequest",
        "variableSetterType" : "RestoreFromSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restoreFromSnapshot",
      "operationName" : "RestoreFromSnapshot",
      "returnType" : {
        "returnType" : "RestoreFromSnapshotResult",
        "documentation" : "<p>Contains the results of the <a>RestoreFromSnapshot</a> operation.</p>"
      },
      "syncReturnType" : "RestoreFromSnapshotResult"
    },
    "StartSchemaExtension" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartSchemaExtensionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartSchemaExtensionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartSchemaExtensionRequest, StartSchemaExtensionResult>",
      "asyncReturnType" : "StartSchemaExtensionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies a schema extension to a Microsoft AD directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "SnapshotLimitExceededException",
        "documentation" : "<p>The maximum number of manual snapshots for the directory has been reached. You can use the <a>GetSnapshotLimits</a> operation to determine the snapshot limits for a directory.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartSchemaExtensionRequest",
        "variableName" : "startSchemaExtensionRequest",
        "variableType" : "StartSchemaExtensionRequest",
        "documentation" : "",
        "simpleType" : "StartSchemaExtensionRequest",
        "variableSetterType" : "StartSchemaExtensionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startSchemaExtension",
      "operationName" : "StartSchemaExtension",
      "returnType" : {
        "returnType" : "StartSchemaExtensionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartSchemaExtensionResult"
    },
    "UpdateConditionalForwarder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConditionalForwarderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConditionalForwarderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConditionalForwarderRequest, UpdateConditionalForwarderResult>",
      "asyncReturnType" : "UpdateConditionalForwarderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a conditional forwarder that has been set up for your AWS directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateConditionalForwarderRequest",
        "variableName" : "updateConditionalForwarderRequest",
        "variableType" : "UpdateConditionalForwarderRequest",
        "documentation" : "<p>Updates a conditional forwarder.</p>",
        "simpleType" : "UpdateConditionalForwarderRequest",
        "variableSetterType" : "UpdateConditionalForwarderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConditionalForwarder",
      "operationName" : "UpdateConditionalForwarder",
      "returnType" : {
        "returnType" : "UpdateConditionalForwarderResult",
        "documentation" : "<p>The result of an UpdateConditionalForwarder request.</p>"
      },
      "syncReturnType" : "UpdateConditionalForwarderResult"
    },
    "UpdateRadius" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRadiusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRadiusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRadiusRequest, UpdateRadiusResult>",
      "asyncReturnType" : "UpdateRadiusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the Remote Authentication Dial In User Service (RADIUS) server information for an AD Connector directory.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateRadiusRequest",
        "variableName" : "updateRadiusRequest",
        "variableType" : "UpdateRadiusRequest",
        "documentation" : "<p>Contains the inputs for the <a>UpdateRadius</a> operation.</p>",
        "simpleType" : "UpdateRadiusRequest",
        "variableSetterType" : "UpdateRadiusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRadius",
      "operationName" : "UpdateRadius",
      "returnType" : {
        "returnType" : "UpdateRadiusResult",
        "documentation" : "<p>Contains the results of the <a>UpdateRadius</a> operation.</p>"
      },
      "syncReturnType" : "UpdateRadiusResult"
    },
    "VerifyTrust" : {
      "asyncCallableType" : "java.util.concurrent.Callable<VerifyTrustResult>",
      "asyncFutureType" : "java.util.concurrent.Future<VerifyTrustResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<VerifyTrustRequest, VerifyTrustResult>",
      "asyncReturnType" : "VerifyTrustResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>AWS Directory Service for Microsoft Active Directory allows you to configure and verify trust relationships.</p> <p>This action verifies a trust relationship between your Microsoft AD in the AWS cloud and an external domain.</p>",
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "VerifyTrustRequest",
        "variableName" : "verifyTrustRequest",
        "variableType" : "VerifyTrustRequest",
        "documentation" : "<p>Initiates the verification of an existing trust relationship between a Microsoft AD in the AWS cloud and an external domain.</p>",
        "simpleType" : "VerifyTrustRequest",
        "variableSetterType" : "VerifyTrustRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "verifyTrust",
      "operationName" : "VerifyTrust",
      "returnType" : {
        "returnType" : "VerifyTrustResult",
        "documentation" : "<p>Result of a VerifyTrust request.</p>"
      },
      "syncReturnType" : "VerifyTrustResult"
    }
  },
  "shapes" : {
    "AddIpRoutesRequest" : {
      "c2jName" : "AddIpRoutesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddIpRoutes",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "DirectoryService_20150416.AddIpRoutes",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DirectoryId",
        "c2jShape" : "DirectoryId",
        "deprecated" : false,
        "documentation" : "<p>Identifier (ID) of the directory to which to add the address block.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Identifier (ID) of the directory to which to add the address block.</p>\n@param directoryId Identifier (ID) of the directory to which to add the address block.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Identifier (ID) of the directory to which to add the address block.</p>\n@return Identifier (ID) of the directory to which to add the address block.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DirectoryId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DirectoryId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DirectoryId",
        "setterDocumentation" : "/**<p>Identifier (ID) of the directory to which to add the address block.</p>\n@param directoryId Identifier (ID) of the directory to which to add the address block.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "directoryId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Identifier (ID) of the directory to which to add the address block.</p>\n@param directoryId Identifier (ID) of the directory to which to add the address block.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "directoryId",
          "variableType" : "String",
          "documentation" : "<p>Identifier (ID) of the directory to which to add the address block.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IpRoutes",
        "c2jShape" : "IpRoutes",
        "deprecated" : false,
        "documentation" : "<p>IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.</p>\n@param ipRoutes IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.</p>\n@return IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.*/",
        "getterModel" : {
          "returnType" : "java.util.List<IpRoute>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "IpRoutes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IpRoutes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "IpRoute",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "IpRoute",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "IpRoute",
              "variableName" : "member",
              "variableType" : "IpRoute",
              "documentation" : "",
              "simpleType" : "IpRoute",
              "variableSetterType" : "IpRoute"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "IpRoute",
              "variableName" : "member",
              "variableType" : "IpRoute",
              "documentation" : "",
              "simpleType" : "IpRoute",
              "variableSetterType" : "IpRoute"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "IpRoute",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "IpRoute",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<IpRoute>",
          "templateType" : "java.util.List<IpRoute>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "IpRoutes",
        "setterDocumentation" : "/**<p>IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.</p>\n@param ipRoutes IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<IpRoute>",
          "variableName" : "ipRoutes",
          "variableType" : "java.util.List<IpRoute>",
          "documentation" : "",
          "simpleType" : "List<IpRoute>",
          "variableSetterType" : "java.util.Collection<IpRoute>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setIpRoutes(java.util.Collection)} or {@link #withIpRoutes(java.util.Collection)} if you want to override the existing values.</p>\n@param ipRoutes IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<IpRoute>",
          "variableName" : "ipRoutes",
          "variableType" : "java.util.List<IpRoute>",
          "documentation" : "<p>IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.</p>",
          "simpleType" : "List<IpRoute>",
          "variableSetterType" : "java.util.Collection<IpRoute>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UpdateSecurityGroupForDirectoryControllers",
        "c2jShape" : "UpdateSecurityGroupForDirectoryControllers",
        "deprecated" : false,
        "documentation" : "<p>If set to true, updates the inbound and outbound rules of the security group that has the description: \"AWS created security group for <i>directory ID</i> directory controllers.\" Following are the new rules: </p> <p>Inbound:</p> <ul> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 88, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 123, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 138, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 389, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 464, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 445, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 88, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 135, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 445, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 464, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 636, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 1024-65535, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 3268-33269, Source: 0.0.0.0/0</p> </li> <li> <p>Type: DNS (UDP), Protocol: UDP, Range: 53, Source: 0.0.0.0/0</p> </li> <li> <p>Type: DNS (TCP), Protocol: TCP, Range: 53, Source: 0.0.0.0/0</p> </li> <li> <p>Type: LDAP, Protocol: TCP, Range: 389, Source: 0.0.0.0/0</p> </li> <li> <p>Type: All ICMP, Protocol: All, Range: N/A, Source: 0.0.0.0/0</p> </li> </ul> <p/> <p>Outbound:</p> <ul> <li> <p>Type: All traffic, Protocol: All, Range: All, Destination: 0.0.0.0/0</p> </li> </ul> <p>These security rules impact an internal network interface that is not exposed publicly.</p>",
        "enumType" : null,
[...]
