{
  "metadata" : {
    "apiVersion" : "2015-04-16",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Directory Service</fullname> <p>This is the <i>AWS Directory Service API Reference</i>. This guide provides detailed information about AWS Directory Service operations, data types, parameters, and errors.</p>",
    "defaultEndpoint" : "https://ds.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ds.us-east-1.amazonaws.com",
    "syncInterface" : "AWSDirectoryService",
    "syncClient" : "AWSDirectoryServiceClient",
    "asyncInterface" : "AWSDirectoryServiceAsync",
    "asyncClient" : "AWSDirectoryServiceAsyncClient",
    "packageName" : "com.amazonaws.services.directory",
    "packagePath" : "com/amazonaws/services/directory",
    "serviceAbbreviation" : "Directory Service",
    "serviceFullName" : "AWS Directory Service",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "ds",
    "signingName" : "ds",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSDirectoryServiceClientBuilder",
    "asyncClientBuilderClassName" : "AWSDirectoryServiceAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSDirectoryServiceModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.directory.smoketests",
    "serviceName" : "Directory Service",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "AddIpRoutes" : {
      "documentation" : "<p>If the DNS server for your on-premises domain uses a publicly addressable IP address, you must add a CIDR address block to correctly route traffic to and from your Microsoft AD on Amazon Web Services. <i>AddIpRoutes</i> adds this address block. You can also use <i>AddIpRoutes</i> to facilitate routing traffic that uses public IP ranges from your Microsoft AD on AWS to a peer VPC. </p>",
      "operationName" : "AddIpRoutes",
      "deprecated" : false,
      "input" : {
        "variableName" : "addIpRoutesRequest",
        "variableType" : "AddIpRoutesRequest",
        "variableDeclarationType" : "AddIpRoutesRequest",
        "documentation" : "",
        "simpleType" : "AddIpRoutesRequest",
        "variableSetterType" : "AddIpRoutesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddIpRoutesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "IpRouteLimitExceededException",
        "documentation" : "<p>The maximum allowed number of IP addresses was exceeded. The default limit is 100 IP address blocks.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddIpRoutesResult",
      "asyncReturnType" : "AddIpRoutesResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddIpRoutesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddIpRoutesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddIpRoutesRequest, AddIpRoutesResult>",
      "authenticated" : true,
      "methodName" : "addIpRoutes"
    },
    "AddTagsToResource" : {
      "documentation" : "<p>Adds or overwrites one or more tags for the specified Amazon Directory Services directory. Each directory can have a maximum of 10 tags. Each tag consists of a key and optional value. Tag keys must be unique to each resource.</p>",
      "operationName" : "AddTagsToResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "documentation" : "",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : "<p>The maximum allowed number of tags was exceeded.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddTagsToResourceResult",
      "asyncReturnType" : "AddTagsToResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "authenticated" : true,
      "methodName" : "addTagsToResource"
    },
    "ConnectDirectory" : {
      "documentation" : "<p>Creates an AD Connector to connect to an on-premises directory.</p>",
      "operationName" : "ConnectDirectory",
      "deprecated" : false,
      "input" : {
        "variableName" : "connectDirectoryRequest",
        "variableType" : "ConnectDirectoryRequest",
        "variableDeclarationType" : "ConnectDirectoryRequest",
        "documentation" : "<p>Contains the inputs for the <a>ConnectDirectory</a> operation.</p>",
        "simpleType" : "ConnectDirectoryRequest",
        "variableSetterType" : "ConnectDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConnectDirectoryResult",
        "documentation" : "<p>Contains the results of the <a>ConnectDirectory</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectoryLimitExceededException",
        "documentation" : "<p>The maximum number of directories in the region has been reached. You can use the <a>GetDirectoryLimits</a> operation to determine your directory limits in the region.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ConnectDirectoryResult",
      "asyncReturnType" : "ConnectDirectoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConnectDirectoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConnectDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConnectDirectoryRequest, ConnectDirectoryResult>",
      "authenticated" : true,
      "methodName" : "connectDirectory"
    },
    "CreateAlias" : {
      "documentation" : "<p>Creates an alias for a directory and assigns the alias to the directory. The alias is used to construct the access URL for the directory, such as <code>http://&lt;alias&gt;.awsapps.com</code>.</p> <important> <p>After an alias has been created, it cannot be deleted or reused, so this operation should only be used when absolutely necessary.</p> </important>",
      "operationName" : "CreateAlias",
      "deprecated" : false,
      "input" : {
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "variableDeclarationType" : "CreateAliasRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateAlias</a> operation.</p>",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : "<p>Contains the results of the <a>CreateAlias</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateAliasResult",
      "asyncReturnType" : "CreateAliasResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "authenticated" : true,
      "methodName" : "createAlias"
    },
    "CreateComputer" : {
      "documentation" : "<p>Creates a computer account in the specified directory, and joins the computer to the directory.</p>",
      "operationName" : "CreateComputer",
      "deprecated" : false,
      "input" : {
        "variableName" : "createComputerRequest",
        "variableType" : "CreateComputerRequest",
        "variableDeclarationType" : "CreateComputerRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateComputer</a> operation.</p>",
        "simpleType" : "CreateComputerRequest",
        "variableSetterType" : "CreateComputerRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateComputerResult",
        "documentation" : "<p>Contains the results for the <a>CreateComputer</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "AuthenticationFailedException",
        "documentation" : "<p>An authentication error occurred.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateComputerResult",
      "asyncReturnType" : "CreateComputerResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateComputerResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateComputerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateComputerRequest, CreateComputerResult>",
      "authenticated" : true,
      "methodName" : "createComputer"
    },
    "CreateConditionalForwarder" : {
      "documentation" : "<p>Creates a conditional forwarder associated with your AWS directory. Conditional forwarders are required in order to set up a trust relationship with another domain. The conditional forwarder points to the trusted domain.</p>",
      "operationName" : "CreateConditionalForwarder",
      "deprecated" : false,
      "input" : {
        "variableName" : "createConditionalForwarderRequest",
        "variableType" : "CreateConditionalForwarderRequest",
        "variableDeclarationType" : "CreateConditionalForwarderRequest",
        "documentation" : "<p>Initiates the creation of a conditional forwarder for your AWS Directory Service for Microsoft Active Directory. Conditional forwarders are required in order to set up a trust relationship with another domain.</p>",
        "simpleType" : "CreateConditionalForwarderRequest",
        "variableSetterType" : "CreateConditionalForwarderRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateConditionalForwarderResult",
        "documentation" : "<p>The result of a CreateConditinalForwarder request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateConditionalForwarderResult",
      "asyncReturnType" : "CreateConditionalForwarderResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConditionalForwarderResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConditionalForwarderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConditionalForwarderRequest, CreateConditionalForwarderResult>",
      "authenticated" : true,
      "methodName" : "createConditionalForwarder"
    },
    "CreateDirectory" : {
      "documentation" : "<p>Creates a Simple AD directory.</p>",
      "operationName" : "CreateDirectory",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDirectoryRequest",
        "variableType" : "CreateDirectoryRequest",
        "variableDeclarationType" : "CreateDirectoryRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateDirectory</a> operation. </p>",
        "simpleType" : "CreateDirectoryRequest",
        "variableSetterType" : "CreateDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDirectoryResult",
        "documentation" : "<p>Contains the results of the <a>CreateDirectory</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectoryLimitExceededException",
        "documentation" : "<p>The maximum number of directories in the region has been reached. You can use the <a>GetDirectoryLimits</a> operation to determine your directory limits in the region.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateDirectoryResult",
      "asyncReturnType" : "CreateDirectoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDirectoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDirectoryRequest, CreateDirectoryResult>",
      "authenticated" : true,
      "methodName" : "createDirectory"
    },
    "CreateMicrosoftAD" : {
      "documentation" : "<p>Creates a Microsoft AD in the AWS cloud.</p>",
      "operationName" : "CreateMicrosoftAD",
      "deprecated" : false,
      "input" : {
        "variableName" : "createMicrosoftADRequest",
        "variableType" : "CreateMicrosoftADRequest",
        "variableDeclarationType" : "CreateMicrosoftADRequest",
        "documentation" : "<p>Creates a Microsoft AD in the AWS cloud.</p>",
        "simpleType" : "CreateMicrosoftADRequest",
        "variableSetterType" : "CreateMicrosoftADRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateMicrosoftADResult",
        "documentation" : "<p>Result of a CreateMicrosoftAD request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectoryLimitExceededException",
        "documentation" : "<p>The maximum number of directories in the region has been reached. You can use the <a>GetDirectoryLimits</a> operation to determine your directory limits in the region.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateMicrosoftADResult",
      "asyncReturnType" : "CreateMicrosoftADResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMicrosoftADResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMicrosoftADResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMicrosoftADRequest, CreateMicrosoftADResult>",
      "authenticated" : true,
      "methodName" : "createMicrosoftAD"
    },
    "CreateSnapshot" : {
      "documentation" : "<p>Creates a snapshot of a Simple AD or Microsoft AD directory in the AWS cloud.</p> <note> <p>You cannot take snapshots of AD Connector directories.</p> </note>",
      "operationName" : "CreateSnapshot",
      "deprecated" : false,
      "input" : {
        "variableName" : "createSnapshotRequest",
        "variableType" : "CreateSnapshotRequest",
        "variableDeclarationType" : "CreateSnapshotRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateSnapshot</a> operation.</p>",
        "simpleType" : "CreateSnapshotRequest",
        "variableSetterType" : "CreateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateSnapshotResult",
        "documentation" : "<p>Contains the results of the <a>CreateSnapshot</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "SnapshotLimitExceededException",
        "documentation" : "<p>The maximum number of manual snapshots for the directory has been reached. You can use the <a>GetSnapshotLimits</a> operation to determine the snapshot limits for a directory.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateSnapshotResult",
      "asyncReturnType" : "CreateSnapshotResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSnapshotResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotRequest, CreateSnapshotResult>",
      "authenticated" : true,
      "methodName" : "createSnapshot"
    },
    "CreateTrust" : {
      "documentation" : "<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your Microsoft AD in the AWS cloud, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the AWS side of a trust relationship between a Microsoft AD in the AWS cloud and an external domain.</p>",
      "operationName" : "CreateTrust",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTrustRequest",
        "variableType" : "CreateTrustRequest",
        "variableDeclarationType" : "CreateTrustRequest",
        "documentation" : "<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your Microsoft AD in the AWS cloud, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the AWS side of a trust relationship between a Microsoft AD in the AWS cloud and an external domain.</p>",
        "simpleType" : "CreateTrustRequest",
        "variableSetterType" : "CreateTrustRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTrustResult",
        "documentation" : "<p>The result of a CreateTrust request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateTrustResult",
      "asyncReturnType" : "CreateTrustResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrustResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrustResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrustRequest, CreateTrustResult>",
      "authenticated" : true,
      "methodName" : "createTrust"
    },
    "DeleteConditionalForwarder" : {
      "documentation" : "<p>Deletes a conditional forwarder that has been set up for your AWS directory.</p>",
      "operationName" : "DeleteConditionalForwarder",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteConditionalForwarderRequest",
        "variableType" : "DeleteConditionalForwarderRequest",
        "variableDeclarationType" : "DeleteConditionalForwarderRequest",
        "documentation" : "<p>Deletes a conditional forwarder.</p>",
        "simpleType" : "DeleteConditionalForwarderRequest",
        "variableSetterType" : "DeleteConditionalForwarderRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteConditionalForwarderResult",
        "documentation" : "<p>The result of a DeleteConditionalForwarder request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteConditionalForwarderResult",
      "asyncReturnType" : "DeleteConditionalForwarderResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConditionalForwarderResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConditionalForwarderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConditionalForwarderRequest, DeleteConditionalForwarderResult>",
      "authenticated" : true,
      "methodName" : "deleteConditionalForwarder"
    },
    "DeleteDirectory" : {
      "documentation" : "<p>Deletes an AWS Directory Service directory.</p>",
      "operationName" : "DeleteDirectory",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDirectoryRequest",
        "variableType" : "DeleteDirectoryRequest",
        "variableDeclarationType" : "DeleteDirectoryRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteDirectory</a> operation.</p>",
        "simpleType" : "DeleteDirectoryRequest",
        "variableSetterType" : "DeleteDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDirectoryResult",
        "documentation" : "<p>Contains the results of the <a>DeleteDirectory</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteDirectoryResult",
      "asyncReturnType" : "DeleteDirectoryResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDirectoryResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDirectoryRequest, DeleteDirectoryResult>",
      "authenticated" : true,
      "methodName" : "deleteDirectory"
    },
    "DeleteSnapshot" : {
      "documentation" : "<p>Deletes a directory snapshot.</p>",
      "operationName" : "DeleteSnapshot",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteSnapshotRequest",
        "variableType" : "DeleteSnapshotRequest",
        "variableDeclarationType" : "DeleteSnapshotRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteSnapshot</a> operation.</p>",
        "simpleType" : "DeleteSnapshotRequest",
        "variableSetterType" : "DeleteSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteSnapshotResult",
        "documentation" : "<p>Contains the results of the <a>DeleteSnapshot</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteSnapshotResult",
      "asyncReturnType" : "DeleteSnapshotResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSnapshotResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSnapshotRequest, DeleteSnapshotResult>",
      "authenticated" : true,
      "methodName" : "deleteSnapshot"
    },
    "DeleteTrust" : {
      "documentation" : "<p>Deletes an existing trust relationship between your Microsoft AD in the AWS cloud and an external domain.</p>",
      "operationName" : "DeleteTrust",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTrustRequest",
        "variableType" : "DeleteTrustRequest",
        "variableDeclarationType" : "DeleteTrustRequest",
        "documentation" : "<p>Deletes the local side of an existing trust relationship between the Microsoft AD in the AWS cloud and the external domain.</p>",
        "simpleType" : "DeleteTrustRequest",
        "variableSetterType" : "DeleteTrustRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTrustResult",
        "documentation" : "<p>The result of a DeleteTrust request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteTrustResult",
      "asyncReturnType" : "DeleteTrustResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrustResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrustResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrustRequest, DeleteTrustResult>",
      "authenticated" : true,
      "methodName" : "deleteTrust"
    },
    "DeregisterEventTopic" : {
      "documentation" : "<p>Removes the specified directory as a publisher to the specified SNS topic.</p>",
      "operationName" : "DeregisterEventTopic",
      "deprecated" : false,
      "input" : {
        "variableName" : "deregisterEventTopicRequest",
        "variableType" : "DeregisterEventTopicRequest",
        "variableDeclarationType" : "DeregisterEventTopicRequest",
        "documentation" : "<p>Removes the specified directory as a publisher to the specified SNS topic.</p>",
        "simpleType" : "DeregisterEventTopicRequest",
        "variableSetterType" : "DeregisterEventTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeregisterEventTopicResult",
        "documentation" : "<p>The result of a DeregisterEventTopic request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeregisterEventTopicResult",
      "asyncReturnType" : "DeregisterEventTopicResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterEventTopicResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterEventTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterEventTopicRequest, DeregisterEventTopicResult>",
      "authenticated" : true,
      "methodName" : "deregisterEventTopic"
    },
    "DescribeConditionalForwarders" : {
      "documentation" : "<p>Obtains information about the conditional forwarders for this account.</p> <p>If no input parameters are provided for RemoteDomainNames, this request describes all conditional forwarders for the specified directory ID.</p>",
      "operationName" : "DescribeConditionalForwarders",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConditionalForwardersRequest",
        "variableType" : "DescribeConditionalForwardersRequest",
        "variableDeclarationType" : "DescribeConditionalForwardersRequest",
        "documentation" : "<p>Describes a conditional forwarder.</p>",
        "simpleType" : "DescribeConditionalForwardersRequest",
        "variableSetterType" : "DescribeConditionalForwardersRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConditionalForwardersResult",
        "documentation" : "<p>The result of a DescribeConditionalForwarder request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeConditionalForwardersResult",
      "asyncReturnType" : "DescribeConditionalForwardersResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConditionalForwardersResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConditionalForwardersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConditionalForwardersRequest, DescribeConditionalForwardersResult>",
      "authenticated" : true,
      "methodName" : "describeConditionalForwarders"
    },
    "DescribeDirectories" : {
      "documentation" : "<p>Obtains information about the directories that belong to this account.</p> <p>You can retrieve information about specific directories by passing the directory identifiers in the <i>DirectoryIds</i> parameter. Otherwise, all directories that belong to the current account are returned.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> request and response parameters. If more results are available, the <i>DescribeDirectoriesResult.NextToken</i> member contains a token that you pass in the next call to <a>DescribeDirectories</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <i>Limit</i> parameter.</p>",
      "operationName" : "DescribeDirectories",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeDirectoriesRequest",
        "variableType" : "DescribeDirectoriesRequest",
        "variableDeclarationType" : "DescribeDirectoriesRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeDirectories</a> operation.</p>",
        "simpleType" : "DescribeDirectoriesRequest",
        "variableSetterType" : "DescribeDirectoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeDirectoriesResult",
        "documentation" : "<p>Contains the results of the <a>DescribeDirectories</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeDirectoriesResult",
      "asyncReturnType" : "DescribeDirectoriesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDirectoriesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDirectoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDirectoriesRequest, DescribeDirectoriesResult>",
      "authenticated" : true,
      "methodName" : "describeDirectories"
    },
    "DescribeEventTopics" : {
      "documentation" : "<p>Obtains information about which SNS topics receive status messages from the specified directory.</p> <p>If no input parameters are provided, such as DirectoryId or TopicName, this request describes all of the associations in the account.</p>",
      "operationName" : "DescribeEventTopics",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEventTopicsRequest",
        "variableType" : "DescribeEventTopicsRequest",
        "variableDeclarationType" : "DescribeEventTopicsRequest",
        "documentation" : "<p>Describes event topics.</p>",
        "simpleType" : "DescribeEventTopicsRequest",
        "variableSetterType" : "DescribeEventTopicsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEventTopicsResult",
        "documentation" : "<p>The result of a DescribeEventTopic request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeEventTopicsResult",
      "asyncReturnType" : "DescribeEventTopicsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventTopicsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventTopicsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventTopicsRequest, DescribeEventTopicsResult>",
      "authenticated" : true,
      "methodName" : "describeEventTopics"
    },
    "DescribeSnapshots" : {
      "documentation" : "<p>Obtains information about the directory snapshots that belong to this account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> request and response parameters. If more results are available, the <i>DescribeSnapshots.NextToken</i> member contains a token that you pass in the next call to <a>DescribeSnapshots</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <i>Limit</i> parameter.</p>",
      "operationName" : "DescribeSnapshots",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeSnapshotsRequest",
        "variableType" : "DescribeSnapshotsRequest",
        "variableDeclarationType" : "DescribeSnapshotsRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeSnapshots</a> operation.</p>",
        "simpleType" : "DescribeSnapshotsRequest",
        "variableSetterType" : "DescribeSnapshotsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeSnapshotsResult",
        "documentation" : "<p>Contains the results of the <a>DescribeSnapshots</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeSnapshotsResult",
      "asyncReturnType" : "DescribeSnapshotsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSnapshotsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSnapshotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSnapshotsRequest, DescribeSnapshotsResult>",
      "authenticated" : true,
      "methodName" : "describeSnapshots"
    },
    "DescribeTrusts" : {
      "documentation" : "<p>Obtains information about the trust relationships for this account.</p> <p>If no input parameters are provided, such as DirectoryId or TrustIds, this request describes all the trust relationships belonging to the account.</p>",
      "operationName" : "DescribeTrusts",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTrustsRequest",
        "variableType" : "DescribeTrustsRequest",
        "variableDeclarationType" : "DescribeTrustsRequest",
        "documentation" : "<p>Describes the trust relationships for a particular Microsoft AD in the AWS cloud. If no input parameters are are provided, such as directory ID or trust ID, this request describes all the trust relationships.</p>",
        "simpleType" : "DescribeTrustsRequest",
        "variableSetterType" : "DescribeTrustsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTrustsResult",
        "documentation" : "<p>The result of a DescribeTrust request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeTrustsResult",
      "asyncReturnType" : "DescribeTrustsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustsRequest, DescribeTrustsResult>",
      "authenticated" : true,
      "methodName" : "describeTrusts"
    },
    "DisableRadius" : {
      "documentation" : "<p>Disables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector directory.</p>",
      "operationName" : "DisableRadius",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableRadiusRequest",
        "variableType" : "DisableRadiusRequest",
        "variableDeclarationType" : "DisableRadiusRequest",
        "documentation" : "<p>Contains the inputs for the <a>DisableRadius</a> operation.</p>",
        "simpleType" : "DisableRadiusRequest",
        "variableSetterType" : "DisableRadiusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableRadiusResult",
        "documentation" : "<p>Contains the results of the <a>DisableRadius</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DisableRadiusResult",
      "asyncReturnType" : "DisableRadiusResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableRadiusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableRadiusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableRadiusRequest, DisableRadiusResult>",
      "authenticated" : true,
      "methodName" : "disableRadius"
    },
    "DisableSso" : {
      "documentation" : "<p>Disables single-sign on for a directory.</p>",
      "operationName" : "DisableSso",
      "deprecated" : false,
      "input" : {
        "variableName" : "disableSsoRequest",
        "variableType" : "DisableSsoRequest",
        "variableDeclarationType" : "DisableSsoRequest",
        "documentation" : "<p>Contains the inputs for the <a>DisableSso</a> operation.</p>",
        "simpleType" : "DisableSsoRequest",
        "variableSetterType" : "DisableSsoRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DisableSsoResult",
        "documentation" : "<p>Contains the results of the <a>DisableSso</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InsufficientPermissionsException",
        "documentation" : "<p>The account does not have sufficient permission to perform the operation.</p>"
      }, {
        "exceptionName" : "AuthenticationFailedException",
        "documentation" : "<p>An authentication error occurred.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DisableSsoResult",
      "asyncReturnType" : "DisableSsoResult",
      "asyncFutureType" : "java.util.concurrent.Future<DisableSsoResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DisableSsoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableSsoRequest, DisableSsoResult>",
      "authenticated" : true,
      "methodName" : "disableSso"
    },
    "EnableRadius" : {
      "documentation" : "<p>Enables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector directory.</p>",
      "operationName" : "EnableRadius",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableRadiusRequest",
        "variableType" : "EnableRadiusRequest",
        "variableDeclarationType" : "EnableRadiusRequest",
        "documentation" : "<p>Contains the inputs for the <a>EnableRadius</a> operation.</p>",
        "simpleType" : "EnableRadiusRequest",
        "variableSetterType" : "EnableRadiusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableRadiusResult",
        "documentation" : "<p>Contains the results of the <a>EnableRadius</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnableRadiusResult",
      "asyncReturnType" : "EnableRadiusResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableRadiusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableRadiusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableRadiusRequest, EnableRadiusResult>",
      "authenticated" : true,
      "methodName" : "enableRadius"
    },
    "EnableSso" : {
      "documentation" : "<p>Enables single-sign on for a directory.</p>",
      "operationName" : "EnableSso",
      "deprecated" : false,
      "input" : {
        "variableName" : "enableSsoRequest",
        "variableType" : "EnableSsoRequest",
        "variableDeclarationType" : "EnableSsoRequest",
        "documentation" : "<p>Contains the inputs for the <a>EnableSso</a> operation.</p>",
        "simpleType" : "EnableSsoRequest",
        "variableSetterType" : "EnableSsoRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "EnableSsoResult",
        "documentation" : "<p>Contains the results of the <a>EnableSso</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InsufficientPermissionsException",
        "documentation" : "<p>The account does not have sufficient permission to perform the operation.</p>"
      }, {
        "exceptionName" : "AuthenticationFailedException",
        "documentation" : "<p>An authentication error occurred.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "EnableSsoResult",
      "asyncReturnType" : "EnableSsoResult",
      "asyncFutureType" : "java.util.concurrent.Future<EnableSsoResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<EnableSsoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableSsoRequest, EnableSsoResult>",
      "authenticated" : true,
      "methodName" : "enableSso"
    },
    "GetDirectoryLimits" : {
      "documentation" : "<p>Obtains directory limit information for the current region.</p>",
      "operationName" : "GetDirectoryLimits",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDirectoryLimitsRequest",
        "variableType" : "GetDirectoryLimitsRequest",
        "variableDeclarationType" : "GetDirectoryLimitsRequest",
        "documentation" : "<p>Contains the inputs for the <a>GetDirectoryLimits</a> operation.</p>",
        "simpleType" : "GetDirectoryLimitsRequest",
        "variableSetterType" : "GetDirectoryLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDirectoryLimitsResult",
        "documentation" : "<p>Contains the results of the <a>GetDirectoryLimits</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetDirectoryLimitsResult",
      "asyncReturnType" : "GetDirectoryLimitsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDirectoryLimitsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDirectoryLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDirectoryLimitsRequest, GetDirectoryLimitsResult>",
      "authenticated" : true,
      "methodName" : "getDirectoryLimits"
    },
    "GetSnapshotLimits" : {
      "documentation" : "<p>Obtains the manual snapshot limits for a directory.</p>",
      "operationName" : "GetSnapshotLimits",
      "deprecated" : false,
      "input" : {
        "variableName" : "getSnapshotLimitsRequest",
        "variableType" : "GetSnapshotLimitsRequest",
        "variableDeclarationType" : "GetSnapshotLimitsRequest",
        "documentation" : "<p>Contains the inputs for the <a>GetSnapshotLimits</a> operation.</p>",
        "simpleType" : "GetSnapshotLimitsRequest",
        "variableSetterType" : "GetSnapshotLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetSnapshotLimitsResult",
        "documentation" : "<p>Contains the results of the <a>GetSnapshotLimits</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "GetSnapshotLimitsResult",
      "asyncReturnType" : "GetSnapshotLimitsResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnapshotLimitsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnapshotLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnapshotLimitsRequest, GetSnapshotLimitsResult>",
      "authenticated" : true,
      "methodName" : "getSnapshotLimits"
    },
    "ListIpRoutes" : {
      "documentation" : "<p>Lists the address blocks that you have added to a directory.</p>",
      "operationName" : "ListIpRoutes",
      "deprecated" : false,
      "input" : {
        "variableName" : "listIpRoutesRequest",
        "variableType" : "ListIpRoutesRequest",
        "variableDeclarationType" : "ListIpRoutesRequest",
        "documentation" : "",
        "simpleType" : "ListIpRoutesRequest",
        "variableSetterType" : "ListIpRoutesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListIpRoutesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListIpRoutesResult",
      "asyncReturnType" : "ListIpRoutesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListIpRoutesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListIpRoutesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIpRoutesRequest, ListIpRoutesResult>",
      "authenticated" : true,
      "methodName" : "listIpRoutes"
    },
    "ListTagsForResource" : {
      "documentation" : "<p>Lists all tags on an Amazon Directory Services directory.</p>",
      "operationName" : "ListTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <i>NextToken</i> value is not valid.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTagsForResourceResult",
      "asyncReturnType" : "ListTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "authenticated" : true,
      "methodName" : "listTagsForResource"
    },
    "RegisterEventTopic" : {
      "documentation" : "<p>Associates a directory with an SNS topic. This establishes the directory as a publisher to the specified SNS topic. You can then receive email or text (SMS) messages when the status of your directory changes. You get notified if your directory goes from an Active status to an Impaired or Inoperable status. You also receive a notification when the directory returns to an Active status.</p>",
      "operationName" : "RegisterEventTopic",
      "deprecated" : false,
      "input" : {
        "variableName" : "registerEventTopicRequest",
        "variableType" : "RegisterEventTopicRequest",
        "variableDeclarationType" : "RegisterEventTopicRequest",
        "documentation" : "<p>Registers a new event topic.</p>",
        "simpleType" : "RegisterEventTopicRequest",
        "variableSetterType" : "RegisterEventTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RegisterEventTopicResult",
        "documentation" : "<p>The result of a RegisterEventTopic request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RegisterEventTopicResult",
      "asyncReturnType" : "RegisterEventTopicResult",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterEventTopicResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterEventTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterEventTopicRequest, RegisterEventTopicResult>",
      "authenticated" : true,
      "methodName" : "registerEventTopic"
    },
    "RemoveIpRoutes" : {
      "documentation" : "<p>Removes IP address blocks from a directory.</p>",
      "operationName" : "RemoveIpRoutes",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeIpRoutesRequest",
        "variableType" : "RemoveIpRoutesRequest",
        "variableDeclarationType" : "RemoveIpRoutesRequest",
        "documentation" : "",
        "simpleType" : "RemoveIpRoutesRequest",
        "variableSetterType" : "RemoveIpRoutesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveIpRoutesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RemoveIpRoutesResult",
      "asyncReturnType" : "RemoveIpRoutesResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveIpRoutesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveIpRoutesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveIpRoutesRequest, RemoveIpRoutesResult>",
      "authenticated" : true,
      "methodName" : "removeIpRoutes"
    },
    "RemoveTagsFromResource" : {
      "documentation" : "<p>Removes tags from an Amazon Directory Services directory.</p>",
      "operationName" : "RemoveTagsFromResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "documentation" : "",
        "simpleType" : "RemoveTagsFromResourceRequest",
        "variableSetterType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RemoveTagsFromResourceResult",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>",
      "authenticated" : true,
      "methodName" : "removeTagsFromResource"
    },
    "RestoreFromSnapshot" : {
      "documentation" : "<p>Restores a directory using an existing directory snapshot.</p> <p>When you restore a directory from a snapshot, any changes made to the directory after the snapshot date are overwritten.</p> <p>This action returns as soon as the restore operation is initiated. You can monitor the progress of the restore operation by calling the <a>DescribeDirectories</a> operation with the directory identifier. When the <b>DirectoryDescription.Stage</b> value changes to <code>Active</code>, the restore operation is complete.</p>",
      "operationName" : "RestoreFromSnapshot",
      "deprecated" : false,
      "input" : {
        "variableName" : "restoreFromSnapshotRequest",
        "variableType" : "RestoreFromSnapshotRequest",
        "variableDeclarationType" : "RestoreFromSnapshotRequest",
        "documentation" : "<p>An object representing the inputs for the <a>RestoreFromSnapshot</a> operation.</p>",
        "simpleType" : "RestoreFromSnapshotRequest",
        "variableSetterType" : "RestoreFromSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RestoreFromSnapshotResult",
        "documentation" : "<p>Contains the results of the <a>RestoreFromSnapshot</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RestoreFromSnapshotResult",
      "asyncReturnType" : "RestoreFromSnapshotResult",
      "asyncFutureType" : "java.util.concurrent.Future<RestoreFromSnapshotResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RestoreFromSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestoreFromSnapshotRequest, RestoreFromSnapshotResult>",
      "authenticated" : true,
      "methodName" : "restoreFromSnapshot"
    },
    "UpdateConditionalForwarder" : {
      "documentation" : "<p>Updates a conditional forwarder that has been set up for your AWS directory.</p>",
      "operationName" : "UpdateConditionalForwarder",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateConditionalForwarderRequest",
        "variableType" : "UpdateConditionalForwarderRequest",
        "variableDeclarationType" : "UpdateConditionalForwarderRequest",
        "documentation" : "<p>Updates a conditional forwarder.</p>",
        "simpleType" : "UpdateConditionalForwarderRequest",
        "variableSetterType" : "UpdateConditionalForwarderRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateConditionalForwarderResult",
        "documentation" : "<p>The result of an UpdateConditionalForwarder request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateConditionalForwarderResult",
      "asyncReturnType" : "UpdateConditionalForwarderResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConditionalForwarderResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConditionalForwarderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConditionalForwarderRequest, UpdateConditionalForwarderResult>",
      "authenticated" : true,
      "methodName" : "updateConditionalForwarder"
    },
    "UpdateRadius" : {
      "documentation" : "<p>Updates the Remote Authentication Dial In User Service (RADIUS) server information for an AD Connector directory.</p>",
      "operationName" : "UpdateRadius",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateRadiusRequest",
        "variableType" : "UpdateRadiusRequest",
        "variableDeclarationType" : "UpdateRadiusRequest",
        "documentation" : "<p>Contains the inputs for the <a>UpdateRadius</a> operation.</p>",
        "simpleType" : "UpdateRadiusRequest",
        "variableSetterType" : "UpdateRadiusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateRadiusResult",
        "documentation" : "<p>Contains the results of the <a>UpdateRadius</a> operation.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "UpdateRadiusResult",
      "asyncReturnType" : "UpdateRadiusResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRadiusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRadiusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRadiusRequest, UpdateRadiusResult>",
      "authenticated" : true,
      "methodName" : "updateRadius"
    },
    "VerifyTrust" : {
      "documentation" : "<p>AWS Directory Service for Microsoft Active Directory allows you to configure and verify trust relationships.</p> <p>This action verifies a trust relationship between your Microsoft AD in the AWS cloud and an external domain.</p>",
      "operationName" : "VerifyTrust",
      "deprecated" : false,
      "input" : {
        "variableName" : "verifyTrustRequest",
        "variableType" : "VerifyTrustRequest",
        "variableDeclarationType" : "VerifyTrustRequest",
        "documentation" : "<p>Initiates the verification of an existing trust relationship between a Microsoft AD in the AWS cloud and an external domain.</p>",
        "simpleType" : "VerifyTrustRequest",
        "variableSetterType" : "VerifyTrustRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "VerifyTrustResult",
        "documentation" : "<p>Result of a VerifyTrust request.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>"
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>"
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>"
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "VerifyTrustResult",
      "asyncReturnType" : "VerifyTrustResult",
      "asyncFutureType" : "java.util.concurrent.Future<VerifyTrustResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<VerifyTrustResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<VerifyTrustRequest, VerifyTrustResult>",
      "authenticated" : true,
      "methodName" : "verifyTrust"
    }
  },
  "shapes" : {
    "DeleteDirectoryRequest" : {
      "c2jName" : "DeleteDirectoryRequest",
      "documentation" : "<p>Contains the inputs for the <a>DeleteDirectory</a> operation.</p>",
      "shapeName" : "DeleteDirectoryRequest",
      "deprecated" : false,
      "required" : [ "DirectoryId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The identifier of the directory to delete.</p>",
        "name" : "DirectoryId",
        "c2jName" : "DirectoryId",
        "c2jShape" : "DirectoryId",
        "variable" : {
          "variableName" : "directoryId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The identifier of the directory to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "directoryId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DirectoryId",
          "marshallLocationName" : "DirectoryId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The identifier of the directory to delete.</p>\n@param directoryId The identifier of the directory to delete.*/",
        "getterDocumentation" : "/**<p>The identifier of the directory to delete.</p>\n@return The identifier of the directory to delete.*/",
        "fluentSetterDocumentation" : "/**<p>The identifier of the directory to delete.</p>\n@param directoryId The identifier of the directory to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The identifier of the directory to delete.</p>\n@param directoryId The identifier of the directory to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "deleteDirectoryRequest",
        "variableType" : "DeleteDirectoryRequest",
        "variableDeclarationType" : "DeleteDirectoryRequest",
        "documentation" : null,
        "simpleType" : "DeleteDirectoryRequest",
        "variableSetterType" : "DeleteDirectoryRequest"
      },
      "marshaller" : {
        "action" : "DeleteDirectory",
        "verb" : "POST",
        "target" : "DirectoryService_20150416.DeleteDirectory",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "DirectoryId" : {
          "documentation" : "<p>The identifier of the directory to delete.</p>",
          "name" : "DirectoryId",
          "c2jName" : "DirectoryId",
          "c2jShape" : "DirectoryId",
          "variable" : {
            "variableName" : "directoryId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>The identifier of the directory to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "directoryId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DirectoryId",
            "marshallLocationName" : "DirectoryId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The identifier of the directory to delete.</p>\n@param directoryId The identifier of the directory to delete.*/",
          "getterDocumentation" : "/**<p>The identifier of the directory to delete.</p>\n@return The identifier of the directory to delete.*/",
          "fluentSetterDocumentation" : "/**<p>The identifier of the directory to delete.</p>\n@param directoryId The identifier of the directory to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The identifier of the directory to delete.</p>\n@param directoryId The identifier of the directory to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DirectoryUnavailableException" : {
      "c2jName" : "DirectoryUnavailableException",
      "documentation" : "<p>The specified directory is unavailable or could not be found.</p>",
      "shapeName" : "DirectoryUnavailableException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "RequestId",
        "c2jName" : "RequestId",
        "c2jShape" : "RequestId",
        "variable" : {
          "variableName" : "requestId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "requestId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RequestId",
          "marshallLocationName" : "RequestId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param requestId */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param requestId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param requestId \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "directoryUnavailableException",
        "variableType" : "DirectoryUnavailableException",
        "variableDeclarationType" : "DirectoryUnavailableException",
        "documentation" : null,
        "simpleType" : "DirectoryUnavailableException",
        "variableSetterType" : "DirectoryUnavailableException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "DirectoryUnavailableException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "RequestId" : {
          "documentation" : "",
          "name" : "RequestId",
          "c2jName" : "RequestId",
          "c2jShape" : "RequestId",
          "variable" : {
            "variableName" : "requestId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "requestId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "RequestId",
            "marshallLocationName" : "RequestId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param requestId */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param requestId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param requestId \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DirectoryType" : {
      "c2jName" : "DirectoryType",
      "documentation" : "",
      "shapeName" : "DirectoryType",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : [ {
        "name" : "SimpleAD",
        "value" : "SimpleAD"
      }, {
        "name" : "ADConnector",
        "value" : "ADConnector"
      }, {
        "name" : "MicrosoftAD",
        "value" : "MicrosoftAD"
      } ],
      "variable" : {
        "variableName" : "directoryType",
        "variableType" : "DirectoryType",
        "variableDeclarationType" : "DirectoryType",
        "documentation" : null,
        "simpleType" : "DirectoryType",
        "variableSetterType" : "DirectoryType"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "InvalidParameterException" : {
      "c2jName" : "InvalidParameterException",
      "documentation" : "<p>One or more parameters are not valid.</p>",
      "shapeName" : "InvalidParameterException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "RequestId",
        "c2jName" : "RequestId",
        "c2jShape" : "RequestId",
        "variable" : {
          "variableName" : "requestId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "requestId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RequestId",
          "marshallLocationName" : "RequestId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param requestId */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param requestId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param requestId \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "invalidParameterException",
        "variableType" : "InvalidParameterException",
        "variableDeclarationType" : "InvalidParameterException",
        "documentation" : null,
        "simpleType" : "InvalidParameterException",
        "variableSetterType" : "InvalidParameterException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidParameterException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "RequestId" : {
          "documentation" : "",
          "name" : "RequestId",
          "c2jName" : "RequestId",
          "c2jShape" : "RequestId",
          "variable" : {
            "variableName" : "requestId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "requestId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "RequestId",
            "marshallLocationName" : "RequestId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param requestId */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param requestId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param requestId \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DirectoryLimits" : {
      "c2jName" : "DirectoryLimits",
      "documentation" : "<p>Contains directory limit information for a region.</p>",
      "shapeName" : "DirectoryLimits",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The maximum number of cloud directories allowed in the region.</p>",
        "name" : "CloudOnlyDirectoriesLimit",
        "c2jName" : "CloudOnlyDirectoriesLimit",
        "c2jShape" : "Limit",
        "variable" : {
          "variableName" : "cloudOnlyDirectoriesLimit",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The maximum number of cloud directories allowed in the region.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "cloudOnlyDirectoriesLimit",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CloudOnlyDirectoriesLimit",
          "marshallLocationName" : "CloudOnlyDirectoriesLimit",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The maximum number of cloud directories allowed in the region.</p>\n@param cloudOnlyDirectoriesLimit The maximum number of cloud directories allowed in the region.*/",
        "getterDocumentation" : "/**<p>The maximum number of cloud directories allowed in the region.</p>\n@return The maximum number of cloud directories allowed in the region.*/",
        "fluentSetterDocumentation" : "/**<p>The maximum number of cloud directories allowed in the region.</p>\n@param cloudOnlyDirectoriesLimit The maximum number of cloud directories allowed in the region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The maximum number of cloud directories allowed in the region.</p>\n@param cloudOnlyDirectoriesLimit The maximum number of cloud directories allowed in the region.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The current number of cloud directories in the region.</p>",
        "name" : "CloudOnlyDirectoriesCurrentCount",
        "c2jName" : "CloudOnlyDirectoriesCurrentCount",
        "c2jShape" : "Limit",
        "variable" : {
          "variableName" : "cloudOnlyDirectoriesCurrentCount",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The current number of cloud directories in the region.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "cloudOnlyDirectoriesCurrentCount",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CloudOnlyDirectoriesCurrentCount",
          "marshallLocationName" : "CloudOnlyDirectoriesCurrentCount",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The current number of cloud directories in the region.</p>\n@param cloudOnlyDirectoriesCurrentCount The current number of cloud directories in the region.*/",
        "getterDocumentation" : "/**<p>The current number of cloud directories in the region.</p>\n@return The current number of cloud directories in the region.*/",
[...]
