{
  "metadata" : {
    "apiVersion" : "2013-11-01",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS CloudTrail</fullname> <p>This is the CloudTrail API Reference. It provides descriptions of actions, data types, common parameters, and common errors for CloudTrail.</p> <p>CloudTrail is a web service that records AWS API calls for your AWS account and delivers log files to an Amazon S3 bucket. The recorded information includes the identity of the user, the start time of the AWS API call, the source IP address, the request parameters, and the response elements returned by the service.</p> <note> <p>As an alternative to the API, you can use one of the AWS SDKs, which consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWSCloudTrail. For example, the SDKs take care of cryptographically signing requests, managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services page</a>.</p> </note> <p>See the CloudTrail User Guide for information about the data that is included with each AWS API call listed in the log files.</p>",
    "defaultEndpoint" : "cloudtrail.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cloudtrail.us-east-1.amazonaws.com",
    "syncInterface" : "AWSCloudTrail",
    "syncClient" : "AWSCloudTrailClient",
    "asyncInterface" : "AWSCloudTrailAsync",
    "asyncClient" : "AWSCloudTrailAsyncClient",
    "packageName" : "com.amazonaws.services.cloudtrail",
    "packagePath" : "com/amazonaws/services/cloudtrail",
    "serviceAbbreviation" : "CloudTrail",
    "serviceFullName" : "AWS CloudTrail",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "cloudtrail",
    "signingName" : "cloudtrail",
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "jsonProtocol" : true,
    "syncClientBuilderClassName" : "AWSCloudTrailClientBuilder",
    "asyncClientBuilderClassName" : "AWSCloudTrailAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSCloudTrailModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudtrail.smoketests",
    "serviceName" : "CloudTrail",
    "cborProtocol" : false,
    "protocolDefaultExceptionUmarshallerImpl" : null
  },
  "operations" : {
    "AddTags" : {
      "documentation" : "<p>Adds one or more tags to a trail, up to a limit of 10. Tags must be unique per trail. Overwrites an existing tag's value when a new value is specified for an existing tag key. If you specify a key without a value, the tag will be created with the specified key and a value of null. You can tag a trail that applies to all regions only from the region in which the trail was created (that is, from its home region).</p>",
      "operationName" : "AddTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "variableDeclarationType" : "AddTagsRequest",
        "documentation" : "<p>Specifies the tags to add to a trail.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the specified resource is not found.</p>"
      }, {
        "exceptionName" : "CloudTrailARNInvalidException",
        "documentation" : "<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>"
      }, {
        "exceptionName" : "ResourceTypeNotSupportedException",
        "documentation" : "<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>"
      }, {
        "exceptionName" : "TagsLimitExceededException",
        "documentation" : "<p>The number of tags per trail has exceeded the permitted amount. Currently, the limit is 10.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>This exception is thrown when the key or value specified for the tag does not match the regular expression <code>^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-@]*)$</code>.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddTagsResult",
      "asyncReturnType" : "AddTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "methodName" : "addTags"
    },
    "CreateTrail" : {
      "documentation" : "<p>Creates a trail that specifies the settings for delivery of log data to an Amazon S3 bucket. A maximum of five trails can exist in a region, irrespective of the region in which they were created.</p>",
      "operationName" : "CreateTrail",
      "deprecated" : false,
      "input" : {
        "variableName" : "createTrailRequest",
        "variableType" : "CreateTrailRequest",
        "variableDeclarationType" : "CreateTrailRequest",
        "documentation" : "<p>Specifies the settings for each trail.</p>",
        "simpleType" : "CreateTrailRequest",
        "variableSetterType" : "CreateTrailRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateTrailResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "MaximumNumberOfTrailsExceededException",
        "documentation" : "<p>This exception is thrown when the maximum number of trails is reached.</p>"
      }, {
        "exceptionName" : "TrailAlreadyExistsException",
        "documentation" : "<p>This exception is thrown when the specified trail already exists.</p>"
      }, {
        "exceptionName" : "S3BucketDoesNotExistException",
        "documentation" : "<p>This exception is thrown when the specified S3 bucket does not exist.</p>"
      }, {
        "exceptionName" : "InsufficientS3BucketPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the S3 bucket is not sufficient.</p>"
      }, {
        "exceptionName" : "InsufficientSnsTopicPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the SNS topic is not sufficient.</p>"
      }, {
        "exceptionName" : "InsufficientEncryptionPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the S3 bucket or KMS key is not sufficient.</p>"
      }, {
        "exceptionName" : "InvalidS3BucketNameException",
        "documentation" : "<p>This exception is thrown when the provided S3 bucket name is not valid.</p>"
      }, {
        "exceptionName" : "InvalidS3PrefixException",
        "documentation" : "<p>This exception is thrown when the provided S3 prefix is not valid.</p>"
      }, {
        "exceptionName" : "InvalidSnsTopicNameException",
        "documentation" : "<p>This exception is thrown when the provided SNS topic name is not valid.</p>"
      }, {
        "exceptionName" : "InvalidKmsKeyIdException",
        "documentation" : "<p>This exception is thrown when the KMS key ARN is invalid.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "TrailNotProvidedException",
        "documentation" : "<p>This exception is deprecated.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>This exception is thrown when the combination of parameters provided is not valid.</p>"
      }, {
        "exceptionName" : "KmsKeyNotFoundException",
        "documentation" : "<p>This exception is thrown when the KMS key does not exist, or when the S3 bucket and the KMS key are not in the same region.</p>"
      }, {
        "exceptionName" : "KmsKeyDisabledException",
        "documentation" : "<p>This exception is deprecated.</p>"
      }, {
        "exceptionName" : "KmsException",
        "documentation" : "<p>This exception is thrown when there is an issue with the specified KMS key and the trail can’t be updated.</p>"
      }, {
        "exceptionName" : "InvalidCloudWatchLogsLogGroupArnException",
        "documentation" : "<p>This exception is thrown when the provided CloudWatch log group is not valid.</p>"
      }, {
        "exceptionName" : "InvalidCloudWatchLogsRoleArnException",
        "documentation" : "<p>This exception is thrown when the provided role is not valid.</p>"
      }, {
        "exceptionName" : "CloudWatchLogsDeliveryUnavailableException",
        "documentation" : "<p>Cannot set a CloudWatch Logs delivery for this region.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateTrailResult",
      "asyncReturnType" : "CreateTrailResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrailResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrailRequest, CreateTrailResult>",
      "methodName" : "createTrail"
    },
    "DeleteTrail" : {
      "documentation" : "<p>Deletes a trail. This operation must be called from the region in which the trail was created. <code>DeleteTrail</code> cannot be called on the shadow trails (replicated trails in other regions) of a trail that is enabled in all regions.</p>",
      "operationName" : "DeleteTrail",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteTrailRequest",
        "variableType" : "DeleteTrailRequest",
        "variableDeclarationType" : "DeleteTrailRequest",
        "documentation" : "<p>The request that specifies the name of a trail to delete.</p>",
        "simpleType" : "DeleteTrailRequest",
        "variableSetterType" : "DeleteTrailRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteTrailResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidHomeRegionException",
        "documentation" : "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteTrailResult",
      "asyncReturnType" : "DeleteTrailResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrailResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrailRequest, DeleteTrailResult>",
      "methodName" : "deleteTrail"
    },
    "DescribeTrails" : {
      "documentation" : "<p>Retrieves settings for the trail associated with the current region for your account.</p>",
      "operationName" : "DescribeTrails",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTrailsRequest",
        "variableType" : "DescribeTrailsRequest",
        "variableDeclarationType" : "DescribeTrailsRequest",
        "documentation" : "<p>Returns information about the trail.</p>",
        "simpleType" : "DescribeTrailsRequest",
        "variableSetterType" : "DescribeTrailsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTrailsResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTrailsResult",
      "asyncReturnType" : "DescribeTrailsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrailsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrailsRequest, DescribeTrailsResult>",
      "methodName" : "describeTrails"
    },
    "GetTrailStatus" : {
      "documentation" : "<p>Returns a JSON-formatted list of information about the specified trail. Fields include information on delivery errors, Amazon SNS and Amazon S3 errors, and start and stop logging times for each trail. This operation returns trail status from a single region. To return trail status from all regions, you must call the operation on each region.</p>",
      "operationName" : "GetTrailStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "getTrailStatusRequest",
        "variableType" : "GetTrailStatusRequest",
        "variableDeclarationType" : "GetTrailStatusRequest",
        "documentation" : "<p>The name of a trail about which you want the current status.</p>",
        "simpleType" : "GetTrailStatusRequest",
        "variableSetterType" : "GetTrailStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetTrailStatusResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "GetTrailStatusResult",
      "asyncReturnType" : "GetTrailStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetTrailStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetTrailStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTrailStatusRequest, GetTrailStatusResult>",
      "methodName" : "getTrailStatus"
    },
    "ListPublicKeys" : {
      "documentation" : "<p>Returns all public keys whose private keys were used to sign the digest files within the specified time range. The public key is needed to validate digest files that were signed with its corresponding private key.</p> <note> <p>CloudTrail uses different private/public key pairs per region. Each digest file is signed with a private key unique to its region. Therefore, when you validate a digest file from a particular region, you must look in the same region for its corresponding public key.</p> </note>",
      "operationName" : "ListPublicKeys",
      "deprecated" : false,
      "input" : {
        "variableName" : "listPublicKeysRequest",
        "variableType" : "ListPublicKeysRequest",
        "variableDeclarationType" : "ListPublicKeysRequest",
        "documentation" : "<p>Requests the public keys for a specified time range.</p>",
        "simpleType" : "ListPublicKeysRequest",
        "variableSetterType" : "ListPublicKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListPublicKeysResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidTimeRangeException",
        "documentation" : "<p>Occurs if the timestamp values are invalid. Either the start time occurs after the end time or the time range is outside the range of possible values.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>Reserved for future use.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListPublicKeysResult",
      "asyncReturnType" : "ListPublicKeysResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListPublicKeysResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListPublicKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPublicKeysRequest, ListPublicKeysResult>",
      "methodName" : "listPublicKeys"
    },
    "ListTags" : {
      "documentation" : "<p>Lists the tags for the trail in the current region.</p>",
      "operationName" : "ListTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "variableDeclarationType" : "ListTagsRequest",
        "documentation" : "<p>Specifies a list of trail tags to return.</p>",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the specified resource is not found.</p>"
      }, {
        "exceptionName" : "CloudTrailARNInvalidException",
        "documentation" : "<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>"
      }, {
        "exceptionName" : "ResourceTypeNotSupportedException",
        "documentation" : "<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>Reserved for future use.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListTagsResult",
      "asyncReturnType" : "ListTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "methodName" : "listTags"
    },
    "LookupEvents" : {
      "documentation" : "<p>Looks up API activity events captured by CloudTrail that create, update, or delete resources in your account. Events for a region can be looked up for the times in which you had CloudTrail turned on in that region during the last seven days. Lookup supports five different attributes: time range (defined by a start time and end time), user name, event name, resource type, and resource name. All attributes are optional. The maximum number of attributes that can be specified in any one lookup request are time range and one other attribute. The default number of results returned is 10, with a maximum of 50 possible. The response includes a token that you can use to get the next page of results.</p> <important> <p>The rate of lookup requests is limited to one per second per account. If this limit is exceeded, a throttling error occurs.</p> </important> <important> <p>Events that occurred during the selected time range will not be available for lookup if CloudTrail logging was not enabled when the events occurred.</p> </important>",
      "operationName" : "LookupEvents",
      "deprecated" : false,
      "input" : {
        "variableName" : "lookupEventsRequest",
        "variableType" : "LookupEventsRequest",
        "variableDeclarationType" : "LookupEventsRequest",
        "documentation" : "<p>Contains a request for LookupEvents.</p>",
        "simpleType" : "LookupEventsRequest",
        "variableSetterType" : "LookupEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "LookupEventsResult",
        "documentation" : "<p>Contains a response to a LookupEvents action.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidLookupAttributesException",
        "documentation" : "<p>Occurs when an invalid lookup attribute is specified.</p>"
      }, {
        "exceptionName" : "InvalidTimeRangeException",
        "documentation" : "<p>Occurs if the timestamp values are invalid. Either the start time occurs after the end time or the time range is outside the range of possible values.</p>"
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>This exception is thrown if the limit specified is invalid.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>Invalid token or token that was previously used in a request with different parameters. This exception is thrown if the token is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "LookupEventsResult",
      "asyncReturnType" : "LookupEventsResult",
      "asyncFutureType" : "java.util.concurrent.Future<LookupEventsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<LookupEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<LookupEventsRequest, LookupEventsResult>",
      "methodName" : "lookupEvents"
    },
    "RemoveTags" : {
      "documentation" : "<p>Removes the specified tags from a trail.</p>",
      "operationName" : "RemoveTags",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "variableDeclarationType" : "RemoveTagsRequest",
        "documentation" : "<p>Specifies the tags to remove from a trail.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the specified resource is not found.</p>"
      }, {
        "exceptionName" : "CloudTrailARNInvalidException",
        "documentation" : "<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>"
      }, {
        "exceptionName" : "ResourceTypeNotSupportedException",
        "documentation" : "<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>This exception is thrown when the key or value specified for the tag does not match the regular expression <code>^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-@]*)$</code>.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RemoveTagsResult",
      "asyncReturnType" : "RemoveTagsResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "methodName" : "removeTags"
    },
    "StartLogging" : {
      "documentation" : "<p>Starts the recording of AWS API calls and log file delivery for a trail. For a trail that is enabled in all regions, this operation must be called from the region in which the trail was created. This operation cannot be called on the shadow trails (replicated trails in other regions) of a trail that is enabled in all regions.</p>",
      "operationName" : "StartLogging",
      "deprecated" : false,
      "input" : {
        "variableName" : "startLoggingRequest",
        "variableType" : "StartLoggingRequest",
        "variableDeclarationType" : "StartLoggingRequest",
        "documentation" : "<p>The request to CloudTrail to start logging AWS API calls for an account.</p>",
        "simpleType" : "StartLoggingRequest",
        "variableSetterType" : "StartLoggingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StartLoggingResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidHomeRegionException",
        "documentation" : "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StartLoggingResult",
      "asyncReturnType" : "StartLoggingResult",
      "asyncFutureType" : "java.util.concurrent.Future<StartLoggingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StartLoggingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartLoggingRequest, StartLoggingResult>",
      "methodName" : "startLogging"
    },
    "StopLogging" : {
      "documentation" : "<p>Suspends the recording of AWS API calls and log file delivery for the specified trail. Under most circumstances, there is no need to use this action. You can update a trail without stopping it first. This action is the only way to stop recording. For a trail enabled in all regions, this operation must be called from the region in which the trail was created, or an <code>InvalidHomeRegionException</code> will occur. This operation cannot be called on the shadow trails (replicated trails in other regions) of a trail enabled in all regions.</p>",
      "operationName" : "StopLogging",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopLoggingRequest",
        "variableType" : "StopLoggingRequest",
        "variableDeclarationType" : "StopLoggingRequest",
        "documentation" : "<p>Passes the request to CloudTrail to stop logging AWS API calls for the specified account.</p>",
        "simpleType" : "StopLoggingRequest",
        "variableSetterType" : "StopLoggingRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopLoggingResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidHomeRegionException",
        "documentation" : "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StopLoggingResult",
      "asyncReturnType" : "StopLoggingResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopLoggingResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopLoggingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopLoggingRequest, StopLoggingResult>",
      "methodName" : "stopLogging"
    },
    "UpdateTrail" : {
      "documentation" : "<p>Updates the settings that specify delivery of log files. Changes to a trail do not require stopping the CloudTrail service. Use this action to designate an existing bucket for log delivery. If the existing bucket has previously been a target for CloudTrail log files, an IAM policy exists for the bucket. <code>UpdateTrail</code> must be called from the region in which the trail was created; otherwise, an <code>InvalidHomeRegionException</code> is thrown.</p>",
      "operationName" : "UpdateTrail",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateTrailRequest",
        "variableType" : "UpdateTrailRequest",
        "variableDeclarationType" : "UpdateTrailRequest",
        "documentation" : "<p>Specifies settings to update for the trail.</p>",
        "simpleType" : "UpdateTrailRequest",
        "variableSetterType" : "UpdateTrailRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateTrailResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "S3BucketDoesNotExistException",
        "documentation" : "<p>This exception is thrown when the specified S3 bucket does not exist.</p>"
      }, {
        "exceptionName" : "InsufficientS3BucketPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the S3 bucket is not sufficient.</p>"
      }, {
        "exceptionName" : "InsufficientSnsTopicPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the SNS topic is not sufficient.</p>"
      }, {
        "exceptionName" : "InsufficientEncryptionPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the S3 bucket or KMS key is not sufficient.</p>"
      }, {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidS3BucketNameException",
        "documentation" : "<p>This exception is thrown when the provided S3 bucket name is not valid.</p>"
      }, {
        "exceptionName" : "InvalidS3PrefixException",
        "documentation" : "<p>This exception is thrown when the provided S3 prefix is not valid.</p>"
      }, {
        "exceptionName" : "InvalidSnsTopicNameException",
        "documentation" : "<p>This exception is thrown when the provided SNS topic name is not valid.</p>"
      }, {
        "exceptionName" : "InvalidKmsKeyIdException",
        "documentation" : "<p>This exception is thrown when the KMS key ARN is invalid.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "TrailNotProvidedException",
        "documentation" : "<p>This exception is deprecated.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>This exception is thrown when the combination of parameters provided is not valid.</p>"
      }, {
        "exceptionName" : "InvalidHomeRegionException",
        "documentation" : "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>"
      }, {
        "exceptionName" : "KmsKeyNotFoundException",
        "documentation" : "<p>This exception is thrown when the KMS key does not exist, or when the S3 bucket and the KMS key are not in the same region.</p>"
      }, {
        "exceptionName" : "KmsKeyDisabledException",
        "documentation" : "<p>This exception is deprecated.</p>"
      }, {
        "exceptionName" : "KmsException",
        "documentation" : "<p>This exception is thrown when there is an issue with the specified KMS key and the trail can’t be updated.</p>"
      }, {
        "exceptionName" : "InvalidCloudWatchLogsLogGroupArnException",
        "documentation" : "<p>This exception is thrown when the provided CloudWatch log group is not valid.</p>"
      }, {
        "exceptionName" : "InvalidCloudWatchLogsRoleArnException",
        "documentation" : "<p>This exception is thrown when the provided role is not valid.</p>"
      }, {
        "exceptionName" : "CloudWatchLogsDeliveryUnavailableException",
        "documentation" : "<p>Cannot set a CloudWatch Logs delivery for this region.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "UpdateTrailResult",
      "asyncReturnType" : "UpdateTrailResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTrailResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTrailRequest, UpdateTrailResult>",
      "methodName" : "updateTrail"
    }
  },
  "shapes" : {
    "ListPublicKeysResult" : {
      "c2jName" : "ListPublicKeysResponse",
      "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "shapeName" : "ListPublicKeysResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>",
        "name" : "PublicKeyList",
        "c2jName" : "PublicKeyList",
        "c2jShape" : "PublicKeyList",
        "variable" : {
          "variableName" : "publicKeyList",
          "variableType" : "java.util.List<PublicKey>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<PublicKey>",
          "documentation" : "<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>",
          "simpleType" : "List<PublicKey>",
          "variableSetterType" : "java.util.Collection<PublicKey>"
        },
        "setterModel" : {
          "variableName" : "publicKeyList",
          "variableType" : "java.util.List<PublicKey>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<PublicKey>",
          "documentation" : "",
          "simpleType" : "List<PublicKey>",
          "variableSetterType" : "java.util.Collection<PublicKey>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<PublicKey>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "PublicKeyList",
          "marshallLocationName" : "PublicKeyList",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "PublicKey",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "PublicKey",
            "variable" : {
              "variableName" : "member",
              "variableType" : "PublicKey",
              "variableDeclarationType" : "PublicKey",
              "documentation" : "",
              "simpleType" : "PublicKey",
              "variableSetterType" : "PublicKey"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "PublicKey",
              "variableDeclarationType" : "PublicKey",
              "documentation" : "",
              "simpleType" : "PublicKey",
              "variableSetterType" : "PublicKey"
            },
            "getterModel" : {
              "returnType" : "PublicKey",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "PublicKey",
          "templateType" : "java.util.List<PublicKey>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<PublicKey>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>\n@param publicKeyList Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p>*/",
        "getterDocumentation" : "/**<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>\n@return Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p>*/",
        "fluentSetterDocumentation" : "/**<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>\n@param publicKeyList Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPublicKeyList(java.util.Collection)} or {@link #withPublicKeyList(java.util.Collection)} if you want to override the existing values.</p>\n@param publicKeyList Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Reserved for future use.</p>",
        "name" : "NextToken",
        "c2jName" : "NextToken",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Reserved for future use.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "nextToken",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "NextToken",
          "marshallLocationName" : "NextToken",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Reserved for future use.</p>\n@param nextToken Reserved for future use.*/",
        "getterDocumentation" : "/**<p>Reserved for future use.</p>\n@return Reserved for future use.*/",
        "fluentSetterDocumentation" : "/**<p>Reserved for future use.</p>\n@param nextToken Reserved for future use.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Reserved for future use.</p>\n@param nextToken Reserved for future use.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "listPublicKeysResult",
        "variableType" : "ListPublicKeysResult",
        "variableDeclarationType" : "ListPublicKeysResult",
        "documentation" : null,
        "simpleType" : "ListPublicKeysResult",
        "variableSetterType" : "ListPublicKeysResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "NextToken" : {
          "documentation" : "<p>Reserved for future use.</p>",
          "name" : "NextToken",
          "c2jName" : "NextToken",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Reserved for future use.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "nextToken",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "NextToken",
            "marshallLocationName" : "NextToken",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Reserved for future use.</p>\n@param nextToken Reserved for future use.*/",
          "getterDocumentation" : "/**<p>Reserved for future use.</p>\n@return Reserved for future use.*/",
          "fluentSetterDocumentation" : "/**<p>Reserved for future use.</p>\n@param nextToken Reserved for future use.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Reserved for future use.</p>\n@param nextToken Reserved for future use.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "PublicKeyList" : {
          "documentation" : "<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>",
          "name" : "PublicKeyList",
          "c2jName" : "PublicKeyList",
          "c2jShape" : "PublicKeyList",
          "variable" : {
            "variableName" : "publicKeyList",
            "variableType" : "java.util.List<PublicKey>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<PublicKey>",
            "documentation" : "<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>",
            "simpleType" : "List<PublicKey>",
            "variableSetterType" : "java.util.Collection<PublicKey>"
          },
          "setterModel" : {
            "variableName" : "publicKeyList",
            "variableType" : "java.util.List<PublicKey>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<PublicKey>",
            "documentation" : "",
            "simpleType" : "List<PublicKey>",
            "variableSetterType" : "java.util.Collection<PublicKey>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<PublicKey>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "PublicKeyList",
            "marshallLocationName" : "PublicKeyList",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "PublicKey",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "PublicKey",
              "variable" : {
                "variableName" : "member",
                "variableType" : "PublicKey",
                "variableDeclarationType" : "PublicKey",
                "documentation" : "",
                "simpleType" : "PublicKey",
                "variableSetterType" : "PublicKey"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "PublicKey",
                "variableDeclarationType" : "PublicKey",
                "documentation" : "",
                "simpleType" : "PublicKey",
                "variableSetterType" : "PublicKey"
              },
              "getterModel" : {
                "returnType" : "PublicKey",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "PublicKey",
            "templateType" : "java.util.List<PublicKey>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<PublicKey>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>\n@param publicKeyList Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p>*/",
          "getterDocumentation" : "/**<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>\n@return Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p>*/",
          "fluentSetterDocumentation" : "/**<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>\n@param publicKeyList Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPublicKeyList(java.util.Collection)} or {@link #withPublicKeyList(java.util.Collection)} if you want to override the existing values.</p>\n@param publicKeyList Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "InvalidTokenException" : {
      "c2jName" : "InvalidTokenException",
      "documentation" : "<p>Reserved for future use.</p>",
      "shapeName" : "InvalidTokenException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "invalidTokenException",
        "variableType" : "InvalidTokenException",
        "variableDeclarationType" : "InvalidTokenException",
        "documentation" : null,
        "simpleType" : "InvalidTokenException",
        "variableSetterType" : "InvalidTokenException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidTokenException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "CloudTrailARNInvalidException" : {
      "c2jName" : "CloudTrailARNInvalidException",
      "documentation" : "<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
      "shapeName" : "CloudTrailARNInvalidException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "cloudTrailARNInvalidException",
        "variableType" : "CloudTrailARNInvalidException",
        "variableDeclarationType" : "CloudTrailARNInvalidException",
        "documentation" : null,
        "simpleType" : "CloudTrailARNInvalidException",
        "variableSetterType" : "CloudTrailARNInvalidException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "CloudTrailARNInvalidException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "InvalidCloudWatchLogsRoleArnException" : {
      "c2jName" : "InvalidCloudWatchLogsRoleArnException",
      "documentation" : "<p>This exception is thrown when the provided role is not valid.</p>",
      "shapeName" : "InvalidCloudWatchLogsRoleArnException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : null,
      "enums" : null,
      "variable" : {
        "variableName" : "invalidCloudWatchLogsRoleArnException",
        "variableType" : "InvalidCloudWatchLogsRoleArnException",
        "variableDeclarationType" : "InvalidCloudWatchLogsRoleArnException",
        "documentation" : null,
        "simpleType" : "InvalidCloudWatchLogsRoleArnException",
        "variableSetterType" : "InvalidCloudWatchLogsRoleArnException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "InvalidCloudWatchLogsRoleArnException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "DeleteTrailRequest" : {
      "c2jName" : "DeleteTrailRequest",
      "documentation" : "<p>The request that specifies the name of a trail to delete.</p>",
      "shapeName" : "DeleteTrailRequest",
      "deprecated" : false,
      "required" : [ "Name" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
        "name" : "Name",
        "c2jName" : "Name",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "name",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Name",
          "marshallLocationName" : "Name",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param name Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
        "getterDocumentation" : "/**<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@return Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
        "fluentSetterDocumentation" : "/**<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param name Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param name Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "deleteTrailRequest",
        "variableType" : "DeleteTrailRequest",
        "variableDeclarationType" : "DeleteTrailRequest",
        "documentation" : null,
        "simpleType" : "DeleteTrailRequest",
        "variableSetterType" : "DeleteTrailRequest"
      },
      "marshaller" : {
        "action" : "DeleteTrail",
        "verb" : "POST",
        "target" : "com.amazonaws.cloudtrail.v20131101.CloudTrail_20131101.DeleteTrail",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Name" : {
          "documentation" : "<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
          "name" : "Name",
          "c2jName" : "Name",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "name",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Name",
            "marshallLocationName" : "Name",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param name Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
          "getterDocumentation" : "/**<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@return Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
          "fluentSetterDocumentation" : "/**<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param name Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param name Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "AddTagsRequest" : {
      "c2jName" : "AddTagsRequest",
      "documentation" : "<p>Specifies the tags to add to a trail.</p>",
      "shapeName" : "AddTagsRequest",
      "deprecated" : false,
      "required" : [ "ResourceId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
        "name" : "ResourceId",
        "c2jName" : "ResourceId",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "resourceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "resourceId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ResourceId",
          "marshallLocationName" : "ResourceId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
        "getterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@return Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
        "fluentSetterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>",
        "name" : "TagsList",
        "c2jName" : "TagsList",
        "c2jShape" : "TagsList",
        "variable" : {
          "variableName" : "tagsList",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "documentation" : "<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "setterModel" : {
          "variableName" : "tagsList",
          "variableType" : "java.util.List<Tag>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TagsList",
          "marshallLocationName" : "TagsList",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "Tag",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "variable" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "Tag",
              "variableDeclarationType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "map" : false,
          "simpleType" : "Tag",
          "templateType" : "java.util.List<Tag>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 10.*/",
        "getterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>\n@return Contains a list of CloudTrail tags, up to a limit of 10.*/",
        "fluentSetterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 10.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagsList(java.util.Collection)} or {@link #withTagsList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 10.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "variableDeclarationType" : "AddTagsRequest",
        "documentation" : null,
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "marshaller" : {
        "action" : "AddTags",
        "verb" : "POST",
        "target" : "com.amazonaws.cloudtrail.v20131101.CloudTrail_20131101.AddTags",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ResourceId" : {
          "documentation" : "<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
          "name" : "ResourceId",
          "c2jName" : "ResourceId",
          "c2jShape" : "String",
          "variable" : {
            "variableName" : "resourceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "resourceId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ResourceId",
            "marshallLocationName" : "ResourceId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
          "getterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@return Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
          "fluentSetterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "TagsList" : {
          "documentation" : "<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>",
          "name" : "TagsList",
          "c2jName" : "TagsList",
          "c2jShape" : "TagsList",
          "variable" : {
            "variableName" : "tagsList",
            "variableType" : "java.util.List<Tag>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "documentation" : "<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "setterModel" : {
            "variableName" : "tagsList",
            "variableType" : "java.util.List<Tag>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TagsList",
            "marshallLocationName" : "TagsList",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "Tag",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "variable" : {
                "variableName" : "member",
                "variableType" : "Tag",
                "variableDeclarationType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "Tag",
                "variableDeclarationType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "map" : false,
            "simpleType" : "Tag",
            "templateType" : "java.util.List<Tag>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>"
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 10.*/",
          "getterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>\n@return Contains a list of CloudTrail tags, up to a limit of 10.*/",
          "fluentSetterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 10.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagsList(java.util.Collection)} or {@link #withTagsList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 10.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ListTagsRequest" : {
      "c2jName" : "ListTagsRequest",
      "documentation" : "<p>Specifies a list of trail tags to return.</p>",
      "shapeName" : "ListTagsRequest",
      "deprecated" : false,
      "required" : [ "ResourceIdList" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>Specifies a list of trail ARNs whose tags will be listed. The list has a limit of 20 ARNs. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
        "name" : "ResourceIdList",
        "c2jName" : "ResourceIdList",
        "c2jShape" : "ResourceIdList",
        "variable" : {
          "variableName" : "resourceIdList",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "<p>Specifies a list of trail ARNs whose tags will be listed. The list has a limit of 20 ARNs. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "setterModel" : {
          "variableName" : "resourceIdList",
          "variableType" : "java.util.List<String>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ResourceIdList",
          "marshallLocationName" : "ResourceIdList",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "String",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "String",
            "variable" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "String",
              "variableDeclarationType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : true,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "map" : false,
          "simpleType" : "String",
          "templateType" : "java.util.List<String>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<String>"
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>Specifies a list of trail ARNs whose tags will be listed. The list has a limit of 20 ARNs. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceIdList Specifies a list of trail ARNs whose tags will be listed. The list has a limit of 20 ARNs. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
[...]
