{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeTrails" : {
        "methodForms" : [ [ ] ]
      },
      "ListPublicKeys" : {
        "methodForms" : [ [ ] ]
      },
      "LookupEvents" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2013-11-01",
    "asyncClient" : "AWSCloudTrailAsyncClient",
    "asyncClientBuilderClassName" : "AWSCloudTrailAsyncClientBuilder",
    "asyncInterface" : "AWSCloudTrailAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCloudTrailModuleInjector",
    "defaultEndpoint" : "cloudtrail.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cloudtrail.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS CloudTrail</fullname> <p>This is the CloudTrail API Reference. It provides descriptions of actions, data types, common parameters, and common errors for CloudTrail.</p> <p>CloudTrail is a web service that records AWS API calls for your AWS account and delivers log files to an Amazon S3 bucket. The recorded information includes the identity of the user, the start time of the AWS API call, the source IP address, the request parameters, and the response elements returned by the service.</p> <note> <p>As an alternative to the API, you can use one of the AWS SDKs, which consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWSCloudTrail. For example, the SDKs take care of cryptographically signing requests, managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services page</a>.</p> </note> <p>See the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-user-guide.html\">AWS CloudTrail User Guide</a> for information about the data that is included with each AWS API call listed in the log files.</p>",
    "endpointPrefix" : "cloudtrail",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cloudtrail",
    "packagePath" : "com/amazonaws/services/cloudtrail",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "CloudTrail",
    "serviceFullName" : "AWS CloudTrail",
    "serviceName" : "CloudTrail",
    "signingName" : "cloudtrail",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudtrail.smoketests",
    "syncClient" : "AWSCloudTrailClient",
    "syncClientBuilderClassName" : "AWSCloudTrailClientBuilder",
    "syncInterface" : "AWSCloudTrail",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to a trail, up to a limit of 50. Tags must be unique per trail. Overwrites an existing tag's value when a new value is specified for an existing tag key. If you specify a key without a value, the tag will be created with the specified key and a value of null. You can tag a trail that applies to all regions only from the region in which the trail was created (that is, from its home region).</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the specified resource is not found.</p>"
      }, {
        "exceptionName" : "CloudTrailARNInvalidException",
        "documentation" : "<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>"
      }, {
        "exceptionName" : "ResourceTypeNotSupportedException",
        "documentation" : "<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>"
      }, {
        "exceptionName" : "TagsLimitExceededException",
        "documentation" : "<p>The number of tags per trail has exceeded the permitted amount. Currently, the limit is 50.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>This exception is thrown when the key or value specified for the tag does not match the regular expression <code>^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-@]*)$</code>.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "<p>Specifies the tags to add to a trail.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "AddTagsResult"
    },
    "CreateTrail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrailRequest, CreateTrailResult>",
      "asyncReturnType" : "CreateTrailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a trail that specifies the settings for delivery of log data to an Amazon S3 bucket. A maximum of five trails can exist in a region, irrespective of the region in which they were created.</p>",
      "exceptions" : [ {
        "exceptionName" : "MaximumNumberOfTrailsExceededException",
        "documentation" : "<p>This exception is thrown when the maximum number of trails is reached.</p>"
      }, {
        "exceptionName" : "TrailAlreadyExistsException",
        "documentation" : "<p>This exception is thrown when the specified trail already exists.</p>"
      }, {
        "exceptionName" : "S3BucketDoesNotExistException",
        "documentation" : "<p>This exception is thrown when the specified S3 bucket does not exist.</p>"
      }, {
        "exceptionName" : "InsufficientS3BucketPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the S3 bucket is not sufficient.</p>"
      }, {
        "exceptionName" : "InsufficientSnsTopicPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the SNS topic is not sufficient.</p>"
      }, {
        "exceptionName" : "InsufficientEncryptionPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the S3 bucket or KMS key is not sufficient.</p>"
      }, {
        "exceptionName" : "InvalidS3BucketNameException",
        "documentation" : "<p>This exception is thrown when the provided S3 bucket name is not valid.</p>"
      }, {
        "exceptionName" : "InvalidS3PrefixException",
        "documentation" : "<p>This exception is thrown when the provided S3 prefix is not valid.</p>"
      }, {
        "exceptionName" : "InvalidSnsTopicNameException",
        "documentation" : "<p>This exception is thrown when the provided SNS topic name is not valid.</p>"
      }, {
        "exceptionName" : "InvalidKmsKeyIdException",
        "documentation" : "<p>This exception is thrown when the KMS key ARN is invalid.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "TrailNotProvidedException",
        "documentation" : "<p>This exception is deprecated.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>This exception is thrown when the combination of parameters provided is not valid.</p>"
      }, {
        "exceptionName" : "KmsKeyNotFoundException",
        "documentation" : "<p>This exception is thrown when the KMS key does not exist, or when the S3 bucket and the KMS key are not in the same region.</p>"
      }, {
        "exceptionName" : "KmsKeyDisabledException",
        "documentation" : "<p>This exception is deprecated.</p>"
      }, {
        "exceptionName" : "KmsException",
        "documentation" : "<p>This exception is thrown when there is an issue with the specified KMS key and the trail can’t be updated.</p>"
      }, {
        "exceptionName" : "InvalidCloudWatchLogsLogGroupArnException",
        "documentation" : "<p>This exception is thrown when the provided CloudWatch log group is not valid.</p>"
      }, {
        "exceptionName" : "InvalidCloudWatchLogsRoleArnException",
        "documentation" : "<p>This exception is thrown when the provided role is not valid.</p>"
      }, {
        "exceptionName" : "CloudWatchLogsDeliveryUnavailableException",
        "documentation" : "<p>Cannot set a CloudWatch Logs delivery for this region.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTrailRequest",
        "variableName" : "createTrailRequest",
        "variableType" : "CreateTrailRequest",
        "documentation" : "<p>Specifies the settings for each trail.</p>",
        "simpleType" : "CreateTrailRequest",
        "variableSetterType" : "CreateTrailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTrail",
      "operationName" : "CreateTrail",
      "returnType" : {
        "returnType" : "CreateTrailResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "CreateTrailResult"
    },
    "DeleteTrail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrailRequest, DeleteTrailResult>",
      "asyncReturnType" : "DeleteTrailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a trail. This operation must be called from the region in which the trail was created. <code>DeleteTrail</code> cannot be called on the shadow trails (replicated trails in other regions) of a trail that is enabled in all regions.</p>",
      "exceptions" : [ {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidHomeRegionException",
        "documentation" : "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTrailRequest",
        "variableName" : "deleteTrailRequest",
        "variableType" : "DeleteTrailRequest",
        "documentation" : "<p>The request that specifies the name of a trail to delete.</p>",
        "simpleType" : "DeleteTrailRequest",
        "variableSetterType" : "DeleteTrailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTrail",
      "operationName" : "DeleteTrail",
      "returnType" : {
        "returnType" : "DeleteTrailResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "DeleteTrailResult"
    },
    "DescribeTrails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrailsRequest, DescribeTrailsResult>",
      "asyncReturnType" : "DescribeTrailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves settings for the trail associated with the current region for your account.</p>",
      "exceptions" : [ {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTrailsRequest",
        "variableName" : "describeTrailsRequest",
        "variableType" : "DescribeTrailsRequest",
        "documentation" : "<p>Returns information about the trail.</p>",
        "simpleType" : "DescribeTrailsRequest",
        "variableSetterType" : "DescribeTrailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrails",
      "operationName" : "DescribeTrails",
      "returnType" : {
        "returnType" : "DescribeTrailsResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "DescribeTrailsResult"
    },
    "GetEventSelectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEventSelectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEventSelectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEventSelectorsRequest, GetEventSelectorsResult>",
      "asyncReturnType" : "GetEventSelectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the settings for the event selectors that you configured for your trail. The information returned for your event selectors includes the following:</p> <ul> <li> <p>The S3 objects that you are logging for data events.</p> </li> <li> <p>If your event selector includes management events.</p> </li> <li> <p>If your event selector includes read-only events, write-only events, or all. </p> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create-event-selectors-for-a-trail.html\">Configuring Event Selectors for Trails</a> in the <i>AWS CloudTrail User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetEventSelectorsRequest",
        "variableName" : "getEventSelectorsRequest",
        "variableType" : "GetEventSelectorsRequest",
        "documentation" : "",
        "simpleType" : "GetEventSelectorsRequest",
        "variableSetterType" : "GetEventSelectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEventSelectors",
      "operationName" : "GetEventSelectors",
      "returnType" : {
        "returnType" : "GetEventSelectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEventSelectorsResult"
    },
    "GetTrailStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTrailStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTrailStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTrailStatusRequest, GetTrailStatusResult>",
      "asyncReturnType" : "GetTrailStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a JSON-formatted list of information about the specified trail. Fields include information on delivery errors, Amazon SNS and Amazon S3 errors, and start and stop logging times for each trail. This operation returns trail status from a single region. To return trail status from all regions, you must call the operation on each region.</p>",
      "exceptions" : [ {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetTrailStatusRequest",
        "variableName" : "getTrailStatusRequest",
        "variableType" : "GetTrailStatusRequest",
        "documentation" : "<p>The name of a trail about which you want the current status.</p>",
        "simpleType" : "GetTrailStatusRequest",
        "variableSetterType" : "GetTrailStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTrailStatus",
      "operationName" : "GetTrailStatus",
      "returnType" : {
        "returnType" : "GetTrailStatusResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "GetTrailStatusResult"
    },
    "ListPublicKeys" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPublicKeysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPublicKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPublicKeysRequest, ListPublicKeysResult>",
      "asyncReturnType" : "ListPublicKeysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all public keys whose private keys were used to sign the digest files within the specified time range. The public key is needed to validate digest files that were signed with its corresponding private key.</p> <note> <p>CloudTrail uses different private/public key pairs per region. Each digest file is signed with a private key unique to its region. Therefore, when you validate a digest file from a particular region, you must look in the same region for its corresponding public key.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "InvalidTimeRangeException",
        "documentation" : "<p>Occurs if the timestamp values are invalid. Either the start time occurs after the end time or the time range is outside the range of possible values.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>Reserved for future use.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListPublicKeysRequest",
        "variableName" : "listPublicKeysRequest",
        "variableType" : "ListPublicKeysRequest",
        "documentation" : "<p>Requests the public keys for a specified time range.</p>",
        "simpleType" : "ListPublicKeysRequest",
        "variableSetterType" : "ListPublicKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPublicKeys",
      "operationName" : "ListPublicKeys",
      "returnType" : {
        "returnType" : "ListPublicKeysResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "ListPublicKeysResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the trail in the current region.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the specified resource is not found.</p>"
      }, {
        "exceptionName" : "CloudTrailARNInvalidException",
        "documentation" : "<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>"
      }, {
        "exceptionName" : "ResourceTypeNotSupportedException",
        "documentation" : "<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>Reserved for future use.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "<p>Specifies a list of trail tags to return.</p>",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "ListTagsResult"
    },
    "LookupEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<LookupEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<LookupEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<LookupEventsRequest, LookupEventsResult>",
      "asyncReturnType" : "LookupEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Looks up API activity events captured by CloudTrail that create, update, or delete resources in your account. Events for a region can be looked up for the times in which you had CloudTrail turned on in that region during the last seven days. Lookup supports the following attributes:</p> <ul> <li> <p>Event ID</p> </li> <li> <p>Event name</p> </li> <li> <p>Resource name</p> </li> <li> <p>Resource type</p> </li> <li> <p>User name</p> </li> </ul> <p>All attributes are optional. The default number of results returned is 10, with a maximum of 50 possible. The response includes a token that you can use to get the next page of results.</p> <important> <p>The rate of lookup requests is limited to one per second per account. If this limit is exceeded, a throttling error occurs.</p> </important> <important> <p>Events that occurred during the selected time range will not be available for lookup if CloudTrail logging was not enabled when the events occurred.</p> </important>",
      "exceptions" : [ {
        "exceptionName" : "InvalidLookupAttributesException",
        "documentation" : "<p>Occurs when an invalid lookup attribute is specified.</p>"
      }, {
        "exceptionName" : "InvalidTimeRangeException",
        "documentation" : "<p>Occurs if the timestamp values are invalid. Either the start time occurs after the end time or the time range is outside the range of possible values.</p>"
      }, {
        "exceptionName" : "InvalidMaxResultsException",
        "documentation" : "<p>This exception is thrown if the limit specified is invalid.</p>"
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>Invalid token or token that was previously used in a request with different parameters. This exception is thrown if the token is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "LookupEventsRequest",
        "variableName" : "lookupEventsRequest",
        "variableType" : "LookupEventsRequest",
        "documentation" : "<p>Contains a request for LookupEvents.</p>",
        "simpleType" : "LookupEventsRequest",
        "variableSetterType" : "LookupEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "lookupEvents",
      "operationName" : "LookupEvents",
      "returnType" : {
        "returnType" : "LookupEventsResult",
        "documentation" : "<p>Contains a response to a LookupEvents action.</p>"
      },
      "syncReturnType" : "LookupEventsResult"
    },
    "PutEventSelectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutEventSelectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutEventSelectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEventSelectorsRequest, PutEventSelectorsResult>",
      "asyncReturnType" : "PutEventSelectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Configures an event selector for your trail. Use event selectors to specify the type of events that you want your trail to log. When an event occurs in your account, CloudTrail evaluates the event selectors in all trails. For each trail, if the event matches any event selector, the trail processes and logs the event. If the event doesn't match any event selector, the trail doesn't log the event. </p> <p>Example</p> <ol> <li> <p>You create an event selector for a trail and specify that you want write-only events.</p> </li> <li> <p>The EC2 <code>GetConsoleOutput</code> and <code>RunInstances</code> API operations occur in your account.</p> </li> <li> <p>CloudTrail evaluates whether the events match your event selectors.</p> </li> <li> <p>The <code>RunInstances</code> is a write-only event and it matches your event selector. The trail logs the event.</p> </li> <li> <p>The <code>GetConsoleOutput</code> is a read-only event but it doesn't match your event selector. The trail doesn't log the event. </p> </li> </ol> <p>The <code>PutEventSelectors</code> operation must be called from the region in which the trail was created; otherwise, an <code>InvalidHomeRegionException</code> is thrown.</p> <p>You can configure up to five event selectors for each trail. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create-event-selectors-for-a-trail.html\">Configuring Event Selectors for Trails</a> in the <i>AWS CloudTrail User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidHomeRegionException",
        "documentation" : "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>"
      }, {
        "exceptionName" : "InvalidEventSelectorsException",
        "documentation" : "<p>This exception is thrown when the <code>PutEventSelectors</code> operation is called with an invalid number of event selectors, data resources, or an invalid value for a parameter:</p> <ul> <li> <p>Specify a valid number of event selectors (1 to 5) for a trail.</p> </li> <li> <p>Specify a valid number of data resources (1 to 50) for an event selector.</p> </li> <li> <p>Specify a valid value for a parameter. For example, specifying the <code>ReadWriteType</code> parameter with a value of <code>read-only</code> is invalid.</p> </li> </ul>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutEventSelectorsRequest",
        "variableName" : "putEventSelectorsRequest",
        "variableType" : "PutEventSelectorsRequest",
        "documentation" : "",
        "simpleType" : "PutEventSelectorsRequest",
        "variableSetterType" : "PutEventSelectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putEventSelectors",
      "operationName" : "PutEventSelectors",
      "returnType" : {
        "returnType" : "PutEventSelectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutEventSelectorsResult"
    },
    "RemoveTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "asyncReturnType" : "RemoveTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from a trail.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the specified resource is not found.</p>"
      }, {
        "exceptionName" : "CloudTrailARNInvalidException",
        "documentation" : "<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>"
      }, {
        "exceptionName" : "ResourceTypeNotSupportedException",
        "documentation" : "<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>This exception is thrown when the key or value specified for the tag does not match the regular expression <code>^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-@]*)$</code>.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsRequest",
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "documentation" : "<p>Specifies the tags to remove from a trail.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTags",
      "operationName" : "RemoveTags",
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "RemoveTagsResult"
    },
    "StartLogging" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartLoggingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartLoggingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartLoggingRequest, StartLoggingResult>",
      "asyncReturnType" : "StartLoggingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the recording of AWS API calls and log file delivery for a trail. For a trail that is enabled in all regions, this operation must be called from the region in which the trail was created. This operation cannot be called on the shadow trails (replicated trails in other regions) of a trail that is enabled in all regions.</p>",
      "exceptions" : [ {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidHomeRegionException",
        "documentation" : "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartLoggingRequest",
        "variableName" : "startLoggingRequest",
        "variableType" : "StartLoggingRequest",
        "documentation" : "<p>The request to CloudTrail to start logging AWS API calls for an account.</p>",
        "simpleType" : "StartLoggingRequest",
        "variableSetterType" : "StartLoggingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startLogging",
      "operationName" : "StartLogging",
      "returnType" : {
        "returnType" : "StartLoggingResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "StartLoggingResult"
    },
    "StopLogging" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopLoggingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopLoggingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopLoggingRequest, StopLoggingResult>",
      "asyncReturnType" : "StopLoggingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Suspends the recording of AWS API calls and log file delivery for the specified trail. Under most circumstances, there is no need to use this action. You can update a trail without stopping it first. This action is the only way to stop recording. For a trail enabled in all regions, this operation must be called from the region in which the trail was created, or an <code>InvalidHomeRegionException</code> will occur. This operation cannot be called on the shadow trails (replicated trails in other regions) of a trail enabled in all regions.</p>",
      "exceptions" : [ {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "InvalidHomeRegionException",
        "documentation" : "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopLoggingRequest",
        "variableName" : "stopLoggingRequest",
        "variableType" : "StopLoggingRequest",
        "documentation" : "<p>Passes the request to CloudTrail to stop logging AWS API calls for the specified account.</p>",
        "simpleType" : "StopLoggingRequest",
        "variableSetterType" : "StopLoggingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopLogging",
      "operationName" : "StopLogging",
      "returnType" : {
        "returnType" : "StopLoggingResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "StopLoggingResult"
    },
    "UpdateTrail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTrailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTrailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTrailRequest, UpdateTrailResult>",
      "asyncReturnType" : "UpdateTrailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the settings that specify delivery of log files. Changes to a trail do not require stopping the CloudTrail service. Use this action to designate an existing bucket for log delivery. If the existing bucket has previously been a target for CloudTrail log files, an IAM policy exists for the bucket. <code>UpdateTrail</code> must be called from the region in which the trail was created; otherwise, an <code>InvalidHomeRegionException</code> is thrown.</p>",
      "exceptions" : [ {
        "exceptionName" : "S3BucketDoesNotExistException",
        "documentation" : "<p>This exception is thrown when the specified S3 bucket does not exist.</p>"
      }, {
        "exceptionName" : "InsufficientS3BucketPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the S3 bucket is not sufficient.</p>"
      }, {
        "exceptionName" : "InsufficientSnsTopicPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the SNS topic is not sufficient.</p>"
      }, {
        "exceptionName" : "InsufficientEncryptionPolicyException",
        "documentation" : "<p>This exception is thrown when the policy on the S3 bucket or KMS key is not sufficient.</p>"
      }, {
        "exceptionName" : "TrailNotFoundException",
        "documentation" : "<p>This exception is thrown when the trail with the given name is not found.</p>"
      }, {
        "exceptionName" : "InvalidS3BucketNameException",
        "documentation" : "<p>This exception is thrown when the provided S3 bucket name is not valid.</p>"
      }, {
        "exceptionName" : "InvalidS3PrefixException",
        "documentation" : "<p>This exception is thrown when the provided S3 prefix is not valid.</p>"
      }, {
        "exceptionName" : "InvalidSnsTopicNameException",
        "documentation" : "<p>This exception is thrown when the provided SNS topic name is not valid.</p>"
      }, {
        "exceptionName" : "InvalidKmsKeyIdException",
        "documentation" : "<p>This exception is thrown when the KMS key ARN is invalid.</p>"
      }, {
        "exceptionName" : "InvalidTrailNameException",
        "documentation" : "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
      }, {
        "exceptionName" : "TrailNotProvidedException",
        "documentation" : "<p>This exception is deprecated.</p>"
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>This exception is thrown when the combination of parameters provided is not valid.</p>"
      }, {
        "exceptionName" : "InvalidHomeRegionException",
        "documentation" : "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>"
      }, {
        "exceptionName" : "KmsKeyNotFoundException",
        "documentation" : "<p>This exception is thrown when the KMS key does not exist, or when the S3 bucket and the KMS key are not in the same region.</p>"
      }, {
        "exceptionName" : "KmsKeyDisabledException",
        "documentation" : "<p>This exception is deprecated.</p>"
      }, {
        "exceptionName" : "KmsException",
        "documentation" : "<p>This exception is thrown when there is an issue with the specified KMS key and the trail can’t be updated.</p>"
      }, {
        "exceptionName" : "InvalidCloudWatchLogsLogGroupArnException",
        "documentation" : "<p>This exception is thrown when the provided CloudWatch log group is not valid.</p>"
      }, {
        "exceptionName" : "InvalidCloudWatchLogsRoleArnException",
        "documentation" : "<p>This exception is thrown when the provided role is not valid.</p>"
      }, {
        "exceptionName" : "CloudWatchLogsDeliveryUnavailableException",
        "documentation" : "<p>Cannot set a CloudWatch Logs delivery for this region.</p>"
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>This exception is thrown when the requested operation is not supported.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This exception is thrown when the requested operation is not permitted.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateTrailRequest",
        "variableName" : "updateTrailRequest",
        "variableType" : "UpdateTrailRequest",
        "documentation" : "<p>Specifies settings to update for the trail.</p>",
        "simpleType" : "UpdateTrailRequest",
        "variableSetterType" : "UpdateTrailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTrail",
      "operationName" : "UpdateTrail",
      "returnType" : {
        "returnType" : "UpdateTrailResult",
        "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "syncReturnType" : "UpdateTrailResult"
    }
  },
  "shapes" : {
    "AddTagsRequest" : {
      "c2jName" : "AddTagsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Specifies the tags to add to a trail.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTags",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "com.amazonaws.cloudtrail.v20131101.CloudTrail_20131101.AddTags",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ResourceId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@return Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ResourceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ResourceId",
        "setterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TagsList",
        "c2jShape" : "TagsList",
        "deprecated" : false,
        "documentation" : "<p>Contains a list of CloudTrail tags, up to a limit of 50</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 50</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 50\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 50</p>\n@return Contains a list of CloudTrail tags, up to a limit of 50*/",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "TagsList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TagsList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "TagsList",
        "setterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 50</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 50*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tagsList",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 50</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagsList(java.util.Collection)} or {@link #withTagsList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 50\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tagsList",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>Contains a list of CloudTrail tags, up to a limit of 50</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceId" : {
          "c2jName" : "ResourceId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@return Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ResourceId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ResourceId",
          "setterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>\n@param resourceId Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TagsList" : {
          "c2jName" : "TagsList",
          "c2jShape" : "TagsList",
          "deprecated" : false,
          "documentation" : "<p>Contains a list of CloudTrail tags, up to a limit of 50</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 50</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 50\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 50</p>\n@return Contains a list of CloudTrail tags, up to a limit of 50*/",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "TagsList",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TagsList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "TagsList",
          "setterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 50</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 50*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "variableName" : "tagsList",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>Contains a list of CloudTrail tags, up to a limit of 50</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagsList(java.util.Collection)} or {@link #withTagsList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagsList Contains a list of CloudTrail tags, up to a limit of 50\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
            "variableName" : "tagsList",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p>Contains a list of CloudTrail tags, up to a limit of 50</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "ResourceId" ],
      "shapeName" : "AddTagsRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : null,
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "wrapper" : false
    },
    "AddTagsResult" : {
      "c2jName" : "AddTagsResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AddTagsResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddTagsResult",
        "variableName" : "addTagsResult",
        "variableType" : "AddTagsResult",
        "documentation" : null,
        "simpleType" : "AddTagsResult",
        "variableSetterType" : "AddTagsResult"
      },
      "wrapper" : false
    },
    "CloudTrailARNInvalidException" : {
      "c2jName" : "CloudTrailARNInvalidException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code> </p>",
      "enums" : null,
      "errorCode" : "CloudTrailARNInvalidException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CloudTrailARNInvalidException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CloudTrailARNInvalidException",
        "variableName" : "cloudTrailARNInvalidException",
        "variableType" : "CloudTrailARNInvalidException",
        "documentation" : null,
        "simpleType" : "CloudTrailARNInvalidException",
        "variableSetterType" : "CloudTrailARNInvalidException"
      },
      "wrapper" : false
    },
    "CloudWatchLogsDeliveryUnavailableException" : {
      "c2jName" : "CloudWatchLogsDeliveryUnavailableException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Cannot set a CloudWatch Logs delivery for this region.</p>",
      "enums" : null,
      "errorCode" : "CloudWatchLogsDeliveryUnavailableException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "CloudWatchLogsDeliveryUnavailableException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CloudWatchLogsDeliveryUnavailableException",
        "variableName" : "cloudWatchLogsDeliveryUnavailableException",
        "variableType" : "CloudWatchLogsDeliveryUnavailableException",
        "documentation" : null,
        "simpleType" : "CloudWatchLogsDeliveryUnavailableException",
        "variableSetterType" : "CloudWatchLogsDeliveryUnavailableException"
      },
      "wrapper" : false
    },
    "CreateTrailRequest" : {
      "c2jName" : "CreateTrailRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Specifies the settings for each trail.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateTrail",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "com.amazonaws.cloudtrail.v20131101.CloudTrail_20131101.CreateTrail",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>\n@param name Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>\n@return Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li>*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>\n@param name Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li>*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>\n@param name Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "S3BucketName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>\n@param s3BucketName Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>\n@return Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "S3BucketName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S3BucketName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "S3BucketName",
        "setterDocumentation" : "/**<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>\n@param s3BucketName Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "s3BucketName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>\n@param s3BucketName Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "s3BucketName",
          "variableType" : "String",
          "documentation" : "<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "S3KeyPrefix",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>\n@param s3KeyPrefix Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>\n@return Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "S3KeyPrefix",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S3KeyPrefix",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "S3KeyPrefix",
        "setterDocumentation" : "/**<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>\n@param s3KeyPrefix Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "s3KeyPrefix",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>\n@param s3KeyPrefix Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "s3KeyPrefix",
          "variableType" : "String",
          "documentation" : "<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SnsTopicName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>\n@param snsTopicName Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>\n@return Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SnsTopicName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SnsTopicName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SnsTopicName",
        "setterDocumentation" : "/**<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>\n@param snsTopicName Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "snsTopicName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>\n@param snsTopicName Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "snsTopicName",
          "variableType" : "String",
          "documentation" : "<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IncludeGlobalServiceEvents",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>\n@param includeGlobalServiceEvents Specifies whether the trail is publishing events from global services such as IAM to the log files.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>\n@return Specifies whether the trail is publishing events from global services such as IAM to the log files.*/",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "IncludeGlobalServiceEvents",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IncludeGlobalServiceEvents",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "IncludeGlobalServiceEvents",
        "setterDocumentation" : "/**<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>\n@param includeGlobalServiceEvents Specifies whether the trail is publishing events from global services such as IAM to the log files.*/",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "includeGlobalServiceEvents",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>\n@param includeGlobalServiceEvents Specifies whether the trail is publishing events from global services such as IAM to the log files.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "includeGlobalServiceEvents",
          "variableType" : "Boolean",
          "documentation" : "<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IsMultiRegionTrail",
        "c2jShape" : "Boolean",
        "deprecated" : false,
[...]
