{
  "metadata" : {
    "apiVersion" : "2016-01-28",
    "protocol" : "rest-xml",
    "checksumFormat" : null,
    "documentation" : null,
    "defaultEndpoint" : "https://cloudfront.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "cloudfront.amazonaws.com/",
    "syncInterface" : "AmazonCloudFront",
    "syncClient" : "AmazonCloudFrontClient",
    "asyncInterface" : "AmazonCloudFrontAsync",
    "asyncClient" : "AmazonCloudFrontAsyncClient",
    "packageName" : "com.amazonaws.services.cloudfront",
    "packagePath" : "com/amazonaws/services/cloudfront",
    "serviceAbbreviation" : "CloudFront",
    "serviceFullName" : "Amazon CloudFront",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : null,
    "endpointPrefix" : "cloudfront",
    "signingName" : "cloudfront",
    "jsonProtocol" : false,
    "xmlProtocol" : true,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "syncClientBuilderClassName" : "AmazonCloudFrontClientBuilder",
    "asyncClientBuilderClassName" : "AmazonCloudFrontAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonCloudFrontModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudfront.smoketests",
    "serviceName" : "CloudFront",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller"
  },
  "operations" : {
    "CreateCloudFrontOriginAccessIdentity" : {
      "documentation" : "Create a new origin access identity.",
      "operationName" : "CreateCloudFrontOriginAccessIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "createCloudFrontOriginAccessIdentityRequest",
        "variableType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "variableDeclarationType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "documentation" : "The request to create a new origin access identity.",
        "simpleType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "CreateCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateCloudFrontOriginAccessIdentityResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "CloudFrontOriginAccessIdentityAlreadyExistsException",
        "documentation" : "If the CallerReference is a value you already sent in a previous request to create an identity but the content of the CloudFrontOriginAccessIdentityConfig is different from the original request, CloudFront returns a CloudFrontOriginAccessIdentityAlreadyExists error."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyCloudFrontOriginAccessIdentitiesException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of origin access identities allowed."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createCloudFrontOriginAccessIdentity",
      "syncReturnType" : "CreateCloudFrontOriginAccessIdentityResult",
      "asyncReturnType" : "CreateCloudFrontOriginAccessIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCloudFrontOriginAccessIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCloudFrontOriginAccessIdentityRequest, CreateCloudFrontOriginAccessIdentityResult>",
      "authenticated" : true
    },
    "CreateDistribution" : {
      "documentation" : "Create a new distribution.",
      "operationName" : "CreateDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDistributionRequest",
        "variableType" : "CreateDistributionRequest",
        "variableDeclarationType" : "CreateDistributionRequest",
        "documentation" : "The request to create a new distribution.",
        "simpleType" : "CreateDistributionRequest",
        "variableSetterType" : "CreateDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "DistributionAlreadyExistsException",
        "documentation" : "The caller reference you attempted to create the distribution with is associated with another distribution."
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "InvalidViewerCertificateException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidMinimumProtocolVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyDistributionCNAMEsException",
        "documentation" : "Your request contains more CNAMEs than are allowed per distribution."
      }, {
        "exceptionName" : "TooManyDistributionsException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of distributions allowed."
      }, {
        "exceptionName" : "InvalidDefaultRootObjectException",
        "documentation" : "The default root object file name is too big or contains an invalid character."
      }, {
        "exceptionName" : "InvalidRelativePathException",
        "documentation" : "The relative path is too big, is not URL-encoded, or does not begin with a slash (/)."
      }, {
        "exceptionName" : "InvalidErrorCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidResponseCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidRequiredProtocolException",
        "documentation" : "This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration."
      }, {
        "exceptionName" : "NoSuchOriginException",
        "documentation" : "No origin exists with the specified Origin Id."
      }, {
        "exceptionName" : "TooManyOriginsException",
        "documentation" : "You cannot create anymore origins for the distribution."
      }, {
        "exceptionName" : "TooManyCacheBehaviorsException",
        "documentation" : "You cannot create anymore cache behaviors for the distribution."
      }, {
        "exceptionName" : "TooManyCookieNamesInWhiteListException",
        "documentation" : "Your request contains more cookie names in the whitelist than are allowed per cache behavior."
      }, {
        "exceptionName" : "InvalidForwardCookiesException",
        "documentation" : "Your request contains forward cookies option which doesn't match with the expectation for the whitelisted list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected."
      }, {
        "exceptionName" : "TooManyHeadersInForwardedValuesException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidHeadersForS3OriginException",
        "documentation" : null
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "You cannot create anymore custom ssl certificates."
      }, {
        "exceptionName" : "InvalidLocationCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidGeoRestrictionParameterException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidProtocolSettingsException",
        "documentation" : "You cannot specify SSLv3 as the minimum protocol version if you only want to support only clients that Support Server Name Indication (SNI)."
      }, {
        "exceptionName" : "InvalidTTLOrderException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyOriginCustomHeadersException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createDistribution",
      "syncReturnType" : "CreateDistributionResult",
      "asyncReturnType" : "CreateDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDistributionRequest, CreateDistributionResult>",
      "authenticated" : true
    },
    "CreateInvalidation" : {
      "documentation" : "Create a new invalidation.",
      "operationName" : "CreateInvalidation",
      "deprecated" : false,
      "input" : {
        "variableName" : "createInvalidationRequest",
        "variableType" : "CreateInvalidationRequest",
        "variableDeclarationType" : "CreateInvalidationRequest",
        "documentation" : "The request to create an invalidation.",
        "simpleType" : "CreateInvalidationRequest",
        "variableSetterType" : "CreateInvalidationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateInvalidationResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "BatchTooLargeException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyInvalidationsInProgressException",
        "documentation" : "You have exceeded the maximum number of allowable InProgress invalidation batch requests, or invalidation objects."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createInvalidation",
      "syncReturnType" : "CreateInvalidationResult",
      "asyncReturnType" : "CreateInvalidationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInvalidationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInvalidationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInvalidationRequest, CreateInvalidationResult>",
      "authenticated" : true
    },
    "CreateStreamingDistribution" : {
      "documentation" : "Create a new streaming distribution.",
      "operationName" : "CreateStreamingDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "createStreamingDistributionRequest",
        "variableType" : "CreateStreamingDistributionRequest",
        "variableDeclarationType" : "CreateStreamingDistributionRequest",
        "documentation" : "The request to create a new streaming distribution.",
        "simpleType" : "CreateStreamingDistributionRequest",
        "variableSetterType" : "CreateStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateStreamingDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "StreamingDistributionAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyStreamingDistributionCNAMEsException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyStreamingDistributionsException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of streaming distributions allowed."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createStreamingDistribution",
      "syncReturnType" : "CreateStreamingDistributionResult",
      "asyncReturnType" : "CreateStreamingDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingDistributionRequest, CreateStreamingDistributionResult>",
      "authenticated" : true
    },
    "DeleteCloudFrontOriginAccessIdentity" : {
      "documentation" : "Delete an origin access identity.",
      "operationName" : "DeleteCloudFrontOriginAccessIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteCloudFrontOriginAccessIdentityRequest",
        "variableType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "variableDeclarationType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "documentation" : "The request to delete a origin access identity.",
        "simpleType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "DeleteCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteCloudFrontOriginAccessIdentityResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "CloudFrontOriginAccessIdentityInUseException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteCloudFrontOriginAccessIdentity",
      "syncReturnType" : "DeleteCloudFrontOriginAccessIdentityResult",
      "asyncReturnType" : "DeleteCloudFrontOriginAccessIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCloudFrontOriginAccessIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCloudFrontOriginAccessIdentityRequest, DeleteCloudFrontOriginAccessIdentityResult>",
      "authenticated" : true
    },
    "DeleteDistribution" : {
      "documentation" : "Delete a distribution.",
      "operationName" : "DeleteDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDistributionRequest",
        "variableType" : "DeleteDistributionRequest",
        "variableDeclarationType" : "DeleteDistributionRequest",
        "documentation" : "The request to delete a distribution.",
        "simpleType" : "DeleteDistributionRequest",
        "variableSetterType" : "DeleteDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteDistributionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "DistributionNotDisabledException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteDistribution",
      "syncReturnType" : "DeleteDistributionResult",
      "asyncReturnType" : "DeleteDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDistributionRequest, DeleteDistributionResult>",
      "authenticated" : true
    },
    "DeleteStreamingDistribution" : {
      "documentation" : "Delete a streaming distribution.",
      "operationName" : "DeleteStreamingDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteStreamingDistributionRequest",
        "variableType" : "DeleteStreamingDistributionRequest",
        "variableDeclarationType" : "DeleteStreamingDistributionRequest",
        "documentation" : "The request to delete a streaming distribution.",
        "simpleType" : "DeleteStreamingDistributionRequest",
        "variableSetterType" : "DeleteStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteStreamingDistributionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "StreamingDistributionNotDisabledException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteStreamingDistribution",
      "syncReturnType" : "DeleteStreamingDistributionResult",
      "asyncReturnType" : "DeleteStreamingDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStreamingDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStreamingDistributionRequest, DeleteStreamingDistributionResult>",
      "authenticated" : true
    },
    "GetCloudFrontOriginAccessIdentity" : {
      "documentation" : "Get the information about an origin access identity.",
      "operationName" : "GetCloudFrontOriginAccessIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "getCloudFrontOriginAccessIdentityRequest",
        "variableType" : "GetCloudFrontOriginAccessIdentityRequest",
        "variableDeclarationType" : "GetCloudFrontOriginAccessIdentityRequest",
        "documentation" : "The request to get an origin access identity's information.",
        "simpleType" : "GetCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "GetCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetCloudFrontOriginAccessIdentityResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getCloudFrontOriginAccessIdentity",
      "syncReturnType" : "GetCloudFrontOriginAccessIdentityResult",
      "asyncReturnType" : "GetCloudFrontOriginAccessIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetCloudFrontOriginAccessIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCloudFrontOriginAccessIdentityRequest, GetCloudFrontOriginAccessIdentityResult>",
      "authenticated" : true
    },
    "GetCloudFrontOriginAccessIdentityConfig" : {
      "documentation" : "Get the configuration information about an origin access identity.",
      "operationName" : "GetCloudFrontOriginAccessIdentityConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "getCloudFrontOriginAccessIdentityConfigRequest",
        "variableType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "variableDeclarationType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "documentation" : "The request to get an origin access identity's configuration.",
        "simpleType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "variableSetterType" : "GetCloudFrontOriginAccessIdentityConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetCloudFrontOriginAccessIdentityConfigResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getCloudFrontOriginAccessIdentityConfig",
      "syncReturnType" : "GetCloudFrontOriginAccessIdentityConfigResult",
      "asyncReturnType" : "GetCloudFrontOriginAccessIdentityConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetCloudFrontOriginAccessIdentityConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetCloudFrontOriginAccessIdentityConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCloudFrontOriginAccessIdentityConfigRequest, GetCloudFrontOriginAccessIdentityConfigResult>",
      "authenticated" : true
    },
    "GetDistribution" : {
      "documentation" : "Get the information about a distribution.",
      "operationName" : "GetDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDistributionRequest",
        "variableType" : "GetDistributionRequest",
        "variableDeclarationType" : "GetDistributionRequest",
        "documentation" : "The request to get a distribution's information.",
        "simpleType" : "GetDistributionRequest",
        "variableSetterType" : "GetDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getDistribution",
      "syncReturnType" : "GetDistributionResult",
      "asyncReturnType" : "GetDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDistributionRequest, GetDistributionResult>",
      "authenticated" : true
    },
    "GetDistributionConfig" : {
      "documentation" : "Get the configuration information about a distribution.",
      "operationName" : "GetDistributionConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDistributionConfigRequest",
        "variableType" : "GetDistributionConfigRequest",
        "variableDeclarationType" : "GetDistributionConfigRequest",
        "documentation" : "The request to get a distribution configuration.",
        "simpleType" : "GetDistributionConfigRequest",
        "variableSetterType" : "GetDistributionConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDistributionConfigResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getDistributionConfig",
      "syncReturnType" : "GetDistributionConfigResult",
      "asyncReturnType" : "GetDistributionConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDistributionConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDistributionConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDistributionConfigRequest, GetDistributionConfigResult>",
      "authenticated" : true
    },
    "GetInvalidation" : {
      "documentation" : "Get the information about an invalidation.",
      "operationName" : "GetInvalidation",
      "deprecated" : false,
      "input" : {
        "variableName" : "getInvalidationRequest",
        "variableType" : "GetInvalidationRequest",
        "variableDeclarationType" : "GetInvalidationRequest",
        "documentation" : "The request to get an invalidation's information.",
        "simpleType" : "GetInvalidationRequest",
        "variableSetterType" : "GetInvalidationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetInvalidationResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchInvalidationException",
        "documentation" : "The specified invalidation does not exist."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getInvalidation",
      "syncReturnType" : "GetInvalidationResult",
      "asyncReturnType" : "GetInvalidationResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetInvalidationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetInvalidationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInvalidationRequest, GetInvalidationResult>",
      "authenticated" : true
    },
    "GetStreamingDistribution" : {
      "documentation" : "Get the information about a streaming distribution.",
      "operationName" : "GetStreamingDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "getStreamingDistributionRequest",
        "variableType" : "GetStreamingDistributionRequest",
        "variableDeclarationType" : "GetStreamingDistributionRequest",
        "documentation" : "The request to get a streaming distribution's information.",
        "simpleType" : "GetStreamingDistributionRequest",
        "variableSetterType" : "GetStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetStreamingDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getStreamingDistribution",
      "syncReturnType" : "GetStreamingDistributionResult",
      "asyncReturnType" : "GetStreamingDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingDistributionRequest, GetStreamingDistributionResult>",
      "authenticated" : true
    },
    "GetStreamingDistributionConfig" : {
      "documentation" : "Get the configuration information about a streaming distribution.",
      "operationName" : "GetStreamingDistributionConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "getStreamingDistributionConfigRequest",
        "variableType" : "GetStreamingDistributionConfigRequest",
        "variableDeclarationType" : "GetStreamingDistributionConfigRequest",
        "documentation" : "To request to get a streaming distribution configuration.",
        "simpleType" : "GetStreamingDistributionConfigRequest",
        "variableSetterType" : "GetStreamingDistributionConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetStreamingDistributionConfigResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getStreamingDistributionConfig",
      "syncReturnType" : "GetStreamingDistributionConfigResult",
      "asyncReturnType" : "GetStreamingDistributionConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingDistributionConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingDistributionConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingDistributionConfigRequest, GetStreamingDistributionConfigResult>",
      "authenticated" : true
    },
    "ListCloudFrontOriginAccessIdentities" : {
      "documentation" : "List origin access identities.",
      "operationName" : "ListCloudFrontOriginAccessIdentities",
      "deprecated" : false,
      "input" : {
        "variableName" : "listCloudFrontOriginAccessIdentitiesRequest",
        "variableType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "variableDeclarationType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "documentation" : "The request to list origin access identities.",
        "simpleType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "variableSetterType" : "ListCloudFrontOriginAccessIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListCloudFrontOriginAccessIdentitiesResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listCloudFrontOriginAccessIdentities",
      "syncReturnType" : "ListCloudFrontOriginAccessIdentitiesResult",
      "asyncReturnType" : "ListCloudFrontOriginAccessIdentitiesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListCloudFrontOriginAccessIdentitiesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListCloudFrontOriginAccessIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCloudFrontOriginAccessIdentitiesRequest, ListCloudFrontOriginAccessIdentitiesResult>",
      "authenticated" : true
    },
    "ListDistributions" : {
      "documentation" : "List distributions.",
      "operationName" : "ListDistributions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDistributionsRequest",
        "variableType" : "ListDistributionsRequest",
        "variableDeclarationType" : "ListDistributionsRequest",
        "documentation" : "The request to list your distributions.",
        "simpleType" : "ListDistributionsRequest",
        "variableSetterType" : "ListDistributionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDistributionsResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listDistributions",
      "syncReturnType" : "ListDistributionsResult",
      "asyncReturnType" : "ListDistributionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDistributionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDistributionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDistributionsRequest, ListDistributionsResult>",
      "authenticated" : true
    },
    "ListDistributionsByWebACLId" : {
      "documentation" : "List the distributions that are associated with a specified AWS WAF web ACL.",
      "operationName" : "ListDistributionsByWebACLId",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDistributionsByWebACLIdRequest",
        "variableType" : "ListDistributionsByWebACLIdRequest",
        "variableDeclarationType" : "ListDistributionsByWebACLIdRequest",
        "documentation" : "The request to list distributions that are associated with a specified AWS WAF web ACL.",
        "simpleType" : "ListDistributionsByWebACLIdRequest",
        "variableSetterType" : "ListDistributionsByWebACLIdRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDistributionsByWebACLIdResult",
        "documentation" : "The response to a request to list the distributions that are associated with a specified AWS WAF web ACL."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listDistributionsByWebACLId",
      "syncReturnType" : "ListDistributionsByWebACLIdResult",
      "asyncReturnType" : "ListDistributionsByWebACLIdResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDistributionsByWebACLIdResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDistributionsByWebACLIdResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDistributionsByWebACLIdRequest, ListDistributionsByWebACLIdResult>",
      "authenticated" : true
    },
    "ListInvalidations" : {
      "documentation" : "List invalidation batches.",
      "operationName" : "ListInvalidations",
      "deprecated" : false,
      "input" : {
        "variableName" : "listInvalidationsRequest",
        "variableType" : "ListInvalidationsRequest",
        "variableDeclarationType" : "ListInvalidationsRequest",
        "documentation" : "The request to list invalidations.",
        "simpleType" : "ListInvalidationsRequest",
        "variableSetterType" : "ListInvalidationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListInvalidationsResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listInvalidations",
      "syncReturnType" : "ListInvalidationsResult",
      "asyncReturnType" : "ListInvalidationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvalidationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvalidationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvalidationsRequest, ListInvalidationsResult>",
      "authenticated" : true
    },
    "ListStreamingDistributions" : {
      "documentation" : "List streaming distributions.",
      "operationName" : "ListStreamingDistributions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listStreamingDistributionsRequest",
        "variableType" : "ListStreamingDistributionsRequest",
        "variableDeclarationType" : "ListStreamingDistributionsRequest",
        "documentation" : "The request to list your streaming distributions.",
        "simpleType" : "ListStreamingDistributionsRequest",
        "variableSetterType" : "ListStreamingDistributionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListStreamingDistributionsResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listStreamingDistributions",
      "syncReturnType" : "ListStreamingDistributionsResult",
      "asyncReturnType" : "ListStreamingDistributionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListStreamingDistributionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListStreamingDistributionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStreamingDistributionsRequest, ListStreamingDistributionsResult>",
      "authenticated" : true
    },
    "UpdateCloudFrontOriginAccessIdentity" : {
      "documentation" : "Update an origin access identity.",
      "operationName" : "UpdateCloudFrontOriginAccessIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateCloudFrontOriginAccessIdentityRequest",
        "variableType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "variableDeclarationType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "documentation" : "The request to update an origin access identity.",
        "simpleType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "UpdateCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateCloudFrontOriginAccessIdentityResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "Origin and CallerReference cannot be updated."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateCloudFrontOriginAccessIdentity",
      "syncReturnType" : "UpdateCloudFrontOriginAccessIdentityResult",
      "asyncReturnType" : "UpdateCloudFrontOriginAccessIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCloudFrontOriginAccessIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCloudFrontOriginAccessIdentityRequest, UpdateCloudFrontOriginAccessIdentityResult>",
      "authenticated" : true
    },
    "UpdateDistribution" : {
      "documentation" : "Update a distribution.",
      "operationName" : "UpdateDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDistributionRequest",
        "variableType" : "UpdateDistributionRequest",
        "variableDeclarationType" : "UpdateDistributionRequest",
        "documentation" : "The request to update a distribution.",
        "simpleType" : "UpdateDistributionRequest",
        "variableSetterType" : "UpdateDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "Origin and CallerReference cannot be updated."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "TooManyDistributionCNAMEsException",
        "documentation" : "Your request contains more CNAMEs than are allowed per distribution."
      }, {
        "exceptionName" : "InvalidDefaultRootObjectException",
        "documentation" : "The default root object file name is too big or contains an invalid character."
      }, {
        "exceptionName" : "InvalidRelativePathException",
        "documentation" : "The relative path is too big, is not URL-encoded, or does not begin with a slash (/)."
      }, {
        "exceptionName" : "InvalidErrorCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidResponseCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "InvalidViewerCertificateException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidMinimumProtocolVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidRequiredProtocolException",
        "documentation" : "This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration."
      }, {
        "exceptionName" : "NoSuchOriginException",
        "documentation" : "No origin exists with the specified Origin Id."
      }, {
        "exceptionName" : "TooManyOriginsException",
        "documentation" : "You cannot create anymore origins for the distribution."
      }, {
        "exceptionName" : "TooManyCacheBehaviorsException",
        "documentation" : "You cannot create anymore cache behaviors for the distribution."
      }, {
        "exceptionName" : "TooManyCookieNamesInWhiteListException",
        "documentation" : "Your request contains more cookie names in the whitelist than are allowed per cache behavior."
      }, {
        "exceptionName" : "InvalidForwardCookiesException",
        "documentation" : "Your request contains forward cookies option which doesn't match with the expectation for the whitelisted list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected."
      }, {
        "exceptionName" : "TooManyHeadersInForwardedValuesException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidHeadersForS3OriginException",
        "documentation" : null
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "You cannot create anymore custom ssl certificates."
      }, {
        "exceptionName" : "InvalidLocationCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidGeoRestrictionParameterException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidTTLOrderException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyOriginCustomHeadersException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateDistribution",
      "syncReturnType" : "UpdateDistributionResult",
      "asyncReturnType" : "UpdateDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDistributionRequest, UpdateDistributionResult>",
      "authenticated" : true
    },
    "UpdateStreamingDistribution" : {
      "documentation" : "Update a streaming distribution.",
      "operationName" : "UpdateStreamingDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateStreamingDistributionRequest",
        "variableType" : "UpdateStreamingDistributionRequest",
        "variableDeclarationType" : "UpdateStreamingDistributionRequest",
        "documentation" : "The request to update a streaming distribution.",
        "simpleType" : "UpdateStreamingDistributionRequest",
        "variableSetterType" : "UpdateStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateStreamingDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "Origin and CallerReference cannot be updated."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "TooManyStreamingDistributionCNAMEsException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateStreamingDistribution",
      "syncReturnType" : "UpdateStreamingDistributionResult",
      "asyncReturnType" : "UpdateStreamingDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStreamingDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStreamingDistributionRequest, UpdateStreamingDistributionResult>",
      "authenticated" : true
    }
  },
  "shapes" : {
    "Origin" : {
      "c2jName" : "Origin",
      "documentation" : "A complex type that describes the Amazon S3 bucket or the HTTP server (for example, a web server) from which CloudFront gets your files.You must create at least one origin.",
      "shapeName" : "Origin",
      "deprecated" : false,
      "required" : [ "Id", "DomainName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.",
        "name" : "Id",
        "c2jName" : "Id",
        "c2jShape" : "string",
        "variable" : {
          "variableName" : "id",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "id",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Id",
          "marshallLocationName" : "Id",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@param id A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.*/",
        "getterDocumentation" : "/**A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@return A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.*/",
        "fluentSetterDocumentation" : "/**A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@param id A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@param id A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.",
        "name" : "DomainName",
        "c2jName" : "DomainName",
        "c2jShape" : "string",
        "variable" : {
          "variableName" : "domainName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "domainName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DomainName",
          "marshallLocationName" : "DomainName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@param domainName Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.*/",
        "getterDocumentation" : "/**Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@return Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.*/",
        "fluentSetterDocumentation" : "/**Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@param domainName Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@param domainName Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.",
        "name" : "OriginPath",
        "c2jName" : "OriginPath",
        "c2jShape" : "string",
        "variable" : {
          "variableName" : "originPath",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "originPath",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "OriginPath",
          "marshallLocationName" : "OriginPath",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@param originPath An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.*/",
        "getterDocumentation" : "/**An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@return An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.*/",
        "fluentSetterDocumentation" : "/**An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@param originPath An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@param originPath An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "A complex type that contains information about the custom headers associated with this Origin.",
        "name" : "CustomHeaders",
        "c2jName" : "CustomHeaders",
        "c2jShape" : "CustomHeaders",
        "variable" : {
          "variableName" : "customHeaders",
          "variableType" : "CustomHeaders",
          "variableDeclarationType" : "CustomHeaders",
          "documentation" : "A complex type that contains information about the custom headers associated with this Origin.",
          "simpleType" : "CustomHeaders",
          "variableSetterType" : "CustomHeaders"
        },
        "setterModel" : {
          "variableName" : "customHeaders",
          "variableType" : "CustomHeaders",
          "variableDeclarationType" : "CustomHeaders",
          "documentation" : "",
          "simpleType" : "CustomHeaders",
          "variableSetterType" : "CustomHeaders"
        },
        "getterModel" : {
          "returnType" : "CustomHeaders",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CustomHeaders",
          "marshallLocationName" : "CustomHeaders",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**A complex type that contains information about the custom headers associated with this Origin.\n@param customHeaders A complex type that contains information about the custom headers associated with this Origin.*/",
        "getterDocumentation" : "/**A complex type that contains information about the custom headers associated with this Origin.\n@return A complex type that contains information about the custom headers associated with this Origin.*/",
        "fluentSetterDocumentation" : "/**A complex type that contains information about the custom headers associated with this Origin.\n@param customHeaders A complex type that contains information about the custom headers associated with this Origin.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**A complex type that contains information about the custom headers associated with this Origin.\n@param customHeaders A complex type that contains information about the custom headers associated with this Origin.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.",
        "name" : "S3OriginConfig",
        "c2jName" : "S3OriginConfig",
        "c2jShape" : "S3OriginConfig",
        "variable" : {
          "variableName" : "s3OriginConfig",
          "variableType" : "S3OriginConfig",
          "variableDeclarationType" : "S3OriginConfig",
          "documentation" : "A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.",
          "simpleType" : "S3OriginConfig",
          "variableSetterType" : "S3OriginConfig"
        },
        "setterModel" : {
          "variableName" : "s3OriginConfig",
          "variableType" : "S3OriginConfig",
          "variableDeclarationType" : "S3OriginConfig",
          "documentation" : "",
          "simpleType" : "S3OriginConfig",
          "variableSetterType" : "S3OriginConfig"
        },
        "getterModel" : {
          "returnType" : "S3OriginConfig",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "S3OriginConfig",
          "marshallLocationName" : "S3OriginConfig",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@param s3OriginConfig A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.*/",
        "getterDocumentation" : "/**A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@return A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.*/",
        "fluentSetterDocumentation" : "/**A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@param s3OriginConfig A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@param s3OriginConfig A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "A complex type that contains information about a custom origin. If the origin is an Amazon S3 bucket, use the S3OriginConfig element instead.",
        "name" : "CustomOriginConfig",
        "c2jName" : "CustomOriginConfig",
        "c2jShape" : "CustomOriginConfig",
        "variable" : {
          "variableName" : "customOriginConfig",
          "variableType" : "CustomOriginConfig",
          "variableDeclarationType" : "CustomOriginConfig",
          "documentation" : "A complex type that contains information about a custom origin. If the origin is an Amazon S3 bucket, use the S3OriginConfig element instead.",
          "simpleType" : "CustomOriginConfig",
          "variableSetterType" : "CustomOriginConfig"
        },
        "setterModel" : {
          "variableName" : "customOriginConfig",
          "variableType" : "CustomOriginConfig",
          "variableDeclarationType" : "CustomOriginConfig",
          "documentation" : "",
          "simpleType" : "CustomOriginConfig",
          "variableSetterType" : "CustomOriginConfig"
        },
        "getterModel" : {
          "returnType" : "CustomOriginConfig",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CustomOriginConfig",
          "marshallLocationName" : "CustomOriginConfig",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**A complex type that contains information about a custom origin. If the origin is an Amazon S3 bucket, use the S3OriginConfig element instead.\n@param customOriginConfig A complex type that contains information about a custom origin. If the origin is an Amazon S3 bucket, use the S3OriginConfig element instead.*/",
        "getterDocumentation" : "/**A complex type that contains information about a custom origin. If the origin is an Amazon S3 bucket, use the S3OriginConfig element instead.\n@return A complex type that contains information about a custom origin. If the origin is an Amazon S3 bucket, use the S3OriginConfig element instead.*/",
        "fluentSetterDocumentation" : "/**A complex type that contains information about a custom origin. If the origin is an Amazon S3 bucket, use the S3OriginConfig element instead.\n@param customOriginConfig A complex type that contains information about a custom origin. If the origin is an Amazon S3 bucket, use the S3OriginConfig element instead.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**A complex type that contains information about a custom origin. If the origin is an Amazon S3 bucket, use the S3OriginConfig element instead.\n@param customOriginConfig A complex type that contains information about a custom origin. If the origin is an Amazon S3 bucket, use the S3OriginConfig element instead.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "origin",
        "variableType" : "Origin",
        "variableDeclarationType" : "Origin",
        "documentation" : null,
        "simpleType" : "Origin",
        "variableSetterType" : "Origin"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "DomainName" : {
          "documentation" : "Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.",
          "name" : "DomainName",
          "c2jName" : "DomainName",
          "c2jShape" : "string",
          "variable" : {
            "variableName" : "domainName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "domainName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DomainName",
            "marshallLocationName" : "DomainName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@param domainName Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.*/",
          "getterDocumentation" : "/**Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@return Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.*/",
          "fluentSetterDocumentation" : "/**Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@param domainName Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@param domainName Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin, for example, myawsbucket.s3.amazonaws.com. Custom origins: The DNS domain name for the HTTP server from which you want CloudFront to get objects for this origin, for example, www.example.com.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "S3OriginConfig" : {
          "documentation" : "A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.",
          "name" : "S3OriginConfig",
          "c2jName" : "S3OriginConfig",
          "c2jShape" : "S3OriginConfig",
          "variable" : {
            "variableName" : "s3OriginConfig",
            "variableType" : "S3OriginConfig",
            "variableDeclarationType" : "S3OriginConfig",
            "documentation" : "A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.",
            "simpleType" : "S3OriginConfig",
            "variableSetterType" : "S3OriginConfig"
          },
          "setterModel" : {
            "variableName" : "s3OriginConfig",
            "variableType" : "S3OriginConfig",
            "variableDeclarationType" : "S3OriginConfig",
            "documentation" : "",
            "simpleType" : "S3OriginConfig",
            "variableSetterType" : "S3OriginConfig"
          },
          "getterModel" : {
            "returnType" : "S3OriginConfig",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "S3OriginConfig",
            "marshallLocationName" : "S3OriginConfig",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@param s3OriginConfig A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.*/",
          "getterDocumentation" : "/**A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@return A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.*/",
          "fluentSetterDocumentation" : "/**A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@param s3OriginConfig A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@param s3OriginConfig A complex type that contains information about the Amazon S3 origin. If the origin is a custom origin, use the CustomOriginConfig element instead.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "OriginPath" : {
          "documentation" : "An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.",
          "name" : "OriginPath",
          "c2jName" : "OriginPath",
          "c2jShape" : "string",
          "variable" : {
            "variableName" : "originPath",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "originPath",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "OriginPath",
            "marshallLocationName" : "OriginPath",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@param originPath An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.*/",
          "getterDocumentation" : "/**An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@return An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.*/",
          "fluentSetterDocumentation" : "/**An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@param originPath An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@param originPath An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin. When you include the OriginPath element, specify the directory name, beginning with a /. CloudFront appends the directory name to the value of DomainName.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Id" : {
          "documentation" : "A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.",
          "name" : "Id",
          "c2jName" : "Id",
          "c2jShape" : "string",
          "variable" : {
            "variableName" : "id",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "id",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Id",
            "marshallLocationName" : "Id",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@param id A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.*/",
          "getterDocumentation" : "/**A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@return A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.*/",
          "fluentSetterDocumentation" : "/**A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@param id A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@param id A unique identifier for the origin. The value of Id must be unique within the distribution. You use the value of Id when you create a cache behavior. The Id identifies the origin that CloudFront routes a request to when the request matches the path pattern for that cache behavior.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "CustomHeaders" : {
          "documentation" : "A complex type that contains information about the custom headers associated with this Origin.",
          "name" : "CustomHeaders",
          "c2jName" : "CustomHeaders",
          "c2jShape" : "CustomHeaders",
          "variable" : {
            "variableName" : "customHeaders",
            "variableType" : "CustomHeaders",
            "variableDeclarationType" : "CustomHeaders",
            "documentation" : "A complex type that contains information about the custom headers associated with this Origin.",
            "simpleType" : "CustomHeaders",
            "variableSetterType" : "CustomHeaders"
          },
          "setterModel" : {
            "variableName" : "customHeaders",
            "variableType" : "CustomHeaders",
            "variableDeclarationType" : "CustomHeaders",
            "documentation" : "",
            "simpleType" : "CustomHeaders",
            "variableSetterType" : "CustomHeaders"
          },
          "getterModel" : {
            "returnType" : "CustomHeaders",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CustomHeaders",
            "marshallLocationName" : "CustomHeaders",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
[...]
