{
  "metadata" : {
    "apiVersion" : "2016-01-13",
    "exceptionUnmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocol" : "rest-xml",
    "checksumFormat" : null,
    "documentation" : null,
    "defaultEndpoint" : "https://cloudfront.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "cloudfront.amazonaws.com/",
    "syncInterface" : "AmazonCloudFront",
    "syncClient" : "AmazonCloudFrontClient",
    "asyncInterface" : "AmazonCloudFrontAsync",
    "asyncClient" : "AmazonCloudFrontAsyncClient",
    "packageName" : "com.amazonaws.services.cloudfront",
    "packagePath" : "com/amazonaws/services/cloudfront",
    "serviceAbbreviation" : "CloudFront",
    "serviceFullName" : "Amazon CloudFront",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : null,
    "endpointPrefix" : "cloudfront",
    "signingName" : "cloudfront",
    "serviceName" : "CloudFront",
    "jsonProtocol" : false,
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "StandardErrorUnmarshaller"
  },
  "operations" : {
    "CreateCloudFrontOriginAccessIdentity" : {
      "documentation" : "",
      "operationName" : "CreateCloudFrontOriginAccessIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "createCloudFrontOriginAccessIdentityRequest",
        "variableType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "variableDeclarationType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "documentation" : "",
        "simpleType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "CreateCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateCloudFrontOriginAccessIdentityResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CloudFrontOriginAccessIdentityAlreadyExistsException",
        "documentation" : "If the CallerReference is a value you already sent in a previous request to create an identity but the content of the CloudFrontOriginAccessIdentityConfig is different from the original request, CloudFront returns a CloudFrontOriginAccessIdentityAlreadyExists error."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyCloudFrontOriginAccessIdentitiesException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of origin access identities allowed."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createCloudFrontOriginAccessIdentity",
      "syncReturnType" : "CreateCloudFrontOriginAccessIdentityResult",
      "asyncReturnType" : "CreateCloudFrontOriginAccessIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCloudFrontOriginAccessIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCloudFrontOriginAccessIdentityRequest, CreateCloudFrontOriginAccessIdentityResult>"
    },
    "CreateDistribution" : {
      "documentation" : "",
      "operationName" : "CreateDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "createDistributionRequest",
        "variableType" : "CreateDistributionRequest",
        "variableDeclarationType" : "CreateDistributionRequest",
        "documentation" : "",
        "simpleType" : "CreateDistributionRequest",
        "variableSetterType" : "CreateDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateDistributionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "DistributionAlreadyExistsException",
        "documentation" : "The caller reference you attempted to create the distribution with is associated with another distribution."
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "InvalidViewerCertificateException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidMinimumProtocolVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyDistributionCNAMEsException",
        "documentation" : "Your request contains more CNAMEs than are allowed per distribution."
      }, {
        "exceptionName" : "TooManyDistributionsException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of distributions allowed."
      }, {
        "exceptionName" : "InvalidDefaultRootObjectException",
        "documentation" : "The default root object file name is too big or contains an invalid character."
      }, {
        "exceptionName" : "InvalidRelativePathException",
        "documentation" : "The relative path is too big, is not URL-encoded, or does not begin with a slash (/)."
      }, {
        "exceptionName" : "InvalidErrorCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidResponseCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidRequiredProtocolException",
        "documentation" : "This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration."
      }, {
        "exceptionName" : "NoSuchOriginException",
        "documentation" : "No origin exists with the specified Origin Id."
      }, {
        "exceptionName" : "TooManyOriginsException",
        "documentation" : "You cannot create anymore origins for the distribution."
      }, {
        "exceptionName" : "TooManyCacheBehaviorsException",
        "documentation" : "You cannot create anymore cache behaviors for the distribution."
      }, {
        "exceptionName" : "TooManyCookieNamesInWhiteListException",
        "documentation" : "Your request contains more cookie names in the whitelist than are allowed per cache behavior."
      }, {
        "exceptionName" : "InvalidForwardCookiesException",
        "documentation" : "Your request contains forward cookies option which doesn't match with the expectation for the whitelisted list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected."
      }, {
        "exceptionName" : "TooManyHeadersInForwardedValuesException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidHeadersForS3OriginException",
        "documentation" : null
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "You cannot create anymore custom ssl certificates."
      }, {
        "exceptionName" : "InvalidLocationCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidGeoRestrictionParameterException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidProtocolSettingsException",
        "documentation" : "You cannot specify SSLv3 as the minimum protocol version if you only want to support only clients that Support Server Name Indication (SNI)."
      }, {
        "exceptionName" : "InvalidTTLOrderException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyOriginCustomHeadersException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createDistribution",
      "syncReturnType" : "CreateDistributionResult",
      "asyncReturnType" : "CreateDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDistributionRequest, CreateDistributionResult>"
    },
    "CreateInvalidation" : {
      "documentation" : "",
      "operationName" : "CreateInvalidation",
      "deprecated" : false,
      "input" : {
        "variableName" : "createInvalidationRequest",
        "variableType" : "CreateInvalidationRequest",
        "variableDeclarationType" : "CreateInvalidationRequest",
        "documentation" : "",
        "simpleType" : "CreateInvalidationRequest",
        "variableSetterType" : "CreateInvalidationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateInvalidationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "BatchTooLargeException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyInvalidationsInProgressException",
        "documentation" : "You have exceeded the maximum number of allowable InProgress invalidation batch requests, or invalidation objects."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createInvalidation",
      "syncReturnType" : "CreateInvalidationResult",
      "asyncReturnType" : "CreateInvalidationResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInvalidationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInvalidationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInvalidationRequest, CreateInvalidationResult>"
    },
    "CreateStreamingDistribution" : {
      "documentation" : "",
      "operationName" : "CreateStreamingDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "createStreamingDistributionRequest",
        "variableType" : "CreateStreamingDistributionRequest",
        "variableDeclarationType" : "CreateStreamingDistributionRequest",
        "documentation" : "",
        "simpleType" : "CreateStreamingDistributionRequest",
        "variableSetterType" : "CreateStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateStreamingDistributionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "StreamingDistributionAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyStreamingDistributionCNAMEsException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyStreamingDistributionsException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of streaming distributions allowed."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "createStreamingDistribution",
      "syncReturnType" : "CreateStreamingDistributionResult",
      "asyncReturnType" : "CreateStreamingDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingDistributionRequest, CreateStreamingDistributionResult>"
    },
    "DeleteCloudFrontOriginAccessIdentity" : {
      "documentation" : "",
      "operationName" : "DeleteCloudFrontOriginAccessIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteCloudFrontOriginAccessIdentityRequest",
        "variableType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "variableDeclarationType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "documentation" : "",
        "simpleType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "DeleteCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "CloudFrontOriginAccessIdentityInUseException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteCloudFrontOriginAccessIdentity",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCloudFrontOriginAccessIdentityRequest, Void>"
    },
    "DeleteDistribution" : {
      "documentation" : "",
      "operationName" : "DeleteDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteDistributionRequest",
        "variableType" : "DeleteDistributionRequest",
        "variableDeclarationType" : "DeleteDistributionRequest",
        "documentation" : "",
        "simpleType" : "DeleteDistributionRequest",
        "variableSetterType" : "DeleteDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "DistributionNotDisabledException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteDistribution",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDistributionRequest, Void>"
    },
    "DeleteStreamingDistribution" : {
      "documentation" : "",
      "operationName" : "DeleteStreamingDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteStreamingDistributionRequest",
        "variableType" : "DeleteStreamingDistributionRequest",
        "variableDeclarationType" : "DeleteStreamingDistributionRequest",
        "documentation" : "",
        "simpleType" : "DeleteStreamingDistributionRequest",
        "variableSetterType" : "DeleteStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "StreamingDistributionNotDisabledException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "deleteStreamingDistribution",
      "syncReturnType" : "void",
      "asyncReturnType" : "Void",
      "asyncFutureType" : "java.util.concurrent.Future<Void>",
      "asyncCallableType" : "java.util.concurrent.Callable<Void>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStreamingDistributionRequest, Void>"
    },
    "GetCloudFrontOriginAccessIdentity" : {
      "documentation" : "",
      "operationName" : "GetCloudFrontOriginAccessIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "getCloudFrontOriginAccessIdentityRequest",
        "variableType" : "GetCloudFrontOriginAccessIdentityRequest",
        "variableDeclarationType" : "GetCloudFrontOriginAccessIdentityRequest",
        "documentation" : "",
        "simpleType" : "GetCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "GetCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetCloudFrontOriginAccessIdentityResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getCloudFrontOriginAccessIdentity",
      "syncReturnType" : "GetCloudFrontOriginAccessIdentityResult",
      "asyncReturnType" : "GetCloudFrontOriginAccessIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetCloudFrontOriginAccessIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCloudFrontOriginAccessIdentityRequest, GetCloudFrontOriginAccessIdentityResult>"
    },
    "GetCloudFrontOriginAccessIdentityConfig" : {
      "documentation" : "",
      "operationName" : "GetCloudFrontOriginAccessIdentityConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "getCloudFrontOriginAccessIdentityConfigRequest",
        "variableType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "variableDeclarationType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "documentation" : "",
        "simpleType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "variableSetterType" : "GetCloudFrontOriginAccessIdentityConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetCloudFrontOriginAccessIdentityConfigResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getCloudFrontOriginAccessIdentityConfig",
      "syncReturnType" : "GetCloudFrontOriginAccessIdentityConfigResult",
      "asyncReturnType" : "GetCloudFrontOriginAccessIdentityConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetCloudFrontOriginAccessIdentityConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetCloudFrontOriginAccessIdentityConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCloudFrontOriginAccessIdentityConfigRequest, GetCloudFrontOriginAccessIdentityConfigResult>"
    },
    "GetDistribution" : {
      "documentation" : "",
      "operationName" : "GetDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDistributionRequest",
        "variableType" : "GetDistributionRequest",
        "variableDeclarationType" : "GetDistributionRequest",
        "documentation" : "",
        "simpleType" : "GetDistributionRequest",
        "variableSetterType" : "GetDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDistributionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getDistribution",
      "syncReturnType" : "GetDistributionResult",
      "asyncReturnType" : "GetDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDistributionRequest, GetDistributionResult>"
    },
    "GetDistributionConfig" : {
      "documentation" : "",
      "operationName" : "GetDistributionConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "getDistributionConfigRequest",
        "variableType" : "GetDistributionConfigRequest",
        "variableDeclarationType" : "GetDistributionConfigRequest",
        "documentation" : "",
        "simpleType" : "GetDistributionConfigRequest",
        "variableSetterType" : "GetDistributionConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetDistributionConfigResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getDistributionConfig",
      "syncReturnType" : "GetDistributionConfigResult",
      "asyncReturnType" : "GetDistributionConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetDistributionConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetDistributionConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDistributionConfigRequest, GetDistributionConfigResult>"
    },
    "GetInvalidation" : {
      "documentation" : "",
      "operationName" : "GetInvalidation",
      "deprecated" : false,
      "input" : {
        "variableName" : "getInvalidationRequest",
        "variableType" : "GetInvalidationRequest",
        "variableDeclarationType" : "GetInvalidationRequest",
        "documentation" : "",
        "simpleType" : "GetInvalidationRequest",
        "variableSetterType" : "GetInvalidationRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetInvalidationResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchInvalidationException",
        "documentation" : "The specified invalidation does not exist."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getInvalidation",
      "syncReturnType" : "GetInvalidationResult",
      "asyncReturnType" : "GetInvalidationResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetInvalidationResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetInvalidationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInvalidationRequest, GetInvalidationResult>"
    },
    "GetStreamingDistribution" : {
      "documentation" : "",
      "operationName" : "GetStreamingDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "getStreamingDistributionRequest",
        "variableType" : "GetStreamingDistributionRequest",
        "variableDeclarationType" : "GetStreamingDistributionRequest",
        "documentation" : "",
        "simpleType" : "GetStreamingDistributionRequest",
        "variableSetterType" : "GetStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetStreamingDistributionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getStreamingDistribution",
      "syncReturnType" : "GetStreamingDistributionResult",
      "asyncReturnType" : "GetStreamingDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingDistributionRequest, GetStreamingDistributionResult>"
    },
    "GetStreamingDistributionConfig" : {
      "documentation" : "",
      "operationName" : "GetStreamingDistributionConfig",
      "deprecated" : false,
      "input" : {
        "variableName" : "getStreamingDistributionConfigRequest",
        "variableType" : "GetStreamingDistributionConfigRequest",
        "variableDeclarationType" : "GetStreamingDistributionConfigRequest",
        "documentation" : "",
        "simpleType" : "GetStreamingDistributionConfigRequest",
        "variableSetterType" : "GetStreamingDistributionConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "GetStreamingDistributionConfigResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "getStreamingDistributionConfig",
      "syncReturnType" : "GetStreamingDistributionConfigResult",
      "asyncReturnType" : "GetStreamingDistributionConfigResult",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingDistributionConfigResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingDistributionConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingDistributionConfigRequest, GetStreamingDistributionConfigResult>"
    },
    "ListCloudFrontOriginAccessIdentities" : {
      "documentation" : "",
      "operationName" : "ListCloudFrontOriginAccessIdentities",
      "deprecated" : false,
      "input" : {
        "variableName" : "listCloudFrontOriginAccessIdentitiesRequest",
        "variableType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "variableDeclarationType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "documentation" : "",
        "simpleType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "variableSetterType" : "ListCloudFrontOriginAccessIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListCloudFrontOriginAccessIdentitiesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listCloudFrontOriginAccessIdentities",
      "syncReturnType" : "ListCloudFrontOriginAccessIdentitiesResult",
      "asyncReturnType" : "ListCloudFrontOriginAccessIdentitiesResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListCloudFrontOriginAccessIdentitiesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListCloudFrontOriginAccessIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCloudFrontOriginAccessIdentitiesRequest, ListCloudFrontOriginAccessIdentitiesResult>"
    },
    "ListDistributions" : {
      "documentation" : "",
      "operationName" : "ListDistributions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDistributionsRequest",
        "variableType" : "ListDistributionsRequest",
        "variableDeclarationType" : "ListDistributionsRequest",
        "documentation" : "",
        "simpleType" : "ListDistributionsRequest",
        "variableSetterType" : "ListDistributionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDistributionsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listDistributions",
      "syncReturnType" : "ListDistributionsResult",
      "asyncReturnType" : "ListDistributionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDistributionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDistributionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDistributionsRequest, ListDistributionsResult>"
    },
    "ListDistributionsByWebACLId" : {
      "documentation" : "",
      "operationName" : "ListDistributionsByWebACLId",
      "deprecated" : false,
      "input" : {
        "variableName" : "listDistributionsByWebACLIdRequest",
        "variableType" : "ListDistributionsByWebACLIdRequest",
        "variableDeclarationType" : "ListDistributionsByWebACLIdRequest",
        "documentation" : "",
        "simpleType" : "ListDistributionsByWebACLIdRequest",
        "variableSetterType" : "ListDistributionsByWebACLIdRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListDistributionsByWebACLIdResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listDistributionsByWebACLId",
      "syncReturnType" : "ListDistributionsByWebACLIdResult",
      "asyncReturnType" : "ListDistributionsByWebACLIdResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListDistributionsByWebACLIdResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListDistributionsByWebACLIdResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDistributionsByWebACLIdRequest, ListDistributionsByWebACLIdResult>"
    },
    "ListInvalidations" : {
      "documentation" : "",
      "operationName" : "ListInvalidations",
      "deprecated" : false,
      "input" : {
        "variableName" : "listInvalidationsRequest",
        "variableType" : "ListInvalidationsRequest",
        "variableDeclarationType" : "ListInvalidationsRequest",
        "documentation" : "",
        "simpleType" : "ListInvalidationsRequest",
        "variableSetterType" : "ListInvalidationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListInvalidationsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listInvalidations",
      "syncReturnType" : "ListInvalidationsResult",
      "asyncReturnType" : "ListInvalidationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvalidationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvalidationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvalidationsRequest, ListInvalidationsResult>"
    },
    "ListStreamingDistributions" : {
      "documentation" : "",
      "operationName" : "ListStreamingDistributions",
      "deprecated" : false,
      "input" : {
        "variableName" : "listStreamingDistributionsRequest",
        "variableType" : "ListStreamingDistributionsRequest",
        "variableDeclarationType" : "ListStreamingDistributionsRequest",
        "documentation" : "",
        "simpleType" : "ListStreamingDistributionsRequest",
        "variableSetterType" : "ListStreamingDistributionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListStreamingDistributionsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "listStreamingDistributions",
      "syncReturnType" : "ListStreamingDistributionsResult",
      "asyncReturnType" : "ListStreamingDistributionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListStreamingDistributionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListStreamingDistributionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStreamingDistributionsRequest, ListStreamingDistributionsResult>"
    },
    "UpdateCloudFrontOriginAccessIdentity" : {
      "documentation" : "",
      "operationName" : "UpdateCloudFrontOriginAccessIdentity",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateCloudFrontOriginAccessIdentityRequest",
        "variableType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "variableDeclarationType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "documentation" : "",
        "simpleType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "UpdateCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateCloudFrontOriginAccessIdentityResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "Origin and CallerReference cannot be updated."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateCloudFrontOriginAccessIdentity",
      "syncReturnType" : "UpdateCloudFrontOriginAccessIdentityResult",
      "asyncReturnType" : "UpdateCloudFrontOriginAccessIdentityResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCloudFrontOriginAccessIdentityResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCloudFrontOriginAccessIdentityRequest, UpdateCloudFrontOriginAccessIdentityResult>"
    },
    "UpdateDistribution" : {
      "documentation" : "",
      "operationName" : "UpdateDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateDistributionRequest",
        "variableType" : "UpdateDistributionRequest",
        "variableDeclarationType" : "UpdateDistributionRequest",
        "documentation" : "",
        "simpleType" : "UpdateDistributionRequest",
        "variableSetterType" : "UpdateDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateDistributionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "Origin and CallerReference cannot be updated."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "TooManyDistributionCNAMEsException",
        "documentation" : "Your request contains more CNAMEs than are allowed per distribution."
      }, {
        "exceptionName" : "InvalidDefaultRootObjectException",
        "documentation" : "The default root object file name is too big or contains an invalid character."
      }, {
        "exceptionName" : "InvalidRelativePathException",
        "documentation" : "The relative path is too big, is not URL-encoded, or does not begin with a slash (/)."
      }, {
        "exceptionName" : "InvalidErrorCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidResponseCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "InvalidViewerCertificateException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidMinimumProtocolVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidRequiredProtocolException",
        "documentation" : "This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration."
      }, {
        "exceptionName" : "NoSuchOriginException",
        "documentation" : "No origin exists with the specified Origin Id."
      }, {
        "exceptionName" : "TooManyOriginsException",
        "documentation" : "You cannot create anymore origins for the distribution."
      }, {
        "exceptionName" : "TooManyCacheBehaviorsException",
        "documentation" : "You cannot create anymore cache behaviors for the distribution."
      }, {
        "exceptionName" : "TooManyCookieNamesInWhiteListException",
        "documentation" : "Your request contains more cookie names in the whitelist than are allowed per cache behavior."
      }, {
        "exceptionName" : "InvalidForwardCookiesException",
        "documentation" : "Your request contains forward cookies option which doesn't match with the expectation for the whitelisted list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected."
      }, {
        "exceptionName" : "TooManyHeadersInForwardedValuesException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidHeadersForS3OriginException",
        "documentation" : null
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "You cannot create anymore custom ssl certificates."
      }, {
        "exceptionName" : "InvalidLocationCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidGeoRestrictionParameterException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidTTLOrderException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyOriginCustomHeadersException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateDistribution",
      "syncReturnType" : "UpdateDistributionResult",
      "asyncReturnType" : "UpdateDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDistributionRequest, UpdateDistributionResult>"
    },
    "UpdateStreamingDistribution" : {
      "documentation" : "",
      "operationName" : "UpdateStreamingDistribution",
      "deprecated" : false,
      "input" : {
        "variableName" : "updateStreamingDistributionRequest",
        "variableType" : "UpdateStreamingDistributionRequest",
        "variableDeclarationType" : "UpdateStreamingDistributionRequest",
        "documentation" : "",
        "simpleType" : "UpdateStreamingDistributionRequest",
        "variableSetterType" : "UpdateStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "UpdateStreamingDistributionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "Origin and CallerReference cannot be updated."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "TooManyStreamingDistributionCNAMEsException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "methodName" : "updateStreamingDistribution",
      "syncReturnType" : "UpdateStreamingDistributionResult",
      "asyncReturnType" : "UpdateStreamingDistributionResult",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStreamingDistributionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStreamingDistributionRequest, UpdateStreamingDistributionResult>"
    }
  },
  "shapes" : {
    "GetCloudFrontOriginAccessIdentityRequest" : {
      "c2jName" : "GetCloudFrontOriginAccessIdentityRequest",
      "documentation" : "",
      "shapeName" : "GetCloudFrontOriginAccessIdentityRequest",
      "deprecated" : false,
      "required" : [ "Id" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "Id",
        "c2jName" : "Id",
        "c2jShape" : "string",
        "variable" : {
          "variableName" : "id",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "id",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Id",
          "marshallLocationName" : "Id",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "flattened" : false,
          "header" : false,
          "uri" : true,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param id */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "getCloudFrontOriginAccessIdentityRequest",
        "variableType" : "GetCloudFrontOriginAccessIdentityRequest",
        "variableDeclarationType" : "GetCloudFrontOriginAccessIdentityRequest",
        "documentation" : null,
        "simpleType" : "GetCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "GetCloudFrontOriginAccessIdentityRequest"
      },
      "marshaller" : {
        "action" : "GetCloudFrontOriginAccessIdentity2016_01_13",
        "verb" : "GET",
        "target" : null,
        "requestUri" : "/2016-01-13/origin-access-identity/cloudfront/{Id}",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Id" : {
          "documentation" : "",
          "name" : "Id",
          "c2jName" : "Id",
          "c2jShape" : "string",
          "variable" : {
            "variableName" : "id",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "id",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Id",
            "marshallLocationName" : "Id",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "flattened" : false,
            "header" : false,
            "uri" : true,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param id */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "CreateStreamingDistributionRequest" : {
      "c2jName" : "CreateStreamingDistributionRequest",
      "documentation" : "",
      "shapeName" : "CreateStreamingDistributionRequest",
      "deprecated" : false,
      "required" : [ "StreamingDistributionConfig" ],
      "hasPayloadMember" : true,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "StreamingDistributionConfig",
        "c2jName" : "StreamingDistributionConfig",
        "c2jShape" : "StreamingDistributionConfig",
        "variable" : {
          "variableName" : "streamingDistributionConfig",
          "variableType" : "StreamingDistributionConfig",
          "variableDeclarationType" : "StreamingDistributionConfig",
          "documentation" : "",
          "simpleType" : "StreamingDistributionConfig",
          "variableSetterType" : "StreamingDistributionConfig"
        },
        "setterModel" : {
          "variableName" : "streamingDistributionConfig",
          "variableType" : "StreamingDistributionConfig",
          "variableDeclarationType" : "StreamingDistributionConfig",
          "documentation" : "",
          "simpleType" : "StreamingDistributionConfig",
          "variableSetterType" : "StreamingDistributionConfig"
        },
        "getterModel" : {
          "returnType" : "StreamingDistributionConfig",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "StreamingDistributionConfig",
          "marshallLocationName" : "StreamingDistributionConfig",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : true,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : "http://cloudfront.amazonaws.com/doc/2016-01-13/",
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param streamingDistributionConfig */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param streamingDistributionConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param streamingDistributionConfig \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "createStreamingDistributionRequest",
        "variableType" : "CreateStreamingDistributionRequest",
        "variableDeclarationType" : "CreateStreamingDistributionRequest",
        "documentation" : null,
        "simpleType" : "CreateStreamingDistributionRequest",
        "variableSetterType" : "CreateStreamingDistributionRequest"
      },
      "marshaller" : {
        "action" : "CreateStreamingDistribution2016_01_13",
        "verb" : "POST",
        "target" : null,
        "requestUri" : "/2016-01-13/streaming-distribution",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "StreamingDistributionConfig" : {
          "documentation" : "",
          "name" : "StreamingDistributionConfig",
          "c2jName" : "StreamingDistributionConfig",
          "c2jShape" : "StreamingDistributionConfig",
          "variable" : {
            "variableName" : "streamingDistributionConfig",
            "variableType" : "StreamingDistributionConfig",
            "variableDeclarationType" : "StreamingDistributionConfig",
            "documentation" : "",
            "simpleType" : "StreamingDistributionConfig",
            "variableSetterType" : "StreamingDistributionConfig"
          },
          "setterModel" : {
            "variableName" : "streamingDistributionConfig",
            "variableType" : "StreamingDistributionConfig",
            "variableDeclarationType" : "StreamingDistributionConfig",
            "documentation" : "",
            "simpleType" : "StreamingDistributionConfig",
            "variableSetterType" : "StreamingDistributionConfig"
          },
          "getterModel" : {
            "returnType" : "StreamingDistributionConfig",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "StreamingDistributionConfig",
            "marshallLocationName" : "StreamingDistributionConfig",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : true,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : "http://cloudfront.amazonaws.com/doc/2016-01-13/",
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param streamingDistributionConfig */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param streamingDistributionConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param streamingDistributionConfig \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "Method" : {
      "c2jName" : "Method",
      "documentation" : "",
      "shapeName" : "Method",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : null,
      "enums" : [ {
        "name" : "GET",
        "value" : "GET"
      }, {
        "name" : "HEAD",
        "value" : "HEAD"
      }, {
        "name" : "POST",
        "value" : "POST"
      }, {
        "name" : "PUT",
        "value" : "PUT"
      }, {
        "name" : "PATCH",
        "value" : "PATCH"
      }, {
        "name" : "OPTIONS",
        "value" : "OPTIONS"
      }, {
        "name" : "DELETE",
        "value" : "DELETE"
      } ],
      "variable" : {
        "variableName" : "method",
        "variableType" : "Method",
        "variableDeclarationType" : "Method",
        "documentation" : null,
        "simpleType" : "Method",
        "variableSetterType" : "Method"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "NoSuchInvalidationException" : {
      "c2jName" : "NoSuchInvalidation",
      "documentation" : "The specified invalidation does not exist.",
      "shapeName" : "NoSuchInvalidationException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "noSuchInvalidationException",
        "variableType" : "NoSuchInvalidationException",
        "variableDeclarationType" : "NoSuchInvalidationException",
        "documentation" : null,
        "simpleType" : "NoSuchInvalidationException",
        "variableSetterType" : "NoSuchInvalidationException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "NoSuchInvalidation",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "OriginProtocolPolicy" : {
      "c2jName" : "OriginProtocolPolicy",
      "documentation" : "",
      "shapeName" : "OriginProtocolPolicy",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : null,
      "enums" : [ {
        "name" : "HttpOnly",
        "value" : "http-only"
      }, {
        "name" : "MatchViewer",
        "value" : "match-viewer"
      }, {
        "name" : "HttpsOnly",
        "value" : "https-only"
      } ],
      "variable" : {
        "variableName" : "originProtocolPolicy",
        "variableType" : "OriginProtocolPolicy",
        "variableDeclarationType" : "OriginProtocolPolicy",
        "documentation" : null,
        "simpleType" : "OriginProtocolPolicy",
        "variableSetterType" : "OriginProtocolPolicy"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "StreamingDistributionAlreadyExistsException" : {
      "c2jName" : "StreamingDistributionAlreadyExists",
      "documentation" : "",
      "shapeName" : "StreamingDistributionAlreadyExistsException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "streamingDistributionAlreadyExistsException",
        "variableType" : "StreamingDistributionAlreadyExistsException",
        "variableDeclarationType" : "StreamingDistributionAlreadyExistsException",
        "documentation" : null,
        "simpleType" : "StreamingDistributionAlreadyExistsException",
        "variableSetterType" : "StreamingDistributionAlreadyExistsException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "StreamingDistributionAlreadyExists",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ForwardedValues" : {
      "c2jName" : "ForwardedValues",
      "documentation" : "",
      "shapeName" : "ForwardedValues",
      "deprecated" : false,
      "required" : [ "QueryString", "Cookies" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "QueryString",
        "c2jName" : "QueryString",
        "c2jShape" : "boolean",
        "variable" : {
          "variableName" : "queryString",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "queryString",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "QueryString",
          "marshallLocationName" : "QueryString",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param queryString */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param queryString \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param queryString \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "Cookies",
        "c2jName" : "Cookies",
        "c2jShape" : "CookiePreference",
        "variable" : {
          "variableName" : "cookies",
          "variableType" : "CookiePreference",
          "variableDeclarationType" : "CookiePreference",
          "documentation" : "",
          "simpleType" : "CookiePreference",
          "variableSetterType" : "CookiePreference"
        },
        "setterModel" : {
          "variableName" : "cookies",
          "variableType" : "CookiePreference",
          "variableDeclarationType" : "CookiePreference",
          "documentation" : "",
          "simpleType" : "CookiePreference",
          "variableSetterType" : "CookiePreference"
        },
        "getterModel" : {
          "returnType" : "CookiePreference",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Cookies",
          "marshallLocationName" : "Cookies",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param cookies */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param cookies \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param cookies \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "Headers",
        "c2jName" : "Headers",
        "c2jShape" : "Headers",
        "variable" : {
          "variableName" : "headers",
          "variableType" : "Headers",
          "variableDeclarationType" : "Headers",
          "documentation" : "",
          "simpleType" : "Headers",
          "variableSetterType" : "Headers"
        },
        "setterModel" : {
          "variableName" : "headers",
          "variableType" : "Headers",
          "variableDeclarationType" : "Headers",
          "documentation" : "",
          "simpleType" : "Headers",
          "variableSetterType" : "Headers"
        },
        "getterModel" : {
          "returnType" : "Headers",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Headers",
          "marshallLocationName" : "Headers",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param headers */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param headers \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param headers \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "forwardedValues",
        "variableType" : "ForwardedValues",
        "variableDeclarationType" : "ForwardedValues",
        "documentation" : null,
        "simpleType" : "ForwardedValues",
        "variableSetterType" : "ForwardedValues"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "Headers" : {
          "documentation" : "",
          "name" : "Headers",
          "c2jName" : "Headers",
          "c2jShape" : "Headers",
          "variable" : {
            "variableName" : "headers",
            "variableType" : "Headers",
            "variableDeclarationType" : "Headers",
            "documentation" : "",
            "simpleType" : "Headers",
            "variableSetterType" : "Headers"
          },
          "setterModel" : {
            "variableName" : "headers",
            "variableType" : "Headers",
            "variableDeclarationType" : "Headers",
            "documentation" : "",
            "simpleType" : "Headers",
            "variableSetterType" : "Headers"
          },
          "getterModel" : {
            "returnType" : "Headers",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Headers",
            "marshallLocationName" : "Headers",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param headers */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param headers \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param headers \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Cookies" : {
          "documentation" : "",
          "name" : "Cookies",
          "c2jName" : "Cookies",
          "c2jShape" : "CookiePreference",
          "variable" : {
            "variableName" : "cookies",
            "variableType" : "CookiePreference",
            "variableDeclarationType" : "CookiePreference",
            "documentation" : "",
            "simpleType" : "CookiePreference",
            "variableSetterType" : "CookiePreference"
          },
          "setterModel" : {
            "variableName" : "cookies",
            "variableType" : "CookiePreference",
            "variableDeclarationType" : "CookiePreference",
            "documentation" : "",
            "simpleType" : "CookiePreference",
            "variableSetterType" : "CookiePreference"
          },
          "getterModel" : {
            "returnType" : "CookiePreference",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Cookies",
            "marshallLocationName" : "Cookies",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param cookies */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param cookies \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param cookies \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "QueryString" : {
          "documentation" : "",
          "name" : "QueryString",
          "c2jName" : "QueryString",
          "c2jShape" : "boolean",
          "variable" : {
            "variableName" : "queryString",
            "variableType" : "Boolean",
            "variableDeclarationType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "setterModel" : {
            "variableName" : "queryString",
            "variableType" : "Boolean",
            "variableDeclarationType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "QueryString",
            "marshallLocationName" : "QueryString",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param queryString */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param queryString \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param queryString \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "Origin" : {
      "c2jName" : "Origin",
      "documentation" : "",
      "shapeName" : "Origin",
      "deprecated" : false,
      "required" : [ "Id", "DomainName" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "Id",
        "c2jName" : "Id",
        "c2jShape" : "string",
        "variable" : {
          "variableName" : "id",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "id",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "Id",
          "marshallLocationName" : "Id",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param id */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "DomainName",
        "c2jName" : "DomainName",
        "c2jShape" : "string",
        "variable" : {
          "variableName" : "domainName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "domainName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "DomainName",
          "marshallLocationName" : "DomainName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param domainName */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param domainName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param domainName \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "OriginPath",
        "c2jName" : "OriginPath",
        "c2jShape" : "string",
        "variable" : {
          "variableName" : "originPath",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "originPath",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "OriginPath",
          "marshallLocationName" : "OriginPath",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param originPath */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param originPath \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param originPath \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "CustomHeaders",
        "c2jName" : "CustomHeaders",
        "c2jShape" : "CustomHeaders",
        "variable" : {
          "variableName" : "customHeaders",
          "variableType" : "CustomHeaders",
          "variableDeclarationType" : "CustomHeaders",
          "documentation" : "",
          "simpleType" : "CustomHeaders",
          "variableSetterType" : "CustomHeaders"
        },
        "setterModel" : {
          "variableName" : "customHeaders",
          "variableType" : "CustomHeaders",
          "variableDeclarationType" : "CustomHeaders",
          "documentation" : "",
          "simpleType" : "CustomHeaders",
          "variableSetterType" : "CustomHeaders"
        },
        "getterModel" : {
          "returnType" : "CustomHeaders",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CustomHeaders",
          "marshallLocationName" : "CustomHeaders",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param customHeaders */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param customHeaders \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param customHeaders \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "S3OriginConfig",
        "c2jName" : "S3OriginConfig",
        "c2jShape" : "S3OriginConfig",
        "variable" : {
          "variableName" : "s3OriginConfig",
          "variableType" : "S3OriginConfig",
          "variableDeclarationType" : "S3OriginConfig",
          "documentation" : "",
          "simpleType" : "S3OriginConfig",
          "variableSetterType" : "S3OriginConfig"
        },
        "setterModel" : {
          "variableName" : "s3OriginConfig",
          "variableType" : "S3OriginConfig",
          "variableDeclarationType" : "S3OriginConfig",
          "documentation" : "",
          "simpleType" : "S3OriginConfig",
          "variableSetterType" : "S3OriginConfig"
        },
        "getterModel" : {
          "returnType" : "S3OriginConfig",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "S3OriginConfig",
          "marshallLocationName" : "S3OriginConfig",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param s3OriginConfig */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param s3OriginConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param s3OriginConfig \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "CustomOriginConfig",
        "c2jName" : "CustomOriginConfig",
        "c2jShape" : "CustomOriginConfig",
        "variable" : {
          "variableName" : "customOriginConfig",
          "variableType" : "CustomOriginConfig",
          "variableDeclarationType" : "CustomOriginConfig",
          "documentation" : "",
          "simpleType" : "CustomOriginConfig",
          "variableSetterType" : "CustomOriginConfig"
        },
        "setterModel" : {
          "variableName" : "customOriginConfig",
          "variableType" : "CustomOriginConfig",
          "variableDeclarationType" : "CustomOriginConfig",
          "documentation" : "",
          "simpleType" : "CustomOriginConfig",
          "variableSetterType" : "CustomOriginConfig"
        },
        "getterModel" : {
          "returnType" : "CustomOriginConfig",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "CustomOriginConfig",
          "marshallLocationName" : "CustomOriginConfig",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "simple" : false,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param customOriginConfig */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param customOriginConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param customOriginConfig \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "origin",
        "variableType" : "Origin",
        "variableDeclarationType" : "Origin",
        "documentation" : null,
        "simpleType" : "Origin",
        "variableSetterType" : "Origin"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "CustomOriginConfig" : {
          "documentation" : "",
          "name" : "CustomOriginConfig",
          "c2jName" : "CustomOriginConfig",
          "c2jShape" : "CustomOriginConfig",
          "variable" : {
            "variableName" : "customOriginConfig",
            "variableType" : "CustomOriginConfig",
            "variableDeclarationType" : "CustomOriginConfig",
            "documentation" : "",
            "simpleType" : "CustomOriginConfig",
            "variableSetterType" : "CustomOriginConfig"
          },
          "setterModel" : {
            "variableName" : "customOriginConfig",
            "variableType" : "CustomOriginConfig",
            "variableDeclarationType" : "CustomOriginConfig",
            "documentation" : "",
            "simpleType" : "CustomOriginConfig",
            "variableSetterType" : "CustomOriginConfig"
          },
          "getterModel" : {
            "returnType" : "CustomOriginConfig",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CustomOriginConfig",
            "marshallLocationName" : "CustomOriginConfig",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param customOriginConfig */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param customOriginConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param customOriginConfig \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "CustomHeaders" : {
          "documentation" : "",
          "name" : "CustomHeaders",
          "c2jName" : "CustomHeaders",
          "c2jShape" : "CustomHeaders",
          "variable" : {
            "variableName" : "customHeaders",
            "variableType" : "CustomHeaders",
            "variableDeclarationType" : "CustomHeaders",
            "documentation" : "",
            "simpleType" : "CustomHeaders",
            "variableSetterType" : "CustomHeaders"
          },
          "setterModel" : {
            "variableName" : "customHeaders",
            "variableType" : "CustomHeaders",
            "variableDeclarationType" : "CustomHeaders",
            "documentation" : "",
            "simpleType" : "CustomHeaders",
            "variableSetterType" : "CustomHeaders"
          },
          "getterModel" : {
            "returnType" : "CustomHeaders",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "CustomHeaders",
            "marshallLocationName" : "CustomHeaders",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : false,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param customHeaders */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param customHeaders \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param customHeaders \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "DomainName" : {
          "documentation" : "",
          "name" : "DomainName",
          "c2jName" : "DomainName",
          "c2jShape" : "string",
          "variable" : {
            "variableName" : "domainName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "domainName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "DomainName",
            "marshallLocationName" : "DomainName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param domainName */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param domainName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param domainName \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Id" : {
          "documentation" : "",
          "name" : "Id",
          "c2jName" : "Id",
          "c2jShape" : "string",
          "variable" : {
            "variableName" : "id",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "setterModel" : {
            "variableName" : "id",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "Id",
            "marshallLocationName" : "Id",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param id */",
          "getterDocumentation" : "/**\n@return */",
[...]
