{
  "customizationConfig" : {
    "additionalShapeConstructors" : {
      "ActiveTrustedSigners" : {
        "constructorForms" : [ [ "Items" ] ]
      },
      "CloudFrontOriginAccessIdentity" : {
        "constructorForms" : [ [ "Id", "S3CanonicalUserId" ] ]
      },
      "CloudFrontOriginAccessIdentityConfig" : {
        "constructorForms" : [ [ "CallerReference" ] ]
      },
      "CreateCloudFrontOriginAccessIdentityRequest" : {
        "constructorForms" : [ [ "CloudFrontOriginAccessIdentityConfig" ] ]
      },
      "CreateDistributionRequest" : {
        "constructorForms" : [ [ "DistributionConfig" ] ]
      },
      "CreateInvalidationRequest" : {
        "constructorForms" : [ [ "DistributionId", "InvalidationBatch" ] ]
      },
      "CreateStreamingDistributionRequest" : {
        "constructorForms" : [ [ "StreamingDistributionConfig" ] ]
      },
      "DeleteCloudFrontOriginAccessIdentityRequest" : {
        "constructorForms" : [ [ "Id", "IfMatch" ] ]
      },
      "DeleteDistributionRequest" : {
        "constructorForms" : [ [ "Id", "IfMatch" ] ]
      },
      "DeleteStreamingDistributionRequest" : {
        "constructorForms" : [ [ "Id", "IfMatch" ] ]
      },
      "Distribution" : {
        "constructorForms" : [ [ "Id", "Status", "DomainName" ] ]
      },
      "DistributionConfig" : {
        "constructorForms" : [ [ "CallerReference", "Enabled" ] ]
      },
      "GeoRestriction" : {
        "constructorForms" : [ [ "RestrictionType" ] ]
      },
      "GetCloudFrontOriginAccessIdentityConfigRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "GetCloudFrontOriginAccessIdentityRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "GetDistributionConfigRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "GetDistributionRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "GetInvalidationRequest" : {
        "constructorForms" : [ [ "DistributionId", "Id" ] ]
      },
      "GetStreamingDistributionConfigRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "GetStreamingDistributionRequest" : {
        "constructorForms" : [ [ "Id" ] ]
      },
      "InvalidationBatch" : {
        "constructorForms" : [ [ "Paths", "CallerReference" ], [ "CallerReference" ] ]
      },
      "ListInvalidationsRequest" : {
        "constructorForms" : [ [ "DistributionId" ] ]
      },
      "LoggingConfig" : {
        "constructorForms" : [ [ "Bucket", "Prefix" ] ]
      },
      "Restrictions" : {
        "constructorForms" : [ [ "GeoRestriction" ] ]
      },
      "S3Origin" : {
        "constructorForms" : [ [ "DomainName" ], [ "DomainName", "OriginAccessIdentity" ] ]
      },
      "StreamingDistributionConfig" : {
        "constructorForms" : [ [ "CallerReference", "S3Origin", "Enabled" ] ]
      },
      "TrustedSigners" : {
        "constructorForms" : [ [ "Items" ] ]
      },
      "UpdateCloudFrontOriginAccessIdentityRequest" : {
        "constructorForms" : [ [ "CloudFrontOriginAccessIdentityConfig", "Id", "IfMatch" ] ]
      },
      "UpdateDistributionRequest" : {
        "constructorForms" : [ [ "DistributionConfig", "Id", "IfMatch" ] ]
      },
      "UpdateStreamingDistributionRequest" : {
        "constructorForms" : [ [ "StreamingDistributionConfig", "Id", "IfMatch" ] ]
      }
    },
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : "CloudFront",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-09-07",
    "asyncClient" : "AmazonCloudFrontAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudFrontAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudFrontAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCloudFrontModuleInjector",
    "defaultEndpoint" : "https://cloudfront.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "cloudfront.amazonaws.com/",
    "documentation" : "<fullname>Amazon CloudFront</fullname> <p>Amazon CloudFront is a global content delivery network (CDN) service that accelerates delivery of your websites, APIs, video content or other web assets. It integrates with other Amazon Web Services products to give developers and businesses an easy way to accelerate content to end users with no minimum usage commitments.</p>",
    "endpointPrefix" : "cloudfront",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.cloudfront",
    "packagePath" : "com/amazonaws/services/cloudfront",
    "protocol" : "rest-xml",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "serviceAbbreviation" : "CloudFront",
    "serviceFullName" : "Amazon CloudFront",
    "serviceName" : "CloudFront",
    "signingName" : "cloudfront",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudfront.smoketests",
    "syncClient" : "AmazonCloudFrontClient",
    "syncClientBuilderClassName" : "AmazonCloudFrontClientBuilder",
    "syncInterface" : "AmazonCloudFront",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "CreateCloudFrontOriginAccessIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCloudFrontOriginAccessIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCloudFrontOriginAccessIdentityRequest, CreateCloudFrontOriginAccessIdentityResult>",
      "asyncReturnType" : "CreateCloudFrontOriginAccessIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new origin access identity.",
      "exceptions" : [ {
        "exceptionName" : "CloudFrontOriginAccessIdentityAlreadyExistsException",
        "documentation" : "If the CallerReference is a value you already sent in a previous request to create an identity but the content of the CloudFrontOriginAccessIdentityConfig is different from the original request, CloudFront returns a CloudFrontOriginAccessIdentityAlreadyExists error."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyCloudFrontOriginAccessIdentitiesException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of origin access identities allowed."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "variableName" : "createCloudFrontOriginAccessIdentityRequest",
        "variableType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "documentation" : "The request to create a new origin access identity.",
        "simpleType" : "CreateCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "CreateCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCloudFrontOriginAccessIdentity",
      "operationName" : "CreateCloudFrontOriginAccessIdentity",
      "returnType" : {
        "returnType" : "CreateCloudFrontOriginAccessIdentityResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "CreateCloudFrontOriginAccessIdentityResult"
    },
    "CreateDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDistributionRequest, CreateDistributionResult>",
      "asyncReturnType" : "CreateDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new distribution.",
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "DistributionAlreadyExistsException",
        "documentation" : "The caller reference you attempted to create the distribution with is associated with another distribution."
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "InvalidViewerCertificateException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidMinimumProtocolVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyDistributionCNAMEsException",
        "documentation" : "Your request contains more CNAMEs than are allowed per distribution."
      }, {
        "exceptionName" : "TooManyDistributionsException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of distributions allowed."
      }, {
        "exceptionName" : "InvalidDefaultRootObjectException",
        "documentation" : "The default root object file name is too big or contains an invalid character."
      }, {
        "exceptionName" : "InvalidRelativePathException",
        "documentation" : "The relative path is too big, is not URL-encoded, or does not begin with a slash (/)."
      }, {
        "exceptionName" : "InvalidErrorCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidResponseCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidRequiredProtocolException",
        "documentation" : "This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration."
      }, {
        "exceptionName" : "NoSuchOriginException",
        "documentation" : "No origin exists with the specified Origin Id."
      }, {
        "exceptionName" : "TooManyOriginsException",
        "documentation" : "You cannot create anymore origins for the distribution."
      }, {
        "exceptionName" : "TooManyCacheBehaviorsException",
        "documentation" : "You cannot create anymore cache behaviors for the distribution."
      }, {
        "exceptionName" : "TooManyCookieNamesInWhiteListException",
        "documentation" : "Your request contains more cookie names in the whitelist than are allowed per cache behavior."
      }, {
        "exceptionName" : "InvalidForwardCookiesException",
        "documentation" : "Your request contains forward cookies option which doesn't match with the expectation for the whitelisted list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected."
      }, {
        "exceptionName" : "TooManyHeadersInForwardedValuesException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidHeadersForS3OriginException",
        "documentation" : null
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "You cannot create anymore custom ssl certificates."
      }, {
        "exceptionName" : "InvalidLocationCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidGeoRestrictionParameterException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidProtocolSettingsException",
        "documentation" : "You cannot specify SSLv3 as the minimum protocol version if you only want to support only clients that Support Server Name Indication (SNI)."
      }, {
        "exceptionName" : "InvalidTTLOrderException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyOriginCustomHeadersException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyQueryStringParametersException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidQueryStringParametersException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDistributionRequest",
        "variableName" : "createDistributionRequest",
        "variableType" : "CreateDistributionRequest",
        "documentation" : "The request to create a new distribution.",
        "simpleType" : "CreateDistributionRequest",
        "variableSetterType" : "CreateDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDistribution",
      "operationName" : "CreateDistribution",
      "returnType" : {
        "returnType" : "CreateDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "CreateDistributionResult"
    },
    "CreateDistributionWithTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDistributionWithTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDistributionWithTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDistributionWithTagsRequest, CreateDistributionWithTagsResult>",
      "asyncReturnType" : "CreateDistributionWithTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new distribution with tags.",
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "DistributionAlreadyExistsException",
        "documentation" : "The caller reference you attempted to create the distribution with is associated with another distribution."
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "InvalidViewerCertificateException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidMinimumProtocolVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyDistributionCNAMEsException",
        "documentation" : "Your request contains more CNAMEs than are allowed per distribution."
      }, {
        "exceptionName" : "TooManyDistributionsException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of distributions allowed."
      }, {
        "exceptionName" : "InvalidDefaultRootObjectException",
        "documentation" : "The default root object file name is too big or contains an invalid character."
      }, {
        "exceptionName" : "InvalidRelativePathException",
        "documentation" : "The relative path is too big, is not URL-encoded, or does not begin with a slash (/)."
      }, {
        "exceptionName" : "InvalidErrorCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidResponseCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidRequiredProtocolException",
        "documentation" : "This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration."
      }, {
        "exceptionName" : "NoSuchOriginException",
        "documentation" : "No origin exists with the specified Origin Id."
      }, {
        "exceptionName" : "TooManyOriginsException",
        "documentation" : "You cannot create anymore origins for the distribution."
      }, {
        "exceptionName" : "TooManyCacheBehaviorsException",
        "documentation" : "You cannot create anymore cache behaviors for the distribution."
      }, {
        "exceptionName" : "TooManyCookieNamesInWhiteListException",
        "documentation" : "Your request contains more cookie names in the whitelist than are allowed per cache behavior."
      }, {
        "exceptionName" : "InvalidForwardCookiesException",
        "documentation" : "Your request contains forward cookies option which doesn't match with the expectation for the whitelisted list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected."
      }, {
        "exceptionName" : "TooManyHeadersInForwardedValuesException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidHeadersForS3OriginException",
        "documentation" : null
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "You cannot create anymore custom ssl certificates."
      }, {
        "exceptionName" : "InvalidLocationCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidGeoRestrictionParameterException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidProtocolSettingsException",
        "documentation" : "You cannot specify SSLv3 as the minimum protocol version if you only want to support only clients that Support Server Name Indication (SNI)."
      }, {
        "exceptionName" : "InvalidTTLOrderException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyOriginCustomHeadersException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidTaggingException",
        "documentation" : "The specified tagging for a CloudFront resource is invalid. For more information, see the error text."
      }, {
        "exceptionName" : "TooManyQueryStringParametersException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidQueryStringParametersException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDistributionWithTagsRequest",
        "variableName" : "createDistributionWithTagsRequest",
        "variableType" : "CreateDistributionWithTagsRequest",
        "documentation" : "The request to create a new distribution with tags",
        "simpleType" : "CreateDistributionWithTagsRequest",
        "variableSetterType" : "CreateDistributionWithTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDistributionWithTags",
      "operationName" : "CreateDistributionWithTags",
      "returnType" : {
        "returnType" : "CreateDistributionWithTagsResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "CreateDistributionWithTagsResult"
    },
    "CreateInvalidation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInvalidationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInvalidationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInvalidationRequest, CreateInvalidationResult>",
      "asyncReturnType" : "CreateInvalidationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new invalidation.",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "BatchTooLargeException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyInvalidationsInProgressException",
        "documentation" : "You have exceeded the maximum number of allowable InProgress invalidation batch requests, or invalidation objects."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateInvalidationRequest",
        "variableName" : "createInvalidationRequest",
        "variableType" : "CreateInvalidationRequest",
        "documentation" : "The request to create an invalidation.",
        "simpleType" : "CreateInvalidationRequest",
        "variableSetterType" : "CreateInvalidationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInvalidation",
      "operationName" : "CreateInvalidation",
      "returnType" : {
        "returnType" : "CreateInvalidationResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "CreateInvalidationResult"
    },
    "CreateStreamingDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingDistributionRequest, CreateStreamingDistributionResult>",
      "asyncReturnType" : "CreateStreamingDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new streaming distribution.",
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "StreamingDistributionAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyStreamingDistributionCNAMEsException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyStreamingDistributionsException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of streaming distributions allowed."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStreamingDistributionRequest",
        "variableName" : "createStreamingDistributionRequest",
        "variableType" : "CreateStreamingDistributionRequest",
        "documentation" : "The request to create a new streaming distribution.",
        "simpleType" : "CreateStreamingDistributionRequest",
        "variableSetterType" : "CreateStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStreamingDistribution",
      "operationName" : "CreateStreamingDistribution",
      "returnType" : {
        "returnType" : "CreateStreamingDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "CreateStreamingDistributionResult"
    },
    "CreateStreamingDistributionWithTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStreamingDistributionWithTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStreamingDistributionWithTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStreamingDistributionWithTagsRequest, CreateStreamingDistributionWithTagsResult>",
      "asyncReturnType" : "CreateStreamingDistributionWithTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new streaming distribution with tags.",
      "exceptions" : [ {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "StreamingDistributionAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidOriginException",
        "documentation" : "The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "TooManyStreamingDistributionCNAMEsException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyStreamingDistributionsException",
        "documentation" : "Processing your request would cause you to exceed the maximum number of streaming distributions allowed."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      }, {
        "exceptionName" : "InvalidTaggingException",
        "documentation" : "The specified tagging for a CloudFront resource is invalid. For more information, see the error text."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStreamingDistributionWithTagsRequest",
        "variableName" : "createStreamingDistributionWithTagsRequest",
        "variableType" : "CreateStreamingDistributionWithTagsRequest",
        "documentation" : "The request to create a new streaming distribution with tags.",
        "simpleType" : "CreateStreamingDistributionWithTagsRequest",
        "variableSetterType" : "CreateStreamingDistributionWithTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStreamingDistributionWithTags",
      "operationName" : "CreateStreamingDistributionWithTags",
      "returnType" : {
        "returnType" : "CreateStreamingDistributionWithTagsResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "CreateStreamingDistributionWithTagsResult"
    },
    "DeleteCloudFrontOriginAccessIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCloudFrontOriginAccessIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCloudFrontOriginAccessIdentityRequest, DeleteCloudFrontOriginAccessIdentityResult>",
      "asyncReturnType" : "DeleteCloudFrontOriginAccessIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Delete an origin access identity.",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "CloudFrontOriginAccessIdentityInUseException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "variableName" : "deleteCloudFrontOriginAccessIdentityRequest",
        "variableType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "documentation" : "The request to delete a origin access identity.",
        "simpleType" : "DeleteCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "DeleteCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCloudFrontOriginAccessIdentity",
      "operationName" : "DeleteCloudFrontOriginAccessIdentity",
      "returnType" : {
        "returnType" : "DeleteCloudFrontOriginAccessIdentityResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCloudFrontOriginAccessIdentityResult"
    },
    "DeleteDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDistributionRequest, DeleteDistributionResult>",
      "asyncReturnType" : "DeleteDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Delete a distribution.",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "DistributionNotDisabledException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDistributionRequest",
        "variableName" : "deleteDistributionRequest",
        "variableType" : "DeleteDistributionRequest",
        "documentation" : "The request to delete a distribution.",
        "simpleType" : "DeleteDistributionRequest",
        "variableSetterType" : "DeleteDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDistribution",
      "operationName" : "DeleteDistribution",
      "returnType" : {
        "returnType" : "DeleteDistributionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDistributionResult"
    },
    "DeleteStreamingDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStreamingDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStreamingDistributionRequest, DeleteStreamingDistributionResult>",
      "asyncReturnType" : "DeleteStreamingDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Delete a streaming distribution.",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "StreamingDistributionNotDisabledException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteStreamingDistributionRequest",
        "variableName" : "deleteStreamingDistributionRequest",
        "variableType" : "DeleteStreamingDistributionRequest",
        "documentation" : "The request to delete a streaming distribution.",
        "simpleType" : "DeleteStreamingDistributionRequest",
        "variableSetterType" : "DeleteStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStreamingDistribution",
      "operationName" : "DeleteStreamingDistribution",
      "returnType" : {
        "returnType" : "DeleteStreamingDistributionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStreamingDistributionResult"
    },
    "GetCloudFrontOriginAccessIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCloudFrontOriginAccessIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCloudFrontOriginAccessIdentityRequest, GetCloudFrontOriginAccessIdentityResult>",
      "asyncReturnType" : "GetCloudFrontOriginAccessIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get the information about an origin access identity.",
      "exceptions" : [ {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCloudFrontOriginAccessIdentityRequest",
        "variableName" : "getCloudFrontOriginAccessIdentityRequest",
        "variableType" : "GetCloudFrontOriginAccessIdentityRequest",
        "documentation" : "The request to get an origin access identity's information.",
        "simpleType" : "GetCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "GetCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCloudFrontOriginAccessIdentity",
      "operationName" : "GetCloudFrontOriginAccessIdentity",
      "returnType" : {
        "returnType" : "GetCloudFrontOriginAccessIdentityResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "GetCloudFrontOriginAccessIdentityResult"
    },
    "GetCloudFrontOriginAccessIdentityConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCloudFrontOriginAccessIdentityConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCloudFrontOriginAccessIdentityConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCloudFrontOriginAccessIdentityConfigRequest, GetCloudFrontOriginAccessIdentityConfigResult>",
      "asyncReturnType" : "GetCloudFrontOriginAccessIdentityConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get the configuration information about an origin access identity.",
      "exceptions" : [ {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "variableName" : "getCloudFrontOriginAccessIdentityConfigRequest",
        "variableType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "documentation" : "The request to get an origin access identity's configuration.",
        "simpleType" : "GetCloudFrontOriginAccessIdentityConfigRequest",
        "variableSetterType" : "GetCloudFrontOriginAccessIdentityConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCloudFrontOriginAccessIdentityConfig",
      "operationName" : "GetCloudFrontOriginAccessIdentityConfig",
      "returnType" : {
        "returnType" : "GetCloudFrontOriginAccessIdentityConfigResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "GetCloudFrontOriginAccessIdentityConfigResult"
    },
    "GetDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDistributionRequest, GetDistributionResult>",
      "asyncReturnType" : "GetDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get the information about a distribution.",
      "exceptions" : [ {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDistributionRequest",
        "variableName" : "getDistributionRequest",
        "variableType" : "GetDistributionRequest",
        "documentation" : "The request to get a distribution's information.",
        "simpleType" : "GetDistributionRequest",
        "variableSetterType" : "GetDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDistribution",
      "operationName" : "GetDistribution",
      "returnType" : {
        "returnType" : "GetDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "GetDistributionResult"
    },
    "GetDistributionConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDistributionConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDistributionConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDistributionConfigRequest, GetDistributionConfigResult>",
      "asyncReturnType" : "GetDistributionConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get the configuration information about a distribution.",
      "exceptions" : [ {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDistributionConfigRequest",
        "variableName" : "getDistributionConfigRequest",
        "variableType" : "GetDistributionConfigRequest",
        "documentation" : "The request to get a distribution configuration.",
        "simpleType" : "GetDistributionConfigRequest",
        "variableSetterType" : "GetDistributionConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDistributionConfig",
      "operationName" : "GetDistributionConfig",
      "returnType" : {
        "returnType" : "GetDistributionConfigResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "GetDistributionConfigResult"
    },
    "GetInvalidation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInvalidationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInvalidationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInvalidationRequest, GetInvalidationResult>",
      "asyncReturnType" : "GetInvalidationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get the information about an invalidation.",
      "exceptions" : [ {
        "exceptionName" : "NoSuchInvalidationException",
        "documentation" : "The specified invalidation does not exist."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetInvalidationRequest",
        "variableName" : "getInvalidationRequest",
        "variableType" : "GetInvalidationRequest",
        "documentation" : "The request to get an invalidation's information.",
        "simpleType" : "GetInvalidationRequest",
        "variableSetterType" : "GetInvalidationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInvalidation",
      "operationName" : "GetInvalidation",
      "returnType" : {
        "returnType" : "GetInvalidationResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "GetInvalidationResult"
    },
    "GetStreamingDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingDistributionRequest, GetStreamingDistributionResult>",
      "asyncReturnType" : "GetStreamingDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get the information about a streaming distribution.",
      "exceptions" : [ {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetStreamingDistributionRequest",
        "variableName" : "getStreamingDistributionRequest",
        "variableType" : "GetStreamingDistributionRequest",
        "documentation" : "The request to get a streaming distribution's information.",
        "simpleType" : "GetStreamingDistributionRequest",
        "variableSetterType" : "GetStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStreamingDistribution",
      "operationName" : "GetStreamingDistribution",
      "returnType" : {
        "returnType" : "GetStreamingDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "GetStreamingDistributionResult"
    },
    "GetStreamingDistributionConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStreamingDistributionConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStreamingDistributionConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStreamingDistributionConfigRequest, GetStreamingDistributionConfigResult>",
      "asyncReturnType" : "GetStreamingDistributionConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Get the configuration information about a streaming distribution.",
      "exceptions" : [ {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetStreamingDistributionConfigRequest",
        "variableName" : "getStreamingDistributionConfigRequest",
        "variableType" : "GetStreamingDistributionConfigRequest",
        "documentation" : "To request to get a streaming distribution configuration.",
        "simpleType" : "GetStreamingDistributionConfigRequest",
        "variableSetterType" : "GetStreamingDistributionConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStreamingDistributionConfig",
      "operationName" : "GetStreamingDistributionConfig",
      "returnType" : {
        "returnType" : "GetStreamingDistributionConfigResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "GetStreamingDistributionConfigResult"
    },
    "ListCloudFrontOriginAccessIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCloudFrontOriginAccessIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCloudFrontOriginAccessIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCloudFrontOriginAccessIdentitiesRequest, ListCloudFrontOriginAccessIdentitiesResult>",
      "asyncReturnType" : "ListCloudFrontOriginAccessIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List origin access identities.",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "variableName" : "listCloudFrontOriginAccessIdentitiesRequest",
        "variableType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "documentation" : "The request to list origin access identities.",
        "simpleType" : "ListCloudFrontOriginAccessIdentitiesRequest",
        "variableSetterType" : "ListCloudFrontOriginAccessIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCloudFrontOriginAccessIdentities",
      "operationName" : "ListCloudFrontOriginAccessIdentities",
      "returnType" : {
        "returnType" : "ListCloudFrontOriginAccessIdentitiesResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "ListCloudFrontOriginAccessIdentitiesResult"
    },
    "ListDistributions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDistributionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDistributionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDistributionsRequest, ListDistributionsResult>",
      "asyncReturnType" : "ListDistributionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List distributions.",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDistributionsRequest",
        "variableName" : "listDistributionsRequest",
        "variableType" : "ListDistributionsRequest",
        "documentation" : "The request to list your distributions.",
        "simpleType" : "ListDistributionsRequest",
        "variableSetterType" : "ListDistributionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDistributions",
      "operationName" : "ListDistributions",
      "returnType" : {
        "returnType" : "ListDistributionsResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "ListDistributionsResult"
    },
    "ListDistributionsByWebACLId" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDistributionsByWebACLIdResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDistributionsByWebACLIdResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDistributionsByWebACLIdRequest, ListDistributionsByWebACLIdResult>",
      "asyncReturnType" : "ListDistributionsByWebACLIdResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List the distributions that are associated with a specified AWS WAF web ACL.",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDistributionsByWebACLIdRequest",
        "variableName" : "listDistributionsByWebACLIdRequest",
        "variableType" : "ListDistributionsByWebACLIdRequest",
        "documentation" : "The request to list distributions that are associated with a specified AWS WAF web ACL.",
        "simpleType" : "ListDistributionsByWebACLIdRequest",
        "variableSetterType" : "ListDistributionsByWebACLIdRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDistributionsByWebACLId",
      "operationName" : "ListDistributionsByWebACLId",
      "returnType" : {
        "returnType" : "ListDistributionsByWebACLIdResult",
        "documentation" : "The response to a request to list the distributions that are associated with a specified AWS WAF web ACL."
      },
      "syncReturnType" : "ListDistributionsByWebACLIdResult"
    },
    "ListInvalidations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvalidationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvalidationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvalidationsRequest, ListInvalidationsResult>",
      "asyncReturnType" : "ListInvalidationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List invalidation batches.",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListInvalidationsRequest",
        "variableName" : "listInvalidationsRequest",
        "variableType" : "ListInvalidationsRequest",
        "documentation" : "The request to list invalidations.",
        "simpleType" : "ListInvalidationsRequest",
        "variableSetterType" : "ListInvalidationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInvalidations",
      "operationName" : "ListInvalidations",
      "returnType" : {
        "returnType" : "ListInvalidationsResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "ListInvalidationsResult"
    },
    "ListStreamingDistributions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStreamingDistributionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStreamingDistributionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStreamingDistributionsRequest, ListStreamingDistributionsResult>",
      "asyncReturnType" : "ListStreamingDistributionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List streaming distributions.",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListStreamingDistributionsRequest",
        "variableName" : "listStreamingDistributionsRequest",
        "variableType" : "ListStreamingDistributionsRequest",
        "documentation" : "The request to list your streaming distributions.",
        "simpleType" : "ListStreamingDistributionsRequest",
        "variableSetterType" : "ListStreamingDistributionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStreamingDistributions",
      "operationName" : "ListStreamingDistributions",
      "returnType" : {
        "returnType" : "ListStreamingDistributionsResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "ListStreamingDistributionsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "List tags for a CloudFront resource.",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidTaggingException",
        "documentation" : "The specified tagging for a CloudFront resource is invalid. For more information, see the error text."
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "The specified CloudFront resource does not exist."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "The request to list tags for a CloudFront resource.",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Add tags to a CloudFront resource.",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidTaggingException",
        "documentation" : "The specified tagging for a CloudFront resource is invalid. For more information, see the error text."
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "The specified CloudFront resource does not exist."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "The request to add tags to a CloudFront resource.",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Remove tags from a CloudFront resource.",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidTaggingException",
        "documentation" : "The specified tagging for a CloudFront resource is invalid. For more information, see the error text."
      }, {
        "exceptionName" : "NoSuchResourceException",
        "documentation" : "The specified CloudFront resource does not exist."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "The request to remove tags from a CloudFront resource.",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateCloudFrontOriginAccessIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCloudFrontOriginAccessIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCloudFrontOriginAccessIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCloudFrontOriginAccessIdentityRequest, UpdateCloudFrontOriginAccessIdentityResult>",
      "asyncReturnType" : "UpdateCloudFrontOriginAccessIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Update an origin access identity.",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "Origin and CallerReference cannot be updated."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "NoSuchCloudFrontOriginAccessIdentityException",
        "documentation" : "The specified origin access identity does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "variableName" : "updateCloudFrontOriginAccessIdentityRequest",
        "variableType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "documentation" : "The request to update an origin access identity.",
        "simpleType" : "UpdateCloudFrontOriginAccessIdentityRequest",
        "variableSetterType" : "UpdateCloudFrontOriginAccessIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCloudFrontOriginAccessIdentity",
      "operationName" : "UpdateCloudFrontOriginAccessIdentity",
      "returnType" : {
        "returnType" : "UpdateCloudFrontOriginAccessIdentityResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "UpdateCloudFrontOriginAccessIdentityResult"
    },
    "UpdateDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDistributionRequest, UpdateDistributionResult>",
      "asyncReturnType" : "UpdateDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Update a distribution.",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "Origin and CallerReference cannot be updated."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "NoSuchDistributionException",
        "documentation" : "The specified distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "TooManyDistributionCNAMEsException",
        "documentation" : "Your request contains more CNAMEs than are allowed per distribution."
      }, {
        "exceptionName" : "InvalidDefaultRootObjectException",
        "documentation" : "The default root object file name is too big or contains an invalid character."
      }, {
        "exceptionName" : "InvalidRelativePathException",
        "documentation" : "The relative path is too big, is not URL-encoded, or does not begin with a slash (/)."
      }, {
        "exceptionName" : "InvalidErrorCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidResponseCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "InvalidViewerCertificateException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidMinimumProtocolVersionException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidRequiredProtocolException",
        "documentation" : "This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration."
      }, {
        "exceptionName" : "NoSuchOriginException",
        "documentation" : "No origin exists with the specified Origin Id."
      }, {
        "exceptionName" : "TooManyOriginsException",
        "documentation" : "You cannot create anymore origins for the distribution."
      }, {
        "exceptionName" : "TooManyCacheBehaviorsException",
        "documentation" : "You cannot create anymore cache behaviors for the distribution."
      }, {
        "exceptionName" : "TooManyCookieNamesInWhiteListException",
        "documentation" : "Your request contains more cookie names in the whitelist than are allowed per cache behavior."
      }, {
        "exceptionName" : "InvalidForwardCookiesException",
        "documentation" : "Your request contains forward cookies option which doesn't match with the expectation for the whitelisted list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected."
      }, {
        "exceptionName" : "TooManyHeadersInForwardedValuesException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidHeadersForS3OriginException",
        "documentation" : null
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "You cannot create anymore custom ssl certificates."
      }, {
        "exceptionName" : "InvalidLocationCodeException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidGeoRestrictionParameterException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidTTLOrderException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidWebACLIdException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyOriginCustomHeadersException",
        "documentation" : null
      }, {
        "exceptionName" : "TooManyQueryStringParametersException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidQueryStringParametersException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDistributionRequest",
        "variableName" : "updateDistributionRequest",
        "variableType" : "UpdateDistributionRequest",
        "documentation" : "The request to update a distribution.",
        "simpleType" : "UpdateDistributionRequest",
        "variableSetterType" : "UpdateDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDistribution",
      "operationName" : "UpdateDistribution",
      "returnType" : {
        "returnType" : "UpdateDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "UpdateDistributionResult"
    },
    "UpdateStreamingDistribution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStreamingDistributionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStreamingDistributionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStreamingDistributionRequest, UpdateStreamingDistributionResult>",
      "asyncReturnType" : "UpdateStreamingDistributionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Update a streaming distribution.",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "Access denied."
      }, {
        "exceptionName" : "CNAMEAlreadyExistsException",
        "documentation" : null
      }, {
        "exceptionName" : "IllegalUpdateException",
        "documentation" : "Origin and CallerReference cannot be updated."
      }, {
        "exceptionName" : "InvalidIfMatchVersionException",
        "documentation" : "The If-Match version is missing or not valid for the distribution."
      }, {
        "exceptionName" : "MissingBodyException",
        "documentation" : "This operation requires a body. Ensure that the body is present and the Content-Type header is set."
      }, {
        "exceptionName" : "NoSuchStreamingDistributionException",
        "documentation" : "The specified streaming distribution does not exist."
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "The precondition given in one or more of the request-header fields evaluated to false."
      }, {
        "exceptionName" : "TooManyStreamingDistributionCNAMEsException",
        "documentation" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "The argument is invalid."
      }, {
        "exceptionName" : "InvalidOriginAccessIdentityException",
        "documentation" : "The origin access identity is not valid or doesn't exist."
      }, {
        "exceptionName" : "TooManyTrustedSignersException",
        "documentation" : "Your request contains more trusted signers than are allowed per distribution."
      }, {
        "exceptionName" : "TrustedSignerDoesNotExistException",
        "documentation" : "One or more of your trusted signers do not exist."
      }, {
        "exceptionName" : "InconsistentQuantitiesException",
        "documentation" : "The value of Quantity and the size of Items do not match."
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateStreamingDistributionRequest",
        "variableName" : "updateStreamingDistributionRequest",
        "variableType" : "UpdateStreamingDistributionRequest",
        "documentation" : "The request to update a streaming distribution.",
        "simpleType" : "UpdateStreamingDistributionRequest",
        "variableSetterType" : "UpdateStreamingDistributionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateStreamingDistribution",
      "operationName" : "UpdateStreamingDistribution",
      "returnType" : {
        "returnType" : "UpdateStreamingDistributionResult",
        "documentation" : "The returned result of the corresponding request."
      },
      "syncReturnType" : "UpdateStreamingDistributionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDenied",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Access denied.",
      "enums" : null,
      "errorCode" : "AccessDenied",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ActiveTrustedSigners" : {
      "c2jName" : "ActiveTrustedSigners",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A complex type that lists the AWS accounts, if any, that you included in the TrustedSigners complex type for the default cache behavior or for any of the other cache behaviors for this distribution. These are accounts that you want to allow to create signed URLs for private content.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Enabled",
        "c2jShape" : "boolean",
        "deprecated" : false,
        "documentation" : "Each active trusted signer.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Each active trusted signer.\n@param enabled Each active trusted signer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**Each active trusted signer.\n@return Each active trusted signer.*/",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Enabled",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Enabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Enabled",
        "setterDocumentation" : "/**Each active trusted signer.\n@param enabled Each active trusted signer.*/",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**Each active trusted signer.\n@param enabled Each active trusted signer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "Each active trusted signer.",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Quantity",
        "c2jShape" : "integer",
        "deprecated" : false,
        "documentation" : "The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.\n@param quantity The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.\n@return The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.*/",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Quantity",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Quantity",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Quantity",
        "setterDocumentation" : "/**The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.\n@param quantity The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.*/",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "quantity",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.\n@param quantity The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "quantity",
          "variableType" : "Integer",
          "documentation" : "The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Items",
        "c2jShape" : "SignerList",
        "deprecated" : false,
        "documentation" : "A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.\n@param items A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.\n@return A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Signer>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Items",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Items",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Signer",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Signer",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "Signer",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "Signer",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Signer",
              "variableName" : "member",
              "variableType" : "Signer",
              "documentation" : "",
              "simpleType" : "Signer",
              "variableSetterType" : "Signer"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Signer",
              "variableName" : "member",
              "variableType" : "Signer",
              "documentation" : "",
              "simpleType" : "Signer",
              "variableSetterType" : "Signer"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : "Signer",
          "memberType" : "Signer",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Signer",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Signer>",
          "templateType" : "java.util.List<Signer>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Items",
        "setterDocumentation" : "/**A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.\n@param items A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.*/",
        "setterModel" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Signer>",
          "variableName" : "items",
          "variableType" : "java.util.List<Signer>",
          "documentation" : "",
          "simpleType" : "List<Signer>",
          "variableSetterType" : "java.util.Collection<Signer>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setItems(java.util.Collection)} or {@link #withItems(java.util.Collection)} if you want to override the existing values.</p>\n@param items A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Signer>",
          "variableName" : "items",
          "variableType" : "java.util.List<Signer>",
          "documentation" : "A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.",
          "simpleType" : "List<Signer>",
          "variableSetterType" : "java.util.Collection<Signer>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Enabled" : {
          "c2jName" : "Enabled",
          "c2jShape" : "boolean",
          "deprecated" : false,
          "documentation" : "Each active trusted signer.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**Each active trusted signer.\n@param enabled Each active trusted signer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**Each active trusted signer.\n@return Each active trusted signer.*/",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Enabled",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Enabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Enabled",
          "setterDocumentation" : "/**Each active trusted signer.\n@param enabled Each active trusted signer.*/",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**Each active trusted signer.\n@param enabled Each active trusted signer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "Each active trusted signer.",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "Items" : {
          "c2jName" : "Items",
          "c2jShape" : "SignerList",
          "deprecated" : false,
          "documentation" : "A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.\n@param items A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.\n@return A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.*/",
          "getterModel" : {
            "returnType" : "java.util.List<Signer>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Items",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Items",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Signer",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Signer",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "Signer",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "Signer",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Signer",
                "variableName" : "member",
                "variableType" : "Signer",
                "documentation" : "",
                "simpleType" : "Signer",
                "variableSetterType" : "Signer"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Signer",
                "variableName" : "member",
                "variableType" : "Signer",
                "documentation" : "",
                "simpleType" : "Signer",
                "variableSetterType" : "Signer"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : "Signer",
            "memberType" : "Signer",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Signer",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<Signer>",
            "templateType" : "java.util.List<Signer>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Items",
          "setterDocumentation" : "/**A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.\n@param items A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.*/",
          "setterModel" : {
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Signer>",
            "variableName" : "items",
            "variableType" : "java.util.List<Signer>",
            "documentation" : "",
            "simpleType" : "List<Signer>",
            "variableSetterType" : "java.util.Collection<Signer>"
          },
          "simple" : false,
[...]
