{
  "metadata" : {
    "apiVersion" : "2012-10-25",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<p>AWS Direct Connect links your internal network to an AWS Direct Connect location over a standard 1 gigabit or 10 gigabit Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. With this connection in place, you can create virtual interfaces directly to the AWS cloud (for example, to Amazon Elastic Compute Cloud (Amazon EC2) and Amazon Simple Storage Service (Amazon S3)) and to Amazon Virtual Private Cloud (Amazon VPC), bypassing Internet service providers in your network path. An AWS Direct Connect location provides access to AWS in the region it is associated with, as well as access to other US regions. For example, you can provision a single connection to any AWS Direct Connect location in the US and use it to access public AWS services in all US Regions and AWS GovCloud (US).</p>",
    "defaultEndpoint" : "https://directconnect.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "directconnect.us-east-1.amazonaws.com/",
    "syncInterface" : "AmazonDirectConnect",
    "syncClient" : "AmazonDirectConnectClient",
    "asyncInterface" : "AmazonDirectConnectAsync",
    "asyncClient" : "AmazonDirectConnectAsyncClient",
    "packageName" : "com.amazonaws.services.directconnect",
    "packagePath" : "com/amazonaws/services/directconnect",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Direct Connect",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "directconnect",
    "signingName" : "directconnect",
    "jsonProtocol" : true,
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "syncClientBuilderClassName" : "AmazonDirectConnectClientBuilder",
    "asyncClientBuilderClassName" : "AmazonDirectConnectAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AmazonDirectConnectModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.directconnect.smoketests",
    "serviceName" : "AWS Direct Connect",
    "cborProtocol" : false,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller"
  },
  "operations" : {
    "AllocateConnectionOnInterconnect" : {
      "documentation" : "<p>Creates a hosted connection on an interconnect.</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the given interconnect.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "operationName" : "AllocateConnectionOnInterconnect",
      "deprecated" : false,
      "input" : {
        "variableName" : "allocateConnectionOnInterconnectRequest",
        "variableType" : "AllocateConnectionOnInterconnectRequest",
        "variableDeclarationType" : "AllocateConnectionOnInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the AllocateConnectionOnInterconnect operation.</p>",
        "variableSetterType" : "AllocateConnectionOnInterconnectRequest",
        "simpleType" : "AllocateConnectionOnInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AllocateConnectionOnInterconnectResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AllocateConnectionOnInterconnectResult",
      "asyncReturnType" : "AllocateConnectionOnInterconnectResult",
      "asyncFutureType" : "java.util.concurrent.Future<AllocateConnectionOnInterconnectResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AllocateConnectionOnInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocateConnectionOnInterconnectRequest, AllocateConnectionOnInterconnectResult>",
      "methodName" : "allocateConnectionOnInterconnect"
    },
    "AllocatePrivateVirtualInterface" : {
      "documentation" : "<p>Provisions a private virtual interface to be owned by a different customer.</p> <p>The owner of a connection calls this function to provision a private virtual interface which will be owned by another AWS customer.</p> <p>Virtual interfaces created using this function must be confirmed by the virtual interface owner by calling ConfirmPrivateVirtualInterface. Until this step has been completed, the virtual interface will be in 'Confirming' state, and will not be available for handling traffic.</p>",
      "operationName" : "AllocatePrivateVirtualInterface",
      "deprecated" : false,
      "input" : {
        "variableName" : "allocatePrivateVirtualInterfaceRequest",
        "variableType" : "AllocatePrivateVirtualInterfaceRequest",
        "variableDeclarationType" : "AllocatePrivateVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the AllocatePrivateVirtualInterface operation.</p>",
        "variableSetterType" : "AllocatePrivateVirtualInterfaceRequest",
        "simpleType" : "AllocatePrivateVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AllocatePrivateVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AllocatePrivateVirtualInterfaceResult",
      "asyncReturnType" : "AllocatePrivateVirtualInterfaceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AllocatePrivateVirtualInterfaceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AllocatePrivateVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocatePrivateVirtualInterfaceRequest, AllocatePrivateVirtualInterfaceResult>",
      "methodName" : "allocatePrivateVirtualInterface"
    },
    "AllocatePublicVirtualInterface" : {
      "documentation" : "<p>Provisions a public virtual interface to be owned by a different customer.</p> <p>The owner of a connection calls this function to provision a public virtual interface which will be owned by another AWS customer.</p> <p>Virtual interfaces created using this function must be confirmed by the virtual interface owner by calling ConfirmPublicVirtualInterface. Until this step has been completed, the virtual interface will be in 'Confirming' state, and will not be available for handling traffic.</p>",
      "operationName" : "AllocatePublicVirtualInterface",
      "deprecated" : false,
      "input" : {
        "variableName" : "allocatePublicVirtualInterfaceRequest",
        "variableType" : "AllocatePublicVirtualInterfaceRequest",
        "variableDeclarationType" : "AllocatePublicVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the AllocatePublicVirtualInterface operation.</p>",
        "variableSetterType" : "AllocatePublicVirtualInterfaceRequest",
        "simpleType" : "AllocatePublicVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AllocatePublicVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AllocatePublicVirtualInterfaceResult",
      "asyncReturnType" : "AllocatePublicVirtualInterfaceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AllocatePublicVirtualInterfaceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AllocatePublicVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocatePublicVirtualInterfaceRequest, AllocatePublicVirtualInterfaceResult>",
      "methodName" : "allocatePublicVirtualInterface"
    },
    "ConfirmConnection" : {
      "documentation" : "<p>Confirm the creation of a hosted connection on an interconnect.</p> <p>Upon creation, the hosted connection is initially in the 'Ordering' state, and will remain in this state until the owner calls ConfirmConnection to confirm creation of the hosted connection.</p>",
      "operationName" : "ConfirmConnection",
      "deprecated" : false,
      "input" : {
        "variableName" : "confirmConnectionRequest",
        "variableType" : "ConfirmConnectionRequest",
        "variableDeclarationType" : "ConfirmConnectionRequest",
        "documentation" : "<p>Container for the parameters to the ConfirmConnection operation.</p>",
        "variableSetterType" : "ConfirmConnectionRequest",
        "simpleType" : "ConfirmConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfirmConnectionResult",
        "documentation" : "<p>The response received when ConfirmConnection is called.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ConfirmConnectionResult",
      "asyncReturnType" : "ConfirmConnectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmConnectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmConnectionRequest, ConfirmConnectionResult>",
      "methodName" : "confirmConnection"
    },
    "ConfirmPrivateVirtualInterface" : {
      "documentation" : "<p>Accept ownership of a private virtual interface created by another customer.</p> <p>After the virtual interface owner calls this function, the virtual interface will be created and attached to the given virtual private gateway, and will be available for handling traffic.</p>",
      "operationName" : "ConfirmPrivateVirtualInterface",
      "deprecated" : false,
      "input" : {
        "variableName" : "confirmPrivateVirtualInterfaceRequest",
        "variableType" : "ConfirmPrivateVirtualInterfaceRequest",
        "variableDeclarationType" : "ConfirmPrivateVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the ConfirmPrivateVirtualInterface operation.</p>",
        "variableSetterType" : "ConfirmPrivateVirtualInterfaceRequest",
        "simpleType" : "ConfirmPrivateVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfirmPrivateVirtualInterfaceResult",
        "documentation" : "<p>The response received when ConfirmPrivateVirtualInterface is called.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ConfirmPrivateVirtualInterfaceResult",
      "asyncReturnType" : "ConfirmPrivateVirtualInterfaceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmPrivateVirtualInterfaceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmPrivateVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmPrivateVirtualInterfaceRequest, ConfirmPrivateVirtualInterfaceResult>",
      "methodName" : "confirmPrivateVirtualInterface"
    },
    "ConfirmPublicVirtualInterface" : {
      "documentation" : "<p>Accept ownership of a public virtual interface created by another customer.</p> <p>After the virtual interface owner calls this function, the specified virtual interface will be created and made available for handling traffic.</p>",
      "operationName" : "ConfirmPublicVirtualInterface",
      "deprecated" : false,
      "input" : {
        "variableName" : "confirmPublicVirtualInterfaceRequest",
        "variableType" : "ConfirmPublicVirtualInterfaceRequest",
        "variableDeclarationType" : "ConfirmPublicVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the ConfirmPublicVirtualInterface operation.</p>",
        "variableSetterType" : "ConfirmPublicVirtualInterfaceRequest",
        "simpleType" : "ConfirmPublicVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ConfirmPublicVirtualInterfaceResult",
        "documentation" : "<p>The response received when ConfirmPublicVirtualInterface is called.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ConfirmPublicVirtualInterfaceResult",
      "asyncReturnType" : "ConfirmPublicVirtualInterfaceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmPublicVirtualInterfaceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmPublicVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmPublicVirtualInterfaceRequest, ConfirmPublicVirtualInterfaceResult>",
      "methodName" : "confirmPublicVirtualInterface"
    },
    "CreateConnection" : {
      "documentation" : "<p>Creates a new connection between the customer network and a specific AWS Direct Connect location.</p> <p>A connection links your internal network to an AWS Direct Connect location over a standard 1 gigabit or 10 gigabit Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. An AWS Direct Connect location provides access to Amazon Web Services in the region it is associated with. You can establish connections with AWS Direct Connect locations in multiple regions, but a connection in one region does not provide connectivity to other regions.</p>",
      "operationName" : "CreateConnection",
      "deprecated" : false,
      "input" : {
        "variableName" : "createConnectionRequest",
        "variableType" : "CreateConnectionRequest",
        "variableDeclarationType" : "CreateConnectionRequest",
        "documentation" : "<p>Container for the parameters to the CreateConnection operation.</p>",
        "variableSetterType" : "CreateConnectionRequest",
        "simpleType" : "CreateConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateConnectionResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateConnectionResult",
      "asyncReturnType" : "CreateConnectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConnectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConnectionRequest, CreateConnectionResult>",
      "methodName" : "createConnection"
    },
    "CreateInterconnect" : {
      "documentation" : "<p>Creates a new interconnect between a AWS Direct Connect partner's network and a specific AWS Direct Connect location.</p> <p>An interconnect is a connection which is capable of hosting other connections. The AWS Direct Connect partner can use an interconnect to provide sub-1Gbps AWS Direct Connect service to tier 2 customers who do not have their own connections. Like a standard connection, an interconnect links the AWS Direct Connect partner's network to an AWS Direct Connect location over a standard 1 Gbps or 10 Gbps Ethernet fiber-optic cable. One end is connected to the partner's router, the other to an AWS Direct Connect router.</p> <p>For each end customer, the AWS Direct Connect partner provisions a connection on their interconnect by calling AllocateConnectionOnInterconnect. The end customer can then connect to AWS resources by creating a virtual interface on their connection, using the VLAN assigned to them by the AWS Direct Connect partner.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "operationName" : "CreateInterconnect",
      "deprecated" : false,
      "input" : {
        "variableName" : "createInterconnectRequest",
        "variableType" : "CreateInterconnectRequest",
        "variableDeclarationType" : "CreateInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the CreateInterconnect operation.</p>",
        "variableSetterType" : "CreateInterconnectRequest",
        "simpleType" : "CreateInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateInterconnectResult",
        "documentation" : "<p>An interconnect is a connection that can host other connections.</p> <p>Like a standard AWS Direct Connect connection, an interconnect represents the physical connection between an AWS Direct Connect partner's network and a specific Direct Connect location. An AWS Direct Connect partner who owns an interconnect can provision hosted connections on the interconnect for their end customers, thereby providing the end customers with connectivity to AWS services.</p> <p>The resources of the interconnect, including bandwidth and VLAN numbers, are shared by all of the hosted connections on the interconnect, and the owner of the interconnect determines how these resources are assigned.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateInterconnectResult",
      "asyncReturnType" : "CreateInterconnectResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInterconnectResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInterconnectRequest, CreateInterconnectResult>",
      "methodName" : "createInterconnect"
    },
    "CreatePrivateVirtualInterface" : {
      "documentation" : "<p>Creates a new private virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A private virtual interface supports sending traffic to a single virtual private cloud (VPC).</p>",
      "operationName" : "CreatePrivateVirtualInterface",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPrivateVirtualInterfaceRequest",
        "variableType" : "CreatePrivateVirtualInterfaceRequest",
        "variableDeclarationType" : "CreatePrivateVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the CreatePrivateVirtualInterface operation.</p>",
        "variableSetterType" : "CreatePrivateVirtualInterfaceRequest",
        "simpleType" : "CreatePrivateVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePrivateVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreatePrivateVirtualInterfaceResult",
      "asyncReturnType" : "CreatePrivateVirtualInterfaceResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePrivateVirtualInterfaceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePrivateVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePrivateVirtualInterfaceRequest, CreatePrivateVirtualInterfaceResult>",
      "methodName" : "createPrivateVirtualInterface"
    },
    "CreatePublicVirtualInterface" : {
      "documentation" : "<p>Creates a new public virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A public virtual interface supports sending traffic to public services of AWS such as Amazon Simple Storage Service (Amazon S3).</p>",
      "operationName" : "CreatePublicVirtualInterface",
      "deprecated" : false,
      "input" : {
        "variableName" : "createPublicVirtualInterfaceRequest",
        "variableType" : "CreatePublicVirtualInterfaceRequest",
        "variableDeclarationType" : "CreatePublicVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the CreatePublicVirtualInterface operation.</p>",
        "variableSetterType" : "CreatePublicVirtualInterfaceRequest",
        "simpleType" : "CreatePublicVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreatePublicVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreatePublicVirtualInterfaceResult",
      "asyncReturnType" : "CreatePublicVirtualInterfaceResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePublicVirtualInterfaceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePublicVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePublicVirtualInterfaceRequest, CreatePublicVirtualInterfaceResult>",
      "methodName" : "createPublicVirtualInterface"
    },
    "DeleteConnection" : {
      "documentation" : "<p>Deletes the connection.</p> <p>Deleting a connection only stops the AWS Direct Connect port hour and data transfer charges. You need to cancel separately with the providers any services or charges for cross-connects or network circuits that connect you to the AWS Direct Connect location.</p>",
      "operationName" : "DeleteConnection",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteConnectionRequest",
        "variableType" : "DeleteConnectionRequest",
        "variableDeclarationType" : "DeleteConnectionRequest",
        "documentation" : "<p>Container for the parameters to the DeleteConnection operation.</p>",
        "variableSetterType" : "DeleteConnectionRequest",
        "simpleType" : "DeleteConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteConnectionResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteConnectionResult",
      "asyncReturnType" : "DeleteConnectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectionRequest, DeleteConnectionResult>",
      "methodName" : "deleteConnection"
    },
    "DeleteInterconnect" : {
      "documentation" : "<p>Deletes the specified interconnect.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "operationName" : "DeleteInterconnect",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteInterconnectRequest",
        "variableType" : "DeleteInterconnectRequest",
        "variableDeclarationType" : "DeleteInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the DeleteInterconnect operation.</p>",
        "variableSetterType" : "DeleteInterconnectRequest",
        "simpleType" : "DeleteInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteInterconnectResult",
        "documentation" : "<p>The response received when DeleteInterconnect is called.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteInterconnectResult",
      "asyncReturnType" : "DeleteInterconnectResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInterconnectResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInterconnectRequest, DeleteInterconnectResult>",
      "methodName" : "deleteInterconnect"
    },
    "DeleteVirtualInterface" : {
      "documentation" : "<p>Deletes a virtual interface.</p>",
      "operationName" : "DeleteVirtualInterface",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteVirtualInterfaceRequest",
        "variableType" : "DeleteVirtualInterfaceRequest",
        "variableDeclarationType" : "DeleteVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the DeleteVirtualInterface operation.</p>",
        "variableSetterType" : "DeleteVirtualInterfaceRequest",
        "simpleType" : "DeleteVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteVirtualInterfaceResult",
        "documentation" : "<p>The response received when DeleteVirtualInterface is called.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteVirtualInterfaceResult",
      "asyncReturnType" : "DeleteVirtualInterfaceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVirtualInterfaceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVirtualInterfaceRequest, DeleteVirtualInterfaceResult>",
      "methodName" : "deleteVirtualInterface"
    },
    "DescribeConnectionLoa" : {
      "documentation" : "<p>Returns the LOA-CFA for a Connection.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that your APN partner or service provider uses when establishing your cross connect to AWS at the colocation facility. For more information, see <a href=\"http://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at AWS Direct Connect Locations</a> in the AWS Direct Connect user guide.</p>",
      "operationName" : "DescribeConnectionLoa",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConnectionLoaRequest",
        "variableType" : "DescribeConnectionLoaRequest",
        "variableDeclarationType" : "DescribeConnectionLoaRequest",
        "documentation" : "<p>Container for the parameters to the DescribeConnectionLoa operation.</p>",
        "variableSetterType" : "DescribeConnectionLoaRequest",
        "simpleType" : "DescribeConnectionLoaRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConnectionLoaResult",
        "documentation" : "<p>The response received when DescribeConnectionLoa is called.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeConnectionLoaResult",
      "asyncReturnType" : "DescribeConnectionLoaResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionLoaResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionLoaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionLoaRequest, DescribeConnectionLoaResult>",
      "methodName" : "describeConnectionLoa"
    },
    "DescribeConnections" : {
      "documentation" : "<p>Displays all connections in this region.</p> <p>If a connection ID is provided, the call returns only that particular connection.</p>",
      "operationName" : "DescribeConnections",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConnectionsRequest",
        "variableType" : "DescribeConnectionsRequest",
        "variableDeclarationType" : "DescribeConnectionsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeConnections operation.</p>",
        "variableSetterType" : "DescribeConnectionsRequest",
        "simpleType" : "DescribeConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConnectionsResult",
        "documentation" : "<p>A structure containing a list of connections.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeConnectionsResult",
      "asyncReturnType" : "DescribeConnectionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionsRequest, DescribeConnectionsResult>",
      "methodName" : "describeConnections"
    },
    "DescribeConnectionsOnInterconnect" : {
      "documentation" : "<p>Return a list of connections that have been provisioned on the given interconnect.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "operationName" : "DescribeConnectionsOnInterconnect",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConnectionsOnInterconnectRequest",
        "variableType" : "DescribeConnectionsOnInterconnectRequest",
        "variableDeclarationType" : "DescribeConnectionsOnInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the DescribeConnectionsOnInterconnect operation.</p>",
        "variableSetterType" : "DescribeConnectionsOnInterconnectRequest",
        "simpleType" : "DescribeConnectionsOnInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConnectionsOnInterconnectResult",
        "documentation" : "<p>A structure containing a list of connections.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeConnectionsOnInterconnectResult",
      "asyncReturnType" : "DescribeConnectionsOnInterconnectResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionsOnInterconnectResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionsOnInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionsOnInterconnectRequest, DescribeConnectionsOnInterconnectResult>",
      "methodName" : "describeConnectionsOnInterconnect"
    },
    "DescribeInterconnectLoa" : {
      "documentation" : "<p>Returns the LOA-CFA for an Interconnect.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href=\"http://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at AWS Direct Connect Locations</a> in the AWS Direct Connect user guide.</p>",
      "operationName" : "DescribeInterconnectLoa",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeInterconnectLoaRequest",
        "variableType" : "DescribeInterconnectLoaRequest",
        "variableDeclarationType" : "DescribeInterconnectLoaRequest",
        "documentation" : "<p>Container for the parameters to the DescribeInterconnectLoa operation.</p>",
        "variableSetterType" : "DescribeInterconnectLoaRequest",
        "simpleType" : "DescribeInterconnectLoaRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeInterconnectLoaResult",
        "documentation" : "<p>The response received when DescribeInterconnectLoa is called.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeInterconnectLoaResult",
      "asyncReturnType" : "DescribeInterconnectLoaResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInterconnectLoaResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInterconnectLoaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInterconnectLoaRequest, DescribeInterconnectLoaResult>",
      "methodName" : "describeInterconnectLoa"
    },
    "DescribeInterconnects" : {
      "documentation" : "<p>Returns a list of interconnects owned by the AWS account.</p> <p>If an interconnect ID is provided, it will only return this particular interconnect.</p>",
      "operationName" : "DescribeInterconnects",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeInterconnectsRequest",
        "variableType" : "DescribeInterconnectsRequest",
        "variableDeclarationType" : "DescribeInterconnectsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeInterconnects operation.</p>",
        "variableSetterType" : "DescribeInterconnectsRequest",
        "simpleType" : "DescribeInterconnectsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeInterconnectsResult",
        "documentation" : "<p>A structure containing a list of interconnects.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeInterconnectsResult",
      "asyncReturnType" : "DescribeInterconnectsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInterconnectsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInterconnectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInterconnectsRequest, DescribeInterconnectsResult>",
      "methodName" : "describeInterconnects"
    },
    "DescribeLocations" : {
      "documentation" : "<p>Returns the list of AWS Direct Connect locations in the current AWS region. These are the locations that may be selected when calling CreateConnection or CreateInterconnect.</p>",
      "operationName" : "DescribeLocations",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeLocationsRequest",
        "variableType" : "DescribeLocationsRequest",
        "variableDeclarationType" : "DescribeLocationsRequest",
        "documentation" : null,
        "variableSetterType" : "DescribeLocationsRequest",
        "simpleType" : "DescribeLocationsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeLocationsResult",
        "documentation" : "<p>A location is a network facility where AWS Direct Connect routers are available to be connected. Generally, these are colocation hubs where many network providers have equipment, and where cross connects can be delivered. Locations include a name and facility code, and must be provided when creating a connection.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeLocationsResult",
      "asyncReturnType" : "DescribeLocationsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLocationsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLocationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLocationsRequest, DescribeLocationsResult>",
      "methodName" : "describeLocations"
    },
    "DescribeVirtualGateways" : {
      "documentation" : "<p>Returns a list of virtual private gateways owned by the AWS account.</p> <p>You can create one or more AWS Direct Connect private virtual interfaces linking to a virtual private gateway. A virtual private gateway can be managed via Amazon Virtual Private Cloud (VPC) console or the <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-CreateVpnGateway.html\">EC2 CreateVpnGateway</a> action.</p>",
      "operationName" : "DescribeVirtualGateways",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeVirtualGatewaysRequest",
        "variableType" : "DescribeVirtualGatewaysRequest",
        "variableDeclarationType" : "DescribeVirtualGatewaysRequest",
        "documentation" : null,
        "variableSetterType" : "DescribeVirtualGatewaysRequest",
        "simpleType" : "DescribeVirtualGatewaysRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeVirtualGatewaysResult",
        "documentation" : "<p>A structure containing a list of virtual private gateways.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeVirtualGatewaysResult",
      "asyncReturnType" : "DescribeVirtualGatewaysResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualGatewaysResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualGatewaysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualGatewaysRequest, DescribeVirtualGatewaysResult>",
      "methodName" : "describeVirtualGateways"
    },
    "DescribeVirtualInterfaces" : {
      "documentation" : "<p>Displays all virtual interfaces for an AWS account. Virtual interfaces deleted fewer than 15 minutes before DescribeVirtualInterfaces is called are also returned. If a connection ID is included then only virtual interfaces associated with this connection will be returned. If a virtual interface ID is included then only a single virtual interface will be returned.</p> <p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p> <p>If a connection ID is provided, only virtual interfaces provisioned on the specified connection will be returned. If a virtual interface ID is provided, only this particular virtual interface will be returned.</p>",
      "operationName" : "DescribeVirtualInterfaces",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeVirtualInterfacesRequest",
        "variableType" : "DescribeVirtualInterfacesRequest",
        "variableDeclarationType" : "DescribeVirtualInterfacesRequest",
        "documentation" : "<p>Container for the parameters to the DescribeVirtualInterfaces operation.</p>",
        "variableSetterType" : "DescribeVirtualInterfacesRequest",
        "simpleType" : "DescribeVirtualInterfacesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeVirtualInterfacesResult",
        "documentation" : "<p>A structure containing a list of virtual interfaces.</p>"
      },
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeVirtualInterfacesResult",
      "asyncReturnType" : "DescribeVirtualInterfacesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualInterfacesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualInterfacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualInterfacesRequest, DescribeVirtualInterfacesResult>",
      "methodName" : "describeVirtualInterfaces"
    }
  },
  "shapes" : {
    "Interconnect" : {
      "c2jName" : "Interconnect",
      "documentation" : "<p>An interconnect is a connection that can host other connections.</p> <p>Like a standard AWS Direct Connect connection, an interconnect represents the physical connection between an AWS Direct Connect partner's network and a specific Direct Connect location. An AWS Direct Connect partner who owns an interconnect can provision hosted connections on the interconnect for their end customers, thereby providing the end customers with connectivity to AWS services.</p> <p>The resources of the interconnect, including bandwidth and VLAN numbers, are shared by all of the hosted connections on the interconnect, and the owner of the interconnect determines how these resources are assigned.</p>",
      "shapeName" : "Interconnect",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "InterconnectId",
        "c2jName" : "interconnectId",
        "c2jShape" : "InterconnectId",
        "variable" : {
          "variableName" : "interconnectId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "interconnectId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "interconnectId",
          "marshallLocationName" : "interconnectId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param interconnectId */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param interconnectId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param interconnectId \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "InterconnectName",
        "c2jName" : "interconnectName",
        "c2jShape" : "InterconnectName",
        "variable" : {
          "variableName" : "interconnectName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "interconnectName",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "interconnectName",
          "marshallLocationName" : "interconnectName",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param interconnectName */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param interconnectName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param interconnectName \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "InterconnectState",
        "c2jName" : "interconnectState",
        "c2jShape" : "InterconnectState",
        "variable" : {
          "variableName" : "interconnectState",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "interconnectState",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "interconnectState",
          "marshallLocationName" : "interconnectState",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : "InterconnectState",
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param interconnectState \n@see InterconnectState*/",
        "getterDocumentation" : "/**\n@return \n@see InterconnectState*/",
        "fluentSetterDocumentation" : "/**\n@param interconnectState \n@return Returns a reference to this object so that method calls can be chained together.\n@see InterconnectState*/",
        "varargSetterDocumentation" : "/**\n@param interconnectState \n@return Returns a reference to this object so that method calls can be chained together.\n@see InterconnectState*/"
      }, {
        "documentation" : "",
        "name" : "Region",
        "c2jName" : "region",
        "c2jShape" : "Region",
        "variable" : {
          "variableName" : "region",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "region",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "region",
          "marshallLocationName" : "region",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param region */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param region \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param region \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "Location",
        "c2jName" : "location",
        "c2jShape" : "LocationCode",
        "variable" : {
          "variableName" : "location",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "location",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "location",
          "marshallLocationName" : "location",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param location */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param location \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param location \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "",
        "name" : "Bandwidth",
        "c2jName" : "bandwidth",
        "c2jShape" : "Bandwidth",
        "variable" : {
          "variableName" : "bandwidth",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "bandwidth",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "bandwidth",
          "marshallLocationName" : "bandwidth",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param bandwidth */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param bandwidth \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param bandwidth \n@return Returns a reference to this object so that method calls can be chained together.*/"
      }, {
        "documentation" : "<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>",
        "name" : "LoaIssueTime",
        "c2jName" : "loaIssueTime",
        "c2jShape" : "LoaIssueTime",
        "variable" : {
          "variableName" : "loaIssueTime",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>",
          "variableSetterType" : "java.util.Date",
          "simpleType" : "Date"
        },
        "setterModel" : {
          "variableName" : "loaIssueTime",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "variableSetterType" : "java.util.Date",
          "simpleType" : "Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "loaIssueTime",
          "marshallLocationName" : "loaIssueTime",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>\n@param loaIssueTime The time of the most recent call to DescribeInterconnectLoa for this Interconnect.*/",
        "getterDocumentation" : "/**<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>\n@return The time of the most recent call to DescribeInterconnectLoa for this Interconnect.*/",
        "fluentSetterDocumentation" : "/**<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>\n@param loaIssueTime The time of the most recent call to DescribeInterconnectLoa for this Interconnect.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>\n@param loaIssueTime The time of the most recent call to DescribeInterconnectLoa for this Interconnect.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "interconnect",
        "variableType" : "Interconnect",
        "variableDeclarationType" : "Interconnect",
        "documentation" : null,
        "variableSetterType" : "Interconnect",
        "simpleType" : "Interconnect"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "InterconnectName" : {
          "documentation" : "",
          "name" : "InterconnectName",
          "c2jName" : "interconnectName",
          "c2jShape" : "InterconnectName",
          "variable" : {
            "variableName" : "interconnectName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "interconnectName",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "interconnectName",
            "marshallLocationName" : "interconnectName",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param interconnectName */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param interconnectName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param interconnectName \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Bandwidth" : {
          "documentation" : "",
          "name" : "Bandwidth",
          "c2jName" : "bandwidth",
          "c2jShape" : "Bandwidth",
          "variable" : {
            "variableName" : "bandwidth",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "bandwidth",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "bandwidth",
            "marshallLocationName" : "bandwidth",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param bandwidth */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param bandwidth \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param bandwidth \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "LoaIssueTime" : {
          "documentation" : "<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>",
          "name" : "LoaIssueTime",
          "c2jName" : "loaIssueTime",
          "c2jShape" : "LoaIssueTime",
          "variable" : {
            "variableName" : "loaIssueTime",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>",
            "variableSetterType" : "java.util.Date",
            "simpleType" : "Date"
          },
          "setterModel" : {
            "variableName" : "loaIssueTime",
            "variableType" : "java.util.Date",
            "variableDeclarationType" : "java.util.Date",
            "documentation" : "",
            "variableSetterType" : "java.util.Date",
            "simpleType" : "Date"
          },
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "loaIssueTime",
            "marshallLocationName" : "loaIssueTime",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>\n@param loaIssueTime The time of the most recent call to DescribeInterconnectLoa for this Interconnect.*/",
          "getterDocumentation" : "/**<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>\n@return The time of the most recent call to DescribeInterconnectLoa for this Interconnect.*/",
          "fluentSetterDocumentation" : "/**<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>\n@param loaIssueTime The time of the most recent call to DescribeInterconnectLoa for this Interconnect.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The time of the most recent call to DescribeInterconnectLoa for this Interconnect.</p>\n@param loaIssueTime The time of the most recent call to DescribeInterconnectLoa for this Interconnect.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "Region" : {
          "documentation" : "",
          "name" : "Region",
          "c2jName" : "region",
          "c2jShape" : "Region",
          "variable" : {
            "variableName" : "region",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "region",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "region",
            "marshallLocationName" : "region",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param region */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param region \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param region \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "InterconnectId" : {
          "documentation" : "",
          "name" : "InterconnectId",
          "c2jName" : "interconnectId",
          "c2jShape" : "InterconnectId",
          "variable" : {
            "variableName" : "interconnectId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "interconnectId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "interconnectId",
            "marshallLocationName" : "interconnectId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param interconnectId */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param interconnectId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param interconnectId \n@return Returns a reference to this object so that method calls can be chained together.*/"
        },
        "InterconnectState" : {
          "documentation" : "",
          "name" : "InterconnectState",
          "c2jName" : "interconnectState",
          "c2jShape" : "InterconnectState",
          "variable" : {
            "variableName" : "interconnectState",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "interconnectState",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "interconnectState",
            "marshallLocationName" : "interconnectState",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : "InterconnectState",
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param interconnectState \n@see InterconnectState*/",
          "getterDocumentation" : "/**\n@return \n@see InterconnectState*/",
          "fluentSetterDocumentation" : "/**\n@param interconnectState \n@return Returns a reference to this object so that method calls can be chained together.\n@see InterconnectState*/",
          "varargSetterDocumentation" : "/**\n@param interconnectState \n@return Returns a reference to this object so that method calls can be chained together.\n@see InterconnectState*/"
        },
        "Location" : {
          "documentation" : "",
          "name" : "Location",
          "c2jName" : "location",
          "c2jShape" : "LocationCode",
          "variable" : {
            "variableName" : "location",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "location",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "location",
            "marshallLocationName" : "location",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param location */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param location \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param location \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "DescribeVirtualInterfacesResult" : {
      "c2jName" : "VirtualInterfaces",
      "documentation" : "<p>A structure containing a list of virtual interfaces.</p>",
      "shapeName" : "DescribeVirtualInterfacesResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>A list of virtual interfaces.</p>",
        "name" : "VirtualInterfaces",
        "c2jName" : "virtualInterfaces",
        "c2jShape" : "VirtualInterfaceList",
        "variable" : {
          "variableName" : "virtualInterfaces",
          "variableType" : "java.util.List<VirtualInterface>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<VirtualInterface>",
          "documentation" : "<p>A list of virtual interfaces.</p>",
          "variableSetterType" : "java.util.Collection<VirtualInterface>",
          "simpleType" : "List<VirtualInterface>"
        },
        "setterModel" : {
          "variableName" : "virtualInterfaces",
          "variableType" : "java.util.List<VirtualInterface>",
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<VirtualInterface>",
          "documentation" : "",
          "variableSetterType" : "java.util.Collection<VirtualInterface>",
          "simpleType" : "List<VirtualInterface>"
        },
        "getterModel" : {
          "returnType" : "java.util.List<VirtualInterface>",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "virtualInterfaces",
          "marshallLocationName" : "virtualInterfaces",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : {
          "memberType" : "VirtualInterface",
          "memberLocationName" : null,
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "documentation" : "",
            "name" : "Member",
            "c2jName" : "member",
            "c2jShape" : "VirtualInterface",
            "variable" : {
              "variableName" : "member",
              "variableType" : "VirtualInterface",
              "variableDeclarationType" : "VirtualInterface",
              "documentation" : "",
              "variableSetterType" : "VirtualInterface",
              "simpleType" : "VirtualInterface"
            },
            "setterModel" : {
              "variableName" : "member",
              "variableType" : "VirtualInterface",
              "variableDeclarationType" : "VirtualInterface",
              "documentation" : "",
              "variableSetterType" : "VirtualInterface",
              "simpleType" : "VirtualInterface"
            },
            "getterModel" : {
              "returnType" : "VirtualInterface",
              "documentation" : null
            },
            "http" : {
              "unmarshallLocationName" : "member",
              "marshallLocationName" : "member",
              "additionalUnmarshallingPath" : null,
              "additionalMarshallingPath" : null,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "flattened" : false,
              "header" : false,
              "uri" : false,
              "statusCode" : false,
              "queryString" : false
            },
            "deprecated" : false,
            "listModel" : null,
            "mapModel" : null,
            "enumType" : null,
            "xmlNameSpaceUri" : null,
            "idempotencyToken" : false,
            "simple" : false,
            "list" : false,
            "map" : false,
            "setterDocumentation" : "/**\n@param member */",
            "getterDocumentation" : "/**\n@return */",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
          },
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "templateType" : "java.util.List<VirtualInterface>",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<VirtualInterface>",
          "simpleType" : "VirtualInterface",
          "simple" : false,
          "map" : false
        },
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : false,
        "list" : true,
        "map" : false,
        "setterDocumentation" : "/**<p>A list of virtual interfaces.</p>\n@param virtualInterfaces A list of virtual interfaces.*/",
        "getterDocumentation" : "/**<p>A list of virtual interfaces.</p>\n@return A list of virtual interfaces.*/",
        "fluentSetterDocumentation" : "/**<p>A list of virtual interfaces.</p>\n@param virtualInterfaces A list of virtual interfaces.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>A list of virtual interfaces.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setVirtualInterfaces(java.util.Collection)} or {@link #withVirtualInterfaces(java.util.Collection)} if you want to override the existing values.</p>\n@param virtualInterfaces A list of virtual interfaces.\n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "describeVirtualInterfacesResult",
        "variableType" : "DescribeVirtualInterfacesResult",
        "variableDeclarationType" : "DescribeVirtualInterfacesResult",
        "documentation" : null,
        "variableSetterType" : "DescribeVirtualInterfacesResult",
        "simpleType" : "DescribeVirtualInterfacesResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "VirtualInterfaces" : {
          "documentation" : "<p>A list of virtual interfaces.</p>",
          "name" : "VirtualInterfaces",
          "c2jName" : "virtualInterfaces",
          "c2jShape" : "VirtualInterfaceList",
          "variable" : {
            "variableName" : "virtualInterfaces",
            "variableType" : "java.util.List<VirtualInterface>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<VirtualInterface>",
            "documentation" : "<p>A list of virtual interfaces.</p>",
            "variableSetterType" : "java.util.Collection<VirtualInterface>",
            "simpleType" : "List<VirtualInterface>"
          },
          "setterModel" : {
            "variableName" : "virtualInterfaces",
            "variableType" : "java.util.List<VirtualInterface>",
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<VirtualInterface>",
            "documentation" : "",
            "variableSetterType" : "java.util.Collection<VirtualInterface>",
            "simpleType" : "List<VirtualInterface>"
          },
          "getterModel" : {
            "returnType" : "java.util.List<VirtualInterface>",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "virtualInterfaces",
            "marshallLocationName" : "virtualInterfaces",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : {
            "memberType" : "VirtualInterface",
            "memberLocationName" : null,
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "documentation" : "",
              "name" : "Member",
              "c2jName" : "member",
              "c2jShape" : "VirtualInterface",
              "variable" : {
                "variableName" : "member",
                "variableType" : "VirtualInterface",
                "variableDeclarationType" : "VirtualInterface",
                "documentation" : "",
                "variableSetterType" : "VirtualInterface",
                "simpleType" : "VirtualInterface"
              },
              "setterModel" : {
                "variableName" : "member",
                "variableType" : "VirtualInterface",
                "variableDeclarationType" : "VirtualInterface",
                "documentation" : "",
                "variableSetterType" : "VirtualInterface",
                "simpleType" : "VirtualInterface"
              },
              "getterModel" : {
                "returnType" : "VirtualInterface",
                "documentation" : null
              },
              "http" : {
                "unmarshallLocationName" : "member",
                "marshallLocationName" : "member",
                "additionalUnmarshallingPath" : null,
                "additionalMarshallingPath" : null,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "flattened" : false,
                "header" : false,
                "uri" : false,
                "statusCode" : false,
                "queryString" : false
              },
              "deprecated" : false,
              "listModel" : null,
              "mapModel" : null,
              "enumType" : null,
              "xmlNameSpaceUri" : null,
              "idempotencyToken" : false,
              "simple" : false,
              "list" : false,
              "map" : false,
              "setterDocumentation" : "/**\n@param member */",
              "getterDocumentation" : "/**\n@return */",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/"
            },
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "templateType" : "java.util.List<VirtualInterface>",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<VirtualInterface>",
            "simpleType" : "VirtualInterface",
            "simple" : false,
            "map" : false
          },
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : false,
          "list" : true,
          "map" : false,
          "setterDocumentation" : "/**<p>A list of virtual interfaces.</p>\n@param virtualInterfaces A list of virtual interfaces.*/",
          "getterDocumentation" : "/**<p>A list of virtual interfaces.</p>\n@return A list of virtual interfaces.*/",
          "fluentSetterDocumentation" : "/**<p>A list of virtual interfaces.</p>\n@param virtualInterfaces A list of virtual interfaces.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>A list of virtual interfaces.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setVirtualInterfaces(java.util.Collection)} or {@link #withVirtualInterfaces(java.util.Collection)} if you want to override the existing values.</p>\n@param virtualInterfaces A list of virtual interfaces.\n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "ConfirmConnectionRequest" : {
      "c2jName" : "ConfirmConnectionRequest",
      "documentation" : "<p>Container for the parameters to the ConfirmConnection operation.</p>",
      "shapeName" : "ConfirmConnectionRequest",
      "deprecated" : false,
      "required" : [ "connectionId" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "",
        "name" : "ConnectionId",
        "c2jName" : "connectionId",
        "c2jShape" : "ConnectionId",
        "variable" : {
          "variableName" : "connectionId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "connectionId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "connectionId",
          "marshallLocationName" : "connectionId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "simple" : true,
        "list" : false,
        "map" : false,
        "setterDocumentation" : "/**\n@param connectionId */",
        "getterDocumentation" : "/**\n@return */",
        "fluentSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/"
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "confirmConnectionRequest",
        "variableType" : "ConfirmConnectionRequest",
        "variableDeclarationType" : "ConfirmConnectionRequest",
        "documentation" : null,
        "variableSetterType" : "ConfirmConnectionRequest",
        "simpleType" : "ConfirmConnectionRequest"
      },
      "marshaller" : {
        "action" : "ConfirmConnection",
        "verb" : "POST",
        "target" : "OvertureService.ConfirmConnection",
        "requestUri" : "/",
        "locationName" : null,
        "xmlNameSpaceUri" : null
      },
      "unmarshaller" : null,
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "ConnectionId" : {
          "documentation" : "",
          "name" : "ConnectionId",
          "c2jName" : "connectionId",
          "c2jShape" : "ConnectionId",
          "variable" : {
            "variableName" : "connectionId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "setterModel" : {
            "variableName" : "connectionId",
            "variableType" : "String",
            "variableDeclarationType" : "String",
            "documentation" : "",
            "variableSetterType" : "String",
            "simpleType" : "String"
          },
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "connectionId",
            "marshallLocationName" : "connectionId",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "simple" : true,
          "list" : false,
          "map" : false,
          "setterDocumentation" : "/**\n@param connectionId */",
          "getterDocumentation" : "/**\n@return */",
          "fluentSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/"
        }
      }
    },
    "NewPublicVirtualInterfaceAllocation" : {
      "c2jName" : "NewPublicVirtualInterfaceAllocation",
      "documentation" : "<p>A structure containing information about a public virtual interface that will be provisioned on a connection.</p>",
      "shapeName" : "NewPublicVirtualInterfaceAllocation",
      "deprecated" : false,
      "required" : [ "virtualInterfaceName", "vlan", "asn", "amazonAddress", "customerAddress", "routeFilterPrefixes" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
[...]
