{
  "metadata" : {
    "apiVersion" : "2016-01-01",
    "exceptionUnmarshallerImpl" : null,
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Database Migration Service</fullname> <p> AWS Database Migration Service (AWS DMS) can migrate your data to and from the most widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL Server, MariaDB, Amazon Aurora, and MySQL. The service supports homogeneous migrations such as Oracle to Oracle, as well as heterogeneous migrations between different database platforms, such as Oracle to MySQL or SQL Server to PostgreSQL. </p>",
    "defaultEndpoint" : "dms.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "dms.us-east-1.amazonaws.com",
    "syncInterface" : "AWSDatabaseMigrationService",
    "syncClient" : "AWSDatabaseMigrationServiceClient",
    "asyncInterface" : "AWSDatabaseMigrationServiceAsync",
    "asyncClient" : "AWSDatabaseMigrationServiceAsyncClient",
    "packageName" : "com.amazonaws.services.databasemigrationservice",
    "packagePath" : "com/amazonaws/services/databasemigrationservice",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Database Migration Service",
    "hasApiWithStreamInput" : false,
    "jsonContentVersion" : "application/x-amz-json-1.1",
    "jsonVersion" : "1.1",
    "endpointPrefix" : "dms",
    "signingName" : "dms",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "protocolDefaultExceptionUnmarshallerType" : "JsonErrorUnmarshaller",
    "serviceName" : "AWS Database Migration Service",
    "cborProtocol" : false,
    "jsonProtocol" : true,
    "xmlProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext"
  },
  "operations" : {
    "AddTagsToResource" : {
      "documentation" : "<p> Adds metadata tags to a DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS.</p> <note/><p/>",
      "operationName" : "AddTagsToResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "documentation" : "",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "AddTagsToResourceResult",
      "asyncReturnType" : "AddTagsToResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "authenticated" : true,
      "methodName" : "addTagsToResource"
    },
    "CreateEndpoint" : {
      "documentation" : "<p>Creates an endpoint using the provided settings.</p> <note/><p/>",
      "operationName" : "CreateEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "createEndpointRequest",
        "variableType" : "CreateEndpointRequest",
        "variableDeclarationType" : "CreateEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateEndpointRequest",
        "variableSetterType" : "CreateEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateEndpointResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateEndpointResult",
      "asyncReturnType" : "CreateEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEndpointRequest, CreateEndpointResult>",
      "authenticated" : true,
      "methodName" : "createEndpoint"
    },
    "CreateReplicationInstance" : {
      "documentation" : "<p>Creates the replication instance using the specified parameters.</p> <note/><p/>",
      "operationName" : "CreateReplicationInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "createReplicationInstanceRequest",
        "variableType" : "CreateReplicationInstanceRequest",
        "variableDeclarationType" : "CreateReplicationInstanceRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateReplicationInstanceRequest",
        "variableSetterType" : "CreateReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateReplicationInstanceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "InsufficientResourceCapacityException",
        "documentation" : "<p>There are not enough resources allocated to the database migration.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "StorageQuotaExceededException",
        "documentation" : "<p>The storage quota has been exceeded.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateReplicationInstanceResult",
      "asyncReturnType" : "CreateReplicationInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationInstanceRequest, CreateReplicationInstanceResult>",
      "authenticated" : true,
      "methodName" : "createReplicationInstance"
    },
    "CreateReplicationSubnetGroup" : {
      "documentation" : "<p>Creates a replication subnet group given a list of the subnet IDs in a VPC.</p> <note/><p/>",
      "operationName" : "CreateReplicationSubnetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createReplicationSubnetGroupRequest",
        "variableType" : "CreateReplicationSubnetGroupRequest",
        "variableDeclarationType" : "CreateReplicationSubnetGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateReplicationSubnetGroupRequest",
        "variableSetterType" : "CreateReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateReplicationSubnetGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateReplicationSubnetGroupResult",
      "asyncReturnType" : "CreateReplicationSubnetGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationSubnetGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationSubnetGroupRequest, CreateReplicationSubnetGroupResult>",
      "authenticated" : true,
      "methodName" : "createReplicationSubnetGroup"
    },
    "CreateReplicationTask" : {
      "documentation" : "<p>Creates a replication task using the specified parameters.</p> <note/><p/>",
      "operationName" : "CreateReplicationTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "createReplicationTaskRequest",
        "variableType" : "CreateReplicationTaskRequest",
        "variableDeclarationType" : "CreateReplicationTaskRequest",
        "documentation" : "",
        "simpleType" : "CreateReplicationTaskRequest",
        "variableSetterType" : "CreateReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateReplicationTaskResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "CreateReplicationTaskResult",
      "asyncReturnType" : "CreateReplicationTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationTaskRequest, CreateReplicationTaskResult>",
      "authenticated" : true,
      "methodName" : "createReplicationTask"
    },
    "DeleteEndpoint" : {
      "documentation" : "<p>Deletes the specified endpoint. </p> <note>All tasks associated with the endpoint must be deleted before you can delete the endpoint.</note><p/>",
      "operationName" : "DeleteEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteEndpointRequest",
        "variableType" : "DeleteEndpointRequest",
        "variableDeclarationType" : "DeleteEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteEndpointRequest",
        "variableSetterType" : "DeleteEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteEndpointResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteEndpointResult",
      "asyncReturnType" : "DeleteEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointRequest, DeleteEndpointResult>",
      "authenticated" : true,
      "methodName" : "deleteEndpoint"
    },
    "DeleteReplicationInstance" : {
      "documentation" : "<p>Deletes the specified replication instance. </p> <note>You must delete any migration tasks that are associated with the replication instance before you can delete it.</note><p/>",
      "operationName" : "DeleteReplicationInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteReplicationInstanceRequest",
        "variableType" : "DeleteReplicationInstanceRequest",
        "variableDeclarationType" : "DeleteReplicationInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeleteReplicationInstanceRequest",
        "variableSetterType" : "DeleteReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteReplicationInstanceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteReplicationInstanceResult",
      "asyncReturnType" : "DeleteReplicationInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationInstanceRequest, DeleteReplicationInstanceResult>",
      "authenticated" : true,
      "methodName" : "deleteReplicationInstance"
    },
    "DeleteReplicationSubnetGroup" : {
      "documentation" : "<p>Deletes a subnet group.</p> <note/><p/>",
      "operationName" : "DeleteReplicationSubnetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteReplicationSubnetGroupRequest",
        "variableType" : "DeleteReplicationSubnetGroupRequest",
        "variableDeclarationType" : "DeleteReplicationSubnetGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteReplicationSubnetGroupRequest",
        "variableSetterType" : "DeleteReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteReplicationSubnetGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteReplicationSubnetGroupResult",
      "asyncReturnType" : "DeleteReplicationSubnetGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationSubnetGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationSubnetGroupRequest, DeleteReplicationSubnetGroupResult>",
      "authenticated" : true,
      "methodName" : "deleteReplicationSubnetGroup"
    },
    "DeleteReplicationTask" : {
      "documentation" : "<p>Deletes the specified replication task.</p> <note/><p/>",
      "operationName" : "DeleteReplicationTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteReplicationTaskRequest",
        "variableType" : "DeleteReplicationTaskRequest",
        "variableDeclarationType" : "DeleteReplicationTaskRequest",
        "documentation" : "",
        "simpleType" : "DeleteReplicationTaskRequest",
        "variableSetterType" : "DeleteReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteReplicationTaskResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DeleteReplicationTaskResult",
      "asyncReturnType" : "DeleteReplicationTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationTaskRequest, DeleteReplicationTaskResult>",
      "authenticated" : true,
      "methodName" : "deleteReplicationTask"
    },
    "DescribeAccountAttributes" : {
      "documentation" : "<p>Lists all of the AWS DMS attributes for a customer account. The attributes include AWS DMS quotas for the account, such as the number of replication instances allowed. The description for a quota includes the quota name, current usage toward that quota, and the quota's maximum value. </p> <p>This command does not take any parameters.</p> <note/><p/>",
      "operationName" : "DescribeAccountAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAccountAttributesRequest",
        "variableType" : "DescribeAccountAttributesRequest",
        "variableDeclarationType" : "DescribeAccountAttributesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountAttributesRequest",
        "variableSetterType" : "DescribeAccountAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAccountAttributesResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeAccountAttributesResult",
      "asyncReturnType" : "DescribeAccountAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountAttributesRequest, DescribeAccountAttributesResult>",
      "authenticated" : true,
      "methodName" : "describeAccountAttributes"
    },
    "DescribeConnections" : {
      "documentation" : "<p>Describes the status of the connections that have been made between the replication instance and an endpoint. Connections are created when you test an endpoint.</p> <note/><p/>",
      "operationName" : "DescribeConnections",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConnectionsRequest",
        "variableType" : "DescribeConnectionsRequest",
        "variableDeclarationType" : "DescribeConnectionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeConnectionsRequest",
        "variableSetterType" : "DescribeConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConnectionsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeConnectionsResult",
      "asyncReturnType" : "DescribeConnectionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionsRequest, DescribeConnectionsResult>",
      "authenticated" : true,
      "methodName" : "describeConnections"
    },
    "DescribeEndpointTypes" : {
      "documentation" : "<p>Returns information about the type of endpoints available.</p> <note/> <p/>",
      "operationName" : "DescribeEndpointTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEndpointTypesRequest",
        "variableType" : "DescribeEndpointTypesRequest",
        "variableDeclarationType" : "DescribeEndpointTypesRequest",
        "documentation" : "",
        "simpleType" : "DescribeEndpointTypesRequest",
        "variableSetterType" : "DescribeEndpointTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEndpointTypesResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeEndpointTypesResult",
      "asyncReturnType" : "DescribeEndpointTypesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointTypesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointTypesRequest, DescribeEndpointTypesResult>",
      "authenticated" : true,
      "methodName" : "describeEndpointTypes"
    },
    "DescribeEndpoints" : {
      "documentation" : "<p>Returns information about the endpoints for your account in the current region.</p> <note/><p/>",
      "operationName" : "DescribeEndpoints",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEndpointsRequest",
        "variableType" : "DescribeEndpointsRequest",
        "variableDeclarationType" : "DescribeEndpointsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEndpointsRequest",
        "variableSetterType" : "DescribeEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEndpointsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeEndpointsResult",
      "asyncReturnType" : "DescribeEndpointsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointsRequest, DescribeEndpointsResult>",
      "authenticated" : true,
      "methodName" : "describeEndpoints"
    },
    "DescribeOrderableReplicationInstances" : {
      "documentation" : "<p>Returns information about the replication instance types that can be created in the specified region.</p> <note/><p/>",
      "operationName" : "DescribeOrderableReplicationInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeOrderableReplicationInstancesRequest",
        "variableType" : "DescribeOrderableReplicationInstancesRequest",
        "variableDeclarationType" : "DescribeOrderableReplicationInstancesRequest",
        "documentation" : "",
        "simpleType" : "DescribeOrderableReplicationInstancesRequest",
        "variableSetterType" : "DescribeOrderableReplicationInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeOrderableReplicationInstancesResult",
        "documentation" : null
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeOrderableReplicationInstancesResult",
      "asyncReturnType" : "DescribeOrderableReplicationInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeOrderableReplicationInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeOrderableReplicationInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeOrderableReplicationInstancesRequest, DescribeOrderableReplicationInstancesResult>",
      "authenticated" : true,
      "methodName" : "describeOrderableReplicationInstances"
    },
    "DescribeRefreshSchemasStatus" : {
      "documentation" : "<p>Returns the status of the RefreshSchemas operation.</p> <note/><p/>",
      "operationName" : "DescribeRefreshSchemasStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeRefreshSchemasStatusRequest",
        "variableType" : "DescribeRefreshSchemasStatusRequest",
        "variableDeclarationType" : "DescribeRefreshSchemasStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeRefreshSchemasStatusRequest",
        "variableSetterType" : "DescribeRefreshSchemasStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeRefreshSchemasStatusResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeRefreshSchemasStatusResult",
      "asyncReturnType" : "DescribeRefreshSchemasStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRefreshSchemasStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRefreshSchemasStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRefreshSchemasStatusRequest, DescribeRefreshSchemasStatusResult>",
      "authenticated" : true,
      "methodName" : "describeRefreshSchemasStatus"
    },
    "DescribeReplicationInstances" : {
      "documentation" : "<p>Returns information about replication instances for your account in the current region.</p> <note/><p/>",
      "operationName" : "DescribeReplicationInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeReplicationInstancesRequest",
        "variableType" : "DescribeReplicationInstancesRequest",
        "variableDeclarationType" : "DescribeReplicationInstancesRequest",
        "documentation" : "",
        "simpleType" : "DescribeReplicationInstancesRequest",
        "variableSetterType" : "DescribeReplicationInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeReplicationInstancesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeReplicationInstancesResult",
      "asyncReturnType" : "DescribeReplicationInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationInstancesRequest, DescribeReplicationInstancesResult>",
      "authenticated" : true,
      "methodName" : "describeReplicationInstances"
    },
    "DescribeReplicationSubnetGroups" : {
      "documentation" : "<p>Returns information about the replication subnet groups.</p> <note/><p/>",
      "operationName" : "DescribeReplicationSubnetGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeReplicationSubnetGroupsRequest",
        "variableType" : "DescribeReplicationSubnetGroupsRequest",
        "variableDeclarationType" : "DescribeReplicationSubnetGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeReplicationSubnetGroupsRequest",
        "variableSetterType" : "DescribeReplicationSubnetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeReplicationSubnetGroupsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeReplicationSubnetGroupsResult",
      "asyncReturnType" : "DescribeReplicationSubnetGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationSubnetGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationSubnetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationSubnetGroupsRequest, DescribeReplicationSubnetGroupsResult>",
      "authenticated" : true,
      "methodName" : "describeReplicationSubnetGroups"
    },
    "DescribeReplicationTasks" : {
      "documentation" : "<p>Returns information about replication tasks for your account in the current region.</p> <note/><p/>",
      "operationName" : "DescribeReplicationTasks",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeReplicationTasksRequest",
        "variableType" : "DescribeReplicationTasksRequest",
        "variableDeclarationType" : "DescribeReplicationTasksRequest",
        "documentation" : "",
        "simpleType" : "DescribeReplicationTasksRequest",
        "variableSetterType" : "DescribeReplicationTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeReplicationTasksResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeReplicationTasksResult",
      "asyncReturnType" : "DescribeReplicationTasksResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationTasksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationTasksRequest, DescribeReplicationTasksResult>",
      "authenticated" : true,
      "methodName" : "describeReplicationTasks"
    },
    "DescribeSchemas" : {
      "documentation" : "<p>Returns information about the schema for the specified endpoint.</p> <note/><p/>",
      "operationName" : "DescribeSchemas",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeSchemasRequest",
        "variableType" : "DescribeSchemasRequest",
        "variableDeclarationType" : "DescribeSchemasRequest",
        "documentation" : "",
        "simpleType" : "DescribeSchemasRequest",
        "variableSetterType" : "DescribeSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeSchemasResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeSchemasResult",
      "asyncReturnType" : "DescribeSchemasResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSchemasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSchemasRequest, DescribeSchemasResult>",
      "authenticated" : true,
      "methodName" : "describeSchemas"
    },
    "DescribeTableStatistics" : {
      "documentation" : "<p>Returns table statistics on the database migration task, including table name, rows inserted, rows updated, and rows deleted.</p> <note/><p/>",
      "operationName" : "DescribeTableStatistics",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTableStatisticsRequest",
        "variableType" : "DescribeTableStatisticsRequest",
        "variableDeclarationType" : "DescribeTableStatisticsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTableStatisticsRequest",
        "variableSetterType" : "DescribeTableStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTableStatisticsResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "DescribeTableStatisticsResult",
      "asyncReturnType" : "DescribeTableStatisticsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTableStatisticsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTableStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTableStatisticsRequest, DescribeTableStatisticsResult>",
      "authenticated" : true,
      "methodName" : "describeTableStatistics"
    },
    "ListTagsForResource" : {
      "documentation" : "<p> Lists all tags for an AWS DMS resource.</p> <note/><p/>",
      "operationName" : "ListTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ListTagsForResourceResult",
      "asyncReturnType" : "ListTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "authenticated" : true,
      "methodName" : "listTagsForResource"
    },
    "ModifyEndpoint" : {
      "documentation" : "<p>Modifies the specified endpoint.</p> <note/><p/>",
      "operationName" : "ModifyEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyEndpointRequest",
        "variableType" : "ModifyEndpointRequest",
        "variableDeclarationType" : "ModifyEndpointRequest",
        "documentation" : "",
        "simpleType" : "ModifyEndpointRequest",
        "variableSetterType" : "ModifyEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyEndpointResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ModifyEndpointResult",
      "asyncReturnType" : "ModifyEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyEndpointRequest, ModifyEndpointResult>",
      "authenticated" : true,
      "methodName" : "modifyEndpoint"
    },
    "ModifyReplicationInstance" : {
      "documentation" : "<p>Modifies the replication instance to apply new settings. You can change one or more parameters by specifying these parameters and the new values in the request.</p> <note>Some settings are applied during the maintenance window.</note><p/> <p/>",
      "operationName" : "ModifyReplicationInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyReplicationInstanceRequest",
        "variableType" : "ModifyReplicationInstanceRequest",
        "variableDeclarationType" : "ModifyReplicationInstanceRequest",
        "documentation" : "",
        "simpleType" : "ModifyReplicationInstanceRequest",
        "variableSetterType" : "ModifyReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyReplicationInstanceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InsufficientResourceCapacityException",
        "documentation" : "<p>There are not enough resources allocated to the database migration.</p>"
      }, {
        "exceptionName" : "StorageQuotaExceededException",
        "documentation" : "<p>The storage quota has been exceeded.</p>"
      }, {
        "exceptionName" : "UpgradeDependencyFailureException",
        "documentation" : "<p>An upgrade dependency is preventing the database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ModifyReplicationInstanceResult",
      "asyncReturnType" : "ModifyReplicationInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyReplicationInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyReplicationInstanceRequest, ModifyReplicationInstanceResult>",
      "authenticated" : true,
      "methodName" : "modifyReplicationInstance"
    },
    "ModifyReplicationSubnetGroup" : {
      "documentation" : "<p>Modifies the settings for the specified replication subnet group.</p> <note/><p/>",
      "operationName" : "ModifyReplicationSubnetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyReplicationSubnetGroupRequest",
        "variableType" : "ModifyReplicationSubnetGroupRequest",
        "variableDeclarationType" : "ModifyReplicationSubnetGroupRequest",
        "documentation" : "",
        "simpleType" : "ModifyReplicationSubnetGroupRequest",
        "variableSetterType" : "ModifyReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyReplicationSubnetGroupResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "SubnetAlreadyInUseException",
        "documentation" : "<p>The specified subnet is already in use.</p>"
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "ModifyReplicationSubnetGroupResult",
      "asyncReturnType" : "ModifyReplicationSubnetGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyReplicationSubnetGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyReplicationSubnetGroupRequest, ModifyReplicationSubnetGroupResult>",
      "authenticated" : true,
      "methodName" : "modifyReplicationSubnetGroup"
    },
    "RefreshSchemas" : {
      "documentation" : "<p>Populates the schema for the specified endpoint. This is an asynchronous operation and can take several minutes. You can check the status of this operation by calling the DescribeRefreshSchemasStatus operation.</p> <note/><p/>",
      "operationName" : "RefreshSchemas",
      "deprecated" : false,
      "input" : {
        "variableName" : "refreshSchemasRequest",
        "variableType" : "RefreshSchemasRequest",
        "variableDeclarationType" : "RefreshSchemasRequest",
        "documentation" : "",
        "simpleType" : "RefreshSchemasRequest",
        "variableSetterType" : "RefreshSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RefreshSchemasResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RefreshSchemasResult",
      "asyncReturnType" : "RefreshSchemasResult",
      "asyncFutureType" : "java.util.concurrent.Future<RefreshSchemasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RefreshSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RefreshSchemasRequest, RefreshSchemasResult>",
      "authenticated" : true,
      "methodName" : "refreshSchemas"
    },
    "RemoveTagsFromResource" : {
      "documentation" : "<p> Removes metadata tags from a DMS resource.</p> <note/><p/>",
      "operationName" : "RemoveTagsFromResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "documentation" : "",
        "simpleType" : "RemoveTagsFromResourceRequest",
        "variableSetterType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "RemoveTagsFromResourceResult",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>",
      "authenticated" : true,
      "methodName" : "removeTagsFromResource"
    },
    "StartReplicationTask" : {
      "documentation" : "<p>Starts the replication task.</p> <note/><p/>",
      "operationName" : "StartReplicationTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "startReplicationTaskRequest",
        "variableType" : "StartReplicationTaskRequest",
        "variableDeclarationType" : "StartReplicationTaskRequest",
        "documentation" : "",
        "simpleType" : "StartReplicationTaskRequest",
        "variableSetterType" : "StartReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StartReplicationTaskResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "StartReplicationTaskResult",
      "asyncReturnType" : "StartReplicationTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<StartReplicationTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StartReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartReplicationTaskRequest, StartReplicationTaskResult>",
      "authenticated" : true,
      "methodName" : "startReplicationTask"
    },
    "StopReplicationTask" : {
      "documentation" : "<p>Stops the replication task.</p> <note/><p/>",
      "operationName" : "StopReplicationTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopReplicationTaskRequest",
        "variableType" : "StopReplicationTaskRequest",
        "variableDeclarationType" : "StopReplicationTaskRequest",
        "documentation" : "",
        "simpleType" : "StopReplicationTaskRequest",
        "variableSetterType" : "StopReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopReplicationTaskResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "StopReplicationTaskResult",
      "asyncReturnType" : "StopReplicationTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopReplicationTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopReplicationTaskRequest, StopReplicationTaskResult>",
      "authenticated" : true,
      "methodName" : "stopReplicationTask"
    },
    "TestConnection" : {
      "documentation" : "<p>Tests the connection between the replication instance and the endpoint. </p> <note/><p/>",
      "operationName" : "TestConnection",
      "deprecated" : false,
      "input" : {
        "variableName" : "testConnectionRequest",
        "variableType" : "TestConnectionRequest",
        "variableDeclarationType" : "TestConnectionRequest",
        "documentation" : "",
        "simpleType" : "TestConnectionRequest",
        "variableSetterType" : "TestConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TestConnectionResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "syncReturnType" : "TestConnectionResult",
      "asyncReturnType" : "TestConnectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<TestConnectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TestConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestConnectionRequest, TestConnectionResult>",
      "authenticated" : true,
      "methodName" : "testConnection"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedFault",
      "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>",
      "shapeName" : "AccessDeniedException",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ ],
      "enums" : null,
      "variable" : {
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "variableDeclarationType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "marshaller" : null,
      "unmarshaller" : null,
      "errorCode" : "AccessDeniedFault",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : { }
    },
    "ReplicationInstance" : {
      "c2jName" : "ReplicationInstance",
      "documentation" : "",
      "shapeName" : "ReplicationInstance",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "members" : [ {
        "documentation" : "<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li>Must contain from 1 to 63 alphanumeric characters or hyphens.</li> <li>First character must be a letter.</li> <li>Cannot end with a hyphen or contain two consecutive hyphens.</li> </ul> <p>Example: <code>myrepinstance</code></p>",
        "name" : "ReplicationInstanceIdentifier",
        "c2jName" : "ReplicationInstanceIdentifier",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "replicationInstanceIdentifier",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li>Must contain from 1 to 63 alphanumeric characters or hyphens.</li> <li>First character must be a letter.</li> <li>Cannot end with a hyphen or contain two consecutive hyphens.</li> </ul> <p>Example: <code>myrepinstance</code></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "replicationInstanceIdentifier",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReplicationInstanceIdentifier",
          "marshallLocationName" : "ReplicationInstanceIdentifier",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li>Must contain from 1 to 63 alphanumeric characters or hyphens.</li> <li>First character must be a letter.</li> <li>Cannot end with a hyphen or contain two consecutive hyphens.</li> </ul> <p>Example: <code>myrepinstance</code></p>\n@param replicationInstanceIdentifier The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li>Must contain from 1 to 63 alphanumeric characters or hyphens.</li> <li>First character must be a letter.</li> <li>Cannot end with a hyphen or contain two consecutive hyphens.</li> </ul> <p>Example: <code>myrepinstance</code>*/",
        "getterDocumentation" : "/**<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li>Must contain from 1 to 63 alphanumeric characters or hyphens.</li> <li>First character must be a letter.</li> <li>Cannot end with a hyphen or contain two consecutive hyphens.</li> </ul> <p>Example: <code>myrepinstance</code></p>\n@return The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li>Must contain from 1 to 63 alphanumeric characters or hyphens.</li> <li>First character must be a letter.</li> <li>Cannot end with a hyphen or contain two consecutive hyphens.</li> </ul> <p>Example: <code>myrepinstance</code>*/",
        "fluentSetterDocumentation" : "/**<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li>Must contain from 1 to 63 alphanumeric characters or hyphens.</li> <li>First character must be a letter.</li> <li>Cannot end with a hyphen or contain two consecutive hyphens.</li> </ul> <p>Example: <code>myrepinstance</code></p>\n@param replicationInstanceIdentifier The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li>Must contain from 1 to 63 alphanumeric characters or hyphens.</li> <li>First character must be a letter.</li> <li>Cannot end with a hyphen or contain two consecutive hyphens.</li> </ul> <p>Example: <code>myrepinstance</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li>Must contain from 1 to 63 alphanumeric characters or hyphens.</li> <li>First character must be a letter.</li> <li>Cannot end with a hyphen or contain two consecutive hyphens.</li> </ul> <p>Example: <code>myrepinstance</code></p>\n@param replicationInstanceIdentifier The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li>Must contain from 1 to 63 alphanumeric characters or hyphens.</li> <li>First character must be a letter.</li> <li>Cannot end with a hyphen or contain two consecutive hyphens.</li> </ul> <p>Example: <code>myrepinstance</code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p> The compute and memory capacity of the replication instance. </p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code></p>",
        "name" : "ReplicationInstanceClass",
        "c2jName" : "ReplicationInstanceClass",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "replicationInstanceClass",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p> The compute and memory capacity of the replication instance. </p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code></p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "replicationInstanceClass",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReplicationInstanceClass",
          "marshallLocationName" : "ReplicationInstanceClass",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The compute and memory capacity of the replication instance. </p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code></p>\n@param replicationInstanceClass The compute and memory capacity of the replication instance. </p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code>*/",
        "getterDocumentation" : "/**<p> The compute and memory capacity of the replication instance. </p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code></p>\n@return The compute and memory capacity of the replication instance. </p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code>*/",
        "fluentSetterDocumentation" : "/**<p> The compute and memory capacity of the replication instance. </p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code></p>\n@param replicationInstanceClass The compute and memory capacity of the replication instance. </p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The compute and memory capacity of the replication instance. </p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code></p>\n@param replicationInstanceClass The compute and memory capacity of the replication instance. </p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The status of the replication instance.</p>",
        "name" : "ReplicationInstanceStatus",
        "c2jName" : "ReplicationInstanceStatus",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "replicationInstanceStatus",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The status of the replication instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "replicationInstanceStatus",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReplicationInstanceStatus",
          "marshallLocationName" : "ReplicationInstanceStatus",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The status of the replication instance.</p>\n@param replicationInstanceStatus The status of the replication instance.*/",
        "getterDocumentation" : "/**<p>The status of the replication instance.</p>\n@return The status of the replication instance.*/",
        "fluentSetterDocumentation" : "/**<p>The status of the replication instance.</p>\n@param replicationInstanceStatus The status of the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The status of the replication instance.</p>\n@param replicationInstanceStatus The status of the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p> The amount of storage (in gigabytes) that is allocated for the replication instance. </p>",
        "name" : "AllocatedStorage",
        "c2jName" : "AllocatedStorage",
        "c2jShape" : "Integer",
        "variable" : {
          "variableName" : "allocatedStorage",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p> The amount of storage (in gigabytes) that is allocated for the replication instance. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "allocatedStorage",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AllocatedStorage",
          "marshallLocationName" : "AllocatedStorage",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The amount of storage (in gigabytes) that is allocated for the replication instance. </p>\n@param allocatedStorage The amount of storage (in gigabytes) that is allocated for the replication instance.*/",
        "getterDocumentation" : "/**<p> The amount of storage (in gigabytes) that is allocated for the replication instance. </p>\n@return The amount of storage (in gigabytes) that is allocated for the replication instance.*/",
        "fluentSetterDocumentation" : "/**<p> The amount of storage (in gigabytes) that is allocated for the replication instance. </p>\n@param allocatedStorage The amount of storage (in gigabytes) that is allocated for the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The amount of storage (in gigabytes) that is allocated for the replication instance. </p>\n@param allocatedStorage The amount of storage (in gigabytes) that is allocated for the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The time the replication instance was created.</p>",
        "name" : "InstanceCreateTime",
        "c2jName" : "InstanceCreateTime",
        "c2jShape" : "TStamp",
        "variable" : {
          "variableName" : "instanceCreateTime",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "<p>The time the replication instance was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "setterModel" : {
          "variableName" : "instanceCreateTime",
          "variableType" : "java.util.Date",
          "variableDeclarationType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "InstanceCreateTime",
          "marshallLocationName" : "InstanceCreateTime",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The time the replication instance was created.</p>\n@param instanceCreateTime The time the replication instance was created.*/",
        "getterDocumentation" : "/**<p>The time the replication instance was created.</p>\n@return The time the replication instance was created.*/",
        "fluentSetterDocumentation" : "/**<p>The time the replication instance was created.</p>\n@param instanceCreateTime The time the replication instance was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The time the replication instance was created.</p>\n@param instanceCreateTime The time the replication instance was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The Availability Zone for the instance.</p>",
        "name" : "AvailabilityZone",
        "c2jName" : "AvailabilityZone",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "availabilityZone",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The Availability Zone for the instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "availabilityZone",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AvailabilityZone",
          "marshallLocationName" : "AvailabilityZone",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Availability Zone for the instance.</p>\n@param availabilityZone The Availability Zone for the instance.*/",
        "getterDocumentation" : "/**<p>The Availability Zone for the instance.</p>\n@return The Availability Zone for the instance.*/",
        "fluentSetterDocumentation" : "/**<p>The Availability Zone for the instance.</p>\n@param availabilityZone The Availability Zone for the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Availability Zone for the instance.</p>\n@param availabilityZone The Availability Zone for the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The subnet group for the replication instance.</p>",
        "name" : "ReplicationSubnetGroup",
        "c2jName" : "ReplicationSubnetGroup",
        "c2jShape" : "ReplicationSubnetGroup",
        "variable" : {
          "variableName" : "replicationSubnetGroup",
          "variableType" : "ReplicationSubnetGroup",
          "variableDeclarationType" : "ReplicationSubnetGroup",
          "documentation" : "<p>The subnet group for the replication instance.</p>",
          "simpleType" : "ReplicationSubnetGroup",
          "variableSetterType" : "ReplicationSubnetGroup"
        },
        "setterModel" : {
          "variableName" : "replicationSubnetGroup",
          "variableType" : "ReplicationSubnetGroup",
          "variableDeclarationType" : "ReplicationSubnetGroup",
          "documentation" : "",
          "simpleType" : "ReplicationSubnetGroup",
          "variableSetterType" : "ReplicationSubnetGroup"
        },
        "getterModel" : {
          "returnType" : "ReplicationSubnetGroup",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReplicationSubnetGroup",
          "marshallLocationName" : "ReplicationSubnetGroup",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The subnet group for the replication instance.</p>\n@param replicationSubnetGroup The subnet group for the replication instance.*/",
        "getterDocumentation" : "/**<p>The subnet group for the replication instance.</p>\n@return The subnet group for the replication instance.*/",
        "fluentSetterDocumentation" : "/**<p>The subnet group for the replication instance.</p>\n@param replicationSubnetGroup The subnet group for the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The subnet group for the replication instance.</p>\n@param replicationSubnetGroup The subnet group for the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false,
        "list" : false
      }, {
        "documentation" : "<p>The maintenance window times for the replication instance.</p>",
        "name" : "PreferredMaintenanceWindow",
        "c2jName" : "PreferredMaintenanceWindow",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "preferredMaintenanceWindow",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The maintenance window times for the replication instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "preferredMaintenanceWindow",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "PreferredMaintenanceWindow",
          "marshallLocationName" : "PreferredMaintenanceWindow",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The maintenance window times for the replication instance.</p>\n@param preferredMaintenanceWindow The maintenance window times for the replication instance.*/",
        "getterDocumentation" : "/**<p>The maintenance window times for the replication instance.</p>\n@return The maintenance window times for the replication instance.*/",
        "fluentSetterDocumentation" : "/**<p>The maintenance window times for the replication instance.</p>\n@param preferredMaintenanceWindow The maintenance window times for the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The maintenance window times for the replication instance.</p>\n@param preferredMaintenanceWindow The maintenance window times for the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The pending modification values.</p>",
        "name" : "PendingModifiedValues",
        "c2jName" : "PendingModifiedValues",
        "c2jShape" : "ReplicationPendingModifiedValues",
        "variable" : {
          "variableName" : "pendingModifiedValues",
          "variableType" : "ReplicationPendingModifiedValues",
          "variableDeclarationType" : "ReplicationPendingModifiedValues",
          "documentation" : "<p>The pending modification values.</p>",
          "simpleType" : "ReplicationPendingModifiedValues",
          "variableSetterType" : "ReplicationPendingModifiedValues"
        },
        "setterModel" : {
          "variableName" : "pendingModifiedValues",
          "variableType" : "ReplicationPendingModifiedValues",
          "variableDeclarationType" : "ReplicationPendingModifiedValues",
          "documentation" : "",
          "simpleType" : "ReplicationPendingModifiedValues",
          "variableSetterType" : "ReplicationPendingModifiedValues"
        },
        "getterModel" : {
          "returnType" : "ReplicationPendingModifiedValues",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "PendingModifiedValues",
          "marshallLocationName" : "PendingModifiedValues",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The pending modification values.</p>\n@param pendingModifiedValues The pending modification values.*/",
        "getterDocumentation" : "/**<p>The pending modification values.</p>\n@return The pending modification values.*/",
        "fluentSetterDocumentation" : "/**<p>The pending modification values.</p>\n@param pendingModifiedValues The pending modification values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The pending modification values.</p>\n@param pendingModifiedValues The pending modification values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false,
        "list" : false
      }, {
        "documentation" : "<p> The engine version number of the replication instance. </p>",
        "name" : "EngineVersion",
        "c2jName" : "EngineVersion",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "engineVersion",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p> The engine version number of the replication instance. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "engineVersion",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "EngineVersion",
          "marshallLocationName" : "EngineVersion",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The engine version number of the replication instance. </p>\n@param engineVersion The engine version number of the replication instance.*/",
        "getterDocumentation" : "/**<p> The engine version number of the replication instance. </p>\n@return The engine version number of the replication instance.*/",
        "fluentSetterDocumentation" : "/**<p> The engine version number of the replication instance. </p>\n@param engineVersion The engine version number of the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The engine version number of the replication instance. </p>\n@param engineVersion The engine version number of the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>Boolean value indicating if minor version upgrades will be automatically applied to the instance.</p>",
        "name" : "AutoMinorVersionUpgrade",
        "c2jName" : "AutoMinorVersionUpgrade",
        "c2jShape" : "Boolean",
        "variable" : {
          "variableName" : "autoMinorVersionUpgrade",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "<p>Boolean value indicating if minor version upgrades will be automatically applied to the instance.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "setterModel" : {
          "variableName" : "autoMinorVersionUpgrade",
          "variableType" : "Boolean",
          "variableDeclarationType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "AutoMinorVersionUpgrade",
          "marshallLocationName" : "AutoMinorVersionUpgrade",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>Boolean value indicating if minor version upgrades will be automatically applied to the instance.</p>\n@param autoMinorVersionUpgrade Boolean value indicating if minor version upgrades will be automatically applied to the instance.*/",
        "getterDocumentation" : "/**<p>Boolean value indicating if minor version upgrades will be automatically applied to the instance.</p>\n@return Boolean value indicating if minor version upgrades will be automatically applied to the instance.*/",
        "fluentSetterDocumentation" : "/**<p>Boolean value indicating if minor version upgrades will be automatically applied to the instance.</p>\n@param autoMinorVersionUpgrade Boolean value indicating if minor version upgrades will be automatically applied to the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>Boolean value indicating if minor version upgrades will be automatically applied to the instance.</p>\n@param autoMinorVersionUpgrade Boolean value indicating if minor version upgrades will be automatically applied to the instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p> The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region. </p>",
        "name" : "KmsKeyId",
        "c2jName" : "KmsKeyId",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "kmsKeyId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p> The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "kmsKeyId",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "KmsKeyId",
          "marshallLocationName" : "KmsKeyId",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p> The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region. </p>\n@param kmsKeyId The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.*/",
        "getterDocumentation" : "/**<p> The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region. </p>\n@return The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.*/",
        "fluentSetterDocumentation" : "/**<p> The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region. </p>\n@param kmsKeyId The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p> The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region. </p>\n@param kmsKeyId The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The Amazon Resource Name (ARN) of the replication instance.</p>",
        "name" : "ReplicationInstanceArn",
        "c2jName" : "ReplicationInstanceArn",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "replicationInstanceArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the replication instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "replicationInstanceArn",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReplicationInstanceArn",
          "marshallLocationName" : "ReplicationInstanceArn",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the replication instance.</p>\n@param replicationInstanceArn The Amazon Resource Name (ARN) of the replication instance.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the replication instance.</p>\n@return The Amazon Resource Name (ARN) of the replication instance.*/",
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the replication instance.</p>\n@param replicationInstanceArn The Amazon Resource Name (ARN) of the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the replication instance.</p>\n@param replicationInstanceArn The Amazon Resource Name (ARN) of the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The public IP address of the replication instance.</p>",
        "name" : "ReplicationInstancePublicIpAddress",
        "c2jName" : "ReplicationInstancePublicIpAddress",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "replicationInstancePublicIpAddress",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The public IP address of the replication instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "replicationInstancePublicIpAddress",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReplicationInstancePublicIpAddress",
          "marshallLocationName" : "ReplicationInstancePublicIpAddress",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
        "setterDocumentation" : "/**<p>The public IP address of the replication instance.</p>\n@param replicationInstancePublicIpAddress The public IP address of the replication instance.*/",
        "getterDocumentation" : "/**<p>The public IP address of the replication instance.</p>\n@return The public IP address of the replication instance.*/",
        "fluentSetterDocumentation" : "/**<p>The public IP address of the replication instance.</p>\n@param replicationInstancePublicIpAddress The public IP address of the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The public IP address of the replication instance.</p>\n@param replicationInstancePublicIpAddress The public IP address of the replication instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false
      }, {
        "documentation" : "<p>The private IP address of the replication instance.</p>",
        "name" : "ReplicationInstancePrivateIpAddress",
        "c2jName" : "ReplicationInstancePrivateIpAddress",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "replicationInstancePrivateIpAddress",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The private IP address of the replication instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "setterModel" : {
          "variableName" : "replicationInstancePrivateIpAddress",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReplicationInstancePrivateIpAddress",
          "marshallLocationName" : "ReplicationInstancePrivateIpAddress",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "map" : false,
[...]
