{
  "metadata" : {
    "apiVersion" : "2016-01-01",
    "protocol" : "json",
    "checksumFormat" : null,
    "documentation" : "<fullname>AWS Database Migration Service</fullname> <p>AWS Database Migration Service (AWS DMS) can migrate your data to and from the most widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL Server, Amazon Redshift, MariaDB, Amazon Aurora, and MySQL. The service supports homogeneous migrations such as Oracle to Oracle, as well as heterogeneous migrations between different database platforms, such as Oracle to MySQL or SQL Server to PostgreSQL.</p>",
    "defaultEndpoint" : "dms.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "dms.us-east-1.amazonaws.com",
    "syncInterface" : "AWSDatabaseMigrationService",
    "syncClient" : "AWSDatabaseMigrationServiceClient",
    "asyncInterface" : "AWSDatabaseMigrationServiceAsync",
    "asyncClient" : "AWSDatabaseMigrationServiceAsyncClient",
    "packageName" : "com.amazonaws.services.databasemigrationservice",
    "packagePath" : "com/amazonaws/services/databasemigrationservice",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Database Migration Service",
    "hasApiWithStreamInput" : false,
    "contentType" : null,
    "jsonVersion" : "1.1",
    "endpointPrefix" : "dms",
    "signingName" : "dms",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "jsonProtocol" : true,
    "xmlProtocol" : false,
    "cborProtocol" : false,
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "syncClientBuilderClassName" : "AWSDatabaseMigrationServiceClientBuilder",
    "asyncClientBuilderClassName" : "AWSDatabaseMigrationServiceAsyncClientBuilder",
    "cucumberModuleInjectorClassName" : "AWSDatabaseMigrationServiceModuleInjector",
    "smokeTestsPackageName" : "com.amazonaws.services.databasemigrationservice.smoketests",
    "serviceName" : "AWS Database Migration Service"
  },
  "operations" : {
    "AddTagsToResource" : {
      "documentation" : "<p>Adds metadata tags to a DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS.</p>",
      "operationName" : "AddTagsToResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "AddTagsToResourceRequest",
        "simpleType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "AddTagsToResourceResult",
      "asyncReturnType" : "AddTagsToResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "methodName" : "addTagsToResource"
    },
    "CreateEndpoint" : {
      "documentation" : "<p>Creates an endpoint using the provided settings.</p>",
      "operationName" : "CreateEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "createEndpointRequest",
        "variableType" : "CreateEndpointRequest",
        "variableDeclarationType" : "CreateEndpointRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "CreateEndpointRequest",
        "simpleType" : "CreateEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateEndpointResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateEndpointResult",
      "asyncReturnType" : "CreateEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEndpointRequest, CreateEndpointResult>",
      "methodName" : "createEndpoint"
    },
    "CreateReplicationInstance" : {
      "documentation" : "<p>Creates the replication instance using the specified parameters.</p>",
      "operationName" : "CreateReplicationInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "createReplicationInstanceRequest",
        "variableType" : "CreateReplicationInstanceRequest",
        "variableDeclarationType" : "CreateReplicationInstanceRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "CreateReplicationInstanceRequest",
        "simpleType" : "CreateReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateReplicationInstanceResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "InsufficientResourceCapacityException",
        "documentation" : "<p>There are not enough resources allocated to the database migration.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "StorageQuotaExceededException",
        "documentation" : "<p>The storage quota has been exceeded.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateReplicationInstanceResult",
      "asyncReturnType" : "CreateReplicationInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationInstanceRequest, CreateReplicationInstanceResult>",
      "methodName" : "createReplicationInstance"
    },
    "CreateReplicationSubnetGroup" : {
      "documentation" : "<p>Creates a replication subnet group given a list of the subnet IDs in a VPC.</p>",
      "operationName" : "CreateReplicationSubnetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "createReplicationSubnetGroupRequest",
        "variableType" : "CreateReplicationSubnetGroupRequest",
        "variableDeclarationType" : "CreateReplicationSubnetGroupRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "CreateReplicationSubnetGroupRequest",
        "simpleType" : "CreateReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateReplicationSubnetGroupResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateReplicationSubnetGroupResult",
      "asyncReturnType" : "CreateReplicationSubnetGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationSubnetGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationSubnetGroupRequest, CreateReplicationSubnetGroupResult>",
      "methodName" : "createReplicationSubnetGroup"
    },
    "CreateReplicationTask" : {
      "documentation" : "<p>Creates a replication task using the specified parameters.</p>",
      "operationName" : "CreateReplicationTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "createReplicationTaskRequest",
        "variableType" : "CreateReplicationTaskRequest",
        "variableDeclarationType" : "CreateReplicationTaskRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "CreateReplicationTaskRequest",
        "simpleType" : "CreateReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "CreateReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "CreateReplicationTaskResult",
      "asyncReturnType" : "CreateReplicationTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationTaskRequest, CreateReplicationTaskResult>",
      "methodName" : "createReplicationTask"
    },
    "DeleteCertificate" : {
      "documentation" : "<p>Deletes the specified certificate. </p>",
      "operationName" : "DeleteCertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteCertificateRequest",
        "variableType" : "DeleteCertificateRequest",
        "variableDeclarationType" : "DeleteCertificateRequest",
        "documentation" : "",
        "variableSetterType" : "DeleteCertificateRequest",
        "simpleType" : "DeleteCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteCertificateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteCertificateResult",
      "asyncReturnType" : "DeleteCertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCertificateRequest, DeleteCertificateResult>",
      "methodName" : "deleteCertificate"
    },
    "DeleteEndpoint" : {
      "documentation" : "<p>Deletes the specified endpoint.</p> <note> <p>All tasks associated with the endpoint must be deleted before you can delete the endpoint.</p> </note> <p/>",
      "operationName" : "DeleteEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteEndpointRequest",
        "variableType" : "DeleteEndpointRequest",
        "variableDeclarationType" : "DeleteEndpointRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DeleteEndpointRequest",
        "simpleType" : "DeleteEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteEndpointResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteEndpointResult",
      "asyncReturnType" : "DeleteEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointRequest, DeleteEndpointResult>",
      "methodName" : "deleteEndpoint"
    },
    "DeleteReplicationInstance" : {
      "documentation" : "<p>Deletes the specified replication instance.</p> <note> <p>You must delete any migration tasks that are associated with the replication instance before you can delete it.</p> </note> <p/>",
      "operationName" : "DeleteReplicationInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteReplicationInstanceRequest",
        "variableType" : "DeleteReplicationInstanceRequest",
        "variableDeclarationType" : "DeleteReplicationInstanceRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DeleteReplicationInstanceRequest",
        "simpleType" : "DeleteReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteReplicationInstanceResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteReplicationInstanceResult",
      "asyncReturnType" : "DeleteReplicationInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationInstanceRequest, DeleteReplicationInstanceResult>",
      "methodName" : "deleteReplicationInstance"
    },
    "DeleteReplicationSubnetGroup" : {
      "documentation" : "<p>Deletes a subnet group.</p>",
      "operationName" : "DeleteReplicationSubnetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteReplicationSubnetGroupRequest",
        "variableType" : "DeleteReplicationSubnetGroupRequest",
        "variableDeclarationType" : "DeleteReplicationSubnetGroupRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DeleteReplicationSubnetGroupRequest",
        "simpleType" : "DeleteReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteReplicationSubnetGroupResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteReplicationSubnetGroupResult",
      "asyncReturnType" : "DeleteReplicationSubnetGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationSubnetGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationSubnetGroupRequest, DeleteReplicationSubnetGroupResult>",
      "methodName" : "deleteReplicationSubnetGroup"
    },
    "DeleteReplicationTask" : {
      "documentation" : "<p>Deletes the specified replication task.</p>",
      "operationName" : "DeleteReplicationTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "deleteReplicationTaskRequest",
        "variableType" : "DeleteReplicationTaskRequest",
        "variableDeclarationType" : "DeleteReplicationTaskRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DeleteReplicationTaskRequest",
        "simpleType" : "DeleteReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DeleteReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DeleteReplicationTaskResult",
      "asyncReturnType" : "DeleteReplicationTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationTaskRequest, DeleteReplicationTaskResult>",
      "methodName" : "deleteReplicationTask"
    },
    "DescribeAccountAttributes" : {
      "documentation" : "<p>Lists all of the AWS DMS attributes for a customer account. The attributes include AWS DMS quotas for the account, such as the number of replication instances allowed. The description for a quota includes the quota name, current usage toward that quota, and the quota's maximum value.</p> <p>This command does not take any parameters.</p>",
      "operationName" : "DescribeAccountAttributes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeAccountAttributesRequest",
        "variableType" : "DescribeAccountAttributesRequest",
        "variableDeclarationType" : "DescribeAccountAttributesRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeAccountAttributesRequest",
        "simpleType" : "DescribeAccountAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeAccountAttributesResult",
        "documentation" : "<p/>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeAccountAttributesResult",
      "asyncReturnType" : "DescribeAccountAttributesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountAttributesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountAttributesRequest, DescribeAccountAttributesResult>",
      "methodName" : "describeAccountAttributes"
    },
    "DescribeCertificates" : {
      "documentation" : "<p>Provides a description of the certificate.</p>",
      "operationName" : "DescribeCertificates",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeCertificatesRequest",
        "variableType" : "DescribeCertificatesRequest",
        "variableDeclarationType" : "DescribeCertificatesRequest",
        "documentation" : "",
        "variableSetterType" : "DescribeCertificatesRequest",
        "simpleType" : "DescribeCertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeCertificatesResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeCertificatesResult",
      "asyncReturnType" : "DescribeCertificatesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCertificatesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCertificatesRequest, DescribeCertificatesResult>",
      "methodName" : "describeCertificates"
    },
    "DescribeConnections" : {
      "documentation" : "<p>Describes the status of the connections that have been made between the replication instance and an endpoint. Connections are created when you test an endpoint.</p>",
      "operationName" : "DescribeConnections",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeConnectionsRequest",
        "variableType" : "DescribeConnectionsRequest",
        "variableDeclarationType" : "DescribeConnectionsRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeConnectionsRequest",
        "simpleType" : "DescribeConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeConnectionsResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeConnectionsResult",
      "asyncReturnType" : "DescribeConnectionsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionsRequest, DescribeConnectionsResult>",
      "methodName" : "describeConnections"
    },
    "DescribeEndpointTypes" : {
      "documentation" : "<p>Returns information about the type of endpoints available.</p>",
      "operationName" : "DescribeEndpointTypes",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEndpointTypesRequest",
        "variableType" : "DescribeEndpointTypesRequest",
        "variableDeclarationType" : "DescribeEndpointTypesRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeEndpointTypesRequest",
        "simpleType" : "DescribeEndpointTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEndpointTypesResult",
        "documentation" : "<p/>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeEndpointTypesResult",
      "asyncReturnType" : "DescribeEndpointTypesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointTypesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointTypesRequest, DescribeEndpointTypesResult>",
      "methodName" : "describeEndpointTypes"
    },
    "DescribeEndpoints" : {
      "documentation" : "<p>Returns information about the endpoints for your account in the current region.</p>",
      "operationName" : "DescribeEndpoints",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeEndpointsRequest",
        "variableType" : "DescribeEndpointsRequest",
        "variableDeclarationType" : "DescribeEndpointsRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeEndpointsRequest",
        "simpleType" : "DescribeEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeEndpointsResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeEndpointsResult",
      "asyncReturnType" : "DescribeEndpointsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointsRequest, DescribeEndpointsResult>",
      "methodName" : "describeEndpoints"
    },
    "DescribeOrderableReplicationInstances" : {
      "documentation" : "<p>Returns information about the replication instance types that can be created in the specified region.</p>",
      "operationName" : "DescribeOrderableReplicationInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeOrderableReplicationInstancesRequest",
        "variableType" : "DescribeOrderableReplicationInstancesRequest",
        "variableDeclarationType" : "DescribeOrderableReplicationInstancesRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeOrderableReplicationInstancesRequest",
        "simpleType" : "DescribeOrderableReplicationInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeOrderableReplicationInstancesResult",
        "documentation" : "<p/>"
      },
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeOrderableReplicationInstancesResult",
      "asyncReturnType" : "DescribeOrderableReplicationInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeOrderableReplicationInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeOrderableReplicationInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeOrderableReplicationInstancesRequest, DescribeOrderableReplicationInstancesResult>",
      "methodName" : "describeOrderableReplicationInstances"
    },
    "DescribeRefreshSchemasStatus" : {
      "documentation" : "<p>Returns the status of the RefreshSchemas operation.</p>",
      "operationName" : "DescribeRefreshSchemasStatus",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeRefreshSchemasStatusRequest",
        "variableType" : "DescribeRefreshSchemasStatusRequest",
        "variableDeclarationType" : "DescribeRefreshSchemasStatusRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeRefreshSchemasStatusRequest",
        "simpleType" : "DescribeRefreshSchemasStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeRefreshSchemasStatusResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeRefreshSchemasStatusResult",
      "asyncReturnType" : "DescribeRefreshSchemasStatusResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRefreshSchemasStatusResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRefreshSchemasStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRefreshSchemasStatusRequest, DescribeRefreshSchemasStatusResult>",
      "methodName" : "describeRefreshSchemasStatus"
    },
    "DescribeReplicationInstances" : {
      "documentation" : "<p>Returns information about replication instances for your account in the current region.</p>",
      "operationName" : "DescribeReplicationInstances",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeReplicationInstancesRequest",
        "variableType" : "DescribeReplicationInstancesRequest",
        "variableDeclarationType" : "DescribeReplicationInstancesRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeReplicationInstancesRequest",
        "simpleType" : "DescribeReplicationInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeReplicationInstancesResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeReplicationInstancesResult",
      "asyncReturnType" : "DescribeReplicationInstancesResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationInstancesResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationInstancesRequest, DescribeReplicationInstancesResult>",
      "methodName" : "describeReplicationInstances"
    },
    "DescribeReplicationSubnetGroups" : {
      "documentation" : "<p>Returns information about the replication subnet groups.</p>",
      "operationName" : "DescribeReplicationSubnetGroups",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeReplicationSubnetGroupsRequest",
        "variableType" : "DescribeReplicationSubnetGroupsRequest",
        "variableDeclarationType" : "DescribeReplicationSubnetGroupsRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeReplicationSubnetGroupsRequest",
        "simpleType" : "DescribeReplicationSubnetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeReplicationSubnetGroupsResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeReplicationSubnetGroupsResult",
      "asyncReturnType" : "DescribeReplicationSubnetGroupsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationSubnetGroupsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationSubnetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationSubnetGroupsRequest, DescribeReplicationSubnetGroupsResult>",
      "methodName" : "describeReplicationSubnetGroups"
    },
    "DescribeReplicationTasks" : {
      "documentation" : "<p>Returns information about replication tasks for your account in the current region.</p>",
      "operationName" : "DescribeReplicationTasks",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeReplicationTasksRequest",
        "variableType" : "DescribeReplicationTasksRequest",
        "variableDeclarationType" : "DescribeReplicationTasksRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeReplicationTasksRequest",
        "simpleType" : "DescribeReplicationTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeReplicationTasksResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeReplicationTasksResult",
      "asyncReturnType" : "DescribeReplicationTasksResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationTasksResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationTasksRequest, DescribeReplicationTasksResult>",
      "methodName" : "describeReplicationTasks"
    },
    "DescribeSchemas" : {
      "documentation" : "<p>Returns information about the schema for the specified endpoint.</p> <p/>",
      "operationName" : "DescribeSchemas",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeSchemasRequest",
        "variableType" : "DescribeSchemasRequest",
        "variableDeclarationType" : "DescribeSchemasRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeSchemasRequest",
        "simpleType" : "DescribeSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeSchemasResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeSchemasResult",
      "asyncReturnType" : "DescribeSchemasResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSchemasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSchemasRequest, DescribeSchemasResult>",
      "methodName" : "describeSchemas"
    },
    "DescribeTableStatistics" : {
      "documentation" : "<p>Returns table statistics on the database migration task, including table name, rows inserted, rows updated, and rows deleted.</p>",
      "operationName" : "DescribeTableStatistics",
      "deprecated" : false,
      "input" : {
        "variableName" : "describeTableStatisticsRequest",
        "variableType" : "DescribeTableStatisticsRequest",
        "variableDeclarationType" : "DescribeTableStatisticsRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "DescribeTableStatisticsRequest",
        "simpleType" : "DescribeTableStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "DescribeTableStatisticsResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "DescribeTableStatisticsResult",
      "asyncReturnType" : "DescribeTableStatisticsResult",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTableStatisticsResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTableStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTableStatisticsRequest, DescribeTableStatisticsResult>",
      "methodName" : "describeTableStatistics"
    },
    "ImportCertificate" : {
      "documentation" : "<p>Uploads the specified certificate.</p>",
      "operationName" : "ImportCertificate",
      "deprecated" : false,
      "input" : {
        "variableName" : "importCertificateRequest",
        "variableType" : "ImportCertificateRequest",
        "variableDeclarationType" : "ImportCertificateRequest",
        "documentation" : "",
        "variableSetterType" : "ImportCertificateRequest",
        "simpleType" : "ImportCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ImportCertificateResult",
        "documentation" : null
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "InvalidCertificateException",
        "documentation" : "<p>The certificate was not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ImportCertificateResult",
      "asyncReturnType" : "ImportCertificateResult",
      "asyncFutureType" : "java.util.concurrent.Future<ImportCertificateResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ImportCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportCertificateRequest, ImportCertificateResult>",
      "methodName" : "importCertificate"
    },
    "ListTagsForResource" : {
      "documentation" : "<p>Lists all tags for an AWS DMS resource.</p>",
      "operationName" : "ListTagsForResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "ListTagsForResourceRequest",
        "simpleType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ListTagsForResourceResult",
      "asyncReturnType" : "ListTagsForResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "methodName" : "listTagsForResource"
    },
    "ModifyEndpoint" : {
      "documentation" : "<p>Modifies the specified endpoint.</p>",
      "operationName" : "ModifyEndpoint",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyEndpointRequest",
        "variableType" : "ModifyEndpointRequest",
        "variableDeclarationType" : "ModifyEndpointRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "ModifyEndpointRequest",
        "simpleType" : "ModifyEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyEndpointResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ModifyEndpointResult",
      "asyncReturnType" : "ModifyEndpointResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyEndpointResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyEndpointRequest, ModifyEndpointResult>",
      "methodName" : "modifyEndpoint"
    },
    "ModifyReplicationInstance" : {
      "documentation" : "<p>Modifies the replication instance to apply new settings. You can change one or more parameters by specifying these parameters and the new values in the request.</p> <p>Some settings are applied during the maintenance window.</p> <p/>",
      "operationName" : "ModifyReplicationInstance",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyReplicationInstanceRequest",
        "variableType" : "ModifyReplicationInstanceRequest",
        "variableDeclarationType" : "ModifyReplicationInstanceRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "ModifyReplicationInstanceRequest",
        "simpleType" : "ModifyReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyReplicationInstanceResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InsufficientResourceCapacityException",
        "documentation" : "<p>There are not enough resources allocated to the database migration.</p>"
      }, {
        "exceptionName" : "StorageQuotaExceededException",
        "documentation" : "<p>The storage quota has been exceeded.</p>"
      }, {
        "exceptionName" : "UpgradeDependencyFailureException",
        "documentation" : "<p>An upgrade dependency is preventing the database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ModifyReplicationInstanceResult",
      "asyncReturnType" : "ModifyReplicationInstanceResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyReplicationInstanceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyReplicationInstanceRequest, ModifyReplicationInstanceResult>",
      "methodName" : "modifyReplicationInstance"
    },
    "ModifyReplicationSubnetGroup" : {
      "documentation" : "<p>Modifies the settings for the specified replication subnet group.</p>",
      "operationName" : "ModifyReplicationSubnetGroup",
      "deprecated" : false,
      "input" : {
        "variableName" : "modifyReplicationSubnetGroupRequest",
        "variableType" : "ModifyReplicationSubnetGroupRequest",
        "variableDeclarationType" : "ModifyReplicationSubnetGroupRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "ModifyReplicationSubnetGroupRequest",
        "simpleType" : "ModifyReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "ModifyReplicationSubnetGroupResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "SubnetAlreadyInUseException",
        "documentation" : "<p>The specified subnet is already in use.</p>"
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "ModifyReplicationSubnetGroupResult",
      "asyncReturnType" : "ModifyReplicationSubnetGroupResult",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyReplicationSubnetGroupResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyReplicationSubnetGroupRequest, ModifyReplicationSubnetGroupResult>",
      "methodName" : "modifyReplicationSubnetGroup"
    },
    "RefreshSchemas" : {
      "documentation" : "<p>Populates the schema for the specified endpoint. This is an asynchronous operation and can take several minutes. You can check the status of this operation by calling the DescribeRefreshSchemasStatus operation.</p>",
      "operationName" : "RefreshSchemas",
      "deprecated" : false,
      "input" : {
        "variableName" : "refreshSchemasRequest",
        "variableType" : "RefreshSchemasRequest",
        "variableDeclarationType" : "RefreshSchemasRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "RefreshSchemasRequest",
        "simpleType" : "RefreshSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RefreshSchemasResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RefreshSchemasResult",
      "asyncReturnType" : "RefreshSchemasResult",
      "asyncFutureType" : "java.util.concurrent.Future<RefreshSchemasResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RefreshSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RefreshSchemasRequest, RefreshSchemasResult>",
      "methodName" : "refreshSchemas"
    },
    "RemoveTagsFromResource" : {
      "documentation" : "<p>Removes metadata tags from a DMS resource.</p>",
      "operationName" : "RemoveTagsFromResource",
      "deprecated" : false,
      "input" : {
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "RemoveTagsFromResourceRequest",
        "simpleType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "RemoveTagsFromResourceResult",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>",
      "methodName" : "removeTagsFromResource"
    },
    "StartReplicationTask" : {
      "documentation" : "<p>Starts the replication task.</p>",
      "operationName" : "StartReplicationTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "startReplicationTaskRequest",
        "variableType" : "StartReplicationTaskRequest",
        "variableDeclarationType" : "StartReplicationTaskRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "StartReplicationTaskRequest",
        "simpleType" : "StartReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StartReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StartReplicationTaskResult",
      "asyncReturnType" : "StartReplicationTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<StartReplicationTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StartReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartReplicationTaskRequest, StartReplicationTaskResult>",
      "methodName" : "startReplicationTask"
    },
    "StopReplicationTask" : {
      "documentation" : "<p>Stops the replication task.</p> <p/>",
      "operationName" : "StopReplicationTask",
      "deprecated" : false,
      "input" : {
        "variableName" : "stopReplicationTaskRequest",
        "variableType" : "StopReplicationTaskRequest",
        "variableDeclarationType" : "StopReplicationTaskRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "StopReplicationTaskRequest",
        "simpleType" : "StopReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "StopReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "StopReplicationTaskResult",
      "asyncReturnType" : "StopReplicationTaskResult",
      "asyncFutureType" : "java.util.concurrent.Future<StopReplicationTaskResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<StopReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopReplicationTaskRequest, StopReplicationTaskResult>",
      "methodName" : "stopReplicationTask"
    },
    "TestConnection" : {
      "documentation" : "<p>Tests the connection between the replication instance and the endpoint.</p>",
      "operationName" : "TestConnection",
      "deprecated" : false,
      "input" : {
        "variableName" : "testConnectionRequest",
        "variableType" : "TestConnectionRequest",
        "variableDeclarationType" : "TestConnectionRequest",
        "documentation" : "<p/>",
        "variableSetterType" : "TestConnectionRequest",
        "simpleType" : "TestConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "returnType" : {
        "returnType" : "TestConnectionResult",
        "documentation" : "<p/>"
      },
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "authenticated" : true,
      "syncReturnType" : "TestConnectionResult",
      "asyncReturnType" : "TestConnectionResult",
      "asyncFutureType" : "java.util.concurrent.Future<TestConnectionResult>",
      "asyncCallableType" : "java.util.concurrent.Callable<TestConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestConnectionRequest, TestConnectionResult>",
      "methodName" : "testConnection"
    }
  },
  "shapes" : {
    "RefreshSchemasResult" : {
      "c2jName" : "RefreshSchemasResponse",
      "documentation" : "<p/>",
      "shapeName" : "RefreshSchemasResult",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The status of the refreshed schema.</p>",
        "name" : "RefreshSchemasStatus",
        "c2jName" : "RefreshSchemasStatus",
        "c2jShape" : "RefreshSchemasStatus",
        "variable" : {
          "variableName" : "refreshSchemasStatus",
          "variableType" : "RefreshSchemasStatus",
          "variableDeclarationType" : "RefreshSchemasStatus",
          "documentation" : "<p>The status of the refreshed schema.</p>",
          "variableSetterType" : "RefreshSchemasStatus",
          "simpleType" : "RefreshSchemasStatus"
        },
        "setterModel" : {
          "variableName" : "refreshSchemasStatus",
          "variableType" : "RefreshSchemasStatus",
          "variableDeclarationType" : "RefreshSchemasStatus",
          "documentation" : "",
          "variableSetterType" : "RefreshSchemasStatus",
          "simpleType" : "RefreshSchemasStatus"
        },
        "getterModel" : {
          "returnType" : "RefreshSchemasStatus",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "RefreshSchemasStatus",
          "marshallLocationName" : "RefreshSchemasStatus",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The status of the refreshed schema.</p>\n@param refreshSchemasStatus The status of the refreshed schema.*/",
        "getterDocumentation" : "/**<p>The status of the refreshed schema.</p>\n@return The status of the refreshed schema.*/",
        "fluentSetterDocumentation" : "/**<p>The status of the refreshed schema.</p>\n@param refreshSchemasStatus The status of the refreshed schema.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The status of the refreshed schema.</p>\n@param refreshSchemasStatus The status of the refreshed schema.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : false,
        "list" : false,
        "map" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "refreshSchemasResult",
        "variableType" : "RefreshSchemasResult",
        "variableDeclarationType" : "RefreshSchemasResult",
        "documentation" : null,
        "variableSetterType" : "RefreshSchemasResult",
        "simpleType" : "RefreshSchemasResult"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "RefreshSchemasStatus" : {
          "documentation" : "<p>The status of the refreshed schema.</p>",
          "name" : "RefreshSchemasStatus",
          "c2jName" : "RefreshSchemasStatus",
          "c2jShape" : "RefreshSchemasStatus",
          "variable" : {
            "variableName" : "refreshSchemasStatus",
            "variableType" : "RefreshSchemasStatus",
            "variableDeclarationType" : "RefreshSchemasStatus",
            "documentation" : "<p>The status of the refreshed schema.</p>",
            "variableSetterType" : "RefreshSchemasStatus",
            "simpleType" : "RefreshSchemasStatus"
          },
          "setterModel" : {
            "variableName" : "refreshSchemasStatus",
            "variableType" : "RefreshSchemasStatus",
            "variableDeclarationType" : "RefreshSchemasStatus",
            "documentation" : "",
            "variableSetterType" : "RefreshSchemasStatus",
            "simpleType" : "RefreshSchemasStatus"
          },
          "getterModel" : {
            "returnType" : "RefreshSchemasStatus",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "RefreshSchemasStatus",
            "marshallLocationName" : "RefreshSchemasStatus",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The status of the refreshed schema.</p>\n@param refreshSchemasStatus The status of the refreshed schema.*/",
          "getterDocumentation" : "/**<p>The status of the refreshed schema.</p>\n@return The status of the refreshed schema.*/",
          "fluentSetterDocumentation" : "/**<p>The status of the refreshed schema.</p>\n@param refreshSchemasStatus The status of the refreshed schema.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The status of the refreshed schema.</p>\n@param refreshSchemasStatus The status of the refreshed schema.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : false,
          "list" : false,
          "map" : false
        }
      }
    },
    "ReplicationTaskStats" : {
      "c2jName" : "ReplicationTaskStats",
      "documentation" : "<p/>",
      "shapeName" : "ReplicationTaskStats",
      "deprecated" : false,
      "required" : null,
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The percent complete for the full load migration task.</p>",
        "name" : "FullLoadProgressPercent",
        "c2jName" : "FullLoadProgressPercent",
        "c2jShape" : "Integer",
        "variable" : {
          "variableName" : "fullLoadProgressPercent",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The percent complete for the full load migration task.</p>",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "fullLoadProgressPercent",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "FullLoadProgressPercent",
          "marshallLocationName" : "FullLoadProgressPercent",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The percent complete for the full load migration task.</p>\n@param fullLoadProgressPercent The percent complete for the full load migration task.*/",
        "getterDocumentation" : "/**<p>The percent complete for the full load migration task.</p>\n@return The percent complete for the full load migration task.*/",
        "fluentSetterDocumentation" : "/**<p>The percent complete for the full load migration task.</p>\n@param fullLoadProgressPercent The percent complete for the full load migration task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The percent complete for the full load migration task.</p>\n@param fullLoadProgressPercent The percent complete for the full load migration task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The elapsed time of the task, in milliseconds.</p>",
        "name" : "ElapsedTimeMillis",
        "c2jName" : "ElapsedTimeMillis",
        "c2jShape" : "Long",
        "variable" : {
          "variableName" : "elapsedTimeMillis",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "<p>The elapsed time of the task, in milliseconds.</p>",
          "variableSetterType" : "Long",
          "simpleType" : "Long"
        },
        "setterModel" : {
          "variableName" : "elapsedTimeMillis",
          "variableType" : "Long",
          "variableDeclarationType" : "Long",
          "documentation" : "",
          "variableSetterType" : "Long",
          "simpleType" : "Long"
        },
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ElapsedTimeMillis",
          "marshallLocationName" : "ElapsedTimeMillis",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The elapsed time of the task, in milliseconds.</p>\n@param elapsedTimeMillis The elapsed time of the task, in milliseconds.*/",
        "getterDocumentation" : "/**<p>The elapsed time of the task, in milliseconds.</p>\n@return The elapsed time of the task, in milliseconds.*/",
        "fluentSetterDocumentation" : "/**<p>The elapsed time of the task, in milliseconds.</p>\n@param elapsedTimeMillis The elapsed time of the task, in milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The elapsed time of the task, in milliseconds.</p>\n@param elapsedTimeMillis The elapsed time of the task, in milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The number of tables loaded for this task.</p>",
        "name" : "TablesLoaded",
        "c2jName" : "TablesLoaded",
        "c2jShape" : "Integer",
        "variable" : {
          "variableName" : "tablesLoaded",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The number of tables loaded for this task.</p>",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "tablesLoaded",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TablesLoaded",
          "marshallLocationName" : "TablesLoaded",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The number of tables loaded for this task.</p>\n@param tablesLoaded The number of tables loaded for this task.*/",
        "getterDocumentation" : "/**<p>The number of tables loaded for this task.</p>\n@return The number of tables loaded for this task.*/",
        "fluentSetterDocumentation" : "/**<p>The number of tables loaded for this task.</p>\n@param tablesLoaded The number of tables loaded for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The number of tables loaded for this task.</p>\n@param tablesLoaded The number of tables loaded for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The number of tables currently loading for this task.</p>",
        "name" : "TablesLoading",
        "c2jName" : "TablesLoading",
        "c2jShape" : "Integer",
        "variable" : {
          "variableName" : "tablesLoading",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The number of tables currently loading for this task.</p>",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "tablesLoading",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TablesLoading",
          "marshallLocationName" : "TablesLoading",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The number of tables currently loading for this task.</p>\n@param tablesLoading The number of tables currently loading for this task.*/",
        "getterDocumentation" : "/**<p>The number of tables currently loading for this task.</p>\n@return The number of tables currently loading for this task.*/",
        "fluentSetterDocumentation" : "/**<p>The number of tables currently loading for this task.</p>\n@param tablesLoading The number of tables currently loading for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The number of tables currently loading for this task.</p>\n@param tablesLoading The number of tables currently loading for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The number of tables queued for this task.</p>",
        "name" : "TablesQueued",
        "c2jName" : "TablesQueued",
        "c2jShape" : "Integer",
        "variable" : {
          "variableName" : "tablesQueued",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The number of tables queued for this task.</p>",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "tablesQueued",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TablesQueued",
          "marshallLocationName" : "TablesQueued",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The number of tables queued for this task.</p>\n@param tablesQueued The number of tables queued for this task.*/",
        "getterDocumentation" : "/**<p>The number of tables queued for this task.</p>\n@return The number of tables queued for this task.*/",
        "fluentSetterDocumentation" : "/**<p>The number of tables queued for this task.</p>\n@param tablesQueued The number of tables queued for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The number of tables queued for this task.</p>\n@param tablesQueued The number of tables queued for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      }, {
        "documentation" : "<p>The number of errors that have occurred during this task.</p>",
        "name" : "TablesErrored",
        "c2jName" : "TablesErrored",
        "c2jShape" : "Integer",
        "variable" : {
          "variableName" : "tablesErrored",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "<p>The number of errors that have occurred during this task.</p>",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "setterModel" : {
          "variableName" : "tablesErrored",
          "variableType" : "Integer",
          "variableDeclarationType" : "Integer",
          "documentation" : "",
          "variableSetterType" : "Integer",
          "simpleType" : "Integer"
        },
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "TablesErrored",
          "marshallLocationName" : "TablesErrored",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The number of errors that have occurred during this task.</p>\n@param tablesErrored The number of errors that have occurred during this task.*/",
        "getterDocumentation" : "/**<p>The number of errors that have occurred during this task.</p>\n@return The number of errors that have occurred during this task.*/",
        "fluentSetterDocumentation" : "/**<p>The number of errors that have occurred during this task.</p>\n@param tablesErrored The number of errors that have occurred during this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "varargSetterDocumentation" : "/**<p>The number of errors that have occurred during this task.</p>\n@param tablesErrored The number of errors that have occurred during this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "simple" : true,
        "list" : false,
        "map" : false
      } ],
      "enums" : null,
      "variable" : {
        "variableName" : "replicationTaskStats",
        "variableType" : "ReplicationTaskStats",
        "variableDeclarationType" : "ReplicationTaskStats",
        "documentation" : null,
        "variableSetterType" : "ReplicationTaskStats",
        "simpleType" : "ReplicationTaskStats"
      },
      "marshaller" : null,
      "unmarshaller" : {
        "resultWrapper" : null,
        "flattened" : false
      },
      "errorCode" : null,
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingModelClass" : false,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "membersAsMap" : {
        "TablesLoaded" : {
          "documentation" : "<p>The number of tables loaded for this task.</p>",
          "name" : "TablesLoaded",
          "c2jName" : "TablesLoaded",
          "c2jShape" : "Integer",
          "variable" : {
            "variableName" : "tablesLoaded",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The number of tables loaded for this task.</p>",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "tablesLoaded",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TablesLoaded",
            "marshallLocationName" : "TablesLoaded",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The number of tables loaded for this task.</p>\n@param tablesLoaded The number of tables loaded for this task.*/",
          "getterDocumentation" : "/**<p>The number of tables loaded for this task.</p>\n@return The number of tables loaded for this task.*/",
          "fluentSetterDocumentation" : "/**<p>The number of tables loaded for this task.</p>\n@param tablesLoaded The number of tables loaded for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The number of tables loaded for this task.</p>\n@param tablesLoaded The number of tables loaded for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "TablesLoading" : {
          "documentation" : "<p>The number of tables currently loading for this task.</p>",
          "name" : "TablesLoading",
          "c2jName" : "TablesLoading",
          "c2jShape" : "Integer",
          "variable" : {
            "variableName" : "tablesLoading",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The number of tables currently loading for this task.</p>",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "tablesLoading",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TablesLoading",
            "marshallLocationName" : "TablesLoading",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The number of tables currently loading for this task.</p>\n@param tablesLoading The number of tables currently loading for this task.*/",
          "getterDocumentation" : "/**<p>The number of tables currently loading for this task.</p>\n@return The number of tables currently loading for this task.*/",
          "fluentSetterDocumentation" : "/**<p>The number of tables currently loading for this task.</p>\n@param tablesLoading The number of tables currently loading for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The number of tables currently loading for this task.</p>\n@param tablesLoading The number of tables currently loading for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "TablesQueued" : {
          "documentation" : "<p>The number of tables queued for this task.</p>",
          "name" : "TablesQueued",
          "c2jName" : "TablesQueued",
          "c2jShape" : "Integer",
          "variable" : {
            "variableName" : "tablesQueued",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The number of tables queued for this task.</p>",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "tablesQueued",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TablesQueued",
            "marshallLocationName" : "TablesQueued",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The number of tables queued for this task.</p>\n@param tablesQueued The number of tables queued for this task.*/",
          "getterDocumentation" : "/**<p>The number of tables queued for this task.</p>\n@return The number of tables queued for this task.*/",
          "fluentSetterDocumentation" : "/**<p>The number of tables queued for this task.</p>\n@param tablesQueued The number of tables queued for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The number of tables queued for this task.</p>\n@param tablesQueued The number of tables queued for this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "ElapsedTimeMillis" : {
          "documentation" : "<p>The elapsed time of the task, in milliseconds.</p>",
          "name" : "ElapsedTimeMillis",
          "c2jName" : "ElapsedTimeMillis",
          "c2jShape" : "Long",
          "variable" : {
            "variableName" : "elapsedTimeMillis",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "<p>The elapsed time of the task, in milliseconds.</p>",
            "variableSetterType" : "Long",
            "simpleType" : "Long"
          },
          "setterModel" : {
            "variableName" : "elapsedTimeMillis",
            "variableType" : "Long",
            "variableDeclarationType" : "Long",
            "documentation" : "",
            "variableSetterType" : "Long",
            "simpleType" : "Long"
          },
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "ElapsedTimeMillis",
            "marshallLocationName" : "ElapsedTimeMillis",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The elapsed time of the task, in milliseconds.</p>\n@param elapsedTimeMillis The elapsed time of the task, in milliseconds.*/",
          "getterDocumentation" : "/**<p>The elapsed time of the task, in milliseconds.</p>\n@return The elapsed time of the task, in milliseconds.*/",
          "fluentSetterDocumentation" : "/**<p>The elapsed time of the task, in milliseconds.</p>\n@param elapsedTimeMillis The elapsed time of the task, in milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The elapsed time of the task, in milliseconds.</p>\n@param elapsedTimeMillis The elapsed time of the task, in milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "FullLoadProgressPercent" : {
          "documentation" : "<p>The percent complete for the full load migration task.</p>",
          "name" : "FullLoadProgressPercent",
          "c2jName" : "FullLoadProgressPercent",
          "c2jShape" : "Integer",
          "variable" : {
            "variableName" : "fullLoadProgressPercent",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The percent complete for the full load migration task.</p>",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "fullLoadProgressPercent",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "FullLoadProgressPercent",
            "marshallLocationName" : "FullLoadProgressPercent",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The percent complete for the full load migration task.</p>\n@param fullLoadProgressPercent The percent complete for the full load migration task.*/",
          "getterDocumentation" : "/**<p>The percent complete for the full load migration task.</p>\n@return The percent complete for the full load migration task.*/",
          "fluentSetterDocumentation" : "/**<p>The percent complete for the full load migration task.</p>\n@param fullLoadProgressPercent The percent complete for the full load migration task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The percent complete for the full load migration task.</p>\n@param fullLoadProgressPercent The percent complete for the full load migration task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        },
        "TablesErrored" : {
          "documentation" : "<p>The number of errors that have occurred during this task.</p>",
          "name" : "TablesErrored",
          "c2jName" : "TablesErrored",
          "c2jShape" : "Integer",
          "variable" : {
            "variableName" : "tablesErrored",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "<p>The number of errors that have occurred during this task.</p>",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "setterModel" : {
            "variableName" : "tablesErrored",
            "variableType" : "Integer",
            "variableDeclarationType" : "Integer",
            "documentation" : "",
            "variableSetterType" : "Integer",
            "simpleType" : "Integer"
          },
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "unmarshallLocationName" : "TablesErrored",
            "marshallLocationName" : "TablesErrored",
            "additionalUnmarshallingPath" : null,
            "additionalMarshallingPath" : null,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "flattened" : false,
            "header" : false,
            "uri" : false,
            "statusCode" : false,
            "queryString" : false
          },
          "deprecated" : false,
          "listModel" : null,
          "mapModel" : null,
          "enumType" : null,
          "xmlNameSpaceUri" : null,
          "idempotencyToken" : false,
          "setterDocumentation" : "/**<p>The number of errors that have occurred during this task.</p>\n@param tablesErrored The number of errors that have occurred during this task.*/",
          "getterDocumentation" : "/**<p>The number of errors that have occurred during this task.</p>\n@return The number of errors that have occurred during this task.*/",
          "fluentSetterDocumentation" : "/**<p>The number of errors that have occurred during this task.</p>\n@param tablesErrored The number of errors that have occurred during this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "varargSetterDocumentation" : "/**<p>The number of errors that have occurred during this task.</p>\n@param tablesErrored The number of errors that have occurred during this task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "simple" : true,
          "list" : false,
          "map" : false
        }
      }
    },
    "CreateReplicationSubnetGroupRequest" : {
      "c2jName" : "CreateReplicationSubnetGroupMessage",
      "documentation" : "<p/>",
      "shapeName" : "CreateReplicationSubnetGroupRequest",
      "deprecated" : false,
      "required" : [ "ReplicationSubnetGroupIdentifier", "ReplicationSubnetGroupDescription", "SubnetIds" ],
      "hasPayloadMember" : false,
      "hasHeaderMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "wrapper" : false,
      "members" : [ {
        "documentation" : "<p>The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be \"default\".</p> <p>Example: <code>mySubnetgroup</code> </p>",
        "name" : "ReplicationSubnetGroupIdentifier",
        "c2jName" : "ReplicationSubnetGroupIdentifier",
        "c2jShape" : "String",
        "variable" : {
          "variableName" : "replicationSubnetGroupIdentifier",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "<p>The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be \"default\".</p> <p>Example: <code>mySubnetgroup</code> </p>",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "setterModel" : {
          "variableName" : "replicationSubnetGroupIdentifier",
          "variableType" : "String",
          "variableDeclarationType" : "String",
          "documentation" : "",
          "variableSetterType" : "String",
          "simpleType" : "String"
        },
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "unmarshallLocationName" : "ReplicationSubnetGroupIdentifier",
          "marshallLocationName" : "ReplicationSubnetGroupIdentifier",
          "additionalUnmarshallingPath" : null,
          "additionalMarshallingPath" : null,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "flattened" : false,
          "header" : false,
          "uri" : false,
          "statusCode" : false,
          "queryString" : false
        },
        "deprecated" : false,
        "listModel" : null,
        "mapModel" : null,
        "enumType" : null,
        "xmlNameSpaceUri" : null,
        "idempotencyToken" : false,
        "setterDocumentation" : "/**<p>The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be \"default\".</p> <p>Example: <code>mySubnetgroup</code> </p>\n@param replicationSubnetGroupIdentifier The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be \"default\".</p> <p>Example: <code>mySubnetgroup</code>*/",
        "getterDocumentation" : "/**<p>The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be \"default\".</p> <p>Example: <code>mySubnetgroup</code> </p>\n@return The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be \"default\".</p> <p>Example: <code>mySubnetgroup</code>*/",
[...]
